[2019-05-06 04:46] xiegegege opened #2187 "图像分类GoogleNet训练报错"
1.输入命令python train.py --model=GoogleNet后运行，120个batch后loss会出现nan
<img width="652" alt="cca65feb541bad8bde2e0c8eca86d4b3" src="https://user-images.githubusercontent.com/46314656/57373852-0143d300-71cc-11e9-8ad9-462afcc179de.png">
2.在paddle develop分支下，跑训练一段时间后有报错(非必现)：
Pass 0, trainbatch 2330, loss nan,                         acc1 0.00000, acc5 0.00781, lr 0.10000, time 0.65 sec
F0505 20:34:00.98482

[2019-05-06 08:12] xiegegege opened #2188 "ocr_recognition预测问题"
1.ctc模型预测报错：
Traceback (most recent call last):
  File "infer.py", line 153, in <module>
    main()
  File "infer.py", line 149, in main
    inference(args)
  File "infer.py", line 34, in inference
    get_feeder_data = get_ctc_feeder_for_infer
NameError: name 'get_ctc_feeder_for_infer' is not defined
2.attention模型预测报错：
Traceback (most recent call last):
  File "infer.py", line 153, in <module>

[2019-05-06 10:30] #2169 closed, assigned to heavengate

[2019-05-06 12:08] cjt222 opened #2190 "在yolov3项目训练时，如果把random_shape打开，会出现layer进行concat时维度不匹配。关掉之后，可以正常训练"
在yolov3项目训练时，如果把random_shape打开，会出现layer进行concat时维度不匹配。关掉之后，可以正常训练
<img width="1106" alt="image" src="https://user-images.githubusercontent.com/17508662/57224029-a4fd7980-703a-11e9-8847-03441b204975.png">

[2019-05-06 12:08] cjt222 commented on #2190
原来的代码没有这个问题，最近更新的会有这个问题

[2019-05-06 13:10] Yingminzhou opened #2192 "PaddleNLP/lexical_analysis 部分标点符号标识错误"
在序列标注测试中, 发现对一些标点符号的标注有问题:

- 错标 & 识别不了符号: `-`/`·`/`"`等, 例如:
原句:
斯蒂芬-库里自己公布下赛季去向

标注结果:
[code]

查询了下, `vocab.txt`中不包含`-`/`·`/`"`等比较常用的字符串, 如果直接在`vocab.txt`添加映射则会造成分词结果的不一致, 例子如下:

原句:
【纽约时报】斯蒂芬-库里下赛季去哪儿

原有`vocab.txt`的标注结果:
[code]

增加`-`之后的`vocab.txt`
[code]
标注结果如下:

[code]

 想请教下怎么解决这个问题比较好?
(直接将这些字符替换成`vocab.txt`中自带的吗? 或者是增加映射的同时, 增加词向量)

多谢!

[2019-05-07 03:35] zzchust opened #2194 "shufflenetv2 pretrained model"
The released pre-trained model and accuracy is for ShuffleNetV2_x0_5 or ShuffleNetV2_x1_0 or ShuffleNetV2_x1_5 or ShuffleNetV2_x2_0 ?

and the pretrained model is configured with "model_name" or "model"  ?

[2019-05-07 06:19] shippingwang commented on #2194
@zzchust  for the regular one: 1X, and you should update the code, We don't use models_name or model to specify category anymore.

[2019-05-07 07:00] Einshein opened #2195 "windows下icnet模型无法保存"
对数据进行完预处理之后运行train.py，到了写入保存点这一步会报错显示无法创建保存点
其中checkpoint_path被设定为./chkpnt
[code]

终端显示
[code]
请问为什么会出现这种现象呢？

[2019-05-07 08:02] xiegegege commented on #2195
感觉像是windows下模型保存有问题，这有个类似的issue #2140

[2019-05-07 08:06] shippingwang opened #2196 "Todo: Image Classification"
TODO:
- [ ] Check image classification pre-trained models one more time, to make sure it's consistent with the architecture, such as:

- [x] some pre-trained models compressed on the mac, and will obtain redundancy folder: __MACOSX when decompressing on the Linux machine.
- [x] Unify filename, format: #2100
- [ ] Bug: googlenet #2187
- [x] Bug: resnet34 #2099

[2019-05-07 08:49] HongyuLi2018 commented on #2149
demo数据有只有100个，如果用4卡 batch_size=32的话 训练一步也要128个数据，所以有一个卡分配不到数据报错  减小batch_size即可运行

[2019-05-07 08:49] #2149 closed, assigned to nobody

[2019-05-07 08:54] Einshein commented on #2195
看上去是同一个问题，这个问题是不是暂时无法解决了;(

[2019-05-07 13:18] JiaXiao243 opened #2198 "windows下rnn_search infer报错"
rnn_search训练执行成功，执行python infer.py对模型进行预测，报错信息如下：
![1](https://user-images.githubusercontent.com/37854899/57302313-7ef4d980-710d-11e9-971c-e77df8992377.PNG)

[2019-05-07 13:24] JiaXiao243 opened #2199 "windows下icnet训练报错"
执行python train.py --batch_size=16 --use_gpu=True --checkpoint_path="./chkpnt/"，报错信息如下：
![2](https://user-images.githubusercontent.com/37854899/57302770-823c9500-710e-11e9-8365-eaf9937ac05e.PNG)

[2019-05-07 13:33] junjun315 commented on #2195
路径分隔符win下不一致，需要在接口里处理或者外部处理(os.path.normpath)

[2019-05-08 02:22] jacquesqiao commented on #1903
请不要使用“:”作为var name的一部分

[2019-05-08 02:22] demohold opened #2203 "图片分类使用ResNet模型训练结果进行预测，预测结果不是归一值，使用softmax激活函数也没有作用"

[2019-05-08 02:27] demohold commented on #2203
图片分类使用ResNet模型训练结果进行预测，预测结果不是归一值。
![image](https://user-images.githubusercontent.com/5515268/57344978-e0ec2800-717b-11e9-95e6-23f95949e925.png)
restnet全连接层增加激活函数也没有作用

![image](https://user-images.githubusercontent.com/5515268/57344955-c914a400-717b-11e9-9587-a9c680246b72.png)

[2019-05-08 05:32] JiaXiao243 opened #2204 "human_pose_estimation官网示例训练参数配置错误"
按照human_pose_estimation官网示例训练参数进行配置，python train.py --dataset 'mpii' --data_root 'data/mpii'，报错信息如下：
![3](https://user-images.githubusercontent.com/37854899/57351722-8cee3d00-7195-11e9-89fc-a1adc20a86ab.PNG)
train.py无 --data_root参数字段

[2019-05-08 06:20] JiaXiao243 opened #2205 "window下训练human_pose_estimation，提示不支持'mpii' ‘coco’数据集"
在window下，正确配置数据路径，分别使用指令python train.py --dataset 'coco' ， python train.py --dataset 'mpii' 进行训练，其他相关配置均正确，报错信息如下：
![4](https://user-images.githubusercontent.com/37854899/57353855-6bdd1a80-719c-11e9-972e-73e3412d1336.PNG)
![5](https://user-images.githubusercontent.com/37854899/57353858-6d0e4780-719c-11e9-8380-a4841b08bf8d.PNG)

[2019-05-08 09:17] #2194 closed, assigned to nobody

[2019-05-08 11:55] JiaXiao243 commented on #2190
最新的代码已修复该问题，paddle 使用develop代码， models也是用develop代码即可。[#2158](https://github.com/PaddlePaddle/models/issues/2158)

[2019-05-08 11:56] cjt222 commented on #2190
是什么问题呢，能否告知？

---原始邮件---
发件人: "贾晓"<notifications@github.com>
发送时间: 2019年5月8日(星期三) 晚上7:55
收件人: "PaddlePaddle/models"<models@noreply.github.com>;
抄送: "Author"<author@noreply.github.com>;"cjt222"<806512756@qq.com>;
主题: Re: [PaddlePaddle/models] 在yolov3项目训练时，如果把random_shape打开，会出现layer进行concat时维度不匹配。关掉之后，可以正常训练 (#2190)

最新的代码已修复该问题，paddle 使用develop代码， models也是用develop代码即可。#2158

—
You are receiving thi

[2019-05-08 12:08] heavengate commented on #2190
models库develop代码适配了Paddle库develop的修改，使用models develop的代码须使用Paddle deveop的编译的包或者Paddle1.5版本(目前未发布)，使用Paddle 1.4的安装包请使用models 1.4的代码

[2019-05-08 12:08] #2190 closed, assigned to nobody

[2019-05-08 13:20] JiaXiao243 commented on #2203
是不是softmax添加的位置不对呢？我添加了softmax激活函数，得到了归一化的预测结果。
<img width="646" alt="62fc4d185d2e0a8a64610bdc18b81f5c" src="https://user-images.githubusercontent.com/37854899/57377890-20476280-71d6-11e9-8d2b-168f895a196a.png">
![image](https://user-images.githubusercontent.com/37854899/57378260-ee82cb80-71d6-11e9-9a81-b7701aaf54b3.png)

[2019-05-09 02:03] #2195 closed, assigned to junjun315

[2019-05-09 05:17] JiaXiao243 commented on #2205
windows下使用 python train.py --dataset coco ， python train.py --dataset mpii ，即去掉dataset中的coco/mpii的引号，可以继续正常训练。
linux下--dataset coco，有无引号，无影响，读入字段相同。window下--dataset coco，有无引号，有影响，读入字段不同。
window下object detection的--dataset参数有同样的问题，去掉--dataset=‘pascalvoc’的双引号之后，可以继续正常训练。
![1](https://user-images.githubusercontent.com/37854899/57428669-f9337400-725b-11e9-8585-3f219b62fe71.PNG)

[2019-05-09 05:47] demohold commented on #2203
我两个地方都加了，没有起作用。不知道是什么原因。我是自定义的图集，不是官方提供的图集进行训练和预测的。

![image](https://user-images.githubusercontent.com/5515268/57430045-f8e9a780-7260-11e9-995d-b2a9644ca597.png)

[2019-05-09 06:44] #1915 closed, assigned to fc500110

[2019-05-09 07:21] JiaXiao243 opened #2208 "window下object detection训练报错"
window下执行指令python -u train.py --use_gpu True --parallel False --batch_size=8 --dataset=pascalvoc --pretrained_model='pretrained/ssd_mobilenet_v1_coco/' --epoc_num=1 --model_save_dir='output_pasc'，对models进行训练，报错信息如下：
![2](https://user-images.githubusercontent.com/37854899/57434689-1e30e280-726e-11e9-993c-ccc1f1705579.PNG)
在output_pasc\0和output_pasc\best_model有训练权重输出。

[2019-05-09 08:04] JiaXiao243 opened #2209 "object detection eval&infer报错"
对object detection训练出的模型进行eval&infer报错信息如下：
![3](https://user-images.githubusercontent.com/37854899/57436444-43275480-7272-11e9-9536-c99ab5ec00ba.PNG)
mobilenet_ssd.py文件中并没有eval和infer中需要的mobile_net函数，可能需将eval.py&infer.py中的mobile_net修改为build_mobilenet_ssd

[2019-05-09 08:12] gongweibao commented on #2205
哦。感谢。我们一般是用linux来测试的。

[2019-05-09 08:12] #2205 closed, assigned to nobody

[2019-05-09 09:26] chenloveheimei opened #2210 "压缩工具paddleSlim问题"
我刚接触这个工具,想请教下,
1.这个工具压缩的模型是基于paddle所训练的模型吗?
2.能直接对tensorflow,caffe所训练的模型进行压缩吗?
3.如果不能,是否都需要重新用paddle训练才能够压缩?
4.如果不能,是否有tensorflow转paddle的工具?
5.这个caffe转的工具没效了,https://github.com/PaddlePaddle/models/tree/develop/fluid/image_classification/caffe2fluid
谢谢.

[2019-05-09 11:03] #2198 closed, assigned to nobody

[2019-05-09 11:59] JiaXiao243 opened #2211 "window下face_detection训练报错"
windows下调用python -u train.py --epoc_num=1 --batch_size=2 --use_gpu False --parallel False --pretrained_model=vgg_ilsvrc_16_fc_reduced指令对face_detection模型进行训练，log中有多处报错信息，其中两处在windows下训练object_detection也有出现：
![4](https://user-images.githubusercontent.com/37854899/57451782-ce194680-7294-11e9-909b-8f2281f75f99.PNG)
![5](https://user-images.githubusercontent.com/37854899/57451786-cfe30a00-7294-11e9-91e

[2019-05-09 12:13] JiaXiao243 commented on #2199
在window下对face_detection进行eval和infer报有相同的错误：
![6](https://user-images.githubusercontent.com/37854899/57452659-f30eb900-7296-11e9-816a-390a4396e18c.PNG)

[2019-05-09 12:34] Einshein commented on #1561
实际运行缺少s_h和s_w似乎也能正常运行  fluid.layers.conv2d里缺少这个参数不会报错，应该是因为用了默认的缺省值1  但是在
[code]
这里会报错，因为atrous_conv()中没有引入这两个参数，可虽然报错程序仍能正常运行，请问这是为什么呢？是因为max函数在这种情况下会返回某个默认值么？

[2019-05-09 12:52] Einshein commented on #1561
您好，请问这个问题修复了么

[2019-05-09 13:37] JiaXiao243 opened #2212 "windows下deeplabV3 CPU训练报错"
在window下执行python ./train.py --batch_size=1 -- --use_gpu False --parallel True --train_crop_size=769 --total_step=50 --norm_type=gn --init_weights_path=./deeplabv3plus_gn_init --save_weights_path=model --dataset_path=./data/cityscape，使用CPU对deeplabV3进行训练，报错信息如下：
![10](https://user-images.githubusercontent.com/37854899/57457579-5eaa5380-72a2-11e9-95ac-6a94b4d00af7.PNG)
由于window下使用GPU进行训练，提示显存不足，故无法做对

[2019-05-09 15:22] liyutg commented on #2102
想问下题主这个问题解决了吗？

[2019-05-09 20:06] ghost opened #2213 "fp16 training does not work"
I want to run fp16 training on both CPU and GPU but I get the same error message.

`python train.py --model=ResNet18 --batch_size=32 --use_gpu=True --fp16=True`

[code]

My specs:
os: ubuntu16.04
pp: `Release` version built from `develop` branch, enabled GPU support
models: `develop` branch

Disabling fp16: `--fp16=False` results in correct training *both* on GPU and CPU.

Can you please help me r

[2019-05-10 01:47] sandyhouse commented on #2102
目前还是用的ParallelExecutor，会有信息提示. @liyutg

[2019-05-10 03:35] xiegegege opened #2215 "yolov3运行结束报错"
在paddle develop分支下，设置迭代次数为4000，在运行结束后有报错：
*** Aborted at 1557413520 (unix time) try "date -d @1557413520" if you are using GNU date ***
*** Aborted at 1557413520 (unix time) try "date -d @1557413520" if you are using GNU date ***
*** Aborted at 1557413520 (unix time) try "date -d @1557413520" if you are using GNU date ***
*** Aborted at 1557413520 (unix time) try "date -d @1557413520" if you are u

[2019-05-10 04:44] JiaXiao243 opened #2216 "window下rcnn训练报错"
windows下执行指令python train.py --use_gpu True --parallel False  --model_save_dir=faster_output --pretrained_model=imagenet_resnet50_fusebn --max_iter=5 --snapshot_stride=5对faster rcnn模型进行训练，报错信息如下：
![01](https://user-images.githubusercontent.com/37854899/57503092-4c232f00-7321-11e9-941b-533817bd82c2.PNG)
同时，运行mask rcnn也是上述报错信息。

[2019-05-10 09:46] #1162 closed, assigned to nobody

[2019-05-10 10:35] JiaXiao243 opened #2217 "lexical_analysis易用性"
1. windows环境下，在models/PaddleNLP/lexical_analysis目录下执行python run_sequence_labeling.py  --train_data ./data/train.tsv --test_data ./data/test.tsv --do_train True  --do_test True  --do_infer False --save_model_per_batches 10000  --batch_size 100 --epoch 10 --use_gpu 0 --traindata_shuffle_buffer 200000 --word_emb_dim 768  --grnn_hidden_dim 768 对lexical_analysis模型进行训练，报错信息如下：
![21](https://user-images.

[2019-05-13 02:29] JiaXiao243 opened #2218 "auto_dialogue_evaluation模型finetune训练报错"
在models/PaddleNLP/dialogue_model_toolkit/auto_dialogue_evaluation路径下执行
TASK=human
python -u main.py \
  --do_train True \
  --loss_type L2 \
  --use_cuda \
  --save_path model_files_tmp/${TASK}_finetuned \
  --init_model model_files/matching_pretrained \
  --train_path data/label_data/$TASK/train.ids \
  --val_path data/label_data/$TASK/val.ids \
  --print_step 1 \
  --save_step 1 \
  --num_scan_d

[2019-05-13 02:49] JiaXiao243 opened #2219 "Auto Dialogue Evaluationg文档需部分修正"
1.  官方文档未提供示例数据
<img width="924" alt="data" src="https://user-images.githubusercontent.com/37854899/57592744-e4602480-756a-11e9-9b4d-4131a0b54bbd.png">
2. 语句不通，应修改为可以显著提高该对话系统或场景的评估效果。
<img width="1054" alt="243" src="https://user-images.githubusercontent.com/37854899/57593143-bf6cb100-756c-11e9-8153-819a63f32d5f.png">
3. 官方数据目录错误，word2ids存在于data目录下，而不是其子目录unlabel_data目录。
<img width="861" alt="wor

[2019-05-13 03:16] qianledan commented on #2102
没有解决，我还是改用1.3版本，等官方更新程序后再用

[2019-05-13 06:13] JiaXiao243 opened #2220 "deep_attention_matching模型评估加载--model_path路径名称错误"
1. 在models/PaddleNLP/dialogue_model_toolkit/deep_attention_matching路径中，执行如下指令：
python -u main.py \
  --do_test True \
  --use_cuda \
  --data_path ./data/ubuntu/data_small.pkl \
  --save_path ./model_files/ubuntu/step_372 \
  --model_path ./model_files/ubuntu/step_372 \
  --vocab_size 434512 \
  --_EOS_ 28270 \
  --batch_size 100
对模型进行评估，报错信息如下：
![image](https://user-images.githubusercontent.com/3

[2019-05-13 06:47] Lizhengo opened #2221 "transformer修改超参训练后，模型infer报错"
paddle版本的transformer，如果修改了超参数（max_length改为64，d_model改为256，d_inner_hid改为512，n_head改成12），训练可以正常训练，但是预测时会出这个错误
<img width="1144" alt="c1e61a3e698da97918a8023e55850a53" src="https://user-images.githubusercontent.com/28192236/57600953-d079ea00-758d-11e9-8275-710c42a4ba67.png">

[2019-05-13 06:53] guoshengCS commented on #2221
这个是用的models里最新的代码吗，可否贴下while内beam_search部分的代码呢

[2019-05-13 07:10] shippingwang commented on #2203
@demohold 在infer.py中添加 out = fluid.layers.softmax(out)

只在infer.py中加就行了

[2019-05-13 07:19] qingqing01 commented on #2210
1: 所有模型都是基于Paddle模型。
2:  不能。
3，4，5:  是需要用paddle模型，可以使用 https://github.com/PaddlePaddle/X2Paddle 转换成Paddle模型使用。

[2019-05-13 07:23] #2209 closed, assigned to qingqing01

[2019-05-13 07:37] qingqing01 commented on #2212
@JiaXiao243 windows的GPU显存多大？

[2019-05-13 07:39] #2210 closed, assigned to qingqing01

[2019-05-13 07:57] #2140 closed, assigned to junjun315

[2019-05-13 08:06] Lizhengo commented on #2221
def beam_search():
        max_len = layers.fill_constant(
            shape=[1],
            dtype=start_tokens.dtype,
            value=max_out_len,
            force_cpu=True)
        step_idx = layers.fill_constant(
            shape=[1], dtype=start_tokens.dtype, value=0, force_cpu=True)
        cond = layers.less_than(x=step_idx, y=max_len)  # default force_cpu=True
        while_op = layers

[2019-05-13 09:21] JiaXiao243 commented on #2212
window下有1个显卡，显存8G, 内存最多再分给GPU8G, 用于GPU的使用，总共有16G可用；
![31](https://user-images.githubusercontent.com/37854899/57610477-797f0f80-75a3-11e9-9b15-19e1b80e3258.PNG)

[2019-05-13 09:53] Lizhengo commented on #2221
使用的是还未迁移前的transformer代码

[2019-05-13 10:19] guoshengCS commented on #2221
麻烦在layers.beam_search前使用layers.Print打印下pre_ids，pre_scores，topk_indices，accu_scores这些内容贴下看下

[2019-05-13 10:25] xiegegege opened #2224 "icnet模型易用性问题"
icnet模型的total_step, checkpoint_period, log_period, learning_rate等参数值写死在代码里了，建议设置成可通过命令行进行调整的参数
<img width="288" alt="8682d3a5197e599a110abba13e6dc04f" src="https://user-images.githubusercontent.com/46314656/57614621-4ab96700-75ac-11e9-8bca-a86ff6310685.png">

[2019-05-13 12:45] qianledan opened #2225 "想循环处理model的输入tensor，如何实现？"
在build program时，predict = model.net(input, class_dim=class_dim)。
然后，我想修改model.net模型，想在net模型里对input进行迭代，处理每个input的通道值（想对大小进行排序）。因为input是tensor，shape是[-1,C,H,W]，无法对第一维进行循环。而且input是tensor，是空的，无法进行值得处理。请问有什么方法吗？？？

比如：se-resnet中的SE模块计算，我想对excitation 后的每图片的各通道值（shape：[-1，C]）进行大小排序，如何实现？

[code]

[2019-05-13 12:52] qianledan commented on #2225
本人大学老师，目前写的论文内容是关于模型的改进，在修改模型时碰到代码无法实现。希望能够得到官网工程师的帮助！如果能提供当面沟通的机会，将不胜感激！

[2019-05-13 14:05] zzchust commented on #1506
Is there pre-trained shhufflenetv2x0.5 and shufflenetv0.25, since it is important for mobile application ?

[2019-05-13 14:06] Lizhengo commented on #2221
1557756324      The content of pre_ids:         Tensor[array_read_0.tmp_0]
        shape: [10,1,1,]
        dtype: l
        LoD: [[ 0,1,2,3,4,5,6,7,8,9,10, ][ 0,1,2,3,4,5,6,7,8,9,10, ]]
        data: 0,0,0,0,0,0,0,0,0,0,
1557756324      The content of pre_scores:      Tensor[array_read_1.tmp_0]
        shape: [10,1,]
        dtype: f
        LoD: [[ 0,1,2,3,4,5,6,7,8,9,10, ][ 0,1,2,3,4,5,6,7,8,9,

[2019-05-13 14:17] Lizhengo commented on #2221
跑完这个case后就报错了

[2019-05-13 15:26] guoshengCS commented on #2221
可以试下在layers.beam_search前加下
[code]

[2019-05-14 05:08] Lizhengo commented on #2221
加上accu_scores = layers.lod_reset(accu_scores, pre_ids)后已解决，感谢！

[2019-05-14 06:16] yanhn opened #2228 "paddle.fluid.core.EnforceNotMet: Invoke operator reshape2 error. 做人体关节点检测时"
使用coco数据集做validation的时候，报了shape mismatch的错误。
`python val.py --dataset coco --checkpoint checkpoints/pose-resnet50-mpii-384x384 --data_root data/coco`
使用的预训练模型就是官方下载的`pose-resnet50-mpii-384x384`，第一次用paddle，只能把全部error信息截下来，麻烦帮忙看一下。

-----------  Configuration Arguments -----------
batch_size: 128
checkpoint: checkpoints/pose-resnet50-mpii-384x384
data_root: data/coco
dataset: coco
flip_test: True
kp

[2019-05-14 07:34] #1903 closed, assigned to xuezhong

[2019-05-14 07:37] #2217 closed, assigned to nobody

[2019-05-14 08:19] shm007g opened #2231 "对比baidu/Senta"
https://github.com/baidu/Senta/issues/7
该issue显示，baidu/Senta repo给的model和百度ai开放平台的model相近。

这里的PaddleNLP/sentiment_classification 目录也表示支持了百度ai的开放平台。

我想问下，这两者是什么关系？这个更新一点？效果好一点？

[2019-05-14 08:29] luluxing3 commented on #2218
请问您对代码有做修改吗？直接拉代码运行，没有出现您截图的问题。

[2019-05-14 08:33] qianledan commented on #2225
paddle,有没有类似于pytorch的函数torch.index_select(x, 0, indices)。我想对input的(-1,128,28,28)的通道维度，进行指定索引(-1,64)选择，选取的结果out的shape变成(-1,64,28,28)

[2019-05-14 08:38] xiegegege opened #2232 "video模型文档问题"
1.文档中需要添加预训练模型部分的描述，否则无法复现实验结果
2.更改参数值后，log显示不变，例如在train_tsm.sh中更改epoch值为1后，log中显示的仍未65
<img width="536" alt="1b8275909e853d020c259ede6a7e8906" src="https://user-images.githubusercontent.com/46314656/57683613-a3e5d100-7666-11e9-992f-5abd25c40dc1.png">

[2019-05-14 08:48] luluxing3 commented on #2220
1. 本项目未开源训好的模型，使用模型评估代码时，--model_path 指定需要评估的模型路径（./model_files/ubuntu/step_372只是一个样例，可以根据需要修改），--save_path 为模型输出结果存储路径，也可以根据需要修改
2. 缺少示例图片，后续会更新。
谢谢～

[2019-05-14 08:55] JiaXiao243 commented on #2218
没有对代码做修改，报错运行指令如下：
<img width="543" alt="a54e99ddc2eae8ca9c82cf4ac3ef3ddd" src="https://user-images.githubusercontent.com/37854899/57684595-acd7a200-7668-11e9-83d9-84a772c1c164.png">
环境：ubuntu_1604_gpu_cuda9.0_cudnn7，python2.7
paddle版本：develop分支，编译安装的paddle

[2019-05-14 09:03] shippingwang commented on #2196
Summary:
- Update image classification pre-trained models.
Unified folder names
----

Format:

In every pre-trained folder, It has the whole trained parameters to support further works

1. AlexNet_pretrained
![image](https://user-images.githubusercontent.com/13645332/57684285-10ad9b00-7668-11e9-8e03-8ad949f55a8c.png)
2. GoogleNet_pretrained
![image](https://user-images.githubusercontent.com/136453

[2019-05-14 09:20] luluxing3 commented on #2218
请问你有用多卡吗？

[2019-05-14 09:26] JiaXiao243 commented on #2218
单卡、多卡报错信息相同
![image](https://user-images.githubusercontent.com/37854899/57687124-705a7500-766d-11e9-83af-9cc3bb097f86.png)

[2019-05-14 09:27] shippingwang commented on #2196
- Delete useless __MACOSX file.

[2019-05-14 09:34] #2170 closed, assigned to nobody

[2019-05-14 09:40] huxiaoman7 opened #2234 "PaddleNLP下面的transformer模型下载数据的问题"
下载数据一直遇到下面问题
[code]

[2019-05-14 09:44] sea99back opened #2236 "paddle里面models下面simnet和anyq中tools里面的simnet完全不一样，是两个东西吗？"
paddle里面models下面simnet和anyq中tools里面的simnet完全不一样，是两个项目吗？

[2019-05-14 11:41] heavengate commented on #2076
使用PaddleCloud训练未复现该问题，先关闭issue

[2019-05-14 11:41] #2076 closed, assigned to heavengate

[2019-05-14 11:43] xiegegege commented on #2228
你把数据集换成MPII就能跑了～

[2019-05-14 11:45] JiaXiao243 commented on #2216
closed [#2238](https://github.com/PaddlePaddle/models/pull/2238)

[2019-05-14 11:45] #2216 closed, assigned to nobody

[2019-05-14 12:01] lzha106 opened #2239 "cpu utilization is low in PaddleRec/ctr model"
When run ctr training model in PaddleRec/ctr on one 48 core server, it seems the  CPU utilization is very low (avg to be 200%) during training. It is same either in local mode or distributed mode.

1. Cmd (Run in docker)

` # export NUM_THREADS=20    `
`# python train.py --train_data_path ./data/train.txt `

2. Env

- hub.baidubce.com/paddlepaddle/paddle:latest

3. Log

4. Top info

[2019-05-14 12:09] shippingwang commented on #2099
@JiaXiao243 调整下batch_size吧
batch_size=64:
![image](https://user-images.githubusercontent.com/13645332/57696750-1c0ebf80-7684-11e9-9ce3-699f0b1fc5d3.png)

[2019-05-14 12:11] shippingwang commented on #2187
@xiegegege 按照run.sh的超参数 运行呢？

[2019-05-14 12:17] JiaXiao243 commented on #2100
closed [#2235](https://github.com/PaddlePaddle/models/pull/2235)

[2019-05-14 12:17] #2100 closed, assigned to shippingwang

[2019-05-14 13:17] lzha106 commented on #2239
Is it because the deepfm model in ctr is a light CPU workload task? Even though, my understanding to NUM_THREADS will create parallel threads to run the program separately, in which case CPU load will increase with NUM_THREADS. But in the sample, it does not behave like this way.

[2019-05-15 01:51] yanhn commented on #2228
谢谢，我再试一下。当时只有coco数据集，所以~

另外能在追问你一个问题吗？
我现在用coco的数据集跑起了train.py，要配置batchsize小一些，然后有一个环境变量`FLAGS_fraction_of_gpu_memory_to_use`设置小一些，用两块1080ti训练起来，但是loss始终没怎么下降。从第一个epoch开始到现在第12个epoch，一直在0.0011左右徘徊。然后我用自己训练出来的模型就可以跑coco数据集上的val.py脚本了，测出来的Acc惨不忍睹。
大概长这个样子。
![image](https://user-images.githubusercontent.com/12744658/57743238-d50de200-76f6-11e9-9db5-3567a6f193c0.png)

想请教一下是我哪里配置的问题？还是这个东西用coco数据集难以收

[2019-05-15 01:53] ellinyang opened #2241 "yolov3 评估mAP出错"
**修改了yolov3的tran.py和yolov3的代码，以便在训练中评估测试集mAP。
yolov3 修改了几处：**
**1.在bulid_input中修改测试集的数据格式**
self.test_py_reader = fluid.layers.py_reader(
                capacity=64,
                shapes=[[-1] + self.image_shape,
                        [-1, 1],
                        [-1, 2],
                        [-1, 4],
                        [-1, 1],
                        [-1, 1]],
                lo

[2019-05-15 03:19] heavengate commented on #2241
1. bulid_input中，YOLOv3代码未使用LoDTensor，lod level应该都是0
2. test过程注意使用test reader，train reader会有random shape，而test reader会将图像resize成固定的[input_size, input_size] 大小

[2019-05-15 04:57] ellinyang commented on #2241
**lod level都改成0后仍存在问题**
测试部分新建了一个program，reader也是新建的
    startup_prog = fluid.Program()
    train_prog = fluid.Program()
    test_prog = fluid.Program()
    train_py_reader, loss = build_program(
        main_prog=train_prog,
        startup_prog=startup_prog,
        is_train=True)
    test_py_reader,map_eval, _,model_test = build_program(
        main_prog=test_prog,
        startup_prog=startup

[2019-05-15 05:07] xiegegege commented on #2228
你的paddle版本是什么呢？要不用paddle1.4或者develop跑下～我之前1.4上跑过coco数据集的可以收敛的～

[2019-05-15 05:13] heavengate commented on #2241
不是指test_pyreader，是指test_pyreader decorate的那个test_reader

[2019-05-15 05:58] mzchtx opened #2244 "Cannot find variable label_smooth_0.tmp_0@GRAD"
I want to quantize a MobileNetV2 model with paddle-slim,  the [demo](https://github.com/PaddlePaddle/models/blob/develop/PaddleSlim/compress.py) works fine. However, I get an error when adding a label_smooth layer before cross_entropy layer,  the error information shows as the following picture.

![image](https://user-images.githubusercontent.com/37564754/57751221-976d8100-7717-11e9-8ef7-ac1413de8

[2019-05-15 06:29] shippingwang commented on #2187
same as #2150

[2019-05-15 06:47] ellinyang commented on #2241
设置了不同，但还是会出现一样的错误。
    train_reader = reader.train(input_size,
                                batch_size=cfg.batch_size,
                                shuffle=True,
                                total_epoch=total_epoch,
                                mixup_epoch=mixup_epoch,
                                random_sizes=random_sizes,
                                use_multiprocessing=cfg.use

[2019-05-15 06:48] phlrain commented on #2244
这个是因为one_hot op 没有反向kernel

[2019-05-15 07:07] #2220 closed, assigned to luluxing3

[2019-05-15 07:11] mzchtx commented on #2244
http://www.paddlepaddle.org/documentation/docs/zh/1.4/api_cn/layers_cn.html#label-smooth

[2019-05-15 07:19] yanhn commented on #2228
之前用的是paddle v1.3.0，升级到1.4.1然后真的就可以了，神奇。我用coco训了一个epoch，就做了个validation，结果如下：
![image](https://user-images.githubusercontent.com/12744658/57755969-cb9b6e80-7724-11e9-986d-18ad8762aaf4.png)

[2019-05-15 07:25] xiegegege commented on #2228
嗯嗯，应该是可以了～

[2019-05-15 09:03] mzchtx commented on #2244
试了添加 `stop_gradient`，依然不 work
[code]

[2019-05-15 09:11] xingzhoupy opened #2247 "中文机器阅读理解 错误，更改为一条数据预测 ValueError: feed_parallel takes multiple mini-batches. Each mini-batch will be feed on each device. The number of devices and number of mini-batches must be same."
尝试过更改设备数 dev_count 还是报错设备数据和预测数据需一致的错误，所以 我现在想只预测一条数据，求解，谢谢

[2019-05-15 09:12] xingzhoupy commented on #2247
Traceback (most recent call last):
  File "/root/.pycharm_helpers/pydev/pydevd.py", line 1664, in <module>
    main()
  File "/root/.pycharm_helpers/pydev/pydevd.py", line 1658, in main
    globals = debugger.run(setup['file'], None, None, is_module)
  File "/root/.pycharm_helpers/pydev/pydevd.py", line 1068, in run
    pydev_imports.execfile(file, globals, locals)  # execute the script
  File "/h

[2019-05-15 09:19] fw339wj opened #2248 "阅读理解-采用预训练模型出错"
最近在采用这个模型学习，谢谢贡献者，我遇到一个问题就是明明GPU有很多的内存，就是总是malloc失败，无法进行下一步训练。这个是我在设置不同的参数的错误。
 采用了Tesla P100显卡，目前显存使用为2443MiB/16276MiB。
     FLAGS_fraction_of_fpu_memory_to_use 每个值都试过了，都有错误，我用的是同步的数据输入。

[2019-05-15 09:41] #2219 closed, assigned to nobody

[2019-05-15 10:58] JiaXiao243 opened #2250 "deeplabv3+使用develop源码编译的paddle训练报错"
paddle：使用develop源码编译安装paddle;
执行指令python ./train.py --batch_size=1 --train_crop_size=769 --total_step=50 --norm_type=gn --init_weights_path=./deeplabv3plus_gn_init --save_weights_path=model --dataset_path=./data/cityscape进行训练，报错信息如下：
![image](https://user-images.githubusercontent.com/37854899/57770306-93a32400-7742-11e9-843a-9270717aac21.png)
使用paddle1.4.1 deeplabv3+模型是可以训练的，安装最新的evelop源码编译安装paddl

[2019-05-15 12:00] kagome112 opened #2251 "windows"

[2019-05-15 12:00] #2251 closed, assigned to nobody

[2019-05-15 14:18] smallsung1999 opened #2253 "object_detection infer的问题"
我是用ssd_mobilenet_v1_coco预训练模型对自定义pascalvoc数据集进行训练，数据集中有两个标签dog和dog_leash,使用训练好的模型best_model对图像进行预测及可视化显示，但预测后的图像只标出了dog_leash。infer.py中confs_threshold调到0还是预测不到dog

[2019-05-16 03:09] #2218 closed, assigned to nobody

[2019-05-16 07:53] xiegegege opened #2258 "阅读理解执行段落抽取报错"
python3.6下阅读理解执行段落抽取时报错，报错如下：
Start paragraph extraction, this may take a few hours
Source dir: ../data/preprocessed
Target dir: ../data/extracted
Processing trainset
Traceback (most recent call last):
  File "paragraph_extraction.py", line 198, in <module>
    print(json.dumps(sample, encoding='utf8', ensure_ascii=False))
  File "/opt/_internal/cpython-3.6.0/lib/python3.6/json/__init__.py", line

[2019-05-16 09:10] #2204 closed, assigned to kuke, qingqing01

[2019-05-16 09:23] #2228 closed, assigned to nobody

[2019-05-16 09:39] #2184 closed, assigned to baiyfbupt

[2019-05-16 10:31] smallsung1999 commented on #2253
Solved:label_list文件缺少background标签

[2019-05-16 10:31] #2253 closed, assigned to nobody

[2019-05-16 11:30] xyzhou-puck commented on #2258
Hi，

在使用python3的时候，可以将 paragraph_extraction.py 中的最后一行替换为：
print(json.dumps(sample, ensure_ascii=False).encode('utf8'))

[2019-05-16 15:20] xyzhou-puck commented on #2248
你好，能否详细说明一下使用命令，运行环境和错误信息？我需要先复现一下你的运行环境。

[2019-05-16 15:33] HongyuLi2018 commented on #2258
当前的阅读理解系统不支持python3环境，请在python2.7环境下进行测试

[2019-05-16 15:33] #2258 closed, assigned to nobody

[2019-05-17 01:52] #2250 closed, assigned to baiyfbupt

[2019-05-17 12:27] seiriosPlus commented on #2239
you are using async or sync training?

[2019-05-18 03:05] skysunsun opened #2269 "windows version"
Can you provide a windows version? Thank you very much!

[2019-05-18 11:41] guru4elephant commented on #2239
@lzha106 You can try our KDD Cup baseline which can make high CPU utilization with async mode training.

https://github.com/yaoxuefeng6/Paddle_baseline_KDD2019

[2019-05-19 03:24] lzha106 commented on #2239
@seiriosPlus ,  没有改动过代码，sample 里单机训练 data 读入使用的是 py_reader，异步数据读入方式；分布式默认用的同步训练。目前主要是单机上 CPU 利用率就很低，分布式无论同步异步都没有解决单机上训练的速度问题。

抓了单机上的 timeline，发现有三个现象：
1. 看起来每两个 batch 训练之间都有比较长的停顿，mem 也有一个波谷的时间段；
2.  Adam op 梯度计算和应用看起来是在单 thread 上完成，没有并发；
3.  某一个 batch 里 read op 会有一个比较长的时间；

![ctr_timeline](https://user-images.githubusercontent.com/19678986/57977312-7f07aa00-7a28-11e9-975d-cb7e9d2f19c8.PNG)

[2019-05-20 04:54] seiriosPlus commented on #2239
@lzha106 可以参考@guru4elephant 的方案，用纯异步的方式进行训练，可以最大程度的发挥CPU能力。

[2019-05-20 05:05] qingqing01 commented on #2225
1. 关于排序：

可以采用: `fluid.layres.argsort`接口：  http://paddlepaddle.org/documentation/docs/zh/1.4/api_cn/layers_cn.html#argsort

2.  关于索索:

Paddle没有一一对应的`index_select`接口，有提供:
- gather: http://paddlepaddle.org/documentation/docs/zh/1.4/api_cn/layers_cn.html#gather
- slice: 如果是连续的切片，可以使用slice:  http://paddlepaddle.org/documentation/docs/zh/1.4/api_cn/layers_cn.html#slice

[2019-05-20 06:11] tensor-tang commented on #2269
You could find it [here]( http://www.paddlepaddle.org/documentation/docs/en/1.4/beginners_guide/install/index_en.html)

![image](https://user-images.githubusercontent.com/21351065/57999753-19d7b580-7b09-11e9-9310-2109b9ce6b9a.png)

[2019-05-20 07:41] xiegegege opened #2271 "auto_dialogue_evaluation训练报错"
在python3.6下，auto_dialogue_evaluation训练报错，报错如下：
<img width="889" alt="8790bb1e8b9b46ca92730ab6d7c5faa1" src="https://user-images.githubusercontent.com/46314656/58004219-4eea0500-7b15-11e9-8e89-2c5da525e5f0.png">

[2019-05-20 08:32] skysunsun commented on #2269
oh thank you very much!

[2019-05-20 09:01] tensor-tang commented on #2269
Welcome, any problem please let us know.

[2019-05-20 09:01] #2269 closed, assigned to nobody

[2019-05-20 09:40] tsaizehua opened #2275 "paddle::operators::BeamSearchOp::GetExpectedKernelType()"
transformer example在infer.py时出现如下错误，请问是什么原因：

[code]

[2019-05-20 10:00] guoshengCS commented on #2275
请问是models中最新的代码吗，可以试下在layers.beam_search前加下 `accu_scores = layers.lod_reset(accu_scores, pre_ids)`

[2019-05-20 10:14] tsaizehua commented on #2275
可以了，谢谢！

[2019-05-20 11:40] gentelyang opened #2277 "benchmark分支下yolo v3 参数拼写错误"
https://github.com/PaddlePaddle/models/blob/benchmark/PaddleCV/yolov3/train.py#L103

use_gpu 拼写错误

[2019-05-20 11:50] chengduoZH commented on #2277
已修复

[2019-05-20 11:50] #2277 closed, assigned to nobody

[2019-05-20 13:00] qianledan opened #2278 "DyGraph实现ResNet模型，Imagenet数据库Py_reader读取出错！"
多谢百度paddle的各位兄弟帮忙！
![CETH{}`_{7)RB$}DTR$VO8B](https://user-images.githubusercontent.com/45925696/58023389-3e9c4f00-7b42-11e9-8184-27323758e2b8.png)

[train_resnet_DyGraph.zip](https://github.com/PaddlePaddle/models/files/3198008/train_resnet_DyGraph.zip)

[2019-05-20 14:33] JiabinYang commented on #2278
在动态图下，目前还不支持py_reader进行数据读取，但是我们马上会支持！

[2019-05-21 01:29] Maxhyl opened #2279 "lodtensor_to_ndarray这个函数找不到"
你好，请问data_utils文件夹下的util.py文件的lodtensor_to_ndarray函数为什么是没有的

[2019-05-21 01:32] qianledan commented on #2278
好的，多谢，坐等！

[2019-05-21 01:35] qianledan commented on #2278
另外，动图下，能支持多块显卡一同参与计算吗？我看了一下GPU，发现一块显卡满负载100%运行，一块只有100M，0%运行

[2019-05-21 08:05] #2275 closed, assigned to guoshengCS

[2019-05-21 08:55] littletomatodonkey opened #2282 "deeplab v3+训练报错"
使用models-1.4的deeplabv3+的代码在本地训练，用的是paddle1.4.1，出现以下错误,
[code]

训练的脚本就是官网给出的脚本，想问一下这是什么问题呢？

[2019-05-21 09:07] qingqing01 commented on #2282
请先排查，数据的路径、处理是否正确。

[2019-05-21 09:21] demohold opened #2283 "AutoDL HiNAS_models 要如何处理自定义图片分类数据进行训练预测"

[2019-05-21 09:33] wzzju commented on #2279
请问哪个文件里使用里lodtensor_to_ndarray这个函数，并且指明该函数是在data_utils文件夹下的util.py文件中的？

[2019-05-21 09:36] Maxhyl commented on #2279
PaddleSpeech/DeepASR文件夹下的infer_by_ckpt.py文件

[2019-05-21 09:38] wzzju commented on #2279
好的，我找一下相关开发人员。

[2019-05-21 09:46] Maxhyl commented on #2279
谢谢

[2019-05-21 12:09] littletomatodonkey commented on #2282
好的，我的cityscape数据格式和paddle训练的数据格式好像不一致，我检查一下

[2019-05-22 02:15] jerrywgz commented on #2283
HiNAS模型中只提供了cifar-10数据集的参考实现，训练预测的相关预处理可以参考这里https://github.com/PaddlePaddle/models/blob/develop/AutoDL/HiNAS_models/reader.py#L55

[2019-05-22 03:49] ghost opened #2286 "Cannot Download baidu_en8k_model.tar.gz"
When running download_model.sh, I get this problem:

[code]

I tried adding cloud.dlnel /etc/hosts, still doesn't work. I tried pasting the link into a browser, and got 502 Bad Gateway NGINX. Please help, thank you.

[2019-05-22 04:06] #2286 closed, assigned to nobody

[2019-05-22 07:53] DDDivano opened #2289 "动态图Mnist 代码问题"
这个mnist模型卷积层激活函数是不是没有传过来？
![image](https://user-images.githubusercontent.com/10734244/58156749-6659f700-7ca9-11e9-85ba-52dba110a078.png)

[2019-05-22 08:43] L-lei commented on #2188
能问下，你的ctc模型能训练吗，或者在哪里修改了，我用attention训练后预测也是出现的一模一样的错误，paddle我用的1.4.1，python3.7

[2019-05-22 08:44] wanghaoshuang commented on #2188
@L-lei https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ocr_recognition/infer.py#L3
这一行需要加上get_ctc_feeder_for_infer

[2019-05-22 08:45] wanghaoshuang commented on #2188
第2个错是因为beam size == 2的情况，网络配置有问题。建议先设置beam size为1.

[2019-05-22 09:18] L-lei commented on #2188
非常感谢，attention错误成功解决了，

[2019-05-22 09:19] L-lei commented on #2188
用ctc网络训练出现下面的错误，请问您有遇到吗
Python Callstacks:
  File "D:\develop\Python\Python37\lib\site-packages\paddle\fluid\framework.py", line 1654, in append_op
    attrs=kwargs.get("attrs", None))
  File "D:\develop\Python\Python37\lib\site-packages\paddle\fluid\layer_helper.py", line 43, in append_op
    return self.main_program.current_block().append_op(*args, **kwargs)
  File "D:\develop\Python\Python37\li

[2019-05-22 10:19] qianledan commented on #2289
调用这个函数的时候再传进来的啊
self._simple_img_conv_pool_1 = SimpleImgConvPool(self.full_name(), 1, 20, 5, 2, 2, act="relu")

[2019-05-22 10:26] qianledan opened #2291 "动态图resnet（模型结构有修改）训练时内存溢出，是否模型结构有问题，帮忙看一下代码？"
![QQ图片20190522181515](https://user-images.githubusercontent.com/45925696/58167442-8ba53000-7cbe-11e9-8d3f-b4e3531ad1f7.png)
![QQ图片20190522181443](https://user-images.githubusercontent.com/45925696/58167447-8ea02080-7cbe-11e9-9cae-ca4d0d147d3c.png)
用官网给的动态图resnet模型，batch_size设置16，能够正常跑。
本人对该模型结构进行了部分的修改，训练时出现GPU内存溢出
[Desktop.zip](https://github.com/PaddlePaddle/models/files/3206941/Desktop.zip)

[2019-05-22 11:28] DDDivano commented on #2289
传进来没用上。 看https://github.com/PaddlePaddle/models/blob/develop/dygraph/mnist/mnist_dygraph.py

[2019-05-22 11:30] DDDivano commented on #2278
目前动态图还不支持多卡运行，会马上跟进支持

[2019-05-22 11:58] xyzhou-puck commented on #2247
您好，我测试1条数据是可以的，能否提供一下您的数据，使用的paddle版本？

[2019-05-22 12:03] Sparrow0817 opened #2292 "Insufficient GPU memory to allocation."
-----------  Configuration Arguments -----------
batch_size: 8
class_num: 80
data_dir: dataset/coco
dataset: coco2017
debug: False
draw_thresh: 0.5
image_name: 000000000139.jpg
image_path: ./dataset/coco/val2017
input_size: 608
label_smooth: True
learning_rate: 0.001
max_iter: 500200
model_save_dir: checkpoints
nms_posk: 100
nms_thresh: 0.45
nms_topk: 400
no_mixup_iter: 40000
pretrain: weights/dar

[2019-05-22 12:04] Sparrow0817 commented on #2292
这是我自己的电脑，参数大概怎么改

[2019-05-22 12:13] ellinyang opened #2293 "YOLOv3 训练慢，内存占用高"
版本、环境信息
     1）docker镜像 paddlepaddle/paddle:1.4.0-gpu-cuda9.0-cudnn7
     2）GPU Tesla V100 (16G显存)
训练信息
    1）单机单卡训练
    2）batchsize=1
    3）图像大小800*800
背景
    修改了yolov3的数据读入接口和评估代码，并在训练中加入测试程序。
**问题**
    如果不设置FLAGS_fraction_of_gpu_memory_to_use ，batch_size=1的模型会占15G显存；设置了FLAGS_fraction_of_gpu_memory_to_use=0 ，模型会动态占用1G～7G的显存。当BatchSize>2时，报错如下：

[code]

[2019-05-22 13:02] heavengate commented on #2293
您好，yolov3模型本身显存占用比较大，根据我们测试数据，input size=608时，能在P40（22G)上跑起batch size=8，显存占用约19G左右，该结果是略优于其他框架的显存占用，你这边V100（16G）上只能跑起来batchsize=2，主要原因是输入图像是800*800，显存占用是608的1.73倍，单张图像峰值显存约7G，其中包含部分是框架和parameter的显存占用，估算下来和我们测试的数据基本一致。
如果你需要跑更大的batch size可以通过如下方式：
1.  减小input_size
2. 打开gc flag：
export FLAGS_fast_eager_deletion_mode=1
export FLAGS_eager_delete_tensor_gb=0.0

[2019-05-22 13:53] heavengate commented on #2292
看nvidia-smi的信息是由其他任务占了差不多10%的显存，而paddle的FLAGS_fraction_of_gpu_memory_to_use 默认是0.92，会先占用0.92的显存，可以尝试export FLAGS_fraction_of_gpu_memory_to_use=0.8 调小一下再跑infer

[2019-05-23 03:05] Sparrow0817 commented on #2292
python3 infer.py    --dataset=coco2017     --weights=${weights/darknet53}      --image_path=./dataset/coco/val2017/      --image_name=000000000139.jpg
-----------  Configuration Arguments -----------
batch_size: 8
class_num: 80
data_dir: dataset/coco
dataset: coco2017
debug: False
draw_thresh: 0.5
image_name: 000000000139.jpg
image_path: ./dataset/coco/val2017/
input_size: 608
label_smooth: True
l

[2019-05-23 03:14] heavengate commented on #2292
[code]
你的权重没有正确加载进来，--weights=${weights/darknet53} 修改为--weights=你的权重所在的路径

[2019-05-23 03:35] Sparrow0817 commented on #2292
/models/PaddleCV/yolov3/weights/darknet53$ ls
stage.0.0.0.bn.mean              stage.2.4.1.bn.scale             stage.3.4.1.conv.weights
stage.0.0.0.bn.offset            stage.2.4.1.bn.var               stage.3.5.0.bn.mean
stage.0.0.0.bn.scale             stage.2.4.1.conv.weights         stage.3.5.0.bn.offset
stage.0.0.0.bn.var               stage.2.5.0.bn.mean              stage.3.5.0.bn.scale
st

[2019-05-23 03:37] heavengate commented on #2292
darknet53是主干网络预训练权重，要跑infer的话加载全量权重，weights/download.sh 里面有下载的那个yolov3.tar.gz

[2019-05-23 03:41] Sparrow0817 commented on #2292
thank you , I change to --weights=weights/yolov3 ,I got this:
`-----------  Configuration Arguments -----------
batch_size: 8
class_num: 80
data_dir: dataset/coco
dataset: coco2017
debug: False
draw_thresh: 0.5
image_name: 000000000139.jpg
image_path: dataset/coco/val2017/
input_size: 608
label_smooth: True
learning_rate: 0.001
max_iter: 500200
model_save_dir: checkpoints
nms_posk: 100
nms_thresh:

[2019-05-23 03:57] ybbz opened #2297 "similarity_net在fluid1.4版本下的并行训练问题"
现在直接用官方提供的similarity_net，提示

W0523 11:22:05.580132 14117 graph.h:204] WARN: After a series of passes, the current graph can be quite different from OriginProgram. So, please avoid using the `OriginProgram()` method!

应该没有使用多个cpu并行训练，系统只有一个cpu在使用。

看了另外一个issue：https://github.com/PaddlePaddle/models/issues/2102
也遇到过类似报错，说是需要用统一的Executor接口。

官方提供的similarity_net代码是不是需要更新下了？

[2019-05-23 04:02] heavengate commented on #2292
python3兼容性问题，感谢指出，可参照 https://github.com/PaddlePaddle/models/pull/2298  本地修改下~

[2019-05-23 04:04] #2292 closed, assigned to heavengate

[2019-05-23 04:05] heavengate commented on #2292
python3 兼容性问题已合入develop, 麻烦重新pull一下develop测试下，如果还有问题，请reopen一下这个issue

[2019-05-23 04:19] Sparrow0817 commented on #2292
thank you! It works!

[2019-05-23 04:33] phlrain commented on #2289
非常感谢关注，我们会马上修复这个问题

[2019-05-23 04:41] phlrain commented on #2291
能帮忙贴下修改的内容，有可能就是显存超了，我们一直在优化显存占用

[2019-05-23 07:04] qianledan commented on #2291
-------------------------------------------------------------------------------------------------------------------
resnet_DyGraph_SD.py   关键修改的地方：自己封装了个sequence_dropout（）的函数，然后调用在BottleneckBlock（）中

class sequence_dropout(fluid.dygraph.Layer):
    def __init__(self,
                 name_scope,
                 num_channels):
        super(sequence_dropout, self).__init__(name_scope)

        sel

[2019-05-23 07:15] lijiancheng0614 opened #2301 "检测模型如何使用 op 实现 multi crop 预测"
当输入图片很大时，想把图片切成若干几张小图，合成一个 batch 输入 SSD 等检测模型中。
想了解如何把这个 batch 的输出使用 op 进行后处理：

1. 对这个 batch 中的每个检测框进行坐标偏差加减
2. 合并这个 batch 中的所有检测框进行 nms

谢谢！

[2019-05-23 11:13] JiaXiao243 opened #2304 "MAC下gnn下载模型数据失败"
按照官方文档下载模型数据，执行指令cd data && sh download.sh，报错信息如下：
![image](https://user-images.githubusercontent.com/37854899/58248462-c8d8f300-7d8e-11e9-928d-cfc22c088cb8.png)

[2019-05-23 12:49] littletomatodonkey commented on #2282
您好，现在可以正常训练了，但是我现在训练的时候，batch size越大， gpu利用率反而越低（单卡单图利用率26%，单卡二图利用率18%），不知道是否是图像预处理太耗时的原因，想问一下是否方便告知paddle训练的具体日志信息呢？

[2019-05-23 12:57] #2282 closed, assigned to qingqing01

[2019-05-23 17:09] shippingwang opened #2305 "Todo: Image Classification"
- [ ] refine image classification codes and docs in another repo: paddle/book
- [ ] https://github.com/PaddlePaddle/Paddle/issues/17149#issue-438126920
- [ ] update cv2 acc and cv2 reader

---

[2019-05-24 02:23] wangduan023 opened #2306 "gnn 训练报错"
macos 执行 CPU_NUM=1 python -u train.py --use_cuda 0 > log.txt 2>&1
日志

2019-05-24 10:01:06,870 - INFO - load data complete
Traceback (most recent call last):
  File "train.py", line 172, in <module>
    train()
  File "train.py", line 104, in train
    feeder = fluid.DataFeeder(feed_list=feed_list, place=place)
  File "/Users/iMac/anaconda3/lib/python3.7/site-packages/paddle/fluid/data_feeder.py",

[2019-05-24 02:59] jerrywgz commented on #2301
加减可以先给定每个batch的偏移量，然后通过[sequence expand](http://www.paddlepaddle.org/documentation/docs/zh/1.4/api_cn/layers_cn.html)将偏移量和输出的检测框保持相同纬度，就可以做加减运算；在合并的时候，如果多batch的话产生的检测框是个lod，需要去掉lod信息，这个可以通过[assign](http://www.paddlepaddle.org/documentation/docs/zh/1.4/api_cn/layers_cn.html#assign) op实现；然后做nms我们有[multiclass nms](http://www.paddlepaddle.org/documentation/docs/zh/1.4/api_cn/layers_cn.html#multiclass-

[2019-05-24 03:09] frankwhzhang commented on #2297
这个只是warning 还是可以用的

[2019-05-24 03:15] lijiancheng0614 commented on #2301
了解了，想请问一下用 `py_func` 实现的话，最后可以直接保存成模型用 C++ 预测库吗？还是说 `py_func` 部分需要用 C++ 实现？

[2019-05-24 03:19] ybbz commented on #2297
并行还能用吗？ @frankwhzhang

[2019-05-24 03:26] wangguibao commented on #2306
请问您具体用的哪个模型，可以发下链接不？

[2019-05-24 03:48] wangduan023 commented on #2306
PaddleRec/gnn

[2019-05-24 03:49] wangduan023 commented on #2306
PaddleRec/gnn

[2019-05-24 03:50] wangduan023 commented on #2306
@wangguibao 模型  PaddleRec/gnn

[2019-05-24 06:14] Sparrow0817 opened #2307 "基于YOLOv3的实时目标检测"
有人在paddle上做过这个项目吗

<sub>Sent from <a href="https://itunes.apple.com/cn/app/id1314212521">PPHub For GitHub</a></sub>

[2019-05-24 06:31] wangguibao commented on #2307
这有一个发布的模型：
https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/yolov3

[2019-05-24 06:31] #2307 closed, assigned to nobody

[2019-05-24 07:00] frankwhzhang commented on #2297
可以用的

[2019-05-24 07:55] phlrain commented on #2291
能够方便提供下完整的代码。。我们分析下，目前看log 无法定位到问题

[2019-05-24 09:15] hutuxian commented on #2306
Thanks for your attention.
Please upgrade your paddle version and retry, this error may only occur in the low version.

[2019-05-24 09:16] JiaXiao243 commented on #2306
使用paddle==1.4.1 训练gnn模型可以跑起来
![image](https://user-images.githubusercontent.com/37854899/58316791-f97c6380-7e46-11e9-9696-a20f7e293a51.png)
paddle==1.2.0有这个问题
![image](https://user-images.githubusercontent.com/37854899/58316892-36e0f100-7e47-11e9-8e85-712a3c39672b.png)

[2019-05-24 10:36] wangduan023 commented on #2306
@JiaXiao243 申请了版本后已经没有问题了

[2019-05-24 10:37] wangduan023 commented on #2306
@JiaXiao243 升级了版本后已经没有问题了

[2019-05-24 12:04] #2215 closed, assigned to heavengate

[2019-05-25 01:23] qianledan commented on #2291
完整代码在附件里啊，提问题的时候就已经上传到附件了。

[2019-05-25 07:17] Sparrow0817 commented on #2307
额，不好意思没表达清楚，我想问的是有没有视频识别的实现。

[2019-05-27 02:30] dashulu opened #2313 "paddle language_model gru模型用int16训练出现了NaN"
paddle model zoo中language_model/gru模型训练时，用float进行训练ppl收敛到125左右，但是gemm的精度改为int16进行训练时，到第六轮就出现了NaN，请问这个应该怎么去调整？

[2019-05-27 03:01] phlrain commented on #2291
目前显存占用确实有一些多，我们在修复中

[2019-05-27 03:51] Maxhyl commented on #2279
@wzzju 请问现在能解决吗

[2019-05-27 06:40] #2232 closed, assigned to nobody

[2019-05-27 09:27] xiaolv3366 opened #2317 "ctr模型没有预测代码"
ctr模型没有预测infer代码，而且训练时也没有测试损失？

[2019-05-27 12:01] qianledan commented on #2291
好的，幸苦你们了。非常着急的等你们帮忙解决。

[2019-05-27 12:50] qianledan opened #2319 "可否新增Tensor的操作，如topk()升序取前几项，tensor根据维度和索引赋值等？"
对比了paddle和pytorch关于tensor的相关操作，本人需要用到“tensor的升序取最小的前面几项”处理，和根据索引赋值操作，但是paddle里没有相关的函数，pytorch里有，如：topk(k, dim=None, largest=True, sorted=True)，正反排序都可以。index_fill(dim, index, value)依据维度和索引赋值，index_select(dim, index)根据维度和索引选择。

pytorch里关于tensor的操作函数非常全面，而paddle里却不多，只有少数。希望工程师可以参照pytorch里的函数进行新增。

[2019-05-27 15:58] shippingwang commented on #2317
Here~ https://github.com/PaddlePaddle/models/tree/develop/PaddleRec/ctr

[2019-05-27 16:01] shippingwang commented on #2319
我们已经阅读到您的建议，感谢您对paddlepaddle的支持。

[2019-05-28 06:26] gavin1332 commented on #2213
switch on
WITH_DISTRIBUTED=ON

[2019-05-28 10:43] zhengya01 opened #2323 "dialogue_general_understanding运行出错memory_optimize is deprecated. Use CompiledProgram and Executor"
paddle1.4版本中运行dstc2、mrda报错
memory_optimize is deprecated. Use CompiledProgram and Executor
ParallelExecutor is deprecated. Please use CompiledProgram and Executor. CompiledProgram is a central place for optimization and Executor is the unified executor. Example can be found in compiler.py.

[2019-05-28 10:53] heavengate commented on #2323
Paddle fluid 1.4版本中弃用了ParallelExecutor等接口，改用CompiledProgram，所以会报这个warning，不影响模型正确运行，models里的模型从ParallelExecutor迁移到CompiledProgram工作正在进行中。
您可使用当前代码训练，对训练精度，模型正确性等没有影响

[2019-05-28 12:25] #2323 closed, assigned to heavengate

[2019-05-29 02:44] #2188 closed, assigned to wanghaoshuang

[2019-05-29 02:46] wanghaoshuang commented on #2188
Python Callstacks:
File "D:\develop\Python\Python37\lib\site-packages\paddle\fluid\framework.py", line 1654, in append_op
attrs=kwargs.get("attrs", None))
File "D:\develop\Python\Python37\lib\site-packages\paddle\fluid\layer_helper.py", line 43, in append_op
return self.main_program.current_block().append_op(*args, **kwargs)
File "D:\develop\Python\Python37\lib\site-packages\paddle\fluid\layers\nn

[2019-05-29 02:51] wanghaoshuang commented on #2244
在PaddleSlim中会对用户传进来的Program进行clone，在clone过程中，variable的stop_gradient属性被丢掉了，所以在添加反向的时候对label_one_hot分支也添加了反向计算逻辑。

解决办法：

为Program添加反向之后，再将Program转给Compressor,

[code]

![image](https://user-images.githubusercontent.com/7534971/58525969-2a221b80-8200-11e9-8b43-9b2d4703f24b.png)

注意，要将opt置None, 告诉Compressor已为Program添加反向了。具体可以参考这里对optimizer使用的详细解释：https://github.com/PaddlePaddle/models/blob/develop/Pa

[2019-05-29 02:56] wanghaoshuang commented on #2244
已线下沟通，并安上述方法解决了问题。

[2019-05-29 02:56] #2244 closed, assigned to wanghaoshuang

[2019-05-29 02:59] L-lei commented on #2188
我感觉很疑惑，一般来说，错误类型是这样的，向Tensor holds the wrong type, it holds int at，但是这里是‘3’，完全不能理解，输入数据reader中是正常的，所以就是crnn_ctc_model网络哪里出的问题

[2019-05-29 03:58] Maxhyl commented on #2275
请问这个是deepasr里面的吗

[2019-05-29 05:06] miraclebiu opened #2327 "PIL读取后图片尺寸为是whc，cv2读取后图片尺寸为hwc，在image_classification的reader中是否存在错误？"
在models/PaddleCV/image_classification/reader.py中使用PIL读取图片，在117行random_crop函数中：
img = np.array(img).astype('float32').transpose((2, 0, 1)) / 255
    img -= img_mean
    img /= img_std
使用该方法，transpose后应为cwh,会导致图片相较于chw传统的思路翻转了90度，虽然train，test均做了处理，最终导致模型训练没有影响，
而在reader_cv2中的对应位置处理方式相同，是否存在问题？
`def random_crop(img, size, scale=[0.08, 1.0], ratio=[3. / 4., 4. / 3.]):
    aspect_ratio = math.sqrt(np.r

[2019-05-29 05:27] wanghaoshuang commented on #2188
你确认下你的label的类型？是int64，还是 int32?

[2019-05-29 09:31] hlguo opened #2331 "硬币识别问题"
请问硬币识别用什么网络模型好？

[2019-05-29 12:50] littletomatodonkey opened #2332 "icnet模型训练细节"
能否提供icnet的训练细节呢？比如说学习率策略，初始学习率，迭代轮数，weight decay等参数，谢谢

[2019-05-30 02:28] Maxhyl opened #2334 "DeepASR的decoder怎么才算安装成功呢,已经成了so文件，但是调用会报错"
这个是安装后打印的结果
![image](https://user-images.githubusercontent.com/49184062/58604038-8dc24c80-82c5-11e9-8e58-344379077ab0.png)

[2019-05-30 03:41] dubhex opened #2337 "int8 量化训练float 和 int8文件夹下同一层对应fake_quantize_range_abs_max不一致"
1.4.1 版本 int8 量化训练后保存的float 和 int8文件夹下同一层对应fake_quantize_range_abs_max不一致, 请问如何解决？

[2019-05-30 07:30] JiaXiao243 opened #2338 "yolov3 8卡训练报错"
paddle：最新的develop分支代码编译安装；
models： 最新的develop代码；
单卡训练没有问题，多卡训练报错。
export CUDA_VISIBLE_DEVICES=0,1,2,3,4,5,6,7
执行 python train.py 报错信息如下：
![image](https://user-images.githubusercontent.com/37854899/58616194-a0517b80-82ef-11e9-9ce0-b6ddf3b37472.png)
python train.py --syncbn=False 可以跑通

[2019-05-30 10:37] DDDivano opened #2339 "动态图文档说明优化"
mnist需要加上多卡文档说明。
ptb需要加说明文档，目前没有。 ptb文件夹名写成pbt了需要改一下~

[2019-05-30 13:06] junjun315 commented on #2334
请问有完整的报错么？

[2019-05-30 13:08] junjun315 commented on #2331
需要看传感器是什么。比如如果是摄像头，则可以是各类图像分类模型都可以。 如果是测量重量、周长等，可以用传统的分类模型都行

[2019-05-31 00:57] Maxhyl commented on #2334
@junjun315 直接import的话会报这种错
![image](https://user-images.githubusercontent.com/49184062/58674347-fbcc4980-8381-11e9-8208-8922c97875cd.png)   尝试改用cdll调用之后就报这种
![image](https://user-images.githubusercontent.com/49184062/58674373-1e5e6280-8382-11e9-9142-d14404f5235e.png)

[2019-05-31 01:00] Maxhyl commented on #2334
@junjun315 直接import的话就报这种错：
Traceback (most recent call last):
  File "../../infer_by_ckpt.py", line 23, in <module>
    from decoder.post_latgen_faster_mapped import Decoder
ImportError: No module named decoder.post_latgen_faster_mapped

该用cdll调用之后就报这个
Traceback (most recent call last):
  File "../../infer_by_ckpt.py", line 287, in <module>
    infer_from_ckpt(args)
  File "../../infer_by_ckpt.py

[2019-05-31 03:43] hlguo commented on #2331
好的，非常感谢，传感器是摄像头，就是想分辨出硬币的类型，比如是5角的，1元的，或者是1美元的等等，图像分类模型能给介绍一个吗？谢谢！

[2019-05-31 12:23] JiaXiao243 commented on #2213
请问使用--fp16=True 必须得在编译padle的时候cmake -DWITH_DISTRIBUTED=ON吗？请问这两者有什么关系呢？

[2019-06-01 12:12] cjt222 opened #2343 "faster rcnn eval报错"
当下载官方Fluid RoIPool minibatch padding模型进行test时，feed数据时会报错
![image](https://user-images.githubusercontent.com/17508662/58748331-9f644980-84a9-11e9-96e9-5a36792ae6a1.png)

[2019-06-02 07:01] cjt222 opened #2345 "fix error which cv2 is used but not import while loading mp4 file"
1、fix error which cv2 is used but not import while loading mp4 file #2344
2、while loading mp4 file, some frames may fail to be read and it may result in out of range in sampledFrames
![image](https://user-images.githubusercontent.com/17508662/58764023-feeb5380-8594-11e9-9a60-89945561bf6c.png)

[2019-06-03 02:42] #2343 closed, assigned to nobody

[2019-06-03 03:16] jiayifang1 commented on #1370
你好，请问你这个找不到 设备"no CUDA-capable device is detected “，这个问题解决了吗

[2019-06-03 03:42] #2334 closed, assigned to nobody

[2019-06-03 06:36] SunGaofeng commented on #2345
Yes, thanks for pointing out this bug and pr.

[2019-06-03 07:42] wanghaoshuang commented on #1360
https://github.com/pytorch/pytorch/issues/2083

[2019-06-03 11:55] herbiezhao opened #2350 "PaddleSlim是否支持yolov3等检测模型的剪枝压缩"

[2019-06-03 11:57] youidol opened #2351 "attention_cluster和lstm预训练的3862类，是youtube8M哪些类？方便提供一下对应关系吗？"

[2019-06-04 01:55] sandyhouse commented on #2351
可参考：https://github.com/google/youtube-8m#ground-truth-label-files，https://research.google.com/youtube8m/download.html

[2019-06-04 02:01] sandyhouse commented on #2350
从理论上讲是支持的。

[2019-06-04 02:11] herbiezhao commented on #2350
那实际上呢？有指导吗，需要自己改源码？

[2019-06-04 02:48] sandyhouse commented on #2350
应该不需要改源码，只是没在yolov3模型上验证过效果。

[2019-06-04 05:09] sandyhouse commented on #2350
Closing this issue. Reopen it if you have any further question.

[2019-06-04 05:10] sandyhouse commented on #2350
Closing this issue. Reopen it if you have any further question.

[2019-06-04 05:10] #2350 closed, assigned to nobody

[2019-06-04 05:12] sandyhouse commented on #2351
Closing this issue. Reopen it if you have any further question.

[2019-06-04 05:12] sandyhouse commented on #2351
Closing this issue. Reopen it if you have any further question.

[2019-06-04 05:12] #2351 closed, assigned to nobody

[2019-06-04 05:34] yxzero opened #2353 "增量训练"
![image](https://user-images.githubusercontent.com/5461637/58853575-5e4c7f00-86cd-11e9-98ca-1e2eea09b1df.png)
transformer模型，load checkpoin之后，训练还是从loss很高开始降
![image](https://user-images.githubusercontent.com/5461637/58853628-8d62f080-86cd-11e9-9980-2695372b2ec7.png)
不知道是否读取正确
![image](https://user-images.githubusercontent.com/5461637/58853739-bc796200-86cd-11e9-9b9c-4863289263e4.png)

[2019-06-04 06:35] JiaXiao243 opened #2355 "CycleGAN和pix2pix模型python3训练报错"
python3.7环境下，在PaddleCV/gan目录下分别运行 bash scripts/run_cyclegan.sh 和bash scripts/run_pix2pix.sh，对cyclegan和pix2pix模型进行训练，报错信息如下：
![image](https://user-images.githubusercontent.com/37854899/58856640-cd2dd600-86d5-11e9-84fd-00e52e0a5fc1.png)
![image](https://user-images.githubusercontent.com/37854899/58856691-e9ca0e00-86d5-11e9-8db8-257a729fa6cd.png)
python2.7环境下，可以正常训练。需要将两个模型在python3上适配一下~

[2019-06-04 07:37] JiaXiao243 opened #2356 "pix2pix infer报错"
pix2pix在python2.7环境下训练完成后，执行bash scripts/infer_pix2pix.sh对训练好的模型进行预测，报错信息如下：
![image](https://user-images.githubusercontent.com/37854899/58860096-f3577400-86dd-11e9-9727-df45b0b7cccf.png)
无法正确识别infer的input,在infer_pix2pix.sh中input后路径添加双引号，即
将--input data/cityscapes/testB/*  修改为 --input "data/cityscapes/testB/*",可以正常infer，以下代码用到args.input：
![image](https://user-images.githubusercontent.com/37854899/

[2019-06-04 10:59] guoshengCS commented on #2353
可否试下运行时加上环境变量 `GLOG_vmodule=operator=3` ，这个会在每个OP执行时打印相关信息，可以看下是否执行了load的操作，或者load后是否再次执行了一些初始化的操作导致参数被覆盖了

[2019-06-04 11:15] jiayifang1 opened #2358 "face_detection Train"
gpu单卡运行，11G，能够正常测试预发布模型，但是在运行训练代码过程中：
export CUDA_VISIBLE_DEVICES=0
python -u train.py --batch_size=3 --pretrained_model=vgg_ilsvrc_16_fc_reduced
执行这两个步骤之后，也是正常进入训练的，但是训练过程中是如下这样显示的！出现".......MemoryError"这样的问题，并卡在最后的训练处，不再继续进行，希望能得到大家的帮助！！！

Pass 0, batch 1890, face loss 3.608721, head loss 3.827300, time 0.82712
Pass 0, batch 1900, face loss 6.004067, head loss 6.459546, time 0.81461
Pass 0, batc

[2019-06-06 06:16] JiaoZiLang opened #2366 "啥时候支持EfficientNet啊"
如题，最近google新的分类模型出来，精确率提高好多。望早日有预训练模型出来

[2019-06-06 07:21] youidol opened #2367 "AttributeError: module 'paddle.fluid.layers' has no attribute 'temporal_shift'"

[2019-06-06 07:29] #2367 closed, assigned to nobody

[2019-06-06 07:33] youidol commented on #2367
解决了。没看清楚说明！

[2019-06-06 09:46] zhaoyuchen2018 commented on #2366
这个请模型的同学们考虑下，看应该如何支持。

[2019-06-06 10:00] JiaXiao243 commented on #2366
期待...

[2019-06-07 14:31] yiakwy opened #2374 "[New Feature] 清除paddle控制设备占用存储"
## 问题背景

在类似AIStudio环境中，包括AIStudio，在启动Paddle程序，是对进程生命周期分配存储，导致第二次运行一个 jupyter code bock，内存未被释放。在某些情况下，我们只能重启Kernel来释放内存。

## 复现场景

[code]

[code]

我们发现 14/16 的内存被使用，但是找不到[process id](https://github.com/NVIDIA/nvidia-docker/issues/476)， 也不能在paddle中清除显存，只能手动重启Jupyter Kernel.

## 问题对比

1. 旧版本显存是针对进程生命周期分配的，在新版的Tensorflow 已经可以通过Gpu分配策略Tensorflow api释放gpu
2. Colab从过往使用经验看，似乎没有类似问题

## 可能解决方案和相关问题

- 清除

[2019-06-09 02:02] #2338 closed, assigned to heavengate

[2019-06-10 02:54] #2291 closed, assigned to nobody

[2019-06-10 03:04] #2355 closed, assigned to nobody

[2019-06-10 04:02] zwl22 commented on #1764
@ccmeteorljh 您好，请问问题2（`python': invalid fastbin entry 问题）解决了吗？

[2019-06-10 05:51] #2337 closed, assigned to wzzju

[2019-06-10 07:40] JiaXiao243 opened #2376 "cyclegan infer报错"
在PaddleCV/gan目录下，执行bash scripts/infer_cyclegan.sh 对训练完成后的cycle_gan模型进行预测，报错信息如下
1. 需要将infer_cyclegan.sh中的g_bash_dims修改为g_base_dims
![image](https://user-images.githubusercontent.com/37854899/59179786-b3890480-8b95-11e9-9d1d-120b8370082a.png)
2. 将infer_cyclegan.sh中的g_bash_dims修改为g_base_dims后，报错信息如下：
![image](https://user-images.githubusercontent.com/37854899/59179886-006cdb00-8b96-11e9-8b6a-3452bbe

[2019-06-10 07:50] XiaoheYou opened #2377 "pretrained_model的问题（SE_RESNEXT）"

[2019-06-10 08:10] #2356 closed, assigned to nobody

[2019-06-10 08:31] liupluswei commented on #2374
感谢您提供的详细说明，可否提供一下这个显存无法被释放的问题的复现步骤？我们这边好定位一下具体的问题

[2019-06-10 08:54] #2377 closed, assigned to nobody

[2019-06-10 09:21] yiakwy commented on #2374
@liuwei1031 复现步骤，可按下面执行：

在Jupyter或者AIStudio类似的环境中，跑一次模型

即存储分配，后续在此环境中，如重复跑实验，都需要重启jupyter kernel，否则因为对该进程声明周期，分配的内存不会被释放，导致显卡内存溢出。

可以执行

[code]

查询信息。发现除了jupyter本身，已经即使训练，推理已经完成，内存仍然残留。导致重复跑模型，实验失败。

[2019-06-10 12:06] ellinyang opened #2382 "resnet\SEnet 训练出现loss Nan"
版本、环境信息
1）docker镜像 paddle:1.4.1-gpu-cuda9.0-cudnn7
2）GPU Tesla V100 (16G显存)
训练信息
1）单机单卡训练
2）batchsize=16
3）图像resize448x448 (原图48*70)
4）自定义数据集 8000样本,5大类
**出现问题：**
resnet 和SEnet 在训练自己的数据集时，正常训练几个batch便出现loss Nan ,acc变0。

**详细细节**
[code]

[2019-06-10 12:26] qingqing01 commented on #2382
从log看，您是已经lr降低了10倍？ 另外，您是加载了预训练模型？ 加载预训练模型有去掉最后fc吗？

[2019-06-10 12:34] ellinyang commented on #2382
1）lr是下降了10倍，试过lr为0.1，0.01，0.005，0.0005，0.00001 均会在最初几个epoch出现Nan.
2）加载的预训练模型手动删掉了fc层，有训练其他小数据时的成功案例，不过在训练的中后期偶尔会出现Nan。

[2019-06-11 06:47] wopeizl commented on #2157
1.5开始windows支持parallelExecutor

[2019-06-11 07:36] qingqing01 commented on #2382
https://github.com/PaddlePaddle/models/blob/5c142ae728abc786c380ece05da52f84e82e795d/PaddleCV/image_classification/reader.py#L118-L120

请问你输入数据做过归一化吗？这些预训练模型的训练对数据做了归一化。

[2019-06-11 08:44] liupluswei commented on #2374
你好，我这边在jupyter环境下尝试了一下我们paddlepaddle/book下面的训练脚本：
https://github.com/PaddlePaddle/book/blob/develop/01.fit_a_line/train.py
并没有复现你所描述的这个问题，训练结束以后显存自动释放了，并没有影响后续的运行。

如果方便的话，可否提供一下你的脚本和数据？
还有你提到aistudio 和 jupyter，如果不用这两个tool，你的任务是否可以正常运行呢？

[2019-06-11 10:25] XiaoheYou opened #2387 "ParamAttr 设置trainable=False问题"
我把一半以上的conv的ParamAttr 设置trainable=False进行finetuning，对训练效果和速率没有影响？

[2019-06-11 11:29] luotao1 commented on #2387
效果不好说，速度理论上会有提升的（因为不用算grad）。
但影响速度的因素比较多，如果原来模型的GPU利用率高应该会提升，如果本来就比较低可能效果不明显。

[2019-06-11 12:50] lgone2000 commented on #2187
1.2可以正常训练1.4有问题 mark一下

[2019-06-12 02:58] DDDivano opened #2390 "【dygraph resnet】 reader使用use_xmap=False参数时，reader性能会下降"
use_xmap=False 时 reader 稳定后耗时在0.4s左右
![image](https://user-images.githubusercontent.com/10734244/59320291-670e0800-8d00-11e9-840f-f3b9ed7b14c6.png)

use_xmap=True 时  reader稳定后耗时在0.001s左右
![image](https://user-images.githubusercontent.com/10734244/59320943-d7b62400-8d02-11e9-9ab8-1fac455778e4.png)

[2019-06-12 08:02] cjt222 opened #2393 "fix bug between py2 and py3 #2392"
fix bug between py2 and py3 #2392
while caulclate x1 and y1, round will have different result between py2 and py3, which result in different inference output
![image](https://user-images.githubusercontent.com/17508662/59333815-b584cc00-8d2b-11e9-816c-b8831aeea803.png)

[2019-06-12 10:13] lzha106 opened #2394 "分布式训练 fluid.layers.embedding 设置 is_distributed=True 导致 Runtime error"
使用 paddle 1.4.1 进行分布式训练,  fluid Embedding 接口设置 is_distributed=True 会导致 Runtime Error：

    fluid.layers.embedding(is_sparse=True,` is_distributed=True）

Error 信息入下
  File "train_dist.py", line 202, in <module>
    train()
  File "train_dist.py", line 151, in train
    optimizer.minimize(loss)
  File "/usr/local/lib/python2.7/dist-packages/paddle/fluid/incubate/fleet/parameter_server/distributed_tr

[2019-06-12 11:03] XiaoheYou commented on #2387
可以给一个用例吗？我对照下自己写的有没有问题。 因为感觉提升不明显。

[2019-06-12 11:11] asdqweqq opened #2395 "kaldi-decoder"
setip.sh cannot find kaldi decoder

/home/hvir/models/models/PaddleSpeech/DeepASR/decoder/post_latgen_faster_mapped.so
/usr/bin/ld: cannot find -lkaldi-decoder
collect2: error: ld returned 1 exit status

[2019-06-12 11:17] luotao1 commented on #2387
不需要示例，直接设成False即可。
是速度提升不明显么？速度原因上面有分析过。

[2019-06-12 11:32] SunGaofeng commented on #2395
Please install kaldi first.

[2019-06-12 11:45] asdqweqq commented on #2395
It’s already installed but, library so file doesn’t exist.  Is it a bug?

Sent from my iPhone

[2019-06-12 12:02] yiakwy commented on #2374
@liuwei1031 您好，jupyterbook 文件后缀是 ipynb，那么请问您是以library形式引入到 book 执行，还是以子进程方式处理？

如果是后者，解决方案已经提到tensorflow是针对进程生命周期分配内存，故可以这么做。

请明确执行方式，以及paddle内存分配的生命周期。

具体book代码，我提供了下面的参考：https://aistudio.baidu.com/aistudio/projectdetail/60969

[2019-06-12 13:24] SunGaofeng commented on #2395
can u find kaldi related so in your system? If you find it, you may manually set the path to LD_LIBRARY_PATH

[2019-06-13 02:58] XiaoheYou commented on #2387
GPU利用率很高。 但是每个batch的训练耗时几乎没有提升，而且GPU显存使用也没下降。

[2019-06-13 06:09] xiegegege opened #2397 "word2vec文档中数据解压少写了.gz"
<img width="1008" alt="90f5013aefaa06095922d1326b669d8b" src="https://user-images.githubusercontent.com/46314656/59407717-bfb6d100-8de4-11e9-8017-6152f67db1a3.png">

[2019-06-13 06:35] XiaoheYou commented on #2387
![image](https://user-images.githubusercontent.com/28619328/59409273-7b2d3480-8de8-11e9-908a-7d4398922cfd.png)
偶尔出现这个错误

[2019-06-13 06:49] JiaXiao243 opened #2399 "cyclegan pix2pix 模型设置epoch<=100 训练报错"
在PaddleCV/gan模型下，执行如下指令python train.py --model_net CycleGAN --dataset cityscapes --batch_size 1 --net_G resnet_9block --g_base_dim 32 --net_D basic --norm_type batch_norm --epoch 100 --load_size 286 --crop_size 256 --crop_type Random，对cyclegan进行训练，报错信息如下:
![image](https://user-images.githubusercontent.com/37854899/59410009-48843b80-8dea-11e9-8fab-e168f0d6e979.png)
经过验证，在设置的epoch <=100的情况下进行训练，均报该错

[2019-06-13 06:51] frankwhzhang commented on #2397
https://github.com/PaddlePaddle/models/pull/2398 已修复合入

[2019-06-13 06:51] #2397 closed, assigned to nobody

[2019-06-13 07:40] ccmeteorljh opened #2400 "文档错误 fast_imageNet"
https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/image_classification/fast_imagenet
Install the requirements by pip install -r requirement.txt.

应该是

[code]

[2019-06-13 07:49] ccmeteorljh opened #2402 "fast_imagenet data_dir 不起作用"
在train.py中 dataset_dir 路径写死了
[code]

[2019-06-13 13:08] cjt222 opened #2404 "Non-local模型的参数不能下载"
Non-local模型的参数下载链接为空

[2019-06-14 10:03] gongweibao commented on #2404
能否给一个入口？

[2019-06-14 11:41] yuzunrui opened #2414 "PaddleNLP/neural_machine_translation/transformer/infer.py报错"
PaddleNLP/neural_machine_translation/transformer/infer.py报错，请问是什么原因，谢谢？
[code]

[2019-06-14 14:50] liupluswei commented on #2374
你好，我这边的疑问其实是您碰到得这个问题是paddle 本身的问题，还是说引入了jupyter和aistudio之后造成的问题。如果抛开jupyter和aistudio不管，您是否有在机器上直接运行您的模型的条件，如果可以的话建议您试一下，确认是否还有这个问题。  因为我平时使用jupyter和aistudio不多，我这边不太好复现您说的这个现象，我会看看有没有其他相关同事了解这个。

[2019-06-15 01:17] yiakwy commented on #2374
在AIStudio和jupyter环境。

[2019-06-15 11:36] guoshengCS commented on #2414
这个不像是模型问题导致，请问能稳定复现吗，能够正常运行训练或者其他模型吗？

[2019-06-15 13:44] liupluswei commented on #2374
好的，我了解了，我会在工作日咨询一下有没有对这两个比较熟悉的同事讨论一下

[2019-06-15 16:38] sandyhouse commented on #2402
This bug has been fixed.

[2019-06-15 16:38] sandyhouse commented on #2402
Closing it.

[2019-06-15 16:38] #2402 closed, assigned to sandyhouse

[2019-06-15 16:39] sandyhouse commented on #2400
The document has been updated.

[2019-06-15 16:40] sandyhouse commented on #2400
Closing it.

[2019-06-15 16:40] #2400 closed, assigned to sandyhouse

[2019-06-16 03:29] yiakwy commented on #2374
@liuwei1031 实际上虽然是环境暴露的问题，但是这个也是其他网络框架以前存在的问题之一，这引导开发者，和用户思考相关控制设备内存释放问题和生命周期。所以，如果paddle可以提供手动控制，或者进一步更完善生命周期机制，就会彻底解决这类问题。

[2019-06-17 02:20] yuzunrui commented on #2414
能稳定复现。尚未尝试训练过程和其它模型。

[2019-06-17 02:22] yuzunrui commented on #2414
在另一台开发机上运行infer.py，没出现这个报错，出现了另一个报错：

/home/dqa/.jumbo/lib/python2.7/site-packages/sklearn/externals/joblib/_multiprocessing_helpers.py:38: UserWarning: This platform lacks a functioning sem_open implementation, therefore, the required synchronization primitives needed will not function, see issue 3770..  joblib will operate in serial mode
  warnings.warn('%s.  joblib will operate in serial mode'

[2019-06-17 02:25] guoshengCS commented on #2414
下面这个报错应该是因为找不到文件，可以再确认下模型路径是否正确
`Cannot open file base_models/iter_100000.infer.model/fc_74.w_0 for load op`

[2019-06-17 02:34] JiaXiao243 opened #2418 "resnet_vd模型eval报错"
在PaddleCV/image_classification目录下执行python eval.py --model=ResNet101_vd --pretrained_model=./ResNet101_vd_pretrained指令，对下载的预训练模型ResNet101_vd进行评估，报错信息如下：
![image](https://user-images.githubusercontent.com/37854899/59574871-87b4d400-90eb-11e9-99aa-ccec8639dcb6.png)

[2019-06-17 02:37] yuzunrui commented on #2414
路径是正确的。有没有可能是显存的问题导致的？

[2019-06-17 03:06] yuzunrui commented on #2414
运行训练程序train.py时也报类似错误。麻烦帮忙解决下吧，谢谢~

训练指令：
/mnt/dqa/lihongyu04/anaconda2/bin/python -u train.py   --src_vocab_fpath /mnt/dqa/yuzunrui/neural_machine_translation/transformer/wmt16_ende_data_bpe_clean/vocab_all.bpe.32000   --trg_vocab_fpath /mnt/dqa/yuzunrui/neural_machine_translation/transformer/wmt16_ende_data_bpe_clean/vocab_all.bpe.32000   --special_token '<（防github格式）s（防github格式）>' '<（防github格式）

[2019-06-17 03:12] yuzunrui commented on #2275
我遇到了类似问题，请问你上次是怎么解决的，谢谢~

[2019-06-17 03:15] guoshengCS commented on #2414
麻烦试下CPU的预测或训练吧，运行命令加下 `use_gpu False`，感觉是环境问题

[2019-06-17 03:58] yuzunrui commented on #2414
用CPU，训练可以运行，预测仍然报类似的段错误。
在另一台机器上，用gpu可以训练和预测。

请问接下来该如何修正这台机器的环境？谢谢

[2019-06-17 05:57] yuzunrui commented on #2414
路径正确。
重新下载了模型，这个问题也仍然存在。

用自己训练的模型就能正常预测了。

[2019-06-17 06:06] cjt222 commented on #2404
![image](https://user-images.githubusercontent.com/17508662/59581889-fa807800-9108-11e9-9e91-158685d488af.png)
https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/video/models/nonlocal_model
这里的官方训练好的模型无法下载

@gongweibao

[2019-06-17 07:02] yanggb commented on #2211
楼主有解决吗？我也是在win10上跑这个demo，我都没修过代码，同样的错误

[2019-06-17 07:19] yanggb opened #2422 "window10运行object_detection报错"
环境：win10+python3.7
object_detection和face_detection都存在这个错误。哪位朋友帮帮忙，无论是使用推荐数据还是自己的图片数据都报错

参数配置：
add_arg('learning_rate',    float, 0.001,     "Learning rate.")
add_arg('batch_size',       int,   64,        "Minibatch size of all devices.")
add_arg('epoc_num',         int,   120,       "Epoch number.")
add_arg('use_gpu',          bool,  False,      "Whether use GPU.")
add_arg('parallel',         boo

[2019-06-17 07:24] ceci3 commented on #2358
您好，看报错像是内存错误，是出现完MemoryError之后再继续训练吗？

[2019-06-17 07:28] jiayifang1 commented on #2358
是的，但是会卡在训练中途不再继续，应该是内存的问题，有没有什么方法解决一下，硬件条件有限，最好能有优化方法。

[2019-06-17 07:29] jiayifang1 commented on #2358
是的，但是会卡在训练中途不再继续，应该是内存的问题，有没有什么方法解决一下，硬件条件有限，最好能有优化方法。

是的，但是会卡在训练中途不再继续，应该是内存的问题，有没有什么方法解决一下，硬件条件有限，最好能有优化方法。

[2019-06-17 07:32] wanghaoshuang commented on #2332
学习策略，初始学习率和weight decay都按[train.py](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/icnet/train.py)中指定的即可。

迭代轮数按这个pr修改下：
https://github.com/PaddlePaddle/models/pull/2324/files

[2019-06-17 07:57] qingqing01 commented on #2358
@jiayifang1 你的机器内存多大？

[2019-06-17 08:01] jiayifang1 commented on #2358
单卡，11G

[2019-06-17 08:01] qingqing01 commented on #2358
@JiabinYang 我指的是CPU的内存哈

[2019-06-17 08:02] #2376 closed, assigned to ceci3

[2019-06-17 08:09] #2399 closed, assigned to nobody

[2019-06-17 08:21] jiayifang1 commented on #2358
1080ti  gpu11G，CPU哪个啊4G好像🤔 不是gpu训练嘛，和cpu也有关系鸭

[2019-06-17 08:28] qingqing01 commented on #2358
上面错误 MemoryError，搜索可能的一个原因是CPU的内存不够。  数据处理部分实在CPU上。

[2019-06-17 08:30] qingqing01 commented on #2358
@jiayifang1 您可以将 https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/face_detection/train.py#L119 这里的 num_workers 改成1试下， 也可减少batch size试下。

[2019-06-17 08:36] jiayifang1 commented on #2358
好的，我再去试试，之前改了batch size会出现nan情况，我改一下num-workers试一下再，非常感谢您的回复，后续有问题希望继续沟通一下

[2019-06-18 02:54] kolinwei commented on #2422
请问data_dir配置的是啥？

[2019-06-18 03:18] JiaXiao243 commented on #2422
windows下object_detection运行报错，同一个问题 [#2208](https://github.com/PaddlePaddle/models/issues/2208) ，[#2211](https://github.com/PaddlePaddle/models/issues/2211)
目前还未解决。

[2019-06-18 03:18] JiaXiao243 commented on #2211
@yanggb目前还没有解决~

[2019-06-18 03:32] yanggb commented on #2422
add_arg('data_dir', str, 'data/pascalvoc', "Data directory.")
但是我昨天在ubuntu上训练成功了，代码是copy过去的，不知道是不是windows的bug

[2019-06-18 05:58] JiaXiao243 opened #2431 "SE154_vd python3上eval报错"
1.  SE154_vd python3上eval报错
在python3.7环境下，PaddleCV/image_classification目录中下载SE154_vd_pretrained预训练模型，执行指令python eval.py --model SE154_vd --pretrained_model SE154_vd_pretrained --batch_size 25，对该模型进行评估，报错信息如下：
![image](https://user-images.githubusercontent.com/37854899/59656627-c3759980-91d0-11e9-89c7-f4f9fb47b08a.png)
在python2.7环境中，通过修改models/se_reasnext_vd文件，目前在本地可以跑起来；
2. renset200_vd 预训练模型链接错误

[2019-06-18 05:59] JiaXiao243 opened #2432 "SE154_vd模型在 python3上eval报错"
1.  SE154_vd python3上eval报错
在python3.7环境下，PaddleCV/image_classification目录中下载SE154_vd_pretrained预训练模型，执行指令python eval.py --model SE154_vd --pretrained_model SE154_vd_pretrained --batch_size 25，对该模型进行评估，报错信息如下：
![image](https://user-images.githubusercontent.com/37854899/59656627-c3759980-91d0-11e9-89c7-f4f9fb47b08a.png)
在python2.7环境中，通过修改models/se_reasnext_vd文件，目前在本地可以跑起来；
2. renset200_vd 预训练模型链接错误

[2019-06-18 06:00] #2431 closed, assigned to nobody

[2019-06-18 06:19] yuzunrui opened #2433 "PaddleNLP/neural_machine_translation/transformer/train.py读取的数据产生了空的"
PaddleNLP/neural_machine_translation/transformer/train.py 第375行，在读取数据后，对于某些batch_id，data为空[ ]，请问原因是什么？谢谢
（所用数据集中无空白行，调整batch_size和pool_size解决不了）

[code]

![image](https://user-images.githubusercontent.com/328693/59658103-4698ee80-91d5-11e9-8ec6-b3bf068b39ab.png)

![image](https://user-images.githubusercontent.com/328693/59658110-48fb4880-91d5-11e9-93d2-a21b9df9d155.png)

[2019-06-18 06:29] Superjomn commented on #2433
如果是空 batch， continue 忽略掉？  不排除数据无效或者处理异常

[2019-06-18 09:05] shippingwang commented on #2327
reader_cv2已经更新

[2019-06-18 13:49] lgone2000 commented on #2366
目前已经启动相关项目，请关注

[2019-06-18 13:52] lgone2000 commented on #2331
可以先用faster-rcnn检测，然后检测结果切出来做分类。

[2019-06-19 02:13] weidom opened #2439 "YOLO v3 在CPU上只能跑1-2FPS吗？"
我在CPU上读取视频，然后逐帧检测，输出的检测速度如下：

**time: 1.53290700912
time: 1.17780613899
time: 1.15770196915
time: 1.2086918354
time: 1.1830239296
time: 1.1952021122
time: 1.20584702492
time: 1.1504240036
time: 1.17087602615
time: 1.16614413261
time: 1.1538939476**

这是正常的吗  input_size=320 当input_size设置为608的时候，已经需要两秒了

cpu信息：Intel(R) Xeon(R) Silver 4110 CPU @ 2.10GHz

有没有什么提速的建议？  因为设备限制，我只能在cpu上跑

[2019-06-19 02:20] JiaXiao243 opened #2440 "ResNet50_vc模型 infer报错"
在PadleCV/image_classification目录下，下载并解压ResNet50_vc_pretrained预训练模型，执行指令python infer.py --model ResNet50_vc --pretrained_model ResNet50_vc_pretrained对该模型进行训练，报错信息如下:
![image](https://user-images.githubusercontent.com/37854899/59732191-dabd9100-927b-11e9-8ea1-b14b8de93601.png)

[2019-06-19 02:49] kolinwei opened #2441 "最新版本yolov3单卡时报错"
[22:53:26]W:	 [Step 3/3]   File "train.py", line 170, in <module>
[22:53:26]W:	 [Step 3/3]     train()
[22:53:26]W:	 [Step 3/3] C++ Callstacks:
[22:53:26]W:	 [Step 3/3] invalid argument at [/workspace/paddle/fluid/operators/sync_batch_norm_op.cu:183]
[22:53:26]W:	 [Step 3/3] PaddlePaddle Call Stacks:
[22:53:26]W:	 [Step 3/3] 0       0x7f94ac7b1d50p void paddle::platform::EnforceNotMet::Init<char c

[2019-06-19 04:25] wopeizl commented on #2422
多进程reader目前在win上还没有支持

[2019-06-19 05:01] seiriosPlus commented on #2394
```RuntimeError: all distributed lookup_table_ops should have only one table```.
全局只能有一个is_distributed=True的表。

[2019-06-19 05:45] JiaXiao243 commented on #2199
paddle==1.5无该问题了~ 故关闭该issue

[2019-06-19 05:45] #2199 closed, assigned to nobody

[2019-06-19 05:53] yanggb commented on #2422
ok  多谢

[2019-06-19 05:53] #2422 closed, assigned to jacquesqiao, kolinwei, wopeizl

[2019-06-19 07:50] shippingwang commented on #2440
fixed by #2446

[2019-06-19 07:50] #2440 closed, assigned to nobody

[2019-06-19 07:50] shippingwang commented on #2418
fixed by #2437

[2019-06-19 07:50] #2418 closed, assigned to nobody

[2019-06-19 07:51] #2366 closed, assigned to nobody

[2019-06-19 07:57] shippingwang commented on #2432
fixed by #2437

[2019-06-19 07:57] #2432 closed, assigned to nobody

[2019-06-19 10:23] lzha106 commented on #2394
也就是仅支持一个 embedding table 设置distributed 属性？

[2019-06-19 11:39] qianledan opened #2450 "Topk在动图中使用出现显存溢出问题。"
paddle的动图用topk在模型中，结果出现了显存溢出。实在没有办法重新学习pytorch，在pytorch中同样的模型结构用topk就能够正常跑程序。

另外：另外，paddle中的gather（input,index），index的rank=1，只能指定最外层的维度条目。跟pytorch中的ganther区别很大，功能已经被阉割了。希望能够将改函数的功能做成同pytorch中的一样。

[2019-06-19 11:53] seiriosPlus commented on #2394
是的

[2019-06-19 22:37] lytk01 opened #2455 "There is a small error in face_detection reader"
https://github.com/PaddlePaddle/models/blob/55138a40a219975bcbbeb6c1edef5284de721f72/PaddleCV/face_detection/reader.py#L312

the code should be
[code]

[2019-06-20 03:01] JiaXiao243 opened #2457 "transformer在python3上训练报错"
1. python3环境下，paddle==1.5，在PaddleNLP/unarchived/neural_machine_translation/transformer目录下执行训练命令:python -u train.py --src_vocab_fpath wmt16_ende_data_bpe_clean/vocab_all.bpe.32000 --trg_vocab_fpath wmt16_ende_data_bpe_clean/vocab_all.bpe.32000 --train_file_pattern wmt16_ende_data_bpe_clean/train.tok.clean.bpe.32000.en-de，报错信息如下：
![image](https://user-images.githubusercontent.com/37854899/59815473-4

[2019-06-20 03:29] cjt222 opened #2458 "视频库中NONLOCAL模型CPU infer时得到概率全为0，GPU正常"
视频库中NONLOCAL模型CPU infer时得到概率全为0，GPU正常，貌似是某个op cpu实现的问题
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/video/models/nonlocal_model/README.md

[2019-06-20 06:37] youngstu opened #2459 "fluid 如何无损重启训练？"
通过paddle.fluid.io.load_persistables 方法虽然可以加载模型权重等参数，但是如step信息重启后已经发生变化，学习率计算又有重新从0开始，怎样无损resume?

[2019-06-20 06:38] youngstu commented on #2459
![image](https://user-images.githubusercontent.com/26452514/59826536-14b89100-9369-11e9-9f33-3f77dcb4289a.png)
如上图，t无法设置，怎样无损resume?

[2019-06-20 06:43] youngstu commented on #2459
还有，修改一个超参数如optimizer，重新加载模型会出现找不到

[2019-06-20 06:59] youngstu opened #2460 "fluid 怎样打印模型网络结构？"
fluid 是否支持打印model，如pytorch？

[2019-06-20 07:31] DDDivano opened #2461 "动态图多卡训练reader报错"
相关pr  https://github.com/PaddlePaddle/models/pull/2416
![image](https://user-images.githubusercontent.com/10734244/59829595-61539a80-9370-11e9-9ecd-9a06a1901c86.png)

[2019-06-20 07:33] #2461 closed, assigned to nobody

[2019-06-20 08:02] Maxhyl opened #2462 "DeepASR中的AI-shell_testdata_test.scp_wav_00000.compact.label和AI-shell_testdata_test.scp_wav_00000.compact.label_desc文件是怎么生成的，请问有脚本吗"

[2019-06-20 08:03] yanggb opened #2463 "object_detection迁移android时模型保存问题"
**PaddleCV/object_detection项目**
保存模型原本用的如下方法：
fluid.io.**save_persistables**(exe, model_path, main_program=main_prog)
但是迁移到android需要使用如下方法保存model:
fluid.io.**save_inference_model**()

问题是不是很清楚feeded_var_names和target_vars这2个参数怎么使用，麻烦哪位朋友指点下
fluid.io.save_inference_model(dirname=model_path,
                                      feeded_var_names=["feed"],
                                      target_

[2019-06-20 08:17] Maxhyl commented on #2462
我用kaldi只能生成ark文件  找不到有这种类型的

[2019-06-20 08:19] yanggb commented on #2463
**补充：**
我自己填写参数如下
fluid.io.save_inference_model(dirname=model_path,
                                      feeded_var_names=["feed"],
                                      target_vars=[**train_py_reader**],
                                      executor=exe,
                                      main_program=main_prog)
报错如下：
getting 'tensor_desc' is not supported by the type of var double_buffer_0.

[2019-06-20 08:40] phlrain commented on #2459
问题1 step 信息在adam optimizer的参数中放着
问题2 解决这个问题可以尝试调用load_var接口，来控制save和加载的参数

[2019-06-20 09:19] xiegegege opened #2465 "ctr训练报错"
在paddle1.5分支下，ctr训练有如下报错：
Traceback (most recent call last):
  File "train.py", line 262, in <module>
    train()
  File "train.py", line 232, in train
    train_loop(args, main_program, py_reader, loss, auc_var, batch_auc_var, 1, 0)
  File "train.py", line 155, in train_loop
    exec_strategy=exec_strategy)
  File "/opt/_internal/cpython-3.6.0/lib/python3.6/site-packages/paddle/fluid/parallel_exe

[2019-06-20 09:24] JiaXiao243 opened #2466 "lstm语言模型输出的ppl为nan"
在PaddleNLP/language_model目录下执行python train.py  --data_path data/simple-examples/data/ --model_type small --use_gpu True指令对lstm模型进行训练，输出信息如下:
![image](https://user-images.githubusercontent.com/37854899/59837603-16418380-9380-11e9-9c6d-dd7de6d94fd3.png)
在windows和linux下，该模型均有该问题。

[2019-06-20 09:29] xiegegege opened #2467 "deeplabv3+ eval 报维度错误"
在paddle1.5分支下，deeplabv3+ 的评估有如下报错：
Traceback (most recent call last):
  File "./eval.py", line 131, in <module>
    fetch_list=[pred, miou, out_wrong, out_correct])
  File "/opt/_internal/cpython-3.6.0/lib/python3.6/site-packages/paddle/fluid/executor.py", line 650, in run
    use_program_cache=use_program_cache)
  File "/opt/_internal/cpython-3.6.0/lib/python3.6/site-packages/paddle/fluid/executo

[2019-06-20 09:41] JiaXiao243 opened #2468 "transformer infer报错"
在PaddleNLP/unarchived/neural_machine_translation/transformer目录下执行python -u infer.py  --src_vocab_fpath wmt16_ende_data_bpe_clean/vocab_all.bpe.32000 --trg_vocab_fpath wmt16_ende_data_bpe_clean/vocab_all.bpe.32000 --test_file_pattern wmt16_ende_data_bpe_clean/newstest2016.tok.bpe.32000.en-de model_path trained_models/iter_30000.infer.model指令，对训练的模型进行预测，报错信息如下：
![image](https://user-images.githubuse

[2019-06-20 10:22] yanggb commented on #2463
感谢开发群的同志已经帮我解决
正确参数如下：
  fluid.io.save_inference_model(dirname=model_path,
                                      feeded_var_names=[image.name],
                                      target_vars=[nmsed_out],
                                      executor=exe,
                                      main_program=test_prog)

[2019-06-20 10:22] #2463 closed, assigned to nobody

[2019-06-20 12:28] ccmeteorljh opened #2470 "resnet 单卡下没问题，八卡报错"
paddle_version :1.5.0
运行命令：
[code]
报错如下：
[code]

[2019-06-20 13:58] phlrain commented on #2457
这个是提供的数据编码的问题，你可以尝试用处理脚本重新跑下预处理

[2019-06-20 13:59] phlrain commented on #2458
好 我们看下

[2019-06-20 13:59] phlrain commented on #2460
打印model 还是说模型结构吗

[2019-06-20 14:07] youngstu commented on #2460
打印网络模型结构

[2019-06-21 01:13] Superjomn commented on #2439
这是 python 测还是 c++测的， Executor 还是 ParallelExecutor

可以精确测定模型预测本身的时间吗，防止是 load 数据的时间

C++ 的预测库有针对性优化，可以试试， http://paddlepaddle.org/documentation/docs/zh/1.4/advanced_usage/deploy/inference/native_infer.html#permalink-7--analysisconfig-

[2019-06-21 02:07] #2271 closed, assigned to luluxing3

[2019-06-21 02:10] jacquesqiao commented on #2465
请 @chengduoZH 看一下

[2019-06-21 02:30] phlrain commented on #2460
print( fluid.default_main_program() )
可以说下这种方法

[2019-06-21 02:31] #2441 closed, assigned to heavengate

[2019-06-21 02:59] guoshengCS commented on #2468
这个试下按照这里的 https://github.com/PaddlePaddle/models/blob/develop/PaddleNLP/models/neural_machine_translation/transformer/model.py#L882
把 https://github.com/PaddlePaddle/models/blob/develop/PaddleNLP/unarchived/neural_machine_translation/transformer/model.py#L878  的 `topk_indices = layers.lod_reset(accu_scores, pre_ids)` 改成 ` accu_scores = layers.lod_reset(accu_scores, pre_ids)` 呢

[2019-06-21 03:15] xiegegege commented on #2470
DPN有一样的报错

[2019-06-21 03:46] kolinwei commented on #2465
该问题在不设CPU_NUM环境变量时会发生

[2019-06-21 06:43] JiaoZiLang opened #2479 "电视台标识别，用哪个模型比较好？"
用 faster-rcnn 来做效果会不会，单纯只用图片分类来作要好一些？

[2019-06-21 06:58] DDDivano opened #2480 "machine reading comprehension多GPU下报错"
![image](https://user-images.githubusercontent.com/10734244/59903982-f9b35300-9434-11e9-9bf0-0fb11bf8bfd0.png)

[2019-06-21 08:54] kolinwei commented on #2470
单独提，确保有跟进人

[2019-06-21 08:55] JiaXiao243 commented on #2414
python2.7环境下，python -u infer.py --src_vocab_fpath wmt16_ende_data_bpe_clean/vocab_all.bpe.32000  --trg_vocab_fpath wmt16_ende_data_bpe_clean/vocab_all.bpe.32000 --test_file_pattern wmt16_ende_data_bpe_clean/newstest2014.tok.bpe.32000.en-de  --batch_size 32 model_path base_model/iter_100000.infer.model，报错信息如下:
![image](https://user-images.githubusercontent.com/37854899/59910887-5f0f4000-9445-11e9-8

[2019-06-21 09:01] xiegegege opened #2481 "图像分类dpn模型8卡运行报错"
在paddle1.5分支下，图像分类dpn模型8卡运行报错，报错信息如下：

 Traceback (most recent call last):
  File "train.py", line 588, in <module>
    main()
  File "train.py", line 584, in main
    train(args)
  File "train.py", line 469, in train
    loss, acc1, acc5, lr = train_exe.run(fetch_list=train_fetch_list)
  File "/opt/_internal/cpython-3.6.0/lib/python3.6/site-packages/paddle/fluid/parallel_executor.py", line 280, i

[2019-06-21 09:13] shippingwang commented on #2481
fixed by #2469

[2019-06-21 09:13] #2481 closed, assigned to nobody

[2019-06-21 09:14] shippingwang commented on #2470
fixed #2469

[2019-06-21 09:14] #2470 closed, assigned to wanghaoshuang, shippingwang

[2019-06-21 09:47] JiaXiao243 opened #2483 "window上deep_attention_matching训练报错"
在window机器上，PaddleNLP/dialogue_model_toolkit/deep_attention_matching目录下，执行
python -u main.py --do_train True --use_cuda --data_path ./data/ubuntu/data_small.pkl --save_path ./model_files/ubuntu  --use_pyreader --vocab_size 434512 --_EOS_ 28270  --batch_size 32对模型进行训练，报错信息如下:
![image](https://user-images.githubusercontent.com/37854899/59914242-8fa6a800-944c-11e9-8eaa-b9d8c7903619.png)

[2019-06-21 10:38] #2467 closed, assigned to qingqing01

[2019-06-21 11:39] JiaXiao243 opened #2486 "dialogue_general_understanding --use_fp16 true 训练报错"
在PaddleNLP/dialogue_model_toolkit/dialogue_general_understanding目录下，执行python -u train.py --task_name mrda --use_cuda true --do_train true --do_val true --do_test true --epoch 1 --batch_size 4096 --data_dir ./data/mrda  --bert_config_path ./uncased_L-12_H-768_A-12/bert_config.json --vocab_path ./uncased_L-12_H-768_A-12/vocab.txt --init_pretraining_params ./uncased_L-12_H-768_A-12/params --checkpoin

[2019-06-21 11:50] JiaXiao243 opened #2487 "ELMo模型训练报错"
在LARK/ELMo目录下执行sh run.sh对ELMo模型进行训练，报错信息如下：
![image](https://user-images.githubusercontent.com/37854899/59920652-cafda280-945d-11e9-95d0-23267f03bf0f.png)

[2019-06-23 03:20] EvanLiu1 commented on #1564
请问找到原因了吗？ @zzdgit @silverfly1992

[2019-06-24 02:12] JesseyXujin commented on #2487
麻烦提供环境和复现步骤。

[2019-06-24 02:24] JiaXiao243 commented on #2487
paddle:release1.5分支从源码编译安装的paddle；
运行环境：docker_ubuntu1604_cuda9.0_cudnn7_py37
步骤： 在LARK/ELMo目录下执行sh run.sh
bug：
目前定位为ELMo模型未在python3上适配，在python2.7上可以正常训练。

[2019-06-24 03:06] JesseyXujin commented on #2487
ELMo目前支持python2.7，定位问题是不支持python3.7

[2019-06-24 03:27] JesseyXujin commented on #2487
在elmo readme补充版本依赖

[2019-06-24 03:29] JesseyXujin commented on #2487
https://github.com/PaddlePaddle/LARK/pull/176

[2019-06-24 03:38] JiaXiao243 opened #2498 "attgan训练报错"
paddle==1.5, 在PaddleCV/gan目录下运行 bash script/run_attgan.sh报错信息如下：
![image](https://user-images.githubusercontent.com/37854899/59990138-9fa0d080-9674-11e9-80f6-8349b78b0f48.png)

[2019-06-24 06:05] JesseyXujin commented on #2487
已merge

[2019-06-24 06:05] #2487 closed, assigned to nobody

[2019-06-24 06:40] JiaXiao243 opened #2504 "window上metric_learning模型进行eval报MemoryError"
在window机器上，paddle==1.5，在\PaddleCV\metric_learning，执行python eval.py --model=ResNet50 --batch_size=16 --pretrained_model=output，对模型进行eval，报错信息如下：
![image](https://user-images.githubusercontent.com/37854899/59996991-50679980-968e-11e9-9bfd-56de39349963.png)

[2019-06-24 06:46] huillll opened #2505 "运行自动Killed"
Killed
run.sh --total_images=4493: not found
image_classification

#Example: SE_ResNext50_32x4d
python train.py \
       --model=SE_ResNeXt50_32x4d \
       --batch_size=400 \
       --total_images=4493 \
       --class_dim=61 \
       --image_shape=3,224,224 \
       --model_save_dir=output/ \
       --with_mem_opt=True \
       --lr_strategy=cosine_decay \
       --lr=0.1 \
       --num_epochs=2

[2019-06-24 06:47] huillll commented on #2505
直接被Killed，不知道什么原因，加载图像的过程中Killed.系统Ubuntu,18.04,内存16G.显卡1078.
用CPU训练

[2019-06-24 07:07] #2486 closed, assigned to nobody

[2019-06-24 07:31] JiabinYang commented on #2505
请问下您是运行哪个模型呢

[2019-06-24 07:50] cuicheng01 opened #2509 "depthwise conv 5x5的conv GPU和CPU的结果不一致"
depthwise conv 5x5的conv GPU和CPU的结果不一致，希望赶紧修一下～

[2019-06-24 07:57] huillll commented on #2505
训练

[2019-06-24 07:58] huillll commented on #2505
用网络Example: SE_ResNext50_32x4d，训练四千多张病虫害数据

[2019-06-24 08:03] JiaXiao243 opened #2511 "window上image_classification训练报错"
在window机器上，paddle==1.5, 在PaddleCV\image_classification目录，执行python train.py --model=AlexNet --num_epochs=1  --batch_size 4，对AlexNet模型进行训练，报错信息如下:
![image](https://user-images.githubusercontent.com/37854899/60001944-3764e580-969a-11e9-822c-0e4bfa8f4487.png)

[2019-06-24 08:04] qingqing01 commented on #2479
可以先检测，再做分类。同时也可以参考 http://ai.baidu.com/tech/imagerecognition/logo 。

[2019-06-24 08:55] #2498 closed, assigned to nobody

[2019-06-24 09:16] #2289 closed, assigned to nobody

[2019-06-24 09:33] JiabinYang commented on #2505
请问是运行我们模型库中的模型么，如果是的话麻烦提供下link，如果不是您可以提供下您的代码段么

[2019-06-24 09:47] wopeizl commented on #2511
看起来是读取有问题

[2019-06-24 10:45] #2455 closed, assigned to nobody

[2019-06-24 10:55] xyzhou-puck commented on #2480
关掉显存优化后就可以了，是个已知问题。

[2019-06-24 10:58] huillll commented on #2505
我直接把数据做好，直接用image_classification文件夹里面的run.sh。改了几个参数。前面第一行就有

[2019-06-24 11:03] huillll commented on #2505
Killed
run.sh --total_images=4493: not found
这个就是错误

[2019-06-24 11:21] yxzero opened #2519 "如何加快reader速度？"
![image](https://user-images.githubusercontent.com/5461637/60015046-1067dd00-96b5-11e9-8aa0-33de133b2b6a.png)
在50g数据下
models/PaddleNLP/neural_machine_translation/transformer/
这步读取数据非常慢

[2019-06-24 11:49] hutuxian commented on #2304
fixed:https://github.com/PaddlePaddle/models/pull/2520

[2019-06-24 11:49] #2304 closed, assigned to hutuxian

[2019-06-24 12:04] huillll commented on #2505
-------------  Configuration Arguments -------------
               batch_size : 4
               checkpoint : None
                class_dim : 1000
                 data_dir : ./data/ILSVRC2012/
                enable_ce : False
                     fp16 : False
              image_shape : 3,224,224
               is_distill : False
                 l2_decay : 0.0001
  label_smoothing_epsilon : 0

[2019-06-24 12:09] xiegegege opened #2523 "图像分类InceptionV4偶尔会报illegal memory access"
在paddle1.5分支下，图像分类InceptionV4偶尔会报illegal memory access，截图如下：
Pass 0, trainbatch 470, loss 6.65145,                             acc1 0.00391, acc5 0.01953, lr 0.10000, time 0.47 sec
F0624 09:12:36.741020 50191 device_context.cc:333] cudaStreamSynchronize an illegal memory access was encountered errno:77
*** Check failure stack trace: ***
F0624 09:1F:36.74102662  50194    9:device_context.cc:127336c

[2019-06-24 12:10] huillll commented on #2505
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 418.56       Driver Version: 418.56       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |

[2019-06-24 12:24] huillll commented on #2505
W0624 20:21:42.128429  3411 dynamic_loader.cc:107] Can not find library: libnccl.so. Please try to add the lib path to LD_LIBRARY_PATH.
这个是要装什么啊。Paddle很多坑啊，希望尽快优化啊

[2019-06-24 12:31] xyzhou-puck commented on #2480
memory_optimize存在bug，1.5后会废弃，可以通过打卡GC开启显存优化，打开方式为设置flag：

export FLAGS_eager_delete_tensor_gb=0.0

[2019-06-24 12:31] #2480 closed, assigned to nobody

[2019-06-24 12:41] JiaXiao243 commented on #2457
fix [#2522](https://github.com/PaddlePaddle/models/pull/2522)

[2019-06-24 12:41] #2457 closed, assigned to guoshengCS

[2019-06-24 12:58] huxiaoman7 commented on #2505
这个不是paddle的问题，是你安装了gpu版本的paddle需要配置一下环境。你需要在 ~/.bashrc 中设置 LD_LIBRARY_PATH 就可以了（如果找不到nccl，可以先安装nccl）

[2019-06-24 13:18] JiabinYang commented on #2509
好的，我们已经在排期修复了

[2019-06-24 13:21] JiabinYang commented on #2519
您可以试试多进程读取

[2019-06-24 13:45] JiabinYang commented on #2505
[code]

您这个报错应该是安装的paddle是cpu版本的，而不是gpu版本的

[2019-06-24 13:49] huillll commented on #2505
-------------  Configuration Arguments -------------
               batch_size : 4
               checkpoint : None
                class_dim : 61
                 data_dir : ./data/ILSVRC2012/
                enable_ce : False
                     fp16 : False
              image_shape : 3,224,224
               is_distill : False
                 l2_decay : 0.00012
  label_smoothing_epsilon : 0.

[2019-06-25 01:47] ly303550688 opened #2530 "有没有SRL模型，NLP模型里没有找到只有LAC模型"

[2019-06-25 04:07] sneaxiy commented on #2519
您可以是使用paddle提供的`paddle.reader.multiprocess_reader`进行提速。

[2019-06-25 06:01] weidom commented on #2439
[code]
就是开源的测试代码，Python的   我这个只有模型infer的时间，不包括数据加载的时间；这有什么办法吗？另外就是那种并行的测试，在对单个视频检测的时候会work吗？
我现在是检测视频里的目标，用cv2读视频，然后每一帧放到网络里去预测，是不是还有更好的方法？
谢谢您的回答！

[2019-06-25 06:24] JiabinYang commented on #2505
这个问题应该是没有正确安装nccl，您可以参考[nvidia官方网站](https://developer.nvidia.com/nccl/nccl-legacy-downloads#a-collapse22b-8)安装nccl

[2019-06-25 07:42] huillll commented on #2505
install nccl error
sudo dpkg -i nccl-repo-ubuntu1604-2.3.7-ga-cuda9.2_1-1_amd64.deb
Selecting previously unselected package nccl-repo-ubuntu1604-2.3.7-ga-cuda9.2.
(Reading database ... 197571 files and directories currently installed.)
Preparing to unpack nccl-repo-ubuntu1604-2.3.7-ga-cuda9.2_1-1_amd64.deb ...
Unpacking nccl-repo-ubuntu1604-2.3.7-ga-cuda9.2 (1-1) ...
Setting up nccl-repo-ubuntu160

[2019-06-25 07:43] huillll commented on #2505
luhui@luhui-System-Product-Name:~/Downloads$ sudo dpkg -i nccl-repo-ubuntu1604-2.3.7-ga-cuda9.2_1-1_amd64.deb
(Reading database ... 197581 files and directories currently installed.)
Preparing to unpack nccl-repo-ubuntu1604-2.3.7-ga-cuda9.2_1-1_amd64.deb ...
Unpacking nccl-repo-ubuntu1604-2.3.7-ga-cuda9.2 (1-1) over (1-1) ...
Setting up nccl-repo-ubuntu1604-2.3.7-ga-cuda9.2 (1-1) ...
luhui@luhui-S

[2019-06-25 07:51] huillll commented on #2505
安装还是出问题，我提交到https://github.com/PaddlePaddle/models/issues/2505

------------------
此致！

                敬礼！

------------------ 原始邮件 ------------------
发件人: "Jiabin Yang"<notifications@github.com>;
发送时间: 2019年6月25日(星期二) 下午2:25
收件人: "PaddlePaddle/models"<models@noreply.github.com>;
抄送: "风吹雪m"<2257878821@qq.com>; "Author"<author@noreply.github.com>;
主题: Re: [PaddlePaddle/models] 运行自动Killed (#2505)

[2019-06-25 07:52] huillll commented on #2505
https://developer.nvidia.com/compute/machine-learning/nccl/secure/v2.3/prod3/nccl-repo-ubuntu1604-2.3.7-ga-cuda9.2_1-1_amd64.deb

[2019-06-25 07:58] JiabinYang commented on #2505
这是因为nccl需要您的个人账户登录才能下载，您可以参考[nvidia官方网站](https://docs.nvidia.com/deeplearning/sdk/nccl-install-guide/index.html)安装nccl：
<img width="1179" alt="image" src="https://user-images.githubusercontent.com/22361972/60080229-0cde5f80-9762-11e9-8c14-fa54f08e1e83.png">

[2019-06-25 08:31] DianaZhang opened #2543 "关于paddlepaddle的ocr模型数据提问"
在follow模型当中的ocr模型的时候，对于数据字典我产生了一些疑问。
模型当中使用的字典长度是95，但是参考数据当中使用到的字典内容仅仅包含了62个字符
所以请问，其余的字典是什么呢？

[2019-06-25 09:10] JiaXiao243 commented on #2468
fix [#2522]( https://github.com/PaddlePaddle/models/pull/2522)

[2019-06-25 09:10] #2468 closed, assigned to drinktee, guoshengCS

[2019-06-25 09:16] yangninghua opened #2546 "您好，请问模型中下面的字典是用来干嘛的，好像没有被读取，是仅仅展示模型细节吗"
[code]

[2019-06-25 09:16] yangninghua commented on #2546
几乎每个模型都会有，但自己又看不出哪里用了，实在打扰paddle的同学了

[2019-06-25 10:32] JiaXiao243 commented on #2466
运行python train.py --data_path data/simple-examples/data/ --model_type small --rnn_model padding --use_gpu True报错信息如下：
![image](https://user-images.githubusercontent.com/37854899/60093213-74ed6f80-977b-11e9-9f98-9bf0b3cc5ef9.png)

[2019-06-25 10:32] imistyrain opened #2548 "paddleslim 量化时 loss 变成nan"
[code]
训练使用的脚本为:
[code]

[2019-06-25 11:46] huillll commented on #2505
python3 train.py \
       --model=SE_ResNeXt50_32x4d \
       --use_gpu=False \
       --batch_size=4 \
       --total_images=31378 \
       #--total_images=4493 \
       --class_dim=61 \
       --image_shape=3,224,224 \
       --model_save_dir=output/ \
       --with_mem_opt=True \
       --lr_strategy=cosine_decay \
       --lr=0.1 \
       --num_epochs=200 \
       --l2_decay=1.2e-4 \

cpu版本训练，

[2019-06-25 11:48] jiayifang1 commented on #2358
嗨，你好，我是了一下你说的方法，还是不行，还是会停止

Pass 0, batch 590, face loss 2.611715, head loss 2.550977, time 0.86776
Pass 0, batch 600, face loss 2.334980, head loss 2.364299, time 0.85015
Pass 0, batch 610, face loss 3.500614, head loss 3.484950, time 0.92723
Pass 0, batch 620, face loss 2.706324, head loss 2.910119, time 0.93420
Pass 0, batch 630, face loss 4.688107, head loss 3.863219, time 0.86212
Process Proc

[2019-06-25 12:31] huillll commented on #2505
top - 20:29:07 up  1:06,  1 user,  load average: 0.34, 0.12, 0.83
Tasks: 231 total,   1 running, 182 sleeping,   0 stopped,   0 zombie
%Cpu(s):  3.9 us,  1.7 sy,  0.0 ni, 74.3 id, 20.1 wa,  0.0 hi,  0.0 si,  0.0 st
KiB Mem : 16365532 total, 14391212 free,  1038356 used,   935964 buff/cache
KiB Swap:  2097148 total,  1568640 free,   528508 used. 14939204 avail Mem

  PID USER      PR  NI    VIRT

[2019-06-25 12:31] huillll commented on #2505
total        used        free      shared  buff/cache   available
Mem:            15G        1.0G         13G         56M        914M         14G
Swap:          2.0G        515M        1.5G

[2019-06-25 13:06] xiegegege commented on #2465
现在的报错变成了：
Traceback (most recent call last):
  File "train.py", line 262, in <module>
    train()
  File "train.py", line 232, in train
    train_loop(args, main_program, py_reader, loss, auc_var, batch_auc_var, 1, 0)
  File "train.py", line 155, in train_loop
    exec_strategy=exec_strategy)
  File "/opt/_internal/cpython-3.6.0/lib/python3.6/site-packages/paddle/fluid/parallel_executor.py", line

[2019-06-25 13:37] yxzero opened #2550 "slurm分布式训练使用nccl2会卡在run"
![image](https://user-images.githubusercontent.com/5461637/60102934-3ebaea80-9791-11e9-8a32-c9179b12a045.png)

使用model里面的transformer在集群训练时，发现任务会卡在exe.run，是否现在分布式训练方式变了，需要改成下图paddle文档上的样子么？
![image](https://user-images.githubusercontent.com/5461637/60102925-38c50980-9791-11e9-9f81-9a3a9d64e797.png)

并且集群gpu使用率是40%
![image](https://user-images.githubusercontent.com/5461637/60103035-73c73d00-9791-11e

[2019-06-25 15:20] huillll commented on #2505
GPU版本，CPU占用达到这么多。PC 内存16G啊
[code]

[2019-06-26 02:35] heavengate commented on #2505
使用GPU版本跑模型，op在GPU上跑，数据从本地读入，还有数据预处理，image_augment都是在CPU上完成的，这些是需要消耗CPU和内存的

[2019-06-26 02:54] huillll commented on #2505
training datea 3.5G
my pc memory 16G, %MEM > 90%
why

[2019-06-26 03:19] JiaXiao243 commented on #2466
已修复

[2019-06-26 03:19] #2466 closed, assigned to phlrain

[2019-06-26 03:35] heavengate commented on #2505
内存使用和数据集大小没有关系，读入数据之后会做一系列的预处理，augment，缓存，这些都会消耗内存，运行中稳定消耗内存是正常的

[2019-06-26 04:49] kolinwei commented on #2511
@shippingwang 看看

[2019-06-26 06:39] cuicheng01 commented on #2511
图片没有读进来

[2019-06-26 06:57] wzzju commented on #2530
请参考这里： https://github.com/PaddlePaddle/book/tree/develop/07.label_semantic_roles

[2019-06-26 07:03] wzzju commented on #2546
请看这里：https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/models/mobilenet.py#L40
每个模型文件中train_parameters被赋值给模型类的params属性，然后再看这里：https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/train.py#L312
这里params属性会被用到，主要用于配置优化器。

[2019-06-26 07:11] xiegegege opened #2555 "nonlocal test 结束后有报错"
在paddle 1.5分支，python3.6下运行nonlocal test部分，运行结束会有报错：
File "test.py", line 130, in <module>
    test(args)
  File "test.py", line 123, in test
    test_metrics.finalize_and_log_out("[EVAL] eval finished. ")
  File "/ssd1/xiege/model_6.12/models/PaddleCV/video/metrics/metrics_util.py", line 149, in finalize_and_log_out
    self.calculator.finalize_metrics()
  File "/ssd1/xiege/model_6.12/models/Paddl

[2019-06-26 07:12] wzzju commented on #2548
您好！请问您的初始学习率是否设置过大呢？可以尝试降低一下初始学习率。

[2019-06-26 07:20] qingqing01 commented on #2511
@JiaXiao243 会和图片路径有关系吗？

[2019-06-26 07:38] JiaXiao243 commented on #2511
图片路径设置应该是正确的~

[2019-06-26 07:45] gavin1332 commented on #2550
是的，需要使用paddle文档上的nccl2配置做初始化才行

[2019-06-26 07:49] gavin1332 commented on #2550
我看你train.py里也有手工写的相关操作，需要移除。同时，build_trategy需要制定allreduce策略：
‘build_strategy.reduce_strategy = fluid.BuildStrategy().ReduceStrategy.AllReduce’

[2019-06-26 08:20] shippingwang commented on #2546
They are redundancy codes since the previous version, should remove them and add more ```args``` to decouple. For now, this block can control the learning rate value and how many epochs it will decay when using piecewise decay strategy, besides, other values except "epochs" and "steps" are useless cause of they will be covered by ```args```. In future, we will refine the architecture code.

[2019-06-26 08:21] #2546 closed, assigned to wzzju

[2019-06-26 08:32] yangninghua commented on #2546
收到，谢谢两位

[2019-06-26 09:26] huillll commented on #2505
GPU训练，CPU占用也高啊

[2019-06-26 10:10] ly303550688 commented on #2530
这个已经能运行起来，这个没有预训练的模型或者训练集吧。是不是词向量和训练集都需要自己整理

[2019-06-26 10:12] JiaXiao243 opened #2558 "attgan模型和stgan模型训练大概率出nan"
在PaddleCV/gan目录下，执行bash scripts/run_stgan.sh 对该模型进行训练，在epoch=30的时候，输出的d_loss为nan。log信息如下所示:
![image](https://user-images.githubusercontent.com/37854899/60171773-e1c93e00-983d-11e9-8797-7dd6b5663037.png)

[2019-06-26 11:26] JiaXiao243 opened #2559 "window上lexical_analysis infer报错"
在PaddleNLP/lexical_analysis目录下，执行python run_sequence_labeling.py --do_train False --do_test False --do_infer True --batch_size 80 --word_emb_dim 768 --grnn_hidden_dim 768 --bigru_num 2   --use_cuda True  --init_checkpoint ./model_baseline/ --infer_data ./data/test.tsv --word_dict_path ./conf/word.dic --label_dict_path ./conf/tag.dic  --word_rep_dict_path ./conf/q2b.dic命令，对该模型进行预测，报错信息如下:
![image](

[2019-06-26 12:34] stard opened #2563 "利用stnet模型训练ufc-101数据出现过拟合，没有使用预训练模型。"
尝试调整学习速率、权重衰减系数、增加了剪切旋转视频输入的帧数据，最终得到的验证集合和训练集的准确率相差很大。
迭代到26代的时候已经相差50%啦。
+ End pass: 26, train_loss: 1.074, train_acc1: 0.705, train_acc5: 0.926
+ End pass: 26, test_loss: 11.127, test_acc1: 0.285, test_acc5: 0.515

+ End pass: 59, train_loss: 0.066, train_acc1: 0.983, train_acc5: 0.999
+ End pass: 59, test_loss: 7.522, test_acc1: 0.432, test_acc5: 0.676

辛苦看下有什么方法可以解决以上过拟合的情况。

[2019-06-26 13:18] imistyrain commented on #2548
我把初始的学习率降到0.01后解决了，但是那个python脚本里都是写死的，剪枝和量化需要的学习率并不一致(剪枝初始学习率0.1是可以的)，希望能改造下

[2019-06-26 13:33] wzzju commented on #2530
这个没有，主要是没有数据，那个数据不是公开的
https://github.com/PaddlePaddle/book/blob/788dc32a7f3eb742a495befde6632048a788f610/07.label_semantic_roles/README.cn.md
![image](https://user-images.githubusercontent.com/17102274/60184127-10551200-985a-11e9-85b4-bc8a3c317d79.png)

数据需要自己去申请使用。

[2019-06-26 15:15] wanghaoshuang commented on #2543
models repo提供的数据是自动生成的英文数据，主要有大小写字母和标点符号组成。

[2019-06-27 07:46] wopeizl commented on #2483
https://github.com/PaddlePaddle/models/pull/2575

[2019-06-27 07:53] JiaXiao243 commented on #2558
在PaddleCV/gan目录下，执行bash scripts/run_attgan.sh 对attgan模型进行训练, 在训练到epoch=75时，d_loss也输出为nan了。log如下所示:
![image](https://user-images.githubusercontent.com/37854899/60247765-d8021200-98f3-11e9-8e9e-6f6979164f82.png)

[2019-06-27 09:07] wopeizl commented on #2504
recall_topk内存占用过大，导致内存不足，需要优化此函数

[2019-06-27 11:10] heavengate commented on #2505
yolov3这种一阶段的检测器对于图像增强image_augment的要求很高，图像预处理流程非常复杂，程序中默认起了8个reader进程来读数据和预处理，不然的话会导致因数据读取较慢数据而影响训练速度，这是正常现象，如果你不希望CPU使用率高的话可以指定--use_multiprocess=Fasle来关闭多进程reader，但是不建议

[2019-06-27 11:24] yxzero commented on #2550
你好，改了之后还是不行
目前我注掉 exec_strategy.use_experimental_executor = True 就能训了

[2019-06-27 11:51] Haijunlv opened #2580 "yolov3 train with multi-process reader, then stuck at train process"
i use yolov3 with multi-process train reader.
train successfully first. But stuck at 15433 iter, almost 2 epochs
I did not do many changes except modifying reader to read xml annotation.
my model config is :
[code]
my dataset trainset includes 7088 images, 7 class nums.
my code is using branch develop yolov3.
paddle version is released paddle:1.4.1-gpu-cuda9.0-cudnn7 docker image.
environment is u

[2019-06-27 12:06] heavengate commented on #2580
用的models develop版本么，几卡训练的

[2019-06-27 12:10] xiangyubo commented on #2580
其实之前我也抱过类似的问题，也是训练 yolo，这种方式读取数据的时候，卡住

[2019-06-27 12:20] Haijunlv commented on #2580
代码用的是 develop 版本，paddle 版本是1.4.1, 2卡训练。

[2019-06-27 12:57] heavengate commented on #2580
![image](https://user-images.githubusercontent.com/12605721/60267852-b74eb200-991d-11e9-985f-3d446efd5909.png)
定位到所有reader进程退出，可能有如下两个方面的因素
1. 是否自实现reader有问题，可以设置--use_multiprocess=Fasle，reader里面报错就能打出来，确认是否为reader的问题
2. 确认机器上还有其他占CPU和显存的任务，yolov3的reader比较耗显存和CPU，可能出现竞争条件被操作系统kill，考虑到只使用了2卡，可以适当调小worker num和max_queue_size

[2019-06-27 13:26] #2465 closed, assigned to chengduoZH

[2019-06-27 13:59] gavin1332 commented on #2550
嗯，因现在分布式训练各模型配置较为混乱，随着时间推移，存在开关新增和弃用的情况，目前缺乏相关的整理。我们正在整理多机训练的建议配置，下个月会提供出来供大家参考

[2019-06-28 02:32] hlguo commented on #2331
好的，非常感谢啊！

[2019-06-28 05:45] hardphp opened #2591 "cycle_gan train.py 训练报错"
我的环境
padddle 版本 1.4.1
python版本：3.7
系统：centos7.4   两核4G
cpu 模式训练，报错如下，烦请大神给看下
![2569383d19cefb642b75c2d4d62cac5](https://user-images.githubusercontent.com/8262664/60319984-e52e0800-99aa-11e9-9f60-28dbeca1b2ce.png)
![ea8856bbb8e89d85f232d0c4096fd41](https://user-images.githubusercontent.com/8262664/60319985-e5c69e80-99aa-11e9-960b-e7a25c8f0804.png)

[2019-06-28 06:38] wangguibao commented on #2591
Hi，貌似batch数据里sample个数是2，网络目前只支持单样本，你改下feed数据试试

[2019-06-28 07:25] wang001 opened #2595 "transformer train windows下报错 paddle1.4.1 GPU版"
ParallelExecutor is deprecated. Please use CompiledProgram and Executor. CompiledProgram is a central place for optimization and Executor is the unified executor. Example can be found in compiler.py.
Traceback (most recent call last):
  File "E:/tmp/autoMaster/PaddleNLP/neural_machine_translation/transformer/train.py", line 774, in <module>
    train(args)
  File "E:/tmp/autoMaster/PaddleNLP/neura

[2019-06-28 07:54] JiaXiao243 commented on #2595
paddle==1.4.1，在windows上不支持parallel_executor，故无法跑该模型。从paddle==1.5开始，在window上支持parallel_executor。

[2019-06-28 08:12] wang001 commented on #2595
可是。。。。windows没有1.5.0

[2019-06-28 08:16] JiaXiao243 commented on #2595
大概1~2天后paddle1.5发版

[2019-06-28 08:17] wang001 commented on #2595
谢谢！

[2019-06-28 08:48] JiaXiao243 commented on #2591
设置一下这个就可以了:export CPU_NUM=1

[2019-06-28 10:36] #2595 closed, assigned to nobody

[2019-06-28 11:32] sandyhouse commented on #2071
Closing this issue.

[2019-06-28 11:32] #2071 closed, assigned to Yancey0623

[2019-06-28 11:55] miaozx opened #2606 "Paddle下面的LAC和baidu/lac的区别是什么？ c++版本需要自己根据paddle的接口去实现吗？"
Paddle下面的LAC和baidu/lac的区别是什么？ c++版本需要自己根据paddle的接口去实现吗？

[2019-06-29 08:28] githubusr1 opened #2615 "用的是哪个词典"
请问一下，OCR模型readme说明中有如下文字，文中说的词典在哪下载，我看了一下80是Q，但是ASII码Q是81，所以猜不出这个词典是哪个，请提供哪里下载。这个词典也应该包括中文。
----------------------------------------------------------------------------------------------------
在训练集中，每张图片对应的label是汉字在词典中的索引。 图1 对应的label如下所示：

80,84,68,82,83,72,78,77,68,67
在上边这个label中，80 表示字符Q的索引，67 表示英文字符D的索引。

[2019-06-29 08:38] githubusr1 opened #2616 "OCR运行错误，请问如何需要修改"
我运行了OCR模型，有如下错误信息，请问如何修改。说明一下，train.py改名为testtx3.py, 放到了E:\paddletest目录下，其他文件也复制过来，运行python testtx3.py,以下就是错误信息，文件train.py中只把use_cube改为False,其他没改。我的paddlepaddle是1.4.1版本，python是3.7.1版本。
-------------------------------------------------------------------------------------------------
-----------  Configuration Arguments -----------
average_window: 0.15
batch_size: 32
eval_period: 15000
init_model: N

[2019-06-30 06:45] wshongCola opened #2619 "lstm 第一个输出参数"
我在自己建立的语言模型中,使用了fluid.layers.lstm模块,但是模块的第一个输出和文档描述不同
![Screenshot from 2019-06-25 20-42-59](https://user-images.githubusercontent.com/29620676/60393279-71743280-9b45-11e9-86ff-bde7be402980.png)
![Screenshot from 2019-06-25 20-43-23](https://user-images.githubusercontent.com/29620676/60393280-720cc900-9b45-11e9-99d9-125587ae4118.png)
![Screenshot from 2019-06-25 20-43-39](https://user-images.githu

[2019-06-30 08:00] wang001 opened #2620 "transformer train运行时自动关闭"
[2019-06-30 15:55:14,971 INFO train.py:571] step_idx: 3000, epoch: 0, batch: 3000, avg loss: 2.779823, normalized loss: 1.634409, ppl: 16.116165, speed: 5.81 step/s
[2019-06-30 15:55:32,400 INFO train.py:571] step_idx: 3100, epoch: 0, batch: 3100, avg loss: 3.257778, normalized loss: 2.112365, ppl: 25.991724, speed: 5.74 step/s
[2019-06-30 15:55:49,902 INFO train.py:571] step_idx: 3200, epoch: 0,

[2019-06-30 08:13] wang001 commented on #2620
好像是因为某些sequence较长的原因，将batch由2048减少为1024没有出现这个问题。

[2019-06-30 08:14] #2620 closed, assigned to nobody

[2019-07-01 03:13] JiaXiao243 commented on #2558
在PaddleCV/gan目录下，执行bash scripts/run_stargan.sh 对stargan模型进行训练, 在训练到epoch=63时，g_loss、d_loss输出为nan了。log如下所示:
![image](https://user-images.githubusercontent.com/37854899/60408358-27e12180-9bf1-11e9-8dda-c9e37287622a.png)

[2019-07-01 03:39] intgogo opened #2631 "attention ocr infer报错"
[code]

[2019-07-01 03:48] gavin1332 commented on #2616
辛苦贴一下你使用的ocr模型的路径

[2019-07-01 03:48] gavin1332 commented on #2615
辛苦贴一下你使用的ocr模型的路径

[2019-07-01 04:39] bb9696aa commented on #1356
@xiaolv3366 谢谢，问题解决了。脚本一般默认应该写成0的，这里太坑了。

[2019-07-01 04:42] Haijunlv commented on #2580
用了2个gpu，每个gpu batch size=8，带4个 num worker, max_queue=8的情况下，开启 syncbn, mixup, 训练到11515个迭代时，训练依旧卡住。
此时根据 log, datareader 还在不断的迭代数据，一共比模型的迭代 Log多输出101次。但没有 model 训练的 log。
[code]

[2019-07-01 05:48] Xreki commented on #2619
您好，我按照您的代码试了一下，得到的结果和您的一样。请问您这个代码能正常训练吗？

另外，issue里面能否直接贴代码，不要截图，这样方便我们复现，谢谢~

[2019-07-01 06:06] wangguibao commented on #2606
Paddle下的LAC更新一些，推荐用PaddlePaddle下的LAC

预测的话需要自己根据paddle预测库接口实现

[2019-07-01 06:28] phlrain commented on #2619
这个好像触发了一个bug，当input_size 和 hidden_size 不一致的时候，rnn_out的 shape有问题，我们会马上修复一下

[2019-07-01 06:33] wshongCola commented on #2619
好的，非常感谢

在2019-07-01 14:29:08，Hongyu Liunotifications@github.com写道：

这个好像触发了一个bug，当input_size 和 hidden_size 不一致的时候，rnn_out的 shape有问题，我们会马上修复一下

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-07-01 06:44] wshongCola commented on #2619
您好，感谢您的测试和回复。现在代码还不能正常使用。以后提交issue我会注意的。发自我的华为手机-------- 原始邮件 --------主题：Re: [PaddlePaddle/models] lstm 第一个输出参数 (#2619)发件人：Yiqun Liu 收件人：PaddlePaddle/models 抄送：biebiewang ,Author 您好，我按照您的代码试了一下，得到的结果和您的一样。请问您这个代码能正常训练吗？

另外，issue里面能否直接贴代码，不要截图，这样方便我们复现，谢谢~

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2019-07-01 06:50] SunGaofeng commented on #2555
It's the error use of pickle.dump in python3, has been fixed in the newest code. Please check it.

[2019-07-01 06:56] githubusr1 commented on #2615
https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/ocr_recognition

[2019-07-01 06:57] githubusr1 commented on #2616
https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/ocr_recognition

[2019-07-01 07:03] intgogo opened #2638 "真是垃圾！不负垃圾百度之名！"
先说明下，最近刚发现百度这个开源项目，乍一看，CV的各种检测算法、分类模型、分割、文字识别、甚至是YOLO v3的支持，都让我心跳加速，恨没有早发现这个开源项目。怀着激动的心情，我开始了这段旅途~

第一步，自然是源码构建，立马就躺了一坑。因为我习惯是在build目录下，再创建debug和release目录用来分开构建。岂料，死活就是构建不成功，报个什么snappy头文件的错误，来这里找答案也是毫无线索。倒腾来倒腾去，最后竟然是因为这里只能在build目录下进行构建，你们说傻不傻逼的！

第二步，今天测试models/PaddleCV/ocr_recognition，ocr在github上开源的都比较零碎，质量不能说很高，比较好点的都是基于crnn+ctc的实现，但是在这里，我看到attention的实现貌似准确度要高不少，我果断的就先下载过来按照说明进行试验一番。结果立马又是一个坑，报个

[2019-07-01 07:12] intgogo commented on #2631
最后发现是图片只能用48像素高的

[2019-07-01 07:12] #2631 closed, assigned to nobody

[2019-07-01 07:48] imistyrain opened #2641 "paddleslim有基于检测模型进行量化的例子吗？"
[PaddleSlim](https://github.com/PaddlePaddle/models/tree/develop/PaddleSlim)里提供了不少诸如剪切、量化和蒸馏的案例，但他们都是分类的，有没有基于检测的案例，量化后map会降多少？有实验数据吗？

[2019-07-01 07:50] wanghaoshuang commented on #2641
非常抱歉，我们暂时没有做分类任务之外的实验，后续我们会添加相关benchmark.

[2019-07-01 07:58] shippingwang commented on #2638
你好，首先感谢你对paddlepaddle的关注，现在PaddleCV支持了更多更优秀的算法模型，

- 在源码构建上，建议参照[编译安装](http://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/beginners_guide/install/compile/fromsource.html) 官方流程，我们也在支持更多的安装形式。

- 对于易用性方面，我们会优化报错信息让用户更快的找到解决方案，对于这次出现“坎”的CV方向，我们也在抓紧建设。

让新用户更顺畅的上手paddlepaddle一直是我们努力追求的。
开源项目靠大家的奉献，感谢你的建议。

[2019-07-01 08:21] gavin1332 commented on #2616
@wanghaoshuang 有用户咨询ocr模型的问题，我看是报的windows平台的错误，请问现在ocr模型是否支持windows平台？如果支持的话，这个问题辛苦解答一下

[2019-07-01 08:23] gavin1332 commented on #2615
@wanghaoshuang 同样是ocr相关问题，辛苦解答

[2019-07-01 08:42] wanghaoshuang commented on #2616
@githubusr1 非常感谢反馈。

这个log的意思是某个op的input的类型不符合预期，应该是需要int64, 但是给的是int32.

但是window环境下没有给出调用栈，很难直观判断是哪个op的问题。

请问，你有修改models下的源码么？用的GPU还是CPU?

[2019-07-01 08:45] wanghaoshuang commented on #2615
你好，因为版权问题，我们在models repo下release的是自动生成的英文数据。没有release对应的字典。如果需要，你可以先从train dataset的label里统计出来字典。
@githubusr1

[2019-07-01 09:14] githubusr1 commented on #2616
没有修改源码，用的是CPU, 还需要我提供哪些信息请说，我马上提供给你。我试着改label数据为int64(原为int32),还是同样错误提示。

[2019-07-01 09:19] Xreki commented on #2638
您是不是哪里操作不对？我们从来没有限定只能在build目录下进行构建。我个人的工作目录是`Paddle`，构建目录在`Paddle/build_paddle`，生成的二进制文件在`Paddle/build_paddle/build_docker`。

[2019-07-01 09:21] sherylwang opened #2648 "训练及so预测时报错fuse_relu_before_depthwise_conv"
paddle fluid版本1.3. so预测时报错： in conv2d 'fuse_relu_before_depthwise_conv': False
![image](https://user-images.githubusercontent.com/10609885/60425142-7b209780-9c24-11e9-88d6-18de4520181e.png)

[2019-07-01 09:23] JiaXiao243 opened #2649 "windows上transformer infer报错"
在/PaddleNLP/neural_machine_translation/transformer路径下，执行python -u infer.py --src_vocab_fpath wmt16_ende_data_bpe_clean/vocab_all.bpe.32000 --trg_vocab_fpath wmt16_ende_data_bpe_clean/vocab_all.bpe.32000  --test_file_pattern wmt16_ende_data_bpe_clean/newstest2014.tok.bpe.32000.en-de  --batch_size 32 model_path base_model/iter_100000.infer.model beam_size 5 max_out_len 255，对模型进行预测，报错信息如下：
![transfor

[2019-07-01 09:28] githubusr1 commented on #2638
我试过外国人的github下项目，几乎没有一次成功的，也是很多很多问题，为啥对百度说的那么难听，给老外发issue,过几个星期才可能答复你，甚至没有答复，百度回复还是很快的，服务很好。其实还不是过去一两百年中国受到太多的外国的凌辱导致的的内心的民族自卑在作怪。我不是百度公司的。

[2019-07-01 09:33] kagome112 commented on #2638
@intgogo 您好，非常感谢您对飞桨（PaddlePaddle）的关注，抱歉我们给您带来了不好的使用体验，我们非常重视每个用户的提出的问题和建议
针对您遇到的问题，研发团队进行了分析，有以下结论：
1.源码编译的问题
考虑到源码编译对于大部分用户来说需要有一定的门槛（会有较多预想的不到的问题），为了最大程度保证用户能够编译成功，我们提供了一个官方建议方法，即我们在官方文档中建议的方式：在build文件夹之下进行编译，我们之后会在文档中进行更加详细的说明，避免用户产生疑惑
针对您编译不成功的问题，我们的研发同学未能进行复现，如果条件允许，我们希望能与您取得联系（您可以直接同我们的产品同学联系，微信：ifyoucare，或者留下您的手机、微信等联系方式），共同复现从而帮助我们更彻底的解决此问题
2.「attention ocr infer报错」问题
该问题是由于OCR Attention

[2019-07-01 09:33] shippingwang commented on #2648
@sherylwang 什么模型？

[2019-07-01 09:35] sherylwang commented on #2648
ResNet50_vd

[2019-07-01 09:47] SunGaofeng commented on #2563
跟stnet的原作者，一起建了个群，在讨论中

[2019-07-01 09:48] intgogo commented on #2638
@githubusr1 百度开源的paddle单从代码编程、功能涵盖面来看，确实属于国内佳品，也是因为这点我才对paddle跃跃欲试。我上面说得难听，出发点是因为遇到的两个问题，从发现到解决，实在感觉不值得（第一坑花了差不多1天时间，第二坑花了一上午）。
另外，百度搜索的盈利模式，给国人留下了不可磨灭的痛苦，特别对于我们程序猿而言。
并不完全是因为“过去一两百年中国受到太多的外国的凌辱导致的的内心的民族自卑在作怪”，而是作为国家担当的领头羊，竟然也在引领着“作恶”潮流，如何让我们这些内心深处尚怀良知的小程序猿，依然信任、依然自强呢？

[2019-07-01 09:55] intgogo commented on #2638
@Xreki @kagome112
不是基于docker的构建，而是直接构建。系统环境centos 7

[code]

[code]

[2019-07-01 09:57] bb9696aa opened #2651 "如何修改similarity_net中infer模式的模型output?"
我在使用预训练好的开源pairwise bow similarity_net，目前模型的ouput只有left_bow和pred这两个变量，我想修改模型的返回结果（如令其返回right_bow和pred）。
Readme中提到，可在../models/matching/中定制自己的模型，但我注意到这貌似只适用于training阶段。run_classifier.py中的infer模式甚至都没有调用../models/matching/bow.py，想问一下inference阶段模型的输出如何修改？

[2019-07-01 10:08] yxzero opened #2652 "load checkpoint error"
hi，load checkpoint error
![image](https://user-images.githubusercontent.com/5461637/60427942-5f1ff480-9c2a-11e9-9ad5-d6b9baa07330.png)

slurm log(http://yq01-sys-hic-v100-box-a223-0141.yq01.baidu.com:8388/v1/slurmjobs/49968/workspace)

save code
![image](https://user-images.githubusercontent.com/5461637/60427979-74951e80-9c2a-11e9-9ab4-addb99858535.png)
load code
![image](https://user-images.githu

[2019-07-01 10:16] kagome112 commented on #2638
@githubusr1  非常感谢您对飞桨（PaddlePaddle）的支持。飞桨正在快速迭代中，尚有多易用性问题待解决，我们希望和中国的开发者共同努力，打造出世界级的深度学习框架。欢迎和鼓励大家持续向我们反馈使用问题，帮助我们不断优化产品，诚挚的邀请你加入官方用户交流QQ群（432676488），能够与我们更方便的交流。

[2019-07-01 10:41] #2638 closed, assigned to nobody

[2019-07-01 10:58] wanghaoshuang commented on #2616
@githubusr1 我找到原因了:

https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ocr_recognition/crnn_ctc_model.py#L194
[code]

在`EditDistance`里调用了[elementwise_sub op](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/evaluator.py#L268), 如下：

[code]
其中，seq_num是int64的，但是seq_right_count是int32的，应该是`elementwise_sub` 或 `reduce_sum`的实现最近有更新，从而触发了这个之前没遇到过的问题。

## 临时解决办法

在你的python

[2019-07-01 10:59] wanghaoshuang commented on #2616
我进一步确认问题后，再给出更合理的解决方案和计划，多谢理解。

[2019-07-01 11:28] #2548 closed, assigned to wzzju

[2019-07-01 11:29] shippingwang commented on #2648
Note：更新了paddle后好用了

[2019-07-01 11:29] #2648 closed, assigned to nobody

[2019-07-01 11:58] adaxi123 commented on #2616
@githubusr1 Hi，同学。我是PaddlePaddle的运营小伙伴，我们这边在积极寻找Paddle的热心用户，并邀请他们加入到飞桨交流微信群。这样子第一时间就会收到线上线下活动的信息、更贴心的服务以及更好的paddle技术讨论小组。如果您这边感兴趣的话可以加我微信：zxy8811666 、我这边会拉你进群的。谢谢~

[2019-07-01 12:00] shippingwang commented on #2652
只save_persistables试试，把save_params的注释掉

[2019-07-01 12:19] xiegegege opened #2654 "PaddleDetection中的cascade模型CPU下训练报错"
使用paddle 1.5分支，在CPU下运行PaddleDetection中的cascade模型，有如下报错：
Traceback (most recent call last):
  File "tools/train.py", line 204, in <module>
    main()
  File "tools/train.py", line 159, in main
    outs = exe.run(train_compile_program, fetch_list=train_values)
  File "/opt/_internal/cpython-2.7.11-ucs2/lib/python2.7/site-packages/paddle/fluid/executor.py", line 665, in run
    return_numpy=return_nu

[2019-07-01 13:17] haokuan361 opened #2658 "使用PaddleVideo中的AttentionCluster模型做infer时的几个问题"
请教作者几个问题，感谢！
1.做视频分类时，我使用AttentionCluster模型做infer，结果保存在AttentionCluster_infer_result.pkl文件中，但是不明白里面的数字表示的含义，怎样得到所测视频的类别呢？
2.在paddlepaddle/paddle:latest-gpu-cuda9.0-cudnn7镜像制作的容器中运行infer.py.我将use_gpu设置为False时能正常运行，设置为True时报错如下：

[INFO: infer.py:  169]: Namespace(batch_size=1, config='configs/attention_cluster.txt', filelist='/data4/hk/docker-hk_paddle/models-master/PaddleCV/PaddleVideo/dataset/yout

[2019-07-01 13:20] yxzero commented on #2652
额，麻烦问下注掉理由是？一个save模型，一个save checkpoint；我在本地是好使的

[2019-07-01 13:27] shippingwang commented on #2658
1. 麻烦pkl结果发一下
2. 显存不够，看是不是被占用/调整下bs

[2019-07-01 13:35] haokuan361 commented on #2658
我的测试数据使用了youtube8m中的两个pkl文件，生成的pkl结果有点长，前100行如下：
(lp1
(S'Xd2L'
(lp2
F0.95115244388580322
aF0.951011061668396
aF0.91684919595718384
aF0.81684994697570801
aF0.7672392725944519
aF0.74662995338439941
aF0.63865840435028076
aF0.50132119655609131
aF0.026261042803525925
aF0.019499249756336212
aF0.014763141982257366
aF0.011197945103049278
aF0.0079709040001034737
aF0.0078201238065958023
aF0.0054084388539195

[2019-07-01 13:37] shippingwang commented on #2652
在本地运行时好的，在slurm上失败？

[2019-07-02 02:05] yxzero commented on #2652
是的呢，但是单机用的是pserver，集群用的是nccl2

[2019-07-02 02:33] Alucardmini opened #2660 "gnn工程里network的batch_size 问题"
![image](https://user-images.githubusercontent.com/8130720/60478239-87543580-9cb4-11e9-81e4-ddf9e5219f62.png)

现在这个batch_size 需要外面传参数进来， 为什么不可以像Tensorflow一样 传None或者-1根据数据量来动态适应。    因为我在使用预测的时候 可能一条数据一条数据的进行预测。

[2019-07-02 02:50] xiegegege opened #2661 "PaddleDetection中的Mask-RCNN-FPN训练出的模型可能效果很差"
在paddle1.5分支下，Cuda9 Cudnn7下训练Mask-RCNN-FPN模型，训练最后的log会有些异常，loss_bbox值很小。训练得到模型test效果很差。
<img width="634" alt="e6c8cfdc0b1f13c3fc83f89eeba51a83" src="https://user-images.githubusercontent.com/46314656/60479064-16624d00-9cb7-11e9-903e-a7983fdf34ea.png">

[2019-07-02 03:19] heavengate commented on #2660
您好，由于模型构建过程中需要使用reshape等操作需要batch size信息，所以这里传入了batch size，如果你是在预测时，infer脚本有--batch_size操作，可以通过python infer.py --batch_size=1来指定进行一条数据一条数据的预测

[2019-07-02 03:31] Alucardmini commented on #2660
感谢您的回答。
但是我在测试数据上训练的时候batch_size设置为30， 在执行infer.py时设置batch_size 为1的时候报错：
![image](https://user-images.githubusercontent.com/8130720/60480661-f0d84200-9cbc-11e9-9863-0ceb37ab0554.png)
设置成30才能执行成功

[2019-07-02 03:32] imistyrain opened #2662 "PaddleSlim中的compress.py是基于哪个train.py改写的？"
目前image_classification和ssd的[train.py](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ssd/train.py)均使用了py_reader进行异步读取的，而[compress.py](https://github.com/PaddlePaddle/models/blob/develop/PaddleSlim/compress.py)中使用的Compressor其内部实现还是同步的方式，如何将预训练模型中的py_reader节点改造成能适应同步读入的方式？

[2019-07-02 03:34] Alucardmini commented on #2660
而且我发现单条数据*30后也可以执行，不过这样好蠢啊
![image](https://user-images.githubusercontent.com/8130720/60480764-5fb59b00-9cbd-11e9-9906-04f1895f6acf.png)

[2019-07-02 03:42] githubusr1 commented on #2616
改了之后，可以运行了，非常感谢。以后有更好的解决方案和计划，如果这个帖子关闭后不能发消息了，就发到我的邮箱: wzcj2016@126.com,  谢谢。

[2019-07-02 03:42] #2616 closed, assigned to gavin1332, wanghaoshuang

[2019-07-02 03:43] #2615 closed, assigned to gavin1332, wanghaoshuang

[2019-07-02 03:44] wanghaoshuang commented on #2662
Compressor里支持py_reader. 这个例子用的就是py_reader: https://github.com/PaddlePaddle/models/blob/develop/PaddleSlim/light_nas/search.py#L44

[2019-07-02 04:07] haokuan361 commented on #2658
我刚接触视频分类，想用PaddleVideo项目尝试一下。我首先通过infer来看分类效果，目前的实现是输入带标签的pkl，输出也是pkl，无法将视频与标签一一对应从而直观的看效果。对于用模型infer的代码，我的理解是应该输入不带标签的视频，输出此视频的分类结果，这样比较直观。请教如何实现输入输出的格式转换？

[2019-07-02 04:18] qingqing01 commented on #2654
@sunxiaolong Please look at this question.

[2019-07-02 05:58] DianaZhang commented on #2543
是的，包含有大小写字母、数字、标点符号，但是提供的数据集当中，只有字母和数字，只使用到了字典的15到89编号的这一部分。那么提供的预训练模型是否就只是使用这一部分字典训练得到？整个95个字符包含哪些，顺序是什么呢？

[2019-07-02 06:10] 930083287 opened #2667 "文本检测相关模型库"
请问是否有已经实现的paddle文本检测相关模型库，如CTPN，east等文本检测模型？

[2019-07-02 06:25] heavengate commented on #2667
没有开源CTPN，east模型，可以参考一下以下模型
1. Paddle 1.5发布了检测库PaddleDetection https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/PaddleDetection ， 支持Faster/Mask RCNN+FPN/Cascade,YOLO,SSD，支持切换backbone等，可以参考一下有没有你需要的
2. Paddle有ocr_recognition模型，看看能否满足你的需求 https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/ocr_recognition

[2019-07-02 06:27] SunGaofeng commented on #2658
1、目前输出的pkl结果是这样的：
     [(视频id，top20预测概率，top20对应的标签编号)，...]
     这样子确实看上去不直观，后续我们会修改下infer部分的代码，直接将预测的类别输出来。
2、GPU inference报错的问题，看错误提示信息是显存不够，按我们的经验，attention cluster占显存是比较小的，您能看下显卡的具体型号吗，或者看下是不是有其他任务占用显存了？

[2019-07-02 06:39] liuzengzhen1 opened #2668 "win 10根据文档描述启动train.py 断言报错"
-----------  Configuration Arguments -----------
ap_version: 11point
batch_size: 64
data_dir: data/pascalvoc
dataset: 'pascalvoc'
enable_ce: False
epoc_num: 120
image_shape: 3,300,300
learning_rate: 0.001
mean_BGR: 127.5,127.5,127.5
model_save_dir: model
parallel: True
pretrained_model: 'pretrained/ssd_mobilenet_v1_coco/'
use_gpu: 0
------------------------------------------------

Traceback (most

[2019-07-02 06:40] JiaXiao243 opened #2669 "PaddleGAN中attgan保存模型报错"
在在PaddleCV/PaddleGAN目录中，执行bash scripts/run_attgan.sh，对attgan模型进行训练，在保存模型时报错，报错信息如下:
![image](https://user-images.githubusercontent.com/37854899/60489578-415c9900-9cd7-11e9-8d29-e66c13b6d143.png)

[2019-07-02 06:52] heavengate commented on #2668
感觉像是编码格式的问题
1. 可以在train.py 292行前把dataset print出来看下，dataset被解析成了啥
2. configuration arguments有些奇怪，model_save_dir: model和data_dir: data/pascalvoc没有带‘’符号，dataset: 'pascalvoc'的pascal带了''，确认下是否改动了代码

[2019-07-02 07:02] JiaXiao243 commented on #2668
window上加载模型进行训练的时候，需要去掉--dataset=‘pascalvoc’的双引号

[2019-07-02 07:04] liuzengzhen1 commented on #2668
是哒，解决了谢谢各位

[2019-07-02 07:07] #2668 closed, assigned to heavengate

[2019-07-02 07:26] #2669 closed, assigned to ceci3

[2019-07-02 07:45] cassiaaaaaa opened #2674 "请问预训练模型后缀的vc,vd是什么意思？"
比如ResNet50_vd

[2019-07-02 08:01] jerrywgz commented on #2674
ResNet_vd相当于ResNet-D，是ResNet原始结构的变种，不同版本的resnet可以参考下图：
![image](https://user-images.githubusercontent.com/22989727/60495066-a4076200-9ce2-11e9-8888-b70230a17f17.png)

[2019-07-02 08:02] jerrywgz commented on #2674
paper地址：https://arxiv.org/pdf/1812.01187.pdf

[2019-07-02 08:06] cassiaaaaaa commented on #2674
多谢解答！

[2019-07-02 08:07] cassiaaaaaa commented on #2674
好人一生平安

[2019-07-02 08:24] heavengate commented on #2674
鉴于问题已经解决，当前issue关闭，感谢对PaddlePaddle的支持~

[2019-07-02 08:24] #2674 closed, assigned to jerrywgz

[2019-07-02 09:30] hutuxian commented on #2660
Thanks for your attention.
We plan to optimize this sooner after fully testing.
For variable batch size, you can refer to: https://github.com/PaddlePaddle/models/pull/2676/files
Any further questions are welcome and appreciated.

[2019-07-02 11:20] xiegegege opened #2678 "视频库中CTCN在python3.6下无法加载数据"
在python3.6下，视频库中CTCN会无法正确加载数据，然后异常退出：
[INFO: ctcn_reader.py:  391]: Error when loading E0xXymnjDkc
[INFO: ctcn_reader.py:  391]: Error when loading _6mQ9_DQr0Q
[INFO: ctcn_reader.py:  391]: Error when loading WmOTDAim7XM
[INFO: ctcn_reader.py:  391]: Error when loading vMdSEzQkRTg
[INFO: ctcn_reader.py:  391]: Error when loading YmGXXV6ztUo
[INFO: ctcn_reader.py:  391]: Error when loading 0EDEA8dZ

[2019-07-02 12:14] xiegegege opened #2680 "视频库中CTCN训练ctr+c退出后显卡无法释放"
视频库中CTCN模型在训练时ctr+c退出后，显卡占用无法自动释放，且kill不掉相关进程。
<img width="669" alt="39156a3cfe2c63eb11b4cee114f679c0" src="https://user-images.githubusercontent.com/46314656/60511957-daa2a400-9d05-11e9-896b-077a7ba32153.png">

[2019-07-02 12:18] SunGaofeng commented on #2678
Yes, it's due to pickle.load in python3 different with python2
pr has been merged to fix this, please check it

[2019-07-02 12:45] SunGaofeng commented on #2680
Yes, this should be fixed by killing process group when receive signal.SIGINT

[2019-07-02 12:45] imistyrain opened #2682 "paddle.fluid.core_avx.EnforceNotMet: Enforce failed. Expected end > start, but received end:1917 <= start:1917."
用ssd训练的一个二分类的检测网络，用save_persistables保存模型，使用load_persistable加载报错，但是把该模型用save_inference_model转成inference模型后可以正常使用.
[code]

[2019-07-02 12:48] imistyrain commented on #2680
ps aux | grep python 找到相关的进程，一个个杀掉

[2019-07-02 12:49] heavengate commented on #2682
报错原因为Slice op传入的slice范围[start, end] start=end，请确认一下调用fluid.layers.slice的相关代码

[2019-07-02 12:54] imistyrain commented on #2682
那为啥infer的模型没问题呢？不记得代码里写slice_op，用的就是mobilenet-ssd的模型

[2019-07-02 13:14] heavengate commented on #2682
麻烦贴一下主要代码，确认一下paddle等版本信息

[2019-07-02 13:19] imistyrain commented on #2682
paddle版本1.5

[2019-07-02 13:26] #2680 closed, assigned to SunGaofeng

[2019-07-02 13:26] #2678 closed, assigned to SunGaofeng

[2019-07-02 16:51] scharron commented on #1308
However this magic does not work in all cases. In my case, I have a lot of our of memory errors because of images too big after going throw this magic.
It seems that the memory used is proportionnal to the image size (height and width).
So, we could probably have a formula that only depends on image size and available memory to avoid these errors, don't you think ?

[2019-07-03 02:52] SunChao3555 opened #2684 "paddleCV/ssd training error ： Local variable 'test_map' referenced before assignment"
/home/sunchao/anaconda3/envs/python35/bin/python3.5 /home/sunchao/models-develop/PaddleCV/ssd/train.py

[code]

[2019-07-03 03:33] zhengya01 opened #2686 "文档有误"
PaddleNLP/unarchived/neural_machine_translation/rnn_search/

run.sh包含训练程序的主函数，要使用默认参数开始训练，只需要简单地执行：
python run.sh

python infer.sh

[2019-07-03 03:47] zhengya01 opened #2687 "翻译模型/rnn_search在paddle1.4版本上运行报错"
文档：
[运行本目录下的范例模型需要安装PaddlePaddle Fluid 1.0版。]

paddle1.4版本运行报错：
 python train.py --src_lang en --tar_lang vi --attention True --num_layers 2 --hidden_size 512 --src_vocab_size 17191 --tar_vocab_size 7709 --batch_size 128 --dropout 0.2 --init_scale 0.1 --max_grad_norm 5.0 --train_data_prefix data/en-vi/train --eval_data_prefix data/en-vi/tst2012 --test_data_prefix data/en-vi/tst2013 --vocab_prefix

[2019-07-03 05:07] kolinwei commented on #2687
@phlrain
https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/unarchived/neural_machine_translation/rnn_search
readme里面得改下

[2019-07-03 05:32] bobkentt opened #2688 "文档有误"
https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/dialogue_model_toolkit

dialogue_general_understanding: 通用对话理解模型，支持意图识别、**槽位时别**、匹配、对话状态追踪、对话行为识别等对话模型训练；

有错别字

[2019-07-03 06:03] imistyrain commented on #2682
已找到原因，可正常加载，具体为fetch的时候一定要加[]
即
[code]
而不是
[code]

[2019-07-03 06:03] #2682 closed, assigned to heavengate

[2019-07-03 06:19] imistyrain commented on #2641
看到[PaddleDetection](https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/PaddleDetection)todo list中提到int8的支持，这个有时间表了没？

[2019-07-03 06:41] #2550 closed, assigned to gavin1332

[2019-07-03 06:49] imistyrain opened #2689 "'DetectionMAP' object has no attribute 'name'"
在使用[PaddleSlim](https://github.com/PaddlePaddle/models/blob/develop/PaddleSlim/compress.py)量化检测模型时，需要拿到test_program的输出，但是提示'DetectionMAP' object has no attribute 'name'.
[code]

[2019-07-03 06:58] jiayifang1 commented on #2504
你好，我在训练过程中也出现了”MemoryError“的问题，请问你的这个问题解决了吗？具体怎样优化函数呢

[2019-07-03 07:01] wanghaoshuang commented on #2689
[DetectionMAP](http://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/metrics_cn.html#detectionmap)本身不是Variable类型，所以没有name属性。DetectionMAP相当于一个累计器，可以通过
[code]
获得累计的variables, 然后将cur_map交给fetch list

[code]

[2019-07-03 07:13] imistyrain commented on #2689
嗯，这个问题解决了，又出新问题了:
[code]

代码:
[code]

[2019-07-03 08:17] imistyrain opened #2692 "PaddleSlim 量化检测 代码"
基于[ssd](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ssd/train.py)和[quant_low_level_api](https://github.com/PaddlePaddle/models/tree/develop/PaddleSlim/quant_low_level_api)改的，大佬帮忙看下有啥问题没?

[2019-07-03 09:16] wanghaoshuang commented on #2692
看起来没什么问题

[2019-07-03 11:29] liuzengzhen1 opened #2706 "windows10 SSD model 添加自定义训练集预测出错"
下载官网SSD模型根据PASCAL数据集的格式上上传相关训练数据，修改label_list文本改写为：
background
newType
并修改train_parameters =  里数据集class_num 等于2
训练调用参数如下：

[code]

是我再更换数据集的时候有参数没有修改导致还是什么原因，请求支援

[2019-07-03 11:37] #2555 closed, assigned to SunGaofeng

[2019-07-03 12:54] liupluswei commented on #2374
@yiakwy 之前在忙着发版的事情，所以您这个问题跟PM商量之后稍微搁置了一下。 我今天重新debug了一下这个问题：
1. 首先关于您的疑问Paddle的显存什么时候释放的问题, 正常来讲Paddle的cuda free是在内部的显存Allocator析构的时候调用，而Allocator是在python 进程结束的时候析构.
2. 目前最简单的workaround应该是调用numba 的cuda接口来主动释放显存：
    from numba import cuda
    cuda.selecte_device(0)
    cuda.close()

    示例：
![image](https://user-images.githubusercontent.com/46661762/60592692-c2995600-9dd3-11e9-99c7-dea29a2b132f.pn

[2019-07-03 12:54] #2374 closed, assigned to nobody

[2019-07-04 01:34] junjun315 commented on #2688
感谢反馈。我们更新一下。

[2019-07-04 02:31] imistyrain opened #2709 "如何用save_inference_model保存int8的模型"
用PaddleSlim量化得到了int8的模型，但是还是和save_vars类似由很多文件组成，调用save_inference_model时报错，提示holder_ should not be null

[2019-07-04 02:40] junjun315 commented on #2709
请问使用的paddle版本是多少？

[2019-07-04 02:40] imistyrain commented on #2709
1.5

[2019-07-04 02:58] junjun315 commented on #2709
`test_prog` 这个参数，应该是进行量化训练时的 `test_prog`, 因为量化过程有一些剪枝操作，会删除一些参数。如果program不对的话，就会报出日志里说的找不到tensor

[2019-07-04 03:28] imistyrain commented on #2709
刚看了下保存int8的代码就是用save_inference_model保存的，但是加载的话用load_inference_model好像不行，提示Expected input_data_type == filter_data_type, but received input_data_type:5 != filter_data_type:21

[2019-07-04 05:04] qingqing01 commented on #2641
@imistyrain 这个我们还在计划，抱歉，暂时无法给出明确的时间~

[2019-07-04 05:51] wanghaoshuang commented on #2709
@imistyrain 你好，PaddleSlim 的量化训练功能支持保存三种模型格式：

- float_model_save_path: 保存float数据格式模型的路径。模型weight的实际大小在int8可表示范围内，但是是以float格式存储的。如果设置为None, 则不存储float格式的模型。默认为None.
- int8_model_save_path: 保存int8数据格式模型的路径。如果设置为None, 则不存储int8格式的模型。默认为None.
- mobile_model_save_path: 保存兼容paddle-mobile框架的模型的路径。如果设置为None, 则不存储mobile格式的模型。默认为None.

其中，int8_model是不能用Paddle框架来直接加载使用的，因为Paddle框架没有实现int8数值计算的op（后续有计划添加）。

目前，

[2019-07-04 07:23] #2692 closed, assigned to wanghaoshuang

[2019-07-04 07:25] imistyrain commented on #2689
train_reader=train_reader应改为train_py_reader, eval_reader=test_reader,应改为test_py_reader.

[2019-07-04 07:25] #2689 closed, assigned to wanghaoshuang

[2019-07-04 08:44] xiegegege opened #2718 "PaddleDetection eval 当权重路径不存在不会停止运行"
PaddleDetection eval 当权重路径不存在时程序没有停止，依然在进行评估。
<img width="908" alt="72d271f5229020ee778fbf9a034ede84" src="https://user-images.githubusercontent.com/46314656/60652287-8d940e80-9e7a-11e9-86aa-42982d51c29b.png">

[2019-07-04 09:28] #2718 closed, assigned to nobody

[2019-07-04 10:33] qingqing01 commented on #2706
我理解下，您是训练好模型之后，做infer吗？ 训练是否正常？ infer.py里的num_classes改了吗？

[2019-07-04 11:01] #2641 closed, assigned to nobody

[2019-07-04 11:01] #2662 closed, assigned to wanghaoshuang

[2019-07-04 11:03] #2709 closed, assigned to junjun315, wanghaoshuang

[2019-07-04 12:47] phlrain commented on #2619
https://github.com/PaddlePaddle/Paddle/pull/18492

[2019-07-04 13:28] #2619 closed, assigned to Xreki

[2019-07-05 01:51] liuzengzhen1 commented on #2706
@qingqing01 谢谢提醒的确是num_class 没有改导致的问题，上面问题已经解决，训练可以正常执行，但是精度很低，请问SSD模型换成自己的数据集至少需要什么数量级的图片可以达到相对比较高的精度，以及训练轮次epoc_num的设定，第一次用模型训练麻烦您根据您的经验指导下谢谢啦

[2019-07-05 02:35] imistyrain opened #2725 "icnet 存在的几个问题"
[icnet](https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/icnet)里存在诸多问题:
1.文档有误，--model_path="./cnkpnt/100"应该是--model_path="./chkpnt/100"
2.训练时没有输出中间过程信息，仅在最后输出几个loss信息
3.文档中给的预训练模型无法用于infer，能提供下训好的cnkpnt/100模型吗？

[2019-07-05 02:50] qingqing01 commented on #2706
@liuzengzhen1

复杂场景，一般每个类别上千张图片，简单场景，一般每个类别上百张图片。建议您加载预训练模型来fine-tune。

[2019-07-05 03:07] qingqing01 commented on #2684
@SunChao3555  Sorry,  there is no problem in our enviroment. I update code in https://github.com/PaddlePaddle/models/pull/2727 , please try again.

And, we also release PaddleDetection, a unify detection framework, which also support SSD.

[2019-07-05 03:25] SunChao3555 commented on #2684
谢谢，我再试试！

[2019-07-05 03:25] #2684 closed, assigned to qingqing01

[2019-07-05 08:27] #2479 closed, assigned to qingqing01, sneaxiy

[2019-07-05 08:48] houj04 opened #2742 "文档有误"
这个文档：
https://github.com/PaddlePaddle/models/blob/develop/PaddleSlim/docs/tutorial.md
1、里面有多处公式渲染不正确：
![图片](https://user-images.githubusercontent.com/35131887/60710113-876a6480-9f44-11e9-842f-4abfc4e3e63b.png)
2、文章4.2节的配图丢失，疑似链接有误：
写的是images/tutorial/light-nas-block.png
但是实际应该是images/light-nas-block.png

[2019-07-06 03:36] daniellibin opened #2744 "ocr_recognition运行报错"
RuntimeError: E:/release_cuda87/build_python35_CPU_MKL/third_party/install/warpctc/lib/warpctc.dll not found.

[2019-07-06 05:44] daniellibin commented on #2616
在win10用CPU跑train.py报错
RuntimeError: E:/release_cuda87/build_python35_CPU_MKL/third_party/install/warpctc/lib/warpctc.dll not found.
请问是什么问题？
@githubusr1 @gavin1332 @wanghaoshuang @adaxi123 @Superjomn
非常感谢各位的解答

[2019-07-07 05:54] SunGaofeng commented on #2744
多谢指出问题，我这边先验证下了回复您

[2019-07-08 02:29] DDDivano commented on #2744
您好，ocr使用的是官方模型吗？是执行的什么运行命令报的这个错误呢？

[2019-07-08 05:43] wopeizl commented on #2744
是什么情况下出现的这个错误，是否可以复现？复现的方式方便告知一下么？

[2019-07-08 06:39] lixiangchun opened #2748 "attentionlstm"

[2019-07-08 06:41] #2748 closed, assigned to nobody

[2019-07-08 08:50] daniellibin commented on #2744
是在github上下载的官方模型，执行train.py是出现的错误。
环境win10+CPU

[2019-07-08 08:50] daniellibin commented on #2744
可以复现，就是运行train.py就会报这个错误。

[2019-07-08 08:52] daniellibin commented on #2744
![image](https://user-images.githubusercontent.com/40522116/60796839-c4329780-a1a0-11e9-9af2-d19f58a3da1b.png)
@wopeizl  @DDDivano
感谢各位的帮助~

[2019-07-08 08:53] L-lei opened #2749 "yolov3预测错误"
Connected to pydev debugger (build 191.7479.19)
-----------  Configuration Arguments -----------
batch_size: 2
class_num: 4
data_dir: /home/chenlei/dataset/voc/dianmian
dataset: coco2017
debug: True
draw_thresh: 0.5
enable_ce: False
image_name: 165.jpg
image_path: image/
input_size: 608
label_smooth: True
learning_rate: 0.001
max_iter: 50020
model_save_dir: checkpoints
nms_posk: 100
nms_thresh: 0.

[2019-07-08 09:06] sandyhouse commented on #2749
参见报错信息：Enforce failed. Expected dim_x[1] == anchor_num * (5 + class_num), but received dim_x[1]:255 != anchor_num * (5 + class_num):27. dim_x[1]的值（255）和anchor_num * (5 + class_num)的值（27）不相等，排查下数据和代码吧。

[2019-07-08 09:07] JiaXiao243 opened #2750 "attgan设置batch_size=1 infer报错"
在 PaddleGAN目录下执行python infer.py --batch_size 1 --model_net AttGAN --init_model output_attgan/checkpoints/40/ --dataset_dir "data/celeba/" --image_size 128 --output infer_attgan，对该模型进行预测报错信息如下：
![image](https://user-images.githubusercontent.com/37854899/60797756-7cad0b00-a1a2-11e9-9992-2c5618012867.png)
infer的batch_size设置为其他值，可以正常infer。

[2019-07-08 09:14] L-lei commented on #2749
好的，谢谢，其实我感觉是数据格式问题导致的，但是测试、预测处理数据代码用的是同一部分的，我再仔细对比下训练的数据处理代码

[2019-07-08 10:14] chaosfish opened #2751 "Lac 模型,加载用户词典后，处理包含字符" /"字符串崩溃。"
### 出错代码

[code]
输出结果
[code]

### 不加载用户字典，代码行为正常
[code]
正常输出
[code]

[2019-07-08 11:32] #2558 closed, assigned to ceci3

[2019-07-08 11:42] Knightsll opened #2754 "yolo v3 在训练过程中会卡死"
ubuntu 16.04
paddlepaddle-1.5.0
RTX 2080Ti
执行命令 python train.py --model_save_dir output/ --pretrain weights/ --data_dir dataset/coco/ --class_num 80 --batch_size 4 --learning_rate 0.0001
在训练过程中卡死，请问是出了什么问题
-----------  Configuration Arguments -----------
batch_size: 4
class_num: 80
data_dir: dataset/coco/
dataset: coco2017
debug: False
draw_thresh: 0.5
enable_ce: False
image_name: None
image_path:

[2019-07-08 11:47] mzchtx opened #2755 "fp16 训练分类模型 hang 住"
### 环境

+ paddle 版本：1.5.0.post97
+ python: 2.7
+ 代码：[image_classification](https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/image_classification)

#### 问题1

[utility.py](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/utils/utility.py#L75) 此处缩进有问题，多了一个空格，会报错：

[code]

#### 问题2

[train.py](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ima

[2019-07-08 13:03] sandyhouse commented on #2751
使用和不使用user_dict会执行不同的代码路径。从报错信息看，应该是文本中有'/'导致执行语句word, tag = phrase.split("/")时出错（应该是phrase中包含多个‘/’符号导致的）。一种解决方法是对文本中的‘/’符号进行转换，处理完成后再转换回来。

[2019-07-08 14:24] heavengate commented on #2187
两个问题：
1. 报错退出问题为conv2d的cudnn kernel中新引入使用了cudnnGetConvolutionForwardAlgorithm_v7这个接口，这个接口的cudnn底层实现可能bug导致报错退出
2. 出nan的问题定位为是inception的conv3x3和conv5x5如果同时use_cudnn=True的话会出nan，其中一个use_cudnn=False的话就不会出nan，待进一步定位是框架处理的问题还是cudnn底层的问题

[2019-07-08 15:49] sandyhouse commented on #2754
我本地没有复现hang住的问题，再p40机器上可以正常运行。你试试export GLOG_v=10,贴一下日志信息。

[2019-07-08 15:55] sandyhouse commented on #2755
问题1，2已修复。

[2019-07-08 16:12] Knightsll commented on #2754
谢谢，问题已解决了，由于我是单机单卡，在参数设置另面需要加上--use_multiprocess False

[2019-07-08 16:15] sandyhouse commented on #2754
Closing this issue. Reopen it if you have any further question.

[2019-07-08 16:15] sandyhouse commented on #2754
Closing this issue. Reopen it if you have any further question.

[2019-07-08 16:15] #2754 closed, assigned to nobody

[2019-07-09 02:13] sandyhouse commented on #2755
问题3我在本地没有复现，能否提供更多的信息 @mzchtx

[2019-07-09 03:55] cuicheng01 opened #2762 "so，tensorRT对小网络以及nas网络支持不友好"
实测MobileNetV2的FLOPs只有MobileNetV1的一半，ShuffleNetV2更少一些，但是无论是so还是tensorRT，ShuffleNet和MobileNet的infer时间都会更长。另外，最近测试mnasnet和EfficientNet，速度也不行，在FLOPs明显降低很多的情况下速度还是太慢。还有一点，在非relu激活函数的网络里，tensorRT往往表现的比so预测更慢一些。希望tensorRT尽快支持对MobileNetV2，ShuffleNetV2，Nas系列的支持，也希望支持更多常见的激活函数。

[2019-07-09 04:32] xiegegege opened #2763 "multiview_simnet模型运行准确率没有提升"
multiview_simnet直接运行python train.py，在运行完10个epoch后，准确率跟初始值差不多，没有提升。
<img width="693" alt="8f9430940cb5b7d62e9820136631b13f" src="https://user-images.githubusercontent.com/46314656/60859475-673ced00-a245-11e9-9346-405585eca7ab.png">

[2019-07-09 06:30] fupeng opened #2765 "hub run lac和 “AI开放平台-词法分析“线上体验输出结果不一样？"
hub run lac --input_text "美批准售台百辆M1A2坦克 价值20亿美元"
[{'word': ['美批准', '售', '台', '百辆', 'M1A2坦克', ' ', '价值', '20亿美元'], 'tag': ['ORG', 'v', 'n', 'm', 'nz', 'w', 'n', 'm']}]

AI开放平台-词法分析 线上体验 https://ai.baidu.com/tech/nlp/lexical
输出： 美 ns 批准 v 售 v 台 n 百辆 m M1A2坦克 nz 价值 n 20亿美元 m

[2019-07-09 06:57] chaosfish commented on #2751
请问这段代码在什么位置,这部分是开源的吗？
[code]
我在PaddlePaddle/models中没找到相关代码。
要是知道在什么位置，我也可以提个patch，帮忙修复这个问题。

[2019-07-09 07:44] xiegegege commented on #2763
#2766

[2019-07-09 07:44] #2763 closed, assigned to nobody

[2019-07-09 08:07] SunGaofeng commented on #2744
@daniellibin  根据您贴的错误信息，是找不到动态库文件warpctc.dll，我在windows的机器上试了下，使用pip install paddlepaddle_gpu安装完paddle之后，在paddle的安装目录C:\Python35\Lib\site-packages\paddle\libs下面可以看到warpctc.dll，需要将此目录添加到windows系统PATH环境变量。

另外，需要跟您说明的是，目前我们ocr_recognition的代码，reader部分暂时不支持windows，没法在windows系统下运行，后面我们会进行修改以兼容windows。目前要用的话，能麻烦您在linux系统下用吗？

[2019-07-09 08:09] daniellibin commented on #2744
好的，非常感谢您的解答。谢谢

[2019-07-09 08:33] Steffy-zxf commented on #2751
感谢反馈！这个问题是PaddleHub lac Module 加载用户词典时出现的问题。建议

[2019-07-09 08:44] Steffy-zxf commented on #2751
@chaosfish 感谢反馈！@sandyhouse 感谢帮忙解答！
这个问题是PaddleHub Module Lac 处理运行结果的BUG，这个问题正在修复。欢迎在PaddleHub仓库下https://github.com/PaddlePaddle/PaddleHub
提意见！

[2019-07-09 09:00] Steffy-zxf commented on #2765
感谢反馈！PaddleHub Module Lac 和 AI开放平台的词法分析模型确实不一样，所以出现预测结果不一致的问题是正常的。如果觉得这个是一个bad case，可以试试PaddleHub Module Lac最新版本支持词典干预功能。欢迎在PaddleHub仓库 https://github.com/PaddlePaddle/PaddleHub 下提意见。

[2019-07-09 09:38] fupeng commented on #2765
是不是说PaddleHub Module比AI开放平台的效果要差一些？

模型 | Precision | Recall | F1-score
-- | -- | -- | --
Lexical Analysis | 88.0% | 88.7% | 88.4%
BERT finetuned | 90.2% | 90.4% | 90.3%
ERNIE finetuned | 92.0% | 92.0% | 92.0%

能否使用PaddleHub的ERNIE达到同样的结果？

我是看到lac介绍网页的源码指向这个仓库，所以issue提这里了。

[2019-07-09 09:39] searchlink opened #2768 "gnn的一些疑问"
感谢提供paddle的实现， 目前在复现过程中遇到一些问题. 在文件夹`PaddleRec\gnn`
1.首先`reader.py中make_data()函数的定义`，关于label.append(e[1] - 1)中，为什么需要对label减1这样处理
2.关于`network.py中network()函数的定义`, 关于gnn多步传播的过程中，关于step>1的计算shape疑问。
[code]
当 `step>1, i =0` , 此时`pre_state：[batch_size, uniq_max, hidden_size]`, 经过GRU之后的`pre_state`输出:  `[batch_size, hidden_size]`.
当i=1时， 此时`pre_state： [batch_size, 1, hidden_size]`，`adj_in: [batch_size, un

[2019-07-09 10:11] L-lei commented on #2749
报错原因找到了，是由于使用的自己的数据集。coco本身80类别，(80+5)*3=255,我并没有找到有关公式的内容或者255，可以再哪里改呢
![TIM图片20190709181004](https://user-images.githubusercontent.com/33341167/60879771-e269c780-a274-11e9-8639-3fe47eb68589.png)

[2019-07-09 10:26] Steffy-zxf commented on #2765
由于PaddleHub Module Lac 和 AI开放平台的词法分析模型预训练数据集以及词汇表不相同等因素，所以会造成一定的差异。同样地，AI开放平台的词法分析模型也会存在一些bad case。目前PaddleHub还没有开放基于ERNIE FineTune的LAC，不过您可以尝试下我们PaddleHub Module Lac最新版本支持词典干预功能，同样可以解决上述bad case。

[2019-07-09 12:18] xiegegege opened #2769 "auto_dialogue_evaluation的训练实际没有执行"
auto_dialogue_evaluation运行命令python -u main.py --do_train True --save_path model_files_tmp/matching_pretrained --train_path data/unlabel_data/train.ids --val_path data/unlabel_data/val.ids进行训练，每个pass耗时都是0s：
<img width="392" alt="eb82efc50b2c437ea13dad7319ab631b" src="https://user-images.githubusercontent.com/46314656/60887136-2e713800-a286-11e9-8fc2-8dae546ffbdc.png">
main.py中有一段实际没执行：
<img width="

[2019-07-09 12:39] hutuxian commented on #2768
感谢您的关注，很高兴为您回答问题：
1. 因为emb的第0维用于padding，不对应任何实际的item，所以网络里(network)的all_vocab是从1开始的。因为softmax操作里面的logits是从0开始的，为了能对应上，所以在做数据的时候把label减了个1。
2. 经过GRU之后的pre_state输出应该是[batch_size * uniq_max, h]维度的，然后在下一次循环的开始会reshape回[batch_size, uniq_max, h]这个维度。猜测您给出的shape是编译时维度，运行时的维度可以通过Print OP打印出来查看。

希望对您有帮助，欢迎其他问题与讨论，谢谢！

[2019-07-09 13:34] NHZlX commented on #2762
好的， 此问题已经记录， 稍后会有专项对此类模型进行优化。

[2019-07-09 13:55] #2765 closed, assigned to nobody

[2019-07-09 13:57] fupeng commented on #2765
感谢回复！我试试词典干预功能。

[2019-07-09 15:25] #2306 closed, assigned to hutuxian

[2019-07-09 16:45] jreros opened #2771 "SimNet通过向量计算句子之间的相似度吗？如果是，怎样获得句子的向量值？"

[2019-07-10 02:38] xiegegege commented on #2769
#2770

[2019-07-10 02:38] #2769 closed, assigned to nobody

[2019-07-10 04:11] nepeplwu commented on #2751
@chaosfish，想了解下，你那边想用词典干预的badcase是什么样的？

[2019-07-10 04:29] yuanpengcheng opened #2774 "add WebVision2018 code and models"
add WebVision2018 code and models

[2019-07-10 05:20] ceci3 commented on #2771
您好，是PaddleNLP还是PaddleRec下面的SimNet？获得句子的向量值可以把要得到的句子的变量名放到fetch_list里fetch出来。

[2019-07-10 06:30] heavengate commented on #2187
Paddle 1.2使用的是cudnn5，经测试cudnn5不存在该问题

[2019-07-10 06:32] chaosfish commented on #2751
@nepeplwu 主要是药名、病名，比如 拜糖平。

[2019-07-10 06:37] chaosfish commented on #2751
@nepeplwu  还有一个情况 “10.1mmol/l” 希望能够被整体识别，请问这个是否能通过增量训练模型解决？

[2019-07-10 07:25] swordlidev opened #2778 "CTCN数据下载"
Activity1.3_train_rgb.listformat, Activity1.3_val_rgb.listformat, labels.txt, test_val_label.list, val_duration_frame.list 这些文件在哪里下载

[2019-07-10 08:09] #2208 closed, assigned to qingqing01

[2019-07-10 08:09] #2211 closed, assigned to qingqing01

[2019-07-10 08:45] jreros commented on #2771
你好，是PaddleNLP里的。谢谢回答，能详细说一下吗？

[2019-07-10 08:46] nepeplwu commented on #2751
@chaosfish ，目前paddlehub提供的lac并不支持finetune，可以通过词典干预解决这个badcase。另外，"/"导致的崩溃问题正在修复，晚点会发布上线。

[2019-07-10 09:01] ceci3 commented on #2771
比如https://github.com/PaddlePaddle/models/blob/6791e34a716761a7e8277d4414b5609e9cc8729f/PaddleNLP/models/matching/mm_dnn.py#L148这里，想拿到left_seq_encoder的值的话，在executor run的时候 fetch_list=[left_seq_encoder.name] 就可以拿到这个值了，executor run的示例可以在下面的链接看
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/executor_cn.html#run

[2019-07-10 10:03] jreros commented on #2771
明白了，谢谢！

[2019-07-10 10:03] #2771 closed, assigned to ceci3

[2019-07-10 11:03] heavengate commented on #2749
训练和预测--class_num需要指定一致，该参数目前默认是coco的分类数80

[2019-07-10 11:37] L-lei commented on #2749
我看到了paddle中yoloy3文档了，里面有解决方法，我还在测试,
原文：若用户自定义数据集的类别数不等于COCO数据集的80类，则加载权重时不应加载yolo_output层的权重，可通过在train.py使用如下方式加载非yolo_output层的权重：
`
if cfg.pretrain:
    if not os.path.exists(cfg.pretrain):
        print("Pretrain weights not found: {}".format(cfg.pretrain))

    def if_exist(var):
        return os.path.exists(os.path.join(cfg.pretrain, var.name)) \
               and var.name.find('yolo_output'

[2019-07-10 11:39] L-lei commented on #2749
好像你是yolov3项目的制作大佬，头像很好认

[2019-07-10 12:02] xiegegege opened #2782 "视频模型使用kinetics数据集时如果train.list不存在会hang住"
<img width="891" alt="image" src="https://user-images.githubusercontent.com/46314656/60967594-a48ca200-a34d-11e9-9c21-16b8ef9fde1a.png">

[2019-07-10 13:18] shippingwang commented on #2523
same as [paddle #18464](https://github.com/PaddlePaddle/Paddle/issues/18464)

[2019-07-10 13:34] shippingwang commented on #2404
[It](https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/PaddleVideo) works so I close this issue now

[2019-07-10 13:34] #2404 closed, assigned to nobody

[2019-07-11 01:48] geng007 opened #2783 "Can not find library: libcublas.so"
bug
![image](https://user-images.githubusercontent.com/38428867/61016234-7e084e80-a3c1-11e9-8c4f-1a8598ba5124.png)

[2019-07-11 02:06] wanghaoshuang commented on #2744
ocr [data reader](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ocr_recognition/data_reader.py#L62)在读取数据时，用到了linux特有的命令，需要用python实现将其替换，以便支持windows系统。

[2019-07-11 02:16] L-lei commented on #2783
没有解决办法用这个可以暂时加进去，sudo ldconfig /usr/local/cuda/lib64

[2019-07-11 02:18] L-lei commented on #2749
预测问题用那种方式可以解决

[2019-07-11 02:45] SunGaofeng commented on #2778
目前暂未上传，这些文件list和经过tsn模型提取特征的数据，后面会统一发布出来供大家下载。

[2019-07-11 02:47] swordlidev commented on #2778
@SunGaofeng  18的ActivityNet报告中，结果好像到了35%mAP，这里好像只有31%？ 还有proposal的AUC结果是多少？

[2019-07-11 03:39] wanghaoshuang commented on #2641
提了个pr，但是还没有merge: https://github.com/PaddlePaddle/models/pull/2773

[2019-07-11 04:09] SunGaofeng commented on #2782
此处是报错了，需要按照数据说明生成train.list

[2019-07-11 04:57] LaoYang1994 opened #2785 "PaddleDetection log建议"
建议输出剩余时间，可参考detectron或者mmdetection或者maskrcnn-benchmark
同时建议loss输出位数统一

[2019-07-11 07:35] #2750 closed, assigned to nobody

[2019-07-11 08:04] JiaXiao243 opened #2788 "PaddleGAN中的infer不支持cgan和dcgan"
在PaddleCV/PaddleGAN目录中执行python infer.py --model_net CGAN --init_model=output_cgan/checkpoints/0/，对训练完的cgan进行预测，信息如下：
![image](https://user-images.githubusercontent.com/37854899/61033185-7d89ab00-a3f5-11e9-9935-56f6c592e0e7.png)
需要在infer.py中添加对cgan和dcgan预测的支持。

[2019-07-11 08:13] HUSTLX commented on #2778
35是多个模型ensemble的结果，31是单个结果，proposal任务CTCN表现较差，65左右，而且需要精调nms的参数

[2019-07-11 08:14] phlrain commented on #2686
#2740

[2019-07-11 08:15] #2686 closed, assigned to phlrain

[2019-07-11 08:32] kuke commented on #2687
Fixed

[2019-07-11 08:39] #2687 closed, assigned to phlrain

[2019-07-11 09:03] heavengate commented on #2749
是的，如果是finetune的话不要加载output层的权重，原output层是基于coco的80类别训练的，所以channel数是`(80 + 5) * 3 = 255`，另外训练和预测是一定要指定一下--class_num，最新的代码如果不指定的话默认的80如果不等于你数据集里面的类别数是会报错提示的

[2019-07-11 09:25] #2749 closed, assigned to heavengate

[2019-07-11 10:42] Steffy-zxf commented on #2751
@chaosfish "/"导致的崩溃问题已经修复，可以下载lac 1.1.1版本，再尝试下。

[2019-07-12 01:36] leonzgtee opened #2792 "如何修剪自定义的模型"
请问下，工具可以用来剪枝和量化自定义的检测模型么，以mobilenetv2为骨干加了反卷积等操作的。如果可以，可以说一下大概操作么，感谢

[2019-07-12 02:58] swordlidev commented on #2778
@HUSTLX  ， 期待特征和文件list

[2019-07-12 05:13] AIaiAIaiAIaiAI opened #2793 "bug???Insufficient GPU memory to allocation."
测试程序：
![1562907919(1)](https://user-images.githubusercontent.com/48506731/61103740-cf8a0980-a4a5-11e9-9f71-426675afaee1.png)
报错：
![image](https://user-images.githubusercontent.com/48506731/61103780-052ef280-a4a6-11e9-9ca3-228cfacb1d14.png)
查过了显卡使用情况
![image](https://user-images.githubusercontent.com/48506731/61103813-37d8eb00-a4a6-11e9-98c7-5e67c09e2cc9.png)
显存应该是足够的，而且按照export CUDA_VISIBLE_DEVICE

[2019-07-12 07:19] IceFlameWorm opened #2795 "短文本语义相似度模型实际输出与模型定义不一致"
短文本语义相匹配（models/PaddleNLP/similarity_net/）中预训练了一个SimNet-BOW-Pairwise语义匹配模型，通过源码（models/PaddleNLP/similarity_net/run_classifier.py）追溯到用到的模型定义是models/PaddleNLP/models/matching/bow.py中的BOW，BOW的定义如下：

[code]

结合models/PaddleNLP/models/matching/bow.py和models/PaddleNLP/similarity_net/run_classifier.py可知，在pairwise模式下，模型会对外输出left_bow和pred，根据模型定义可知，left_bow是由left_bow = bow_layer.ops(left_soft)得到，而**bow_lay

[2019-07-12 08:10] chaosfish commented on #2751
@Steffy-zxf 多谢，lac 1.1.1版本验证已解决该问题。

[2019-07-12 08:10] #2751 closed, assigned to nobody

[2019-07-12 09:52] 930083287 opened #2796 "SE_ResNeXt101_32x4d网络修改图像尺寸修改"
请问，使用SE_ResNeXt101_32x4d网络，不想采用224*224*3的图片尺寸，想扩大图片尺寸，都需要改哪些？

[2019-07-12 10:10] huillll opened #2797 "训练错误"
环境ubuntu18.04 cuda10 nvida 1070 8G 运行
env CUDA_VISIBLE_DEVICES=0 python train.py
出现下面的错误，系统找这个库找不到
------------------------------------------------
/usr/local/lib/python2.7/dist-packages/paddle/fluid/evaluator.py:71: Warning: The EditDistance is deprecated, because maintain a modified program inside evaluator cause bug easily, please use fluid.metrics.EditDistance instead.
  % (self.__class__.__na

[2019-07-12 10:40] huillll commented on #2797
NVIDIA-SMI 418.56       Driver Version: 418.56       CUDA Version: 10.1
估计还是CUDA版本

[2019-07-12 10:55] gilbert1989 opened #2798 "PaddleDetection retinanet50、101训练好的模型，预测时显存溢出"
- 版本、环境信息：
    1）PaddlePaddle版本：v1.5
    2）GPU：p4
    3）系统环境：官方docker

- 复现信息：python tools/infer.py --config=configs/retinanet_r50_fpn_1x.yml --infer_dir=dataset/coco/test/
- 问题描述：batch_size=1,训练和eval没有问题，infer.py进行预测时，提示显存问题。
[](url)

[2019-07-12 10:56] gilbert1989 commented on #2798
W0712 10:46:53.930126  6443 system_allocator.cc:121] Cannot malloc 6647.97 MB GPU memory. Please shrink FLAGS_fraction_of_gpu_memory_to_use or FLAGS_initial_gpu_memory_in_mb or FLAGS_reallocate_gpu_memory_in_mbenvironment variable to a lower value. Current FLAGS_fraction_of_gpu_memory_to_use value is 0.92. Current FLAGS_initial_gpu_memory_in_mb value is 0. Current FLAGS_reallocate_gpu_memory_in_mb

[2019-07-12 10:58] gilbert1989 opened #2799 "PaddleDetection 训练同时做eval，fpn实现问题"
版本：
paddlepaddle/models release1.5分支
操作：
python tools/train.py --config=configs/retinanet_r101_fpn_1x.yml --eval

报错：
assertionError

原因：
train和eval共用一个model实例。
model.train时  models/PaddleCV/PaddleDetection/ppdet/modeling/backbones/fpn.py 174行修改了实例的self.spatial_scale属性。
导致model.eval时 models/PaddleCV/PaddleDetection/ppdet/modeling/backbones/fpn.py 151行的分支进不去，特征没叠加。

[2019-07-12 11:56] huillll commented on #2797
安装Cuda Sample，好像找到这个库啦

[2019-07-13 03:09] mzchtx opened #2802 "建议 pretrained model 文档中加上训练参数和相应日志"
希望 pretrained model 都能加上相对应的训练参数以及必要的日志信息，以方便复现。

可参考[gluon-cv](https://github.com/dmlc/gluon-cv)

[2019-07-13 04:16] zhaoyuchen2018 commented on #2799
麻烦model的同学看下这个

[2019-07-13 13:31] AIpioneer commented on #2785
感谢建议 这里已经收到

[2019-07-13 13:33] zhaoyuchen2018 commented on #2792
麻烦model的同学帮忙回答一下吧

[2019-07-14 05:37] lixiangchun opened #2803 "Errors in image_classification/eval.py and image_classification/infer.py"
When I run the following command
[code]

Error occurs:
[code]

When `batch_size` was added on line 100:
[code]
Other error occurred:
[code]

Error also found for `infer.py`
[code]
[code]

When added `batch_size` on Line 94:
[code]
New error:
[code]

[2019-07-15 01:44] zhouchunyi opened #2805 "test过程中如何输出中间结果"
想load模型参数后，打印出中间结果，可是executor.run的output执行中，在对应的网络层并不能打印出来。想知道怎么才能把中间结果输出

[2019-07-15 03:03] zhhsplendid commented on #2796
要扩大图片尺寸，首先，你需要更改输入的尺寸为你的图片尺寸。随着尺寸更改，你的网络一些层的参数也会扩大。例如conv层的输出size变大了。你需要把接收这些输出的相应网络层参数也进行改变。

[2019-07-15 07:18] wopeizl commented on #2793
可以贴一下具体的错误吗？

[2019-07-15 07:21] zhhsplendid commented on #2805
可以用paddle.fluid.layers.Print打印中间变量值

相关API文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/layers_cn/control_flow_cn.html#print

[2019-07-15 07:21] #2805 closed, assigned to zhhsplendid

[2019-07-15 07:35] wopeizl commented on #2793
看起来是显卡被占用了，清检查一下占用情况

[2019-07-15 07:38] wopeizl commented on #2798
请检查一下是否显卡被占用

[2019-07-15 07:38] #2774 closed, assigned to nobody

[2019-07-15 07:40] Shixiaowei02 commented on #2803
您好，我已复现，您说的问题的确存在。请模型组同事 @shippingwang 跟进，谢谢

[2019-07-15 07:46] AIaiAIaiAIaiAI commented on #2793
以上就是全部报错信息，总是提示显存问题，但实际上应该不是显存的事儿，tensorflow可以用gpu没问题，全部显存都释放掉了还是没法用。那个warning不知道是不是致命影响，我知道paddle支持的是7.3以上版本，我的cudnn是7.1的，但是我看论坛有的人7.0的版本好像都能用paddle～～～

[2019-07-15 08:26] wopeizl commented on #2793
虽然sum op不会用到cudnn，不过最好还是要升级到7.3

[2019-07-15 10:37] 930083287 commented on #2796
你好，是否有相应例子？

[2019-07-15 13:02] fengyuentau opened #2808 "[PyramidBox] Questions about the conv_fc layers in the VGG backbone"
The PyramidBox paper indicates that,

However, from [this line of source code](https://github.com/PaddlePaddle/models/blob/33d384b47ae1436a6de4f01fec4317daf9760d39/PaddleCV/face_detection/pyramidbox.py#L122) and [the definition of conv_block](https://github.com/PaddlePaddle/models/blob/33d384b47ae1436a6de4f01fec4317daf9760d39/PaddleCV/face_detection/pyramidbox.py#L35), we can tell that the dilatio

[2019-07-15 16:20] Free-Cloud opened #2810 "GAN运行官方例子出错"
运行环境：
windows10 1903
GPU：rtx2070
CPU：intel core i5 3570
内存：12GB ddr3
cuda：9.0.176
cudnn：7.3.0.29
python：3.6.7
paddlepaddle-gpu： 1.5.1.post97

G:\keti\models\PaddleCV\PaddleGAN>python train.py --model_net CycleGAN --dataset cityscapes --batch_size 1 --net_G resnet_9block --g_base_dim 32 --net_D basic --norm_type batch_norm --epoch 200 --load_size 286 --crop_size 256 --crop_type Random  > log_out 2>

[2019-07-16 01:58] Free-Cloud commented on #2810
我把cuda更换为9.2后解决

[2019-07-16 01:58] #2810 closed, assigned to nobody

[2019-07-16 03:36] lijiancheng0614 opened #2813 "PaddleSlim 搜索过程中断"
进行了一些 PaddleSlim 实验，主要遇到以下两个问题：
1. 搜到大网络时会在 "Running evaluation" 后出现 "Cannot malloc XXX MB GPU memory."，而搜到小网络则不会报错。因为并不知道搜索过程中出现的大网络会有多大，希望加入报错中断的判断，跳过该网络继续搜索。
2. 出现 "Segmentation fault" 未知错误。在集群搜索时遇到，查看相关 log 并不知道为什么会中断，因为实验前期跑过相同流程，而对于当前搜到的网络，训练和测试部分 batch 能通过：
[code]
如上，log 挂在 `batch_id:20`，而从前面 log 知 `evaluation` 还有 `batch_id:40`。

[2019-07-16 04:20] #2788 closed, assigned to nobody

[2019-07-16 04:31] gilbert1989 commented on #2798
没有被占用 执行预测时肯定时0负载的

[2019-07-16 04:42] huillll opened #2815 "crnn_ctc 运行没问题，attention模式出错"
[code]

[2019-07-16 05:55] zhhsplendid commented on #2796
Models repo下有一些CV相关的models，你可以参照着搭模型。据我所知，暂时paddle models里应该没有扩大图片尺寸的教程，你可以自己计算需要的各个层节点。

[2019-07-16 06:21] mzchtx opened #2816 "PaddleDetection CascadeRCNN 中 num_classes 硬编码 bug"
此处 [code](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/ppdet/modeling/roi_heads/cascade_head.py#L200) 使用了针对 COCO 数据集（num_classes = 81）的硬编码，对于自定义数据预测将出现下述错误：

![image](https://user-images.githubusercontent.com/37564754/61270462-5572c100-a7d4-11e9-8891-7214f589b755.png)

需要将：
[code]

修改为：
[code]

[2019-07-16 06:25] ysh329 commented on #2816
@mzchtx 非常感谢您的反馈，我们后续版本将会修正这个问题！

[2019-07-16 06:37] qingqing01 commented on #2808
In the PyramidBox model, we do not use dilation conv.   Dilation conv works well in other model, like DeepLab v3.

[2019-07-16 06:40] qingqing01 commented on #2799
Fixed in https://github.com/PaddlePaddle/models/pull/2790 . 另外，我们也在文档里说明了，在SSD上，训练中的eval是充分验证了的。COCO数据的下个版本提供充分验证的。

[2019-07-16 06:40] #2799 closed, assigned to qingqing01

[2019-07-16 06:46] ysh329 commented on #2813
已经单Hi内部联系@haoshuang

[2019-07-16 07:06] fengyuentau commented on #2808
@qingqing01 Thanks. Could you futher explain why you don't use dilation conv?

[2019-07-16 07:10] qingqing01 commented on #2816
Thanks! Fixed in https://github.com/PaddlePaddle/models/pull/2817

[2019-07-16 07:10] #2816 closed, assigned to nobody

[2019-07-16 07:19] qingqing01 commented on #2808
We just follow PyramidBox implementation,  I think there is no special reason. :)

[2019-07-16 07:19] cuicheng01 commented on #2802
目前训练参数可以查看run.sh,训练日志部分已丢失

[2019-07-16 07:38] LaoYang1994 commented on #2785
@AIpioneer 最近一直在读Paddle的检测库，有些命名我觉得不是太好，比如在transformer文件里，data_source 用了ds的简称，但是我觉得有一点降低了可读性，所以建议以后命名尽量用含义明确的名字

[2019-07-16 07:56] fengyuentau commented on #2808
OK, thanks anyway.

[2019-07-16 07:56] #2808 closed, assigned to nobody

[2019-07-16 08:53] #2706 closed, assigned to qingqing01

[2019-07-16 10:02] hong3731 opened #2821 "windows下CPU运行RCNN的infer.py出错"
在windows下CPU运行RCNN的infer.py出错,下载的权重是按照pretrained里面的download.sh的地址下载的,使用的paddle 1.5版本,报错的信息如下:
C++ Callstacks:
holder_ should not be null
Tensor not initialized yet when Tensor::type() is called. at [E:\release_cuda87\paddle\paddle/fluid/framework/tensor.h:139]
PaddlePaddle Call Stacks:
Windows not support stack backtrace yet.
配置里面已经把设置了使用CPU
  add_arg('use_gpu',          bool,  False,      "Whethe

[2019-07-16 12:28] mzchtx opened #2822 "PaddleDetection "ValueError: var im_shape not in this block""
使用下述命令进行 inference 并保存 inference model 出现 `ValueError: var im_shape not in this block` 错误。

[code]

代码中 `feeded_var_names` 只删除了 `im_id` ，还保留了 `image`，`im_info`，`im_shape` ，而 CascadeRcnn 只需要 `image`，`im_info`，删了 `im_shape` 即可，不知道是否有些模型还会需要 `im_shape`？

![image](https://user-images.githubusercontent.com/37564754/61293914-4eb17180-a807-11e9-9901-68e82719219b.png)

对应的代码位置：[code](https://github.com/Pa

[2019-07-16 13:43] zhouchunyi commented on #2771
能请问如果用pre-train的模型，又该如何呢？fluid.io.load_inference_model后，fetch没办法加上像上面的例子一样加上对应layer变量。

[2019-07-16 14:02] lylyhs opened #2824 "len(feed_target_names) 出错"
运行NLP模型里面的对话理解预测脚本
保存模型报feed_target_names 为None 没长度

feed_target_names = pred_results.get('feed_target_name', None)

查看define_paradigm.py里面的
results = {"probs": probs, "feed_targets_name": feed_targets_name}

这个里面的KEY值是不是错了？
改成feed_targets_name就可以了

[2019-07-16 14:13] zhouchunyi commented on #2795
这两天想用一下simnet pre-train的模型对短文本进行一下表示，也发现了楼上的问题。如果确实是项目中的bow-net的话，确实不应该出现负值。在文档里面搜索他们对relu函数的设置，只在layers.ops中找到了threshold_relu(https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/layers_cn/ops_cn.html) ，所以认为这里的relu也应当是标准的relu而非变型。也希望有官方人员能帮忙解答一下！

最后想问一下，sim-net的output[0]是emb后经过fc的表示，是否可以用作left句子的表示？

[2019-07-16 16:21] miaohaa opened #2825 "dureader cannot open file ../data/saved_model/pn_decoder_random_attn_fc_w for load op at [/home/teamcity/work/...可是这个文件明明就有."

[2019-07-16 16:38] Zeno-Zou opened #2826 "关于lexical_analysis在aistudio的一些问题"
1.git clone过慢
在aistudio下 git clone https://github.com/PaddlePaddle/models.git 基本在20%就不动了
解决方案：本地下载后再当作数据集上传到aistudio中
建议：把官方模型集成在aistudio中

2.aistudio使用的是dash而不是bash
所以 sh run.sh eval会报错：Syntax error: "(" unexpected
并且aistudio不支持sudo,无法直接更改
解决方案：bash run.sh eval
建议：大多数Ubuntu系统都为dash，建议在文档中加一行注释

3.选择gpu问题
在run.sh 中CUDA_VISIBLE_DEVICES默认为2而aistudo只有一块gpu
并且run_ernie.sh中CUDA_VISIBLE_DEVICES默认为0与run.

[2019-07-17 02:45] AIpioneer commented on #2785
非常感谢建议~ 我们内部会看一下

[2019-07-17 03:15] xyzhou-puck commented on #2825
您好，能否贴一下运行命令和完整的报错信息呢？谢谢

[2019-07-17 04:09] Halfish commented on #2826
1 models.git 其实不大的，大部分都是代码和词典；模型文件由 paddlehub 统一管理，具体参考 wiki 和 downloads.sh 脚本
2 & 3. 我们会考虑修改
4 请先下载模型，参考 wiki
5 python2 & python3 都有测试过，不知道具体是报什么错误呢？

[2019-07-17 05:43] wanghaoshuang commented on #2815
像是label的lod信息设置的不对
请问你用的paddle版本是？
是用自己的数据，还是官方提供的数据？

[2019-07-17 05:50] huillll commented on #2815
官方的数据，paddlepaddle版本1.5。crnn_ctc训练没有问题。lod信息是什么信息啊

[2019-07-17 06:08] greatjinyun opened #2829 "请教2个问题: 关于冻结训练层和获取网络信息的功能"
请教2个问题：
1） 我们从预训练的模型中迁移学习时，需要在不同的训练阶段，冻结模型中的某些层，譬如先把特征提取层冻结设置为Trainable=False.  请问paddle中有相关函数吗？
2）另外一个相关的问题是，冻结时可能会需要写明 层的名字， paddle是否有函数可以方便地打印出所有层的名称；另外冻结时是否支持 正在表达式 表示，以便设置一下子冻结多个层

[2019-07-17 06:09] slf12 commented on #2815
Lod是paddle处理变长数据序列的一个方式，详细信息可查看文档https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/user_guides/howto/basic_concept/lod_tensor.html

看报错信息的话，报错位置是https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/edit_distance_op.cu#L114
代码是在对lod信息进行check

[2019-07-17 06:20] wanghaoshuang commented on #2815
@slf12 正在复现这个问题，请稍等

[2019-07-17 06:45] slf12 commented on #2815
我试了下python2.7 源码编译develop分支和pip安装1.5.1版本的paddle，运行attention模型都没有问题，我的cuda版本是8.0, cudnn版本是7.2, 请问你对代码做了什么修改吗？

[2019-07-17 06:47] huillll commented on #2815
代码没有修改。你用什么数据训练的啊。可以分享一下吗？我没有任何修改。

[2019-07-17 06:50] slf12 commented on #2815
我用的也是data_reader.py中提供的下载路径的数据集

[2019-07-17 07:15] slf12 commented on #2815
为了和你的环境保持一致，正在尝试在cuda10下安装paddle并运行模型，请稍等

[2019-07-17 07:17] wanghaoshuang commented on #2725
2.训练时没有输出中间过程信息，仅在最后输出几个loss信息

多谢反馈，已提PR修复。

pretrain model目的是加快用户在自定义数据上的训练，暂时只提供了backbone network的权重，没有最后fc layer的权重

[2019-07-17 07:23] weiexcelpro commented on #2826
Hi 我是AI studio 的PM靳伟.
1.git clone过慢
在aistudio下 git clone https://github.com/PaddlePaddle/models.git 基本在20%就不动了.
-->经测试是中国大陆地区访问github clone的速度有所下降. 我历史上clone过好几次, 没啥大问题. 但最近我使用本地机器也会git clone超时失败.

[2019-07-17 08:14] IceFlameWorm commented on #2795
@zhouchunyi 这个我试过，我输出两个句子的output[0]之后，然后计算余弦相似度，跟模型输出的output[1]是一样的

[2019-07-17 08:57] lambert-lan opened #2834 "用Paddlepaddle训练的模型，用paddlehub推理时缺少module_desc.pb文件"
用Paddlepaddle训练的模型，用paddlehub加载做推理时缺少module_desc.pb文件，有解决方法吗
还是用paddlehub加载的模型必须用paddlehub训练?

[2019-07-17 08:58] dbcool opened #2835 "fasterrcnn跑voc数据集"
有人尝试过fasterrcnn在voc数据集训练嘛，训练的报显存不够了，但是在coco训练集下是可以的，是因为.yml配置不对导致的嘛

[2019-07-17 09:15] FDInSky commented on #2821
这是在PaddleDetection下出的错误吗？

[2019-07-17 09:31] Zeno-Zou commented on #2826
多谢两位
用python2的时候报错如下：
![image](https://user-images.githubusercontent.com/52971357/61364515-95ab6f80-a8b8-11e9-81a9-29c752a35a38.png)
pyhon3无异常

[2019-07-17 09:36] mzchtx opened #2836 "Resnet 中 elementwise_add 的顺序影响显存大小？"
使用 Resnet 训练分类模型，发现 `elementwise_add` layer 中变量`x` 和 `y` 的顺序会影响 10% 以上。

[code]

修改为：
[code]

显存占用从 5.3 G 降低到 4.8 G，请问是因为影响了显存复用导致的吗？

![image](https://user-images.githubusercontent.com/37564754/61364542-a825a900-a8b8-11e9-92ef-90aa750f0d1d.png)

[code](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/models/resnet.py#L150-L173)

[2019-07-17 09:47] hong3731 commented on #2821
不是，运行的是models /PaddleCV/rcnn/infer.py

[2019-07-17 10:03] FDInSky commented on #2821
经过测试，可以正常运行；根据你的报错信息，请检查下预训练权重的加载路径信息；

[2019-07-17 13:38] AIaiAIaiAIaiAI commented on #2754
求助，问下报错这个
![TIM图片20190717213622](https://user-images.githubusercontent.com/48506731/61379888-fea3df00-a8da-11e9-8a3d-e9b9592cce4d.png)
，检查了确实没有mask，
![TIM图片20190717213709](https://user-images.githubusercontent.com/48506731/61379947-10858200-a8db-11e9-814f-2c7466b0bf31.png)
，把里面的_mask统统改成mask了，又是这样
![image](https://user-images.githubusercontent.com/48506731/61379795-cf8d6d80-a8da-11e9-99bc-9858c478

[2019-07-17 13:43] AIaiAIaiAIaiAI commented on #2793
解决办法：清空所有的显存和GPU使用，再次运行，成功了。事实证明cudnn版本不是致命影响，还是显存分配的事情

[2019-07-17 15:04] arogowie-intel opened #2843 "GPU training process killed"
Hi,

I've been trying to run ResNet50 training on GPU from `models\PaddleCV\image_classification\train.py` with following command:
[code]
I've build PaddlePaddle from sources on `develop` branch inside Docker container. I used Dockerfile from top level directory in PaddlePaddle repository. It was build with GPU support.

Unfortunately every time I'm trying to run training the process is killed:
[c

[2019-07-17 17:13] hong3731 commented on #2821
感谢回复，我检查了一下模型路径，代码中有以下的路径检查的吧，运行中没有报这个错误，是不是可以说明模型路径没有问题的呢？
exe = fluid.Executor(place)
    # yapf: disable
    if not os.path.exists(cfg.pretrained_model):
        raise ValueError("Model path [%s] does not exist." % (cfg.pretrained_model))

[2019-07-18 01:38] slf12 commented on #2815
经过在cuda10下排查问题，发现是warpctc op在cuda10下有问题，正在修复，你可以先用cuda9或者cuda8来做实验，感谢你提出问题。

[2019-07-18 02:14] #2822 closed, assigned to nobody

[2019-07-18 02:19] zhouchunyi commented on #2795
@IceFlameWorm 嗯嗯，谢谢你啦！我一开始也没注意到这个输出的问题。

[2019-07-18 02:44] Halfish commented on #2826
确保文件 ../data/test.tsv 是存在的？

[2019-07-18 02:50] MRXLT commented on #2834
您好，我看到您在paadlehub下提了相同的issue，并且已经有同学在解答，所以将这个issue关闭，请关注paddlehub下的issue
https://github.com/PaddlePaddle/PaddleHub/issues/81

[2019-07-18 02:50] #2834 closed, assigned to nobody

[2019-07-18 03:09] IceFlameWorm commented on #2795
@zhouchunyi 我用bash run.sh infer在自己的数据文件上试了一些文本对，感觉分数都偏高，比如“我 很 高兴”和“我 不 高兴”的相似度分数竟然高达0.95，然后就深入看了下模型定义的输出和实际的输出，结果就发现不一致了。

[2019-07-18 03:13] universea opened #2846 "PaddeDetection里的YoloV3-MobileNetV3为什么模型有90多M"
ssd_mobile一般有20多M,为什么Yolo这么大，通过save_inference保存策略是否能降低模型大小？

[2019-07-18 05:56] #2846 closed, assigned to nobody

[2019-07-18 06:45] JiaXiao243 commented on #2821
请问您具体的python版本是？我这边CPU跑infer，运行python infer.py --dataset=coco2017 --pretrained_model=model_iter179999 --image_path=dataset/coco/val2017/000000000139.jpg --draw_threshold=0.6 --MASK_ON=true --use_gpu false，运行结果如下：
![image](https://user-images.githubusercontent.com/37854899/61435329-cb109580-a96a-11e9-9575-22a668438a39.png)

[2019-07-18 06:59] MRXLT commented on #2829
您好，冻结是想要使这一层的参数不可训练吗，不同阶段指的是什么情形

[2019-07-18 07:59] hong3731 commented on #2821
你好,pretrained_model是要自己训练的么?预训练的不行不能直接使用?
我下载了三个模型:
1.wget http://paddlemodels.bj.bcebos.com/faster_rcnn/imagenet_resnet50_fusebn.tar.gz
2.https://paddlemodels.bj.bcebos.com/object_detection/mask_rcnn_r50_1x.tar
3.https://paddlemodels.bj.bcebos.com/object_detection/mask_rcnn_se154_vd_fpn_s1x.tar

第一个预训练的权重报
C++ Callstacks:
holder_ should not be null
Tensor not initialized yet when Tensor::type() i

[2019-07-18 08:34] greatjinyun commented on #2829
是的，希望让这一层的参数在这一轮训练时不可修改。

等到这一轮训练结束后，再冻结另外一些层进行训练。

[2019-07-18 09:34] #2511 closed, assigned to shippingwang, wopeizl

[2019-07-18 09:41] w279805299 opened #2850 "使用paddlepaddle的阅读理解功能，saved_model缺失文件问题"
使用sh run.sh --evaluate  --load_dir ../data/saved_model --devset ../data/extracted/devset/zhidao.dev.json ../data/extracted/devset/search.dev.json 和
sh run.sh --predict  --load_dir  ../data/saved_model --testset ../data/extracted/testset/zhidao.test.json 进行预测时，加载模型时，出现问题

Cannot open file ../data/saved_model/pn_decoder_random_attn_fc_w for load op at [/paddle/paddle/fluid/operators/load_op.h:37]
Pa

[2019-07-18 12:38] liupluswei commented on #2836
您好，这个的确是因为显存复用导致的。 我们正在测试我们的内存/显存garbage collection功能，后续版本启用之后，这个问题就不会再有了。

[2019-07-18 13:00] LaoYang1994 commented on #2785
@AIpioneer  检测库里貌似没有debug模式，建议添加，方便后期debug，但是不知道静态图的方式添加debug模式方便不方便

[2019-07-18 20:06] jreros opened #2852 "语言模型lm_lstm似乎只有PTB数据集的预训练版本，没有中文数据集的预训练模型？"

[2019-07-19 01:53] zhouchunyi commented on #2795
@IceFlameWorm 应该是因为BOW模型，也就考虑了句子的word层面，没有加入word之间的关联关系，所以你的两个句子的similarity比较相近。我的数据是问答网站的question-title是短文本，所以我觉得BOW应该还OK就用了一下。

[2019-07-19 02:21] xyzhou-puck commented on #2850
您好，请确认模型文件是否存在（../data/saved_model/pn_decoder_random_attn_fc_w）

[2019-07-19 03:18] MRXLT commented on #2829
1、可以使用paramattr op来设置参数trainable=false
文档 https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/fluid_cn.html#paramattr
2、可以通过打印pargram.to_string查看所有层和variable，但是冻结时需要指定要冻结的参数，不支持一次冻结多个层
文档 https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/fluid_cn.html#to_string

[2019-07-19 03:44] kuke commented on #2852
这个模型没有提供中文预训练模型，如果有需要，可以参考ptb的例子用自有数据进行训练

[2019-07-19 06:19] #2821 closed, assigned to nobody

[2019-07-19 07:21] JiaXiao243 commented on #2755
执行python train.py --use_label_smoothing true  --model=ResNet50_vd --num_epochs=1  --batch_size 128 --fp16 true，即可复现该问题

[2019-07-19 07:24] qingqing01 commented on #2835
@dbcool 我们没尝试过VOC数据，请问您是怎么样配置的？

[2019-07-19 09:06] qingqing01 commented on #2783
@geng007 请问您安装的是那个paddle版本？

[2019-07-19 09:13] qingqing01 commented on #2798
@gilbert1989 您使用的P4显存多大？

设置下面参数试下:

[code]

[2019-07-19 09:14] qingqing01 commented on #2785
@LaoYang1994 非常感谢提出的建议~

[2019-07-19 09:20] geng007 commented on #2783
![image](https://user-images.githubusercontent.com/38428867/61524693-8d366e80-aa49-11e9-95d2-da05c0035bc4.png)

[2019-07-19 09:23] geng007 commented on #2783
![image](https://user-images.githubusercontent.com/38428867/61524841-dedef900-aa49-11e9-899b-db426f3bab05.png)

[2019-07-19 11:17] AIaiAIaiAIaiAI commented on #2793
设置了FLAGS_fraction_of_gpu_memory_to_use = 0.1,在这样的情况下，还是无法运行简单的加和程序
![1563534970(1)](https://user-images.githubusercontent.com/48506731/61531554-ba8b1880-aa59-11e9-8841-19143bdead22.png)

[2019-07-19 11:25] AIaiAIaiAIaiAI opened #2865 "yolov3的python接口问题"
用py3.6运行yolov3的train.py程序，提示
![image](https://user-images.githubusercontent.com/48506731/61531665-1f467300-aa5a-11e9-8e7c-1ed5817ac409.png)，在PythonAPI路径下，
![image](https://user-images.githubusercontent.com/48506731/61531730-4b61f400-aa5a-11e9-8b9a-c98355671a9e.png)
根据makefile文件的提示，编译setup文件。会发现pycocotools里面的文件变多了，此时pycocotools里面的包才可以使用。

然而！！！我换成了py352之后，又是同样报错！！！
![image](https://user-images.gith

[2019-07-19 11:59] heavengate commented on #2865
该问题为pycocotools未正确安装，请按照文档提示安装pycocotools
![屏幕快照 2019-07-19 下午7 55 44](https://user-images.githubusercontent.com/12605721/61533426-76027b80-aa5f-11e9-908b-519704eb8ac2.png)
另如果你是用python3.6上安装的pycocotools，请用python3.6运行程序，如果要切换python3.5.2，二者site-packages不互通，请在python3.5.2上重新安装pycocotools

[2019-07-19 12:04] mzchtx opened #2868 "MobileNet-SSD 的 backbone 存在 bug"
如下图1， 2中，`_extra_block` 函数调用的地方已经写死 `num_groups` 为 1，而 `scale` 参数为传入的，假设 `scale` < 1，比如 0.5 或者 0.25，则会出现调用 `self._conv_norm` 的时候 `num_groups` 为 0 的情况。

![image](https://user-images.githubusercontent.com/37564754/61533480-a1856600-aa5f-11e9-821a-f29add347860.png)

![image](https://user-images.githubusercontent.com/37564754/61533542-c679d900-aa5f-11e9-86e4-a2d895aa87d1.png)

具体代码位于：
[code](https://g

[2019-07-19 12:08] AIaiAIaiAIaiAI commented on #2865
请问coco-api存放路径有影响吗？放在环境下还是yolov3目录下？

[2019-07-19 12:08] AIaiAIaiAIaiAI commented on #2865
请问coco-api存放路径有影响吗？放在环境下还是yolov3目录下？

[2019-07-19 12:10] heavengate commented on #2865
没有影响，最终是要安装到你运行的python的site-packages里面，是一个python库

[2019-07-19 12:16] jerrywgz commented on #2661
https://github.com/PaddlePaddle/Paddle/pull/18284 目前通过该pr不再出现训练异常的情况

[2019-07-19 12:21] #2725 closed, assigned to wanghaoshuang

[2019-07-19 12:43] AIaiAIaiAIaiAI commented on #2865
![image](https://user-images.githubusercontent.com/48506731/61535738-97fefc80-aa65-11e9-97a8-8ab4fb7d567b.png)
![image](https://user-images.githubusercontent.com/48506731/61535748-9b928380-aa65-11e9-8921-a16e11ac0693.png)
![image](https://user-images.githubusercontent.com/48506731/61535761-a220fb00-aa65-11e9-8faa-55c5815f2f1f.png)

![image](https://user-images.githubusercontent.com/48506731/615357

[2019-07-19 12:43] AIaiAIaiAIaiAI commented on #2865
那个make install 只能在pythonAPI目录下才能成功操作，这样对吗？
但是依然有毛病啊貌似。我贴图了

[2019-07-19 12:46] heavengate commented on #2865
文档里写了，git clone之后cd cocoapi/PythonAPI，需要到PythonAPI里安装
![image](https://user-images.githubusercontent.com/12605721/61536020-40ad5c00-aa66-11e9-9d3a-a53087693b9a.png)

[2019-07-19 12:55] xiegegege commented on #2798
我在显存8G的P4上试了下，没开gc，batch_size=1的话retinanet50的train, eval , infer都可以正常跑的

[2019-07-19 14:33] luotao1 commented on #2783
https://github.com/PaddlePaddle/models/issues/2783#issuecomment-510300705 试过`export LD_LIBRARY_PATH=$LD_LIBRARY_PATH: /usr/local/cuda/lib64` 么？

[2019-07-19 14:34] luotao1 commented on #2783
你的cuda装在哪个路径下呢

[2019-07-19 14:38] L-lei commented on #2783
/usr/local/cuda

[2019-07-19 14:39] L-lei commented on #2783
paddle-gpu-1.5.0post97

[2019-07-19 15:09] jreros commented on #2852
好的，谢谢！

[2019-07-19 15:09] #2852 closed, assigned to kuke

[2019-07-19 15:17] luotao1 commented on #2783
请问是什么系统？mac/linux/windows？

[2019-07-19 15:18] L-lei commented on #2783
ubuntu

[2019-07-19 15:21] L-lei commented on #2783
试下nvcc -v看下gpu装好没

[2019-07-19 16:13] AIaiAIaiAIaiAI commented on #2865
对啊，就是在pythonapi里面make的……运行程序还是报错了……图上有

[2019-07-19 16:21] heavengate commented on #2865
你是不是把yolov3的路径加到PYTHONPATH的最前面了，python程序search pycocotools先发现的是你报错路径上的yolov3目录下的pycocotools，改一下PYTHONPATH或者把yolov3下的pycocotools删掉就可以了

[2019-07-21 13:39] IceFlameWorm commented on #2795
@zhouchunyi [百度ai网站上](https://ai.baidu.com/tech/nlp_basic/simnet)发布了短文本相似度的接口，提供BOW、CNN和GRNN三种模型。我比较了一下线上BOW的结果和开源模型的结果，差别蛮大。

[2019-07-22 02:43] qingqing01 commented on #2868
@mzchtx 感谢指出，在 https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ssd/mobilenet_ssd.py  中实际不支持更换scale。 我们会在PaddleDetection中改进下。

[2019-07-22 06:27] yw1991 opened #2874 "similarity"

[2019-07-22 06:27] yw1991 opened #2875 "similarity"

[2019-07-22 06:28] yw1991 opened #2876 "similarity-net这个模型具体怎么用？"

[2019-07-22 06:29] #2875 closed, assigned to nobody

[2019-07-22 06:29] #2874 closed, assigned to nobody

[2019-07-22 09:59] #2803 closed, assigned to shippingwang

[2019-07-22 10:03] kayzss commented on #2792
问题同上，麻烦帮忙回答谢谢

[2019-07-22 10:05] kuke commented on #2876
通常用于两个句子相似度的计算

[2019-07-22 10:19] qingqing01 commented on #2792
https://github.com/PaddlePaddle/models/blob/develop/PaddleSlim/docs/usage.md#22-%E6%A8%A1%E5%9E%8B%E9%80%9A%E9%81%93%E5%89%AA%E8%A3%81

可以参考 这个 剪枝 文档

[2019-07-22 10:48] AIaiAIaiAIaiAI commented on #2865
谢谢！！！但是我又遇到新问题，每次加载到这里不动了。。。
![9X1`@(%(LGDXC67B_%6X KV](https://user-images.githubusercontent.com/48506731/61626940-23b89900-acb1-11e9-9f25-673e5c7c1e13.png)但其实机器的运行状况正常
![)(LXXQ% 5@4OEPH3PE~AK$K](https://user-images.githubusercontent.com/48506731/61626984-42b72b00-acb1-11e9-972d-cd81aa9b2b24.png)

[2019-07-22 11:13] heavengate commented on #2865
python train.py --use_multiprocess_reader=False 试下

[2019-07-22 12:01] char256 opened #2889 "文档缺失"
在ocr的代码中有[fluid.evaluator.EditDistance](https://github.com/PaddlePaddle/models/blob/0bd09f6433ee934c415a2e2a7599eb9f1dc2cf11/PaddleCV/ocr_recognition/crnn_ctc_model.py#L194)，但是查阅文档的时候，只有[fluid.metrics.EditDistance](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/metrics_cn.html#editdistance)，看完文档后感觉这两个不是一个类，而且文档中找evaluator.EditDistance的时候是找不到的，可以在官网的docs中说明一下吗?
还有文档中reset的用法没有说，就贴

[2019-07-22 12:44] AIaiAIaiAIaiAI opened #2892 "指定gpu,但是运行程序总是用另一个GPU"
每次加载到就不动了，查看了下显卡，显示
![TIM图片20190722204302](https://user-images.githubusercontent.com/48506731/61633269-510d4300-acc1-11e9-9cb5-30329a641f98.png)
我指定了使用device 1，但是程序非要去使用device 0，如图
[图片]
![TIM图片20190722204016](https://user-images.githubusercontent.com/48506731/61633137-fe338b80-acc0-11e9-92b0-6105260e6372.png)
然后立刻报内存不足的错误，
仔细看了下，还有个问题，提示会复制一份文件，意思是两个GPU都跑同一个程序？这又是为啥？
[图片]
![4O@%NHKHYZH`2D_I19}{4RL

[2019-07-22 12:55] universea opened #2893 "PaddleDetection Infer.py run error"
python tools/infer.py -c configs/yolov3_mobilenet_v1.yml --infer_img=demo/000000570688.jpg --save_inference_model
W0722 20:50:18.140080  2945 device_context.cc:259] Please NOTE: device: 0, CUDA Capability: 61, Driver API Version: 9.2, Runtime API Version: 9.0
W0722 20:50:18.190894  2945 device_context.cc:267] device: 0, cuDNN Version: 7.6.
2019-07-22 20:50:18,213-INFO: Loading checkpoint from /hom

[2019-07-22 13:31] yw1991 commented on #2876
我实现了similarity-net这部分代码，但是我觉得这个准确度有点问题感觉；我想问的是就是infer的时候就是两个分好词的句子进行相似度计算吧？但是这个准确度有点不准，感觉没有学到什么语义信息。感觉和百度在官网上的案例有点区别。谢谢您的回复

[2019-07-22 13:33] yw1991 commented on #2876
我就是想利用paddle下面这个模型进行qq-match的操作，就是想拿到相似度高的问题。

[2019-07-22 14:26] universea commented on #2893
After this fix
fix save_inference_model cannot find feed vars (#2842)

* fix save_inference_model cannot find feed vars

* remove comment

* fix format

* add comment for pruned var

* add log for prune

[2019-07-23 01:52] kayzss opened #2895 "怎么把量化或剪枝后的output模型（weight&&model），转成TF模型或者txt等可读文件呢"

[2019-07-23 02:18] yw1991 commented on #2876
您好@kuke

[2019-07-23 02:34] kuke commented on #2876
和数据分布有关，如果你所用的句子和训练集差别较大，那计算相似度的准确率不会太高

[2019-07-23 02:40] yw1991 commented on #2876
那文档中不是说“我们开源了基于大规模数据训练好的pairwise模型”这个模型不是应该涵盖了大部分的中文，我就是基于这个模型去做相似度计算的，感觉结果真的很一般，就像“你好”和‘再见’这两个词汇有90多的相似度，按道理这个不应该吧；还是我的理解有误。。。。。感谢您的回复

[2019-07-23 02:48] yw1991 commented on #2795
@IceFlameWorm 您好，那您这边最后是怎么解决这个问题的？我最近也是在看similarity-net 觉得他的相似度计算和官网上的测试文本相似度差别好大？

[2019-07-23 02:48] 0YuanZhang0 commented on #2824
是的哈，这个key需要改成feed_targets_name，感谢提出的意见哈，我们会尽快修复这个问题；

[2019-07-23 02:49] #2824 closed, assigned to 0YuanZhang0

[2019-07-23 03:21] kayzss commented on #2895
请问剪枝和量化后output（weight/model），怎么用呢？

[2019-07-23 03:22] kayzss opened #2897 "请问剪枝和量化后output（weight/model），怎么用呢？"

[2019-07-23 04:15] TCfirefly opened #2898 "请问有小伙伴可以分享一下ImageNet数据集中的train_list.txt以及val_list.txt吗？ Could anybody share train_list.txt and val_list.txt in the ImageNet dataset with me? THANKS!!!?"

[2019-07-23 05:31] kayzss commented on #2898
有邮箱吗？ 我发给你

[2019-07-23 05:33] TCfirefly commented on #2898
tangcui_uestc@163.com 谢谢！！

[2019-07-23 05:40] kayzss commented on #2898
邮箱已经发了，可以帮我看一下以下两个问题吗？
1. 【请问剪枝和量化后output（weight/model），怎么用呢？ #2897】
2. 【怎么把量化或剪枝后的output模型（weight&&model），转成TF模型或者txt等可读文件呢 #2895】

[2019-07-23 06:12] IceFlameWorm commented on #2795
@yw1991 目前我们在测试系统里暂时用了预训练的bert模型（主要用来提取句子向量）和开源的bow模型，不过这两个模型的效果都不是很好，所以尝试在公开数据集上fine_tune修改版的bert（把原来的交互式的相似度模型，改成表示型，类似于siamese net，主要是为了离线生成句子向量，方便运行时在线匹配）

[2019-07-23 07:51] jtyoui opened #2899 "language_model训练完了怎么使用计算一句话的PPL"

[2019-07-23 09:10] AIaiAIaiAIaiAI commented on #2892
解决方法是：在CUDAplace（）中指定GPU，而且要关掉train.py中的
.with_data_parallel(
        loss_name=loss.name,
        build_strategy=build_strategy,
        exec_strategy=exec_strategy)

就不会copy到两个GPU中都运行了。（事实是另一个GPU中占用的特别少，不是完全不占用）

[2019-07-23 09:26] sshilei opened #2901 "paddle有没有类似TFRecord的数据格式"
直接一次性加载结构化的数据，不需要在训练过程中解析。

[2019-07-23 09:36] kuke commented on #2892
正常情况下不会，用的是什么模型，以及CUDAPlace是怎么声明的呢

[2019-07-23 09:39] AIaiAIaiAIaiAI commented on #2892
yolov3。已经解决了，就是要关掉with_data_parallel....

[2019-07-23 09:57] gongweibao commented on #2901
以前有recordio，之后这个不再维护要删除了。
结构化的数据可以用python直接操作。
类似
记录格式：
[code]

[2019-07-23 09:58] kuke commented on #2889
https://github.com/PaddlePaddle/Paddle/blob/0ae45f0b53f13bedadc90f2d6195c45c9e29285e/python/paddle/fluid/evaluator.py#L220

fluid.evaluator.EditDistance 将会被废弃，所以文档隐藏了

[2019-07-23 09:59] AltenLi opened #2902 "lexical_analysis在python3环境f1基本为0，python2环境没问题"
RT。
用的P40，训练数据是自己生成的。

[2019-07-23 10:01] sshilei commented on #2901
请问有没有示例demo之类的供参考一下。

[2019-07-23 11:28] gongweibao commented on #2901
[code]

[2019-07-23 11:29] #2901 closed, assigned to nobody

[2019-07-23 11:39] jtyoui commented on #2852
请问训练完之后怎么测试？

[2019-07-23 12:07] leaf918 opened #2903 "增量训练中添加optimizer后报错"
` with fluid.program_guard(self.train_program, self.startup_program):
            self.image = fluid.layers.data(name='image', shape=[3, 224, 224], dtype='float32')
            self.label = fluid.layers.data(name='label', shape=[1], dtype='int64')
            # model definition ++++++++++++++++++++++++++++++++++++++++++
            model = models.__dict__[model_name]()
            out = model.net(

[2019-07-23 12:23] heavengate commented on #2892
可以用export CUDA_VISIBLE_DEVICES=0或者export CUDA_VISIBLE_DEVICES=0,1,2,3来指定运行的卡

[2019-07-23 12:23] chengduoZH commented on #2892
@AIaiAIaiAIaiAI  如果调用了with_data_parallel，采用的是数据并行进行训练，关于数据并行的介绍请看看这里 https://www.zhihu.com/question/53851014

你是怎么指定的？

batch size是多大呢？

[2019-07-23 12:35] xiegegege commented on #2654
最新的报错：
Invoke operator roi_align_grad error.
Python Callstacks:
  File "/opt/_internal/cpython-2.7.11-ucs2/lib/python2.7/site-packages/paddle/fluid/framework.py", line 1773, in append_op
    attrs=kwargs.get("attrs", None))
  File "/opt/_internal/cpython-2.7.11-ucs2/lib/python2.7/site-packages/paddle/fluid/layer_helper.py", line 43, in append_op
    return self.main_program.current_block().append_

[2019-07-23 12:42] leaf918 commented on #2903
![image](https://user-images.githubusercontent.com/170311/61713049-44085680-ad8a-11e9-8188-f29a4a847578.png)
加入红框的两句后报错，应该怎么处理？
![image](https://user-images.githubusercontent.com/170311/61713073-4ec2eb80-ad8a-11e9-8c54-853609dba044.png)

[2019-07-24 01:28] dagongji10 opened #2907 "undefined symbol: mkldnn_primitive_desc_query_pd"
centos7 安装paddle_gpu 1.5.1，之后运行paddle_video下的infer.py脚本，参数如下`python infer.py --model_name=CTCN --config=configs/ctcn.txt --log_interval=1 --filelist=./infer_videos/`，接着报错：
![image](https://user-images.githubusercontent.com/15357846/61757956-523f8c80-adf5-11e9-8099-21a39364bbac.png)
请问：是paddle环境没配置好吗？需要修改哪里？

[2019-07-24 02:40] mzchtx opened #2908 "动态图多卡报 NCCL 错误"
# 环境

+ system: centos6u3
+ python: 2.7.14
+ paddle: 1.5.1.post97
+ nccl: 2.2.13

# 问题

运行 resnet50 的动态图[示例](https://github.com/PaddlePaddle/models/tree/develop/dygraph/resnet)，单卡运行没问题，4卡运行报 NCCL 问题，如下图所示：

![image](https://user-images.githubusercontent.com/37564754/61760803-4b1d7c00-adff-11e9-9fe7-65fee5134702.png)

运行静态图的多卡训练没问题，请问动态图是对 NCCL 版本有要求吗？还是其他的问题？

[2019-07-24 03:26] guoshengCS commented on #2903
这个应该是因为加入optimizer后创建了一个`learning_rate_0`的persistable的variable以能够从checkpoint恢复训练，此时使用`load_persistable`恢复训练时要提供`learning_rate_0`，不然无法完全一致的恢复训练，而提供的用于load的文件不包含这个variable，所以报错。
对于增量训练时一些不需要或者因没保存而无法恢复内容，可以使用[`load_vars`](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/io_cn.html#load-vars)这个接口，使用时为vars传入需要恢复的内容。

[2019-07-24 03:30] phlrain commented on #2899
需要自己参考eval 的函数，实现相应的功能

[2019-07-24 03:39] jtyoui commented on #2899
意思是，没有现成的实现过程、

[2019-07-24 03:44] jtyoui commented on #2899
这个模型训练保存之后，在那个方法加载调用训练好的模型

[2019-07-24 03:51] #2903 closed, assigned to guoshengCS

[2019-07-24 04:20] phlrain commented on #2899
save_params  保存模型，load_params 加载模型

[2019-07-24 05:49] leaf918 commented on #2903
![image](https://user-images.githubusercontent.com/170311/61768337-c3913680-ae19-11e9-9f62-a7ee6d91f29a.png)

如何知道非红框内的变量的列表， @guoshengCS

[2019-07-24 06:08] jtyoui commented on #2899
训练中文的话，是将每一个字分开，还是将句子进行分词分开？（图1）
![image](https://user-images.githubusercontent.com/28988355/61769203-0d7b1c00-ae1c-11e9-8dfa-79fd88bc2245.png)

还是（图2）
![image](https://user-images.githubusercontent.com/28988355/61769285-50d58a80-ae1c-11e9-9bc2-0bb9b8337210.png)

[2019-07-24 06:15] mzchtx opened #2909 "FP16 训练 ResNet50，loss 为负数"
# 环境

+ system: centos6u3
+ python: 2.7.14
+ paddle: 1.5.1.post97
+ nccl: 2.2.13

# 问题

使用 FP16 训练 ResNet50:

如果在 fc layer 里加上 softmax 激活，然后使用 `cross_entropy` 损失，会出现几个 batch 后 loss 为负数的情况。如下：

[code]

![image](https://user-images.githubusercontent.com/37564754/61769557-4071df80-ae1d-11e9-989e-28d5023db4be.png)

如果在 fc layer 不加 softmax 激活，然后使用 `softmax_with_cross_entropy` 损失，则结果正常。如下：

[code]

![im

[2019-07-24 06:40] mzchtx opened #2910 "FP16 训练 ResNet50 添加 label_smooth 报错"
# 环境

+ system: centos6u3
+ python: 2.7.14
+ paddle: 1.5.1.post97
+ nccl: 2.2.13

# 问题

使用 FP16 训练 ResNet50，如果添加 `label_smooth` 则会报错，代码如下：

[code]

错误信息：

![image](https://user-images.githubusercontent.com/37564754/61770869-dfe4a180-ae20-11e9-8b90-7f275e9ee65e.png)

去掉 `label_smooth` 正常：
[code]

[2019-07-24 07:00] kayzss commented on #2897
@qingqing01 @Superjomn  麻烦帮忙回答一下这个问题 拜托了 ！！！

[2019-07-24 07:01] kayzss commented on #2895
@qingqing01 @Superjomn  麻烦帮忙回答一下这个问题 拜托了 ！！！

[2019-07-24 07:41] guoshengCS commented on #2903
`load_vars`包含一个predict的参数，可以传入一个function，另这个function判断`var.name=='learning_rate_0'`

[2019-07-24 07:57] leaf918 commented on #2903
![image](https://user-images.githubusercontent.com/170311/61775549-b715d980-ae2b-11e9-9384-95f6887b4bc0.png)
not working...

[2019-07-24 08:56] vison20080808 commented on #2815
rt，遇到相同问题，环境 Baidu AI Studio：

W0724 17:04:49.308575   351 device_context.cc:259] Please NOTE: device: 0, CUDA Capability: 70, Driver API Version: 9.2, Runtime API Version: 9.0
W0724 17:04:49.311508   351 device_context.cc:267] device: 0, cuDNN Version: 7.3.

File "/opt/conda/envs/python35-paddle120-env/lib/python3.5/site-packages/paddle/fluid/executor.py", line 650, in run
    use_program_cache=u

[2019-07-24 09:44] AzureDreamDing opened #2912 "reading_comprehension模型预测报错"
在用reading_comprehension模型进行预测时（按照官方文档操作），遇到如下错误：
Traceback (most recent call last):
  File "run.py", line 652, in <module>
    predict(logger, args)
  File "run.py", line 575, in predict
    exe, args.load_dir, main_program=main_program)
  File "/var/c20732a/paddle/paddle_env/lib/python2.7/site-packages/paddle/fluid/io.py", line 701, in load_persistables
    filename=filename)
  File "/var/c20732a

[2019-07-24 10:38] gongweibao commented on #2898
最后的问题在原ISSUE中解答。

[2019-07-24 10:38] #2898 closed, assigned to nobody

[2019-07-24 10:43] gongweibao commented on #2895
转成TF模型现在不支持
txt可读文件，直接python中打印一下参数值就可以？

[2019-07-24 10:45] gongweibao commented on #2893
黏贴代码请使用一下方式以便保持数据格式
[code]

[2019-07-24 10:45] #2893 closed, assigned to nobody

[2019-07-24 10:45] #2889 closed, assigned to nobody

[2019-07-24 13:07] wangs311 commented on #2658
您好 请问您已经顺利将youtube-8m数据集转化为pickle格式了吗？我在使用tf2pkl.py进行转换时，报了如下错误：

`Errors may have originated from an input operation.
Input Source operations connected to node ParseSingleSequenceExample/ParseSingleSequenceExample:  ReaderReadV2 (defined at tf2pkl.py:164)  Original stack trace for u'ParseSingleSequenceExample/ParseSingleSequenceExample':   File "tf2pkl.py", line 278, in <module>     main(record_p

[2019-07-24 13:48] IceFlameWorm commented on #2795
@kuke @wopeizl 请问这个问题是什么原因啊？

[2019-07-24 23:43] universea opened #2918 "ssd use_multiprocess设置为True后，训练过程会出现停止的情况"
如题，环境AI STUDIO GPU:V100 16GB  CPU：32GB，'use_multiprocess', bool,  True时训练不到一个epoch就停止不动了，设置为False后读取变慢，但是不会出现停止假死的情况

[2019-07-25 02:16] yw1991 opened #2919 "利用训练好的SimNet-BOW-Pairwise语义匹配模型的问题"
利用训练好的SimNet-BOW-Pairwise语义匹配模型进行短文本相似度计算效果很差，就是感觉就是单单的基于词向量进行匹配，和百度展示的实例要向相差很多，那这个意义是什么？

[2019-07-25 02:17] suyali commented on #2654
遇到了同样的问题，怎么解决的呀？@xiegegege

[2019-07-25 02:28] kayzss commented on #2895
output中有两个二进制文件weights和model，weights都是数字好转成text， models怎么用python转成text呢？ 可以写一个demo吗 @gongweibao

[2019-07-25 02:33] suyali opened #2920 "PaddleDetection CPU模式下训练中断"
loading annotations into memory...
Done (t=12.66s)
creating index...
index created!
2019-07-25 10:18:14,038-INFO: 118287 samples in file dataset/coco/annotations/instances_train2017.json
2019-07-25 10:18:15,180-WARNING:
     You can try our memory optimize feature to save your memory usage:
         # create a build_strategy variable to set memory optimize option
         build_strategy = compiler

[2019-07-25 02:45] wanghaoshuang commented on #2895
@kayzss

你可以把weights和model 用[load_inference_model](load_inference_model) API load进来,  然后print program. 应该就是你要的text.

[2019-07-25 02:46] wanghaoshuang commented on #2895
PaddleSlim产出的模型不兼容tensorflow

[2019-07-25 03:02] kayzss commented on #2895
代码
exe = fluid.Executor(fluid.CPUPlace())
path = "./int8"
[inference_program, feed_target_names, fetch_targets] = fluid.io.load_inference_model(dirname=path, executor=exe)
results = exe.run(inference_program,
              feed={feed_target_names[0]: feed_target_names},
              fetch_list=fetch_targets)

错误：
Traceback (most recent call last):
  File "/backup/compression/code/models-develop/P

[2019-07-25 03:23] dbcool commented on #2835
在PaddleCV/PaddleDetection测试train，修改.yml的中的
metric: VOC
以及
FasterRCNNTrainFeed:
  batch_size: 16
  use_process: true
  dataset:
    dataset_dir: dataset/voc
    annotation: VOCdevkit/VOC_all/ImageSets/Main/train.txt
    image_dir: VOCdevkit/VOC_all/JPEGImages
    use_default_label: true

[2019-07-25 03:24] qingqing01 commented on #2920
@suyali 已发布的版本不支持CPU训练，已在 https://github.com/PaddlePaddle/Paddle/pull/18728 中修复。

[2019-07-25 03:32] xiegegege commented on #2654
这个他们已经在修了，应该快merge了~

[2019-07-25 04:00] jerrywgz commented on #2835
我这边测试了下，是可以正常跑的，
![image](https://user-images.githubusercontent.com/22989727/61844765-301c3c00-aed3-11e9-8f72-68aa980339a3.png)，
配置如下：
![image](https://user-images.githubusercontent.com/22989727/61844979-0ca5c100-aed4-11e9-8877-15448379d475.png)

显存不足的问题有如下解决方法：
1. 首先查看下显卡上是否有其他任务占用显存
2. 减小batch size，官方给出的coco数据集上batch size为2，你这里16太大了
3. 另外可以通过设置两个环境变量
- export FLAGS_eager_delete_tensor_gb=0.0
- e

[2019-07-25 04:07] FocueAI opened #2922 "paddleSlim在压缩yolo3后遇到的问题"
1.  我使用的是keras-yolo3的代码，之后使用 X2paddle 转换成了paddle的格式，并且经过测试，生成的paddle代码可以用来做预测，之后在压缩项目中对yolo3代码做出微调具体如下
![图1](https://user-images.githubusercontent.com/49752023/61844504-41187d80-aed2-11e9-8b4b-740e9b955ab4.png)
![2](https://user-images.githubusercontent.com/49752023/61844737-0bc05f80-aed3-11e9-95dd-6c4eb4454a9b.png)
2.  压缩工程中 yolo3(paddle版本)的输出是：
![A{3)UP@E UKJ)7Z~~@ P@E](https://user-images.githu

[2019-07-25 04:32] kayzss commented on #2895
[inference_program, feed_target_names, fetch_targets] = fluid.io.load_inference_model
你好使用这个API打印模型结构已经没问题了，但是怎么获取模型结构每个block中对应的参数值呢？ @gongweibao

[2019-07-25 04:35] xyzhou-puck commented on #2919
您好，simnet-bow模型主要根据浅层语义信息进行相似度计算，如果解决复杂问题请使用相对更复杂一些的模型。如果方便的话，请详细描述一下需求。

[2019-07-25 04:35] xyzhou-puck commented on #2912
您好，请问您的模型是直接进行预测的吗（没有经过训练）

[2019-07-25 04:57] Yipeng-Sun commented on #2922
请问：这个模型是怎么压缩的，用什么方法，怎样的参数，压缩输出log有哪些信息？

[2019-07-25 05:09] FocueAI commented on #2922
1. 压缩的配置参数
![image](https://user-images.githubusercontent.com/49752023/61847183-54c8e180-aedc-11e9-83b0-a9921a57e2de.png)
2. 压缩输出的log
  a . 压缩最后面的log
![image](https://user-images.githubusercontent.com/49752023/61847321-d1f45680-aedc-11e9-9348-958f7487fdc1.png)
  b. 完整的log文件（不能发上去）

[2019-07-25 05:17] FocueAI commented on #2922
b. 这就就是完整的log文件
[nohup .txt](https://github.com/PaddlePaddle/models/files/3429817/nohup.txt)

[2019-07-25 05:42] wanghaoshuang commented on #2895
[code]

[2019-07-25 06:32] guoshengCS commented on #2903
如果load_vars提供了vars这个参数，predict参数就会被忽略了，不用同时设置，另外这个报错和之前不一样了吧，之前是load有问题

[2019-07-25 06:37] AzureDreamDing commented on #2912
@xyzhou-puck 您好，我用的模型是通过bash download.sh直接下载下来，存放在/saved_model下的。
我是按照模型首页 https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/reading_comprehension 的步骤顺序执行下来的（跳过了**评估**步骤），所以应该是没有经过自己训练的。

谢谢！

[2019-07-25 07:42] dbcool commented on #2835
好滴，非常感谢！

[2019-07-25 07:50] endy-see opened #2924 "PaddleDetection: when i use CPU running infer, there occured an error as follow"
my command: python tools/infer.py -c configs/faster_rcnn_r50_1x.yml --infer_img=demo/000000570688.jpg   --save_inference_model
error:
2019-07-25 15:43:24,798-INFO: Loading checkpoint from output/faster_rcnn_r50_1x...
Traceback (most recent call last):
  File "tools/infer.py", line 257, in <module>
    main()
  File "tools/infer.py", line 167, in main
    save_infer_model(FLAGS, exe, feed_vars, tes

[2019-07-25 07:56] kayzss commented on #2895
你好， 执行这句话 params = inference_program.global_block().all_parameters()， 打印出来的params 是空集  @gongweibao

[2019-07-25 08:00] slf12 commented on #2815
感谢您的反馈，这个问题我们正在修复中，您可先用cuda8，cuda8是没有问题的

[2019-07-25 08:32] qqraise opened #2927 "fix lexical_analysis infer error python3"
python3的infer报错

[2019-07-25 08:40] #1804 closed, assigned to frankwhzhang

[2019-07-25 09:01] wanghaoshuang commented on #2918
可以把workers设置的小点试试：https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ssd/reader.py#L287

[2019-07-25 09:03] universea commented on #2918
谢谢，我尝试一下

[2019-07-25 09:18] qingqing01 commented on #2924
I can run sucessfuly by the latetst version:

[code]

Do you change any code?

[2019-07-25 09:25] wwjjy opened #2930 "video nextvlad pretrained error"
load model zoo中训练好的NeXtVlad模型报错：
fluid.io.load_params(exe, pretrain, main_program=prog)
  File "train.py", line 192, in train
    train_model.load_pretrain_params(exe, pretrain, train_prog, place)
  File "train.py", line 294, in <module>
    train(args)
C++ Callstacks:
Cannot open file pretrained_model/nextvlad_youtube8m/eigen_param for load op at [/paddle/paddle/fluid/operators/load_op.h:37]
在文件夹

[2019-07-25 09:28] wanghaoshuang commented on #2927
非常感谢反馈。辛苦贴一下报错信息？

[2019-07-25 09:29] #2868 closed, assigned to nobody

[2019-07-25 09:43] SunGaofeng commented on #2930
抱歉，nextvlad下载链接中的模型参数是旧版的，里面没有eigen_param。我们这就将1.5版训练的模型参数上传，请稍等，更新好了通知您。

[2019-07-25 09:44] wwjjy commented on #2930
辛苦啦

[2019-07-25 09:45] qqraise commented on #2927
![image](https://user-images.githubusercontent.com/11895758/61864434-016a8980-af04-11e9-9345-f06e03f2f698.png)
我提交了一个pr，https://github.com/PaddlePaddle/models/pull/2929

[2019-07-25 10:44] guoshengCS commented on #2907
可以参照这个 https://github.com/PaddlePaddle/Paddle/issues/18254 ，看下core_avx.so 是否链接到了Paddle需要使用的mkl库

[2019-07-25 11:29] shippingwang commented on #2909
FP16问题将在未来两周内修复

[2019-07-25 11:29] shippingwang commented on #2910
FP16将在未来两周内修复

[2019-07-25 11:31] jerrywgz commented on #2924
You can update develop code. It is fixed in https://github.com/PaddlePaddle/models/pull/2913

[2019-07-25 11:42] wanghaoshuang commented on #2922
你好，感谢反馈，最近同事在yolo v3上跑了量化训练的策略没有出现您描述的情况。我会再尝试复现下您说的问题，然后再给您反馈。

[2019-07-25 12:00] guoshengCS commented on #2910
可以试下使用`smooth_label = fluid.layers.cast(smooth_label, "float16")`将smooth_label也转成fp16类型的

[2019-07-25 12:37] BertramRay opened #2931 "修改run.sh和senta-config.json时需要注意的问题"
•修改run.sh和senta_config.json中的配置（使用预训练模型）（**注意区别**）

**•run.sh脚本修改如下：**

•MODEL_PATH=./senta_model/bilstm_model/

**•# 在eval()函数中，修改如下参数：**

•--vocab_path ${MODEL_PATH}/word_dict.txt\

•--init_checkpoint ${MODEL_PATH}/params\

**•senta_config.json中需要修改如下：**

•"vocab_size": 1256606

[2019-07-25 12:40] BertramRay opened #2932 "wget命令在cmd界面执行需要下载特定软件"
rt

[2019-07-25 12:41] BertramRay commented on #2932
百度一下：windows中使用wget命令

[2019-07-25 13:05] #2920 closed, assigned to nobody

[2019-07-25 14:10] littletomatodonkey opened #2934 "Invoke operator conv2d error"
程序运行时报错,yolov3+darknet的实验,paddle1.5.0.

[code]

[2019-07-25 14:20] FocueAI commented on #2922
你方便把你们的代码发出来看看吗？

[2019-07-25 14:21] FocueAI commented on #2922
你方便把你们的代码发出来看看吗？

[2019-07-26 00:03] kayzss commented on #2895
@gongweibao  你好可以帮忙回答以下这个问题吗？ 谢谢了！

[2019-07-26 02:11] wanghaoshuang commented on #2934
建议您将cudnn升级到cudnn7.3， 公司内网搜索“一键安装 cuda”， 可以找到相关教程。

[2019-07-26 02:12] #2661 closed, assigned to jerrywgz

[2019-07-26 02:12] #2835 closed, assigned to qingqing01, jerrywgz

[2019-07-26 03:05] mozpp opened #2936 "Invoke operator conv2d error."
docker+Paddle+YOLOv3。Paddle为：latest-gpu-cuda9.0-cudnn7。
应该是cudnn的问题，请问怎么解决
======
ssh://root@127.0.0.1:8022/usr/bin/python -u /project/PaddleCV/yolov3/infer.py --data_dir=/dataset/coco --dataset=coco2017 --weights=./weights/yolov3 --image_path=/dataset/coco/val2017/ --image_name=000000000139.jpg
-----------  Configuration Arguments -----------
batch_size: 8
class_num: 80
data_dir: /dataset/coco
da

[2019-07-26 03:30] endy-see commented on #2924
no，i will try it with the update develop code

[2019-07-26 03:51] endy-see commented on #2924
I found that when i run PaddleDetection/tools/infer.py on cpu(exactly on my Mac), the system would stuck everytime which made me reopen my computer! I wander what's this problem...

[2019-07-26 04:01] endy-see opened #2937 "Test VOC dataset error"
I run PaddleDetection's faster_rcnn_r50_fpn_2x on my own dataset of VOC format success, but there occured an error when i run infer.py , the error as follows:
Traceback (most recent call last):
  File "tools/eval.py", line 119, in <module>
    main()
  File "tools/eval.py", line 107, in main
    eval_results(results, eval_feed, cfg.metric, resolution, FLAGS.output_file)
  File "/home/zhaoyanmei/mo

[2019-07-26 04:06] Superjomn commented on #2937
Is the script changed or the data format is not supported by the original script?

[2019-07-26 04:13] endy-see commented on #2937
my config made some changes to match voc dataset as follow:
metric: VOC
FasterRCNNTrainFeed:
  batch_size: 1
  dataset:
    dataset_dir: dataset/DadiDetection
    annotation: ImageSets/Main/trainval.txt
    image_dir: JPEGImages
    use_default_label: false
  batch_transforms:
  - !PadBatch
    pad_to_stride: 32
  drop_last: false
  num_workers: 2

FasterRCNNEvalFeed:
  batch_size: 1
  dataset:

[2019-07-26 04:48] qingqing01 commented on #2937
@yanmeizhao The RCNN model do not support VOC metrics now. Need to add  DetectionMap to the network in https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/ppdet/modeling/architectures/faster_rcnn.py#L120

refer SSD on VOC:

https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/ppdet/modeling/architectures/ssd.py#L78

Or you can do not run evalution d

[2019-07-26 07:13] endy-see commented on #2937
so i had to resolve this problem by myself...

[2019-07-26 07:31] #2768 closed, assigned to hutuxian

[2019-07-26 07:31] #2660 closed, assigned to hutuxian, heavengate

[2019-07-26 08:38] JiabinYang commented on #2908
您试一下`fluid.install_check.run_check()`可以正常运行么

[2019-07-26 08:50] qujinqiang opened #2940 "sentiment_classification 报错 no CUDA-capable device is detected at [/paddle/paddle/fluid/platform/gpu_info.cc:97]"
paddle版本： paddlepaddle-gpu    1.5.1.post97　（注：GPU版按照官网进行测试，提示正常）
python版本：２.７
相关错误摘要：
W0726 16:44:50.211505 71262 init.cc:128] Compiled with WITH_GPU, but no GPU found in runtime.

cudaGetDeviceCount failed in paddle::platform::GetCUDADeviceCount: no CUDA-capable device is detected at [/paddle/paddle/fluid/platform/gpu_info.cc:97]

[2019-07-26 10:00] qujinqiang commented on #2236
同问

[2019-07-26 10:08] guoshengCS commented on #2899
这个其实基于字和词的都有的

[2019-07-26 11:10] hectorgui opened #2942 "可以分享metric_learning训练好的模型吗？"
单卡训练，充其量就是70%左右的top1的recall，不知道是不是和这个有关系？

[2019-07-26 11:14] hectorgui commented on #2942
test_img_num 60502, trainbatch 120000, test_recall 0.67821
 trainbatch 120010, lr 0.001000, loss 0.309739, acc1 0.9417, acc5 0.9750, time 1.27 sec

训练了好几遍的记过  这个结果不知道是否合理？

[2019-07-26 23:05] universea commented on #2918
谢谢，已经解决啦！

[2019-07-26 23:05] #2918 closed, assigned to wanghaoshuang

[2019-07-27 01:19] BertramRay commented on #2940
建议改成paddlepaddleCPU版本，然后修改一下run.sh中出现的所有的use_cuda = true(改成use_cuda = false)

[2019-07-27 01:42] yw1991 commented on #2919
这边我想做的就是一般的qq-match的功能，就是一句话过来然后跟问答对中的问题进行相似度计算，返回最相似问题对应的答案。谢谢您的回复

[2019-07-27 03:33] AIaiAIaiAIaiAI commented on #2865
其他都设置了，没用，最后关掉默认的多卡 .with_data_parallel这个即可

[2019-07-27 03:33] #2865 closed, assigned to heavengate

[2019-07-27 04:01] AIaiAIaiAIaiAI commented on #2892
@heavengate 请问这个loss图怎么弄出来的？训练代码里面没有体现啊。。。我训练完了之后只有一些snapshot文件

![image](https://user-images.githubusercontent.com/48506731/61989722-342c9300-b066-11e9-960d-b21b167a17d2.png)

[2019-07-27 08:13] yw1991 opened #2943 "在运行paddlenlp下面的sentiment_classification下的run_ernie时报gpu错误"
![image](https://user-images.githubusercontent.com/21213333/61991903-75826a00-b089-11e9-83ac-0554fade9b5a.png)

[2019-07-27 08:49] AIaiAIaiAIaiAI opened #2944 "yolov3模型和自己训练出的结果不一样是为何？"
用官网提供的训练好的yolov模型，自己也训练了一遍yolov3.分别将两个模型用来执行eval.py程序，发现结果不一样，没有官方给出的模型效果好。
[图片]
![TIM图片20190727164023](https://user-images.githubusercontent.com/48506731/61992162-453cca80-b08d-11e9-9eb5-c23221b49044.png)

而且，执行infer.py的时候，得到的结果自然也是没有官方给出的模型效果好。自己的训练的结果，无法识别出这么大的熊！！！
![TIM图片20190727164145](https://user-images.githubusercontent.com/48506731/61992176-7a491d00-b08d-11e9-80e7-9b2a4bb44147.png)官网的模型结果

[2019-07-27 09:28] mzchtx commented on #2908
试了 `fluid.install_check.run_check()`，看着都正常，结果如下：

![image](https://user-images.githubusercontent.com/37564754/61992596-132e6700-b093-11e9-9d74-2b8e9d733e0b.png)

开了 `NCCL_DEBUG=INFO` 后看到 NCCL 报以下问题：

![image](https://user-images.githubusercontent.com/37564754/61992566-aadf8580-b092-11e9-9d83-ea85ffa3fd39.png)

更新 `NCCL version 2.3.7+cuda9.2` 问题解决。

[2019-07-27 11:41] mzchtx commented on #2910
试了 `smooth_label = fluid.layers.cast(smooth_label, "float16")` 后会报下图错误：

![image](https://user-images.githubusercontent.com/37564754/61993925-e59ee900-b0a5-11e9-8676-a5a7a128bf27.png)

最后通过 `out = fluid.layers.cast(out, "float32")` 将 `out` 转换为 float32 解决。

[2019-07-27 22:27] yw1991 commented on #2943
这个问题已解决，改batch_size=12后可以正常运行。

[2019-07-27 22:27] #2943 closed, assigned to nobody

[2019-07-28 12:42] sunyh214 opened #2946 "sh run.sh"

[2019-07-28 12:51] sunyh214 commented on #2931
您好！我运行run.sh脚本时出现了无nets模块的错误，不知道nets模块可在哪找到

[2019-07-28 12:54] #2946 closed, assigned to nobody

[2019-07-28 13:41] sunyh214 opened #2947 "解析模型时报错了"
/sentiment_classification/config.py", line 27, in _parse     config_path) OSError: Error in parsing bert model config file './senta_config.json'

是不是因为python3的原因，不知怎么处理？

[2019-07-29 01:44] qujinqiang commented on #2940
@BertramRay  GPU版你也没有跑通吗？

[2019-07-29 02:19] qujinqiang commented on #2876
是不是开源的这个模型非常差啊，好的模型不愿意开源出来......

[2019-07-29 02:46] suyali opened #2949 "模型的预加载与删除"
Hello:有类似于tensorflow那样的先预加载模型，然后根据需要剔除部分网络层的预加载，再进行训练的函数吗！？最好能给一下示例，谢谢！

[2019-07-29 03:47] suyali opened #2951 "PaddleDetection train.py:设置resume_checkpoint"
加载预训练模型时：设置resume_checkpoint为home/user/.cache/paddle/weightd/ResNet50_cos_pretrained/报错：
paddle.fluid.core_avx.EnforceNotMet:Invoke operator load error

Cannot open file home/user/.cache/paddle/weightd/ResNet50_cos_pretrained/conv_rpn_w for load op at [/paddle/paddle/fluid/operators/load_op.h]

[2019-07-29 03:49] suyali commented on #2951
或者说，如何使用resume_checkpoint

[2019-07-29 03:50] qujinqiang commented on #2940
@BertramRay   非常感谢
CPU版本确实能够跑通
用一段简单的线性回归测试模型，GPU版本的使用GPU完全没有问题；
具体sentiment_classification GPU跑不通，不清楚具体原因

[2019-07-29 05:32] fengbecky opened #2952 "请问，这个参数是做什么的呢？什么意思呢？parser.add_argument('--enable_ce', action='store_true', help='If set, run the task with continuous evaluation logs.')"

[2019-07-29 06:11] AzureDreamDing commented on #2912
@xyzhou-puck 您好！请问是需要先自己训练模型，然后才能预测嘛？

[2019-07-29 06:14] #2949 closed, assigned to nobody

[2019-07-29 06:57] zhangyimi commented on #2876
similarity_net网络的输出的是pairwise模型对query和title计算的归一化后的余弦相似度，用来对query和多个title的相似性排序。在分类任务中判断query和title是否相似应该在相应数据集上取一个适合的阈值，并且阈值可以适当取大点，如在LCQMC数据集上阈值选取的就是0.958。

[2019-07-29 07:27] mozpp commented on #2936
顶

[2019-07-29 08:44] heavengate commented on #2944
我们release的模型是用的是8卡每卡batchsize=8，总batchsize=64训练的，另外也请确认一下训练过程中其他超参是否一致

[2019-07-29 08:49] kuke commented on #2947
这份代码，没在python3下面测试过，在python2.7下面运行会有问题吗

[2019-07-29 09:30] cucumberpieces opened #2957 "请问，NLG自动文本生成这块，可以再添加两个demo样例吗"
请问，NLG自动文本生成这块，可以再添加两个demo样例吗

[2019-07-29 09:37] yxzero opened #2958 "训练的时候发现这个问题，同样的数据，同样的代码，时而出错，时而正常运行"
![image](https://user-images.githubusercontent.com/5461637/62037966-65a08c80-b227-11e9-8cee-86c86a812206.png)

[2019-07-29 09:41] sneaxiy commented on #2958
能否给出你的复现代码？

[2019-07-29 09:44] yxzero commented on #2958
![image](https://user-images.githubusercontent.com/5461637/62038520-756ca080-b228-11e9-92ab-7e26c93fe723.png)
begin train之后开始报错

train_exe.run这里
详细代码如下
[train2.txt](https://github.com/PaddlePaddle/models/files/3441352/train2.txt)

[2019-07-29 09:45] kuke commented on #2957
除了翻译以外，近期会有摘要生成的demo开源

[2019-07-29 09:45] SunGaofeng commented on #2930
@wwjjy  1.5版的权重已更新，麻烦您重新下载下
https://paddlemodels.bj.bcebos.com/video_classification/nextvlad_youtube8m.tar.gz

[2019-07-29 10:31] fengchun1213 opened #2959 "关于lstm输出维度"
init_h1 = fluid.layers.fill_constant([num_layers*2, batch_size, hidden_size], 'float32', 0.0)
        init_c1 = fluid.layers.fill_constant([num_layers*2, batch_size, hidden_size], 'float32', 0.0)
        print("bi-lstm1 input shape", input.shape)
        output1, last_h1, last_c1 = fluid.layers.lstm(input=input, init_h=init_h1, init_c=init_c1,

[2019-07-29 11:05] sneaxiy commented on #2958
是否可以设置环境变量`GLOG_vmodule=operator=4`，然后把log贴出来？

[2019-07-29 11:09] cucumberpieces commented on #2957
好的，多谢多谢，希望能尽快哈

------------------ 原始邮件 ------------------
发件人: "Yibing Liu"<notifications@github.com>;
发送时间: 2019年7月29日(星期一) 下午5:45
收件人: "PaddlePaddle/models"<models@noreply.github.com>;
抄送: "cucumber王子"<wangchunyu008@qq.com>; "Author"<author@noreply.github.com>;
主题: Re: [PaddlePaddle/models] 请问，NLG自动文本生成这块，可以再添加两个demo样例吗 (#2957)

除了翻译以外，近期会有摘要生成的demo开源

—
You are receiving this because you autho

[2019-07-29 11:25] JiaXiao243 commented on #2951
默认下载预训练模型的保存路径是:home/user/.cache/paddle/weights/ResNet50_cos_pretrained，应该将weightd修改为weights就可以了

[2019-07-29 11:36] xiegegege commented on #2952
这个是对模型进行持续评估用的，默认都是false，跟模型本身没关系～

[2019-07-29 12:19] 904281665 opened #2960 "gpu并行训练时batch_size设置问题"
reader在yield数据时，要求batch_size必须能够整除gpu_num。但是却没有加断言，建议作者加入断言。

[2019-07-29 12:27] JiaXiao243 commented on #2947
我这边在python3上可以正常使用，方便的话，请描述一下具体操作步骤。@sunyh214

[2019-07-29 12:32] xiegegege commented on #2951
resume_checkpoint能接着跑之前中断的训练，用法是命令行里-r加要恢复训练的checkpoint路径，预训练模型默认是会自己加载的，路径通过configs里.yml文件的pretrain_weights参数配置

[2019-07-29 13:29] AIaiAIaiAIaiAI commented on #2944
我没有改过模型中任何参数哒，我再确认下吧

在 2019-07-29 16:44:34，"Kaipeng Deng" <notifications@github.com> 写道：

我们release的模型是用的是8卡每卡batchsize=8，总batchsize=64训练的，另外也请确认一下训练过程中其他超参是否一致

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.