[2020-11-23 10:32] #4966 closed, assigned to nobody

[2020-11-23 13:19] p1n0cch10 opened #4969 "Do I need to convert the video to the pickle format when I use the TSN net?"
Hi,

I would like to train and predict the TSN net. I would like to know do I need to convert the .mp4 video to the pickle format?

It seems that the training and evaluation need the pickle format, and the prediction needs the mp4 video?

Many thanks.

[2020-11-24 03:32] qili93 commented on #4967
需要确认下“同一份测试数据”是否每次inference的时候是在其中取的不同的batch呢？还是每次输入数据都是一致的？

建议可以先用全1输入试试看，如果连全1输入的结果都每次不一样，那就是有问题的。如果每次全1输入的预测结果都一致，那需要看下是否每次预测其实取的是一个数据集中的不同的测试数据。

[2020-11-24 03:38] qili93 commented on #4968
建议到Paddle/models repo下提问，谢谢！
https://github.com/PaddlePaddle/models

[2020-11-24 06:46] Pallav56 commented on #4934
These files are needed at the time of inference and used as Language model, the format of this language model is "arpa" file and "trie" file can be generated on top of "arpa" to save disk space.

To generate "arpa" paddlepaddle has used "commoncrawl" dataset.

[2020-11-24 07:08] XDUSPONGE opened #4970 "Data Anchor Sampling in Pyramidbox"
Thanks for your code. I have some problems with the code pyramidbox. In the paper, the sampling is using the data anchor sampling, however in the code, it uses a probality that
[code]
So why do you design this, and if the result in the paper is with the same set
Thanks very much3

[2020-11-24 10:34] qili93 commented on #4968
请参照这个readme进行数据转换
https://github.com/PaddlePaddle/models/blob/release/1.8/PaddleCV/video/data/dataset/README.md

[2020-11-24 10:37] qili93 commented on #4969
Please follow the readme here to change the video to the pickle format
https://github.com/PaddlePaddle/models/blob/release/1.8/PaddleCV/video/data/dataset/README.md

The convert script here: https://github.com/PaddlePaddle/models/blob/release/1.8/PaddleCV/video/data/dataset/youtube8m/tf2pkl.py

[2020-11-24 12:09] KaiyuanGao commented on #4967
试过了，不是这个问题。另外，infer里面shuffle设置的是False，不会出现不同batch问题。

您是官方人员吗？麻烦复现一下看看会不会出现同样的问题，谢谢！

[2020-11-24 15:57] p1n0cch10 opened #4972 "How can I load a pretrained model in AttentionCluster to train my own data?"
Hi,

I am using the AttentionCluster to train my model, linked here.

I download the released model for finetuning. The model only has an AttentionCluster.pdparams file, but no AttentionCluster.pdopt.

And it shows
`AssertionError: Optimizer file [./AttentionCluster.pdopt] not exits`

When I set pretrain="AttentionCluster.pdparams", it shows the shape does not match, because my class num is 12.
[c

[2020-11-25 04:20] p1n0cch10 opened #4973 "The avg losses are not same for training and validation when the same data are used."
Hi,

I am training a AttentionCluster for video classification by using my own data, followed here
https://github.com/PaddlePaddle/models/blob/release/1.8/PaddleCV/video/models/attention_cluster/README.md

I used the same data for training, validation, testing, and inference. In the training phrase, the avg losses for training and validation are different. The avg loss for training is about 0.002,

[2020-11-25 04:44] p1n0cch10 commented on #4972
I find a pretrain model here, https://paddlepaddle.org.cn/support/news?action=detail&id=889
The files look like this
![image](https://user-images.githubusercontent.com/22934323/100183999-5d3f8b00-2f1b-11eb-80b4-7d77f0726b70.png)

It still show the parameter's shape does not match. As my data has 12 classes, instead of 3862, can I ignore the paremeters in the output layer?

Here is the config
MODEL

[2020-11-25 07:53] #4186 closed, assigned to frankwhzhang

[2020-11-26 02:38] liduo1997 commented on #3160
外积以后维度都对不上了，论文写错了吧？

[2020-11-26 02:51] #4968 closed, assigned to nobody

[2020-11-26 02:51] #4969 closed, assigned to nobody

[2020-11-28 05:57] Steffy-zxf commented on #4967
你好！没能复现你的问题。我这边 同一份数据infer，预测结果都是一样的。请确认下参数`init_checkpoint`是否设置相同。

[2020-11-28 12:44] KaiyuanGao commented on #4967
@Steffy-zxf 你好，`init_checkpoint` 是用的官网提供的预训练模型

你也是这份模型吗？
代码没是直接clone的代码库没改，预测脚本：
[code]

[2020-11-29 01:53] 0mao0 opened #4976 "using 2.0rc with CUDA10.1, install correctly but cannot find GPU"
**Enviorment**: win10+CUDA10.1+cuDNN+PaddlePaddle_2.0rc
**nvidia-smi**: NVIDIA-SMI 431.94       Driver Version: 431.94       CUDA Version: 10.1
**nvcc --version**: Cuda compilation tools, release 10.1, V10.1.105
**cudnn version**: cudnn-10.1-windows10-x64-v8.0.5.39
**python --version**: Python 3.6.1
**python -m pip --version** : pip 20.2.4
installing by "python -m pip install paddlepaddle-gpu==2.0

[2020-11-29 06:31] Noboru-Chen opened #4977 "Make gru_compute.cc.o Error!!!"
What's wrong with this and how can I fix it?

HW: Jetson Nano
Platform: Ubuntu 18.04 image from NVIDIA official site.

Based on Step 2-6 of the guideline I got below error again and again.

[ 41%] Building CXX object paddle/fluid/operators/math/CMakeFiles/gru_compute.dir/gru_compute.cc.o
/home/.../paddle/paddle/fluid/operators/math/gru_compute.cc: In instantiation of ‘static void paddle::operators

[2020-11-29 09:00] MissPenguin commented on #4976
1. What's your cudnn version
2. Have you tried the CPU version and can it run successfully. tips: Don't install CPU and GPU version paddle at the same time. Uninstall both firstly and  then install only one of them.

[2020-11-29 09:36] 0mao0 commented on #4976
thanks for reply
1. cudnn version: cudnn-10.1-windows10-x64-v8.0.5.39
2. CPU version works fine on my laptop.
I did try uninstall both and reinstall GPU version, same warnings.

[2020-11-30 05:52] huangjun12 commented on #4973
Data is randomly selected when training, so the avg_loss for training and validation may not same even you use the same datalist. Code in
https://github.com/PaddlePaddle/models/blob/d0e40f2e0e94788cffa746e9a75e4518510d2da3/PaddleCV/video/reader/feature_reader.py#L55

[2020-11-30 09:48] MissPenguin commented on #4977
We need some time to repeat this bug and check out the problem, please wait and we will reply you as soon as possible.

[2020-12-01 11:53] zhangxuanaj commented on #4958
W1201 19:50:31.103739 19889 device_context.cc:252] Please NOTE: device: 0, CUDA Capability: 35, Driver API Version: 10.1, Runtime API Version: 10.0
W1201 19:50:31.109172 19889 device_context.cc:260] device: 0, cuDNN Version: 7.6.
Traceback (most recent call last):
  File "run_ernie_classifier.py", line 402, in <module>
    main(args)
  File "run_ernie_classifier.py", line 303, in main
    main_pro

[2020-12-01 11:53] zhangxuanaj commented on #4958
全部报错信息：

W1201 19:50:31.103739 19889 device_context.cc:252] Please NOTE: device: 0, CUDA Capability: 35, Driver API Version: 10.1, Runtime API Version: 10.0
W1201 19:50:31.109172 19889 device_context.cc:260] device: 0, cuDNN Version: 7.6.
Traceback (most recent call last):
  File "run_ernie_classifier.py", line 402, in <module>
    main(args)
  File "run_ernie_classifier.py", line 303, in main

[2020-12-02 03:07] Steffy-zxf commented on #4967
你好！预测的时候，`init_checkpoint`需要使用的是fine-tune之后保存的参数路径。即，先将 用 官方提供的 预训练模型参数`wget https://baidu-nlp.bj.bcebos.com/sentiment_classification-1.0.0.tar.gz` 在文本分类数据集上fine-tune，保存fine-tune后的模型参数。之后再使用fine-tune后的模型参数进行预测。

[2020-12-02 14:27] #1555 closed, assigned to nobody

[2020-12-03 05:52] Jorsen0 opened #4978 "paddle.fluid.layers.lstm权重赋值"
请问有没有为LSTM的权重进行赋值的AP，就是讲numpy数组赋值到lstm，如果有的话权重的维度是什么样的呢，四个门的顺序又是如何呢？

[2020-12-03 09:29] KaiyuanGao commented on #4967
已解决，谢谢！

[2020-12-03 09:30] #4967 closed, assigned to Steffy-zxf

[2020-12-03 11:58] zhiweilin commented on #2768
label -1  可以一开始字典映射的时候从0开始，然后不用-1 吗

[2020-12-04 13:42] p1n0cch10 commented on #4973
Thx. Could you please help me with the issue here ? I did not got any reply for 10 days. Many thanks.
https://github.com/PaddlePaddle/models/issues/4972#issue-749834627

[2020-12-04 13:56] huangjun12 commented on #4972
We recommand to load a pretrained model to resume. The problem of "shape not match"  can be fixed this by removing fc layer weight when loading a pretrain model. Please refer to  https://github.com/PaddlePaddle/models/blob/0687ceb6e186ef86e24f32f94d39c3d2fce42a2f/PaddleCV/video/application/video_tag/models/attention_lstm/attention_lstm.py#L170

[2020-12-05 04:19] wengooooo opened #4980 "度量学习test的时候卡住不动了"
度量学习官方例子
运行到26000次的时候，在测试集的时候就卡住不动了，也不报错
![QQ图片20201205121546](https://user-images.githubusercontent.com/63537268/101233449-ef058000-36f3-11eb-816f-853da27025df.png)
强制停止的时候发现卡在这里了
![QQ图片20201205121553](https://user-images.githubusercontent.com/63537268/101233607-fe84c900-36f3-11eb-9121-8c3510c2144e.png)

[2020-12-06 04:29] luotao1 commented on #4980
感谢您的反馈，请问“度量学习官方例子”可以给一个具体链接么？

[2020-12-06 09:35] FYF1997 opened #4981 "PaddlePaddleNLP issue"
How to use the underlying model of the model to train their own data and predict, but only need to label proper terms.
In addition, can incremental training be continued on the basis of the underlying model?model is   https://github.com/PaddlePaddle/models/tree/release/1.8/PaddleNLP/lexical_analysis。  Thanks！

[2020-12-06 11:20] wengooooo commented on #4980
机器
GPU: 1080 11G
内存:16g
ubuntu: 16.04

官方例子
https://www.paddlepaddle.org.cn/modelbasedetail/metriclearning

用的这个命令

python train_elem.py  \
        --model=ResNet50 \
        --train_batch_size=64 \
        --test_batch_size=50 \
        --lr=0.01 \
        --total_iter_num=30000 \
        --use_gpu=True \
        --pretrained_model=ResNet50_pretrained \
        --model_save_dir=output \
        -

[2020-12-07 07:44] Intsigstephon commented on #4980
@wengooooo 这个不是卡住了，是因为测试集比较大，计算比较耗时；5~10分钟是要的

[2020-12-07 09:36] wengooooo commented on #4980
@Intsigstephon 我都4小时不动了

[2020-12-07 15:39] Intsigstephon commented on #4980
@wengooooo 你好，请问26000次迭代之前有跑出过test_recall的结果吗？ 正常会有在测试集上的test_recall的结果。从你反馈的结果看，应该就是在做evaluation的时候卡住了；这个例子我之前跑过，能跑通；我把参数稍微改了下， scale改为30，不过我的batch_size为128；30000次迭代后出来的metric比官方给的还高一点呢，哈哈

[2020-12-08 03:48] gongweibao commented on #4981
Thanks! The author will reply sooner.

[2020-12-08 03:57] kinghuin commented on #4981
Hi,

you can organize your data into the structures : https://github.com/PaddlePaddle/models/tree/release/1.8/PaddleNLP/lexical_analysis#%E6%95%B0%E6%8D%AE%E6%A0%BC%E5%BC%8F
the dataset demo can be see in https://baidu-nlp.bj.bcebos.com/lexical_analysis-2.0.0.tar.gz
then modify the `train_data`, `test_data `, `word_dict_path`, `label_dict_path `, `word_rep_dict_path ` to your real path in https://

[2020-12-08 04:13] qdd1234 opened #4993 "进程被杀"
您好，我在paddlepaddle1.8.4编译时进程被杀掉了，具体什么原因
![image](https://user-images.githubusercontent.com/68497831/101439119-ccbb6e80-394e-11eb-9322-1422c16f87fd.png)

[2020-12-08 06:28] FYF1997 commented on #4981
Thanks for your help！In addition, I would like to ask whether new proper nouns can be identified after incremental training if a new proper name tag is added during incremental training. When I conduct incremental training on the interface of Lac, I find that it can not recognize new proper nouns, so I turn to hope that I can get the results I want through the training of the underlying model. Mea

[2020-12-08 06:30] #4981 closed, assigned to kinghuin

[2020-12-08 06:30] FYF1997 commented on #4981
BTW, The LAC model will be upgrade in Dec.20 which is easier to use, welcome to use!
Thanks for your help！In addition, I would like to ask whether new proper nouns can be identified after incremental training if a new proper name tag is added during incremental training. When I conduct incremental training on the interface of Lac, I find that it can not recognize new proper nouns, so I turn to hop

[2020-12-08 06:30] FYF1997 commented on #4981
Thanks for your help！In addition, I would like to ask whether new proper nouns can be identified after incremental training if a new proper name tag is added during incremental training. When I conduct incremental training on the interface of Lac, I find that it can not recognize new proper nouns, so I turn to hope that I can get the results I want through the training of the underlying model. Mea

[2020-12-08 06:43] FYF1997 opened #4994 "Thanks for your help！In addition, I would like to ask whether new proper nouns can be identified after incremental training if a new proper name tag is added during incremental training. When I conduct incremental training on the interface of Lac, I find that it can not recognize new proper nouns, so I turn to hope that I can get the results I want through the training of the underlying model. Meanwhile I‘m waitting for the better LAC！"
Hi,

you can organize your data into the structures : https://github.com/PaddlePaddle/models/tree/release/1.8/PaddleNLP/lexical_analysis#%E6%95%B0%E6%8D%AE%E6%A0%BC%E5%BC%8F
the dataset demo can be see in https://baidu-nlp.bj.bcebos.com/lexical_analysis-2.0.0.tar.gz
then modify the `train_data`, `test_data `, `word_dict_path`, `label_dict_path `, `word_rep_dict_path ` to your real path in https://

[2020-12-09 09:13] wanghaoshuang commented on #4993
麻烦贴一下更详细的日志？

[2020-12-09 11:05] kinghuin commented on #4981
The new tag should be in the label vocab file, whose path is label_dict_path. You can add the tag in the end of the label vocab file before starting incremental training.

[2020-12-10 02:44] PhenixZhang opened #5005 "请问稳重提到的preprocess文件在哪里？"
![image](https://user-images.githubusercontent.com/26118845/101714475-9f98c880-3ad4-11eb-9184-2963db2df911.png)

[2020-12-10 08:05] herb711 opened #5009 "Conv2D中的padding无法设置padding类型"
想要设置padding的类型为 零填充，镜像填充，边缘填充
但是Conv2D的API中，没有设置这一类型的参数。

另，请教，默认的padding类型，是以零填充吗？

[2020-12-11 01:15] 821029883 commented on #4714
我这边碰到同样问题：
已解决：
在pretrained_model:最后位置添加 /

[2020-12-11 07:55] phlrain commented on #5005
1.8 版本对应的工具在这个目录下
https://github.com/PaddlePaddle/models/tree/release/1.8/PaddleNLP/shared_modules/preprocess/tokenizer

[2020-12-11 08:08] phlrain commented on #5009
dygraph.nn.Conv2D默认的padding类型，是以零填充  paddle.nn.Conv2D 可以设置填充类型

[2020-12-14 03:27] JonyJiang123 opened #5042 "module 'paddle' has no attribute 'enable_static'"
Traceback (most recent call last):
  File "train.py", line 252, in <module>
    paddle.enable_static()
AttributeError: module 'paddle' has no attribute 'enable_static'

[2020-12-14 08:44] dancinghui commented on #4894
我也遇到了同样的问题，将test_data文件换为infer.tsv,会报如下错误：
`Traceback (most recent call last):
  File "run_ernie_sequence_labeling.py", line 316, in <module>
    do_infer(args)
  File "run_ernie_sequence_labeling.py", line 264, in do_infer
    mode='test')
  File "/home/lihui/github_clone/models/PaddleNLP/lexical_analysis/creator.py", line 153, in create_pyreader
    phase=mode),
  File "../shared_modules/preproc

[2020-12-15 07:30] frankwhzhang commented on #5042
现在默认动态图 跑静态图需要添加paddle.enable_static() 请更新Paddle版本到2.0+

[2020-12-16 06:34] aliendaniel commented on #4894
1.8版本models    ./models-release-1.8/PaddleNLP/shared_modules/preprocess/ernie/task_reader.py 这个文件  第222行，未区分mode状态，导致度数据的时候都是按照train的格式来读数据的，导致无法读取infer的数据，这个bug麻烦改下？

[2020-12-16 07:07] PromiseXu1 commented on #4726
@liu824 请问你使用自己的特征进行训练，是用TSN提取的双流特征吗？我现在也需要用BMN来推断，但是输入特征提取这块卡了好久了

[2020-12-18 03:45] wwdok opened #5103 "We only support '%s()' in static graph mode, please call 'paddle.enable_static()' to enter static graph mode." % func.__name__"
我按照BMN的[README](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/video/models/bmn/README.md)教程做,到运行`bash run.sh predict BMN ./configs/bmn.yaml`时遇到如下报错,请问如何debug,谢谢!

[code]

[2020-12-18 05:20] wwdok commented on #5103
我运行TALL也遇到了同样的问题,请问两者是不是相同的原因呢?
[code]

[2020-12-18 05:25] wwdok commented on #5103
[code]
可解决

[2020-12-18 05:25] #5103 closed, assigned to nobody

[2020-12-18 06:33] wwdok opened #5107 "TypeError: a bytes-like object is required, not 'str'"
My python version is 3.7.7, I got following error :

[code]

[2020-12-18 08:37] wwdok opened #5115 "Optimizer file [/home/weidawang/.paddle/weights/BMN.pdopt] not exits"
I got error when i am getting started with BMN:

[code]

[2020-12-18 08:37] wwdok commented on #5107
I can get it right on python2, but not for python3

[2020-12-19 02:24] PhenixZhang commented on #5005
超级感谢！

[2020-12-19 02:24] #5005 closed, assigned to nobody

[2020-12-21 08:56] sandyhouse commented on #5115
确认下这个文件是否存在

[2020-12-21 08:57] sandyhouse commented on #5107
please check your data type.

[2020-12-21 14:37] wwdok commented on #5115
不存在的话，应该去哪里下载呢？谢谢！

[2020-12-21 14:57] sandyhouse commented on #5115
这是什么模型？相关模型的README里面是否有介绍？

[2020-12-21 15:22] wwdok commented on #5115
是这个模型：https://github.com/PaddlePaddle/models/blob/release/2.0-beta/PaddleCV/video/models/bmn/README.md

[2020-12-21 15:26] sandyhouse commented on #5115
<img width="1030" alt="image" src="https://user-images.githubusercontent.com/6737864/102792675-cb288680-43e3-11eb-9daf-51dd66fb7fb5.png">
REAME里面有说明呀。可以通过model连接下载参数，然后通过weight参数指定就可以了。

[2020-12-21 15:34] wwdok commented on #5115
那个model链接下载出来是BMN.pdparams，不是BMN.pdopt，`--weights`应该指定`.pdparams`还是.`pdopt`呢，谢谢

[2020-12-21 15:37] sandyhouse commented on #5115
按照我的理解weights应该指定.pdparams，你可以先试一下，如果不行的话我找负责同学帮忙看一下。

[2020-12-21 15:38] wwdok commented on #5115
嗯嗯好的，我明天试试~

[2020-12-22 01:35] wwdok commented on #5115
你好,我刚刚尝试明确指定weights参数了,但还是报错,似乎BMN.pdopt是必不可缺的:

[code]

[2020-12-22 03:35] huangjun12 commented on #5115
有如下解决方案供您参考:
(1) 推荐您使用我们的动态图实现: https://github.com/PaddlePaddle/models/tree/develop/dygraph/bmn
训练好的参数文件可从[这里](https://paddlemodels.bj.bcebos.com/hapi/bmn.pdparams)下载；
(2) 您可以修改fluid.load接口为fluid.load_program_state，示例代码参考:
https://github.com/PaddlePaddle/models/blob/d111569654555efdc5cf8e11d709d70aedd95c37/PaddleCV/video/application/video_tag/models/tsn/tsn.py#L150；
(3) 您可以参考静态图下的教程训练BMN模型，得到pdopt

[2020-12-22 05:34] wwdok commented on #5115
谢谢巨佬,您的回答太周到了!用第一个动态图的方法我这边能跑通了,谢谢!

[2020-12-22 05:34] #5115 closed, assigned to huangjun12

[2020-12-22 07:41] #5042 closed, assigned to nobody

[2020-12-22 09:33] wwdok opened #5131 "FatalError: A serious error (Segmentation fault) is detected by the operating system. (at /paddle/paddle/fluid/platform/init.cc:303)"
大家好,我在按照[这个教程](https://github.com/PaddlePaddle/models/blob/release/2.0-beta/PaddleCV/video/application/video_tag/Run.md)运行video_tag的样例代码时,遇到了如下报错,请问有谁知道什么原因吗?谢谢!
[code]
我的电脑系统是ubuntu18.04,paddlepaddle版本是2.0.0rc0

[2020-12-23 07:07] lbq779660843 opened #5136 "有没有DeepASR的预训练模型，我只想先测试一下"
如题

[2020-12-23 09:41] bjjwwang commented on #5136
https://github.com/PaddlePaddle/DeepSpeech 这里有搜索过吗，如果没有的话 我通知下相关开发同学。

[2020-12-23 09:46] lbq779660843 commented on #5136
你好，DeepSpeech我还没看，因为它是在python2的环境上跑的，但我没有python2的环境；
现在只想看看DeepASR的推理效果

[2020-12-23 09:47] bjjwwang commented on #5131
好 收到 尽快研究下回复

[2020-12-23 12:35] hujunchao commented on #4826
大佬们，啥时候开源呀

[2020-12-23 13:01] wwdok commented on #5131
我在另外一台电脑上按照同样的步骤也试了一下，发现那边就没问题，可能这个问题跟我的电脑环境有关。

[2020-12-23 15:13] AmadeusSys commented on #2638
用人家东西，听人吹几个牛能怎样，自古以来拿人手短，觉得不适合心里骂两句得了，没必要来社区骂街。
什么是开源精神？非要别人把最顶尖最好的免费给你才行吗？请问你分又分享什么出来了呢？您那么牛逼的行业标杆项目咋不开源出来呢？让我们学习学习。
开源是分享，相互学习，不是你项目的垫脚石。
年轻人劝你耗子尾汁。

[2020-12-24 03:37] zehuichen123 commented on #4826
@hujunchao 他们开不了了 一作两个人都跑路去阿里了 我私聊了TangXu 讲了两句就不回了 感觉有点问题

[2020-12-24 14:18] ZeyuChen commented on #4994
https://github.com/baidu/lac
@FYF1997 How about try this repo？

[2020-12-24 14:19] ZeyuChen commented on #4994
@FYF1997
https://github.com/PaddlePaddle/models/tree/release/2.0-beta/PaddleNLP/examples/lexical_analysis
You can also compare the latest version of PaddleNLP lexical analsyis, it used dynamic graph to imlement BiGRU-CRF algorithm, maybe easy for you to finetune

[2020-12-24 14:21] ZeyuChen commented on #4938
https://github.com/PaddlePaddle/models/tree/release/2.0-beta/PaddleNLP/examples/text_classification
@liuchenbaidu
试试最新的动态图版本，可以非常容易的更换成3分类去Finetuning

[2020-12-24 14:22] ZeyuChen commented on #4925
https://github.com/PaddlePaddle/models/tree/release/2.0-beta/PaddleNLP
@Twinkle123321 试试最新的2.0版本吧，动态图的可能会比较清晰点

[2020-12-24 14:23] ZeyuChen commented on #4924
已修复。

[2020-12-24 14:23] #4924 closed, assigned to chenbjin

[2020-12-25 01:17] mervyn81 opened #5141 "请完善一下使用文档"
paddlerec的文档都是介绍性的文档, 没有像飞桨那样的使用教程 入门示例等开发文档.
paddlerec文档看完就能知道怎么样把程序跑起来, 但是完全不知道怎么去开发

[2020-12-25 02:17] GeorgeBohw opened #5142 "pre_ids_emb = fluid.layers.embedding（） error in c++"
os:
ubuntu  with gpu
paddle1.8

转换paddle到c++运行，下面两种情况，pyhon运行均正常，c++运行报错。
**attention.py中的def attention_infer（）函数：**

情况1：
pre_ids_emb = fluid.layers.embedding（）
转化的模型在c++环境下运行出现错误：

0   std::string paddle::platform::GetTraceBackString<std::string const&>(std::string const&, char const*, int)
1   paddle::platform::EnforceNotMet::EnforceNotMet(std::string const&, char const*, int)
2   paddle::opera

[2020-12-25 02:20] GeorgeBohw opened #5143 "“covert to c++” occurs error about “pre_ids_emb = fluid.layers.embedding（）”"
os:
ubuntu  with gpu
paddle1.8

转换paddle到c++运行，下面两种情况，pyhon运行均正常，c++运行报错。
**attention.py中的def attention_infer（）函数：**

情况1：
pre_ids_emb = fluid.layers.embedding（）
转化的模型在c++环境下运行出现错误：

0   std::string paddle::platform::GetTraceBackString<std::string const&>(std::string const&, char const*, int)
1   paddle::platform::EnforceNotMet::EnforceNotMet(std::string const&, char const*, int)
2   paddle::opera

[2020-12-25 02:22] GeorgeBohw commented on #5143
def attention_infer（）函数如下：

def attention_infer(images, num_classes, use_cudnn=True):

    max_length = 20
    gru_backward, encoded_vector, encoded_proj = encoder_net(
        images, is_test=True, use_cudnn=use_cudnn)

    backward_first = fluid.layers.sequence_pool(
        input=gru_backward, pool_type='first')
    decoder_boot = fluid.layers.fc(input=backward_first,

[2020-12-25 02:25] Steffy-zxf commented on #4938
你好！你可以根据你的实际应用情况，更改数据类别数。参考以上示例：

[2020-12-25 02:25] GeorgeBohw commented on #5143
def attention_infer（）如下：

def attention_infer(images, num_classes, use_cudnn=True):

    max_length = 20
    gru_backward, encoded_vector, encoded_proj = encoder_net(
        images, is_test=True, use_cudnn=use_cudnn)

    backward_first = fluid.layers.sequence_pool(
        input=gru_backward, pool_type='first')
    decoder_boot = fluid.layers.fc(input=backward_first,

[2020-12-25 02:48] wwdok commented on #5131
我在跑CTCN时也遇到相同的问题了:

[code]

[2020-12-25 03:29] wang-kangkang commented on #3124
我这边用paddle的profiler的时候也遇到了相同的报错，我的问题是没有source正确cuda的CPUTI库，导致系统找的普通的cuda库是/home/work/cuda-9.0/lib64/下的，找的libcupti.so是在/usr/local/cuda/extras/CUPTI/lib64/libcupti.so下的，这是cuda8的。所以版本混乱了。
解决方法是重定向libcputi.so的路径，export LD_LIBRARY_PATH=/home/work/cuda-9.0/extras/CUPTI/lib64/:$LD_LIBRARY_PATH   然后跑这里的官方demo就可以了：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/profiler_cn/profiler_cn.html#pro

[2020-12-25 07:42] HawChang opened #5146 "动态图多卡训练时 收集各梯度的函数apply_collective_grads运行出错"
系统：CentOS release 6.3
paddle版本：1.8.1.post107
python版本: python2.7

模型代码：
textcnn代码结构参数：
![image](https://user-images.githubusercontent.com/7113823/103125593-8bed8480-46c6-11eb-80c5-7ccb57446e64.png)
训练代码：
![image](https://user-images.githubusercontent.com/7113823/103125565-74ae9700-46c6-11eb-9078-adfe2fcb81d4.png)

出错信息：
![image](https://user-images.githubusercontent.com/7113823/103125644-a9bae980-

[2020-12-25 07:57] wangchaochaohu commented on #5146
你这边reshape前后的大小要一样吧 reshape之后的大小还是要 17694 * 512=9059328

[2020-12-25 08:56] HawChang commented on #5146
我没有主动做过reshape操作 这是调用apply_collective_grads出的错

[2020-12-28 02:02] pele228 opened #5148 "视频分类模型STNET训练问题"
用自己的数据训练STNET模型，视频数据是两分类问题，报错信息如下：
Traceback (most recent call last):
  File "train.py", line 262, in <module>
    train(args)
  File "train.py", line 247, in train
    profiler_path=args.profiler_path)
  File "/home/aistudio/work/models/PaddleCV/video/utils/train_utils.py", line 135, in train_with_dataloader
    str_time, epoch, train_iter, time_info_str))
  File "/home/aistudio/work/models/Paddl

[2020-12-28 02:05] pele228 commented on #5148
MODEL:
    name: "STNET"
    format: "pkl"
    num_classes: 2
    seg_num: 7
    seglen: 5
    image_mean: [0.485, 0.456, 0.406]
    image_std: [0.229, 0.224, 0.225]
    num_layers: 50
    topk: 2

TRAIN:
    epoch: 60
    short_size: 256
    target_size: 224
    num_reader_threads: 12
    buf_size: 1024
    batch_size: 32
    num_gpus: 1
    use_gpu: True
    filelist: "data/dataset/mydata/train.

[2020-12-28 03:18] HawChang commented on #5146
已解决，原因是构建textcnn时，embedding层的参数is_sparse设置成了True，梯度更新时将稀疏更新。而查看apply_collective_grads函数中时发现有如下注释：
![image](https://user-images.githubusercontent.com/7113823/103187147-44513d80-48fe-11eb-9855-3e1abfc69ad3.png)
因此猜测是梯度更新时，embedding层为稀疏更新所致。将is_sparse改为False后，代码可正常运行了。

[2020-12-28 03:18] #5146 closed, assigned to nobody

[2020-12-28 04:05] pele228 commented on #5148
去除top5的统计

[2020-12-28 04:05] #5148 closed, assigned to nobody

[2020-12-28 06:47] littletomatodonkey commented on #4800
感谢反馈，这块已经修复：

https://github.com/PaddlePaddle/models/blob/08c08300e959103349f2782a496b2b17d40e3c0d/PaddleCV/metric_learning/train_elem.py#L193

[2020-12-28 07:23] wangchaochaohu commented on #5141
您好 我们收到您的反馈 后续会加强文档示例建设

[2020-12-29 01:10] wwdok commented on #4411
我在使用CTCN时遇到报错了([链接](https://github.com/PaddlePaddle/models/issues/5131#issuecomment-751154174)), 伙计们能帮忙看一下吗 ? 谢谢 !

[2020-12-29 03:29] yizhipipixia opened #5155 "使用文本分类任务时自己的准备的样本在加载时被替换成官方样本(train.tsv, dev.tsv, dev.tev)怎么破,求指导"
项目链接:https://github.com/PaddlePaddle/models/tree/4d87afd6480737b64b5974c9c40a5b1c5a4600b3/PaddleNLP/examples/text_classification/rnn

加载的时候是从train.py的这里进去的(但是里面调的类有点复杂,就不知道怎么改了)
    train_ds, dev_ds, test_ds = ChnSentiCorp.get_datasets(
        ['train', 'dev', 'test'])

![11](https://user-images.githubusercontent.com/65219051/103256610-d7ef4080-49c8-11eb-8a4f-a30256b4ef0f.png)

[2020-12-29 03:51] Steffy-zxf commented on #5155
你好！加载自定义数据时，需要自己写一个dataset class，继承自`paddle.io.Dataset`，需要实现
* `__getitem__`: 根据给定索引获取数据集中指定样本，在 paddle.io.DataLoader 中需要使用此函数通过下标获取样本。

* `__len__`: 返回数据集样本个数， paddle.io.BatchSampler 中需要样本个数生成下标序列。

 具体说明可以参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/io/Dataset_cn.html#dataset

如果不需要写代码的话，自定义数据集文件格式保持和默认的chnsenticorp数据集格式一致。可以将 默认的chnsenticorp数据集 替换 成 自定义数据集文件。paddl

[2020-12-29 10:09] yizhipipixia commented on #5155
采用的后一种方法,不过,自定义数据集文件用的时候放在paddlenlp/datasets/chnsenticorp目录下时,一运行就被替换掉了(经过测试,我把官方的tsv文件中的字符串,改掉一个字程序都会发现,并使用下载下来的新数据集进行替换覆盖,真的就我把里面的逗号改成句号都会被认定为,错误然后被覆盖替换掉......)

老师你看看,我是我准备的数据格式错了还是必须要改代码呢,下面是转成tsv格式的代码
`if __name__ == "__main__":
    file1 = open("locator_yes12.txt", "r", encoding="utf-8")
    file2 = open("blogs_cut.txt", "r", encoding="utf-8")
    file3 = open("locator_yes12_1.tsv","w",encod

[2020-12-29 11:57] yizhipipixia commented on #5155
好吧我找到问题所在了.....官方chnsenticorp.py大概79行那里,判读了数据集由md5哈希函数模块得到的字符串与官方数据集的默认值比较,如果不一样就重新替换........

[2020-12-30 02:55] yizhipipixia opened #5161 "使用自己制作的tsv数据集进行文本分类,训练的过程中得到如下报错,怎么破,"
项目链接:https://github.com/PaddlePaddle/models/tree/4d87afd6480737b64b5974c9c40a5b1c5a4600b3/PaddleNLP/examples/text_classification/rnn

训练命令:python train.py  --use_gpu=False --network=bilstm --lr=5e-4 --batch_size=64 --epochs=5 --save_dir='./checkpoints'

将C:\Users\Administrator\.paddlenlp\datasets\chnsenticorp目录下的train.tsv 与dev.tsv和test.tsv进行了替换,然后进行训练
训练了3步,然后就报错了,报错信息如下
step   10/4050 - loss: 0.6

[2020-12-30 03:09] Steffy-zxf commented on #5161
你好！从报错信息来看，

输入的word id超过了 词表范围，请检查输入word id。

[2020-12-30 03:12] Steffy-zxf commented on #5155
是的，在加载数据的时候，程序会检查文件的md5是否符合预期。你可以修改chnsenticorp的md5 为 自定义数据集的md5值既可，

https://github.com/PaddlePaddle/models/blob/release/2.0-beta/PaddleNLP/paddlenlp/datasets/chnsenticorp.py#L31

或者 选择第一种方案

[2020-12-30 08:32] yizhipipixia commented on #5161
输入的word id超过了 词表范围,请问是指输入的样本中的词与映射字典不对应,还是指样本数量超过代码中原本设置的阀值呢,脑袋有些乱不知道从哪里开始改

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Steffy-zxf"<notifications@github.com&gt;;
发送时间: 2020年12月30日(星期三) 中午11:09
收件人: "PaddlePaddle/models"<models@noreply.github.com&gt;;
抄送: "Just Coconut"<2426785744@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/models] 使用自己制作的tsv数据集进行文本分类,训

[2020-12-30 10:23] yizhipipixia commented on #5161
好的,最后检查结果是,样本中的数据长度太长了 唉......

[2020-12-30 11:08] stopit opened #5163 "lac 模型fine-tune"
一、现状
目前使用lac模型提取文本中ORG信息作为公司或机构的名称返回给上层应用。
对于一般的机构信息，模型可以正常识别，但是我们的文本中存在很多非标准的公司/机构数据，例如：“包店镇手机大卖场”、“李梅种子专营店”等，lac就很难正常识别。
目前我们想到的办法是整理了大概10w条类似的数据：小勇手机专营店 /ORG 百姓大药房/ORG ....... 准备利用lac进行fine-tune
二、问题

目前按照这个思路操作的过程中，lac训练出来的模型最终将很多非ORG的数据识别成了ORG，准确率反而降低了很多。我们也观查到一个现象就是：一个句子的开头几个词很容易被识别为ORG，我们猜想这可能是训练样本中只含有ORG导致模型认为开头的词由很大概率是ORG，所以导致了误判（问题1：这个猜想是否合理/正确）。

目前在思考一个解决思路（问题2）：是否需要在训练集中混入一些其他非ORG样本，或

[2020-12-30 11:32] yizhipipixia commented on #5161
额,之前的结论不对,...训练了到step 3470/4050 - loss: 0.3289 - acc: 0.9842 - 1s/step
结果又报了相同的错误.......我迷糊了唉......
ValueError: (InvalidArgument) Variable value (input) of OP(fluid.layers.embedding) expected >= 0 and < 857580, but got 858057. Please check input value.
  [Hint: Expected ids[i] < row_number, but received ids[i]:858057 >= row_number:857580.] (at D:\2.0.0rc1\paddle\paddle/fluid/operators/lookup_table

[2020-12-30 16:53] yizhipipixia opened #5165 "由于自定义数据集较大,引起报错,怎样修改代码?"
项目链接:https://github.com/PaddlePaddle/models/tree/4d87afd6480737b64b5974c9c40a5b1c5a4600b3/PaddleNLP/examples/text_classification/rnn

将C:\Users\Administrator.paddlenlp\datasets\chnsenticorp目录下的train.tsv 与dev.tsv和test.tsv替换成了自己的训练集,然后进行训练,发现当训练集总样本个数在3万左右时不会报错,可以进行训练得到模型,但超过了就会发生下面的错误,请问改怎样修改代码呢,摆脱大佬详细些哈 我这边东拼西凑32万个样本的数据集不容易啊!求助,求助!
报错代码如下
`step 30/47 - loss: 0.3494 - acc: 0.9693 - 290ms/step

step

[2020-12-31 05:23] GaoWei8 commented on #5165
初步分析是embeding和输入数据的大小不匹配的问题。具体修改细节，我再沟通下模型负责人吧。

[2020-12-31 05:56] yizhipipixia commented on #5165
好的 麻烦了

[2020-12-31 07:14] yuemengrui opened #5167 "DeepASR有python3版本的吗？"

[2020-12-31 12:35] GaoWei8 commented on #5167
这个模型已经不维护了，暂时没有。

[2021-01-03 13:26] Vvegetables opened #5170 "sh run_ernie.sh train 无法完成"
换了自己只有几条数据的train.tsv，就卡着不动了，过了2小时了
![image](https://user-images.githubusercontent.com/9248572/103479622-ee066200-4e09-11eb-96fd-6388a5f55283.png)

[2021-01-04 01:12] pele228 opened #5171 "Attention LSTM/Attention Cluster 数据初始化问题"
如果不使用youtobe8m 数据，只使用Kinetics类似的MP4格式的数据集，如何做训练数据的pkl包转换？ 可否给出类似Kinetics的pkl包(video-id,[frame1, frame2,...,frameN],label)的具体说明

[2021-01-04 01:43] #5167 closed, assigned to nobody

[2021-01-04 02:25] Steffy-zxf commented on #5165
@yizhipipixia 你好！根据错误提示来看，是输入的word id 超过了 词表大小。请检查输入word id 以及 词汇表大小。

[2021-01-04 02:44] Steffy-zxf commented on #5161
你好！参考该问题回复：https://github.com/PaddlePaddle/models/issues/5165

[2021-01-04 05:15] liym27 commented on #5171
请问具体是指哪个模型呢？

[2021-01-04 06:31] jiweibo commented on #5170
可以先对着代码看下卡在了哪个地方？

[2021-01-04 06:44] HawChang opened #5172 "不太理解models/dygraph/transformer/model.py中position_encoding_init函数的逻辑"
该函数是位置编码函数
以位置长度为4，emb大小为6为例：
原论文的位置编码应该是：
![image](https://user-images.githubusercontent.com/7113823/103507715-c1e6f180-4e9a-11eb-8380-ca8a30e2420c.png)
值为：
![image](https://user-images.githubusercontent.com/7113823/103507886-12f6e580-4e9b-11eb-864b-8e7fddf888ba.png)

但models/dygraph/transformer/model.py中的position_encoding_init函数
输入n_position=4, d_pos_vec=6时，输入如下：
![image](https://user-images.git

[2021-01-04 08:28] pele228 commented on #5171
LSTM Attention 以及Attention Cluster等默认使用youtobe8m数据集的model。

[2021-01-04 08:50] abhay-kum commented on #4976
Did this was solved? i have got same thing while running train.py

[2021-01-04 11:17] liym27 commented on #5171
Paddle models repo下的哪个模型呢？

[2021-01-04 11:46] liym27 commented on #5172
@FrostML 麻烦看一下这个问题

[2021-01-04 12:12] FrostML commented on #5172
这个函数之前的实现有些问题，为兼容之前的模型这里没有再修改了。
现可以参考 [position_encoding_init](https://github.com/PaddlePaddle/models/blob/develop/PaddleNLP/paddlenlp/transformers/transformer/modeling.py#L11)。具体的实现方式与 [tensor2tensor](https://github.com/tensorflow/tensor2tensor) 一致，与原论文有差距，原论文是 `sin` 与 `cos` 相间隔，tensor2tensor 实现是 `np.concatenate(sin, cos)` 。

[2021-01-04 12:44] HawChang commented on #5172
请问有动态图版本的transformer实现吗

[2021-01-05 01:10] pele228 commented on #5171
https://github.com/PaddlePaddle/models/tree/release/2.0-beta/PaddleCV/video/models/attention_lstm

[2021-01-05 02:21] XiaXingLuo opened #5174 "编译自定义OP不成功"
作者你好。在AIStuidio终端下运行链接中的项目，执行sh make.sh报错误，提示g++ error。
![image](https://user-images.githubusercontent.com/62875177/103614694-3043b680-4f64-11eb-9f47-22ce96f0e531.png)
![image](https://user-images.githubusercontent.com/62875177/103614796-62edaf00-4f64-11eb-917c-d645e5fc2cb0.png)
(https://github.com/PaddlePaddle/models/tree/release/2.0-beta/PaddleCV/3d_vision/PointRCNN)

[2021-01-05 04:05] chajchaj commented on #5171
多谢关注~
AttentionLstm模型我们基于paddle2.0提供了更加易用的版本https://github.com/PaddlePaddle/PaddleVideo/，
关于数据集参考https://github.com/PaddlePaddle/PaddleVideo/blob/main/docs/zh-CN/dataset/youtube8m.md

[2021-01-05 05:00] FrostML commented on #5172
训练的脚本相关、README 可以在 [这里](https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/examples/machine_translation/transformer) 找到，组网代码可以参考 [transformer](https://github.com/PaddlePaddle/models/blob/develop/PaddleNLP/paddlenlp/transformers/transformer/modeling.py)，同上面 `position_encoding_init` 的链接。

[2021-01-05 10:51] Intsigstephon opened #5176 "metric_learning finetune部分训练，耗时过长"
![image](https://user-images.githubusercontent.com/17264083/103637831-06e85200-4f87-11eb-873f-331c9f2cf1a5.png)

[2021-01-05 10:53] Intsigstephon commented on #5176
v100 32G卡训练；平均6分钟10个batch;  算下来需要花30天？

[2021-01-06 02:45] pele228 commented on #5171
你好，可否提供AttentionLstm模型训练的pkl包数据集的具体格式，类似于Kinetics的(video-id,[frame1, frame2,...,frameN],label)，YouTube8m数据集下载难度太大，我想通过mp4文件直接转pkl包。

[2021-01-06 09:19] p1n0cch10 opened #5177 "How to add flow attention cluster for the attention cluster model?"
Hi, I am using the attention cluster model for video classification. The original paper shows that the model uses the rgb attention, the flow attention, and the audio attention. However, there are only the rgb attention and the audio attention in the code.

Can anyone tell me how to add the flow attention cluster for the model? Many thanks.

[2021-01-06 12:18] kinghuin commented on #5163
Hi，欢迎反馈问题。
问题1：可能原因是训练集中开头词为ORG的比较多
问题2：肯定是要以整个句子标注的形式作为样本作为样本的，非ORG的单词标注为O

[2021-01-06 18:00] yizhipipixia opened #5179 "paddleclas初体验错误，求帮忙看看是哪里没有设置对?"
参考的官方链接：https://github.com/PaddlePaddle/PaddleClas/blob/dygraph/docs/zh_CN/tutorials/quick_start.md
使用3.1 零基础训练：不加载预训练模型的训练
基于ResNet50_vd模型，训练脚本如下所示。

export CUDA_VISIBLE_DEVICES=0
python -m paddle.distributed.launch \
    --gpus="0" \
    tools/train.py \
        -c ./configs/quick_start/ResNet50_vd.yaml

然后报出的错误如下

`2021-01-07 01:55:54 INFO: valid_interval : 1
2021-01-07 01:55:54 INFO: validate

[2021-01-07 03:26] stopit commented on #5163
收到，谢谢。目前lac初始模型的效果跟paddlehub中lac预训练模型效果是否一致。

[2021-01-07 04:47] littletomatodonkey commented on #5179
数据路径没问题的话，设置下num_workers为0试下哈，或者拉一下最新代码

https://github.com/PaddlePaddle/PaddleClas/blob/21dc73f724141717c1ee12e0f5415ba7a9442928/configs/quick_start/ResNet50_vd.yaml#L32

https://github.com/PaddlePaddle/PaddleClas/blob/21dc73f724141717c1ee12e0f5415ba7a9442928/configs/quick_start/ResNet50_vd.yaml#L54

[2021-01-07 06:07] xiaosheng123XIAO commented on #4958
请问一下，这个问题解决了吗，我也遇到同样的问题啦

[2021-01-07 06:43] kinghuin commented on #5163
不一致，paddlehub中提供了预训练模型，paddlenlp只提供了gru+lstm+crf的网络结构

[2021-01-07 06:44] chajchaj commented on #5177
Thanks for your attention.
Because of efficiency，our open source version doesn't use flow data, which is diff from the paper.
We'll contact the author of the paper to ask if there is an original implementation,
and release it as soon as possible if exists.
BTW, we sincerely recommend the new repo https://github.com/PaddlePaddle/PaddleVideo,  based on Paddle2.0,
including video recognition, action

[2021-01-07 06:56] chajchaj commented on #5177
For now, you can extract the flow feature by using https://github.com/yjxiong/dense_flow.

[2021-01-07 09:13] xiaosheng123XIAO opened #5182 "models-release-1.7/PaddleNLP/emotion_detection模型"
将开源ernie模型进行sh run_ernie train微调，源码报错，这个修改了ernie函数中的fluid.data，改成fluid.layers.data就能成功进行train。可在进行sh run_ernie.sh infer时，出现如下错误，这个是哪里有问题呢

Traceback (most recent call last):
  File "run_ernie_classifier.py", line 402, in <module>
    main(args)
  File "run_ernie_classifier.py", line 303, in main
    main_program=test_prog)
  File "/data/yuting/models-release-1.7/PaddleNLP/emotion_detection/utils.p

[2021-01-07 12:14] yizhipipixia commented on #5179
经过测试发现错误是为图片路径不对（因为wegt太慢为用idm下载后解压过去的 所以多了一层路径....）

[2021-01-07 12:43] #5179 closed, assigned to littletomatodonkey

[2021-01-07 12:48] juncaipeng commented on #5182
好的，我们找同学来看下。

[2021-01-07 19:12] yizhipipixia opened #5184 "使用paddleclas进行模型预测得到的输出怎样理解？"
参考的官方链接：https://github.com/PaddlePaddle/PaddleClas/blob/dygraph/docs/zh_CN/tutorials/getting_started.md

自己制作的只有两个分类（0和1两个标签）的图形数据集进行训练得到的关于ResNet50_vd的预训练模型，然后根据手册调用模型进行预测，但是不怎么能理解输出结果top1,top2，top3，以及使用inference模型得到的top-1 class，top-1 score等等的含义，即我应该主要参考输出的什么参数，来判断输入的图片属于什么类型呢？希望能够得到解答。

**1.自己数据集的标签结构（只有0，1两个类别）：**
`photos/2kNifOOKx6HcVtfoskeZDQ.jpg 0
photos/2kOFbSSqFi_vSqWFB1Ukqw.jpg 1`

**2.使用

[2021-01-08 00:56] xiaosheng123XIAO commented on #5182
希望能帮解决，十分感谢

[2021-01-08 02:03] #5171 closed, assigned to cjt222, chajchaj

[2021-01-08 02:36] littletomatodonkey commented on #5184
你好，根据下面这个信息，看出你训练的时候，类别数设置的是102，因此在infer的时候需要将class_num参数指定为102

[code]

https://github.com/PaddlePaddle/PaddleClas/blob/8e26493c329f07623438c6c32824bb7bc8e29aa9/tools/infer/utils.py#L56

[2021-01-08 02:42] littletomatodonkey commented on #5184
如果是2分类，需要把这里改成2

https://github.com/PaddlePaddle/PaddleClas/blob/8e26493c329f07623438c6c32824bb7bc8e29aa9/configs/quick_start/ResNet50_vd_finetune.yaml#L6

同时把topk改为1（topk不能大于类别数）

https://github.com/PaddlePaddle/PaddleClas/blob/8e26493c329f07623438c6c32824bb7bc8e29aa9/configs/quick_start/ResNet50_vd_finetune.yaml#L12

[2021-01-08 09:24] HongChen123 opened #5189 "PaddleCV image_classification训练过程中存在显存消耗递增的问题，最终显存溢出"
使用GTX1080训练，用的GoogLeNet网络，开始训练过程中，显存消耗在5000M以内，训练10个epoch以后，显存开始增加，再训练10几轮后，显卡再次增加，最终导致显存不够，程序异常

[2021-01-08 10:15] zhangting2020 commented on #5189
请提供下使用的paddle版本，以及您训练模型时使用到的训练命令等配置，方便我们排查问题。

[2021-01-08 10:26] HongChen123 commented on #5189
paddle版本1.7.2
模型训练的命令
python train.py   --data_dir=./data/CG_Notch/   --total_images=781  --class_dim=2   --validate=True   --model=GoogLeNet   --batch_size=16   --lr_strategy=cosine_decay    --lr=0.1   --num_epochs=200   --model_save_dir=output/   --l2_decay=7e-5   --use_label_smoothing=True   --label_smoothing_epsilon=0.1

[2021-01-08 18:53] yizhipipixia commented on #5184
恩已改，后面发现还要改 export_model.py这个转换程序里的class_idm这个参数！

[2021-01-11 03:41] zhangting2020 commented on #5189
您好，方便的话，建议您先使用Paddle 2.0RC版本，以及最新的models代码运行，看能否复现。Paddle1.7版本较早，如果存在bug我们也无法维护。同时我们也会尽快尝试最新版本，确认是否存在此问题。

[2021-01-11 06:47] zhangting2020 commented on #5184
@yizhipipixia 请问是否已解决您的问题？如果已解决，我们将关闭issue

[2021-01-11 07:44] yizhipipixia commented on #5184
是的 已解决，多谢帮助

[2021-01-11 07:50] #5184 closed, assigned to littletomatodonkey

[2021-01-12 01:47] xiaosheng123XIAO commented on #5182
您好，请问这个问题需要怎么解决呢，麻烦提示一下，谢谢

[2021-01-13 02:48] ccbptm opened #5197 "关于paddle安装中的TensorRT问题"
我是ubuntu18.04系统，显卡是1660ti，安装了CUDA10.0+cudnn7，安装的TensorRT是6.0.1.5，paddle版本是1.8.5
但我安装完之后提示：（可是我已经安装了TensorRT，库目录也加到路径中去了）
Suggestions:
  1. Check if TensorRT is installed correctly and its version is matched with paddlepaddle you installed.
  2. Configure TensorRT dynamic library environment variables as follows:
  - Linux: set LD_LIBRARY_PATH by `export LD_LIBRARY_PATH=...`
  - Windows: set PATH b

[2021-01-14 03:08] yaoxuefeng6 commented on #5197
这个是warning？ 不影响使用？

[2021-01-14 06:29] millywang516 opened #5201 "怎么把自己的数据集换成paddleNLP内置的数据集格式"
~
原项目在这https://aistudio.baidu.com/aistudio/projectdetail/1294333?channelType=0&channel=0

问题：我自己的数据集应该是什么格式的？

例子中的数据集是PaddleNLP内置该数据集：

train_ds, dev_ds, test_ds = ppnlp.datasets.ChnSentiCorp.get_datasets(['train', 'dev', 'test'])

train_ds是'ChnSentiCorp' object
长下面这样

![image](https://user-images.githubusercontent.com/62973945/104553024-e26e3300-5674-11eb-88d4-82888f4534e7.png)

train_ds需要apply

[2021-01-15 01:36] DemonWang555 opened #5204 "DeepSpeech报错"
在提供的容器内进行普通话的训练、预估、评价。
进行推断sh run_infer_golden.sh时报错，应该是paddle.fluid问题。
  File "/DeepSpeech/model_utils/network.py", line 62, in <module>
    class RNNCell(fluid.layers.RNNCell):
AttributeError: 'module' object has no attribute 'RNNCell'

[2021-01-15 09:11] baiyfbupt commented on #5201
您好，RD同学暂时有事，稍晚会回复您的~

[2021-01-15 09:39] nickyoungforu opened #5207 "variational_seq2seq inference error"
in models/PaddleNLP/legacy/seq2seq/variational_seq2seq/
run sh infer.sh ptb
it shows:
----------------------
Error Message Summary:
----------------------
InvalidArgumentError: Dims of all Inputs(X) must be the same, but received input 1 dim is:320096, 1 not equal to input 0 dim:32, 1.
  [Hint: Expected input_dims[i] == input_dims[0], but received input_dims[i]:320096, 1 != input_dims[0]:32, 1.] a

[2021-01-15 10:41] chajchaj commented on #4749
请问您的问题解决了吗？
我们基于paddle2.0发布了更加易用的repo：https://github.com/PaddlePaddle/PaddleVideo， 里面包含BMN，欢迎使用、Star、Issue、PR~

[2021-01-15 10:48] chajchaj commented on #4724
请问您的问题解决了吗？
我们基于paddle2.0发布了更加易用的repo：https://github.com/PaddlePaddle/PaddleVideo， 里面包含BMN，欢迎使用、Star、Issue、PR~

[2021-01-15 15:01] FaithZM opened #5208 "Could not load libjpeg-turbo library Using opencv_loader instead."
![paddle](https://user-images.githubusercontent.com/49088624/104742595-965ee380-5785-11eb-9e12-498930593d93.png)

[2021-01-16 01:51] millywang516 commented on #5201
以解决

[2021-01-16 03:31] millywang516 commented on #5201
![image](https://user-images.githubusercontent.com/62973945/104796062-449e7380-57ee-11eb-8d20-9d2dcd4c5639.png)
还是需要paddle dataset

[2021-01-17 13:34] indrasweb commented on #5131
Also got this error running with a v100 CUDA11. No idea how to fix.

[2021-01-17 23:23] indrasweb commented on #5131
Managed to get it running by upgrading to CUDA11.2 https://developer.nvidia.com/cuda-downloads and installing w/ docker:
[code]

However, inference is 3.5x slower than paddleocr1.1 (installed without docker). Any ideas why this might be? Whilst the accuracy is better, the performance hit is undesirable.

[2021-01-17 23:30] indrasweb opened #5210 "PaddleOCR 2.0.2 is slower than 1.1 using CUDA11.2"
I finally managed to get the latest version running without segfaults by doing the following:

2) Update to cuda11.2 https://developer.nvidia.com/cuda-downloads
3) sudo docker run --name ppocr --gpus all -v $PWD:/paddle --shm-size=32G --network=host -it paddlepaddle/paddle:2.0.0rc1-gpu-cuda11.0-cudnn8 /bin/bash
4) python3.8 -m pip install paddleocr  (no need to install paddlepaddle-gpu because the

[2021-01-18 00:46] Xreki commented on #5210
There are some performance issue on CUDA11.0. We are fixing it.

[2021-01-18 03:46] Steffy-zxf commented on #5201
你好！参考该问题的回复：https://github.com/PaddlePaddle/models/issues/5155#issuecomment-751937035

[2021-01-18 06:53] iclementine commented on #5204
这个目前只能支持 1.8

[2021-01-18 07:05] iclementine commented on #5207
这个需要使用 padddlepaddle 1.6 来运行. 新版在 shape 上的要求发生了一些变化.

[2021-01-18 08:18] nickyoungforu commented on #5207
请问是对dynamic_decode的inits的shape要求变了吗？
我看基于2.0版本的代码 https://github.com/PaddlePaddle/models/tree/release/2.0-beta/PaddleNLP/examples/text_generation/vae-seq2seq里面跟这里的好像看不出什么区别，对dec_initial_states的定义是类似的。

https://github.com/PaddlePaddle/models/tree/release/2.0-beta/PaddleNLP/examples/text_generation/vae-seq2seq/model.py下：
dec_first_hidden_cell = self.fc(latent_z)
dec_first_hidden, dec_first_cell = pa

[2021-01-18 08:54] iclementine commented on #5208
你跑的是哪个模型?

[2021-01-18 09:14] FaithZM commented on #5208
https://github.com/PaddlePaddle/models/tree/release/1.8/PaddleCV/tracking这个模型

[2021-01-18 09:14] FaithZM commented on #5208
https://github.com/PaddlePaddle/models/tree/release/1.8/PaddleCV/tracking这个模型

[2021-01-18 10:38] iclementine commented on #5207
看起来是 stack 里面的  tensor 的形状不尽相同.

可能是更前面的 op 的计算结果出现了不符合预期的行为.  你是在用 1.6 来运行吗?

[2021-01-18 10:41] iclementine commented on #5208
可能是你的 opencv 的安装有问题.
参考 https://stackoverflow.com/questions/10465209/how-to-compile-opencv-with-libjpeg-turbo

[2021-01-18 12:31] nickyoungforu commented on #5207
你好，我现在是1.8的环境，我想在不换版本的前提下跑通这份代码。请问这个应该怎么debug？
之前在paddle答疑群里有同学告诉我应该跑这份代码：https://github.com/PaddlePaddle/models/tree/release/2.0-beta/PaddleNLP/examples/text_generation/vae-seq2seq/
那这份代码在2.0下应该是通的吧。两份代码进入decode前的逻辑看上去好像没什么区别。

[2021-01-18 14:11] FaithZM commented on #5208
![image](https://user-images.githubusercontent.com/49088624/104925536-f2ba4100-59d9-11eb-9537-4e7a74ff81f0.png)
谢谢，已解决libjpeg-turbo问题，但是Using opencv_loader instead这个问题的原因还是没弄明白

[2021-01-20 04:59] iclementine commented on #5207
我们 debug 主要靠打印形状来看是否符合要求。但是建议先用 1.6 版本来运行。因为跨版本的一些差异范围可能需要看 release note 才清楚。

[2021-01-20 13:18] iclementine commented on #5208
你先检查为何该路径不存在的问题吧。
如果那个能解，再考虑其他的问题。有可能它异常了就报出这个来？

[2021-01-20 14:24] AnBaolei1984 opened #5219 "单目标跟踪模型动态图转静态图失败"
背景：

  想导出https://github.com/PaddlePaddle/models/tree/release/2.0-beta/PaddleCV/tracking 这里面的atom_resnet18模型，用来部署推理验证，发现是只有动态图模型，所以想转成静态图。

代码：

![1261611152403_ pic_hd](https://user-images.githubusercontent.com/49897975/105187371-ad2e7d00-5b6d-11eb-982f-1dcaf05fe531.jpg)

在最后一步，  paddle.jit.save(model, 'inference_models/AtomNet')的时候失败，报下面的问题(参考文件的error [log)](url
[error.txt](https://github.com/Pa

[2021-01-20 14:25] AnBaolei1984 commented on #5219
`import os
import sys
import argparse
import importlib
import multiprocessing
import paddle
import cv2 as cv
import numpy as np
import paddle.fluid as fluid
from models.bbreg import atom

env_path = os.path.join(os.path.dirname(__file__), '..')
if env_path not in sys.path:
    sys.path.append(env_path)

import ltr.admin.settings as ws_settings

params_path = "./pretrained_models/atom/atom_resnet18

[2021-01-21 02:34] whut09 opened #5220 "paddlehub中的视频模型使用预测框架create_paddle_predictor运行闪退"
env:
windows7
python3.7
paddle 1.8.5

使用paddlehub中的视频流标签模型videotag_tsn_lstm本身运行正常，由于想用cpu部署，使用create_paddle_predictor开启mkldnn部署运行直接闪退，没有任何提示和错误，必现

使用create_paddle_predictor的闪退代码（该代码运行其他paddle模型正常）：
class PaddleOCRBackend():
    def init(self, model_path, model_filename, params_filename):
        config = AnalysisConfig(model_filename, params_filename)

        config.disable_gpu()
        # confi

[2021-01-22 09:39] XiaXingLuo opened #5222 "运行3d_version里面的pointrcnn模型编译自定义的op出错。"
直接在ai  stuidio下运行，paddle版本2.0.0-rc.post101,gcc version 7.5.0 (Ubuntu 7.5.0-3ubuntu1~16.04),按照pointrcnn模型的GitHub教程来，运行 sh make.sh,报以下错误，
![image](https://user-images.githubusercontent.com/62875177/105472912-707e9500-5cd7-11eb-87a1-1a032b93da40.png),网上百度过觉得是gcc 和g++版本不一致的问题，终端查看g++是这样子的
![image](https://user-images.githubusercontent.com/62875177/105473081-a4f25100-5cd7-11eb-9bda-7e5b158c5b2a.png)
和单

[2021-01-22 11:06] XiaXingLuo commented on #5222
发现图片看不到，粘一下错误好了。

aistudio@jupyter-613437-1427643:~$ cd work/models/PaddleCV/3d_vision/PointRCNN/PaddleCV/3d_vision/PointRCNN/ext_op/src
aistudio@jupyter-613437-1427643:~/work/models/PaddleCV/3d_vision/PointRCNN/PaddleCV/3d_vision/PointRCNN/ext_op/src$   sh make.sh
You are using Paddle compiled with TensorRT, but TensorRT dynamic library is not found. Ignore this if TensorRT is not needed.
You are

[2021-01-22 12:38] #5219 closed, assigned to nobody

[2021-01-22 17:13] Minjuner-97 opened #5223 "恳请大佬大神们赐教：如何使用自己的数据集训练MRC？"
本人小白，想用Dureader robust的MRC训练一套自己的中文数据集，但是我没有id，只有 问句和文本。
请问我改如何更改源数据集呢？
恳请大佬大神们赐教

[2021-01-23 04:18] XiaXingLuo commented on #4677
你解决了嘛？g++版本在ai stuidio下无法自己降级安装，脑阔痛

[2021-01-23 04:57] zhufeng888 commented on #4677
可以自己在线下先编译好，然后再把编译好的文件上传到ai studio内运行

[2021-01-23 06:06] zhufeng888 commented on #4677
我有传到公开项目里，你可以直接fork运行。
https://aistudio.baidu.com/aistudio/projectdetail/891826?channelType=0&channel=0

[2021-01-23 16:13] ZeyuChen commented on #5220
@whut09 可否将这一issues再 https://github.com/PaddlePaddle/PaddleHub repo中重新提一下，会有专人跟进。

[2021-01-23 16:15] ZeyuChen commented on #5204
@wpcbupt 我们即将启动DeepSpeech的2.0版本升级，预计4月份完成。

[2021-01-23 16:20] ZeyuChen commented on #5207
@nickyoungforu 可否试用下我们最新的2.0版本的vae-seq2seq？
https://github.com/PaddlePaddle/models/tree/release/2.0-beta/PaddleNLP/examples/machine_translation/seq2seq
https://github.com/PaddlePaddle/models/tree/release/2.0-beta/PaddleNLP/examples/text_generation/vae-seq2seq
欢迎使用我们的新版本继续给提反馈意见。

[2021-01-23 16:23] ZeyuChen commented on #5170
https://github.com/PaddlePaddle/models/tree/4d87afd6480737b64b5974c9c40a5b1c5a4600b3/PaddleNLP/examples/text_classification/pretrained_models
@Vvegetables 试试我们最新2.0版本的文本分类，欢迎给我们反馈意见。

[2021-01-23 16:25] ZeyuChen commented on #4994
@FYF1997 https://github.com/baidu/lac/
Try to use this repo for advance usage.

[2021-01-23 16:25] #4994 closed, assigned to kinghuin

[2021-01-23 16:26] ZeyuChen commented on #5142
可否描述下更多背景信息？是在尝试那类模型？

[2021-01-24 04:50] upenggod commented on #4881
#    if args.weights:
#        assert os.path.exists(
#            args.weights), "Given weight dir {} not exist.".format(args.weights)
注释了，错误依然出现

[2021-01-24 04:51] upenggod commented on #4881
AssertionError: Optimizer file [./models/bmn/BMN.pdopt] not exits

[2021-01-24 09:24] smallv0221 commented on #5223
你可以在这里找到Dureader robust的数据集代码
https://github.com/PaddlePaddle/models/blob/release/2.0-beta/PaddleNLP/paddlenlp/datasets/squad.py
你应该需要继承Dureader robust数据集并且重写_read()方法，按照你的数据文件格式读入，最后也返回SquadExample就可以，没有qas_id的话可以在读入数据的时候加一个简单的递增的id。但是要训练的话只有问句和文本可能不够吧，还得有答案。

[2021-01-24 09:34] Minjuner-97 commented on #5223
您好，谢谢~ 目前我把自己的数据（问句，文本，答案）改成了源数据的格式并进行了替换，其中id是0到len（data）的一个数字递增，squad.py中更改了md5码。这样应该也可行吧~

[2021-01-24 10:22] smallv0221 commented on #5223
可以的，而且你如果是使用本地数据集用--data_path传入的话可以不用管md5.

[2021-01-25 02:28] LiuChiachi commented on #5207
@nickyoungforu hello，解决方法建议是先把[这一行](https://github.com/PaddlePaddle/models/blob/abf2c09751c70be72343479c898808fb68a3025a/PaddleNLP/legacy/seq2seq/variational_seq2seq/model.py#L233)
的`unsqueeze`函数去掉，`sample_output_layer`变成下面这样：
[code]

[2021-01-25 02:36] LiuChiachi commented on #5207
同时建议使用我们2.0版本的模型，都是基于PaddlePaddle2.0开发的，会比之前的版本更好用~~

[2021-01-25 06:52] nickyoungforu commented on #5207
嗯嗯 之前已经解决 忘记close了 感谢回复
会尝试2.0版本

[2021-01-25 06:52] #5207 closed, assigned to LiuChiachi

[2021-01-26 02:47] whut09 commented on #5220
在https://github.com/PaddlePaddle/PaddleHub repo中提

[2021-01-26 08:20] qingqing01 commented on #5222
@XiaXingLuo

看起来 nvcc这里没有编译成功。

https://github.com/PaddlePaddle/models/blob/release/2.0-beta/PaddleCV/3d_vision/PointNet%2B%2B/ext_op/src/make.sh#L10

看您 GCC version 7.5.0，请问G++版本是多少？您安装的PaddlePaddle版本是哪个？

[2021-01-26 09:26] XiaXingLuo commented on #5222
paddle 版本2.0 0，g++是5.4.0吧，就是gcc和g++版本不一致的原因好像，然后在aistudio环境下我还没找到降级gcc的办法。这里放图片看不到，我把我命令行结果放出来好了。
aistudio@jupyter-613437-1472864:~$ gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-linux-gnu/7/lto-wrapper
OFFLOAD_TARGET_NAMES=nvptx-none
OFFLOAD_TARGET_DEFAULT=1
Target: x86_64-linux-gnu
Configured with: ../src/configure -v --with-pkgversion='Ubuntu 7.5.0-3ubuntu

[2021-01-26 09:34] XiaXingLuo commented on #4677
谢谢老哥  我才开始动手搞，谢谢你的项目。

[2021-01-26 13:51] jishixin opened #5233 "BMN 推断失败"
E:\PythonProject\models\PaddleCV\video> python predict.py --model_name BMN --config configs/bmn.yaml --log_interval 1 --weights .\models\bmn\BMN
DALI is not installed, you can improve performance if use DALI
[INFO: predict.py:  199]: Namespace(batch_size=1, config='configs/bmn.yaml', filelist=None, infer_topk=20, log_interval=1, model_name='BMN', save_dir='data\\predict_results', use_gpu=True, vid

[2021-01-27 02:32] thuansb commented on #4881
I also facing same issue, please help

[2021-01-27 02:57] Milalaa commented on #5222
@XiaXingLuo
你好，运行3d-version里的PointNet++，编译自定义的op也同样出现错误
find / -name cc1plus 找到cc1plus的路径
export PATH=$PATH:cc1plus路径
再进入src文件夹sh.make.sh，编译不再报错了，但是没有在`ext_op/src` 目录下将会生成 `pointnet2_lib.so`
![image](https://user-images.githubusercontent.com/73516646/105936654-0bd48900-608f-11eb-862f-11e65fd561c1.png)
![image](https://user-images.githubusercontent.com/73516646/105936732-332b5600-608f-11eb-8ae0-6a7

[2021-01-27 03:06] huangjun12 commented on #4881
we recommend to use our new repo: https://github.com/PaddlePaddle/PaddleVideo/blob/main/docs/zh-CN/model_zoo/localization/bmn.md

[2021-01-27 03:08] huangjun12 commented on #5233
we recommend to use our new repo: https://github.com/PaddlePaddle/PaddleVideo/blob/main/docs/zh-CN/model_zoo/localization/bmn.md

[2021-01-27 03:58] chenxiaozeng commented on #5155
可以参考这个官方项目：https://aistudio.baidu.com/aistudio/projectdetail/1468469

[2021-01-27 03:58] chenxiaozeng commented on #5201
可以参考这个官方项目：https://aistudio.baidu.com/aistudio/projectdetail/1468469

[2021-01-27 07:27] qingqing01 commented on #5222
https://github.com/PaddlePaddle/models/blob/abf2c09751c70be72343479c898808fb68a3025a/PaddleCV/3d_vision/PointNet%2B%2B/ext_op/src/make.sh#L10-L13

@XiaXingLuo  @Milalaa  去掉这个命令中的  -ccbin cc ，试下，我们回头在AIStudio上试下。

[2021-01-27 08:43] littlepan0413 opened #5235 "paddle2.0和paddlenlp loss.backward()错误"
环境
paddlecloudplatform    3.0.7
paddlehub              1.8.3
paddlenlp              2.0.0b3
paddlepaddle-gpu       2.0.0rc1
paddleslim             1.1.0
![image](https://user-images.githubusercontent.com/6512760/105965697-b57f3e80-60be-11eb-99ab-f605ce238fc7.png)

错误
【dev】step: 0 - loss: 3.521899 precision: 0.000, recall: 0.009, f1: 0.001 current best 0.000
========================================

[2021-01-28 01:25] iceriver97 opened #5240 "tracking 评估报错"
地址：https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/tracking#%E5%BC%80%E5%A7%8B%E6%B5%8B%E8%AF%95

执行代码：
`!python eval_benchmark.py -d VOT2018 -tr ATOMnet_ep0040_models -te atom.default_vot -e 40`

后报错：
[code]

[2021-01-28 01:30] iceriver97 commented on #5240
@zhiqiu

[2021-01-28 02:45] ZeyuChen commented on #5235
能否提供更多信息？运行的是哪个模型代码示例？@littlepan0413

[2021-01-28 02:50] Steffy-zxf commented on #5235
你好！根据以上错误信息，

应该是在模型训练时没有切换model的训练模式，可以 在评估结束之后，手动改成model.train()。

通过线下沟通，问题已解决。

[2021-01-28 02:50] #5235 closed, assigned to ZeyuChen

[2021-01-28 03:01] Milalaa commented on #5222
@qingqing01 @XiaXingLuo
突然发现我鲁莽了，编译成功后ls一下是有.so文件的，只不过在AIStudio文件栏看不到。

[2021-01-28 06:26] linghaolu opened #5245 "PaddleCV/metric_learning 开发分支和1.8分支 finetuning 代码无法运行"
执行环境paddle 1.7

拉取metric_learning开发分支，执行 finetuning 代码，报告没有引入对应python包错误。
拉取1.8分支，fluid.load报告错误。
拉取1.7分支可以执行

[2021-01-28 08:24] Huihuihh opened #5246 "ssd模型在jetson NX上推理时间不合理"
利用1.6版本提供的ssd模型，在jetson上安装paddle后进行推理测试
[code]
分了利用gpu和cpu进行推理，获取推理时间
在gpu上推理：
[code]
在cpu上推理：
[code]
可以看到cpu推理时间比gpu还短，感觉有点不太合理

[2021-01-28 09:00] zgsxwsdxg opened #5248 "I can't find the model aboutface recognition"

[2021-01-28 09:03] zgsxwsdxg commented on #5248
I am looking forward to your reply，ths.

[2021-01-29 04:33] zhwesky2010 commented on #5248
@zgsxwsdxg 您好，https://github.com/PaddlePaddle/models/tree/release/2.0-beta/PaddleCV/face_detection 这是人脸检测模型

[2021-01-29 05:53] zgsxwsdxg commented on #5248
谢谢，我指的是人脸识别模型，不是检测

[2021-01-29 08:12] wangxinzhe0617 opened #5250 "能举个例子说明video tag项目训练attention lstm多标签怎么标注吗？"
项目中只是说了使用多标签微调lstm 没有说明具体该怎么给视频标注多标签 标注几个 这个对于新手也比较难，能举个例子说明一下嘛，给没有经验的小菜一个标注的方向，万分感谢！谢谢！

[2021-01-29 09:36] zhwesky2010 commented on #5245
@linghaolu 我们会进行测试并修复相应问题

[2021-01-29 09:36] zhwesky2010 commented on #5240
@qingqing01 麻烦模型负责人修复下

[2021-01-29 09:37] zhwesky2010 commented on #5248
@zgsxwsdxg 目前仓库还没有人脸识别，后面可能会在paddleClas里增加

[2021-01-31 15:15] Minjuner-97 opened #5252 "paddlenlp如何指定GPU训练？"
在运行paddlenlp的mrc任务的时候出现设置CUDA_VISIBLE_DEVICES = 1，训练的时候仍然使用 gpu = 0来训练，请问如何彻底解决这个问题？

[2021-01-31 16:38] cocoa0409 opened #5253 "NER教程中发现bug"
hi,
https://aistudio.baidu.com/aistudio/projectdetail/1317771
在这个NER任务中，主模型代码
`
class BiGRUWithCRF2(nn.Layer):
    def __init__(self, emb_size, hidden_size, word_num, label_num):
        super(BiGRUWithCRF2, self).__init__()
        self.word_emb = TokenEmbedding(extended_vocab_path='./conf/word.dic', unknown_token='OOV') #EMB
`
TokenEmbedding的利用有误

我查看了源码，extended_vocab_path的参数会作为读取字典，经过_read_voc

[2021-02-01 01:14] zgsxwsdxg commented on #5248
谢谢

[2021-02-01 01:14] #5248 closed, assigned to zhwesky2010

[2021-02-01 02:31] huangjun12 commented on #5250
relative issue: https://github.com/PaddlePaddle/PaddleVideo/issues/99
we recommend to use new repo, https://github.com/PaddlePaddle/PaddleVideo

[2021-02-01 03:04] joey12300 commented on #5252
你好，如果你执行CUDA_VISIBLE_DEVICES='1' python xxx.py， 实际上是使用了1号卡进行训练，但显示仍然会是0号卡，这个可以通过nvidia-smi查询显存占用情况

[2021-02-01 03:26] Sqhttwl opened #5254 "PaddleCV模型库下的3D检测里的M3D-RPN模型文档有问题"
这个目录下的文档
快速开始目录下的cd M3D-RPN后
运行ln -s  /path/to/kitti dataset/kitti提示：
ln:failed to create symbolic link "dataset/kitti":没有这个目录

另外：本模型是在1.8下开发的，什么时候能提供个2.0的版本呢

[2021-02-01 06:30] Minjuner-97 commented on #5252
谢谢，我的问题可能没有阐述清楚~我想指定第二块GPU进行训练，目前已经解决了。
在所有的GPU都可视的情况下：
paddle.set_device("gpu:0" if args.n_gpu else "cpu")
在这句中，代表指定第0块GPU
若是：paddle.set_device("gpu:1" if args.n_gpu else "cpu")
在这句中，代表指定第1块GPU

[2021-02-01 06:33] Minjuner-97 commented on #5223
已解决，如使用自己的数据，可以将数据输入默认路径，但是需要在squad.py中改一下md5码（因为代码会核对md5，若不对应则会自动下载自带的原始数据。）；指定--data_path路径也是如此。

[2021-02-02 04:48] qili93 commented on #5254
收到，会修复这个文档问题，并确认2.0的版本更新时间。

https://github.com/PaddlePaddle/models/tree/release/2.0-beta/PaddleCV/3d_vision/M3D-RPN

[2021-02-02 05:37] OliverLPH commented on #5246
@Huihuihh
您好，您现在使用的是Paddle训练框架前向来做的推理，训练框架对Jetson GPU目前没有做特定的优化，性能的确可能存在问题。
可以尝试参考 [NV Jetson上预测部署示例](https://paddle-inference.readthedocs.io/en/latest/demo_tutorial/cuda_jetson_demo.html) 来做推理，调用Paddle-Inference预测库，GPU性能会有较大提升

[2021-02-02 05:51] Huihuihh commented on #5246
Paddle-Inference我看好像没有支持ssd_mobilenet_v1的推理？

[2021-02-02 06:23] OliverLPH commented on #5246
@Huihuihh
您好，Paddle-Inference 支持 ssd_mobilenet_v1 推理，该模型在 TX2 上进行过测试，batch_size <=2 时可以使用。代码参考 [预测示例 (Python)](https://paddle-inference.readthedocs.io/en/latest/quick_start/python_demo.html) 改写下主要的预测部分代码即可。
但我注意到您使用的是 cudnn8，也就是jetpack 4.4？该版本的推理存在 [内存泄露问题](https://github.com/PaddlePaddle/Paddle/issues/30805#issuecomment-770619575)，我们正计划在下一个小版本想办法做一下规避处理。
如果着急使用，建议先使用下cudnn 7版本，或者使用如下方法绕过
[code]

[2021-02-02 08:26] Milalaa opened #5260 "3d_vision PointNet++分类训练报错UnavailableError: There are no kernels which are registered in the fill_constant operator."
刚入门小白，遇到了问题恳请各位大神帮忙！谢谢
AI Studio
PaddlePaddle2.0.0
3d_vision PointNet++分类训练报错UnavailableError: There are no kernels which are registered in the fill_constant operator.具体如下
aistudio@jupyter-622623-1481923:~/PointNet++$ python train_cls.py --model=MSG --batch_size=16 --save_dir=checkpoints_msg_cls
2021-02-02 16:17:38,539-INFO: -----------  Configuration Arguments -----------
2021-02-02 16:17:38,539-

[2021-02-02 08:40] chenxiaozeng commented on #5253
您好，经研发同学排查，这里确实写错了。预计会在本周修复bug，感谢您的反馈！

[2021-02-02 09:29] lijianshe02 commented on #5254
kitti dataset需要你自己下载到本地，然后将相应文件夹连接到dataset/kitti

[2021-02-02 09:31] lijianshe02 commented on #5254
kitti dataset需要你自己下载到本地，然后将相应文件夹连接到dataset/kitti， dataset文件夹需要自己创建

[2021-02-02 09:47] linghaolu opened #5262 "[问题咨询]PaddleCV/metric_learning/utility.py recall_topk_ori 实现"
想咨询一下 PaddleCV/metric_learning/utility.py recall_topk_ori 实现是根据什么公式算的，有点没看明白。谢谢

    def recall_topk_ori(fea, lab, k):
        fea = np.array(fea)
        fea = fea.reshape(fea.shape[0], -1)
        n = np.sqrt(np.sum(fea**2, 1)).reshape(-1, 1)
        fea = fea / n
        a = np.sum(fea**2, 1).reshape(-1, 1)
        b = a.T
        ab = np.dot(fea, fea.T)
        d = a + b - 2 * ab
        d = d

[2021-02-02 11:55] nasaweimao opened #5264 "KeyError: b'nframes'"
https://github.com/PaddlePaddle/models/blob/release/2.0-beta/PaddleCV/video/models/nextvlad/README.md
按照官网的教程，在cpu上进行nextvlad的模型评估的时候，
出现：
nframes = record[b'nframes']
KeyError: b'nframes'

[2021-02-02 13:05] 18810580125 opened #5265 "如何修改部分网络参数"

[2021-02-02 13:07] 18810580125 commented on #5265
在实际使用中，需要将ResNet50的最后一个下采样层的步长设置为1，具体需要怎样进行修改？
resnet50.layer4[0].downsample[0].stride = (1, 1)
resnet50.layer4[0].conv2.stride = (1, 1)
并没有作用

[2021-02-03 03:46] LDOUBLEV commented on #5210
I guess your environment is CUDNN8 + CUDA11.2.
We found that there is a performance degradation problem when using GPU to predict with cudnn8.
It is recommended to use cudnn7 + cuda10

[code]
BTW, paddle2.0rc1 version does not support cuda11.2. If U have more question about PaddleOCR, you can open an issue in [OCR Issue](https://github.com/PaddlePaddle/PaddleOCR/issues)

[2021-02-03 05:03] XiaXingLuo commented on #5222
好的 谢谢阿

[2021-02-03 05:19] XiaXingLuo commented on #5222
去了，修改后如下
![图片](https://user-images.githubusercontent.com/62875177/106701874-5bccc600-6622-11eb-91fa-c20d44e29f7d.png)
依然报如下错误。
aistudio@jupyter-613437-1472864:~/models/PaddleCV/3d_vision/PointRCNN/ext_op/src$ sh make.sh
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/include
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/libs
gcc: error trying t

[2021-02-03 07:52] cocoa0409 opened #5267 "paddle2.0不同层参数，不同学习率如何实现？"
我看Optimizer基类有个learning_rate参数，貌似是全聚德，请问如果我用Optimizer对网络不同部分设置不同的学习率，应该如何实现呢？

[2021-02-03 08:46] yinhaofeng commented on #5267
可以使用ParamAttr在相应的层中调整学习率，ParamAttr中的学习率默认为1，在对参数优化时，最终的学习率等于optimizer的学习率乘以ParamAttr的学习率。
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/param_attr/ParamAttr_cn.html#paramattr
https://www.paddlepaddle.org.cn/documentation/docs/zh/faq/train_cn.html#optimizerparamattr

[2021-02-03 09:57] cocoa0409 commented on #5267
@yinhaofeng 嗯嗯 谢谢，还有一个问题，现在2.0的paddlenlp的crf文档不全，在LinearChainCrf这个类有个参数crf_lr，请问这个参数和优化器的参数是什么关系？这个参数等价于ParamAttr里设置的crf学习率吗？

[2021-02-03 10:21] guoshengCS commented on #5267
crf_lr会和优化器产生的全局learning rate相乘，是和`这个参数等价于ParamAttr里设置的crf学习率吗`这个等价的，也请 @kinghuin 帮忙确认下

[2021-02-03 11:33] heavengate commented on #5260
你好，请问按照README里面编译ext_op了么

[2021-02-03 11:35] #5262 closed, assigned to nobody

[2021-02-03 11:35] linghaolu commented on #5262
欧氏距离

[2021-02-03 11:36] huangjun12 commented on #5264
训练数据准备好了嘛，数据路径设置是否正确？

[2021-02-03 12:03] xzhoubb opened #5269 "video-tag特征提取模型tsm权重"
https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/video/application/video_tag
请问video-tag的视频特征提取是否有tsm模型，有的话里可以提供一下tsm的预训练权重，学习一下，谢谢

[2021-02-04 03:21] huangjun12 commented on #5269
video_tag里用的是tsn模型提取特征，目前还没有对应tsm的预训练权重。
tsm我们有在公开数据集Kinetics-400上的预训练权重，另外我们还有优化后的pptsm模型，可以参考最新repo地址:
https://github.com/PaddlePaddle/PaddleVideo

[2021-02-04 14:20] #4881 closed, assigned to huangjun12

[2021-02-05 08:56] geekChinaMaster opened #5274 "paddlenlp实体识别模型服务器部署问题"
paddlenlp训练的模型只能通过save_pretrained保存，通过from_pretrained来加载吗？
这样的话工业化部署，只有cpu的情况下很慢，请问如何工业化如果部署，性能怎么提升？

[2021-02-05 10:41] MissPenguin commented on #5274
paddle训练出的模型一般建议导出为inference模型进行推理部署，效率比预训练模型会高很多，模型也会更小，可以参考文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/05_inference_deployment/index_cn.html

[2021-02-06 00:17] jind11 commented on #4197
Hello, I am wondering whether this code is available now? Thanks!

[2021-02-07 03:54] geekChinaMaster commented on #5274
ok，谢谢
那用paddlehub训练出来的模型也建议导出为inference模型进行推理部署吗，可以不可以参照您发的上一个文档

[2021-02-07 05:59] Huihuihh commented on #5246
这个是tensorrt不支持吗，我在jetson nx上编译paddle时，指定了
-DTENSORRT_ROOT=/usr/lib/aarch64-linux-gnu/，但是好像没啥用
[code]

[2021-02-07 06:15] OliverLPH commented on #5246
@Huihuihh
这是因为目前develop版本，2.0版本等新增了编译选项`WITH_TENSORRT`，默认是关闭的，需要同时加上
[code]
参考：https://github.com/PaddlePaddle/Paddle/blob/develop/CMakeLists.txt#L31

另外目前我们提供编译好的 Jetpack 4.3 版本的C++推理库，如果您的Jetson是 Jetpack4.3版本，可以用我们编译好的库
2.0-rc1 下载链接：https://paddle-inference-lib.bj.bcebos.com/2.0.0-rc0-nv-jetson-cuda10-cudnn7.6-trt6/paddle_inference.tgz

官网链接：https://paddleinference.paddlepaddle.org.cn/user_guide

[2021-02-07 06:43] Huihuihh commented on #5246
cmake的时候，这个是不是就显示开启了tensorrt
[code]

[2021-02-07 07:35] OliverLPH commented on #5246
@Huihuihh
是的。而且编译完成后，可以查看 `paddle_inference_install_dir/version.txt` 文件，会有如下信息，有TensorRT信息则表示TensorRT联编成功了
[code]

[2021-02-07 10:02] guojiahuiEmily opened #5275 "一个死链接，请修复"
死链接：
https://github.com/PaddlePaddle/models/blob/develop/PaddleNLP/examples/examples/named_entity_recognition/express_ner

位置：
https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/examples

模型 | 简介
-- | --
BiGRU-CRF

[2021-02-08 02:47] ZHUI commented on #5275
好的，感谢您的反馈，我们会尽快修复。

另外，PaddleNLP目前独立了新的repo，后续的大部分代码会在这边更新：
 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples

欢迎关注、fork、star！

[2021-02-09 02:10] milala1235 commented on #5260
@heavengate
你好！ext_op编译过了

[2021-02-19 06:47] xgyyao commented on #4980
@wengooooo 你好，请问你这个问题解决了吗，我也遇到你的这个问题了

[2021-02-20 06:07] pangyoki commented on #4976
Paddle has some requirements for cuda and cudnn version. Please refer to https://www.paddlepaddle.org.cn/documentation/docs/en/install/pip/windows-pip_en.html .

If your computer has NVIDIA® GPU, please make sure that the following conditions are met and install the GPU Version of PaddlePaddle:
- CUDA toolkit 9.0/10.0/10.1/10.2 with cuDNN v7.6.5+
- CUDA toolkit 11.0 with cuDNN v8.0.4
- Hardware de

[2021-02-20 09:47] guojiahuiEmily commented on #5275
谢谢

[2021-02-20 09:47] #5275 closed, assigned to nobody

[2021-02-23 01:29] Huihuihh commented on #5246
这个tensorrt编译完成了，但是执行推理的时候，服务器自动断电了
我使用了
[code]
但是执行的时候，到这里就服务器断电了
[code]

[2021-02-23 02:20] shangzhizhou commented on #5246
请检查电源是否稳定，日志中的优化过程的确会有比较大的GPU计算量。

[2021-02-23 02:22] Huihuihh commented on #5246
电源是稳定的，因为不使用这个tensorrt，能够成功执行推理

[2021-02-23 02:28] Huihuihh commented on #5246
Paddle-Inference-Demo里面自带的cuda_linux_demo项目可以成功使用tensorrt，但是换成ssd模型之后好像有问题

[2021-02-23 02:30] shangzhizhou commented on #5246
其他场景可能没有将主频和功率推至最大值，有条件的话可以换个设备试一下。
或者将测试代码发一下，我们试一下是否可以复现。

[2021-02-23 02:33] Huihuihh commented on #5246
我是修改了yolov3里面的代码
`infer_yolov3.py`
[code]
`utils.py`
[code]

[2021-02-23 03:10] shangzhizhou commented on #5246
请提供一下模型

[2021-02-23 03:18] shangzhizhou commented on #5246
您好，请参考jetson开发手册 https://docs.nvidia.com/jetson/l4t/index.html%23page/Tegra%2520Linux%2520Driver%2520Package%2520Development%2520Guide/power_management_jetson_xavier.html%23wwpID0E0WD0HA
将GPU主频设置的低一些测试一下。

[2021-02-23 03:27] Huihuihh commented on #5246
模型：
链接：https://pan.baidu.com/s/1WQlrywqDSnZ_M8aN2SsARw
提取码：ldcx

[2021-02-23 04:37] shangzhizhou commented on #5246
请先降低频率和电源功耗模式测试下

[2021-02-23 06:07] Huihuihh commented on #5246
我看了下这个gpu的频率好像是最低的
[code]

[2021-02-23 06:15] Huihuihh commented on #5246
降低电源功耗好像可以通过原先的地方了
NV Power Mode: MODE_10W_2CORE

[2021-02-23 06:26] Huihuihh commented on #5246
但是好像卡在后面的地方了
[code]

[2021-02-23 07:40] Huihuihh commented on #5246
`config.enable_use_gpu`的值需要设置小一点

[2021-02-23 08:15] shangzhizhou commented on #5246
谢谢反馈~

[2021-02-23 08:34] wangye707 commented on #5246
@Huihuihh   你好，问题现在解决了吗？

[2021-02-23 08:37] Huihuihh commented on #5246
解决了

[2021-02-23 10:58] dotsonliu opened #5281 "how to use paddlepaddle vit(vision transformer) to video classfication"

[2021-02-23 16:22] bjjwwang commented on #5281
已记录 在请教CV方向同学

[2021-02-24 05:06] HaodaY opened #5282 "在lstm语言模型中为什么要先把全部数据读进来？"
https://github.com/PaddlePaddle/models/blob/release/1.7/PaddleNLP/language_model/train.py 文件第212行，直接在reader.get_data_iter()里边读文件边yield感觉也可以吧？

[2021-02-24 11:06] geekChinaMaster opened #5283 "使用paddlenlp训练模型后使用paddle.jit.save()保存模型，使用paddle.jit.load()加载后无法使用"
### 使用paddlenlp训练模型后使用paddle.jit.save()保存模型，使用paddle.jit.load()加载后无法使用
在使用PaddleNLP语义预训练模型ERNIE完成快递单信息抽取的项目中，使用自定义数据集训练模型并保存，加载后无法使用：
环境：ai studio，paddlenlp2.0b
代码如下：
`
from utils import evaluate
import paddle
global_step = 0
for epoch in range(1, epochs+1):
    for step, (input_ids, segment_ids, seq_lens, labels) in enumerate(train_loader, start=1):
        logits = model(input_ids, segment_ids)

[2021-03-02 01:52] 1138886114 commented on #1164
When I load two different models in a service, I will report an error: ` precondition notmeterror: tensor not initialized yet when tensor:: type() is called

[Hint: holder_ should not be null.] (at /paddle/paddle/fluid/framework/tensor.h:202)

[operator < conv2d > error]`

[code]

[2021-03-03 09:15] chenwhql commented on #4720
模型已放出，先关闭这个卡片，有问题再打开

[2021-03-03 09:15] #4720 closed, assigned to nobody

[2021-03-03 09:30] chenwhql commented on #4579
目前2.0正式版已发布，新的DataLoader已经可以使用了，先关闭这个卡片，有问题再打开

[2021-03-03 09:30] #4579 closed, assigned to nobody

[2021-03-11 14:01] ZeyuChen commented on #5204
@wpcbupt https://github.com/PaddlePaddle/DeepSpeech
paddle 2.0版本的DeepSpeech已升级完毕，可以试下给我们反馈，谢谢！

[2021-03-11 14:01] #5204 closed, assigned to ZeyuChen

[2021-03-11 14:02] ZeyuChen commented on #5252
@Minjuner-97 https://github.com/PaddlePaddle/PaddleNLP
PaddleNLP以迁移至独立Repo，欢迎在新Repo上给我们反馈关注，谢谢。

[2021-03-11 14:02] #5252 closed, assigned to nobody

[2021-03-13 07:51] lao-xu opened #5286 "如何直接调用模型？"
如何像pytorch一样能直接调用各种模型，比如像
torchvision.models.detection.fasterrcnn_resnet_fpn(pretrained=true)，model.eval()
这样很方便

[2021-03-14 05:57] provence3658 commented on #4720
请问模型的路径是？之前论文中的https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/Research/ACL2020-DuRecDial下还是没有

[2021-03-15 02:21] Hsoms opened #5287 "infer预测结果理解，和度量学习生成向量的应用问题"
已经通过训练生成了模型，通过infer做了预测，经过预测显示的是各张图片对应的五维向量。想问，是否可理解为：每张图片的特征已被抽象为一个特征向量？然后想问：如果要实现多张图片的相识度比对，如何处理这些向量？是否有运用paddle做图像相识度度量的案例？
![2021-03-15 10-15-28 的屏幕截图 - 2](https://user-images.githubusercontent.com/44991938/111095338-2b107280-8578-11eb-9f5f-f7bf1ab67474.png)

[2021-03-15 03:51] danleifeng commented on #5286
您好，目前paddle提供部分模型的直接调用，可参考paddle.vision.models.* 下的模型：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/models/mobilenetv1/mobilenet_v1_cn.html

[2021-03-15 06:37] Hsoms commented on #5287
还有一个不太明白，为什么你们的测试集里要放每张图片的image_id、 class_id、 super_class_id这三个变量，这不是一个简单的对图像进行向量化的过程吗？为什么还需要这些标签？

[2021-03-16 02:41] linghaolu opened #5288 "metric_learning 项目 tripletloss 实现疑问"
在metric learning 项目中，tripletloss 实现采用 fluid.layers.split 对batch输入数据分成anchor, positive, negative。
我在 reader.py 中查看 tripletreader 输出的数据格式为[anchor, pos, neg, anchor, pos, neg, anchor, pos, neg, anchor, pos, neg,....]
如果采用 fluid.layers.split 对输入数据进行split，这个split是间隔的对输入采样切分，还是直接进行三等分？
如果是三等分，好像tripletloss 实现貌似有些问题

不知道我理解的对不对，帮忙确认 fluid.layers.split  和 tripletreaer 两个实现是不是匹配的

谢谢

[2021-03-16 02:56] #5288 closed, assigned to nobody

[2021-03-17 01:48] Minjuner-97 opened #5289 "球各位大佬帮忙解答一下，关于MRC的问题。使用自己的数据集，预测结果出现单个字的情况？"
球各位大佬帮忙解答一下~
在使用paddlepaddle的MRC代码的时候，出现以下迷惑情况。
之前使用自带数据集，预测结果是正常的；使用自己的数据集（2151个），也是正常的，预测结果还不错的；
正常结果如下：
    "1612": "张国荣",
    "1206": "张火丁",
    "2025": "罗密欧",
    "372": "刘霓娜",
    "2885": "中井贵惠",
    "2768": "鲁桓公",
    "1969": "也遂皇后",
    "4026": "钱韵玲",
    "1451": "蒋友青",

后来使用自己的另外一个数据集（17199个），出现了一下情况：
    "0": "唐",
    "1": "作",
    "2": "丁",
    "3": "诺",
    "4": "令",
    "5": "沙",

[2021-03-17 06:22] Hsoms opened #5290 "复现度量学习时，做微调再训练时，导入预训练模型报错"
报错信息：
![SharedScreenshot](https://user-images.githubusercontent.com/44991938/111423061-aade3e80-872a-11eb-851c-114805e9312e.jpg)

没有微调时，训练生成的模型格式如下：
![SharedScreenshot1](https://user-images.githubusercontent.com/44991938/111423817-c9910500-872b-11eb-94e1-cb141d59af8c.jpg)
没有微调时，模型保存部分代码：
![t](https://user-images.githubusercontent.com/44991938/111424057-30162300-872c-11eb-80e8-7564ea841db6.jpg)

[2021-03-17 08:02] tianhechao commented on #5246
你好 请问你测试时，开启tensorrt，能够正确预测结果么？

[2021-03-17 08:03] tianhechao commented on #5246
@Huihuihh 你好 请问你测试时，开启tensorrt，能够正确预测结果么？

[2021-03-17 08:05] Huihuihh commented on #5246
可以正确预测结果

[2021-03-17 08:07] tianhechao commented on #5246
@OliverLPH 你好 请问我在jetsonTX2上,使用Je tPack4.3和Je tPack4.4的paddle-inference预测库（2.0rc1/2.0.1 c++库），开启gpu或tensorrt都无法正常预测,不使用gpu推理结果就正常，不知道您那里是否有进行过相关的测试？

[2021-03-17 08:29] Huihuihh commented on #5246
你说的这个问题，我好像遇到过，当时有两个jetson，一个是jetson nano，一个是NX，在NX上能正常使用gpu预测，在nano上却不能正常预测。因为我当时是在NX上编译的paddle，然后直接将编译好的whl拿到nano上安装，我怀疑可能是需要在nano上编译，有什么地方不匹配啥的，但是实际结果是在nano上编译的paddle安装还是gpu预测有问题

[2021-03-17 09:02] OliverLPH commented on #5246
@tianhechao 您好，gpu和tensorrt无法正常推理可能有以下原因，可以尝试排查下
1. 检查您的机器安装的`JetPack版本`是否和下载的`paddle-inference预测库的JetPack版本一致`。
2. 检查所下载的 `paddle-inference预测库` 架构是否是 volta架构(TX2对应架构)，或者是全架构的

以下脚本可以查询您下载的 `paddle-inference预测库` so的 sm_ 符号，相关符号对应架构请参考 [Matching CUDA arch and CUDA gencode for various NVIDIA architectures](https://arnon.dk/matching-sm-architectures-arch-and-gencode-for-various-nvidia-cards/)
[code]

[2021-03-17 14:19] tianhechao commented on #5246
下载的库没有问题，又尝试使用paddle-inference-demo中提供的resnet50的分类预训练模型，可以正确推理出类别
但是使用检测模型如yolov3就无法正常使用

***@***.***

发件人： Peihan
发送时间： 2021-03-17 17:02
收件人： PaddlePaddle/models
抄送： tianhechao; Mention
主题： Re: [PaddlePaddle/models] ssd模型在jetson NX上推理时间不合理 (#5246)
@tianhechao 您好，gpu和tensorrt无法正常推理可能有以下原因，可以尝试排查下
检查您的机器安装的JetPack版本是否和下载的paddle-inference预测库的JetPack版本一致。
检查所下载的 paddle-inference预测库 架构是否是 volta架构(TX2对

[2021-03-17 14:42] tianhechao commented on #5246
@OliverLPH
你好，下载的预测库没有问题，我又尝试使用paddle-inference-demo中paddle-trt例程提供的resnet50的分类预训练模型测试，可以正确推理出类别，但是检测模型如yolov3就无法正常使用，检测模型使用paddle-inference-demo中yolov3例程所提供的预训练模型
jetpack4.4 tx2推理库从官方下载https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/05_inference_deployment/inference/build_and_install_lib_cn.html
nv_jetson_cuda10.2_cudnn8_trt7_all(jetpack4.4/4.5)及nv_jetson_cuda10.2_cudnn8_trt7

[2021-03-18 03:50] Haidong-Kang opened #5291 "https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/video/models/nextvlad/README.md"
NeXtVLAD模型是第二届Youtube-8M视频理解竞赛中效果最好的单模型，在参数量小于80M的情况下，能得到高于0.87的GAP指标。该模型提供了一种将桢级别的视频特征转化并压缩成特征向量，以适用于大尺寸视频文件的分类的方法。其基本出发点是在NetVLAD模型的基础上，将高维度的特征先进行分组，通过引入attention机制聚合提取时间维度的信息，这样既可以获得较高的准确率，又可以使用更少的参数量。详细内容请参考[NeXtVLAD: An Efficient Neural Network to Aggregate Frame-level Features for Large-scale Video Classification](https://arxiv.org/abs/1811.05014)。

该模型提供了一种将桢级别的视频特征转化并压缩成特征向量->帧级别

[2021-03-18 08:53] iclementine commented on #5290
所用的 paddle 版本？
加载的时候传的参数是？

这里存在一些问题。是因为保存用的是 fluid.save
而加载的时候提示的是 Load_program_state 只能读取那三个 api 保存的结果。

[2021-03-18 11:07] wangye707 commented on #5246
@tianhechao 你好，目前我们排查了一下，tx2的jetpack4.3和4.4系统确实存在问题，在开启GPU后会出现程序直接终止且不报错的情况，经过我们测试，agx xavier, nx，nano设备下，该模型可以正常预测。如果您有其他jetson设备，可以暂时先用其他的设备，我们会尽快定位修复这个问题。

[2021-03-18 11:08] Hsoms commented on #5290
paddle版本为2.0.0

传入指令使用的是readme说明中的默认参数，仅仅将预训练模型地址做了应有的替换

我知道提示的内容，但是不明白，这读入的预训练模型到底要什么格式的，输出已经是paddle规定的样式啊。其次就是，这应该源码呀，怎么会有调用出问题，不是还用源码测出了调优数据吗。

[2021-03-18 11:16] Hsoms commented on #4788
你好，我遇到了同样的问题，请问你现在解决了这个预训练模型导入的问题吗？

[2021-03-18 11:23] huangjun12 commented on #5291
很细节！ 收到~

[2021-03-18 11:31] huangjun12 commented on #5291
该video库已迁移至新的github地址：https://github.com/PaddlePaddle/PaddleVideo 欢迎大家去新的代码仓库中，查看与阅读更多关于视频模型及应用的详细介绍以及新功能。

[2021-03-18 11:51] iclementine commented on #5290
其实需要保存的东西一般来说会有
pdopt 优化器
pdmode 模型结构定义
pdparams 参数文件

load_program_state 是一个较老的接口了，它适用于加载分散的参数文件。每个参数一个文件存在文件夹中。
我们现在推荐的用法是用 paddle.save paddle.load 之类的接口。用于保存 paddle.nn.Layer 的的 state_dict 和优化器的 state_dict. 会得到 pdparams 和 pdopt
还有一套用于静态图的 paddle.static.save paddle.static.load 接口。用于保存 program(paddle 的计算图)和参数等。会得到 pdparams, pdopt 和 pdmodel

如果是示例代码过时了，请给一下网址，我让对应的同学更新一下最新的写法。

[2021-03-18 11:56] Hsoms commented on #5290
你好，应该代码过时，代码地址：
https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/metric_learning

[2021-03-18 12:26] wangye707 commented on #5246
@tianhechao 你好，目前我们排查了一下，tx2的jetpack4.3和4.4系统确实存在问题，在开启GPU后会出现程序直接终止且不报错的情况，经过我们测试，agx xavier, nx设备下，该模型可以正常预测。如果您有其他jetson设备，可以暂时先用其他的设备，我们会尽快定位修复这个问题。

[2021-03-19 08:42] #2843 closed, assigned to shippingwang

[2021-03-19 09:28] vincentpengpeng opened #5292 "PyramidBox无法下载"
https://github.com/PaddlePaddle/models/tree/release/1.7/PaddleCV/face_detection
模型发布部分 Pyramidbox-v1-SSD 640x640 点击链接无法下载

[2021-03-19 10:43] Aurelius84 commented on #5292
感谢反馈，我们会优化一下这个点击链接。您可以使用这个`http://paddlemodels.bj.bcebos.com/PyramidBox_WiderFace.tar.gz`来下载

[2021-03-20 02:46] weihyemail opened #5293 "paddlepaddle2.0.0、paddlehub2.0.0版本ocr接口疑似存在内存泄漏"
ocr接口疑似存在内存泄漏请看一下问题出现在什么地方，谢谢。

1、版本：
paddlepaddle2.0.0、
paddlehub2.0.0
运行的为cpu版本
服务器内存16G

2、问题现象
     a、python单进程调用ocr.recognize_text接口读取指定目录下的100张不同图片进行图片文字识别，每识别一张图片，占用内存增加200M以上，随着识别图片数的增加，内存持续增长，直到内存被耗尽被操作系统kill掉
     b、如果只是反复识别同一张图片的话，内存增长的一定数后不再增长

3、导致内存泄漏的疑似代码
    通过代码调用链的分析最终定位到c++库中的PD_PredictorZeroCopyRun函数疑似存在内存泄漏，内存泄漏语句
    output_i.shape = new int[output_shape.size()];
    此处new分配的

[2021-03-22 02:31] #5293 closed, assigned to nobody

[2021-04-02 07:18] zhunipingan opened #5294 "distinct评价指标 的合理范围"
引用了您的distinct的计算方式，得到的inter distinct2的值大约在0.24 inter distinct1大约在0.08， 请问这种值是正确且有意义的吗，因为与一些论文里的值有一些不同

[2021-04-04 02:37] Minjuner-97 opened #5295 "请问阅读理解模型的代码实现的模型论文能提供吗？"

[2021-04-05 11:17] #5295 closed, assigned to nobody

[2021-04-06 07:44] zhangweijiqn opened #5296 "CV video_tag中，3000个标签是什么及模型训练的AUC和准确率是什么"
想用一下飞桨的视频标签模型，有些疑惑的地方：
https://github.com/PaddlePaddle/PaddleHub/tree/release/v1.7/hub_module/modules/video/classification/videotag_tsn_lstm
![Uploading image.png…]()
需要的是：
1. 3000个标签是哪些
2. 模型训练的AUC和准确率是什么

[2021-04-07 03:46] huangjun12 commented on #5296
https://github.com/PaddlePaddle/PaddleVideo/tree/application/VideoTag  可以参考这里~

[2021-04-07 06:54] zhangweijiqn commented on #5296
标签找到了，文件路径为：PaddleHub/modules/video/classification/videotag_tsn_lstm/resource/label_3396.txt

[2021-04-07 06:55] #5296 closed, assigned to nobody

[2021-04-08 02:34] nbcc opened #5297 "基于 LambdaDecay 实现的 LinearDecayWithWarmup，训练中途挂掉后热启动继续训练，学习率还是按 step = 0 开始迭代"
ci 见 https://github.com/PaddlePaddle/models/commit/fee616e868262a7b791f3801bd0d1380f56d0e36

[2021-04-12 07:01] huangjun12 commented on #5291
修复pr: https://github.com/PaddlePaddle/models/pull/5298

[2021-04-12 07:01] #5291 closed, assigned to nobody

[2021-04-14 03:41] zhijiejia commented on #5286
AssertionError: vgg19 model do not have a pretrained model now, you should set pretrained=False. 这怎末会没有预训练模型啊 哈哈

[2021-04-17 15:05] yolearn commented on #3971
有人找到问题吗

[2021-04-28 05:55] hongyuzlx opened #5301 "我想在调试video_tag时，在原有的3396个label上，新增200个关label，此时我只准备对应200个label的视频数据，可以吗？"
假设我新增label3397~label3597，而我的自定义视频训练集仅针对新增的200个label，比如每个label下2000个视频，这样可以吗？

[2021-04-30 07:01] nataliyah123 opened #5304 "`Segmentation fault` is detected by the operating system."
I have seen the same issue previously by different users but no solution is provided if you have found a solution please let me know.

W0430 06:54:48.080085  1245 device_context.cc:362] Please NOTE: device: 0, GPU Compute Capability: 6.0, Driver API Version: 11.0, Runtime API Version: 10.2
W0430 06:54:48.083513  1245 device_context.cc:372] device: 0, cuDNN Version: 8.0.
[04/30 06:54:53] ppdet.util

[2021-05-01 13:38] livingbody opened #5306 "https://gitee.com/paddlepaddle/models/tree/develop/PaddleCV/video/application/video_tag运行test失败啊啊啊啊"
https://gitee.com/paddlepaddle/models/tree/develop/PaddleCV/video/application/video_tag运行test失败啊啊啊啊
`%cd ~/video_tag/
!python videotag_test.py
/home/aistudio/video_tag
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/layers/utils.py:26: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this w

[2021-05-01 16:10] liym27 commented on #5306
您好，抱歉，我们正在复现和定位刚问题，稍后将给您回复。感谢反馈问题。

[2021-05-03 08:03] jiweibo commented on #5304
请问这是在运行model模型挂出的问题还是说安装Paddle后 import paddle出现的问题呢？

[2021-05-06 08:59] nataliyah123 commented on #5304
@jiweibo after the following command. what cuda version does this use?
!python tools/train.py -c configs/ppyolo/ppyolo_r50vd_dcn_voc.yml

[2021-05-08 07:06] huangjun12 commented on #5306
https://github.com/PaddlePaddle/PaddleVideo/tree/application/VideoTag#使用方法     可以参考PaddleVideo repo给出的使用文档教程

[2021-05-12 05:35] ruolanyang opened #5307 "有关dialogue-plato的metric.py"
想问一下其中intra-distinct和inter-distinct的区别是？

[2021-05-14 05:18] nataliyah123 commented on #5304
@jiweibo  any updates.

[2021-05-18 06:00] Jasonxgw opened #5309 "video_tag Out of memory error"
1.运行此代码时
![image](https://user-images.githubusercontent.com/31821866/118598731-20c15d80-b7e1-11eb-8fb4-d95cb52a59f2.png)

2.报了以下错误
[2021-05-18 13:49:17,554] [ WARNING] - The _initialize method in HubModule will soon be deprecated, you can use the __init__() to handle the initialization of the object
2021-05-18 13:49:24,454 - INFO - load extractor weights from C:\Users\Administrator\.paddlehub\modu

[2021-05-18 06:02] Jasonxgw commented on #5309
gpu 1050ti 4g 显存

[2021-05-18 08:10] Wazxcvb opened #5310 "paddle复现BMN结果很差"
我在复现BMN的过程中，数据集以及任何参数都未修改，得到的AR@1：5%，这种情况是我还需要调整那些参数吗？

[2021-05-19 03:10] pangyoki commented on #5309
你好，把batch size设小一点可以吗？

[2021-05-19 03:12] pangyoki commented on #5310
你好，请问跑的是动态图BMN还是静态图？https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/video/models/bmn这个目录下的模型吗？

[2021-05-21 03:25] huangjun12 commented on #5310
refer to https://github.com/PaddlePaddle/PaddleVideo/issues/145

[2021-05-24 05:54] Jasonxgw commented on #5309
没发现有batch_size 这个参数

[2021-06-04 06:54] aiot-tech opened #5314 "paddle该怎么实现类似pytorch中对上下文的局部参数禁止求梯度的功能呢？比如torch._C.set_grad_enabled(False)"

[2021-06-04 13:22] youdation opened #5315 "no have kpi.py"
PaddleNLP\pretrain_language_models\BERT
run ./_run_ce.sh
![image](https://user-images.githubusercontent.com/40634721/120807710-cf53f500-c57a-11eb-9dca-e596754afffe.png)
no share all the code

[2021-06-07 10:05] chenxiaozeng commented on #5315
您好，没有找到您提到的目录，方便贴一个完整github路径嘛
另外，bert模型可以参考https://github.com/PaddlePaddle/PaddleNLP/tree/develop/paddlenlp/transformers/bert
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/bert

[2021-06-07 10:11] saxon-zh commented on #5314
可以用paddle.set_grad_enabled这个API来操作

[2021-06-07 10:12] saxon-zh commented on #5314
"""
    :api_attr: imperative

    Create a context which enables or disables dygraph gradient calculation.

    Args:
        mode(bool): whether to enable (`True`), or disable (`False`) grad.

    Examples:
        .. code-block:: python
            x = paddle.ones([3, 2])
            x.stop_gradient = False
            with torch.set_grad_enabled(False):
                y = x * 2

[2021-06-07 10:21] saxon-zh commented on #5314
[code]

[2021-06-09 07:35] #5314 closed, assigned to saxon-zh

[2021-06-10 15:06] hongyuzlx commented on #4139
解决办法：调整xmapreader的num_thread 和buffer_size，具体调整方法参考：(WIP)，这里的WIP是什么呢？怎么调整 @shippingwang

[2021-06-14 08:45] ZeyuChen commented on #5315
Please refer to this repo. https://github.com/PaddlePaddle/PaddleNLP @youdation

[2021-06-14 08:45] #5315 closed, assigned to nobody

[2021-06-17 08:11] Meroke opened #5317 "3D_version中的pointRCNN 编译自定义的op 出现缺少头文件错误"
![image](https://user-images.githubusercontent.com/57033962/122357671-85114180-cf86-11eb-94ad-773c6a70250e.png)
按照官方教程一步步走的，还是存在这些问题。

[2021-06-17 09:01] cww97 commented on #2674
那么v是什么意思呢

[2021-06-17 17:49] yiakwy opened #5318 "[BUG] 3d vision external static operator compilation is out of date"
# Compiilation is out of date
The latest success compilation for 3d vision models is using Paddle 1.8.5:

[code]

However, since the recent update of Paddle (v 2.0.1 ) removes previous external static operator compilation method, many projects including PointNet++ won't compile correctly and they didn't make it clear which version it uses in compilation and creates conflicts in latest compilation.

[2021-06-18 04:44] heavengate commented on #5317
你好，你用的Paddle是哪个版本呢

[2021-06-18 07:10] Meroke commented on #5317
使用的是最新的2.1版本，不过现在我回退到2.0版本后就可以正常使用了

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/models"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年6月18日(星期五) 中午12:44
***@***.***&gt;;
***@***.****

[2021-06-21 07:15] heavengate commented on #5318
你好，PointNet++当时是基于Paddle 1.8开发的，Paddle2.0之后自定义op的方式修改了不兼容，如果需要使用PointNet++可以试一下安装1.8.5版本

[2021-06-22 11:08] yiakwy-mapping-team commented on #5318
@heavengate @luotao1 Hi, it does not look good to me. I tried and found this works in the release of latest 1.8.5. But you didn't make it clear right? (see doc https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/3d_vision/PointNet%2B%2B). It is unexpected hehavior, right?

After digging into it, I found I need more actions to make it work under Paddle 2.0.1, but I cannot ship my modificat

[2021-06-29 15:21] pengjinqiang opened #5320 "求BMN在THUMOS的实验代码"
跪求BMN在THUMOS上的代码。自己复现实在达不到论文的效果。跪求相关小组大佬放一下代码吧。或者有其他大佬实现了可以支援一波。万分感谢

[2021-06-30 03:46] Interesting6 commented on #5306
教程是没错。。。但跟这个问题有毛关系。。。。没解决问题呀。。。

同样的环境，运行tsn_extractor.py没问题，而运行videotag_test.py就出现了与楼主一样的问题。
我看这俩代码也都差不多，后者重复使用了前者的步骤，可就不理解了为啥前者没问题，后者报一个张量未被初始化的问题。。。

[2021-06-30 03:58] huangjun12 commented on #5320
目前作者release的源码只有BMN在ActivityNet上数据集上的结果，方便问下是什么需求，需要BMN在THUMOS上的代码吗

[2021-06-30 04:16] Interesting6 commented on #5306
您好，请问一下定位好问题有解决方案了吗？

[2021-06-30 12:39] pengjinqiang commented on #5320
也没有什么特别用处，就是想做个对比实验，但是自己复现的结果一直达不到论文的效果。所以想说来问一下。

[2021-07-02 03:06] ursular86 opened #5321 "pix2pix训练结束后，为什么用save_inference_model重新保存的模型性能下降？"
model_name = 'net_G'
    print(args.init_model + '/' + model_name)

    place = fluid.CPUPlace()
    if args.use_gpu:
        place = fluid.CUDAPlace(0)
    exe = fluid.Executor(place)

    startup_prog = fluid.Program()
    infer_prog = fluid.Program()

    with fluid.program_guard(main_program=infer_prog, startup_program=startup_prog):
        data_shape = [None, 3, args.image_size, args.image_s

[2021-07-05 07:37] wangxicoding commented on #5321
您好，能描述的更清晰些吗，性能下降是和保存前的对比吗，另外能不能给一下运行的环境数据

[2021-07-05 08:07] #4942 closed, assigned to yghstill

[2021-07-06 03:25] ursular86 commented on #5321
1. 您好，感谢您的回复。
2. 问题描述：训练过程中使用fluid.save保存文件：net_G.pdmodel,net_G.pdopt,net_G.pdparams，希望将这些文件使用fluid.io.save_inference_model重新保存：__model__, __params__，从进行推理部署，代码如上所示。但发现：输入相同图像，分别使用导出推理前后的文件处理图像，结果不一致。
3. paddle版本：paddlepaddle-gpu (1.8.1.post107)

[2021-07-09 03:17] WindBlowDickCool opened #5323 "安装过程中出错，Python.h: no such file or directory"
setup.sh 编译过程中出错，Python.h: no such file or directory

[2021-07-09 03:17] WindBlowDickCool commented on #5323
🈶带佬知道怎么破吗

[2021-07-12 04:03] ZhongkaiZ commented on #5306
遇到了同样的问题，同样的bug，请问你的bug解决了吗？

[2021-07-12 08:50] chenjiaoAngel commented on #5323
这个查看下环境变量是否安装python；第二个查看python命令是否可以执行

[2021-07-14 12:15] yiakwy commented on #5317
@Meroke hi 这个问题，是由于paddle 2.1版本改变，python安装包暴露的文件。您可以使用paddle 1.8.5，我已经测试过，应该没问题。另外也可以在2.1编译，但你需要参考我的修改，增加丢失掉的文件信息：

https://github.com/PaddlePaddle/models/issues/5318

另外由于，paddle 2.1 移除了 "load_op_library", 我也比较困惑这个pull request 是怎么就被允许合并了，缺少一些讨论吧。这个导致目前2.1和1.8.5的算子导出是不兼容的。

我现在不能马上将我的修改ship到目前的library里面，我估计会花相当一部分时间。还是建议你降级到1.8.5:

[code]

@luotao1

[2021-07-16 02:56] Bobo-y opened #5325 "release 1.8 下 度量学习无法训练"
机器： mac book pro
环境：
 docker 安装 hub.baidubce.com/paddlepaddle/paddle:1.8.0

数据集：Stanford_Online_Products

命令：
`export CPU_NUM=4`
`python3 train_elem.py --model=ResNet50 --train_batch_size=256  --test_batch_size=4  --lr=0.01  --total_iter_num=30000   --use_gpu=False  --model_save_dir=save_model   --loss_name=arcmargin  --arc_scale=80.0`

报错信息：

root@509278317f3f:/paddle# python3 train_elem.py --mod

[2021-07-19 08:47] zhwesky2010 commented on #5325
@yl305237731 你好，看起来是源码有些强制，这里train_batch是一个长度为1的list，所以就强制了CPU_NUM只能为1

[2021-07-19 08:58] Bobo-y commented on #5325
@zhouwei25 数据没问题，没用docker 就跑起来了

[2021-07-19 08:58] #5325 closed, assigned to nobody

[2021-07-19 09:07] zhwesky2010 commented on #5325
如果不指定CPU_NUM，则默认为1，可以在docker下去掉export CPU_NUM=4试试

[2021-07-20 03:48] #1734 closed, assigned to nobody

[2021-07-20 03:49] #1661 closed, assigned to nobody

[2021-07-20 03:49] #1577 closed, assigned to nobody

[2021-07-20 07:06] darvincy commented on #4786
@ML-ZXF 请问一下是怎么解决的，能加个联系方式吗，感谢

[2021-07-20 15:36] shanmon110 opened #5329 "如何实现添加热词功能？"
如何在源码的基础上修改，自定义自己的热词，来提高识别这些词语的权重？

[2021-07-21 06:21] Lanme commented on #4816
同问，模型文件存在，但是确实没有这一层权重，而且就是python train.py保存的模型，没做任何改动，一推断就加载不出来了。

[2021-07-21 12:06] wangxicoding commented on #5321
pip2pip现在没啥人维护了，可以试试[PaddleGAN](https://github.com/PaddlePaddle/PaddleGAN)，里面有pix2pix，另外Paddle的版本也可以升级到最新的2.1

[2021-07-22 05:45] #3895 closed, assigned to wanghaoshuang

[2021-07-22 05:45] #3872 closed, assigned to wanghaoshuang

[2021-07-23 05:16] msxfXF opened #5332 "GAN预训练模型下载地址失效"
https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/gan
GAN预训练模型下载地址失效
![image](https://user-images.githubusercontent.com/38368353/126740014-afc49767-8315-4abb-8cee-97aca6b73c38.png)

[2021-07-23 11:01] Bobo-y opened #5333 "图像分类是否有热力图可视化呢？"

[2021-07-25 03:51] gongweibao commented on #5329
哪个例子？

[2021-07-26 03:12] ceci3 commented on #5332
感谢反馈，我们更新下地址，静态图GAN我们已经不再维护了，新的GAN模型可以去 https://github.com/PaddlePaddle/PaddleGAN repo查看~

[2021-07-26 03:12] ceci3 commented on #5333
可以参考：https://github.com/PaddlePaddle/InterpretDL

[2021-07-26 03:35] Bobo-y commented on #5333
✌️

[2021-07-26 03:35] #5333 closed, assigned to nobody

[2021-07-27 09:30] yangy996 commented on #4821
大佬，解决了吗？这块我也比较迷惑，需要怎么比较相似性呢？

[2021-07-28 01:23] yangy996 commented on #4780
大佬，输出的2048特征如何进行对比和判别呢？我用余弦相似度判断，每次得到的结果都不一样

[2021-07-28 03:09] ursular86 commented on #5321
谢谢您的建议，正在尝试使用PaddleGAN

[2021-08-06 17:19] neonin04 commented on #1790
@burness hello, I'm trying to implement video mode into the code just like yours. Besides modifying widerface_eval.py, which else files and how did you modify? just by running that, I have an error like this:

Traceback (most recent call last):
  File "widerface_eval_video.py", line 334, in <module>
    is_infer=True)
  File "/mnt/net/i2x256-ai01/hotel/sihwang/live/ppmodels/PaddleCV/face_detection

[2021-08-09 06:01] adeagle opened #5335 "LAC训练数据集在哪里可以下载呢"

[2021-08-10 02:23] errllxj commented on #2000
层主问题解决了嘛？

[2021-08-10 02:56] Enn29 opened #5336 "metric_learning train报错"
在获取get_gpu_num()函数中报错
![image](https://user-images.githubusercontent.com/63645468/128801342-cd94bbf0-c6bf-4038-9d1f-00e649fe5d1a.png)
报错信息：
TypeError: a bytes-like object is required, not 'str'
这个问题该怎么解决

[2021-08-10 03:20] Enn29 commented on #5336
直接改成字节还是报错
![image](https://user-images.githubusercontent.com/63645468/128803192-1c286cad-ef1e-4876-b76d-d6c233b2eda3.png)

[2021-08-31 09:50] yuxulingche opened #5339 "NEXTVLAD.pdopt not exits"
I am finetune the nextvlad on my dataset, but occur error: AssertionError: Optimizer file [./nextvlad/model_weights/NEXTVLAD.pdopt] not exits！need to help!

[2021-08-31 11:46] yuxulingche commented on #5339
能下载的预训练模型只有NEXTVLAD.pdparams，为什么还要加载一个NEXTVLAD.pdopt

[2021-09-02 03:29] ZeaZoM opened #5340 "PointRCNN多卡训练报错"

[2021-09-02 03:40] #5340 closed, assigned to nobody

[2021-09-02 03:41] ZeaZoM opened #5341 "PointRCNN多卡训练报错"
PointRCNN单卡训练RPN和RCNN都没问题。

切到多卡训练会报错：
![image](https://user-images.githubusercontent.com/46807404/131778290-3646ed12-2c9b-4b30-bca7-e87d20aa0d32.png)

[2021-09-03 05:50] wawltor commented on #5341
看起来是cuda版本和paddle的版本不一致导致的，可以尝试卸载当前的PaddlePaddle版本，然后使用conda方式来安装  https://www.paddlepaddle.org.cn/

[2021-09-03 09:20] ZeaZoM commented on #5341
我是通过Nvidia docker使用官方PaddlePaddle2.0.2-gpu-cuda10.1-cudnn7镜像来部署的环境，部署好之后我也没有更改过各种包的版本，这样也有可能产生版本不一致吗？

[2021-09-03 10:10] ZeaZoM commented on #5341
我是通过nvidia docker使用官方PaddlePaddle2.0.2-gpu-cuda10.1-cudnn7镜像来部署的环境，镜像包含了cuda和paddlepaddle，我也没有更改过他们的版本，这样也有可能产生cuda版本和paddle版本不一致吗？
而且如果cuda版本和paddle版本不一致的话，是不是应该也无法进行单卡训练，可是我现在单卡训练是没有问题的。

[2021-09-07 08:08] Wanjun0511 commented on #3314
@0YuanZhang0 请问后来怎么解决的啊，遇到同样的问题

[2021-09-14 02:49] myboyliu opened #5342 "bart-base模型精度问题"
在复现Pegasus时候，我参考了bart,这2个模型很相似。但是对齐bart精度时候，发现误差很大。麻烦你看看。
mean difference: tensor(1.0486, grad_fn=<MeanBackward0>)
max difference: tensor(11.2015, grad_fn=<MaxBackward1>)
huggingface facebook/bart-base vs paddle bart-base
----------------------------------------------------------
from paddlenlp.transformers import BartTokenizer as PDBartTokenizer, BartModel as PDBartModel
from transformers import

[2021-09-15 09:10] kuizhiqing opened #5343 "resource unavailable"
the following resource is no longer available,

https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/data/ILSVRC2012/download_imagenet2012.sh

[2021-09-16 01:28] zjuncd opened #5344 "PointNet++ ext_op 算子编译报错"
基于 Docker 编译源码：

基础镜像：registry.baidubce.com/paddlepaddle/paddle:2.1.2-gpu-cuda11.2-cudnn8

Paddle 源码编译通过，但是在编译算子时报错，ext_op/src

报错关联对象：

[2021-09-16 01:47] shiyuan680 opened #5345 "stnet加载resnet50参数"
stnet加载的resnet50是只加载一开始的conv1吗，而不加载哪些bottleneck_block的参数吗

[2021-09-16 01:52] #5345 closed, assigned to nobody

[2021-09-16 11:35] zjuncd opened #5346 "PointNet++ 测试运行失败"
基础Docker镜像： paddlepaddle/paddle:1.8.0-gpu-cuda10.0-cudnn7

1. 调整 ext_op/src/make.sh 代码，在 g++  编译指令中加上 -D_GLIBCXX_USE_CXX11_ABI=0
[code]
2. 运行 make.sh 编译通过
3. 执行测试
[code]
报错信息如下：
[code]

[2021-09-17 09:43] heavengate commented on #5346
g++和cmake版本需要与Paddle编译版本一致，看报错应该是版本不一致ABI没匹配

[2021-09-17 09:45] heavengate commented on #5344
你好，这个是1.6版本静态图的custom op编译，如果需要用这个可能需要用Paddle 1.6版本，并且编译Paddle和编译ext_op的环境，比如g++， cmake版本这些需要一致

[2021-09-22 04:57] #1828 closed, assigned to nobody

[2021-09-22 04:57] #1844 closed, assigned to shippingwang

[2021-09-22 06:38] gongshaojie12 opened #5348 "对话情绪识别中的models模块在哪里找到？"
你好，我在使用https://github.com/PaddlePaddle/models/tree/release/1.7/PaddleNLP/emotion_detection中的run_classifier.py时，
`from models.classification import nets` 无法从models中引入相关的类，请问下models这个模块在哪里可以找到？谢谢！

[2021-09-22 08:10] guochen2 commented on #4816
我也是这个问题 AssertionError: Can not find [fc_3.w_0] in model file [../models/model_10000.pdparams]

[2021-09-23 08:59] kkpssr opened #5349 "度量模型提取特征的时候如何找到对应图片地址?"
由于原模型提取特征时输出只有特征无法和图片对应，如果将keeporder改为True则预测速度大幅下降，目前尝试了下改动reader中的processImg处理方法，增加了图片地址返回值，但报错（显示reader读取越界），同时也不知道对于str的返回值fluid.data应该选什么dtype类型

[2021-09-24 08:58] kkpssr commented on #5349
还有当batch不同的时候提取层的特征会有轻微的差别，请问这种情况可以避免么

[2021-09-27 01:33] chensusu11 opened #5350 "core_avx.so 如何动态链接到 libcudart.so"
环境： ubuntu18.04，自己编译paddlepaddle

按照前辈的做法：https://github.com/PaddlePaddle/Paddle/issues/20765

libwarpctc.so 确实可以动态链接 libcudart.so

但是 core_avx.so 这个还是静态链接，请问有什么cmake文件，我没有添加什么条件再编译吗？

[2021-09-27 01:37] chensusu11 commented on #5350
CUDA: 11.2  GPU: RTX3070
cmake指令：
cmake .. -DPY_VERSION=3.6 -DWITH_GPU=ON -DWITH_DSO=ON -DCUDA_USE_STATIC_CUDA_RUNTIME=OFF
-DCMAKE_BUILD_TYPE=Release -DCUDA_ARCH_NAME=Auto

[2021-09-27 07:25] chenmonster opened #5351 "CRNN-CTC可以识别英文字符+数字字符的文本么？"
像下面图中所示的
![烟草32位码](https://user-images.githubusercontent.com/34160512/134862893-a67453c8-d12f-4ad5-81c3-b0cf51c292a5.jpg)

[2021-10-01 08:52] lazyn1997 opened #5353 "models/docs/ThesisReproduction_CV.md 文档错误"
第 5 章 5.1 中部分内容存在错误，如下图所示：
![image](https://user-images.githubusercontent.com/34644177/135592825-4a552c7d-8ec6-42d9-81c4-af25f1f928a9.png)

[2021-10-07 02:31] ugirc commented on #3160
原作者说论文中的外积实际上指的是元素乘。具体可以看 https://github.com/zhougr1993/DeepInterestNetwork/issues/54

[2021-10-08 03:16] littletomatodonkey commented on #5353
好的，感谢反馈，在这里修复了哈 #5354

[2021-10-14 01:38] SumFunction opened #5357 "获取训练相关信息问题"
请问在Paddle/image_classification文件夹下的分类模型里面如何设定参数保存查看训练日志？

[2021-10-23 07:42] #5233 closed, assigned to nobody

[2021-10-23 09:36] 128ve900 opened #5360 "paddle.utils.run_check() 报错"
cuda版本是10.1， cudnn是7.6.5，paddle 安装的是2.1.3。

使用 paddle.utils.run_check() 验证安装是否成功时，报错。不知道问题出在哪里了，麻烦帮看下。

具体报错如下：

`
Running verify PaddlePaddle program ...
W1023 17:00:07.024209  6741 device_context.cc:404] Please NOTE: device: 0, GPU Compute Capability: 6.1, Driver API Version: 10.1, Runtime API Version: 10.1
W1023 17:00:07.032667  6741 device_context.cc:422] device: 0, cuDNN Version: 7.6.
PaddleP

[2021-10-25 03:05] shiyuan680 opened #5361 "stnet 训练时的验证集精度"
同标题，想知道下，训练时最后验证集能达到的精度

[2021-10-25 14:12] shiyuan680 opened #5362 "stnet kinetics400数据如果从原视频抽帧直接处理 怎么进行数据处理"
同标题

[2021-10-29 07:45] yezhanglang opened #5363 "nextVlad读数据错误请教 [Hint: Expected killed_ != true, but received killed_:1 == true:1.] (at /paddle/paddle/fluid/operators/reader/blocking_queue.h:166)"
完全参考https://github.com/PaddlePaddle/models/blob/release/1.7/PaddleCV/video/models/nextvlad/README.md的指引
使用的分支是1.7
数据集训练集和测试集各自下了100个数据
检验过转换成pkl后，相关文件的配置地址是没问题的。生成的pkl文件使用pickle读取验证过，内容应该是正确的。
为什么会训练的时候会出现这个错误呢？试过调整batch_size到4，也没用。

其他：
num_gpus设置为1

且在train.py加入了：
import paddle
paddle.enable_static()

$python train.py --model_name=NEXTVLAD  --config=./configs/nextvlad.yaml --log_interval=10 --va

[2021-11-01 05:05] vcowwy opened #5364 "【菁英计划】实现库einops的类Rearrange报错"
论文复现，第62篇论文**《CvT: Introducing Convolutions to Vision Transformers》**

参考的github repo在models/cls_cvt.py中引入了einops库，使用了该库的函数rearrang进行数据重排，在模型的层里面使用了类Rearrange。使用paddle实现该类，前向报错。

![WechatIMG53](https://user-images.githubusercontent.com/38393385/139624120-74ac15df-0cb5-415b-af1b-c33003ecb187.png)

github项目链接：[https://github.com/vcowwy/CvT_paddle]

[2021-11-01 05:07] #5364 closed, assigned to nobody

[2021-11-02 02:49] ftgreat opened #5365 "请问可以cpu-ps方式运行吗"
请问可以cpu-ps方式运行吗

[2021-11-04 06:49] Skye2099 opened #5366 "videotag更改label数量"
默认给的3396的label，我直接指定新的包含10个类别的label_file训练会报错，显示和3396不匹配，请问我该成自己的label_file对应还需要改哪些地方啊

[2021-11-10 02:03] zhenzi0322 opened #5368 "下载不了pix2pix模型"
https://paddle-gan-models.bj.bcebos.com/pix2pix_G.tar.gz

https://www.paddlepaddle.org.cn/modelbasedetail/pix2pix

[2021-11-17 05:43] MatrixLyz0623 opened #5375 "Hi，尊敬的开发者们，请教一个问题，cascade-rcnn模型是否指定了模型输入图片的尺寸，还有模型的实现源码请问在哪里可以看呢？"
我现在遇到一个问题，在训练模型的时候，因为采集图片的设备多种多样，采集图片的尺寸也就不一样。
使用的是cascade-rcnn
我看配置文件里，
训练时，可以随机增强成5种尺寸的输入大小
评估和预测时只有1种尺寸大小。
我的问题是：
1，cascade-rcnn网络要求的输入图片尺寸是多少呢？是固定大小还是不固定呢？如果不固定是因为全卷积吗？如果算法里使用了全链接层就必须固定对吗？
2，预测不一样尺寸的图片，最后会resize到配置文件中设置的尺寸上输入，那么模型网络的输入是不是还要resize到固定inputsize的呢？比如我设置的输入图片大小是1600*800，我拍到的图片是4000*2000，训练/预测时，先resize到1600*800，再resize到网络需要的输入（比如说684*684）才送入网络训练/预测。
3，在原始图片上对锚框聚类后，配置文件里的锚框尺寸是以原始图片为基

[2021-11-17 08:47] CLIsVeryOK commented on #5306
遇到同样的问题，请问有解决嘛？
RuntimeError: In user code:

    File "/Users/admin/Library/Application Support/JetBrains/Toolbox/apps/PyCharm-C/ch-0/212.5284.44/PyCharm CE.app/Contents/plugins/python-ce/helpers/pydev/pydevd.py", line 2173, in <module>
      main()
    File "/Users/admin/Library/Application Support/JetBrains/Toolbox/apps/PyCharm-C/ch-0/212.5284.44/PyCharm CE.app/Contents/plugins/python-ce/helpers

[2021-11-17 08:47] CLIsVeryOK commented on #5306
@livingbody 请问有解决嘛

[2021-11-22 06:18] lightCraft2020 commented on #5165
![FFE`27WG~R313VQSKRSYFUG](https://user-images.githubusercontent.com/11204164/142810008-a19d5c13-ecc2-45cc-995b-5ca0ba44173a.png)

@Steffy-zxf  遇到同样的问题，是什么原因呢？是需要设置哪个参数么？

[2021-11-24 09:37] webYFDT opened #5387 "STGAN预训练模型地址消失"
https://github.com/PaddlePaddle/models/tree/release/1.7/PaddleCV/gan地址里面的STGAN预训练模型下载地址（https://paddle-gan-models.bj.bcebos.com/stgan_G.tar.gz）消失不见
![image](https://user-images.githubusercontent.com/17585343/143212909-504dad52-6f49-45b9-a512-553a849beb68.png)

[2021-11-25 06:16] CLIsVeryOK commented on #5306
找到原因了，是权重没加载对，需要下载一下模型权重，然后放到weights/tsn.pbmodel和weights/attention_lstm.pbmodel

[2021-11-25 06:17] CLIsVeryOK commented on #5306
parser也要改一下
[code]

[2021-11-25 13:47] CLIsVeryOK commented on #5306
需要在代码最开始加入
import paddle
paddle.enable_static()，
注意是一定要在开头
[code]

还有一种可能是加载模型路径不对
code里面是没有weight的，需要从paddlehub下载一下，放到同级目录的weights/xxx.pdmodel
然后修改arg.parse
[code]

[2021-11-26 00:50] Gewaihir opened #5394 "SMOKE static model export to ONNX"
Dear Author.
Hello! I have encountered a problem. I am using the SMOKE model and following the instructions in README.MD to export the model as a static diagram model. However, the following error occurs when converting the static diagram model to ONNX model.
[code]
This error indicates that nine operators are not supported. After checking the list of operators, I found only 'conditional-block', '

[2021-11-26 02:07] jiangjiajun commented on #5394
Duplicate of https://github.com/PaddlePaddle/Paddle2ONNX/issues/407

[2021-12-08 11:38] skyriver1 opened #5406 "模型导出出现Tensor' object has no attribute 'get"
paddlepaddle-gpu==2.1.3

       state_dict = paddle.load(resume_model_path)
        model.set_state_dict(state_dict)

Traceback (most recent call last):
  File "D:/dnf/PPASR/export_model.py", line 24, in <module>
    trainer.export(save_model_path=args.save_model, resume_model=args.resume_model)
  File "D:\dnf\PPASR\ppasr\trainer.py", line 493, in export
    base_model.set_state_dict(state_dict)

[2021-12-10 04:39] renmada opened #5414 "fluid版本的resnet预训练权重还能下载吗"
https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/image_classification

[2021-12-11 17:11] D-DanielYang opened #5420 "【无需回复】用户群二维码链接生成"
![61a1bd92c94181c39759251010e8cc2a](https://user-images.githubusercontent.com/23690325/165911212-cda07629-1bab-4cc3-8228-e5b69320fe4d.jpg)

[2021-12-16 04:36] #5353 closed, assigned to nobody

[2021-12-22 01:08] xiaogao22 opened #5432 "有没有c++版本部署环境呀？"

[2022-01-05 11:29] FightingFrogg opened #5458 "为什么LSTM中使用 delattr 删除属性，会生成一个其他的属性"
class MyLayer(paddle.nn.Layer):
        def __init__(self):
            super(MyLayer, self).__init__()
            self.lstm1 = paddle.nn.LSTM(400, 200)
            self.lstm2 = paddle.nn.LSTM(600, 300)
            delattr(self.lstm1, 'bias_hh_l0')

        def forward(self, input):
            pass

    mylayer = MyLayer()
    for name, param in mylayer.named_parameters():
        print(name)

结

[2022-01-22 13:28] Maydaytyh commented on #5165
请问这个问题得到解决了吗？遇到了同样的问题，求解

[2022-01-28 04:00] garspace opened #5465 "按照步骤youtube8m数据转pkl失败"
我想测试一下NeXtVLAD，结果在转tfrecord为pkl遇到下面的错误：
Invalid argument: Feature: mean_audio (data type: float) is required but could not be found.
看起来是数据缺少该字段，不知道是官方数据变了还是现在的代码不适用了

[2022-01-30 11:43] Water2style opened #5466 "ImageNet数据集处理报错--ClassificationPresetTrain无法在静态图模式下使用"
需求：借用此教程ImageNet预处理方式，在静态图模式下对模型进行训练

使用：使用的是这个教程里的 ImageNet数据集预处理方法
https://github.com/PaddlePaddle/models/tree/release/2.2/tutorials/mobilenetv3_prod/Step6

问题：
ClassificationPresetTrain无法在静态图模式下使用 （拿来train静态图模型报错）
ClassificationPresetEval 则可以在静态图模式下使用（可以拿来eval静态图模型）

错误：paddlevision的transform.py中，@staticmethod def get_params函数中，使用了一个paddle.to_tensor(ratio)，此操作只在动态图中支持.

详细错误如下:
Please NOTE: dev

[2022-01-31 08:21] yanliangyy commented on #5165
遇到同样的问题。请问现在解决了吗？ 如何解决？这个应该是分析的文本过长导致的。是不是数据类型的长度限制了？

[2022-02-08 10:06] #5466 closed, assigned to nobody

[2022-03-02 09:27] vicwer opened #5477 "用x2paddle转换onnx2paddle得到的模型如何处理得到支持量化的模型"
x2paddle转换onnx2paddle得到模型`model.pdiparams  model.pdiparams.info  model.pdmodel model.pdparams`这几个模型文件。请问如何操作可以得到可以做离线量化的模型呢？谢谢

[2022-03-08 11:10] leaf0412 opened #5485 "Human Pose Estimation 项目中 wget 连接失效"
问题现象：
对应的项目连接：[Human Pose Estimation](https://github.com/PaddlePaddle/models/tree/v1.8.0/PaddleCV/human_pose_estimation#prepare-datasets-and-pretrained-models)

执行 wget 错误效果如下：
`wget http://paddle-imagenet-models.bj.bcebos.com/resnet_50_model.tar`

![277cfa49dd7e9e645891f74aee83a7e](https://user-images.githubusercontent.com/30424804/157226669-27301832-ecc3-4179-afa6-40c772166fb4.png)

期望结果：提供正确的 u

[2022-04-07 10:50] YilanWang opened #5498 "如何在自己的视频上使用nextvlad？"
先感谢一下辛苦的开发人员~
我想在自己的视频上跑一下nextvlad，但是我发现这个需要读取一个.pickle文件，这个文件应该是百度自己把youtube8m测试集转码的格式吧？
想问问如果想在自己的视频上跑一下，我要怎么做呢？（版本，code什么的都已经ready了）

[2022-04-10 04:26] hcfugro commented on #4712
update-alternatives: error: alternative path /usr/bin/gcc-4.8 doesn't exist

[2022-04-15 02:30] lishu2016 opened #5500 "face_detection training经常出现loss=nan"
face_detection training经常出现loss=nan，我上载了cpu 模式, batch_size=1的log，gpu模式也碰到过loss=nan
[Paddle-models-train.log](https://github.com/PaddlePaddle/models/files/8493465/Paddle-models-train.log)

[2022-04-18 05:32] onecatcn opened #5501 "首页飞桨模型库技术交流群二维码已经过期"
请更新；
另外，请注明是微信还是QQ群，方便用户加群。

[2022-04-26 02:21] thgpddl commented on #5420
过期了

[2022-04-27 08:52] haohaichao opened #5508 "AssertionError: Given weight dir /home/b308/hao/models-develop/dygraph/bmn/checkpoint/bmn.pdparams not exist."
(czk) b308@b308:~/hao/models-develop/dygraph/bmn$ python eval.py --weights=checkpoint/bmn.pdparams
[INFO: config_utils.py:   80]: ----------------  Test Arguments ----------------
[INFO: config_utils.py:   82]: MODEL:
[INFO: config_utils.py:   84]:     name:BMN
[INFO: config_utils.py:   84]:     tscale:100
[INFO: config_utils.py:   84]:     dscale:100
[INFO: config_utils.py:   84]:     feat_dim:40

[2022-04-29 08:48] D-DanielYang commented on #5508
BMN模型的一个更好的实现，可以试试PaddleVideo里面的维护的

[2022-04-29 08:48] D-DanielYang commented on #5501
感谢提醒，已更新

[2022-04-29 08:50] D-DanielYang commented on #5485
可以试试PaddleClas中维护的最新版本，resnet以及其他系列，非常全
https://github.com/PaddlePaddle/PaddleClas/blob/release/2.3/docs/zh_CN/algorithm_introduction/ImageNet_models.md#4-resnet-%E7%B3%BB%E5%88%97-1

[2022-05-06 02:33] Hanson-Chan opened #5510 "compat tf2pkl.py to tensorflow2.x"

[2022-05-06 02:36] Hanson-Chan commented on #5510
Hey, I can not use tf2pkl in tensorflow2.x version, do you have any plan to make it compatible in tf2?

[2022-05-08 07:21] Contincode opened #5512 "有没有独立于框架的FCEnet的复现？"

[2022-05-09 14:27] bendanzzc opened #5514 "comparision bewteen Nextvlad and TSM"
我好奇Nextvlad在其他数据集上的表现，但是网上只有youtube的，请问有哪位大神比较过nexvlad和TSM在相同数据集上的表现嘛
感谢

[2022-05-10 09:19] wkIDFCK opened #5515 "Optimizer file [/.paddle/weights/BMN.pdopt] not exits"
predict运行过程中，优化器文件不存在

[2022-05-13 14:29] AnushaSwamy-95 commented on #4976
Same issue.
CUDA : 10.1
cuDNN : 7.6.5
Windows : 10 x64
CPU version working properly but not GPU

[2022-06-24 02:17] #5343 closed, assigned to nobody

[2022-06-28 09:31] chunniunai220ml commented on #5360
I have the same problem, can anyone tell us the resolution?

<img width="1113" alt="image" src="https://user-images.githubusercontent.com/17668109/176145323-4d070aaa-a05a-464f-8c09-11c9b028fa0a.png">

my env:
(paddle_env) root@kuwo:/usr/local# uname -a
Linux kuwo 4.15.0-188-generic #199-Ubuntu SMP Wed Jun 15 20:42:56 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

[2022-07-04 08:47] Zsongyuan opened #5537 "The pre-trained dataset of DeepASR cannot be downloaded."
The urls in 'DeepASR/examples/aishell/prepare_data.sh' are invalid, is there any other way to download the model?

[2022-07-19 09:32] tong1311 opened #5538 "在nuscenes上训练SMOKE模型"
在nuscenes数据集上训练smoke模型 我做了如下修改：
在train_val_kitti.yaml中修改depth_ref和dim_ref（平均和std的深度、每个类别的长宽高都进行了修改）：
![image](https://user-images.githubusercontent.com/67692069/179715831-b265e213-1e4f-428b-8497-650135e3dc94.png)
在kitti.py文件中：
![image](https://user-images.githubusercontent.com/67692069/179716160-e2468087-44c5-4fb1-bc03-a36d1f6a137a.png)
![image](https://user-images.githubusercontent.com/67692069/1

[2022-07-22 14:48] Creling opened #5539 "【提问】关于使用PaddlePaddle SMOKE模型进行对象检测时的cam_info参数的疑惑"
大家好：

如题，在使用PaddlePaddle SMOKE进行物体识别时，除了需要传入`img`外，还需要传入一个`cam_info`参数，从代码中可以看到，`cam_info`包含了一个硬编码的矩阵`K`。
https://github.com/PaddlePaddle/models/blob/0173b12c3974de44b0bdeb06802d6f27cb66dc65/PaddleCV/3d_vision/SMOKE/test.py#L66-L75

我的疑惑是，这个K矩阵是如何计算出的？使用SMOKE的[官方实现](https://github.com/lzccccc/SMOKE/blob/bc5d2bba66e2d66fa56b7b599d55457cb1a05b33/smoke/engine/inference.py#L11-L29)进行物体识别时并不需要传入这样的一个矩阵

[2022-08-09 07:35] caidou05 opened #5540 "提供的这几个预训练模型链接全部失效了"
![image](https://user-images.githubusercontent.com/85534457/183591546-120482e2-d18b-4d24-867d-8249c6667113.png)

[2022-08-09 07:40] caidou05 commented on #5540
然后新的动态图版本的paddleGAN里面又没有StarGAN，请问还有静态图版本的预训练模型文件地址吗

[2022-08-18 04:18] clw5180 commented on #5538
你好，请问这个问题解决了么，我用mmdetection3d官方在nuscenes上面训练的模型，在自定义数据集上面测试也遇到了类似的问题 @tong1311

[2022-08-20 09:36] WaterLemonade opened #5541 "generate_sequence_by_rnn_lm"
这个模型要求的paddle版本是0.10.0，都没下载资源了==

[2022-08-24 15:11] yinhaiyang commented on #3372
我pc重启竟然好了

[2022-08-29 10:08] mikasazgx commented on #5539
相机的内参矩阵

[2022-08-31 07:38] Geralt02 opened #5542 "ocr 竖排文本 和长文本"
我不想要竖排文本和长文本识别怎么设置! 目前用的paddlehub 的chpp ocrv3
![image](https://user-images.githubusercontent.com/47367844/187620724-658aef50-5d9c-4831-a32b-e3d8ad3c43ee.png)

[2022-09-25 00:15] Bingoang opened #5544 "train_val_kitti.yaml中的dim_ref是什么含义？"
train_val_kitti.yaml中的dim_ref是什么含义，各项数值是怎么来的？如果换成其他数据集，应该怎样填写数值？

[2022-09-26 11:32] hitbuyi opened #5545 "导出模型时，发现有些维数是？号"
使用下面指令导出模型
`
export PYTHONPATH="$PWD"
python deploy/export.py --config configs/test_export.yaml --model_path model_export/model_kitti.pdparams
`
得到的模型如图所示，有些维数没有指定，是？号，是什么原因？
![Screenshot from 2022-09-26 19-25-27](https://user-images.githubusercontent.com/10301777/192265993-7c18049b-e9e9-49f6-aaed-d4cd648d5b18.png)

这个模型应该不能使用吧？

[2022-10-30 03:06] gg22mm commented on #5260
遇到同样的问题

[2022-10-30 03:06] gg22mm commented on #5260
[Hint: Expected kernel_iter != kernels.end(), but received kernel_iter == kernels.end().] (at /paddle/paddle/fluid/imperative/prepared_operator.cc:419)
  [operator < transpose2 > error]

[2022-11-01 14:04] arrayofstar opened #5551 "【笔误】models/tutorials/reprod_log/README.md"
models/tutorials/reprod_log/README.md 的文件中 "compare_forward 用于对比网络的反向过程，其参数为" 这句话中应该是“前向过程” 吧？ 偶然看到了，这里提交一个issue

[2022-11-08 08:43] JackonLiu commented on #5260
我也一样
Traceback (most recent call last):
  File "tools/train.py", line 209, in <module>
    main(config, device, logger, vdl_writer)
  File "tools/train.py", line 181, in main
    program.train(config, train_dataloader, valid_dataloader, device, model,
  File "C:\Users\Administrator\PycharmProjects\python\digit_reco\ppocr_digit\work\PaddleOCR\tools\program.py", line 288, in train
    preds = model(

[2022-11-16 07:34] lugimzzz commented on #5545
可能是因为模型没有固定输入参数大小，所以输入输出的维度不固定

[2022-11-17 08:43] JiSuanJiDaWang opened #5590 "About training SMOKE on waymo."
Hi, Can you give some information about the training configuration(total_epoch, data agumentation, lr schedule) of smoke model on the waymo dataset? Many Thanks.

[2022-11-22 05:28] cinderellaTiger opened #5638 "pr"
怎么 一个pr 同时修改多个文件

[2022-11-22 06:40] thinkthinking commented on #5638
可以统一改完之后，然后再add，再commit，最后再push。
详细操作步骤可以参考：[飞桨代码贡献流程](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/dev_guides/code_contributing_path_cn.html)
里面代码检查的一些部分可以适当忽略。

[2022-11-22 07:25] cinderellaTiger commented on #5638
非常感谢 我去试一下

[2022-11-23 04:04] thinkthinking commented on #5590
hello, you can go to [Paddle3D](https://github.com/PaddlePaddle/Paddle3D) Repo to find this:

[2022-11-24 02:01] JiSuanJiDaWang commented on #5590
Hi, I can only fiund the configuration file on kitti dataset in Paddle3D

[2022-11-28 06:46] D-DanielYang opened #5680 "NULL"
![DeepCFD 模型@3x](https://user-images.githubusercontent.com/23690325/204209896-75ce0e7a-591a-45b6-8c71-cf9ec1a7fd8e.png)
![ERNIE 3 0@3x](https://user-images.githubusercontent.com/23690325/204210074-797eb581-adb6-4239-9b4f-81c53ef84fe8.png)
![ERNIE 3 0 Zeus@3x](https://user-images.githubusercontent.com/23690325/204210223-7f861d21-8d91-492b-9e27-ba1075105ae1.png)
![ERNIE-Layout@3x](https://user-image

[2022-11-28 06:47] #5680 closed, assigned to nobody

[2022-11-29 05:05] D-DanielYang commented on #5551
确实如此，已修复，感谢宝贵建议~：）

[2022-11-29 05:07] D-DanielYang commented on #5542
https://github.com/PaddlePaddle/PaddleOCR/issues
可以在这里提一个issue哈，这种情况确实是很常见的，如果有数据，最好是自己标注一批finetuning一下会好一些

[2022-11-29 05:10] D-DanielYang commented on #5540
确实考虑到目前动态图对于开发过程更友好，我们还是推荐使用动态图来开发哈
可以试试最新的StarGAN v2哈
https://github.com/PaddlePaddle/PaddleGAN/blob/develop/docs/en_US/tutorials/starganv2.md

[2022-11-29 05:10] #5420 closed, assigned to nobody

[2022-11-29 05:11] #5501 closed, assigned to nobody