[2020-02-24 02:04] stevenkwong opened #4333 "关于物品冷启动推荐的问题（PaddleRec, DIN/SSR）"
作者你们好，在使用DIN、SSR模型的时候，发现infer都是面向有进入到embedding层字典里面的item的，那么如果推荐系统中新上item，使用这两款模型应该怎么实现推荐呢？

还望不吝赐教~

[2020-02-24 06:20] XingShell commented on #4209
其次，我跑得模型也出现过拟合啦，请问你们是否用了其他trick训练得到的效果图

[2020-02-25 05:39] frankwhzhang commented on #4333
ssr模型针对的是已有item的训练 可以考虑增量训练新的item

[2020-02-25 08:16] cisco08 opened #4340 "ocr_recognition识别模型训练时不能用百度提供的预训练模型"
我的模型NUM_CLASS是3840, 用attention_ctc，加载前我将fc层stop_gradient 想finetune确总是会报错，You are not allowed to load partial data via load_combine_op, use load_op

[2020-02-25 08:33] cisco08 opened #4341 "LogWriter突然不出图了"
![image](https://user-images.githubusercontent.com/8415114/75229278-92804680-57ec-11ea-86b0-72dabdd1d1a6.png)

[2020-02-25 08:34] cisco08 commented on #4341
之前都是好的

[2020-02-25 13:34] juncaipeng commented on #4341
self.summary_logger = LogWriter(os.path.join(self.save_dir, "summary"), sync_cycle=10000)

看代码，你检查是否保存了“summary”？

[2020-02-26 05:20] LDOUBLEV commented on #4340
问题出在加载参数的API不支持加载部分参数，可以使用[fluid.load](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api_cn/fluid_cn/load_cn.html#load)这个API试一下，在var_list中设置想要读取的参数列表。

[2020-02-26 08:54] gtgtgt1117 commented on #2563
Hello,想知道你是怎么训练的,我想先试一下能否训练,我用了一个3个pkl文件.然后报了这个错,始终不是很明白.希望您能指导一下
[INFO: train_utils.py:  113]: No iteration was executed, please check the data reader

[2020-02-26 09:03] gtgtgt1117 commented on #2563
Thank you for your reply! This is my email 18801046982@163.com

[2020-02-26 11:46] lxgend opened #4347 "models/dygraph/lac/ RuntimeError"
https://github.com/PaddlePaddle/models/tree/develop/dygraph/lac
`sh eval.sh`
`sh predict.sh`

`RuntimeError: Parameter file [ ./padding_models/step_120000.pdparams ] not exists`

downloads.py 里没有发布对应的动态图版本的lac模型
直接指向静态图版本的lac模型也无法读取

[2020-02-26 13:11] luzm3 opened #4348 "LAC字典干预"
hi，我在使用lac使用词典干预的时候，比如货币资金和资金这种包含关系，经常分不好，请问你们有什么比较好的使用技巧么

[2020-02-27 01:44] achiver781168307 opened #4349 "macOS python2.7.15 安装paddlepaddle1.7.0 失败！"
本机环境：
系统版本：mac OS 10.12.6
cpu：Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz

在使用命令
python -m pip install paddlepaddle -i https://mirror.baidu.com/pypi/simple
安装完paddlepaddle1.7.0之后
import paddle.fluid as fluid
报错信息如下：
Illegal instruction: 4
看了很多人说是CPU不支持AVX2.0造成的，查了下本机的CPU只支持AVX1.0，但是官网貌似没有提供给MAC版本的no-avx版本的安装包。
请问这种情况怎么处理呢？

[2020-02-27 04:45] songyouwei commented on #4347
感谢反馈，我们会把模型传一下。

[2020-02-27 06:02] davidwhite-www opened #4353 "用paddle视频分类模型进行finetune开发报错。"
用paddle视频分类的TSN模型进行finetune开发。下载了Paddle提供的Model Zoo里已发布模型，通过--resume指定权重存放路径。使用的命令行为：
python train.py --model_name=TSN --config=./configs/tsn.yaml --log_interval=10 --valid_interval=1 --use_gpu=True --save_dir='./checkpoints' --fix_random_seed=False --resume='./TSN_final.pdparams'

报如下错误：（改成TSM模型、STNET模型等，一直报如下错误。之前用paddle1.6.3也是报错，现在升级到1.7.0还是报如下错误。同样的模型，用eval和predict不会报错，是我的用法有问题吗？）
C:\ProgramDa

[2020-02-27 06:06] Bond-H commented on #4348
可以考虑在做词典干预时，基于单词长度修正权值，长度越长，一般置信度越高

[2020-02-27 07:03] JepsonWong commented on #4349
paddle应该是avx和noavx一起打包的，会根据本机是否支持avx选择安装特定版本。
我在我的本机mac上安装是没问题的。
我复现一下你的问题。

[2020-02-27 09:23] Airyzf opened #4355 "图片分类出错了"
![image](https://user-images.githubusercontent.com/27176468/75430075-c0e55980-5985-11ea-938c-6dc80599ebbb.png)

[2020-02-27 09:33] JepsonWong commented on #4355
麻烦提供一下详细的复现环境和代码。

[2020-02-27 10:18] SunGaofeng commented on #4353
这地方说明文档表述有点问题，--resume是用在断点继续训练的，需要加载模型和优化器相关的参数。TSN_final.pdparams里面只包含了模型参数，没有优化器相关的参数，导致加载的时候出错了。

需要将train.py第171行的
     fluid.io.load_persistables(exe, '', main_program=train_prog, filename=args.resume)
改成
     fluid.io.load_params(exe, '', main_program=train_prog, filename=args.resume)
这样只加载模型参数，而不用管跟优化器相关的参数。

我们后面会修复下这个问题，增加一个--finetune选项，以便跟--resume区分开来。

[2020-02-27 12:42] cisco08 opened #4356 "ocr 识别的那个没有dict_map，预测的时候不知道是什么文字呀"
ocr 识别的那个没有dict_map，预测的时候不知道是什么文字呀

[2020-02-27 12:49] achiver781168307 commented on #4349
@JepsonWong 您好！请问您那里复现了么？

[2020-02-27 14:09] davidwhite-www commented on #4353
谢谢，按这个方法，问题已解决。

[2020-02-27 14:09] davidwhite-www commented on #4353
谢谢，按这个方法，问题已解决。

[2020-02-27 14:09] #4353 closed, assigned to nobody

[2020-02-27 18:16] JepsonWong commented on #4349
请问如果您试试1.6.3版本的是不是也是这个问题？python -m pip install paddlepaddle==1.6.3 -i https://mirror.baidu.com/pypi/simple

[2020-02-28 00:54] achiver781168307 commented on #4349
还是一样的问题。

[2020-02-28 01:17] achiver781168307 commented on #4349
很奇怪的是我用conda的python3.7就可以，用conda的Python2.7.15就不行，会不会是python版本的问题？

[2020-02-28 01:50] achiver781168307 commented on #4349
我的在python3.7的环境下可以运行，刚才已经试过了，应该是python版本的问题，我主要看官方说的模型是基于2.7开发的，估计后面升版本了还没有说明，谢谢您了！

[2020-02-28 03:22] davidwhite-www opened #4358 "用TSN视频分类模型进行finetune时的问题"
我想利用paddle提供的已经训练好的TSN等视频模型，对自己的数据集进行finetune并分类。
有两个个问题：
1、在执行train.py时，能否冻结预训练模型的部分或全部卷积层，只训练剩下的卷积层和自己定制的全连接层。
2、在执行predict.py时，如何获得预训练模型的某一层的输出，或者获得输出层的特征向量。

[2020-02-28 08:26] phamkhactu opened #4361 "exe.run(startup_prog) show errors in train.py PaddleCv/face_detection"
### i debug it show erros in line code: exe.run(startup_prog)
[code]
### Here is errors:
[code]
### and nvidia-smi show 11GB not use
[code]

[2020-02-28 09:04] phamkhactu commented on #1514
###  i have problem with train.py. I debug, it show error in line
[code]
### and it show
[code]
### and my nvidia
[code]

[2020-02-28 09:23] DDDivano commented on #4349
你这个问题大概率是mac本身自带阉割版python27导致的，可以从python官网下载一个最新的python27，然后试一下

[2020-02-28 10:33] Igoslow opened #4363 "请您帮助下，对话情感分析的报错，预训练文件和数据以及文件都没错，按照操作步骤来的"
对话情感分析时，使用sh run.sh所有命令都能运行，但是sh run_ernie.sh train的时候会出现报错，数据和预训练文件都来自github。报错内容为：
Error: The feeded Variable 1 should have dimensions = 3, shape = [-1, 64, 1], but received feeded shape [32, 23, 1]
  [Hint: Expected DimensionIsCompatibleWith(shapes[i], in_dims) == true, but received DimensionIsCompatibleWith(shapes[i], in_dims):0 != true:1.] at (/paddle/paddle/fluid/operators/reader/read_op.cc:

[2020-02-28 16:52] phamkhactu commented on #1262
### i have same problem. I use docker to training
### I  export CUDA_VISIBLE_DEVICES=0 and export FLAGS_fraction_of_gpu_memory_to_use=0.6
### but still show error:
[code]
### here is my nvidia
[code]

[2020-02-29 02:08] Igoslow commented on #4363
已经解决了，paddle版本的问题

[2020-03-01 09:00] githubusr2 opened #4364 "PaddleHub 情感分析教程运行错误"
PaddleHub 情感分析教程运行如下错误：
七、开始Finetune
我们选择finetune_and_eval接口来进行模型训练，这个接口在finetune的过程中，会周期性的进行模型效果的评估，以便我们了解整个训练过程的性能变化。
run_states = cls_task.finetune_and_eval()
[2020-03-01 16:25:06,188] [    INFO] - Strategy with scheduler: {'warmup': 0.1, 'linear_decay': {'start_point': 0.1, 'end_learning_rate': 0}, 'noam_decay': False, 'discriminative': {'blocks': 0, 'factor': 2.6}, 'gradual_unfreeze': 0, 'sla

[2020-03-02 02:01] zhangting2020 commented on #4361
看报错提示是out of memory，batch size试着调小一些试试呢？

[2020-03-02 02:25] huangjun12 commented on #4358
1.可以的，通过将某一卷积层参数的学习率设为0可以冻结部分或全部卷积层，
示例代码:
conv = fluid.layers.conv2d(param_attr=fluid.param_attr.ParamAttr(learning_rate=0),...)
参考文档
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/ParamAttr_cn.html#cn-api-fluid-paramattr
2. 要获得某一层的输出，要将该层的输出fetch出来。具体的，
(1)请修改tsn_res_model.py文件的net函数，返回你想要的输出；
(2)修改tsn.py文件的build_model函数，获取相应的返回值；
(3)修改tsn.py文件的fetches函数，得到'infer'模式下的fetch

[2020-03-02 03:02] phamkhactu commented on #4361
I set batch_size = 4, but it show core dump. I also reset, but it still shows.
[code]

[2020-03-02 04:25] JepsonWong commented on #4356
https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/ocr_recognition 是这个代码么？train.list、test.list里面应该有对应label吧？

[2020-03-02 04:43] #4341 closed, assigned to juncaipeng

[2020-03-02 05:06] zhangting2020 commented on #4361
Which version of Paddle are you using?  Does this error occur If batch_size is set to 1?

[2020-03-02 05:42] Vvegetables commented on #3780
你好，我也遇到这样的问题，请问什么时候能够兼容呢？

[2020-03-02 06:35] aiot-tech opened #4367 "微调nextvald的参数，如何加载部分参数呢"
如果不需要最后一层参数，该怎么进行这种底层操作呢？有没有相关教程，感觉paddlepaddle的教程很少啊，好多都是高级封装好的了，很难进行定制化操作

[2020-03-02 07:26] mapingshuo commented on #4367
已有重复issue, 一并在另一issue中讨论：https://github.com/PaddlePaddle/Paddle/issues/22812

[2020-03-02 07:26] #4367 closed, assigned to nobody

[2020-03-02 09:50] qingqing01 commented on #4361
@phamkhactu

For PyramidBox in face detection,  batch-size 16 on one GPU is too large for 12G GPU.

From info:

[code]

Maybe you can find the Process ID, then kill them.

[code]

[2020-03-02 10:19] kinghuin commented on #4364
@githubusr2
您好，感谢反馈，请尝试以下方法：
1. 您使用的是paddle1.2版本吗？可以升级paddle至1.6版本(如1.6.3报错CUDNN_STATUS_BAD_PARAM则升级至1.6.1)  升级paddlehub至1.5.2
2. 尝试关闭pyreader，在hub.RunConfig中加入这个参数use_pyreader=False

[2020-03-02 14:07] phamkhactu commented on #4361
paddle 1.6 and  I have been set batch_size =1, it still happens

[2020-03-02 14:50] phamkhactu commented on #4361
I debug it. when it run line code show error above
[code]

[2020-03-02 15:42] phamkhactu commented on #4361
I update latest version, I solve it. But when I  run train.py, I get error. I think some image not valid cause error, I download wired face dataset follow instruction. Is some thing wrongs ??
[code]

[2020-03-02 16:02] phamkhactu opened #4369 "face_detection/train.py training model bugs"
### read some image failed
[code]

[2020-03-03 02:32] mapingshuo commented on #4369
I think this is a `numpy` memory error.

[2020-03-03 02:48] qingqing01 commented on #4369
sample_img = np.zeros((height, width, 3))

@phamkhactu  The error seems the height or width  is zero, or too large.  You can print them to debug. And which dataset you used?

[2020-03-03 03:15] phamkhactu commented on #4369
@qingqing01  I use [wider_face_dataset](http://shuoyang1213.me/WIDERFACE/). I think it preprocess,  and i download from driver. Any error in datasets?

[2020-03-03 03:38] qingqing01 commented on #4369
@phamkhactu If WIDERFace dataset, it should be ok.   Whether the annotation is downloaded from:

[code]

[2020-03-03 03:38] phamkhactu commented on #4369
@mapingshuo  @qingqing01. I have question that: Can train model with keras or tensorflow?? Thank in advance if you sharing link github implement it

[2020-03-03 03:39] phamkhactu commented on #4369
@qingqing01  thank you very much. I will try out it.

[2020-03-03 03:40] qingqing01 commented on #4369
@phamkhactu  Model here only supports PaddlePaddle.  Could you show some debug info about the memory error?

[2020-03-03 03:42] phamkhactu commented on #4369
@qingqing01

here is the split dataset to train,  Have to download dataset from wider_face to train??

[2020-03-03 03:46] phamkhactu commented on #4369
[code]
from instruction Maybe download wider_face datasets ??. I have been run without dowloading, it show error. @qingqing01

[2020-03-03 03:50] phamkhactu commented on #4369
@qingqing01
it only shows error i have been posted in above, I can not find exactly where and why.

[2020-03-03 04:25] phamkhactu commented on #4369
@qingqing01  i debug it it shows error when the width == height
[code]

[2020-03-03 04:27] #4340 closed, assigned to LDOUBLEV

[2020-03-03 12:42] #4363 closed, assigned to zhangting2020

[2020-03-03 13:39] qingqing01 commented on #4369
@phamkhactu

A small testing, When there is not enough memory:
[code]

In the face-detection training, the default uses multiprocess and the worker num is 8. You can reduce the worker number in train.py or set --use_multiprocess=False for a try.

[2020-03-05 01:03] phamkhactu commented on #4369
@qingqing01  I have been try it before. It still shows error.

[2020-03-05 06:52] chaogehah opened #4374 "在训练时报了CUDNN_STATUS_EXECUTION_FAILED错误"
我用的是ubuntu16.04
显卡是RTX2080Ti
我是在anaconda的虚拟环境下跑的训练，网络为ResNet50_vd
paddle1.7.0.post97 + cuda9.0 + cudnn7.3.1

2020-03-05 14:27:22,808-INFO: -------------  Configuration Arguments -------------
2020-03-05 14:27:22,808-INFO:                batch_size : 16
2020-03-05 14:27:22,808-INFO:                checkpoint : None
2020-03-05 14:27:22,808-INFO:                 class_dim : 2
2020-03-05 14:27:22,808-

[2020-03-05 09:00] qingqing01 commented on #4369
It still shows error when set --use_multiprocess=False? What's is your environment?

[2020-03-05 12:09] wanglc2008 commented on #3427
https://github.com/PaddlePaddle/models/blob/554d8864eb0ec9416c06357a7bca1789fc750f78/PaddleCV/PaddleVideo/models/nextvlad/nextvlad_model.py#L44
hi,what is shape of "input"? (batch, frame, feature_size)?
What is the number of frame?

[2020-03-06 06:02] yudian931122 opened #4379 "lac大规模文本分词效率比较低"

[2020-03-06 08:31] yw1991 opened #4380 "AttributeError: module 'paddle.fluid.io' has no attribute 'batch'"
这个问题是因为版本改吗了？还是什么问题？年前还可以正常运行现在一直报这个错

[2020-03-06 11:29] baiyfbupt commented on #4380
麻烦确认一下paddle版本，fluid.io.batch是1.6以后才有的，可以把paddle更新到1.6+再试一下

[2020-03-06 11:32] baiyfbupt commented on #4379
你好，效率低体现在什么方面呢？能否详细描述下

[2020-03-06 12:09] yudian931122 commented on #4379
指的是耗时方面，今天我用10万条短文本测试做分词处理，大概300万个词，花费了十多分钟；
尝试了两种方式：10万条一次喂给lac分词、分若干批次喂给lac分词，两种方式下耗时接近；
是我使用的方式有问题吗？

[2020-03-06 13:50] lxk767363331 opened #4381 "关于image_classification输入图片尺寸的问题"
[code]
使用这个指令进行训练时 增加  --image_shape 3 700 460 \ 报错结果如下：
ValueError: The feeded Variable 'feed_image' should have dimensions = 4, shape = (-1, 3, 700, 460), but received feeded shape [16, 3, 700, 700]
请问在代码中如何设置此项，我在reader中没有找到？
还有一个问题
我尝试不适用预训练模型 分别使用 --image_shape 3 700 460 / --image_shape 3 460 460
均报错，可否有解释，如何更改？
-image_shape 3 460 460 报错结果如下：
Error Message Summary:
----------------------
Erro

[2020-03-07 15:02] phamkhactu commented on #4369
@qingqing01  i use docker to training

[2020-03-08 01:40] luzm3 commented on #4348
谢谢~

[2020-03-08 01:40] #4348 closed, assigned to nobody

[2020-03-08 09:13] JepsonWong commented on #4374
related issue：https://github.com/PaddlePaddle/Paddle/issues/22874

[2020-03-09 02:58] kuke commented on #4379
@yudian931122 这种情况有可能会发生，硬件设备的计算能力限制了模型的数据吞吐率，因此一样的数据规模，分批次feed和一次性feed的总耗时有可能差不多。

[2020-03-09 03:13] yw1991 commented on #4380
更新最新版本就好了，谢谢

[2020-03-09 08:50] shippingwang commented on #4381
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/reader.py#L209 会裁剪成正方形， [3, 460, 460]报错看起来是哪里没对上，115看起来是对的。是改了网络结构么

[2020-03-09 09:44] yw1991 opened #4385 "#--init_checkpoint ./pretrain_models/ernie"
按着官网步骤来的  报错：run_ernie.sh: line 22: --init_checkpoint: command not found

[2020-03-10 02:53] qingqing01 commented on #4369
@phamkhactu  We tested on P40 (22G memory per GPU), there is no problem when running more than one 1000 iter with bs = 12/per GPU.

The error seems CPU memory is not enough. How CPU memory does the container use?  Have you tried setting `--use_multiprocess=False`?

[2020-03-10 02:55] qingqing01 commented on #4361
related to https://github.com/PaddlePaddle/models/issues/4369

[2020-03-10 09:34] xfyu1999 opened #4396 "load模型checkpoint, 第二次预测出问题"
https://github.com/PaddlePaddle/models/blob/v1.6/PaddleNLP/emotion_detection/run_classifier.py
照这个改的预测代码，就是load模型checkpoints，我们想做成那种api形式的，load一次模型，多次预测，第二次预测出问题：

Load model from ../inference_model_v5/cnn/step_220000
现 在 怎 么 办
<paddle.fluid.reader.GeneratorLoader object at 0x7fda24345450>
bb
[array([[6.2673175e-01, 6.5273693e-04, 6.8719119e-02, ..., 2.0736305e-14,
        1.4468053e-13, 1.3849883

[2020-03-10 10:26] huangjun12 commented on #4385
可以详细描述下问题吗？看着是脚本写法的不对导致的运行报错

[2020-03-10 12:06] sonic-github opened #4398 "这是否是pyramidbox代码问题？"
widerface_eval里
函数infer有这么一段代
if image.mode == 'L':
     image = img.convert('RGB')
img我没有找到上下文，个人怀疑应该是image，不知道是不是？

[2020-03-10 12:14] huangjun12 commented on #4398
麻烦提供下代码链接~

[2020-03-10 13:30] sonic-github commented on #4398
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/face_detection/widerface_eval.py

[2020-03-10 13:39] yghstill commented on #4398
@sonic-github 感谢指出语法错误，因为Image.open读取图片格式本身就是RGB，所以if里没有执行，不影响正常使用，img语法错误我们将会修正。

[2020-03-11 01:41] sonic-github commented on #4398
再给你指一个.... 其实在pycharm里打开项目，这些语法都有红线标识出来:
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/face_detection/visualize.py
函数
def draw_bbox(image, bbox):
......
    draw = ImageDraw.Draw(image)
    xmin, ymin, xmax, ymax = box
box 也是没有上下文的，我想应该是想写bbox?

[2020-03-12 08:22] weak-fox opened #4409 "DeepVoice3 训练时AssertionError"
执行python train.py --data-root=ljspeech --use-gpu --preset=../../dv3.single_frame/config.json  --train-seq2seq-only --checkpoint=model后报错

Traceback (most recent call last):
  File "train.py", line 225, in <module>
    model = make_deepvoice3_from_hparams(hparams)
  File "train.py", line 110, in make_deepvoice3_from_hparams
    hparams.key_projection, hparams.value_projection)
  File "/home/aistudi

[2020-03-12 08:54] Aurelius84 commented on #4409
您好，models下DeepVoice3已经移动到了 [PaddlePaddle/Parakeet](https://github.com/PaddlePaddle/Parakeet/tree/develop/examples/deepvoice3)，此仓库下DeepVoice3将被移除，请参考新目录下模型训练代码。

[2020-03-12 09:11] linrjing opened #4410 "paddle.fluid.layers.cross_entropy(input, label, soft_label=True) 运行后label被更改"
loss 使用
fluid.layers.cross_entropy(input=self.network_outputs[0], label=gt_label, soft_label=True)，

输入：
gt_label是我自己设定好的  [0.  0.  0.  0.5 0.  0.5 0.  0.  0.  0.  0.  0.  0.  0.  0.  0. ]

在train的run之后打印 fetch_out的gt_label变为：
![F2D45D6252E53F5B661495BB63587376](https://user-images.githubusercontent.com/9814501/76505363-556eb200-6484-11ea-839b-393f72dab3a8.JPG)

loss完整代码如下：
        cost_cls = flui

[2020-03-12 09:27] Aurelius84 commented on #4410
我使用如下代码，并未复现问题：
[code]

[2020-03-12 10:04] #4199 closed, assigned to nobody

[2020-03-12 10:35] linrjing commented on #4410
bug出现了fluid1.5.2。 重新安装fluid1.6后， luid.layers.cross_entropy(input=pre, label=y, soft_label=True)正常了

[2020-03-12 10:41] #4410 closed, assigned to nobody

[2020-03-12 14:03] li-900406 opened #4411 "关于BSN/BMN模型"
BSN/BMN模型中好像只提供了动作提名的部分的实验步骤，请问一下后面动作分类部分的实验步骤是什么？谢谢

[2020-03-13 01:37] #4398 closed, assigned to nobody

[2020-03-13 08:14] Chuckie-He commented on #4411
同样的问题，请问detection部分的代码开源了吗？谢谢~

[2020-03-13 08:52] huangjun12 commented on #4411
BMN和BSN都是**时序提名生成**模型，只生成proposal，
视频动作定位完整的pipline可参考开源模型**CTCN**的实现:
https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/PaddleVideo/models/ctcn

[2020-03-13 11:14] li-900406 commented on #4411
请问一下CTCN模型里面结合BSN/BMN模型了吗？因为CTCN没有文章，我并不清楚其原理，可否给一个CTCN模型科普的文章？谢谢~

[2020-03-13 12:00] lguowang opened #4424 "models/PaddleNLP/sentiment_classification/ 中找不到 net.py"

[2020-03-13 12:02] #4424 closed, assigned to nobody

[2020-03-13 12:13] lguowang opened #4426 "models/PaddleNLP/sentiment_classification/ 找不到 nets.py"
我在用models/PaddleNLP/sentiment_classification/ 尝试做情感倾向分析，但出现错误：
Traceback (most recent call last):
  File "run_ernie_classifier.py", line 23, in <module>
    from nets import bow_net
ImportError: No module named nets
请问能提供一下nets.py，或者更新一下说明文档吗？

[2020-03-13 12:18] #4379 closed, assigned to kuke

[2020-03-13 12:22] yudian931122 opened #4427 "word2vec_skipgram Fine-tune问题"
小白求助，我想直接使用word2vec_skipgram里边的词向量，但是里面有些业务名词没有，看介绍上说word2vec_skipgram是可以进行Fine-tune的，那么我可以使用自己的语料进行增量训练吗？如果可以的话，我该怎么做，没找到帮助文档，还请各位大佬帮忙！

[2020-03-13 12:24] #4426 closed, assigned to nobody

[2020-03-14 13:11] chicleee opened #4432 "关于xlnet"
请问是否有xlnet的中文预训练模型，或将tensorflow的xlnet预训模型转换为paddle模型的方法？谢谢！

[2020-03-15 05:47] 123malin commented on #4432
xlnet请参考页面：
https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/pretrain_language_models/XLNet

[2020-03-16 02:43] LDOUBLEV commented on #4427
请问你用到的是哪个模型呢

[2020-03-16 02:59] yudian931122 commented on #4427
这个模型：word2vec_skipgram
https://www.paddlepaddle.org.cn/hubdetail?name=word2vec_skipgram&en_category=SemanticModel
@LDOUBLEV

[2020-03-16 03:01] kuke commented on #4427
可以自己增量训练，但按你的需求，要改变词典，操作稍显复杂。需要把新增的词追加到词典后面，然后需要手动操作embedding表，用原来的 embedding 表部分初始化新 embedding 表

[2020-03-16 03:20] yudian931122 commented on #4427
请问embedding表要怎么手动改呢？模型文件@HUB_word2vec_skipgram@embedding_0.w_0好像没法直接改，代码里要怎么改呢？
@kuke

[2020-03-16 05:37] #4333 closed, assigned to frankwhzhang

[2020-03-16 06:06] yudian931122 commented on #4427
paddle这个训练word2vec的语料有下载途径吗？我加上我自己的语料重新一起训练看下？
@kuke

[2020-03-16 06:13] Suyn opened #4434 "python ppdet/modeling/tests/test_architectures.py报错"
快速安装后，运行python ppdet/modeling/tests/test_architectures.py，下边是运行结果
EE....EE....

[code]

测试都没通过，，，，什么问题？？？

[2020-03-16 12:31] qingqing01 commented on #4434
@Suyn  使用 https://github.com/PaddlePaddle/PaddleDetection ，并且使用Paddle 1.7版本，测试没问题。 有问题可以在https://github.com/PaddlePaddle/PaddleDetection/issues 这里提。

[2020-03-17 03:02] qingqing01 commented on #4434
closed due to  https://github.com/PaddlePaddle/PaddleDetection/issues/340

[2020-03-17 03:02] #4434 closed, assigned to nobody

[2020-03-17 08:22] bluelml opened #4438 "如果下载simnet其他预训练模型？"
download_pretrained_model.sh 文件中，只提供了simnet_bow-pairwise模型下载。
请问，如果下载其他模型文件？ 比如simnet lstm pairwis预训练模型。

[2020-03-17 08:54] endy-see opened #4440 "Paddle里面的Detection什么时候能够支持DALI？"
我们这边期望训练速度能够更快一点，想问下paddle的检测什么时候能够支持dali？

[2020-03-17 11:27] COST-97 opened #4441 "运行tools/eval.py报错"
模型成功使用tools/train.py训练，
但是运行tools/eval.py报错。
运行代码：
[code]

出错信息如下：
[code]

[2020-03-17 11:32] COST-97 opened #4442 "yml文件里面模型超参数配置"
可否把yml文件里面模型的超参数的设计原则，设计方案阐述一下（可以使用yolov3或faster r-cnn建立一个demo，详细说明各个参数的**作用，取值范围，实际取值对模型的影响**等等）。

[2020-03-18 02:28] huangjun12 commented on #4411
CTCN模型论文请参考: https://arxiv.org/abs/1908.09442

[2020-03-18 02:36] huangjun12 commented on #4385
可以提供下链接，运行的是哪个文件吗

[2020-03-18 03:09] Xreki commented on #4440
如线下沟通，PaddleDetection暂时不支持dali。YOLOv3模型建议使用release/0.2分支，该版本做了加速优化。

[2020-03-18 03:24] Xreki commented on #4438
您好，similarity_net当前只提供了simnet_bow-pairwise的预训练模型。

[2020-03-18 03:29] Xreki commented on #4441
[code]

从这里的log来看，已经正确地执行了eval任务，请确认一下eval任务是否已经执行完了？

[code]

这条提示来看，像是退出异常。请问这个错误能稳定复现吗？

[2020-03-18 03:40] qingqing01 commented on #4442
@COST-97
关于检测的问题，可以在  https://github.com/PaddlePaddle/PaddleDetection/issues 这里提问。
您的问题是个很好的建议。之前在 https://github.com/PaddlePaddle/PaddleDetection/blob/release/0.1/docs/config_example/yolov3_darknet.yml 这里加过，但效果可能没有很好。

我们再看下怎么更好的解释 和 呈现。

还想问下: 实际这些参数也可以黑盒在模型结构里，不暴露在YML中，您觉得是暴露，并详细的解释算法层面的参数设置。 还是一点都不暴露，内部代码注释好些？

[2020-03-18 06:34] COST-97 commented on #4442
还是把重要参数写在yml文件中较好。因为**很大一部分**使用者在使用你们的框架时，主要是当成黑盒使用。你们主要是把重要参数对模型的影响一定要讲清楚（最好有demo），并告诉使用者如何设计这些参数。

[2020-03-18 07:38] hp-cuiwb opened #4445 "DQN model找不到在哪？"

[2020-03-18 07:49] #4380 closed, assigned to nobody

[2020-03-18 07:59] COST-97 commented on #4441
重复了几次，每次都报同样的错误

在 2020-03-18 11:30:07，"Yiqun Liu" <notifications@github.com> 写道：

2020-03-17 19:17:56,902-INFO: Test iter 0

2020-03-17 19:18:03,758-INFO: Test finish iter 69

2020-03-17 19:18:03,759-INFO: Total number of images: 546, inference time: 73.04237257565066 fps.

2020-03-17 19:18:03,759-INFO: Start evaluate...

2020-03-17 19:18:04,487-INFO: Accumulating evaluatation results...

2020-03

[2020-03-18 08:31] heiheiya opened #4446 "Pyramidbox中并没有body部分处理？"
论文中有半监督的head和body引入，但是代码中只看到head，是我看漏了吗？

[2020-03-18 10:54] kuke commented on #4445
最近 develop 分支做了调整，这个模型在 develop-backup 里面还可以看到

https://github.com/PaddlePaddle/models/tree/develop-backup/legacy/PaddleRL/DeepQNetwork

[2020-03-19 04:18] Quan-zzx opened #4449 "动态图预训练模型"
我在[这里](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/README.md#%E5%B7%B2%E5%8F%91%E5%B8%83%E6%A8%A1%E5%9E%8B%E5%8F%8A%E5%85%B6%E6%80%A7%E8%83%BD),下载了vgg16的预训练模型,请问能否转化使得它能导入动态图里进行预训练

[2020-03-19 08:56] qingqing01 commented on #4446
@heiheiya  论文中确实加了body微调是可以提升效果的，但是提升有限。而且加body会比较增加训练时间。所以这里实现没有没加，最终的AP已经很不错了。

[2020-03-19 09:17] Qzgfather commented on #4355
显存爆了  改小batch_size

[2020-03-20 06:20] heiheiya commented on #4446
@qingqing01 明白了，谢谢解答！

[2020-03-20 07:00] lidingke opened #4452 "使用关键点检测human_pose_estimation模型时val和test脚本报数据方面的错误"
### 环境：

Ubuntu18.04
CUDA Capability: 75, Driver API Version: 10.2, Runtime API Version: 10.0
cuDNN Version: 7.3
RTX2080TI
paddle.1.6.1
python3.7
paddel.models版本为develop
数据集用的https://aistudio.baidu.com/aistudio/projectDetail/122271这里提供的数据集
==================================

### 问题1

将mpii的标注下载下来后只有.mat文件，如何转换成lib/mpii_reader.py支持的格式。

### 问题2

使用上述数据集执行test.py和val.py报错。

执行val.py

`CUDA_VISIBLE_D

[2020-03-20 07:07] linshufei opened #4453 "关于metric learning中的reader.py"
版本、环境信息：
1）PaddlePaddle版本：1.6
2）CPU：CPU
3）GPU：无
4）系统环境：Linux python2.7
metric learning中的reader.py源码如下：createreader中的keep_order
`
def createreader(settings, mode):
    def metric_reader():
        if mode == 'train':
            train_data, train_image_list = init_sop('train')
            loss_name = settings.loss_name
            if loss_name in ["softmax", "arcmargin"]:
                return arc

[2020-03-20 08:16] kebinC commented on #4453
reader里面keep_order的作用是：
设置为True, 在训triplet，quadruplet 等pair对的loss，保持一个batch里面pair对的顺序不变;
设置为False，经过reader的多线程处理后，一个batch里面的数据顺序会乱掉, 这对softmax，arcmargin以及test模型都不影响，它们都不依赖batch里数据的顺序。

[2020-03-20 08:30] linshufei commented on #4453
如果都设置为True，对训练有什么影响？

[2020-03-20 08:30] linshufei commented on #4453
如果都设置为True，对训练有什么影响？

[2020-03-20 08:32] kebinC commented on #4453
reader速度会慢点，训练效果没影响。

[2020-03-20 08:50] JiaXiao243 commented on #4452
1. val报错：
将coco下的val2017数据集拷贝到coco下的images目录下，可以正常eval；
目录结构为：coco/images/val2017
2. test报错：
test缺少image_info_test2017.json，请下载解压并拷贝到目录data/coco/annotations
[image_info_test2017.json.zip](https://github.com/PaddlePaddle/models/files/4358588/image_info_test2017.json.zip)

[2020-03-20 13:20] lzp1317 commented on #4452
问题1：将mpii的标注下载下来后只有.mat文件，如何转换成lib/mpii_reader.py支持的格式。
答：mpii的json标注文件可以从https://drive.google.com/drive/folders/1En_VqmStnsXMdldXA6qpqEyDQulnmS3a 下载，lib/mpii_reader.py不是用来转换数据格式的，是训练任务读入训练数据的代码。

问题2：使用上述数据集执行test.py和val.py报错。
答：执行脚本的时候加载的数据不对，应该遵循github上说明来下载官方数据以及构建数据路径，https://aistudio.baidu.com/aistudio/projectDetail/122271 上数据不完整，如果要跑自定义的数据，需要自己修改lib/coco_reader.py脚本读入自定义数据

[2020-03-21 18:39] leemengxing commented on #3897
@wzmsltw 我对于视频滑窗的方式生成特征序列，有些疑惑，您是否能给出参考code呢？

[2020-03-23 03:56] lidingke commented on #4452
@lzp1317,我用完整的coco数据集可以跑，继续问个问题。

我看https://aistudio.baidu.com/aistudio/projectDetail/122271， 这里还有freeze.py和infer.py，在models的repo中怎么没有呢。

[2020-03-23 09:41] qingqing01 commented on #4452
@lidingke models中确实还没加导出模型、以及针对导出模型的预测~

[2020-03-23 11:28] callmeivy commented on #4173
您好，请问解决了吗？遇到同样的问题。

[2020-03-23 12:01] phlrain commented on #4449
针对使用动态图使用静态图预训练的模型的功能，我们已经在开发中，会在下个月发布的新版本中提供支持

[2020-03-23 13:00] Quan-zzx commented on #4449
谢谢了，期待中

[2020-03-23 13:42] Dogy06 commented on #4014
delete assertion code and assign the document tokens to all_doc_tokens since thry are not used anymore:

if not all_doc_tokens == tokenization_info['document_subtokens']:
     tokenization_info['document_subtokens'] = all_doc_tokens

worked for me.

[2020-03-23 14:51] callmeivy opened #4474 "KT-NET训练报错，显存不足"
KT-NET训练同时使用WordNet和nell，directly fine-tuning ，报错，错误如下：
![1](https://user-images.githubusercontent.com/14139827/77328863-1c71ef80-6d58-11ea-84d7-51c155f0bde1.png)
![image](https://user-images.githubusercontent.com/14139827/77329257-b5086f80-6d58-11ea-8946-3b6975d524a7.png)

已将类似issues提到的解决方法均尝试了一遍，无果：
环境变量FLAGS_fraction_of_gpu_memory_to_use从0一直到1都尝试过；
batch_size已设为1；
FLAGS_eager_delete_tensor_gb以及

[2020-03-24 09:19] shanzhengliu commented on #4173
搞定了，搜下网上其他的代码就好了，他自己的代码有bug，网上有其他实现的方法

[2020-03-24 11:47] callmeivy commented on #4173
多谢回复，代码是kt-net，也怀疑有bug

[2020-03-25 06:38] yeyupiaoling opened #4477 "OCR 中数据的label为什么不是从0开始标记的？"
在 https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/ocr_recognition
在这个OCR模型中，提供的数据集的标签是从15开始标记的，而且一共就只有62个类别，但是模型设置却是95个类别，这是为什么呢？

[2020-03-25 13:24] #4411 closed, assigned to huangjun12

[2020-03-26 02:41] yw1991 opened #4481 "我想问问paddle训练好的模型可以用部署在java生产环境中吗？"

[2020-03-26 04:00] LDOUBLEV commented on #4477
感谢关注，这个OCR模型训练之初用了另一个数据集，类别数量更全。由于一些原因，该数据集不会公开，OCR模型里提供的数据集只是一部分数据。另外，我们正在准备发布一批新的OCR模型，会逐渐淘汰或重构旧的模型。

如果想优化这个模型，建议将num_classes改成当前数据集的类别数量，并通过fluid.load_program_state   fluid.set_program_state 这两个API 完成模型的fine-tuning。

[2020-03-26 05:30] LLChocolate opened #4483 "想在AI studio上跑pointnet，但是环境里没有nvcc，无法编译动态库"
pointnet++里有几个自定义op需要将c++和cuda代码编译成动态库，需要通过g++/nvcc编译，但是aistudio环境里没有nvcc，求解。

[2020-03-26 06:03] yeyupiaoling commented on #4477
@LDOUBLEV 当使用 attention 模型时，label会有一个 `[SOS] + label, label + [EOS]` ,
所以 label 是不是应该要大于等于0？

[2020-03-26 06:30] LDOUBLEV commented on #4477
是大于0

[2020-03-26 07:41] yeyupiaoling commented on #4477
@LDOUBLEV 谢谢，感谢回答

[2020-03-26 07:41] #4477 closed, assigned to LDOUBLEV

[2020-03-26 08:20] alfredtorres commented on #4483
I try this too on ai studio.
I can use the nvcc complier but failed in g++ compile.
Detailly, `nvcc ${op}.cu -c -o ${op}.cu.o` success , I get several *.cu.o.
But, the next `g++` operation failed. Thecode is `void Apply(GradOpPtr<T> op) const override {}` in `gather_point_op.cc, group_points_op.cc,three_interp_op.cc`.

[2020-03-26 11:48] HaozhengAN opened #4486 "Compiled with WITH_GPU, but no GPU found in runtime"
基于paddlepaddle/paddle:1.5.2-gpu-cuda9.0-cudnn7镜像构建的新镜像，
<img width="958" alt="图片" src="https://user-images.githubusercontent.com/34512369/77643648-b6c17580-6f9a-11ea-8575-7aab50149e65.png">
系统信息：
<img width="537" alt="图片" src="https://user-images.githubusercontent.com/34512369/77643867-0f910e00-6f9b-11ea-956e-8fd622cd3019.png">

[work@yq01-gpu-yq-adu-1-28 paddleflow]$ uname -a
Linux yq01-gpu-yq-ad

[2020-03-26 13:28] wanubias opened #4487 "文档错误"
执行该脚本的理想输出为：
[code]

[2020-03-27 03:40] CVsaber opened #4488 "PaddleNLP的sentiment_classification官方例程报错"
按照例程运行，报错。
aistudio@jupyter-256968-332689:~/models/PaddleNLP/sentiment_classification$ sh run_ernie.sh train
['/home/aistudio/models/PaddleNLP/sentiment_classification', '/opt/conda/envs/python35-paddle120-env/lib/python37.zip', '/opt/conda/envs/python35-paddle120-env/lib/python3.7', '/opt/conda/envs/python35-paddle120-env/lib/python3.7/lib-dynload', '/opt/conda/envs/python35-paddle120-env/lib/pyt

[2020-03-27 09:04] NHZlX commented on #4487
您好， 整个models中未找到 sh get_data.sh， 可否指明下具体的文档位置呢。

[2020-03-27 09:07] NHZlX commented on #4486
可否提供更详细的信息

[2020-03-27 09:13] NHZlX commented on #4481
目前还没有java接口。当然可以看下是否可以用java 调用python或者c++

[2020-03-27 09:20] HaozhengAN commented on #4486
![image](https://user-images.githubusercontent.com/34512369/77741065-3c9ef880-704f-11ea-8517-071a4ac64717.png)
![image](https://user-images.githubusercontent.com/34512369/77741079-4163ac80-704f-11ea-9d20-1bce6d84b75e.png)
cuda 尝试过8.0 9.0 10.0 10.2
cudnn 尝试过 7 7.4 7.6

请问还需要什么信息吗？ 方便的话可以 hi: anhaozheng

[2020-03-27 09:52] NHZlX commented on #4483
我们相关同学验证了一下，v100的GPU环境是有预装nvcc的。

![image](https://user-images.githubusercontent.com/5595332/77743900-c18c1100-7053-11ea-8721-632b93d0be5e.png)

[2020-03-27 10:02] mmglove commented on #4487
您好，感谢反馈，脚本名称有误，应为sh download_data.sh。已修复https://github.com/PaddlePaddle/models/pull/4489

[2020-03-27 11:12] JepsonWong commented on #4486
一般有以下可能性：
1. 本机nvidia显卡驱动安装未成功（已和用户确认安装没问题）。
2. 本机gpu没有成功映射至docker container中。

已经排除是paddle镜像问题，用户本地gpu映射至docker container有问题。

[2020-03-27 14:28] alfredtorres opened #4490 "PointNet++编译失败"
您好，我想在ai studio平台复现PointNet++，在编译自定义OP时失败。输出如下：
[code]
我发现错误是因为下面这句
[code]
是不能在ai studio上编译吗？

[2020-03-28 12:35] heavengate commented on #4490
如果使用Paddle 1.7版本请使用models release/1.7版本，上面的报错是models develop版本的op写法适配了最新Paddle develop版本的写法，如果要使用models develop的话是需要使用Paddle develop编译安装的

[2020-03-28 17:32] a310694487 commented on #4452
现在关键点检测已经找不到了，什么时候可以更新出来呢？？谢谢了

[2020-03-28 18:11] #4490 closed, assigned to heavengate

[2020-03-30 01:46] pele228 opened #4491 "human_pose_estimation C++预测接口"
你好，human_pose_estimation模型有C++预测接口吗

[2020-03-30 07:28] huxianhe0 commented on #2638
遇到个错误不知道解决先来骂人的喷子，

遇到个错误不知道想办法解决却先来骂人的喷子，纯属傻逼

[2020-03-30 07:29] huxianhe0 commented on #2638
遇到个错误不知道想办法解决却先来骂人的喷子，纯属傻逼

[2020-03-30 08:59] jcdubron opened #4492 "Is the backbone frozen in yolov3 training?"
I download the pre-trained models from [https://github.com/PaddlePaddle/models/blob/v1.4/PaddleCV/yolov3/weights/download.sh](https://github.com/PaddlePaddle/models/blob/v1.4/PaddleCV/yolov3/weights/download.sh).

The backbone part in yolov3.tar.gz has almost the same weights in darknet53.tar.gz. So I wonder whether the backbone part is frozen during the yolov3 training process. If so, is it helpf

[2020-03-30 09:02] IEnglishBad commented on #4488
数据的最大长度为191，模型设置的最大长度为256，可以在models/PaddleNLP/shared_modules/preprocess/padding.py的25行pad_batch_data函数中修改37行的max_len变量等于模型设置的最大长度，修改后就可以运行了。

[2020-03-30 10:09] DEepLiker commented on #4488
@IEnglishBad  多谢
但是程序似乎无法更换类别数目，我想用它训练自己的数据，在更换多类时，运行报错！
RuntimeError: Shape not matching: the Program requires a parameter with a shape of ((256, 10)), while the loaded parameter (namely [ fc_75.w_0 ]) has a shape of  ((256, 2))

[2020-03-30 14:40] IEnglishBad commented on #4488
修改num_label 启动脚本里面
------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"moli"<notifications@github.com&gt;;
发送时间:&nbsp;2020年3月30日(星期一) 晚上6:10
收件人:&nbsp;"PaddlePaddle/models"<models@noreply.github.com&gt;;
抄送:&nbsp;"温水煮青蛙"<398972900@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [PaddlePaddle/models] PaddleNLP的sentiment_classification官方例程报错 (#4488)

@IEnglishBad  多谢
 但

[2020-03-30 16:17] bkseastone opened #4493 "使用ParallelExecutor单机多核训练，除速度外等价于加大batchsize么？"
比如，`batchsize = 128`，`CPU_NUM = 8` 时，使用 `ParallelExecutor` 单机训练，除训练速度外，是否等价于 `batchsize = 128 * 8`，`CPU_NUM = 1` 的单机单核训练？

[2020-03-31 02:27] RickDYang opened #4494 "Lac 词性分析无法处理包含 '/'的文本"
lac.lexical_analysis(data={'text': ['胆囊结石/胆囊炎']})
返回[{'word': ['胆囊结石', '/胆囊炎'], 'tag': ['nz', '胆囊炎']}]

lac.lexical_analysis(data={'text': ['胆囊结石//胆囊炎']})
返回[{'word': ['胆囊结石', '//胆囊炎'], 'tag': ['nz', '']}]

lac.lexical_analysis(data={'text': ['胆囊结石/ 胆囊炎']})
返回[{'word': ['胆囊结石', '/', ' ', '胆囊炎'], 'tag': ['nz', '', 'w', 'nz']}]

[2020-03-31 02:31] luotao1 commented on #4493
是的。如果能保证代码配置里的batch_size是原来的8倍，那么两者任务量是一致的，也就是等价的。

[2020-03-31 02:41] RickDYang commented on #4494
需要把这些关键字加入user dict
胆囊炎	nz	40000
胆囊结石	nz	40000

[2020-03-31 03:07] luotao1 commented on #4494
可以自行先把包含`/`的符号替换掉么

[2020-03-31 03:40] RickDYang commented on #4494
我可以把/换成\跳过这个bug，修不修你们自己看

[2020-03-31 06:24] honggesmile opened #4496 "pointnet++训练出了模型，怎么预测自己的数据 啊。"
大佬们，pointnet++训练出了模型，怎么预测自己的数据 啊。哪位大佬救救我，有偿，qq：857832956

[2020-03-31 06:53] heavengate commented on #4496
可参照`eval_cls.py`或`eval_seg.py`构建`eval_program`并加载权重，将你的点云数据读取为`shape=[1, nun_points, 3]`的numpy数组，然后通过以下方式调用`exe.run`
[code]

[2020-03-31 11:39] hengai commented on #4363
需要什么版本呢？我的pandle版本是1.7.1，也报这个错

[2020-04-01 02:48] #4493 closed, assigned to nobody

[2020-04-01 03:12] LLChocolate opened #4499 "在ai studio编译好了pointnet_lib.so，但是提示说路径不在LD_LIBRARY_PATH里"
在ai studio编译好了pointnet_lib.so，但是提示说路径不在LD_LIBRARY_PATH里，想问一下ai studio里的哪个路径在LD_LIBRARY_PATH里，或者如何添加LD_LIBRARY_PATH路径。

[2020-04-01 03:38] zimoqingfeng opened #4500 "the focal loss impletation for PaddleCV/image_classification"
使用PaddleCV/image_classification时候，复现了一个可用于图像分类任务的focal loss

https://github.com/zimoqingfeng/focal_loss_paddle/blob/master/focal_loss_paddle.py

望采纳，有问题随时联系。

[2020-04-01 05:26] ucas010 commented on #2930
当前的[模型](https://paddlemodels.bj.bcebos.com/video_classification/NEXTVLAD.pdparams)及参数是否需要更新呢？还是说是一样的

如果我仅仅是将vggish 后的音频特征处理，请问该用那些模型呢？
![image](https://user-images.githubusercontent.com/50656998/78102226-66c03400-741c-11ea-9acc-584bdfa789b6.png)

[2020-04-01 05:31] ucas010 commented on #3427
大佬说的是，tf的模型的输入限制了，只能单个图处理，这很慢。
然后循环处理得到的每个图的特征，再经过NeXt VLAD

[2020-04-01 07:56] ucas010 opened #4501 "No such txt file"
hi,dear
that's the [code](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/video/predict.py#L51)
and do not find the file.
Should be the [yaml file ](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/video/configs/attention_cluster.yaml)?

thx

[2020-04-01 07:56] ucas010 commented on #4501
[code]

[2020-04-01 08:06] ucas010 opened #4502 "The NeXtVLAD final model couldn't be used ???"
hi,dear
the nextvlad_final file can't be load ???
[code]
Except specified the final model path, no other modified.
SO how to solve the problem?
thx

[2020-04-01 08:16] prettyocean85 opened #4503 "ocr_recognition预测如何获得每个字符识别的得分？"
ocr_recognition预测结果是字符的识别的类别，是否可以获得每个字符识别的得分？另外是否能获得每个字符的位置，用给的训练集训练，在自己的数据集预测，发现有预测少字符的情况，不清楚是那个字符没有找到，是否能返回每个字符对应的位置？

[2020-04-01 08:31] ucas010 commented on #3023
@GeTai
大佬请问下推断用的哪个模型啊？是final吗？
对图像帧进行读取，需要修改哪里啊？
多谢

[2020-04-01 08:34] ucas010 commented on #4502
I have tried the model(NEXTVLAD.pdparams), have the same problem
I do not know why

[2020-04-01 08:41] BeyondYourself commented on #4503
CRNN应该不会支出每个字符的位置的吧根据论文

[2020-04-01 08:42] ucas010 commented on #4502
when I solved the up ,comes the down
[code]
emm,that's why ?
should I modify the input to the model ?
Could I give same frames (image/audio) ?

how to deal with it?
thx

[2020-04-01 08:51] OleNet opened #4504 "类BIM攻击中每次的迭代应该不更新模型参数，但是我们的实现是不是会更新参数？"
[code]

[code]

https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/adversarial/advbox/attacks/gradient_method.py#L95

在多迭代攻击的算法中， 假设攻击迭代次数是20，那么这20次迭代中，模型的参数是不接受梯度更新的，只有输入的样本接收梯度，以形成攻击样本。
但是我们的实现中，

```self.model.gradient``` 会调用 ```self._exe.run```函数，即会更新模型参数，这样的实现是正确的吗？

[2020-04-01 08:52] OleNet commented on #4504
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/adversarial/advbox/attacks/gradient_method.py#L95

[2020-04-01 10:07] huxianhe0 commented on #2307
同问，请问楼主实现了吗？基于paddlepaddle的yolov3实时目标检测

[2020-04-01 10:29] wangguibao commented on #2307
再提个issue问一下吧

[2020-04-01 10:36] Sparrow0817 commented on #2307
我当时是采用的视频流取帧，然后循环调用paddle借口的笨方法，最后把生成的图像合成视频流用窗口显示。事实证明这样的效果很不好，延时久帧率低，不实用。

在 2020年4月1日，18:07，huxianhe0 <notifications@github.com> 写道：

﻿

同问，请问楼主实现了吗？基于paddlepaddle的yolov3实时目标检测

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://eur05.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FPaddlePaddle%2Fmodels%2Fissues%2F2

[2020-04-01 11:42] shippingwang commented on #4499
export LD_LIBRARY_PATH=/XXX/XXX/pointnet_lib.so:$LD_LIBRARY_PATH

[2020-04-01 11:44] LLChocolate commented on #4499
试过了，但是没有用

[2020-04-01 11:44] shippingwang commented on #4500
十分感谢您的贡献，日后会加到分类库中 https://github.com/PaddlePaddle/PaddleClassification 欢迎star～

[2020-04-01 11:56] shippingwang commented on #4501
Thanks for pointing out, we will correct it

[2020-04-01 12:43] ucas010 opened #4506 "谁有这个yt8m 的tfrecord？"
hi,dear
[这个里面](https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/video/data/dataset)的数据集太多了，挨个下载到狗年了。谷歌的那个链接也打不开，
谁有下载好的，麻烦分享一下啊？
多谢

thx

[2020-04-01 13:38] ucas010 commented on #4502
上面那个错误是 因为没有eigen_file ?
这个需要指定位置吗？我没修改代码啊。奇怪。

[2020-04-01 13:54] ucas010 commented on #4502
这个东西在win10上面就不行吗？？
在服务器上用原始代码
[code]
则没有win10上的那个问题，但有新的问题

[code]

[2020-04-01 15:01] happyCodingSusan opened #4508 "有关CTCN视频动作定位的问题"
谢谢作者的棒棒的成果,更谢谢作者分享您的代码.佩服佩服!

阅读了您的2018夺冠文章后,有两个问题请教,不知可否赐教?
您文章中说: BSN has a higher mAP than our C-TCN with the threshold of 0.95, however, it uses additional video classification results of [65] which are fused by multiple models, while our model only uses a two-stream model.
1. 您是否尝试过也用[65]的video classification results 替代您pipeline中two-stream model, mAP会提高吗?
2. 我阅读了[65]  "Y. Zhao, et al., Cuhk &

[2020-04-01 15:24] ucas010 commented on #4502
update the problem, now is the down:
[code]
but the **'./NEXTVLAD.pdparams'** model could be load,
the final can't .
that's my problem

[2020-04-01 16:08] ucas010 opened #4510 "video_path is what ?"
hi,dear
in the [predict.py](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/video/predict.py#L93),
what's the meaning ?
[code]
video_path is the video what I want to test/infer ?

thx

[2020-04-01 16:14] ucas010 commented on #4510
but no,
when I set the para
`        default='D:/python36/new/dyrandom/mvideo_0.mp4',`
also has the same problem
[code]
So what's the para 's meaning  ?
thx

[2020-04-02 03:13] ucas010 commented on #4506
或者能不能告诉我这个里面的数据格式是什么？
`./data/dataset/youtube8m/infer.list`
这样我也好替换数据啊，
真是心累。

[2020-04-02 03:21] heavengate commented on #4510
您好，哪个模型呢

[2020-04-02 04:00] ucas010 commented on #4510
@heavengate
[NeXtVLAD](https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/video/models/nextvlad)

[2020-04-02 04:14] SunGaofeng commented on #4510
the --video_path argument is designed to point to the video file to be processed, it can be  'D:/python36/new/dyrandom/mvideo_0.mp4'.

However, only models such as TSN, TSM, StNet and NONLOCAL in PaddleVideo support processing a video file of MP4 or other format.
The model NeXtVLAD does not support processing a video file since it should take feature data as input.
If you want to predict by NeXtVL

[2020-04-02 04:40] ucas010 commented on #4510
@SunGaofeng
thx
So could you tell me which is the API of the feature input to the model,
or just tell me what's the data format in
` ./data/dataset/youtube8m/infer.list`
thanks a lot

[2020-04-02 05:19] SunGaofeng commented on #4510
This is similar to those used in the training dataset, where all the feature data are transformed from the Youtube-8M original data and stored in the pickle format. For details, you can refer to this document https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/video/data/dataset#Youtube-8M数据集

If you use your own video file, you can use a pertained model to extract the rgb/audio feature d

[2020-04-02 05:29] ucas010 commented on #4510
@SunGaofeng
thanks for your kind help,
it's important to inference with the pretrained model.

[2020-04-02 07:34] ucas010 commented on #4510
some other question
if I only have one frame image, several frame audio feature,
how to set the 'nframes'?
or should I separate the them, then got each of theirs inference ?just as follows
![image](https://user-images.githubusercontent.com/50656998/78221926-df93be80-74f6-11ea-9e2e-6ac03561b80b.png)
I want to get the feature before **Concat** Op.
but when I see the [codes](https://github.com/Paddle

[2020-04-02 09:23] Mintcat10 opened #4512 "TypeError: load() got an unexpected keyword argument 'var_list'"
## 1.错误
你好,我在使用NeXtVLAD预训练权重预测的时候出现下面错误:

[code]
## 2.运行及版本情况
1. 目前使用paddle的版本:
[code]

2. 运行代码来自:[链接](https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/video)

3. 运行命令如下:
[code]
## 3问题
想问一下是什么原因导致的?

## PS
查看了源代码
[model文件](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/video/models/model.py)
[code]
源代码: Anaconda4.2\envs\Python36\Lib\site-packages\paddle\fluid\io.py
[code]

[2020-04-02 09:43] ucas010 opened #4513 "如何得到预训练模型的某一层输出结果？"
hi,dear
预训练模型[NeXtVLAD](https://paddlemodels.bj.bcebos.com/video_classification/NEXTVLAD.pdparams)的某一层输出结果怎么得到啊？
具体情况请看[这个](https://github.com/PaddlePaddle/models/issues/4510)

多谢

[2020-04-02 10:18] #4500 closed, assigned to nobody

[2020-04-02 10:27] heavengate commented on #4512
Paddle 1.7.0和1.7.1已经发布了，使用1.7.0及以上的Paddle版本可以兼容，load接口在1.7版本中新增了这个参数

[2020-04-02 10:29] heavengate commented on #4513
print那一层的输出可以看到那个Variable的名字，然后把这个名字加到`exe.run(...,fetch_list=[var_name])`里的`fetch_list`里面就可以了

[2020-04-02 10:39] ucas010 commented on #4513
这个[模型](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/video/models/nextvlad/nextvlad.py)的创建也没看到有变量名字啊
写了一堆，感觉有点乱

[2020-04-02 10:44] heavengate commented on #4513
<img width="484" alt="屏幕快照 2020-04-02 下午6 42 57" src="https://user-images.githubusercontent.com/12605721/78240632-d8c67500-7511-11ea-82a2-3b2272d8e88f.png">
可以类似图中一样你需要打印那层直接用`fluid.layers.Print`打印，这个接口的用法可以参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/Print_cn.html#print

[2020-04-02 10:58] ucas010 commented on #4513
多谢大佬，我找到了结点名
[code]
这个维度是不是有点吓人啊，

[2020-04-02 11:02] heavengate commented on #4513
不大，挺正常的，这应该是fc指定了输出size是4096吧，是正常网络结构

[2020-04-03 01:37] SunGaofeng commented on #4510
![image](https://user-images.githubusercontent.com/26536764/78314821-b4a87980-758d-11ea-8652-f4074c77dddc.png)

If you have different  frame numbers for audio and video, just set different 'nframes' value for them.
The feature before concat if sequence pooled, so you can concat audio and video feature even through they have different frames.

https://github.com/PaddlePaddle/models/blob/5678d3f0900

[2020-04-03 02:05] SunGaofeng commented on #4506
This is similar to those used in the training dataset, where all the feature data are transformed from the Youtube-8M original data and stored in the pickle format. For details, you can refer to this document https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/video/data/dataset#Youtube-8M数据集

If you use your own video file, you can use a pertained model to extract the rgb/audio feature d

[2020-04-03 02:12] SunGaofeng commented on #4506
这个数据集是从Youtube-8M提供的地址下载的，总大小1.5T，Youtube-8M提供的下载工具是逐条数据下载的，可以只下载一部分数据做试验。

[2020-04-03 03:20] heavengate commented on #4513
如果没有问题，当前issue关闭，如果后续有问题可以reopen此issue或提新issue

[2020-04-03 03:20] #4513 closed, assigned to nobody

[2020-04-03 03:23] heavengate commented on #4512
如果没有问题，当前issue关闭，如果后续有问题可以reopen此issue或提新issue

[2020-04-03 03:23] #4512 closed, assigned to nobody

[2020-04-03 07:54] a178052771 opened #4514 "跑官方的PointNet++训练模型时Warning: PaddlePaddle catches a failure signal, it may not work properly"
1）PaddlePaddle版本：1.7.1
   2）CUDA:9.0
   3）cuDNN：7.3
   4）系统环境：Linux16.4、Python版本2.7
安装方式信息：
1）pip安装
2）models:release/1.7
问题：在跑跑官方的PointNet++训练模型时，按官方步骤操作到运行 sh scripts/train_cls.sh 后输出以下报错信息，然后程序停止，小白一个，完全没看懂报的是什么错以及怎么解决
报错信息：
(tensorflow) xz@xz:~/models-release-1.7/PaddleCV/3d_vision/PointNet++$ sh scripts/train_cls.sh
2020-04-03 15:10:47,093-INFO: -----------  Configuration Arguments -----------

[2020-04-03 08:24] ucas010 commented on #4506
@SunGaofeng
多谢大佬帮忙。太大就不要了。

[2020-04-03 08:27] ucas010 commented on #4510
@SunGaofeng
thanks for your kind help
Now will close the issue.

[2020-04-03 08:27] #4510 closed, assigned to SunGaofeng

[2020-04-03 08:29] #4501 closed, assigned to nobody

[2020-04-07 05:03] heavengate commented on #4499
您好，请问你的具体报错信息是啥，麻烦截图一下

[2020-04-07 05:33] huangjun12 commented on #4502
这个方便贴一下运行的命令吗，看着是运行脚本写错了

[2020-04-07 05:38] huangjun12 commented on #4502
eigen_file的路径默认写在yaml文件里了，不用重新指定的

[2020-04-07 05:50] huangjun12 commented on #4502
filelist为待推断文件列表，需要您创建并指定路径的

[2020-04-07 06:05] wenston2006 opened #4516 "dygraph的ocr_recognition有没有更新beam_search()?"
dygraph的ocr_recognition没有看到采用beam_search()

[2020-04-07 06:44] LielinJiang commented on #4516
是的，后续会添加的。

[2020-04-07 10:58] zhangting2020 commented on #4361
We have fixed the issue. Did you test it? @phamkhactu

[2020-04-07 11:52] lijingquan1 commented on #3321
把前面的function去掉

[2020-04-08 12:03] DavidFangx opened #4520 "不显示图片，"
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/video/models/bmn/README.md

![image](https://user-images.githubusercontent.com/39516551/78782067-f7c27c80-79d3-11ea-8c02-102a4fb2a408.png)

[2020-04-08 12:36] llxxxll commented on #4520
切换一下网络试试？
![image](https://user-images.githubusercontent.com/1908992/78869158-b1722980-7a76-11ea-9040-09054ce5baa9.png)

[2020-04-09 03:13] phamkhactu commented on #4361
@zhangting2020  Thank you very much. I will try on.

[2020-04-09 08:05] yeyupiaoling opened #4522 "文字识别模型 ocr_recognition 变长输入出错"
ocr_recognition 模型：https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/ocr_recognition

在最新的代码下，使用的是输入接口是：
[code]

该接口好像不支持变长输入，为什么不使用`fluid.layers.data()`接口呢？

[2020-04-09 08:49] BeyondYourself commented on #4522
之前的接口是慢慢会被废弃，新旧接口可以查看paddlepaddle官方接口文档，如果是变长我记得好像是用-1替代吧？？

[2020-04-09 08:50] yeyupiaoling commented on #4522
@BeyondYourself 除了第一个使用-1作为batch size，其他的不可以这样使用了。我测试过。

[2020-04-09 09:33] yeyupiaoling commented on #4522
@BeyondYourself 可以这样解决，batch size设置的是None，然后就这样了 [None, 1, 48, -1]

[2020-04-09 09:33] #4522 closed, assigned to nobody

[2020-04-09 14:07] qo4on opened #4523 "Parakeet model does not work"
PaddlePaddle official [pretrained model](https://github.com/PaddlePaddle/Parakeet#pre-trained-models-and-audio-samples) can't generate sound. This pre-trained [WaveFlow model](https://paddlespeech.bj.bcebos.com/Parakeet/waveflow_res128_ljspeech_ckpt_1.0.zip) should convert a mel spectrogram of a sound to `wav` file, but it generates only noise.
You can reproduce it by copypasting this code to Cola

[2020-04-10 08:56] edencfc opened #4524 "tagspace中text2paddle.py代码错误"
PaddleRec/tagspace/text2paddle.py中代码有错，返回值比文档说明的要少一个，而且生成的csv文件格式也不对。
改回python2.7时的版本text2paddle.py可以正常训练。
python2.7版本：
[code]

[2020-04-10 09:41] frankwhzhang commented on #4524
感谢 是代码更新错误导致的

[2020-04-10 15:26] mibxu commented on #3106
用paddle模式jieba处理‘ ’也会导致服务挂掉。
`W0410 23:20:17.938949 229533120 init.cc:206] *** Aborted at 1586532017 (unix time) try "date -d @1586532017" if you are using GNU date ***
W0410 23:20:17.939368 229533120 init.cc:206] PC: @                0x0 (unknown)
W0410 23:20:17.939560 229533120 init.cc:206] *** SIGFPE (@0x1a2c987918) received by PID 71736 (TID 0x10dae65c0) stack trace: ***
W0410 23:20:17.939682

[2020-04-11 09:46] sonic-github opened #4525 "stargan的问题"
1.StarGAN.py的build_model函数:
这两个标签是什么意思，self.cfg.c_dim=5，这个为什么是5维？
 label_org = fluid.data(
            name='label_org', shape=[None, self.cfg.c_dim], dtype='float32')
label_trg = fluid.data(
            name='label_trg', shape=[None, self.cfg.c_dim], dtype='float32')

2.StarGAN.py的DTrainer函数:
D网络有2个输出，这两个输出参数没有看到说明，照说明文档不是输出真假即可？
self.pred_real, self.cls_real = model.network_D(image_real, cfg, na

[2020-04-12 06:59] edencfc commented on #4331
`finetune_exclude_pretrained_params`这个参数具体的配置方法在`PaddleCV/image_classification/utils/utility.py`代码注释中有详细写到，建议这部分内容是否考虑更新到文档说明中？
[code]

[2020-04-12 07:02] edencfc commented on #4524
另外在`PaddleRec/gru4rec/text2paddle.py`中也是同样的问题。

[2020-04-12 17:57] shippingwang commented on #4331
您好，分类库推陈出新，欢迎试用[PaddleClas](https://github.com/PaddlePaddle/PaddleClas)

[2020-04-13 08:29] DavidFangx opened #4526 "使用已有预训练模型来训练新模型，若已有预训练模型的分类为80 ，在训练新模型时，能否增加新分类，若能增加，请问怎么增加？"
使用已有预训练模型来训练新模型，若已有预训练模型的分类为80 ，在训练新模型时，能否增加新分类，若能增加，请问怎么增加？

比如：使用这个 https://paddle-imagenet-models-name.bj.bcebos.com/DarkNet53_pretrained.tar 模型
，该模型不包含头盔分类，可以使用这个模型来训练头盔识别？

[2020-04-13 08:39] shippingwang commented on #4526
可以 首先你有训练数据么? 分类库推陈出新，欢迎试用[PaddleClas](https://github.com/PaddlePaddle/PaddleClas)

[2020-04-13 11:49] Fighter-zzp opened #4527 "读取数据除了问题"
我是用自定义数据的，但是我的标签从来就没有float类型，但是它在训练两轮后缺报了`Error: D:/1.7.1/paddle\paddle/fluid/operators/cross_entropy_op.h:173 Assertion `label >= 0 && label < feature_size_` failed. Variable value (label) of OP(fluid.layers.cross_entropy) expected >= 0 and < 5335, but got 0. Please check label value.`这是为什么呀？麻烦您帮帮我解决一下

[2020-04-13 11:56] Fighter-zzp commented on #4527
这个是度量学习源码的问题，麻烦抽空帮忙解决一下，歇息

[2020-04-13 12:21] UCC-team opened #4528 "bsn model is missing python training script - train.py"
bsn model is missing python training script - train.py
(only has bmn training script in dygraph/bmn/train.py)

https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/video/models/bsn

![image](https://user-images.githubusercontent.com/35629974/79119802-cc6cd280-7dc3-11ea-9a61-94596a2e4b7f.png)
@qingqing01 @SunGaofeng @huangjun12

[2020-04-13 14:44] hong19860320 commented on #4262
我也有类似的问题，建议增加load_inference_model加载模型预测的示例，方便部署的时候进行参考。

[2020-04-14 01:34] jia6214876 opened #4529 "训练stnet读取kinetics数据集时出线错误 求解决"
![QQ图片20200414093238](https://user-images.githubusercontent.com/55325034/79176483-eabde700-7e32-11ea-8763-da456262bb26.png)
![QQ图片20200414093322](https://user-images.githubusercontent.com/55325034/79176515-03c69800-7e33-11ea-9748-9a7a30d28323.png)
应该不是路径问题，添加pythonpath也是一样的error

[2020-04-14 03:10] ceci3 commented on #4525
1. build_model函数两个标签是5是因为代码训练的时候选择了5个属性进行转换，自己训练的时候可以选择自己有兴趣的属性进行属性变换，c_dim也要相应的变为选择的属性个数。
2. D是有两个输出，一个输出是判断输入图像是真实的还是生成的，另一个输出判断输入图像的属性。
3. G的输入是图像image 、相应的真实属性标签作为真实label，想要进行变化的属性标签作为假label，输出为输入的假label对应属性的生成图片。D的输入是真实图像/生成图像 和真实标签/假标签，输出是当前输入的属性和当前图像是否是真实图像。

[2020-04-14 07:05] SunGaofeng commented on #4527
能否提供一个可复现这个问题的代码和数据，从上面打印的信息来看，数据label是0，应该是满足

    0 <= label < feature_size_

的要求的。

[2020-04-14 08:35] Fighter-zzp commented on #4527
代码就是[https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/metric_learning](度量学习)，这个我没改过，数据集和那个斯坦福的差不多，我把时候label减少到5000就没发生那个问题了，但是在训练10000轮后出现`MemoryError:Unable to allocate 4.31GiB for an array with shape (24059,24059) and data type float64`的问题，这个要怎么解决比较好

[2020-04-15 02:53] huangjun12 commented on #4528
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/video/train.py  Here is the python training script of bsn model. In fact, all models in PaddleCV/video use this train script.
Specially, for bmn model, the extra implementation using paddle dygraph mode  is released in https://github.com/PaddlePaddle/models/tree/develop/dygraph/bmn

[2020-04-15 02:54] ysh329 commented on #4529
图挂了，看不到，能贴下log嘛

[2020-04-15 02:55] ysh329 commented on #4529
图挂了，看不到，能贴下log嘛

[2020-04-15 03:01] #4358 closed, assigned to huangjun12

[2020-04-15 03:02] HUSTLX commented on #4508
1、试过，不会，替换分类结果的话如果分类结果错误会全部错，CTCN自己生成的分类类别增加了部分召回。
2、这个是我们自己这边训了一些模型ensemble的，暂时不考虑release

[2020-04-15 05:49] jia6214876 commented on #4529
最后面都是同样的error
(base) krishlo@krishlo-Lenovo-Legion-Y7000P-1060:/media/krishlo/KING/models/PaddleCV/video$ python train.py --model_name=STNET                 --config=./configs/stnet.yaml                 --log_interval=10                 --valid_interval=1                 --use_gpu=True                 --save_dir=./data/checkpoints                 --fix_random_seed=False                 --pretrain=

[2020-04-15 07:55] jia6214876 commented on #4529
补充：用发布的模型进行单视频推断会有下面的提示
python predict.py --model_name=STNET \

[INFO: predict.py:  198]: Namespace(batch_size=1, config='./configs/stnet.yaml', filelist=None, infer_topk=20, log_interval=1, model_name='STNET', save_dir='data/predict_results', use_gpu=True, video_path='/media/krishlo/KING/models/PaddleCV/video/data/dataset/kinetics/data_k400/val_mp4/abseiling/3caPS4FHFF8.mp4', weights='STNET.pdpar

[2020-04-15 08:09] byhwdy commented on #2674
感谢

[2020-04-15 08:09] byhwdy commented on #2674
感谢

[2020-04-15 08:27] #4528 closed, assigned to nobody

[2020-04-15 10:46] xiegegege commented on #4529
@jia6214876 请问下你的数据是按readme 生成的吗？麻烦按照https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/video/data/dataset/README.md#Kinetics数据集 这个链接来下载和处理数据，处理后的每条pkl文件大概几M-20几M不等。还有就是需要确定数据路径是对的。
下面预测时候的报错可能是因为cudnn版本太低了，可以参考 #22510。

[2020-04-15 12:28] JOYLINZQ commented on #4361
I also had this error, but finally I found that there was a problem with my file path setting. I used os.path.join (), and I made a mistake that the path became ：A / B / C / C / D / E

[2020-04-15 12:38] GT-ZhangAcer opened #4532 "README链接失效"
## Model下README的“基于动态图实现的模型”部分链接失效
https://github.com/PaddlePaddle/models
![图片](https://user-images.githubusercontent.com/46156734/79337787-c2300d00-7f58-11ea-8cc9-e7b968e7e295.png)
![图片](https://user-images.githubusercontent.com/46156734/79337888-ec81ca80-7f58-11ea-8802-a035b0a6c6c4.png)

[2020-04-15 12:53] jia6214876 commented on #4529
原数据集从youtube上下实在太慢所以用的是别人下好的
我的情况和那个问题下面的人说的一样 机器上面的cudann版本是7.6.5 但是提示为7.3

[2020-04-15 15:35] #4523 closed, assigned to nobody

[2020-04-16 03:58] xiegegege commented on #4529
如果你用别人的数据的话，可能是train.list里的数据路径不是你自己的数据路径，需要修改下。
提示7.3说明你环境的cudnn就是7.3的，可以把高版本的cudnn加到环境变量里，例如：export LD_LIBRARY_PATH=/home/cudnn_v7.5/cuda/lib64:$LD_LIBRARY_PATH

[2020-04-16 04:24] MRXLT commented on #4532
感谢反馈，我们会修复一下

[2020-04-16 08:49] #4110 closed, assigned to nobody

[2020-04-16 09:01] prettyocean85 opened #4534 "PaddlePredictor预测ocr_recognition模型问题"
ocr_recognition，CRNN模型保存为fluid.io.save_inference_model(dirname=args.freeze_model_path,
                                      feeded_var_names=['pixel'],
                                      target_vars=[ids],
                                      main_program=test_program,
                                      executor=exe,
                                      model_filename='_model_',

[2020-04-17 06:18] prettyocean85 commented on #4534
查看代码是模型保存问题，已经解决了

[2020-04-17 06:18] #4534 closed, assigned to nobody

[2020-04-17 16:43] 27182812 opened #4545 "emotion_detection服务部署出现问题，命令行可以 运行，pycharm运行就报错，请帮助！"
emotion_detection服务部署出现问题，命令行可以 运行，pycharm运行就报错
![image](https://user-images.githubusercontent.com/33630730/79593033-6eb2f000-810d-11ea-9518-fb0fa765caa7.png)

[2020-04-18 06:04] #4532 closed, assigned to nobody

[2020-04-18 08:34] Fighter-zzp commented on #4527
The code isHTTPSE//GITHUBCOM/PADLDLADDLE／MODES/Tee/Dealp/PADELCV/MeMICCL学习 I didn&#39;t change it. The data set was almost the same as that of Standford. When I cut the label to 5000, it didn&#39;t happen, but it appeared after the 10000 round of training.内存错误：无法为具有形状（2405924059）和数据类型FLUAT64的数组分配4.31 GIB The question of how to solve this problem is better.

[2020-04-18 12:32] hong19860320 commented on #4545
我这里没有问题，MacOS + PycharmCE 2020.1 + python3.7 + paddle 1.7.1是没有问题，你有设置Run/Debug configuration吗？我这边是这样设置的。
![pycharm_run_debug_configuration](https://user-images.githubusercontent.com/9973393/79637627-a70d0980-81b3-11ea-932c-74b9f1d3ea07.jpg)

[2020-04-18 12:55] 27182812 commented on #4545
我是这样的，好像是一样的，我win10+pycharm2017.2+anoconda3.6+paddle1.6.3。而且我发现在别的编译器可以，但是pycharm就不行，我发现一运行就变此了debug模式然后报上述错误，说我没传参。
![image](https://user-images.githubusercontent.com/33630730/79638115-78dcf900-81b6-11ea-912f-e444f230d462.png)

[2020-04-18 14:07] hong19860320 commented on #4545
你是windows环境啊，你有试过在 windows环境下shell能运行inference_model.py吗？
或者你有用pycharm运行简单的python测试代码吗？最好确认下pycharm的环境有没有问题哦？
还有你可以尝试用PyCharm Community Edition 2020.1版本试试 https://download.jetbrains.com/python/pycharm-community-anaconda-2020.1.exe?_ga=2.56837546.168932990.1587211663-1400410950.1587211663 或者 https://www.jetbrains.com/pycharm/download/other.html

[2020-04-18 14:23] 27182812 commented on #4545
就是因为shell是可以运行的，然后shell和pycharm里python环境也是一样的，然后别的编译器也可以运行，我的pycharm运行别的文件也好好的，所以我很。。。可能和pycharm版本有关系，我试试，谢谢啦！

[2020-04-19 18:18] jaykay233 opened #4548 "推荐算法SR-GNN中建立有向图中np.divide()建议改成np.true_divide()"
![image](https://user-images.githubusercontent.com/58713995/79696003-e88eca80-822e-11ea-9f95-29ba597bee7c.png)
有向图adj_in和adj_out归一化时官方对应python版本使用了np.divide(),可能会出现adj_in和adj_out全是0矩阵的情况，改成np.true_divide()会使用浮点数除法，才能达到归一化的效果。不知道是否正确？

[2020-04-20 05:47] prettyocean85 opened #4550 "cpu下ocr_recognition预测结果错误"
使用PaddlePaddle\models\PaddleCV\ocr_recognition训练好的模型预测，模型重新保存为固化模型。使用 AnalysisPredictor 方式预测，并使用zerocopytensor。在GPU下预测结果正确，CPU结果错误，请问可能是什么原因。
GPU预测结果
[[ 3]
 [ 2]
 [ 4]
 [ 8]
 [ 7]
 [21]
 [31]
 [14]
 [31]
 [36]
 [35]]
改为CPU预测结果
[[ 2]
 [ 2]
 [ 4]
 [ 4]
 [ 4]
 [ 5]
 [ 4]
 [ 5]
 [ 1]
 [ 4]
 [ 5]
 [ 4]
 [31]
 [ 2]
 [ 4]
 [ 5]
 [ 9]
 [ 2]
 [34]
 [34]
 [ 4]]

[2020-04-20 09:23] DavidFangx opened #4551 "基于视频码流的目标检测，然后推流到流媒体服务器，但性能较卡，请问可好的解决思路或方案"
具体问题：
我们基于 YOLOv3 DarkNet53 模型，对视频码流进行目标实时检测，并把识别结果叠加到视频上去，并以 ffmpeg 方式 推流 stmp 到流媒体服务器，但是效果不理想，在流媒体上服务器看最后的视频，非常的卡，请问可好的解决思路或方案?

谢谢。

[2020-04-20 14:21] hutuxian commented on #4548
感谢您使用Paddle以及PaddleRec模型库。
在SR-GNN的代码中并不会出现这个问题：因为adj数组是从np.zeros()而来，而该函数返回的元素的默认值是float，所以之后进行除法的时候，都会保留小数部分不会产生截断。

[2020-04-21 03:05] #4550 closed, assigned to nobody

[2020-04-21 15:13] jia6214876 commented on #4529
在.bashrc中添加了export PATH="/usr/local/cuda-10.1/bin:$PATH"
export LD_LIBRARY_PATH="/usr/lcoal/cuda-10.1/lib64:$LD_LIBRARY_PATH"
终端显示：
(base) krishlo@krishlo-Lenovo-Legion-Y7000P-1060:~$ cat /usr/local/cuda-10.1/include/cudnn.h | grep CUDNN_MAJOR -A 2
#define CUDNN_MAJOR 7
#define CUDNN_MINOR 6
#define CUDNN_PATCHLEVEL 5
--
#define CUDNN_VERSION (CUDNN_MAJOR * 1000 + CUDNN_MINOR * 100 + CUDNN_PATCHLE

[2020-04-22 01:24] jaykay233 commented on #4548
嗯嗯，谢谢

[2020-04-22 01:24] #4548 closed, assigned to hutuxian

[2020-04-22 09:52] Fighter-zzp opened #4564 "度量学习项目难以收敛"
近日，我测试用了models的度量学习（metric_learning）项目，但是数据我替换成了人脸数据，其他代码在基本未改的情况下，我训练项目时的loss非常大，recall仍旧很小。请问一下我在这里需要调整什么代码吗，还是参数需要调一下，怎么才能让它快速收敛？

`[2020-04-22 17:51:47] trainbatch 30000, lr 0.000100, loss 0.983684, recall 0.1835, time 0.22 sec`

[2020-04-22 09:57] baiyfbupt opened #4565 "使用最新develop版Paddle动态图多卡训练跑不起来"
使用最新develop版Paddle，https://github.com/PaddlePaddle/models/tree/develop/dygraph/resnet#%E8%AE%AD%E7%BB%83%E6%B5%8B%E8%AF%95residual-network 这里的多卡训练demo跑不起来，请问是什么原因？报错信息如下：
[code]

[2020-04-22 10:23] xiegegege commented on #4529
请问下/usr/lcoal/cuda-10.1/lib64 里面有没有libcudnn.so.7.6.5这个文件呢？或者可以nvidia官网下载一个高版本的cudnn加到环境里

[2020-04-22 10:32] jia6214876 commented on #4529
有的  7.6.5是现在cuda10.1支持的最高版本

[2020-04-22 10:52] jia6214876 commented on #4529
尝试了下7.6.4版本 错误相同

[2020-04-22 10:54] xiegegege commented on #4529
嗯嗯，我感觉是哪里没设对导致paddle最终运行的环境是cudnn7.3的，建议https://developer.nvidia.com/rdp/cudnn-download 这里重下载一个cudnn7.6，然后export LD_LIBRARY_PATH=/home/cudnn_v7.6/cuda/lib64:$LD_LIBRARY_PATH加入到环境变量里

[2020-04-22 11:27] jia6214876 commented on #4529
按照这个方法下载7.6.0 已成功解决 感谢解答 可能是paddle哪里没有设置好

[2020-04-23 03:01] MyPandaShaoxiang commented on #4565
你的develop版本是自己编译的么，是否加了-DWITH_DISTRIBUTE=ON

[2020-04-23 03:06] MyPandaShaoxiang commented on #4564
你是用的已有的模型进行微调么

[2020-04-23 03:25] Fighter-zzp commented on #4564
是的

[2020-04-23 03:46] MyPandaShaoxiang commented on #4564
已有的model是从哪里来的

[2020-04-23 05:42] MrTsien opened #4567 "OCR 用attention 训练后，用模型预测报错AssertionError: Can not find [conv2d_0.b_0] in model file"
Traceback (most recent call last):
  File "infer.py", line 170, in <module>
    main()
  File "infer.py", line 166, in main
    inference(args)
  File "infer.py", line 91, in inference
    var_list=fluid.io.get_program_parameter(fluid.default_main_program()))
  File "/opt/anaconda3/bin/anaconda/lib/python3.7/site-packages/paddle/fluid/io.py", line 1740, in load
    v.name, parameter_file_name)
Ass

[2020-04-23 07:25] baiyfbupt commented on #4565
是没有加-DWITH_DISTRIBUTE=ON，加上后问题已解决

[2020-04-23 07:25] #4565 closed, assigned to nobody

[2020-04-23 09:37] zhupengyang commented on #4567
- 用netron打开模型文件，看下保存的模型是不是正常，确认下是不是有conv2d_0.b_0这个节点
- 请确认是否使用```save_inference_model```保存预测模型，是否使用```load_inference_model```加载预测模型

[2020-04-23 11:37] xueyingliu commented on #4411
CTCN跑的时候报错啦

说是文件没上传，所以到底能不能跑呀

[2020-04-24 01:09] #4551 closed, assigned to nobody

[2020-04-24 08:49] DrRyanHuang opened #4572 "PP实现的googLeNet模型中，这个每一层的输出shape，不符合googLeNet的网络结构"
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/models/googlenet.py

PP实现的`googLeNet`模型中，这个每一层的输出`shape`，不符合googLeNet的网络结构
[code]
而PP实现是：
[code]

在PP中，3*3/2的`pool`操作，并不能使shape刚好为原来的1/4

[2020-04-24 08:57] Fighter-zzp commented on #4564
我用的模型都是度量学习源码的模型，没有怎么改变哦

[2020-04-24 12:02] willthefrog commented on #4572
多写反馈，会请相关同学跟进。

[2020-04-25 00:15] yanggu01 commented on #3549
没有看到哪里可以调用这个文件， @zhupengyang 可以帮忙看看不，谢谢！

[2020-04-25 12:31] MrTsien opened #4573 "OCR 用attention 训练，infer 的字符长度最长为20 个"
OCR 用attention 训练，infer 的字符长度最长为20 ，但我有的图片不止20个。请问如何调

[2020-04-25 12:38] MrTsien commented on #4567
谢谢

[2020-04-25 12:38] #4567 closed, assigned to nobody

[2020-04-25 13:54] MrTsien commented on #4573
解决了。在attention_mode.py 里
max_length = 20。自己改一下

[2020-04-25 13:54] #4573 closed, assigned to nobody

[2020-04-26 03:30] DrRyanHuang commented on #4572
虽然shape不符合，但是好像完全并不影响使用

[2020-04-27 05:28] yw1991 opened #4574 "请问有senta情感分类的数据集吗？谢谢"

[2020-04-27 05:54] cuicheng01 commented on #4564
1.确认下预训练模型是否加载正确
2.确认下人脸数据集的规模，用的哪个loss，学习率是否比较小

[2020-04-27 07:38] fengmiaomiao opened #4577 "PaddleNlp下的simnet模型，是基于<query,query>训练的吗？"

[2020-04-27 07:56] xyzhou-puck commented on #4574
你指的哪个数据集？

[2020-04-27 07:57] xyzhou-puck commented on #4577
是的

[2020-04-27 10:32] qingqing01 commented on #4520
@llxxxll 感谢持续关注  :)

[2020-04-27 10:44] guoshengCS commented on #4520
@llxxxll 感谢持续关注 :)

[2020-04-27 11:06] fengmiaomiao commented on #4577
有基于<query,doc>的训练好的模型吗？表现怎么样呢？

[2020-04-27 11:31] xyzhou-puck commented on #4577
抱歉，暂时没有

[2020-04-27 15:19] Fighter-zzp commented on #4564
预训练模式是之前训练的arcmargin，人脸数据为celebA的5000分类，loss为eml，学习率为0.001

[2020-04-28 01:49] yw1991 commented on #4574
其实我这边想训练一个稍微通用点的情感分析模型，所以想问问有没有开源的数据集，因为现在找到的都是酒店评论等

[2020-04-28 01:55] xyzhou-puck commented on #4574
没有，抱歉

[2020-04-28 02:42] tm-eng22 opened #4578 "PaddlePaddle七日打卡 心得"
      深度学习PaddlePaddle深度学习七日打卡营给我的学习带来了新的方向。
      我报名了这门课。通过这几天的学习，我们了解了一些关于深度学习方面的知识。没想到这门课真的是出乎我的想象。Paddle功能很强大，尤其是PaddleHub，可以让0基础的人轻松上手，并且只需要fine tune，使得低配的机器也能跑得起深度学习。
      课上，老师知识点总结得十分到位，讲的也很细致，答疑区也非常活跃。虽然这几天我们并没有自己写代码来实现一个完整的项目，只是在老师提供的代码上进行添加。但是我们在这些添加的过程中，我们对深度学习有了一定的了解。同时在老师的讲解下，我们对paddle Hub也有一些了解了。总之，这次课程让我对深度学习有了一些的概念。在对这次课程使用的平台上，我觉得AI Studio真的挺好用的，与我们之前自己租的服务器相比，确实方便许多。AI Studio能

[2020-04-28 03:41] yangyangHu opened #4579 "异步数据读取和处理效率不高，导致GPU利用率较低"
### 问题描述：

- 试用的代码是paddlepaddle开源的deepspeech2: https://github.com/PaddlePaddle/DeepSpeech

- 硬件环境：paddlepaddle-1.6, 4块GPU-v100, CPU 32core

- 代码里面使用的是异步数据读取：

 reader = fluid.io.DataLoader.from_generator(
                feed_list=inputs,
                capacity=64,
                iterable=False,
                use_double_buffer=True)

- 遇到的问题：
batch_size=64, 4块GPU-v100训练的时候，gpu利用率不到1%
自己排查了io利

[2020-04-28 13:23] ghost opened #4582 "transformer模型中英数据集"
想要一份适用于transformer模型的中译英数据集...自己有一份中英数据集但是规模太小感觉训练不出理想的效果。

[2020-04-28 13:26] ghost opened #4583 "seq2seq模型翻译效果问题"
我用了官方文档-经典案例-自然语言处理-机器翻译-seq2seq模型（单一的seq2seq.py文件），换成了自己的数据集：
‘’‘
中英语句对25w条，中文词典9w+，英文词典8w+，训练70个轮次左右，loss值在3.7左右浮动
‘’’
然而，中译英效果并不好，最多只能翻译一个句子里的几个词。请问是数据集的问题还是模型的问题，还是说这个训练得要好久，loss值要收敛到多少模型才基本可用？

[2020-04-29 03:45] yiicy commented on #4578
感谢支持

[2020-04-29 04:18] chenwhql commented on #4579
您是直接按照DeepSpeech的说明跑起来就这么慢吗？还是您替换了自己的数据集，也做了一些预处理？

[2020-04-29 04:32] yangyangHu commented on #4579
唯一的区别是换了自己的数据集，语音长度为15s，其它的都是按照DeepSpeech的说明来的

[2020-04-29 05:44] guoshengCS commented on #4583
那个只是作为一个示例使用的，模型相对简单一些效果会差一些，可以试下models中的Transformer模型 https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/machine_translation/transformer

[2020-04-29 05:48] guoshengCS commented on #4582
中英数据的话可以使用这里的  http://www.statmt.org/wmt19/translation-task.html 需要自行下载

具体的数据处理与细节，可以参考这里 https://aistudio.baidu.com/aistudio/projectdetail/187578 ，里面也提供了一个使用部分数据训练的模型

[2020-04-29 06:33] shiztong opened #4584 "请问ernie-lac在对新句子进行infer的时候，可以不先标注么？这块有实现的逻辑么？感谢"

[2020-04-29 07:55] chenwhql commented on #4579
解释下，如果仅使用DataLoader，这个的异步能力是有限的，它里面只有一个子线程用于异步处理（语音从磁盘载入+语音数据预处理+放入训练时取数据的Queue）这个过程，如果这个过程耗时较长，训练过程本身时间又比较短，会导致训练时取数据的消耗速度赶不上子线程数据供应速度，不知道您数据预处理的开销是否会导致这个问题

此外，也麻烦负责的同学确认下 DeepSpeech开发时是否遇到类似的问题 @kuke

关于如何进一步提高数据读取效率，您可以暂时尝试下外部线程或进程加速是否有效果，Paddle目前也有一些具备类似功能的API：
- 外部线程加速：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api_cn/io_cn/xmap_readers_cn.html#xmap-readers
- 外部进程加速：https:

[2020-04-29 08:03] yangyangHu commented on #4579
赞👍，正如您描述的，我目前的训练瓶颈就在：训练时取数据的消耗速度赶不上子线程数据供应速度。我试试用您提供的改进方式优化下，同时希望你们这个新的Dataloader可以加入Deepspeech代码中，谢谢

[2020-04-30 04:00] gfwm2013 commented on #4584
@shiztong 请问你说的 ernie-lac 具体指的是哪个模型或模块吗？还请详细说明一下。

[2020-04-30 04:39] ghost commented on #4582
谢谢您，您的回答非常有帮助。

您给的第二个链接里的翻译模型效果很好，我注意到这里面的训练集语句对是英中语句对。我是否可以处理此训练集调整为中英语句对，并把此训练集里的源语言词典（英文）与目标语言词典（中文）调换顺序改为源语言词典是中文，目标语言词典是英文。

在此基础上再进行同样的训练，最终fluid.io.save_params保存训练结果并用于predict进行中译英，并达到与提供的big model相近的翻译效果？

[2020-04-30 05:53] shiztong commented on #4584
基于ernie预训练模型的lexical_analysis，进行分词infer的时候，官方给的例子是读test.tsv中的句子进行分词，但是test.tsv中需要先对句子进行IOB2标注，请问有办法可以不标注么，直接输入一个句子进行分词以及磁性标注

[2020-04-30 05:53] shiztong commented on #4584
基于ernie预训练模型的lexical_analysis，进行分词infer的时候，官方给的例子是读test.tsv中的句子进行分词，但是test.tsv中需要先对句子进行IOB2标注，请问有办法可以不标注么，直接输入一个句子进行分词以及磁性标注

[2020-04-30 06:18] Bond-H commented on #4584
你好，感谢反馈，这个可以使用伪标签，也就是将输入的标注都设为“O”即可【与字数一一对应】，无需人工标注，这个是基于旧版ERNIE的架构所遗留的问题，近期会进行修复

[2020-04-30 07:07] shiztong commented on #4584
好的，感谢。这个修复计划有时间表不，项目组最近调研这个分词器，可能会使用

[2020-04-30 07:38] renke2 opened #4586 "similarity_net/nets/lstm.py在batch输入情况下的词向量学习问题"
请问下在similarity_net/nets/lstm.py中，如果输入的是批量的文本，内部的lstm_layer会不会把整个batch的sentence拼接在一起，然后作为整个长句子输入到LSTM模型里面，学习每个词的表示，我看代码里的好像是这样做的，是不是有问题呀？还是我哪里没有注意到？求指教。

[2020-04-30 09:10] DannyIsFunny commented on #4586
你好，内部实现并不是将整个batch的sequence拼接在一起，而是使用lod_tensor输入batch数据，然后输入模型的。

[2020-04-30 09:10] DannyIsFunny commented on #4586
可以查看一下这一部分代码的实现，可能是看错了，其实现与你的理解有一些偏差

[2020-04-30 10:25] renke2 commented on #4586
run_classifier.py的202行，在读训练数据的时候是读的batch数据哈？但是下面的操作：
                left = fluid.layers.reshape(left, shape=[-1, 1])
                right = fluid.layers.reshape(right, shape=[-1, 1])
                label = fluid.layers.reshape(label, shape=[-1, 1])
是不是把整个batch的sequence拼成一个长的sequence来输入了？后面再LSTM模型内部好像没有区分batch里面的具体的句子？求详细的指点一下，谢谢哈

[2020-04-30 10:29] renke2 commented on #4586
@DannyIsFunny 求指点，谢谢哈

[2020-04-30 14:50] #4492 closed, assigned to nobody

[2020-05-01 13:29] Qinying-Liu commented on #2778
@SunGaofeng 这些文件目前能下载了嘛

[2020-05-02 05:11] lxk767363331 opened #4587 "关于dcgan data列表下的数据格式问题？"
请问使用gan模块时dcgan的数据格式应该是什么样的，我的data下的数据列表是如下形式的：
![image](https://user-images.githubusercontent.com/38516795/80855741-3adfda80-8c76-11ea-80f5-6324eab216fe.png)
train.txt的文件格式如下：
![image](https://user-images.githubusercontent.com/38516795/80855760-54812200-8c76-11ea-944b-345f232bc527.png)

额外的问题是测试数据我应该如何划分，望解答，感谢

[2020-05-02 14:13] liym27 commented on #4587
@lxk767363331 请问您是用download.py脚本下载的mnist数据集吗？

[2020-05-02 14:21] lxk767363331 commented on #4587
我准备使用自己的数据集进行测试，以上是我数据集的类别划分，和我对应的list文件 存储路径+标签。我想知道自己的数据需要怎么样的数据格式， mnist数据集的存储都是压缩包，无法查看到具体的细节内容。
关于test.txt文件，我理解的是将生成的图片进行测试。

[2020-05-03 01:02] liym27 commented on #4587
@lxk767363331 您好，已联系该模型的负责人，@ceci3将解答您的问题。

[2020-05-03 03:52] ceci3 commented on #4587
您好，mnist数据集train.txt文件中的形式 其中***.png是图片名称，图片是手写数字 图片，后面的数字是图片的label。dcgan不需要test.txt文件，直接构造噪音向量作为输入就可以了。如果您用的是自己的数据集作为dcgan的数据集，其实只需要被生成的域图片和噪音数据就可以了。

[2020-05-03 04:02] lxk767363331 commented on #4587
您好，图片名称需要带图片的相对路径么？，我的图片是按照类别划分了8个文件夹。按照您的说法，我理解的是将所有的图片放在一个数据名文件夹下，然后train.txt文件里是 图片名称+空格+标签+换行的形式。

第二个问题是关于这句话：
dcgan不需要test.txt文件，直接构造噪音向量作为输入就可以了。如果您用的是自己的数据集作为dcgan的数据集，其实只需要被生成的域图片和噪音数据就可以了。

我的理解是 其中的被生成的域图片和噪音数据是最后模型生成的，此时我不清楚标签是什么，如何进行测试呢？
望解答 感谢！

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "ceci3"<notifications@github.com&gt;;
发送时间: 2020年5月3日(星期天) 中午11:52
收件人: "PaddlePad

[2020-05-03 04:08] ceci3 commented on #4587
dcgan因为不需要标签信息，所以不是1对1生成的，生成图片具有随机性，如果想测试正确性 可以试下CGAN，可以根据输入条件生成相应图片。

[2020-05-03 04:09] lxk767363331 commented on #4587
好的，我尝试使用cgan处理，谢谢您的解答

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "ceci3"<notifications@github.com&gt;;
发送时间: 2020年5月3日(星期天) 中午12:08
收件人: "PaddlePaddle/models"<models@noreply.github.com&gt;;
抄送: "不要冲动保持心态"<767363331@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/models] 关于dcgan data列表下的数据格式问题？ (#4587)

dcgan因为不需要标签信息，所以不是1对1生成的，生成图片具有随机性，如果想测试正确性 可以试下CGA

[2020-05-03 04:16] ceci3 commented on #4587
或者也可以用stargan/attgan/stgan，这三个用到了cgan，也可以输入条件，生成效果会比cgan好一些，不过可能要看下参数之类的设置方式.

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: lxk767363331 <notifications@github.com&gt;
发送时间: 2020年5月3日 12:10
收件人: PaddlePaddle/models <models@noreply.github.com&gt;
抄送: ceci3 <592712189@qq.com&gt;, Mention <mention@noreply.github.com&gt;
主题: 回复：[PaddlePaddle/models] 关于dcgan data列表下的数据格式问题？ (#4587)

 好的，我

[2020-05-03 04:32] lxk767363331 commented on #4587
您好，这是我的项目，我的问题目前是输入数据的格式，我不知道为什么，每次执行不报错，也不运行，方便的话您可以看一下 谢谢
https://aistudio.baidu.com/aistudio/projectdetail/449166

[2020-05-04 01:38] lerry-lee opened #4588 "请问simnet有python3的版本吗？或者说转成Python3的环境可以正常运行吗"

[2020-05-05 08:13] ceci3 commented on #4587
CGAN目前默认只支持mnist数据集，更换了数据集的话代码这里需要改一下https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/gan/train.py#L51。
然后我确认了一下reader，因为CGAN需要同时输入image和label到模型里，reader部分没有能直接用的，需要把https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/gan/data_reader.py#L655 这个分支的代码参考mnist_reader_creator或者celeba_reader_creator部分加上读取label的代码。

[2020-05-06 03:18] cryoco commented on #4588
您好，只需要改成py3的写法，就是可以正常运行的哈

[2020-05-06 03:19] lerry-lee commented on #4588
@cryoco 谢谢~

[2020-05-06 04:53] #4588 closed, assigned to nobody

[2020-05-06 06:55] DannyIsFunny commented on #4586
你好，算loss的时候是以batch 为单位的，所以这里不需要区分具体的句子

[2020-05-06 07:12] renke2 commented on #4586
你好，但是用LSTM在学习词表示的时候，如果不区分句子，直接把整个batch的句子都拼成一整个长句子，然后基于前面的词学习后面词的表示，这样是不是有问题呀？比如两个句子可能没有什么关系，但是在预测下一个句子的词向量的时候会用到上一个句子的词的隐层表示。

[2020-05-06 10:17] ucasiggcas commented on #598
这个代码地址在哪呢？？

[2020-05-06 13:33] DannyIsFunny commented on #4586
Paddle 使用lod_tensor输入batch数据，然后输入模型的。

[2020-05-07 02:13] renke2 commented on #4586
对，这个我知道，是输入的batch，但是在run_classifier.py的202行，下面的操作：
left = fluid.layers.reshape(left, shape=[-1, 1])
right = fluid.layers.reshape(right, shape=[-1, 1])
label = fluid.layers.reshape(label, shape=[-1, 1])
把输入的batch拉成了只有1列的矩阵，然后输入到LSTM里面，下面是LSTM前向传播的代码：
    def forward(self, left, right):
        """
        Forward network
        """
        # embedding layer
        left_emb = self.emb_layer(left)

[2020-05-07 03:48] #4577 closed, assigned to xyzhou-puck

[2020-05-08 12:51] lishiyu93 commented on #4356
同问完整的dict_map，这样inference时方便对照着看预测结果的对错，有知道的朋友回复一下，谢谢

[2020-05-08 12:55] lishiyu93 commented on #4209
请问，知道OCR用的dict_map吗？做inference时不知道输出的标签对应什么字符，从而不方便判断inference的效果，知道的朋友回复一下，谢谢！

[2020-05-08 13:00] lishiyu93 commented on #4143
@wanghaoshuang 请问，OCR用95个NUM_CLASSES的dict_map的对应关系是什么？做inference时输出的是标签序号，不知道输出的标签对应什么字符，从而不方便判断inference的效果，麻烦分享一下，谢谢！

[2020-05-09 00:36] lishiyu93 commented on #4356
同问通过代码data_reader.py里面的链接下载的官方数据，可以提供所有字符对应的标签的字典吗？ train.list、test.list里面虽然有对应label，但是没有所有字符对应label的总表，做inference时预测出的label不能快速查看其对应的字符，从而不能较快的判断预测结果的准确性。@JepsonWong

[2020-05-09 02:31] BeyondYourself commented on #3372
可以查看一下paddlepaddle官网，上面有讲，在安装那部分

[2020-05-09 04:21] gotogoal commented on #2795
请问大家调用百度api产生的文本相似度比用预训练模型得出的相似度结果高许多，如何解决啊

[2020-05-09 10:11] haoyijiang commented on #3803
tf2pkl.py中tensorflow 使用的版本是多少能透露一下吗

[2020-05-11 00:40] #4059 closed

[2020-05-11 01:14] haoyijiang opened #4600 "tf2pkl.py中tensorflow 使用的版本是多少能透露一下吗"

[2020-05-12 03:00] vincentpengpeng opened #4608 "STNET跑模型推断，显卡显存充足，提示显存不足"
模型运行语句如下
![QQ截图20200512105638](https://user-images.githubusercontent.com/22005432/81633499-7b421400-943f-11ea-9b9e-ff291c145976.jpg)

报错截图：
![QQ截图20200512105919](https://user-images.githubusercontent.com/22005432/81633607-b6dcde00-943f-11ea-98af-6b4c4a05d0ee.jpg)

显存占用：
![image](https://user-images.githubusercontent.com/22005432/81633655-d247e900-943f-11ea-891d-fb87c3b1d9c1.png)

[2020-05-13 12:07] huangjun12 commented on #4600
您好，我们这边当时用的是1.2/1.3。
另外直接使用tf2pkl.py转换速度较慢，建议你使用如下方法加快处理速度
https://github.com/PaddlePaddle/models/issues/3803#issuecomment-547704523

[2020-05-13 13:02] huangjun12 commented on #4608
您好，利用stnet做predict，所需显存约为1GB；
看截图gpu进程开太多了，可能是每个进程占了一段，导致没有连续的1G多的空间。

[2020-05-14 13:12] lerry-lee opened #4624 "使用paddler serving保存simnet可服务模型问题"
`
import paddle_serving_client.io as serving_io

model_dir = 'bow_pairwise/simnet'
serving_model = 'simnet_model'
serving_client = 'simnet_client'
data=?
similarity=?
serving_io.save_model(serving_model, serving_client,{'data': data}, {'similarity':similarity},model_dir)
`
我看了下bert保存为可服务模型的示例，但是我还是不明白如何写simnet的输入和输出，有知道的可以指教一下吗

[2020-05-14 15:22] yaweisun opened #4627 "调用动态图实现的Linear_chain_crf的问题"
实现该接口的文件如下：
https://github.com/PaddlePaddle/models/blob/develop/dygraph/lac/sequence_labeling.py
运行的环境是aistudio高级版，paddlepaddle 1.7.1, python 3.7
我调用的代码如下：
[code]
emission.shape和label.shape均为[16, 400, 5]。其中16是batch_size，400是序列最大长度，5是序列标注的类别数量。
执行之后报错，没有找到该接口对输入参数的具体要求，因而想咨询一下这是出现这个问题的原因。报错信息如下：

[code]

[2020-05-15 02:14] baiyfbupt commented on #4627
您好，从log信息看不到输入尺寸的错误。

是在Paddle开源的LAC上做二次开发后出现的错误吗？

[2020-05-15 03:16] yaweisun commented on #4627
我是在用动态图做一个英文数据集的序列标注。
我模型的主要流程是先用动态的版的ernie做encode，这一步输出的是一个shape为[16, 400, 768]的encoded，随后我增加了一个全连接层，得到了shape为[16, 400, 5]的emission。
之前直接将ernie输出的encoded作为输入，用线性分类器是没有问题的。

[2020-05-15 05:55] MRXLT commented on #4624
你好，输入输出需要指定对应的var，这与simnet的task_mode有关，可以参考这里的代码，确定使用的task_mode对应的输入输出var
https://github.com/PaddlePaddle/models/blob/4e2ed8ff459f6cbdf063b53de06875719d0cc753/PaddleNLP/similarity_net/run_classifier.py#L255
以pairwise模式为例，输入可以表示为{'left':left, 'post_right':post_right} 输出可以表示为{'left_feat':left_feat, 'pos_scor':pos_scor}

[2020-05-15 07:03] lerrylca commented on #4624
@MRXLT
十分感谢~
simnet原本的输入是一行一行句子对的文件，输出是加上一列相似度的文件。为了方便调用，我想用paddle serving加载simnet模型文件，然后实现输入一对句子，输出预测的相似度。
如果我指定了输入输出var类似于left,right这种中间变量，是不是还要额外定义数据读取方法和结果处理方法等呢？因为我想要的输入是句子对和输出是相似度...请问可以指教一下思路或者方法嘛
麻烦了~

[2020-05-17 05:56] JiaQiSJTU opened #4634 "How can I get access to the Reddit and Twitter corpora used for pretraining?"
Could you please provides download links for these two datasets? Thanks a lot!

[2020-05-18 13:04] huoyuming opened #4637 "Paddle1.6 模型库 paddleNlp/sentiment_classification 这个怎么单机多卡训练啊"
Paddle1.6 模型库 paddleNlp/sentiment_classification
run_ernie.sh   设置了环境变量
CUDA_VISIBLE_DEVICES=0,1,2,3,4,5
但是实际跑起来只有0在跑，其他的都没有跑
这个怎么单机多卡训练啊

[2020-05-18 15:31] hwx724221178 opened #4640 "使用resnet网络出错"
使用paddle官方给的resnet50模型训练数据，出现错误，TypeError: fc() got an unexpected keyword argument 'is_test'，请问是什么问题。b站别人视频同样运行没有出错

[2020-05-19 01:58] lerry-lee opened #4641 "请问分词工具tokenizer如何提高某个词的词频使其能够分成一个词？"
如题

[2020-05-19 03:10] huangjun12 commented on #4640
应该是调用fluid.layers.fc()时误多传了is_test参数，fc的使用文档可以参考
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/fc_cn.html#fc

[2020-05-19 05:57] 1024er commented on #4641
请问您是指哪个具体的分词工具？

[2020-05-19 06:34] lerry-lee commented on #4641
@1024er paddleNLP/shared_modules/preprocess/tokenizer，这里的，谢谢.

[2020-05-19 06:54] ninghongbo123 opened #4645 "paddle推理时在python脚本中如何设置GPU的显存比例"
通过以下方式，设置无效：
[code]

[2020-05-19 09:41] guoshengCS commented on #4637
可以试下参照这里 https://github.com/PaddlePaddle/models/blob/develop/PaddleNLP/machine_translation/transformer/train.py#L164 ，将这里 https://github.com/PaddlePaddle/models/blob/develop/PaddleNLP/sentiment_classification/run_classifier.py#L258 `train_exe.run`使用的program改为CompiledProgram

[2020-05-19 10:51] alz95 opened #4647 "sequence_pool meet LoD Level unmatch error"
my code was like:

pyreader = fluid.layers.py_reader(
            capacity=50,
            shapes=[[-1, max_seq_len, 1], [-1, max_seq_len, 1],
                    [-1, max_seq_len, 1], [-1, max_seq_len, 1],
                    [-1, max_seq_len, 1], [-1, 1], [-1, 1]],
            dtypes=[
                'int64', 'int64', 'int64', 'int64', 'float32', 'int64', 'int64'
            ],
            lod_

[2020-05-19 11:27] 1024er commented on #4647
The LoD level Input(X) of sequence_pool should be larger than 0.

[2020-05-19 12:03] kirayummy commented on #4634
You can download the reddit comments from http://files.pushshift.io/reddit/comments/.
And we don't use the Twitter corpora as our pre-training data :(

[2020-05-20 03:28] cryoco commented on #4645
export FLAGS_fraction_of_gpu_memory_to_use=0.5 这样试试可以么

[2020-05-20 03:51] lxwzju opened #4654 "生成一个跟其他矩阵shape一致的对角矩阵"
尝试eye实现一个矩阵，但是shape需要事先指定好，不支持动态；比如生成一个batch_size*batch_size的对角矩阵，batch_size配置为32，但是实际运行中样本没有32条，只有6条，这时候我需要的对角矩阵其实是6*6的 而不是32*32的，目前没有找到比较好的办法实现一个shape动态的对角矩阵,如下图error：
![image](https://user-images.githubusercontent.com/8426657/82402876-136b7900-9a90-11ea-8192-9c929e96753f.png)
![image](https://user-images.githubusercontent.com/8426657/82402930-3eee6380-9a90-11ea-9c6a-0348bc7253da.png)

[2020-05-20 06:28] BeyondYourself opened #4655 "在训练的时候这几个参数['reduce_sum_0.tmp_0', 'reduce_sum_2.tmp_0', 'elementwise_sub_0']其中第一个参数的值为nan这是为什么"
在训练的时候这几个参数['reduce_sum_0.tmp_0', 'reduce_sum_2.tmp_0', 'elementwise_sub_0']对应的值为 [nan, 4.791813, 5]，其中第一个参数reduce_sum_0.tmp_0的值为nan这是为什么？之前的训练都是正常的，在executor执行run后输出的结果中出现Nan，求解答

[2020-05-20 06:42] Aurelius84 commented on #4654
可以参考如下方式：
[code]

[2020-05-20 07:05] Aurelius84 commented on #4655
请问下是使用models里的模型训练吗？辛苦提供下具体的模型代码。

之前训练是正常的？之后做了哪些改动（或添加了哪些layers）开始出Nan的？

[2020-05-20 08:49] BeyondYourself commented on #4655
这个是用的CV里面的[ocr_recognition](https://github.com/PaddlePaddle/models/tree/release/1.8/PaddleCV/ocr_recognition)
用的是CRNN+CTC这个模型进行训练。
`def train_one_batch(data):
        var_names = [var.name for var in fetch_vars]
        if args.parallel:
            results = train_exe.run(var_names,
                                    feed=get_feeder_data(data, place))
            results = [np.array(result).sum(

[2020-05-20 09:06] LDOUBLEV commented on #4655
是在一开始训练就出Nan，还是训练一段时间出Nan的？你的训练数据是正常的吗？还有其他改动吗？

---
顺便说下，ocr_recognition 里的算法不打算继续维护了，OCR已经新独立了一个repo，请参考：https://github.com/PaddlePaddle/PaddleOCR

[2020-05-20 09:16] BeyondYourself commented on #4655
目前是一开始就出现了nan，但是第一个result没有NAN，之后的数据都为nan了，模型没有改动过，我拿之前的可以正常运行的数据集测试现在也不正常了，经常nan

[2020-05-20 09:17] LDOUBLEV commented on #4655
前后的paddle版本是一样的吗

[2020-05-20 09:24] BeyondYourself commented on #4655
训练是用的AI Studio上的paddle，版本跟随AI Studio的版本，昨天训练正常，今天一大早最初是在迭代了1W次nan，后来直接启动训练开始就nan

[2020-05-20 09:40] LDOUBLEV commented on #4655
麻烦发一下AIstudio的项目链接吧， AIstudio 的paddle版本切换到1.6 或者1.7试试，

[2020-05-20 10:11] tosonw commented on #4529
你好，可以给个数据集链接吗？谢谢！

[2020-05-20 10:56] xiegegege commented on #4529
你好，可以按照https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/video/data/dataset/README.md#Kinetics数据集  这个链接里的说明准备数据集的

[2020-05-20 12:25] LDOUBLEV commented on #4655
建议用最新版的OCR算法吧，repo 链接：https://github.com/PaddlePaddle/PaddleOCR

[2020-05-21 00:58] BeyondYourself commented on #4655
放在AI studio上的项目没有公开，链接你应该打不开，我试试新的算法，谢谢

[2020-05-21 00:58] #4655 closed, assigned to nobody

[2020-05-21 01:57] tosonw commented on #4529
谢谢，我只要一部分数据集就行，我还是从朋友那里问一下吧

[2020-05-21 02:54] IceFlameWorm commented on #2795
@gotogoal 模型源码是先计算文本向量的余弦相似度，然后计算的输出 = （余弦相似度 + 1）/ 2。我想最后这么做的原因是 余弦相似度是 -1 到 1，为了避免出现负值，才做了上面的处理。在我自己的预料中，从来没有遇到过余弦相似度为负的情况，（余弦相似度 + 1）/ 2会把最后得分的均值变大。

[2020-05-21 06:18] huangjun12 commented on #4411
<img width="941" alt="image" src="https://user-images.githubusercontent.com/22365664/82529476-b0e8aa80-9b6d-11ea-8d34-453ad0f1cdad.png">

在下载链接里提供了，请参考数据准备步骤：
https://github.com/PaddlePaddle/models/blob/release/1.8/PaddleCV/video/data/dataset/ctcn/README.md

[2020-05-21 06:29] xueyingliu commented on #4411
@huangjun12 好的，非常感谢

[2020-05-21 08:02] 924175302 commented on #3430
@tangxuvis
我想用PyramidBox应用在别的小目标检测上，请问可以吗，有没有指导的文档教程？谢谢

[2020-05-21 09:45] huoyuming commented on #4637
好的  谢谢了  我试一下~~

[2020-05-21 10:09] lerry-lee commented on #4624
[code]
请问我已经保存了paddle serving 可服务模型，并且启动了rpc预测服务，我在客户端上调用时，把输入变量left和pos_right的reader处理方法从simnet中提取出来，但是预测报错
[code]
请问输入变量如何根据simnet的处理方法做呢？我还print了left和post_right，输出如下
[code]

[2020-05-21 11:43] MRXLT commented on #4624
可以贴一下配置文件中feed var和fetch var的信息吗
并且请贴一下预测时输入变量的类型、shape以及调用predict接口的代码

[2020-05-21 12:04] lerry-lee commented on #4624
保存可服务模型时，顺便打印了输入输出变量的名称
[code]

打印结果为
[code]
于是我按照这个名称来定义输入、获取输出.
启动好rpc预测服务后，调用client测试
[code]
其中Sim_reader是模仿源码里面的数据读取方式写的
[code]
其中SimNetProcessor源码里是从文件中一行一行读，我改写成从list中按元素读了.
然后我执行客户端测试，发现报一些错误，类似的有

[code]

我尝试打印过left,pos_right，是variable的类型，里面还有lod_tensor，不知道是不是里面没有实际数据...

[2020-05-22 05:48] MRXLT commented on #4624
准备serving的输入数据的话，不需要使用py_reader，使用simnet_process.get_infer_reader返回的数据数据就可以了

[2020-05-22 06:18] lerry-lee commented on #4624
get_infer_reader我稍微改成从list中读数据了
[code]
它返回的是一个generator类型`<generator object SimNetProcessor.get_infer_reader at ...>`，但serving_client的输入feed对应的是两个变量left和right
[code]
我现在拿到了待预测数据的generator，但似乎没办法对应上feed，请问该怎么办呢

[2020-05-22 08:42] #4231 closed, assigned to MRXLT

[2020-05-22 08:50] MRXLT commented on #4624
从generator中可以获取到query和title两个list
建议从run_classifier.py中做以下修改，并sh run.sh infer来获取模型文件
![image](https://user-images.githubusercontent.com/16594411/82649517-e82d8900-9c4b-11ea-9a2e-5f6862cfb32e.png)
保存出的配置文件内容如下
![image](https://user-images.githubusercontent.com/16594411/82649623-127f4680-9c4c-11ea-8eee-ad46e5c0ee29.png)
这样client预测时，client.predict(feed={"right":query, "left":"title"}, fetch=["pred"])

[2020-05-22 09:43] lerry-lee commented on #4624
谢谢您的指点.
使用run.sh infer保存模型文件并启动rpc预测服务后，client端是这样写的
[code]
我执行时服务退出了，错误为
[code]
似乎是我输入变量的维度问题，但reader的方式我仿照读文件改写的，在不部署时测试是没问题的
[code]
还是generator中获取qury和title两个list的方式有问题呢？

[2020-05-22 11:18] MRXLT commented on #4624
left和right是否是list的格式呢，下面这个代码是可以正常预测的
![image](https://user-images.githubusercontent.com/16594411/82662696-e8844f00-9c60-11ea-80da-bb0ac27dd5b3.png)

[2020-05-22 11:25] lerry-lee commented on #4624
是的，我试着打印left的类型和数据，结果如下
[code]
我测试的数据是'你好\t你好'，因此left和right的内容一样的

[2020-05-22 11:30] lerry-lee commented on #4624
我试图用图片中的例子，依然报错
[code]
服务端错误
[code]
客户端错误
[code]

[2020-05-23 03:39] lerry-lee commented on #4624
另外我这里保存出的配置文件内容为
[code]

[2020-05-24 14:28] #4641 closed, assigned to nobody

[2020-05-24 14:31] lerry-lee opened #4660 "请问paddle模型如何一次初始化，多次预测"
意思是，一次将模型初始化到内存中，后续多次送入不同的预测数据.
目前是每次预测都要重新加载一次模型文件.

[2020-05-24 14:50] lerry-lee commented on #4624
大佬能不能帮忙看一下呢~

[2020-05-25 02:40] MRXLT commented on #4624
有可能是0.2.1版本使用的预测库有问题，可以尝试一下develop版本的serving，
client
https://paddle-serving.bj.bcebos.com/whl/paddle_serving_client-0.2.2-cp27-none-linux_x86_64.whl
cpu版本server
https://paddle-serving.bj.bcebos.com/whl/paddle_serving_server-0.2.2-py2-none-any.whl

[2020-05-25 03:00] qingqing01 commented on #4660
@lerrylca  是可以加载一次模型，batch预测的。加载模型后，for循环给数据即可。 比如: https://github.com/PaddlePaddle/models/blob/release/1.8/PaddleCV/image_classification/infer.py#L157

[2020-05-25 03:11] lerry-lee commented on #4624
只有py2的嘛

[2020-05-25 03:15] MRXLT commented on #4624
有py36和py37的，请问需要哪一种

[2020-05-25 03:34] lerry-lee commented on #4624
谢谢，py37的吧，如果方便可以都发下哦.
另外可以在windows上用吗

[2020-05-25 04:08] MRXLT commented on #4624
client
https://paddle-serving.bj.bcebos.com/whl/paddle_serving_client-0.2.2-cp37-none-linux_x86_64.whl
cpu版本server
https://paddle-serving.bj.bcebos.com/whl/paddle_serving_server-0.2.2-py3-none-any.whl
gpu版本server
https://paddle-serving.bj.bcebos.com/whl/paddle_serving_server_gpu-0.2.2-py3-none-any.whl
目前只支持linux环境，windows环境下可以使用docker

[2020-05-25 06:37] lerry-lee commented on #4624
终于可以了，谢谢您！.
另外一个小问题：这样部署后，在客户端一次只能预测一对输入变量嘛.
我的feed输入类似这样
[code]
是可以接受fetch的
`{'pred': array([[1.]], dtype=float32)}`
如果我用这种方式，想一次预测多对数据
[code]
就不行了，是不支持还是我用法不对呢

[2020-05-25 09:23] gezimonkey commented on #2899
HI,请问你实现了计算PPL了吗?

[2020-05-25 10:01] 924175302 commented on #3430
@qingqing01
我有个想法，不知道能不能实现，希望您能解答下，我想将这个CPM模块用在小目标检测里，利用上下文信息检测小目标，不知道能不能实现？

[2020-05-26 02:27] Aurelius84 commented on #4654
@lxwzju 上述代码样例是否可以解决您的问题？

[2020-05-26 04:57] MartinKUNGGitHub opened #4663 "PLATO执行训练时报错"
我在PaddlePaddle 1.6.3的版本上， 运行PLATO的
https://github.com/PaddlePaddle/Research/tree/master/NLP/Dialogue-PLATO
DATASET=DailyDialog
sh scripts/${DATASET}/train.sh

命令时，报如下的错误：
----------------------

Error Message Summary:

----------------------

Error: ShapeError: The last dimensions of the 'Ids' tensor must be 1. But received Ids's last dimensions = 173, Ids's shape = [4, 173].

  [Hint: Expected id

[2020-05-27 02:04] HankPeng03 opened #4664 "个性化推荐-DeepCTR paddleserving 报 Illegal instruction (core dumped) 问题"
通过 kubectl get pod 查看状态，paddleserving一直处于CrashLoopBackOff
paddleserving                         0/1     CrashLoopBackOff   259        21h

查看日志，kubectl logs paddleserving -n recommendation-paddle 显示
run.sh: line 6:    12 Illegal instruction     (core dumped) ./bin/elastic_serving

[2020-05-27 06:02] MRXLT commented on #4624
将多个feed放到一个list中就可以了，代码如下
[code]

[2020-05-27 06:26] keosu opened #4665 "Figure 10 of PaddleSlim tutorial is missing"
Figure 10 of PaddleSlim tutorial is missing

this path:
./PaddleSlim/docs/images/tutorial/light-nas-block.png

[2020-05-27 06:48] #4665 closed, assigned to nobody

[2020-05-27 07:06] sserdoubleh commented on #4663
请问，你现在用的代码是最新版的代码吗？
目前我们的代码只支持GPU运行的，你修改过使用CPUPlace，是吗？

[2020-05-27 13:39] gongweibao commented on #4664
应该是avx指令的事情。机器的cpu不支持avx指令？

[2020-05-27 15:09] lerry-lee commented on #4624
可以了，好的感谢！

[2020-05-27 15:56] linhandev opened #4667 "训练管理工具"
最近在反复跑一个分割的模型炼丹，发现管理不同配置实验的结果十分复杂。想提问大佬们管理这么多模型，这么多实验，有没有好的工具或经验分享。

[2020-05-27 15:56] AltenLi opened #4668 "lexical_analysis中eval为何特别慢"
从源码中读，看不出问题。一个短句、抽4个类型、大概得1s。直接在原始数据集测试也是。

[2020-05-28 05:07] HankPeng03 commented on #4664
CPU是 Intel(R) Xeon(R) CPU E5-2695 v2 @ 2.40GHz， 是支持AVX指令的

[2020-05-28 06:42] baigang666 opened #4669 "请问paddle的度量学习这一块能部署到c++下么？"
paddle中的度量学习这一块是否可以部署到c++下？
谢谢

[2020-05-28 06:59] gongweibao commented on #4664
core在哪里？Serving里边？
贴一下调用代码 or 日志？

[2020-05-28 07:24] gongweibao commented on #4667
非ISSUE问题是不是放到知乎或者stack overflow更好一点？
https://www.zhihu.com/question/269707221

[2020-05-28 07:24] #4667 closed, assigned to nobody

[2020-05-28 08:59] baigang666 commented on #4669
我将python代买移植到c++下时，通过语句 PyRun_SimpleString("import paddle.fluid");  再c++下导入paddle模块特别慢，请问有什么方法可以解决么？

[2020-05-28 09:09] 1024er commented on #4668
请问一下您是使用的是CPU还是GPU环境呢？

[2020-05-28 10:15] HankPeng03 commented on #4664
在镜像 hub.baidubce.com/ctr/paddleserving 中 命令 /serving/bin/elastic_serving

报错信息为  Illegal instruction (core dumped)，没有其它的信息了

[2020-05-28 12:38] guoshengCS commented on #4669
Paddle提供了C++预测的接口，使用python api `save_inference_model`后保存的内容可以参照这里的文档进行以C++的方式部署 https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/index_cn.html

[2020-05-28 14:22] AltenLi opened #4670 "lexical_analysis中代码有bug"
optimizer = fluid.optimizer.Adam(
                learning_rate=args.base_learning_rate,
                grad_clip=clip)
optimizer.minimize(train_ret["avg_cost"])

-------应该为--------

optimizer = fluid.optimizer.Adam(
                learning_rate=args.base_learning_rate)
optimizer.minimize(train_ret["avg_cost"],
                grad_clip=clip)

[2020-05-31 02:42] #4432 closed, assigned to nobody

[2020-05-31 08:39] MiiViiDynamics opened #4677 "undefined symbol: when trying PointNet++"
Hi

I follow the following process to do the test.
https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/3d_vision/PointNet++

But I tried with the following paddle version, and get the same error.

- pip paddle gpu v1.8.1 with models tag v1.8.0
- conda paddle gpu v1.8.1 with models tag v1.8.0
- docker paddle gpu v1.8.1 with models tag v1.8.0
- docker paddle gpu v1.7.1 with models tag v1.7.

[2020-06-01 06:20] guoshengCS commented on #4670
在Paddle 1.8版本后optimizer中已经支持设置`grad_clip`参数了，可以更新到Paddle 1.8以后的版本试下。

新版本引入了一些修改代价较小的不兼容升级，对于models repos中提供的代码我们也都升级到了新的接口，带来不便还望见谅。

[2020-06-01 07:46] heavengate commented on #4677
这个报错是因为编译`ext_op`的cmake版本和编译Paddle的cmake版本不一致导致的，看你是通过conda安装的我们发布的pip包，我们发布的包是使用cmake 4.8.5编译的，如果是安装我们发布的pip包需要用cmake 4.8.x版本来编译`ext_op`，可以更换一下cmake版本试下。
或者也可以尝试一下编译安装Paddle https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/fromsource.html

[2020-06-01 08:32] BaronChiao opened #4678 "生成模型的时候出现cannot import name init_on_cpu的错"
root@fae-Z370-HD3P:/paddle/models-1.6/PaddleCV/image_classification# ./scripts/train/ResNet50.sh
Traceback (most recent call last):
  File "train.py", line 41, in <module>
    import reader
  File "/paddle/models-1.6/PaddleCV/image_classification/reader.py", line 24, in <module>
    from utils.autoaugment import ImageNetPolicy
  File "/paddle/models-1.6/PaddleCV/image_classification/utils/__init__

[2020-06-01 08:47] BaronChiao commented on #4678
另外，请问大佬，我想拿到paddlepaddl的模型，请问怎么拿方便一些呢

[2020-06-02 03:53] ghost opened #4679 "想要训练tensorflow模型，但是却报了paddle的错"
在训练tensorflow nonlocal的模型时加载了paddle nonlocal的imageNet上的预训练模型。遇到了如下报错：

2020-06-02 11:34:12.696932: I tensorflow/core/platform/cpu_feature_guard.cc:140] Your CPU supports instructions that this Te
nsorFlow binary was not compiled to use: AVX2 AVX512F FMA
2020-06-02 11:34:13.135866: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1344] Found device 0 with properties:
name: Tesla V100-SXM2-32GB ma

[2020-06-02 06:39] phlrain commented on #4678
看起来是 detection的版本和 paddle版本不一致导致的

[2020-06-02 07:06] BaronChiao commented on #4678
@phlrain  好像确实是版本不对的原因，现在用的最新版本的models仓库，但是数据集下载不了呀，到网站上也下不了！大佬，你们这边有  生成paddle模型 + 量化  的自动化流程吗

[2020-06-02 07:27] baigang666 commented on #4669
谢谢

[2020-06-02 09:54] LKKlein opened #4680 "动态图resnet的分布式训练卡住跑不动"
## 问题
按照模型库中[resnet动态图](https://github.com/PaddlePaddle/models/tree/release/1.8/dygraph/resnet)的README进行分布式训练，执行了`python -m paddle.distributed.launch --selected_gpus=0,5,6,7  --log_dir ./mylog train.py --use_data_parallel 1`命令后，就一直卡在`start data reader`，没有再输出任何内容。

## 输出结果
![image](https://user-images.githubusercontent.com/11596165/83506107-48001b80-a4f9-11ea-85f5-649a88321ccd.png)

各个节点的输出
![image

[2020-06-03 02:15] MiiViiDynamics commented on #4677
您确定是cmake 4.8.x么？
目前cmake最新的release也才3.17
https://cmake.org/download/

[2020-06-03 08:42] NHZlX commented on #4679
可否提供具体的复现方式

[2020-06-04 00:35] chang-png opened #4686 "paddleseg"
你好，能出一个遥感影像语义分割的项目

[2020-06-04 12:37] jerrywgz commented on #4686
https://github.com/PaddlePaddle/PaddleSeg/tree/release/v0.5.0/contrib/RemoteSensing 可以参考这里

[2020-06-05 08:53] phlrain commented on #4680
请试下 nccl 257的版本，还有建议使用 0,1,2,3 号卡；如果还是有问题，请再反馈

[2020-06-06 04:24] LKKlein commented on #4680
![image](https://user-images.githubusercontent.com/11596165/83935934-e093e580-a7f0-11ea-98fc-1e6d08ee4e7f.png)

根本没有2.5.7的版本。。。
另外，用0,1,2,3号卡是一样的，仍然没有任何反应。

而且，PaddlePaddle的官方安装指导里说的2.3.7以上的NCCL就可以了，难道2.5.6还不行吗？

我比较疑惑的是，在你们的官方docker镜像中，居然也跑不起来，docker镜像中的环境不应该是完全配置好了的吗，我看docker镜像中的nccl版本也是2.5.6。你们可以在我提供的docker镜像版本中尝试一下。

[2020-06-06 11:14] liu0haha123 opened #4688 "BERT 使用问题"
BERT的github介绍中没有做Token级别分类的相关示例，可否提供以下利用Paddle中BERT做token级别分类的示例

[2020-06-07 02:24] #4688 closed, assigned to nobody

[2020-06-07 11:05] lerry-lee opened #4689 "simnet训练时如何打印训练集上的loss，看了下打印的是验证集上的loss"
`valid_loss: 0.886467`
如题，因为有时候想知道有没有拟合训练集

[2020-06-08 09:54] Derek-Kun opened #4690 "请问视频分类ATTENTION LSTM里的评价指标分别是什么意思？"
我在做视频分类模型的时候训练LOSS后面有这三个指标，我只想知道分类的准确率，可是好像没有一个是准去率，请问Hit@1 = 0.50, PERR = 0.92, GAP = 0.98这三个指标分别指什么？

[2020-06-08 11:28] kgkzhiwen opened #4691 "feed_vars 和fetch_targets for using save_model on blazeface"
请问我要用save_model来保存blazeface模型，以便在serving上运行，我应该使用什么作为feed_vars 和fetch_targets?

谢谢！

[2020-06-08 12:12] AltenLi commented on #4670
感谢

[2020-06-08 12:12] #4670 closed, assigned to nobody

[2020-06-08 12:15] AltenLi opened #4692 "lexical_analysis中eval的结果和我人工评估的效果不一致。"
在2个自建数据集测试了，人工评估f1均比自动评估低0.15左右。
辛苦看下是代码问题还是fluid.layers.chunk_eval的问题

[2020-06-08 12:15] AltenLi commented on #4668
gpu环境

[2020-06-08 12:35] heavengate commented on #4692
麻烦贴一下版本信息，人工评估和自动评估的关键代码

[2020-06-08 12:38] heavengate commented on #4691
需要用`paddle_serving_client.io.save_model`保存，保存完后可以参考https://github.com/paddlepaddle/serving 下有详细的文档和示例教程

[2020-06-08 13:01] Akeepers opened #4693 "是否支持直接将pytorch模型转换为Paddle Fluid 模型？"
目标是将[spanbert](https://github.com/facebookresearch/SpanBERT) 中开源的pytorch 版模型转换为paddle fluid 模型用于fine-tune，类似repo中[bert](https://github.com/PaddlePaddle/models/tree/release/1.8/PaddleNLP/pretrain_language_models/BERT)

已尝试过的方案：

* 利用X2paddle转换模型，但得到的模型不能直接用于fine-tune
* 先将pytorch模型转换为TensorFlow，再利用脚本[convert_params.py](https://github.com/PaddlePaddle/models/blob/release/1.8/PaddleNLP/pretrain_langua

[2020-06-08 13:07] heavengate commented on #4693
1. 如果是X2Paddle转换模型，X2Paddle可以生成模型代码，只需要将数据读取，optimizer迁移过来应该是可以训练的
2. 可以排查一下参数名是否一致，参数是否成功导入，以及数据预处理方式是否一致

[2020-06-08 13:15] Akeepers commented on #4693
1. 针对X2Paddle，已经问过x2paddle的同学，回复是不支持fine-tune
2. 参数名是一致的；任务可以正常跑起来，参数应该是成功导入了；数据预处理应该没有问题

[2020-06-08 13:18] heavengate commented on #4693
如果确定数据预处理没有问题的话，可以排查一下是不是batch_size太小或者是learning rate太大之类的问题，还有数据是否有非法数据导致除零之类的

[2020-06-08 13:21] Akeepers commented on #4693
应该是没有问题，代码用ernie 2.0 和 repo [bert](https://github.com/PaddlePaddle/models/tree/release/1.8/PaddleNLP/pretrain_language_models/BERT)提供的bert都跑过，且结果正常。

[2020-06-08 13:31] heavengate commented on #4693
可以试下调小learning rate试下

[2020-06-08 13:50] Akeepers commented on #4693
我会尝试一下，不过应该不是问题所在，encoder layer lr=1e-5,  task layer lr=2e-4, 都是比较正常的值；猜测可能是转模型的时候出了问题，但我没有办法验证，请问有将bert(pytorch) 直接转为paddle的解决方案吗？

[2020-06-08 13:54] heavengate commented on #4693
除了X2Paddle没有直接转的方案，可以尝试一下pytorch和paddle用同样的输入，比如前两个sample，加载权重之后对比一下输出是否一致确认一下是不是转模型结构有diff

[2020-06-08 14:14] Akeepers commented on #4693
好的，那请问一下，这里提供的[bert](https://github.com/PaddlePaddle/models/tree/release/1.8/PaddleNLP/pretrain_language_models/BERT) ,是利用这个脚本[convert_params.py](https://github.com/PaddlePaddle/models/blob/release/1.8/PaddleNLP/pretrain_language_models/BERT/convert_params.py)得到的吗

[2020-06-09 02:48] heavengate commented on #4693
是的

[2020-06-09 05:57] kgkzhiwen commented on #4691
我知道要用paddle_serving_client.io.save_model。可是要怎么样获取模型的输入和输出的参数结构，这样我才能用save_model把模型保存下来？有什么函数可以获得一个模型的输入和输出的参数结构？

[2020-06-09 06:23] heavengate commented on #4691
模型的输入输出是网络结构里定义的，各个模型不同，没法直接提供这样的代码，给你定义的`fluid.data`的模型输入和模型的输出的Variable即可

[2020-06-09 09:24] #4689 closed, assigned to shippingwang

[2020-06-09 09:27] #4693 closed, assigned to nobody

[2020-06-09 11:32] huangjun12 commented on #4690
这三个指标是youtube8M数据集官方评估使用的
`Hit@k`  indicates the fraction of test samples that contain at least one of the ground truth labels in the top k predictions.
`PERR` measures the video-level annotation precision when we retrieve the same number of entities per video as there are in the ground-truth.
`GAP` is the global average precision.
论文参考 https://arxiv.org/abs/1609.08675
具体实现参考 https://github.com/go

[2020-06-09 13:13] Derek-Kun commented on #4690
好的感谢！

[2020-06-09 13:13] #4690 closed, assigned to huangjun12

[2020-06-10 09:48] Veipin opened #4694 "emotion_detection多线程调用模型预测，返回结果为空"
PaddleNLP\emotion_detection 模型预测封装为服务类，多线程调用，当超过3个线程以上运行时，
pred = exe.run(infer_program,
                   feed={feed_names[0]: data,
                             feed_names[1]: seq_lens},
                   fetch_list=fetch_targets,
                   return_numpy=True)  返回的pred是个空列表，没有情感预测的三个概率数值，有一定几率出现

[2020-06-10 11:52] hutuxian commented on #4694
为了更好的帮助到您，确认如下几个问题：
1. 您用的服务类是自己搭的，还是用的PaddleServing？
2. 该问题是只在服务的场景会出现吗？本地直接预测有没有问题？
3. 只在多线程场景下出现吗？还是单线程也会出现？

[2020-06-11 03:26] ArtyZe opened #4697 "paddle-slim提供的所有量化的模型下载链接都失效了"
请问，啥时候可以修复一哈？

[2020-06-11 04:47] chizhizhen opened #4698 "报一个video_tag的BUG"
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/video/application/video_tag/metrics/metrics_util.py#L125

这里应该是：
f.write(json.dumps(res_list, ensure_ascii=False))

[2020-06-11 08:08] Veipin commented on #4694
1、服务类是我自己搭的ice服务，模型是官方的textcnn已训练数据保存的模型，提前加载模型后，在ice接口中调用 exe.run预测结果；预测代码是emotion_detection代码提炼的，库是paddlepaddle-gpu； 2、场景是多个ice客户端同时请求预测服务，超过3个以上客户端请求时， 服务端的exe.run返回空列表，没有预测结果； 3、ice服务就是多线程运行，单线程未遇到；

[2020-06-11 09:42] Veipin commented on #4694
我刚刚使用多线程本地直接预测，发现异常情况是一样的，3个及以上线程同时进行预测，会有一个exe.run返回空，一个返回错误结果，一个返回正确结果;  而2个线程同时预测，都是正常结果；

[2020-06-11 12:21] sandyhouse commented on #4697
指的是这个页面的量化模型下载链接吗https://github.com/PaddlePaddle/PaddleSlim/blob/develop/docs/zh_cn/model_zoo.md？我测试是可用的呀。

[2020-06-12 02:36] ArtyZe commented on #4697
https://github.com/PaddlePaddle/models/blob/v1.4/PaddleSlim/docs/model_zoo.md
我昨天测试的这个，应该用paddlepaddle的，不好意思，我把问题关闭了，多谢

[2020-06-12 02:36] #4697 closed, assigned to nobody

[2020-06-12 02:52] huangjun12 commented on #4698
好的，感谢反馈~

[2020-06-12 05:04] hutuxian commented on #4694
您可以提供一下多线程预测部分的代码吗？

[2020-06-12 06:24] leidaxia opened #4701 "关于deepFM中embedding处理变长ids的问题"
请问 paddle embedding 是否支持变长 ids 的查找和聚合，类似 tf 的 https://www.tensorflow.org/api_docs/python/tf/nn/embedding_lookup_sparse
我已经实现了官网的deepFM_dygraph，但是面对有的用户的兴趣是多样的，比如A 喜欢历史，权重0.6，喜欢音乐，权重0.3， 喜欢汽车，权重0.1，B喜欢体育，权重0.2，喜欢情感，权重0.5， 这个是否可以通过embedding解决，最好提供demo参考

[2020-06-12 07:17] Veipin commented on #4694
项目代码:     https://github.com/Veipin/emotion_detection_server
预测代码在  emotion_sentence.py
aistudio可执行项目:  https://aistudio.baidu.com/aistudio/projectdetail/544264
启动之后即可运行

[2020-06-12 09:34] lixingtao opened #4702 "dssm 给出的demo疑问"
models/PaddleRec/dssm/ 下给出的demo中
dssm.py 为什么使用随机生成的数据可以收敛
infer.py中随机生成的数据为什么相似性接近1，那是不是随便给query和doc的相似性都是1，这是有问题的吧

[2020-06-15 03:27] ceci3 commented on #4701
可以参考静态图deepfm中embedding的使用：https://github.com/PaddlePaddle/PaddleRec/blob/master/models/rank/deepfm/model.py#L53

[2020-06-15 03:44] leidaxia commented on #4701
貌似没区别？

[2020-06-15 04:53] ceci3 commented on #4701
embedding应该不支持输入weight，可能只能自己定义weight和embedding之后的值做乘法了。

[2020-06-15 06:37] jakeju92 opened #4703 "PointNet++ Windows C++ Inference is not supported"
Hi,

### **问题:**
![pointnet++_paddle](https://user-images.githubusercontent.com/5748897/84624995-fa31dd00-af14-11ea-8cc4-fc4650d08868.png)
PointNet++现在无法支持Windows C++部署, 有支持的计划吗? 如果官方没有支持, 那可以提供一个Workaround的思路吗? 另外, 如果我后续想用PaddleServing做云端部署, custom_op会影响部署吗? 有相应的部署例子吗? 谢谢!

[2020-06-15 10:06] leidaxia commented on #4701
或者对不定长特征值，paddle是如何处理的，有没有相关代码可以参考

[2020-06-15 10:51] wzy-99 opened #4704 "config中init_model和gan_mode的说明都一样，是不是错了"
https://github.com/PaddlePaddle/models/blob/08316fb833602f26d718defe2f40b81c1b8bc27a/PaddleCV/gan/util/config.py#L100

这个地方init_model和gan_mode的注释都一样，是不是错了
   add_arg('init_model', str, None, "The init model file of directory.")
   add_arg('gan_mode', str, "vanilla", "The init model file of directory.")

[2020-06-16 06:22] ceci3 commented on #4701
paddle里应该是padding成定长的，可以看下embedding的padding_idx这个参数的使用。https://www.paddlepaddle.org.cn/documentation/docs/en/api/fluid/embedding.html#embedding

[2020-06-16 06:23] ceci3 commented on #4704
您好，说明是写错了， gan_mode 是模型中gan loss的计算方式，我改下~ 感谢反馈~

[2020-06-17 07:37] leidaxia commented on #4701
具体怎么用呢，例子没看到

[2020-06-18 05:58] heavengate commented on #4703
1.  不支持windows的部署主要是custom op的编译不支持，需要修改make.sh适配下windows
2. custom op如果要部署的话编译的时候需要将custom op编译进去，目前没有例子，我们这边也在优化custom的部署方案

[2020-06-19 06:01] ceci3 commented on #4704
resolved in https://github.com/PaddlePaddle/models/pull/4707

[2020-06-19 06:01] #4704 closed, assigned to nobody

[2020-06-19 07:29] hi-bigcat opened #4709 "Add MobileDets and RegNet into model pool"
Hi,
We have found MobileDets and RegNet have better performance on edge devices, please consider when to add these two models into model pool
MobileDets:https://arxiv.org/abs/2004.14525?context=cs.CV
RegNet: https://medium.com/analytics-vidhya/regnet-or-how-to-methodologically-design-effective-networks-c3560c1cf436

[2020-06-19 10:15] mcl-stone opened #4710 "图片分类训练报错"
![image](https://user-images.githubusercontent.com/62418900/85121945-56b83380-b258-11ea-973c-c71c4b55746d.png)
使用上面的命令报错如下：
[root@72b2d0dbbbe6 image_classification]# python3 train.py --data_dir=./data/mask/ --total_images=186 --class_dim=2 --validate=True --model=ResNet50_vd --batch_size=8 --lr_strategy=cosine_decay --lr=0.1 --num_epochs=200 --model_save_dir=output/ --l2_decay=7e-5 --use_mixup=Tru

[2020-06-19 11:05] #4374 closed, assigned to yaoxuefeng6

[2020-06-21 09:52] MARD1NO opened #4711 "关于PyramidBox论文中CPM模块的一些疑问"
在论文中的Fig3里面，画了一个CPM模块，即背景感知模块，下面是他的图示
![image](https://user-images.githubusercontent.com/42901638/85221637-e50eef80-b3e7-11ea-8d4c-6da33a13d341.png)

在代码里面，也有对应的实现
![image](https://user-images.githubusercontent.com/42901638/85221623-cdd00200-b3e7-11ea-958c-eacba5369004.png)

方法里的cpm方法是构造CPM模块的，但我自己画图发现它的形式应该如下
![image](https://user-images.githubusercontent.com/42901638/85221627-d294b600-b3e7-11ea-

[2020-06-21 14:09] MRXLT commented on #4709
hi，PaddleClas is developing RegNet, https://github.com/PaddlePaddle/PaddleClas
and We will consider developing mobiledets

[2020-06-21 16:00] jakeju92 opened #4712 "PointNet++ ext_op cannot be loaded"
## Background info

- OS version: Ubuntu 20.04
- Paddle version: paddlepaddle-gpu 1.8.1.post107

## Issue

Hi,

I'm trying to run pointnet++ on my PC. I have compiled the pointnet_lib.so and added the path into the LD_LIBRARY_PATH. However, I'm not able to load the so file when running the test script. The error msg is listed down below:

[code]

Seems like there is a linking error with the c++ li

[2020-06-22 03:02] qingqing01 commented on #4711
@MARD1NO

论文3.2章节描述:

[code]

也就是说重新设计了下。

[2020-06-22 03:04] MARD1NO commented on #4711
啊这漏看了，十分感谢回答

[2020-06-22 03:04] #4711 closed, assigned to nobody

[2020-06-22 05:06] MRXLT commented on #4710
你好，请问安装的paddle版本是哪个，本地的显卡型号以及CUDA的版本是多少。这个错误有可能是显卡的配置问题导致的，可以参考这个issue
https://github.com/PaddlePaddle/Paddle/issues/15140

[2020-06-22 06:20] lxk767363331 opened #4713 "想问一下关于senet中reduction_ratio的设置问题"
HRNET中senet的reduction_ratio为什么设置为16 ，另外代码如下hrnet中的代码size=num_channels / reduction_ratio使用的是/ 而不是// 是否是错误？
        squeeze = fluid.layers.fc(input=pool,
                                  size=num_channels / reduction_ratio,
                                  act='relu',
                                  param_attr=fluid.param_attr.ParamAttr(
                                      initializer=fluid.in

[2020-06-22 08:24] xiaozhaxie777 opened #4714 "请问度量学习怎么用啊，使用infer.py得到的输出是啥意思呢"
看了看infer.py的源码，是把测试集txt里面的图片预测了一下，得到的result是一个一维向量，有些不明白，是需要自己拿两张图的result向量做个比较，计算他的余弦相似度吗？我理解的是输入两张图片，然后输出图片的相似度，希望百度的人能帮忙解答一下，谢谢了。

[2020-06-22 10:25] hong19860320 commented on #4713
@cuicheng01 麻烦崔程大佬帮忙回答下，谢谢！

[2020-06-22 10:27] hong19860320 commented on #4713
@lxk767363331 你用的是python版本是多少啊？

[2020-06-22 10:32] hong19860320 commented on #4714
不是的哈，对于分类模型，这个一维向量就是这张图片经过推断后在所有类别下的概率，概率值最大类别的就是这个图片推断的分类结果了。

[2020-06-22 10:36] lxk767363331 commented on #4713
py3.7

[2020-06-22 11:05] hong19860320 commented on #4713
@cuicheng01 这个涉及到python版本问题，后面会进行修复的，所以，你说的是对的，需要使用//这个运算符。

[2020-06-22 12:05] cuicheng01 commented on #4713
后续会统一用'//'，另外业界没有SE和HRNet的结合，我的这个套用的SENet中的参数，里边的reduction_ratio的值是16

[2020-06-22 12:08] lxk767363331 commented on #4713
我尝试使用了 se+hrnet 效果没有提升反而降低了  我在想是不是reduction_ratio的原因，所以想弄明白reduction_ratio的意义

[2020-06-22 17:37] jakeju92 commented on #4712
After some research, I found I made a mistake when compiling the custom op. The GCC version I used is 8.4 which is problematic. According to this detailed guide: https://github.com/PaddlePaddle/models/blob/release/1.8/PaddleCV/3d_vision/PointNet%2B%2B/ext_op/README.md, we are suggested to use GCC 4.8 for compilation. After installing the gcc 4.8 on my Ubuntu 20.04 and recompiling the custom op. It

[2020-06-22 17:37] #4712 closed, assigned to nobody

[2020-06-22 18:35] Sandy4321 opened #4715 "can you share data for PaddleRec gnn"
can you share data for  PaddleRec gnn
for
https://github.com/PaddlePaddle/models/tree/develop/PaddleRec/gnn

since link to data
https://cikm2016.cs.iupui.edu/cikm-cup

is broken

[2020-06-23 01:02] xiaozhaxie777 commented on #4714
嗯，谢谢。那这个其实是一个小样本的多分类网络？我理解的度量学习、还有看paddle网站上的介绍，应该有类似于两张图片相似度这种参数的结果输出吧，还是说就根据概率值最大类别，再做分析？

[2020-06-23 02:28] ucasiggcas opened #4716 "关于Youtube召回的评价指标"
hi,dear大佬
在[飞桨实现的Youtube](https://github.com/PaddlePaddle/models/tree/release/1.8/PaddleRec/youtube_dnn)中，没有发现啥评价指标啊？
能不能来个recall,precision,F1啊
多谢大佬。

[2020-06-23 02:43] hong19860320 commented on #4714
你说的应该是训练过程中损失函数的确定和loss的计算哈

[2020-06-23 05:41] xiaozhaxie777 commented on #4714
又看了看，大概明白了，先用train_elem.py训练，再用train_pair.py微调，但是我微调的时候，出错了。AssertionError: Can not find [_generated_var_0] in model file [output/ResNet50/3000.pdopt]
部分log如下：
python train_pair.py --pretrained_model output/ResNet50/3000
-----------  Configuration Arguments -----------
checkpoint: None
class_dim: 973
display_iter_step: 10
embedding_size: 0
image_shape: 3,224,224
loss_name: eml
lr: 0.0001
lr_steps:

[2020-06-23 05:49] frankwhzhang commented on #4716
accuracy， topk 这些Op都可以实现类似的功能，另外推荐相关的模型我们都迁移到了PaddleRec repo ：https://github.com/PaddlePaddle/PaddleRec 欢迎使用

[2020-06-23 06:27] ucasiggcas commented on #4716
我看了下，大佬并没有相关用例啊
https://github.com/PaddlePaddle/PaddleRec/blob/master/models/recall/readme.md
![image](https://user-images.githubusercontent.com/35590066/85368309-98e5bb80-b55d-11ea-9ef3-53bbbc8b06b3.png)

[2020-06-23 08:09] wangchaochaohu commented on #4715
https://paddlerec.bj.bcebos.com/gnn%2Ftrain-item-views.csv  可以通过这个进行下载

[2020-06-23 10:37] cuicheng01 commented on #4713
SE+HRNet需要有带SE的预训练，直接加载没有SE的预训练的模型精度会比较低，另外，欢迎使用分类库的新库，有任何疑问可以在新库下提issue~
新的分类库地址：https://github.com/PaddlePaddle/PaddleClas

[2020-06-23 11:35] frankwhzhang commented on #4716
https://github.com/PaddlePaddle/PaddleRec/blob/master/models/recall/youtube_dnn/model.py 参考net函数 用的是acc

[2020-06-23 17:28] pbansal5 commented on #209
Hey Kuke. Can you share more details of the experiment with MFCC features as input? I am currently using MelSpec features for DeepSpeech2 but I am getting at best 9% validation CER. Could you share your setup and results if possible?

[2020-06-23 22:56] Sandy4321 commented on #4715
great thank you very much
by the way does it looks correctly?
![image](https://user-images.githubusercontent.com/11426119/85474813-31426700-b583-11ea-973c-17c2f409b1f7.png)

[2020-06-24 02:13] hutuxian commented on #4715
correct.

[2020-06-24 05:21] Fordacre opened #4719 "PaddleCV-video-ctcn 训练到Epoch21，iter1365停止不动"
你好，我在训练CTCN的时候，发现训到Epoch21，iter1365时程序会停止不动，但同时程序仍然在使用GPU和CPU资源。
详情如图。
![image](https://user-images.githubusercontent.com/12699033/85503959-8763e880-b61d-11ea-8830-b234e6e3e661.png)
![image](https://user-images.githubusercontent.com/12699033/85503914-656a6600-b61d-11ea-8dfb-194037bf770b.png)
希望能够获得帮助解决这个问题，谢谢。

[2020-06-24 08:30] mengyuanhuang1212 opened #4720 "ACL2020 文章Towards Conversational Recommendation over Multi-Type Dialogs咨询"
请问Towards Conversational Recommendation over Multi-Type Dialogs这篇文章的code和dataset路径在哪里？

[2020-06-24 11:39] chenwhql commented on #4719
确认下您就是直接使用这里模型的说明train的吗？您使用的paddle是什么版本？

[2020-06-24 12:44] #4715 closed, assigned to nobody

[2020-06-24 13:18] Fordacre commented on #4719
@chenwhql 是的，就是直接改了用CTCN目录下的代码训练的，paddle版本的话是1.8.1.

[2020-06-24 15:16] Sandy4321 commented on #4715
but there are many user ids with NA
is it bad data with NAs?

[2020-06-27 06:51] #4660 closed, assigned to nobody

[2020-06-28 02:01] chenwhql commented on #4720
您好，询问了下相关同学，这篇文章的code暂时还没有放出来，准确放出时间也还不确定，麻烦您等待下

之后的放出路径应该和论文中地址一样：https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/Research/ACL2020-DuRecDial

[2020-06-28 02:34] huangjun12 commented on #4719
请问下 这个问题是随机出现的还是可以稳定复现呢

[2020-06-28 05:29] Fordacre commented on #4719
@huangjun12 试了两三次了，都是会在这个地方（Epoch21，iter1365）卡住。然后我最近对代码进行了一些自己的改动，比如缩小了concepts数目，同样会卡住，不过出现在了Epoch30，iter1385.

[2020-06-28 06:39] shaunhurryup opened #4721 "No such file or directory: './data/vangogh2photo/trainA.txt'"
这个trainA.txt文件该去哪里找呢？下载过来的数据集只有4个图像文件

![image](https://user-images.githubusercontent.com/45918719/85940123-1d18b400-b94d-11ea-8129-3fa6a6316427.png)

[2020-06-28 07:15] mengyuanhuang1212 commented on #4720
好的，期待

[2020-06-28 07:28] shaunhurryup commented on #4721
已解决。由于使用download.py下载的数据很慢，我自己下载到本地再上传到aistudio，但是download.py代码包含**生成.txt**内容，自己重新改一下这部分的代码即可

[2020-06-28 07:28] #4721 closed, assigned to nobody

[2020-06-28 09:09] shaunhurryup opened #4722 "No such file or directory: './data/vangogh2photo/trainB/2014-05-23'"
在 `trainA` 文件夹中，文件格式为 **数字.jpg** ，例如 **00454.jpg**

在 `trainB` 文件夹中，文件格式为 **日期 时间.jpg** ，例如 **2016-01-20 08:00:45.jpg**

可是 `data_reader.py` 中的代码对于 `trainB` 中的图片只取了 **日期.jpg** 这种格式，导致报错
![image](https://user-images.githubusercontent.com/45918719/85943045-0cbe0480-b960-11ea-9f72-fcd7f478804b.png)

而我将代码中的
[code]
改成
[code]
后，新的错误又发生了

![image](https://user-images.githubusercontent.com/45918719/85943

[2020-06-28 11:20] willthefrog commented on #4722
看上去是你文件名中有空格的原因，看代码中写列表时使用了`\t`作为A，B图片的分隔符，但是读取时是按空格split的，所以你的文件名就被split了，建议把文件名改成不带空格的，或者把reader部分改下，使用`\t`split
[code]

[2020-06-28 13:38] gongweibao opened #4723 "GRU model under dygraph can't work now!"
[code]

[2020-06-29 01:49] willthefrog commented on #4723
can you take a look at this? @kuke

[2020-06-29 03:08] shaunhurryup commented on #4722
这个方法的确奏效，感谢！

[2020-06-29 03:08] #4722 closed, assigned to nobody

[2020-06-29 07:43] liu824 opened #4724 "BMN的输入问题"
在教程中有提到BMN的输入是TSN已经处理好的特征，具体是那一层输出的结果？
我注意到飞桨模型库中已经有TSN模型，但是在BMN中的TSN链接是caffee的https://github.com/PaddlePaddle/models/blob/release/1.8/PaddleCV/video/data/dataset/bmn/README.md，请问有没有飞桨的使用TSN进行特征提取并保存为.npy文件的案例？

[2020-06-29 14:00] liu824 opened #4726 "bmn的输入形状是否可以是其他的值"
当我使用我的特征进行训练时，出现了下面的错误，我猜测是由于我的输入（433,1024）的.npy文件，与例子中的(100,400)不相同：
[INFO: train.py:  249]: Namespace(batch_size=None, config='models-1.6/PaddleCV/PaddleVideo/configs/bmn.yaml', epoch=None, fix_random_seed=False, learning_rate=None, log_interval=10, model_name='BMN', no_memory_optimize=False, pretrain=None, resume=None, save_dir='./data/checkpoints', use_gpu=True, valid_interval=1)
[INFO: config

[2020-06-30 01:48] mmmahhhhe opened #4727 "时间序列预测设备故障"

[2020-06-30 01:56] mmmahhhhe commented on #4727
### 1月4号损坏，原因"a"，数据如下
|设备名|时间|温度|压力|电流|
|-|-|-|-|-|
|设备1|01-01|10|50|100|
|设备1|01-02|11|51|101|
|设备1|01-03|12|52|102|

---
### 2月6号损坏，原因"b"，数据如下
|设备名|时间|温度|压力|电流|
|-|-|-|-|-|
|设备2|02-01|10|50|100|
|设备2|02-02|11|51|101|
|设备2|02-03|12|52|102|
|设备2|02-04|12|52|102|
|设备2|02-05|12|52|102|

[2020-06-30 02:18] QxGeng opened #4728 "face_detection里的NMS的过程代码是在哪里呀？希望告知一下"

[2020-06-30 02:45] #4728 closed, assigned to nobody

[2020-06-30 03:27] huangjun12 commented on #4724
特征生成的方法可参考 https://github.com/PaddlePaddle/models/issues/3897#issuecomment-552368537
目前models下的TSN模型仅对rgb输入进行处理，尚未包含flow模型

[2020-06-30 03:34] huangjun12 commented on #4726
可以 对应修改yaml文件里的配置参数即可 https://github.com/PaddlePaddle/models/blob/release/1.8/PaddleCV/video/configs/bmn.yaml

[2020-06-30 03:35] liu824 commented on #4726
是不是修改下面的参数：
MODEL:
    name: "BMN"
    tscale: 100
    dscale: 100
    feat_dim: 400

[2020-06-30 03:36] huangjun12 commented on #4726
是的

[2020-06-30 03:39] liu824 commented on #4726
我的理解是tscale是视频总帧数，dscale是action最大时长，feat_dim是特征维度，不知道是不是这样

[2020-06-30 03:43] huangjun12 commented on #4726
是这样的~

[2020-06-30 03:47] liu824 commented on #4726
我尝试过如下设置：
MODEL:
    name: "BMN"
    tscale: 443
    dscale: 100
    feat_dim: 1024
    prop_boundary_ratio: 0.5
    num_sample: 32
    num_sample_perbin: 3
    anno_file: "train.json"
    feat_path: 'work/train/videofeature'
同时把batch_size设置为1，在aistudio上仍然内存溢出。我认为我剩下只能减少action最大时长dscale,您有没有其他比较合适的参数，或是其他方法解决这个问题

[2020-06-30 03:48] liu824 commented on #4726
我尝试过如下设置：
MODEL:
name: "BMN"
tscale: 443
dscale: 100
feat_dim: 1024
prop_boundary_ratio: 0.5
num_sample: 32
num_sample_perbin: 3
anno_file: "train.json"
feat_path: 'work/train/videofeature'
同时把batch_size设置为1，但在aistudio上仍然内存溢出。我认为我剩下只能减少action最大时长dscale,您有没有其他比较合适的参数？或是其他方法解决这个问题？

[2020-06-30 05:00] huangjun12 commented on #4726
sample_mask矩阵比较占内存
https://github.com/PaddlePaddle/models/blob/b87761f8100a545e0015046dd55d886ce90c190e/PaddleCV/video/models/bmn/bmn_net.py#L248
可以将num_sample调小试试

[2020-06-30 07:00] shaunhurryup opened #4729 "GAN有继续训练的方法吗？"
用了下面的代码开始训练
[code]
最后checkpoints存了第100次的参数，但是效果不太好。我把前面99次存的都删掉后想继续训练，不过找不到相关的参数设置...

[2020-06-30 09:03] leidaxia opened #4730 "请问百度双塔模型有实现的源码吗，或者论文都行"

[2020-06-30 09:24] ceci3 commented on #4729
可以通过设置 --init_model 这个参数加载预训练模型

[2020-06-30 10:32] liu824 commented on #4726
我现在只能根据论文来推测参数含义，有没有这些参数的说明文档？

[2020-06-30 10:47] zhiqiu commented on #4730
hi，您可以看下这里的DSSM模型和SimNet模型是不是您需要的。https://github.com/PaddlePaddle/PaddleRec/tree/master/models/match

[2020-06-30 12:06] huangjun12 commented on #4726
<img width="846" alt="image" src="https://user-images.githubusercontent.com/22365664/86124095-205a9e00-bb0d-11ea-99be-40923702254a.png">
后面会添加到代码注释中

[2020-06-30 12:38] shaunhurryup commented on #4729
感谢！我之前也是用这个参数但是报了奇怪的错误现在也忘记了。
不过能训练了就行哈哈

[2020-06-30 12:38] #4729 closed, assigned to nobody

[2020-06-30 12:50] liu824 commented on #4726
很抱歉再次打扰您，当我解决了参数量过大的问题之后，我又遇到了下面的问题;
[INFO: eval.py:  152]: Namespace(batch_size=None, config='models-1.6/PaddleCV/PaddleVideo/configs/bmn.yaml', log_interval=1, model_name='BMN', save_dir='data/evaluate_results', use_gpu=True, weights='')
[INFO: config_utils.py:   70]: ----------------  Test Arguments ----------------
[INFO: config_utils.py:   72]: MODEL:
[INFO: config_utils.py:   74]:     name:B

[2020-07-01 01:06] liu824 commented on #4726
您好，我提取的特征tscale不一致，在您的模型中是如何处理特征形状不一致的，通过填充0吗？

[2020-07-01 02:18] liu824 opened #4731 "No iteration was executed, please check the data reader"
训练时我遇到下面的问题：
[INFO: train.py:  249]: Namespace(batch_size=None, config='models-1.6/PaddleCV/PaddleVideo/configs/bmn.yaml', epoch=None, fix_random_seed=False, learning_rate=None, log_interval=10, model_name='BMN', no_memory_optimize=False, pretrain=None, resume=None, save_dir='./data/checkpoints', use_gpu=True, valid_interval=1)
[INFO: config_utils.py:   70]: ---------------- Train Arguments ------

[2020-07-01 02:48] baigang666 opened #4732 "度量学习模块改变图像大小"
您好，大神。我将度量学习中的图像大小做了改变。由原先的（224，224）改为（64，128）。相应的图像预处理部分也做修改，但是运行到train_exe.run()的时候报错：
ValueError: The fed Variable 'image' should have dimensions = 4, shape = (-1, 3, 64, 128), but received fed shape [256, 3, 128, 64] on each device
请问一下，这个应该如何修改？谢谢

[2020-07-01 03:26] shaunhurryup opened #4733 "请问有多语言翻译相关的模型吗？"
将中文翻译成多种语言的~

[2020-07-01 07:40] huangjun12 commented on #4731
检查下数据文件路径呢

[2020-07-01 07:42] liu824 commented on #4731
路径应该没问题，你看它都读取到了我的训练集为3500.验证集为0

[2020-07-01 07:45] liu824 commented on #4731
我猜测是不是这个必须有验证集才能跑啊，虽然我已经把valid_interval设置为0了

[2020-07-01 07:56] phlrain commented on #4727
建议使用下序列标注相关的模型，可以参考这个的实现方式
https://github.com/PaddlePaddle/models/tree/release/1.8/PaddleNLP/lexical_analysis

[2020-07-01 08:00] huangjun12 commented on #4731
不是的，
看报错是reader没有返回数据；
train subset video numbers: 3500
这两句只是在实例化reader时，从anno_file里读取到的信息

[2020-07-01 08:02] huangjun12 commented on #4726
一般会resize到定长

[2020-07-01 08:02] liu824 commented on #4731
是因为找不到我的数据集吗？

[2020-07-01 08:04] huangjun12 commented on #4731
https://github.com/PaddlePaddle/models/blob/release/1.8/PaddleCV/video/reader/bmn_reader.py
可能是 你在这个reader里定位下吧

[2020-07-01 08:09] mmmahhhhe commented on #4727
主要对于数据的形式怎么构建不太清楚，这种属性值的话需要变成`[batch_size, seq_len, embedding]`这样吗，`seq_len`可以是温度压力电影为3，`batch_size`随便设一个，`embedding`是随便设一个比较大的值吗，主要是这个怎么实现提前预警的问题，就是在没有x的情况下预测未来的y

[2020-07-01 08:11] liu824 commented on #4726
好的，谢谢

[2020-07-01 08:11] #4726 closed, assigned to huangjun12

[2020-07-01 08:16] liu824 commented on #4731
定位是指？单步调试？

[2020-07-01 08:21] huangjun12 commented on #4731
先检查下feat_path是否存在；feat_path与anno_file里的文件名是否对应；
确认没问题在reader里调试看看

[2020-07-01 08:22] liu824 commented on #4731
好的

[2020-07-01 08:27] littletomatodonkey commented on #4732
您的输入是`3x128x64`，但是定义的是`3x64x128`，这两个维度不匹配

[2020-07-01 09:00] liu824 commented on #4731
![image](https://user-images.githubusercontent.com/55372277/86224984-2ce9ff80-bbbc-11ea-9bb7-88d4cfb6781b.png)
数据都是对的

[2020-07-01 09:05] liu824 commented on #4731
我的json文件相比于例程里少了一些参数，虽然我看源码并没有用到这些参数，但不确定是否是因为这个原因导致错误
![image](https://user-images.githubusercontent.com/55372277/86225505-e8ab2f00-bbbc-11ea-9724-1b208171f1c1.png)

[2020-07-01 13:26] guoshengCS commented on #4733
这个目前还没有，只有在WMT中英数据集部分数据上训练的模型，可以参考 #4582

[2020-07-01 13:32] #4733 closed, assigned to nobody

[2020-07-02 02:18] liu824 commented on #4726
您好，关于bmn模型的输入特征resize之后，是否相应的label也要改变呢？

[2020-07-02 02:50] huangjun12 commented on #4719
我本地试了下，并没有复现这个问题，代码是work的。CTCN模型训练比较占显存，P40上单卡batch_size设为2，所占显存约为21G，训练hang住可能是机器资源不足。

[2020-07-02 06:47] Fordacre commented on #4719
@huangjun12 可以问一下您那边GPU的驱动版本，CUDA版本，cudnn版本以及nccl版本相关的配置嘛？看起来问题出现在了我们的GPU上面。

[2020-07-02 07:18] huangjun12 commented on #4719
Driver Version: 418.39， CUDA Version 9.0.176， CUDNN_VERSION 7.5.1,  nccl Version 2.4.7

[2020-07-02 07:47] baigang666 commented on #4732
@littletomatodonkey  谢谢   我明白了

[2020-07-02 15:11] lxk767363331 opened #4736 "请问何时可以上阿里新出的pyconv？"

[2020-07-03 03:02] liu824 commented on #4724
BMN的输入特征形状不一致，我resize之后是否还需要对label进行处理，我看到reader里边是使用时间点与总视频时长的比例作为label的，应该是不需要对label进行处理，但是我resize之后训练时loss变为nan

[2020-07-03 03:54] gfwm2013 commented on #4736
感谢您的反馈，我们会对此需求进行记录和评估。

[2020-07-03 08:20] liu824 opened #4738 "BMN模型batch_size调小之后loss为nan"
在我把BMN的batch_size由16调成8时，训练loss会出现nan,继续调为2之后，启动训练会报错。下面为使用batch_size为8时的结果。使用的训练集是官方的示例
![image](https://user-images.githubusercontent.com/55372277/86448079-d8c05600-bd48-11ea-95c3-9a7b20ccb17f.png)

[2020-07-03 08:21] liu824 commented on #4738
![image](https://user-images.githubusercontent.com/55372277/86448342-35bc0c00-bd49-11ea-8a95-3f9a02b2243c.png)

[2020-07-04 11:59] #4727 closed, assigned to nobody

[2020-07-05 02:59] liu824 commented on #4123
我使用BMN模型训练的时候也出现了nan,不仅是在自己的数据集上，在百度给的数据集上当我把batchsize调小之后也出现了nan

[2020-07-05 03:40] liu824 commented on #4411
BMN 中只有提名生成的实验步骤，但为什么loss中有pem_cls_loss，这个应该是提名分类的loss把，而且这个loss在训练时经常出现nan,使用百度提供的数据集也是如此，是否在计算的时候可以去掉这个loss

[2020-07-05 23:54] lxk767363331 opened #4740 "关于se+resnet vd的问题"
请问 re_resnet_vd中我找到的是这个位置。先经过一个2*2的池化 ，再经过一个1*1的卷积 与原来的131结构add。可以解释一下这样做的原因么，有什么可解释性么？ 为什么不能用1*1卷积 s=2 完成2*2池化+1*1卷积呢  谢谢
https://github.com/PaddlePaddle/models/blob/365fe58a0afdfd038350a718e92684503918900b/PaddleCV/image_classification/models/se_resnet_vd.py#L145

[2020-07-06 03:17] ZhiyiLan commented on #3346
@Xreki 请问一下如何查看cpu是否支持int8操作，我的cpu是i9 9820x。

[2020-07-06 04:31] leidaxia opened #4741 "统计AUC指标时，遇到NaN"
![image](https://user-images.githubusercontent.com/20982126/86556009-a26f1a80-bf84-11ea-84c1-22c89da9d1a0.png)
这是个二分类的问题，通过计算cos_sim(usr_vec, channel_vec),  然后接sigmoid，然后统计AUC，但是却报错了，检查了数据集没有空值，网络结构也是对的，不知道怎么办了

![image](https://user-images.githubusercontent.com/20982126/86556109-efeb8780-bf84-11ea-9ea1-90462026c4a8.png)

[2020-07-06 05:16] huangjun12 commented on #4738
两次运行，都是在同一个位置稳定出nan吗

[2020-07-06 05:17] liu824 commented on #4738
是的，不论是否shuffle数据

[2020-07-06 05:18] huangjun12 commented on #4724
loss出nan可能是学习率太大了，改成自己的数据训练时， 需要调整超参数才能达到预期的效果

[2020-07-06 05:26] liu824 commented on #4724
我尝试把学习率下降，但是仍然输出nan,出现nan的loss是pem_cls_loss,这个是不是提名分类的loss?
既然BMN没有使用到提名分类的那部分，是否可以不用理会呢?

[2020-07-06 05:27] liu824 commented on #4738
而且在使用例子中的数据集。把batchsize调小之后也会出现loss为nan的情况

[2020-07-06 06:06] leidaxia commented on #4730
好的，多谢

[2020-07-06 06:10] huangjun12 commented on #4724
那也有可能是数据问题 你调试下pem_cls_loss那部分代码便能看出nan的原因

[2020-07-06 07:11] liu824 commented on #4724
您好，这部分loss是否可以忽略呢？
我在使用你们提供的数据，把batch_size调小为8之后也会出现loss,而且调到2时会出现报错导致程序无法运行

[2020-07-06 08:14] levinxo opened #4742 "PaddleNLP的lac分词baseline模型保存为serving的预测模型出错"
保存模型：

[code]

保存为serving预测模型：

[code]

最后生成的serving_server_conf.prototxt有错误，导致请求时返回`{"result":"Request Value Error"}`

[code]

[2020-07-06 10:33] huangjun12 commented on #4724
(1) 不是提名分类的loss，是对BMN置信度图的二分类loss，忽略了对最终性能可能会有所影响
(2) 我们提供开源代码在batch_size调小之后出nan的原因是，可能整个batch的所有sample里没有iou>0.9的点，计算出的num_positive为0，
https://github.com/PaddlePaddle/models/blob/b87761f8100a545e0015046dd55d886ce90c190e/PaddleCV/video/models/bmn/bmn_net.py#L339
(3) 因为训练需要4卡，总batch_size不能小于4

[2020-07-06 10:34] huangjun12 commented on #4724
最近看到你提了多个BMN相关issue，方便告知下具体使用场景吗

[2020-07-06 10:36] huangjun12 commented on #4738
解答参考 https://github.com/PaddlePaddle/models/issues/4724#issuecomment-654153070

[2020-07-06 10:36] liu824 commented on #4724
嗯嗯，最近在做一个视频预测相关的任务，打算使用BMN进行提名分类

[2020-07-06 10:38] liu824 commented on #4724
嗯嗯，最近在做一个视频预测相关的任务，打算使用BMN进行提名生成，但在使用过程中遇到了一些问题

[2020-07-06 10:39] huangjun12 commented on #4724
是否为百度内部用户

[2020-07-06 10:41] liu824 commented on #4724
不是的

[2020-07-06 10:49] huangjun12 commented on #4731
没有具体代码和使用数据难以定位，只能告知可能原因，不知你是否已定位出问题

[2020-07-06 10:52] liu824 commented on #4731
您好，这个问题您刚才已经告诉我答案了，是因为batch_size的数量小于GPU的数量造成的

[2020-07-06 10:52] #4731 closed, assigned to nobody

[2020-07-06 10:53] liu824 commented on #4724
解决pem_cls_loss为nan是否可以把iou调小一点

[2020-07-06 10:55] huangjun12 commented on #4724
可以啊 超参数都可以自行调节，对比性能

[2020-07-06 11:00] liu824 commented on #4724
谢谢您的回答，方便透露一下当初你们训练了多少个epoch吗？

[2020-07-06 11:02] huangjun12 commented on #4724
yaml文件里的参数就是我们之前使用的参数。但网络训练有一定波动，可以从多个epoch中选取一个性能最好的

[2020-07-06 11:10] liu824 commented on #4724
好的，我有一个疑问就是BMN使用的特征形状是100*400，是因为这个形状最合适吗？我在其他文章中看到有使用256*1024的特征形状

[2020-07-06 11:12] liu824 commented on #4724
上面的乘号无法显示100x400和256x1024

[2020-07-06 11:29] huangjun12 commented on #4724
是的 而且在实验时也可以尝试下其它特征提取模型

[2020-07-07 03:17] FrostML commented on #4741
可以先尝试下一般解决 nan 的方法，比如 更换数据初始化/预处理方式，减小学习率，加入 gradient clip 等方法试试看能否解决 nan 的问题。
也可以参照下官方提供的 [nan/inf 工具](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/flags/check_nan_inf_cn.html#check-nan-inf) 可以具体看下出 nan 的 op。

[2020-07-07 03:57] cuicheng01 commented on #4740
首先感谢您使用ResNet系列的改进版，然后我回答一下您的问题~
1.ResNet系列在发布之后便经历了多种改进，其中vd系列来源于论文：[Bag of Tricks for Image Classification with Convolutional Neural Networks](https://arxiv.org/pdf/1812.01187.pdf)，文中详细说明了vd的改进方式，您可以仔细阅读这篇paper，有疑问随时交流~
2.PaddleCV下的image_classification之后不再维护，image_classification已经整合成为更强大的PaddleClas，PaddleClas包含了更多的功能和更细致的文档，欢迎使用~PaddleClas地址：https://github.com/PaddlePaddle/PaddleClas

[2020-07-07 04:02] lxk767363331 commented on #4740
好滴，以后在PaddleClas下提问。感谢回答。

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "cuicheng01"<notifications@github.com&gt;;
发送时间: 2020年7月7日(星期二) 中午11:57
收件人: "PaddlePaddle/models"<models@noreply.github.com&gt;;
抄送: "不要冲动保持心态"<767363331@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/models] 关于se+resnet vd的问题 (#4740)

首先感谢您使用ResNet系列的改进版，然后我回答一下您的问题~
 1.ResNet系列在发布之后便经

[2020-07-07 08:47] liu824 opened #4743 "使用BMN训练的模型进行预测 时报错"
![image](https://user-images.githubusercontent.com/55372277/86751854-885f3600-c071-11ea-9c93-6070e1cbe33f.png)

[2020-07-07 10:03] liu824 commented on #4743
找到原因了，是因为我室友models1.6版本，训练模型时只保存模型参数和优化器参数，没有保存模型结构参数

[2020-07-07 10:03] liu824 commented on #4743
找到原因了，是因为我使用models1.6版本，训练模型时只保存模型参数和优化器参数，没有保存模型结构参数

[2020-07-07 20:25] andreazanetti opened #4744 "ERNIE_PRETRAIN in the `run_ernie.sh` for sentiment classification & expected dimensions"
On develop branch, the path to ERNIE_PRETRAIN
in the `run_ernie.sh` for sentiment classification does not seem to be correct.
(PaddleNLP/sentiment_classification)
It should be `ERNIE_PRETRAIN=./models/senta_model/ernie_pretrain_model/` and not only `./ernie_pretrain_model/ `as it is in the `run_ernie.sh`.
However, even changing it, if launch `./run_ernie.sh train` I get the following:

-----------

[2020-07-08 04:47] #4743 closed, assigned to nobody

[2020-07-08 06:01] liu824 opened #4745 "使用BMN进行预测时，输出的json文件 视频ID少了两个字符，所有的文件都是这样"
![image](https://user-images.githubusercontent.com/55372277/86882608-1ba47400-c123-11ea-897a-3d1bb39d6ab0.png)
![image](https://user-images.githubusercontent.com/55372277/86882803-66be8700-c123-11ea-8221-f9c50d0ad0c5.png)

[2020-07-08 07:49] levinxo commented on #4742
@wangjiawei04 把paddle从1.7.1升级为1.8.2问题解决，生成的serving_server_conf.prototxt为：

[code]

[2020-07-08 08:00] lidanqing-vv opened #4746 "lookup_tablev2 and lookup_table difference"
The Lac GRU model generated by [this page](https://github.com/PaddlePaddle/models/tree/release/1.8/PaddleNLP/lexical_analysis) use lookup_tablev2, and it has 3 dimension output. While using lookup_table (v1) will have 2 dimension output. We think 2 dimension is more reasonable because it will be used as input of fc

Also the code is changed by this PR https://github.com/PaddlePaddle/models/pull/38

[2020-07-08 08:12] lidanqing-vv commented on #4746
@luotao1

[2020-07-08 08:24] juncaipeng commented on #4746
@Bond-H

[2020-07-08 09:26] Bond-H commented on #4746
such is this case,  the shape of input words should be change to ` [None]` while using  lookup_tablev2 @1024er https://github.com/PaddlePaddle/models/blob/b87761f8100a545e0015046dd55d886ce90c190e/PaddleNLP/lexical_analysis/creator.py#L38

noticed that the output's dimension is 2 of the fc layers even with the input of 3 dimension,  same as using lookup_tablev1, so the model still works well

[2020-07-08 11:12] lidanqing-vv commented on #4744
@luotao1 麻烦看一下这个问题，谢谢！

[2020-07-08 13:35] juncaipeng commented on #4745
好的，联系了负责同学来解决。 @huangujun12

[2020-07-08 13:36] juncaipeng commented on #4744
好的，联系了ernie负责同学来看下。

[2020-07-08 13:37] liu824 commented on #4745
好的，谢谢

[2020-07-08 14:09] liu824 commented on #4745
我已经找到了错误所在了，你们在这条代码中使用了video_name[2:]，我认为该操作是不正确的。
![image](https://user-images.githubusercontent.com/55372277/86927925-7e6b2f00-c166-11ea-87cf-6e67cd5b3d21.png)

[2020-07-09 02:23] GaoWei8 commented on #4744
@xfcygaocan. 帮忙看下这个问题。

[2020-07-12 04:40] PearLion opened #4748 "代码死链问题反馈"
“Enhancing Local Feature Extraction with Global Representation for Neural Text Classification”

请问这篇文章提供的code路径不对呀，没有找到在哪里，可否提供一下呢？感激不尽！

[2020-07-12 11:08] mapingshuo commented on #4748
你好，这篇文章里提供的是什么code路径？

[2020-07-12 11:40] mapingshuo commented on #4748
经过查看论文，旧链接为：“Our code will be available at https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/Research/EMNLP2019-GELE. “GELE” is the abbreviation for Global Encoder and Local Encoder, i.e., Encoder1 and Encoder2 respectively.”

[2020-07-12 11:47] PearLion commented on #4748
很抱歉麻烦您了，但是这个链接我打不开，显示404，找了Research下其他文件都没有找到，您能打开这个链接吗？

[2020-07-12 11:50] mapingshuo commented on #4748
我打不开，正在联络作者

[2020-07-12 12:02] mapingshuo commented on #4748
请直接邮件联络作者吧：niuguocheng@baidu.com

[2020-07-12 12:02] #4748 closed, assigned to mapingshuo

[2020-07-13 03:19] huangjun12 commented on #4745
视频库代码取[2:]的原因：
视频原id为'videoid'，提取后的特征统一命名为'v_videoid'，前面加了两个字符'v_'，故所有预测视频id取[2:]；
视频id及预测命名没有强制要求，用户根据自己使用的数据自行修改即可。

[2020-07-13 05:29] liu824 opened #4749 "使用BMN预训练模型训练的时候报错"
DALI is not installed, you can improve performance if use DALI
[INFO: train.py:  254]: Namespace(batch_size=None, config='./configs/bmn.yaml', epoch=None, fix_random_seed=False, is_profiler=0, learning_rate=None, log_interval=10, model_name='BMN', no_memory_optimize=False, pretrain='data/dataset/bmn/BMN.pdparams', profiler_path='./', resume=None, save_dir='./data/checkpoints', use_gpu=True, valid_

[2020-07-13 10:52] #4742 closed, assigned to bjjwwang

[2020-07-13 11:15] liu824 opened #4750 "ctcn的数据集.pkl文件的b'feats'和b'scores'是什么？我注意到ctcn_reader.py只用到了b'scores'，是否b'scores'才是需要的特征？还有对应的txt文件是什么？假设我需要把BMN的数据集转化为ctcn的数据集，该怎么做？"

[2020-07-14 02:56] legendxty opened #4751 "加载模型和模型预测操作分开"
请问在fluid.dygraph.guard():下面，怎样实现把加载模型和预测给分开呢？我这样操作infer的时候会报错：
class model(object):
    def __init__(self):
        with fluid.dygraph.guard():
            self.net = ResNet("resnet", class_dim = train_parameters['class_dim'])
            # load checkpoint
            model_dict, _ = fluid.dygraph.load_dygraph(train_parameters["save_persistable_dir"])
            self.net.load_dict(model_dict)

[2020-07-14 03:31] #4751 closed, assigned to nobody

[2020-07-14 03:32] legendxty commented on #4751
加个修饰就可以了
![image](https://user-images.githubusercontent.com/54163016/87380736-b25eae00-c5c5-11ea-9210-e7eb92cdc198.png)

[2020-07-14 07:48] ForFishes commented on #4749
从错误看，是热启参数的维度与参数维度不一致，但看参数个数是一样的，应该需要reshape一下组网中var的维度到(100, 320000)

[2020-07-14 08:15] liu824 commented on #4749
具体在哪改呢？我试过在BMN中对输入参数进行reshape，但是仍然报错。

[2020-07-14 09:27] ForFishes commented on #4749
我的意思是找到a parameter with the shape of ((100, 32, 100, 100)),renshape到 ((100, 320000))。

[2020-07-15 01:30] houboowen commented on #3266
解决了吗？  我在centos7遇到类似问题

[2020-07-16 03:27] ftraining opened #4754 "#face detection# Error: Blocking queue is killed because the data reader raises an exception"
[code]

[2020-07-16 08:35] liu824 opened #4756 "CTCN 有没有使用I3D特征的demo"

[2020-07-16 09:47] baiyfbupt commented on #4756
您好，这个还没有，视频库提供的是抽好的特征，抽特征的模型可以根据需要自行尝试其他的

[2020-07-16 10:22] liu824 commented on #4756
您好，我已经提取好了I3D特征的模型，但是CTCN没有I3D特征的接口，论文中是有I3D的对比实验的

[2020-07-16 10:46] baiyfbupt commented on #4754
您好，是否改动了face_detection代码呢？

[2020-07-16 10:48] baiyfbupt commented on #4754
看log是PIL版本问题，建议把PIL更新到最新版本再试试

[2020-07-16 12:10] huangjun12 commented on #4756
目前使用其它特征的对比实验代码未release。使用I3D特征，可以修改ctcn_reader.py部分load_file函数代码以适配I3D特征输入。

[2020-07-16 13:05] waywaywayw opened #4757 "models的bert，自有数据训练，生成训练数据。字典不匹配？"
https://github.com/PaddlePaddle/models/tree/release/1.8/PaddleNLP/pretrain_language_models/BERT
数据预处理部分
![image](https://user-images.githubusercontent.com/26199465/87673833-b5b18f80-c7a7-11ea-8569-1f70127def5f.png)
id化的例子 第一个token的id是1？你们用的是啥字典啊。
bert-base 的字典，cls是102，sep是103才对吧

或者你们能不能放出对应的create_train_data.py的代码，这也不麻烦吧

[2020-07-17 00:45] yxhpy opened #4758 "有没有哥哥帮忙实现一下paddle版wgan-gp的demo"
最近学习paddle,想实现一下gan的一些网络，并层层深入但是实现到了wgan-gp的时候，损失函数哪里出现了一些问题，可能由于对框架的静态图的一些东西了解的还不深入，希望可以帮我实现一下最简单的wgan-gp的demo, 简单能生成图像的，帮助我学习gan和paddle框架，万分感激

[2020-07-17 02:33] ceci3 commented on #4758
你好，wgan-gp实现 可以参考 https://github.com/PaddlePaddle/models/blob/release/1.8/PaddleCV/gan/trainer/StarGAN.py#L114 这里~

[2020-07-17 12:47] ftraining commented on #4754
你好，没改动代码。

在 2020-07-16 18:46:28，"Bai Yifan" <notifications@github.com> 写道：

您好，是否改动了face_detection代码呢？

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-07-18 07:10] liu824 commented on #4756
我尝试了很久，但是还是一直卡在数据读取上面，我是打算将BMN中的数据集使用到CTCN上，我将数据集的标注文件都按照CTCN例子 的格式进行了更改，对原ctcn_reader.py进行了下列更改（数据读取的部分加了resize模块）：
#  Copyright (c) 2019 PaddlePaddle Authors. All Rights Reserve.
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE

[2020-07-19 16:29] yxhpy opened #4760 "按照例子我实现了WGAN-GP了，但是我调试了很久还是出问题"
希望可以帮助我做一点修改，不知道具体问题出在哪，我参照了WGAN-GP其他框架的代码写的，但效果不好，由于我还是paddle框架的初学者，不能完美还原出来，希望可以帮助一下谢谢，这是公开有问题的项目地址：https://aistudio.baidu.com/aistudio/projectdetail/632252

[2020-07-20 00:23] ghost commented on #3222
请问如何将stnet部署到c++中？

[2020-07-20 00:31] ghost commented on #3615
您好，在使用stnet算法训练了3类行为，在预测的时候输入与这3类行为无关的视频动作时，输出的结果总是在这3类中，请问如何修改？

[2020-07-20 02:14] liu824 opened #4761 "有没有使用I3D模型或是TSN模型提取视频的RGB和光流特征的例子"
有没有使用I3D模型或是TSN模型提取视频的RGB和光流特征的例子

[2020-07-20 02:43] huangjun12 commented on #4761
目前还没有 需要的话后续可以添加。 方便调研下 您的项目背景是企业需求还是高校研究？

[2020-07-20 02:47] liu824 commented on #4761
高校研究。之前使用过BMN进行proposal生成，现在想要自己实现特征的提取

[2020-07-20 03:00] huangjun12 commented on #4756
改完之后报什么错了呢？

[2020-07-20 03:04] Aurelius84 commented on #4760
请问您链接里实现的WGAN-GP模型是运行不起来，还是训练后模型效果不符合预期呢？

[2020-07-20 03:06] liu824 commented on #4756
DALI is not installed, you can improve performance if use DALI
[INFO: train.py:  254]: Namespace(batch_size=None, config='./configs/ctcn.yaml', epoch=None, fix_random_seed=False, is_profiler=0, learning_rate=None, log_interval=10, model_name='CTCN', no_memory_optimize=False, pretrain=None, profiler_path='./', resume=None, save_dir='./data/checkpoints', use_gpu=True, valid_interval=0)
[INFO: config

[2020-07-20 03:07] liu824 commented on #4756
里面的try ok v_B69Fkd_L9gA类似的日志输出是我在里边加了打印日志已确定哪个节点出现问题

[2020-07-20 03:09] huangjun12 commented on #4756
可以把try去掉 看看 Error when loading时具体问题是什么？

[2020-07-20 03:14] huangjun12 commented on #4750
(1) 是的，b'scores'才是需要的特征
(2) 有些文件是特征提取时得到的输出文件，我们也一并上传了，但并非所有文件都是CTCN模型需要的

[2020-07-20 03:16] liu824 commented on #4750
好的，谢谢您的回答

[2020-07-20 03:29] yxhpy commented on #4760
训练效果几乎没有，效果还不如DCGAN，几乎完全按照github开源的tensorflow版本复刻的最简单版本的WGAN-GP，能正常运行，但是问题不知道出在哪了，希望可以帮助我一下，

[2020-07-20 03:36] liu824 commented on #4756
更改之后出现了下列错误，IndexError: index 0 is out of bounds for axis 0 with size 0应该是训练数据中没有box：
DALI is not installed, you can improve performance if use DALI
[INFO: train.py:  254]: Namespace(batch_size=None, config='./configs/ctcn.yaml', epoch=None, fix_random_seed=False, is_profiler=0, learning_rate=None, log_interval=10, model_name='CTCN', no_memory_optimize=False, pretrain=None, profiler_path='./', res

[2020-07-20 04:30] liu824 commented on #4756
我已经把batchsize设置为1了

[2020-07-20 04:49] Aurelius84 commented on #4760
是否是某一层layers的操作没有对齐？比如你的paddle实现少了一些隐藏的layers之类的？ 可否提供下你参考的tensorflow版本的WGAN-GP模型链接？

[2020-07-20 04:57] yxhpy commented on #4760
我参照多个tensorflow的代码，网络我是用DCGAN跑通了，并能得到比较好的效果，再修改损失函数更改为了wgan-gp的基本模型，但是效果并不好，如果可以你可以用百度的gpu跑下我的项目，网络应该是没问题的，问题应该是在损失函数那，gp部分惨参照的paddle版的stgan完成的，wgan-gp说需要将判别器的bn去掉，我做了实验不管去不去都没得到较好的结果

[2020-07-20 07:22] ceci3 commented on #4760
你这个网络的loss看起来一直在发散，可以分别打出三部分的loss看下相对大小在累加起来.. 另外dropout也没有实现梯度惩罚.. 你这个网络训起来没有报错的话是不是梯度惩罚分支用的有问题...

[2020-07-20 08:13] huangjun12 commented on #4756
机器显存多大呢 CTCN模型训练比较占用显存 batch_size=1时占用显存约为14G

[2020-07-20 08:15] liu824 commented on #4756
使用的是AIstudio高级版跑的

[2020-07-20 08:20] liu824 commented on #4756
![image](https://user-images.githubusercontent.com/55372277/87915578-eeea4800-caa4-11ea-98be-fb2df42637bb.png)

[2020-07-20 09:35] yxhpy commented on #4760
我可能找到原因了，损失相加一次性求导会出错，但具体原因还在找，我还对paddle框架不了解，必须同步分别求导

[2020-07-20 09:35] yxhpy commented on #4760
我可能找到原因了，损失相加一次性求导会出错，但具体原因还在找，我还对paddle框架不了解，必须同步分别求导

[2020-07-20 12:16] andreazanetti commented on #4744
Very low priority at the moment. Will re-open it or create a new one if this returns to be relevant. Thanks

[2020-07-21 02:34] waywaywayw commented on #4757
有人来回答一下吗？确定不了字典，预训练也就无从谈起了

[2020-07-21 09:59] GaoWei8 commented on #4744
The designer @ChinaLiuHao already found the errors.

[2020-07-23 06:47] liu824 opened #4764 "如果仅使用tsn进行特征提取，并输出提取的特征，该如何实现呢？"
如果仅使用tsn进行特征提取，并输出提取的特征，该如何实现呢？

[2020-07-23 19:19] ruyijidan commented on #4491
推荐看下Paddle-Inference-Demo
https://github.com/PaddlePaddle/Paddle-Inference-Demo

[2020-07-24 03:23] huangjun12 commented on #4764
fc之前的输出就可以作为特征:
https://github.com/PaddlePaddle/models/blob/a70288de7c951ac7a4e6fa5a6bfb7e49fd86f288/PaddleCV/video/application/video_tag/models/tsn/tsn_res_model.py#L148
然后将特征fetch出来就可以输出了

[2020-07-24 07:34] jakeju92 opened #4767 "Can not find library pointnet_lib.so pycharm"
OS: Ubuntu 16.04
g++: 4.8
paddle: 1.8.1.post107
CUDA: 10.1

你好，

我在PointNet++成功编译pointnet_util.so动态库之后，termial中运行test也都通过的情况下，但是在pycharm中运行test会报错:
[code]
能帮忙看看是怎么回事吗？谢谢！

[2020-07-24 08:47] dgl547437235 opened #4768 "文件不支持windows"
- 我在windows平台下跑rrpn的时候出现了dynamic_loader.cc不支持windows这个问题
![微信图片_20200724164253](https://user-images.githubusercontent.com/31400928/88374820-068b3e80-cdcd-11ea-9b9e-e56f29789598.png)

[2020-07-24 09:07] liu824 commented on #4764
感谢您的回答，tsn论文中使用的是双流特征RGBdiffer 和warped optical flow,但我在kinects_reader中并没有发现提取光流信息的相关代码

[2020-07-24 09:13] huangjun12 commented on #4764
是的 我们的代码里只有了RGB信息，没有用到光流信息

[2020-07-24 09:17] liu824 commented on #4764
是否有其他模型使用到了光流信息，我希望以此作为参考以实现论文中的tsn模型

[2020-07-26 15:44] shaunhurryup opened #4769 "问题修复：PaddleCV/gan/data_reader.py"
我在开始训练CycleGAN模型时项目报错，错误信息为：

后来发现在 [data_reader.py](https://github.com/PaddlePaddle/models/blob/release/1.8/PaddleCV/gan/data_reader.py#L114) 中对文件名分割错误导致的。

在 `trainB` 文件中，图片的格式为 **日期+时间** ，例如 **2016-01-20 08:00:45.jpg**，但是通过 `line = line.strip('\n\r\t').split(' ')` 代码分割后，日期和时间被作为列表中两个独立的元素，在后来的 `img = Image.open(os.path.join(self.image_dir, file)).convert(` 代码中直接相连，导致无法找到图片。

### 解决方案：
将line = l

[2020-07-27 02:24] huangjun12 commented on #4764
Paddle实现了[PWCNet](https://github.com/PaddlePaddle/Research/tree/master/CV/PWCNet)提取光流，也可以参考[tsn原文实现](https://github.com/yjxiong/temporal-segment-networks/blob/master/scripts/extract_optical_flow.sh)提取光流

[2020-07-27 03:20] kuke commented on #4769
一般文件命名不建议加空格，容易带来各种潜在的麻烦

[2020-07-27 03:22] liu824 commented on #4764
您好,感谢您之前的回答,我对代码上的如下特征进行了输出保存,,获取的特征形状是1*300*2048 https://github.com/PaddlePaddle/models/blob/a70288de7c951ac7a4e6fa5a6bfb7e49fd86f288/PaddleCV/video/application/video_tag/videotag_main.py#L148

[2020-07-27 03:25] shaunhurryup commented on #4769
文件是从 `download.py` 中下载来的，没法改变。但是代码部分的 `split(" ")` 如果没有空格，那么生成的line列表也只有1个元素，后面的 line[1] 也显得没有必要了

[2020-07-27 04:24] howl-anderson opened #4770 "文档中链接失效"
文档地址：https://github.com/PaddlePaddle/models/blob/release/1.8/README.md#%E8%AF%AD%E4%B9%89%E8%A1%A8%E7%A4%BA

链接：
![image](https://user-images.githubusercontent.com/1263428/88503330-fb6e2380-d003-11ea-8794-26191fc9a7a6.png)

[2020-07-27 06:00] chwbin opened #4771 "可以用来裁剪或优化TTS语音模型吗"
可以用来裁剪或优化TTS语音模型吗，例如：pytorch版本的tacotron2

[2020-07-27 07:13] qingqing01 commented on #4767
@jb892   将pointnet_lib.so以及`paddle.sysconfig.get_lib()`路径配置下环境变量LD_LIBRARY_PATH中试下，在pycharm可以参考：  https://www.jianshu.com/p/385a408024d1

[2020-07-27 07:16] qingqing01 commented on #4768
@dgl547437235  rrpn模型使用了C++的CustomOp，该功能暂且不支持windows。

[2020-07-28 03:32] kuke commented on #4771
TTS 模型可以用蒸馏等方式训练小模型，有若干学术工作可以参考

[2020-07-28 06:53] waywaywayw opened #4772 "请问能提供更多的动态图预训练的bert模型吗？或者静态图转动态图的脚本也行"
https://github.com/PaddlePaddle/models/tree/release/1.8/dygraph/bert
目前只有：
![image](https://user-images.githubusercontent.com/26199465/88629546-f8496500-d0e1-11ea-9167-7a05bdb3d7ae.png)
能正常加载使用，但是没有中文的bert
能放出转换脚本吗？

[2020-07-29 01:15] XiminLin opened #4773 "Res2Net200_vd_26w_4s 模型使用报错 'UnicodeEncodeError: 'ascii' codec can't encode character '\x90' in position 3: ordinal not in range(128)'"
在使用 PaddleCV/image_classification/models/res2net_vd.py 里面的 Res2Net200_vd_26w_4s 模型是报错.
`
Traceback (most recent call last):
  File "classification/train_cls.py", line 180, in <module>
    train_cls(settings)
  File "classification/train_cls.py", line 53, in train_cls
    opt.minimize(avg_train_loss)
  File "<decorator-gen-66>", line 2, in minimize
  File "/Users/ximinlin/Documents/AI-Insects-Chall

[2020-07-29 03:10] guoshengCS commented on #4772
可以先参考静态图这里的实现 https://github.com/PaddlePaddle/models/tree/release/1.8/PaddleNLP/pretrain_language_models/BERT ，包含了更多内容，动态图的还在补充

[2020-07-29 07:08] endy-see opened #4774 "AssertionError: Parameter file [pretrain_model/ResNet50_pretrained/.pdparams] not exits"
在训练度量学习模型时，不使用ResNet50的预训练模型的话可以正常训练，如果使用的话就报如下错误：
![image](https://user-images.githubusercontent.com/13143336/88768229-5a22d100-d1ad-11ea-9968-32c772bc23a8.png)
麻烦帮忙看一下，多谢

[2020-07-29 07:15] fffyyy415 commented on #4774
同问     在使用similarity_net，用自己训练好的模型预测也出现同样的情况

[2020-07-29 07:45] fffyyy415 opened #4775 "AssertionError: Parameter file [./model_files/bow_pointwise/2000/.pdparams] not exits"
用模型预测时报错    是什么原因呢
![image](https://user-images.githubusercontent.com/68848476/88771916-8725b280-d1b2-11ea-8de8-bcb0392ee096.png)

[2020-07-29 07:58] #4775 closed, assigned to nobody

[2020-07-29 09:51] guoshengCS commented on #4772
转换脚本可以试下这个 https://github.com/PaddlePaddle/models/blob/release/1.8/dygraph/bert/utils/convert_static_to_dygraph.py ，我们近期也将补充提供更多动态图的BERT预训练模型

[2020-07-29 14:14] endy-see opened #4776 "arcface loss"
请问度量学习中的arcmargin loss是arcface loss么？？

[2020-07-30 01:05] greatyang opened #4777 "PaddleCV/human_pose_estimation/val.py 报错operands could not be broadcast together with shapes"
OS：ubuntu 16.04
Paddle: 1.7.0
GPU:Nvidia V100 16GB
Python:3.7

[code]

[2020-07-30 01:14] greatyang opened #4778 "PaddleCV/human_pose_estimation test.py报错The number of fields in data (7) does not match len(feed_list) (2)"
ubuntu 16.04
paddle 1.7.2
GPU: Nvidia V100 16GB
python:3.7

[code]

[2020-07-30 02:08] waywaywayw commented on #4772
那个转换脚本有点问题。这里我复制了群友的聊天截图：

官方的model库里面的convert_static_to_dygraph.py怎么转了个
![image](https://user-images.githubusercontent.com/26199465/88872338-84779b80-d24c-11ea-9c3c-f620cca71e40.png)
，跟从百度官方下载下来的bert不一样呀，这是官方的
![image](https://user-images.githubusercontent.com/26199465/88872369-92c5b780-d24c-11ea-9c38-3480c0b777b3.png)

[2020-07-30 02:09] waywaywayw commented on #4772
如果能有可用的 转换脚本，那所有问题都解决了。

[2020-07-30 02:10] wanghaoshuang commented on #4776
是的

[2020-07-30 02:19] wanghaoshuang commented on #4773
建议您使用 https://github.com/PaddlePaddle/PaddleClas

在PaddleClas中已修复该问题。

[2020-07-30 02:36] endy-see commented on #4776
好的，多谢

[2020-07-30 02:36] #4776 closed, assigned to nobody

[2020-07-30 07:09] Superjomn commented on #4774
描述下自己的模型，paddle 的版本，使用静态图还是动态图，预训练模型的情况

多提供一些信息吧

[2020-07-30 07:12] endy-see commented on #4774
没有我自己的模型，我只是从https://paddleclas.readthedocs.io/zh_CN/latest/models/models_intro.html
上下载ResNet50的预训练模型，paddle版本1.8（是从release上直接下载的代码），具体动态图还是静态图这个该怎么看？目前还没能训练起来，只要一启动训练就报加载预训练模型出错的问题
![image](https://user-images.githubusercontent.com/13143336/88892612-a0dcfd80-d277-11ea-91b8-cbf7c21b1795.png)

[2020-07-30 07:35] littletomatodonkey commented on #4774
你好，可以看下pretrain_model/ResNet50_pretrained这个文件夹下有什么内容吗?下载的预训练模型在这里吗？

[2020-07-30 07:37] a123b12cd commented on #4714
并不是吧，最后输出的一维向量的维度不是类别的数目，而是网络最后一层的输出。代码中result = exe.run(test_program, fetch_list=fetch_list, feed=data)返回的也是 out = model.net(input=image, embedding_size=args.embedding_size)

[2020-07-30 07:41] a123b12cd commented on #4774
同现象，求解

[2020-07-30 07:49] endy-see commented on #4774
额，里面的文件很多，但确实是没有pdparam那个文件，我下载模型的地址：https://paddleclas.readthedocs.io/zh_CN/latest/models/models_intro.html
你可以自己下载一个呀。。

[2020-07-30 07:50] littletomatodonkey commented on #4774
好的， 这个是模型加载的问题，感谢你的反馈，我们修复下~

[2020-07-30 07:51] endy-see commented on #4774
好的

[2020-07-30 07:58] a123b12cd opened #4780 "度量学习模块infer部分"
度量学习模块中infer的最终输出是一个一维的向量，而且维度不是类别数目，个人理解应该是输出的是提取出来的图像特征。如果做人脸识别之类的任务，是否还需要自己构造一个样本库，然后将输入图片的特征与样本库进行距离的比对，进而判断类别？

[2020-07-30 09:28] littletomatodonkey commented on #4774
你好，你升级下Paddle版本试下呢？我这边在paddle >= 1.7.0的情况下，没有复现你的问题，padddle版本可以通过以下方法查看
![image](https://user-images.githubusercontent.com/14270174/88906437-05a15380-d28a-11ea-984a-797acbdc474e.png)

[2020-07-30 10:23] yanmeizhao commented on #4774
我的paddle版本是1.6的，1.6到1.7版本差异很大么

[2020-07-30 10:45] endy-see commented on #4774
paddle版本升级到1.8以后又出现下面问题：
![image](https://user-images.githubusercontent.com/13143336/88914076-a72da280-d294-11ea-9fb3-a5ce0937e96c.png)
![image](https://user-images.githubusercontent.com/13143336/88914193-d512e700-d294-11ea-983c-76e5d4a97b47.png)

[2020-07-30 11:02] littletomatodonkey commented on #4774
这个需要清除下当前文件夹下的pyc文件（python生成的临时文件）：
[code]

[2020-07-30 11:50] endy-see commented on #4774
感谢，现在情况是能训练了，但是会出警告，这个会印象模型训练的结果么？警告如下：
![image](https://user-images.githubusercontent.com/13143336/88919591-f2987e80-d29d-11ea-9b53-256b17e76f5b.png)

[2020-07-30 11:55] littletomatodonkey commented on #4774
这个不会，在paddle1.7以后，我们统一了文件保存和加载的方式(都是以*.pdparams形式保存)，之前是零散的小文件，加载的时候 会先去找pdparams文件，如果找不到的话，就会尝试以加载零散文件的方式去加载模型（上面第一个警告），在这里因为fc的维度与分类预训练模型不同，所以fc参数是没有加载的（上面第二个警告），因此不会影响训练的

[2020-07-30 11:58] endy-see commented on #4774
好的，多谢

[2020-07-30 11:58] #4774 closed, assigned to qingqing01

[2020-07-30 12:13] littletomatodonkey commented on #4780
是的，度量学习输出的是特征，人脸识别的话，自己也需要构造一个样本库（同时保存特征向量），再将输入图片的输出特征与样本库特征进行距离比对与判别。

[2020-07-31 03:16] xiegegege commented on #4777
@greatyang hi~我这里试了下用提供的coco数据集是能正常运行的
![image](https://user-images.githubusercontent.com/46314656/88996033-c244f480-d31e-11ea-842f-0d11a11eaac6.png)
coco数据集默认的类别数是17，你是改成7了吗？

[2020-07-31 03:18] greatyang commented on #4777
是的，我的数据集里面的类别数是7。

[2020-07-31 03:31] fudameng opened #4782 "C-TCN模型数据集不支持MP4格式,MP4转为pickle文件格式需要提供相应处理工具脚本"
C-TCN模型数据使用说明中明确说明了训练这个模型的时候，需要先对MP4源文件抽取RGB和FLOW 特征，再用训练好的TSN模型提取出抽象的特征数据并存储为pickle文件格式。现在问题是，贵司提供的训练数据集已经转换好了，用infer的时候，无法直接使用mp4文件，但是同时又无mp4转成pickle文件的脚本，需要提供一个解决方案，谢谢

[2020-07-31 12:49] shaunhurryup opened #4784 "CycleGAN预测时argparse的部分参数无效"
### 在AI Studio运行
- 截图（无法运行）
![image](https://user-images.githubusercontent.com/45918719/89035761-0ad7ce80-d36e-11ea-9215-55d5a2c48078.png)
![image](https://user-images.githubusercontent.com/45918719/89035781-10cdaf80-d36e-11ea-9d29-8d4caf7d9bdf.png)
![image](https://user-images.githubusercontent.com/45918719/89036049-95203280-d36e-11ea-8dc5-4dd4e613ff81.png)
三个无法找到的参数在 `infer.py` 中都存在
另一个相同的项目，相同的

[2020-08-01 02:08] a123b12cd commented on #4780
好的，谢谢了！

[2020-08-03 07:44] Flowingsun007 commented on #4680
您好，我遇到了相同的问题，请教一下最后成功跑起来了吗？

[2020-08-04 07:06] huangjun12 commented on #4782
好的 感谢您的使用反馈，后续我们会提供特征抽取的完整脚本~
目前可以先参考[tsn原文实现](https://github.com/yjxiong/temporal-segment-networks) 从mp4文件中提取RGB和Flow特征

[2020-08-04 08:26] A1exy opened #4785 "Pix2Pix Paddle1.8下C++推断报错"
Paddle1.8下，Pix2Pix使用C++进行预测，使用AnalysisConfig和NativeConfig来CreatePaddlePredictor，均报错如下：

![image](https://user-images.githubusercontent.com/7035538/89271357-2ba26b80-d66f-11ea-9e32-17f3ba14f0d2.png)

请问怎么解决，能给个GAN C++推断的例子参考下吗，谢谢

[2020-08-04 08:29] A1exy commented on #4785
Paddle 1.8的C++库调用过检测、分类、分割均没问题，所以初步排除C++ Paddle库的问题。

[2020-08-04 10:55] ML-ZXF opened #4786 "emotion_detection教程中基于 ERNIE 进行 Finetune报错"
执行这段代码后报错 前面都按照1.8的教程走下来了 不知道是哪里的问题 请指教

#--init_checkpoint ./pretrain_models/ernie
sh run_ernie.sh train

报错内容：

-----------  Configuration Arguments -----------
batch_size: 32
data_dir: None
dev_set: ./data/dev.tsv
do_infer: False
do_lower_case: True
do_train: True
do_val: True
epoch: 3
ernie_config_path: ./pretrain_models/ernie//ernie_config.json
infer_set: None
init_checkpoint: ./pretrain_mode

[2020-08-04 14:22] 670133189 opened #4787 "请问如何推理与比较2张图片的相似度？"
`python infer.py \
       --model=ResNet50 \
       --batch_size=1 \
       --pretrained_model=${path_to_pretrain_model}`

上述命令该如何输入图片，是【--image_shape】？
接着如何比较2张图片的相似度？

[2020-08-04 16:42] thrkingd opened #4788 "[论文复现]如何在动态图中导入静态图的预训练参数"
我使用飞桨例子中dygraph文件夹下面的resnet模型，这个模型是用动态图方式实现的，参数名称与同一个模型在静态图下面的预训练参数不一样，怎么把这个静态图下面的预训练参数导入动态图中？
静态图的预训练参数是：http://paddle-imagenet-models-name.bj.bcebos.com/ResNet50_pretrained.tar

[2020-08-05 02:41] jerrywgz commented on #4787
infer的数据集这里默认使用了https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/metric_learning/reader.py#L31 SOP的验证集。infer得到的是图片特征，相似度给出了基础的欧式距离计算方式，https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/metric_learning/utility.py#L80 也可以使用cosine等距离进行相似度计算

[2020-08-05 03:02] jerrywgz commented on #4785
可以给下复现样例吗，我们这边排查下问题

[2020-08-05 03:09] AndersonZhangyq commented on #4788
可以参考 [https://github.com/PaddlePaddle/Paddle/issues/25883](url)
不过我试了一下1.8.3可以，1.8.0会报错
另外use_structured_name也不需要设置成False

[2020-08-05 03:10] #4769 closed, assigned to ceci3

[2020-08-05 03:16] thrkingd commented on #4788
这个issue的连接打不开啊？？

[2020-08-05 03:52] shaunhurryup opened #4789 "CycleGAN推理无结果"
## 在第一个项目中预测，这里训练时使用的是batch_norm
[code]
 **最后几行输出结果：**

output/checkpoints/99/net_G

load params done

my_dataset my_dataset/labels.txt

read:  ['hiking.jpg']

***

## 第二个项目预测，训练使用的是instance_norm
[code]
**最后几行输出结果：**

output/checkpoints/30/net_G

load params done

my_dataset my_dataset/labels.txt

***
我把两个项目的地址公开在了AI Studio

刚才用cpu测试了一下[第一个项目](https://aistudio.baidu.com/aistudio/projectdetail/5976

[2020-08-05 05:02] jerrywgz commented on #4786
从报错信息来看是输入shape与data layer设计的不符，可以在data定义的地方找到为[-1，64，1]的var，然后排查下对应输入的numpy数据是否符合要求

[2020-08-05 05:56] A1exy commented on #4785
@jerrywgz 直接拿Pix2Pix训练出的模型，用C++做Inference就会报错，你这边可以试试。我是在paddle 1.8下弄的

[2020-08-05 06:06] ML-ZXF commented on #4786
我是按照readme中的步骤走下来的 走到ERNIE预训练模型这一步就卡住了，用的步骤里给的data没用自己的数据，完全按照流程中的步骤，刚才发现2020-08-04 18:40:24,913-WARNING: ./pretrain_models/ernie//params.pdparams not found 这里的路径有问题，改正后还是同样的警告，依然报错。另一个issue  sentiment_classification模型执行到ERNIE预训练也是类似报错我这里也重现了，看回复还是不清楚哪里的问题，是不是步骤里的数据结构和预训练模型不匹配啊，有没有哪里可以知道这块怎么操作，或者有什么办法联系作者重跑下修改下数据

[2020-08-05 06:13] jerrywgz commented on #4785
可以提供下c++ inference的复现代码吗，可以先尽快解决下你的问题，后续gan的c++预测示例我们会再跟进下

[2020-08-05 11:11] shaunhurryup commented on #4789
目前来看，应该是n_samples设置的问题

[2020-08-05 11:11] #4789 closed, assigned to nobody

[2020-08-06 02:36] #4767 closed, assigned to nobody

[2020-08-06 03:10] littletomatodonkey commented on #4788
可以参考这里的写法：
args.pretrained_model给的就是静态图的模型地址

https://github.com/PaddlePaddle/PaddleClas/blob/95ed78e2a68a51cea1af0d1e07a9ef0fe15d054e/tools/infer/infer.py#L72-L87

[2020-08-06 03:27] ML-ZXF commented on #4786
问题自行解决了，有个参数设置的问题

[2020-08-06 03:29] thrkingd commented on #4788
我看了一下， 这种写法要求pre_weights_dict（静态图）和当前dy_weights_dict（动态图）的变量名称要一致，但是静态图构建的时候是可以为参数指定名称的（有参数name）动态图构建的时候怎么为参数指定名称（dygragh的函数没有name参数）？

[2020-08-06 05:02] littletomatodonkey commented on #4788
动态图也是可以指定名字的，可以参考PaddleClas中的动态图resnet.py
https://github.com/PaddlePaddle/PaddleClas/blob/dygraph/ppcls/modeling/architectures/resnet.py
和静态图resnet.py的写法
https://github.com/PaddlePaddle/PaddleClas/blob/master/ppcls/modeling/architectures/resnet.py

[2020-08-06 10:24] #4744 closed, assigned to juncaipeng

[2020-08-06 13:26] Archimondecy opened #4791 "models/PaddleRec/ctr/deepfm/ 这个实现的FM层在哪儿？"
请问 当前的deepfm实现中， FM交叉在哪儿？ 而且目前没有看到对field的应用，feat_idx是把全部的field混在一起了？ 这样怎么明确的来完成域之间的交叉呢

[2020-08-07 00:15] thrkingd commented on #4788
这个命名的方法确实是可以的，但是我还遇到了两个问题：
1. 我下载的resnet-50是老的模型参数，就是一堆小的文件，我去load参数时报错了：
program_state = fluid.load_program_state('./ResNet18_pretrained')
2020-08-07 08:15:09,478-WARNING: ./ResNet18_pretrained.pdparams not found, try to load model file saved with [ save_params, save_persistables, save_vars ]
2020-08-07 08:15:09,478-WARNING: ./ResNet18_pretrained.pdparams not found, try to load model file saved w

[2020-08-07 06:40] #4785 closed, assigned to nobody

[2020-08-07 09:37] yxhpy opened #4794 "[论文复现]BIGGAN SA模块 grad报错"
[code]

[2020-08-07 18:02] saxon-zh commented on #4794
您好，请稍等，我们的 @shippingwang  跟进看一下。

[2020-08-08 14:16] wzzju commented on #4794
您好!我测试了下这个问题会在Paddle 1.8.3版本中出现，但是在目前的develop分支中该问题已经修复。目前有两种解决方案：
1. 等PaddlePaddle1.8.4版本发布。
2. 自己动手从源码编译Paddle，详细参考 https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/compile_Ubuntu.html 。

[2020-08-08 14:20] yxhpy commented on #4794
好的，我试试第二种方案吧

[2020-08-09 11:46] shippingwang commented on #4788
确实dygraph.save_dygraph只保存下来了模型参数，你可以参考 https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/dygraph/jit.py#L585 jit.save接口

[2020-08-09 13:52] thrkingd commented on #4788
第一个问题怎么解决啊？

[2020-08-10 01:30] #4771 closed, assigned to kuke

[2020-08-10 03:04] HighCWu opened #4795 "[功能请求]能实现可微光栅化吗？进而进行三维mesh的渲染"
如题，具体可参考tf_mesh_renderer，pytorch3d，Nvidia/kaolin。
建议实现后加入PaddleCV或者新立一则PaddleCG，目前PaddleCV里只有三维点云分类方面的模型。

[2020-08-10 03:17] littletomatodonkey commented on #4788
你好，应该是预训练模型文件夹中包含了一些其他的文件，导致无法Paddle无法加载该文件，你可以看下里面是否包含一些比如`__pycache__`之类的

[2020-08-10 03:36] zky001 opened #4796 "[百度之星大赛]细分类训练时的bug"
我试了七八次 每次都出现的一个错误
![图片](https://user-images.githubusercontent.com/9131265/89749988-a3074d80-dafc-11ea-83d7-6dcee549bbcb.png)

有时候训练到两千多轮、有时候训练到六千多七千多轮 还有的时候训练开始就会 我把batch已经调到非常小，这个问题也还会出现，改了好几次代码  也没起作用 运行七八个小时结果出错  这个错误成本太大了 这是框架问题吗？
Valuerror: could not broadcast input array from shape (3,64,64) into shape (3)
完整的错误栈大概是下面这样
2020-08-09 23:14:23,889-WARNING: Your reader has raised an exception!
Ex

[2020-08-10 03:49] zky001 opened #4797 "[百度之星大赛]细分类微调时的bug"
![图片](https://user-images.githubusercontent.com/9131265/89750586-3b9ecd00-daff-11ea-896d-ab1e784f91e8.png)
训练了八千多轮  又遇到了一样的问题！

训练的问题：
[2020-08-10 11:33:10] trainbatch 8020, lr 0.000050, loss 0.178964, time 0.08 sec
[2020-08-10 11:34:00] trainbatch 8030, lr 0.000050, loss 0.168911, time 0.10 sec
[2020-08-10 11:34:49] trainbatch 8040, lr 0.000050, loss 0.192038, time 0.10 sec
[2020-08-10 11:35:41]

[2020-08-10 03:52] zky001 commented on #4796
@wzzju @suytingwan

[2020-08-10 04:06] zky001 commented on #4796
请求各位大佬的支援！

[2020-08-10 07:12] zhufeng888 commented on #4677
应该是说错了，是指g++版本是4.8.x才行，而不是cmake？我也遇到了这个问题，难搞

[2020-08-10 08:58] zhufeng888 opened #4798 "如果github上的项目能够直接在ai studio提供的环境下跑通"
希望github上这些复现的项目能够在ai studio上做一些适配。比如PointNet++，在ai studio就不能直接跑通，好像是要g++4.8版本，但是ai studio上g++是5.4版本的，无法编译成功，ai stuido提供的环境跟代码需要的环境不适配。而且ai studio上是没有root权限的，开发者就基本没办法了（只要是新的C++ OP都没办法跑，只能选择线下），如果这些优秀的顶会代码能够直接在ai studio上当成一个项目一创建就直接跑通，那对于开发者的学习和进一步的开发会便捷很多，当然这样很费人力，也或者可以对ai studio提供的环境进一步改善（能够匹配github提供的项目需求），让新的C++ OP类也可以在ai studio正常运行，这样开发者如果有需求时也可以在ai studio运行github上提供的代码，进行开发，并在ai studio公开别人也可

[2020-08-10 09:46] zky001 commented on #4797
[2020-08-10 17:44:27] trainbatch 8000, lr 0.010000, loss 2.633109, acc1 0.0000, acc5 0.0000, time 0.11 sec
Traceback (most recent call last):
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/threading.py", line 926, in _bootstrap_inner
    self.run()
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/threading.py", line 870, in run
    self._target(*self._args, **self._kwargs

[2020-08-10 16:05] #4691 closed, assigned to heavengate

[2020-08-11 03:52] ML-ZXF opened #4799 "models/PaddleNLP/sentiment_classification/ 模型保存问题"
使用Ernie 训练模型后 执行模型部署保存的命令 sh run_ernie.sh save_inference_model  出现Tensor未初始化的错误 按照教程里的参数结合本地文件位置做了修改 还需要改什么地方吗？
['/home/ubuntu/python3.6_Project/zxf_Project/models/PaddleNLP/sentiment_classification', '/usr/lib/python36.zip', '/usr/lib/python3.6', '/usr/lib/python3.6/lib-dynload', '/home/ubuntu/.virtualenvs/zxf_env/lib/python3.6/site-packages', '../shared_modules/', '../shared_modules/models/class

[2020-08-11 05:09] zhengya01 commented on #4796
麻烦提供一下代码，环境，paddle版本等信息

[2020-08-11 05:44] #4786 closed, assigned to nobody

[2020-08-11 06:40] zky001 commented on #4796
您好   是paddle1.8 在AIstudio上 Linux环境 代码是metric_learning的代码

[2020-08-11 06:46] zky001 commented on #4796
https://github.com/PaddlePaddle/models/tree/release/1.8/PaddleCV/metric_learning  官方代码

[2020-08-11 06:58] endy-see opened #4800 "度量学习finetune阶段训练出错"
paddle版本1.8，目前已经完成了训练阶段，准备开始finetune，但是发现finetune无法训起来，finetune脚本：
python train_pair.py  \
        --model=ResNet50 \
        --train_batch_size=160 \
        --test_batch_size=50 \
        --lr=0.0001 \
        --total_iter_num=100000 \
        --use_gpu=True \
        --pretrained_model=model_save/ResNet50/30000 \
        --model_save_dir=finetune_output \
        --loss_name=eml \
        --sam

[2020-08-11 07:02] ceci3 commented on #4800
保存的时候是怎么保存的？用pickle.load()加载进来参数看看key 有没有_generated_var_0

[2020-08-11 07:12] ceci3 commented on #4799
2020-08-11 11:37:03,045-WARNING: ./save_models/step_4801/.pdparams not found, try to load model file saved with [ save_params, save_persistables, save_vars ]

好像是参数都没有正常加载进来，导致保存的时候没有初始化。检查下你要加载的路径是否正确。

[2020-08-11 07:17] endy-see commented on #4800
train_elem.py中保存模型如下：
![image](https://user-images.githubusercontent.com/13143336/89868445-64998d80-dbe5-11ea-81f2-8830fa542217.png)
保存的模型形式如下：
![image](https://user-images.githubusercontent.com/13143336/89868576-9ad70d00-dbe5-11ea-8f01-fabbac0117ec.png)
请问怎么用pickle.load()？我的训练过程完全按照README里面写的步骤，没有刻意修改模型的存储方式

[2020-08-11 07:58] sandyhouse commented on #4797
数据shape不匹配，可以参考https://stackoverflow.com/questions/43977463/valueerror-could-not-broadcast-input-array-from-shape-224-224-3-into-shape-2

[2020-08-11 07:58] sandyhouse commented on #4796
数据shape不匹配，可以参考https://stackoverflow.com/questions/43977463/valueerror-could-not-broadcast-input-array-from-shape-224-224-3-into-shape-2

[2020-08-11 08:00] sandyhouse commented on #4798
您的反馈已收到，感谢您对飞桨的关注。我们将考虑您的建议，如果后续有支持的话会回复本issue。

[2020-08-11 08:01] sandyhouse commented on #4795
您的反馈已收到，感谢您对飞桨的关注。我们将考虑您的建议，如果后续有支持的话会回复本issue。

[2020-08-11 09:21] zky001 commented on #4796
并未解决  是paddle data reader的问题

[2020-08-11 09:21] zky001 commented on #4796
数据读取的生成器的小bug

[2020-08-11 09:34] sandyhouse commented on #4796
请提供最小可复现代码，我本地复现看一看。

[2020-08-11 10:01] zky001 commented on #4796
就是https://github.com/PaddlePaddle/models/tree/release/1.8/PaddleCV/metric_learning 下的train_elem.py文件  传的内容都是正常的  训练开始也没问题   有时候就正常全部训练完  有时候几千轮就报错

[2020-08-11 12:02] zky001 commented on #4796
最小复现代码也需要十几个文件

[2020-08-11 13:01] littletomatodonkey commented on #4796
你好，你是改了什么内容吗？这个报错行数看着和repo里的代码对应行数的内容不一致，你可以试下224的image shape训练下，或者你可以根据自己的loss形式，在yield前面判断下数据shape是否符合要求，不符合的话就跳过，符合的才做yield，以arcmargin为例，可以在这之前添加image shape的判断

https://github.com/PaddlePaddle/models/blob/b87761f8100a545e0015046dd55d886ce90c190e/PaddleCV/metric_learning/reader.py#L145

[2020-08-11 13:33] weiexcelpro commented on #4798
我是AIStudio的PM靳伟. 这个建议很好, 但镜像是固定的, 众口难调. 我们刚刚根据用户的需求, 将GCC升级到7.5. CMake升级到3.18.
这个更高级的解决方案我们还在探讨中. 请稍候.

[2020-08-12 04:47] ceci3 commented on #4800
@littletomato

[2020-08-12 05:36] zky001 commented on #4796
我是softmax

[2020-08-12 05:36] #4796 closed, assigned to nobody

[2020-08-12 16:47] jakeju92 opened #4801 "[PointNet++] Group point op 注释有问题"
Hi,

我发现在pointnet++中的custom op group point，有一个小问题，在python wrapper中[line](https://github.com/PaddlePaddle/models/blob/b87761f8100a545e0015046dd55d886ce90c190e/PaddleCV/3d_vision/PointNet%2B%2B/ext_op/pointnet_lib.py#L237)，和在[c++代码](https://github.com/PaddlePaddle/models/blob/b87761f8100a545e0015046dd55d886ce90c190e/PaddleCV/3d_vision/PointNet%2B%2B/ext_op/src/group_points_op.cc#L35)中的input和output t

[2020-08-16 10:26] hlzonWang opened #4802 "AI Studio环境CUDA出错"
训练的模型是SimNet，无任何改动，报下面错误

ExternalError:  Cuda error(38), no CUDA-capable device is detected.
  [Advise: This indicates that no CUDA-capable devices were detected by the installed CUDA driver. ] at (/paddle/paddle/fluid/platform/gpu_info.cc:65)

[2020-08-16 11:52] xiaolifeimianbao opened #4803 "DCGAN的自定义数据集应该做成什么样的格式"

[2020-08-17 00:37] huilin16 opened #4804 "[论文复现]请问paddle.dygraph应该如何可视化"
请问是否有类似pytorch中print(model)类似的，打印模型各层的输出方法；或者像tensorboard，graphviz一样图形化模型的方法

[2020-08-17 05:07] elevenofji opened #4805 "dygraph动态图模型中中seq2seq任务的数据读取部分的问题"
models/dygraph/seq2seq/reader.py的第207行
` if len(b_src) == batch_size * cache_num or mode == 'infer':`
是否应该为：
` if len(b_src) <= batch_size * cache_num or mode == 'infer':`
否则数据最后不满足bsz大小的部分将无法被读取

[2020-08-17 07:08] MRXLT commented on #4802
你好，看报错信息应该与机器环境有关，请检查一下机器上是否有nvidia gpu以及显卡驱动是否正常

[2020-08-17 07:12] MRXLT commented on #4803
你好，models中的DCGAN使用的是MNIST的数据集，可以参考MNIST的数据集格式进行自定义数据集的准备
![image](https://user-images.githubusercontent.com/16594411/90368012-00bb0d00-e09c-11ea-9eed-22f10b6fa830.png)
https://github.com/PaddlePaddle/models/tree/release/1.7/PaddleCV/gan

[2020-08-17 10:39] xiaolifeimianbao commented on #4803
但下载的mnist数据都是二进制文件，看不出格式

[2020-08-18 01:15] #4802 closed, assigned to nobody

[2020-08-18 01:24] hlzonWang opened #4806 "Bert fp16 加载checkpoint出错"
models/nlp/pretrain中的静态图Bert，fp16训练后读取检查点，报opt文件中找不到[word_embededing_master]的错误，这与模型readme.md中支持混合精度训练的描述不符。

[2020-08-18 02:33] lijianshe02 commented on #4804
可以用Netron可视化模型

[2020-08-18 09:38] AIpioneer commented on #4804
静态图可以试一下paddle的visual dl工具。动态图的支持敬请期待。

[2020-08-18 10:04] endy-see opened #4807 "metric learning中的eml loss指的是什么loss？"
请问metric learning中的eml loss指的是什么loss？有对应的论文推荐嘛？

[2020-08-18 11:00] shippingwang commented on #4807
一个代价损失函数，用来进行微调～可以google看下相关文章～

[2020-08-19 00:03] endy-see commented on #4807
eml是指Estimated Maximum Loss 这个嘛？

[2020-08-19 12:01] littletomatodonkey commented on #4807
你好，eml loss是这篇论文：[Large Scale Strongly Supervised Ensemble Metric Learning, with Applications to Face Verification and Retrieval](https://arxiv.org/pdf/1212.6094.pdf)

repo里面也有参考文献的~https://github.com/PaddlePaddle/models/blob/release%2F1.8/PaddleCV/metric_learning/README_cn.md

[2020-08-19 12:04] endy-see commented on #4807
多谢！

[2020-08-19 12:04] #4807 closed, assigned to shippingwang

[2020-08-20 12:20] ceci3 commented on #4803
MNIST的格式应该就是一张图片，一个label。DCGAN的数据应该是需要一个txt，txt的格式是：
`image_name1  label1`这种格式，然后需要自己写读图片的部分，可以参考 https://github.com/PaddlePaddle/models/blob/release/1.7/PaddleCV/gan/data_reader.py#L73 这个读取流程

[2020-08-21 05:21] ghost opened #4810 "加载roberta模型进行二次预训练, 但未能成功加载参数"
已解决

[2020-08-21 05:56] #4810 closed, assigned to nobody

[2020-08-25 03:02] xbc0112 opened #4812 "怎么使用LAC扩展实体识别标签"
请问对于特定领域的命名实体识别任务，怎么训练模型使其针对人名地名机构名时间之外的类别标签呢？尝试修改了tag.dic和训练数据进行非增量的训练，但是模型训练的时候P/R/F1一直是0。

[2020-08-25 03:15] xiaojiangsi opened #4813 "预测的时候出现问题"
RuntimeError: Variable's shape does not match, the Program requires a parameter with the shape of ((1833, 100)), while the loaded parameter (namely [ word_emb ]) has a shape of  ((20941, 128)).
自行建立了一个字典共1833个键值对，后来预测的时候出现这样的问题

[2020-08-25 03:54] xiaojiangsi commented on #4812
我估计是你没有改掉test数据，test的数据要和你的训练数据匹配

[2020-08-26 01:48] mmglove commented on #4813
您好，请问使用的哪个模型呢？如果是PaddleRec下的模型请使用最新的repo  https://github.com/PaddlePaddle/PaddleRec

[2020-08-26 03:44] lale314 opened #4814 "训练nextvlad模型，Hit@1不会变化"
用models/PaddleCV/video/里的代码和youtube8m数据集训练nextvlad模型，为啥Hit@1上不去？

[INFO: metrics_util.py:   79]: [TRAIN 2020-08-26 07:54:35] Epoch 10, iter 41910, time 0.24196863174438477,  , loss = 2.364186, Hit@1 = 0.08, PERR = 0.88, GAP = 0.93
[INFO: metrics_util.py:   79]: [TRAIN 2020-08-26 07:54:37] Epoch 10, iter 41920, time 0.23306751251220703,  , loss = 2.527951, Hit@1 = 0.05, PERR = 0.91, GAP = 0.93
[INF

[2020-08-26 08:33] LielinJiang commented on #4812
请问LAC扩展实体识别标签是输入哪个模型的？

[2020-08-26 08:38] LielinJiang commented on #4813
看着像模型中的embedding的参数和载入的参数shape不一致

[2020-08-26 08:43] zhenzi0322 opened #4816 "AssertionError: Can not find [conv2d_8.w_0] in model file [models/model_02000.pdparams]"
采用Flask做成api调用的形式，第一次能识别成功，第二次就失败了

[2020-08-26 14:04] xbc0112 commented on #4812
啊问题解决了，之前出错的原因是数据格式有点问题，分隔符改成‘\x02’就好了。

[2020-08-27 03:46] learner321 opened #4818 "resnet50单卡训练参数"
Hi，我们目前正在用paddle做一些测试，请问可以提供单卡收敛的参数设置参考吗？我们在测试的时候发现在中途30几个epoch的时候会出现梯度爆炸的情况，loss变大
我们需要测试如下网络：resnet50，数据集: imagenet，epoch=90，mixup=false，单卡

谢谢 :)

[2020-08-27 08:21] GaoWei8 commented on #4818
你好，请问下是使用cpu还是GPU进行训练呢？

[2020-08-27 09:00] learner321 commented on #4818
GPU训练，我看上面的Demo给出的4卡+ mixup+ labelsmoothing的  请问有单卡使用单精度的参数设置参考吗

[2020-08-27 09:21] GaoWei8 commented on #4818
learning_rate调小一点呢？ 能解决梯度问题吗

[2020-08-27 09:23] learner321 commented on #4818
想看下你们那边有没有单卡能收敛的参数 要是有的话 我们就直接验证下了 哈哈

[2020-08-27 09:30] shippingwang commented on #4818
参考 https://github.com/PaddlePaddle/PaddleClas

[2020-08-27 10:05] tangjie010101 commented on #4799
遇到同样的问题，确认不是加载路径错误问题，Load model from ./save_models/step_4801/ 执行到这一步说明模型已经加载初始化了

[2020-08-27 10:38] zhiqiu commented on #4816
hi，你可以检查下这个文件路径是否还存在

[2020-08-27 12:33] huangjun12 commented on #4814
请修改PaddleCV/video/metrics/youtube8m/eval_util.py第40行
https://github.com/PaddlePaddle/models/blob/b87761f8100a545e0015046dd55d886ce90c190e/PaddleCV/video/metrics/youtube8m/eval_util.py#L40
为
hits = actuals[numpy.arange(actuals.shape[0]), top_prediction]

[2020-08-27 12:48] starsblinking opened #4820 "请问为什么这么写auc会是0.5呀"
两种写法，第一种auc正常，可以训练到0.9+；第二种auc自始自终都是0.5，求解原因啊

第一种(auc正常)：
binary_predict = fluid.layers.fc(
            input=fc3,
            size=2,
            act="softmax",
            param_attr=fluid.ParamAttr(initializer=fluid.initializer.Normal(
                scale=1 / math.sqrt(fc3.shape[1]))),
        )
cost = fluid.layers.cross_entropy(input=binary_predict, label=inputs[1])
avg_cost = fluid.layers.

[2020-08-28 01:50] GaoWei8 commented on #4820
cost = fluid.layers.log_loss(input=predict, label=cast_label)
log_loss op为什么要组进来？

[2020-08-28 02:27] starsblinking commented on #4820
用来算损失函数啊

[2020-08-28 06:44] GaoWei8 commented on #4820
引入log是因为softmax的计算中有用log保证计算不溢出吗？这里使用log_loss不确定是否与第一种网络等价。
可以查看下训练过程中的梯度变化情况是否相同。

[2020-08-28 10:50] starsblinking commented on #4820
我到PaddlePaddle/paddle下提问了

[2020-08-28 10:50] #4820 closed, assigned to nobody

[2020-08-31 03:06] mcl-stone opened #4821 "度量学习 预测时结果每次不一样"
按照度量学习的教程训练完后，进行预测，输入的图片没有改变过，只执行预测脚本，发现每次预测的结果不一样
![QQ图片20200831110611](https://user-images.githubusercontent.com/62418900/91679126-03c4fb80-eb7a-11ea-9721-40df97b8b8fe.png)
![QQ图片20200831110620](https://user-images.githubusercontent.com/62418900/91679132-06275580-eb7a-11ea-945c-13579184c659.png)
求解答

[2020-08-31 08:01] liym27 commented on #4821
请问是否没有固定初始化参数

[2020-08-31 10:32] wjwalpha opened #4823 "多元回归"
我想写一个多元回归，输入是8个特征，输出也是8维度
`
X = fluid.data(name='X', shape=[None, 8], dtype='float32')
Y = fluid.data(name='Y', shape=[None, 8], dtype='float32')

h1 = fluid.layers.fc(input=X, size=100, act='tanh')
h2 = fluid.layers.fc(input=h1, size=100, act='tanh')
h3 = fluid.layers.fc(input=h2, size=100, act='tanh')
pred = fluid.layers.fc(input=h3, size=8, act='tanh')

cost = fluid.layers.cross_entropy(input=p

[2020-08-31 11:22] #4823 closed, assigned to nobody

[2020-08-31 16:34] JixuH opened #4825 "预训练模型加载问题"
https://paddle-imagenet-models-name.bj.bcebos.com/VGG19_pretrained.tar
这个预训练模型下载出来后的文件名和我 `var.name` 出来的文件名不一样，加载不进去，一直在报错，后来去找了模型库里的VGG19的代码（看到SPADE那个模型是用的 `load_vars`，我拿过来用，读出来的变量就不一致），加载也是报错，我几个load都试过了，从我的代码中读出的变量文件都带有后缀，和预训练模型不一样
，请问应该用哪个api来加载这个形式的VGG19的预训练模型呢
![image](https://user-images.githubusercontent.com/48123846/91743248-1b3bcd00-ebea-11ea-9c98-72680da57e61.png)

[2020-09-01 01:28] mcl-stone commented on #4821
哪里固定初始化参数？https://www.paddlepaddle.org.cn/modelbasedetail/metriclearning
我是完全按照这个教程来走的，就是在预测时更改了下预测哪些文件，发现预测相同的图片，多次执行结果不一样。

[2020-09-01 01:44] StetchPlane opened #4826 "关于HAMBox(face detector)"
请问HAMBox还会如论文中说的开源吗?

[2020-09-01 06:34] littletomatodonkey commented on #4821
需要指定`pretrained_model `这个参数，在下面这个地方会加载这个预训练模型

https://github.com/PaddlePaddle/models/blob/b87761f8100a545e0015046dd55d886ce90c190e/PaddleCV/metric_learning/infer.py#L77

[2020-09-01 07:03] littletomatodonkey commented on #4825
看着像是你这个vgg19定义的方式和Paddle官网提供的方式不一样，要不参考一下这个官网实现的方式呢？
https://github.com/PaddlePaddle/PaddleClas/blob/master/ppcls/modeling/architectures/vgg.py

[2020-09-01 09:07] mcl-stone commented on #4821
python3 infer.py --model=ResNet50 --batch_size=1 --pretrained_model="/mnt/model/metricLearing/ResNet50/50000"
这个是指定了的，后面的内容就是按照前面的训练方法训练出来的

[2020-09-02 02:59] qingqing01 commented on #4826
@StetchPlane 感谢关注，还在准备中，后续会开源。

[2020-09-03 01:00] mcl-stone commented on #4821
请问这个正常吗？按照教程训练并使用的

[2020-09-03 03:12] kyuer opened #4833 "已解决"

[2020-09-03 07:29] #4833 closed, assigned to nobody

[2020-09-04 04:25] hdyzhuxun opened #4835 "开启lac 不成功"
`AttributeError: module 'paddle.fluid.core_avx' has no attribute 'is_compiled_with_ngraph'`
py是3.7 其他的hub 都是最新。但进行hub install lac==2.2.0  时就是不成功

[2020-09-07 02:53] zhangting2020 commented on #4835
问题描述里这个错误，是在安装了lac后出现的？没有装lac时正常吗？
`AttributeError: module 'paddle.fluid.core_avx' has no attribute 'is_compiled_with_ngraph'`

[2020-09-07 09:45] hdyzhuxun commented on #4835
是的，我先用了一次 别人写的七夕生成情话，把CMD关掉后。另行起API就不可以了。重启电脑也不可以。最后我卸载掉重新安装了一遍才行。我应该关掉了CMD窗口 端口号会自动断开的吧？所以有点困惑

[2020-09-07 12:02] sandyhouse commented on #4797
Closing this Issue. Feel free to reopen it if you have any further question.

[2020-09-07 12:02] #4797 closed, assigned to nobody

[2020-09-08 01:27] zhudibo opened #4839 "静态图单机多卡训练"
请教大佬，静态图训练时如何进行单机多卡训练。

[2020-09-08 02:58] zjutlzt opened #4840 "训练小尺寸的分类,比如 3,32,32 这种小图片,程序是否会出错,"
训练小尺寸的分类,比如  3,32,32  这种小图片,程序是否会出错,
因为我看默认的 crop是 224  不知道在哪里修改或者说 要是训练3.32.32的分类器(小于224) 是不是有一些参数是要修改的 ?
因为我按照默认参数训练了一次是不成功的

[2020-09-09 07:21] ForFishes commented on #4839
参考：https://github.com/PaddlePaddle/FleetX
可以讲单卡程序改成多卡程序。

[2020-09-09 07:34] ForFishes commented on #4840
裁剪的代码在这个位置
https://github.com/PaddlePaddle/models/blob/d27cfec8f4033fc72890cd051eef52d593af66ba/PaddleCV/image_classification/reader.py#L55
模型的输入大小也需要修改：
https://github.com/PaddlePaddle/models/blob/1bf7264771fb30b588c426e9c153f9b643256971/PaddleCV/image_classification/legacy/models/resnet.py#L24

[2020-09-09 07:36] zjutlzt commented on #4840
谢了

[2020-09-09 07:36] #4840 closed, assigned to nobody

[2020-09-09 07:41] zhudibo commented on #4839
好的，谢谢大佬

---原始邮件---
发件人: "ShenLiang"<notifications@github.com&gt;
发送时间: 2020年9月9日(周三) 下午3:21
收件人: "PaddlePaddle/models"<models@noreply.github.com&gt;;
抄送: "zhudibo"<1020286694@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/models] 静态图单机多卡训练 (#4839)

参考：https://github.com/PaddlePaddle/FleetX
 可以讲单卡程序改成多卡程序。

—
You are receiving this because you authored the thread.
Reply t

[2020-09-09 07:58] KaiyuanGao opened #4841 "paddleNLP下情感分析模型infer报错"
使用下载的ernie_bilstm模型执行save_inference_model报错，

![image](https://user-images.githubusercontent.com/33422503/92571120-4c389380-f2b5-11ea-84d6-776d8e2c8e0d.png)

与[#4799](https://github.com/PaddlePaddle/models/issues/4799) 问题相同，在[#4799](https://github.com/PaddlePaddle/models/issues/4799) 下未找到解决方案。麻烦看一下是否bug

[2020-09-09 08:23] chaogehah opened #4842 "image classfication里的可视化问题"
请问一下如何在训练过程中使其acc和loss可视化。

请问有自带的吗？

如果没有的话，能不能给一个visualdl的教程，谢谢

[2020-09-10 03:43] Twinkle123321 opened #4844 "PaddleNLP/sentiment_classification中senta_data中word_dict.txt如何生成"
![图片](https://user-images.githubusercontent.com/32992310/92679193-56609d80-f35a-11ea-931e-b420f15915e9.png)
你好，想问一下senta_data中word_dict.txt是如何生成，我的理解是每个训练集都要有自己配套的word_dict.txt，但是我这里用自己的训练集分词后，求集合，生成word_dict.txt，一直显示维度问题，因为nets中的embedding_size只能小于34907？被这个问题困扰了好久，之前一直是删词，删到小于34907为止
期待回复，谢谢！

[2020-09-10 09:28] littletomatodonkey commented on #4842
可以使用VisualDL，可以参考PaddleClas中的用法，设置该参数为true即可（但是需要保证使用的试python3，因为visualdl目前只支持python3）：

https://github.com/PaddlePaddle/PaddleClas/blob/04f801260224b618511366d5aaa5f7bd2e0959f1/tools/train.py#L43

[2020-09-10 09:59] lidanqing-vv commented on #4746
Solved

[2020-09-10 09:59] #4746 closed, assigned to luotao1, juncaipeng

[2020-09-10 10:58] chaogehah commented on #4842
好的谢谢，还有一个问题，paddle里有自带可以画ROC曲线的工具吗？
如果我想画一个ROC曲线的话该怎么操作呢

[2020-09-10 11:12] littletomatodonkey commented on #4842
你好，目前应该没有这样的工具，你可以先将所有图片的预测结果存储在文本中，然后和真值进行比对，绘制ROC曲线~

[2020-09-10 11:14] chaogehah commented on #4842
好的谢谢，请问多分类的ROC曲线有参考案例吗

[2020-09-11 02:49] thailand88 opened #4845 "请教一下：在Aistudio中通过Paddlehub Finetune一个模型，将Model文件下载到了本地，如何调用它进行预测"
请教一下：在Aistudio中通过Paddlehub Finetune一个模型，将Model文件下载到了本地，如何调用它进行预测
有没有示例代码，麻烦发一个，谢谢了。

[2020-09-11 03:50] Twinkle123321 commented on #4844
再次训练时，由于已有保存文件的路径（CKPT_PATH）中存在之前训练好的模型，如果该路径不为空，会在该路径下加载原来的模型继续训练，也就是34907是模型加载的上一次训练好的模型的vocab_size大小

解决方法：run.sh中的CKPT_PATH文件为空或run.py中的args.init_checkpoint参数注释掉

[2020-09-11 03:50] #4844 closed, assigned to nobody

[2020-09-11 06:12] baiyfbupt commented on #4845
如果你保存的仅仅是一个pretrain weight，需要先定义好模型，再加载pretrain weight进行预测。可以参照这个代码 https://github.com/PaddlePaddle/models/blob/release/1.8/PaddleCV/image_classification/eval.py
如果你保存的是Inference model，可以直接load_inference_model后进行预测，可以参照这个代码:
https://github.com/PaddlePaddle/models/blob/0f38ae13033b4a16559cfc72445ac3ae4953a1cb/PaddleRec/dssm/infer.py

[2020-09-11 08:11] thailand88 commented on #4845
=====================
部分代码如下：
config = hub.RunConfig(
    use_cuda=True,
    #use_cuda=False,
    num_epoch=10,
    checkpoint_dir="cv_finetune_turtorial_demo1",
    batch_size=32,
    eval_interval=20,
    strategy=hub.finetune.strategy.DefaultFinetuneStrategy())

# Define a reading comprehension finetune task by PaddleHub's API
task = hub.ImageClassifierTask(
    data_reader=data_reader,
    fee

[2020-09-11 08:27] LeeYongchao opened #4846 "请问使用LAC分词，怎么返回词语在原句子中的位置信息？（tokenize）"
例如在jieba分词中可以这么用：
jieba.tokenize(u'永和服装饰品有限公司', mode='search')

word 永和                start: 0                end:2
word 服装                start: 2                end:4
word 饰品                start: 4                end:6
word 有限                start: 6                end:8
word 公司                start: 8                end:10
word 有限公司            start: 6                end:10

请问LAC中有没有这种接口？如果没

[2020-09-11 08:58] baiyfbupt commented on #4845
其中含有__model__文件，用load_inference_model的方法加载吧

[2020-09-11 12:48] Twinkle123321 opened #4848 "PaddleNLP/shared_modules/preprocess/tokenizer.py句子过长无法分词？"
![图片](https://user-images.githubusercontent.com/32992310/92926854-41296300-f46f-11ea-9a25-7657d88366c4.png)
![图片](https://user-images.githubusercontent.com/32992310/92927244-e6dcd200-f46f-11ea-84f0-9077f06c0ecb.png)
请问，这里单独可以对string分词，当内容过长时，将该内容放到文件进行读取，部分内容无法进行分词，这是咋回事呢
期待回复，谢谢！

[2020-09-11 13:06] arlesniak opened #4849 "Can you add flowers dataset to DyGraph Mobilenet training?"
We were trying to run CPU training of DyGraph Mobilenet using the default Imagenet dataset but it takes a lot of time. Do you think it's possible that you could add smaller flowers dataset as an option just like it's already done in DyGraph Resnet model ?

[2020-09-14 02:13] peterzsj6 opened #4852 "models/PaddleNLP/seq2seq/seq2seq/base_model.py /里的base class 里的 def embedding 可能拼错了。"
class BaseModel(object):
    def __init__(self,
                 hidden_size,
                 src_vocab_size,
                 tar_vocab_size,
                 batch_size,
                 num_layers=1,
                 init_scale=0.1,
                 dropout=None,
                 beam_start_token=1,
                 beam_end_token=2,
                 beam_max_step_num=100):

        self.hidde

[2020-09-14 02:14] peterzsj6 commented on #4852
as mentioned above, def _emebdding function at the very end.

[2020-09-14 03:03] guoshengCS commented on #4846
当前没有这种接口，使用LAC的进行预测有类似如下的结果，应该也能够满足需求

[code]

另外jieba分词现在也集成了Paddle的LAC分词功能，参见 https://github.com/fxsjy/jieba#特点

[2020-09-14 03:17] guoshengCS commented on #4848
这个可以试下LAC中的模型 https://github.com/PaddlePaddle/models/tree/release/1.8/PaddleNLP/lexical_analysis

另外对于一个文本片段本身及其在一个完整句子的两种分词结果的一致性可能也确实不太好保证

[2020-09-14 05:25] Twinkle123321 commented on #4848
LAC能解决这种问题吗？

[2020-09-14 09:49] shippingwang commented on #4849
Flower dataset is already supported in PaddleClas repo. Please refer to https://github.com/PaddlePaddle/PaddleClas . We won't maintain the models/paddlecv/image_classification any more

[2020-09-14 12:26] Aurelius84 commented on #4852
非常感谢您的反馈，我们会修复这个问题。

[2020-09-14 13:51] luotao1 commented on #4849
@arlesniak @lidanqing-intel You can create a new issue in PaddleClas repo. @littletomatodonkey test MobileNetV3 on flowers dataset, and its final accuracy is 0.88~0.90

[2020-09-16 09:12] igfuns opened #4855 "ppl去掉两行注释代码后计算为负值"
语言模型的IPython Notebook：https://aistudio.baidu.com/aistudio/projectDetail/122290
提到
![image](https://user-images.githubusercontent.com/68889682/93316254-8d452080-f83e-11ea-9b14-a669318a6f7a.png)
句子无关联后，把代码注释
init_hidden = np.array(fetch_outs[1])
init_cell = np.array(fetch_outs[2])
注释后重新训练，再infer.py时，算出来是
ppl: -3059.441162109375。
这是正常的么？
之前的ppl:
![image](https://user-images.githubusercontent.com/6888

[2020-09-16 09:14] igfuns commented on #2899
https://aistudio.baidu.com/aistudio/projectDetail/122290 ipython的infer.py 有参考实现。

[2020-09-16 12:11] duanyaohui opened #4857 "image_classfication中多卡训练报错"
您好，我在使用老版本的图像分类时，使用python -m paddle.distributed.launch调用train.py时提示如图错误，请问这是什么原因啊？老版本支持多卡训练吗？
![image](https://user-images.githubusercontent.com/38464417/93335312-ce4a2e80-f858-11ea-82c6-8af3e9ca2c9b.png)

[2020-09-17 04:54] #4839 closed, assigned to nobody

[2020-09-17 08:00] igfuns commented on #4855
操作失误，注释错代码。

[2020-09-17 08:00] #4855 closed, assigned to nobody

[2020-09-17 08:01] igfuns commented on #4855
注释错代码了。囧

[2020-09-18 03:30] a2824256 opened #4859 "PaddleCV/human_pose_estimation test.py代码中的一些问题"
操作系统: win10
python版本: 3.6.10
问题文件: https://github.com/PaddlePaddle/models/blob/release/1.8/PaddleCV/human_pose_estimation/lib/mpii_reader.py
问题描述:
human_pose_estimation使用mpii数据集test的时候一直没有运行结果。在问题文件186行
`fold = ‘test’`
修改为
`fold = cfg.DATAROOT + '/' + cfg.IMAGEDIR + '/test'`
之后可以运行，因为下一行os.listdir(fold)读取的路径不对，一直没读取到文件。

[2020-09-18 05:22] wangxicoding commented on #4859
感谢反馈。方便提个PR吗，我叫相关负责人review下

[2020-09-18 06:29] a2824256 commented on #4859
好的

[2020-09-18 06:29] #4859 closed, assigned to nobody

[2020-09-18 07:09] a2824256 commented on #4859
pr已提交
https://github.com/PaddlePaddle/models/pull/4860

[2020-09-18 09:15] lfchener commented on #4857
请问老版本是哪个版本呢？有具体的链接吗？

[2020-09-20 03:24] #2899 closed, assigned to guoshengCS, phlrain

[2020-09-21 04:14] LeeYongchao opened #4863 "从字符串，直接进行推理问题"
官方使用run_ernie_sequence_labeling.py 文件进行推理，发现推理过程是从硬盘读取数据，并封装成数据迭代器实现的，
请问有没有 可以直接从内存上把字符串接过来，直接进行推理呢？

我在内存中的字符串是列表格式的 ['字符串1' ,'字符串2', '字符串3']， 想直接进行推理，分词并返回词性标注，

谢谢！！

[2020-09-22 07:03] gongweibao commented on #4863
内存的数据是从哪里来的？
如果需要，可以使用paddle serving 直接使用rpc进行推理。

[2020-09-22 07:03] #4863 closed, assigned to nobody

[2020-09-22 18:53] duanyaohui commented on #4857
https://github.com/PaddlePaddle/models/tree/release/1.8/PaddleCV/image_classification 就是没有放到paddleClas里的 @lfchener

[2020-09-23 09:17] TerryBryant commented on #4698
@huangjun12 这个代码还没更新呢，我今天跑又报错了。。

[2020-09-24 06:58] wangxiaoran1995 commented on #4780
我用两张相同的图片计算出来的result  https://github.com/PaddlePaddle/models/blob/93c4daa4c8a9cbe52a6f39d7bf3ae4f9ef835f7a/PaddleCV/metric_learning/infer.py#L89  然后调用recall_topk函数https://github.com/PaddlePaddle/models/blob/93c4daa4c8a9cbe52a6f39d7bf3ae4f9ef835f7a/PaddleCV/metric_learning/utility.py#L152，最大值才是0.58，有时候还是0. 。

[2020-09-24 07:42] xiaoran-xr commented on #4780
如果自己构造一个人脸搜索的话，是不是还需要准备人脸的样本，然后标记出来特征，用这个代码训练？

[2020-09-24 09:30] xiaoran-xr commented on #4564
你现在训练好人脸了吗，我这儿调用两张图片，非常不相关的两张图片，用代码那个欧式距离计算出来的是0

[2020-09-24 11:30] upenggod opened #4881 "BMN模型推理出现错误"
使用BMN模型推理动作识别，输入命令后出现错误
python predict.py --model_name=BMN --config=./configs/bmn.yaml --log_interval=1 --weights=./models/bmn/BMN.pdparams --filelist=./data/dataset/bmn/infer.list --use_gpu=False
出现错误提示：
Optimizer file [./models/bmn/BMN.pdopt] not exits。
请问是怎么回事？

[2020-09-25 00:32] chaojiewang94 opened #4884 "测试阶段　从dataloader读入数据和直接feed，结果不一致"
训练阶段，用的dataloader读入数据，模型存储

测试阶段，导入模型，dataloader读入数据测试正常，但直接feed array形式的数据，结果不一致，想问下是什么原因？

还有同时加载两个模型，有没有样例

[2020-09-25 03:25] peterzsj6 opened #4885 "Seq2Seq 案例里的 Basemodel class BaseModel(object): 里的_build_data里面的label是啥意思啊"
class BaseModel(object):
    def __init__(self,
                 hidden_size,
                 src_vocab_size,
                 tar_vocab_size,
                 batch_size,
                 num_layers=1,
                 init_scale=0.1,
                 dropout=None,
                 beam_start_token=1,
                 beam_end_token=2,
                 beam_max_step_num=100):

        self.hidde

[2020-09-25 06:03] mmglove commented on #4524
您好,该问题已在PaddleRec  独立repo 中进行修复，请前往使用，https://github.com/PaddlePaddle/PaddleRec/tree/master/models/contentunderstanding/tagspace ；且models/PaddleRec相关模型已经移动到独立repo，故关闭该issues，有问题请到独立repo进行提问

[2020-09-25 06:04] #4524 closed, assigned to frankwhzhang

[2020-09-28 08:32] yy2yy opened #4890 "TSM 模型对视频分类时，如何传入一个文件夹路径"

[2020-09-28 09:05] #4890 closed, assigned to nobody

[2020-09-28 09:13] huangjun12 commented on #4881
weights=./models/bmn/BMN 不用写pdparams后缀

[2020-09-28 10:51] seiriosPlus commented on #4885
可以参考 飞桨数据层配置(https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/data_preparing/static_mode/feeding_data.html)

[2020-09-29 03:24] Adrian-Yan16 opened #4891 "paddleNLP lexical_analysis的使用问题"

[2020-09-29 04:21] Sqhttwl opened #4892 "3d_vision"
我在用3d_vision的PointRCNN模型时，编译出现错误。请问是什么原因。
报错截图方便发到你们的邮箱里吗

[2020-09-30 03:30] Adrian-Yan16 opened #4894 "run_ernie.sh infer 进行预测，数据格式问题"
训练了模型之后，`bash run_ernie.sh infer` 进行预测，预测的数据格式不应该是未标注的数据吗？你这里为什么只能用标注过的数据做预测
[code]
用未标注过的语料训练就报错

[2020-09-30 03:30] Adrian-Yan16 commented on #4891
这里要用bash run.sh train_single_gpu来运行

[2020-10-03 02:41] chengmengli06 opened #4895 "why deepfm use reduce_sum in loss?"
why deepfm use reduce_sum in loss?  The loss is large, while the model could converge, it is strange.

https://github.com/PaddlePaddle/models/blob/release/1.8/PaddleRec/ctr/deepfm_dygraph/train.py#L108

[2020-10-03 23:41] hutuxian commented on #4895
Generally speaking, both `reduce_sum` and `reduce_mean` are OK, because you can tune the learning-rate (a multipler of batch_size) to make them same.

[2020-10-04 15:44] chengmengli06 commented on #4895
It should be the same, but when I change it to reduce_mean, the auc drops by 1 percent to 0.793, so what happened? tune learning-rate does not improve. Adam is not sensitive to scale of gradients.

[2020-10-08 14:51] hutuxian commented on #4895
Sorry for late reply. For normal SGD it is the same, that't why i say `Generally speaking`. For Adam, i think other hyper-parameter should be tuned if you change the network.

[2020-10-08 16:26] seiriosPlus commented on #4884
dataloader 有个 iterable=True的属性，等价于feed array， 可以尝试是否一致.

2. 同时加载两个模型可以描述一下需求吗？ paddle是可以同时加载两个模型的

[2020-10-08 19:45] JohannesTK commented on #4826
+1

[2020-10-09 06:39] Xreki commented on #4894
请问具体报什么错误啊？

[2020-10-09 08:15] Adrian-Yan16 commented on #4894
要预测的数据是标注的数据，而不是生的数据

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: Yiqun Liu<mailto:notifications@github.com>
发送时间: 2020年10月9日 14:39
收件人: PaddlePaddle/models<mailto:models@noreply.github.com>
抄送: Adrian-Yan16<mailto:Adrian-Yan2329@outlook.com>; Author<mailto:author@noreply.github.com>
主题: Re: [PaddlePaddle/models] run_ernie.sh infer 进行预测，数据格式问题 (#4894)

请问具体报什么错误啊？

―

[2020-10-10 01:10] huit3826 opened #4896 "The pretrained params do not exist，没找到可以直接用的checkpoint/step_final，不训练不可以直接用模型吗？"
The pretrained params do not exist，没找到可以直接用的checkpoint/step_final，不训练不可以直接用模型吗？

[2020-10-10 07:10] peterzsj6 opened #4898 "language model 里面的模型定义文件怎么找不到"
.
├── README.md            # 文档
├── run.sh               # 启动脚本
├── train.py             # 训练代码
├── reader.py            # 数据读取
├── args.py              # 参数读取
└── data                 # 数据下载
../
└── models
    └── language_model
        └── lm_model.py  # 模型定义文件

如上所示的位置并没有找到这个文件

[2020-10-12 02:17] lijianshe02 commented on #4896
check你的代码中是否有load weight的过程，若是从头训练，不需要load weight

[2020-10-12 02:30] lijianshe02 commented on #4898
现在模型定义文件在下面目录：
![image](https://user-images.githubusercontent.com/48898730/95699007-f3726700-0c75-11eb-96d3-da7278860fac.png)

[2020-10-12 09:49] heavengate commented on #4892
issue里可以贴一下报错信息截图，另外可以给一下操作系统，paddle版本，gcc版本这些信息

[2020-10-13 06:06] #4895 closed, assigned to hutuxian

[2020-10-14 09:50] Derek-Kun opened #4906 "将两个用同一预训练网络的模型放在不同线程预测报错"
我训了两个图像分类网络（6分类网络和1000分类网络），骨架网络都是用的ResNet200_vd,我将这两个网络分别放在不同线程运行，
单独运行的时候都没问题，两个线程同时运行就会报错：
![图片](https://user-images.githubusercontent.com/57475881/95972808-785fab00-0e45-11eb-8f23-0c32a3829fc3.png)
![图片](https://user-images.githubusercontent.com/57475881/95972882-90372f00-0e45-11eb-9cc0-98f27069e14c.png)
两个模型用的infer.py代码都一样，只是class_dim和pretraind_model参数不一样，报错的位置是这行代码：
![图片](https://user-images

[2020-10-14 11:24] chenwhql commented on #4906
infer源码方便看下吗

[2020-10-15 03:05] Derek-Kun commented on #4906
infer的源码基本就是改了一下Paddle下image_classification里的infer.py，

from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

import os
import time
import sys

parent_path = os.path.abspath(os.path.join(__file__, *(['..'] * 2)))
if parent_path not in sys.path:
    sys.path.append(parent_path)
import math
import numpy as np
import functools
import re
import l

[2020-10-15 03:08] Derek-Kun commented on #4906
我尝试过把所有变量名都替换然后做成两个infer1.py和infer2.py，因为多线程会共享命名空间我怕会相互干扰，但是还是会报错，我猜应该是我调用的方法里面有些变量命名冲突。我现在的解决办法是把多线程改成多进程就不冲突了，但是这样的话每个进程没法共享全局变量了，只能通过别的方法来控制每个进程

[2020-10-15 04:30] zhangxuanaj opened #4907 "关于main_program和startup_program"
PaddleNLP/emotion_detection/run_classifier.py
178-184行：

        with fluid.program_guard(train_program, startup_prog):
            with fluid.unique_name.guard():
                train_loader, loss, accuracy, num_seqs = create_model(
                    args, num_labels=num_labels, is_prediction=False)

                sgd_optimizer = fluid.optimizer.Adagrad(learning_rate=args.lr)

[2020-10-15 06:10] Aurelius84 commented on #4907
它们指向同一份参数，所以是一样的。`startup_prog`是用来在训练开始阶段，通过调用`exe.run(startup_prog)`来进行参数初始化的。只关注train_program即可

[2020-10-15 08:06] chenwhql commented on #4906
好像没看到多线程控制的代码？要不您把您管理线程的关键代码截一下？

[2020-10-15 12:49] upenggod commented on #4881
Traceback (most recent call last):
  File "predict.py", line 200, in <module>
    infer(args)
  File "predict.py", line 126, in infer
    args.weights), "Given weight dir {} not exist.".format(args.weights)
AssertionError: Given weight dir ./models/bmn/BMN not exist.
不加后缀又提示上面的错误

[2020-10-15 12:50] upenggod commented on #4881
python predict.py --model_name=BMN --config=./configs/bmn.yaml --log_interval=1 --weights=./models/bmn/BMN --filelist=./data/dataset/bmn/infer.list --use_gpu=False

[2020-10-15 12:55] upenggod commented on #4881
python predict.py --model_name=BMN --config=./configs/bmn.yaml --log_interval=1 --use_gpu=False会自动下载BMN.pdparams文件，但还是会提示AssertionError: Optimizer file [C:\Users\25310\.paddle\weights\BMN.pdopt] not exits

[2020-10-16 02:02] peterzsj6 commented on #4898
找到了！谢谢

[2020-10-16 02:02] #4898 closed, assigned to nobody

[2020-10-16 03:06] Derek-Kun commented on #4906
就是定义了两个继承了Threading的类，分别把两个infer.py作为Module import进来，满足一定条件就同时开启两个Threading,我测试的时候把两个Infer的预测时间间隔了3秒(time.sleep(3)就能一切正常运行，同时开启就会报错，所以我猜测可能是因为同时开了两个线程，Paddle自带的一些方法在调用变量的时候，因为变量名在同一片命名空间，会相互错误引用。比方说infer 1 里面的有一个Paddle的方法，a= 30, b = a +10, infer 2 里是a = 20, b = a+10, 如果infer 2 里的a = 20命令插入了infer 1 的a = 30 , b = a +10 之间，  那么infer **1里的b就变成了30，本来b应该等于40被下面的方法调用，现在变成了30，后面的维度匹配不上就报错了。 当然这个也只是我个人的猜测，

[2020-10-16 03:09] burness opened #4908 "the issue when use the sentiment_classification to paddlelite"
I use the `sentiment_classification` in my project. It's ok to train, but when I transform it to paddlelite. It seems that the 'sequence_unpad' is not support in th arm platform.
![image](https://user-images.githubusercontent.com/3112825/96208072-4e220080-0f9f-11eb-9fd7-322c83f2c22b.png)

So I want to change the code here [cnn_net](https://github.com/PaddlePaddle/models/blob/release/1.8/PaddleNLP/

[2020-10-17 03:28] peterzsj6 opened #4910 "Seq2Seq 模型库案例里的reader案例为啥给 target language ID加上【1】，【2】"
Seq2Seq 模型库案例里的reader 有几个看不懂的地方求助。

filename 好像写错了。

且在 para file to id 中：

def _para_file_to_ids(src_file, tar_file, src_vocab, tar_vocab):

  src_data = []

  with io.open(src_file, "r", encoding='utf-8') as f_src:

    for line in f_src.readlines():

    arra = line.strip().split()

    ids = [src_vocab[w] if w in src_vocab else UNK_ID for w in arra]

    ids = ids

    src_data.append(ids)

[2020-10-17 06:50] willthefrog commented on #4910
@guoshengCS  能否辛苦回答下。

[2020-10-17 07:18] zehuichen123 commented on #4826
++++++++++++++++1

[2020-10-18 03:30] zehuichen123 commented on #4826
救救孩子吧🥺

[2020-10-18 03:45] peterzsj6 commented on #4910
不好意思，眼拙没看到beam search那里把1和2吃掉了。 不过也算报告下typo把。还有我在paddlepaddle 训练的seq2seq 好像在同超参下对较长sequence效果一般。（我做的是一个字母串倒叙的demo对比）

[2020-10-19 02:11] zhupengyang commented on #4908
- `sequence_pad` is not supported in Paddle-Lite. You may submit a new issue in [Paddle-Lite](https://github.com/PaddlePaddle/Paddle-Lite) to feedback you probloms(`sequence_pad`).
- Reference [sequence_conv](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/sequence_conv_cn.html#sequence-conv) and [sequence_pool](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/la

[2020-10-19 02:40] guoshengCS commented on #4910
感谢指出~  较长sequence效果一般是否是因为这里的实现没有添加length penalty的处理呢

[2020-10-19 09:33] #4910 closed, assigned to nobody

[2020-10-20 01:41] burness commented on #4908
Yes, I use the `simple_img_conv_pool` instead of `sequence_unpad` to do conv1d.

[2020-10-20 01:41] #4908 closed, assigned to nobody

[2020-10-20 02:24] xbc0112 commented on #2192
请问楼主解决了吗，我也遇到这个问题

[2020-10-20 08:48] ly303550688 opened #4912 "simnet的预训练模型支持迁移学习吗"
有一些专业词汇不在词典里，导致某些短语匹配的效果差点，用已有数据全新训练的效果不好，怎么用预训练的模型训练呢

[2020-10-20 12:49] GaoWei8 commented on #4912
是已经保存了预训练模型吗？或者使用这个接口保存预训练模型：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/fluid/io/save_persistables_cn.html#save-persistables

[2020-10-21 02:30] guoshengCS commented on #4912
可以试下把不在词典里的词汇加到词典里，其他参数权重还用预训练的

[2020-10-27 07:23] huangjun12 commented on #4698
参考修复pr: https://github.com/PaddlePaddle/models/pull/4916

[2020-10-27 12:19] huangjun12 commented on #4814
修复Pr: https://github.com/PaddlePaddle/models/pull/4918

[2020-10-30 02:17] #4814 closed, assigned to nobody

[2020-10-30 03:01] zhangting2020 commented on #4361
After setting the correct file path, can it run successfully?

[2020-10-30 03:07] zhangting2020 commented on #4835
很抱歉这么久才回复，请问这个问题现在还需要我们继续排查吗？看上去你是在PaddleHub上使用的，我这边可能不太好确认具体的原因。

[2020-10-30 07:25] barry2025 opened #4923 "simnet mmdnn报错"
paddle版本1.8.0
simnet 采用模型config/mmdnn_pointwise.json
使用pointwise模型，数据格式为：text_a text_b label形式

模型报错：
![image](https://user-images.githubusercontent.com/20043808/97671834-f4075c00-1ac3-11eb-8f43-fb09ae220d98.png)

[2020-10-30 11:56] ForFishes commented on #4923
从报错信息看，是输入数据的问题，比如格式等，造成了训练是ids的维度是-1，没有正确载入数据，这个数据输入的地方check一下把。

[2020-10-30 12:13] zhangxuanaj opened #4924 "emotion_detection/utils.py代码错误"
utils.py第62行：seq_len = max_seq_len  是缩进错误吧？应该包括在else内，否则seq_len不能表示sequence的真实长度

[2020-10-30 12:45] barry2025 commented on #4923
这边使用的是官方提供的数据：https://baidu-nlp.bj.bcebos.com/simnet_dataset-1.0.0.tar.gz
train_pointwise_data和test_pointwise_data，这个应该是没有问题的吧，请问下mmdnn还有什么别的参数需要调整么

[2020-10-31 15:20] #4369 closed, assigned to qingqing01, mapingshuo

[2020-11-01 09:04] Twinkle123321 opened #4925 "paddleNLP模型运行次数多以后，打印的日志相互矛盾"
2020-11-01 05:27:32,566-WARNING: ./Good_models/step_5600/.pdparams not found, try to load model file saved with [ save_params, save_persistables, save_vars ]
2020-11-01 05:27:32,567-WARNING: variable file [ ./Good_models/step_5600/checkpoint.pdopt ./Good_models/step_5600/checkpoint.pdparams ./Good_models/step_5600/checkpoint.pdmodel ] not used
2020-11-01 05:27:32,567-WARNING: variable file [ ./Goo

[2020-11-02 00:52] upenggod commented on #4881
工程师大佬们能看看吗？

[2020-11-02 03:07] ForFishes commented on #4924
这个地方确实有错误，需要修改，感谢反馈。

[2020-11-02 07:02] danleifeng commented on #4925
您好，请问使用的paddle版本是？模型使用的是哪一个呢？有可以方便复现的代码提供么？

[2020-11-02 12:24] JoyeeL opened #4927 "bert模型可以用cpu训练吗？"

[2020-11-03 09:07] guoshengCS commented on #4927
可以的，如果是使用这里的代码进行fine-tuning，运行时传入`--use_cuda True`就可以了 https://github.com/PaddlePaddle/models/blob/release/1.8/PaddleNLP/pretrain_language_models/BERT/run_classifier.py#L103 ，但是相比GPU训练会慢的多

[2020-11-04 01:34] peterzsj6 commented on #4910
应该不是，我做的是等长的两个序列倒序在不同框架上的对比。我把beam search去掉了，因为我在其他框架上的seq2seq也都没用beam search。

[2020-11-04 10:17] pallav11 opened #4934 "Arpa file for common crawl"
Hi,

Please suggest from where i can get "arpa" file for top 400,000 most frequent words of file en.00 from "common crawl repository", which was used to generate "trie" file for English LM.

[2020-11-05 08:21] guoshengCS commented on #4934
Could you please provide more details about `arpa`, `en.00`  and paste the link to code where they are needed

[2020-11-06 07:44] huangjun12 commented on #4881
可以先把https://github.com/PaddlePaddle/models/blob/f80b766295e4c686d3d6d00858656d8239cea87f/PaddleCV/video/predict.py#L125  这两行的检查先注释掉，然后用weights=./models/bmn/BMN 这种格式启动即可~

[2020-11-09 07:42] liuchenbaidu opened #4938 "文本情感分类，为什么没有三分类的预训练模型"
在实际中大部分都是三分类吧，积极中性消极？sentiment_classfiy都是积极和消极两个分类，也就是比如说一句话要么积极要么消极，在现实或者工业中不实际吧，请问是怎么考虑的。或者单纯是没有这样的语料？

[2020-11-09 12:05] zehuichen123 opened #4942 "Detailed Settings in HAMBox"
Hi, I am trying to reimplement HAMBox with Pytorch. However, there are some details that I am not sure based on the description in the paper. Could you help me with the following questions? Thanks a lot!
1. The paper says it trains Widerface with 140k iteration. So the iteration here refers to one GPU or four? If refers to one, the total epoch based on settings in the paper(4GPU, batch_size=7) is

[2020-11-10 11:47] zehuichen123 commented on #4942
Another question, did you filter boxes when training? Since there're plenty of tiny boxes in training annotations :) If so, what's your filter size? etc. boxes with min(w,h) < 10 are not regarded as GT in the training set.

[2020-11-11 07:34] zhangxuanaj opened #4945 "ernie_pyreader读取数据要求batch内均为max_se"

[2020-11-11 07:36] zhangxuanaj commented on #4945
ernie_pyreader读取数据要求batch内均为max_seq_len长，但是调用的padding.py是按照batch内最大长度进行padding的。

[2020-11-11 07:49] wangxicoding commented on #4945
max_seq_len指的是seq最大长度为max_seq_len。假如max_seq_len=256：
在padding的时候，如果一个batch内样本最大长度为300，则所有样本会截取padding到256；
如果一个batch内样本最大长度为200，则所有样本会padding到200。

max_seq_len只是限制最大seq_len，当batch内样本长 < max_seq_len 则按照样本最大长度，否则就截取到max_seq_len。
ernie_pyreader读取不同batch时支持seq_len变化，不会有影响。

[2020-11-11 07:52] zhangxuanaj commented on #4945
def ernie_pyreader(args, pyreader_name):
    """define standard ernie pyreader"""
    src_ids = fluid.data(
        name='1', shape=[-1, args.max_seq_len, 1], dtype='int64')
    sent_ids = fluid.data(
        name='2', shape=[-1, args.max_seq_len, 1], dtype='int64')
    pos_ids = fluid.data(
        name='3', shape=[-1, args.max_seq_len, 1], dtype='int64')
    input_mask = fluid.data(
        name

[2020-11-11 07:53] zhangxuanaj commented on #4945
def ernie_pyreader(args, pyreader_name):
"""define standard ernie pyreader"""
src_ids = fluid.data(
name='1', shape=[-1, args.max_seq_len, 1], dtype='int64')
sent_ids = fluid.data(
name='2', shape=[-1, args.max_seq_len, 1], dtype='int64')
pos_ids = fluid.data(
name='3', shape=[-1, args.max_seq_len, 1], dtype='int64')
input_mask = fluid.data(
name='4', shape=[-1, args.max_seq_len, 1], dtype='float3

[2020-11-11 08:08] wangxicoding commented on #4945
这个不影响pyreader对数据的读入和后面网络的运行，运行时会根据真实的shape来跑

[2020-11-11 08:10] zhangxuanaj commented on #4945
----------------------
Error Message Summary:
----------------------
InvalidArgumentError: The fed Variable src_ids should have dimensions = 3, shape = [-1, 256, 1], but received fed shape [4, 191, 1]

运行报这个错了

[2020-11-11 08:32] wangxicoding commented on #4945
https://github.com/PaddlePaddle/models/pull/4790

[2020-11-13 06:04] liuzeming01 commented on #4720
DuRecDia l: [https://baidu-nlp.bj.bcebos.com/DuRecDial.zip](https://baidu-nlp.bj.bcebos.com/DuRecDial.zip)

[2020-11-16 09:25] jackie8310 opened #4954 "dcgan如何加载自己的数据集？？？"
例程中给的是mnist数据集，如果用自己的数据集，数据集格式该如何？是否支持读入自己的数据集训练

[2020-11-16 12:06] jackie8310 opened #4955 "DCGAN中infer.py问题：："
在DCGAN中运行infer.py，
![image](https://user-images.githubusercontent.com/63913709/99250623-f0efc800-2846-11eb-8084-6b8621e86db6.png)
data中只有mnist，怎么还是加载的celeba?
![image](https://user-images.githubusercontent.com/63913709/99250750-285e7480-2847-11eb-9d6d-7b396f596dd5.png)
![image](https://user-images.githubusercontent.com/63913709/99250828-462bd980-2847-11eb-940c-963bc3234e5e.png)

[2020-11-17 02:48] mc261670164 opened #4957 "ETS模型的数据处理"
我在使用ETS模型时，根据模型说明数据文档从ActivityNet下载页面下载了~89G数据，下载之后发现文件是.hdf5格式的，因此，根据后续的处理方法处理数据时，发现不能正常处理。请问这种情况有什么解决方法吗？

[2020-11-17 05:22] ceci3 commented on #4954
支持自定义数据，使用方式参考：https://github.com/PaddlePaddle/models/tree/release/1.8/PaddleCV/gan#%E6%95%B0%E6%8D%AE%E5%87%86%E5%A4%87  数据集 格式和mnist一样就可以。

[2020-11-17 05:25] ceci3 commented on #4955
dcgan 在infer的时候不需要去加载数据集，现在infer的时候会输入一个随机噪声。那个dataset_dir实际没有起到作用

[2020-11-17 06:08] huangjun12 commented on #4957
看起来是数据源更新，压缩格式改了，数据内容应该没变。换h5py load一下，看看能否跟generate_train_pickle.py的处理逻辑match上

[2020-11-17 09:58] jackie8310 commented on #4955
got it!

[2020-11-17 11:13] zhangxuanaj opened #4958 "emotion_detection 运行ernie evaluate报错"
models/PaddleNLP/emotion_detection/run_ernie.sh   train完成后，运行eval报错，看报错信息，应该是在fluid.load(main_program, init_checkpoint_path, exe) 的时候出错了，error信息：

Error: When calling this method, the Tensor's numel must be equal or larger than zero. Please check Tensor::dims, or Tensor::Resize has been called first. The Tensor's shape is [-1, 768] now
  [Hint: Expected numel() >= 0, but received numel():-768 < 0:

[2020-11-17 11:15] Joejiong commented on #4958
好的正在查看

[2020-11-18 01:03] knightning opened #4959 "动态图导入静态图模型报错"
![image](https://user-images.githubusercontent.com/48643490/99468982-ce5fcb00-297c-11eb-9ed2-db7f75a42e9c.png)
这个[ conv1._conv.weight]在name_space并没有使用，是paddle内置的必须有的参数吗？

[2020-11-18 01:07] knightning commented on #4959
刚才看API，state_dict的参数需要包含所有参数的dict，如果我的backbone只选用ResNet，我只想把backbone导入ResNet的预训练模型，其他网络参数按初始化进行。这个该如何操作呢？

[2020-11-18 12:50] Joejiong commented on #4958
好的谢谢，请，按模版填写一下，你的用户环境，和可以复现的代码。

[2020-11-19 11:51] dl-lengyan opened #4962 "我在用自己数据集调试video tag的attention lstm模型时遇到点问题..."
我的数据集有8类，也就是8个标签，我想利用你们开源的模型进行预训练，当我把configs/attention_lstm-single.yaml中MODEL下面的num_classes改成8的时候，报错如下：
AssertionError: Parameter's shape does not match, the Program requires a parameter with the shape of ((4096, 8)), while the loaded parameter (namely [ output.w_0 ]) has a shape of  ((4096, 3396)).
如果不使用预训练模型，可以跑完训练。请问我想是用你们的预训练模型的话，怎么解决？

[2020-11-19 12:18] leon-zhu commented on #3874
也遇到了这个问题，通过yum install -y python36 安装的就ok

[2020-11-19 15:37] zhangxuanaj commented on #4958
就是这个原始代码，没改动，1.8版本。

[2020-11-20 03:13] TeslaZhao commented on #4959
您好，可以参考这种加载方式
https://github.com/PaddlePaddle/PaddleClas/blob/11357c0fd141aa36dd350fa27a420facbab92875/ppcls/utils/save_load.py#L49

[2020-11-20 06:55] huangjun12 commented on #4962
这个参数shape跟类别数有关，可以在加载预训练的时候不加载这个参数。 https://github.com/PaddlePaddle/models/blob/bdacb35542323f72beccde40572a33dd705bd6bb/PaddleCV/video/application/video_tag/models/attention_lstm/attention_lstm.py#L170  这个判断条件里 将output.w_0 和 output.b_0 加上，如下
[code]

[2020-11-20 07:00] dl-lengyan commented on #4962
谢啦，解决啦

[2020-11-20 07:02] #4962 closed, assigned to huangjun12

[2020-11-20 12:09] KaiyuanGao opened #4965 "【BUG】padding代码有问题"
https://github.com/PaddlePaddle/models/blob/f80b766295e4c686d3d6d00858656d8239cea87f/PaddleNLP/shared_modules/preprocess/padding.py#L37

运行PaddleNLP的情感分析ernie模型，会导致以下问题。
![image](https://user-images.githubusercontent.com/33422503/99798578-358fa200-2b6c-11eb-805a-963498b1c615.png)

原因是padding与定义的max_len不一致导致

[2020-11-20 12:57] #4965 closed, assigned to nobody

[2020-11-20 15:17] B18090229 opened #4966 "paddlecv/yolov3模型"
paddlecv/yolov3模型是每次需要预测的时候都要重新训练吗？不能够再训练后保存模型，预测的时候直接用吗？

Does the Paddlecv/Yolov3 model have to be retrained every time it needs to be predicted? Can't it save the model after training and use it directly for prediction?

[2020-11-23 08:05] KaiyuanGao opened #4967 "PaddleNLP情感分析infer结果每次都不一致"
paddle版本：1.8.3
python版本：3.7.1

按照[Readme](https://github.com/PaddlePaddle/models/tree/release/1.8/PaddleNLP/sentiment_classification) 下载ernie预训练模型与数据进行infer，可以成功运行，同一份测试数据但每次infer的结果不一致，请问是什么问题？
![image](https://user-images.githubusercontent.com/33422503/99939683-9655ef00-2da5-11eb-8e9c-f50d1d39c515.png)
![image](https://user-images.githubusercontent.com/33422503/99939694-99e97600-2da5-11eb-8655-c

[2020-11-23 09:35] Joejiong commented on #4958
@kuke 麻烦帮忙看下谢谢

[2020-11-23 09:40] mc261670164 opened #4968 "使用ETS模型时，如何使用自己的视频来准备数据集"
您好，
      我想请教一下，在跑ETS模型时，如何将自己的视频数据生成ETS模型能够使用的数据集？谢谢！

[2020-11-23 09:42] mc261670164 commented on #4968
有没有相应的脚本能够自动生成ETS模型可用的数据？

[2020-11-23 10:32] qingqing01 commented on #4966
@B18090229  一般都是可以保存模型，预测时直接用的。 另外 paddlecv/yolov3 这个路径已经不存在。您可以用 PaddleDetection中的YOLOv3 https://github.com/PaddlePaddle/PaddleDetection/blob/release/0.5/docs/MODEL_ZOO_cn.md#yolo-v3