[2018-12-04 05:59] qingqing01 commented on #1495
@dreamonezero In fact, there is no problem in your training. The final error doest affect the training. It is some error when Python muliti-process existing at last.

[2018-12-04 08:16] luotao1 commented on #1496
Maybe you can find the intel internal help https://github.com/PaddlePaddle/Paddle/issues/14342#issuecomment-438538424

[2018-12-04 08:40] 408550969 opened #1497 "deeplabv3+如何自定义类别？"
我换了一个数据集，将train.py的num_classes改成10并把models.py里的label_number改成10。但是运行就报错：
  File "./train.py", line 148, in <module>
    'label': labels})
  File "/home/cll/.local/lib/python2.7/site-packages/paddle/fluid/parallel_executor.py", line 277, in run
    self.executor.run(fetch_list, fetch_var_name)
paddle.fluid.core.EnforceNotMet: Enforce failed. Expected output_shape[unk_dim_idx] * capacity == -in_size

[2018-12-04 12:49] #1496 closed, assigned to nobody

[2018-12-04 12:58] ghost commented on #1496
We solved it by fluid.io.save_inference_model(args.save_model_dir, ["pixel","label"], fetch_vars, exe, main_program=inference_program) . fetch_vars is declared earlier in train.py,     fetch_vars = [sum_cost] + error_evaluator.metrics

[2018-12-04 13:07] xieqingxing commented on #1497
你好,请问解决了吗?

[2018-12-04 13:08] 408550969 commented on #1497
没有

[2018-12-06 06:19] TheodoreG opened #1503 "Is the fluid released resnet50 pretrained model converted from paddle v2 or retrained from the ImageNet?"
Hello, we use the released pretrained ResNet50 model to extract features from the last pool layer to make bottleneck training. But we find that compared to original v2 version, fluid version has relatively 1~2 percent accuracy decline.  So here are two questions:
1、Is the fluid released resnet50 pretrained model converted from paddle v2 version?
2、Is there any way to convert v2 model weights to fl

[2018-12-06 06:29] reyoung opened #1504 "This lines are so slow, consider to make pattern as a global variable."
https://github.com/PaddlePaddle/models/blob/8c32619e8ccb16bb66b900713de303233c9489dc/fluid/PaddleRec/word2vec/preprocess.py#L35-L36

[2018-12-06 06:33] wanghaoshuang commented on #1503
https://github.com/PaddlePaddle/Paddle/issues/12819

[2018-12-06 06:36] wanghaoshuang commented on #1503
The  pretrained model is trained by fluid.

[2018-12-06 06:43] wanghaoshuang commented on #1503
Please make sure that the data process is same between fluid and paddle v2.

[2018-12-07 08:34] hshen14 opened #1506 "ShuffleNet Pre-trained model and accuracy"
shufflenet_v2.py is one of image classification models. Could you please share the pre-trained model and the corresponding accuracy?

[2018-12-07 08:46] ylxsyf opened #1507 "models/legacy/sequence_tagging_for_ner"
models/legacy/sequence_tagging_for_ner 运行失败，提示除数为0

[2018-12-07 09:32] JiabinYang commented on #1507
这是由于batch_size大于实际数据数量，所以num_samples为0，请设置batch_size为4，因为v2的代码已经不在维护了，所以legacy里的models会出现较多问题，请使用和参考fluid目录下的models

[2018-12-07 12:22] sfraczek commented on #1456
Hi, I have this model http://transformer-model-data.bj.bcebos.com/iter_100000.infer.model.tar.gz for pre-trained weights but **there is no eval.py script** to reproduce results or no __model__ with accuracy layers in it. Can anyone help?
I am trying to enable mkldnn for transformer inference and I can't check validity of output.

[2018-12-08 14:52] 315536712 opened #1509 "paddle.layer.classification_cost(input=out, label=label)这个api对应到fluid中需要怎么写？"
paddle.layer.classification_cost(input=out, label=label)这个api对应到fluid中需要怎么写？

[2018-12-08 14:57] #1509 closed, assigned to nobody

[2018-12-09 04:24] 315536712 opened #1510 "【自定义图像分类infer时出现错误】EnforceNotMet: Enforce failed. Expected in_dims[1] == filter_dims[1] * groups, but received in_dims[1]:4 != filter_dims[1] * groups:3."
问题描述：自定义图像数据集训练的是时候都没有问题，模型也都保存了，但是在进行预测的时候报错。
使用的模型：vgg
参照的代码：03.image_classification
详细报错：
---------------------------------------------------------------------------
EnforceNotMet                             Traceback (most recent call last)
<ipython-input-11-e5f85816241b> in <module>
     61
     62
---> 63 infer(use_cuda=False, params_dirname='/home/aistudio/data2187/model')
     64 print('ov

[2018-12-09 11:10] abcdvzz opened #1511 "Face detection run error"
Something went wrong when I ran the code:

batch_size: 16
data_dir: data
epoc_num: 160
learning_rate: 0.001
mean_BGR: 104., 117., 123.
model_save_dir: output
parallel: True
pretrained_model: vgg_ilsvrc_16_fc_reduced
resize_h: 640
resize_w: 640
use_gpu: True
use_pyramidbox: True
with_mem_opt: True

 ------------------------------------------------

  File "train.py", line 233, in <module>
    train

[2018-12-09 13:00] abcdvzz opened #1512 "cuda error"
batch_size: 16
data_dir: data
epoc_num: 160
learning_rate: 0.001
mean_BGR: 104., 117., 123.
model_save_dir: output
parallel: True
pretrained_model: vgg_ilsvrc_16_fc_reduced
resize_h: 640
resize_w: 640
use_gpu: True
use_pyramidbox: True
with_mem_opt: True
------------------------------------------------
W1209 20:38:51.853999 28655 device_context.cc:213] Please NOTE: device: 0, CUDA Capability: 61,

[2018-12-09 16:57] abcdvzz opened #1513 "Face detection only for one GPU?"
When I trained the face detection model, I found that if there are more than one GPU visible, the training would encounter error：

*** Aborted at 1544374351 (unix time) try "date -d @1544374351" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGSEGV (@0x0) received by PID 32735 (TID 0x7f5aa0848700) from PID 0; stack trace: ***
    @     0x7f5aa0440390 (unknown)
    @

[2018-12-09 16:59] abcdvzz commented on #1495
So how to fix this ？

[2018-12-10 02:25] abcdvzz opened #1514 "Face detection Validation"
When I ran the validation code, I encoutered this error. Pls help me . I raised lots of questions yesterday. Pls, or I'll be fired soon.

confs_threshold: 0.15
data_dir: data/WIDER_val/images/
file_list: data/wider_face_split/wider_face_val_bbx_gt.txt
image_path:
infer: False
model_dir: PyramidBox_WiderFace/
pred_dir: pred
use_gpu: True
use_pyramidbox: True
----------------------------------------

[2018-12-10 03:10] wzzju commented on #1510
根据您的报错信息可知`in_dims[1]:4 != filter_dims[1] * groups:3`，在进行卷积时，您的输入特征图通道数（in_dims[1]:4）与卷积核的通道数（` filter_dims[1] * groups:3`）不相等，请检查您的输入。或者既然训练时没问题，您可以尝试使用训练数据作为输入，看看是否还有此问题。

[2018-12-10 03:16] wzzju commented on #1511
Please describe your question in detail, not just copy the log.

[2018-12-10 03:17] wzzju commented on #1512
Please describe your question in detail, not just copy the log.

[2018-12-10 03:27] qingqing01 commented on #1512
[code]

Please ensure your env hased installed NCCL2.

[2018-12-10 03:28] qingqing01 commented on #1513
It can run on multi GPU.

[code]

[2018-12-10 03:33] abcdvzz commented on #1513
Yeah, I tried it. It just cannot work. I saw this problem in another issue too. You didn't solve the problem but just CLOSED it.

[2018-12-10 03:34] qingqing01 commented on #1514
[code]

Please note the error log. This model needs many GPU memory.  From the log, there is no enough GPU memory on your GPU card.  Maybe you can paste `nvidia-smi` info.  You also can try a small image for a testing.

[2018-12-10 03:35] qingqing01 commented on #1511
[code]

Please ensure your env can run Paddle normly on GPU.

[2018-12-10 05:01] qingqing01 commented on #1513
@abcdvzz Sorry, I closed this issue, since I find your env is not right in https://github.com/PaddlePaddle/models/issues/1512 . We can solve it in #1512  or open this issue.  I'll try my best to help you solve these problems.

[2018-12-10 06:02] abcdvzz commented on #1513
OK, that's ok. Pls open this issue. I've already solved the cuda issue. I only have two problems now. One is this multi gpu issue. Another one is validation issue:#1514 .

[2018-12-10 06:07] abcdvzz commented on #1514
It says : Please shrink FLAGS_fraction_of_gpu_memory_to_use environment variable to a lower value. Actually, no matter how I adjust the value, the same problem occurs. And I have 12G gpu (Taitan xp), it seems enough for it. And where can I change the image like u said: "You also can try a small image for a testing." I changed the "    image_shape = [3, 1024, 1024] " in 302 line of widerface_eval.p

[2018-12-10 07:13] qingqing01 commented on #1513
There is no problem on mutli-GPU on our machine. You need to give more detailed error info.
And please help to close the sloved issue. Thanks!

[2018-12-10 07:28] abcdvzz commented on #1513
When I use two gpus, I got this and that' all I got:
*** Aborted at 1544374351 (unix time) try "date -d @1544374351" if you are using GNU date ***
PC: @ 0x0 (unknown)
*** SIGSEGV (@0x0) received by PID 32735 (TID 0x7f5aa0848700) from PID 0; stack trace: ***
@ 0x7f5aa0440390 (unknown)
@ 0x0 (unknown)
When I use one gpu, It's ok.

[2018-12-10 07:29] #1511 closed, assigned to qingqing01

[2018-12-10 07:29] #1512 closed, assigned to qingqing01

[2018-12-10 07:32] qingqing01 commented on #1514
Yeah, 12G gpu is enough for one testing.  Please make sure there is no job runing before you testing.

The image shape is depended on real input image, not this setting in the `widerface_eval.py`.

[2018-12-10 08:00] jackyhawk opened #1515 "paddlepaddle 如何查看版本?"
paddlepaddle 如何查看目前安装的是哪个版本?

[2018-12-10 08:00] jackyhawk commented on #1487
在单机自己的服务器上，会报这个错误，不知道遇到过没有？ @ccmeteorljh

E1210 10:11:24.682713 1501 grpc_client.cc:338] SendRPC name:[fc_1.w_0@GRAD.block0.trainer_1], ep:[127.0.0.1:6000], status:[-1] meets grpc error, error_code:4 error_message:Deadline Exceeded error_details:
E1210 10:11:24.683696 1501 grpc_client.cc:338] SendRPC name:[embedding_0.w_0@GRAD.block0.trainer_1], ep:[127.0.0.1:6000], status:[-1] meets grpc error, e

[2018-12-11 06:08] Hizhaoyuan opened #1517 "环境1.2.0post87,跑 paddle 模型库里的ICNET出错，CPU运行正常，GPU出错如下 paddle.fluid.core.EnforceNotMet: CUDNN_STATUS_BAD_PARAM at [/paddle/paddle/fluid/operators/batch_norm_op.cu.cc:114]"
raceback (most recent call last):
  File "/temp/icnet_test/train.py", line 153, in <module>
    main()
  File "/temp/icnet_test/train.py", line 149, in main
    train(args)
  File "/temp/icnet_test/train.py", line 121, in train
    fetch_list=[reduced_loss, loss_sub4, loss_sub24, loss_sub124])
  File "/local/lib/python2.7/site-packages/paddle/fluid/executor.py", line 470, in run
    self.executor.

[2018-12-11 07:26] 315536712 commented on #1510
多谢

[2018-12-11 08:57] 315536712 opened #1518 "docker中升级python2.7到python3.5后，无法安装paddlepaddle？"
安装完最新版的paddle的docker之后，升级python2.7到python3.5，在用pip install paddlepaddle安装不上paddle
![clipboard](https://user-images.githubusercontent.com/13358316/49788962-b67d7680-fd65-11e8-8b43-11efc2d3b956.png)
![clipboard1](https://user-images.githubusercontent.com/13358316/49788968-b9786700-fd65-11e8-8721-56cc6ec638ee.png)

[2018-12-11 09:10] #1518 closed, assigned to nobody

[2018-12-11 09:39] jackyhawk opened #1519 "models/legacy/ctr 下 执行报错 （尝试了 paddlepaddle1.1.0 和 1.2.0 都报错）"
+ /data0/home/jy/python_installed/bin/python train.py --train_data_path /data0/home/jy/models/legacy/ctr/output/train.txt --test_data_path /data0/home/jy/models/legacy/ctr/output/test.txt --data_meta_file /data0/home/jy/models/legacy/ctr/output/data.meta.txt --model_type=0
I1211 17:36:28.149034 48067 Util.cpp:166] commandline:  --use_gpu=False --trainer_count=1
INFO:paddle:dnn input dim: 61
INFO:p

[2018-12-11 09:50] jackyhawk commented on #1519
貌似 在 train() 里边加一个 print('start') 会 去load data，而不再报  WARNING:paddle:Pass 0, Samples 0, Cost 0.686135, {}

[2018-12-11 11:13] Hizhaoyuan commented on #1519
ZeroDivisionError: float division by zero 这提示很明显啊，分母出现零了

[2018-12-11 13:12] Hizhaoyuan opened #1520 "paddle 单机多卡训练为何问题不断？？"

[2018-12-11 14:55] qingqing01 commented on #1513
Is there any detailed info ?  Is your execution command is as follows? Note, need to set `export CUDA_VISIBLE_DEVICES=0,1`, since the code here https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/face_detection/train.py#L113

[code]

[2018-12-11 14:56] qingqing01 commented on #1514
@abcdvzz Is there any progress ?

[2018-12-11 14:58] qingqing01 commented on #1464
@duanlin0505 在v100 16G显存、P40 22G显存机器上运行均正常，QA同学在P40上测试也正常。 暂且判断是在新的机器上运行有问题，后续会针对新机器V100, 32G显存调试下。暂且关闭该Issue。

[2018-12-11 14:58] #1464 closed, assigned to qingqing01

[2018-12-11 15:03] qingqing01 commented on #1495
@abcdvzz Sorry, I don't find a solution now.  Although it desn't affect the results, the output is not elegant.  Maybe we will change other multi-process reader later.  :(

[2018-12-11 15:04] #1371 closed, assigned to nobody

[2018-12-11 15:05] qingqing01 commented on #1383
由于长时间未回复，暂且关闭该Issue，有问题可以再打开。

[2018-12-11 15:05] #1383 closed, assigned to nobody

[2018-12-11 21:56] seethagithub commented on #388
Hi, Im facing a similar issue. Is there a wirkaround to this?
Traceback (most recent call last):
  File "data/librispeech/librispeech.py", line 19, in <module>
    from data_utils.utility import download, unpack

[2018-12-12 02:02] jackyhawk commented on #1519
是的，但是 我就按照正常的流程跑的，怎么会 出现 分母是 0 呢？ 多谢 @zhaoyuanGItHub

[2018-12-12 02:03] jackyhawk commented on #1519
这个是  官方输入：

/data0/home/jy/python_installed/bin/python train.py --train_data_path /data0/home/jy/models/legacy/ctr/output/train.txt --test_data_path /data0/home/jy/models/legacy/ctr/output/test.txt --data_meta_file /data0/home/jy/models/legacy/ctr/output/data.meta.txt --model_type=0

数据也都在了（确认过n遍了），大伙有遇到过吗？

[2018-12-12 02:30] imistyrain commented on #1515
pip list,然后找到paddlepaddle或paddlepaddle-gpu，类似于1.2.0的就是版本
或者在python中输入
import paddle
paddle.\_\_version\_\_

[2018-12-12 02:33] imistyrain opened #1521 "有没有各种模型在paddlepaddle上占用显存的信息可供参考以便设置batch_size?"
如题，类似于[caffe-model](https://github.com/soeaver/caffe-model)，里面提供了各种经典模型所需显存大小已经训练的速度等参考信息.

[2018-12-12 03:41] jackyhawk commented on #1519
发现官方 在数据准备的时候，默认参数是 100，导致的。。。。

[2018-12-12 03:42] #1519 closed, assigned to nobody

[2018-12-12 07:35] abcdvzz commented on #1513
That's all I got. I've already set the devices.

[2018-12-12 07:39] abcdvzz commented on #1514
No, Could u pls tell me where I can resize the input image if It's not : image_shape = [3, 1024, 1024] " in 302 line of widerface_eval.py?

[2018-12-12 07:41] mapingshuo commented on #1517
@4luojing

[2018-12-12 12:40] codescv commented on #1454
目前1ps 1worker已经正常运行，但2ps 2worker训练会直接卡住
运行命令:

[code]

[2018-12-12 13:00] Hizhaoyuan opened #1527 "改变模型输出shape后，paddle该如何加载模型参数, 或者说目前paddle并不支持这样操作"

[2018-12-13 02:46] jackyhawk opened #1528 "fluid/PaddleRec/gru4rec 的 cluster_train.py 中有几个 缩写（ ppl lod transpile ）全称是 ？"
这几个全称是啥？
ppl
 lod
transpile
多谢

对应的code为：

newest_ppl = 0
utils.to_lodtensor
lod_src_wordseq
t.transpile(args.trainer_id, pservers=args.endpoints, trainers=args.trainers)

[2018-12-13 04:33] jackyhawk commented on #1528
lod = level of detail?

[2018-12-13 04:47] guru4elephant commented on #1520
请描述具体问题

[2018-12-13 04:55] frankwhzhang commented on #1528
（1）ppl:  全称为 perplexity。
（2）lod:  lod_tensor。相关概念可以参考文档http://paddlepaddle.org/documentation/docs/zh/1.2/user_guides/howto/basic_concept/lod_tensor.html
（3）transpile：分布式训练，可以参考 http://paddlepaddle.org/documentation/docs/zh/1.2/api_cn/transpiler_cn.html#fluid-transpiler

[2018-12-13 05:16] jackyhawk commented on #1528
多谢 Frank

[2018-12-13 11:13] zzulike opened #1534 "fluid/PaddleNLP/sequence_tagging_for_ner 预测问题"
用ner模型在预测的时候发现，给预测数据随意标记的label会影响到最终的预测结果；当把数据减少一些(比如10w)后，这个问题就没有了，数据比较大的时候term的预测结果就会往这个随意标记的类别大量倾斜。。。

定义term的类别只有1和0， 预测是时候任意定义所有label=2，发现用较大预测数据集时候，大部分term的标签被预测为2，数据量较少时候，则是正常的

预测结果正常：
![image](https://user-images.githubusercontent.com/19464821/49934978-c2566d80-ff0a-11e8-8726-091f6b1a7549.png)

预测结果出现问题：
![image](https://user-images.githubusercontent.com/19464821/49934993-cf735c80-ff0a-11

[2018-12-13 11:29] jshower commented on #1534
问题已收到，追查定位后会尽快反馈。

[2018-12-14 02:06] qingqing01 commented on #1514
`widerface_eval.py` use the orignal image to test.  You need to resize image after line https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/face_detection/widerface_eval.py#L41 . Or use a small image.

[2018-12-14 02:16] colourful-tree commented on #1521
已经在群里回复。显存默认是用满的。也可以根据实际显存情况调一下batch_size

[2018-12-14 06:22] #1521 closed, assigned to colourful-tree

[2018-12-14 06:41] #1510 closed, assigned to wzzju

[2018-12-14 06:50] qingqing01 commented on #1513
@abcdvzz  Is your problem is sovled? Could you paster more info? I can't determine the problem from above error log.  And better to give the enviroment. You also can test other examples on multi-GPU.  You also can set `export GLOG_v=3   export GLOG_logtostderr=1` to try find more detailed info and paste it out.

[2018-12-14 09:48] hshen14 opened #1535 "Inconsistent code structure"
In image classification, eval.py depends on "from models.learning_rate import cosine_decay", however, learning_rate is moved into utils. Please fix it. Thanks.

[2018-12-14 11:00] qingqing01 commented on #1535
fixed by https://github.com/PaddlePaddle/models/pull/1537

[2018-12-14 11:00] #1535 closed, assigned to shippingwang

[2018-12-14 12:50] abcdvzz commented on #1513
Sorry, No. I'll try your opinion next week because I'm busy with my paper these days. Thank u for your patience.

[2018-12-15 13:54] nizihan commented on #1083
楼主，请问您用caffe2fluid转出来的是model params文件吗，这些文件怎么在训练时加载？

[2018-12-15 13:56] nizihan commented on #1057
楼主您好～请问您用caffe2fluid工具转出来的model params文件，怎么在训练的时候加载啊？

[2018-12-16 08:18] shippingwang commented on #1506
@hshen14  In progress.

[2018-12-16 12:08] xsscss opened #1538 "machine_reading_comprehension 执行时报错"
实验环境：python3.5 paddlepaddle-gpu==1.0.0.post87  ubuntu16.04 GPU 使用 两个1080Ti
执行 `sh run.sh --train --pass_num 10` 时， 在执行到`2018-12-17 11:15:38,728 - brc - INFO - Training the model...
` 时 报错如下
[code]

[2018-12-17 05:37] zhengzhe97 opened #1539 "deeplab3+ 训练需要多大显存"

[2018-12-17 08:15] jshower commented on #1534
问题已修复，参见https://github.com/PaddlePaddle/models/pull/1540

[2018-12-17 08:15] #1534 closed, assigned to jshower

[2018-12-17 09:09] hjchen2 commented on #1538
请更新到fluid1.2版本，fluid1.2有修复这个问题，谢谢

[2018-12-17 14:53] cjld commented on #1497
你好，除开train.py里面需要改类别数，models.py里面也有类别数需要改

[2018-12-17 15:14] xieqingxing commented on #1497
model.py和train.py都改了，还是跟提问者报一样的错，请问是为什么？

[2018-12-18 03:07] zhizunbao-m opened #1541 "paddle会上线VGG16 的预训练模型吗"

[2018-12-18 08:39] qingqing01 commented on #1541
会的，后面会Release的。

[2018-12-18 11:07] silverfly1992 opened #1543 "deeplabv3+运行exe.run()时报paddle.fluid.core.EnforceNotMet: Enforce failed. Insufficient GPU memory to allocation.错误"
Traceback (most recent call last):
  File "/home/***/models/fluid/PaddleCV/deeplabv3+/train.py", line 129, in <module>
    exe.run(sp)
  File "/usr/local/anaconda3/lib/python3.6/site-packages/paddle/fluid/executor.py", line 472, in run
    self.executor.run(program.desc, scope, 0, True, True)
paddle.fluid.core.EnforceNotMet: Enforce failed. Expected allocating <= available, but received allocating

[2018-12-18 11:27] silverfly1992 commented on #1543
用cpu没问题，在终端执行export FLAGS_fraction_of_gpu_memory_to_use=0 后，还是有问题

[2018-12-18 15:04] silverfly1992 commented on #1543
我的显卡是单卡1080ti

[2018-12-19 03:09] Hukongtao commented on #1543
看报错都是关于CUDA得，是不是你的CUDA或者cudnn装得不对啊？最新版本得paddle对CUDA和cudnn版本有要求得？

[2018-12-19 08:10] yeyupiaoling opened #1546 "什么时候提供图像分类中mobilenet v2的预训练模型"
https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/image_classification#supported-models-and-performances

官方提供了不少的预训练模型，但没有我需要的mobilenet v2，什么时候能够提供呢？

希望越来越丰富？

[2018-12-19 09:45] silverfly1992 commented on #1543
我装的cuda9.0cudnn7，就是paddle所需的版本，而且我跑keras pytorch这些框架都没问题啊

[2018-12-20 03:41] littletomatodonkey opened #1548 "fasterRCNN infer 维度不匹配"
您好，我在使用paddle github上的代码看的时候，使用了cocoval2017中的一张图片做infer，运行的时候提示报错
[code]
我查了图片的维度这一块，图片的大小被resize成(3, 800, 1190)，在infer.py里面，buildmodel的时候，设置的image size是[3, 1333, 1333]，默认配置我都没有修改，只改动了infer的图片，不知道是否跟模型的默认配置有关系呢？谢谢！

我没有修改infer.py其他的代码，只是将cocoval2017修改为了cocoval2014，infer的脚本如下：

[code]

[2018-12-20 03:53] jerrywgz commented on #1548
您好，图像的维度应该是不会有影响的，build model的时候设置的size会被实际读进来的图像大小覆盖。您这个问题应该是模型没有正确加载导致的，您可以检查一下模型加载路径是否正确。另外infer阶段请使用我们release出来的模型，在文档中有相关链接，imagenet_resnet50_fusebn是预训练模型。

[2018-12-20 04:00] littletomatodonkey commented on #1548
恩恩好的，我加载了release模型，跑通了infer的代码，谢谢您！

[2018-12-20 04:06] #1548 closed, assigned to jerrywgz

[2018-12-20 09:10] tycallen opened #1551 "DeepLabv3+ xception65_initialize weight, not compatible with paddlepaddle v1.1 or v1.2"
env:
`CUDA Capability: 61, Driver Version: 9.1, Runtime Version: 9.0
device: 0, cuDNN Version: 7.0.`

when load this weight: http://paddlemodels.cdn.bcebos.com/deeplab/deeplabv3plus_xception65_initialize.tar.gz

code:
`fluid.io.load_params(
            exe, dirname="", filename=args.init_weights_path, main_program=tp)`

got error:
`load from: init_weight
Traceback (most recent call last):
  File "

[2018-12-20 09:45] luotao1 commented on #1551
@cjld 能帮忙看一下么？

[2018-12-20 10:06] tycallen commented on #1551
抱歉我又检查了下代码，问题出在
`fluid.io.load_params( exe, dirname="", filename=args.init_weights_path, main_program=tp)`里，权重文件路径不对。但路径不对报的这个错是真的看不懂啊。

另外，加载过了，开始训练后有另一个问题：
在执行`retv = exe.run(tp,
                       feed={'img': imgs,
                             'label': labels},
                       fetch_list=[pred, loss_mean])`时，出现了：

[code]

打印了img的shape，是(1, 3, 769, 769)。
网络只改了class_num

[2018-12-20 15:03] #1541 closed, assigned to nobody

[2018-12-21 03:17] qingqing01 commented on #1546
感谢关注，最近1-2星期会提供训练好的模型~

[2018-12-21 03:18] yeyupiaoling commented on #1546
@qingqing01 好的，谢谢青青姐。

[2018-12-21 03:18] #1546 closed, assigned to nobody

[2018-12-21 06:00] qingqing01 commented on #1551
@tycallen

您好，调试了下，发现是因为预训练模型 `deeplabv3plus_xception65_initialize.params` 里包含了 https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/deeplabv3%2B/models.py#L310 该层的初始化参数，导致即使改了边 train.py里的class number， 以及models.py里的label_number，加载初始化模型之后 该conv的输出 channel容然是19，导致后面的reshape出错。

解决办法需要去掉初始化模型里该层参数，为了验证你可以不加载初始化模型。

[2018-12-22 05:59] JWei-D commented on #1514
I met the same question, could you pls tell me how to deal with it?  I have 4 GPU of 1080ti, but still met this problem.

[2018-12-22 06:19] JWei-D commented on #1514
I met the same question, could you pls tell me how to deal with it? I have 4 GPU of 1080ti, but still met this problem.

[2018-12-24 12:04] ZeyuChen opened #1555 "PaddleRec/word2vec 使用建议"
1. word2vec模型放在PaddleNLP是不是更合理？
2. 现在基于Fluid 1.2发布的模型是否能支持python2和python3，这个repo下的脚本只能支持python2。如果只能支持python2是否在Markdown上新增下说明。
3. Preprocess脚本运行时，默认认为用户不是在local模式下使用的，会导致调用出错。对local模式和distribute模式的使用区别再文档中没有体现。
4. 预处理的脚本可否考虑新增处理进度？

[2018-12-24 12:11] ZeyuChen commented on #1555
预处理脚本跑不通

Bug1 word_count[native_to_unicode('<UNK>')] = 0 没有初始化，后面直接+1，导致出错

Bug2，out of range
Traceback (most recent call last):
  File "preprocess.py", line 259, in <module>
    preprocess(parse_args())
  File "preprocess.py", line 239, in preprocess
    path_table, path_code, word_code_len = build_Huffman(word_count, 40)
  File "preprocess.py", line 171, in build_Huffman
    code[i] = binary[b]

[2018-12-24 12:48] zhengya01 opened #1556 "chinese_ner/train.py paddle.fluid.core.EnforceNotMet: Cannot find fetch variable in scope, fetch_var_name is chunk_eval_0.tmp_3 at [/paddle/paddle/fluid/operators/controlflow/fetch_op.cc:37]"
Traceback (most recent call last):
  File "train.py.bak", line 356, in <module>
    main(args)
  File "train.py.bak", line 344, in main
    [num_infer_chunks, num_label_chunks, num_correct_chunks])
  File "train.py.bak", line 231, in test2
    fetch_list=cur_fetch_list)
  File "/home/paddle/anaconda2/lib/python2.7/site-packages/paddle/fluid/executor.py", line 472, in run
    self.executor.run(prog

[2018-12-25 04:31] freekoy opened #1557 "icnet训练时没有问题，推断和评估时报维度错误"
[code]

[2018-12-25 06:43] littletomatodonkey opened #1559 "fasterRCNN rpn cls pred的问题"
在mdoels中fasterRCNN复现模型中，计算`rpn cls score`的代码为:[链接](https://github.com/PaddlePaddle/models/blob/cbe656e04e9445699eea6612662995f1f4593a6c/fluid/PaddleCV/faster_rcnn/models/model_builder.py#L119)，这里卷积之后没有sigmoid激活函数进行处理，但是在后面使用`rpn_target_assign`调用rpn_cls_score的时候，我看paddle的[文档](http://www.paddlepaddle.org/documentation/docs/zh/1.2/api_cn/layers_cn.html#rpn-target-assign)里写了输入的`rpn cls score`需要是sigmoi

[2018-12-25 06:52] guoshengCS commented on #1559
sigmoid激活函数的调用在这里
https://github.com/PaddlePaddle/models/blob/cbe656e04e9445699eea6612662995f1f4593a6c/fluid/PaddleCV/faster_rcnn/models/model_builder.py#L151

[2018-12-25 07:13] littletomatodonkey commented on #1559
那个计算得到的是`rpn_cls_score_prob`变量，但是在计算rpn_loss的时候，使用的是`rpn_cls_score`，`rpn_cls_score_prob`只在[generate_proposals函数](https://github.com/PaddlePaddle/models/blob/cbe656e04e9445699eea6612662995f1f4593a6c/fluid/PaddleCV/faster_rcnn/models/model_builder.py#L160)中用到。不知道这是为什么？谢谢！

[2018-12-25 07:30] abcdvzz commented on #1514
I cannot solve it. And I have to use another version...

[2018-12-25 08:06] guoshengCS commented on #1559
看了下，这个rpn_cls_score的输入没有在rpn_target_assign_op里使用，只是与rpn_target_assign_op输出的index进行了gather操作， https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/detection.py#L192

[2018-12-25 08:23] wanghaoshuang commented on #1557
当前icnet的实现对输入图片大小的奇偶比较敏感，建议保持预测图片的大小和训练时用的图片大小一致。

[2018-12-25 09:33] freekoy commented on #1557
预测图片的大小和训练时用的图片大小一致,依然出现同样的问题
这不是用citysapce，用的是别的数据，只修改了NUM_CLASSES这个参数，其它并没有修改
照理说同样的大小，训练模型时可以跑，预测模型时也应该能跑，但报错了
[code]

[2018-12-25 11:40] littletomatodonkey commented on #1559
明白了，我刚才看计算softmax loss的时候，输入的是softmax激活之后的layer，但是计算sigmoid_cross_entropy_with_logits的时候，label是logits，x是激活之前的layer就行，会在计算sigmoid_cross_entropy_with_logits的时候求sigmoid，所以在计算fasterRCNN loss的时候不需要首先计算sigmoid，谢谢啦。

[2018-12-26 03:05] jackyhawk opened #1560 "gru4rec 在gpu下报个错 (cuda 版本不对，cudnn6 也按照 cudnn5 安装即可"
执行命令为：CUDA_VISIBLE_DEVICES=0 /data0/jy/py27/bin/python train.py --train_dir train_data/ --use_cuda 1

865 Traceback (most recent call last):
866   File "train.py", line 124, in <module>
867     train()
868   File "train.py", line 75, in train
869     exe.run(fluid.default_startup_program())
870   File "/data0/jy/py27/lib/python2.7/site-packages/paddle/fluid/executor.py", line 472, in run
871     s

[2018-12-26 03:51] jackyhawk commented on #1560
大伙有遇到过吗？

[2018-12-26 06:33] wanghaoshuang commented on #1560
你这里的`exe`用的是`ParallelExecutor`么？`startup_program`不能用`ParallelExecutor`执行。
可以参考这里： https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/deeplabv3%2B/train.py#L128

[2018-12-26 07:01] WangTaoSpace opened #1561 "icnet.py中atrous_conv这个函数中没有s_h和s_w参数"
如下
[code]

[2018-12-26 07:23] cjld commented on #1551
pr #1562
add num_classes config to deeplabv3+

Now you can train any number of classes you want:
[code]

[2018-12-26 07:23] cjld commented on #1497
pr #1562
add num_classes config to deeplabv3+

Now you can train any number of classes you want:

python3 ./train.py \
    --batch_size=1 \
    --train_crop_size=769 \
    --total_step=50 \
    --num_classes=$NUMBER_YOU_WANT \
    --init_weights_path=$INIT_WEIGHTS_PATH \
    --save_weights_path=$SAVE_WEIGHTS_PATH \
    --dataset_path=$DATASET_PATH

[2018-12-26 07:51] #1560 closed, assigned to nobody

[2018-12-26 15:07] wanghaoshuang commented on #1561
您好，非常感谢反馈。我们会尽快修复这个问题。

[2018-12-27 02:19] JiabinYang commented on #1504
done

[2018-12-27 02:19] #1504 closed, assigned to JiabinYang

[2018-12-27 03:28] silverfly1992 opened #1564 "gpu版的paddle一直运行不成功，确定cuda安装正确，运行paddle官网安装页面测试程序报paddle.fluid.core.EnforceNotMet: Cannot run operator on place CUDAPlace(0) at [/paddle/paddle/fluid/framework/operator.cc:145]"
只是将官网安装页面测试程序place = fluid.CPUPlace()改成了place = fluid.CUDAPlace(0)
完整错误代码如下：
Traceback (most recent call last):
  File "/home/silverfly/models/fluid/PaddleCV/deeplabv3+/paddle_test.py", line 73, in <module>
    train(save_dirname)
  File "/home/silverfly/models/fluid/PaddleCV/deeplabv3+/paddle_test.py", line 46, in train
    train_loop(fluid.default_main_program())
  File "/home/silverfly/models/f

[2018-12-27 06:48] upwindflys opened #1565 "CUDA Version 9.0.176 CUDNN7.0.4 paddlepaddle0.15.0 运行train_hinas.py报错"
learning rate: 0.100000 -> 0.000100, cosine annealing
epoch: 200
batch size: 128
L2 decay: 0.000400
Token is 7,5,8,1,2,10,9,2,2,2,8,8,8,2,9,4,9,11,7,4,3
sep_3x3 	-> shape (-1L, 64L, 32L, 32L)
conv_1x3_3x1 	-> shape (-1L, 64L, 32L, 32L)
maxpool_2x2 	-> shape (-1L, 128L, 16L, 16L)
============
conv_2x2 	-> shape (-1L, 128L, 16L, 16L)
conv_3x3 	-> shape (-1L, 128L, 16L, 16L)
avgpool_2x2 	-> shape (-1

[2018-12-27 07:10] WangTaoSpace opened #1566 "icnet这个模型中cityscape.py中IMG_MEAN这个变量起什么作用？"
代码中变量定义
[code]
使用这个变量的位置
[code]
不太懂，麻烦解下惑

[2018-12-27 10:51] NHZlX commented on #1566
img_mean 表示图像三个通道的均值，减去均值作为图像的预处理， 以便方便训练。

[2018-12-27 10:56] WangTaoSpace commented on #1566
相当于归一化，只是为了减低计算量吗？还是有其他好处？

[2018-12-27 11:22] NHZlX commented on #1566
并不会减低计算量。可以认为，减去均值后，图像的分布更容易被模型学习到，因此模型更容易收敛。

[2018-12-28 08:47] newdimitri opened #1575 "在使用官方代码训练SSD时，出现AttributeError: module 'paddle.fluid' has no attribute 'program'"
您好，研发老师，我在macos、Python3.7、paddlepaddle 1.2下运行https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/object_detection
中的代码时，出现错误：
[code]
运行指令为：
[code]
出错代码的前后文为：
[code]

[2018-12-28 08:54] jacquesqiao commented on #1575
fluid.program.devices_num_guard 改成 fluid.program_guard()

[2018-12-28 09:05] newdimitri commented on #1575
可依旧有问题，为何coco的程序要加载pascalvoc数据集？
[code]

[2018-12-28 09:22] jacquesqiao commented on #1575
看着是 pycocotools 内部的问题

[2018-12-28 09:24] newdimitri commented on #1575
那这个问题我们能解决吗？

[2018-12-28 09:27] qingqing01 commented on #1575
请入运行命令是啥？ 有下载COCO数据吗？ 有指定data_dir到COCO路径吗？

注意这个： https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/object_detection/train.py#L30

请 `python train.py --help` 仔细看下参数。

[2018-12-28 09:46] newdimitri commented on #1575
我按照readme给的代码跑的，确实少了data_dir参数。
这个问题解决了，但现在又有新问题：
[code]

[2018-12-28 11:45] qingqing01 commented on #1575
README默认给的是PascalVOC的训练。

这个问题很大原因是输入数据的路径不对，可以参考

https://github.com/PaddlePaddle/Paddle/issues/14476#issuecomment-439750551

https://github.com/PaddlePaddle/Paddle/issues/14601#issuecomment-442825495

[2018-12-28 11:45] imistyrain opened #1577 "Is there an implementation of mnasnet model?"
Like [MnasNet-PyTorch](https://github.com/AnjieZheng/MnasNet-PyTorch), I wrote a implementation from [mobilenet_v2.py](https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/image_classification/models/mobilenet_v2.py)
Is there anyone can check the code ?
[code]

[2018-12-28 13:52] newdimitri commented on #1575
我写的这个看起来没问题啊：
[code]
数据集目录结构是：
[code]
而且，train.py里写的是：
[code]
我也和它格式对齐了啊

[2018-12-29 03:38] dzhwinter commented on #1575
--data_dir='data/coco/' 写成 --data_dir='data/coco'试试。看着像路径问题

[2018-12-29 03:39] newdimitri commented on #1575
我是先试的data/coco，发现不行才换成data/coco/

[2018-12-29 05:49] newdimitri commented on #1575
我是先试的data/coco，发现不行才换成data/coco/

[2018-12-29 08:40] math-yyj opened #1579 "BUG in ...(pyramidbox)/face_detection/image_util.py ?"
In line 108, function:

def data_anchor_sampling(sampler, bbox_labels, image_width, image_height, scale_array, resize_width, resize_height):

the input "sampler" is never used, but I think I should be

[2018-12-29 08:58] Sun-Fan opened #1580 "The backbone for face detection."
Thanks for releasing the codes. I want to ask in the pyramidbox, if you have done the experiment on the backbone, such as the res50 and res101.And if this will be helpful for the wider_face val results.Thanks again.

[2018-12-29 12:46] qingqing01 commented on #1575
Fix bug for coco dataset #1582

[2018-12-29 12:48] qingqing01 commented on #1579
It's not bug. Just redundant code.

[2018-12-30 01:58] seanria opened #1583 "deeplabv3+训练的loss不断降低，但mIoU不变"
训练过程如下：
total number 500
step: 1, mIoU: 0.00036064465285404087
step 0, loss: 2.283701, step_time_cost: 24.394
Model is saved to output
load from: output
total number 500
step: 1, mIoU: 0.00040592799008661094
step 1, loss: 2.281190, step_time_cost: 22.383
Model is saved to output
load from: output
total number 500
step: 1, mIoU: 0.004588067474388075
step 2, loss: 2.277308, step_time_cost: 22.860
Mo

[2019-01-02 02:44] mathyyj commented on #1579
Many thanks. And what is the maximum occupation of CPU memory in training
 (My machine have GPU, but I know image_util is executed on CPU) ?
 I run your code and sometimes crashed at image_util.crop_image_sampling, around line 420,

#sample_img = np.zeros((height, width, 3))

 it report OOM here, but not always, usually after 1k+ iter. , I'm not sure whether my CPU memory is too small or something

[2019-01-02 07:54] ljayx opened #1584 "预训练模型的infer结果不对"
你好，
我直接从这里：https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/image_classification 下载了图像分类的预训练模型。
代码分支：develop
运行平台：macosx
预训练模型：AlexNet，VGG16，MobileNetV1等
测试数据：infer了千分类中的4张图：dining table, zebra, laptop, orange.
**其他啥都没改，但是基本所有模型的infer结果都明显不对，希望帮忙看下。**
[code]
输出如下：
[code]
可以看到，测试的四张图片dining table, zebra, laptop, orange**都被infer成了[973]，score也很低，而且每次infer的结果还都不一样**。希望帮忙分析下原因，谢谢！

[2019-01-02 08:00] ljayx commented on #1584
另外，--with_mem_opt参数置True和False时的结果也有很大差异，基本是10倍的关系，不知道为什么？

[2019-01-02 08:58] qingqing01 commented on #1579
The data preprocess runs on CPU by Python multiprocess by default.  The forward/backward computing can run on GPU.
`python train.py --help`  can see there is a flag `use_gpu`.
Could you paste the OOM error info?

[2019-01-02 09:02] qingqing01 commented on #1584
请注意，我们发布的模型有2个表格，上面表格说的是模型配置指定了参数名字，请注意用法：

https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/image_classification

然后你测试的AlexNet出在上面表格，需要用带参数名字的配置：

[code]

[2019-01-02 09:05] #1575 closed, assigned to nobody

[2019-01-02 09:07] busyboxs commented on #1551
@tycallen 你好，请问下训练deeplabv3+大概需要多少显存啊

[2019-01-02 09:08] qingqing01 commented on #1580
@Sun-Fan We only do experiments on the VGG backbone.  See some experiments on SSD model (PyramidBox is also based on SSD) in TensorFlow https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md , maybe accuray of the backbone of ResNet 50/101 is better, but we don't do experiments.  And the heavier backbone needs more GPU memory.

[2019-01-02 09:26] xiegegege opened #1585 "deeplabv3+在python3.6下报错"
deeplabv3+在ubuntu14 cuda8 cudnn7 python3.6下有个报错，报错内容如下：
Traceback (most recent call last):
  File "./train.py", line 148, in <module>
    load_model()
  File "./train.py", line 54, in load_model
    exe, dirname=args.init_weights_path, main_program=tp)
  File "/usr/local/lib/python3.6/dist-packages/paddle/fluid/io.py", line 487, in load_params
    filename=filename)
  File "/usr/local/lib/python3.

[2019-01-02 12:14] qingqing01 commented on #1585
@cjld Please help to fix this.

[2019-01-02 14:59] cjld commented on #1585
https://github.com/PaddlePaddle/models/pull/1586
fixed

[2019-01-03 02:53] #1585 closed, assigned to nobody

[2019-01-03 04:05] qingqing01 commented on #1583
@cjld 请帮忙看下这个问题~

[2019-01-03 05:03] yeyupiaoling opened #1592 "在Fluid版本的图像分类中能否提供更多的没有指定参数的预训练模型"
在图像分类模型中： https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/image_classification#supported-models-and-performances
提供不少的预训练模型，不过没有指定parameter names的模型很少，我一般是不命名的，我决定模型的命名已经很好了，但是提供的模型是指定命名的，我又得修改网络的命名，这样很不好。能否尽快提供无指定parameter names的预训练模型吗？特别是MobieNet V1和MobileNet V2

[2019-01-03 05:11] qingqing01 commented on #1592
预训练模型通常用于其他任务的初始化，用于其他任务，可能会增减若干层、调整顺序等，会导致一些需要加载的参数名字改变，因此才提供了很多指定参数名字的模型。您是觉得用指定名字的模型，会麻烦一些吗？

[2019-01-03 06:07] yeyupiaoling commented on #1592
@qingqing01 您这样说也有道理，因为我是完全使用模型的，结构是一致的，所以指定名字反而是一个累赘。

[2019-01-03 06:20] yeyupiaoling commented on #1592
@qingqing01 顺便问一下青青姐，提供了两种图像预处理方式的结构，分别是`top-1/top-5 accuracy(PIL)`和`top-1/top-5 accuracy(CV2) `。难道不同的处理工具，效果而也会不一样吗？如果图像增强的方式都一样。

[2019-01-03 06:32] yeyupiaoling opened #1594 "去掉MobileNet中的batch_norm层是否会影响模型的性能"
如果我去掉MobileNet V1的batch_norm层，如下：
https://github.com/PaddlePaddle/models/blob/5c6f919e36d4b849a787a6e4df5693ce86252b5f/fluid/PaddleCV/image_classification/models_name/mobilenet.py#L163-L169

和MobileNet V2的batch_norm层，如下：
https://github.com/PaddlePaddle/models/blob/5c6f919e36d4b849a787a6e4df5693ce86252b5f/fluid/PaddleCV/image_classification/models_name/mobilenet_v2.py#L111-L116

是否会影响这个网络的性能，因为我电脑用

[2019-01-03 07:01] xiegegege commented on #1585
没完全好，还是有报错：
paddle.fluid.core.EnforceNotMet: Cannot open ./model to write at [/home/Paddle/paddle/fluid/operators/save_combine_op.cc:54]

[2019-01-03 07:55] ljayx commented on #1584
感谢及时的回复！
加上model_category参数后确实可以了，不过infer.py代码要稍微的改一下。

另外遇到一个新问题，就是infer的结果为什么不是经过softmax处理的？模型代码里是加了softmax作为激活函数的：
[AlexNet snippet]
[code]
但是输出如下：
[code]
这跟把softmax去掉的输出是一样的，说明softmax根本没起作用。
然后我把softmax改成sigmoid：
[code]
输出如下：
[code]
这说明，激活函数的确是加在了最后的输出上，**但sigmoid起作用，而softmax不起作用**，透明的。
请问这是代码bug吗？还是其它什么问题呢？

期待您的回复！
Thanks in advance!

[2019-01-03 08:47] cjld commented on #1585
add / before model solved this issue.

[2019-01-03 09:10] xuezhong commented on #1594
建议还是使用batch_norm，一般batch_norm都是有效果的。不过你可以验证下，在你的数据上能不能正常收敛

[2019-01-03 09:54] yeyupiaoling commented on #1594
@xuezhong 好的，谢谢回答。

[2019-01-03 09:54] #1594 closed, assigned to nobody

[2019-01-03 20:33] shippingwang commented on #1592
@yeyupiaoling cv2和PIL主要是速度上的区别，cv2要略快一点

[2019-01-04 03:39] qingqing01 commented on #1592
@yeyupiaoling 速度有差别外，python-cv2和PIL对图像得解码也有区别，可能一些操作输出可能也会有微小的输出。比如你可以打印python-cv2和PIL解码之后的图片，可能就有像素点的差异。

[2019-01-04 04:55] yeyupiaoling commented on #1592
哦哦，是这样子，好的。谢谢您们。

[2019-01-04 04:55] #1592 closed, assigned to nobody

[2019-01-04 11:41] oxygenman opened #1598 "icnet预训练模型的下载链接是无效的"

[2019-01-05 14:47] geng007 commented on #1543
请问你解决了吗.我也遇到这个问题

[2019-01-06 12:32] busyboxs commented on #1497
@cjld 你好，我将num_classes改为9之后出现了以下错误，但是不知道是哪个conv的问题

[code]

[2019-01-07 03:18] xiegegege opened #1601 "ssr训练报错"
环境：CentOS，python3.5
ssr在第一轮训练结束保存模型时有个报错：
2019-01-05 12:05:18,962 - INFO - Train --> pass: 0 batch_id: 62138 avg_cost: [0.09472405], acc: 0.9921875
2019-01-05 12:05:19,121 - INFO - Train --> pass: 0 batch_id: 62139 avg_cost: [0.09657063], acc: 0.703125
Traceback (most recent call last):
  File "train.py", line 98, in <module>
    main()
  File "train.py", line 95, in main
    start_train(args)
  F

[2019-01-07 03:24] xiegegege opened #1602 "deep_attention_matching_net在python3.5下训练报错"
使用环境：CentOS，python3.5
deep_attention_matching_net在训练一段时间后有个报错：
processed: [0.9888] ave loss: [0.6957890391349792]
processed: [0.9984] ave loss: [0.7063019275665283]
Traceback (most recent call last):
  File "train_and_evaluate.py", line 404, in <module>
    train(args)
  File "train_and_evaluate.py", line 394, in train
    .format(epoch, "%2.2f sec" % time.time() -begin_time ))
TypeError: unsuppor

[2019-01-07 11:47] zhengya01 opened #1605 "HiNAS_models运行报错"
HiNAS_models运行报错，如下：
fluid/PaddleCV/HiNAS_models/nn_paddle.py", line 129, in run
    trainer = fluid.Trainer(
AttributeError: 'module' object has no attribute 'Trainer'

环境CUDA9，cudnn 7 ，paddlpaddle1.2

[2019-01-07 12:40] dashulu opened #1606 "transformer模型训练时，没有训练就出现了StopIteration的错误"
按照wiki https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleNLP/neural_machine_translation/transformer/README_cn.md 执行transformer，
得到的日志为：
65 [2019-01-07 20:15:17,001 INFO train.py:608] epoch: 25, consumed 0    .000111s
 67 [2019-01-07 20:15:19,531 INFO train.py:608] epoch: 26, consumed 0    .000145s
 69 [2019-01-07 20:15:21,376 INFO train.py:608] epoch: 27, consumed 0    .000136s
 71 [

[2019-01-07 13:19] guoshengCS commented on #1606
这个可能是因为数据文件路径错了，获取不到文件数据是空的，可以再确认下数据文件

[2019-01-07 13:44] geng007 opened #1607 "deeplabv3"
![default](https://user-images.githubusercontent.com/38428867/50771442-a05fc900-12c5-11e9-8506-861bb46a73c9.png)
![default](https://user-images.githubusercontent.com/38428867/50771469-b3729900-12c5-11e9-9966-b973fbf83016.png)

read.py中
        if six.PY2:
            import commands
            label_files = commands.getoutput(
                "find %s -type f | grep labelTrainIds | sort" %

[2019-01-07 13:58] busyboxs commented on #1607
你对数据做处理了么？gt文件夹下面是否有带有`labelTrainIds`的文件，比如

[code]

[2019-01-07 14:04] busyboxs opened #1608 "deeplabv3修改类别后，出现错误"
机器环境：ubuntu16.04 + CUDA8 + cudnn5.1 + paddlepaddle1.1（post85）+ anaconda(py2.7)

如果不改类别数目，导入预训练模型可以正常运行；

如果修改类别数目，不导入预训练模型可以正常运行；

如果修改类别数目，导入预训练模型则会报错；

错误为

[code]

很奇怪，调试半天也不知道为什么，

[2019-01-07 14:36] shippingwang opened #1610 "Faster rcnn profile运行nan"
![image](https://user-images.githubusercontent.com/13645332/50773747-9d1c0b80-12cc-11e9-98f2-5bc3d60fe306.png)

跑了下profile， loss有点问题

[2019-01-07 16:08] Lirunhua opened #1611 "URL can not open"
https://github.com/baidu/Dialogue/DAM
Get 404 error

[2019-01-08 02:00] jerrywgz commented on #1610
应该加载paddle release出来的model，在文档中有相关链接

[2019-01-08 02:03] shippingwang commented on #1610
@jerrywgz OK

[2019-01-08 03:48] #1610 closed, assigned to jerrywgz

[2019-01-08 03:49] xiegegege opened #1612 "word2vec无法预处理数据"
环境：CentOS6 , python2.7
word2vec预处理数据后生成的文件都是空的（并没有提示出错），导致训练报错。
Traceback (most recent call last):
  File "train.py", line 354, in <module>
    train(args)
  File "train.py", line 255, in train
    is_sparse=args.is_sparse)
  File "/home/data/xiege/models_cuda8/models-develop/fluid/PaddleRec/word2vec/network_conf.py", line 106, in skip_gram_word2vec
    math.sqrt(dict_size))))
ZeroDivisionError: f

[2019-01-08 06:11] dashulu commented on #1606
@guoshengCS 这个训练很占用内存吗？如何把内存使用降下来？我可以用两卡进行训练，但是到了4卡之后，系统就卡住了

[2019-01-08 07:20] wshhja opened #1613 "我在安装DeepASR模块的时候遇到了下面的报错，请问该怎么解决？"
[hhj@hhj decoder]$ sh setup.sh
running build_ext
building 'post_latgen_faster_mapped' extension
g++ -fno-strict-aliasing -O2 -g -pipe -Wall -Wp,-D_FORTIFY_SOURCE=2 -fexceptions -fstack-protector-strong --param=ssp-buffer-size=4 -grecord-gcc-switches -m64 -mtune=generic -D_GNU_SOURCE -fPIC -fwrapv -DNDEBUG -O2 -g -pipe -Wall -Wp,-D_FORTIFY_SOURCE=2 -fexceptions -fstack-protector-strong --param=ssp-

[2019-01-08 07:55] qingqing01 commented on #1608
这个问题是load的某个conv的weights shape不对，或者没有对startup_program初始化。 但我看代码https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/deeplabv3%2B/train.py#L167 已经run了startup_program了。

你是用的原本的xception65的模型吗？

[2019-01-08 08:06] busyboxs commented on #1608
我使用的是README链接中给的模型。如果下载代码只是修改`--num_class`，能在你们的电脑上正常运行么？有没有什么方法能查看`deeplabv3plus_xception65_initialize.params`里面的数据？然后这个初始化模型是怎么得到的？

[2019-01-08 08:15] WangTaoSpace opened #1614 "icnet项目中trian.py和infer.py 中images大小不一致，导致windows下预测报错"
train.py中
[code]
infer.py中
[code]
我是在windows上的paddlepaddle，infer时会报错。按照我的常识，infer中的data_shape应该和train中的一致，改成一致，infer能够执行，但是预测结果很差，这里就是应该不一致吗？

[2019-01-08 10:54] ljayx commented on #1584
可以帮忙看下这个问题吗？
谢谢！

[2019-01-08 14:42] geng007 commented on #1557
你好,请问你解决了吗,我也遇到一样的问题

![default](https://user-images.githubusercontent.com/38428867/50837480-b093a900-1396-11e9-9e8f-e5625dde8ced.png)

[2019-01-08 15:14] wzzju commented on #1611
Please refer to https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleNLP/deep_attention_matching_net

[2019-01-08 15:14] #1611 closed, assigned to wzzju

[2019-01-09 02:07] wanghaoshuang commented on #1557
@freekoy @geng007
如果使用的不是cityscape的数据，这一行的shape改成和测试数据一致的大小试试？
https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/icnet/cityscape.py#L17

[2019-01-09 02:22] #1601 closed, assigned to nobody

[2019-01-09 02:42] geng007 commented on #1557
@wanghaoshuang
![default](https://user-images.githubusercontent.com/38428867/50872432-b4591700-13fa-11e9-8aef-bb8d67ef1d73.png)
![default](https://user-images.githubusercontent.com/38428867/50873457-2df10500-13fb-11e9-8373-07c3c5a3da61.png)
这里shape改成TRAIN_DATA_SHAPE = (3, 1024, 2048)不能训练,改回TRAIN_DATA_SHAPE = (3, 720, 720)就可以训练

[2019-01-09 02:53] wanghaoshuang commented on #1614
训练的时候data_shape 设置为`(3, 720, 720)`是为了对图片进行random crop的数据增广，预测的时候data_shape要和实际图片保持一致。如果预测的时候将data_shape设置为`(3, 720, 720)`的话，相当于预测是也在做random crop了，所以预测效果很差。

如果你训练用的图片比较多的话，可以将训练时的data_shape 设置为图片实际大小，预测的时候data_shape也用图片实际大小。

[2019-01-09 03:06] geng007 commented on #1557
@wanghaoshuang     我将cityscape.py中的TEST_DATA_SHAPE 改为(3, 720, 720) , TEST_DATA_SHAPE传入了infer.py的infer(args),但依然报那个bug
![default](https://user-images.githubusercontent.com/38428867/50874202-21ba7700-13fe-11e9-976b-06bf96ffadd9.png)
在读取test的时候,对 ` img = paddle.dataset.image.to_chw(image)[np.newaxis, :]`reshape改如何尝试呢
![default](https://user-images.githubusercontent.com/38428867/50874235-4878ad80-13fe

[2019-01-09 03:37] WangTaoSpace commented on #1614
我使用windows上paddlepaddle，data_shape设置成实际图片大小报错如下，这是因为windows平台的原因吗？
[code]
训练的时候 random crop是在代码这里做的
![image](https://user-images.githubusercontent.com/20881549/50874646-d2754600-13ff-11e9-9d61-972bc52dfaab.png)
我预测的时候没有random crop 直接 image = cv2.resize(image, train_shape[1:])进行了缩放。

我现在的训练数据大约有3万。关于模型效果，有下面几个问题？
1. 如果我的输入是原始图片大小，网络的训练计算量会不会变的过大？
2.关于icnet这个模型，输入是一个图片的所有像素，但是只有很小一部分是相关像素（我只检测里面的车道线

[2019-01-09 06:12] geng007 commented on #1614
![default](https://user-images.githubusercontent.com/38428867/50880185-7539be80-1418-11e9-9bc3-25744c721f80.png)
![default](https://user-images.githubusercontent.com/38428867/50880228-a1edd600-1418-11e9-93e7-5233d73bf36e.png)

[2019-01-09 06:47] xiegegege opened #1617 "face_detection和object_detection运行结束报错"
face_detection和object_detection运行结束报错，并且object_detection在python2下运行结束会另外报'traceback' is not defined
*** Aborted at 1545741303 (unix time) try "date -d @1545741303" if you are using GNU date ***
*** Aborted at 1545741303 (unix time) try "date -d @1545741303" if you are using GNU date ***
*** Aborted at 1545741303 (unix time) try "date -d @1545741303" if you are using GNU date ***
*** Aborted at 154

[2019-01-09 06:49] xiegegege opened #1618 "lac安装时conf内容没下载下来"
lac在linux下的安装没提示需要git-lfs，运行后报错也没看出来conf内容没下载。建议文档中加个需要下载git-lfs的提示

[2019-01-09 06:53] xiegegege opened #1619 "video_classification数据路径问题"
video_classification的train_list文件中定义的数据路径都是当前data路径，无法灵活设置数据。
且需要在data目录下新建一个video_classification文件，并在其中存放train_pkl（readme中没提示）

[2019-01-09 06:55] xiegegege opened #1620 "object_detection在使用coco数据集时需要修改data_dir"
object_detection在使用coco数据集时需要修改data_dir（文档没提示）

[2019-01-09 06:57] xiegegege opened #1621 "neural_machine_translation的read me里的公式格式有问题"
neural_machine_translation/rnn_search 的read me里的公式格式有问题

[2019-01-09 06:58] xiegegege opened #1622 "faster_rcnn的默认数据路径错误"
faster_rcnn的默认数据路径是data/COCO17需要修改为dataset/coco

[2019-01-09 06:59] xiegegege opened #1623 "ctr的数据下载链接失效了"
ctr的数据下载链接失效了

[2019-01-09 08:29] jerrywgz commented on #1622
默认数据路径和自身的下载路径有关，一般需要自己设置数据路径

[2019-01-09 08:36] shippingwang commented on #1584
#1625 已修复

[2019-01-09 08:37] shippingwang commented on #1584
Good Question, @Knownx #1625 Fixed

[2019-01-09 08:38] Superjomn commented on #1623
请增加更多描述哈

[2019-01-09 08:43] jerrywgz commented on #1620
是说默认data_dir和下载的路径不同吗

[2019-01-09 08:48] wshhja commented on #1613
原因是安装的kaldi有问题，重新按照教程安装，sh setup.sh就能跑起来了

[2019-01-09 08:48] #1613 closed, assigned to kuke

[2019-01-09 08:57] xiegegege commented on #1623
运行ctr/data文件夹中的download.sh后，无法下载数据

[2019-01-09 08:59] Superjomn commented on #1623
![image](https://user-images.githubusercontent.com/328693/50888124-e6d13700-142f-11e9-83b8-67ea8a5b5e6e.png)
这个里面？

[2019-01-09 09:02] jacquesqiao commented on #1623
The url for data now is https://s3-eu-west-1.amazonaws.com/kaggle-display-advertising-challenge-dataset/dac.tar.gz, we will update the download.sh later

[2019-01-09 09:09] xiegegege commented on #1623
ok

[2019-01-09 09:12] xiegegege commented on #1622
但faster_rcnn路径下的数据目录是dataset/coco，如果在当前目录下存放数据，运行就会报错了

[2019-01-09 09:28] xiegegege commented on #1620
对的，默认的data_dir是pascalvoc数据的路径，文档里没说使用coco数据集需要改data_dir，只说要改dataset，然后运行就会报错了。。

[2019-01-09 09:30] jerrywgz commented on #1622
https://github.com/PaddlePaddle/models/pull/1626
已修复，感谢反馈

[2019-01-09 09:31] jerrywgz commented on #1621
已经交给相关负责同学，感谢反馈！

[2019-01-09 09:51] jerrywgz commented on #1618
已交给相关负责同学，感谢反馈！

[2019-01-09 10:03] ljayx commented on #1584
@shippingwang
谢谢回复！
请问--with_mem_opt参数置True时的结果依然是没有softmax处理的是什么原因？
[code]
输出：
[code]

[2019-01-09 10:07] ljayx commented on #1584
[use memory optimizer will cover output memory, add a skip option.](https://github.com/PaddlePaddle/models/pull/1625#issue-243245552)
就是将with_mem_opt参数置True而cover output memory的这种行为是expected的吗？还是说后续会有优化？

[2019-01-09 10:45] jerrywgz commented on #1584
这个应该是显存优化中的问题，这个问题我们会和相关负责人再反馈的

[2019-01-09 10:55] geng007 opened #1629 "I"

[2019-01-09 11:02] geng007 opened #1630 "icnet"
icnet中的infer.py中 `img = paddle.dataset.image.to_chw(image)[np.newaxis, :]`  , paddle读取到的img.shape =(1, 3, 1710, 3384) , 读取之后进行cv2.resize , 报错,请问 paddle读取的img 如何resize

[2019-01-09 11:07] #1629 closed, assigned to nobody

[2019-01-09 11:23] ljayx commented on #1584
感谢及时的回复并解决了我的问题。:)

[2019-01-09 12:14] jerrywgz commented on #1630
正确的顺序应该是to_chw(image), cv2.resize(image, shape), image[np.newaxis, :]，(1,3,1710,3384)这种size的数据cv2应该不能处理

[2019-01-09 12:52] jerrywgz commented on #1619
麻烦贴下哪里需要新建video_classification文件吗？我们这边复现起来比较费时

[2019-01-09 13:38] qingqing01 commented on #1617
感谢反馈，该问题不影响结果，确实影响体验，最近修复下，多谢~

[2019-01-09 13:42] SunGaofeng commented on #1619
目前确实没有将文件路径作为函数参数传入，而是固定的写在代码里面了，后续我们会陆续发布其他video classification模型，将统一修改这些接口。
如果目前想改变数据路径的话，可以手动修改源代码：
1  修改解码后的文件存放路径，video_decode.py 里面line 20，可以将'./frame'替换成制定目录
                image_folder = './frame/' + folder + '/' + vid.split('.')[0] + '/'              #line 20
2 修改转化后的pkl文件路径，generate_train_data.py 里面 line 16，可以将savepath改成需要设置的目录，train_list和test_list会自动生成新的存放路径
               savepath = '

[2019-01-09 15:35] #1612 closed, assigned to JiabinYang

[2019-01-10 01:58] wanghaoshuang commented on #1614
1. 关于报错问题：
这个错误和你环境无关。
你将[这一行](https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/icnet/icnet.py#L168) 改为`  tmp = max_pool(tmp, 3, 3, 2, 2, padding=[1, 1])` 试试？因为目前的icnet的网络配置是对输入图片size的奇偶敏感的，目前只兼容了cityscape的数据，如果用自己的数据的话，需要适当调整网络。

    fetch_list=[predict])
  File "G:\python 3.6.3\lib\site-packages\paddle\fluid\executor.py", line 472, in run
    self.executor.run(program.desc, sco

[2019-01-10 02:02] wanghaoshuang commented on #1614
单次迭代的计算量肯定会增大的。对于整体任务来说，不好评估。

隐藏层的值的分布和你要检测目标像素的比例没有直接关系。目标像素占比例小只会导致最终的predict输出很容易几乎全为背景。

[2019-01-10 02:03] wanghaoshuang commented on #1557
https://github.com/PaddlePaddle/models/issues/1614#issuecomment-452941566

[2019-01-10 02:16] soldier828 opened #1631 "pytorch模型转fluid模型 脚本"
请问可以提供一个 pytorch模型转fluid模型的demo吗？

[2019-01-10 02:18] xiegegege commented on #1619
嗯嗯，好的，谢谢解答

[2019-01-10 02:49] WangTaoSpace commented on #1614
谢谢。关于报错的问题，我觉得是图像会在模型中关于它的shape进行resize，所以输入图像的大小是16的整数倍就可以了。
[code]
上面代码 resize 这里参数应该是（w,h）吧。

我现在能够预测成功了，但是还是有点问题。
1.我预测的所有图片的有效像素点都集中在了图片的右边缘如下图，我正在找原因，您有遇到过吗？
![171206_064839744_camera_6_result](https://user-images.githubusercontent.com/20881549/50941992-f8631f00-14c1-11e9-9d80-488d45c9ee7c.png)
2.目标像素占比例小只会导致最终的predict输出很容易几乎全为背景。这个问题，您有什么建议吗？我是不是可以通过增加目标像素在损失函数中的权重来解决，比如训练分两步，第一步锁定目标像素的区域，第

[2019-01-10 03:03] jshower commented on #1618
已在Readme文档的开头加入对git-lfs安装的说明。

[2019-01-10 03:03] #1618 closed, assigned to kuke

[2019-01-10 04:30] frankwhzhang commented on #1631
目前还没有脚本可以从pytorch转fluid

[2019-01-10 05:05] wanghaoshuang commented on #1614
没遇到过这种情况

这种小目标检测或分割问题，我们也没有好的方案，目前也是在探索中，你说的方法值得试一下。

[2019-01-10 05:14] #1623 closed, assigned to jacquesqiao

[2019-01-10 06:23] YanYan0716 commented on #1514
any one solved the problem? I met the same problem,thanks a lot

[2019-01-10 06:41] YanYan0716 commented on #1617
请问你的GPU 型号是什么?我运行的人脸检测部分,我的GPU是4G,程序跑不起来

[2019-01-10 06:54] yeyupiaoling opened #1633 "图像分类中下载的ImageNet-2012图像数据到底多大？"
文档说是超过40GB，我以为是40GB左右，竟然单独训练数据就有138GB了，是脚本问题，还是文档写错了？

[2019-01-10 06:57] YanYan0716 opened #1634 "face_detection"
hello, i want to know if the face_detection model could be used on CUDA8+CUDNN5.1 or it must be used on CUDA9+CUDNN7,thanks

[2019-01-10 07:17] xiegegege commented on #1617
我的GPU型号是Tesla P40，20多G的

[2019-01-10 07:31] YanYan0716 commented on #1617
好的,谢谢啦

[2019-01-10 07:32] xiegegege commented on #1617
不客气

[2019-01-10 07:32] YanYan0716 commented on #1617
请问你的CUDA是什么型号?8 9?

[2019-01-10 07:38] xiegegege commented on #1617
我在cuda8cudnn7和cuda9cudnn7上跑过

[2019-01-10 08:17] xiegegege commented on #1622
<img width="741" alt="6434a1ee95797ce9fdc090c3cfbf8f3e" src="https://user-images.githubusercontent.com/46314656/50955000-f6658400-14f2-11e9-962a-a7348d108777.png">
似乎没改全。。这些也要改下吧。。

[2019-01-10 08:24] qingqing01 commented on #1633
提供的下载脚本，下载的全量数据确实是138GB，指把1000类的数据抽取出来大约40G+吧， 我们去掉文档里数字吧，多谢反馈。

[2019-01-10 08:25] qingqing01 commented on #1634
It can be worked with CUDA8+CUDNN5.1.

[2019-01-10 08:31] yeyupiaoling commented on #1633
@qingqing01 好的，谢谢。

[2019-01-10 08:31] #1633 closed, assigned to qingqing01

[2019-01-10 08:58] YanYan0716 commented on #1634
and my GPU about 4G,could i use the model? i have trid, but it said outof memory?

[2019-01-10 09:00] YanYan0716 commented on #1634
i am looking for you answer

[2019-01-10 10:32] soldier828 commented on #1631
能给一些 有关的代码文件  参考一下吗？现在一脸懵逼。。。

[2019-01-10 11:06] junjun315 commented on #1602
在 https://github.com/PaddlePaddle/models/pull/1637 中修改了。

[2019-01-10 11:08] #1602 closed, assigned to nobody

[2019-01-10 11:44] qingqing01 commented on #1634
@yanqian123 4G is not enough. PyramidBox in face detection is memory consuming.

[2019-01-10 13:40] frankwhzhang commented on #1631
自动转模型的工具，短期不会支持。建议直接用paddle做训练。在models目录下面有常见的模型，可以参考这些模型的pytorch与fluid版本

[2019-01-11 01:34] qianledan opened #1640 "dist_train.py文档中的方法如何详解？"
官网的github中的分布训练dist_train.py文档中，append_bn_repeat_ini_op()方法是什么作用？里面有个参数num_repeats，重复次数用于什么？global_block().相关的方法都是什么意思，没有文档看不懂代码。
![qq 20190111092734](https://user-images.githubusercontent.com/45925696/51007828-0b3e2800-1584-11e9-9bc7-4c3921b7c3e9.png)

[2019-01-11 01:40] YanYan0716 commented on #1634
how much memory i need?

[2019-01-11 02:01] qianledan opened #1641 "分布训练是否要求每个node的gpu数量型号要一致？"
分布训练是否要求每个node的gpu数量型号要一致？我有4台一台双K80，一台一块K80，一台p100，1台1080ti，可否允许分布训练？
另外，如果有多台trainer，其中一台用gpu，一台用cpu，是否也可以执行分布训练？

[2019-01-11 02:28] #1631 closed, assigned to frankwhzhang

[2019-01-11 02:29] soldier828 opened #1642 "fluid模型加载外部权重"
fluid使用pytorch模型的问题。
1. pytorch训练好的模型怎么用fluid加载？
2. 或者我这边已经有了每一层的模型参数，怎样生成对应的fluid模型？
请问有什么可以参考的code吗？

[2019-01-11 03:04] #1622 closed, assigned to nobody

[2019-01-11 06:54] imistyrain opened #1644 "分布式训练时提示CUBLAS: not initialized"
使用[dist_train.py](https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/image_classification/dist_train/dist_train.py)进行分布式训练，提示
[code]

使用的命令为
[code]

而相同环境变量下使用单机多卡GPU版本时训练时并未提示需要cublas.

[2019-01-11 07:33] busyboxs commented on #1608
找到原因了，问题出在`fluid.io.load_vars(exe, dirname="", filename=args.init_weights_path, vars=myvars)`

[2019-01-11 07:33] #1608 closed, assigned to nobody

[2019-01-11 09:54] qingqing01 commented on #1634
@yanqian123 We use P40 (22G)/V100(16G). You'd better to use GPU with memory more than 12G. We use 640x640 input on WIDERFace. You also can reduce the input shape.

[2019-01-12 07:46] wangguibao commented on #1640
请问是哪个网络？

[2019-01-13 02:57] wangguibao commented on #1640
关于fluid.Program相关的方法，请参考这个文档：http://paddlepaddle.org/documentation/docs/zh/1.2/api_cn/fluid_cn.html#permalink-23-program

[2019-01-13 03:17] wangguibao commented on #1644
线下跟用户沟通，怀疑是--device=CPU参数未生效，且使用了GPU版本的fluid。用户自己修改已经修复了。

[2019-01-13 03:17] #1644 closed, assigned to wangguibao

[2019-01-13 04:21] typhoonzero commented on #1640
此处相关的代码是为了处理batch merge功能的，用于提高batchsize的情况下，降低显存占用。这些后续会封装到paddle中。只需要理解，batch merge是跑多个batch的前向和反向，然后把gradient merge起来的功能就行。

[2019-01-13 04:24] typhoonzero commented on #1641
使用Pserver 模式是可以在不同的GPU型号上做分布式训练的，pserver使用cpu执行。一些trainer用gpu，一些用cpu也可以。但需要注意的是，如果是同步训练，不同的gpu型号速度不一样，会导致每个batch等待最慢的gpu完成开始下一个batch。可以考虑使用异步模式

[2019-01-13 06:38] geng007 commented on #1614
@WangTaoSpace
我的预测结果全都为背景了，你预测成功了吗

[2019-01-14 01:38] WangTaoSpace commented on #1614
我的预测结果也很差，而且同一个图片，多次预测，结果差别很大。

[2019-01-14 01:56] wanghaoshuang commented on #1614
预测的时候，图片是不是有随机处理的操作？

[2019-01-14 02:00] WangTaoSpace commented on #1614
没有，我把随机处理都去掉了，而且转换成了二分类，也就是背景和车道线，图片也弄成灰度单通道了。是不是我训练的时间不够呀，我只训练了一个pass。
[code]

[2019-01-14 02:08] WangTaoSpace commented on #1614
@wanghaoshuang 这个是我的代码https://github.com/WangTaoSpace/icnet_hermes/blob/master/icnet_hermes.py

[2019-01-14 02:40] universea commented on #1614
老铁，报错问题解决了嘛，同求解决方案

[2019-01-14 03:01] imistyrain commented on #1644
这块是文档不全还有就是换行\导致的问题,我是用单机多卡来进行分布式训练的,亲测能用的如下:
`export LD_LIBRARY_PATH=/home/ar/gongyanhe/libs/cuda/lib64/:$LD_LIBRARY_PATH
export FLAGS_fraction_of_gpu_memory_to_use=0.5
export CUDA_VISIBLE_DEVICES=0

PADDLE_TRAINING_ROLE=PSERVER PADDLE_TRAINERS=2 PADDLE_PSERVER_IPS=127.0.0.1 PADDLE_CURRENT_IP=127.0.0.1 PADDLE_PSERVER_PORT=7164 python dist_train.py --batch_size=32 --update_method=pserver --device=

[2019-01-14 03:19] wanghaoshuang commented on #1614
@WangTaoSpace 训练一个pass肯定是不行的，但是同一个图片的多次预测结果应该一样的。

[2019-01-14 03:27] WangTaoSpace commented on #1614
这是我的代码https://github.com/WangTaoSpace/icnet_hermes/blob/master/icnet_hermes.py。
有时间帮我看看呗，我现在觉的可能的问题是我PIL和opencv混用了，但是跑的是灰度图，应该是不影响的。
还有一个问题。见下面代码，你们的模型在计算交叉熵的时候，最后直接让卷积的特征通道数等于分类数，用不同特征通道的值，当做softmax的值。这样做有依据吗？
[code]

[2019-01-14 03:29] WangTaoSpace commented on #1614
你可以参考下我提供的代码，但是这个代码跑的模型预测结果超级差。

[2019-01-14 05:36] xiegegege opened #1646 "chinese_ner模型易用性问题"
<img width="512" alt="5abd8023a19241ee4c0a101ae74d4ada" src="https://user-images.githubusercontent.com/46314656/51097482-5ca61b80-17ff-11e9-9655-b1b597655f20.png">
chinese_ner文档中是通过修改代码来设置参数，但命令行就可以，建议给出主要的参数设置列表，例如：python train.py --train_data_dir=data/train_files ...
另外，为方便用户使用，建议告知用户使用python train.py --help查看参数说明

[2019-01-14 07:13] wanghaoshuang commented on #1614
图像的语义分割就相当于像素级的分类，所以对于K分类任务，最后一层的卷积需要得到每个像素点在K类上的概率分布，所以就自然的映射到K个channel了。更多细节可以参考以下paper:

https://people.eecs.berkeley.edu/~jonlong/long_shelhamer_fcn.pdf
https://arxiv.org/abs/1704.08545

[2019-01-14 07:19] universea commented on #1614
发现最后一层经过softmax后，单个像素的９分类概率和相加不为１．　我的代码如下：
    print('merge9    shape',merge9.shape)
        conv9 = conv_layer(input=merge9, num_filters=64, filter_size=3, stride=1, act='relu')
        print('conv9     shape',conv9.shape)
        conv9 = conv_layer(input=conv9, num_filters=64, filter_size=3, stride=1, act='relu')
        print('conv9     shape',conv9.shape)
        conv9 = conv_layer(input=conv9

[2019-01-14 07:45] kolinwei opened #1647 "faster_rcnn如果一旦数据指定错误，活找不到训练文件，程序会一直夯着"

[2019-01-14 08:14] zhengya01 opened #1649 "faster_rcnn运行失败ValueError: Shape not match. What is defined in data layer is (-1L, 3L, 1333L, 1333L), but receive (1, 3, 800, 1205)"
标题：faster_rcnn训练过程失败
ValueError: Shape not match. What is defined in data layer is (-1L, 3L, 1333L, 1333L), but receive (1, 3, 800, 1205)

版本、环境信息：
   1）PaddlePaddle版本：a92860a3b1dce1ddd25885e06514dfe02839aabc
   3）GPU：GPU型号V100、CUDA9、CUDNN7
   3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本

训练信息
   1）单机，单卡/多卡

复现信息：
FLAGS_benchmark=true python train.py --model_save_dir=output/ --data_dir=dataset/coco/

[2019-01-14 08:21] xiegegege opened #1650 "text_classification文档中链接失效"
<img width="866" alt="620f566b2cf1a57c596e7b4e3351aadb" src="https://user-images.githubusercontent.com/46314656/51102054-5cfee080-1818-11e9-9030-03132077f390.png">
链接失效，报404

[2019-01-14 08:31] Xreki commented on #1649
已回答，见https://github.com/PaddlePaddle/Paddle/issues/15317#issuecomment-453928762

[2019-01-14 09:22] Xreki commented on #1646
感谢建议，我们会尽快修复。

[2019-01-14 09:23] Xreki commented on #1650
收到，我们会尽快修复

[2019-01-14 11:52] likeqinqin opened #1651 "fluid c++预测库(cuda8.0-cudnn7-avx)在p4卡上跑，CreatePaddlePredictor未成功直接退出"
如题

[2019-01-14 13:45] #1651 closed, assigned to nobody

[2019-01-14 15:40] #1641 closed, assigned to wangguibao

[2019-01-14 15:41] #1640 closed, assigned to wangguibao, shanyi15

[2019-01-14 15:44] wangguibao commented on #1642
文慧帮忙提供了一个caffe转fluid的工具，用户在参考
https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/caffe2fluid

[2019-01-15 02:52] xiegegege opened #1654 "deeplabv3+保存路径错误"
<img width="826" alt="wechatdacff939e2d48988e08360120ac1cf1f" src="https://user-images.githubusercontent.com/46314656/51155617-05fa1980-18b3-11e9-9072-ca397479639e.png">
deeplabv3+文档中的权重保存路径为output，运行后会报如下错误：
<img width="1786" alt="wechat401389064ec308b5146b9c96f9c43e07" src="https://user-images.githubusercontent.com/46314656/51155850-f7603200-18b3-11e9-9814-95f85c880027.png">
改成--save_weights_pat

[2019-01-15 06:21] xiegegege opened #1655 "face_detection文档格式错误"
<img width="925" alt="af50e062e8cdca1c56f078a2b8f64514" src="https://user-images.githubusercontent.com/46314656/51162289-a01c8a80-18d0-11e9-9476-a6e77c212528.png">

1、图中“物体检测SSD算法”链接失效了，报404
2、文档中公式格式错误

[2019-01-15 07:04] xiegegege opened #1656 "faster_rcnn模型易用性问题"
为方便用户使用，建议按照操作步骤来描述文档，在介绍预训练模型、cocoapi安装后再介绍运行命令python train.py .....

[2019-01-15 08:01] luotao1 commented on #1655
@shanyi15 最近有很多文档链接失效，请问能否在travis-ci中加入这项检查呢？
#1650 #1598 #1623

[2019-01-15 08:39] shanyi15 commented on #1655
需求收到

[2019-01-15 10:05] ninegsf opened #1658 "fluid textcnn模型训练+预测"
想要使用fluid textcnn训练模型然后预测
目前有自己的正负样本数据
但是不知道怎么使用模型，
1.数据应该按照什么样的格式
2.数据应该放在哪儿，
3.最终的产出模型在哪儿

[2019-01-15 11:03] shippingwang commented on #1658
@ninegsf 自己的数据要read进去 麻烦看一下[load自己的数据](https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleNLP/text_classification/utils.py#L60) ， 谢谢

[2019-01-15 13:50] shippingwang commented on #1655
Fixed by #1659

[2019-01-15 13:51] #1655 closed, assigned to shippingwang

[2019-01-15 13:51] shippingwang commented on #1654
Fixed by #1659

[2019-01-15 13:51] #1654 closed, assigned to shippingwang

[2019-01-15 13:52] shippingwang commented on #1650
Fixed by #1659

[2019-01-15 13:52] #1650 closed, assigned to nobody

[2019-01-16 04:58] ninegsf opened #1660 "fluid textcnn模型，结果解读问题"
paddlepaddle/models-develop/fluid/PaddleNLP/text_classification

这个模型，跑完之后的预测部分，我有点儿疑问，
我想要的预测是我给任意一个预测数据，能够给出正负样本的概率，但现在没有这样的输出，请问要怎么样才能有呢

[2019-01-16 05:02] ninegsf commented on #1660
1.我不太清楚我这个模型训练的对不对
2.预测的时候，给的脚本貌似也跟我想要的有出入

[2019-01-16 05:02] ninegsf commented on #1660
我昨天用自己的数据训练了一下模型，这个模型训练的输出，30个预测

[2019-01-16 06:16] imistyrain opened #1661 "训练速度慢，GPU占用率低"
paddlepaddle-gpu 1.2 ,训练用的卡为P40，单卡测
所用代码，已去除读取模块，由np生成的随机数直接灌入数据.
[code]
profile出来，GPU大段时间空闲，CPU中有80%的时间不知在干啥.

[2019-01-16 06:58] qianledan commented on #1641
谢谢您的回答，那么nccl2模式能不能支持不同型号的GPU？

[2019-01-16 06:59] qianledan commented on #1640
多谢指点！

[2019-01-16 06:59] qianledan commented on #1640
谢谢您的回复，不过你的链接里只讲到了fluid.program.global_block，没有涉及到global_block里面的方法。

[2019-01-16 07:23] heavengate commented on #1660
![image](https://user-images.githubusercontent.com/12605721/51232605-500df880-19a2-11e9-8113-71be246b8a38.png)
在save_inference_model的时候第三个参数修改为[acc, prediction]，则inference model会返回acc和prediction两个值
![image](https://user-images.githubusercontent.com/12605721/51232642-6f0c8a80-19a2-11e9-8c45-8e18a6eaf5a9.png)
在 infer.py的L31 返回值获取由acc改为acc, prediction即可获取每条样本的prediction概率，prediction是one-hot的，是一个[N, 2

[2019-01-16 07:23] #1660 closed, assigned to nobody

[2019-01-16 07:29] heavengate commented on #1661
这种情况一般是每个iter过程中不能再GPU上处理得流程耗时比较多，相当于GPU在等CPU的处理结果，一般可以排查这几个方面：
1. reader读入耗时过大，如果reader有大量读文件或者augment这种操作，可把reader使用multiprocessing等进行优化
2. loss如果是自定义的，只能在CPU上使用，可能会影响速度
3. 网络过程中是否不能再GPU上并行化的复杂操作，一般如果都是使用layers的接口的话网络可以不用排查

[2019-01-16 07:40] imistyrain commented on #1661
代码里我已经把读取数据部分特意去掉了，外部排查不出原因了，profile大段时间已经不能看出在干啥子了.

[2019-01-16 07:51] heavengate commented on #1661
麻烦贴一下代码和profile结果

[2019-01-16 08:07] imistyrain commented on #1661
代码放image_classification里即可运行:
[code]
profile结果github暂不支持上传.

[2019-01-16 09:15] jerrywgz commented on #1647
请问有具体例子吗

[2019-01-16 09:18] jerrywgz commented on #1647
在faster rcnn的目录下有data_utils.py中会检查如果数据读取失败会报错

[2019-01-16 09:18] jerrywgz commented on #1647
在faster rcnn的目录下有data_utils.py，会检查如果数据读取失败会报错

[2019-01-16 11:00] typhoonzero commented on #1641
nccl2模式不支持。

[2019-01-16 11:23] ninegsf opened #1665 "fluid textcnn模型，实现过程解读"
使用fluid textcnn模型，想要拿到每一个测试样本的预测结果，
同时想要改成自己想要的方式，但是对这个过程不是很了解，想要找相关同学了解一下

[2019-01-16 12:53] xieqingxing commented on #1583
我也遇到这个问题,请问解决了吗?而且官方给出的训练完成的模型,和预训练的模型是一样的,并不能达到0.7+的mlou

[2019-01-17 02:36] wangguibao commented on #1642
先关闭了，如需要可再次打开

[2019-01-17 02:36] #1642 closed, assigned to wangguibao

[2019-01-17 03:57] kolinwei commented on #1647
Creating: coco2017
loading annotations into memory...
Done (t=28.11s)
creating index...
index created!
_add_gt_annotations took 31.525s
Appending horizontally-flipped training examples...
Loaded dataset: coco2017
236574 roidb entries
Filtered 2042 roidb entries: 236574 -> 234532
train on coco2017 with 236574 roidbs
Exception in thread Thread-1:
Traceback (most recent call last):
  File "/opt/pytho

[2019-01-17 05:51] #1614 closed, assigned to wanghaoshuang

[2019-01-17 06:53] imistyrain opened #1667 "量化后模型并没有变为原来的1/4"
按照[量化](https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/object_detection/README_quant.md)的步骤来的，相关日志可查看[paddlepaddle int8量化](https://mp.csdn.net/postedit/85943850)
正常量化结果应该是类似[mobilenet_v1_ssd](https://github.com/hjchen2/paddle-test/tree/master/fluid_models/mobilenet_v1_ssd)提供的

[2019-01-17 07:04] hjchen2 commented on #1667
@imistyrain 由于paddle fluid中现在只支持float模拟的int8训练，在convert_to_int8之前，模型参数都是float的，只是值在int8的范围内，只有调用了convert_to_int8才会真正将参数转换成int8，并保存。

[2019-01-17 07:13] hjchen2 commented on #1667
@qingqing01 帮忙看一下main_quant.py是否需要加一下convert_to_int8，或者在文档中提示一下。

[2019-01-17 07:20] qingqing01 commented on #1667
可以在文档里加下`convert_to_int8`的提示。

[2019-01-17 11:27] #1658 closed, assigned to shippingwang

[2019-01-17 12:14] xieqingxing opened #1669 "用create_lod_tensor创建一个lod_tensor,输入的data是numpy的array,执行len(tensor.shape)报错"
代码:
label_weight = np.array([[1,0,0,0,0,0,0,0,0],
                             [0,30,0,0,0,0,0,0,0],
                             [0,0,30,0,0,0,0,0,0],
                             [0,0,0,30,0,0,0,0,0],
                             [0,0,0,0,30,0,0,0,0],
                             [0,0,0,0,0,30,0,0,0],
                             [0,0,0,0,0,0,30,0,0],
                             [0,0,0,0,0,0,0,

[2019-01-17 12:15] xieqingxing commented on #1669
print(len(lod_weight.shape))

[2019-01-17 12:50] hjchen2 commented on #1669
@xieqingxing 请试试print np.array(lod_weight).shape

[2019-01-17 12:54] xieqingxing commented on #1669
你好,我是为了执行fluid.layers.matmul()的操作创建的lod_tensor,这个方法里有个len(y.shape),请问如何才能自定义一个lod_tensor然后相乘呢?

[2019-01-17 14:14] hjchen2 commented on #1669
fluid.layers.matmul()不支持lod_tensor的输入，只支持tensor。

[2019-01-17 14:26] xieqingxing commented on #1669
这样..我看文档还以为支持,麻烦了,谢谢

[2019-01-17 14:33] xieqingxing commented on #1669
那如何才能自定义label的权重,计算交叉熵呢?因为看到paddle的fluid.layers.softmax_with_cross_entropy()没有weight的参数

[2019-01-18 02:22] hjchen2 commented on #1669
应该先使用softmax layer，输出到cross_entropy，把cross_entropy的结果乘以你的label_weight，然后reduce loss后使用optimize去优化模型。

[2019-01-18 02:49] xiegegege opened #1670 "machine_reading_comprehension运行报operator elementwise_mul error"
环境：ubuntu16 Cuda8 Cudnn7 python3.5  paddle的develop分支
machine_reading_comprehension在训练1000个batch后报operator elementwise_mul error

<img width="890" alt="bdc837f658c8188603b19d314ac9a088" src="https://user-images.githubusercontent.com/46314656/51362440-a13afb00-1b0e-11e9-95c1-944866151ae7.png">

[2019-01-18 03:34] xiegegege opened #1671 "metric_learning 运行结束报错"
环境：ubuntu16 Cuda8 Cudnn7 python3.5 paddle的develop分支
metric_learning运行结束后有报错：
<img width="855" alt="f698a4d9e18e21106128bfcd48f0b4af" src="https://user-images.githubusercontent.com/46314656/51363875-f0842a00-1b14-11e9-8f2d-bd702067a0a7.png">

[2019-01-18 03:47] xuzhenglei1991 opened #1672 "C++ API 相关问题"
CreatePaddlePredictor 这个C++的API 就相当于paddle-python最新版本里面的fluid.io.load_inference_model是一个功能吗 理论上CreatePaddlePredictor这个函数的返回值和fluid.io.load_inference_model的第二个输入参数产生的exe是等同的把？

[2019-01-18 04:02] luotao1 commented on #1672
两个并不等同，是两个不同的概念。CreatePaddlePredictor封装了executor和program，对应的python api，可以先参考 https://github.com/PaddlePaddle/Paddle/pull/15248/files#diff-3e706fc0f7bbd24291a988216185cda8R59 。这个PR正在merge中。

[2019-01-18 08:17] xiegegege opened #1673 "word2vec运行报错"
环境：ubuntu16 Cuda8 Cudnn7 python3.5 paddle的develop分支
word2vec运行有报错，截图如下：
<img width="884" alt="f4a498ace1b377679ea6a0062ac68073" src="https://user-images.githubusercontent.com/46314656/51373887-41f3df80-1b3c-11e9-9937-5aaef346fc4a.png">

[2019-01-21 01:30] wshhja opened #1675 "DeepASR运行aishell在执行数据分析的时候，函数引不进来"
在进行aishell数据分析步骤时，下面的import报错，找不到函数
[code]

报错信息如下：
[code]

[2019-01-22 03:34] xiegegege opened #1678 "machine_reading_comprehension 报编码错误"
环境：ubuntu16 Cuda8 python3.6 paddle的develop分支
machine_reading_comprehension在运行一段时间后报错：
<img width="885" alt="58ba40ac9e549d58f1a2861efc026f8c" src="https://user-images.githubusercontent.com/46314656/51510771-6ea83f80-1e39-11e9-8688-1be469a4336f.png">

[2019-01-22 07:16] #1656 closed, assigned to jerrywgz

[2019-01-22 08:51] xiegegege opened #1680 "neural_machine_translation/transformer无法运行"
环境：ubuntu16 cuda9 python3.6 paddle的develop分支
transformer无法运行，也没有报错信息，卡在了下图所示的状态中：
<img width="822" alt="325439b96b545d8b859a869ee4b0bcd8" src="https://user-images.githubusercontent.com/46314656/51523092-dd9b8d80-1e65-11e9-9482-91cc3ff3d1ca.png">

[2019-01-22 09:31] kolinwei commented on #1680
GPU类型:P40

[2019-01-23 02:30] chengduoZH commented on #1680
原因已查明，模型是在运行，但是没有log输出。
在脚本中添加这句话就可以了
[code]

[2019-01-23 02:55] xiegegege commented on #1655
只改了链接错误，没改公式格式

[2019-01-23 03:35] xuezhong commented on #1678
这个问题之前没有遇到过，可能是特定环境下的默认编码问题。可以尝试在run.py的272-276行，给字符串加个encode("utf-8")调用，统一编码。

我们会尝试复现下问题，如有进展会fix这个issue。

另一方面，可以参考网上的一些类似问题 https://blog.csdn.net/penglei0901/article/details/37494721

[2019-01-23 03:48] #1649 closed, assigned to nobody

[2019-01-23 06:15] #1680 closed, assigned to guoshengCS

[2019-01-23 06:35] xuzhenglei1991 commented on #1672
另外能否提供下gflag和glog两个基础库的svn地址和版本号？

[2019-01-23 06:46] kuke commented on #1675
@wshhja 这个模型在新版paddle下面存在问题，近期会做一下升级

[2019-01-23 08:51] #1559 closed, assigned to nobody

[2019-01-23 09:29] yuanfl opened #1686 "deep_attention_matching_net报错"
GPU类型为 V100
以下三个环境都有：
ubuntu16 Cuda9 python3.5 paddle的develop分支
ubuntu16 Cuda9 python3.6 paddle的develop分支
ubuntu16 Cuda9 python3.7 paddle的develop分支
deep_attention_matching_net在运行后报错：
![default](https://user-images.githubusercontent.com/46928548/51596510-1b66e780-1f34-11e9-80d1-9365a0b7f17c.png)

[2019-01-23 12:35] xiegegege opened #1689 "human_pose_estimation运行报cv2.error"
环境：ubuntu16 Cuda8 python2.7 gpu类型为p40
human_pose_estimation运行报错，截图为：
<img width="941" alt="3777ecfcd342e150cc0c79949b43c1a4" src="https://user-images.githubusercontent.com/46314656/51606922-37778280-1f4e-11e9-859e-e086e660f8de.png">

[2019-01-23 16:06] KaiyuYue commented on #1689
Can you check the image path to make sure they are available ?

[2019-01-23 16:06] kaiyuyue commented on #1689
Can you check the image paths to make sure they are available ?

[2019-01-24 03:07] xiegegege commented on #1689
I can't find the parameter for image path and I set the data according to the readme.

[2019-01-24 03:50] JiabinYang commented on #1673
https://github.com/PaddlePaddle/models/pull/1674

[2019-01-24 04:19] #1673 closed, assigned to nobody

[2019-01-24 04:43] xiegegege opened #1690 "word2vec运行报operator fill_constant error"
环境：ubuntu16 Cuda8 python2.7 GPU类型: p40
word2vec运行时报operator fill_constant error，截图如下：
<img width="886" alt="71405b9b8aa220e42bcefadbda83bfe0" src="https://user-images.githubusercontent.com/46314656/51655030-d0051580-1fd5-11e9-9054-3f5105452fb0.png">

[2019-01-24 06:39] #1605 closed, assigned to nobody

[2019-01-24 06:39] #1617 closed, assigned to qingqing01

[2019-01-24 06:39] #1620 closed, assigned to qingqing01

[2019-01-24 06:39] #1495 closed, assigned to nobody

[2019-01-24 09:53] #1619 closed, assigned to nobody

[2019-01-25 03:06] xiegegege opened #1701 "face_detection python3.7下报错"
face_detection python3.7下报错，截图为：
<img width="874" alt="64a2d4ab3dbaca4b28c21a1ea18bf99b" src="https://user-images.githubusercontent.com/46314656/51722692-3733d000-2091-11e9-8f02-e392cfd8c36d.png">

[2019-01-25 04:23] kaiyuyue commented on #1689
Hi, I take time to check the code and it works well for the coco2017 dataset. So I think you should make sure the data structure look like:

[code]

Moreover, you can print the `image_file` to check the path whether available or not in the [L223-L224](https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/human_pose_estimation/lib/coco_reader.py#L223-L224).

[2019-01-25 06:14] JiabinYang commented on #1690
fixed in PR:https://github.com/PaddlePaddle/Paddle/pull/15490/files

[2019-01-25 07:57] xiegegege commented on #1689
It turns out to be the problem of dataset. The program could work now, thanks.

[2019-01-25 07:58] #1689 closed, assigned to nobody

[2019-01-25 09:08] geng007 opened #1703 "deeplabv3"
model.py在搭xception时定义了个[activation_fn_in_separable_conv](https://github.com/geng007/models/blob/022c0899a325107821eff6754702ea0f5fb82ed2/fluid/PaddleCV/deeplabv3%2B/models.py#L179) , 我的理解是paper中的SeparableConv相关的,这里具体指什么呢

[2019-01-25 15:37] sneaxiy commented on #1690
Fix in PR: https://github.com/PaddlePaddle/Paddle/pull/15496/files

[2019-01-25 15:37] #1690 closed, assigned to sneaxiy

[2019-01-25 16:06] #1701 closed, assigned to nobody

[2019-01-25 16:09] qingqing01 commented on #1703
这个是为了优化显存和计算，将activation融合到separable_conv里。这个特性需要develop版本代码，后续发布的版本会支持。

[2019-01-25 16:24] #1634 closed, assigned to qingqing01

[2019-01-28 03:44] #1667 closed, assigned to qingqing01

[2019-01-28 08:39] yuanfl commented on #1686
训练数据集为历史的数据集，更换为最新的数据集后可成功运行。

[2019-01-28 08:39] #1686 closed, assigned to nobody

[2019-01-29 06:27] qingqing01 commented on #1671
Fix by https://github.com/PaddlePaddle/models/pull/1663

[2019-01-29 06:27] #1671 closed, assigned to nobody

[2019-01-29 06:28] #1580 closed, assigned to nobody

[2019-01-29 11:59] xieqingxing opened #1708 "deeplab v3+模型训练"
我使用官方给出的训练好的模型,在cityspace的验证集上eval,不能做到0.7+的miou,大概只有0.28.使用预训练模型进行训练在几万轮训练后,精度上升也不明显.
另外想问下,在paddle中,如何设置各个类别的softmax_with_cross_entropy的权重,因为各个类别像素数量不是平均.

[2019-01-29 12:03] #1646 closed, assigned to nobody

[2019-01-30 02:24] yuanyc06 opened #1712 "使用官网例程finetune se_resnext50不收敛"
请教下，我安装了最新版的paddlepaddle_gpu-1.2.0.post85-cp27-cp27mu-linux_x86_64.whl，之后按照官网的例程（https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/image_classification  ）尝试在一个基本网络se_resnext50上用鸟类数据集CUB200来finetune（pretrain用的官网提供的imagenet预训练的模型，），但结果一直不收敛，loss完全不降，acc一致几乎是0，请问这会是什么问题呢？我已经删掉了pretrain里的fc6的文件，base lr=0.001

[2019-01-30 03:22] imistyrain opened #1713 "怎样由caffe转过来的模型进行微调？"
已经使用[caffe2fluid](https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/caffe2fluid)工具将caffe训练的模型转成了fluid模型，也使用fluid.io.load_inference_model加载进来获得了program，但是怎样将test的program转为train的program呢？有没有相关的示例演示下后序的步骤？
或者用已有的[models](https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/image_classification)里面的也成，怎么由save_inference_model的模型进行微调？

[2019-01-30 03:36] qingqing01 commented on #1712
https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/image_classification#supported-models-and-performances

这里提供了两个SE-ResNeXt50模型，请问您用的是哪个？ 注意是否要设置`model_category = models_name`，以及类别数、数据预处理是否正确。

[2019-01-30 07:02] xiegegege opened #1714 "在python3.7下安装cocoapi报错"
环境：ubuntu16 Cuda8 Cudnn7 python3.7
在运行faster_rcnn时按要求安装了cocoapi，但在make install 时报了如下错误：
<img width="781" alt="372558a74b9b671eecabbf48e4d00b2d" src="https://user-images.githubusercontent.com/46314656/51963930-faf0dd00-249f-11e9-9a91-0c6bff8da60c.png">

[2019-01-30 09:08] yuanyc06 commented on #1712
谢谢！应该是这个问题。我用的指定名称的，之前model_category=models，现在修改成model_category=models_name后，开始收敛了

[2019-01-30 09:15] jerrywgz commented on #1714
cocoapi 是否正确编译？

[2019-01-30 09:27] xiegegege commented on #1714
<img width="572" alt="20811b02e42300e8857a0ed0ba46b6c1" src="https://user-images.githubusercontent.com/46314656/51971481-33021b00-24b4-11e9-84df-0ef2bfb89259.png">
是在这步出错的

[2019-01-30 09:29] jerrywgz commented on #1714
你可以看下usr/local/lib/python3.7/ 这个目录下的pyc文件，如果有的话不需要的可以删除

[2019-01-30 09:30] jerrywgz commented on #1714
https://stackoverflow.com/questions/30861493/how-to-fix-python-valueerrorbad-marshal-data

[2019-01-30 09:41] xiegegege commented on #1714
好的，谢谢，我试下

[2019-01-30 13:17] jerrywgz commented on #1714
需要在setup.py中添加zip_safe=False

[2019-01-30 13:18] #1714 closed, assigned to jerrywgz

[2019-01-31 03:47] kolinwei opened #1718 "rcnn在多卡时训练过程中退出"
单卡没问题

[2019-02-01 02:25] #1712 closed, assigned to nobody

[2019-02-01 02:34] qingqing01 commented on #1718
Fix by https://github.com/PaddlePaddle/models/pull/1719

[2019-02-01 02:34] #1718 closed, assigned to nobody

[2019-02-01 02:51] qingqing01 commented on #1713
1. caffe2fluid工具如果训练和fine-tune

    caffe2fluid转换之后有模型配置Python文件，在这个文件的基础上，加上optimize和backward部分可训练，这部分可以参考 [models分类](https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/image_classification)。但需要注意下，Python配置文件中一些op，比如BatchNorm/Drop的is_test是否为False，因为训练需要是False。

2.  使用models提供的模型fine-tune:

  参考下面代码加载参数即可。

https://github.com/PaddlePaddle/models/blob/8fb135da7f8cb3b1b14c15fb7c60726

[2019-02-01 06:25] cjld commented on #1583
可以提供一下训练和测试的命令吗？
有可能是两者不一致导致的

[2019-02-01 08:28] #1713 closed, assigned to nobody

[2019-02-01 08:30] xiegegege opened #1728 "deep_attention_matching_net模型易用性问题"
deep_attention_matching_net 预测得到的result.txt和score.txt文件里都只是一串数字，建议在数字前标明具体的指标名称
<img width="582" alt="667414348c6739131cba78702e48e8b2" src="https://user-images.githubusercontent.com/46314656/52111371-830ce900-263e-11e9-9387-b82a24bc97e9.png">

[2019-02-01 08:38] xiegegege opened #1729 "Chinese_ner模型易用性问题"
Chinese_ner执行python train.py训练时模型存储的默认路径是output, 预测时执行python infer.py使用的模型默认路径是models，建议改为一致

[2019-02-01 10:00] seanria commented on #1583
没有解决，但是我们这边跑官方给的训练好的模型是可以达到0.78的mIoU的，用预训练模型从头开始训练达不到这个结果，而且mIoU非常低。从模型预测结果来看造成mIoU不变的原因是模型训练几个step以后就会把一张图所有像素点都预测成为同一个值（比如全是0），这样就导致了mIoU从某一步开始就不变了。

[2019-02-01 10:01] seanria commented on #1583
没有解决，但是我们这边跑官方给的训练好的模型是可以达到0.78的mIoU的，用预训练模型从头开始训练达不到这个结果，而且mIoU非常低。从模型预测结果来看造成mIoU不变的原因是模型训练几个step以后就会把一张图所有像素点都预测成为同一个值（比如全是0），这样就导致了mIoU从某一步开始就不变了。

[2019-02-01 10:04] seanria commented on #1583
完全按照官方给定步骤和指令运行也会导致这样的结果，造成这种结果的原因是模型会把一张图所有像素点都预测成同一个值，所以mIoU会不变。

[2019-02-01 12:57] WangTaoSpace opened #1731 "关于icnet模型分类输出层的疑问"
您好，在模型的最终类别输出层的act 类型有个疑问？即使icnet是像素级别的end to end模型，最终输出层的act 设置成softmax会不会更好一点，例如，依据某个像素坐标上的多个维度特征计算softmax，从而确定这个坐标像素的类别。

我看了下代码，icnet中的act是None，pytorch版本的pspnet中的act是nn.LogSoftmax()，icnet中的act为啥是None

[2019-02-02 02:38] imistyrain opened #1734 "ZeroDivisionError: long division or modulo by zero"
使用[object_detection](https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/object_detection)训练mobilenet-ssd, 但是scale设为了0.25，得到
[code]
经过调试，发现[mobilenet_ssd.py](https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/object_detection/mobilenet_ssd.py)57行处num_groups=int(num_groups * scale),由于传入的num_groups为1,导致计算出的num_groups结果为0.

[2019-02-02 06:25] hiudawn commented on #1608
你好，请问你最后是怎么解决这个问题的

[2019-02-03 07:30] qingqing01 commented on #1734
@imistyrain 多谢指出，extra_block这块实在MobileNet v1的backone基础上又增加的模块。这块仅仅是个1x1的conv，不应该配置group，我会提个PR修复下。

另外，也在TensorFlow和Caffe的配置里确认了下，确实仅仅是1x1的conv，无group设置。

1. TF，请看tensorflow/models/research/object_detection下面
[` object_detection/models/feature_map_generators.py`](https://github.com/tensorflow/models/blob/31ae57eb8555e51493a4721f6efbea68d98a3d69/research/object_detection/models/feature_map_generato

[2019-02-03 07:40] qingqing01 commented on #1731
@WangTaoSpace

您指的是训练的时候吗？ 请看 train.py中，https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/icnet/train.py#L79  create_loss部分，是用的是softmax。

[2019-02-03 09:35] WangTaoSpace commented on #1731
[code]
这个函数的三个输出都经过了conv这个核为1的卷积层.这个卷积层的激活函数是None,激活函数为什么不用softmax?

[2019-02-12 05:33] xieqingxing commented on #1583
我这边也是自己跑出来的是全黑的，麻烦问下解决了吗？另外问下，您用的是什么显卡才能用官方的模型跑出0.78呢？

[2019-02-12 06:00] seanria commented on #1583
没有解决，我们这边不用这个模型了，等待官方答案吧。我们用的是 Titan V 显卡，但这个应该和显卡没什么关系吧，就是个快慢的问题。

[2019-02-13 07:34] xuezhong commented on #1678
该问题非必现，在我的环境下没有复现此问题，复现后再更新

[2019-02-13 07:47] xuezhong commented on #1670
麻烦写下具体的docker 镜像地址  paddle安装的方式，目前没有复现

[2019-02-13 10:59] xiegegege opened #1748 "squad v1.1任务在运行结束时无法退出且没有生成predict.json文件"
bert模型在squad v1.1任务训练结束时无法退出，且没有生成predict.json文件
<img width="885" alt="1db9398c231918844c45405ff05cffc5" src="https://user-images.githubusercontent.com/46314656/52706783-29eb7080-2fc1-11e9-9f3b-58a80c599a07.png">
卡在了如上图所示的状态，没有报错提示。

[2019-02-13 11:01] #1748 closed, assigned to nobody

[2019-02-14 03:56] zzdgit opened #1749 "AutoDL/LRC 模型训练 module 'paddle.fluid.layers' has no attribute 'adaptive_pool2d'"
我使用版本为：python 3.5.2   paddlepaddle-gpu 1.2.1.post97

执行./models/fluid/AutoDL/LRC/run.sh 时，报错如下：
[code]

我也去官网查了，在fluid.layers这个下面没有adaptive_pool2d方法。
这要怎么解决？

[2019-02-14 04:51] xyq019971 opened #1750 "softmax_with_cross_entropy优化报错"
我自己写的程序
b19 = fluid.layers.conv2d(x,num_filters=int(100),filter_size=[1, 1],stride=[1, 1],groups=1)
b20 = fluid.layers.transpose(b19, perm=[0, 2, 3, 1])
out1 = fluid.layers.reshape(b20, shape=[-1,100])
out3 = fluid.layers.reshape(y, shape=[-1, 1])
out2 = fluid.layers.cast(out3, dtype="int64")
loss=fluid.layers.softmax_with_cross_entropy(out1,out2)
avg=fluid.layers.reduce_mean(loss)
reduced_loss =

[2019-02-14 08:10] xuezhong commented on #1670
错误信息现场
2019-01-17 15:17:57,417 - INFO - Average loss from batch 951 to 1000 is 74.1358607483
Traceback (most recent call last):
  File "run.py", line 639, in <module>
    train(logger, args)
  File "run.py", line 444, in train
    brc_data, logger, args)
  File "run.py", line 236, in validation
    return_numpy=False)
  File "/usr/local/lib/python3.5/dist-packages/paddle/fluid/parallel_executor.py

[2019-02-14 08:17] zzdgit commented on #1564
我也是报这个错，我gpu版本和cpu版本都是试过，报一样的错，没看懂是什么引起这个错的
[code]

[2019-02-14 08:41] xuezhong commented on #1670
从错误信息来看像是验证集合数据的lod信息可能存在问题，可能是验证数据有问题，最好还是能复现才能定论。

[2019-02-14 09:17] shippingwang commented on #1749
@zzdgit 1.2版本 ```adaptive_pool2d``` 未合入

[2019-02-14 09:20] ZhouFangru commented on #1749
@shippingwang 请问哪里能找到adaptive_pool2d方法

[2019-02-14 09:24] Miopas commented on #1253
抱歉忘记回复了。DSSM 模型在 PaddlePaddle v2 版本的 model 代码里，现在版本更新为 fluid 我找不到当时的源文件了。我后来验证了原始代码中的 source 和 target 的 cnn 网络确实是 share 的。

[2019-02-14 09:29] zzdgit commented on #1749
@shippingwang

![image](https://user-images.githubusercontent.com/27891681/52776524-beff6f80-307c-11e9-801a-261ed9219801.png)

这个安装要求1.2+的版本，我把代码里的adaptive_pool2d这个方法换成pool2d这个方法，这里可以跑通了，

能否注明paddlepaddle不同的版本需要对应的cuda版本。

还有一个问题，这个代码不能cpu版本训练吗？我试了cpu版本，看代码还调了些cuda设置，

[2019-02-14 09:32] ZhouFangru commented on #1749
@zzdgit 请问你换成pool2d方法，正常训练了吗。我换成pool2d方法，或者直接不用adaptive_pool2d方法。两种更改在训练的时候都会造成损失变成NAN。

[2019-02-14 09:40] zzdgit commented on #1749
@ZhouFangru 我这里还不能正常训练，报内存不够，我用的是GeForce GTX 1080的显卡，你那边能跑通你用的是什么型号的显卡，这个网络你知道大致有多大吗？

![image](https://user-images.githubusercontent.com/27891681/52777596-24546000-307f-11e9-8613-2eb17db6ae35.png)

[2019-02-14 09:43] zzdgit commented on #1749
@shippingwang 我把batch_size=10之后，其他参数没变，可以运行了，但是loss值很大，而且波动也很大，但是没有NAN的情况
![image](https://user-images.githubusercontent.com/27891681/52777986-f15e9c00-307f-11e9-914c-c619ca97e96f.png)

[2019-02-14 09:51] ZhouFangru commented on #1749
@zzdgit 我用的P40
![image](https://user-images.githubusercontent.com/24693920/52778158-4dc1bb80-3080-11e9-9e66-db3f44e6cee4.png)
batch=80, 训练开始loss=3, 然后一直变大，最后变为nan
![image](https://user-images.githubusercontent.com/24693920/52778541-333c1200-3081-11e9-8f6f-4cda06b35b16.png)

[2019-02-14 09:59] zzdgit commented on #1749
@ZhouFangru 我这里训练一段时间后也是这样，应该是数字太大爆内存了，然后才显示nan， 坐等官方发布`adaptive_pool2d`方法，或者有没有其他方式可以试试@shippingwang

[2019-02-14 10:26] shippingwang commented on #1749
@zzdgit autodl刚刚release， adaptive_pool2d等下1.3就可以了

[2019-02-15 03:28] #1678 closed, assigned to xuezhong

[2019-02-15 08:19] JiaXiao243 opened #1751 "图像分类模型使用run.sh 中的超参数训练VGG模型，模型不收敛"
使用image_classification下run.sh中的指令对VGG模型进行训练，经过40多个eoch后，loss依然无明显降低，模型不收敛
附件为VGG11和VGG13模型的log
[VGG13.log](https://github.com/PaddlePaddle/models/files/2868371/VGG13.log)
[VGG11.log](https://github.com/PaddlePaddle/models/files/2868372/VGG11.log)

[2019-02-15 08:56] DDDivano opened #1752 "face_detection模型无法正常退出，ctrl+c退出后还会占用GPU显存"
执行前
![image](https://user-images.githubusercontent.com/10734244/52845461-23d0cd80-3142-11e9-90d5-2ea76f0079c4.png)
执行后,显存没有释放
![image](https://user-images.githubusercontent.com/10734244/52845565-672b3c00-3142-11e9-9546-b5febd1b88c8.png)
需要手动杀掉进程才行
![image](https://user-images.githubusercontent.com/10734244/52845609-83c77400-3142-11e9-867f-763456afc3b7.png)

[2019-02-15 09:02] imistyrain opened #1753 "paddle.fluid.core.EnforceNotMet: Enforce failed. Expected in_dims[1] == filter_dims[1] * groups, but received in_dims[1]:32 != filter_dims[1] * groups:1024."
使用[object_detection](https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/object_detection)在自己的数据集(仅含两类，背景和物体)上进行微调时报错，与预训练的模型类别不一致。而如果不使用预训练模型的话则可以正常训练.
所用命令为
[code]
有没有类似于caffe中更改层的名字以便重新初始化模型参数的方法来在paddle中对最后这些层重新初始化而不是从预训练模型中加载呢？

[2019-02-15 09:31] heavengate commented on #1753
可以通过get_tensor和tensor.set来加载自定义权重，参考https://github.com/PaddlePaddle/models/blob/921a0ef37fbe948161637aae23b4869615c55129/fluid/PaddleCV/video/models/stnet/stnet.py#L137

[2019-02-15 09:36] heavengate commented on #1752
该模型中使用了multiprocessing的reader，起了多线程来进行数据读取加速，在ctrl+c强制退出时，reader进程没法正常退出，任务运行完正常退出不会出现这种情况，若是采用ctrl+c强制退出的话，可以使用 kill -15 `ps | grep python | awk '{print $1}'` 退出reader进程

[2019-02-15 10:41] DDDivano commented on #1752
问题是如果不用ctrl+c退出 它就不会自己退出，它会卡住

[2019-02-15 10:50] heavengate commented on #1752
是不会启动训练还是训练完成后卡住没退出

[2019-02-15 11:02] #1670 closed, assigned to xuezhong

[2019-02-15 15:00] #1753 closed, assigned to heavengate

[2019-02-16 01:36] xiegegege opened #1754 "video stnet模型在运行开始时异常退出"
报错如下：
[INFO: train.py:  221]: Namespace(batch_size=None, config='./configs/stnet.txt', epoch_num=60, learning_rate=None, log_interval=10, model_name='STNET', no_memory_optimize=False, no_use_pyreader=False, pretrain=None, resume=None, save_dir='checkpoints', use_gpu=True, valid_interval=1)
W0215 20:03:56.300457 16342 device_context.cc:263] Please NOTE: device: 0, CUDA Capability: 61, Driver API Ve

[2019-02-16 14:53] ThinkPeace opened #1755 "AI studio部署Face Detector: PyramidBox 参数问题"
我想把AI studio训练完的Face Detector: PyramidBox 模型在线部署，但是输入和输出参数应该如何去写？

[2019-02-17 06:25] #1749 closed, assigned to nobody

[2019-02-18 02:41] DDDivano commented on #1752
会启动训练，完成后卡住

[2019-02-18 03:21] xiegegege opened #1756 "video tsn loss 下降很慢"
video 下的tsn模型在运行到大概10个epoch后，loss下降的很缓慢，几乎没有变动，如图所示：
<img width="638" alt="cab56c604bac3a0b03738f0303f0fc5e" src="https://user-images.githubusercontent.com/46314656/52926062-28c69480-336f-11e9-902c-a41d031a5fc4.png">

[2019-02-18 04:39] #1253 closed, assigned to nobody

[2019-02-18 06:33] xiegegege opened #1758 "video stnet 模型在训练一段时间后loss值变大"
video stnet 模型在训练一段时间后loss值变大，截图如下：
<img width="359" alt="0b45bbfc7c3d5f1f9f797fa0c98d87f4" src="https://user-images.githubusercontent.com/46314656/52932248-17d74c80-338a-11e9-90af-03e66dac40e8.png">

[2019-02-18 06:59] xuzhenglei1991 opened #1759 "C++ RunPreparedContext接口使用问题"
例子一：使用https://github.com/baidu/lac/tree/master/src 中的C++代码、模型以及对应的数据，工程能正确输出。

例子二：将例子一中的输入数据、模型更换，输出的结果中全部是0。
输入数据：检查过正确
模型：python脚本训练出来的（fluid.io.save_inference_model储存的，v0.14.0）
依赖的C++代码库： CONFIGS('baidu/paddlepaddle/paddle@0.14.0@git_branch')
fetch_targets这个里面只有一个键值对：crf_decoding_0.tmp_0 个数是输入序列长度

辛苦相关同学能帮我看下这个是什么原因吗

[2019-02-18 07:26] xiegegege opened #1760 "MobileNet V2 loss下降缓慢"
运行了40个pass后依然保持较高的loss，和较低的acc，且变化速度缓慢，如图所示：
<img width="1010" alt="913d104b1b9adb8f243c3ff49b2915f3" src="https://user-images.githubusercontent.com/46314656/52934457-73590880-3391-11e9-9d23-ada0f0921bc2.png">

[2019-02-18 07:55] xieqingxing commented on #1551
请问下带有num_class参数的具体是xception哪一层呢？模型从头开始训练的效果不是很好，我使用官方训练好的模型，筛除xception的参数就可以进行训练了

[2019-02-18 07:58] xieqingxing commented on #1551
您上方给的链接里头看不到标记的层，310行现在已经是空行的呢

[2019-02-18 08:18] ccmeteorljh opened #1761 "face_detection 评估报错"
paddle 1.3 版本
在训练完后执行评估脚本出现如下错误：
[code]
[code]

[2019-02-18 08:50] snowsteper opened #1762 "softmax结果输出异常"
用fc层作为最后的输出层，激活函数用softmax， 得到的结果的每一维为不在[0, 1]区间

网络结构定义
[code]

预测输出样例， 每一个向量对应一个样本的预测输出
[[ -9.730734    -5.1658783   -4.312685   ...  -9.696777    -9.710938
   -9.711664  ]
 [ -5.516372    -2.8050585   -3.3510437  ...  -5.5714464   -5.56005
   -5.5435977 ]
 [-10.428526     1.9235992    0.12796116 ... -10.483575   -10.507859
  -10.4472065 ]
 ...
 [ -7.946624    -2.8772902   -0.85136795 ...  -7.904

[2019-02-18 09:56] ccmeteorljh opened #1763 "machine_reading_comprehension validation错误"
https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleNLP/machine_reading_comprehension/run.py#L527

[code]

[2019-02-18 10:12] ccmeteorljh opened #1764 "ImageNet 高性能加速模型问题汇总"
以下均在P40集群测试

**1、PG模型下出现 double free or corruption错误；**
模型配置如下：
[code]
报错如下：
[code]
**2、PG模式下出现 `python': invalid fastbin entry 问题；**
**单机和多机都会出现，但时间较久，有时70+pass，有时出现在110+pass**
模型配置如下：
[code]
[code]
**3、运行结束后程序退出异常；**
[code]
**4、MP模式下无报错信息结束；**

**5、P40下单机PG和MP均有加速效果，多机效果差；**

GPUs | Base | Fluid   PG FP32 | Fluid   MP FP32 | Fliud   PG FP16 | Fluid   MP FP16
-- | -- | -- | -- | -- | --
8 | 553.3

[2019-02-18 11:47] junjun315 commented on #1759
请问”模型更换“是指做了什么操作？ 是哪一步输出？

[2019-02-18 11:54] junjun315 commented on #1762
设置了fluid.memory_optimize(program), 打开了内存优化参数
参考:https://github.com/PaddlePaddle/Paddle/issues/15777

[2019-02-18 12:15] qingqing01 commented on #1761
由于1.3版本`multiclass_nms_op`输出shape改变，`widerface_eval.py` 124行判断需要改下，我会提PR修复下。

[2019-02-18 12:35] #1761 closed, assigned to qingqing01

[2019-02-18 13:32] #1762 closed, assigned to junjun315

[2019-02-19 03:14] Superjomn commented on #1759
v0.14 版本比较老了，建议升级到最新的版本，比如 v1.2

另外，看起来可以控制变量确定下，是模型训练问题，还是数据有问题？

[2019-02-19 09:35] shippingwang commented on #1751
尝试 --model_category=models_name ，解决此问题。
原因：models和models_name的VGG代码有diff
解决方案：下一个release版本，/models_name  /models 统一

[2019-02-19 10:33] joodo commented on #1621
您好，由于 GitHub 不支持 LaTeX 公式的渲染，导致了格式混乱。这部分内容在官网文档中也有，您可以参考[这里](http://www.paddlepaddle.org/documentation/docs/zh/1.2/beginners_guide/basics/machine_translation/index.html)。未来我们会对 models 的 README 内容做整体调整，解决公式的显示问题。

[2019-02-19 10:58] #1621 closed, assigned to joodo

[2019-02-19 12:02] freekoy commented on #1608
和楼主一样的错，是xception65的模型
困惑好几天了................
怎么解决这个问题

[2019-02-19 12:14] xyq019971 opened #1770 "反向传播不更新参数，跪求大佬指点迷津"
b21=enet.block4(b20)
b22= fluid.layers.transpose(b21, perm=[0, 2, 3, 1])
out1=fluid.layers.reshape(b22,shape=[-1,9])
out2=fluid.layers.reshape(y,shape=[-1,1])
#out3=paddle.fluid.layers.softmax(out1)
_, out4 = fluid.layers.topk(out1, k=1)
out5 = fluid.layers.cast(out4, dtype='float32')
loss=paddle.fluid.layers.square_error_cost(out5, out2)
avg=fluid.layers.reduce_mean(loss)
regularizer = fluid.regu

[2019-02-19 12:34] xyq019971 opened #1771 "softmax with cross entropy 请问到底该怎么用，真的不会啊"
import paddle.fluid as fluid
import paddle
import numpy as np
from PIL import Image
import os
from multiprocessing import cpu_count
import matplotlib.pyplot as plt
import cnn
import image

trainlist,label=image.gettrainlist('./train/',2)
trainlist,label=image.messuplist(trainlist,label,5)
data=image.data_pro(trainlist,100,100)
#print(data.shape)
#print(label.shape)

a = fluid.layers.data(name='a',

[2019-02-20 01:38] SunGaofeng commented on #1754
QA换了台机器之后没有出现此错误，只在单台机器上报了这个错误

[2019-02-20 01:40] SunGaofeng commented on #1758
正在查找原因中

[2019-02-20 02:45] SunGaofeng commented on #1756
未加载resnet50预训练权重，加载之后目前已训练13个epoch，与本地测试时趋势一致

[2019-02-20 03:24] SunGaofeng commented on #1770
能贴下完整代码吗？
需要看下创建data op部分是否有问题，还有网络结构完成之后，需要调用exe.run(main_program, fetch_list, feed)，需要看一下这地方代码是否有问题导致feed或者fetch_list不对

[2019-02-20 03:41] #1756 closed, assigned to SunGaofeng

[2019-02-20 03:46] xyq019971 commented on #1770
代码写了几个文件，我发你邮箱可以吗，你有邮箱吗

[2019-02-20 03:47] xyq019971 commented on #1770
大佬你有邮箱吗，我发你邮箱可以吗，东西分开写的，我重新粘贴下也行，你少等

[2019-02-20 04:06] SunGaofeng commented on #1770
sungaofeng@baidu.com

[2019-02-20 04:23] SunGaofeng commented on #1771
这里不是softmax_with_cross_entropy的问题，是cast op这地方出问题了，原因在于out5 作为softmax cross entropy的label，在反向传播的时候label是没有gradient的，那么在cast op的backward计算中就会报错。
修改方法是在out5 = fluid.layers.cast(out2, dtype='int64')下面添加一行：
out5.stop_gradient = True

[2019-02-20 04:58] xyq019971 commented on #1771
谢谢大佬，已经跑起来了

[2019-02-20 05:11] xyq019971 commented on #1770
import paddle.fluid as fluid
import paddle
import numpy as np
import cv2
import time
import glob

def getlist():
    path='./data2/'
    trainlist=glob.glob(path + '/*.jpg')
    num=len(trainlist)
    return trainlist,num

def enettrain(trainlist,num,batchsize,w,h):
    arr=np.arange(num)
    np.random.shuffle(arr)
    trainlistv2=[]
    labellist=[]
    arr=arr[0:batchsize]
    for i in arr:

[2019-02-20 05:29] SunGaofeng commented on #1770
_, out4 = fluid.layers.topk(out3, k=1)这个地方用了topk op，目前paddle里面topk op是没有backward的。所以out4以及其前面的variable都不会被计算梯度，导致网络没有被更新。

[2019-02-20 07:14] heavengate commented on #1752
确认为train读取的sample数与实际train_file_list sample数不一致导致的，修改batch_num可解决

[2019-02-20 07:14] #1752 closed, assigned to heavengate

[2019-02-20 09:09] Yancey0623 commented on #1764
问题1，问题2 正在使用最新的visreader 在P40和V100分别验证，目前45个epoch没再出现问题，持续跟进中。

已更新模型代码

由于P40关闭了IB后通信性能过差，导致无加速效果，在V100上加速效果正常。

另外 @ccmeteorljh 反馈的多进程最终收敛不到baseline的问题正在排查中。

[2019-02-20 10:04] #1771 closed, assigned to nobody

[2019-02-20 12:07] ccmeteorljh commented on #1764
问题3 新代码已经通过验证

[2019-02-20 13:03] ccmeteorljh opened #1773 "deep_attention_matching_net 预测错误"
[DAM 代码路径](https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleNLP/deep_attention_matching_net)
** 错误日志如下 **
[code]

[2019-02-21 01:13] #1647 closed, assigned to jerrywgz

[2019-02-21 01:14] #1438 closed, assigned to kolinwei

[2019-02-21 01:54] wanghaoshuang commented on #1731
非常感谢您的反馈。
我们在[这里](https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/icnet/train.py#L52)加了softmax.
之所以没在你说的位置加softmax， 原因有两个：
1. paddle目前不支持在指定的任意纬度上做softmax, 所以我们对output transpose & reshape之后加了softmax
2. softmax和crossentropy结合计算，效率更高些。

[2019-02-21 04:49] ccmeteorljh commented on #1773
https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleNLP/deep_attention_matching_net/train_and_evaluate.py#L310
在train的时候fetch_list 加入logits即可解决上述问题
[code]

[2019-02-21 07:24] yeyupiaoling opened #1775 "场景文字识别中，注意模型为什么要有两个label？"
在场景文字识别中的注意模型，为什么会用到两个label，而是第一个label_in要在前面加[0]，第二个label_out要在后面加[1]。

https://github.com/PaddlePaddle/models/blob/67b52af0eb08a0cb339196971fc9164656250c7e/fluid/PaddleCV/ocr_recognition/data_reader.py#L100

[2019-02-21 07:35] yeyupiaoling opened #1776 "在场景文字识别的注意力模型中，为什么图片不都是同一shape"
在场景文字识别的注意力模型中，图片的shape只是每一个batch相同而已，而不是全部都是同一个shape。
跟`images = fluid.layers.data(name='pixel', shape=data_shape, dtype='float32')`都不是同一个，这是为什么呢？不应该要统一的吗？

https://github.com/PaddlePaddle/models/blob/67b52af0eb08a0cb339196971fc9164656250c7e/fluid/PaddleCV/ocr_recognition/data_reader.py#L92-L94

[2019-02-21 08:09] yeyupiaoling opened #1777 "在场景文字识别的注意力模型中，是否可以保存预测模型"
场景文字识别的注意力模型，与图片分类的模型不一样，注意力模型要复杂很多，但是如果我想保存预测模型inference_model，是否可以呢？

在图像分类中，可以调用`paddle.fluid.io.save_inference_model`接口保存预测模型，之后需要时再调用`paddle.fluid.io.load_inference_model`预测图片，而且预测代码非常简单，不需要编写之前的模型代码。

注意力模型是否也可以这样，保存预测模型，之后的预测中，只需要加载这预测模型，不需要再编写网络模型代码。

[2019-02-21 08:23] yeyupiaoling opened #1778 "在场景文字识别中有有一些小问题请教"
在场景文字识别中，以下的三个if判断我不是很明白。比如关于停止训练，不是用for循环指定pass数更为直观吗？为啥好这样设计，意义有什么特别之处？

第二个应该是纯粹输出信息，但是应该是有含义的吧？

第三个就更不懂它要干啥了，请问它的作用是什么呢？

https://github.com/PaddlePaddle/models/blob/67b52af0eb08a0cb339196971fc9164656250c7e/fluid/PaddleCV/ocr_recognition/train.py#L140-L146

[2019-02-21 09:44] ccmeteorljh opened #1780 "ocr 模型训练到最后，loss上升，train_acc 下降到0"
seq2seq+attention
[code]
[code]

[2019-02-21 14:14] wanghaoshuang commented on #1780
这个应该是正常现象，loss下降到一定程度，遇到敏感点，产生了梯度爆炸。
去当前最好结果即可：
[code]

如果当前最好结果不满足需求，可以降低学习率继续训练。

[2019-02-22 06:19] qingqing01 commented on #1775
@yeyupiaoling 注意力模型采用seq2seq结构：

可以参考 https://github.com/PaddlePaddle/book/blob/develop/08.machine_translation/README.cn.md#%E7%BC%96%E7%A0%81%E5%99%A8-%E8%A7%A3%E7%A0%81%E5%99%A8%E6%A1%86%E6%9E%B6 这里对encode-decoder的介绍。

这里第一个label_in相等于target的，[SOS]标识起始位置，在训练中作为seq2seq解码部分的输入。在解码部分会预测下一个时刻的输出，会去掉起始标识，同时预测的结尾也会加上 EOS的结尾标识。
第二个label_out是真实的groud-truth，用来和解码部分的预测输出做对比，用来计算损失和评估结果。

[2019-02-22 06:21] tycallen commented on #1608
关注

[2019-02-22 06:23] wanghaoshuang commented on #1778
这3个if语句是用于分析模型训练速度性能的。
为了更准确的反应训练速度，我们需要把前若干个batch的耗时去掉，所以就有了args.skip_batch_num这个参数。
1. 第一个if是为了把跳过的batch数补回来
2. 第二个if告诉用户当前step(batch)属于warm-up阶段
3. 第三个if是开始统计时间数据

[2019-02-22 06:26] wanghaoshuang commented on #1777
很赞的问题，答案是：不行。

因为预测模型和训练模型在decoder部分有所不同，所以很难从训练网络直接拆出来预测网络，目前只能重新编写预测网络的模型代码。

[2019-02-22 06:31] qingqing01 commented on #1776
@yeyupiaoling  场景文字识别模型提供的例子是按[行识别]文字，这里输入图片的Height是相同的，Width可以不同，真实场景中，图片也是可变长的。 如果要统一，resize成相同的也是可以的，不过由于resize可能使得图片变形，可能对精度有影响。

Paddle正好支持不同batch的变长，可以不统一。

[2019-02-22 06:51] yeyupiaoling commented on #1776
@qingqing01 回答很棒，很清晰，一下子就懂了。谢谢。

[2019-02-22 06:51] #1776 closed, assigned to wanghaoshuang

[2019-02-22 06:54] yeyupiaoling commented on #1777
@wanghaoshuang 这个回答我很难接受。[伤心]
不过谢谢你了，给我解惑。我主要是想利用PaddleMobile框架迁移到Android手机上，PaddleMobile就是读取预测模型直接预测的。

[2019-02-22 06:54] #1777 closed, assigned to wanghaoshuang

[2019-02-22 06:56] busyboxs commented on #1608
首先说一下造成错误的原因：通过分析源码可以发现，保存模型最终都是通过`save_vars`函数（https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/io.py#L92） 来实现的，而在该函数中，保存变量是有一个对变量进行排序的操作（https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/io.py#L201） ，所以最终保存的模型变量是以字典顺序排序的变量的值。然后在恢复模型时，只是将模型中的变量的值赋值给你想要赋值的变量，而不会去验证所要赋值的变量的shape是否满足条件，变量名是否相同。因此，针对deeplabv3+模型修改类别，由于在导入预训练模型时，去掉了含有“logit”的两个变量，而“logit”在所

[2019-02-22 07:23] ccmeteorljh commented on #1780
有其他的解决方法吗，这样感觉对用户不太友好~

[2019-02-22 07:25] qingqing01 commented on #1775
@yeyupiaoling  之前回答觉得有误，更新了~

[2019-02-22 07:48] yeyupiaoling commented on #1778
@wanghaoshuang 好的，谢谢回答，删除它们不影响模型的训练吧？

[2019-02-22 07:49] yeyupiaoling commented on #1775
@qingqing01 好的，谢谢回答。

[2019-02-22 07:49] #1775 closed, assigned to wanghaoshuang

[2019-02-22 11:48] wshhja commented on #1675
你好，我在更新代码之后执行操作，依旧是报这个错误，而且在data_utils目录下的util.py中确实没有lodtensor_to_ndarray方法，请问该怎么解决呢？

[2019-02-25 02:51] xiegegege opened #1783 "video 中的模型在单卡时无法正常训练"
以stnet为例，在单卡时前80个iter训练结果如下：
<img width="801" alt="157f3740384ecbc0a3a4c67b7bbd0560" src="https://user-images.githubusercontent.com/46314656/53311192-d810e780-38ea-11e9-9d78-55cce4be2360.png">
在8卡时正常的训练结果如下：
<img width="879" alt="731cf84aa687b0f658d1ffd555fd1a56" src="https://user-images.githubusercontent.com/46314656/53311252-17d7cf00-38eb-11e9-8e07-5f5fc1612ad9.png">
单卡时无法有效降低loss, 升高acc，8卡时才能正常

[2019-02-25 05:51] JiaXiao243 opened #1785 "图像分类SE_ResNeXt50_32x4d模型，在epoch=63后，test_acc1突降为0"
图像分类SE_ResNeXt50_32x4d模型，在epoch=63后，trian_acc1继续稳步提升，但test_acc1突降为0
![image](https://user-images.githubusercontent.com/37854899/53316842-58901200-3904-11e9-8e59-eda562bcaaf8.png)
附件为SE_ResNeXt50_32x4d模型的log
[SE_ResNeXt50_32x4d.log](https://github.com/PaddlePaddle/models/files/2899144/SE_ResNeXt50_32x4d.log)

[2019-02-25 06:41] JiaXiao243 opened #1786 "图像处理ResNet152，UserWarning: Possibly corrupt EXIF data. Expecting to read 1835008 bytes but only got 0. Skipping tag 0"
在使用ResNet152训练的过程中，log中出现

![image](https://user-images.githubusercontent.com/37854899/53318660-f1c22700-390a-11e9-8e4e-b16229da5c50.png)
虽然不影响最后的训练结果，但是用户体验非常不好
附件为训练ResNet152模型的log
[ResNet152.log](https://github.com/PaddlePaddle/models/files/2899227/ResNet152.log)

[2019-02-25 09:18] snowsteper opened #1787 "test loss随模型迭代而增加"
如题
训练日志如下：
Test in epoch   0, Loss:        4.757947, Acc:  0.354800
Test in epoch   0, Loss:        4.865430, Acc:  0.354230
Test in epoch   0, Loss:        4.937966, Acc:  0.356729
Test in epoch   1, Loss:        5.124760, Acc:  0.356336
Test in epoch   1, Loss:        5.165730, Acc:  0.355902
Test in epoch   1, Loss:        5.279254, Acc:  0.354999
Test in epoch   2, Loss:        5.431847, Acc:

[2019-02-25 09:36] chengduoZH commented on #1787
你如果在run_test里面每个batch都输出batch_avg_loss，会使什么结果？

[2019-02-25 10:33] snowsteper commented on #1787
就是这个test batch下的平均loss，不知道这边想了解什么。。

test的数据都是同一批数据，按道理整体的loss应该会随着模型迭代而收敛的，现在这个日志来看不是这样的

[2019-02-25 12:28] Yve-Neal commented on #1519
@jackyhawk 你好，请问这个要怎么解决呢？我也遇到了这个问题

[2019-02-26 02:38] shippingwang commented on #1786
PIL==4.0.0

[2019-02-26 04:42] JiaXiao243 opened #1788 "图像分类模型SE_ResNeXt101_32x4d在epoch=4后，test_acc突降为0"
模型SE_ResNeXt101_32x4d在epoch=4后，trian_acc1持续提升，但是test_acc1突降为0
![image](https://user-images.githubusercontent.com/37854899/53387729-2db8c300-39c3-11e9-90f2-cec31d23ad34.png)
附件为SE_ResNeXt101_32x4d模型的log
[SE_ResNeXt101_32x4d.log](https://github.com/PaddlePaddle/models/files/2903805/SE_ResNeXt101_32x4d.log)

[2019-02-26 07:22] burness opened #1790 "face detection耗时太多"
face detection里面的模块，inference的时候耗时太多如下图，单位为秒， 有能提升的建议吗？

![image](https://user-images.githubusercontent.com/3112825/53394466-5ac4a000-39da-11e9-9dfb-b68dd5139241.png)

[2019-02-26 10:04] shippingwang commented on #1788
same problem as #1785

[2019-02-26 11:29] kuke commented on #1787
可能只是过拟合了，1）有其它的参考实现么？2）可以改变一下超参

[2019-02-26 11:32] qingqing01 commented on #1790
@burness 了解下，您是如何预测的？使用的什么CPU还是GPU？ 使用的是如下代码吗？

https://github.com/PaddlePaddle/models/blob/82fa5276d552026ddb636fb5b3ea17ec6ef0070f/fluid/PaddleCV/face_detection/widerface_eval.py#L39-L55

这里提供的脚本`face_detection/widerface_eval.py`采用的是multi-scale方式infer的，实际使用可以不用multi-scale，比如只输入原图即可。

如果不是上面脚本也麻烦说下是如何预测？PyramidBox这个模型backbone是VGG，加上后面FPN,CMP等模块确实比较耗时的。

[2019-02-26 11:58] snowsteper commented on #1787
因为参数数量和样本数基本一样多，过拟合的话我理解train loss应该会一直减到非常低，可是训练的loss没有减到很低，从第一个pass吃了大概20w个数据开始就没怎么变了，维持在2-3左右

[2019-02-26 12:06] ccmeteorljh opened #1792 "deeplabv3+ 模型无法复现给出的结果"
paddlepaddle框架版本：1.3
model库代码：最新
**运行环境：p40,4卡**
训练命令：
[code]
eval 命令：
[code]

![image](https://user-images.githubusercontent.com/33303691/53410751-a2115780-39ff-11e9-8fae-50f819401acb.png)

**运行环境：p40 单卡 batchsize=8，出现显存不够的情况**

![image](https://user-images.githubusercontent.com/33303691/53411553-b9514480-3a01-11e9-9ee2-1bb4443aa827.png)

[2019-02-26 12:10] ccmeteorljh commented on #1792
发现一个类似的issue #1708

[2019-02-26 13:03] xiegegege opened #1793 "gru4rec infer.py缺少vocab_path参数"
gru4rec非负采样部分的预测会报错：
<img width="944" alt="c752a62c1645a1f2157f20980551325d" src="https://user-images.githubusercontent.com/46314656/53414412-ae021700-3a09-11e9-9b97-1bfe68f5e100.png">
且infer.py缺少vocab_path参数
<img width="481" alt="83a6e486fd6903f7a9b305a1cb01e574" src="https://user-images.githubusercontent.com/46314656/53414544-f6213980-3a09-11e9-95ee-413ace3d6912.png">

[2019-02-27 02:50] burness commented on #1790
是在这个脚本上面改的， 我在p40上做inference的，代码如下：

[code]

multi-scale 这个怎么关  ？只运行其中一个吗 ？

[2019-02-27 03:04] xiegegege opened #1794 "ctr 预测错误"
ctr预测报错：
<img width="887" alt="cd9e40d4cae5e750a12c21678fa053ef" src="https://user-images.githubusercontent.com/46314656/53462593-4ab2cc00-3a7f-11e9-822e-dda004f376ba.png">

[2019-02-27 03:11] jacquesqiao commented on #1794
用的是最新的代码么

[2019-02-27 03:16] xiegegege commented on #1794
是最新的代码

[2019-02-27 03:50] qingqing01 commented on #1790
下面代码是各种测试，可以只留第一个det0：

[code]

[2019-02-27 04:54] jacquesqiao commented on #1794
训练能跑么

[2019-02-27 04:58] xiegegege commented on #1794
能跑的，训练没问题

[2019-02-27 05:48] SunGaofeng commented on #1783
单卡使用的batch size = 16？
我之前在4卡p40上debug的时候使用batch size = 16，最开始loss也是波动比较大，未见明显下降。

[2019-02-27 06:14] xiegegege commented on #1783
batch size 使用的是默认的128

[2019-02-27 06:20] SunGaofeng commented on #1783
是通过export CUDA_VISIBLE_DEVICES=0来设置使用单卡的吗？
程序里面configs/stnet.txt里面的num_gps=8, batch_size=128，是八卡总的batchsize，使用pyreader的时候，会自动计算单张卡上的batch size以创建reader，这样每张卡上的batch size就是16。

[2019-02-27 06:28] xiegegege commented on #1783
对的，是通过export CUDA_VISIBLE_DEVICES=0设置的，所以如果单卡训练的时候需要设置num_gpus = 1，batch_size=16吗？

[2019-02-27 10:07] kjfren1985 commented on #1794
请问有结果了吗，感觉是reader.py里面的代码有问题？

[2019-02-27 12:23] SunGaofeng commented on #1783
需要改batch_size和num_gpus。不过如果使用pyreader的话，会自动计算单卡的batch size，所以最后实际用到的batch size是16.
我之前调试的时候试过batch size=16的情形，开始loss确实不怎么下降，直到1000个iter之后才发现loss显著下降到5.+，之前一直波动比较大。
我觉得这可能是因为batch_size=16的时候，mini batch里面的数据比较少，batch之间数据分布差别比较大，每次进来的数据分布有比较大的差异，导致loss不会显著下降而是有比较大的波动。

[2019-02-28 02:51] jacquesqiao commented on #1794
https://github.com/PaddlePaddle/models/pull/1798 试试这个

[2019-02-28 03:10] kjfren1985 commented on #1794
test.txt比train.txt少第一列label，而_reader_creator方法里：
`self.continuous_range_ = range(1, 14)`
`self.categorical_range_ = range(14, 40)`
`for idx in self.continuous_range_:`
`...`
`for idx in self.categorical_range_:`
`...`
`label = [int(features[0])]`

直接这么改不太对啊感觉

[2019-02-28 03:18] xiegegege commented on #1794
好的，我试下

[2019-02-28 07:05] #1783 closed, assigned to SunGaofeng

[2019-02-28 07:22] frankwhzhang commented on #1793
https://github.com/PaddlePaddle/models/pull/1795  已修复合入

[2019-02-28 07:23] #1793 closed, assigned to frankwhzhang

[2019-02-28 07:55] zhengya01 opened #1800 "tagspace 模型 样例数据多卡训练一个epoch后报错"
tagspace 模型 直接跑样例数据单机多卡训练一个epoch后报错
paddle1.3
CUDA9 cudnn7
gpu ：4卡

以下是报错日志：
TRAIN --> pass: 0 batch_num: 950 avg_cost: 0.0400084555149, acc: 1.0
TRAIN --> pass: 0 batch_num: 1000 avg_cost: 0.112019307911, acc: 0.4
epoch:1 num_steps:199 time_cost(s):1.300218
Traceback (most recent call last):
  File "train.py", line 128, in <module>
    train()
  File "train.py", line 123, in train
    train_exe)

[2019-02-28 08:12] burness opened #1801 "cyclegan 跑了训练之后，如何infer"
infer里的init_model怎么传参？ 我传checkpoints目录， 显示load 错误， 能说明下 infer.py的init_model是啥吗

[2019-02-28 08:42] kjfren1985 commented on #1794
`fluid infer.py --data_path data/raw/train.txt --model_path models/pass-9 2>&1 | tee test.log &`

Traceback (most recent call last):
  File "infer.py", line 134, in <module>
    infer()
  File "infer.py", line 70, in infer
    feeder = fluid.DataFeeder(feed_list=data_list, place=place)
  File "/home/XXX/paddlepaddle/paddle_release_home/python/lib/python2.7/site-packages/paddle/fluid/data_feeder.py

[2019-02-28 08:49] burness commented on #1801
我发现源码里面给的代码有bug:

https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/gan/cycle_gan/train.py#L121 这里在训练的时候，是将模型保存在对应的params文件里，而不是以参数分开保存，而https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/gan/cycle_gan/infer.py#L40  在infer.py load中，没有指定filename 参数为params， 会以参数名去查找然后load参数，这里有bug，

修改之后，没有出现找不到参数的问题，但是有这样的报错：

![image](https://user-images.githubusercontent.com/31128

[2019-02-28 09:10] guoshengCS commented on #1801
可以试下使用[load_vars](http://paddlepaddle.org/documentation/docs/zh/1.3/api_cn/io_cn.html#paddle.fluid.io.load_vars)传入vars这个参数来load部分数据

[2019-02-28 09:21] burness commented on #1801
@guoshengCS  尝试了 还是不行的 同样的报错
指定main_program:
![image](https://user-images.githubusercontent.com/3112825/53555326-b0d14900-3b7c-11e9-9a84-b448f5527a78.png)
不指定main_program:
![image](https://user-images.githubusercontent.com/3112825/53555614-3ce37080-3b7d-11e9-948f-29fd5d1c0800.png)

[2019-02-28 09:28] #1729 closed, assigned to nobody

[2019-02-28 09:28] guoshengCS commented on #1800
可以试下这里 https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleRec/tagspace/train.py#L123 把 `train_exe` 改成 `exe`

[2019-02-28 09:31] guoshengCS commented on #1801
可以试下训练的时候参数分开保存，infer.py里`load_vars`需要显式的设置vars这个参数为希望load的参数的list

[2019-02-28 09:33] zhengya01 commented on #1800
好的，这样改后运行成功了。

[2019-02-28 09:33] #1800 closed, assigned to nobody

[2019-02-28 09:52] burness commented on #1801
@guochaorong 之前想过这种可能性，但是耗时比较大 ，那我试试看再反馈

[2019-02-28 10:16] #1728 closed, assigned to kuke, ccmeteorljh

[2019-02-28 10:16] #1773 closed, assigned to kuke, kolinwei

[2019-02-28 12:06] dashulu commented on #1751
@shippingwang AlexNet的配置呢？AlexNet也碰到了同样的问题。 另外，关于其他模型训练的配置参数能一起给一份吗？我想对比INT16、fp16、bf16等几种精度下的收敛效果。

[2019-02-28 12:41] zhengya01 opened #1804 "word2vec模型代码bug，代码中死循环"
train.py
209行 while True:

[2019-02-28 14:04] ccmeteorljh commented on #1764
目前在V100测试出的来的数据除了MP 4机器下，其他已对齐
在v100下测试出的结果如下：

  | baseline  | Fluid   PG FP32 | Fluid   MP FP32 | Fliud   PG FP16 | Fluid MP FP16
-- | -- | -- | -- | -- | --
1 |253.76   | 251.67022   examples/sed | 252.37555   examples/sed | 429.93418   examples/sed | 431.96967   examples/sed
8 | 1293 | 1662.36878   examples/sed | 1693.02821   examples/sed | 2130.77396   examples/sed | 2492.54317   examples/sed

[2019-03-01 01:35] kolinwei opened #1805 "deeplabv3+多卡下训练报错"
如下错误:
1. pyreader没有stop函数
Training done. Model is saved to output1
Traceback (most recent call last):
  File "train.py", line 228, in <module>
    py_reader.stop()
AttributeError: 'Variable' object has no attribute 'stop'
2. 多卡时，训练报错
  训练命令
  python train.py --batch_size=4 --train_crop_size=769 --total_step=50 --save_weights_path=output1 --dataset_path=$DATASET_PATH --enable_ce
![image](https://us

[2019-03-01 03:34] JiaXiao243 commented on #1804
是呢，我这边word2vec老是跑不完~ 以为是数据量过大的原因呢~
loss 从36.4降低到30.6基本就不再降低了，一直在重复输出徘徊在31左右的loss数据，感觉这个loss还是挺高的~

[2019-03-01 07:13] snowsteper opened #1809 "batch_norm 层使用报错 Enforce failed. Expected ctx->GetInputDim("Scale")[0] == C, but received ctx->GetInputDim("Scale")[0]:0 != C:1"
代码：

[code]

得到报错信息
paddle.fluid.core.EnforceNotMet: Enforce failed. Expected ctx->GetInputDim("Scale")[0] == C, but received ctx->GetInputDim("Scale")[0]:0 != C:1.
 at [/paddle/paddle/fluid/operators/batch_norm_op.cc:60]

[2019-03-01 07:17] wanghaoshuang commented on #1809
你应该是没有做初始化操作，请参考这个例子：https://github.com/PaddlePaddle/models/blob/develop/fluid/mnist/model.py#L142

[2019-03-01 07:52] cjld commented on #1805
fixed https://github.com/PaddlePaddle/models/pull/1807

[2019-03-01 07:56] cjld commented on #1708
如果您是使用batch norm的话，请保证batch size至少是8，如果显存不足，您可以尝试使用group norm，在最新版本的models里面已经更新了相关的参数

https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/deeplabv3+/README.md#预训练模型准备

[2019-03-01 08:00] cjld commented on #1583
您好，新版本的deeplabv3+增加了对改动num_classes的支持，同时需要设置`load_logit_layer=False`

[2019-03-01 08:01] cjld commented on #1543
如果显存不足，请使用group norm并且改小batch size

[2019-03-01 08:02] cjld commented on #1543
1080ti推荐配置是使用gn，batch size=4， total_step=180000

[2019-03-01 08:03] cjld commented on #1551
您好，该问题已修复，请尝试最新版本的代码

[2019-03-01 08:03] cjld commented on #1539
8的batch size，gn大概需要20G，bn大概需要35g左右

[2019-03-01 08:05] cjld commented on #1792
如果您是使用batch norm的话，请保证batch size至少是8，如果显存不足，您可以尝试使用group norm，在最新版本的models里面已经更新了相关的参数

[https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/deeplabv3+/README.md#预训练模型准备](https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/deeplabv3+/README.md#%E9%A2%84%E8%AE%AD%E7%BB%83%E6%A8%A1%E5%9E%8B%E5%87%86%E5%A4%87)

[2019-03-01 09:50] snowsteper commented on #1809
我看只有Normalinitailizer里面有scale这个关键字，而且代码库里：
https://github.com/PaddlePaddle/models/blob/c1c5ed644428acc8395ea9ea28518a1c66d790b3/fluid/PaddleCV/video/models/stnet/stnet_res_model.py
这里面的初始化就是用的ConstantInitializer

batch_norm里面有对scale的创建，是不是这边有问题
https://github.com/PaddlePaddle/Paddle/blob/release/1.2/python/paddle/fluid/layers/nn.py#L2462

[2019-03-01 09:55] wanghaoshuang commented on #1809
你加了这句还有错么？
[code]

[2019-03-01 10:01] wanghaoshuang commented on #1809
https://github.com/PaddlePaddle/Paddle/blob/release/1.2/python/paddle/fluid/layers/nn.py#L2462

这里只是声明了这个scale variable, 并没有初始化。

[2019-03-01 12:30] #1805 closed, assigned to nobody

[2019-03-03 14:39] ccmeteorljh opened #1820 "deeplabv3+ eval 出错"
报错如下：
[code]

[2019-03-04 02:37] xiegegege opened #1821 "faster_rcnn使用output/model_final中模型进行评估报错"
faster_rcnn使用output/model_final中模型进行评估报如下错：
<img width="878" alt="4ad3143eb5796cd32184d8480407a88d" src="https://user-images.githubusercontent.com/46314656/53707267-431d6980-3e69-11e9-865d-9bad7614cf1e.png">

[2019-03-04 03:44] shippingwang commented on #1785
尝试CUDNN 5

[2019-03-04 09:07] zhengya01 opened #1825 "tagspace文档中数据链接失效"
ag news dataset 链接失效

[2019-03-04 09:13] JiaXiao243 commented on #1804
word2vec模型在trian.py 将209行 while True注释掉，运行报如下错误：
![image](https://user-images.githubusercontent.com/37854899/53722547-c908d700-3ea0-11e9-99ea-2d47e6507f77.png)

[2019-03-04 09:30] #1557 closed, assigned to nobody

[2019-03-04 12:15] #1794 closed, assigned to jacquesqiao

[2019-03-05 03:41] OliverLPH opened #1828 "models文档中installation document 链接失效"
<img width="939" alt="1551756833" src="https://user-images.githubusercontent.com/14963836/53779284-8f84aa00-3f3a-11e9-878e-9b751634b430.png">

该链接失效，提示无该文档

![Uploading cedc533655735e1fa25c70fffd99af0f.png…]()

[2019-03-05 03:42] OliverLPH commented on #1828
https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/image_classification
这个链接里面的·

[2019-03-05 04:24] wanghaoshuang commented on #1801
非常抱歉，因为失误，我们没有保证train.py中save checkpoint和infer中load checkpoint的一致性，给您造成了困扰，我们已经在pr #1829 中修复了该问题。

[2019-03-05 04:28] wanghaoshuang commented on #1801
另外，我们对infer.py的一次[修改](https://github.com/PaddlePaddle/models/pull/1829/files#diff-d594e13735d2be09491f272ffb0a79e2R78)忘记了同步到文档中，在infer的时候，需要指定对应的input style.

[2019-03-05 05:01] #1821 closed, assigned to nobody

[2019-03-05 05:15] xiegegege opened #1832 "deeplabv3+易用性问题"
1. eval运行结束后mIoU指标值显示消失
<img width="272" alt="ceb672f4d32211dd7959c9c7d05aad42" src="https://user-images.githubusercontent.com/46314656/53779395-e12d3480-3f3a-11e9-97ba-360385ac91ce.png">
2.eval.py中没有文档中提到的--model_path参数
<img width="421" alt="a13f012791820821a9b57d60dac6e63c" src="https://user-images.githubusercontent.com/46314656/53779530-61ec3080-3f3b-11e9-97a0-2fbdfbd63d20.png">
3.eval文档中参数为ini

[2019-03-05 06:05] #1801 closed, assigned to wanghaoshuang

[2019-03-05 07:28] xiegegege opened #1834 "image_classification infer错误"
1. infer时read有问题，找不到数据
<img width="884" alt="3148d727abb5fd78b49061599251cdca" src="https://user-images.githubusercontent.com/46314656/53787867-1a759c80-3f5b-11e9-925c-434eec172427.png">
2.infer.py没有文档中写的--batch_size参数
<img width="623" alt="693b723d98bca1715e4c93a041dbcb5d" src="https://user-images.githubusercontent.com/46314656/53787935-455ff080-3f5b-11e9-9bc0-1ceb536d3c13.png">

[2019-03-05 07:42] dashulu commented on #1825
另外，跑python infer.py之后出现的结果如下， 这个怎么看模型的准确率？
('start index: ', 1, ' last_index:', 10)
start read file
(1000, 0.468)
(2000, 0.46)
(3000, 0.4533333333333333)
(4000, 0.437)
(1000, 0.484)
(2000, 0.48)
(3000, 0.4746666666666667)
(4000, 0.486)
(1000, 0.596)
(2000, 0.558)
(3000, 0.5653333333333334)
(4000, 0.57)
(1000, 0.616)
(2000, 0.61)
(3000, 0.5973333333333334)
(4000, 0.615)
(1000, 0.664)
(2000, 0.628)

[2019-03-05 07:54] xiegegege opened #1836 "metric learning 无法下载预训练模型"
<img width="909" alt="e5efa4d5ff5fca7417750aa5aba698dd" src="https://user-images.githubusercontent.com/46314656/53789201-ddaba480-3f5e-11e9-9065-f8d5152a4d2d.png">

[2019-03-05 08:01] frankwhzhang commented on #1825
文档链接 暂时失效 数据下载可以 wget ftp://10.199.240.57/home/zhangwenhui03/dataset_dir/tagspace/data/train.csv
ftp://10.199.240.57/home/zhangwenhui03/dataset_dir/tagspace/data/test.csv

[2019-03-05 08:02] frankwhzhang commented on #1825
这个infer.py 括号第二个数是acc

[2019-03-05 08:11] dashulu opened #1837 "SSD模型按照readme的文档配置后，训练20轮之后，map的值仅为0.02"
如题， map值仅为0.02， 与文档说的训练120轮能到73.2%差了好多，请问这个是什么原因？

[2019-03-05 08:16] qingqing01 commented on #1837
@dashulu 请问下载预训练模型了吗？ 先检查下预训练模型load是否正常。 https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/object_detection#download-the-pre-trained-model

[2019-03-05 08:23] burness commented on #1801
@wangguibao  input style 这个我在代码中看到了 ，load_vars 可以解决 @guochaorong

[2019-03-05 08:23] burness commented on #1790
@qingqing01  多谢

[2019-03-05 08:29] dashulu commented on #1837
@qingqing01 已经下载过了。

[2019-03-05 09:17] dashulu commented on #1837
预处理模型的路径配置错了。

[2019-03-05 09:17] #1837 closed, assigned to nobody

[2019-03-05 11:44] snowsteper commented on #1809
一直都是加这句运行的，我看接口里面没有地方让初始化这个变量，而且我看提供的例子链接里面也没有特别对scale初始化过。。。

[2019-03-06 04:46] xiegegege commented on #1754
在GPU没有开启P2P的机子上跑video模型会报这个错误，开启P2P的机子正常，另外还有nlp下的deep_attention_matching_net会报这个错

[2019-03-06 04:51] xiegegege commented on #1760
更改运行参数后正常。

[2019-03-06 04:51] #1760 closed, assigned to shippingwang

[2019-03-06 05:51] frankwhzhang commented on #1825
文档链接已经修复 见https://github.com/PaddlePaddle/models/pull/1839

[2019-03-06 05:51] #1825 closed, assigned to frankwhzhang

[2019-03-06 06:33] frankwhzhang commented on #1804
word2vec 代码目前正在修改 预计下周ready

[2019-03-06 08:51] OliverLPH opened #1844 "CPU环境 下训练模型(image_classification)有Bug"
在图像识别的路径中，尝试在CPU下跑模型，均有该bug

[code]

参数配置如下图，关掉了gpu
<img width="402" alt="fe1224ecb4f90270f8a00ef9f11e462a" src="https://user-images.githubusercontent.com/14963836/53867845-a6f18f00-402f-11e9-81f0-1d949446b77a.png">

报错如下
<img width="763" alt="1551862072" src="https://user-images.githubusercontent.com/14963836/53867821-96d9af80-402f-11e9-8c4f-6bf0365ad259.png">

[2019-03-06 12:09] xiegegege opened #1846 "ocr_recognition 评估、预测错误"
1、ocr_recognition CTC model eval.py有函数缺少参数：
<img width="909" alt="e8ec154b99d031a872f8f222e1088e92" src="https://user-images.githubusercontent.com/46314656/53880163-453f1e00-404b-11e9-85c7-8dd84fe81020.png">
2、预测时CTC和attention模型的报错：
<img width="987" alt="93b4cc1a5a0309688355e42a33bddad7" src="https://user-images.githubusercontent.com/46314656/53880294-9e0eb680-404b-11e9-9619-47c6bdaff889.png">

[2019-03-06 12:18] wanghaoshuang commented on #1846
https://github.com/PaddlePaddle/models/commit/c765794e0d8bd9e2f93a29962de89560ca1506be#diff-366b354acb1f3c3a449809e462657458R209

[2019-03-06 13:42] saibharani opened #1848 "DeepASR english model"
DeepASR current has only aishell model released. do you plan of releasing any english model for DeepASR.
Thank you

[2019-03-07 02:35] JiaXiao243 opened #1849 "image classification文档易用性部分汇总"
1. 点击文档中超连接trian无法链接到文档中Training a model with flexible parameters位置

![image](https://user-images.githubusercontent.com/37854899/53927333-807c3400-40c1-11e9-9a0f-c21062f742a8.png)

2. 点击Table of Contents处 Training a model with flexible parameters、Supported models and performances无法跳转到对应文档位置
![image](https://user-images.githubusercontent.com/37854899/53927417-ce913780-40c1-11e9-8bbf-9691e2bc90f1.pn

[2019-03-07 07:04] shippingwang commented on #1849
copy that

[2019-03-07 07:04] #1788 closed, assigned to shippingwang

[2019-03-07 07:05] #1786 closed, assigned to shippingwang

[2019-03-07 07:05] #1785 closed, assigned to shippingwang

[2019-03-07 07:09] shippingwang commented on #1751
@dashulu 尝试下--modle_category=models_name
运行参数配置 详见 /run.sh

[2019-03-07 07:11] #1751 closed, assigned to shippingwang

[2019-03-07 11:05] xiegegege opened #1851 "cycle_gan模型易用性问题"
1、cycle_gan示例数据中缺少test数据
2、建议infer中init_model和input的路径与train中设定保持一致，分别设为output_0/checkpoints/1和data/horse2zebra/testA/*
<img width="643" alt="cycle_gan" src="https://user-images.githubusercontent.com/46314656/53951585-c1983680-4109-11e9-9796-2058d8be92dd.png">
3、运行中有告警：
infer.py:63: DeprecationWarning: `imsave` is deprecated!
`imsave` is deprecated in SciPy 1.0.0, and will be removed in 1.2.0.
Use

[2019-03-07 11:27] wshhja commented on #1848
Hello,i'm trying to use DeepASR models in my project,i wanna to know whether you get the aishell model on the internet or you train it yourself.
And,when i attempt to run the aishell demo,it doesn't run normal (by running sh profile.sh)and report the errors like :`Traceback (most recent call last):
  File "../../tools/profile.py", line 19, in <module>
    from data_utils.util import lodtensor_to_n

[2019-03-07 11:27] JiaXiao243 opened #1852 "Deep Attention Matching Network文档链接失效"
![image](https://user-images.githubusercontent.com/37854899/53953693-f490f900-410e-11e9-9c8a-879c6c7ffd64.png)
如图s所示，点击该链接，显示404
![image](https://user-images.githubusercontent.com/37854899/53953718-070b3280-410f-11e9-8dcb-92c1dc9d8ad8.png)

[2019-03-07 12:50] xiegegege opened #1853 "neural_machine_translation/rnn_search预测出错"
neural_machine_translation/rnn_search预测有时会报错(非必现)，报错如下：
Traceback (most recent call last):
  File "infer.py", line 137, in <module>
    infer()
  File "infer.py", line 113, in infer
    return_numpy=False)
  File "/usr/local/lib/python3.7/dist-packages/paddle/fluid/executor.py", line 525, in run
    use_program_cache=use_program_cache)
  File "/usr/local/lib/python3.7/dist-packages/paddle/fluid/ex

[2019-03-08 04:08] tashengjinsheng commented on #1853
该问题如何解决

[2019-03-08 06:07] chenjiapen12 opened #1855 "人脸检测，多卡训练一段时间后会卡住"
我想问下，为什么多卡训练一段时间后，cpu与gpu的使用率会变成0，整个程序感觉卡死了

[2019-03-08 06:51] dashulu opened #1856 "chinese_ner模型训练精度为0"
用提供的数据集和参数，在chinese_ner目录下直接跑python train.py, 得到的精度为0（如下图所示），这个是什么原因？
![image](https://user-images.githubusercontent.com/4484303/54012629-95d08b80-41b1-11e9-8e19-de0f6c1c9c1b.png)

[2019-03-08 07:11] dashulu commented on #1856
在训练几百轮就可以了

[2019-03-08 07:11] #1856 closed, assigned to nobody

[2019-03-08 08:23] xiegegege opened #1857 "machine_reading_comprehension易用性问题"
1、data/results文件夹下找不到评估和预测的结果
<img width="886" alt="f7a1492a7697af1662eeb115891d0f13" src="https://user-images.githubusercontent.com/46314656/54015985-79861c00-41bc-11e9-8ab9-7ad26fe817b0.png">
2、data/preprocessed/testset目录下没有search.dev.json，是search.test.json
<img width="985" alt="87c4380fe1f80ea9361e6ec893376bab" src="https://user-images.githubusercontent.com/46314656/54016213-295b8980-41bd-11e9-

[2019-03-08 11:31] JiaXiao243 opened #1858 "human_pose_eatimation模型valid && test报错"
1.valid报错信息如下
<img width="795" alt="fbdbca570e73b0d09700bc485479bec2" src="https://user-images.githubusercontent.com/37854899/54026246-29b54e00-41d8-11e9-865e-b94274ff5d48.png">
2. test报错信息如下
<img width="794" alt="fa0c6f234c4f180899ed4e10d86d91de" src="https://user-images.githubusercontent.com/37854899/54026259-32a61f80-41d8-11e9-92eb-402ab5b5c5ba.png">
3.文档链接失效
![image](https://user-images.github

[2019-03-08 13:01] JiaXiao243 opened #1859 "deep_attention_matching_net单卡训练log无内容输出，GPU利用率显示为0"
deep_attention_matching_net单卡训练log无内容输出，GPU利用率显示为0
log如下所示：
![image](https://user-images.githubusercontent.com/37854899/54029986-38563200-41e5-11e9-9844-16c27759c89e.png)
显卡信息如下所示：
![image](https://user-images.githubusercontent.com/37854899/54030041-591e8780-41e5-11e9-8e2c-9d0d44723df8.png)

[2019-03-09 04:33] xuezhong commented on #1855
感觉不太正常，麻烦贴下具体的复现信息

[2019-03-09 04:39] qingqing01 commented on #1858
@JiaXiao243 多谢反馈，这个模型会在下个版本更新，我们一并修改问题~

[2019-03-09 07:18] chenjiapen12 commented on #1855
@xuezhong 谢谢你的回复，和https://github.com/PaddlePaddle/Paddle/issues/15201#issue-396591417情况相同

[2019-03-09 11:22] chenkingwen opened #1860 "pyramidbox: why anchor down-sampled?"
I have a question disturbed me. As we know, the anchor will be expanded to detect head and body from face anchors, but it is down-sampled to calculate IOU with region target to confirm the label. After all, the head and body are larger than face. Thank you very much.

[2019-03-11 02:44] soldier828 opened #1861 "faste-rcnn 训练代码可以支持VOC数据格式吗？"
models/fluid/PaddleCV/rcnn   目前看faster-rcnn的训练代码reader只支持coco的数据格式，请问是否可以增加对VOC格式reader的支持？

[2019-03-11 02:48] Yancey0623 commented on #1861
Hi @jerrywgz 请问我们有在Faster RCNN上支持多个数据集的计划吗？

[2019-03-11 02:49] jerrywgz commented on #1861
我们目前faster rcnn还只支持coco数据集，voc数据集可以参考object detection中的ssd模型

[2019-03-11 03:27] xiegegege opened #1862 "faster_rcnn eval出错"
报错如下：
<img width="876" alt="4f092867dddd5037866d2af29acce10f" src="https://user-images.githubusercontent.com/46314656/54098709-9dca3e80-43f0-11e9-9a90-5e3744e0920b.png">

[2019-03-11 06:37] WuDongxue518 opened #1865 "what is mention in fluid/PaddleNLP/chinese_ner/"
mention_idx = []
                for item in features[3].strip().split(" "):
                    mention_idx.append(int(item))
what is mention?

[2019-03-11 06:44] ccmeteorljh opened #1866 "图像分类开启显存优化会hang住"
[code]
![image](https://user-images.githubusercontent.com/33303691/54104831-299d9400-440c-11e9-8ae9-f3051c314a1c.png)

[2019-03-11 07:02] xiegegege commented on #1862
faster_rcnn eval在单卡下可以正常运行，多卡会报上述错误，文档中有指出eval需指定单卡。

[2019-03-11 07:02] #1862 closed, assigned to nobody

[2019-03-11 07:02] takecareofbigboss commented on #1860
hi, maybe it is the same when they are mapping the the original image.

[2019-03-11 07:03] takecareofbigboss commented on #1860
@chenkingwen

[2019-03-11 07:09] chenkingwen commented on #1860
@takecareofbigboss I do not understand the image pyramid mean what in paper. The semi-supervised anchor would be used in upper two feature map from current layer? but why down-sampled? some one help me? thanks!

[2019-03-11 10:08] xyoungli opened #1868 "fetch StNet pretrained model failed"
failed to get StNet pretrained model from following url https://paddlemodels.bj.bcebos.com/video_classification/stnet_kinetics.tar.gz as described in https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/video/models/stnet/README.md.
error: {"code":"NoSuchKey","message":"The specified key does not exist.","requestId":"04581481-d584-43c3-9b23-08789ce86f3b"}

[2019-03-11 11:17] shippingwang commented on #1866
@ccmeteorljh export FLAGS_fraction_of_gpu_memory_to_use=0.0 了么？只有8卡 hang住吗？paddle版本是？

[2019-03-11 15:00] takecareofbigboss commented on #1860
maybe you can see figure 1 for reference~

[2019-03-12 02:38] ccmeteorljh opened #1872 "图像分类infer 没有batchsize参数"
[code]

[2019-03-12 02:56] ccmeteorljh commented on #1866
多卡会hang，paddle版本是1.3，关闭显存优化就可以跑了

[2019-03-12 02:57] ccmeteorljh commented on #1872
infer的reader数据路径处理不对；
[code]

[2019-03-12 03:31] ccmeteorljh commented on #1872
和 #1834  一样

[2019-03-12 03:32] #1872 closed, assigned to shippingwang

[2019-03-12 06:49] JiaXiao243 opened #1873 "gru4rec易用性问题"
1. 负采样使用bpr loss、cross entrop loss的模型结果均保存在 model_bpr_recall20目录下(依次执行会在该目录下覆盖)，建议修改为model_neg_recall20。因为使用负采样cross entrop loss训练看到model_bpr_recall20会以为仅存放bpr loss的结果，会不知道负采样cross entrop loss训练出的模型存放在哪里。
2. 文档实例训练的模型输出结果建议和infer输入的模型路径一致。
 训练示例模型保存路径
![image](https://user-images.githubusercontent.com/37854899/54179452-cc6d1580-44d3-11e9-93a7-ed377a7ba8cd.png)
infer示例模型加载路径
![image](https://user-i

[2019-03-12 07:41] JiaXiao243 opened #1875 "###"

[2019-03-12 07:41] #1875 closed, assigned to nobody

[2019-03-12 07:58] JiaXiao243 commented on #1875
如图所示，建议标明log中数据的具体含义。
![Uploading image.png…]()

[2019-03-12 07:59] JiaXiao243 commented on #1875
如图所示，建议标明log中数据的具体含义
<img width="498" alt="29128f50c0f8befebe833e81b48c3efa" src="https://user-images.githubusercontent.com/37854899/54183728-cd0ba900-44df-11e9-8017-fd150499eec4.png">

[2019-03-12 08:00] kuke commented on #1865
这是根据词出现在百科词条及对应的百科词条的类型而产出的特征，因涉及到数据保密，所以没有详细解释

[2019-03-12 08:04] JiaXiao243 opened #1876 "tag space infer log未标明数据含义"
infer log如图所示，建议标明log输出数据含义
<img width="294" alt="edf51251543d697711357d8d535b2f73" src="https://user-images.githubusercontent.com/37854899/54184001-84082480-44e0-11e9-89c8-a55d5494f478.png">

[2019-03-12 08:09] #1865 closed, assigned to kuke

[2019-03-12 08:09] #1861 closed, assigned to jerrywgz

[2019-03-12 10:32] heavengate commented on #1868
Fixed, please try to download again

[2019-03-12 12:32] JiaXiao243 opened #1877 "icnet加载model_1000预训练模型进行训练报错"
1.使用如下指令训练：python train.py --batch_size=16 --use_gpu=True --init_model="./model_1000/"  --checkpoint_path="./chkpnt/"
其中：/model_1000为文档中提供的预训练模型，其中并无conv6参数。
<img width="970" alt="bfd08a979fcb4f72bb443fbca3f53d3f" src="https://user-images.githubusercontent.com/37854899/54199980-24704000-4505-11e9-9bf4-70dc09b0cc86.png">
2. 文档中eval和infer中的model_path建议改为./chkpnt/100，与训练输出保持一致
![image](https://user-i

[2019-03-12 12:36] JiaXiao243 commented on #1877
补充问题2中的截图：
![image](https://user-images.githubusercontent.com/37854899/54200504-854c4800-4506-11e9-8e2d-b7a43566dffe.png)
![image](https://user-images.githubusercontent.com/37854899/54200514-8aa99280-4506-11e9-82cc-bf66a4de9e32.png)

3. infer的log中建议添加预测输出结果保存在output文件夹内。现在文档中有提示预测结果保存在output文件夹，Infer log中仅显示loaded model from ./chkpnt/100/，建议也添加该提示。

[2019-03-12 12:40] ZeyuChen opened #1878 "文本分类text_classification训练选项不匹配"
1. train.py中batch_size参数冗余

2. 命令行选项gru配置错误

3. GRU Layer embedding学习率默认配置过大，导致模型训练补课收敛。

[2019-03-12 13:06] #1878 closed, assigned to nobody

[2019-03-13 03:05] yuzhengfei opened #1881 "使用cycle_gan训练出来的模型执行预测命令报错"
参考官方链接：http://www.paddlepaddle.org/paddle/ModelBase#%E8%AE%A1%E7%AE%97%E6%9C%BA%E8%A7%86%E8%A7%89%0A%E5%9B%BE%E5%83%8F%E7%94%9F%E6%88%90-CycleGAN
训练平台：ubontu18.04，GPU，paddle1.3.0， 预测平台：win10，cpu，paddle1.3.0
报错信息如下：
PS C:\Users\yuzhengfei\Desktop\models\models\fluid\PaddleCV\gan\cycle_gan> python infer.py --init_model="./output_0/chec
kpoints/1" --input="./data/horse2zebra\inputA\*" --input_style A

[2019-03-13 03:33] ivychen0515 opened #1882 "使用transformer demo时报错"
参考官网链接
http://www.paddlepaddle.org/paddle/ModelBase#%E8%87%AA%E7%84%B6%E8%AF%AD%E8%A8%80%E5%A4%84%E7%90%86%0A%E6%9C%BA%E5%99%A8%E7%BF%BB%E8%AF%91-Transformer
训练平台
Centos 6.3; CUDA9.0; PaddlePaddle 1.3.0
报错信息如下
Traceback (most recent call last):
  File "train.py", line 772, in <module>
    train(args)
  File "train.py", line 691, in train
    token_num, predict, pyreader)
  File "train.py", line 54

[2019-03-13 04:30] wzzju commented on #1881
请问，您在ubuntu上训练是正常的吗？如果是，请使用[save_inference_model](http://paddlepaddle.org/documentation/docs/zh/1.3/api_cn/io_cn.html#save-inference-model)保存预测模型，然后在windows上使用[load_inference_model](http://paddlepaddle.org/documentation/docs/zh/1.3/api_cn/io_cn.html#load-inference-model)做inference。

[2019-03-13 04:40] kolinwei commented on #1881
windows 下 --init_model="./output_0/checkpoints/1" 不对吧，应该是output_0\checkpoints\1

[2019-03-13 04:59] guoshengCS commented on #1882
请问这个是使用的 https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleNLP/neural_machine_translation/transformer/README_cn.md#数据准备 这里的数据么，报错是因为词id超过了词表的大小，如果是自定义数据的话可以在数据reader中加下输入数据和词表大小的检查

[2019-03-13 06:38] yuzhengfei commented on #1881
@wzzju 您好，训练是正常的，您的意思是需要将train.py文件下checkpoints(epoch)方法里的save_persistables改成save_inference_model，然后重新训练么？

[2019-03-13 07:46] wzzju opened #1884 "RNN模型的数据下载的链接失效"
![image](https://user-images.githubusercontent.com/17102274/54261050-b4fe5d00-45a5-11e9-8239-f1ef759bcd2c.png)
https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleNLP/neural_machine_translation/rnn_search
RNN模型下这几个数据下载的链接都失效了，可以提供下新的吗？

[2019-03-13 07:49] wzzju opened #1885 "paddle 是否支持两维以上的变长tensor?"
## Q1: 请问paddle 是否支持两维以上的变长tensor 如shape[-1, -1, 128]。

## Q2:  Fluid 中的 layers.data中的shape可以支持变长吗？网络输入的就是一个大小不确定的矩阵。

[2019-03-13 07:51] wzzju commented on #1885
配置网络的时候可以将shape写成[-1,任意正数,128]，然后输入的时候shape可以为[任意正数,任意正数,128]。维度只是个占位，运行网络的时候的实际维度是从输入数据推导出来的。
PS: 配置网络的时候第一维度必须为-1。

[2019-03-13 09:33] JiaXiao243 commented on #1846
下载的是最新版本的models，运行python eval.py 报错信息如下：
![image](https://user-images.githubusercontent.com/37854899/54268250-c2bbde80-45b5-11e9-9c32-133e75759c99.png)
使用文档中提供的ocr_attention_params进行infer报错信息如下：
![image](https://user-images.githubusercontent.com/37854899/54268332-ee3ec900-45b5-11e9-8240-0083a142806c.png)
使用ocr_ctc_params进行infer正确。

[2019-03-13 09:33] liuyf1994 commented on #1853
我发现这个是版本的问题，代码在paddle1.0版本下运行无错，不过可能产生insufficient memory，调小batch_size即可

[2019-03-13 13:37] wzzju commented on #1881
@yuzhengfei 请问您保存后是为了增量训练还是为了做预测呢？

[2019-03-14 01:58] JiaXiao243 opened #1889 "faster rcnn eval报错"
下载文档中的Faster RCNN的预训练模型Fluid RoIPool minibatch padding，执行指令：python eval_coco_map.py --dataset=coco2017 --pretrained_model=./model_pool_minibatch_padding/ --MASK_ON=False
报错信息如下：
![image](https://user-images.githubusercontent.com/37854899/54325883-5f768e80-463f-11e9-8318-e59e59d2f16d.png)
PS:使用MASK RCNN的预训练模型Fluid mask no padding进行eval，得到正确结果。
![image](https://user-images.githubusercontent.com/3785

[2019-03-14 05:58] #1868 closed, assigned to heavengate, shanyi15

[2019-03-14 07:09] #1778 closed, assigned to wanghaoshuang

[2019-03-14 07:32] jerrywgz commented on #1889
https://github.com/PaddlePaddle/models/pull/1892

[2019-03-14 09:19] JiaXiao243 opened #1894 "transformer infer无输出log"

[2019-03-14 09:22] JiaXiao243 commented on #1894
在centos6.1_cuda9.0_cudnn7.0的docker 中，paddle为最新develop分支编译安装的，models下载的最新版本。
执行transformer infer指令：python -u infer.py --src_vocab_fpath ./wmt_bpe/vocab_all.bpe.32000 --trg_vocab_fpath ./wmt_bpe/vocab_all.bpe.32000 --special_token '<s>' '<e>' '<unk>' --test_file_pattern ./wmt_bpe/newstest2016.tok.bpe.32000.en-de --token_delimiter ' ' --batch_size 32 model_path trained_models/iter_10000.infer.model b

[2019-03-14 11:02] qianledan opened #1895 "如何使用第二个GPU进行训练？"
if args.use_gpu:
        # NOTE: for multi process mode: one process per GPU device.
        gpu_id = 0
        if os.getenv("FLAGS_selected_gpus"):
            gpu_id = int(os.getenv("FLAGS_selected_gpus"))
    place = core.CUDAPlace(gpu_id) if args.use_gpu else core.CPUPlace()
有两个问题：1、以上代码中FLAGS_selected_gpus参数找遍网络都没有相关的说明，哪里能提供文档资料说明？2、分布训练ps模式，单机双gpu，第一个trainer使用第一颗gpu是否使用place = core.CUDAPlac

[2019-03-14 11:04] qianledan commented on #1520
我运行官网github中分布训练的例子run_ps_mode.sh出现：
-----------  Configuration Arguments -----------
async_mode: False
batch_size: 32
checkpoint: None
class_dim: 1000
data_dir: ../data/ILSVRC2012
enable_ce: False
fp16: False
image_shape: 3,224,224
lr: 0.1
lr_strategy: piecewise_decay
model: DistResNet
model_category: models
model_save_dir: output
multi_batch_repeat: 1
num_epochs: 120
num_threads: 8
pretrained_mo

[2019-03-14 11:13] qianledan opened #1896 "运行官网例子单机分布训练ps模式出错"
我运行官网github中分布训练的例子run_ps_mode.sh出现：（官网例子是否需要修改？）

[code]

[2019-03-14 11:35] JiaXiao243 commented on #1853
<img width="1065" alt="705b13ce14cb7071fa9fe8051d775fb4" src="https://user-images.githubusercontent.com/37854899/54353958-582ba100-4690-11e9-82c8-646aeedc8d98.png">

[2019-03-14 11:39] chengduoZH commented on #1565
这是因为程序在运行时在环境找到的cudnn是5.1.10，而不是7.0。

[2019-03-14 12:01] qianledan commented on #1895
/paddle/paddle/fluid/pybind/pybind.cc:728行中的代码如下：请问是否代码有问题？为何只能是0值？
py::class_<platform::CUDAPlace>(m, "CUDAPlace")
      .def("__init__",
           [](platform::CUDAPlace &self, int dev_id) {
#ifdef PADDLE_WITH_CUDA
             PADDLE_ENFORCE(
                 dev_id >= 0 && dev_id < platform::GetCUDADeviceCount(),
                 "Invalid CUDAPlace(%d), must inside [0, %d)", dev_id,

[2019-03-14 12:12] #1885 closed, assigned to wzzju

[2019-03-14 12:52] qianledan commented on #1895
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/pybind/pybind.cc
程序里有关place = core.CUDAPlace( )出错信息代码如下：
py::class_<platform::CUDAPlace>(m, "CUDAPlace")
      .def("__init__",
           [](platform::CUDAPlace &self, int dev_id) {
#ifdef PADDLE_WITH_CUDA
             PADDLE_ENFORCE(
                 dev_id >= 0 && dev_id < platform::GetCUDADeviceCount(),
                 "Invalid

[2019-03-14 13:43] ivychen0515 commented on #1882
用的是readme提供的整理数据啊，如果要更改该如何做呢

[2019-03-15 00:15] qianledan commented on #1895
问题已经找到：设置了环境变量CUDA_VISIBLE_DEVICES值，所以程序只看到一块GPU，造成GetCUDADeviceCount()的值为1，所以提示参数只能[0，1）之间的错误

[2019-03-15 02:43] jerrywgz commented on #1894
从目前的log来看只是打印了一些warning，这是paddle 1.3版本之后加入的

[2019-03-15 02:46] JiaXiao243 commented on #1894
log中无infer的结果数据~

[2019-03-15 02:50] guoshengCS commented on #1894
可以先检查下`test_file_pattern`中的数据路径有误导致无数据

[2019-03-15 02:56] xiegegege commented on #1851
另外 ，infer时有个报错
<img width="801" alt="39e7b0f6b1c9c5a2a2231ee7254273c1" src="https://user-images.githubusercontent.com/46314656/54405239-e9425c80-4710-11e9-8b4a-cc0d4a116a28.png">

[2019-03-15 02:57] typhoonzero commented on #1896
1. 看下是否设置了`http_proxy`环境变量，这个会影响通信。
1. 如果没有设置，请检查`logs/ps*` 日志是否存在报错，比如存在端口被占用等情况，可以修改脚本中端口的配置

[2019-03-15 05:21] guoshengCS commented on #1882
应该不是吧，readme提供的数据那个词表`vocab_all.bpe.32000`的大小是36556，麻烦再确认下，这里报错`Enforce failed. Expected ids[i] < row_number, but received ids[i]:36548 >= row_number:36532.
at [/paddle/paddle/fluid/operators/lookup_table_op.h:86]`里显示词表大小是36532

[2019-03-15 07:41] JiaXiao243 commented on #1894
检查了一下，输入的数据名称有一些错误，修改后得到infer结果，建议可否加一些输入判断信息，若test_file_pattern数据路径有误，输出一些错误提示信息。

[2019-03-15 07:43] #1894 closed, assigned to guoshengCS, jerrywgz

[2019-03-15 10:48] dubhex opened #1897 "Exception in thread"
能正常训练，但是有时候会报：

Traceback (most recent call last):
Traceback (most recent call last):
Exception in thread Thread-3 (most likely raised during interpreter shutdown):
Traceback (most recent call last):
  File "/opt/python/cp27-cp27mu/lib/python2.7/threading.py", line 801, in __bootstrap_inner
  File "/opt/python/cp27-cp27mu/lib/python2.7/threading.py", line 754, in run
  File "/opt/python/cp27-cp27m

[2019-03-15 13:12] frankwhzhang commented on #1897
请问运行的是哪个模型，能贴一下具体的代码信息和命令吗

[2019-03-18 03:27] zhengya01 opened #1899 "video模型train.py中parse_args中的参数名与train函数以及config中的参数名不一致"
train.py中parse_args：参数名用的横线

train函数以及config中的参数名用的下划线

建议统一为下划线

[2019-03-18 08:59] zhengya01 opened #1901 "video_classification模型训练报错"
数据：6类数据

环境：gpu cuda9 cudnn7  FLAGS_fraction_of_gpu_memory_to_use=0.02

命令：python train.py --batch_size=50 --total_videos=585 --class_dim=6 --num_epochs=2 --image_shape=3,224,224 --model_save_dir=output/ --with_mem_opt=True --lr_init=0.01 --num_layers=50 --seg_num=7

报错：
terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'
  what():  unhandled cuda error at [/paddle/pad

[2019-03-18 12:16] #1901 closed, assigned to nobody

[2019-03-19 12:21] ccmeteorljh opened #1903 "machine_reading_comprehension 模型中定义var使用‘：’分割，在多机中transplier中会挂掉"
在模型定义中，定义var前缀时候，使用了':'字符，导致在做多机中transplier中挂掉
https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleNLP/machine_reading_comprehension/rc_model.py#L97

![image](https://user-images.githubusercontent.com/33303691/54605577-8fc98d00-4a84-11e9-85ca-90254c1ffa5f.png)

[2019-03-20 03:23] sshilei opened #1906 "DAM模型中word_embedding.pkl的用途及产出程序"
模型库中的DAM模型， 模型示例数据中有多个word_embedding.pkl文件， douban/data/word_embedding.pkl，  ubuntu/data/word_embedding.pkl ,，有没有示例程序告诉使用方如何产出，以及这个文件的用途。

[2019-03-20 03:35] shippingwang commented on #1906
pkl 文件是pickle存取数据产生的
参照 https://github.com/PaddlePaddle/models/blob/306ece7f8ed6f71c7ab436974327a36423397904/fluid/PaddleNLP/deep_attention_matching_net/train_and_evaluate.py#L274

[2019-03-20 04:10] ccmeteorljh opened #1907 "icnet 多卡实现报错"
paddle version:1.3.0
错误如下：
[code]
print 具体的label值如下：
发现里面存在负数

[2019-03-20 06:44] heavengate commented on #1899
python 的argparser支持将参数名设置成batch-size，而在代码中映射为batch_size变量，由于参数名是需要通过python train.py --batch-size=8 这样指定，bash命令的参数一般使用 - 来分隔，所有发布的python库的argparser参数名一般都是使用-分隔，是较为常用的操作，可参考 https://github.com/facebookresearch/Detectron/blob/master/tools/train_net.py  等

[2019-03-20 11:25] dashulu opened #1910 "icnet如何准备数据？"
![image](https://user-images.githubusercontent.com/4484303/54680787-b56a9b00-4b45-11e9-93d2-1ca57830d72c.png)
数据中这个train.list和val.list在哪里下载？工具处理是数据是运行cityscapesScripts中的createTrainIdLabelImgs.py文件就可以了吗？

[2019-03-20 14:39] wanghaoshuang commented on #1910
这个需要自己生成一下,格式如下：
[code]

是的。

[2019-03-21 02:02] dashulu commented on #1910
所以这边需要下载leftImg8bit和gtFine两个数据集（下图标红）
![image](https://user-images.githubusercontent.com/4484303/54729798-7168ac00-4bc0-11e9-9208-d791547411c9.png)

[2019-03-21 07:23] wanghaoshuang commented on #1910
是的

[2019-03-21 15:20] #1889 closed, assigned to jerrywgz

[2019-03-22 06:05] JiaXiao243 opened #1915 "lac训练报错"
环境：paddle为最新的develop分支编译安装的，models也是最新的develop分支。
在lac文件夹下执行：python python/train.py --num_iterations=10报错信息如下：
![image](https://user-images.githubusercontent.com/37854899/54803688-879f6680-4cab-11e9-835e-62caec5aee9f.png)

[2019-03-22 06:16] JiaXiao243 commented on #1915
PS:paddle=1.3.0无该问题

[2019-03-23 03:37] Haijunlv opened #1917 "video NeXtVLAD stuck at training"
video model NeXtVLAD stuck at training process.
use official docker image:  paddlepaddle/paddle:1.3.0-gpu-cuda9.0-cudnn7
GPU environment: 8 Tesla V100， driver versioin:384.81

following the youtuble-8m data preprocessing and then train.
train script:
[code]

nextvlad.txt:
`    num_gpus = 4`

training stuck log:
[code]

trace the log,  process is stuck at
tools/train_utils.py L105:   train_outs = t

[2019-03-23 12:20] fc500110 commented on #1917
[code]

[2019-03-23 12:23] #1917 closed, assigned to nobody

[2019-03-26 02:16] wang-kangkang opened #1919 "why the net don't have any active function in googlenet.py in backbone?"
for example:
...
conv = self.conv_layer(
            input=pool, num_filters=64, filter_size=1, stride=1, act=None)
conv = self.conv_layer(
            input=conv, num_filters=192, filter_size=3, stride=1, act=None)
...

[2019-03-26 04:14] SunGaofeng commented on #1919
Yes, the lines you listed is just convolution without activation.
Do you want to add activation after convolution?

[2019-03-26 06:11] JiaXiao243 opened #1921 "object detection使用最新develop分支源码编译paddle训练报错"
环境：使用develop分支，编译安装paddle；
调用训练指令：python -u train.py --batch_size=64 --dataset='pascalvoc' --pretrained_model='pretrained/ssd_mobilenet_v1_coco/' --epoc_num=1
报错信息如下：
<img width="992" alt="1429eff7a9de8f8e2941cb6574b0ab81" src="https://user-images.githubusercontent.com/37854899/54974812-3d322880-4fd0-11e9-964c-6f6def339292.png">
具体log见附件，paddle==1.3.0、paddle==1.3.1可以正常训练。
[object_detection.log](ht

[2019-03-26 06:30] JiaXiao243 commented on #1921
PS:运行object detection后，进程hang住，无法正常退出。占用显存。
<img width="547" alt="c2d1973e223b876f4051a5682fbfb426" src="https://user-images.githubusercontent.com/37854899/54975938-af583c80-4fd3-11e9-8e9c-9f173e155094.png">

[2019-03-26 09:10] #1754 closed, assigned to nobody

[2019-03-26 12:45] SunGaofeng commented on #1921
这里运行的是ssd的代码？

[2019-03-26 13:02] JiaXiao243 commented on #1921
SSD 目标检测

[2019-03-27 04:53] colojaro opened #1924 "PyramidBox face_detection: is it possible to transpile to float16?"
I have seen multiple references in PaddlePaddle code to transpiling to float16 with gains on Volta GPUs. This out of date doc gives instructions but I can't find anything for recent versions:
http://www.paddlepaddle.org/documentation/docs/en/1.3/design/data_type/float16.html

I don't know Chinese but it seems as though the feature has been removed or moved. Is it possible to convert the face detec

[2019-03-27 10:39] OliverLPH opened #1929 "PaddlePaddle从源码编译Ngraph问题和建议"
系统：Ubuntu16.04
[Ngraph文档](https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/image_classification/README_ngraph.md)中的编译语句

[code]

建议修改成：
[code]

[2019-03-27 10:42] OliverLPH commented on #1929
从GitHub上的Paddle源码编译[Ngraph](https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/image_classification/README_ngraph.md）

使用图中的指令
<img width="877" alt="1553679267" src="https://user-images.githubusercontent.com/14963836/55065319-92e10080-50b6-11e9-9ab3-5144e5bcab5d.png">

但是报错，报错信息如下
<img width="984" alt="0ea698fcee46d64cfda9546943d52c91" src="https://user-images.githubusercontent.com

[2019-03-27 12:19] qingqing01 commented on #1924
We add example for image classfication on ImageNet, see: https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/image_classification/#using-mixed-precision-training .

But, we haven't experimented on PyramidBox.  We have plans to do F16 for detection in the future.

[2019-03-27 12:56] qingqing01 commented on #1929
@OliverLPH 请问问题解决了吗？

[2019-03-27 14:56] tensor-tang commented on #1929
@OliverLPH 编译中pip等找不到的问题跟ngraph本身无关。
按照你的环境，哪怕去掉cmake后面的选项也应该一样会编译不过，这个应该还是你的机器环境我问题，可以用我们的docker，latest-dev。

[2019-03-27 15:30] tensor-tang commented on #1929
这是[源码安装](http://paddlepaddle.org/documentation/docs/zh/1.3/beginners_guide/install/compile/compile_Ubuntu.html)的文档，可以先保证文档里面的操作都ok之后再加ngraph的选项。
我们之所以没在这个里面加这个文档路径，是因为有建议这个地址会变，所以改为现在文档你看到的地址。

[2019-03-28 01:50] OliverLPH commented on #1929
@qingqing01 嗯嗯解决了，是我自己理解错了。

[2019-03-28 01:52] OliverLPH commented on #1929
@tensor-tang 谢谢，👍

[2019-03-28 01:52] #1929 closed, assigned to nobody

[2019-03-28 02:24] YeLiuXiang commented on #1882
我出现这个问题是用原来的模型去预测新的数据集，导致报错。原因是模型用的是百度给的训练集和词典训练得到的，他的词典中不包括你的新训练集的词典，所以单纯再预测时使用新词典是无效的，必须重新用新词典和百度自带训练集进行模型训练，再用这个模型预测新数据集，这样才不会报错。

[2019-03-28 03:33] ccmeteorljh opened #1934 "DIN 模型问题汇总"
**1、数据处理部分**
+ convert_pd.py 脚本依赖pandas，部分用户没有安装会报错，请给出提示；
+  python2.7 下`remap_id.py` 脚本执行报错如下:
[code]
+ conver_pd 脚本在执行过程中，时间稍长，建议加入提示；
+ python2.7 下 `build_dataset.py` 同样存在 `from __future__ import print_function`的问题；

**2、数据处理部分**
+ 训练超出一定的epoch 后会出现过拟合，建议给出说明

[2019-03-28 05:52] ccmeteorljh opened #1935 "GNN 模型问题汇总"
1. 数据处理部分
- 执行` python preprocess.py` 问题：
[code]
2. 模型训练部分
- python3 下报错：
[code]
3. infer部分
- infer模型文件夹建议用try.. except包起来：
[code]

[2019-03-28 09:07] SunGaofeng commented on #1758
使用cudnn7时bn层moving mean和var计算不对，改成cudnn5时loss正常下降了

[2019-03-28 09:08] #1758 closed, assigned to SunGaofeng

[2019-03-28 11:15] Haijunlv opened #1936 "video NeXtVLAD training error"
video model NeXtVLAD training process get one errer. it happens when model validate after one epoch training.
I tried to use same train and valid data to debug whether data is broken or not. And found eror always happen at the first epoch validatation.
I have not modified any mian process code. Just try to train!
Hope someone can help me!

enviroment
    use official docker image: paddlepaddle/pad

[2019-03-28 12:55] ylxsyf opened #1937 "sequence_conv_pool卷积实现逻辑？"
如果我的特征是：
[a1,b1,c1,d1,e1]
[a2,b2,c2,d2,e2]
[a3,b3,c3,d3,e3]

1） 每一个单词映射成10维，如果我想用sequence_conv_pool进行卷积，那么我的win_size = len(a1,b1,...e1) = 5 * 10(embedding) = 50？？

2） sequence_conv_pool是 ID进行横向3* 3的卷积吗？（假设窗口为3）

[2019-03-28 13:42] guoshengCS commented on #1937
sequence_conv_pool可以按照一维卷积理解，embedding维度相当于二维卷积里输入的channel数目，`num_filters`是输出的channel的数目，`filter_size`是相当于是窗口大小不过是一维的，`filter_stride`是步长同样是一维的

[2019-03-29 03:24] #1834 closed, assigned to shippingwang

[2019-03-29 06:14] hutuxian commented on #1934
PR：https://github.com/PaddlePaddle/models/pull/1939

[2019-03-29 06:15] hutuxian commented on #1935
PR：https://github.com/PaddlePaddle/models/pull/1940

[2019-03-29 07:30] ccmeteorljh commented on #1934
该pr已修复

[2019-03-29 07:30] #1934 closed, assigned to hutuxian

[2019-03-29 07:31] ccmeteorljh commented on #1935
该pr已修复

[2019-03-29 07:31] #1935 closed, assigned to hutuxian

[2019-03-29 09:19] ylxsyf commented on #1937
所以sequence_conv_pool，如果我弄了一个3维度特征重复的序列作为输入：a1, b1, c1, a2, b2, c2, ...an, bn, cn，每一个单词a1, b1, c1 embedding是10维度，win_size应该就是3*10=30大小对吗？我想把 『a1, b1, c1』，『a2, b2, c2』能够复用同一个卷积模板

[2019-03-29 09:19] ylxsyf commented on #1937
所以sequence_conv_pool，如果我弄了一个3维度特征重复的序列作为输入：a1, b1, c1, a2, b2, c2, ...an, bn, cn，每一个单词a1, b1, c1 embedding是10维度，win_size应该就是3*10=30大小对吗？我想把 『a1, b1, c1』，『a2, b2, c2』能够复用同一个卷积模板

[2019-03-29 09:38] ccmeteorljh opened #1941 "word2vec 测试问题汇总"
**1. 数据预处理部分:**
- 路径部分请os.path.join(), 否则输出会多了 ‘/’
https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleRec/word2vec/preprocess.py#L110
https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleRec/word2vec/preprocess.py#L150

[code]
**2. 训练部分：**
- python3.5 下报错：
[code]
- 小数据训练报维度不匹配
[code]

- 给出要想复现论文结果的必备配置提示，embedding_size=300

3. infer 问题
- fluid.io.load_params代码建议用```try.. ex

[2019-03-30 01:49] qingqing01 commented on #1836
Fixed by https://github.com/PaddlePaddle/models/pull/1891

[2019-03-30 01:49] #1836 closed, assigned to nobody

[2019-03-30 01:50] qingqing01 commented on #1858
Fixed in https://github.com/PaddlePaddle/models/pull/1912

[2019-03-30 05:47] LeLiu commented on #1514
I met the same problem

[2019-03-30 10:07] chengduoZH commented on #1514
@LeLiu You can try the following solution:
- you should ensure that the GPU is not used by others and all the GPU memory are used by your program.
- you should decrease the batch size, and in extreme case, the batch size can be set to 1.
- you can try to set `FLAGS_fraction_of_gpu_memory_to_use =0.0`, in this condition, the program may be slower, because the program will call `cudaMalloc` and `cud

[2019-03-30 15:57] zhhsplendid commented on #1514
@LeLiu, another suggestion. Could you run “nvidia-smi” in your terminal to make sure the GPU device you are using has enough available space? That is, no other processes are using the GPU

[2019-03-31 16:23] LeLiu commented on #1514
@chengduoZH  @zhhsplendid
thank you very much for your reply.
as you suggestion, i set `FLAGS_fraction_of_gpu_memory_to_use` = 0.0 and `batch_size = 1`，but it still not work.
and the “nvidia-smi” shows that no processes were running on the GPU.
[code]

my code was working well on the CPUs but crashed while using the GPU。the following is the error log.
[code]

[2019-04-01 02:16] SunAhong1993 opened #1946 "使用rcnn代码测试图片会出现”Cannot malloc 382.813 MB GPU memory“"
使用训练后的faster rcnn模型对图像进行检测时，若图像的长边大于某个值时（1900左右）会出现以下问题，小于这个值则能正常对图像进行检测。同时，如果每次exe.run的时候如果feed多张图像，也会出现这样的问题。
已经使用了”export CUDA_VISIBLE_DEVICES=3“，但是报错仍未在“device: 0”。
[code]

[2019-04-01 02:19] #1858 closed, assigned to qingqing01, xuezhong

[2019-04-01 03:14] xiegegege commented on #1836
还是没法下载的样子～

[2019-04-01 03:28] qingqing01 commented on #1514
@LeLiu

- I clean some useless logs in your above comments.
- I set batch_size 4 based on ONE GPU, v100, 16G, there is no problem. And I do not set `FLAGS_fraction_of_gpu_memory_to_use` :

run commond:

[code]

dataset in `/home/users/data/WIDERFACE/`:

[code]

log:

[code]

And although I set `export FLAGS_fraction_of_gpu_memory_to_use=0`, there is no problem in my machine.

[2019-04-01 04:14] LeLiu commented on #1514
@qingqing01
thank you very much.

I didn't run the WIDERFACE face detection model. I ran a code written by myself and use private data, just met the same problem of this issue.  sorry I didn't make it clear.

With batch size 1,4,32,64,128,  it all failed. Could it be some issues of GPU/CUDA configuration(but other programs use CUDA worked well)?

[2019-04-01 04:32] qingqing01 commented on #1514
@LeLiu  Please note, the reader process use Python  multi-process, if failed once, you must kill all the processes.  You can try to run PyramidBox. Or if it's convenient, you can give me your code, I can try on my machine.

[2019-04-01 05:38] qingqing01 commented on #1836
@xiegegege 你指的是 Evaluation部分对模型的验证？metric leanring这个模型没有提供已经训练好的模型。

https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/metric_learning#evaluation

[2019-04-01 05:42] kebinC commented on #1836
@xiegegege  metric leanring 没有提供训练好的模型， 测试的话要根据前面训练好的模型来指定路径

[2019-04-01 07:26] cjt222 commented on #1946
貌似是显存不够。ps：你只要指定一个gpu，都是从0开始计算，和你指定几号gpu无关

[2019-04-01 08:25] qingqing01 commented on #1820
Fixed by https://github.com/PaddlePaddle/models/pull/1926

[2019-04-01 08:25] #1820 closed, assigned to nobody

[2019-04-01 08:32] qingqing01 commented on #1832
Fixed in https://github.com/PaddlePaddle/models/pull/1951 and  https://github.com/PaddlePaddle/models/pull/1926

[2019-04-01 09:08] dashulu opened #1952 "dc_gan模型训练出来之后，如何对比两个模型的效果？"
fluid/PaddleCV/gan/dc_gan模型训练后，得到一系列d-loss和dg-loss以及output目录生成一系列图片，如何对比两个gan模型的效果?

[2019-04-01 09:29] wanghaoshuang commented on #1952
[fluid/PaddleCV/gan](https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/gan)暂时没有提供评估模型效果的量化指标，目前只能通过观察查看模型效果。

[2019-04-01 10:42] dashulu commented on #1952
@wanghaoshuang 那cycle_gan中ReadME的图
![image](https://user-images.githubusercontent.com/4484303/55322055-c902f380-54ad-11e9-93d2-fef698af1fc0.png)， 能表示cycle_gan的效果吗？越低越好

[2019-04-01 11:24] qingqing01 commented on #1921
I found the error is caused by https://github.com/PaddlePaddle/Paddle/pull/16188

[2019-04-01 12:16] cjt222 opened #1955 "yolov3.py中的grscore和use_label_smooth在原函数中未定义，是否应该注释掉？"
￼
<img width="867" alt="image" src="https://user-images.githubusercontent.com/17508662/55326666-e1c5d600-54ba-11e9-89ae-967e2ad0d4bb.png">

￼
<img width="611" alt="image" src="https://user-images.githubusercontent.com/17508662/55326686-f013f200-54ba-11e9-937a-ff4c2ca4a91f.png">

￼

[2019-04-01 12:16] cjt222 opened #1956 "yolov"

[2019-04-01 12:17] cjt222 opened #1957 "yolov3中Reader.py中96行和123行中，python3已经遗弃了has_key，会造成python2和python3的不兼容"

[2019-04-01 12:20] cjt222 commented on #1957
<img width="783" alt="image" src="https://user-images.githubusercontent.com/17508662/55326901-73cdde80-54bb-11e9-95d0-cda580aa88b1.png">
<img width="1130" alt="image" src="https://user-images.githubusercontent.com/17508662/55326906-79c3bf80-54bb-11e9-8c3f-9408344cb290.png">
是否应该改成下列这种形式来兼容python2和python3？
<img width="656" alt="image" src="https://user-
images.githubusercontent.com/17508662/5532696

[2019-04-01 12:23] #1956 closed, assigned to nobody

[2019-04-01 12:35] cjt222 opened #1958 "yolov3加载darknet53去从头训练时，默认学习率0.001会出现NAN，把初始学习率调为0.0001后很难收敛。"
yolov3加载darknet53去从头训练时，默认学习率0.001会出现NAN，把初始学习率调为0.0001后很难收敛，这是什么原因呢？

[2019-04-01 12:38] cjt222 opened #1959 "ssd算法中的infer.py中的类别数应为81类，而不是91类"
<img width="567" alt="image" src="https://user-images.githubusercontent.com/17508662/55328010-fd7eab80-54bd-11e9-9546-bd7050012a08.png">
ssd算法中的infer.py中的类别数应为81类，而不是91类

[2019-04-02 03:32] cjt222 opened #1961 "deeplabv3+的train.py中，下面的变量卖弄未定义"
当把命令行中的parallel改为False后，会直接跑单进程，下面的main变量会显示无定义变量，查看了下，之前确实没有定义过这个变量。
![image](https://user-images.githubusercontent.com/17508662/55374443-06fa2900-553b-11e9-8487-a180eedfbb27.png)

[2019-04-02 05:52] #1043 closed, assigned to ktlichkid

[2019-04-02 05:53] ktlichkid commented on #1043
The issue seems to be resolved. If there still exists any problem, please fill free to reopen it.

[2019-04-02 06:45] qianledan opened #1962 "官网图像分类VGG16例子训练碰到问题"
python train.py \
        --model=VGG16 \
        --batch_size=64 \
        --total_images=50000 \
        --class_dim=10 \
        --image_shape=3,32,32 \
        --model_save_dir=output/ \
        --with_mem_opt=True \
        --lr_strategy=other \
        --lr=0.001 \
        --num_epochs=120 \
        --l2_decay=1.2e-4 \
        --model_category=models_name \

官网中跑ImagNet数据集，我修改为Cifar10数据集跑VGG

[2019-04-02 06:50] qianledan opened #1963 "可否基于树莓派实现paddlepaddle？"
请问可否实现基于树莓派的paddlepaddle程序？如果可以，可否提供案例？

[2019-04-02 06:51] JiaXiao243 opened #1964 "metric learning易用性汇总"
1.句子不通顺
![image](https://user-images.githubusercontent.com/37854899/55381215-1edea680-5555-11e9-8925-175e22b5ecc2.png)
2.安装文档链接出错
![image](https://user-images.githubusercontent.com/37854899/55381234-2f8f1c80-5555-11e9-8e2f-ffc874603b0c.png)
![image](https://user-images.githubusercontent.com/37854899/55381237-328a0d00-5555-11e9-9b0a-14395792da03.png)
3. 建议对infer.py输出的log进行优化，不简洁，表述不清；

![image](htt

[2019-04-02 07:19] LeLiu commented on #1514
thank you again.

I think I've sloved this problem. I read the log carefully and found that a lot of memory was being used(more than 10GB). After simplifying the network and using a smaller batch size (8), the error disappeared.

[code]
But I'm still not sure if I have the same problem with @abcdvzz , because I do not understand the log very well.

[2019-04-02 07:27] xiegegege commented on #1832
还有第二条也改下吧～

[2019-04-02 07:54] qingqing01 commented on #1921
This error is caused by https://github.com/PaddlePaddle/Paddle/pull/16303

[2019-04-02 11:20] heavengate commented on #1955
yolov3模型须使用Paddle1.4版本，这两个参数是Paddle1.4版本中的新增参数，如果你使用的是Paddle1.3版本的话注释掉这两个参数也可以运行，Paddle1.4版本预计4月中就release了

[2019-04-02 11:21] heavengate commented on #1957
非常感谢你的建议，我修复一下~

[2019-04-02 11:22] heavengate commented on #1958
默认学习率0.001对应的batch_size是64，模型所有的精度复现结果也是基于batch size=64的，若你使用小于64的batch size，请相应减小学习率，否则会出nan

[2019-04-02 11:24] heavengate commented on #1958
另YOLOv3收敛速度本身就比较慢，要训练280epoch/50w iter, 我们没有尝试过batch size不取64的情况，你可以根据需求进行调整

[2019-04-02 11:27] gongweibao commented on #1963
现在好像还没有。

[2019-04-02 11:31] qingqing01 commented on #1959
@cjt222 Please see https://github.com/PaddlePaddle/models/issues/1077 . We used 91 in SSD.

[2019-04-02 11:36] cjt222 commented on #1958
![image](https://user-images.githubusercontent.com/17508662/55399660-4c8c1580-557e-11e9-8f86-d3b661ef7780.png)
这上面的默认参数不是您训练时的参数吗？貌似和您的描述不一样。那其他参数是复现效果的参数吗？能否把参数全部改成复现效果的参数？然后batch size为64的时候，单卡显存会爆掉吧，是采用的多卡吗？

[2019-04-02 11:39] heavengate commented on #1958
默认参数是复现的时候使用的参数，默认参数里的batch_size=8是指单卡上batch_size=8，复现使用Tesla P40 8卡复现的，总batch_size等参数和作者darknet是对齐的

[2019-04-02 11:41] jerrywgz commented on #1946
是显存不够导致的，可是试下修改FLAGS_fraction_of_gpu_memory_to_use这个环境变量

[2019-04-02 11:53] qingqing01 commented on #1961
@cjt222 Thanks very much. Fixed by https://github.com/PaddlePaddle/models/pull/1966

[2019-04-02 12:01] #1958 closed, assigned to wanghaoshuang, heavengate

[2019-04-02 12:08] #1961 closed, assigned to qingqing01

[2019-04-02 12:40] SunAhong1993 commented on #1946
但是在训练时batch size设为2也会出现这样的问题

[2019-04-02 12:56] shippingwang commented on #1962
@qianledan  具体代码 和 val的结果麻烦给一下

[2019-04-02 13:05] jerrywgz commented on #1946
batch size为2同样会增大显存消耗发自我的华为手机-------- 原始邮件 --------主题：Re: [PaddlePaddle/models] 使用rcnn代码测试图片会出现”Cannot malloc 382.813 MB GPU memory“ (#1946)发件人：SunAhong1993 收件人：PaddlePaddle/models 抄送：jerrywgz ,Assign

修改FLAGS_fraction_of_gpu_memory_to_use这个环境变量

但是在训练时batch size设为2也会出现这样的问题

—You are receiving this because you were assigned.Reply to this email directly, view it on GitHub, or mute the thread.

[2019-04-03 03:16] #1955 closed, assigned to heavengate

[2019-04-03 03:35] #1832 closed, assigned to nobody

[2019-04-03 06:13] frankwhzhang commented on #1941
已经修复

[2019-04-03 06:13] #1941 closed, assigned to frankwhzhang

[2019-04-03 08:09] #1921 closed, assigned to nobody

[2019-04-03 08:24] ccmeteorljh commented on #1941
已修改

[2019-04-03 09:27] JiaXiao243 opened #1975 "图像分类在ILSVRC2012数据集缺少train_list.txt的情况下运行，程序占用显存，无法正常退出"
环境：centos环境下，develop分支编译的paddle；
预置条件：官方ILSVRC2012数据集删去train_list.txt；
运行指令 python train.py --model=SE_ResNeXt50_32x4d --num_epochs=10
预期结果：log中显示报错信息，程序正常退出；
实际结果：log中显示报错信息，程序没有退出，占用显存，GPU利用率为0；
log信息如下：
![image](https://user-images.githubusercontent.com/37854899/55468230-853af600-5635-11e9-934e-3bcbd22b9327.png)
训练使用P40,4卡跑的训练，占用GPU 0，1，2，3
![image](https://user-images.githubusercontent.com/378

[2019-04-03 10:54] gongweibao commented on #1963
http://paddlepaddle.org/documentation/docs/zh/1.3/advanced_usage/deploy/mobile/mobile_readme.html

[2019-04-03 13:23] #1959 closed, assigned to wanghaoshuang

[2019-04-04 00:28] qianledan commented on #1963
多谢

[2019-04-04 00:30] qianledan commented on #1962
我没有val，只跑train。代码基本都没有修改。只修改了一个地方：数据来源代码
 train_reader = paddle.batch(
            paddle.dataset.cifar.train10(), batch_size=train_batch_size, drop_last=True)
 test_reader = paddle.batch(paddle.dataset.cifar.test10(), batch_size=test_batch_size)

[2019-04-04 02:26] #1957 closed, assigned to heavengate

[2019-04-04 06:00] shippingwang commented on #1975
kill -9 PID退出程序，现在的状况就是这样的，非正常退出需要杀进程

[2019-04-04 06:03] shippingwang commented on #1962
你没做预处理，在reader里面过一遍试一下

[2019-04-04 06:23] JiaXiao243 commented on #1975
嗯呢~ 只是觉得使用起来不太方便~ 可以考虑一下优化~

[2019-04-04 09:12] zhengya01 opened #1986 "PaddleRec/gnn模型cpu训练出错"
python 2.7
cuda 9.0 cudnn7.0

python -u train.py --use_cuda 0 --epoch_num 1

paddle fluid1.2报错

2019-04-04 17:10:35,841 - INFO - load data complete
2019-04-04 17:10:37,749 - INFO - begin train
Traceback (most recent call last):
  File "train.py", line 131, in <module>
    train()
  File "train.py", line 113, in train
    fetch_list=[loss.name, acc.name])
  File "/home/paddle/anaconda2/lib/python2.

[2019-04-04 10:19] hutuxian commented on #1986
https://github.com/PaddlePaddle/models/pull/1988

[2019-04-04 10:19] #1986 closed, assigned to nobody

[2019-04-04 11:06] shippingwang commented on #1866
最新版本未复现，注意pilllow版本 install pillow==4.0.0

[2019-04-04 12:01] xiegegege opened #1992 "图像分类报错"
1.训练时
<img width="785" alt="94bd932cd5ab389f472129e083de5e1c" src="https://user-images.githubusercontent.com/46314656/55553960-33b56880-5714-11e9-83b2-9d3a592125cf.png">
2.评估和预测时，在python3下报错
<img width="898" alt="2dd3c9f40a6658fba9341901fba256ce" src="https://user-images.githubusercontent.com/46314656/55554055-6bbcab80-5714-11e9-833f-3d15e2e427c0.png">

[2019-04-05 02:55] zhengya01 opened #1994 "machine_reading_comprehension 训练报错"
sh run.sh --train

2019-04-05 10:49:46,316 - brc - INFO - Running with args : Namespace(batch_size=32, dev_interval=-1, devset=['data/demo/devset/search.dev.json'], doc_num=5, drop_rate=0.0, embed_size=300, enable_ce=False, evaluate=False, hidden_size=150, learning_rate=0.001, load_dir='', log_interval=50, log_path=None, max_a_len=200, max_p_len=500, max_p_num=5, max_q_len=60, optim='adam', para_p

[2019-04-05 07:27] yxchng opened #1997 "When will PyramidBox++ be released?"
https://arxiv.org/pdf/1904.00386.pdf

[2019-04-06 07:46] xuzhm opened #2000 "SSD_loss 训练公开数据集在几个 epoch 后 loss 突然变 nan"
![image](https://user-images.githubusercontent.com/6814767/55666420-629d1d00-5881-11e9-9193-6063421a36dc.png)
使用 object_detection  中的SSD 训练 deepfashion 数据集时，在经过几个 epoch 后会随机出现 loss nan 如图，（多次调整learning_rate, batch_size都会随机出现nan ），数据跑过一轮，应该不是数据标注问题， 猜测可能是 ssd_loss 中数值边界处理的问题
![image](https://user-images.githubusercontent.com/6814767/55666473-01c21480-5882-11e9-805f-608ff5672a3b.png)

[2019-04-08 02:56] Yancey0623 commented on #1992
Thx, will fix FastImagnet later in py3 later.

[2019-04-08 03:22] NHZlX opened #2002 "Avoid non-4-dimensional design in classification model"
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/models/shufflenet_v2.py#L120

Five-dimensional tensor has emerged, which is very unfriendly to the design of inference subgraph.

Suggest:
[code]

[2019-04-08 03:59] irukawang opened #2004 "测试集精度太低"
1、样本格式: 不定长输入（某用户搜过的词）
类似：[1, 3, 4, 5 ....] [label]
           [1, 2,  3, .....] [label] 这个样子
2、处理方法：
利用LodTensor表征上述不定长输入（取对应位置的embedding池化（sum））转化成成定长输入
3、paddle版本：
1.3
4、网络格式：
与deepctr中一致，三层全链接层
5、问题：
训练集精度稳定上升。测试精度一直（注意：是一直，测试精度没有下降的过程，貌似和过拟合不太想）不高。

[code]

[2019-04-08 04:37] qingqing01 commented on #2002
@shippingwang why not use the channel_shuffle_op ?

[2019-04-08 04:40] qingqing01 commented on #1964
Fixed by https://github.com/PaddlePaddle/models/pull/1990

[2019-04-08 04:40] #1964 closed, assigned to shanyi15

[2019-04-08 05:22] #1877 closed, assigned to nobody

[2019-04-08 05:24] xiegegege opened #2006 "human_pose_estimation问题汇总"
1.在python3下报错：
<img width="896" alt="74c44dd6829460d07833919cd7d5c155" src="https://user-images.githubusercontent.com/46314656/55696298-efb1b480-59ee-11e9-80d7-04d35cc816e7.png">
2.训练时log的显示有延时，建议添加sys.stdout.flush()在print后
3.test时在开始的地方卡住不动，没有报错，保持下图gpu使用率为0%的状态：
<img width="867" alt="6cbcba3855bb2dffb2a1fa2614e0407e" src="https://user-images.githubusercontent.com/46314656/55699293-c009a900-59fc-

[2019-04-08 05:40] #1992 closed, assigned to Yancey0623, shippingwang

[2019-04-08 06:28] xiegegege opened #2008 "视频模型评估预测问题"
1.stnet,tsn 运行test.py时会报显存不足，建议调低configs文件中TEST默认batch_size大小
2.视频模型库中好几个模型readme infer.py中示例命令行的模型名都是小写，运行后会报错：
<img width="749" alt="64f7f729746da3ad61898579d45f308a" src="https://user-images.githubusercontent.com/46314656/55702810-54c6d380-5a0a-11e9-9a25-e663c5649b7c.png">

[2019-04-08 06:32] qingqing01 commented on #2000
@xuzhm 请问您加载预训练模型了吗？起始的learning rate多大？

[2019-04-08 06:44] shippingwang commented on #1919
In our googlenet implementation, we don't apply relu activation in some layers.

[2019-04-08 07:29] wanghaoshuang opened #2012 "[PaddleSlim测试] distillation name conflicts error."
### 蒸馏任务执行失败

#### 对应提测报告章节：3.2节

#### 问题描述：
执行任务后报错，提示batch norm layer的input channel和Scale的shape不一致。

#### 原因：
1. MobileNetV1和ResNet50第一个卷积层的weight名称都被强制指定为了`conv1_weights`,导致命名冲突。
2. paddle/models/PaddleSlim/run.sh中下载的预训练模型，MobileNetV1和ResNet50的FC layer的parameter的名称都为fc_0.w_0和fc_0.b_0, 导致命名冲突。

#### 解决办法：
1. 修改PaddlePaddle/models/PaddleSlim/model/resnet.py, 将ResNet第一层conv层的名称修改为‘res_conv1’
2. 修改

[2019-04-08 10:06] xuzhm commented on #2000
@qingqing01  加载了预训练模型， learning rate  从 1e-04，  1e-05， 1e-06， 1e-07  都会出现 nan

[2019-04-08 10:20] #2008 closed, assigned to nobody

[2019-04-08 12:31] #2012 closed, assigned to nobody

[2019-04-09 07:14] SunGaofeng commented on #1899
已全部改为下划线

[2019-04-09 08:14] kolinwei opened #2017 "machine_reading_comprehension训练种的Evaluating报错"
[05:16:04]W:	 [Step 3/3] 2019-04-09 05:16:04,003-INFO: epoch: 1, epoch_time_cost: 176.34
[05:16:04]W:	 [Step 3/3] 2019-04-09 05:16:04,004 - brc - INFO - Evaluating the model after epoch 1
[05:16:04]W:	 [Step 3/3] 2019-04-09 05:16:04,004-INFO: Evaluating the model after epoch 1
[05:16:04]W:	 [Step 3/3] ParallelExecutor is deprecated. Please use CompiledProgram and Executor. CompiledProgram is a cen

[2019-04-09 08:15] kolinwei commented on #2017
.run_ce.sh

[2019-04-09 13:34] xiegegege commented on #2006
6.建议val示例命令行加上data_root参数，默认是coco数据集的
另外，test时卡住的问题在paddle develop分支发现的，在paddle1.3版本运行正常

[2019-04-10 02:53] xiegegege opened #2018 "face_detection训练报错"
在1.4分支上训练报错，应该是最新框架合入导致的，报错如下：
Traceback (most recent call last):
  File "train.py", line 271, in <module>
    train(args, config, train_parameters, train_file_list)
  File "train.py", line 200, in train
    [v.name for v in fetches])
  File "/opt/_internal/cpython-3.6.0/lib/python3.6/site-packages/paddle/fluid/parallel_executor.py", line 205, in run
    return_numpy=return_numpy)
  File "/opt/_in

[2019-04-10 06:24] #2018 closed, assigned to nobody

[2019-04-10 07:21] Genie-Liu opened #2020 "transformer: 'utf-8' codec can't decode byte 0xed"
I down the preprocessed data WMT16_EN_DE from https://transformer-res.bj.bcebos.com/wmt16_ende_data_bpe_clean.tar.gz.

When I run infer.py, A UnicodeDecodeError come out:

Traceback (most recent call last):
  File "infer.py", line 323, in <module>
    args = parse_args()
  File "infer.py", line 81, in parse_args
    src_dict = reader.DataReader.load_dict(args.src_vocab_fpath)
  File "/Users/xxx/Do

[2019-04-10 07:23] Genie-Liu commented on #2020
--src_vocab_fpath data/wmt16_ende_data_bpe_clean/vocab_all.bpe.32000

[2019-04-10 07:45] qingqing01 commented on #2006
Fixed by https://github.com/PaddlePaddle/models/pull/2019

[2019-04-10 09:44] wanghaoshuang opened #2022 "量化训练模型删除指定op转换功能"
[code]

[2019-04-11 04:00] wanghaoshuang commented on #2022
需要将：
[code]
放在
[code]
之后。

因为step4 load的是freeze之后的model，所以要在freeze pass之后load进来

[2019-04-11 11:44] Shajiu commented on #2020
你在底下先把这个文本转化为utf-8格式就可以了

[2019-04-12 02:26] liyutg opened #2033 "PaddleCV/image_classification 训练时报错（CPU没问题GPU出错）"
paddle 版本 1.3.2
GPU 型号
 GeForce GTX 1080  8119MiB
Tesla K40m 11441MiB
Please NOTE: device: 1, CUDA Capability: 35, Driver API Version: 10.1, Runtime API Version: 9.0
device: 1, cuDNN Version: 7.0.

项目配置信息
-------------  Configuration Arguments -------------
               batch_size : 256
               checkpoint : None
                class_dim : 61
                 data_dir : ./data/ILSVRC2012

[2019-04-12 03:01] xiegegege opened #2034 "bert squad任务运行错误"
在运行结束保存模型时有个报错
Traceback (most recent call last):
  File "run_squad.py", line 427, in <module>
    train(args)
  File "run_squad.py", line 422, in train
    ], processor)
  File "run_squad.py", line 208, in predict
    args.null_score_diff_threshold, args.verbose)
  File "/ssd1/xiege/LARK_4.10/LARK/BERT/reader/squad.py", line 614, in write_predictions
    result = unique_id_to_result[feature.uniqu

[2019-04-12 06:10] #2033 closed, assigned to nobody

[2019-04-12 06:12] liyutg commented on #2033
设置
use_ngraph = True
就好啦

[2019-04-12 06:13] liyutg commented on #2033
use_ngraph = os.getenv('FLAGS_use_ngraph')
那么问题来了，为什么要这么做呢？

[2019-04-12 06:22] #2006 closed, assigned to nobody

[2019-04-12 06:24] tensor-tang commented on #2033
use_graph是为纯CPU训练准备的。
https://github.com/PaddlePaddle/models/blob/3da08c99bdd1e60435251d7ffe6ba93ddcb3f01d/PaddleCV/image_classification/run.sh#L235-L253

[2019-04-12 06:28] luotao1 commented on #2033
@tensor-tang @baojun-nervana 能否注释里解释一下这个变量呢？

[2019-04-12 06:30] xiegegege opened #2040 "human_pose_estimation 评估问题"
1. human_pose_estimation在paddle1.4分支下运行val和test时会报如下的错误：
Traceback (most recent call last):
  File "val.py", line 233, in <module>
    valid(args)
  File "val.py", line 127, in valid
    loss_name=loss.name)
  File "/opt/_internal/cpython-3.6.0/lib/python3.6/site-packages/paddle/fluid/parallel_executor.py", line 134, in __init__
    self._compiled_program._compile(place=self._place, scope=self._sc

[2019-04-12 06:45] zeyu-liu commented on #2040
这个是因为你设置了cpu core有26个，但是最后一个batch的size只有14；目前只支持batch size大于等于core num的情况。建议batch size设置为core num的整数倍，同时保证total images也是core num的整数倍，或者不满足情况时丢掉最后一个batch的数据。

Traceback (most recent call last):
File "val.py", line 233, in
valid(args)
File "val.py", line 160, in valid
feed=feeder.feed(data))
File "/opt/internal/cpython-3.6.0/lib/python3.6/site-packages/paddle/fluid/parallel_executor.py", line 278, i

[2019-04-12 07:20] shippingwang commented on #1962
feel free to reopen this issue if still have problems.

[2019-04-12 07:20] #1962 closed, assigned to shippingwang

[2019-04-12 07:20] shippingwang commented on #1975
Feel free to reopen this issue if still have problems.

[2019-04-12 07:20] #1975 closed, assigned to nobody

[2019-04-12 07:21] shippingwang commented on #1506
already released in version 1.4,
feel free to reopen this issue if still have suggestions.

[2019-04-12 07:21] #1506 closed, assigned to shippingwang

[2019-04-12 07:22] shippingwang commented on #1584
Feel free to reopen this issue if still have problems.

[2019-04-12 07:22] #1584 closed, assigned to shippingwang

[2019-04-12 07:23] shippingwang commented on #1849
already done by #1880

[2019-04-12 07:23] #1849 closed, assigned to shippingwang

[2019-04-12 07:23] shippingwang commented on #1866
Feel free to reopen this issue if still have problems.

[2019-04-12 07:23] #1866 closed, assigned to shippingwang

[2019-04-12 07:25] shippingwang commented on #1919
Feel free to reopen this issue if still have problems.

[2019-04-12 07:25] #1919 closed, assigned to shippingwang

[2019-04-12 07:41] Genie-Liu commented on #2020
vi能够直接打开，编码也是utf-8. 但是跑程序的时候就报错了。

[2019-04-12 07:59] JiaXiao243 opened #2041 "yolov3易用性问题"
1. 安装文档链接不存在
![image](https://user-images.githubusercontent.com/37854899/56020887-c7052400-5d3a-11e9-9dc1-cefe9e4da309.png)
![image](https://user-images.githubusercontent.com/37854899/56020897-cb314180-5d3a-11e9-9c7a-fa14a37fa5b1.png)

2. 文档中午附录相关内容，删去附录字样
![image](https://user-images.githubusercontent.com/37854899/56020945-e3a15c00-5d3a-11e9-9fe5-90fb827e3107.png)
3. 安装cocoapi部分，放在模型训练部分前，与实际使用模型

[2019-04-12 08:00] tensor-tang commented on #2033
这个变量其实在https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/README_ngraph.md#2-set-env-exports-for-ngraph-and-omp 算是有解释吧

[2019-04-12 08:07] JiaXiao243 commented on #2041
PS:对应英文文档也有该问题，请一并修改。

[2019-04-12 08:43] luotao1 commented on #2033
代码里有注释的话更好，因为不会再去看另一份文档。

[2019-04-12 08:59] #2040 closed, assigned to nobody

[2019-04-12 11:34] liyutg commented on #2033
@tensor-tang @luotao1 谢谢

[2019-04-12 11:55] qingqing01 commented on #2000
@xuzhm 之前Hi上已沟通，请问现在怎么样了？

[2019-04-13 10:23] liyutg opened #2046 "从AlexNet模型（正常跑通） 切换到ResNet50 模型时报错"
**因为使用了自定义数据集，所以修改了读取数据的代码**
### 系统信息
paddle 版本 1.3.2
GPU 型号
Tesla K40m 11441MiB
Please NOTE: device: 1, CUDA Capability: 35, Driver API Version: 10.1, Runtime API Version: 9.0
device: 0, cuDNN Version: 7.0.

### 项目配置信息
[code]
### 报错信息
W0413 13:19:44.940369 13978 device_context.cc:263] Please NOTE: device: 0, CUDA Capability: 35, Driver API Version: 10.1, Runtime API Version: 9.0
W0413 13:19:44.94

[2019-04-13 15:36] liyutg commented on #2046
## FLAGS_fraction_of_gpu_memory_to_use
### 改成 0.2之后
[code]
### 改成 0.99后
[code]

### 改成0之后
[code]

[2019-04-14 05:16] liyutg commented on #2046
调小了batch_size 为32 可以运行
但是不知道内存怎么计算出来的

[2019-04-14 05:16] #2046 closed, assigned to nobody

[2019-04-14 14:08] xinnian88 opened #2047 "PaddleRL 运行不起来"
https://github.com/PaddlePaddle/models/tree/develop/PaddleRL/DeepQNetwork

DeepQNetwork 跑不起来，感觉好像数据不太对。

[2019-04-15 01:30] qianledan opened #2050 "单精度训练，梯度下降计算时是否一定要转回双精度？？"
官网例子中有一段代码：模型输入是fp16单精度的话，optimizer在反向梯度计算一定要转回fp32吗？
![QQ图片20190415092900](https://user-images.githubusercontent.com/45925696/56102645-ed0c0d80-5f60-11e9-85eb-e1903fed74bc.png)

[2019-04-15 04:40] JiabinYang commented on #2047
请问您是使用哪一个指令运行的呢

[2019-04-15 06:33] xiegegege commented on #1853
在paddle 1.4分支下面最新报错：
Traceback (most recent call last):
  File "infer.py", line 137, in <module>
    infer()
  File "infer.py", line 113, in infer
    return_numpy=False)
  File "/opt/_internal/cpython-3.6.0/lib/python3.6/site-packages/paddle/fluid/executor.py", line 534, in run
    use_program_cache=use_program_cache)
  File "/opt/_internal/cpython-3.6.0/lib/python3.6/site-packages/paddle/fluid/e

[2019-04-15 08:47] TomorrowIsAnOtherDay commented on #2047
我们这边定位下问题先：）
另外强化学习这块的模型后续可以参考下官方的RL框架，我们目前主要的工作也在维护这个：
https://github.com/PaddlePaddle/PARL

[2019-04-15 08:50] heavengate commented on #2041
安装文档问题为yolov3依赖于1.4版本新增op，故提供的是1.4版本的安装文档，待1.4版本发布后该链接即有效了，其余通过 #2048 修复

[2019-04-15 08:50] #2041 closed, assigned to heavengate

[2019-04-15 08:57] cjt222 opened #2052 "请问下，yolov3里的预训练模型darknet53里最后分类层的255这个参数不匹配？"
尝试用yolov3训练voc的20类，但是数据做好之后是报参数不匹配。我已经修改成75（3x（20+5）），还要求我是255，但是我不用预训练模型就可以训练
<img width="878" alt="image" src="https://user-images.githubusercontent.com/17508662/56119731-48f58700-5f9f-11e9-8832-0a4cf2811a36.png">
<img width="1360" alt="image" src="https://user-images.githubusercontent.com/17508662/56119769-5dd21a80-5f9f-11e9-9b3d-1fd77a44a3b7.png">

[2019-04-15 10:07] heavengate commented on #2052
该问题已修复，请pull最新的develop或者release/1.4的代码

[2019-04-15 10:59] #1851 closed, assigned to nobody

[2019-04-15 10:59] #1846 closed, assigned to nobody

[2019-04-15 11:12] xinnian88 commented on #2047
python train.py --rom ./rom_files/pong.bin --use_cuda
使用的这个

[2019-04-15 11:20] cjt222 commented on #2052
请问darknet53预训练模型是怎么训练的，在把类别改完20类之后，加载darknet53之后shape还是不匹配。
![image](https://user-images.githubusercontent.com/17508662/56128882-73e9d600-5fb3-11e9-800b-c3a5d6025531.png)

[2019-04-15 11:24] heavengate commented on #2052
python train.py --class_num=20 训练的时候指定一下class_num，默认是coco的80

[2019-04-15 11:33] TomorrowIsAnOtherDay commented on #2047
@zenghsh3已经发起PR fix这个问题，感谢指出。

[2019-04-15 11:36] #2017 closed, assigned to nobody

[2019-04-15 11:37] #2047 closed, assigned to JiabinYang

[2019-04-15 11:38] cjt222 commented on #2052
我已经进去改了默认参数了，改成20，没有作用

[2019-04-15 11:49] xiegegege opened #2056 "video non_local模型易用性问题"
环境：paddle develop分支
non_local模型在某些epoch的训练结束后test之前会有报错，暂时没发现影响训练，但是影响体验
*** Aborted at 1555279287 (unix time) try "date -d @1555279287" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGTERM (@0xca84) received by PID 105196 (TID 0x7f1e86ad8700) from PID 51844; stack trace: ***
    @     0x7f20bf6c57e0 (unknown)
    @     0x7f20bf6c3a00 sem_wait
    @     0x7f20bfa1e5c8 PyThr

[2019-04-15 12:55] heavengate commented on #2052
确认了之前云端存储的darknet53权重有些问题，已修复，重新download预训练权重即可

[2019-04-15 13:01] xiegegege commented on #1846
1.attention模型eval报错：
<img width="835" alt="b9efa348f566a44a527fa99d7b50d100" src="https://user-images.githubusercontent.com/46314656/56134632-9551be80-5fc1-11e9-9fe0-1cbb65cf7cc7.png">
2.attention模型infer报错：
Traceback (most recent call last):
  File "infer.py", line 153, in <module>
    main()
  File "infer.py", line 149, in main
    inference(args)
  File "infer.py", line 81, in inference
    feed

[2019-04-15 13:12] cjt222 commented on #2052
已ok，多谢

[2019-04-15 13:14] #2052 closed, assigned to heavengate

[2019-04-16 04:18] kuke commented on #2034
Fixed by https://github.com/PaddlePaddle/LARK/pull/98

[2019-04-16 04:41] #2034 closed, assigned to nobody

[2019-04-16 11:10] ccmeteorljh opened #2064 "bert 训练下 validation出现loss为inf的情况"
paddle version：1.4
开启fp16，loss_scaling=8的时候不收敛
**训练参数：**
[code]
**训练结果：**
[code]
**开启fp16，scale_loss=32 和128的时候，出现validation的loss的inf的情况；**
[code]

[2019-04-16 11:10] ccmeteorljh opened #2065 "bert 训练validation 出现loss为inf的情况"
paddle version：1.4
开启fp16，loss_scaling=8的时候不收敛
**训练参数：**
[code]
**训练结果：**
[code]
**开启fp16，scale_loss=32 和128的时候，出现validation的loss的inf的情况；**
[code]

[2019-04-16 11:13] #2065 closed, assigned to nobody

[2019-04-16 11:14] ccmeteorljh commented on #2065
重复提交了

[2019-04-17 01:32] qianledan opened #2071 "fast_imagenet程序出错有BUG"
fast_imagenet程序训练无法正常进行，问题应该出在红框的不能同时，不然就出错：Segmentation fault (core dumped)，请官方检测一下，将bug修复。
![QQ图片20190417180647](https://user-images.githubusercontent.com/45925696/56280720-5fd1e000-613d-11e9-8375-03014ca86ccc.png)

[2019-04-17 01:33] qianledan commented on #2071
一直停滞在这个界面不动

[2019-04-17 03:05] qianledan commented on #2071
不用回复了，服务器重启问题解决了。

[2019-04-17 05:18] #1857 closed, assigned to xuezhong

[2019-04-17 06:59] JiaXiao243 opened #2075 "yolov3 eval python3不兼容"
在单卡对yolov3的训练模型进行评估，
python eval.py --batch_size=1 --weight=./output/model_iter499999
报错信息如下：
![image](https://user-images.githubusercontent.com/37854899/56267401-4f137100-6121-11e9-9281-2269821ffa95.png)

[2019-04-17 07:07] JiaXiao243 opened #2076 "yolov3 训练速度不稳定"
yolov3模型的训练某些Snapshot偶尔会出现训练速度不稳定的问题
![image](https://user-images.githubusercontent.com/37854899/56267803-7454af00-6122-11e9-8199-b206df8eb29d.png)
![image](https://user-images.githubusercontent.com/37854899/56267813-7ae32680-6122-11e9-94f0-34d112e8a37c.png)

[2019-04-17 07:49] xiegegege opened #2077 "word2vec易用性问题"
1.preprocess.py第104行dict_path需要改成args.dict_path，不然会报错参数未定义
2.下载命令里建议加上mkdir data，否则执行后text文件位置不对
<img width="648" alt="02f60e9f4f809a19b51a31ce0fbb686c" src="https://user-images.githubusercontent.com/46314656/56269225-d4008980-6125-11e9-859c-16b0f29f3586.png">
3. 命令行中参数后带的/与代码中文件路径里的'/'重了，建议去掉一个，#1941 第一点有指出
4.建议指出在哪个文件下执行测试数据集下载命令
5.建议在预测命令中加上--last index

[2019-04-17 08:29] heavengate commented on #2076
之前使用PaddleCloud和开发机使用paddlepaddle/paddle:latest-dev镜像未发现这个问题，目前使用PaddleCloud和开发机使用latest-dev和paddle_manylinux_devel:cuda8.0_cudnn7尝试复现这个问题

[2019-04-17 08:30] #2075 closed, assigned to heavengate

[2019-04-17 08:47] frankwhzhang commented on #2077
已修复 https://github.com/PaddlePaddle/models/pull/2079

[2019-04-17 08:47] #2077 closed, assigned to nobody

[2019-04-17 09:13] zhkfu opened #2082 "用图像分类的的例子infer 程序报错"
系统centos cuda9  加载MobileNetV2做测试，程序执行到exe.run(program.desc, scope, 0, True, True, fetch_var_name)报错：paddle.fluid.core.EnforceNotMet: Invoke operator fill_constant error.

[2019-04-17 09:37] shippingwang commented on #2082
您是怎么跑的infer呢？
1. 首先下载/训练得到mobilenetv2 的预训练模型
2. 更新paddle到最新版本
3. 执行infer.py 如下：
![image](https://user-images.githubusercontent.com/13645332/56277535-1b434600-6137-11e9-9b94-c590aec6fa46.png)
* 我这里是shufflenetv2
4. 运行结果如下：
![image](https://user-images.githubusercontent.com/13645332/56277644-52195c00-6137-11e9-9101-3be25e25b091.png)
未能复现您的报错

[2019-04-17 10:07] qianledan commented on #2071
红框的不能同时，不然就出错：Segmentation fault (core dumped)
![QQ图片20190417180647](https://user-images.githubusercontent.com/45925696/56279932-ad4d4d80-613b-11e9-89bd-bd15dd9b6755.png)

[2019-04-17 10:13] qianledan commented on #2071
![Uploading QQ图片20190417180647.png…]()

[2019-04-17 12:09] #2082 closed, assigned to shippingwang

[2019-04-18 01:31] kolinwei opened #2085 "rcnn 训练时偶现loss为nan的情况"
'loss_rpn_cls': 0.177, time: 0.423"]
[14:30:06] :	 [Step 3/3] ["2019-04-17 14:29:33.344396, iter: 31, lr: 0.00375, 'loss_bbox': 0.096, 'loss': 1.305, 'loss_rpn_bbox': 0.2, 'loss_cls': 0.545, 'loss_rpn_cls': 0.199, time: 0.376"]
[14:30:06] :	 [Step 3/3] ["2019-04-17 14:29:33.612872, iter: 32, lr: 0.00376, 'loss_bbox': 0.096, 'loss': 1.576, 'loss_rpn_bbox': 0.226, 'loss_cls': 0.569, 'loss_rpn_cls':

[2019-04-18 01:32] kolinwei commented on #2085
.run_ce.sh可以偶尔复现，

[2019-04-18 03:26] Yancey0623 commented on #2071
看起来是 torch 和 visualdl 同时引用引起的问题，后续会考虑去掉torchvision的依赖，现在的方法可以将日志输出到一个文件，然后用另外一个程序读取日志并画图。

[2019-04-18 03:55] SunGaofeng commented on #2056
已经修复，原因在于数据读取开了多进程，在每个epoch结束的时候，调用terminate和join的方式不对。先判断进程is_alive，然后再调用join，可以避免出现上述报错。

[2019-04-18 05:23] Melonzhou opened #2087 "请教：gru训练语言模型，多GPU速度和单GPU速度基本一致，这是什么原因啊？"
训练代码：https://github.com/PaddlePaddle/models/blob/develop/PaddleNLP/language_model/gru/train.py
使用的上面给代码，稍微做了一些小修改，修改内容如下。
![image](https://user-images.githubusercontent.com/5926307/56338408-7f6c1580-61dc-11e9-91a8-61e39c26eb17.png)
![image](https://user-images.githubusercontent.com/5926307/56338421-90b52200-61dc-11e9-875b-7a26209b34c5.png)

运行脚本:
![image](https://user-images.githubusercontent.com/

[2019-04-18 05:48] qianledan commented on #2071
收到，谢谢！

[2019-04-18 06:18] zhkfu opened #2088 "图像分类加载预训练模型的时候，怎么修改最后全连接的名字，没找到地方修改？"
用mobilenetv2训练，加载预训练模型，不知道怎么修改最后全连接的名字。Enforce failed. Expected x_dims[1] == labels_dims[1], but received x_dims[1]:1000 != labels_dims[1]:6.

[2019-04-18 06:19] JiaXiao243 opened #2089 "使用paddle develop分支编译安装的paddle，训练yolov3模型，显存不足"
paddle develop分支默认显存优化是关闭的，训练yolov3，报错信息如下：
![image](https://user-images.githubusercontent.com/37854899/56340584-e55c9b00-61e4-11e9-9053-ecca76777ec6.png)

[2019-04-18 06:25] shippingwang commented on #2088
你好，修改名字啥意思？是给层添加名字的意思么
若是更改了models的代码训练
请提供下更改过代码

请保证自查过
1. 确保models下代码是最新的
2. FC层有更改？怎么更改的？

[2019-04-18 06:28] zhkfu commented on #2088
我基于mobilenetv2网络做6分类，加载预训练模型的时候 会报Enforce failed. Expected x_dims[1] == labels_dims[1], but received x_dims[1]:1000 != labels_dims[1]:6. 。用caffe 框架的时候，这种情况，改一下最后的全连接层的名字就行了。paddle要改什么地方呢

[2019-04-18 06:56] #2089 closed, assigned to nobody

[2019-04-18 07:28] gavin1332 commented on #2087
两个GPU卡的利用率是多少？

[2019-04-18 07:33] Melonzhou commented on #2087
运行时，都保持在90%以上，最低的时候是85%

[2019-04-18 07:42] qianledan commented on #2071
碰到新的问题，训练到4110 batch时就停滞在那里不动了。
![QQ浏览器截图20190418153109](https://user-images.githubusercontent.com/45925696/56344685-99175800-61f0-11e9-894e-cd9214dc0fa8.png)

[2019-04-18 08:26] sandyhouse commented on #2071
这个问题是随机出现呢，还是每次都会出现？

[2019-04-18 09:14] gavin1332 commented on #2087
batch size乘以卡数了吗？

[2019-04-18 09:26] Melonzhou commented on #2087
没有

[2019-04-18 09:29] Melonzhou commented on #2087
![image](https://user-images.githubusercontent.com/5926307/56351237-3c6f6980-61ff-11e9-8d80-23a75bd6fd44.png)
我用了2张卡跑，但是很奇怪的是num_device=1，这个是哪里要配置吗？

[2019-04-19 00:57] danche354 opened #2093 "请问deepFM怎么处理句子特征呢？"
比如a输入的特征是长度为5的句子，b输入的特征是长度为4的句子。
请问下这种情况是需要首先做padding么？还是直接lookup table再做pooling呢？

[2019-04-19 01:25] gavin1332 commented on #2087
你对python熟悉吗？python代码里有设置这个参数啊

[2019-04-19 01:29] gavin1332 commented on #2087
如果是多卡同步训练的话是数据并行，一个batch的数据会均摊到多个卡，所以需要扩大batch size

[2019-04-19 02:53] Melonzhou commented on #2087
意思是如果单卡的batch_size=20的话，那么多卡的batch_size就应该是卡数*20，如果固定设置成20的话，不管多少张卡都是速度一样的，是吗？

[2019-04-19 02:55] #2056 closed, assigned to SunGaofeng

[2019-04-19 02:56] zhkfu opened #2094 "模型类型转换"
1：咱们paddle有直接将float32的模型转成float16的方式吗？
2：我用1.3版本训练fp16 ，提示'module' object has no attribute 'collective'，看了几个版本，也没找到。
3:有没脚本可以将double的模型转化成fp16 或者int8的

[2019-04-19 06:11] gavin1332 commented on #2087
并没有“速度一样”这个结论，只是肯定加速不明显。

[2019-04-19 06:17] zhkfu opened #2095 "shufflenetV2 预训练模型"
看公开的shufflenetV2 模型https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/image_classification#finetuning    没有用PIL库读数据的的top1/top5的准确率，是效果不好，还是没有做。

[2019-04-19 06:33] shippingwang commented on #2095
图像分类下模型预训练是CV2跑的，PIL精度是测出来的，您可以跑eval.py自测下，

不存在不好。两种方式精度差不了多少。

[2019-04-19 06:34] zhkfu commented on #2095
好的

[2019-04-19 06:34] #2095 closed, assigned to shippingwang

[2019-04-19 06:37] shippingwang commented on #2088
维度没对上，删掉预训练模型的的FC再加载

[2019-04-19 06:37] #2088 closed, assigned to wangguibao

[2019-04-19 12:56] JiaXiao243 opened #2099 "使用ResNet34预训练模型eval报错"
paddle使用develop分支编译安装或paddle1.4.0，执行如下指令，
python eval.py --model=ResNet34 --pretrained_model=resnet34/resnet34_pretrained/
报错信息如下：
![image](https://user-images.githubusercontent.com/37854899/56425135-93e80500-62e5-11e9-8863-7909b427e6e0.png)

[2019-04-19 13:03] JiaXiao243 opened #2100 "图像分类预训练模型易用性"
1. 建议解压后的预训练模型命名保持一致，都带pretrained字样或者都不带pretrained字样，并且字母大小写和官网文档提供的一致。
![image](https://user-images.githubusercontent.com/37854899/56425168-b417c400-62e5-11e9-9d95-0657ed7728d3.png)
![image](https://user-images.githubusercontent.com/37854899/56425173-b712b480-62e5-11e9-9086-6f3a6af047c4.png)
2. resnet18和resnet34的预训练模型有2级目录，建议与其他预训练模型保持一致，保留1级目录
resnet18目录下包含resnet18_pretrained子目录和run.log文件，建议仅保留r

[2019-04-20 02:30] qianledan commented on #2071
问题已经解决了，我把线程的queuesize有3072调小一点，变成1024就正常进行了。

[2019-04-21 11:49] qianledan opened #2102 "程序升级为1.4，训练fast_imagenet 出现ParallelExecutor is deprecated等信息提示！！"
memory_optimize is deprecated. Use CompiledProgram and Executor
ParallelExecutor is deprecated. Please use CompiledProgram and Executor. CompiledProgram is a central place for optimization and Executor is the unified executor. Example can be found in compiler.py.
W0421 19:46:12.907804 10233 graph.h:204] WARN: After a series of passes, the current graph can be quite different from OriginProgram. So

[2019-04-21 12:09] qianledan commented on #2102
paddle为1.3版本能正常运行没有提示，升级为1.4后，训练fast_imagenet 出现以上提示，并且训练好久loss值下不来，还在7左右徘徊。

[2019-04-22 02:01] heavengate commented on #2102
1.4版本后所有Executor接口统一，原ParallelExecutor等接口弃用，使用方法见http://paddlepaddle.org/documentation/docs/zh/1.4/api_cn/executor_cn.html

[2019-04-22 06:30] sandyhouse commented on #2071
好的。

[2019-04-23 01:51] Melonzhou commented on #2087
好的，我改改batch_size试试。

[2019-04-23 03:02] xiegegege opened #2132 "bert squad在运行结束后报错"
报错在bert squad退出时偶现，结果正常，不影响使用，但影响体验
terminate called without an active exception
*** Aborted at 1555884092 (unix time) try "date -d @1555884092" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGABRT (@0x1b593) received by PID 112019 (TID 0x7efcc15fe700) from PID 112019; stack trace: ***
    @     0x7f05bd1af7e0 (unknown)
    @     0x7f05bc5ab4f5 __GI_raise
    @     0x7f05bc

[2019-04-23 13:00] JiaXiao243 opened #2135 "ssr在windows环境infer报错"
执行指令python infer.py --test_dir test_data --use_cuda 1 --batch_size 50 --model_dir model_output
报错信息如下：
Windows not support stack backtrace yet.
![1](https://user-images.githubusercontent.com/37854899/56582818-ba21e380-660a-11e9-890a-ba53bb9bfc9e.PNG)

[2019-04-24 01:51] honourfuture opened #2137 "Cannot use CUDAPlace in CPU only version at"
https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/sentiment_classification
在学习中文分词训练时顺序执行到
*sh run.sh eval*
遇到下面报错. 因为刚接触.不太清楚如何排查问题

错误如下:
[code]
本地mac mini
python 2.7.15
![image](https://user-images.githubusercontent.com/30944597/56626977-8aa8c080-6676-11e9-9359-345cda83d0bd.png)

[2019-04-24 02:32] honourfuture commented on #2137
因为mac 不支持GPU 训练
故在run.sh中
将use_cuda改为false 就可以
![image](https://user-images.githubusercontent.com/30944597/56628418-428c9c80-667c-11e9-8ada-9935abd28266.png)

[2019-04-24 02:33] #2137 closed, assigned to nobody

[2019-04-24 02:44] MangoLiu opened #2138 "transformer下按照readme执行train.py报错"
按照步骤download demo数据。
但是执行训练 时报错。
python -u train.py   (后面省略，就是示例命令)
...
Traceback (most recent call last):
  File "train.py", line 775, in <module>
    train(args)
  File "train.py", line 669, in train
    is_test=False)
  File "../../models/neural_machine_translation/transformer/model.py", line 552, in transformer
    is_test)
  File "../../models/neural_machine_translation/transformer/model.py",

[2019-04-24 02:44] MangoLiu commented on #2138
求解答，谢谢了。

[2019-04-24 03:02] JiaXiao243 opened #2139 "windows下word2vec infer报错"
执行指令python infer.py --infer_epoch --test_dir data/test_mid_dir --dict_path data/test_build_dict_word_to_id_ --batch_size 20000 --model_dir v1_cpu5_b100_lr1dir/  --start_index 0 --last_index 0 对word2vec进行infer， 报错信息如下：
![2](https://user-images.githubusercontent.com/37854899/56629580-6e118600-6680-11e9-9024-cafe303f097c.PNG)

[2019-04-24 03:21] MangoLiu commented on #2138
layers里面，根本就没有py_reader这个方法！

['BlockGuard', 'BlockGuardServ', 'BlockGuardWithCompletion', 'ConditionalBlock', 'DynamicRNN', 'IfElse', 'ListenAndServ', 'ParallelDo', 'Preprocessor', 'Print', 'Recv', 'Send', 'StaticRNN', 'Switch', 'While', 'WhileGuard', '__all__', '__builtins__', '__doc__', '__file__', '__name__', '__package__', '__path__', 'abs', 'accuracy', 'append_LARS', 'argmax', 'argmin', 'arr

[2019-04-24 03:34] JiaXiao243 opened #2140 "window下ssr训练保存模型失败"
window环境下，执行python train.py --train_dir train_data --use_cuda 1 --batch_size 50 --model_dir model_output对ssr模型进行训练，输出模型保存失败，报错信息如下：
![3](https://user-images.githubusercontent.com/37854899/56630720-d19db280-6684-11e9-9d9d-78faaeb2e6a7.PNG)

[2019-04-24 04:46] hjchen2 commented on #2138
应该是使用了很早之前版本的paddle导致的，请先更新一下paddle。pip install paddlepaddle --upgrade 或者pip install paddlepaddle-gpu --upgrade

[2019-04-24 05:18] #2138 closed, assigned to nobody

[2019-04-24 06:21] JiaXiao243 opened #2142 "window下language_models中的gru模型训练失败"
window下执行python train.py 对language_models中的gru模型进行训练，window环境为cuda8, cudnn7,报错信息如下：
![4](https://user-images.githubusercontent.com/37854899/56636688-2bf63d80-669c-11e9-90f2-0eec968cb012.PNG)

[2019-04-24 06:33] hjchen2 commented on #2094
1、模型本身不会转成float16，只是在训练过程中可以用fp16进行混合精度训练。可以参考 https://github.com/PaddlePaddle/FluidDoc/blob/develop/doc/fluid/design/data_type/float16.md 将fp32的program转成支持fp16混合精度的program。
2、collective op是1.4版本发布的功能，可以升级paddle 1.4看看
3、转fp16是没有的，转int8我们后续会提供paddle slim支持8bit量化和其他模型压缩的功能。paddleSlim代码: https://github.com/PaddlePaddle/Paddle/tree/develop/python/paddle/fluid/contrib/slim ，使用文档：http://paddlepaddle.org

[2019-04-24 06:38] zhkfu commented on #2094
那只能是1.4版本的才能用fp16进行混合精度训练？

[2019-04-24 07:28] JiaXiao243 opened #2144 "sequence_tagging_for_ner数据解压路径错误"
sequence_tagging_for_ner的data/download.sh中数据解压路径错误，
 cp assignment2_release/data/ner/wordVectors.txt ./data
 cp assignment2_release/data/ner/vocab.txt ./data
应改为：
 cp assignment2_release/data/ner/wordVectors.txt .
 cp assignment2_release/data/ner/vocab.txt .

[2019-04-24 09:59] FiveSpeedFrog opened #2145 "transformer进行模型预测时报错Segmentation fault"
本人是刚接触这个的小白，按照文档走到模型预测这一步时报错：

python -u infer.py \
--src_vocab_fpath gen_data/wmt16_ende_data_bpe/vocab_all.bpe.32000 \
--trg_vocab_fpath gen_data/wmt16_ende_data_bpe/vocab_all.bpe.32000 \
--special_token '<s>' '<e>' '<unk>' \
--test_file_pattern gen_data/wmt16_ende_data_bpe/newstest2014.tok.bpe.32000.en-de \
--token_delimiter ' ' \
--batch_size 32 \
model_path trained_models/iter_100000.infer.mo

[2019-04-24 10:02] #2145 closed, assigned to nobody

[2019-04-24 10:12] FiveSpeedFrog opened #2146 "transformer模型预测时报错：Segmentation fault"
按照文档执行到python  -u infer.py时报错如下：

[2019-04-24 10:12] #2146 closed, assigned to nobody

[2019-04-24 10:14] FiveSpeedFrog opened #2147 "transformer模型预测时报错：Segmentation fault"
按照文档执行到python -u infer.py时报错如下：
memory_optimize is deprecated. Use CompiledProgram and Executor
*** Aborted at 1556128259 (unix time) try "date -d @1556128259" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGSEGV (@0x50) received by PID 21182 (TID 0x7f7d33241740) from PID 80; stack trace: ***
    @     0x7f7d32a525d0 (unknown)
    @     0x7f7d33036b16 _dl_relocate_object

[2019-04-24 11:26] demohold opened #2148 "metric_learning 进行图片度量学习报There is no next data错误"
目前环境是paddlepaddle 1.3.2版本，使用cpu训练（机器无gpu），修改了train_elem.py中devicenum数量
![image](https://user-images.githubusercontent.com/5515268/56655861-80161780-66c6-11e9-91f6-ffcc5c9df178.png)
执行报错
![image](https://user-images.githubusercontent.com/5515268/56655968-cf5c4800-66c6-11e9-8a1c-b7b6279a64fd.png)

[2019-04-24 11:35] zhengya01 opened #2149 "reading_comprehension 训练报错"
gpu：v100   4卡
python run.py --train 跑Demo数据

Traceback (most recent call last):
  File "run.py", line 647, in <module>
    train(logger, args)
  File "run.py", line 473, in train
    pass_id, "%.10f" % (1.0 * total_loss / total_num)))
ZeroDivisionError: float division by zero

[2019-04-24 12:15] Halfish commented on #2102
1.4 的文档里好像没有变，还是写着`多卡环境下请参考 ParallelExecutor`。

[2019-04-24 17:45] liyutg opened #2150 "PaddleCV/image_classification/models/GoogleNet 模型训练时报错"
**因为使用了自定义数据集，所以修改了读取数据的代码 **
### 系统信息
paddle 版本 1.3.2 clone image_classification作为demo 使用自己数据集
GPU 型号
Tesla K40m 11441MiB
Please NOTE: device: 1, CUDA Capability: 35, Driver API Version: 10.1, Runtime API Version: 9.0
device: 0, cuDNN Version: 7.0.

- 版本、环境信息：
    1）GPU：Tesla K40m 11441MiB 、CUDA和CUDNN版本号 device: 0, CUDA Capability: 35, Driver API Version: 10.1, Runtime API Version: 9.0
    2）系统环境

[2019-04-25 02:01] hjchen2 commented on #2094
`2：我用1.3版本训练fp16 ，提示'module' object has no attribute 'collective'，看了几个版本，也没找到。`

这个可以详细说一下训练模型和脚本的情况么？用的是models里面提供的标准模型么？1.3应该就已经支持混合精度训练了

[2019-04-25 02:29] qianledan commented on #2102
另外请问一下，计算模型的flops，paddle有没有提供方便的接口调用去计算？

[2019-04-25 05:08] kolinwei opened #2153 "icnet utils.py should import fluid"
03:09:17]W:	 [Step 3/3] W0425 03:09:17.928939 22016 device_context.cc:269] device: 0, cuDNN Version: 7.0.
[03:09:23]W:	 [Step 3/3] Traceback (most recent call last):
[03:09:23]W:	 [Step 3/3]   File "train.py", line 155, in <module>
[03:09:23]W:	 [Step 3/3]     main()
[03:09:23]W:	 [Step 3/3]   File "train.py", line 151, in main
[03:09:23]W:	 [Step 3/3]     train(args)
[03:09:23]W:	 [Step 3/3]   Fi

[2019-04-25 05:36] littletomatodonkey opened #2154 "box_clip出现段错误"
使用bbox_clip的时候，出现段错误，具体代码如下。
[code]
出现段错误
[code]
麻烦帮忙看下，谢谢。

[2019-04-25 09:36] gentelyang opened #2156 "models/PaddleCV/yolo3训练时报错"
一：在用paddle1.4.0和1.4.1训练yolov3时报如下错误：
File "train.py"，line 154，in <module>
          train()
C++ Callstacks:
Enforce failed. Expected out_dims[j] == ins[i][j], but received out_dims[j]:38 != ins[i][j]:32.

二：在/paddlepaddle_gpu-latest.19.04.25版本上训练yolov3报如下错误：
loading annotations into memory...
Done (t=26.37s)
creating index...
index created!
Load in 80 categories.
F0425 09:12:42.189702  9812 device

[2019-04-25 12:46] JiaXiao243 opened #2157 "Windows系统不支持ParallelExecutor，影响模型训练列表"
由于Windows系统不支持ParallelExecutor这个API，在window环境下跑模型训练，很多都会报如下错误：
![image](https://user-images.githubusercontent.com/37854899/56736539-fa17d080-679a-11e9-85a9-69f72aa25fd5.png)
包括：face_detection、cycle_gan、image_classification、metric_learning、object_detection、
video_classification、deep_attantion_matching_net、gru、transformer等等模型。

[2019-04-25 17:50] fatwolf opened #2158 "Yolov3 random_shape参数问题"
发现 random_shape 按照默认值True的话 是无法运行的，提示输入维度不对，是我姿势不对吗？

[2019-04-25 17:51] fatwolf commented on #2156
random_shape 按照默认值True的话 是无法运行的，改成False应该就好了

[2019-04-26 02:08] heavengate commented on #2158
如果你使用Paddle1.4版本，请使用models1.4版本的代码，如果使用models develop代码，请使用Paddle develop编译版本

[2019-04-26 02:09] #2156 closed, assigned to heavengate

[2019-04-26 02:13] qingqing01 commented on #2085
Fixed by https://github.com/PaddlePaddle/models/pull/2098

[2019-04-26 02:13] #2085 closed, assigned to jerrywgz

[2019-04-26 02:14] qingqing01 commented on #2099
@JiaXiao243 这个显示显存不够，是否GPU被占用？ 这个问题解决了没？

[2019-04-26 02:47] jerrywgz commented on #2154
你这里的decode bbox是reshape成（0，class_num，4）吗？

[2019-04-26 03:09] JiaXiao243 commented on #2099
GPU未被占用，问题还没有解决呢

[2019-04-26 05:27] universea opened #2162 "Yolo V3 :TypeError: yolov3_loss() got an unexpected keyword argument 'gt_box'"
------------------------------------------------
Traceback (most recent call last):
  File "train.py", line 154, in <module>
    train()
  File "train.py", line 46, in train
    model.build_model()
  File "/home/airobot/models/PaddleCV/yolov3/models/yolov3.py", line 153, in build_model
    name="yolo_loss"+str(i))
TypeError: yolov3_loss() got an unexpected keyword argument 'gt_box'

[2019-04-26 07:42] heavengate commented on #2162
models1.4中YOLOv3代码基于Paddle1.4 版本，请安装Paddle1.4版本

[2019-04-26 08:48] littletomatodonkey commented on #2154
是的，这个reshape之后的lod level是［0］，而之前box coder这个op的输出的咯的level是［［0，N］］，可能是这个lod level的不同，不知道@这个怎么转化

[2019-04-26 08:49] littletomatodonkey commented on #2154
是的，这个reshape之后的lod level是［0］，而之前box coder这个op的输出的咯的level是［［0，N］］，可能是这个lod level的不同，不知道@这个怎么转化

[2019-04-26 10:13] yxchng commented on #1997
I just realize the author has given up on PaddlePaddle and move on to PyTorch as reported in the paper.

[2019-04-26 11:50] saigequn opened #2164 "generate_chinese_poetry"
generate_chinese_poetry 不支持paddle1.4

[2019-04-27 13:10] aban77 opened #2167 "img['gt_labels'][gt_index] = self.category_to_id_map[target['category_id']]"
yolov3.reader.py中img['gt_labels'][gt_index] = self.category_to_id_map[target['category_id']]这句代码会将我的种类ID转换成一个无关的数字

[2019-04-27 15:05] #2167 closed, assigned to nobody

[2019-04-28 04:20] junjun315 commented on #2157
当前windows是不支持分布式训练的，所以相应的代码不能跑

[2019-04-28 12:42] JiaXiao243 opened #2168 "ocr_recognition文档链接失效"
如图点击安装文档链接，显示该链接页面找不到
![image](https://user-images.githubusercontent.com/37854899/56864444-cfc14f80-69f4-11e9-8a32-a666609f3c1c.png)
![image](https://user-images.githubusercontent.com/37854899/56864470-229b0700-69f5-11e9-8611-3343a762a0bd.png)

[2019-04-29 02:21] jerrywgz commented on #2154
你这里reshape里应该是(-1, cfg.class_num, 4)

[2019-04-29 03:40] xiegegege opened #2169 "video AttentionCluster训练报错"
在paddle1.4.1上，video AttentionCluster训练报错，报错如下：
Traceback (most recent call last):
  File "train.py", line 251, in <module>
    train(args)
  File "train.py", line 241, in train
    test_metrics=valid_metrics)
  File "/ssd1/xiege/model_4.29/models-develop/PaddleCV/video/tools/train_utils.py", line 104, in train_with_pyreader
    lr = fluid.global_scope().find_var("learning_rate").get_tensor()
Attri

[2019-04-29 03:48] #2162 closed, assigned to heavengate

[2019-04-29 03:49] #2158 closed, assigned to heavengate

[2019-04-29 08:35] xiegegege opened #2170 "video nonlocal 模型kill掉进程后无法自动释放显存"
video nonlocal 模型kill掉进程后显存无法自动释放，如图所示：
<img width="865" alt="f4924b601212fa146634cb29eef3122f" src="https://user-images.githubusercontent.com/46314656/56884565-c8558100-6a9c-11e9-9443-e6ab2691d593.png">

[2019-04-29 09:08] hutuxian commented on #2170
可以通过```ps aux | grep yourprocess ```的方式找到没杀干净的进程手动强行kill一下

[2019-04-29 09:12] xiegegege commented on #2170
嗯嗯，每次都要手动清有点麻烦，有办法让它自动释放吗？

[2019-04-30 02:06] chenjiapen12 opened #2171 "无法复现PyramidBox论文结果"
使用paddle在wider上重新训练了一下PyramidBox，发现hard上和开源的模型相差接近10个点，想问下是不是有什么训练细节没开源呀。。

[2019-04-30 03:49] qingqing01 commented on #2171
我们文档里提供参数就可以复现开源模型的结果。P40 4卡，总共的batch size 12或16，即可复现。
您使用的Paddle是那个版本？ 是严格按照文档来的吗？ batch size多大？几个张卡？

[2019-04-30 05:31] chenjiapen12 commented on #2171
@qingqing01
您好，非常感谢您的回复，我们用的是4块1080ti的卡，batch size设置的是12，使用稳定版的paddle训练的时候会hang住，之后好像是用v1.4.1训练的

[2019-04-30 06:54] SunAhong1993 opened #2173 "object_detection中的resize问题"
在object_detection中对图像进行一系列的图像增强操作后，有resize操作，但是只resize了图像，没有resize gt_bboxes（[详细代码](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/object_detection/reader.py#L142)），这样做的意义何在？是否会影响检测结果？

[2019-04-30 07:04] hutuxian commented on #2170
如果相关进程较多，可以通过脚本，找到相关进程组id（参考命令```ps -o pgid= $$ | grep -o '[0-9]*'```），进行统一kill（注意kill接负数为kill掉进程组）

[2019-04-30 07:15] qingqing01 commented on #2171
我们自己也回归验证下~

[2019-04-30 07:58] chenjiapen12 commented on #2171
麻烦您了

[2019-04-30 08:27] kuke commented on #2153
Fixed by https://github.com/PaddlePaddle/models/pull/2174

[2019-04-30 08:37] yghstill commented on #2173
在方法pascalvoc或者coco里对输入的gt_bboxes做了归一化处理（除以了整个图像的高度）。当图像还原时，gt_bboxes精度不会变。所以图像的线性扩大或缩小不会影响gt_bboxes的正确性。[reader详细代码](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/object_detection/reader.py#L254-L257)

[2019-04-30 08:41] #2168 closed, assigned to nobody

[2019-04-30 08:45] #2173 closed, assigned to nobody

[2019-04-30 08:45] kuke commented on #2142
在windows环境下暂不支持parallel executor，这是个已知问题

[2019-04-30 08:57] #2144 closed, assigned to nobody

[2019-05-01 02:53] Einshein commented on #1910
请问train.list和val.list该如何生成呢？我已经运行了cityscapesScripts中的createTrainIdLabelImgs.py和cityscapes预处理完了数据，没有这两个list会影响之后的train.py的运行么？

[2019-05-02 10:02] Steffy-zxf opened #2177 "PaddleCV中场景文字识别模型运行错误，提示缺依赖libwarpctc.so"
![image](https://user-images.githubusercontent.com/48793257/57068422-49628180-6d04-11e9-9f90-de39e6e94e66.png)
建议：建议在ReadMe中添加dependencies（安装libwarpctc.so）。

[2019-05-03 10:31] Steffy-zxf opened #2182 "BUG! PaddleNLP，language_model中use_gpu参数指定为false，无法传入。"
BUG! PaddleNLP，language_model中use_gpu参数指定为false，无法传入。
当指定run.sh文件中use_gpu参数为false时，发现还是无法传入，显示结果为True。

<img width="429" alt="2cee2c9d48000ac2145db776ec03408a" src="https://user-images.githubusercontent.com/48793257/57132153-44b7cf00-6dd1-11e9-91c2-5cf79149929b.png">

<img width="1388" alt="a6c42f69aaab126f8d796046c8f356a4" src="https://user-images.githubusercontent.com/48793257/57132210-7335aa00-

[2019-05-05 08:42] xiegegege opened #2184 "deeplabv3+反复报warning"
在paddle1.4.1下，由于deeplabv3+打开了显存优化，导致反复报如下的warning：
<img width="956" alt="db83046567521a831348d8eea6f2e46a" src="https://user-images.githubusercontent.com/46314656/57190981-398cac80-6f53-11e9-9ffc-3a3c7b379d82.png">