[2019-07-29 13:42] endy-see opened #2963 "Cannot malloc 6652.83 MB GPU memory"
When i try to infer many images in a dir, it occured follow problem:
Cannot malloc 6652.83 MB GPU memory. Please shrink FLAGS_fraction_of_gpu_memory_to_use or FLAGS_initial_gpu_memory_in_mb or FLAGS_reallocate_gpu_memory_in_mbenvironment variable to a lower value. Current FLAGS_fraction_of_gpu_memory_to_use value is 0.92. Current FLAGS_initial_gpu_memory_in_mb value is 0. Current FLAGS_reallocate_

[2019-07-29 13:49] endy-see commented on #2963
I had resolved it. do:
FLAGS_eager_delete_tensor_gb=0
before run your infer command, details as follows:

https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/advanced_usage/best_practice/memory_optimize.html

[2019-07-29 13:49] #2963 closed, assigned to nobody

[2019-07-29 13:58] xyzhou-puck commented on #2912
您好，这个repo之前变量名修改过，但是预训练的模型变量名没有更改，导致无法正确load预训练模型，您可以把data/saved_model/ 下含有 “:” 的文件名改为 "_"，即可正确运行，我也会update一下这个模型，保证可以正确运行

[2019-07-29 14:12] zzchust opened #2964 "[detection evaluatation] compute AP for each class"
Paddle affords a very simple layer(DetectionMAP) to compute mAP for the evaluation of detection. eg. https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ssd/eval.py#L55

However, is there any advice for the computation for AP of each category?

[2019-07-29 14:26] zzchust commented on #2964
A possible solution is here.
https://github.com/rafaelpadilla/Object-Detection-Metrics

[2019-07-29 14:26] #2964 closed, assigned to nobody

[2019-07-30 00:51] suyali commented on #2951
weightd是打印错误，代码中输入的就是weights，

[2019-07-30 01:02] suyali commented on #2951
你说的这个我测试了一下，是可行的，但我想知道，为什么不能用这个命令加载./cache中的预训练模型
@xiegegege

[2019-07-30 02:30] #2483 closed, assigned to wopeizl

[2019-07-30 03:57] heavengate commented on #2951
pretrain和resume的逻辑是不一样的，pretrain只需要load backbone的weight，resume需要load全量的weight和训练过程中的momentun、velocity等参数，二者不可通用

[2019-07-30 04:02] #2951 closed, assigned to heavengate

[2019-07-30 04:04] heavengate commented on #2960
您好，请问是哪个模型呢

[2019-07-30 04:09] 904281665 commented on #2960
Image-classification

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: Kaipeng Deng <notifications@github.com>
发送时间: 2019年7月30日 12:04
收件人: PaddlePaddle/models <models@noreply.github.com>
抄送: Nku_dong <904281665@qq.com>, Author <author@noreply.github.com>
主题: 回复：[PaddlePaddle/models] gpu并行训练时batch_size设置问题 (#2960)

您好，请问是哪个模型呢

—
You are receiving this because you authored the thread.
Re

[2019-07-30 04:18] heavengate commented on #2960
感谢您的反馈，我们马上修复~

[2019-07-30 04:19] 904281665 commented on #2960
嗯嗯，辛苦啦

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: Kaipeng Deng <notifications@github.com>
发送时间: 2019年7月30日 12:18
收件人: PaddlePaddle/models <models@noreply.github.com>
抄送: Nku_dong <904281665@qq.com>, Author <author@noreply.github.com>
主题: 回复：[PaddlePaddle/models] gpu并行训练时batch_size设置问题 (#2960)

[2019-07-30 06:17] A1exy opened #2966 "image classification MobileNet V2开启mixup一直报AssertError"
PaddleCV里的image_classification中采用MobileNetV2_x0_5 开启mixup后一直报AssertError：
![image](https://user-images.githubusercontent.com/7035538/62105291-95f23480-b2d4-11e9-9725-322548571c5e.png)

[2019-07-30 06:18] gavin1332 commented on #2909
softmax和ce拆分以后，ce的梯度需要计算label概率p的倒数，但p较小的时候会导致出现数值计算问题。因为float16的表示范围较float32小，更容易出现underflow的情况，也就是p更容易为0，导致后续计算结果异常

[2019-07-30 06:19] gavin1332 commented on #2909
已和提问者沟通确认次问题。先将此issue关闭

[2019-07-30 06:19] #2909 closed, assigned to nobody

[2019-07-30 06:23] zhengya01 opened #2968 "similarity_net 运行报错"
环境：
python：2.7.15
paddle：1.5
cuda：9
cudnn：7
gpu：v100

命令：
python run_classifier.py  --compute_accuracy False --valid_data_dir ./data/test_pairwise_data --task_name simnet --config_path ./config/bow_pairwise.json --do_train True --do_valid False --vocab_path ./data/term2id.dict --do_infer False --save_steps 1000 --batch_size 128 --use_cuda True --train_data_dir ./data/train_pairwise_data --epoch 1

[2019-07-30 07:00] BladeSun opened #2969 "wrong evaluation function in lexical analysis model"
For each batch, the evalution function saves F1 score based on the accumulated counts from begining.
The final F1 score is the average of the F1 scores from each batch.

[Link to the code](https://github.com/PaddlePaddle/models/blob/681aca5e3e6de53331795f0d911f8d10e0c78381/PaddleNLP/lexical_analysis/run_ernie_sequence_labeling.py#L183)

[2019-07-30 07:48] AzureDreamDing commented on #2912
@xyzhou-puck 好的，明白啦，谢谢您！

[2019-07-30 07:52] huchinlp opened #2972 "paddle实现的Transformer翻译模型解码速度如何？"
在知乎上看到你们宣传训练速度，特别想知道paddle实现的transformer在解码速度上面对比其他框架有无优势。这是[WNMT2018](https://docs.google.com/spreadsheets/d/1wZQegK-9CKY378eAWRlahg23Fq155WTm4TQ8ikf8_6E/)的结果，里面是WMT14 En-De任务上各个框架的性能对比，包括解码时间、显存占用和内存占用等。

[2019-07-30 08:17] guoshengCS commented on #2972
解码速度的话目前在大batch时会有一些优势，有一些额外的优化加入：一是在对历史解码内容计算结果进行cache之外，又加入了对encoder output在decoder中计算结果的cache，避免解码每一步都重新计算；二是beamsearch时会有batch-reduce，对已经解码完成度句子会从batch中去掉，batch会动态减小。

[2019-07-30 08:20] huchinlp commented on #2972
感谢回复，目前paddle对低精度的支持如何？

[2019-07-30 08:21] XFeiF opened #2973 "A mistake in your ssd reader.py"
https://github.com/PaddlePaddle/models/blob/681aca5e3e6de53331795f0d911f8d10e0c78381/PaddleCV/ssd/reader.py#L74
I think this line of code should be set for the `apply_expand` property.

[2019-07-30 08:23] heavengate commented on #2973
感谢指出，我们尽快更正~

[2019-07-30 08:41] #2973 closed, assigned to heavengate

[2019-07-30 08:46] heavengate commented on #2972
Paddle框架已支持fp16，目前各模型正在适配fp16混合精度训练
压缩和量化的也已支持，见https://github.com/PaddlePaddle/models/tree/develop/PaddleSlim

[2019-07-30 08:57] heavengate commented on #2960
与相关RD确认，image_classification近来在代码重构，代码重构中会对这种情况做处理

[2019-07-30 08:57] #2960 closed, assigned to heavengate, shippingwang

[2019-07-30 08:58] sneaxiy commented on #2959
能否把您的num_layers、batch_size、hidden_size这三个参数提供下？

[2019-07-30 09:01] fengchun1213 commented on #2959
谢谢回复！
num_layers = 1
hidden_size = 444
batch_size应该就是那个-1的维度吧

[2019-07-30 09:15] #2972 closed, assigned to guoshengCS

[2019-07-30 12:18] ellinyang opened #2978 "开启multiprocess_reader 后训练效果变差"
版本、环境信息：
   1）PaddlePaddle版本：1.5.1
   2）GPU v100
   3）系统环境：centos

代码：ssd (release-1.1)
训练基本设置：batch_size=12，input_size=640*640，做默认的数据增强（开启distort/expand），数据集类型 "pascalvoc"

问题描述：
1.在训练mobilenetSSD时，单进程读取数据特别慢，读一个batch_size大约8-12s之间，统计大部分时间在数据预处理上，因此开了 `paddle.reader.multiprocess_reader(readers, False)` 加快读取速度，但相比单进程的mAP下降约10%，请问是什么原因？
2.paddle.reader.multiprocess_reader 是否还支持recordio的读取，为啥每次用这个读r

[2019-07-30 12:25] heavengate commented on #2978
SSD已经集成到PaddleDetection检测库，检测库里面训练支持多进程训练，可以使用PaddleDetection检测库，检测库现在也支持自定义数据读入
https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/PaddleDetection

[2019-07-30 12:46] ellinyang commented on #2978
所以。。。这两个问题是答案是什么呢？
PaddleDetection貌似对 recordio 的读取改写不太友好，因为数据和label等都集成在一起，没有索引、图片地址。后期可以给一份recordio的读取示例代码吗？或者更详细的教程？

[2019-07-30 12:55] heavengate commented on #2978
1. PaddleDetection里面使用8进程训练SSD经多次测试是没有精度损失的，你可以确认一下你的多进程reader实现是否正确
2. PaddleDetection里面提供了自定义数据的读取方法，且是支持多进程的

[2019-07-30 14:35] cjxhwxj opened #2979 "使用PyramidBox如何实现多张图循环测试输出"
使用PYramidBox的官方模型进行测试输出时，想对文件夹里面的所有图进行测试，使用for循环第一张图可以测试成功，第二张图的时候就会出现模型路径加载错误，应该怎么修改呢？

[2019-07-30 16:54] XFeiF opened #2980 "SSD Inconsistent function call"
In your `eval_coco_map.py` file, you imported one function [`mobile_net `](https://github.com/PaddlePaddle/models/blob/8d7328017dc50c4b82d25733cc7a4cd14ad4469f/PaddleCV/ssd/eval_coco_map.py#L10) that do not exist in the `mobilenet_ssd.py` file.  And the function call [below](https://github.com/PaddlePaddle/models/blob/8d7328017dc50c4b82d25733cc7a4cd14ad4469f/PaddleCV/ssd/eval_coco_map.py#L52) shou

[2019-07-30 16:54] XFeiF commented on #2980
Can I make some contributions?

[2019-07-31 03:28] parap1uie-s commented on #2963
Works for me, thanks!

[2019-07-31 03:54] zzchust opened #2981 "基础模型精度和速度统计可能存在问题"
在选择basemodel时，发现[这里](https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/image_classification)的实验结果超出了我的认知。

![image](https://user-images.githubusercontent.com/6135871/62182566-a0223a80-b389-11e9-8afd-7c647f335b77.png)

希望能给出说明和解释，谢谢！！

[2019-07-31 04:14] gujingxiao commented on #2350
其实我想说，官方应该出一个检测网络剪枝的指导说明，因为当前slim里问题太多，而且目前给的说明都是处理backbone的，如果想要给检测网络做，reader要改，模型结构要改，配置文件要改，保存结果也要改，需要修改不少源码。

[2019-07-31 04:57] #2979 closed, assigned to nobody

[2019-07-31 04:57] cjxhwxj commented on #2979
问题已解决

[2019-07-31 05:09] zzchust commented on #2981
贴一下官方回复：

模型的理论复杂度和实际的运行时间多时候不能直接比较，实际运行时间取决于是否对该模型的具体op进行过针对性的优化。

mobilenetv1， shufflenet类模型， 模型的运行时间多为conv占用，其中conv 1*1占据了大部分的运行时间（depthwise 运行时间很少）， shufflenet， 1*1用了group的1*1，卷积，如果没有对此类op进行特殊优化（使用多次gemm的实现 ）的话，shufflenet性能是低于mobilenet的 近期有对paddle-trt 下对几个模型进行了优化， 具体的指标为：https://github.com/PaddlePaddle/Paddle/pull/18645

对paddle fluid预测加速也在支持中。

[2019-07-31 05:11] zzchust commented on #2981
嗯嗯，好的，感谢解答！希望后续方便的话能在表格中附上原论文的准确度和flops（或者claim的时间），并加以说明。不然这个结果让人太震撼了。

另外，针对小型化模型，如果有条件可以提供在CPU上的测试结果。小型化模型多在CPU或手机上部署，这些指标对于业务使用会非常有帮助。

[2019-07-31 06:46] kuke commented on #1906
预训练好的word embedding，原论文有讲训练方法

[2019-07-31 07:48] zhengya01 commented on #2940
这个报错你是在CPU上跑出来的吧，如果use_cuda = true的话是需要在GPU上跑

[2019-07-31 07:57] imistyrain opened #2983 "NameError: global name 'bufsize' is not defined"
当运行[PaddleDetection](https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/PaddleDetection)中推理的代码
[code]
提示
[code]

[2019-07-31 08:11] zhengya01 commented on #2952
在使用模型时，可以忽略这个参数

[2019-07-31 08:21] zzchust opened #2984 "load pretrained model后训练时报错"
paddle load pretrained model进行训练就报Enforce failed. Expected in_dims[1] == filter_dims[1] * groups的错误， 如果不load pretrained model就可以正常训练。

因此怀疑pretrained_model的参数纬度和自己的模型不匹配，但是如果参数shape不匹配只是参数名相同可以正常load model吗？

答案是肯定的。希望paddle后续在load pretrained_model的时候就能做参数shape检查。

[2019-07-31 08:26] qingqing01 commented on #2523
麻烦再在develop上验证下

[2019-07-31 08:42] qingqing01 commented on #2187
@xiegegege 麻烦再测试下

[2019-07-31 08:43] xiegegege commented on #2187
收到～

[2019-07-31 08:43] xiegegege commented on #2523
好的～

[2019-07-31 08:46] #2829 closed, assigned to MRXLT

[2019-07-31 10:22] qingqing01 commented on #2980
@XFeiF Thanks! we will fix soon. You also can use https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/PaddleDetection

[2019-07-31 10:35] gujingxiao opened #2985 "使用PaddleSlim进行SSD剪枝结果不正常"
我在训练好SSD模型后，尝试使用Slim进行剪枝和量化训练。在使用量化训练时，效果良好，没有遇到任何问题，但是在进行剪枝时，出现了完全没有效果的问题，具体描述如下：
![微信截图_20190731182813](https://user-images.githubusercontent.com/13788388/62205170-6e2cca80-b3c1-11e9-9fdf-0ef538d73052.png)

一开始训练，我加载我训好的模型，就出现如图所示打印，显示Pruned size为0，Pruned flops也为0.然后就进入到了训练中
![微信截图_20190731182823](https://user-images.githubusercontent.com/13788388/62205244-9caaa580-b3c1-11e9-9c58-5e369fbd0a87.pn

[2019-07-31 10:37] gujingxiao commented on #2985
我使用的yaml配置文件如下，只是改动了metric_name: 'map'这里，将原本的acc_top1改为了map，其他地方没有什么变动。
![微信截图_20190731183624](https://user-images.githubusercontent.com/13788388/62205490-1cd10b00-b3c2-11e9-8d87-6006b1e0b2e7.png)

[2019-07-31 11:54] #2980 closed, assigned to nobody

[2019-07-31 15:39] xyzhou-puck commented on #2984
您好，请问您指的是哪个模型？

[2019-08-01 00:44] A1exy commented on #2966
@shippingwang

[2019-08-01 01:12] yuye-img opened #2991 "视频分类中用CPU跑的时候没有结果，用的模型是attention lstm。python3.5。paddle1.5.1。Ubuntu系统跑的"
/usr/bin/python3.5 /media/hxc/新加卷/models-develop/PaddleCV/PaddleVideo/train.py
[INFO: train.py:  295]: Namespace(batch_size=None, config='configs/attention_lstm.txt', enable_ce=False, epoch=10, learning_rate=None, log_interval=10, model_name='AttentionLSTM', no_memory_optimize=False, no_use_pyreader=False, pretrain=None, resume=None, save_dir='checkpoints', use_gpu=False, valid_interval=1)
[INFO:

[2019-08-01 01:33] chenbohua3 opened #2992 "kinetics-400数据集不全"
用了官方repo的脚本下载后发现数据集缺了2W视频，请问你们有完整版的数据集可以共享的嘛，万分感谢。

[2019-08-01 02:04] nbcc opened #2993 "models/dygraph 下的实现是否可以给出示例任务在 paddle release 版本下性能的 benchmark"
特别关注 models/dygraph/transformers 相较于静态图在多卡/多机下的性能对比

[2019-08-01 02:54] JiabinYang commented on #2991
看起来是save的时候传入的tensor有空的情况，请问您使用是哪个模型是否有修改呢
![image](https://user-images.githubusercontent.com/22361972/62262275-a75d4d00-b44a-11e9-9a68-a3454679f672.png)

[2019-08-01 02:57] JiabinYang commented on #2993
我们会尽快测试

[2019-08-01 03:05] zhangyimi commented on #2968
感谢反馈，马上修复。

[2019-08-01 03:37] yuye-img commented on #2991
我用的是Attention LSTM模型，就是指定了use_gpu=False,其他的都是按照指定的更改的

[2019-08-01 04:08] yuye-img commented on #2991
就是数据集没有下完，会对其有影响吗？这里用到的是YouTube-8M 2018年更新之后的数据集。使用官方数据集，并将TFRecord文件转化为pickle文件以便PaddlePaddle使用。Youtube-8M数据集官方提供了frame-level和video-level的特征，这里只需使用到frame-level的特征。

数据下载
请使用Youtube-8M官方链接分别下载训练集和验证集。每个链接里各提供了3844个文件的下载地址，用户也可以使用官方提供的下载脚本下载数据。数据下载完成后，将会得到3844个训练数据文件和3844个验证数据文件（TFRecord格式）。
训练集和数据集我都只下载了15份。

[2019-08-01 04:59] Halfish commented on #2969
You are right, thanks for your feedback, we will fix that later. @BladeSun

[2019-08-01 05:22] Lizhengo commented on #2968
这个错误是run_classifier.py中的141行多了一个缩进，写到if条件外面应该就可以了。

[2019-08-01 08:57] A1exy opened #2998 "PaddleSlim对MobileNet进行Uniform剪切报错"
Windows环境下使用PaddleSlim示例对MobileNet进行Uniform剪切报错
![image](https://user-images.githubusercontent.com/7035538/62279838-70545f00-b47d-11e9-93c8-17f07357e040.png)

Paddle的问题有点多。。。

[2019-08-01 09:00] chenbohua3 commented on #2992
@qingqing01 可否分享一下，非常感谢~

[2019-08-01 10:44] wanghaoshuang commented on #2998
抱歉，PaddleSlim没有在windows下测试过，看着像pickle在windows下的编码有问题，导致不能正常load checkpoint, 我这边找环境尝试复现下该问题。

[2019-08-01 11:22] xiegegege commented on #2187
现在develop下是有报错的：
An exception was thrown!
 Invoke operator conv2d error.
Python Callstacks:
  File "/opt/_internal/cpython-3.6.0/lib/python3.6/site-packages/paddle/fluid/framework.py", line 1776, in append_op
    attrs=kwargs.get("attrs", None))
  File "/opt/_internal/cpython-3.6.0/lib/python3.6/site-packages/paddle/fluid/layer_helper.py", line 43, in append_op
    return self.main_program.current

[2019-08-01 11:26] xiegegege commented on #2523
develop下的报错：
An exception was thrown!
 Invoke operator conv2d error.
Python Callstacks:
  File "/opt/_internal/cpython-3.6.0/lib/python3.6/site-packages/paddle/fluid/framework.py", line 1776, in append_op
    attrs=kwargs.get("attrs", None))
  File "/opt/_internal/cpython-3.6.0/lib/python3.6/site-packages/paddle/fluid/layer_helper.py", line 43, in append_op
    return self.main_program.current_blo

[2019-08-01 11:29] heavengate commented on #2187
看着是cudnn的问题，试下 https://github.com/PaddlePaddle/Paddle/issues/18885

[2019-08-01 11:44] xiegegege commented on #2187
单卡可以正常跑，多卡还是会有这个报错；paddle1.5.1下是没这个报错的

[2019-08-01 12:47] universea opened #3001 "PaddleSlim剪切报错 pruner.py 维度上的index报错"
配置文件如下
version: 1.0
pruners:
    pruner_1:
        class: 'StructurePruner'
        pruning_axis:
            '*': 0
        criterions:
            '*': 'l1_norm'
strategies:
    uniform_pruning_strategy:
        class: 'UniformPruneStrategy'
        pruner: 'pruner_1'
        start_epoch: 0
        target_ratio: 0.5
        pruned_params: 'conv.*w_0'
        metric_name: 'map'
    quantization_s

[2019-08-01 13:10] A1exy commented on #3001
+1  我也遇到了
![image](https://user-images.githubusercontent.com/7035538/62295971-cab2e700-b4a0-11e9-8539-01a45b67d739.png)

[2019-08-01 13:17] A1exy commented on #3001
@universea     我的这个问题解决了，你把compress.py和reader.py里面关于数据集路径和dims改对就可以了。

[2019-08-01 13:21] universea commented on #3001
好的，谢谢你啦

[2019-08-01 13:28] A1exy commented on #2998
@wanghaoshuang   ubuntu下可以，如果没时间修复就关掉这个issue吧
但是Pruning后的模型  Windows下无法Inference
![image](https://user-images.githubusercontent.com/7035538/62336475-0b434c80-b503-11e9-8e7a-02d11828ace0.png)

[2019-08-01 13:36] #3001 closed, assigned to wanghaoshuang

[2019-08-01 15:15] universea commented on #3001
依旧出错

[2019-08-01 15:21] universea opened #3002 "PaddleSlim剪切报错 pruner.py 维度上的index报错，未解决"
data_dir work/coco/train2017
use_multiprocess  False
2019-08-01 23:19:57,543-INFO: checkpoints: []
2019-08-01 23:19:57,543-INFO: checkpoints: []
2019-08-01 23:19:57,544-INFO: _get_best_ratios
2019-08-01 23:19:57,544-INFO: _get_best_ratios
Traceback (most recent call last):
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.5/site-packages/paddle/fluid/contrib/slim/core/compressor.py", line

[2019-08-01 15:22] universea commented on #3002
主要是这个报错：
2019-08-01 23:19:57,544-INFO: _get_best_ratios
2019-08-01 23:19:57,544-INFO: _get_best_ratios
Traceback (most recent call last):
File "/opt/conda/envs/python35-paddle120-env/lib/python3.5/site-packages/paddle/fluid/contrib/slim/core/compressor.py", line 534, in run
strategy.on_epoch_begin(context)
File "/opt/conda/envs/python35-paddle120-env/lib/python3.5/site-packages/paddle/fluid/contri

[2019-08-01 15:23] universea commented on #3002
看着像 pruned_params 的问题

[2019-08-01 15:24] universea commented on #3002
File "/opt/conda/envs/python35-paddle120-env/lib/python3.5/site-packages/paddle/fluid/contrib/slim/prune/pruner.py", line 95, in prune_tensor
mask[pruned_idx] = True
IndexError: index 257 is out of bounds for axis 0 with size 256

[2019-08-01 23:15] universea commented on #3002
配置文件如下：
version: 1.0
pruners:
    pruner_1:
        class: 'StructurePruner'
        pruning_axis:
            'conv*': 0
        criterions:
            '*': 'l1_norm'
strategies:
    uniform_pruning_strategy:
        class: 'UniformPruneStrategy'
        pruner: 'pruner_1'
        start_epoch: 0
        target_ratio: 0.5
        pruned_params: 'conv.*w_0'
        metric_name: 'map'
compressor:

[2019-08-02 00:49] universea commented on #3002
将pruned_params: 'conv.*w_0'改为pruned_params: '.*_sep_weights'，能跑但是Pruned size和radio为0，没有效果，而且中断后第二次运行出现以下错误
index created!
data_dir work/coco/train2017
use_multiprocess  True
2019-08-02 08:44:53,838-INFO: checkpoints: ['0', '1']
2019-08-02 08:44:53,838-INFO: checkpoints: ['0', '1']
Traceback (most recent call last):
  File "work/PaddleSlim/compress_ssd.py", line 340, in <module>
    main()
  File "

[2019-08-02 02:07] SunGaofeng commented on #2991
@yuye-img 请问trainlist和vallist分别是怎么生成的，里面有多少条数据？

[2019-08-02 02:12] wanghaoshuang commented on #3002
多谢反馈，PaddleSlim在检测任务上实验还不充分，我们会尽快复现并修复该问题。

[2019-08-02 02:26] universea commented on #3002
我是在AI Studio 上跑的

[2019-08-02 02:26] universea commented on #3002
我是在AI Studio 上跑的

[2019-08-02 02:47] yuye-img commented on #2991
train list 和val list是按照上面提出的生成的，有15条数据
转化文件格式(TFRecord -> pkl)，进入dataset/youtube8m目录，运行脚本

python tf2pkl.py ./tf/train ./pkl/train
和

python tf2pkl.py ./tf/val ./pkl/val
分别将train和validate数据集转化为pkl文件。tf2pkl.py文件运行时需要两个参数，分别是数据源tf文件存放路径和转化后的pkl文件存放路径。

备注：由于TFRecord文件的读取需要用到Tensorflow，用户要先安装Tensorflow，或者在安装有Tensorflow的环境中转化完数据，再拷贝到dataset/youtube8m/pkl目录下。为了避免和PaddlePaddle环境冲突，建议先在其他地方转化完成再将数据拷贝过来。

[2019-08-02 03:21] qujinqiang commented on #2940
@zhengya01 我之前装的是GPU版的， 测试代码都可以跑通的； 但是PaddleNLP工具包中simnet框架use_cuda无法跑通

[2019-08-02 03:24] zhengya01 commented on #2940
你是在GPU设备上跑的吗

[2019-08-02 03:26] endy-see opened #3005 "When I use attentation model training a recognition model, the 'train_acc' always be 0.000000, and after 2 epoch, train_cost became nan"
When I use attentation model training a recognition model, the 'train_acc' always be 0.000000, and after 2 epoch, train_cost became nan, and train_acc still 0.000000, the training info is as follow:
___________________________________________________________________________________________________

I0802 11:10:00.041497  2313 parallel_executor.cc:329] The number of CUDAPlace, which is used in Para

[2019-08-02 03:28] qujinqiang opened #3006 "similarity_net 基于字训练报错"
使用场景：
 企业名相识度计算，由于企业名通过分词很难进行细分；基本上都是一个完整的整体。因此，考虑采用基于字进行训练

问题：
训练过程中，验证集的预测结果会偶然出现None的情况

代码：
batch_data = paddle.batch(reader, args.batch_size, drop_last=False)
        pred_list = []
        for data in batch_data():
            _pred = executor.run(program=program,
                                 feed=feeder.feed(data),
                                 fetch_list=[pred.name])
            pr

[2019-08-02 03:32] endy-see opened #3007 "Failed to find dynamic library: libwarpctc.so ( dlopen: cannot load any more object with static TLS )"
My local environment:
CentOS: release 6.9
NCCL: v2.4.7
cuda: 9.0.176
cudnn: 7.3.1
Paddle: 1.5.1
Python: 3.7.3

When i start training ocr_recognition model with crnn_ctc model, paddle occured error as follow:

(paddle) [ocr_recognition]# env CUDA_VISIBLE_DEVICES=0 python train.py --train_images dataset/public_data_english/train_images --train_list dataset/public_data_english/train.list --test_image

[2019-08-02 03:33] qujinqiang commented on #2940
恩，测试代码在GPU上可以跑，现在用的是paddle 非GPU版；跑着一切正常
@zhengya01  你现在也是在用similarity_net 框架吗？

[2019-08-02 03:37] zhengya01 commented on #2940
我没有遇到你这个问题，能详细贴一下你的的运行环境、配置、执行命令吗

[2019-08-02 03:38] wanghaoshuang commented on #3007
可以暂时参考这个：https://github.com/PaddlePaddle/models/issues/1360

另外，我们在持续跟进寻找更好的修复办法。

[2019-08-02 03:43] DDDivano commented on #2993
目前release版本和 dev版本多卡加速比有一定的差距。
![image](https://user-images.githubusercontent.com/10734244/62342671-4ac96300-b51a-11e9-85a5-dea68a0ce7a1.png)
![Uploading image.png…]()

[2019-08-02 05:52] A1exy opened #3009 "PaddleSlim对Uniform剪切后的MobileNet模型进行infer.py报错"
在Unbutu16.04下，对Uniform剪切后的MobileNet模型进行inference:
![image](https://user-images.githubusercontent.com/7035538/62347533-984ecb80-b52c-11e9-9bc6-6b208c1e3c17.png)
![image](https://user-images.githubusercontent.com/7035538/62347558-abfa3200-b52c-11e9-9fa1-5905d7590ee8.png)

问题真的多，有点醉人。。。

[2019-08-02 06:44] qujinqiang commented on #2940
@zhengya01   我是在conda 下面安装的虚拟环境； GPU版本的虚拟环境已经删除掉了， 现在CPU版本正常

[2019-08-02 07:10] wzzju commented on #3005
请问，您使用的Paddle版本是什么？开发人员会尽快复现您的问题，谢谢。

[2019-08-02 07:11] 18628271760 commented on #3006
same here！

[2019-08-02 08:06] endy-see commented on #3005
CentOS: release 6.9
NCCL: v2.4.7
cuda: 9.0.176
cudnn: 7.3.1
Paddle: 1.5.1
Python: 3.7.3

[2019-08-02 08:11] endy-see commented on #3007
但是我不是通过编译的方式安装的paddle，我是直接pip安装的，下面z这个解决办法不适合我吧
![image](https://user-images.githubusercontent.com/13143336/62354764-2d0ef480-b540-11e9-9ed7-0d28eed9f040.png)

[2019-08-02 08:44] A1exy commented on #2910
@shippingwang     请问FP16现在修复了没有？

[2019-08-02 10:32] arvinwong1980 opened #3010 "创建数据集时最后一步点击创建按钮对话框不消失"
1，创建个人数据集时，按照向导一步步走到最后。
2，在最后一步，点击创建按钮，对话框没有反应，不跳转，也不提示创建成功。
3，隔一段时间，忍无可忍，把对话框关掉。
4，返回数据集列表，发现数据集已经创建成功。

[2019-08-02 10:49] universea commented on #3010
这是AI STUDIO的问题吧，问错地方了

[2019-08-02 10:51] universea commented on #3002
请问什么大概时候可以解决呀，需要帮忙不？

[2019-08-02 13:52] ghost opened #3011 "Cannot allocate GPU memory."
Hello, I have a problem.

I successfully run ResNet50 with batch_size 64 on Titan V card (12gb). Even with batch_size 96 it works well, but with batch_size 128 it stops working.

I tried shrinking FLAGS_fraction_of_gpu_memory_to_use from 0.98 (default) even to 0.1 but it doesn't work...

`Cannot malloc 49.0002 MB GPU memory. Please shrink FLAGS_fraction_of_gpu_memory_to_use or FLAGS_initial_gpu_me

[2019-08-02 15:22] wzzju commented on #3011
Must you use the batch size value 128? If 96 is OK, can you use it?

[2019-08-05 02:15] wanghaoshuang commented on #3002
@universea  可以在AI Sudio上把任务分享给我么？

[2019-08-05 02:29] universea commented on #3002
@wanghaoshuang
我是在AISTUDIO上跑的命令行，不是notebook，现在的aistudio机制没办法fork，我可以把账号给你，方便微信联系吗？微信号是： universe_A

[2019-08-05 02:40] yw1991 commented on #3011
change batch_size

[2019-08-05 03:03] wanghaoshuang commented on #1360
建议将mkldnn放在platform/dynload下。

[2019-08-05 03:04] JiabinYang commented on #1360
#3007

[2019-08-05 03:05] JiabinYang commented on #1360
Duplicate of #3007

[2019-08-05 03:12] JiabinYang commented on #3007
This happened in v1.4 and v1.5, looks like v1.3 doesn't have such issue

[2019-08-05 03:32] sckalman123 opened #3013 "进行分类训练 莫名自动不运行了"
请教下 我用 models/PaddleCV/image_classification/  这个进行分类训练 程序运行了200次左右就不再运行了 这个问题困扰我很久了 哪位大神帮忙看下？
已做的尝试如下  1 增加内存  2 再AIstudio 上训练   3 更换数据集

[2019-08-05 05:03] sckalman123 commented on #3013
Pass 0, trainbatch 109, loss 2.51004,                             acc1 0.21875, acc5 0.50000, lr 0.10000, time 2.75 sec
Pass 0, trainbatch 110, loss 2.18330,                             acc1 0.43750, acc5 0.68750, lr 0.10000, time 2.75 sec
Pass 0, trainbatch 111, loss 2.94438,                             acc1 0.34375, acc5 0.59375, lr 0.10000, time 2.27 sec
Pass 0, trainbatch 112, loss 3.03557,

[2019-08-05 05:10] slf12 commented on #3005
可否提供一下您训练时的超参数以便复现这个问题？

[2019-08-05 05:13] sckalman123 commented on #3013
wsy@wsy:~/suncan/fluid/models/PaddleCV/image_classification$ python train.py        --model=SE_ResNeXt50_32x4d  --batch_size=32        --total_images=4803        --class_dim=6  --image_shape=3,224,224        --model_save_dir=output/        --with_mem_opt=False        --with_inplace=True        --lr_strategy=piecewise_decay        --lr=0.1  --data_dir=/home/wsy/suncan/fluid/python_learn/LearnPaddle

[2019-08-05 06:29] zhizunbao-y opened #3015 "PaddleSlim量化模型加载(arm或x86_64)"
1.目前x86的python API不能加载int8量化模型，是否有计划加入这个API？
2.paddle-mobile可以加载paddleslim导出的mobile模型(大小和int8模型相同)，是否代表paddle-mobile支持int8量化模型，有没有计划更新mobile的doc，给加载量化模型提供一些参考？

[2019-08-05 07:07] wopeizl commented on #3013
是最新的develop分支models么？

[2019-08-05 07:14] ghost commented on #3011
@wzzju @yw1991 I'd like to use bs128. I know that smaller batch size is ok and I have no problem with that.

Could you at least tell me why it doesn't work? Even if I set `FLAGS_fraction_of_gpu_memory_to_use=0.1` and look at `nvidia-smi` I see that Paddle tries to allocate about 1/10 of memory but the suddenly it tries to allocate all of it and next thing - it crashes with error. So my question is

[2019-08-05 07:49] yghstill commented on #2978
@ellinyang 请使用release 1.5版本的ssd，使用multiprocess_reader需要对数据进行全局shuffle，这个影响精度比较大，此问题在release 1.4后已修复

[2019-08-05 08:12] sckalman123 commented on #3013
是的 是用的最新的 develop 分支

[2019-08-05 09:00] zhhsplendid commented on #3011
@gfilipekint , Hi Gabriel

It is a "feature", let me explain it. CUDA API cudaMemAlloc is slow, so PaddlePaddle uses a memory pool to pre-malloc a large GPU spaces and then allocate memory pieces from the pool (in this way, we avoid calling cudaMemAlloc each time). The FLAGS_fraction_of_gpu_memory_to_use=0.1 here means taking the 1/10 of GPU memory to the pool.

However, if your program takes a la

[2019-08-05 09:10] zzchust opened #3018 "yolov3 backbone修改为shufflenetv2后报错"
修改yolov3代码库中的[basemodel](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/yolov3/models/yolov3.py#L125) 为[shufflenetv2](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/models/shufflenet_v2.py)

错误信息：
![image](https://user-images.githubusercontent.com/6135871/62452916-b70ac780-b7a3-11e9-8a5f-8e16140d8182.png)

错误定位：
https://github.com/PaddlePaddle/model

[2019-08-05 09:14] ghost commented on #3011
Ok I understand. Thank you for your explanation.

[2019-08-05 09:14] #3011 closed, assigned to wzzju

[2019-08-05 09:15] zzchust commented on #3018
貌似已解决，请paddle同学确认。

yolov3 将输入参数random_shape默认设置为True，这导致在read训练数据时，同一batch imagesize相同，不同batch imagesize不同。见[readre.py](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/yolov3/reader.py#L250)

而shufflenetv2中的reshape层似乎不支持这种不同batchsize imagesize不同的情况。 （darknet、mobilenetv1中没有reshape层，所有不会出现错误）。 这里将random_shape设置为False就可以了。

不知道是不是这样的？ 希望paddle同学能解答一下。

[2019-08-05 09:22] zzchust commented on #2984
针对普通的分类网络，

只是用自己的网络结果load了一个同事的预训练模型，
1）load pretrained model过程不报错， 开始训练后报错：维度不匹配。
2）不load pretrained model直接训练，不报错
请paddle同学确认： load pretrained model过程是根据参数名进行索引赋值吗？赋值过程中是否有检查pretrain model参数的shape 与 定义的网络参数shape是否一致。

[2019-08-05 09:29] wopeizl commented on #3013
怀疑跟数据集有关系，可能部分图片有问题，可以安装imagemagick工具查（ https://imagemagick.org/index.php）， 然后 find ./ -type f -name "*.png"|xargs identify -verbose|grep png:iCCP: , 如果有输出说明数据集文件有问题

[2019-08-05 09:29] heavengate commented on #3018
reshape里面的height和width是静态的，build_model的时候就确定了的，不支持在训练过程中变化，如果要用reshape的话把random_shape置成False吧

[2019-08-05 09:34] zzchust commented on #3018
最新的动态图构建方式是否支持reshape在训练过程中变化呢？

[2019-08-05 09:40] heavengate commented on #3018
动态图支持的

[2019-08-05 09:40] CerrieJ opened #3019 "PaddleCV/rcnn: Invoke operator conv2d error"
rcnn目录下执行命令：
`python infer.py --pretrained_model=imagenet_resnet50_fusebn/bn2a_branch1_offset --image_path=dataset/coco/val2017/000000527784.jpg --draw_threshold=0.6`

出现以下错误：
`-----------  Configuration Arguments -----------
MASK_ON: False
anchor_sizes: [32, 64, 128, 256, 512]
aspect_ratios: [0.5, 1.0, 2.0]
batch_size_per_im: 512
class_num: 81
data_dir: dataset/coco
dataset: coco2017
draw_thresho

[2019-08-05 09:40] sckalman123 commented on #3013
wsy@wsy:~/suncan/fluid/python_learn/LearnPaddle2/note11/images$ find ./ -type f -name "*.png"|xargs identify -verbose|grep png:iCCP:

[2019-08-05 09:41] sckalman123 commented on #3013
没有任何输出 数据集没有问题  另外我也单侧是测试了只有一点点数据集的图片 运行到20次的时候就出现同样的现象

[2019-08-05 09:49] #3018 closed, assigned to nobody

[2019-08-05 10:09] TingquanGao opened #3020 "Python3 + fluid1.5环境下报错"
该项目在Python3.5 + fluid1.5 环境下报错：

Traceback (most recent call last):
  File "paragraph_extraction.py", line 198, in <module>
    print(json.dumps(sample, encoding='utf8', ensure_ascii=False))
  File "/usr/lib/python3.5/json/__init__.py", line 237, in dumps
    **kw).encode(obj)
TypeError: __init__() got an unexpected keyword argument 'encoding'

并且，显示无法使用GPU。本地已安装并配置GPU相关环境。

[2019-08-05 10:25] sckalman123 commented on #3013
基本上没有改动  就是github 的源码  然后数据集就是建了几个文件夹 放了些确定没问题的图片 麻烦您那边也先试试   我环境是ubuntu 16.04  显卡24G 内存16G  同时再aistuido 上也同样测试过 结果是一样的
这个我是要用在实际项目中的  用你们的paddle 替换tesnsorflow 的 麻烦您那边也试试 并优先解决下。
另外再这里来回发信息 几个小时一句话很浪费时间   能不能加下qq  41485179 沟通？

[2019-08-05 11:53] wangguibao commented on #3019
https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/rcnn

用户下载了预训练模型后，没有train就直接infer了，将预训练的模型指定给infer.py的--pretrained_model参数。

已经让用户严格按README先download预训练模型，再train，再infer的流程执行

[2019-08-05 11:56] endy-see opened #3021 "Enforce failed. Expected numel() >= 0, but received numel():-1179648 < 0:0."
when i use PaddleCV/ocr_recognize to train my own dataset, it occurs error as follow:
________________________________________________________________________________________________________
![image](https://user-images.githubusercontent.com/13143336/62462996-74ed8000-b7bb-11e9-9c56-cab63545c8eb.png)
![image](https://user-images.githubusercontent.com/13143336/62463047-92224e80-b7bb-11e9-87bf-c38d7

[2019-08-05 12:07] wangguibao commented on #3020
请您具体描述一下系统环境，例如：
CPU型号
操作系统版本
paddle版本
python版本
GPU型号，GPU驱动版本，CUDA版本
。。
这些会帮助我们定位问题，谢谢

[2019-08-05 12:12] wangguibao commented on #3021
Hi, would you please copy error info in text format into this issue, I'm having trouble reading the text in your screen snapshots...

But don't worry, I'm looking into it at my best

[2019-08-05 12:28] wangguibao commented on #3021
Also, please describe in detail your training steps and command in each step, including downloading data, downloading pretrained model, training etc.

[2019-08-05 12:40] wangguibao commented on #3020
[code]
这个位置的报错信息也贴一下哈

[2019-08-05 12:51] AnShengqiang opened #3022 "句法分析"
您好，是否可以提供基于ERNIE的句法分析模型？

[2019-08-05 12:52] wangguibao commented on #3013
[code]

这里有个thread报错了。

最后几行报错信息：
[code]
我搜了一下网上说法，多数都是在说图像问题，您可以参考下：
https://blog.csdn.net/weixin_43358444/article/details/83217902
https://github.com/aleju/imgaug/issues/205#issuecomment-441366693
https://stackoverflow.com/questions/52916736/error-215assertion-failed-ssize-empty-in-function-cvresize

所以还是先请您检查一下是否有相关问题？

[2019-08-05 13:10] GeTai opened #3023 "NeXtVLAD模型使用cpu进行预测时（use_gpu=False）出现错误：RuntimeError: code is too big"
我在gpu环境下，能够正确运行NeXtVLAD模型进行预测，但是选择使用cpu（use_gpu=False）后，会出现RuntimeError: code is too big

[2019-08-05 14:01] wangguibao commented on #3023
帮用户补充一些信息：
我在gpu环境下，能够正确运行NeXtVLAD模型进行预测，但是选择使用cpu（use_gpu=False）后，会出现以下错误：
![1](https://user-images.githubusercontent.com/1445888/62470236-9014bb80-b7cc-11e9-8e96-a5d5d854cb64.png)

在使用cpu预测的话，需要特殊的配置吗？

[2019-08-05 14:01] wangguibao commented on #3023
![2](https://user-images.githubusercontent.com/1445888/62470256-a0c53180-b7cc-11e9-9b9b-ad08e74814d1.PNG)

[2019-08-05 15:32] Lizhengo commented on #3006
你好，请问你是pairwise还是point wise?

[2019-08-06 02:01] qujinqiang commented on #3006
@Lizhengo  使用的是cnn_pointwise模型，基于字向量进行训练
cnn_pointwise模型的训练日志中：
INFO: 2019-08-05 10:20:13,741 - run_classifier.py:179 * 139829134092096 device count: 50
INFO: 2019-08-05 10:20:13,742 - run_classifier.py:218 * 139829134092096 start train process ...
INFO: 2019-08-05 10:22:20,348 - run_classifier.py:256 * 139829134092096 global_steps: 1000, valid_auc: 0.527577
INFO: 2019-08-05 10:22:20,361 - run_cla

[2019-08-06 02:14] qujinqiang commented on #3006
@LielinJiang  后来使用 gru_pointwise 模型， 发现训练集loss无法收敛，并且在验证集上准确率逐步下降
训练日志：
INFO: 2019-08-05 11:27:05,680 - run_classifier.py:179 * 139928802641728 device count: 50
INFO: 2019-08-05 11:27:05,681 - run_classifier.py:218 * 139928802641728 start train process ...
INFO: 2019-08-05 11:29:21,588 - run_classifier.py:256 * 139928802641728 global_steps: 1000, valid_auc: 0.903623
INFO: 2019-08-05 11:29:21,600 -

[2019-08-06 03:13] wangguibao commented on #2606
该issue已超过1个月，先关闭了，如有需要可随时重新open

[2019-08-06 03:13] #2606 closed, assigned to wangguibao

[2019-08-06 03:14] wangguibao commented on #2591
该issue已超过一个月，先关闭。如有需要可随时重新open

[2019-08-06 03:14] #2591 closed, assigned to wangguibao

[2019-08-06 03:16] wangguibao commented on #2087
该issue已经超过1个月，先关闭了。如有需要可随时重新open

[2019-08-06 03:16] #2087 closed, assigned to wangguibao, gavin1332

[2019-08-06 03:57] JiabinYang commented on #3007
[code]

[2019-08-06 03:59] wwjjy opened #3025 "paddle slim裁剪+量化 中途报错的问题"
使用Uniform裁剪mobilenet时，裁剪过后的fine-tune训练会报错，错误类型如下：
![e408470d2a61535f56d6b9767f9528d8](https://user-images.githubusercontent.com/20850734/62510314-30a4c300-b841-11e9-8c8c-7c8b4f2eef85.png)
看起来像是裁剪过后的通道数和分组卷积的group数不同导致的，但是如果紧跟着量化训练的话，模型就可以正常的训练。请问这是什么问题呀。具体的配置如下：

[code]

[2019-08-06 05:31] A1exy commented on #3025
请问你量化后或者裁剪后的模型 可以做Inference前项推断吗？

[2019-08-06 05:37] slf12 commented on #3005
我训练的情况是单卡 batchsize=100没有问题，2卡batchsize=64有问题，您可先用单卡进行训练。
我的环境是ubuntu 16.04, cuda 9.0, cudnn 7.5, python 3.7, paddle 1.5.1

[2019-08-06 05:55] A1exy commented on #3025
@wwjjy

[2019-08-06 05:58] wwjjy commented on #3025
只是用裁剪的话，程序就会报错，错误如下：
![image](https://user-images.githubusercontent.com/20850734/62514577-322ab700-b852-11e9-91f5-162a2e3381e0.png)
但是如果上面那个配置，量化后保存的模型，我试了一下 load进来是可以做infer的

[2019-08-06 06:03] A1exy commented on #3025
好的 多谢 @wwjjy
我用这个配置进行uniform裁剪
![image](https://user-images.githubusercontent.com/7035538/62514761-c432bf80-b852-11e9-9a00-30d0be5fdaf7.png)
load进来是做infer报错
![image](https://user-images.githubusercontent.com/7035538/62514781-dca2da00-b852-11e9-87b4-40df8d069665.png)
我换成裁剪Conv试试  谢谢

[2019-08-06 06:04] A1exy commented on #3025
这个PaddleSlim好像没什么人维护  挂了几天的issue没人管  也没人回复  @wwjjy

[2019-08-06 06:07] wwjjy commented on #3025
你在裁剪后的fine tuning中不会报错吗？@A1exy

[2019-08-06 06:08] wzzju commented on #3025
一直在维护，请问哪个issue挂了几天没人管呢？@ A1exy

[2019-08-06 06:10] A1exy commented on #3025
@wwjjy
https://github.com/PaddlePaddle/models/issues/3009
还有这个PaddleCV的
https://github.com/PaddlePaddle/models/issues/2966

可能你们太忙了。。。

[2019-08-06 06:10] wzzju commented on #3025
这个issue我在找prune的开发者跟进，请耐心等待。

[2019-08-06 06:12] A1exy commented on #3025
@wwjjy   我单独蒸馏和剪切都能出模型，蒸馏的infer正常，剪切的infer就是报上面的错误 ，蒸馏剪切还没有一起试过。

[2019-08-06 06:12] wzzju commented on #3025
#3009   这个issue我再催一下prune的人回复，抱歉。

[2019-08-06 06:13] wzzju commented on #3025
#2996 不是PaddleSlim的问题吧？

[2019-08-06 06:14] wwjjy commented on #3025
我发现如果剪切的start_epoch设置是0就不会有这个问题，如果设置的是5就会有我截图的那种错误

[2019-08-06 06:16] A1exy commented on #3025
@wzzju   PaddleSlim就那一个

[2019-08-06 06:33] wanghaoshuang commented on #3025
在对mobilenet做剪切时，不能将`pruned_params`设置为`conv*`， 要设置为`*._sep_weights`, mobilenet中`groups`大于1的卷积不支持剪切。 @A1exy

[2019-08-06 06:37] A1exy commented on #3025
@wanghaoshuang  好的，谢谢。那你看看第一条层主的配置文件，他对mobilenet剪切conv，貌似还得到infer结果了。
BTW，请问save_in_nodes和save_out_nodes是必须的吗？

[2019-08-06 06:39] wanghaoshuang commented on #3009
hi, 你看下你的`checkpoints`路径下是不是有一个`model`文件夹?

`checkpoints`下的`model`保存的是`weights`数据, `strategies`保存的是压缩策略相关的中间数据。load checkpoints的时候要指定到`model`路径。

[2019-08-06 06:41] A1exy commented on #3009
@wanghaoshuang
![image](https://user-images.githubusercontent.com/7035538/62516674-48d40c80-b858-11e9-857d-5b8a7f4cbf01.png)
只有输出的模型，用的是默认的配置

[2019-08-06 06:43] A1exy commented on #3009
![image](https://user-images.githubusercontent.com/7035538/62516753-7c169b80-b858-11e9-9e71-89b4f2610d84.png)
有的

[2019-08-06 06:44] A1exy commented on #3009
但是Infer找不到操作
![image](https://user-images.githubusercontent.com/7035538/62516832-a9fbe000-b858-11e9-9c9c-c49887870f9e.png)

[2019-08-06 06:45] wanghaoshuang commented on #3025
在量化策略里，save_in_nodes和save_out_nodes不是必须的。在保存预测网络时，他们用来指导如何裁剪掉和预测无关的网络节点，如果原始网络就是预测网络，则不需要指定这两个参数。

[2019-08-06 06:47] wanghaoshuang commented on #3009
infer的脚本贴出来看一下？

[2019-08-06 06:49] A1exy commented on #3009
用的是models/PaddleCV/image_classification/infer.py，改了下网络配置等东西
![image](https://user-images.githubusercontent.com/7035538/62517279-a74dba80-b859-11e9-82ae-4df998759d4d.png)

[2019-08-06 06:50] A1exy commented on #3009
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/infer.py

[2019-08-06 06:53] qingqing01 commented on #2983
Fixed in https://github.com/PaddlePaddle/models/pull/2989   另外为了稳定，建议可以使用release分支。 develop开发分支在持续更新。

[2019-08-06 06:54] #2983 closed, assigned to nobody

[2019-08-06 06:56] wanghaoshuang commented on #3009
有两个问题：

1. 在infer.py里要设置`pretrained_model`为`{your path}/checkpoints/7/model`, 才能招到保存的模型的权重文件。

2. 直接用models/PaddleCV/image_classification/infer.py这个脚本load PaddleSlim产出的weights会有shape不一致的问题。原因如下：
     a. infer.py中定义的卷积的shape为被裁剪之前的
     b. 被load的权重文件中的卷积层的参数是裁剪之后的
   可以按如下方式解决shape不一致问题：

## 通过compressor保存inference model

在[compress.py](https://github.com/PaddlePaddle/models/blob/develop/PaddleSlim

[2019-08-06 06:59] A1exy commented on #3009
@wanghaoshuang  pretrained_model我在命令行里设置了。

[2019-08-06 07:00] A1exy commented on #3009
@wanghaoshuang  裁剪完确实有问题，按照你说的试一试。
![image](https://user-images.githubusercontent.com/7035538/62520433-2a720f00-b860-11e9-896e-42dbb3d3f518.png)

[2019-08-06 07:31] wanghaoshuang commented on #3025
@wwjj

![e408470d2a61535f56d6b9767f9528d8](https://user-images.githubusercontent.com/20850734/62510314-30a4c300-b841-11e9-8c8c-7c8b4f2eef85.png)
看起来像是裁剪过后的通道数和分组卷积的group数不同导致的，但是如果紧跟着量化训练的话，模型就可以正常的训练。请问这是什么问题呀。具体的配置如下：

你应该是把PaddleSlim产出的裁剪后的模型加载到train.py脚本中进行fine-tune? 这种情况和inference的问题类似，我这里总结了一下：https://github.com/PaddlePaddle/models/issues/3009#issuecomment-518533047

a. infer.py中定义的卷积的shape为

[2019-08-06 07:40] guoxpl opened #3028 "请问如何在网络里创建一个包含固定值矩阵的variable？"
如题，需要在网络里保存一个固定矩阵

[2019-08-06 07:41] wwjjy commented on #3025
@wanghaoshuang 不是的，在我第一层的那个配置里，裁剪的start_epoch是5，量化的start_epoch是10，那我理解的我那个配置应该是从epoch0-4是在做正常的训练，然后根据裁剪率来对包含conv的参数进行裁剪，然后5-10是对裁剪后的模型进行fine-tuning，然后从10-15是进行量化训练。实际运行中checkpoints中保存的模型有0-4和10-15，缺少了5-9的部分，而这部分就是报出了我截图的那个错误（程序并没有中断）。
我尝试把裁剪的start_epoch改成了0，程序就没有问题了，并且pruned_params参数设置成'conv'，在经过裁剪和量化操作后保存的模型也可以进行infer。
目前我的问题主要有两个：
1. 我对配置的理解对不对？
2.为啥缺失的5-9部分不能训练，但是10-15的量化训练又可以训练，并且从模型大小来看确实进行了比

[2019-08-06 07:46] gavin1332 commented on #3023
使用CPUPlace？

[2019-08-06 07:58] wanghaoshuang commented on #3015
这个正在计划中

paddle-mobile支持int8量化模型，现在paddle正在对paddle mobile进行重构，后续会放出新的版本，会全面支持端上的int8量化模型。

[2019-08-06 08:25] GeTai commented on #3023
已经使用CPUPlace

[2019-08-06 08:50] stard commented on #2563
loss出现上涨时，将学习速率调更小后解决。

[2019-08-06 08:50] #2563 closed, assigned to SunGaofeng

[2019-08-06 08:58] gavin1332 commented on #3028
fluid.layers.fill_constant

[2019-08-06 09:10] stard opened #3029 "视频分类模型中数据集是youtobe-8M的问题"
在跑视频分类attention lstm分类是，发现想测试自己的视频时，需要https://github.com/google/youtube-8m/tree/master/feature_extractor经过youtube-8M抽帧后过一下inception模型，得到视频帧的特征向量，然后在作为attention lstm的输入。

这个为什么这么做，以及以youtube-8M数据集为输入的模型，能不能做成个可输入自己视频呢。

[2019-08-06 09:10] mamingjie-China opened #3030 "文档有误"
文档链接：https://github.com/PaddlePaddle/models/blob/develop/PaddleSlim/docs/usage.md
![d66ddfa2fecad0a18a853043d4fe2edd](https://user-images.githubusercontent.com/52770436/62527062-09fc8180-b86d-11e9-9402-4a45e96737fc.png)
这里应为『该』
![a039de6a479f3a41ec32a02127f1c6b2](https://user-images.githubusercontent.com/52770436/62527095-1a146100-b86d-11e9-8852-1ce3597909a4.png)
这里多了个字

[2019-08-06 10:05] gavin1332 commented on #3029
这个对应哪个模型呢？能给个模型库的链接吗

[2019-08-06 10:40] stard commented on #3029
https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/PaddleVideo/models/attention_lstm
https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/PaddleVideo/models/attention_cluster
这两个应该都是使用的youtube-8M数据集

[2019-08-06 11:16] A1exy commented on #3009
@wanghaoshuang
按照你说的方法通过fluid.io.load_inference_model保存的模型：
![image](https://user-images.githubusercontent.com/7035538/62535526-38368d00-b87e-11e9-963a-f60af1cb1341.png)

然后通过fluid.io.load_inference_model调用（主要代码如下）：
results = exe.run(inference_program, feed={feed_target_names[0]: im2}, fetch_list=fetch_targets)
ret = fluid.io.load_inference_model(dirname='./pruned_model', executor=exe)
inference_p

[2019-08-06 11:35] baiyfbupt commented on #3030
感谢反馈，我们会尽快修正

[2019-08-06 11:53] A1exy commented on #3002
@universea     请问UnicodeDecodeError: 'utf-8' codec can't decode byte 0x80 in position 0: invalid start byte这个问题解决了没？

[2019-08-06 13:04] SunGaofeng commented on #3023
目前排查是cpu版的sequnce pool op报的这个错误，正在查找具体原因

[2019-08-07 01:06] sckalman123 commented on #3013
经测试   由于两个原因引起的   1 存在一张1像素的照片   （程序不够健壮）  2 如果存在（copy） 这种文件名的照片  split 时也会出错

这两点改进后  运行了7+个小时  程序 莫名又挂掉了  只有一个killed 的提示 ，请帮忙提供下办法如果检测这个问题

[2019-08-07 01:53] zdyai opened #3038 "Please specify --config=configure_file_path."
Please specify --config=configure_file_path.
模型训练时报错，请问这个应该怎么解决呢？

[2019-08-07 01:57] qujinqiang commented on #3006
@LielinJiang 能帮忙看下吗？

[2019-08-07 02:00] #3030 closed, assigned to baiyfbupt

[2019-08-07 02:02] LielinJiang commented on #3006
![image](https://user-images.githubusercontent.com/50691816/62588995-635ec200-b8fa-11e9-8e9a-1021b9bb2deb.png)
你是不是@错人了。。

[2019-08-07 02:25] qujinqiang commented on #3006
@LielinJiang  不好意思哈，@错人了

[2019-08-07 02:25] qujinqiang commented on #3006
@Lizhengo  大神啥时候能帮我看看啊

[2019-08-07 02:44] Xreki commented on #3038
请问你在训练哪个模型？能否贴出你训练使用的完整命令？

[2019-08-07 03:15] wanghaoshuang commented on #3002
@A1exy

paddle/fluid/contrib/slim/core/compressor.py中
142 行 with open(file_name) as context_file:
改为 with open(file_name,'rb') as context_file:

https://github.com/PaddlePaddle/Paddle/blob/e5b9753a1895e7221a05e4d15787dd8b720eaad0/python/paddle/fluid/contrib/slim/core/compressor.py#L142

[2019-08-07 03:18] wwjjy commented on #3025
@wanghaoshuang  您好，再帮忙看一下上面我问的问题呗

[2019-08-07 04:54] slf12 commented on #3005
因为这个模型本身训练过程不太稳定，如果学习率不合适会出现梯度爆炸的情况，因此建议用我们已经验证好的超参数进行训练，如果必须用多卡训练，可相应调小学习率。

[2019-08-07 06:02] wanghaoshuang commented on #3025
这个理解是对的

`conv`理论上不会不匹配到任何parameter，所以应该是没做裁剪的。建议你用models repo下默认的pruned_params

[2019-08-07 06:11] A1exy commented on #3002
@wanghaoshuang
该方法有效，谢谢。
还有就是请问下昨天那个Prune后Inference维度不匹配的需求大概什么时候可以上传代码?

[2019-08-07 08:17] Meiyim opened #3043 "BERT 采用fp16预测出错"
paddel: 1.5.1, CUDA9,
在xnli任务上用如下脚本启动finetune(不加载pretrian参数，直接冷启动)会出错。如果加载pretrain参数`--init_pretraining_params ${MODEL_PATH}/params`会出一样的错误。
[code]

报错信息：
[code]

[2019-08-07 08:25] Meiyim commented on #3043
原因：
目前finetune若 --warmup_proportion 0.0 ，aka 常数学习率，会走这个分支：
https://github.com/PaddlePaddle/models/blob/6e12f8a1e734ad2f01169687fe60e95ba60652c0/PaddleNLP/language_representations_kit/BERT/optimization.py#L76

也就是：在fp16下 Adam的LR不能为python scarlar。 这个希望下一版本fix下。

[2019-08-07 08:59] banbishan opened #3045 "ocr_recognition 运行infer报错，看了很久没看出问题"
[code]

[2019-08-07 09:44] Xreki commented on #3045
加载模型参数出错了。

You are not allowed to load partial data via load_combine_op, use load_op instead. at [/paddle/paddle/fluid/operators/load_combine_op.h:100]

意思是说，你的参数是分开存储的，一个参数存一个文件。你加载参数的时候，就不要指定`params_filename`。

[2019-08-07 10:05] banbishan commented on #3045
@Xreki 感谢！！！解决了，之前一直在看这句话，还以为让我换算子。

[2019-08-07 10:05] #3045 closed, assigned to nobody

[2019-08-07 11:41] Xreki commented on #3043
请@kuke 确认下，是否存在这个bug啊？

[2019-08-07 11:43] kuke commented on #3043
前面预测这个bug，拉最新的代码已经修了。后面这个是已知问题，最近会修复

[2019-08-07 11:57] Lizhengo commented on #3006
你好，看了下可能是fc layer那里加了relu激活导致的现象，您看看能不能把relu激活去掉，看看还会不会出现这个情况。
<img width="607" alt="image" src="https://user-images.githubusercontent.com/28192236/62621015-6040f180-b94d-11e9-94ac-0fbeebf2b0c6.png">
把这个relu去掉。然后需要自己再改一下../models/matching/paddle_layers.py文件里FCLayer这个类，把act都去掉
<img width="878" alt="image" src="https://user-images.githubusercontent.com/28192236/62621069-91b9bd00-b94d-11e9-9fe8-b7cea

[2019-08-07 11:59] Lizhengo commented on #3006
因为加了relu所以有可能这个向量就全0了，就可能出现nan, 我这里自己试了下，不加relu目前不会出nan

[2019-08-07 18:48] xyzhou-puck commented on #3022
您好，目前暂时没有句法分析模型，请问是什么类型的句法分析？

[2019-08-08 02:16] Jonxjdong opened #3050 "PaddleCV/Research/landmark推理时报错"
环境
Ubuntu 16.04
RTX 2080Ti
docker:  hub.baidubce.com/paddlepaddle/paddle:1.5.1-gpu-cuda9.0-cudnn7

按 Readme 要求在./pypredict 文件夹编译完PyCNNPredict 等 so文件，将so文件夹移至 ./inference 文件夹下

运行
python infer_retrieval.py test_retrieval res152_arcmargin
报错

Traceback (most recent call last):
  File "infer_retrieval.py", line 10, in <module>
    from PyCNNPredict import PyCNNPredict
ImportError: ./so/PyCNNPredict.s

[2019-08-08 02:53] AnShengqiang commented on #3022
您好，感谢您的回复。我想提取中文句子的主谓宾，就想到了先用句法分析去分析中文句子，得到句子结构，然后根据句子结构去提取主谓宾。

目前一些开源句法分析的准确率不太够，就想着用ERNIE来做。

请问您能给一些建议吗？

[2019-08-08 03:48] Xreki commented on #3038
我grep了一下，你应该是在训练PaddleDetection中的模型，错误信息来源于：

https://github.com/PaddlePaddle/models/blob/f8b4dfed2ad4cd02894b9e59a62ce4ef0801ea53/PaddleCV/PaddleDetection/ppdet/utils/cli.py#L55-L56

文档中提供了训练的示例，请看文档：https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/docs/GETTING_STARTED.md#training

检测库所有的模型配置文件在：https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/PaddleDetecti

[2019-08-08 03:49] zhengya01 opened #3051 "language_model 中 加profile 报错"
环境：
python：2.7.15
paddle：1.5.1
cuda：9
cudnn：7
gpu：P40

执行命令：
python train.py  --profile True --rnn_model static --log_path tmp_log_file --max_epoch 1 --data_path data/simple-examples/data/ --batch_size 8 --save_model_dir models_1 --use_gpu False --model_type test --use_py_reader True --parallel True

报错信息：
/paddle/paddle/fluid/platform/device_tracer.cc:414: error: function dynload::cuptiEnableCall

[2019-08-08 06:01] yw1991 commented on #2876
我就是想利用paddle下面这个模型进行qq-match的操作，就是想拿到相似度高的问题。可是这个效果真的不好，我应该怎么做？谢谢

[2019-08-08 06:02] yw1991 commented on #2876
我就是想利用paddle下面这个模型进行qq-match的操作，就是想拿到相似度高的问题。可是这个效果真的不好，我应该怎么做？谢谢 @zhangyimi

[2019-08-08 06:31] TimeChi opened #3055 "百度之星Demo(int 8量化)改动后，量化失败"
参考的源代码：https://aistudio.baidu.com/aistudio/projectdetail/86232
![Cache_-6cb8d60c727cff60](https://user-images.githubusercontent.com/34909131/62679578-8024f380-b9e7-11e9-96be-74cb2b695558.jpg)
上图是代码结果，代码和源代码不一样的地方就是：源代码读数据用的不是py_reader，而我改成了py_reader。代码如下：
[main.py.zip](https://github.com/PaddlePaddle/models/files/3480121/main.py.zip)
我在多台机器（环境不同）上测试过，发现结果都一样，所以我判断可能是我代码的问题，希望百度的大佬能指点一下，怎么改，非常感谢！
环

[2019-08-08 06:42] Tristan-Hao opened #3056 "导入两个模型进行inference，第二个模型运行出错，请帮忙看看"
[decide.py.zip](https://github.com/PaddlePaddle/models/files/3480167/decide.py.zip)
此文件会导入两个已训练的模型，再对输入的文件分别用这两个模型进行预测。
导入不同模型看起来没有直接报错，但在运行时报了。请看：
![0357b5b7edcaa9f9424cff2aa5046bca](https://user-images.githubusercontent.com/41142435/62680675-59b48780-b9ea-11e9-8576-3080aa3a459c.png)
第一个模型可以正确预测，第二会报错，反过来也试过，同样是第二个出错。
是否是create_eval_program内对每个模型进行定义和导入的方法错误，还是执行器的用法不对，请帮忙指正，多谢

[2019-08-08 06:43] wanghaoshuang commented on #3009
@slf12 你在做yolov3的时候，帮忙看一下剪切的inference?

按[这个方法](https://github.com/PaddlePaddle/models/issues/3009#issuecomment-518533047)看能否复现[这个问题](https://github.com/PaddlePaddle/models/issues/3009#issuecomment-518626101)

[2019-08-08 06:46] TimeChi commented on #3055
环境补充一下：paddlepaddle-gpu==1.5.1.post97，python3.5.2

[2019-08-08 07:03] #3051 closed, assigned to nobody

[2019-08-08 07:12] ZiruiChen opened #3057 "百度之星Demo(int 8量化)baseline model量化后map很低"

[2019-08-08 07:16] ZiruiChen commented on #3057
![D79DF0DEA5340A158019EC15CFEFA562](https://user-images.githubusercontent.com/50459712/62682703-254bc600-ba00-11e9-81b1-645e540b0e47.png)
载入了baselinemodel的参数 loss值5开始 然后保持在十左右 符合demo的输出 但是到evaluation 部分 map很低

[2019-08-08 07:18] ZiruiChen commented on #3057
![1AC97C9F24BF5F08957CBA8DDA3CD7B5](https://user-images.githubusercontent.com/50459712/62682856-765bba00-ba00-11e9-85e9-70c87a60e46c.png)

[2019-08-08 07:40] qujinqiang commented on #3006
@Lizhengo 仍然会出现nan的情况
代码如下：
![image](https://user-images.githubusercontent.com/5249608/62683970-3a215d00-b9f2-11e9-9071-2ae46bfd051a.png)
其中： layers.FCLayer2 即按照您说的去除act； layers.FCLayer 保留为原有形态
其中，softmax_layer 是否去掉softmax，您没说明确； 我尝试使用 layers.FCLayer2，则在验证集验证的时候会报错；因此保留为原始形态
![image](https://user-images.githubusercontent.com/5249608/62684213-ce8bbf80-b9f2-11e9-9237-7c9234e71115.png)

如果softmax_lay

[2019-08-08 07:57] fengbecky opened #3058 "models/face_detection 使用发布模型PyramidBox_WiderFace做预测，发现对图片中的狗脸也框选出来了"

[2019-08-08 07:58] fengbecky commented on #3058
使用命令 ​ python widerface_eval.py --infer=True --confs_threshold=0.15 --model_dir=./pre/PyramidBox_WiderFace --image_path=./images/1.jpg --use_gpu=False

[2019-08-08 08:03] #2523 closed, assigned to shippingwang

[2019-08-08 08:05] #2187 closed, assigned to shippingwang

[2019-08-08 08:05] fengbecky commented on #3058
![10](https://user-images.githubusercontent.com/23503041/62685916-32fc4e00-b9f6-11e9-9fa9-5701e537e847.jpg)
![11](https://user-images.githubusercontent.com/23503041/62685976-558e6700-b9f6-11e9-8527-180993487ea1.jpg)

[2019-08-08 08:07] fengbecky commented on #3058
![6](https://user-images.githubusercontent.com/23503041/62686087-98503f00-b9f6-11e9-8ffa-fa58c5f9a623.png)
![17](https://user-images.githubusercontent.com/23503041/62686106-a605c480-b9f6-11e9-9730-f83929eb066b.jpg)

[2019-08-08 08:21] Tristan-Hao commented on #3056
确认是运行输入数据转换错误，非多模型导入的使用方式问题，不好意思，谢谢。可以关闭了。

[2019-08-08 08:21] #3056 closed, assigned to nobody

[2019-08-08 08:52] liuguolian opened #3059 "paddle代码在gpu环境运行，相同配置有时成功有时失败"
在gpu集群运行ernie模型的预测代码，相同的配置 相同的程序 相同的数据 一次成功一次失败。gpu集群系统同学排查了机器环境每没有问题，烦请paddle同学帮排查下到底是哪里的问题。
jobid分别是d74b7752c02000跟d746b851818000

[2019-08-08 08:58] HLinShan opened #3060 "wgan_loss使用gp的时候报错"
https://github.com/PaddlePaddle/models/blob/v1.5.1/PaddleCV/PaddleGAN/trainer/StarGAN.py 根据stargan 的训练模式train，加入gp_loss 可是一直报错，d_loss+=gp_loss 时候 报错 grad_op_maker_ should not be null ，好像是 gp_loss 梯度截断有问题

[2019-08-08 08:58] HLinShan opened #3061 "wgan_loss使用gp的时候报错"
https://github.com/PaddlePaddle/models/blob/v1.5.1/PaddleCV/PaddleGAN/trainer/StarGAN.py 根据stargan 的训练模式train，加入gp_loss 可是一直报错，d_loss+=gp_loss 时候 报错 grad_op_maker_ should not be null ，好像是 gp_loss 梯度截断有问题

[2019-08-08 09:02] wanghaoshuang commented on #3055
你看下notebook中`print("nmsed_out: {}".format(nmsed_out))`这句输出什么，然后将输出的variable name设置到配置文件中的save_out_nodes中

[2019-08-08 09:04] shuxiaobo opened #3062 "请问下KT-NET代码怎么没有了呢？"
如题

[2019-08-08 10:46] TimeChi commented on #3055
@wanghaoshuang 谢谢您的回答！我又回去看了一下demo里面的说明，确实在4.1 配置int8量化压缩策略发现了这个说明，我的锅，感谢指点！但是我还有一个疑问：关于保存inference模型，如何能让保存的模型的feeded_var_names和target_vars按照自己需要的来，是在哪里设置呢？麻烦您能解答一下，谢谢！

[2019-08-08 11:05] TimeChi commented on #3055
@wanghaoshuang 我详细的看了一下说明：save_in_nodes: 默认为eval_feed_list内指定的variable的名称列表。save_out_nodes: 默认为eval_fetch_list内指定的variable的名称列表。
出现了一点困惑，便打印了这两个变量：
val_feed_list : [('image', 'image'), ('gt_box', 'gt_box'), ('gt_label', 'gt_label'), ('difficult', 'difficult')]
val_fetch_list : [('map', 'inferenceinferencedetection_map_0.tmp_0')]
而nms那个输出为nmsed_out: name: "inferenceinferencemulticlass_nms_0.tmp_0"

[2019-08-08 11:18] sckalman123 opened #3064 "编译出来的模型在ubuntu 上能使用 在android 上加载就报错"
编译出来的模型在ubuntu 上能使用 在android 上加载就报错
demo 使用官方 的http://mms-graph.bj.bcebos.com/paddle-mobile%2FPaddleMobile_Android.zip
没有更改任何代码 只更换了编译出来的model  报错信息如下

2019-08-08 19:07:00.600 22732-22732/com.baidu.paddle I/paddle_mobile LOG built on Jul 12 2018 14:53:45: load invoked
2019-08-08 19:07:00.648 22732-22732/com.baidu.paddle A/libc: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x0 in tid

[2019-08-08 11:20] sckalman123 commented on #3064
https://github.com/yeyupiaoling/LearnPaddle2/tree/master/note15 用这个demo 运行 加载模型报错信息如下

2019-03-20 15:38:50.278 3380-3380/? A/DEBUG: *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
2019-03-20 15:38:50.278 3380-3380/? A/DEBUG: Build fingerprint: 'rockchip/rk3399/rk3399:8.1.0/OPM6.171019.030.K1/141648:userdebug/test-keys'
2019-03-20 15:38:50.278 3380-3380/? A/DEBUG: Revision: '0'
2019

[2019-08-08 11:58] Yinxy1201 opened #3066 "DCGAN模板迁移到Baidu AI Studio平台上不能正确训练"
训练指令!python train.py --model_net DCGAN --dataset mnist --noise_size 100 --batch_size 32 --epoch 10 --print_freq 100
下图为训练到第九轮1600批次的结果，下半部分为生成器输出图形，没有东西
![图片](https://user-images.githubusercontent.com/53502666/62701077-fc363000-ba15-11e9-8713-5c40ab47bb40.png)
同时loss在训练两轮完就不变了
![图片](https://user-images.githubusercontent.com/53502666/62701285-7bc3ff00-ba16-11e9-9dc1-7ee386ea0b75.png)

[2019-08-08 12:27] shippingwang commented on #3058
哈哈哈...调整一下conf_threshold呢？

[2019-08-08 12:32] ceci3 commented on #3060
您好，麻烦贴下paddle的版本，您机器的环境和具体报错信息~

[2019-08-08 12:36] ceci3 commented on #3066
您好，请问是develop分支的代码吗

[2019-08-08 12:38] ceci3 commented on #3066
您好，请问是develop分支的代码吗? 从那一轮开始输出不正常的？

[2019-08-08 12:45] Yinxy1201 commented on #3066
是这个目录下的代码：models/PaddleCV/PaddleGAN/，我将图中注释完，修改了判断就可以训练了
![image](https://user-images.githubusercontent.com/53502666/62704251-7ddd8c00-ba1d-11e9-9641-8f08cfbe0d3a.png)

[2019-08-08 12:47] Yinxy1201 commented on #3066
没注释第三论loss就不变了，不知道是什么原因

[2019-08-08 12:51] Yinxy1201 commented on #3066
还有一个问题就是训练20轮，预测的生成图片效果不太好，如下图
![image](https://user-images.githubusercontent.com/53502666/62704578-4c18f500-ba1e-11e9-9dee-b7436dc9bfce.png)

[2019-08-08 13:04] ceci3 commented on #3066
好的，我排查下问题回复您

[2019-08-08 13:08] shippingwang commented on #3062
请问是什么模型？

[2019-08-08 13:12] HLinShan commented on #3060
您好，paddle版本1.5 cuda 8.0  cudnn_v7
我想要我生成的图片和原生的图片 做一个wgan loss 参考 上面那个链接starGan 做一个 gp_loss
![图片](https://user-images.githubusercontent.com/15689933/62705842-d82c1c00-ba20-11e9-9104-897073209da2.png)
我在gradient_penalty函数里面 改了一些东西，比如我的判别器是 x，style 两张图片cat 传入。

[2019-08-08 13:12] HLinShan commented on #3060
错误信息：
![图片](https://user-images.githubusercontent.com/15689933/62706041-41139400-ba21-11e9-8fa6-ad5cb78b69ec.png)

[2019-08-08 13:16] HLinShan commented on #3060
![图片](https://user-images.githubusercontent.com/15689933/62706211-a9627580-ba21-11e9-8fed-bab75a44c48b.png)
如果把这个 db_loss 这个gp_loss 注释 ，就会卡住不执行也不报错

[2019-08-08 13:19] HLinShan commented on #3060
![图片](https://user-images.githubusercontent.com/15689933/62706476-31e11600-ba22-11e9-9b3b-deb688e5ff5f.png)
计算loss

[2019-08-08 13:20] shippingwang commented on #3061
same as #3060

[2019-08-08 13:20] #3061 closed, assigned to nobody

[2019-08-08 14:13] universea opened #3067 "PaddleDetection中的ssd什么时候可以训练coco数据集呀"

[2019-08-08 14:33] shippingwang commented on #3067
预计下周

[2019-08-08 14:33] #3067 closed, assigned to nobody

[2019-08-08 14:55] brodra opened #3068 "PaddleCV/Research/astar2019/reader.py中的bug"
[PaddleCV/Research/astar2019/reader.py](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/Research/astar2019/reader.py)中第74行有一处bug，代码如下

[code]

[2019-08-09 02:45] ceci3 commented on #3060
报错原因是 double backward的操作并不是所有op都支持，用户在stargan的基础上修改了判别器网络，判别网络中使用了不支持double backward的op，如batch norm，reshape等op，所以会报错GradOp没有注册。

[2019-08-09 03:27] smilejames commented on #3064
模型信息有错误，正在帮忙修复，一会私下发你

[2019-08-09 04:37] luotao1 commented on #3060
`grad_op_maker_ should not be null` 错误信息提示在https://github.com/PaddlePaddle/Paddle/pull/19070 进行优化。

[2019-08-09 07:09] dingsiyu commented on #2156
请问你的第二个问题是怎么解决的呢

[2019-08-09 07:17] #3043 closed, assigned to nobody

[2019-08-09 07:27] zzchust opened #3072 "PaddleSlime量化后的模型是否对server-intelCPU的inference有加速作用"
如题。

目前针对server-intelCPU进行速度优化，希望之后经过paddleslim量化的model，使用paddle-cpu版本进行inference是否会有加速作用？

针对server-intelCPU， paddle有哪些加速策略？
我能想到的： 小型化模型、剪枝、mkldnn加速库

[2019-08-09 09:09] Lizhengo commented on #2876
你好，后续我们会加入finetune（精调）代码，可以基于目前的开源bow在你的数据上做精调，这样效果会好不少，适合你的场景

[2019-08-09 14:12] littletomatodonkey opened #3075 "怎么对tensor进行reshape"
我想将一个tensor(1000x4) reshape为一个(-1x4)的tensor，想问下这个怎么实现呢？

[2019-08-09 14:19] tsaizehua opened #3076 "关于fluid.layers.fc的简单疑问"
![image](https://user-images.githubusercontent.com/2511581/62785340-07ab5900-baf3-11e9-87d7-0e4643767954.png)
pytorch的全链接层示例

![image](https://user-images.githubusercontent.com/2511581/62785362-1560de80-baf3-11e9-91f4-1150db5d632d.png)
paddle的示例，会报错`paddle.fluid.core_avx.EnforceNotMet: Invoke operator mul error.`
但换作是注释行是可以正常执行。

是`mean`跟`fc`这两个OP对数据的要求不一样，还是说`fc`不支持这么写需要初始化w/b之类？

[2019-08-09 14:29] Emma-Ding opened #3077 "求问paddle在做增量训练的时候，没有输入数据，生成的模型是原始的init的模型吗"
求问paddle在做增量训练的时候，没有输入数据，生成的模型是原始的init的模型吗
发现这种情况的模型并不是，不是知道在这种情况下paddle的模型生成机制是什么?

[2019-08-11 03:24] junjun315 commented on #3077
请问没有输入数据是指什么？ 如果是没有训练输入数据，计算图应该运行不起来。如果是增量训练的时候，会有一个加载参数的过程，加载后将是之前训练的结果

[2019-08-11 04:07] Lizhengo commented on #3006
run_classifier.py的优化器前面尝试加上梯度裁剪，并把学习率调小为原来的1/10再试下
<img width="521" alt="image" src="https://user-images.githubusercontent.com/28192236/62829449-34b15600-bc30-11e9-9a18-4da481e98145.png">

[2019-08-11 04:16] Lizhengo commented on #3006
或者fluid.clip.set_gradient_clip(                              clip=fluid.clip.GradientClipByGlobalNorm(clip_norm=1.0))

[2019-08-11 06:51] huihuiustc commented on #2000
现在还是会nan，我以为是我自己写的模型的有问题，后换成官方的源代码，官方提供的预训练模型，训练1轮以后开始出现nan。

[2019-08-11 07:43] huihuiustc commented on #1079
你们跑过几轮后遇到了loss值为nan的情况吗？

[2019-08-11 11:14] littlepan0413 opened #3078 "修改paddle bert报错NameError: global name 'epoch' is not defined"
如题
------------------------------------------------
W0811 18:55:44.980177  2901 device_context.cc:259] Please NOTE: device: 0, CUDA Capability: 35, Driver API Version: 9.0, Runtime API Version: 8.0
W0811 18:55:44.989336  2901 device_context.cc:267] device: 0, cuDNN Version: 6.0.
W0811 18:55:44.989390  2901 device_context.cc:293] WARNING: device: 0. The installed Paddle is compiled with CUDNN 7.1,

[2019-08-11 13:20] tensor-tang commented on #3072
您好，抱歉回复晚了。

是的。
我们与Intel一起合作完成了量化方案，量化的模型可以采用Intel int8的算子，会使用MKL-DNN加速以获取更高的加速效果。

同时，我们与Intel也是长期稳定的合作伙伴，我们的量化模型在其新架构上也可以发挥非常好的性能。

[2019-08-11 13:24] tensor-tang commented on #3075
你好，
可以直接
[code]

具体您可以参考我们reshape的[文档示例](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/layers_cn/nn_cn.html#reshape)

[2019-08-11 14:11] tensor-tang commented on #3076
你好，抱歉回复晚了。

1. 首先，您的错误其实不是`Invoke operator mul error`
真正的错误原因在后面有写，往后面可以看到类似如下信息：
[code]
其表示您fc的weight的参数没有初始化，即缺少这样一句话：`exe.run(fluid.default_startup_program())` 。这个例子在[线性回归](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/beginners_guide/quick_start_cn.html#id5)其实是有的。

2. 其次，如果您加上这个初始化代码之后尝试，可能依然会有错误，但是这时错误不一样了，应该是报出尺寸有问题，其实主要原因是data这里还有一个小错误：`tdata = fluid.layers.data(name='x', shape=

[2019-08-12 02:07] #3023 closed, assigned to wangguibao

[2019-08-12 02:42] junjun315 commented on #3078
如内部沟通，在原来的模型实现里epoch是一个重要的参数，如果需要修改模型结构时涉及该参数变动，请注意修改所有文件

[2019-08-12 02:42] #3078 closed, assigned to nobody

[2019-08-12 03:27] liuzengzhen1 opened #3080 "SSD模型加载预训练模型准确率很低"
1.根据文档下载pascalvoc数据，以及预训练模型
2.调试相应参数执行train.py

-----------  Configuration Arguments -----------
ap_version: 11point
batch_size: 8
data_dir: D:/untitled/pratice/ssd/data/pascalvoc
dataset: pascalvoc
enable_ce: False
epoc_num: 1000
image_shape: 3,300,300
learning_rate: 0.001
mean_BGR: 127.5,127.5,127.5
model_save_dir: D:\untitled\pratice\ssd\model
parallel: 0
pretrained_model: D:\untitled\pratice\s

[2019-08-12 03:35] littletomatodonkey commented on #3075
这个只会影响运行时的shape，不会影响编译时的shape，而且您的这种格式，第一个维度是推断出来的，最后得到的还是1000，我现在想把tensor的shape在编译时就修改为(-1,4)~

[2019-08-12 05:35] tensor-tang commented on #3075
不太理解您这么做的原因，所谓的编译时从（1000，4） 到（-1，4）最后依然会自动去推算那也就是还是1000，所以您想说的到（-1，4）这里的-1是实实在在的-1吗，那也不是reshape了，我们的-1这里就是代表会自动推算。

[2019-08-12 05:39] qingqing01 commented on #3080
1. 如果是训练，参考文档，https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ssd/README_cn.md#%E4%B8%8B%E8%BD%BD%E9%A2%84%E8%AE%AD%E7%BB%83%E6%A8%A1%E5%9E%8B

 建议下载COCO的预训练模型，我们最终release的73.32%的模型，是2个GPU，如下方式训练:

[code]

2.  想看下实际的准确率，可以下载最后发布的模型，下载模型 http://paddlemodels.bj.bcebos.com/ssd_mobilenet_v1_pascalvoc.tar.gz (见文档的最后) ，参考模型评估部分:

https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/

[2019-08-12 06:15] liuzengzhen1 commented on #3080
@qingqing01 我就是参照那个文档做的训练，但是迭代下来准确率很低我上面提供的那样，这样是正常么，我理解在pretrained_model的基础上做训练应该不能这么低吧？数据集就是用的pascalvoc下的VOC2007，按您的建议已经将pretrained_model 改成 pretrained/ssd_mobilenet_v1_coco/，但是效果依然是之前那样？

[2019-08-12 07:40] qingqing01 commented on #3080
@liuzengzhen1  ` pretrained/ssd_mobilenet_v1_coco/` 这不是一个完整的模型，只包含backbone的MobileNet部分，直接用这个做评估，mAP会很低。

看log您是做评估，而不是训练吧？

下面是我复现的结果:

训练的话，用这个做初始化，batch size=64 (保证BatchNorm所需的batch size不能太小), ssd_mobilenet_v1_coco也加载正常的话，log如下，在VOC数据上第一轮的loss大约在39左右:

env CUDA_VISIBLE_DEVICES=0,1 python train.py --data_dir=data/

[code]
如果，您是CPU训练，设置 `export CPU_NUM=2`，再启动训练，并加--use_gpu=False，但CPU训练比较慢。

直接用发布的

[2019-08-12 07:49] xuzhm opened #3085 "PaddleDetection 使用 save_infer_model 后的模型infer报错"
Enforce failed. Expected out_h > 0, but received out_h:0 <= 0:0

_upsample  时， out_shape 为0 ， 怀疑save_infer_model 没有保存获取 shape 的操作 shape_nchw = fluid.layers.shape(input)  导致

[2019-08-12 07:51] wopeizl commented on #3085
贴一下代码吧

[2019-08-12 07:57] xuzhm commented on #3085
![image](https://user-images.githubusercontent.com/6814767/62851584-36a31400-bd19-11e9-880d-d37c207b04bf.png)
这是save_infer_model  代码， 使用的https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/tools/infer.py

![image](https://user-images.githubusercontent.com/6814767/62851593-41f63f80-bd19-11e9-8f79-590f2ae7820f.png)

[2019-08-12 08:05] qingqing01 commented on #3085
@xuzhm 请问您保存模型是如何保存的，输入的shape是多少？ 默认是608x608，您给的输入数据是多大？

[2019-08-12 08:12] banbishan opened #3087 "ocr attention模型在ubuntu可以，但在android下报错"
ocr attention模型在电脑上可以前向运算，但通过save_inference_model保存模型，在android上用c++调用的时候就报如下的错误
![image](https://user-images.githubusercontent.com/13417277/62852352-c0ec7780-bd1b-11e9-8efd-656c8bf2d31e.png)

[2019-08-12 08:16] xuzhm commented on #3085
用示例代码保存的， 输入 shape 是   1， 3，  608， 608

[2019-08-12 09:10] snksnc opened #3088 "关于paddle.fluid.incubate.data_generator.MultiSlotDataGenerator的疑问"
这个类怎么在官网的API中搜不到？我现在想处理一个用pickle保存的DataFrame文件，请问应该怎么做呢？我写了一个版本，但是读进来的貌似不是dataframe格式的。我的代码附在了下面

[2019-08-12 09:10] snksnc commented on #3088
`class TransportDataset(dg.MultiSlotDataGenerator):
    def setup(self):
        self.continuous_range_ = constants.RAW_NUMERICAL_FEATURES
        self.categorical_range_ = constants.RAW_CATEGORICAL_FEATURES
        self.feat_dict_ = pickle.load(open('aid_data/feat_dict.pkl2', 'rb'))

    def _process_line(self, line):
        feat_idx = []
        feat_value = []
        print line
        for id

[2019-08-12 09:34] heavengate commented on #3085
未复现该问题，请检查下你做infer的时候数据读取是否正确，feed数据的shape是否正确

[2019-08-12 09:38] liuzengzhen1 commented on #3080
@qingqing01 非常感谢，我是win10环境，训练的时候Can't pickle local object 'multiprocess_reader.<locals>._read_into_queue'，我看之前有人提过这个issue，是因为多进程reader目前在win上还没有支持所以报错，导致没办法train训练，请问这个问题有修复么，或者更改哪里可以避免这个错误正常训练

[2019-08-12 09:44] liuzengzhen1 commented on #3080
有木有绕行方案

[2019-08-12 09:58] qingqing01 commented on #3080
@liuzengzhen1 最新版本的代码支持设置设置 --use_multiprocess=False

<img width="1090" alt="图片" src="https://user-images.githubusercontent.com/7845005/62857644-bab1c780-bd2a-11e9-93f5-c15a96b0ff86.png">

[2019-08-12 10:00] xuzhm commented on #3085
使用最新版 so  >= 1.5  解决问题，infer 正常

[2019-08-12 10:00] #3085 closed, assigned to qingqing01, heavengate

[2019-08-12 10:18] lea4n opened #3090 "预训练模型的默认学习策略是什么？迁移学习的时候，对于学习策略有什么要求？"
预训练模型的默认学习策略是什么？迁移学习的时候，对于学习策略有什么要求？
lr_strategy: learning rate changing strategy. Default: "piecewise_decay".
pretrained_model: model path for pretraining. Default: None.

[2019-08-12 10:30] #3080 closed, assigned to nobody

[2019-08-12 11:59] littlepan0413 opened #3092 "ernie代码输入结构修改导致np_loss="

[2019-08-12 12:06] #3092 closed, assigned to nobody

[2019-08-12 12:13] littlepan0413 opened #3093 "ernie1.0代码输入结构修改导致np_loss=NoneType"
因实验需要，在paddle bert代码的输入层增加了一层特征，导致loss为NoneType，
一个样本
unique_id: 1000000008
example_index: 8
doc_span_index: 0
tokens: [CLS] life die instrument [SEP] allied successes were marred by the collision of two royal navy helicopters over the persian gulf in which all six british crew members and one american were killed [SEP]
token_to_orig_map: 5:0 6:1 7:2 8:3 9:4 10:5 11:6 12:7 13:8 14:9 15:10 16:11 17

[2019-08-12 12:50] #3068 closed, assigned to nobody

[2019-08-12 13:37] endy-see opened #3096 "GPU is not fully utilized"
when I use PaddleCV/ocr_recognition to train a recognition model, I found my four GPU only used one, other three GPU not be fully used, the result is as follows:

![7610aacf88d8b1906a36bf597](https://user-images.githubusercontent.com/13143336/62868851-27d45580-bd49-11e9-940e-247faec3f936.png)

Can anyone help to solve this problem?

[2019-08-13 02:24] adaxi987 commented on #3057
@ZiruiChen 这个内容可以描述的再清晰点吗，比如跑的什么模型，环境系统配置，这样才能更好的debug问题哈

[2019-08-13 02:31] ZiruiChen commented on #3057
谢谢 我已经解决了

[2019-08-13 02:31] #3057 closed, assigned to nobody

[2019-08-13 02:36] qujinqiang commented on #3006
@Lizhengo  我现在使用的是pairwise模式：
cnn_pairwise  loss 下降尚且比较稳定；验证集准确率初始批次就已经非常高 global_steps: 1000, valid_auc: 0.994309
gru_pairwise、lstm_pairwise 两者 loss 初期先下降、后期又上升； 对应的验证集准确率先升高、后降低

后面，按照您提供的建议使用 fluid.clip.set_gradient_clip( clip=fluid.clip.GradientClipByGlobalNorm(clip_norm=1.0)) 做了梯度裁剪，并且学习率调低
cnn_pairwise、gru_pairwise、lstm_pairwise 训练过程中都存在loss为nan

@Lizhengo 是否跟训练语料有关？ 你那边正确的语料能方便给我一份，我测试下吗？

[2019-08-13 03:33] tsaizehua commented on #3076
@tensor-tang 学习了，非常感谢如此详尽的解答！

[2019-08-13 06:44] SunGaofeng commented on #3090
请问您这边具体指的是哪个模型的使用？

[2019-08-13 06:49] kuke commented on #3093
1. 如果不加这一层embedding是否可以正常跑？
2. 这几行本身没有问题，出错的应该在其它地方

[2019-08-13 06:54] SunGaofeng commented on #3096
By default, PaddleCV/ocr_recognition will run in single GPU. If you want to use multiple GPUs, please use the following command line to start training program.

    env CUDA_VISIBLE_DEVICES=0,1,2,3 python train.py --parallel=True

For more details please refer to the document
 https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ocr_recognition/README.md

[2019-08-13 06:59] liuzengzhen1 opened #3098 "win10 YOLOv3 安装COCO-API报错"
1.参照介绍文档安装报错
`$ make install
# install pycocotools to the Python site-packages
python setup.py build_ext install
running build_ext
skipping 'pycocotools\_mask.c' Cython extension (up-to-date)
building 'pycocotools._mask' extension
error: Microsoft Visual C++ 14.0 is required. Get it with "Microsoft Visual C++ Build Tools": http://landinghub.visualstudio.com/visual-cpp-build-tools
make: *** [Makefi

[2019-08-13 08:33] zzchust commented on #3072
嗯，感谢回复。

是否有量化后的速度对比呢？（GPU/手机端/CPU端），目前只看到了准确度和模型大小的对比。

[2019-08-13 09:01] heavengate commented on #3098
win10安装pycocotools可参考https://blog.csdn.net/dreamer_18/article/details/88065411

[2019-08-13 09:16] lixiangchun opened #3099 "医学文本分词预处理"
非常感谢百度能够提供这么多实用、好用的深度学习模型，现有个问题咨询一下。

我想通过`PaddleNLP/preprocess`下提供的分词预处理脚本`tokenizer.py`对医学文本进行分词，使用过程中发现该脚本依赖于预训练模型`--model_path`、`--word_dict_path`、`--label_dict_path`和`--word_rep_dict_path`等参数。

**我想针对特定的医学文本数据生成上述四个参数所需要的文件**，但不知从何下手。望各位给予帮助和解答，非常感谢。

[2019-08-13 09:25] OOMMYY opened #3100 "operator matmul error"
我根据
https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/language_representations_kit/BERT 中介绍的方法下载 XNLI dev/test set 和 XNLI machine-translated training set，然后解压到同一个目录。
启动 Fine-tuning ， **启动脚本如下**：

[code]

**错误信息如下**：
[code]

[2019-08-13 09:45] YiLing28 opened #3101 "请问IJCAI2019-MMPMS的微博数据集哪里可以下载呢，里面的链接是论文，而论文的数据链接失效了"

[2019-08-13 10:07] banbishan opened #3103 "ocr attention模型用fluid.io.save_inference_model保存模型后，load运行报错"
我在infer.py里加了
path = "./infer_model"
fluid.io.save_inference_model(dirname=path, feeded_var_names=['pixel'],target_vars=[ids])

load运行后报错如下
![image](https://user-images.githubusercontent.com/13417277/62933585-19dc0e80-bdf5-11e9-8277-d023d6228301.png)
load代码：
[code]

[2019-08-13 10:13] SunGaofeng commented on #3100
错误提示信息里面，CUBLAS: arch mismatch
看上去像是您机器里面的cuda版本和paddle的whl包编译时候的cuda版本不一致。
能否提供下：
        （1）paddle是如何安装的，安装版本是多少？
        （2）您机器上cuda和cudnn版本

[2019-08-13 10:21] 0YuanZhang0 commented on #3093
已解决：
问题1）reader数据输入和pyreader读入不一致；
问题2）网络隐层大小配置错误；

[2019-08-13 10:21] #3093 closed, assigned to kuke

[2019-08-13 10:22] 0YuanZhang0 commented on #3093
已解决：
问题1）reader数据输入和pyreader读入不一致；
问题2）网络隐层大小配置错误；

[2019-08-13 10:40] endy-see commented on #3096
Thank you very much! I found that I only set CUDA_VISIBLE_DEVICES=0,1,2,3, but I not set --parallel=True, so It's my fault. Thanks again!

[2019-08-13 10:40] #3096 closed, assigned to nobody

[2019-08-13 10:49] liuzengzhen1 commented on #3098
安装Windows10SDK和.NET框架，默认安装Microsoft Visual 不好使 ，非常感谢支持@heavengate

[2019-08-13 10:49] #3098 closed, assigned to nobody

[2019-08-13 11:02] AnShengqiang commented on #3022
请问以后会有吗？
百度会坚持做paddle及其相关的开源吗？
值得信任吗？

[2019-08-13 11:05] xyzhou-puck commented on #3022
抱歉回复晚了，百度一定会坚持做paddle和其周边的开源项目的。

[2019-08-13 11:06] xyzhou-puck commented on #3022
目前还缺少使用ernie做句法分析的算法，如果方便的话，能否详细描述一下场景，想要解决的问题，句法分析怎么发挥作用等内容？

[2019-08-13 11:11] AnShengqiang commented on #3022
得到您的回复就够了，虽然没有句法分析，但我会继续使用paddle的。
谢谢。

[2019-08-13 11:11] #3022 closed, assigned to nobody

[2019-08-13 12:30] zzchust commented on #3002
mark

[2019-08-13 12:31] zzchust commented on #3001
m

[2019-08-13 12:32] zzchust commented on #2985
@gujingxiao 同学，你的这个问题解决了没

[2019-08-13 12:36] zzchust commented on #2350
同意楼上观点

[2019-08-13 12:52] zzchust commented on #2689
@imistyrain  同学你好，使用paddleslim进行量化检测模型成功了吗？ 能加微信讨论一下吗？微信：zaizhongche

[2019-08-13 12:56] zzchust commented on #2709
@wanghaoshuang hi， 这里如果量化之后，要在server-CPU端做inference应该用哪种模型格式呢？ 量化之后相比量化之前，在CPU上会有速度提升吗？

[2019-08-13 13:06] OOMMYY commented on #3100
安装方法：pip install paddlepaddle-gpu==1.5.1.post87
安装版本： 1.5

 CUDA Capability: 35, Driver API Version: 9.0, Runtime API Version: 8.0
cuDNN Version: 7.1.

[2019-08-13 13:27] wanghaoshuang commented on #3103
应该是你在exe.run的时候给的feed不对，你可以print下file的shape么？

[2019-08-13 13:51] OOMMYY commented on #3100
把cuDNN 从7.0 升级到 7.1后的报错信息如下：
[code]

[2019-08-13 14:03] SunGaofeng commented on #3100
问题解决了
1、第一个问题cublas arch mismath，是因为whl包是用cudnn7.1编的，而本地用的是cudnn7.0，换成7.1后解决
2、第二个问题是因为开了fp16，而fp16目前只有在v100以上的机器才支持，运行时把use_fp16设置为False即可

[2019-08-13 14:08] OOMMYY commented on #3100
你的回答解决了我的问题，非常感谢！

[2019-08-13 14:08] #3100 closed, assigned to nobody

[2019-08-13 18:30] HeYilong0316 opened #3105 "关于ARNOR论文中的数据集"
您好，首先感谢百度飞桨公开的数据集
我对ARNOR这篇论文很感兴趣，最近也在复现这篇论文，但是遇到几个问题想请教一下
1.数据集中entityMentions字段中的start有什么含义吗？
2.dev.jaon和test.json也有部分"is_noise": true的数据，这部分数据在论文里Evaluation时都用上了吗？
3.文中所说的sentencelevel evaluation 和 bag-level evaluation 具体是怎么做呢？这块没太读明白。
再次感谢您

[2019-08-13 18:53] HeYilong0316 commented on #3105
对了 还有一个问题，为什么数据集里是有25中关系，而论文的表格里只有10种呢？
![image](https://user-images.githubusercontent.com/26954768/62968876-9810d300-be3e-11e9-9dec-381f1357399f.png)

![image](https://user-images.githubusercontent.com/26954768/62968904-a6f78580-be3e-11e9-9f58-fd720e2e54d4.png)

[2019-08-13 23:54] daming-lu opened #3106 "最近 LAC 总挂"
之前跑了至少一个月，没有问题，现在总挂。怀疑是 RowwiseAdd 的问题。 @kuke

`*** Aborted at 1565738568 (unix time) try "date -d @1565738568" if you are using GNU date ***          [34/1890]
PC: @                0x0 (unknown)
*** SIGFPE (@0x7f5928dc75bb) received by PID 24783 (TID 0x7f598b8c3740) from PID 685536699; stack trace: ***
    @     0x7f598b4ae890 (unknown)
    @     0x7f5928dc75bb paddle::operators::math::RowwiseAdd

[2019-08-14 02:12] Halfish commented on #3099
tokenizer.py 中的分词就是 lexical_analysis 的项目，可以参考 https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/lexical_analysis

[2019-08-14 02:42] zhengya01 opened #3107 "similarity_net infer报错"
BUG复现步骤：

环境：

linux

python2.7

paddle1.5.1

cuda 9

cudnn 7

命令
sh run.sh infer

报错信息：
start test process ...
Traceback (most recent call last):
  File "run_classifier.py", line 476, in <module>
    main(conf_dict, args)
  File "run_classifier.py", line 457, in main
    infer(args)
  File "run_classifier.py", line 435, in infer
    infer_file.write(_data + "\t" + _pred + "\n")
UnicodeEncodeError

[2019-08-14 04:41] wzzju commented on #3072
可以在paddle的release note里看到int8的性能数据：https://github.com/PaddlePaddle/Paddle/releases （搜索关键字“量化”）。Intel cpu目前支持量化训练产出的模型运行在Intel int8 kernels上。在7个模型上（GoogleNet, MobileNetV1, MobileNetV2, VGG16, VGG19, ResNet50, ResNet101），Intel int8预测引擎推理结果和在FP32 kernels上模拟int8运行相比，精度变化在0.1%以内。然而，量化训练模型在intel cpu上进行推理的性能仍在优化中，目标是与离线量化的性能对齐。目前，离线量化目前的性能为：INT8量化后的ResNet-50/MobileNet v1模型，相比原始FP32模型，性能分别提升至3.7倍/3.0倍 （在支

[2019-08-14 06:26] sserdoubleh commented on #3101
数据集是华为诺亚提供的数据集，因为隐私问题，现在他们已经不提供下载链接了...

[2019-08-14 06:38] YiLing28 commented on #3101
哦哦，谢谢

[2019-08-14 06:38] #3101 closed, assigned to nobody

[2019-08-14 06:40] zzchust commented on #3072
了解了。 希望后续能在针对量化使用有具体的demo。
之前在object-detection的repo中有过，后来这个repo被删除了。

paddleslim的封装层次又太高，使用起来也不灵活。

[2019-08-14 06:40] #3072 closed, assigned to nobody

[2019-08-14 07:04] zakai86 commented on #2000
@qingqing01 是不是你们GPU和CPU版本有较大差异？我在做uniform剪枝的时候，当开启GPU的时候无论如何设置learning rate出来的loss始终是nan；当关闭GPU的时候loss就正常了。

[2019-08-14 07:56] lea4n commented on #3090
ResNeXt50_32x4d

[2019-08-14 08:59] ZiruiChen commented on #2985
同问pruned size 和 pruned flops 我也是0 没有剪裁效果

[2019-08-14 10:11] ZiruiChen opened #3110 "[PaddleSlim] mobilenet_v1_ssd剪裁率是0"
![image](https://user-images.githubusercontent.com/50459712/63013504-b4108500-becf-11e9-8040-6f08ded81118.png)
如图 pruned size 和pruned flops 是0 没有剪裁效果

[2019-08-14 10:12] ZiruiChen commented on #3110
![image](https://user-images.githubusercontent.com/50459712/63013577-db675200-becf-11e9-8b4b-a8cc1f5cfe31.png)
附上config

[2019-08-14 10:14] ZiruiChen commented on #3110
![image](https://user-images.githubusercontent.com/50459712/63013636-00f45b80-bed0-11e9-81b6-d8a9ac639595.png)
pruned_params: '*._sep_weights' 的原因

[2019-08-14 10:15] ZiruiChen commented on #3110
@wanghaoshuang

[2019-08-14 10:53] ZiruiChen commented on #3110
@wzzju

[2019-08-14 11:06] o0Monica0o opened #3111 "neural_machine_translation/transformer没有models.py文件"
没有找到model.py文件，下载的big_model及base_model是替代models.py文件吗？如何使用big_model及base_model文件

[2019-08-14 11:10] AIaiAIaiAIaiAI opened #3112 "attention_lstm模型无法运行"
运行官网两种test方式都报错，
![I{K81RIH(Q55JY48(DZMCIU](https://user-images.githubusercontent.com/48506731/63016681-e23d9700-bec6-11e9-8af9-860ed27738c8.png)

下载的是youtube8m的frame格式文件，并且已经转成了pkl格式的。

[2019-08-14 11:43] cucumberpieces commented on #2957
请问这个demo大致什么时候能开源呀

[2019-08-14 12:15] Lizhengo commented on #3107
你好，在run_classifier.py开头import codecs, 然后在433行那里改成codecs.open(args.infer_result_path, "w", "utf-8")再试试？
<img width="611" alt="image" src="https://user-images.githubusercontent.com/28192236/63020315-5e88a800-bed0-11e9-9dd8-214de8e03881.png">

[2019-08-14 12:39] wwjjy opened #3113 "BERT predict_classifier.py脚本保存的inference_model需要怎么使用load使用"
我想通过load_inference_model函数来加载模型参数，然后进行预测，代码如下：
args = parser.parse_args()
place = fluid.CPUPlace()
exe = fluid.Executor(place)
task_name = args.task_name.lower()
processors = {
    'xnli': reader.XnliProcessor,
    'cola': reader.ColaProcessor,
    'mrpc': reader.MrpcProcessor,
    'mnli': reader.MnliProcessor,
}

processor = processors[task_name](data_dir=args.data_dir,

[2019-08-14 12:49] hutuxian commented on #3113
使用py_reader进行预测，需要重新定义一下网络，然后只load参数(使用load_persistables或者load_params接口）。

[2019-08-14 13:20] AIaiAIaiAIaiAI commented on #3112
查看了pkl的文本，显示应该是没问题的，分帧过了
![1565788741(1)](https://user-images.githubusercontent.com/48506731/63024132-2f2a6900-bed9-11e9-95aa-8c10f06185f9.png)

[2019-08-14 14:50] ZiruiChen commented on #3110
https://github.com/PaddlePaddle/models/issues/2985#issue-475066410

[2019-08-14 14:59] ZiruiChen commented on #3110
![image](https://user-images.githubusercontent.com/50459712/63031640-a8d14f80-bef7-11e9-91b2-4bc1ed7c8839.png)
尝试改变pruned_params 可以剪裁第一步 之后报错
![image](https://user-images.githubusercontent.com/50459712/63031610-9525e900-bef7-11e9-83d9-26b9840d51df.png)
![image](https://user-images.githubusercontent.com/50459712/63031745-d918ee00-bef7-11e9-9e55-f55afc4721f6.png)

[2019-08-15 02:51] hutuxian commented on #3111
感谢使用PaddlePaddle~
在这里：
https://github.com/PaddlePaddle/models/blob/develop/PaddleNLP/models/neural_machine_translation/transformer/model.py

[2019-08-15 02:55] Xreki commented on #3060
https://github.com/PaddlePaddle/Paddle/pull/19070 已经merge。但https://github.com/PaddlePaddle/Paddle/pull/19070 是通过`proto`拿到op的type，然后在报错信息中予以提示。double grad这种情况，其`proto`为null，因为报错里面也无法提供真正的type信息。

[2019-08-15 03:23] sanfengliu commented on #2638
借楼，我想发表一下我的观点。
我用paddlepaddle也已经两个月了，刚一开始跟楼主的观点一样。发现这么多开源的项目像发现宝藏一样，终于觉得说，中国BAT企业上升到了一个新高度。
开始集成验证一下好不好用吧(填坑的开始).....
语音识别因为场景复杂，识别最困难，验证工业级水平再好不过。就先从DeepSpeech2开始。因为我是想集成在tornado上的，看了很多遍README_cn，但是每次看到建议用docker，我就有一种不好的预感，这个坑可能很深。
1.（只支持Python 2.7）  小意思，毕竟python2.7 跟python3.X没什么大差别，忽略不算事
2.（PaddlePaddle最新版本(请参考安装指南)）  巨坑，2017年的项目怎么可能用2019年的最新版本也可以，毕竟只支持python2.7。踩坑多年心里有数，然而就找相应版本。找到相应版本发现，居然项目支持

[2019-08-15 03:35] A1exy commented on #3009
@wanghaoshuang @baiyfbupt    请问这个问题是存在的吗？

[2019-08-15 03:40] xyzhou-puck commented on #3106
daming，你好，很高兴为你服务，我会把你的问题转给负责LAC的同事，并且能否麻烦你提供一下数据，运行命令，运行环境等内容呢，谢谢。

[2019-08-15 03:47] xyzhou-puck commented on #3062
您好，据我了解，KT-NET已经基本准备好了，近期应该会开源

[2019-08-15 03:52] intgogo commented on #2638
@sanfengliu 有必要解释下我试用paddle的情况。
我开发的一款交通领域的产品(图像检测、分类，文字识别等)，经过半年的努力，使用的算法都是开源精品中的精品（不吹牛，产品已上市，并已成行业标杆），因此比较挑剔，作此尝试也为了更上一层楼；
再者我仅是集成算法，并无算法自研能力，为了达到‘最佳’，同时引入了tensorflow、pytorch、mxnet、darknet等各种框架，打包发布约5G，因此paddle说明书中的各种能力、各种强大，让我着实很想试一试，丢脸的说一句，当时我兴奋得跟身边的伙伴们吹牛逼，终于找到了‘一直寻找的框架’；
结果呢：
原来吹牛逼的不止我一人，还包括闻名天下的百度嘟嘟嘟嘟...

[2019-08-15 06:22] Lizhengo commented on #3006
对你的训练数据做个shuffer, 我看你那都是训练到6000步后开始异常，建议把id打出来看看是不是训练数据的问题。

[2019-08-15 07:39] githubusr1 opened #3115 "gan例子infer错误"
我使用https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/PaddleGAN，里的infer.py和https://paddle-gan-models.bj.bcebos.com/stargan_G.tar.gz的预训练模型去预测老是出错：
C++ Callstacks:
Enforce failed. Expected in_dims[1] == filter_dims[1] * groups, but received in_
dims[1]:16 != filter_dims[1] * groups:8.
The number of input channels should be equal to filter channels * groups. at [D:
\1.4.1\paddle\paddle\flui

[2019-08-15 07:54] WangTaoSpace opened #3116 "关于fluid.layers.detection 中函数使用的疑问"
detection_output 这个函数的功能是否等同于  box_coder（解码）+ multiclass_nms
我针对官方ssd模型的输出利用上面两种方法获取nms_out进行比较发现差距比较大。部分代码如下
1.
[code]
2.
[code]
如果第一种方法有误，望指点正确的操作，谢谢。

[2019-08-15 07:55] nbcc commented on #2993
是基于开源代码直接测试的结果对吧？

针对这个实现 https://github.com/PaddlePaddle/models/blob/ff28150ad982cd96eb4af6ee717813c8f72f6700/dygraph/transformer/train.py#L1136

是否数据并行？是否是 pyreader？是否使用 multi_process ?

贴一下配置吧。

[2019-08-15 09:19] qujinqiang commented on #3006
@Lizhengo  我看代码里面有做了shuffer的

   train_batch_data = paddle.batch(
            paddle.reader.shuffle(
                train_reader, buf_size=10000),
            args.batch_size,
            drop_last=False)

[2019-08-15 09:59] DDDivano commented on #2993
使用官方源码，官方模型库代码，没有改动

[2019-08-15 11:00] wanghaoshuang commented on #3110
在你的配置文件中，需要改下quatization_strategy的start_epoch, 让quatization_strategy在prune_strategy之后一个epoch执行。

而且从效果上看，剪裁之后，一定要先训练几个epoch再做量化训练。

非常抱歉，我们会根据您的反馈完善下文档。

[2019-08-15 11:02] wwjjy opened #3117 "ELMo 的train.py脚本中貌似有错误哦~"
train.py的第392行的training_role变量貌似没有定义就直接被使用了~
还有就是我 想通过命令行的方式将local参数改为false，但是程序运行还是true，如下：
<img width="1021" alt="image" src="https://user-images.githubusercontent.com/20850734/63090843-1da39880-bf8f-11e9-9e4e-5ebfb264e6c0.png">

[2019-08-15 11:03] Lizhengo commented on #3006
我的意思是你对你原始的数据手动做一次shuffer，使得这次数据顺序和你出错的这几次不一样。如果这次就不会在6000步出错，那就是训练数据有问题

[2019-08-15 11:05] DDDivano commented on #2993
这个是应RD要求，加速比只算的是计算时间的速度比，没有包括Reader的时间

[2019-08-15 11:42] sandyhouse commented on #3115
把改动的地方发一下吧 @githubusr1

[2019-08-15 12:05] adaxi987 commented on #2638
@sanfengliu 您好，非常感谢您对飞桨（PaddlePaddle）的关注，抱歉我们给您带来了不好的使用体验，我们非常重视每一位用户的提出的问题和建议，针对您遇到的问题，研发团队进行了分析，有以下结论：
1.我们已经在DeepSpeech Repo里的Readme做补充说明，告知当前在使用或之后想要使用DeepSpeech2模型的用户该模型当前的适配环境，目前建议您在Docker容器中运行该项目。之后官方会提供支持飞桨（PaddlePaddle）最新版本的DeepSpeeech模型
2.感谢您对飞桨（PaddlePaddle）的支持，我们也欢迎您届时尝试使用我们基于Paddle最新版本的DeepSpeech2模型，期望您能补充更新使用评价。此外，也诚邀您加入我们飞桨官方技术交流qq群：432676488 ，能够更及时的和我们交互信息，谢谢！

飞桨（PaddlePaddle）开源团队

[2019-08-15 12:08] sandyhouse commented on #3117
关于training_role变量这个，感谢反馈，我会反馈给相关同学。
关于local参数，如果想设置为false的话，默认就是false，不需要在命令行指定。否则的话，不论设置成false或者true，其取值都是true，这是python的argparse模块的问题。

[2019-08-15 14:03] vison20080808 commented on #2815
请问修复情况怎么样？

[2019-08-15 17:14] daming-lu commented on #3106
找到问题了：

![11211](https://user-images.githubusercontent.com/5635322/63112589-6e8e9f00-bf45-11e9-9029-edc2f4d00cff.png)

LAC 遇到空字符的输入就会crash。 表情包都不会挂😆。但是 '      ' 会挂~

[2019-08-16 01:38] ZiruiChen commented on #3110
好的 但是修改了epoch之后 剪裁效果还是0呢 希望完善剪裁策略后能通知下我

[2019-08-16 02:10] githubusr1 commented on #3115
@sandyhouse

[testganinfer.zip](https://github.com/PaddlePaddle/models/files/3507805/testganinfer.zip)
[data_reader.zip](https://github.com/PaddlePaddle/models/files/3507807/data_reader.zip)

[2019-08-16 03:05] duanlin0505 opened #3120 "/models-1.5/PaddleCV/image_classification执行infer和eval报同样错误"
[image_classification]$ fluid infer.py
/home/hicqa/paddle/paddle_release_home/python/lib/python2.7/site-packages/sklearn/externals/joblib/_multiprocessing_helpers.py:38: UserWarning: [Errno 13] Permission denied.  joblib will operate in serial mode
  warnings.warn('%s.  joblib will operate in serial mode' % (e,))
-------------  Configuration Arguments -------------
                class_dim : 1000

[2019-08-16 03:10] wanghaoshuang commented on #3110
[code]

你可以按以上配置试一下，或这你把你修改epoch后的配置贴一下？

[2019-08-16 03:29] sandyhouse commented on #3116
![image](https://user-images.githubusercontent.com/6737864/63141591-e7aaf680-c018-11e9-8599-a1847450aada.png)
detection_output本身的实现也是通过box_coder和multiclass_nms实现的。可以对比下方法1的实现是否有diff。

[2019-08-16 03:31] sandyhouse commented on #3116
decoded_box = box_coder(
        prior_box=prior_box,
        prior_box_var=prior_box_var,
        target_box=loc,
        code_type='decode_center_size')
    scores = nn.softmax(input=scores)
    scores = nn.transpose(scores, perm=[0, 2, 1])
    scores.stop_gradient = True
    nmsed_outs = helper.create_variable_for_type_inference(
        dtype=decoded_box.dtype)
    helper.append_op(
        ty

[2019-08-16 04:04] ZiruiChen commented on #3110
这个配置剪裁也是0
你可以在这个代码上用剪裁的config测试
https://aistudio.baidu.com/aistudio/projectdetail/86232
我也是在这用的

[2019-08-16 04:47] kahitomi commented on #3105
感谢对我们论文和数据的关注，我来解答一下：
1. start字段没有什么特殊含义，是继承自前人数据，我们没有使用~
2. 在论文里面没有提测试集的降噪效果，我们认为训练集的降噪效果更能代表降噪效果
3. bag-level evaluation的预测方式是使用含有一对实体的所有句子进行关系预测，可以参考Multi-instance相关的文章~。而sentence level的只要一句话进行预测，实用范围更广
4. 数据集的关系数量是训练集和测试集一起算的吧，论文里统计的只是人工标注的测试集~

[2019-08-16 05:00] HeYilong0316 commented on #3105
@kahitomi感谢您的回答，所以论文表3中的结果是没有应到测集中is_noise=true的样本是吗？
降噪测试是用测试集里随机抽的的干净和噪声混合数据作为训练集，然后预测后在人工审查噪声数据是否被标注正确是吗？

[2019-08-16 05:30] shuxiaobo commented on #3062
@xyzhou-puck Get, Thx~

[2019-08-16 05:30] #3062 closed, assigned to nobody

[2019-08-16 06:54] ceci3 commented on #3120
您好，您有指定 --pretrained_model 这个参数吗？

[2019-08-16 07:01] githubusr1 commented on #3115
@sandyhouse

[2019-08-16 07:03] githubusr1 commented on #3115
@sandyhouse  testganinfer.py data_reader.py见上面附件zip

[2019-08-16 08:06] JesseyXujin commented on #3117
感谢反馈，这个确实是问题，我们这边排期修复一下吧，会把training_role和local变量去掉。

[2019-08-16 09:07] imistyrain opened #3121 "量化结束后未保存任何模型"
使用的代码如下，但是并没有任何模型保存下来
[code]
config：
[code]

[2019-08-16 09:11] wanghaoshuang commented on #3121
log中有错误提示么？

[2019-08-16 09:15] imistyrain commented on #3121
没
[code]

[2019-08-16 10:06] kahitomi commented on #3105
您好...论文的表3是关系分类效果...降噪效果是表6，降噪效果的数据来源也在表6的介绍里了...具体数据在可以下载的V2版本数据里可以找到...

[2019-08-16 11:29] smilejames commented on #3064
该预测模型保存有点问题，本地验证 fluid 1.5 和mobile 都无法run起来。可以按照夜雨飘零群里同步的方式重新保存模型

[2019-08-16 11:38] ceci3 commented on #3115
您好，stargan中需要的卷积的backward of backward功能是paddle1.5才支持的，可以先升级一下paddle试下~

[2019-08-16 11:39] wwjjy opened #3123 "DeepCTR 的数据读取问题"
如题，DeepCTR的reader是不是针对raw data写的，而不是preprocess写的，使用preprocess处理过数据后，数据存储的格式和raw data不一样，但是reader的读取方式看起来应该时读取raw data的方式~

[2019-08-16 11:40] zzchust commented on #3009
请问paddle-slim到底能否正常使用“剪切”？  看了相关issue，我都不敢用了。

[2019-08-16 11:52] ceci3 commented on #3123
您说的preprocess指的是？

[2019-08-16 11:54] wwjjy commented on #3123
这个项目提供的preprocess脚本啊，https://github.com/PaddlePaddle/models/blob/develop/PaddleRec/ctr/preprocess.py 这个

[2019-08-16 11:54] slf12 commented on #2815
建议您先用cuda8, 我们最近会排期解决这个问题

[2019-08-16 11:57] WangTaoSpace commented on #3116
感谢，GitHub上有源码我竟然没看，麻烦了。

[2019-08-16 11:57] #3116 closed, assigned to nobody

[2019-08-16 11:58] ceci3 commented on #3123
<img width="683" alt="屏幕快照 2019-08-16 下午7 57 43" src="https://user-images.githubusercontent.com/29245900/63166166-23b57a00-c060-11e9-82bc-ff4732d2f480.png">
这个文件好像是集群训练时用到的

[2019-08-16 11:58] ceci3 commented on #3123
这是中文版的readme   https://github.com/PaddlePaddle/models/blob/develop/PaddleRec/ctr/README.cn.md

[2019-08-16 12:02] wwjjy commented on #3123
<img width="992" alt="image" src="https://user-images.githubusercontent.com/20850734/63166326-a9392a00-c060-11e9-84fb-db838d8d9710.png">
那希望可以在这里明确一下~  本地的训练不需要这一步

[2019-08-16 12:05] ceci3 commented on #3115
您好，可以发下运行命令吗？

[2019-08-16 12:44] ceci3 commented on #3115
是因为预训练模型是5个label，所以直接加载这个预训练模型预测13个label的图片会报错，要测试13个label的图片的话，需要重新训练13个label的模型

[2019-08-16 12:59] endy-see opened #3124 "error: function dynload::cuptiEnableCallback( 1, subscriber_, CUPTI_CB_DOMAIN_RUNTIME_API, cbid) failed with error CUPTI_ERROR_INVALID_PARAMETER"
My docker image:
<img width="1405" alt="1" src="https://user-images.githubusercontent.com/13143336/63169460-7182b000-c069-11e9-9ec4-6651ce37f29b.png">
My System info:       Ubuntu 16.04.5 LTS \n \l
My CUDA Version:   CUDA Version 10.0.130

When I run PaddleCV/ocr_recognition model, there is a problem:
<img width="1202" alt="2" src="https://user-images.githubusercontent.com/13143336/63169488-82cbbc

[2019-08-16 14:41] AIaiAIaiAIaiAI opened #3125 "yolov3训练自己的数据，无法读取图像数据"
我在utility.py中更改了数据根目录和数据集，同时，在read.py中更改了自己的json文件地址
![image](https://user-images.githubusercontent.com/48506731/63174510-a6e0cb00-c074-11e9-8d8d-163895d02a1e.png)

![image](https://user-images.githubusercontent.com/48506731/63174611-e27b9500-c074-11e9-83f6-cd282694779c.png)
运行命令指定了参数，
![image](https://user-images.githubusercontent.com/48506731/63174851-62096400-c075-11e9-9ce1-61579ddd2200.png)
但是

[2019-08-16 15:54] vincentXiyu commented on #2813
第一个问题可能能用『把test_batch_size设置比较小』来绕过去，不太确定是否普适，可以试试

[2019-08-16 18:30] HeYilong0316 commented on #3105
@kahitomi 您好，不好意思可能我表述的不太清楚，其实想问的是数据里is_noise有什么具体含义吗？是表示该数据是噪音数据吗？在表3的关系分类效果预测的时候是否需要去除这部分数据？谢谢！

[2019-08-17 02:24] githubusr1 commented on #3115
@ceci3
谢谢答复，我把label数改5了(c_dim=5)，有新的错误，详细错误信息见附件。这个怎么解决。
C++ Callstacks:
Cannot find fetch variable in scope, fetch_var_name is g at [D:\1.4.1\paddle\pad
dle\fluid\operators\controlflow\fetch_op.cc:37]
PaddlePaddle Call Stacks:
Windows not support stack backtrace yet.
[outprint.txt](https://github.com/PaddlePaddle/models/files/3511532/outprint.txt)

[2019-08-17 06:45] githubusr1 commented on #3115
@sandyhouse

[2019-08-17 08:32] githubusr1 commented on #3115
解决了，谢谢。

[2019-08-17 08:32] #3115 closed, assigned to ceci3

[2019-08-17 09:45] AIaiAIaiAIaiAI commented on #3112
上个问题自己解决了，但是用infer.py得到的result.pkl看起来很奇怪，因为test文件夹下的pkl文件都是很有结构的数据，就像这样
![image](https://user-images.githubusercontent.com/48506731/63209681-b6185500-c116-11e9-9145-a6ca66c75eb7.png)
能看到标签之类的东西。
但是完成infer，打开result.pkl，长这样，看不明白，这是啥意思？
![image](https://user-images.githubusercontent.com/48506731/63209673-941ed280-c116-11e9-8d7d-ebb371398f70.png)

[2019-08-18 05:12] HoyTiger opened #3127 "如果我想在训练时获取训练的损失值，梯度等信息并传给另个一正在训练的模型该怎么做？"
我能不能打破paddlepaddle封装的exe.run()方法来实现联邦学习？

[2019-08-18 09:57] mzchtx opened #3128 "PaddleDetection 中 DataFeed 中的 `target_size` 是否可改成配置或参数形式？"
如下图所示，ppdet 中的 DataFeed 的中，对 `target_size` 参数使用了硬编码的形式，导致修改输入到网络的 tensor 的 shape 不是很方便，改成在 config 里配置或者参数的形式是否更合理？

![image](https://user-images.githubusercontent.com/37564754/63222931-c0068a80-c1e0-11e9-9a8b-3ded7d6e0158.png)

另外，此处[model zoo doc](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/docs/MODEL_ZOO.md)存在一个拼写错误，可以顺便改了
![image](https://user-images.githubuserc

[2019-08-18 12:13] TimeChi opened #3129 "关于训练网络时，内存占满问题"
使用代码框架是改自官方ssd代码https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/ssd，仅仅修改了backbone。
也就是读取数据是用的异步读取py_reader
具体情况：同样的代码
　　　　　在RTX2080TI，６４G内存条下，CPU多线程只能开４个，此时显卡利用率较高９０左右。若再多开线程，则程序占用内存会不断增加，直到内存占满。然后一段时间后内存全部释放，程序不动了，也不打印错误，也不终止。
                  在GTX１080TI，６４G内存条下，CPU只能单线程，此时显卡利用率一会０一会９０以上。若再多开线程，则程序占用内存会不断增加，直到内存占满。然后一段时间后内存全部释放，程序不动了，也不打印错误，也不终止。
py_reader参数：
py_reader = fluid.layer

[2019-08-19 02:06] SunGaofeng commented on #3112
infer输出的结果result.pkl保存的是 video_id, top20_probility, top20_class.
比如 上面截图中‘tf8l’是video_id，[17, 2, 19, ..., 129]是预测概率最大的20个分类，而[0.82405, 0.517724, 0.50124, ...]等则是跟这些分类对应的概率，class 17对应的概率是0.82405， class 2 对应的概率是0.517724

[2019-08-19 02:24] mmglove commented on #3124
docker中是不是没有安装nccl2，请参考https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/beginners_guide/install/install_Ubuntu.html安装。
![image](https://user-images.githubusercontent.com/38800877/63235315-7f078800-c26b-11e9-81b1-84e62a9944d4.png)

[2019-08-19 02:31] kahitomi commented on #3105
Sorry，is_noise在测试集当中代表当条数据在人工标注前是不是噪音，在所有的关系分类的测试训练中均未使用这个信息。当然表三中也没有使用

[2019-08-19 02:49] heavengate commented on #3125
python train.py --use_multiprocess=False 看下报啥错

[2019-08-19 02:53] ceci3 commented on #3066
抱歉，之前代码迁移过程中出现了点问题，可以拉下最新的代码试下~

[2019-08-19 03:02] ceci3 commented on #3123
好的，我记录一下~ 这个issue我先关闭了，有问题您可以再打开。

[2019-08-19 03:02] #3123 closed, assigned to ceci3

[2019-08-19 03:35] zzchust opened #3130 "SSD训练coco数据出现NAN错误"
![image](https://user-images.githubusercontent.com/6135871/63237625-52586e00-c275-11e9-9696-fbb72d7fe82c.png)

SSD的backbone改为shufflenetv2之后训练coco数据集，在前54个epoch均正常，后续突然出现nan错误，不知道是否有遇到过？

[2019-08-19 03:36] zzchust commented on #3130
目前会使用示例代码用mobilenetv1直接在coco进行训练，看是否出nan

[2019-08-19 04:59] endy-see commented on #3124
单卡训练也需要装nccl么

[2019-08-19 05:34] A1exy commented on #3009
@zzchust   我这边实验是能剪切，不能Inference 。然后百度的人也不确认问题也不回复，建议先别用。

[2019-08-19 05:51] mmglove commented on #3124
我不太清楚单卡必须安装nccl不，我之前遇到过找不到libcputi.so问题，按照链接上说明安装了nccl2就OK了。你可以试试。

[2019-08-19 06:04] TimeChi commented on #3130
我也是改了backbone后，loss降到了６左右后，出现了nan情况

[2019-08-19 06:23] endy-see commented on #3124
已经安装了nccl2，还是会报上面的错误

[2019-08-19 06:25] qingqing01 commented on #3130
@zzchust @TimeChi  请问你们换了backbone之后，有加载初始化模型吗？

[2019-08-19 06:26] endy-see commented on #3124
![WX20190819-142541](https://user-images.githubusercontent.com/13143336/63243505-56908580-c28d-11e9-9282-fbf5d3a8fa17.png)

[2019-08-19 06:28] TimeChi commented on #3130
没有加载预训练模型

[2019-08-19 06:31] ZiruiChen commented on #3110
@wanghaoshuang 所以是paddleslim还剪裁不了这个ssd模型吗

[2019-08-19 06:38] HeYilong0316 commented on #3105
@kahitomi 了解了，谢谢您

[2019-08-19 06:41] fengchun1213 opened #3137 "更换optimizer恢复训练"
先使用Adadelta训练，使用save_persistables保存模型，现在想换adam继续训练，但是由于adam参数多了，比如moment，那么请问应该怎么加载之前训练的模型呢？

[2019-08-19 07:00] zhaoyuchen2018 commented on #3128
请检测库同学看看能否改进一下

[2019-08-19 07:05] zhaoyuchen2018 commented on #3127
exe.run目前没有这种功能，你可以尝试下把损失值和梯度保存为临时变量，然后再送给另外一个模型。

[2019-08-19 07:17] Yinxy1201 commented on #3066
您好，我查看了下，代码没变化，实验结果也没变，请问是在这个链接下的程序吗https://github.com/PaddlePaddle/models/tree/release/1.5/PaddleCV/PaddleGAN

[2019-08-19 07:18] liuzengzhen1 opened #3138 "SSD模型源码fluid.layers.py_reader方法参数问题"
想学习下paddle下了SSD的开源模型代码，里有涉及这个异步读取数据方法，对应api文档没有太看懂，具体代码如下：
`py_reader = fluid.layers.py_reader(
            capacity=64,
            shapes=[[-1] + image_shape, [-1, 4], [-1, 1], [-1, 1]],
            lod_levels=[0, 1, 1, 1],
            dtypes=["float32", "float32", "int32", "int32"],
            use_double_buffer=True)`
主要是shapes这个参数，和lod_levels 实际应用传的什么呢，没有理解这4个参数具体对应的是什么

[2019-08-19 07:24] liupluswei commented on #3138
关于API的使用问题可以参考一下官网文档：

https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/layers_cn/io_cn.html#py-reader

https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/user_guides/howto/basic_concept/lod_tensor.html

[2019-08-19 08:31] wanghaoshuang commented on #1360
可以用readelf –l XXX.so 查看一下1.5 release so里program header的TLS：

[code]
Mkldnn/mklml动态库里都只有32字节的TLS；Paddle inference库则有0x14b0=5296字节的TLS。

[2019-08-19 08:44] ceci3 commented on #3066
https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/PaddleGAN   这个链接是最新的代码

[2019-08-19 08:59] zzchust commented on #3130
@TimeChi  我有加载初始化模型（imagenet-pretrained）

[2019-08-19 09:09] zzchust commented on #3009
@A1exy  我帮你问一下

[2019-08-19 10:38] liupluswei commented on #3137
可以用https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/io_cn.html#load-params

[2019-08-19 10:47] fengchun1213 commented on #3137
多谢！！！

[2019-08-19 10:48] #3137 closed, assigned to nobody

[2019-08-19 11:57] AIaiAIaiAIaiAI commented on #3125
上个问题自己解决了，数据的问题。请问下我要是想用自己的数据集训练，除了在--class_num中定义类别个数，还需要改哪里？比如filter之类的?
现在是这样
![image](https://user-images.githubusercontent.com/48506731/63263535-7ccd1a00-c2bb-11e9-96b5-865cf6b7f5f0.png)
dim_x这个255是从哪里来的？

[2019-08-19 11:58] AIaiAIaiAIaiAI commented on #3125
上个问题自己解决了，数据的问题。请问下我要是想用自己的数据集训练，除了在--class_num中定义类别个数，还需要改哪里？比如过滤器之类的？
现在是这样，奇怪 dim_x这个依然是255,应该是=coco类别数80＋1+4=85，再乘以3得到的255。但是我debug了好久，都没找到应该在哪里改这些
![image](https://user-images.githubusercontent.com/48506731/63263617-b00fa900-c2bb-11e9-939b-781574ea5fc6.png)

[2019-08-19 11:59] ceci3 commented on #3124
latest-dev版本的docker镜像目前不会报这个错，但是这个镜像默认没有安装paddle，可以通过pip install来安装，可以先试用这个镜像试下

[2019-08-19 13:30] Yinxy1201 commented on #3066
结果很好了，辛苦

[2019-08-19 14:05] zzchust commented on #3110
![image](https://user-images.githubusercontent.com/6135871/63271552-fe797380-c2cc-11e9-9b1a-fd4d53f85651.png)
同样的问题，裁剪的flops和size均为0.

config使用提供的示例文件
https://github.com/PaddlePaddle/models/blob/develop/PaddleSlim/configs/filter_pruning_uniform.yaml
https://github.com/PaddlePaddle/models/blob/develop/PaddleSlim/configs/filter_pruning_sen.yaml

[2019-08-20 00:15] gujingxiao commented on #2985
剪枝这里我已经趟了一部分坑，目前可以总结一下：1. 我之前发的问题，是我有个地方没有配置对，就是剪枝层名字，那里配对了，其实从理论上说就可以进行剪枝了。 2. 但实际上，改好了也会出问题，具体问题有，如果bn层和对应的conv层在定义权重名字时，只是单纯定义了层的名字，而没有定义具体prattr的名字时，会导致axis不正确的问题，导致剪枝出错，但是程序还是会按照原始网络进行训练，这时与正常训练无异 3. 当进行ssd剪枝，如果要裁剪的层，与loss或者multi box这种特殊处理层相连时，会出现our of index的情况，如果要裁剪的层只是正常进行上下层卷机或池化连接，则没有问题。4. 所以要使用ssd正常进行剪枝，不仅要把对应的weights名字取好，还要设计好架构，这一切目前都需要用户自行修改，修改后当然也就没有了预训练模型，相信询问这类问题的朋友都是参加百度之星的，所以这个坑

[2019-08-20 00:35] wanghaoshuang commented on #2985
@gujingxiao 首先，很抱歉没能及时关注到您的这个issue. 感谢您对Paddle的支持。

- 如果只定义层的名字
这一层的parameter命名为在层名字上添加后缀，比如`conv2d(name="resnet_conv1")`, 对应这一层的(filter weight)的名字为`resnet_conv1.w_0`, bias的名字为`resnet_conv1.b_0`。
- 如果不指定层的名称，则会自动命名。
- 指定param_attr的名字：则该层的parameters的名字就是用户指定的名称。

PaddleSlim中的剪切功能依赖网络中parameters的命名。您可以通过以下方式查看您所定义网络的所有parameters的名称。

[code]

因为对卷积的channel进行裁剪，会影响到下一个卷积层或其它操作，所以，并不是所有卷积层都适合裁剪，所以需要用户指

[2019-08-20 00:45] wanghaoshuang opened #3144 "[PaddleSlim] Support list of parameters in pruning strategy"
fix #2985

[2019-08-20 00:52] wanghaoshuang commented on #3110
@ZiruiChen @zzchust 抱歉，PaddleSlim中的剪切功能依赖网络中parameters的命名。
models repo中release的配置只适用于MobileNetV1中parameter的命名，在MobileNet-SSD网络中，MobileNet部分的parameter的命名可能有变化，所以默认的配置匹配不到要裁剪parameters。

您可以通过以下方式查看您所定义网络的所有parameters的名称。

[code]

[2019-08-20 00:53] wanghaoshuang commented on #3110
https://github.com/PaddlePaddle/models/issues/2985#issuecomment-522805443

[2019-08-20 00:55] wanghaoshuang commented on #3110
理论上是支持裁剪的，只是需要先看下ssd中各层parameters的名称，然后设置合适的`pruned_params`.

[2019-08-20 02:23] listenlink opened #3145 "使用DGC训练ResNet50出现NAN"
* paddle版本：1.5.1
* models版本：release/1.5
* 训练脚本：models/PaddleCV/image_classification/dist_train
使用nccl2在单机8卡V100训练resnet50，fp32在90epoch精度正常 top1@76.3，增加enable_dgc=True参数进行训练，实验多次在第38个epoch左右loss出现NAN，后续精度全部错误。
log如下：
![image](https://user-images.githubusercontent.com/5974551/63312574-8cd51000-c334-11e9-8bb6-5fe0de283629.png)

训练脚本如下：
[code]

[2019-08-20 02:28] lijun900302 opened #3146 "dcn添加偏置，出现Nan错误"
### `_**paddle.fluid.core.EnforceNotMet:**_ Invoke operator auc error.`
Python Callstacks:
  File "/usr/lib64/python2.7/site-packages/paddle/fluid/framework.py", line 1712, in append_op
    attrs=kwargs.get("attrs", None))
  File "/usr/lib64/python2.7/site-packages/paddle/fluid/layer_helper.py", line 43, in append_op
    return self.main_program.current_block().append_op(*args, **kwargs)
  File "/

[2019-08-20 02:32] wanghaoshuang commented on #3009
关于infer的问题：
以下代码为保存剪枝后的MobileNetV1模型，然后再做infer

## 保存模型

[code]

## load inference model

以下代码修改自：https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/infer.py
[code]

输出如下：
[code]

后续，我们会再实验下MobileNetSSD。

[2019-08-20 02:43] zzchust commented on #3009
@A1exy  MobileNetSSD采用剪枝后模型进行infer，我这边是正常的。只是剪枝失败，相关[issue](https://github.com/PaddlePaddle/models/issues/3110)已经有人在这里回复了。

[2019-08-20 02:56] zzchust commented on #3110
@wanghaoshuang  辛苦回复！ 昨天发现了这个问题。

@ZiruiChen
大家如果急需在mobilenet-ssd的剪枝功能，有两点：
1）可以将mobilenet-ssd的backbone修改为image_classification中的[mobilenet.py](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/models/mobilenet.py)这样剪枝参数'.*_sep_weights'就是符合预期的，只是这样就没有在coco上预训练的模型了。
2）load当前mobilenet-ssd的pretrain参数，然后修改每层参数的命名，将要修改的参数统一加上"sep_weights'"的后缀。
（这个地方我不是很熟悉怎么改）

[2019-08-20 02:58] zzchust commented on #3025
@A1exy

https://github.com/PaddlePaddle/models/issues/3110#issuecomment-522832124

[2019-08-20 03:16] wanghaoshuang commented on #2742
配图问题已修复。
文档问题内部商讨后暂不处理。

[2019-08-20 03:28] lijun900302 opened #3147 "paddle怎么初始化d维度的偏置W，W需要学？"
x + W; X 和W 维度相同；x为输入，W是需要学的偏置权值，W怎么初始化？tf可以这么做   tf.get_variable(name=, shape=）

[2019-08-20 03:42] A1exy commented on #3009
@zzchust    好的，谢谢。

[2019-08-20 03:42] #3009 closed, assigned to wanghaoshuang, baiyfbupt

[2019-08-20 04:01] qingqing01 commented on #3129
@TimeChi 方便将你复现代码push到github上吗？ 我们拉下来复现、看下是什么问题导致的？

[2019-08-20 04:08] TimeChi commented on #3129
因为这个是竞赛代码，所以不方便上传到github，但是可以私下发给你们供测试用，我qq1007890785

[2019-08-20 04:10] qingqing01 commented on #3130
@zzchust @TimeChi   检测模型一般都需要加载分类的预训练模型。

@zzchust 看你上面log已经训练了54个epoc，能先观察中间模型的预测效果如何吗？ 一般来说检测模型，加载了分类预训练模型，训练一些epoc后，预测可视化效果是能看到有效的检测框的，先看下没有出nan之前是否在正常收敛？ 如果没有，觉得加载的初始化模型、前面的训练可能就有异常。 否则，出NaN问题，您训练环境是什么？ batch size、GPU卡数是多少？

[2019-08-20 04:37] qingqing01 commented on #3128
@mzchtx  实际是可以config里配置的，为了简化config，避免后续改动，导致config需要大量的改动，我们去掉了config里对数据预处理的配置。

1. 在config里加，可以参考:

https://github.com/PaddlePaddle/models/pull/3095/files#diff-b32b0421358b237c922fa43549224cfa

[code]

2. 也可以命令行里更改，如下示例，下面命令可运行

[code]

[2019-08-20 05:00] OliverLPH commented on #3103
我试了一下确实确实 attention这个模型跑不起来，ctc可以。

[code]
报错提示的是 feed op和 feed_targets不匹配。

代码如下
save_inference_model
[code]

load_inference_model
[code]

[2019-08-20 05:01] yghstill commented on #3138
@liuzengzhen1
在SSD的repo下[Code](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ssd/train.py#L109)中py_reader真正读入的数据包括image, gt_box, gt_label, difficult。在`fluid.layers.py_reader`里shapes里第一个参数表示batch_size大小，默认-1，第2-5个参数分别表示image, gt_box, gt_label, difficult的维度。
在shapes下无法确定是否是变长数据，所以使用lod_levels字段来获取数据是否是变长的，`lod_levels=[0, 1, 1, 1]`中0表示不是变长，1表示是变长数据，这四个值分别对应image, gt_box, gt_label, diff

[2019-08-20 05:25] mzchtx commented on #3128
这个方法可行，谢谢

[2019-08-20 05:49] wanghaoshuang commented on #3147
这是一个矩阵乘的例子：
[code]

[2019-08-20 05:57] wanghaoshuang commented on #3121
查看下test_prog中是否有`read_file_0.tmp_0`和'detection_output_0.tmp_0'？
[code]

[2019-08-20 05:59] wanghaoshuang commented on #3121
可以在你的python site-package下find到这个文件，https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/contrib/slim/quantization/quantization_strategy.py#L200

并在第200行之前添加log，看下是否执行了save_inference_model那一句。

[2019-08-20 06:13] wanghaoshuang commented on #3146
建议您通过在网络中插入[Print op](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/layers_cn/control_flow_cn.html#print)定位出现异常的具体某一层。另外，出现NAN也有可能是脏数据导致的。

[2019-08-20 07:38] zzchust opened #3148 "如何将pretrained-model的参数名称与模型配置文件中的层一一对应"
现有一模型的配置文件以及对应的pretrained model，pretrained model的参数名称由系统默认赋予。

现在修改模型的配置文件，对每层的参数赋予自定义名称，如何将这些自定义的名称pretrained model参数一一对应起来呢？

[2019-08-20 08:05] shippingwang commented on #3145
分布式训练可以参考下 [PaddlePaddle/Fleet](https://github.com/PaddlePaddle/Fleet) 分类中已经移除dist代码

[2019-08-20 08:07] chaosfish opened #3149 "LAC模型 lexical_analysis(）函数特殊字符会崩溃，建议增加参数的容错性"
# 现象:
当:lac.lexical_analysis()函数接收到包含空格字符串时崩溃。
# 版本
[code]
# 重现代码
[code]
# 崩溃信息
[code]

[2019-08-20 08:45] MornJ opened #3151 "DeepASR中infer_by_ckpy.py接口错误"
我碰到了两个问题
1. 其他issue里面提到过的DeepASR/data_utils/util.py里面没有lodtensor_to_ndarray的问题，我用了paddle/Paddle/python/paddle/fluid/tests/unittests/test_dynrnn_static_input.py里面的_lodtensor_to_ndarray来替代，这样有没有问题？
2. 在infer_by_ckpt.py里会碰到下面的问题：
Traceback (most recent call last):
  File "../../infer_by_ckpt.py", line 273, in <module>
    infer_from_ckpt(args)
  File "../../infer_by_ckpt.py", line 197, in infer_from_

[2019-08-20 09:42] heavengate commented on #3125
只是用darknet53 pretrain权重训练的话指定--class_num就可以了
fine-tune的话文档里有描述，请参考文档
![yolo](https://user-images.githubusercontent.com/12605721/63336499-d1cb6780-c371-11e9-8826-ad47470755d0.png)

[2019-08-20 09:44] Angus07 opened #3152 "训练出core"
我有个程序，这个程序有两个网络a和b，我有两台机器A和B，都装了paddle1.5，cuda版本一样，输入一样。现在a在A上跑通，在B上core；b在B上core，在A上core。如果B换成1.5.1，则b在B上跑通，a在B上core。
提示：Segmentation fault (core dumped)

[2019-08-20 11:45] listenlink commented on #3145
@shippingwang  是这份代码吗 https://github.com/PaddlePaddle/Fleet/tree/develop/benchmark/collective/resnet， 这份代码怎么开启DGC模式呢？

[2019-08-20 12:09] listenlink commented on #3145
@shippingwang dist代码单机8卡fp32可以跑，但是增加了enable_dgc 参数就出现了nan，这份带dgc的参考代码是否已经通过了精度验证？或者有其他可用的dgc 做resnet训练的参考代码？

[2019-08-20 12:30] imistyrain commented on #3121
经查系由中途修改config文件中的end_epoch所致，checkpoint文件中也存有end_epoch的值且大于后来设定的值，在on_epochend中认为尚未到达训练结束的点，所以未保存模型。

[2019-08-20 12:30] #3121 closed, assigned to wanghaoshuang

[2019-08-20 13:37] universea opened #3154 "Floating point exception (core dumped) 求关注!"
复现了ThunderNet，双阶段目标检测，用到了faster_rcnn的anchor_generator和proposal相关api，backbone单独拿出来训练是没问题的，但是整个模型一起训练的时候出现Floating point exception (core dumped)
![e332d4ec04df7da1cf8cdb18c2fa33e](https://user-images.githubusercontent.com/13444641/63351896-ad33b780-c392-11e9-964b-fd5a07224bba.png)
![1ce78400ee43f42af27301dd6570fef](https://user-images.githubusercontent.com/13444641/63351904-aefd7b00-c392-11e9-89b3-b

[2019-08-20 14:57] ZiruiChen commented on #3110
@wanghaoshuang 通过构建名称对合适的层剪切之后用score.py 跑会有shape error 的报错

Accumulating evaluation results...
DONE (t=17.31s).
 Average Precision  (AP) @[ IoU=0.50:0.95 | area=   all | maxDets=100 ] = 0.000
 Average Precision  (AP) @[ IoU=0.50      | area=   all | maxDets=100 ] = 0.000
 Average Precision  (AP) @[ IoU=0.75      | area=   all | maxDets=100 ] = 0.000
 Average Precision  (AP) @[ IoU=0.50:0.95 | area

[2019-08-21 02:24] yghstill commented on #3129
@TimeChi  已验证官方SSD repo下代码，num_works=16情况下，内存没有增长的情况，训练在P40上两卡顺利完成。改过后的私有代码待验证。

[2019-08-21 02:44] epylice opened #3155 "在icnet中的cityscapes数据集应该选择哪一版本？文档说明不清楚啊？"
README中介绍的需要自己下载cityscape数据集，但是官网很多不同大小内容版本，不知道选择哪一个进行下载

[2019-08-21 02:55] zzchust commented on #2985
![image](https://user-images.githubusercontent.com/6135871/63398669-e30f8500-c400-11e9-9b21-3a8028a8a739.png)

![image](https://user-images.githubusercontent.com/6135871/63398951-b6a83880-c401-11e9-808e-fb3c63f53a12.png)

![image](https://user-images.githubusercontent.com/6135871/63399068-ef481200-c401-11e9-90d2-0c891ff60980.png)

报一个bug，对mobilenet-ssd进行剪纸时，使用uniform_filter是正常的，使用sen_filter就有问题。

[2019-08-21 04:09] wanghaoshuang commented on #2985
@zzchust 感谢反馈，这个错误是算法内部对方程求解没有处理特殊情况，我们会尽快修复下这个问题。多谢。

[2019-08-21 05:24] ZiruiChen commented on #3110
mobilenetSSD用该方法保存模型 依旧有shape error的问题

[2019-08-21 07:01] wanghaoshuang commented on #3110
麻烦 @slf12 在检测模型上验证下save_inference_model和load_inference_model的流程？

[2019-08-21 08:37] Shixiaowei02 commented on #3152
具体代码段贴一下，谢谢。最好能给一个可复现的单测。

[2019-08-21 09:02] xiongbinbtbu opened #3157 "预测结果不稳定，预测结果也不对"
训练代码:
label = fluid.layers.data(name='label', shape=[1], dtype='int64', lod_level=0)
index = fluid.layers.data(name='index', shape=[1], dtype='int64', lod_level=1)
feature = fluid.layers.data(name='feature', shape=[1], dtype='float32', lod_level=1)

预测代码:
std::unique_ptr<ZeroCopyTensor> input_index = predictor->GetInputTensor("index");
input_index->Reshape({1, 1});
// 设置LOD
std::vector<std::vector

[2019-08-21 09:03] xiongbinbtbu opened #3158 "预测结果不稳定，预测结果也不对"
训练代码:
label = fluid.layers.data(name='label', shape=[1], dtype='int64', lod_level=0)
index = fluid.layers.data(name='index', shape=[1], dtype='int64', lod_level=1)
feature = fluid.layers.data(name='feature', shape=[1], dtype='float32', lod_level=1)

预测代码:
std::unique_ptr<ZeroCopyTensor> input_index = predictor->GetInputTensor("index");
input_index->Reshape({1, 1});
// 设置LOD
std::vector<std::vector

[2019-08-21 09:07] Shixiaowei02 commented on #3158
请问能否 freeze 一下预测模型，我们复现问题

[2019-08-21 09:28] OliverLPH commented on #3103
发现问题了，ctc模型的 `feed_var_names = ['pixel']`
而attention模型的 `feed_var_names = ['init_ids', 'pixel', 'init_scores']`

[code]
这样save的模型就可以load进去了

[2019-08-21 12:43] tz28 opened #3160 "关于DIN模型中attention部分实现问题"
论文attention中的out product是外积的意思吗？
论文中attention是将  [hist, target_expand, out product（hist，target_expand)]做了个拼接。而paddle中代码实现却是concat = fluid.layers.concat( [hist, target_expand, hist - target_expand, hist * target_expand], axis=2)
请问out product（hist，target_expand）和hist - target_expand, hist * target_expand之间存在什么关联？谢谢

[2019-08-21 12:50] TimeChi commented on #3130
@qingqing01 我的情况是:出现nan之前训练保存下来的模型的map,一直都是有增长的，loss也不断降低，然后突然出现一个nan后，接下来就一直nan。
我的环境是ubuntu16.04, batch_size是６４，单卡RTX2080TI，CPU多线程开了４个。
补充问题，有没有预训练模型和nan有直接关系么？会不会是paddle框架某些函数的鲁棒性不行，还需要再调整一下？

[2019-08-21 14:41] xiongbinbtbu commented on #3158
已提供，麻烦有空帮忙看看，谢谢！

[2019-08-22 02:33] wwjjy opened #3162 "量化后模型的保存问题"
在使用paddle slim进行量化训练时，发现量化后保存的模型结构如下图所示：
<img width="513" alt="image" src="https://user-images.githubusercontent.com/20850734/63481361-c8ecaa00-c4c7-11e9-98aa-f7a8d9ba63b9.png">
训练阶段有没有哪个参数可以让模型保存的时候，保持原来的模型结构不变，也就是不保存图中的fake_quantize_abs_max和fake_dequantize_abs_max。或者可以在模型load进来后，通过哪种操作可以达到上述目的。

[2019-08-22 02:41] banbishan commented on #3103
hello, @OliverLPH，非常感谢回复。

[2019-08-22 02:48] ZhangC2 opened #3163 "使用fluid.layers.concat出现梯度问题。"
使用fluid.layers.concat出现以上梯度问题。
![image](https://user-images.githubusercontent.com/32633299/63483509-3819cc80-c4cf-11e9-8058-bde893fd87c5.png)
相关代码如下：
![image](https://user-images.githubusercontent.com/32633299/63484201-6e584b80-c4d1-11e9-828b-914d815010d8.png)

[2019-08-22 03:31] slf12 commented on #3110
我试了下在mobilenet_yolov3检测模型上进行剪切，剪切参数设置为‘conv2.*_sep_weights', 剪切率设为0.01, 通过查看参数，conv2_1_sep_weights从（64，32，1，1）剪为（32，32，1，1），conv2_2_sep_weights从（128，64，1，1）剪为（64， 32，1，1），由此可见，裁剪是可以正常工作的。

然后通过save_inference_model保存模型，
![image](https://user-images.githubusercontent.com/8036226/63483514-3cde8080-c4cf-11e9-85c7-8621a111f578.png)
可以正常保存，

加载load_inference_model进行inference，可以正常运行拿到检测的bbox输出。
![image](

[2019-08-22 03:37] Shixiaowei02 commented on #3160
请教 NLP 模型同事后回复此 issue。

[2019-08-22 03:38] slf12 commented on #3110
您好，您给我发的邮件里只有score.py文件，我看你这里报错的是utils.py, 要不你把代码都给一下？

[2019-08-22 03:47] kiols6 opened #3165 "YoloV3的Darknet53有了，什么时候可以上线一个Tiny-yolo？"
YoloV3的Darknet53有了，什么时候可以上线一个Tiny-yolo？

[2019-08-22 03:49] wzzju commented on #3162
您好！您做了量化就需要这些fake_quantize op，这些op提供了int8计算所需的scale，在fluid中load量化模型无法删除fake_quantize_abs_max和fake_dequantize_abs_max等op，因为删除了也不能正确运行量化模型。如果您有特殊需求，您需要修改加载进来的模型，在删除fake_quantize_abs_max和fake_dequantize_abs_max这些op时需要将这些op中提供的scale传入相应的int8计算kernel。我们的PaddlLite预测库加载量化训练得到的模型时会使用[QuantDequantFusePass](https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/core/mir/fusion/quant_dequant_fuse_pass

[2019-08-22 03:58] wwjjy commented on #3162
@wzzju  您好，『如果您有特殊需求，您需要修改加载进来的模型，在删除fake_quantize_abs_max和fake_dequantize_abs_max这些op时需要将这些op中提供的scale传入相应的int8计算kernel』能不能详细的说明一下具体怎么做嘞，辛苦您啦

[2019-08-22 04:02] ZiruiChen commented on #3110
您好

score.py 跑分所用到的代码都在这里面
https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/Research/astar2019

我给你的代码里面也有打印出剪切参数 是能够剪切成功的 但是保存的模型使用score.py去跑分运行 也就是百度之星比赛用于检测压缩程度的 而不是infer.py这个脚本
用score.py跑会出现shape error的报错

------------------ Original ------------------
From:  "Liufang Sang";<notifications@github.com>;
Send time: Thursday, Aug 22, 2019 11:38 AM
To: "PaddlePaddle/models"<models@norep

[2019-08-22 04:13] #3103 closed, assigned to wanghaoshuang

[2019-08-22 04:32] wzzju commented on #3162
抱歉，我具体也没有这么做过。您具体可以参考PaddlLite预测库中与您的特殊需求相关的代码：[QuantDequantFusePass](https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/core/mir/fusion/quant_dequant_fuse_pass.cc)和[QuantDequantOpFuser](https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/core/mir/fusion/quant_dequant_op_fuser.cc)。

[2019-08-22 05:46] zhhsplendid commented on #3163
嗨，请问能提供更多模型环境，配置，log等信息吗？

[2019-08-22 06:13] ZhangC2 commented on #3163
![image](https://user-images.githubusercontent.com/32633299/63490139-86869580-c4e6-11e9-8b4f-f8982b72633f.png)
![image](https://user-images.githubusercontent.com/32633299/63490169-a0c07380-c4e6-11e9-96aa-0d49a543712e.png)
所有的报错log如图所示，图二是报错代码部分，模型版本paddle1.3。去掉concat部分，将cross_entropy，代码能够正常运行

[2019-08-22 06:55] slf12 commented on #3110
通过分析发现，在对infer_program进行summary时，filter的shape是剪枝以后的shape，输入输出的shape是模型定义时的shape，也就是在进行剪枝前的shape，因为在exe.run的时候会重新对输出shape进行推断，所以没有出问题，但是在对infer_program进行summary的时候出现了问题。

你发我的compress_test_model.ipynb 是训练模型保存模型的代码吗？我找一下为什么会出现这个问题。

[2019-08-22 07:09] MaxWellerVladimir opened #3166 "自建数据集，COCO格式，进行rcnn中mask-rcnn模型训练错误，尝试清除GPU缓存，但并没有效果Insufficient GPU memory to allocation. at [/paddle/paddle/fluid/platform/gpu_info.cc:262]"
Traceback (most recent call last):
  File "train.py", line 258, in <module>
    train()
  File "train.py", line 112, in train
    exe.run(fluid.default_startup_program())
  File "/home/gpu-server2/anaconda3/envs/CNdetection/lib/python3.7/site-packages/paddle/fluid/executor.py", line 651, in run
    use_program_cache=use_program_cache)
  File "/home/gpu-server2/anaconda3/envs/CNdetection/lib/python

[2019-08-22 07:29] ZiruiChen commented on #3110
你好 训练模型保存模型的代码我发给你了 就是那个ipynb文件

------------------ Original ------------------
From:  "Liufang Sang";<notifications@github.com>;
Send time: Thursday, Aug 22, 2019 2:55 PM
To: "PaddlePaddle/models"<models@noreply.github.com>;
Cc: "离殇"<384225624@qq.com>; "Mention"<mention@noreply.github.com>;
Subject:  Re: [PaddlePaddle/models] [PaddleSlim] mobilenet_v1_ssd剪裁率是0 (#3110)

您好 score.py 跑分所用到的代码都在这里面 h

[2019-08-22 07:54] lijun900302 commented on #3147
def cross_network(x0,slot_num):
        xl=x0
        for l in range(cross_layers):
            xlw=paddle.fluid.layers.matmul(xl,
                    paddle.fluid.layers.create_parameter(shape=[slot_num*(g_embedding_size), 1],
                    dtype='float32', name="w")
                    )
            xl = x0*xlw + xl
            bias = paddle.fluid.layers.create_parameter([slot_num*(g_embed

[2019-08-22 08:15] slf12 commented on #3110
经同事确认，assert c_out == c_out_, 'shape error!' 这行代码可以去掉，不影响后面程序运行。
我试了下把  assert c_out == c_out_, 'shape error!' 这行代码去掉，你给我的模型可以正确运行。

[2019-08-22 10:18] tz28 commented on #3160
好的，谢谢，期待回复。

[2019-08-22 11:14] wanghaoshuang commented on #3147
你好，麻烦把全部错误日志贴出来看下？@lijun900302

[2019-08-22 11:26] LielinJiang commented on #3155
[code]
你可以用上面的脚本下载cityscape数据。这个脚本和相应的比较详细的数据准备流程会在这个月底开源在分割库中。

[2019-08-22 11:28] wanghaoshuang commented on #3148
建议您在修改模型的配置文件之前，用以下方式打印出所有参数：
[code]
上述脚本输出存入文件： ori_names.data

然后修改模型的配置文件，对每层的参数赋予自定义名称，然后在用上述脚本将修改后的参数名存入文件：new_names.data

最后，merge `ori_names.data`和`new_names.data`就是你要找的映射关系了。

理论上，parameters的遍历都是有序的，如果你不放心，可以根据经验review下映射关系是否正确。

[2019-08-22 11:32] wanghaoshuang commented on #3148
[models/PaddleCV/image_classification](https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/image_classification)下release的pretrained model都是把每个parameter存为了一个文件, 你按刚才得到的映射关系重命名下文件名就行。

[2019-08-23 02:14] qujinqiang commented on #3006
@Lizhengo  尝试了，调整语料顺序；重新整理另外一批语料仍然存在问题
我基于字训练，为啥初始步骤中验证集的准确率都能达到99%以上呢？
start train process ...
global_steps: 1000, valid_auc: 0.991913
saving infer model in ./model_files/cnn_pairwise/1000
epoch: 0, loss: 0.008525, used time: 239 sec

[2019-08-23 02:37] zzchust commented on #3148
谢谢，明白了。

[2019-08-23 02:37] #3148 closed, assigned to nobody

[2019-08-23 03:22] #3110 closed, assigned to wanghaoshuang

[2019-08-23 05:58] #3128 closed, assigned to qingqing01, jerrywgz

[2019-08-23 05:59] #3138 closed, assigned to nobody

[2019-08-23 07:57] xiaolv3366 opened #3171 "语言生成模型"
generate_chinese_poetry模型之前在V2版本，打算移到fuild版本吗？
这个模型做的不错，有计划吗？

[2019-08-23 08:05] snowhou opened #3172 "PaddleDetection 中的 test_architectures.py 存在路径错误"
运行`python ppdet/modeling/tests/test_architectures.py`出现如下错误
![image](https://user-images.githubusercontent.com/38153092/63576862-aa69da00-c5bf-11e9-8e2e-54facb9ccae8.png)
**下图`test_architectures.py`中`ssd_mobilenet_v1_voc.yml`的路径应改为`configs/ssd/ssd_mobilenet_v1_voc.yml`**
![image](https://user-images.githubusercontent.com/38153092/63576693-50691480-c5bf-11e9-857e-d02d8e290bfe.png)
修改后测试 OK
![image]

[2019-08-23 08:24] xiaolv3366 commented on #3171
移到fluid版本

[2019-08-23 09:39] #3162 closed, assigned to nobody

[2019-08-23 11:53] jeffzjzhang opened #3177 "PaddleRL policy_gradient Typo"
default_main_program误写为defaul_main_program
all_act_prob 未被声明为成员变量

[2019-08-23 12:27] TimeChi commented on #3129
我改过后的代码验证的如何了？

[2019-08-24 05:19] universea opened #3179 "PaddleDetection eval 时内存溢出"
在进行se154的模型eval.py的时候，电脑的内存使用不断增长，最终内存使用完毕，电脑死机，过一段时间自动killed。

[2019-08-24 06:53] LALAliyao opened #3180 "stnet网络模型的infer.list制作"
请问在paddlevideo中使用stnet模型训练完毕后，怎样制作infer.ist进行推断？同时为什么在aistudio上面保存的checkpoints文件打不开？

[2019-08-24 14:21] Aneureka opened #3181 "ssd 在 coco 上训练，出现 loss 为 Nan，test map 过低的问题"
训练的命令是
[code]
加载的是官方的 mobileNet + ssd 与训练模型，
然后在 epoch == 4 的时候就出现 loss 为 Nan 的问题了
![img](http://ww4.sinaimg.cn/large/006y8mN6gy1g6b4pzjzr4j30t60p0ad2.jpg)

训练的时候 best_model 对应的 map 有 0.3 左右，但测试的时候只有 0.02
已经考虑到 91 -> 81 的问题...

[2019-08-25 05:00] JiaoZiLang commented on #2000
同样复现这个问题。训练第一轮或几轮的时候没有问题，到了后面几轮就会出现 loss 为 nan 的情况。尝试了把ssd的分类数减少到20以内就没问题，分类数大于20就会稳定复现，调整learn rate也没法。加载了预训练模型

[2019-08-25 06:32] ZiruiChen commented on #2985
为什么同样的配置剪完我map接近零呢
metric_name: 这个可以默认吗

[2019-08-25 06:33] ZiruiChen commented on #2985
为什么我同样的配置剪裁完map是零呢
metric_name: 这个可以默认吗

[2019-08-25 08:57] lijun900302 commented on #3147
实现afm算法，实现方法和tf基本一样，有些问题，aij_softmax=attention(element_wise_product, len(sparse_deep_input_list))
  File "afm.py", line 233, in train
  File "afm.py", line 365, in <module>
    train()
C++ Callstacks:
Enforce failed. Expected posix_memalign(&p, alignment, size) == 0, but received posix_memalign(&p, alignment, size):12 != 0:0.
Alloc 4744155136 error! at [/home/amy/eason/install/Paddle/paddle/fluid/

[2019-08-25 15:12] MRXLT commented on #3179
你好，请问你的电脑内存是多少呢

[2019-08-26 02:01] #3172 closed, assigned to qingqing01

[2019-08-26 02:01] ysh329 commented on #3172
好的 已解决，后续我们会按照您的修改意见完善代码

[2019-08-26 02:03] ysh329 commented on #3171
最近可能没排期，后续请保持关注哟

[2019-08-26 02:03] #3171 closed, assigned to kuke

[2019-08-26 02:30] qingqing01 commented on #3165
@kiols6 感谢关注， 在PaddleDetection 中 https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/docs/MODEL_ZOO.md#yolo-v3-on-pascal-voc  我们提供了 MobileNet-Yolov3, ResNet34 Yolov3。  Tiny-Yolo我们内部讨论下看。

[2019-08-26 02:36] qingqing01 commented on #3130
@TimeChi  加载预训练模型的话，会训练稳定一些。出NaN之前的模型对图片做预测，可视化是否正常？

在之前的Paddle版本出现过 `softmax_with_cross_entropy`不稳定的情况，而ssd_loss中有用该操作，但最近的PaddlePaddle版本有增加稳定性，以及我们在PaddleDetection中训练的MobileNet-SSD、VGG-SSD均有没有问题。 您可以尝试试下，将softmax_with_cross_entropy改为softmax + cross_entropy是否有改善。具体的，可以将安装包下的文件`detection.py` 如，我的环境是为 `/paddle/pyenv/lib/python2.7/site-packages/paddle/fluid/layers/detection.py` ，中的ssd_loss如下改动尝试下:

[2019-08-26 02:37] lea4n commented on #3090
ResNeXt50_32x4d

[2019-08-26 03:53] Lizhengo commented on #3006
如果你的正例和负例很好区分（例如从字面上就直接可以区分，正例和query重合的字很大，但负例跟query几乎没有什么重合的字，也就是随机负例），那随机初始化是有可能达到这个高的准确率的，因为这里fc权重是共享的，相当于仅从字面就可以区分

[2019-08-26 04:18] duanlin0505 commented on #3120
不知道是哪个参数导致的问题，默认参数执行的

[2019-08-26 04:56] MRXLT commented on #3180
![image](https://user-images.githubusercontent.com/16594411/63665909-f73bf380-c7ff-11e9-8515-3bd7fc22b4b6.png)
你好，请问infer.list是指的filelist吗还是预测接口

[2019-08-26 05:04] kuke commented on #2957
文本生成模型还在计划中，预计paddle 1.6或者paddle 1.7开源。

[2019-08-26 05:16] Shixiaowei02 commented on #3154
你好，请提供联系方式，我们和您对下环境。谢谢！

[2019-08-26 05:47] ZiruiChen opened #3185 "mobilenetSSD剪裁后map降低很多"
mobilenetssd能加载预训练模型，通过打印parameter以及计算MAdds也能反映剪裁成功，加载预训练模型单纯量化训练的map值为0.19, 加入剪裁策略后得到模型预测map趋于0
![图片](https://user-images.githubusercontent.com/50459712/63667915-cb793780-c818-11e9-9c9c-0b308f1c7ec6.png)

[2019-08-26 05:48] ZiruiChen commented on #3185
@slf12 @wanghaoshuang

[2019-08-26 06:05] LALAliyao commented on #3180
预测时，还要上传pkl文件进行预测，那预测的pkl里面如果没有标签的话会报错，所以封装pkl的时候还是要把标签打包进pkl对吗

[2019-08-26 06:48] yghstill commented on #3181
@Aneureka
（1）是几卡训练的？可尝试下4卡，每卡batch size=32，lr=0.001训练。如果卡数减半需要降低lr或者batch size翻倍。
（2）如果还是出现nan情况，请参考 #3130 最新回复。
（3）也欢迎使用[PaddleDetection](https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/PaddleDetection)来训练，具体配置文件可参考[config文件](https://github.com/PaddlePaddle/models/pull/3188)

[2019-08-26 06:52] Aneureka commented on #3181
谢谢回答~ 之前发生这个情况是在自己的机子上单卡训练的，lr=0.001，batch_size=32，现在用 aistudio 训练就不会 *太早* 发生这种情况了，但在 loss 降到 4 左右会变为 None，目前的解决方案是 loss 变成 None 之后直接降低 lr 。。

[2019-08-26 06:59] yghstill commented on #3181
@Aneureka 请参考[#3130下回复](https://github.com/PaddlePaddle/models/issues/3130#issuecomment-524693930)，修改代码后再训。
另外MobileNet-SSD在COCO上复现可使用在VOC数据集上训练得到的权重作为预训练模型，去除multi_box_head部分的权重。经测试在COCO上box ap可以达到22.5，供参考。使用imagenet-pretrain的MobileNet-SSD模型正在验证，检测库中（PaddleDetection）待发布

[2019-08-26 07:13] slf12 commented on #3185
请问是裁剪之后直接预测map为0还是经过一段时间训练map为0？

[2019-08-26 07:30] wwjjy opened #3190 "dureader基线模型问题咨询"
dureader基线模型的网络定义中部分代码如下：
<img width="424" alt="image" src="https://user-images.githubusercontent.com/20850734/63672961-c2d33200-c815-11e9-8071-775964fc488b.png">
p_vec的获得依赖于start_labels的lod，在实际infer中，是不是必须有ground_truth，如果没有的话需要怎样使用该代码

[2019-08-26 08:04] ZiruiChen commented on #3185
直接预测map接近0， finetuned 15个epoches之后还是0.01

[2019-08-26 08:17] slf12 commented on #3185
您在邮件里描述的“裁剪率越高，map越低“是正常的，感觉这不像是裁剪出了问题，裁剪之后，模型结构就确定了，训练15个epoch map没有涨是不是应该是超参数设置的不准确呢？

[2019-08-26 08:20] ZiruiChen commented on #3185
是剪裁率越高 训练时loss越高 但结果的map都接近0

[2019-08-26 08:23] slf12 commented on #3185
那把裁剪率调到0.01这样更小的值试下呢？测试下裁剪后的模型和原模型非常相近的情况下map值是多少？

[2019-08-26 08:28] qujinqiang commented on #3006
@Lizhengo 我的负例是随机选取的，pair_wise模式存在这样的问题 ；如果使用point_wise模式，训练集中也存在负例的情况，那个负例也是随机初始化的。 是不是只要负例随机初始化都会存在类似的情况？
你们的训练集中负例是怎么搜集得到的

[2019-08-26 08:51] ZiruiChen commented on #3185
能否看下config配置里metrics_name 在检测框架中是否有不同使用要求

[2019-08-26 09:06] bjjwwang commented on #3190
这是一个bug，目前想要infer只能在start_label给个0，感谢反馈，后面NLP团队会升级。

[2019-08-26 09:20] ZiruiChen commented on #3185
![图片](https://user-images.githubusercontent.com/50459712/63680171-646a7b80-c836-11e9-843a-f5bf9f8ae079.png)
对于剪裁率是0.01 （1个finetuned epoch）
map：从0.19下降至0.16，剪裁效果： MAdds从603下降至597

[2019-08-26 09:33] slf12 commented on #3185
metrics_name对应的是fetch_list[key, value]里那个key

[2019-08-26 09:37] slf12 commented on #3185
这个结果来看，应该是检测模型对裁剪比较敏感，可能你逐渐增加裁剪率比较好，不要一下剪的太多，那可能map不好训上去了

[2019-08-26 10:08] ZiruiChen commented on #3185
因为貌似有人可以剪裁成功 所以我觉得会不会是配置的问题导致没有只是把冗余的参数剪掉
https://github.com/PaddlePaddle/models/issues/2985#issuecomment-523274322

[2019-08-26 10:53] mmglove commented on #3146
请问这个代码是哪个库下面的，有链接吗？

[2019-08-26 13:06] #3099 closed, assigned to SunGaofeng

[2019-08-27 02:43] ZiruiChen commented on #3185
测试了metrics_name为eval_fetch_list的key('map'), 剪裁后依旧严重影响到了结果模型的map

[2019-08-27 03:35] guozhiyao opened #3198 "全局梯度裁剪"
原始代码运行正常，结构如下：
[code]

但是我希望加入梯度裁剪，修改为
[code]
此时就报错了：
[code]

[2019-08-27 05:57] hong19860320 commented on #3198
@guozhiyao Hi 你用的是paddle 1.5.1吗?能提供下复现代码吗？

[2019-08-27 07:57] xiaolv3366 commented on #3171
谢谢，有这个打算就行。

[2019-08-27 08:34] SunGaofeng commented on #3180
1、在stnet的reader程序里面，预测的时候，标签是视频的id，以便将视频id和预测结果对应起来。
2、预测的时候，支持使用文件list，或者指定单个视频源文件（mp4或者mkv格式等）

[2019-08-27 08:36] SunGaofeng commented on #3180
预测的时候，标签是视频id，便于将视频id和预测结果对应起来

[2019-08-27 08:58] LALAliyao commented on #3180
好的，谢谢解答

---原始邮件---
发件人: "SunGaofeng"<notifications@github.com&gt;
发送时间: 2019年8月27日(星期二) 下午4:36
收件人: "PaddlePaddle/models"<models@noreply.github.com&gt;;
抄送: "Author"<author@noreply.github.com&gt;;"LALAliyao"<1907381057@qq.com&gt;;
主题: Re: [PaddlePaddle/models] stnet网络模型的infer.list制作 (#3180)

预测的时候，标签是视频id，便于将视频id和预测结果对应起来

—
You are receiving this because you authored the thread.
Reply to this em

[2019-08-27 09:18] guozhiyao commented on #3198
复现代码如下：
[code]
发现只要删掉
[code]
就可以了。

[2019-08-27 10:03] yJun-Chen opened #3201 "Floating point exception"
我用hub run 运行的时候是正确的，然后用python运行的时候就会出现这个错误

[2019-08-27 10:29] yJun-Chen commented on #3201
这个可以开启多线程使用么？

[2019-08-27 11:25] dbcool opened #3202 "PaddleDetection下进行cascade训练时候出错"
在最新的代码PaddleDetection下进行cascade训练，指令如下
python -u tools/train.py -c configs/dcn/cascade_rcnn_dcn_r101_vd_fpn_1x.yml
出现错误:
  File "tools/train.py", line 239, in <module>
    main()
  File "tools/train.py", line 97, in main
    model = create(main_arch)
  File "/data/daibing/models/models-develop/PaddleCV/PaddleDetection/ppdet/core/workspace.py", line 187, in create
    kwargs[k] = create(target_key)

[2019-08-27 11:36] hong19860320 commented on #3201
@yJun-Chen 能把完整log贴出来吗？

[2019-08-27 11:55] jerrywgz commented on #3202
感谢您的反馈，这是我们新加入的代码将dcn_stages更新为dcn_v2_stages，cascade的配置没有相应更新，已经在https://github.com/PaddlePaddle/models/pull/3203 中改动了

[2019-08-27 12:03] #3202 closed, assigned to nobody

[2019-08-27 12:07] qingqing01 commented on #3130
@TimeChi 请问问题解决了吗？

[2019-08-27 12:33] hong19860320 commented on #3201
输入的原始数据中是否有NaN，或者出现梯度爆炸？可以参考以下issue解决
https://github.com/jacquesqiao/Paddle/wiki/Paddle-Float-Point-exception%E7%9A%84%E9%97%AE%E9%A2%98%E5%8E%9F%E5%9B%A0

https://github.com/PaddlePaddle/Paddle/issues/12882
https://github.com/PaddlePaddle/Paddle/issues/13547
https://github.com/PaddlePaddle/Paddle/issues/9317

[2019-08-27 12:43] qingqing01 commented on #3179
@Universea 请问您使用的是GPU还是CPU？ 是什么机器？具体环境是啥？

[2019-08-27 13:25] universea commented on #3179
你好，环境是ubuntu18.04 ，内存16G , GPU是1080ti

[2019-08-27 13:27] universea commented on #3154
15061885977 微信同上

[2019-08-27 13:34] hong19860320 commented on #3198
@guozhiyao 现在问题解决了吗？

[2019-08-28 01:59] qingqing01 commented on #3166
请问使用的GPU型号、以及Paddle版本是啥？ 建议您使用PaddleDetection。

[2019-08-28 02:24] MornJ commented on #3151
请问有人能解决一下吗，或者说回退到哪个版本可以稳定运行？

[2019-08-28 02:34] geng007 opened #3206 "ocr_recognition"

[2019-08-28 05:53] chengduoZH commented on #3198
@guozhiyao 这是由于你的模型中使用了`gradient_clip`，这种情况下是不能使用Reduce模式运行的。所以去掉`build_strategy.reduce_strategy = fluid.BuildStrategy.ReduceStrategy.Reduce`即可。

[2019-08-28 07:49] wangchaochaohu commented on #3206
可以尝试 export LD_LIBRARY_PATH=/usr/local/cuda/extras/CUPTI/lib64:$LD_LIBRARY_PATH
应该是在环境变量种无法找到相应的库导致的

[2019-08-28 09:20] MaxWellerVladimir commented on #3166
您好！感谢您的关注！
 系统：Ubuntu18.04  GPU2080Ti paddlepaddle-gpu 1.5.1
在使用示例程序过程，先使用SSD + mobilenet对我的数据集进行测试，测试过程正常且最终完成模型训练。之后尝试使用mask-rcnn示例程序进行进行训练，报错显示无法开辟显存空间，开始我怀疑之前训练进行模型训练可能有大量临时数据在显存中，但是使用命令进行初始化后显示依然没有效果，并且在Issue中搜索对相似情况解决方案进行测试均无效，包括重启计算等方法。这是我能提供的比较详细的情况，希望对优化框架有所帮助！

在2019年8月28日 09:59，qingqing01<notifications@github.com> 写道：

请问使用的GPU型号、以及Paddle版本是啥？ 建议您使用PaddleDetection。

—
You are receiving

[2019-08-28 09:33] #3185 closed, assigned to nobody

[2019-08-28 09:34] wangchaochaohu commented on #3206
请问下你的操作系统是？ cupti是否正确安装？去cd /usr/local/cuda/extra/CUPTI/lib64/目录下是否能找到相应的so文件？

[2019-08-29 03:25] wenston2006 opened #3218 "attention ocr 的训练数据图片宽和高的设置,以及label长度有什么要求吗?"
首先感谢你们开源了代码; 我在使用attention ocr时候发现你们提供的训练数据宽和高分别设置为384和48, 应该是进行了预处理; 但DataGenerator的reader()函数里面, 似乎是根据每个batch的第一张图片的宽度来作为整个batch所有图片缩放的宽度的; 这样的话如果我自己的训练数据没有进行预处理, 那么不同图片的宽度不是统一的, 不同batch的图片宽度也会不一样,这样对训练的结果影响大不大? 第二个问题是 label的长度有没有什么限制?比如我的训练样本里面多数label长度为8-15个汉字, 但还有一批label长度超过20个汉字的图片,这些图片如果缩放到(宽:384,高:48)的尺寸, 有可能产生形变, 这种情况下是否对训练结果造成影响?

[2019-08-29 05:17] universea commented on #3154
您好，可以帮忙看一下吗

[2019-08-29 06:47] wang001 opened #3220 "ernie的代码过于陈旧，不能infer，请将ERNIE项目的代码进行同步"
infer时报错，没有task.reader.py 中_convert_example_to_record函数报label_id不存在

[2019-08-29 08:00] wenston2006 commented on #1780
@wanghaoshuang  我用attention ocr 训练中文识别, 代码做了修改,因我的train_list.txt中不包含图片宽和高信息,只有文件名和label; 我将训练图片统一缩放到(宽:384,高:48);训练时候,前面几千个batch,  training acc上升很快, 但test_acc 一直为零; 我没有修改超参数,batch_size为16, 训练样本和验证集样本基本不重合; 汉字类别有14695个; 请问为何算法在中文识别上表现不好? 是否有参数需要调整?

[2019-08-29 08:10] jiweibo commented on #3154
已申请添加好友，后续会复现并解决

[2019-08-29 08:45] wwjjy opened #3222 "关于视频动作识别TSN模型 参数加载的问题"
该代码训练时，如果没有指定预训练的参数，那么它会自动的下载model zoo中预训练的模型，但是该模型应该是基于tsn.txt中如下图配置的方式训练的，此时网络的输入是（3，224，224）
<img width="571" alt="image" src="https://user-images.githubusercontent.com/20850734/63924448-de8b4200-ca7a-11e9-8a96-2dd4f83e56f7.png">
但是如果我们将该配置改为seg_num = 3，seglen = 2，那么网络的输入相应的会变成（6，224，224）。此时会由于卷积的维度和输入的通道数不符报错，错误信息如下：
<img width="1020" alt="image" src="https://user-images.githubusercontent.com/

[2019-08-29 09:19] ellinyang opened #3224 "mobilenetssd load_persistables报错"
相关环境：训练GPU v100, paddle1.4.1
                  重载环境：GPU v100, paddle1.5.0
背景：训练时只使用save_persistables保存为单个文件，现想重载权重文件进行评估和预测，但一直失败。

训练时使用
[code]
加载模型时，报错
`fluid.io.load_persistables(exe, model_dir,test_prog, filename="params_pass_00065.ckpt")`

错误日志如下：
[code]

[2019-08-29 09:19] SunGaofeng commented on #3222
1、tsn模型实现的seglen=1，没有考虑其他seglen的情况；如果要实现seglen=2的话，可以参考stnet里面加载预训练权重的方法，在PaddleVideo/models/stnet/stnet.py里面，会对conv1_weights进行重构，具体代码如下图所示
![5a690e37de262251b06b1deabc13a947](https://user-images.githubusercontent.com/26536764/63927325-0a5cf680-ca80-11e9-86e3-1c1652634ab8.png)

2、infer和test的时候，如果没有指定预训练权重，会自动下载我们训练好的权重，这个确实不能直接用在用户自己的数据集上面。

[2019-08-29 09:30] lijun900302 opened #3225 "使用fleet.save_inference_model,ERROR:A protocol message was rejected because it was too big (more than 67108864 bytes)."
from paddle.fluid.incubate.fleet.parameter_server.distribute_transpiler import fleet
fleet.save_inference_model(executor=exe, dirname=model_dir, feeded_var_names=feed_var_names, target_vars=[auc_var, batch_auc_var])保存模型出错，

 /usr/local/lib/python2.7/dist-packages/paddle/fluid/io.py:1084: UserWarning: save_inference_model specified the param `program_only` to True, It will not save params of Progra

[2019-08-29 09:43] lijun900302 commented on #3146
写的dcn, 这里面出现Nan，换个优化算法，又可以跑了
    def cross_network(x0,slot_num):
        xl=x0
        for l in range(cross_layers):
            x0_1 = paddle.fluid.layers.unsqueeze(x0, [2], name=None)
            xl_1 = paddle.fluid.layers.unsqueeze(xl, [2], name=None)
            w = paddle.fluid.layers.create_parameter(shape=[slot_num*(g_embedding_size),1],
                    dtype='float32', name="w")

[2019-08-29 10:03] lijun900302 commented on #3225
出错代码
# -*- coding: utf-8 -*-

from __future__ import print_function
import os
import math
import paddle
import paddle.fluid as fluid
import paddle.fluid.incubate.fleet.base.role_maker as role_maker
from paddle.fluid.incubate.fleet.parameter_server.distribute_transpiler import fleet
from paddle.fluid.transpiler.distribute_transpiler import DistributeTranspilerConfig
import numpy as np
import loggin

[2019-08-29 10:28] kiols6 commented on #3165
谢谢，那请问如何替换网络结构的部分

[2019-08-29 11:23] tianxin1860 commented on #3220
请问跑的哪个数据集？

[2019-08-29 11:24] wang001 commented on #3220
自己的数据集

[2019-08-29 11:25] geng007 commented on #3206
[code]

[2019-08-29 11:26] wang001 commented on #3220
分类任务

[2019-08-29 12:45] qingqing01 commented on #3218
首先开源这个模型是按行做识别，输入的图片的height都是一样的， 同一个batch的width不同的话padding 0，padding到同样大小。 补0对训练结果可能稍有影响，但不大。

可以将图片按照width排序，使得width接近的组batch，这样可以减少padding、可提升训练效率。

如上，要求图片输入的height是固定，可以等比例对图片做resize，这样图片上的字符height和width比例不变。 对label长度没有限制。

[2019-08-29 13:10] qingqing01 commented on #3224
@ellinyang 我用简单demo试了下，确实有点问题。 你可以参考 PaddleCV/ssd里demo里的save和load吧。

[2019-08-30 01:00] wenston2006 commented on #1780
@wanghaoshuang 调整了训练和验证集数据后, 现在训练收敛了.

[2019-08-30 01:02] wenston2006 commented on #3218
@qingqing01 谢谢, 明白了.

[2019-08-30 02:30] lijun900302 commented on #3225
parser.py 代码
import yaml

conf = 'dnn.yaml'

def parse_yaml(conf):
    with open(conf,'r') as f:
        data = yaml.load(f)
        str_sparse_slots = data['tf_run_conf']['tf_param']['layer_conf']['embedding']['slots']
        sparse_slots = []
        for str_slot in str_sparse_slots:
            sparse_slots.append(int(str_slot))

        str_sparse_lr_slots = data['tf_run_conf']['tf_param']['l

[2019-08-30 02:31] lijun900302 commented on #3225
dnn.yaml文件
##! job basic config

tf_run_conf:
    tf_param:
        layer_conf:
            lr1:
                type: "lr"
                slots: [0,41,
                       92,95,96,97,98,99,100,101,102,103,104,111,112,114,115,116,117,118,119,120,
                       121,123,125,127,128,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,
                       147,148,149,150,1

[2019-08-30 02:35] lijun900302 commented on #3225
加个这个也没用
![image](https://user-images.githubusercontent.com/5189733/63989144-e0541480-cb11-11e9-938c-90eac0e12f04.png)

[2019-08-30 02:54] #3218 closed, assigned to nobody

[2019-08-30 06:06] Tristan-Hao opened #3233 "使用paddle slim的filter_pruning_uniform裁剪后，应用inference报错"
使用原始filter_pruning_uniform.yaml文件，对数据集Stanford Dogs进行训练MobileNet模型并裁剪。
训练裁剪完成后，模型大小剪为6.7M。
在应用该裁剪模型时报错：
![b95fcc9001811ede38935e261f8767e4](https://user-images.githubusercontent.com/41142435/63996419-3df65a00-cb2e-11e9-9022-fd59bca62efa.png)
请问是哪里的问题？谢谢
另外，如果用原始的mobilenetv1_resnet50_distillation.yaml训练裁剪也提示错误，但仍能继续，只是最后没有看到有最终大小有被裁剪：
![96c6d7f564a69e9945b272aa60273631](https://user-images.githubus

[2019-08-30 06:49] wanghaoshuang commented on #3233
@Tristan-Hao
1. 第一个问题：models下给出的例子默认产出的只有权重文件，没有保存裁剪后的网络，可以参考这里保存网络结构和权重文件：https://github.com/PaddlePaddle/models/issues/3110#issuecomment-523732510

2. 第二个问题：抱歉，该问题正在一个pr修复，还没有merge。https://github.com/PaddlePaddle/Paddle/pull/19580
您可以现在本地环境按pr中修改更新下python脚本。

[2019-08-30 06:51] Tristan-Hao commented on #3233
赞~谢谢

[2019-08-30 06:51] Tristan-Hao commented on #3233
赞~谢谢

[2019-08-30 07:13] tianxin1860 commented on #3220
请贴一下自己数据集的表头格式

[2019-08-30 07:17] wang001 commented on #3220
测试集：text_a	text_b，训练集和验证集：text_a	text_b	label
我发现在ERNIE中也是这样的，但是ERNIE项目专门提供了一个predict_classifier.py文件来预测，如果直接在参数中加上infer的话，必须要有label。

[2019-08-30 07:19] wang001 commented on #3220
我觉得要么对infer部分去掉label要求，或者是写一个专门用来推理的文件。（我可以帮忙写一个）

[2019-08-30 07:41] jerrywgz commented on #3179
可以先尝试下 export FLAGS_eager_delete_tensor_gb=0 这个flag

[2019-08-30 09:39] MrChengmo commented on #3225
正在尝试本地复现，在持续跟进

[2019-08-30 12:03] MrChengmo commented on #3225
目前在复现中发现的一个突出问题：构建网络及program的耗时异常，关于wide&deep的实现可以参考官方示例：https://github.com/PaddlePaddle/models/tree/8bca0e4311b444a61024c2a5dd755a22b47487da/legacy/ctr

[2019-08-30 12:08] lijun900302 commented on #3225
不是在实现wide&deep 啊；在qq里说了，是将将fm中的二阶交叉值取出来，和dnn输入一起接softmax；

[2019-08-31 01:50] PJSSABER commented on #3181
请问一下 91 -> 81 这个问题应该怎么解决啊

[2019-08-31 02:47] MrChengmo commented on #3225
您好，我在本地尝试复现您的错误，使用您的组网和Code，但保存模型过程中没有出现相同的问题，最终成功保存了模型。请您提供一下您的运行环境和paddle版本，我继续跟进。
另外，使用fleet进行分布式模型的保存，推荐使用save_psersistables，在进行预测时，使用相同的组网，不添加optimizer，再load_psersistables。具体例子可以看这个fleet的example：https://github.com/PaddlePaddle/Fleet/tree/develop/examples/distribute_ctr

[2019-08-31 11:10] lixiangchun commented on #2966
开启mixup训练ResNet50_vd时也报相同错误。

[2019-08-31 11:25] lixiangchun opened #3238 "Missing 'fluid.layers' before 'control_flow.Switch'"
https://github.com/PaddlePaddle/models/blob/eb1fbf5cd847521a030ad97f0152e9a142803a8a/PaddleCV/image_classification/utils/learning_rate.py#L57

should read as:

[code]

[2019-09-01 01:32] woshijqo opened #3239 "gpu版本安装失败，出现paddle.fluid.core_avx.EnforceNotMet: Invoke operator mul error."
![image](https://user-images.githubusercontent.com/50409171/64070731-1a045700-cc9b-11e9-8871-f0c4b02e16a3.png)
windows版本安装gpu版本，cuda 9.0 + cudnn7.3。

安装完测试 运行paddle.fluid.install_check.run_check() 时，出现如图所示问题，这是什么问题？？谢谢

[2019-09-01 08:47] jiweibo commented on #3154
问题：检测模型训练过程中浮点异常，代码可直接复现。

用户已在aistuido开放源码 https://aistudio.baidu.com/aistudio/projectdetail/110026

相关issue：  [8702](https://github.com/PaddlePaddle/Paddle/issues/8702) [2262](https://github.com/PaddlePaddle/Paddle/issues/2262) [2563](https://github.com/PaddlePaddle/Paddle/issues/2563)

[2019-09-02 02:02] yma-admin commented on #2742
文档问题也还是要修复的。

[2019-09-02 02:38] #3206 closed, assigned to nobody

[2019-09-02 03:12] yghstill commented on #3181
@PJSSABER 请参考[PaddleDetection](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/ppdet/utils/coco_eval.py#L380)

[2019-09-02 03:28] tianxin1860 commented on #3220
我们提供了[推理脚本](https://github.com/PaddlePaddle/ERNIE/blob/develop/classify_infer.py), 这个可以满足你的需求;

[2019-09-02 03:40] wanghaoshuang commented on #2742
解决github公式格式问题有3种方法：
1. 通过浏览器插件渲染，已提交PR说明：https://github.com/PaddlePaddle/models/pull/3240
2. 将公式转为图片，由于该文档有大量行内公式，此方案不太可行
3. 将PaddleSlim文档都迁移至Paddle官网

[2019-09-02 03:50] tianxin1860 commented on #3220
可以 pull 下最新代码，做 infer 的时候，输入格式是 text_a \t text_b(可选)

[2019-09-02 03:56] wwjjy opened #3241 "nonlocal模型的问题请教"
您好，请教个问题，为什么nonlocal模型在预测的时候crop的size会从224变成256。使用训练阶段一样的224+fc的模式会有什么问题？
当我在进行预测时，由于输入大小为256*256，所以经过（7 * 7）的pooling后tensor的shape变为了（-1, 2048, 1, 2, 2），此时使用（10, 2048, 1, 1, 1）的卷积进行预测是否合理。此时网络的输出如下：
<img width="649" alt="image" src="https://user-images.githubusercontent.com/20850734/64089354-4641d580-cd78-11e9-8deb-f26bdcdb8c11.png">
看起来也不是很像softmax后的输出，此时还是选择最大值对应的类别最为分类结果吗？

[2019-09-02 04:04] lijun900302 commented on #3225
试了save_psersistables 没有用；paddle-fleet-release:v1.5;在docker容器上运行，这个应该没影响

[2019-09-02 04:49] wang001 commented on #3220
好的，谢谢，能不能把我在ERNIE中发现的BUG给顺便合了。

[2019-09-02 06:09] #3177 closed, assigned to wanghaoshuang

[2019-09-02 07:16] miraclebiu opened #3243 "PADDLEGAN base_network cal padding mistake?"
in models/PaddleCV/PaddleGAN/network/base_network.py line 159 the top padding and left_padding are all using input.shape[2]? why?

the same mistake is in Line 247

[2019-09-02 08:22] wenston2006 commented on #3218
@qingqing01 训练数据是否大部分应由标签等长的数据构成? 我目前训练数据标签长度不一,从长度2到长度40不均等分布; 有20万条训练样本; 训练batch_size=16, 训练前3万次, 训练loss都在下降, train_acc和test_acc都在上升,但训练到3.5万次时, 训练loss陡增(从loss=4.8陡增到loss=32), 接着train_acc和test_acc陡降; 这种情况下应如何调整参数? 训练数据如何调整?

[2019-09-02 08:24] MrChengmo commented on #3225
你好，请问使用save_persistables也是相同的错误吗？另外，您使用的分布式配置是怎么样的？几个trainer几个pserver？使用dataset进行异步训练需要注意以下几个关键的配置：DistributeTranspilerConfig().sync_mode = False，同时DistributeTranspilerConfig().runtime_split_send_recv=True

[2019-09-02 08:28] universea commented on #3154
请问这个问题好解决嘛？

[2019-09-02 08:43] yxzero opened #3246 "softmax_with_cross_entropy运行报错"
![image](https://user-images.githubusercontent.com/5461637/64101563-b5cbbb00-cda0-11e9-9726-6cce4589a3f0.png)
计算softmax_with_cross_entropy报错，打印labels和logits分别为
![image](https://user-images.githubusercontent.com/5461637/64101642-e01d7880-cda0-11e9-9955-591e9355f4a4.png)
运行时报错信息为
![image](https://user-images.githubusercontent.com/5461637/64101683-f62b3900-cda0-11e9-88d6-44575da16607.png)
是什么原因呢？

[2019-09-02 08:43] SunGaofeng commented on #3241
1、train的时候是从256中random crop出224的，测试的时候使用crop_size=256一般情况下可以提升性能。使用训练阶段一样的224+fc的模式也可以进行测试，我们这边没有试过，您那边可以验证下效果。
2、经过（7 * 7）的pooling后tensor的shape变为了（-1, 2048, 1, 2, 2），此时使用（10, 2048, 1, 1, 1）的卷积进行预测。
您这里总共是10个类别吗？使用此卷积后输出feature map是(-1, 10, 1, 2, 2)，然后会对10这个维度做softmax，最后会对 T, H, W这三个维度做reduce_mean，预测概率的维度是(-1, 10)

![182f0478779f19d6ddf9866ed0ffeaeb](https://user-images.githubusercontent.com/26536

[2019-09-02 08:57] yxzero commented on #3246
写错了，忘转置

[2019-09-02 08:57] #3246 closed, assigned to nobody

[2019-09-02 10:15] jeng1220 opened #3248 "[BUG] document is broken"
right here: [Paddle模型压缩工具库算法原理介绍](https://github.com/PaddlePaddle/models/blob/develop/PaddleSlim/docs/tutorial.md)

It shows something like `$$ r = min(max(x, a), b)$$ $$ s = \frac{b - a}{n - 1} $$ $$ q = \left \lfloor \frac{r - a}{s} \right \rceil $$`

[2019-09-02 11:00] ceci3 commented on #3243
it's a mistake, left_padding and right_padding should using input.shape[3](input.width).
thanks，we'll fix it now.

[2019-09-02 11:03] slf12 commented on #2815
这个看报的错误信息用法是embedding层查找的词的id超过了词表的大小，你是改过什么代码吗？

[2019-09-02 12:28] wanghaoshuang opened #3249 "quantization of word embedding"
[code]

[2019-09-02 12:33] wanghaoshuang commented on #3249
thres = 0.01
[code]

[2019-09-02 12:34] wanghaoshuang commented on #3249
thres = 0.1
[code]

[2019-09-03 01:26] wonyoungsen opened #3251 "PaddleSlim量化训练时总是出现Nan，请问是怎么回事？量化训练的学习率以及收敛问题"
1、环境 Ubuntu16.04，1080ti，而且我在ai studio上训练也一样，总是出现nan，换了两台机器都是这个问题，学习率也设置了，0.001一直设置到好小，也出现nan，
2、顺便问一下，量化训练的学习率如何设置，也是从0.001开始吗？
3、还有，我训练好的baseline进行量化训练第一次迭代时的loss和进行常规训练时差不多都是4左右，然后从下一个迭代就会变到十几，而且以后一直在10左右徘徊，这种量化训练正常吗，浮动比较大，一般需要多久才能收敛到常规训练的水平？

[2019-09-03 02:14] #3241 closed, assigned to SunGaofeng

[2019-09-03 02:16] gongweibao commented on #3248
试试浏览器安装插件MathJax？

[2019-09-03 04:02] dbcool opened #3256 "image_classification 预训练出错"
您好，我用ImageNet的模型，进行finetune的时候出错，用的预训练模型和分类数是
    --pretrained_model=pretrained_model/ResNeXt50_vd_64x4d_pretrained\
    --class_dim=14 \
训练指令为:
python train.py \
    --model=ResNeXt50_vd_64x4d \
    --batch_size=32 \
    --num_epochs=100 \
    --total_images=833458 \
    --data_dir="./data/terror_detail/" \
    --pretrained_model=pretrained_model/ResNeXt50_vd_64x4d_pretrained\
    --class_dim=14

[2019-09-03 06:33] qujinqiang commented on #3006
@Lizhengo  我现在 使用point_wise模式；负例都是人工手动挑选的；但是仍然无法避免NAN
global_steps: 7000, valid_auc: 0.879249
saving infer model in ./model_files/lstm_pointwise/7000
epoch: 5, loss: 0.238300, used time: 218 sec
global_steps: 8000, valid_auc: 0.880648
saving infer model in ./model_files/lstm_pointwise/8000
epoch: 6, loss: nan, used time: 215 sec
global_steps: 9000, valid_auc: 0.000000

@Lizhengo 如上，测试集上准确率并不高；但跑出了

[2019-09-03 08:14] qujinqiang commented on #3006
@Lizhengo
新的数据集下经过多次测试发现，有的时候能够整体训练完毕，有的时候会出现NAN的情况
这种究竟是什么原因导致的，训练过程不稳定？
（备注： cnn_point_wise 模型连续实验几次都是出现NAN的情况； lstm_point_wise、gru_point_wise 模型可以出现完整训练完毕的情况）

[2019-09-03 11:25] guoshengCS commented on #3256
这个貌似是因为最后分类层由1000类换成14类时，新的moment的大小是14，和load的参数的大小1000不匹配，可以试下[load_vars](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/io_cn.html#load-vars)接口在load的时候不load最后一个分类层的参数

[2019-09-03 11:38] wanghaoshuang commented on #3251
对于分类任务，学习率一般需要设置的小一点，可以参考这里：https://github.com/PaddlePaddle/models/blob/develop/PaddleSlim/compress.py#L72

你可以把你的代码贴出来么？

[2019-09-03 11:43] slf12 commented on #3251
对于检测任务，我训练过yolov3量化，学习率设为原模型收敛时的学习率量级比较好，我这边一般出现nan或者loss变大的情况都是因为学习率设的较大或者训练过程本来就不稳定

[2019-09-03 12:06] #3233 closed, assigned to wanghaoshuang

[2019-09-03 12:51] shippingwang commented on #3256
参考下https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/README_cn.md#faq 吧
![image](https://user-images.githubusercontent.com/13645332/64174684-5e0a7e00-ce8c-11e9-98ec-5a13e643d777.png)

[2019-09-04 03:45] wonyoungsen commented on #3251
我跑的是SSD框架，mobilenet v1，全部代码也就是这个项目的代码，地址是：
https://aistudio.baidu.com/aistudio/projectdetail/86232

[2019-09-04 03:49] wonyoungsen commented on #3251
我是SSD框架，训练的coco数据集，设置和训练时一样，但是迭代一会就出现nan，设置lr特别小也会出现nan，不知道为什么

[2019-09-04 04:20] wanghaoshuang commented on #2742
TODO: move document to FluidDoc repo

[2019-09-04 06:11] banbishan commented on #1780
你好，请问你的训练和验证集做了上面调整呢，我也遇到了同样的问题？

[2019-09-04 06:59] wenston2006 commented on #1780
@banbishan 之前我是根据标签长度划分的训练和测试数据; 后来随机划分训练和测试数据,训练数据和测试数据中有相似的样本, 训练的准确率逐渐提上来了;不过最近我新加了一批数据,训练结果不是很理想, 训练了几万次, loss变成nan了; 不知调参能否解决问题

[2019-09-04 07:19] OliverLPH opened #3262 "图像分类模型库中的有几个预训练模型链接失效了"
如题，发现[image_classification README](https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/image_classification)中
[`ShuffleNetV2_x1_0` ](https://paddle-imagenet-models-name.bj.bcebos.com/ShuffleNetV2_x1_0_pretrained.tar)
[`GoogLeNet`](https://paddle-imagenet-models-name.bj.bcebos.com/GoogleNet_pretrained.tar)
[`Xception_41`](https://paddle-imagenet-models-name.bj.bcebos.com/Xception41_pretrai

[2019-09-04 07:21] #3243 closed, assigned to ceci3

[2019-09-04 07:55] wenston2006 opened #3264 "attention ocr调小学习率后,仍出现loss=nan"
我用attention ocr 训练中文识别,我的样本都是些标签长度不均一的中文短语; 最初将attention_model. py 中的学习率LR设置为0.1, 训练了1.8万次, 开头train_acc, test_acc一直在上升, 但突然loss变为nan; 我将LR降低为0.01后,训练了1000次, loss就为nan了;这种情况下是否学习率应该调高而不是降低?请问LR可调范围大约是多少?此外decoder_size, word_vector_dim这几个参数对训练影响大吗?应如何调整?

[2019-09-04 08:00] wenston2006 opened #3265 "如何在模型中添加regularization loss?添加后如何在训练时获取该loss?"
请问regularization loss是否可通过某些optimizer中的regularization参数添加(如:class paddle.fluid.optimizer.LarsMomentumOptimizer(learning_rate, momentum, lars_coeff=0.001, lars_weight_decay=0.0005, regularization=None, name=None))? 此外如何获取训练中的regularization loss?

[2019-09-04 09:04] wanghaoshuang commented on #3264
hi， 我们发现Paddle1.5版本下很容易出现NAN, 建议使用Paddle1.4版本，我们会继续排查Paddle1.5上的问题。
在Paddle1.4上，正常训练也会有loss=nan的现象，但是在变nan之前就能得到不错的结果。

这个应该没有必然关系；一般在loss边nan前若干epoch将lr decay一个数量级。

这个用默认的就行，与loss=nan现象关系不大。

[2019-09-04 09:07] wanghaoshuang commented on #3265
可以参考这个文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/regularizer_cn.html#fluid-regularizer

但是，目前没有方法直接获取regularization loss

[2019-09-04 09:30] wenston2006 commented on #3264
@wanghaoshuang 谢谢回复, 我确实用的1.5的版本;

[2019-09-04 09:31] wenston2006 commented on #3265
@wanghaoshuang 谢谢,我来看看

[2019-09-04 10:17] pandaxue opened #3266 "cascade rcnn"
![44444](https://user-images.githubusercontent.com/50400428/64246857-307f0c80-cf40-11e9-8520-61ebfdb1f180.png)
这是什么原因啊，我没有修改过train的代码

[2019-09-04 10:20] pandaxue opened #3267 "求训练cascade的完整步骤"
在哪里有训练cascade rcnn的详细步骤啊，我想用自己的数据跑一下cascade_rcnn可形变卷积，以前用mmdetection框架跑过，只试过voc数据集，现在用paddle不知道从哪开始修改class

[2019-09-04 14:16] #3166 closed, assigned to nobody

[2019-09-04 14:49] MaxWellerVladimir opened #3270 "PaddleDetection中训练的模型能否进行视频目标检测？"

[2019-09-05 01:26] #3265 closed, assigned to nobody

[2019-09-05 01:27] #3264 closed, assigned to nobody

[2019-09-05 01:30] wenston2006 opened #3271 "attention ocr的文字识别率如何进一步提高?"
先说说我的训练和测试数据: 都是些长短不一的短语,最长的有30多个汉字,最短的只有一个字符; 训练数据有30万张图片; 目前用attention ocr训练,验证集上识别率达到80.5%; 要想让这个结果进一步提高,有什么办法没有?

[2019-09-05 01:48] wanghaoshuang commented on #3271
可以尝试使用lr decay策略
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/dygraph_cn.html#cosinedecay
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/dygraph_cn.html#exponentialdecay
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/dygraph_cn.html#piecewisedecay

[2019-09-05 01:49] #3165 closed, assigned to qingqing01

[2019-09-05 01:55] Cugtyt commented on #1708
@cjld 请问在Pascal VOC上从随机权重开始训练需要多少轮可以复现89.0mIOU，有相关的日志可以参考吗

[2019-09-05 01:59] jerrywgz commented on #3267
在https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/configs/dcn/cascade_rcnn_dcn_r50_fpn_1x.yml 中有相关配置文件可以参考，num_classes需要修改这个值

[2019-09-05 02:00] jerrywgz commented on #3266
可以麻烦贴下报错信息吗

[2019-09-05 02:02] jerrywgz commented on #3270
https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/PaddleVideo/models/ctcn 目前paddle在视频库中提供了一个视频动作定位模型ctcn，是时间维度上的检测

[2019-09-05 02:07] pandaxue commented on #3266
上面那张图就是我的报错信息，Traceback (most recent call last):
  File "tools/train.py", line 204, in <module>
    main()
  File "tools/train.py", line 66, in main
    devices_num = fluid.core.get_cuda_device_count()
AttributeError: module 'paddle.fluid.core_avx' has no attribute 'get_cuda_device_count'

[2019-09-05 02:13] pandaxue commented on #3267
只需要更改num_class的类别数？老实讲你给的那个链接里的东西我看过看的不是大明白，我就问的在详细点吧，
这里只能用Coco格式的数据集吗？我以前都是用voc格式的，Coco集这里只用生成训练集和验证集的json文件就可以了吗，就是instance_train2017.json和instance_val2017.json是吗？

[2019-09-05 02:14] pandaxue commented on #3267
只需要更改num_class的类别数？老实讲你给的那个链接里的东西我看过看的不是大明白，我就问的在详细点吧，
这里只能用Coco格式的数据集吗？我以前都是用voc格式的，Coco集这里只用生成训练集和验证集的json文件就可以了吗，就是instance_train2017.json和instance_val2017.json是吗？

[2019-09-05 02:17] mozpp opened #3272 "如何连续验证多个模型（yolov3）"
验证次数多了爆显存，如何用scope_guard？

[2019-09-05 02:18] wenston2006 commented on #3271
@wanghaoshuang 我用到了piecewise_decay, decay_step为30000, 训练到5万次时识别率达到最高80.5%, 但再往后识别率就开始下降了; 可否通过加深CNN卷基层的深度或宽度来提升效果?

[2019-09-05 02:19] mozpp commented on #3272
[code]

目前有bug的代码
An exception was thrown!
 'unicode' object has no attribute 'desc'
Traceback (most recent call last):
  File "/project/PaddleCV/yolov3/eval_ours.py", line 194, in <module>
    infer2.infer2(data_dir,os.path.join(weights_dir,weights))
  File "/project/PaddleCV/yolov3/tools/infer2.py", line 64, in infer2
    feed=feeder.feed(data_),
  File "/usr/local/lib/python2.7/dist-packages/pa

[2019-09-05 02:26] jerrywgz commented on #3267
coco和voc数据格式都是支持的，如果coco数据集的话改json就可以；这里https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/PaddleDetection/docs/config_example 有举了几个例子，里面有详细的配置信息和对应的注释，ssd模型里面就是voc的数据集格式。另外你是希望通过我们训好的模型做finetune吗？

[2019-09-05 02:33] MaxWellerVladimir commented on #3270
好的谢谢！
在2019年9月5日 10:03，wangguanzhong<notifications@github.com> 写道：

https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/PaddleVideo/models/ctcn 目前paddle在视频库中提供了一个视频动作定位模型ctcn，是时间维度上的检测

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-09-05 02:41] wanghaoshuang commented on #3271
可以尝试加几层卷积，或者用mobilenet等经典网络做backbone.

[2019-09-05 03:00] pandaxue commented on #3267
是的，我想用你们的模型跑一下我自己的数据，不知道怎么操作了，网上没有教程

[2019-09-05 03:02] lijun900302 commented on #3225
save_persistables一样的错误；其他模型可以正常跑，因为上面的训练auc高，所以想试试；pserver 一般16；上面的配置有的

[2019-09-05 03:26] yghstill commented on #3267
目前rcnn系列model已同时支持COCO与VOC训练，如果在VOC数据集上训练cascade-rcnn-dcn，只需要将你的TrainFeed改成：
`dataset:
    dataset_dir: dataset/voc
    annotation: VOCdevkit/VOC_all/ImageSets/Main/val.txt
    image_dir: VOCdevkit/VOC_all/JPEGImages
    use_default_label: true`
如果你想自定义voc数据集，请将use_default_label设为false，修改ImageSets/Main/label_list.txt，然后修改config里的num_classes即可

因data reader正在重构，官方自定义数据集教程还尚未具备，预计9月底发布。如果你要采用全新的数据集格

[2019-09-05 03:30] mozpp commented on #3272
[code]
改了写法还是同样的问题

[2019-09-05 04:34] mozpp commented on #3272
[code]
改了写法，前几次正常，后面爆显存

[2019-09-05 07:11] wenston2006 opened #3276 "attention ocr infer.py不能顺利加载模型"
attention ocr 采用train.py训练和保存模型, 运行infer.py时不能顺利加载模型; 控制台打印的信息如下:

/usr/bin/python3.5 /home/liusong/program_install/pycharm-2018.3.4/helpers/pydev/pydevd.py --multiproc --qt-support=auto --client 127.0.0.1 --port 33763 --file /home/liusong/work_proj_2/paddle-models/PaddleCV/ocr_recognition/infer.py --model_path=gpu_model/model_51000
pydev debugger: process 9120 is connecting

Connected to pydev de

[2019-09-05 07:13] wenston2006 commented on #3276
刚才发现,model选错了

[2019-09-05 07:13] #3276 closed, assigned to nobody

[2019-09-05 07:42] wenston2006 opened #3277 "pycharm中运行代码经常遇到CUDNN_STATUS_INTERNAL_ERROR"
按照别的issue提示,采用rm -rf .nv 删除缓存; 同时在~/.bashrc文件中末尾添加 export CUDA_VISIBLE_DEVICES=0, 然后source ~/.bashrc生效; 但旺旺重启pycharm或运行一个新的.py文件就会出现CUDNN_STATUS_INTERNAL_ERROR; 请问对这个问题有没有更有效的解决办法?

[2019-09-05 08:34] pandaxue commented on #3267
python -u tools/train.py -c configs/cascade_rcnn_r50_fpn_1x.yml
Traceback (most recent call last):
  File "tools/train.py", line 204, in <module>
    main()
  File "tools/train.py", line 66, in main
    devices_num = fluid.core.get_cuda_device_count()
AttributeError: module 'paddle.fluid.core_avx' has no attribute 'get_cuda_device_count'
请问这是什么原因

[2019-09-05 08:44] jerrywgz commented on #3267
请问是使用docker环境吗，可以查看下cuda cudnn是否在LD_LIBARAY_PATH中

[2019-09-05 08:49] #3220 closed, assigned to nobody

[2019-09-05 08:51] #3249 closed, assigned to wanghaoshuang

[2019-09-05 09:00] #3270 closed, assigned to nobody

[2019-09-05 10:45] jerrywgz commented on #3266
在https://github.com/PaddlePaddle/models/issues/3267 中回复

[2019-09-05 10:47] shippingwang commented on #3238
already fixed by https://github.com/PaddlePaddle/models/pull/2974

[2019-09-05 13:16] #3262 closed, assigned to nobody

[2019-09-06 01:49] jeng1220 commented on #3248
Thanks for reply. It works.

[2019-09-06 01:49] #3248 closed, assigned to nobody

[2019-09-06 05:31] pandaxue commented on #3267
![2019-09-06 13-29-11屏幕截图](https://user-images.githubusercontent.com/50400428/64403277-87085a00-d0aa-11e9-9078-dedd5535dfe4.png)
你看我这是在吧，我以前都没问题呀

[2019-09-06 05:48] pandaxue commented on #3267
这个问题解决了。又有新问题了，ModuleNotFoundError: No module named 'ppdet'

[2019-09-06 07:51] Superjomn commented on #3277
根本性的，还是环境变量前后有变化

可以看下成功、失败前后的环境变量是否有变化，pycharm可以用自身的 terminal 看下

[2019-09-06 08:01] wwjjy opened #3288 "Auto DL 中的HiNAS模型是根据什么样的策略搜索出来的呢"
如题，和现有的NAS方面有啥区别，有木有文档参考一下~

[2019-09-06 11:57] stasi009 opened #3289 "DeepFM的实现问题"
看了Paddle_baseline_KDD2019下network_confv6.py中关于DeepFM的实现

作者在实现FM的embedding时，将embedding矩阵命名为：
    sparse_fm_param_attr = fluid.param_attr.ParamAttr(name="SparseFeatFactors",
                                                      initializer=fluid.initializer.Normal(
                                                          scale=1 / math.sqrt(sparse_feature_dim)))

而在实现Deep侧时，将名称也取为SparseFeatFactors

[2019-09-09 02:11] MrChengmo commented on #3225
您好，在我们的环境下无法复现您的问题，之前有其他同学提到过相似的问题，您看下是否有帮助呢？

- https://github.com/PaddlePaddle/Paddle/pull/168

- https://github.com/PaddlePaddle/Paddle/issues/718

[2019-09-09 02:59] heavengate commented on #3272
请参考 https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/yolov3/infer.py

[2019-09-09 03:13] dbcool opened #3293 "fluid.layers.cross_entropy 可否支持权重系数"
fluid.layers.cross_entropy 可否支持权重系数，指定每个类别占loss的权重

[2019-09-09 03:14] wenston2006 commented on #3277
@Superjomn 好的我来试试

[2019-09-09 03:21] wenston2006 opened #3294 "attention ocr 识别长文本不太理想"
长宽比例较大时(比如输入文本图片高28个像素,宽900个像素时), 文字识别效果不甚理想; 是否需要在训练数据中加入这种长宽比例较大的图片进行训练?

[2019-09-09 05:23] tensor-tang commented on #3293
你好，按照[文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/layers_cn/nn_cn.html#cross-entropy)定义，当前是不支持权重的。

[2019-09-09 05:25] dbcool commented on #3293
嗯嗯，感谢回复

[2019-09-09 05:25] #3293 closed, assigned to nobody

[2019-09-09 06:13] mmglove commented on #3289
您好，deepFM代码可以参考：https://github.com/PaddlePaddle/models/tree/develop/PaddleRec/ctr/deepfm

[2019-09-09 06:47] mozpp commented on #3272
可能你没有理解。我当然参考过infer.py的，但是infer.py只考虑验证一个模型的情况，多几个就爆显存了。
而且我看paddle其他项目的infer会加入scope_guard，（可能为了防止爆显存？）而yolo的infer没有用scope_guard。
现在我想加scope_guard进去，不过加得有bug。
https://github.com/PaddlePaddle/models/blob/550a0e2e8764f273eb294b082b721ed5ea3ab14d/PaddleNLP/unarchived/text_classification/infer.py#L25

[2019-09-09 06:52] lixingjian commented on #3288
使用强化学习搜索，结构生成通过LSTM建模，主要思路和2016年的NAS一样：Zoph B, Le Q V. Neural architecture search with reinforcement learning[J]. arXiv preprint arXiv:1611.01578, 2016.

[2019-09-10 02:13] wanghaoshuang commented on #3294
建议增强训练数据，最好能覆盖到所有长度的目标。可以通过修改data_reader离线或在线的拼接下文本图像。

[2019-09-10 02:15] heavengate commented on #3272
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/yolov3/infer.py  不指定image_name只指定image_dir是会infer image_dir下的所有图片的，支持验证多张图片，不会爆显存

[2019-09-10 06:01] xiaolv3366 commented on #3171
这个模型最近有排期吗？

[2019-09-10 06:02] mozpp commented on #3272
你好，可能你还没有理解我的意思。
比如我训练有1w,2w,3w,4w......次iteration的模型，我想比较这几个模型哪个好。
如果连续验证几个模型，会爆显存。
[code]

[2019-09-10 06:10] jerrywgz commented on #3267
在PaddleDetection目录下 export PYTHONPATH=$PYTHONPATH:.

[2019-09-10 06:23] wang001 opened #3306 "models里面的bert训练时异常退出（很大可能是显存不足），报0xC0000409"
尝试过bert-wwm（哈工大提供的），在keras上面可以跑batch_size=6，max_seq=512。
但是，在这里面只能跑batch=1，seq_len=300（我试过）
版本、环境信息：
1）PaddlePaddle版本：1.5.0.post87
2）CPU：i5 9400f
3）GPU：1080ti，通过anaconda安装的cudatoolkit  8.0，cudnn7.1.4
4）系统环境：win10专业版，64位，Python版本 3.6.8
- 模型信息
1）模型名称：bert 2）datafountain-ccf-情感分析比赛 3）使用算法名称 4）模型链接：https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/language_representations_kit/BERT
- 复现信息：将

[2019-09-10 06:27] wenston2006 commented on #3294
@wanghaoshuang 好的; 需要多少训练数据多少才能使得泛化性能较好?我是指的下限.

[2019-09-10 08:21] arcral opened #3309 "elmo的一个问题"
文件ELMo/LAC_demo/bilm.py，函数encoder_wrapper对lstm出来的双向向量concat时，反向向量好像没有进行reverse，不确定这个是错误，还是本意如此；
使用hub里的elmo时，使trainable=False，但嵌入的结果仍然有随机变化，是否dropout没有正常关闭

[2019-09-10 08:36] sneaxiy commented on #3306
能否提供具体的报错信息？

[2019-09-10 08:38] wang001 commented on #3306
只有一个这个退出的错误码，应该是因为windows下面的缘故，但是在调小batch_size和seq后可以运行，应该是因为显存不足。

[2019-09-10 08:39] sneaxiy commented on #3306
是哪个退出的错误码？能否提供下？

[2019-09-10 08:39] wang001 commented on #3306
0xC0000409

[2019-09-10 08:40] sneaxiy commented on #3306
请问还有什么其他错误现象吗？比如退出时的界面或堆栈信息？

[2019-09-10 08:41] wang001 commented on #3306
没有，windows下面一直没有支持堆栈吧，如果你了解nlp的话，可以随便拿个数据集试试吧

[2019-09-10 08:43] arcral commented on #3271
@wenston2006  attention比ctc效果更好一些吗？如果你的字符是正常文本的话，可以考虑加入语言模型的特征

[2019-09-10 08:44] wang001 commented on #3306
我跑一下，把整个输出给你贴上来了
`E:\Anaconda3\envs\paddle\python.exe E:/worksapce/pyWorkSpace/PaddleNLP_0903/run_Sentiment_Analysis.py --kfold 10 --use_cuda true --batch_size 1 --in_tokens false --init_pretraining_params F:/pretrain/chinese_wwm_ext_L-12_paddle --data_path E:/corpus/chinaMobile/sentiment_pair_raw_fold_left512.tsv --vocab_path F:/pretrain/chinese_wwm_ext_L-12_H-768_A-12/vocab.txt --checkpoints F:/

[2019-09-10 08:44] wang001 commented on #3306
E:\Anaconda3\envs\paddle\python.exe E:/worksapce/pyWorkSpace/PaddleNLP_0903/run_Sentiment_Analysis.py --kfold 10 --use_cuda true --batch_size 1 --in_tokens false --init_pretraining_params F:/pretrain/chinese_wwm_ext_L-12_paddle --data_path E:/corpus/chinaMobile/sentiment_pair_raw_fold_left512.tsv --vocab_path F:/pretrain/chinese_wwm_ext_L-12_H-768_A-12/vocab.txt --checkpoints F:/pretrain/checkpoin

[2019-09-10 09:37] xubin1994 opened #3310 "unsqueeze问题"
我使用unsqueeze的示例程序能正确扩展维度：
  x = fluid.layers.data(name='x', shape=[5, 10])
  y = fluid.layers.unsqueeze(input=x, axes=[1])
但是当我使用自己读取的图片数据，在动态图中转变为variable之后，却总是报错：
    with fluid.dygraph.guard():
        img_l = fluid.dygraph.to_variable(img_l)
        img_r = fluid.dygraph.to_variable(img_r)
        disp_l = fluid.dygraph.to_variable(disp_l)
        disp_r = fluid.dygraph.to_variable(disp_r)

[2019-09-10 12:34] zhengya01 commented on #3309
你能提供更详细的信息吗

[2019-09-11 02:51] zhengya01 commented on #3310
paddle.fluid.core_avx.EnforceNotMet: op_kernel should not be null
only support op with kernel at

[2019-09-11 03:00] xubin1994 commented on #3310
I didn't understand what you mean, how can I solve this problem?

[2019-09-11 03:30] JiabinYang commented on #3310
plz use develop branch to use unsqueeze in Dygraph mode

[2019-09-11 05:46] wenston2006 commented on #3271
@arcral 请问语言模型的特征具体指的什么?是不是类似词库纠错一类的?CTC loss的改进貌似要求对底层代码很熟悉, 改进起来需要一定的功力; attention机制因为是通过CNN和RNN来优化参数,改代码感觉要容易些;

[2019-09-11 07:34] #2985 closed, assigned to wanghaoshuang

[2019-09-11 07:34] #2998 closed, assigned to wanghaoshuang, liupluswei

[2019-09-11 07:34] #3002 closed, assigned to wanghaoshuang

[2019-09-11 07:34] #3025 closed, assigned to gavin1332, wanghaoshuang, wwjjy, baiyfbupt

[2019-09-11 07:34] #3144 closed, assigned to wanghaoshuang

[2019-09-11 08:28] liusilver1116 opened #3313 "why word2vec stop_gradient"
word2vec 代码中这一行 不太明白
neg_word_reshape.stop_gradient = True

data层本来stop_gradient默认参数就是True， 为什么还要设置一下？
paddle.fluid.layers.data(name, shape, append_batch_size=True, dtype='float32', lod_level=0, type=VarType.LOD_TENSOR, stop_gradient=True)

[2019-09-11 09:02] 0YuanZhang0 opened #3314 "BERT/ERNIE下跑squad模型，CPU内存一直增长"
squad模型在加载完examples数据后，以生成器的方式产生和yield数据，理论上，CPU内存会在一个范围内，不会呈线性增长，目前大规模数据训练或者预测会因为内存问题挂掉；

[2019-09-11 09:03] 0YuanZhang0 commented on #3314
排查reader问题：使用py_reader或者datafeed的方式，内存都会增长；
怀疑存在内存泄漏问题

[2019-09-11 09:27] JiabinYang commented on #3313
因为过了`reshape`之后会将stop_gradient的属性修改为false

[2019-09-12 03:08] dbcool commented on #3256
嗯嗯，可以训练了，谢谢！

[2019-09-12 03:08] #3256 closed, assigned to nobody

[2019-09-12 04:11] dbcool opened #3319 "SE_ResNeXt50_32x4d_vd预训练模型"
看见SE_ResNet50_vd预训练模型已经提供了，不知道SE_ResNeXt50_32x4d_vd预训练模型近期能否提供呢?

[2019-09-12 04:32] shippingwang commented on #3319
[所有的模型都在这里](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/README.md#%E5%B7%B2%E5%8F%91%E5%B8%83%E6%A8%A1%E5%9E%8B%E5%8F%8A%E5%85%B6%E6%80%A7%E8%83%BD)， SE_ResNeXt50_32x4d_vd 没有

[2019-09-12 04:33] #3319 closed, assigned to nobody

[2019-09-12 04:35] cuicheng01 commented on #3319
目前还没有，如果有需求的话，可以考虑训练

[2019-09-12 04:44] cuicheng01 commented on #3319
可以先用相近的模型代替，这个模型下次发布吧

[2019-09-12 04:59] dbcool commented on #3319
好的，感谢回复！

[2019-09-12 06:47] dbcool opened #3320 "image_classification训练报warning"
您好，用最新的分类代码训练，warning一直报，

WARNING:root:
     Detect that memory optimize or inplace is enabled, but the some variables in the fetch
     list is not persistable, you may get wrong fetched value, or an exeception may be thrown
     about cannot find variable of the fetch list.
     TO FIX this:
         # Sample
         conv1 = fluid.layers.conv2d(data, 4, 5, 1, act=None)
         # if you need t

[2019-09-12 06:48] ysh329 commented on #3320
这是哪里的代码呀，能给出具体文件吗，我们好方便分析给你建议和修改

[2019-09-12 06:52] dbcool commented on #3320
models/PaddleCV/image_classification下的代码，我用自己的数据进行训练，
 python train.py \
    --model=SE_ResNet50_vd \
    --pretrained_model=terror/pretrain_model_imgcls/SE_ResNet50_vd_pretrained/ \
    --batch_size=32 \
    --data_dir=./terror/data/terror_general/ \
    --num_epochs=100 \
    --total_images=578263 \
    --class_dim=6 \
    --image_shape=3,224,224 \
    --model_save_dir=terror/output/ \
    --lr_

[2019-09-12 06:55] ysh329 commented on #3320
我看warning给了解决方法，你尝试改，可以避免这个warning嘛，后续我们会修，请持续关注呦~

[2019-09-12 06:55] qingqing01 commented on #3320
@dbcool Sorry, the code in develop branch is for version 1.6.  You can remove

[code]

in https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/utils/utility.py#L371

We will fix it soon.

[2019-09-12 06:58] shippingwang commented on #3320
用最新版本的paddle

[2019-09-12 06:58] #3320 closed, assigned to nobody

[2019-09-12 07:01] dbcool commented on #3320
嗯嗯，非常感谢，已经没有warning

[2019-09-12 07:07] chuj625 opened #3321 "run.sh Syntax error"
运行sh run.sh eval时，报
`run.sh: 9: run.sh: Syntax error: "(" unexpected`

把里面的python命令提取出来是可以运行的

[2019-09-12 07:30] shippingwang commented on #3321
你的sh连接的是dash,命令改成bash试一下？

[2019-09-13 02:16] xinaiwunai commented on #2876
已经中秋节了，Model微调的代码还没有吗？

[2019-09-15 03:23] dbcool opened #3324 "PaddleCV/image_classification 推理时间"
您好，我用自己训练的SE_ResNet50_vd模型，在NVIDIA® Tesla® P4，python下进行inference，平均一张图70ms，但是在官网给的Paddle Fluid inference time时间是10ms左右，如下所示:

Model | Top-1 | Top-5 | Paddle Fluid inference time(ms) | Paddle TensorRT inference time(ms)
---|----|----|----|---
SE_ResNet50_vd | 79.52% | 94.75% | 10.345 | 7.662

所以有几个问题,
1)python下推理时间70ms左右是正常的嘛?python下有没有可能达到10ms?
2)官网给的是C++的时间嘛？

[2019-09-15 06:40] wangguibao commented on #3324
请问一下你训的模型和原始模型有什么区别么？
image_classification给的预测时间应该是用python预测的，和你的gpu应该是一样的型号

[2019-09-15 07:55] szfranciszhao opened #3325 "怎么总是下载不了，下载到一半就说网络错误，下载也很慢"
怎么总是下载不了，下载到一半就说网络错误，下载也很慢

[2019-09-16 02:03] wangguibao commented on #3325
请问能具体说一下下载什么位置的数据时出错吗

[2019-09-16 02:07] wangguibao commented on #3324
用户回答：
是在原始模型基础上做fine-tune

[2019-09-16 02:08] wangguibao commented on #3324
可能要看一下fine-tune增加的复杂度

[2019-09-16 02:12] szfranciszhao commented on #3325
下载这两个网址错误：
https://github.com/PaddlePaddle/models
https://github.com/PaddlePaddle/book

用浏览器下载zip文件，总是失败。用gitbash下载，只能看到  .git文件夹生成，总体进度大概19%就出错了
今天用科学上网，下载成功了。但这一还是很不方便，为什么git不能直接好好地下载呢？

------------------ 原始邮件 ------------------
发件人: "Wang Guibao"<notifications@github.com>;
发送时间: 2019年9月16日(星期一) 上午10:03
收件人: "PaddlePaddle/models"<models@noreply.github.com>;
抄送: "牧之"<312109499@qq.com>;"Author"<a

[2019-09-16 02:49] dbcool commented on #3324
您好，我用0912下载下来的代码中infer.py和eval.py测试自己的1000张图像，用的是官网的E_ResNet50_vd_pretrained模型，batch_size=1,
infer.py耗时是66s,平均下来，一张图66ms,
eval.py耗时是63s,平均下来,一张图63ms，跟官网的10.345ms差距还是挺大的，官网数据
SE_ResNet50_vd | 79.52% | 94.75% | 10.345 | 7.662

[2019-09-16 02:56] #2993 closed, assigned to DDDivano, JiabinYang

[2019-09-16 03:04] wangguibao commented on #3325
唉可能是网络抖动吧

[2019-09-16 03:16] zhengya01 commented on #3314
请问下你的运行环境是什么，paddle版本，数据量多大呢

[2019-09-16 03:41] 0YuanZhang0 commented on #3314
paddle 版本1.5.0
python版本2.7.11
数据量：直接使用官方的squad1.1和squad2.0都会出现内存增长问题

[2019-09-16 08:40] dbcool opened #3329 "PaddleDetection的eval.py出错"
您好，我在用PaddleDetection进行eval.py的时候，出错:
**File "/data/daibing/model-factory/logo_detection/ppdet/utils/voc_eval.py", line 73, in bbox_eval
    gt_boxes = t['gt_box'][0]
KeyError: u'gt_box'**
应该是下面这段代码出错
   for t in results:
        bboxes = t['bbox'][0]
        bbox_lengths = t['bbox'][1][0]
        if bboxes.shape == (1, 1) or bboxes is None:
            continue
        gt_boxes = t['gt_box'][0]
可

[2019-09-16 10:02] guotong1988 opened #3331 "多轮match模型，请问下多轮和单轮的兼容问题有什么好的策略吗？"
比如第二轮时候，可以走多轮，也可以走单轮，这时怎么办。
谢谢！

[2019-09-16 11:31] linshuliang opened #3333 "PaddleGAN 模型测试中的参数 --net_G 的含义与使用方法"
模型测试中的参数 --net_G 的含义及其使用方法，README 中没有相关说明

[2019-09-16 13:19] lch1234 opened #3337 "如何提取dynamic_lstm的在各个时刻的隐含状态输出？"
假如如下使用 dynamic_lstm:

import paddle.fluid as fluid
emb_dim = 256
vocab_size = 10000
hidden_dim = 512

data = fluid.layers.data(name='x', shape=[1],
               dtype='int32', lod_level=1)
emb = fluid.layers.embedding(input=data, size=[vocab_size, emb_dim], is_sparse=True)

forward_proj = fluid.layers.fc(input=emb, size=hidden_dim * 4,
                               bias_attr=False)
forward, _ =

[2019-09-16 15:16] tmylla opened #3340 "报错信息“EnforceNotMet: Invoke operator fetch error.”"
**根据5种花卉分类的Resnet做102分类，却报错，而且是在运行一个batch后报错，为什么？**

[2019-09-17 01:04] guotong1988 commented on #3331
貌似，有两个模型，一个多轮模型和一个单轮模型，都走多轮的就可

[2019-09-17 01:37] lipenggao0923 opened #3341 "Floating point exception(core dumped) ./ $pro1 ,"
I use the yolov3 to train the picture for detecting the action and emotion of person.
  but when training several minute , the above error occur.
I really can not sovle it ,could anybody  give us hand?

[2019-09-17 01:38] gavin1332 commented on #3329
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/tools/eval.py
是执行这个文件出错吗？

[2019-09-17 01:39] gavin1332 commented on #3331
请给出单轮和多轮的定义，不明白你描述的是什么意思

[2019-09-17 01:41] guotong1988 commented on #3331
多轮就是类似https://github.com/baidu/Dialogue/tree/master/DAM
单轮就是类似https://github.com/zhiguowang/BiMPM

[2019-09-17 01:43] gavin1332 commented on #3337
提取的目的是啥？比如要去最后一个状态的话，后续可以接pool操作；要求和的话，后续可以reduce sum。绝大部分情况下，这个表示后续可以直接使用的

[2019-09-17 01:47] gavin1332 commented on #3340
错误日志无法定位问题，有没有最小可复现代码？如果是最后一个batch报错的话，可以组一个简单网络测试一下先？

[2019-09-17 01:48] lch1234 commented on #3337
用每个时刻的值和其他的一个向量做attention ，需要直接提取出来呀。

[2019-09-17 01:58] gavin1332 commented on #3331
……会话模型啊

[2019-09-17 01:59] gavin1332 commented on #3331
先做个分类呗

[2019-09-17 02:01] gavin1332 commented on #3337
https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/neural_machine_translation/transformer
可以参考transformer模型中attention的做法

[2019-09-17 02:03] ceci3 commented on #3333
`add_arg('net_G',             str,   "resnet_9block",   "Choose the CycleGAN and Pix2pix generator's network, choose in [resnet_9block|resnet_6block|unet_128|unet_256]")
`
CycleGAN和Pix2Pix两个模型中都有多个生成网络结构可以选择，是选择这两个模型中需要用的生成网络结构的

[2019-09-17 02:10] mozpp commented on #3272
继续坐等回复！依然爆显存！

[code]

[code]

[2019-09-17 02:26] dbcool commented on #3329
是滴，你可以看下results是模型的返回结果，里面并没有gt_box的信息，

[2019-09-17 02:47] jerrywgz commented on #3329
可以看下你这边的配置文件吗

[2019-09-17 02:54] dbcool commented on #3329
启动指令:
python tools/train.py \
    -c configs_proj/logo/faster_rcnn_x101_vd_64x4d_fpn_1x_voc.yml \
    --eval
配置文件faster_rcnn_x101_vd_64x4d_fpn_1x_voc.yml:
architecture: FasterRCNN
train_feed: FasterRCNNTrainFeed
eval_feed: FasterRCNNEvalFeed
test_feed: FasterRCNNTestFeed
max_iters: 200000
snapshot_iter: 1
use_gpu: true
log_smooth_window: 20
save_dir: output
pretrain_weights: pretrain_model/ResNeXt

[2019-09-17 02:58] dbcool commented on #3329
同学，可以hi找我把，daibing, 这个需求目前比较急，谢谢哈

[2019-09-17 03:19] AnShengqiang opened #3342 "能否提供实现gpt-2的思路？"
请问能否提供gpt-2（open ai）代码实现思路？
我对其中decoder部分里面的masked multi head attention不太理解，请问能否有思路或相关实现提供？

[2019-09-17 03:21] AnShengqiang commented on #3342
想用gpt-2去做文本生成，不想使用其它框架，希望paddlenlp能加入gpt-2代码，谢谢！

[2019-09-17 04:15] jerrywgz commented on #3329
https://github.com/PaddlePaddle/models/pull/3344 问题已修复

[2019-09-17 04:15] #3329 closed, assigned to nobody

[2019-09-17 06:23] PamixSun opened #3345 "PaddleDetection 检测网络配置是否支持设置短边像素自动缩放图片大小并保存长高比例"
![image](https://user-images.githubusercontent.com/8444061/65016198-3a4c3b00-d956-11e9-98cd-9c43015f6685.png)

PaddleDetection 中 Faster-RCNN 训练支持图片任意长宽比例输入，通过设置短边像素值（一般取600）自动缩放保存长高比不变吗？

如果有，请问应该在哪里进行配置，在配置文件中未看到相关的配置选项，上述图片中的 DataFeed 感觉输入图像的像素值和长高比例是设置死的。

[2019-09-17 06:47] jerrywgz commented on #3345
可以参考docs/config_example/mask_rcnn_r50_fpn_1x.yml 中查看完整的配置，
![image](https://user-images.githubusercontent.com/22989727/65017583-b85e1100-d959-11e9-9097-23d9a9a662d6.png)
这里target_size为短边，max_size为长边 这里的resize逻辑是：按比例缩放将短边变为800，如果此时长边大于1333后，再按比例缩放将长边变为1333

[2019-09-17 06:47] jerrywgz commented on #3345
需要注意的是，目前如果需要修改这里的resizeimage的话，sample transforms需要完整的放在配置文件中

[2019-09-17 07:50] PamixSun commented on #3345
请问“ sample transforms需要完整的放在配置文件中”怎么理解，每个配置选项都要在文件中进行设置？

[2019-09-17 07:54] jerrywgz commented on #3345
嗯是的，比如修改了resizeimage中的配置，其他预处理的配置，比如decode，randomflip，normalize，permute也要写在配置文件中

[2019-09-17 08:53] PamixSun commented on #3345
嗯嗯，如果按照默认配置的话，就是按比例缩放将短边变为800，如果此时长边大于1333后，再按比例缩放将长边变为1333吗？即默认也是会对图片进行保持长高比例 resize 处理

[2019-09-17 09:22] Bond-H opened #3346 "使用量化压缩装载int8模型运行提示op mul Y must be the same. Get (float) != (int8_t)"
- 系统环境：
    - Paddle版本：1.5.1，CPU，无使用其他加速模块
    - 系统: CentOS 6.3

- 问题描述：
    - 使用paddle.fluid.contrib.slim.Compressor模块进行模型压缩
    - 压缩后的模型，float能正常运行，int8版出现以下错误：
![image](https://user-images.githubusercontent.com/23732409/65028813-40024a80-d96f-11e9-8654-0881e8e0023d.png)

- 问题复现：
[code]

[2019-09-17 10:49] jerrywgz commented on #3345
嗯是的，始终保持宽高比不变

[2019-09-17 11:20] lxk1990727 opened #3348 "paddle.fluid.core_avx.EnforceNotMet: Invoke operator mul_grad error"
多卡训练过程中报错paddle.fluid.core_avx.EnforceNotMet: Invoke operator mul_grad error
[code]

[2019-09-17 12:08] jackaduma commented on #2638
入坑ASR，急需一款模型上手，看到百度deepspeech的项目。尤其是质量高的预训练模型，激动万分。
But，代码是废弃的老框架开发，完全没法用。。。。。
docker是gpu的，因为一些环境问题，用不起来。更主要是想研究一下 代码。。。
国外的torch tf 实现的deepspeech的预训练模型都是英文的。。。。
啥时候 能放出来 能用paddle跑起来的代码啊。。。。。。。。！

[2019-09-17 12:40] Xreki commented on #3348
你这个错误，多半原因是：训练是在GPU上做的，所以参数都是保存在GPU上，预测却在CPU上做，所以报错。请贴一下相关的代码吧。

[2019-09-17 12:49] lxk1990727 commented on #3348
1. 我任务只有train，没有inference；2. 我改成单卡是OK的。

[code]

[2019-09-17 13:01] wzzju commented on #3346
fluid仅支持使用./output/float/下的量化模型，详见此文档https://github.com/PaddlePaddle/models/tree/develop/PaddleSlim/quant_low_level_api 。其实float目录和int8目录仅在权重的数据类型上不同而已，它们的权重值是一模一样的。也可参考https://github.com/PaddlePaddle/Paddle-Lite/wiki/model_quantization 这里。
![图片](https://user-images.githubusercontent.com/17102274/65043823-4d7afd00-d98e-11e9-923e-e2fd08d1b8ee.png)

[2019-09-17 15:07] Bond-H commented on #3346
那么服务端要如何使用量化后的模型，我们模型压缩的目的主要是为了对模型进行提速，使用float32的模型从测试效果上看，并未得到预期的提升

[2019-09-18 00:52] xinaiwunai opened #3350 "PaddleNLP\similarity_net模型训练后无模型输出"
在win10下操作，命令行如下。完成训练后，并没有任何结果在--output_dir ./model_files中。请问如何才能将训练后的结果保存？

[code]

[code]

[2019-09-18 01:47] zhengya01 commented on #3350
因为你设置的save_steps: 1000，可以确认一下是否跑满了 1000 steps

[2019-09-18 02:36] dbcool opened #3351 "PaddleDetection计算mAP有异常"
您好，我在PaddleDetection用eval.py计算mAP的时候，出现了mAP=99.03,但是实际上模型infer.py结果却一般，想问下这是什么情况？

I0918 02:33:16.505477   491 build_strategy.cc:340] SeqOnlyAllReduceOps:0, num_trainers:1
2019-09-18 02:33:18,616-INFO: Test iter 0
2019-09-18 02:33:34,774-INFO: Test finish iter 99
2019-09-18 02:33:34,775-INFO: Total number of images: 99, inference time: 5.41008615843 fps.
2019-09-18 02:33:34,775-INFO: Start evaluat

[2019-09-18 03:01] JayJQK opened #3353 "有关于LAC模型词典干预的问题"
请问，我在使用LAC模型加入自己的词典的时候，发现不支持我自己新建一个词性，之后是否能够支持？

[2019-09-18 03:26] Xreki commented on #3346
你们的CPU型号是哪个？int8加速一般用户移动端，服务器端硬件本身就不一定支持int8计算。

[2019-09-18 03:37] Bond-H commented on #3346
我们这个产品是打算开源出去的，所以对于CPU的型号的限制应该不在我们考虑范围内，速度是当前模型的主要局限，当前paddle实现的量化模型是否难以达到我们这个预期功能呢？

[2019-09-18 05:49] shippingwang commented on #3348
``` compiler_prog = fluid.compiler.CompiledProgram(train_prog).with_data_parallel(loss_name=train_outputs[0].name)```

 这句话放在
``` fluid.io.load_vars(exe, args.resume, predicate=if_exist, main_program=train_prog)```
后面试试？

[2019-09-18 06:33] stuhailiu opened #3359 "deeplabv3_xception65给出的miou=0.79，直接下载权重使用paddleseg评测只有0.59，是否可以给出复现的具体过程"
从github上下载deeplabv3_xception65_bn的权重参数，直接用paddleseg加载进行预测，使用默认的参数配置，输出的miou只有0.59

[EVAL]#image=500 acc=0.9114 IoU=0.5917
[EVAL]Category IoU: [0.9464 0.6721 0.8490 0.4693 0.4214 0.2727 0.3392 0.4761 0.8506 0.5234 0.8905 0.5392 0.2792 0.8313 0.6819 0.7244 0.6624 0.2800 0.5329]
[EVAL]Category Acc: [0.9841 0.8093 0.9030 0.7519 0.6044 0.5073 0.6370 0.7179 0.8937 0.7346 0.9478 0.7009 0.5528 0.8958 0.77

[2019-09-18 06:45] endy-see opened #3360 "error: function dynload::cuptiActivityFlushAll(CUPTI_ACTIVITY_FLAG_FLUSH_FORCED) failed with error CUPTI_ERROR_NOT_INITIALIZED"
我这边用ocr_recognition跑识别训练时碰见了如下问题，麻烦帮忙看一下
![paddle_err](https://user-images.githubusercontent.com/13143336/65122203-f4a97400-da22-11e9-9280-b018830648ad.png)

[2019-09-18 07:27] machuw opened #3361 "deepFM代码问题"
models/PaddleRec/ctr/deepfm/network_conf.py代码的第26和40行在定义embedding层的size时，为什么是num_feat+1而不是直接用num_feat？

[2019-09-18 08:02] lxk1990727 commented on #3348
还是同样的问题，如果我不load checkpoint是可以跑通的。

[2019-09-18 08:58] jerrywgz commented on #3351
已通过修改预处理方式解决

[2019-09-18 08:58] #3351 closed, assigned to nobody

[2019-09-18 09:21] shippingwang commented on #3360
提供下环境信息？CUDA CUDNN nccl paddle版本

[2019-09-18 09:28] shippingwang commented on #3348
继续训练ckpt，用下load_persistable接口试试？

[2019-09-18 09:34] lxk1990727 commented on #3348
这样都load不进去参数的

[2019-09-18 09:42] endy-see commented on #3360
cuda 9.0.176 , cudnn 7.4.2.24 , nccl 2.4.2, paddle 1.5.0

[2019-09-18 09:49] shippingwang commented on #3348
fluid.io.load_persistables(exe, args.resume, main_program=train_prog)

[2019-09-18 10:16] wanghaoshuang commented on #3360
log的意思是cupti和cuda driver不匹配。
你用类似以下命令确认下你的cupti的版本？
[code]
另外，确认下你的LD_LIBRARY_PATH是否指向了正确的libcupti.so

[2019-09-18 10:40] lxk1990727 commented on #3348
Cannot open file checkpoints/VideoText_epoch4_steps40000/fc_1.w_0 for load op at [/paddle/paddle/fluid/operators/load_op.h:37]

[2019-09-18 11:10] Xreki commented on #3346
之所以问CPU型号，是因为不是所有的CPU型号都支持int8计算，或者是int8计算不一定有预期的收益。

你们是什么模型？当前速度是多少，期望达到多少？

[2019-09-18 11:12] LutaoChu commented on #3359
你的配置适用于unet。
建议使用这个配置：
[code]

[2019-09-18 11:18] Bond-H commented on #3346
我们模型主体是LSTM+CRF，当前速度是350QPS，耗时主要在LSTM上，查看相关资料表示RNN量化后大约能提速3倍左右，我们预期是能提速2倍以上的

[2019-09-18 11:25] endy-see commented on #3360
![paddle_err](https://user-images.githubusercontent.com/13143336/65144464-02262480-da4a-11e9-8277-ff12e6a689fd.png)

[2019-09-18 12:03] yanmeizhao commented on #3360
换了个libcupti.so，可以正常运行了，感谢~

[2019-09-18 12:04] endy-see commented on #3360
换了个libcupti.so，可以正常运行了，感谢~

[2019-09-18 12:04] #3360 closed, assigned to nobody

[2019-09-18 12:24] shippingwang commented on #3348
是对的预训练模型么？跑下eval看下

[2019-09-18 12:56] Xreki commented on #3346
在考虑int8之前，其实你可以尝试别的方法：

[code]

1. exe.run的时候可以设置use_program_cache=True，具体情况API文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/executor_cn.html#run

2. 尝试Python预测API：https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/python_infer_cn.html

[2019-09-18 13:20] lxk1990727 commented on #3348
我单卡跑着一点问题都没有

[2019-09-18 13:23] Bond-H commented on #3346
嗯嗯，其实350QPS已经是使用Python预测API接口测试的结果了，之所以在此处的复现代码使用exe.run，是因为该函数显示的调试较为全面，不知道Paddle还有没有其他对于LSTM模型的优化方法了呢？好像从相关API上没有看到相关的RNN加速模型

[2019-09-18 13:53] ZeyuChen commented on #3155
@XiaoguangHu01 PaddleSeg已经发布了，可以试下PaddleSeg分割库进行训练 https://github.com/PaddlePaddle/PaddleSeg

[2019-09-18 14:54] tmylla commented on #3340
已解决，原因是预处理的文件label范围为1-102，应该是0-101。
能够运行一个batch的原因是，第一个batch恰好未碰到label为102的样本。

[2019-09-19 02:11] trawy commented on #3112
问下您的第一个问题怎么解决的

[2019-09-19 02:19] #3155 closed, assigned to nobody

[2019-09-19 02:20] epylice commented on #3155
可以使用分割库训练了。

[2019-09-19 03:22] xiaolvtaomi opened #3363 "如果eos发生变化无法做infer的操作"
[attention_model.py](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ocr_recognition/attention_model.py)这个文件中如果eos发生变化无法做infer的操作（比如因为要识别有数字所以eos改成了其他值）
attention_infer的方法中
[code]

[2019-09-19 05:56] heavengate commented on #3363
感谢您的建议，我们尽快确认修改~

[2019-09-19 05:57] JesseyXujin commented on #3353
感谢反馈，后续会考虑支持。

[2019-09-19 06:08] frankwhzhang commented on #3361
因为数据中存在超出字典范围的值，所以预处理的时候都统一为0 ， 这里embedding这个op中将padding_idx设为了0 。所以这个embedding的第一个维度是特征数+1（padding）

[2019-09-19 07:01] qwertyuiop194 opened #3368 "could not broadcast input array from shape (3,128,58) into shape (3,128)"
训练完一轮报以上错误，程序还可以继续运行，但每运行完一轮就会报错；
但一直不提示错误在哪里；
这个是什么原因

[2019-09-19 07:29] heavengate commented on #3368
麻烦贴一下全量报错信息和关键代码

[2019-09-19 07:37] banbishan opened #3370 "ocr attention 模型运行报错"
系统：ubuntu18.08
paddle版本：1.5 cpu
图片为宽高不一的图片，宽/高都小于512/48，示例如下
294 28 img_0000001.jpg 7,66,714,51,1441,14,293,407,1746,3257,78
92 22 img_0000002.jpg 617,569,1434,1423
62 28 img_0000003.jpg 137,36

报错如下：
[code]

[2019-09-19 07:39] qwertyuiop194 commented on #3368
一直在运行；中间会出现错误；似乎是测试阶段出的错误？

Pass 3, trainbatch 300, loss 1.30312,                             acc1 0.20000, acc5 1.00000, lr 0.09978, time 0.23 sec
Pass 3, trainbatch 310, loss 1.31770,                             acc1 0.40000, acc5 1.00000, lr 0.09978, time 0.23 sec
Pass 3, trainbatch 320, loss 1.61041,                             acc1 0.20000, acc5 1.00000, lr 0.09978, time 0.23 sec
Pass 3, trai

[2019-09-19 07:56] wanghaoshuang commented on #3370
hi，你有对models下的code做修改么？如果有的话，把修改部分贴一下？

[2019-09-19 08:03] heavengate commented on #3368
报错在io里面，应该是模型有一个shape (3,128)的输入，你写的reader之前一直yield的也是shape(3,128)的数据，突然有一个iter yield的是shape (3,128,58)的数据，请排查一下reader代码

[2019-09-19 08:05] qwertyuiop194 commented on #3368
好的，我看一下，感谢

[2019-09-19 08:13] banbishan commented on #3370
只修改了data_reader.py中的NUM_CLASSES = 5990

[2019-09-19 09:43] wanghaoshuang commented on #3370
从log看，你给的label应该有个空的sequence, edit_distance op没有正确处理这个空的sequence.
你可以尝试用fluid.layers.Print 打印下label, 看下其lod信息。

[2019-09-19 10:00] banbishan commented on #3370
我用python检查过，我把train.list按行读入，用split（' '）分开后，用len看长度，都是4，看了label用split（','）分隔后的长度都大于1.

[2019-09-19 10:37] machuw commented on #3361
这里的num_feat就是字典范围吧？我看这个值是在conf里写死的，这是根据数据处理得出来的字典中idx的最大值来定的么？

[2019-09-19 12:44] pandaxue opened #3372 "Compiled with WITH_GPU, but no GPU found in runtime."
Compiled with WITH_GPU, but no GPU found in runtime.
明明GPU都没在工作呀，为什么没有gpu呢
![77](https://user-images.githubusercontent.com/50400428/65244979-500c5c80-db1e-11e9-9753-e3a0bd6e72d4.png)

[2019-09-19 13:51] #3368 closed, assigned to heavengate

[2019-09-19 13:54] heavengate commented on #3372
这种情况一般是CUDA Driver版本，CUDA 版本和Paddle需求CUDA版本不一致导致，可以排查一下这三个版本是否适配

[2019-09-19 14:11] mzchtx commented on #3324
Model | Top-1 | Top-5 | Paddle Fluid inference time(ms) | Paddle TensorRT inference time(ms)
-- | -- | -- | -- | --
SE_ResNet50_vd | 79.52% | 94.75% | 10.345 | 7.662

上面的 10 ms 应该是 c++ 预测的时间，而你的 70ms 应该是 python 的预测时间

[2019-09-20 01:58] pandaxue commented on #3372
没道理呀，我cuda是9.0你们不是要求大于8.0吗？驱动是384.130，我觉得cuda不可能有问题呀，因为我经常训练模型，这配置的版本不可能不匹配呀，我paddle是1.5的，是不是跟他不匹配？

[2019-09-20 02:37] soldier828 opened #3373 "PaddleDetection不支持加载检测网络header相关参数"
- 问题描述：PaddleDetection的配置文件直接加载骨干网络的预训练模型。如果单纯训练COCO任务，那么让检测头权重随机初始化很合理。实际中，一般是使用COCO训练好的整体网络再去finetune其他任务，效果会更好。

- 对比实验：分别使用paddle原始的yolov3和PaddleDetection的yolov3，训练同一个任务（只有一个类别的检测任务），前者比后者map高0.02左右（前者0.81，后者0.79）。推测是加载权重的差异导致的，paddle原始的yolov3可以加载整个网络（backbone+yolov3检测头）的权重，PaddleDetection默认只加载backbone的权重。

- 参考code链接：
PaddleDetection： https://github.com/PaddlePaddle/models/blob/ad1a917fd85889

[2019-09-20 03:21] heavengate commented on #3372
paddle 不同whl包对应的CUDA和cuDNN版本不一样的，可以通过pip install paddlepaddle-gpu==1.5.2.post97 这样指定CUDA和cuDNN版本，第一个数字是CUDA版本，第二个数组是cuDNN版本

[2019-09-20 03:23] CelineChen95 commented on #2382
@ellinyang 请问您自己组织自己数据是什么格式的呢？

[2019-09-20 03:25] heavengate commented on #3372
是否是在docker里面没有把CUDA device映射进去等原因，还有可以试下`export CUDA_VISIBLE_DEVICES=0` 试下

[2019-09-20 05:26] pandaxue commented on #3372
我没有使用什么docker，还有export那个也试过了，没什么用

[2019-09-20 05:50] heavengate commented on #3372
`pip list | grep paddle` 可以确认一下paddle版本和CUDA版本是否匹配，另外之前有遇到过重启能够解决这个问题，可以试下

[2019-09-20 06:11] pandaxue commented on #3372
我想问下与cudnn版本有关系吗，我用的是cuda9.0 cudnn 7.0.5的，和paddle1.5.2不知道匹配不匹配

[2019-09-20 06:45] #3340 closed, assigned to nobody

[2019-09-20 07:03] #3363 closed, assigned to wanghaoshuang

[2019-09-20 07:17] wenston2006 opened #3378 "如何实现自定义层?"
目前需要自定以一个层起到crop的功能,该层的定义可用如下公式表示:

F_t=Crop(F, c_t, Ph, Pw)
F, Ph, Pw分别来自输入图片和手动标记结果; c_t是由深度学习网络中另一个层的参数计算得到, 现在需要定义F_t这个层, 实现将梯度反向传递给c_t, 请问该如何自定义?

[2019-09-20 07:24] wenston2006 opened #3379 "ocr attention如何画出attention center?"
在某些文献中看到给出了样本图片中的attention center, 请问paddlepaddle中如何画出attention center?

[2019-09-20 08:33] pandaxue opened #3380 "fluid.install_check.run_check()"
fluid.install_check.run_check()在验证这个安装的时候出错，不知道为什么

[2019-09-20 09:54] Bond-H opened #3381 "更新LAC模型"
更新内容包含以下几点：
- 基于新版开发规范更新模型的接口，增强易用性
- 对模型的更新，显著提升模型计算效率，并降低模型的体积，同时模型效果也有一定的提升
- 修复模型infer模式时输入空串报错的问题（对应issue#3149和issue#3106，待paddlehub更新）

[2019-09-21 13:04] kolinwei commented on #3380
能贴下出错日志吗

[2019-09-22 02:39] pandaxue commented on #3380
![图片](https://user-images.githubusercontent.com/50400428/65381488-fc1f9480-dd24-11e9-90b7-dbfef2babc5d.png)
![图片](https://user-images.githubusercontent.com/50400428/65381493-135e8200-dd25-11e9-95da-f4ebd6a80815.png)
![图片](https://user-images.githubusercontent.com/50400428/65381497-2e30f680-dd25-11e9-9e5e-adf21219cc09.png)

[2019-09-22 07:32] az235 opened #3385 "使用PaddleNLP可否实现语义依存分析？"
使用PaddleNLP可否实现语义依存分析？

[2019-09-23 01:41] SunGaofeng commented on #3385
目前PaddleNLP下面没有语义依存分析的模型，能问下您用语义依存分析做什么用的？

[2019-09-23 07:22] yangyan1227 opened #3388 "legacy 下的dssm模型请问现在对应在fiuld框架下的哪个文件下"

[2019-09-23 11:38] hutuxian commented on #3388
感谢使用paddle。
fluid下没有dssm模型了，可以参考 https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/similarity_net

[2019-09-23 11:41] yangyan1227 commented on #3388
好的，谢谢您

| |
18742521993
邮箱：18742521993@163.com
|

Signature is customized by Netease Mail Master

在2019年09月23日 19:38，hutuxian 写道：

感谢使用paddle。
fluid下没有dssm模型了，可以参考 https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/similarity_net

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-09-24 01:21] A1exy commented on #3324
C++也不能提速6倍多吧。。我测试的Paddle C++也只比Python快一点点，还不到1倍

[2019-09-24 03:33] wenston2006 opened #3393 "ocr attention 模型可否提供基于dygraph版本的?"
目前提供的是静态图版本的,调试起来比较困难.

[2019-09-24 03:33] #3333 closed, assigned to ceci3

[2019-09-24 06:05] sandyhouse commented on #3393
请参考：https://github.com/PaddlePaddle/models/tree/develop/dygraph/ocr_recognition

[2019-09-24 06:08] mmglove opened #3394 "light_nas search 遇到大模型显存超限"
报错信息：
![image](https://user-images.githubusercontent.com/38800877/65475893-c1983200-deb3-11e9-8f9f-4aef936025a2.png)
这是在5个epoch后，计算的MobileNetV2 reward:0.454199999571,latency:27.92442;尝试新的token训练时报上面的错误，
配置：
![image](https://user-images.githubusercontent.com/38800877/65475928-dbd21000-deb3-11e9-9043-d338d685be25.png)
batch_size=256 ,4张P40，开启GC：
![image](https://user-images.githubusercontent.com/388

[2019-09-24 07:05] mozpp opened #3396 "yolov3能否增加slim的相应代码"
https://github.com/PaddlePaddle/models/issues/2350
当前根据官方的slim-ssd修改yolov3代码，遇到很多问题。“reader要改，模型结构要改，配置文件要改，保存结果也要改，需要修改不少源码。”
而且paddle的ssd和yolo的代码风格很不一样，改起来遇到很多问题。

[2019-09-24 07:06] mozpp commented on #3396
@heavengate  @wanghaoshuang

[2019-09-24 07:11] mozpp commented on #3396
我的做法（目前有bug）
修改train.py
[code]
修改yolov3.py
[code]

[2019-09-24 07:13] mozpp commented on #3396
![Screenshot from 2019-09-24 15-13-24](https://user-images.githubusercontent.com/25809906/65489519-e2757d00-dedd-11e9-837c-841944f3afc7.png)

[2019-09-24 07:26] #1853 closed, assigned to nobody

[2019-09-24 08:40] wanghaoshuang commented on #3378
`F_t` 对 `c_t`不可导，理论上不能将梯度传给c_t的。

[2019-09-24 09:06] jerrywgz commented on #3373
现在已经在pr中了，会给出finetune的文档。现在yolo finetune的话需要手动把带yolo_output相关的参数先手动删掉

[2019-09-24 09:24] zhengya01 commented on #3314
请问下你跑了多久

[2019-09-24 10:25] JepsonWong commented on #3380
请问能贴下环境吗？cuda、cudnn版本，操作系统版本，显卡型号，python和paddle版本。

[2019-09-24 10:55] mzchtx commented on #3324
是完全有可能的，paddle 的 c++ 预测还会进行一系列的优化，比如层融合等等

[2019-09-24 11:56] suoych opened #3399 "develop分支yolov3模型如果内存不足程序退出后，reader不会自己退出，还会占用内存"

[2019-09-24 12:35] wanghaoshuang commented on #3396
10月中旬paddle1.6版本会正式发布yolov3在剪裁、蒸馏和量化策略上的示例。

我会将近期的工作同步到该issue, 多谢关注与支持。

[2019-09-24 12:53] wanghaoshuang commented on #3394
这个错误是因为搜到的模型太大了，通过调小target_flops可以一定程度降低该问题出现的频率。
另外可以通过设置出错前一步搜到的tokens为init_tokens, 然后调整init_temperature，恢复搜索任务。

当然，我们会尝试从框架角度来解决该问题。请您谅解。

[2019-09-24 13:18] pandaxue commented on #3380
cuda9.0 patch1,2,3,4都装了
cudnn 7.3.1
Ubuntu16.04
显卡是1050ti
paddle是1.5.2-gpu
python是3.6.9

[2019-09-25 01:57] xiaosang opened #3402 "language_representations_kit/ERNIE下的XNLI任务报错"
环境：paddle1.5.2  python3.7

执行命令：sh script/zh_task/ernie_base/run_xnli.sh
错误信息：
![image-20190923191924-yclpte](https://user-images.githubusercontent.com/19245678/65563000-c378f880-df7a-11e9-8e85-185aa460fe31.png)
需要手动建log文件夹，建议可以自动创建。

[2019-09-25 02:31] wenston2006 commented on #3393
@sandyhouse 谢谢

[2019-09-25 02:35] dbcool opened #3403 "face_detection的速度问题"
您好，这边有两个疑问:
一是face_detection的infer只用det0 = detect_face(image, shrink)，fps=5左右，是否可以提高
二是face_detection的infer目前只支持单张图像的infer，是否可以设置batchsize=10这样

[2019-09-25 02:41] JepsonWong commented on #3380
请问paddle 1.5.2-gpu是安装的cuda9.0的安装包吗？

[2019-09-25 02:46] wenston2006 commented on #3378
@wanghaoshuang 谢谢回复; 想进一步请教一下, 我打算重现 "focusing attention: towards accurate text recognition in natural images" 这篇文献里面focusing attention部分, 根据文章所描述, F_t在原图中抠一块(crop)下来后, 会在抠的图上面计算focusing loss; 我的理解是由focusing loss计算梯度后,应该回传到F_t, 再由F_t传给c_t, 由于c_t=sum_(j=1)^T alpha_t,j C_t,j ,  c_t再把梯度传给alpha_t,j 从而起到纠正attention权重的目的;

如你上面所述, F_t 没法把梯度传给c_t,  那么focusing loss的梯度应该如何回传呢? crop 函数如果以c_t为中心, 通过双线插值来获取抠图

[2019-09-25 02:47] FDInSky commented on #3403
1. 如果换成c++ api进行infer，速度能快点，但不会产生质的影响；
2. 目前库里没有写，但理论上可以，可以参考PaddleDetection eval写法

[2019-09-25 03:18] eddieheyutong opened #3405 "paddle官网给出的deeplabv3+测试总提示越界"
想请教下大家，我在github上下载了deeplabv3+的代码，以及最终训练好的模型，也在cityscape下载了数据集，我现在想做的就是能测试就行，但是开始我
python ./eval.py \
    --init_weights_path=deeplabv3plus_gn \
    --norm_type=gn \
    --dataset_path=$DATASET_PATH
打出这个指令提示缺少val.list然后我根据cityscape生成了一个list路径文件，但是在输入这个指令会报数组越界的错误，想知道下是我哪里的操作有问题吗？刚刚接触paddle实在是有点乏力，希望大佬们能来答疑解惑一下

[2019-09-25 04:04] sandyhouse commented on #3393
Closing this issue. Reopen it if you have any further question.

[2019-09-25 04:04] #3393 closed, assigned to nobody

[2019-09-25 05:34] qwertyuiop194 opened #3407 "list index out of range"
在原始代码上，载入自己的训练集，出现如下错误；print（len(b_out)） = 4; 里面是double_buffer_0, mean、accuracy1，accuracy2; 共4项

这里面也没有loss等参数啊，为何在将其赋值为loss
 train_py_reader, train_cost, train_acc1, train_acc5, global_lr = b_out[0],b_out[1],b_out[2],b_out[3],b_out[4]

Traceback (most recent call last):
  File "train.py", line 622, in <module>
    main()
  File "train.py", line 618, in main
    train(args)
  File "train.py", line

[2019-09-25 05:45] eddieheyutong commented on #3407
你好你用的是deeplab吗

[2019-09-25 05:47] qwertyuiop194 commented on #3407
不是

[2019-09-25 05:49] eddieheyutong commented on #2282
您好您能留个联系方式嘛，因为刚刚使用deeplabv3+,有些问题想向您请教

[2019-09-25 05:53] eddieheyutong commented on #1708
您好请问您方便留个联系方式嘛，同样在用deeplabv3+有些问题想请教您一下

[2019-09-25 06:04] littletomatodonkey commented on #2282
这个邮箱就好

在2019年09月25日 13:49，eddieheyutong 写道：

您好您能留个联系方式嘛，因为刚刚使用deeplabv3+,有些问题想向您请教

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-09-25 07:35] pandaxue commented on #3380
啥意思，我cuda是以前单独安装的

[2019-09-25 08:29] wenston2006 commented on #3393
@sandyhouse 尝试了一下dygraph文件夹中的ocr_recognition, 没看到模型保存的代码, 请问保存模型是否需要额外添加代码?

[2019-09-25 08:32] sandyhouse commented on #3393
你确认下吧，如果确定没有保存模型代码的话，还是需要额外添加代码的。比如paddle.fluid.dygraph.save_persistables

[2019-09-25 11:25] heavengate commented on #3399
您好，我本地测试了下没有复现这个问题，如果reader进程没有主动退出的话可以尝试下
[code]
试下

[2019-09-25 12:11] SnowWhite11235 opened #3417 "在train.py中实现的交叉熵损失不下降"
您好，我自己再train.py中实现了带有ignore_labels的交叉熵函数，但是训练过程中损失函数不收敛，请问是哪里写的不太对吗？或者是反传需要什么特殊处理？用API的交叉熵是没有问题的。
（其中mask是一个过滤掉label小于-1的位置的模板）
def cross_entropy_loss(fc, labels_int32, class_num):
    # labels: int32 to int64 and double
    labels_double = fluid.layers.cast(x=labels_int32, dtype='double')
    labels_int64  = fluid.layers.cast(x=labels_int32, dtype='int64')
    # generate mask
    ignore_labels =

[2019-09-25 12:11] SnowWhite11235 commented on #3417
用API的交叉熵是没有问题的。

[2019-09-25 13:27] A1exy opened #3419 "PaddleSlim classification pruning问题"
如链接所示 https://github.com/PaddlePaddle/models/tree/develop/PaddleSlim/classification/pruning
![image](https://user-images.githubusercontent.com/7035538/65605075-0c609980-dfdb-11e9-8dde-6166adae44e4.png)
然而在Paddle官网上并没有找到1.6版本的Paddle，是不是代表这个功能暂时还用不了。
Paddle1.5.2报错了，还有请问Pruning测试的结果大概什么时候可以公布。
@wanghaoshuang

[2019-09-26 01:44] #3381 closed, assigned to nobody

[2019-09-26 03:01] JepsonWong commented on #3380
paddle 有针对cuda8.0/9.0/10.0的安装包，想问一下您安装的包是针对cuda9.0的嘛

[2019-09-26 03:19] Soulmate303 opened #3421 "训练KT-NET时执行cd reading_comprehension && sh ./run_record_twomemory.sh报错"
09/25/2019 14:17:39 - INFO - utils.args - -----------  Configuration Arguments -----------
09/25/2019 14:17:39 - INFO - utils.args - batch_size: 6
09/25/2019 14:17:39 - INFO - utils.args - bert_config_path: cased_L-24_H-1024_A-16/bert_config.json
09/25/2019 14:17:39 - INFO - utils.args - checkpoints: output/
09/25/2019 14:17:39 - INFO - utils.args - concept_embedding_path: ../retrieve_concepts/KB_

[2019-09-26 03:23] A1exy commented on #3419
@JiabinYang @wzzju

[2019-09-26 04:53] suoych commented on #3399
thanks so much

[2019-09-26 05:59] kuke commented on #3421
这个问题和python环境有关，请参考这里

https://stackoverflow.com/questions/18649512/unicodedecodeerror-ascii-codec-cant-decode-byte-0xe2-in-position-13-ordinal

[2019-09-26 06:23] Soulmate303 commented on #3421
好的，感谢，我看看

[2019-09-26 06:28] Soulmate303 commented on #3421
之后我再执行的时候，报的以下错误，而服务器上的内存是够用的，不知道是代码的原因造成的还是其他？
Traceback (most recent call last):
  File "src/run_record_twomemory.py", line 626, in <module>
    train(args)
  File "src/run_record_twomemory.py", line 549, in train
    outputs = train_exe.run(fetch_list=fetch_list)
  File "/usr/local/lib/python3.5/dist-packages/paddle/fluid/parallel_executor.py", line 279, in run
    return_numpy=return_numpy)

[2019-09-26 07:44] littleKaa opened #3424 "transformer为什么要加attention的bias？"
transfomer的模型代码里self-attention里点击的时候加了一个attention的bias。
![image](https://user-images.githubusercontent.com/2673581/65668437-4f228000-e074-11e9-900b-a6e63812203c.png)
但是没有看到更新这个bias的地方。

请问加这个bias的目的是什么？

[2019-09-26 09:33] ceci3 commented on #3419
是的，可以源码编译develop版本试下

[2019-09-26 09:40] wanghaoshuang commented on #3419
@A1exy 这是准备在Paddle1.6版本发布的工作，Paddle1.6版本预计10月中旬发布。
在这之前，您可以编译paddle develop试用。另外，你可以把Paddle1.5.2报错贴一下么？

[2019-09-26 09:58] guoshengCS commented on #3424
这个是作为mask使用，避免attention到某些内容，如padding的内容、decoder中下文的内容。

[2019-09-26 10:34] FDInSky commented on #3417
经过排查，这个跟这个函数的逻辑应该有问题，你们需要再进一步确认

[2019-09-26 11:46] Usernamezhx opened #3427 "about the nextvlad input size"
I read the 2d youtube-8m nextvlad tensorflow code: https://github.com/linrongc/youtube-8m/blob/4810b4e7763c9aa2430ee0cc45b86ad72faecc7b/nextvlad.py#L26, the input is such as [1, 300, 1024] which means the [batch, frames, feature_size] I think it only support batch_size: 1. so I want to know. the padlepaddle version suppot other num batch_size ? I mean the input size:https://github.com/PaddlePaddle

[2019-09-26 11:56] A1exy commented on #3419
@wanghaoshuang  好的，多谢回复，那我10月多再试试这个功能。
1.5.2我按照你的设置执行，报错信息如下：

-----------  Configuration Arguments -----------
batch_size: 1
config_file: ./configs/mobilenet_v2.yaml
model: MobileNetV2
pretrained_model: /home/hpc/ccx/code/Model_Compress/models/PaddleCV/image_classification/output/MobileNetV2_x1_0/199
use_gpu: 0
------------------------------------------------
Traceback (most recent call last):

[2019-09-26 11:57] #3419 closed, assigned to nobody

[2019-09-27 01:22] pandaxue commented on #3380
是呀，肯定是呀，我以前安装的就是9.0的，现在针对9.0安装的paddle呀

[2019-09-27 01:48] wanghaoshuang commented on #3419
File "compress.py", line 103, in
main()
File "compress.py", line 99, in main
compress(args)
File "compress.py", line 91, in compress
train_optimizer=opt)
TypeError: init() got an unexpected keyword argument 'save_eval_model'

`save_eval_model`是Paddle1.6版本新加的一个参数，为了用户更方便的保存infer model和evaluation model，在Paddle1.6发布之前还不可用。具体细节可参考代码：
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fl

[2019-09-27 03:13] mozpp opened #3428 "预测库infer的结果和正常infer结果不同"
我根据 https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/python_infer_cn.html 进行YOLOv3的服务部署。
model是用https://github.com/PaddlePaddle/models/blob/release/1.5/PaddleCV/yolov3/infer.py 保存的
结果不同！！！
[code]

[2019-09-27 03:13] SunGaofeng commented on #3427
Yes, PaddlePaddle support bathsize >= 1.
BTW: in the above tf repository you showed, the author used batchsize=80, you can check the tf code or contact with the author to confirm this.

[2019-09-27 03:17] mozpp commented on #3428
![Screenshot from 2019-09-27 11-14-20](https://user-images.githubusercontent.com/25809906/65739563-45eaef00-e118-11e9-9996-37feb9756e8e.png)
本来预测出来[cls,confidence,x,y,w,h]，但是x和w都异常！！！

[2019-09-27 03:23] Usernamezhx commented on #3427
@SunGaofeng ok thanks for your reply. I set a breakpoint at the nextvlad function entry of the tf version nextvlad with batchsize=80. it show me that:
`-> input = slim.fully_connected(input, self.expansion * self.feature_size,  activation_fn=None`
`(Pdb) p input`
`<tf.Tensor 'map/while/tower/video_VLAD/strided_slice:0' shape=(1, 300, 1024) dtype=float32>
`
I will read the code carefully. thank you

[2019-09-27 03:23] #3427 closed, assigned to SunGaofeng

[2019-09-27 03:51] mozpp commented on #3428
model，是一个行人检测模型，测试的话随便用一张行人的图片吧

[2019-09-27 04:16] heavengate commented on #3428
c++预测接口读取int32会误读成int64，导致im_shape的w读入不对，参考 https://github.com/PaddlePaddle/Paddle/issues/19830

[2019-09-27 04:17] heavengate commented on #3428
使用develop的whl包可以解决  https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/beginners_guide/install/Tables.html#whl-release

[2019-09-27 05:14] foralliance opened #3430 "关于pyramidbox中的感受野"
您好！
在PyramidBox中，为了避免过大感受野带来的影响，在特征融合时，并没有融合高层的特征．
但是在CPM模块，又使用了3*3的conv，这又会增大感受野．
感觉有点矛盾．

麻烦了！

[2019-09-27 06:04] tianjie491 opened #3431 "transformer模型预测时怎么使用PaddlePredictor？"
模型已经训练完成并保存为inference model，现在需要进行预测。
预测方法为：
def prediction(predictor, predict_data_generator):
    for sample in predict_data_generator():
        max_seq_len = sample[0].shape[1]
        src_word = fake_input(sample[0], PaddleDType.INT64)
        src_pos = fake_input(sample[1], PaddleDType.INT64)
        src_slf_attn_bias = fake_input(sample[2], PaddleDType.FLOAT32)
        trg_word = fake_input

[2019-09-27 07:22] zhaoyuchen2018 commented on #3430
麻烦模型同学帮忙解答下@qingqing01

[2019-09-27 07:52] tianjie491 commented on #3431
对于Lod_tensor的转化，写了个方法，请看下对不对，
def lod_tensor_input(ids, dtype):
    array = np.array(ids)
    tensor = PaddleTensor()
    tensor.name = "data"
    tensor.lod = ids.lod()
    tensor.shape = list(array.shape)
    tensor.dtype = dtype
    tensor.data = PaddleBuf(array.flatten().tolist())
    return tensor

能预测出数据，但是数据类型为paddletensor，请问怎么转化为lod_tensor呢？

[2019-09-27 08:28] zhaoyuchen2018 commented on #3431
paddleTensor转lodtensor可以参考下:https://github.com/PaddlePaddle/Paddle/blob/e89b12884afa24a54a5a3d94754dd4cf461dc213/paddle/fluid/inference/api/analysis_predictor.cc#L265

[2019-09-27 09:04] tianjie491 commented on #3431
seq_ids_data = seq_ids.data
    seq_ids_data = PaddleBuf.int64_data(seq_ids_data)
    seq_ids_lod = seq_ids.lod
可以用PaddleBuf.int64_data或者PaddleBuf.float_data等方法将PaddleBuf转化为list后使用。
感谢@zhaoyuchen2018的帮助

[2019-09-27 12:13] stasi009 opened #3439 "如何实现Wide&Deep中，用FTRL优化wide, 用Adam优化Deep"
经典的wide & deep中，需要使用到两个optimizer，用FTRL优化wide, 用Adam优化Deep。

TensorFlow中用是用tf.group，将两个optimize ops合并成一个。

在PaddlePaddle中，如何实现在一个program中使用两个optimizer?

[2019-09-27 12:17] tianjie491 commented on #3431
@zhaoyuchen2018 还有一个问题需要帮助，
预测时一条数据在CPU上预测需要3-5秒，在GPU上也需要1-2秒，预测时间消耗太大，请问有没有优化方法？

[2019-09-27 12:40] zhaoyuchen2018 commented on #3431
要profile下才知道瓶颈在哪里，你可以尝试下打开--profile=true看看哪里耗时比较多。

[2019-09-27 13:00] stasi009 opened #3441 "优雅的重置auc"
几乎所有的有关分类的代码，都有如下重置auc的代码
auc_states_names = ['_generated_var_0','_generated_var_1','_generated_var_2', '_generated_var_3']
                for name in auc_states_names:
                    set_zero(name)

我实在搞不清楚，难道无论谁写的paddle程序，auc的变量都叫那几个名字？？？

一看那些variable的名字，就是paddle自动生成的。

那么，我自己写的代码，如果要重置auc，应该使用哪些变量名？我怎么才能知道，我应该用哪些变量名？？

[2019-09-28 01:15] A1exy commented on #3324
@mzchtx   C++和Python的预测代码我都有，根本没有这么大的提升啊。请问你做了这个实验能提速6倍多吗？提速6倍多感觉都不可能，等我有空可以找个相同的网络把测试结果贴给你看，我的实验没有那么大的提速。

[2019-09-28 12:17] tianjie491 commented on #3431
最终发现推理速度慢的原因是因为输出最大长度设置的256，太长了，改为100的话预测时间为0.5秒左右，还是有点慢。transformer-xl对于推理速度据说有300-1800倍的提升，请问你们有发布transformer-xl模型的计划吗？

[2019-09-29 03:39] zhaoyuchen2018 commented on #3439
paddle 目前没有这种功能，建议你用两个不同的program，只要参数名字一样，他们都是共享的。

[2019-09-29 05:22] zhaoyuchen2018 commented on #3441
麻烦@wilhelmzh看下这个问题

[2019-09-29 06:49] ellinyang opened #3451 "paddleDetection中SSD的mean和std不一致情况"
在使用PaddleDetection配置ssd mean和std参数时，发现和以前的ssd库的参数不同，而且查了一下PaddleDetection ssd的几个示例配置文件，也不太一样。请问是哪一个是标准的训练参数？这些不同设置有何影响？

**以前的ssd:**
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ssd/reader.py
   **mean_value=[127.5, 127.5, 127.5],
   std=0.007843**

**PaddleDetection** :
ssd_vgg16_512.yml
![image](https://user-images.githubusercontent.com/20673237/65827960-4b873700-e2c8-11e9-9475-0

[2019-09-29 07:37] yghstill commented on #3451
@ellinyang   VGG-SSD是数据预处理方式是按照caffe原版[链接](https://github.com/weiliu89/caffe/tree/ssd) 进行处理的，其中mean应该为[104,117,123]或[123,117,104]均可。mobilenet-ssd是参考tensorflow官方设置，所以和VGG-SSD设置有所不同

[2019-09-29 07:50] ellinyang commented on #3451
还有两个疑惑，希望您能解答：
1.PaddleCV中的mobilenet_ssd https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ssd/reader.py 中的std 为何与PaddleDetection中mobilenet_ssd的不同？

2. [104,117,123]或[123,117,104] 两者设置在实际操作中，会导致输入的数据不同，那训练结果会有影响吗？特别是小数据集的情况，其中一个设置肯定与预训练权重时的设置不同。

[2019-09-29 07:52] ellinyang commented on #3451
还有两个疑惑，希望您能解答：

1.PaddleCV中的mobilenet_ssd https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ssd/reader.py 中的std 为何与PaddleDetection中mobilenet_ssd的不同？

2.你们预训练 vgg_ssd 时mean设的是 [104,117,123]还是[123,117,104]？担心在小数据集上这两个设置因为和预训练保持一致，而有较大误差？

[2019-09-29 07:57] yghstill commented on #3451
std是一致的，ssd的repo下std是1/127的结果，PaddleDetection下std是127，处理方式不同，一个乘一个除，https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/ppdet/data/transform/operators.py#L343
这个我们做过严格对齐。
关于mean值不一样的情况，可以在你的数据集上进行测试，每个数据集的mean值分布不同，会导致结果不同，但是[104,117,123]是比较通用的处理方式。

[2019-09-29 07:59] soldier828 commented on #3373
好的，已在develop看到相关代码，非常感谢！！

另外，RANSFER_LEARNING_cn.md中，从用户的角度角度，「pretrain_weights的路径为COCO数据集上开源的faster RCNN模型链接」这里应该给个Paddle model zoo的超链接，更容易理解，

[2019-09-29 08:01] ellinyang commented on #3451
好的，感谢

[2019-09-29 08:01] ellinyang commented on #3451
@still-wait 好的，感谢！

[2019-09-29 09:19] wilhelmzh commented on #3441
你好，这里的写法确实不太好问题，建议参考下面写法，使用layers.auc的第三个返回值auc_states。

[code]

[code]

PaddleRec下的代码之后会更新，感谢反馈。

[2019-09-29 09:32] chuj625 opened #3455 "异步读取问题"
你好，我需要封一个ernie的分词接口，提供给别人使用
在用PaddleNLP/lexical_analysis/run_ernie_sequence_labeling.py时，发现采用的是一个异步读文件的方式进行预测
首先，对为什么采用异步读文件的方式感到奇怪，也不太理解
其次，对如何改为接口传参的方式，反复调用，感到无从下手

求指导

附，部分代码理解如下，如不正确，请指正，非常感谢

[code]

ListReader代码如下
[code]

[2019-09-30 03:09] zhaoyuchen2018 commented on #3431
@guoshengCS 知会下transformer-xl，貌似提升很多，看看是不是有发布计划

[2019-09-30 03:26] #3428 closed, assigned to zhaoyuchen2018

[2019-09-30 05:55] mozpp commented on #3428
release不能解决，https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/beginners_guide/install/Tables.html#whl-release
倒是dev可以 https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/beginners_guide/install/Tables.html#whl-dev

[2019-09-30 06:02] mozpp opened #3462 "develop版paddle的yolov3训练无法收敛"
develop版本的paddle（https://paddle-wheel.bj.bcebos.com/latest-gpu-cuda10-cudnn7-mkl/paddlepaddle_gpu-latest-cp27-cp27mu-linux_x86_64.whl ），yolov3(https://github.com/PaddlePaddle/models/tree/release/1.5/PaddleCV/yolov3 )训练无法收敛。
换回1.5版本，可以收敛。
很诡异的bug。

[2019-09-30 08:16] #3325 closed, assigned to wangguibao

[2019-09-30 08:17] wangguibao commented on #3021
Hi，该issue已经2个月时间了，我先关闭了。如有需要可以提供一下文字的出错信息，再重新打开此issue。谢谢

[2019-09-30 08:17] #3021 closed, assigned to wangguibao

[2019-09-30 08:18] wangguibao commented on #3020
Hi，该issue已经2个月了，我先关闭了。如有需要，可以提供一下更详细的出错信息，再重新打开issue

[2019-09-30 08:18] #3020 closed, assigned to wangguibao

[2019-09-30 08:20] wangguibao commented on #3013
[code]
Hi，这个现在解决了吗？

[2019-10-01 00:10] stasi009 commented on #3441
感谢回复

[2019-10-01 00:10] stasi009 commented on #3439
谢谢

[2019-10-02 08:20] sfraczek commented on #2213
Hi,

I have the same error but neither WITH_DISTRIBUTE=ON (it says WITH_DISTRIBUTE**D** flag doesn't exist) nor  --fp16=False help. Do you have any other ideas what might be wrong?

**[edit]** Nevermind. I've found that I had PYTHONPATH pointing to a different paddlepaddle copy and that caused this error.

[2019-10-03 02:18] zhangzhiyong opened #3469 "PaddleDetection保存预测模型报错"
git clone PaddlePaddle/models 的develop分支，在本机上能够将实现图片预测，但是保存预测模型准备进行生产环境部署测试是，保存预测模型错误。步骤如下：

1、在PaddleDetection下执行python tools/infer.py -c configs/mask_rcnn_r50_1x.yml \
    -o weights=https://paddlemodels.bj.bcebos.com/object_detection/mask_rcnn_r50_1x.tar \
    --infer_img=demo/000000570688.jpg，能够看到预测的图片上已经识别物体打上标记框

2、执行python tools/infer.py -c configs/mask_rcnn_r50_1x.yml --infer_img=demo/0000

[2019-10-07 02:57] sjm1992st opened #3470 "models/PaddleNLP/emotion_detection/"
我看给的对话情绪识别下面有二级标签，类似生气、开心等，我看训练数据只有正向负向和中性？

[2019-10-07 09:30] yangapku commented on #3421
这个可能是显存分配策略得问题，可以按照错误提示里面的建议，把环境变量FLAGS_fraction_of_gpu_memory_to_use设置成0试试

[2019-10-07 16:43] littleKaa commented on #3424
可是mask不是dropout么？这个应该而且是加起来的，应该只是bias？

[2019-10-08 03:36] wangchaochaohu commented on #3470
emotion_detection是通过设置阈值来决定是否是正向 负向 或者中性情绪的

[2019-10-08 06:33] jerrywgz commented on #3469
https://github.com/PaddlePaddle/models/pull/3472 已修复，多谢反馈

[2019-10-08 06:51] #3469 closed, assigned to qingqing01, jerrywgz

[2019-10-08 06:53] #3179 closed, assigned to nobody

[2019-10-08 06:53] #3180 closed, assigned to nobody

[2019-10-08 07:11] jerrywgz commented on #3373
https://github.com/PaddlePaddle/models/pull/3473 已添加，感谢反馈

[2019-10-08 07:29] Verazjy opened #3474 "paddleSlim量化shufflenet模型后finetune loss为nan"
采用cpu版本的paddlepaddle，Python3.6.4
采用paddleslim量化shufflenet时，可以进行eval操作，量化后finetune损失为nan
减小学习率和bachsize没有效果
希望有大神能给解决
![CCD9491DD7F5155764FA72A0DAFE0A4C](https://user-images.githubusercontent.com/35206066/66375615-63ee0480-e9e0-11e9-8650-7de88b28dd61.JPG)

[2019-10-08 09:57] Verazjy commented on #3474
shufflenet网络定义和与训练模型是从paddleCV中的定义和readme列出的shufflenetV2模型

[2019-10-08 10:11] Shixiaowei02 commented on #3462
@mozpp 这可能是 develop 分支引入的 bug。请提供训练脚本，我们复现问题，谢谢！