[2018-05-10 01:31] #897 closed, assigned to wanghaoshuang

[2018-05-10 03:11] bolt163 commented on #895
同关注， 楼主看一下作者发的这个： https://github.com/PaddlePaddle/DeepSpeech/issues/202

[2018-05-10 08:22] sfraczek commented on #897
Thank you 👍

[2018-05-10 11:49] sfraczek commented on #897
I have launched the script now but it has failed unfortunately. I will try to work around this but maybe you want to know about it. Maybe you could help?
[code]

I found that something like below might be working:
[code]

[2018-05-11 01:43] qingqing01 commented on #896
@walloollaw Could you help to look this problem?

[2018-05-11 02:31] walloollaw commented on #896
This problem is about the version of installed protobuf is not compatible.
To solve this, please follow these steps:
- Rename *proto/caffepb.py* to *proto/caffe_pb2.py* and delete file *proto/caffepb.pyc*
- Edit the file *kaffe/caffe/resolver.py*
[code]
- Convert your model again

@sabreshao

[2018-05-11 03:54] sabreshao commented on #896
@walloollaw Thanks! The convert script can run further.
But it fails to convert AlexNet and Googlenet with below message:
Converting data...
Saving data...
Saving source...
Error encountered: No handler found for node kind: SoftmaxWithLoss (expected: map_softmax_with_loss)

Converting data...
Saving data...
Saving source...
Error encountered: No handler found for node kind: Accuracy (expected: map

[2018-05-11 06:16] walloollaw commented on #896
sorry for that the layers you mentioned above have not been supported yet.  Maybe you can create a ISSUE to mark that, i will support these in next week. Or you can implement that by yourself, more tips can be found about how to convert custom layers in README.md. @sabreshao

[2018-05-11 11:29] vesung opened #905 "如何编译成android库"
能不能编译成android平台库

[2018-05-11 11:38] luotao1 commented on #905
可以参考 http://www.paddlepaddle.org/docs/develop/mobile/README.cn.html

[2018-05-11 14:51] luotao1 opened #906 "what's mean of light_imdb and tiny_imdb"
Questions from @wojtuss: How can I get the dataset for the 'text_classification' model? It seems that it is imported to the scripts via python modules 'light_imdb' and 'tiny_imdb', but I cant find them anywhere.

@gmcather Could you help fix this problem? Thanks very much!

[2018-05-12 05:20] gmcather commented on #906
Sorry for misleading, I refine the code, please refer to my pr. https://github.com/PaddlePaddle/models/pull/907

[2018-05-14 01:50] luotao1 commented on #906
@wojtuss This issue is fixed, you can update the latest code.

[2018-05-14 01:50] #906 closed, assigned to nobody

[2018-05-14 02:26] shanyi15 commented on #818
您好，非常抱歉回复晚了，请参考我们官网里对应的这篇文档
http://www.paddlepaddle.org/docs/develop/models/ltr/README.html

[2018-05-14 02:30] lcy-seso opened #909 "CI of model repo cannot be triggered."
It seems that the CI in Paddle Model repo cannot be triggered. Some of the PRs are not well formatted if CI cannot be triggered no check will guarantee some basic checks. @panyx0718

[2018-05-14 02:33] panyx0718 commented on #909
@lcy-seso Can you give a screenshot or more description?
Do you mean the unit tests cannot be triggered or the cpplint cannot be triggered?

[2018-05-14 02:35] vesung commented on #905
@luotao1 请问DeepSpeech可以编译成android库吗？

[2018-05-14 03:01] kuke commented on #909
I checked latest PRs, and find that all the travis-ci are not triggered.

[2018-05-14 04:07] kuke commented on #909
Mr. Wang helped to reset the travis-ci, and it works now.

[2018-05-14 04:21] luotao1 commented on #905
您好，只有paddle的c++代码本身能编译成android库，如果有python逻辑，都需要用c++或者java重新实现一遍。对于DeepSpeech来说，有很多python逻辑，而且decoder部分还有很多依赖，因此不能编译成android库。

[2018-05-14 05:34] panyx0718 commented on #909
Thanks @kuke @lcy-seso @wanglei828

[2018-05-14 08:25] lcy-seso commented on #909
Thanks, everyone. I close this issue due to the problem is solved.

[2018-05-14 08:25] #909 closed, assigned to panyx0718, wanglei828

[2018-05-15 11:10] sfraczek commented on #897
Hey @wanghaoshuang, is this correct? I have created a pull request https://github.com/PaddlePaddle/models/pull/912

[2018-05-15 13:27] kuke opened #914 "Add Inception_v4 model config in Fluid API"

[2018-05-15 14:09] wanghaoshuang commented on #897
@sfraczek  I'm very grateful to you for your help.

[2018-05-16 10:32] sabreshao opened #917 "caffe2fluid doesn't support layers softmax_with_loss and accuracy"
caffe2fluid fails to convert AlexNet and Googlenet with below message:
Converting data...
Saving data...
Saving source...
Error encountered: No handler found for node kind: SoftmaxWithLoss (expected: map_softmax_with_loss)

Converting data...
Saving data...
Saving source...
Error encountered: No handler found for node kind: Accuracy (expected: map_accuracy)

[2018-05-16 10:32] sabreshao commented on #896
@walloollaw issue created https://github.com/PaddlePaddle/models/issues/917

[2018-05-17 02:56] walloollaw commented on #896
ok,  too busy for this week. i will plan it.
By the way, you can work around this for now,  steps may be like these:
- 1, remove the layers that don't support now(like softmaxwithloss and accuracy) in prototxt
- 2, convert it use the tool
- 3, load the model in xxx.py and xxx.npy just like *caffe2fluid/examples/imagenet/infer.py*
- 4, after make the fluid layer, you can add removed layers using fl

[2018-05-17 06:43] dancinghui commented on #315
@rituraj17  I install successfully following the README file in the download from this link http://www.swig.org/download.html

[2018-05-18 08:20] qingqing01 opened #920 "Develop PyramidBox model for face detection."
- Add PyramidBox model for face detection:  https://arxiv.org/abs/1803.07737

[2018-05-21 09:23] #914 closed, assigned to kuke

[2018-05-22 07:31] #920 closed, assigned to qingqing01

[2018-05-22 11:17] qingqing01 opened #926 "Add pre-trained model for pyramidbox model."
Load pretrained VGG model for face detection.

[2018-05-22 13:47] #926 closed, assigned to baiyfbupt

[2018-05-23 10:10] qingqing01 opened #928 "Add data reader for WIDER Face dataset and train logic for face detection."
- Add data reader for WIDER Face dataset. Now the data argumentation is the same as SSD objection detection. We will refine all these codes later.
- Add simple VGG + SSD network.
- Add train logic.

[2018-05-23 11:08] qingqing01 opened #929 "Unify code for objection detection."
We develop several detection algorithms, like:

- FaceDetection:  https://github.com/PaddlePaddle/models/tree/develop/fluid/face_detection
- SSD: https://github.com/PaddlePaddle/models/tree/develop/fluid/object_detection

and some other algorithms will also be added, like:

- Faster-RCNN
- Mask-RCNN
- ...  etc.

Now the face detection and object detection are located in two independent directories

[2018-05-24 01:41] #928 closed, assigned to nobody

[2018-05-24 02:13] kuke opened #930 "Polish the document of DeepASR"

[2018-05-25 08:34] chenbblei opened #933 "conv_seq2seq的测试集脚本怎么写"
如题，例子中只有验证集合，验证集合是有target标签的，而测试集是没有的，该怎么写测试集的脚本呢

[2018-05-25 10:12] qingqing01 commented on #933
请问是https://github.com/PaddlePaddle/models/tree/develop/conv_seq2seq 这个例子吗？可以参考预测程序:

https://github.com/PaddlePaddle/models/blob/develop/conv_seq2seq/infer.py

[2018-05-25 10:56] chenbblei commented on #933
@qingqing01 对，但这个是验证的脚本哦，验证的脚本直接用了已知的目标标签哦，假设是测试的那么目标标签是不知道的哦

[2018-05-25 12:41] qingqing01 commented on #933
这个是预测的脚本， 数据是没有label的。代码中没有定义target的data layer：

https://github.com/PaddlePaddle/models/blob/1b2641aa05f675afa88a6f2263101ac62b0e76fe/conv_seq2seq/infer.py#L150-L159

https://github.com/PaddlePaddle/models/blob/1b2641aa05f675afa88a6f2263101ac62b0e76fe/conv_seq2seq/model.py#L431-L432

[2018-05-26 02:47] chenbblei commented on #933
@qingqing01
 trg = paddle.layer.data(
        name='trg_word',
        type=paddle.data_type.integer_value_sequence(trg_dict_size +
                                                     1))  # one for padding
    trg_pos = paddle.layer.data(
        name='trg_word_pos',
        type=paddle.data_type.integer_value_sequence(pos_size +
                                                     1))  # one fo

[2018-05-26 07:33] chenbblei opened #935 "F0526 15:26:19.539976 12033 RecurrentGradientMachine.cpp:381] Check failed: commonSeqInfo_[i].topLevelLength == seqInfo[i].topLevelLength (7 vs. 223) RecurrentGroup __recurrent_group_0__ input 2 has mismatched sequence length"
使用的是conv_seq2seq中的infer程序，当然是仿照他写的程序出现了上面的错误，请问是什么原因，我的padding_num是7

[2018-05-26 09:36] chenbblei opened #936 "conv_seq2seq中的部分代码求解"
padding_list = [context_len - 1 for (size, context_len) in dec_conv_blocks]
    padding_num = reduce(lambda x, y: x + y, padding_list)
在conv_seq2seq的infer.py中有这两行代码，这个是什么意思，为什么要这么做

[2018-05-26 09:37] chenbblei commented on #933
@qingqing01 懂了，多谢，现在有个问题希望帮忙解答下[https://github.com/PaddlePaddle/models/issues/936](url)

[2018-05-28 02:42] qingqing01 commented on #936
通过代码：

https://github.com/PaddlePaddle/models/blob/1b2641aa05f675afa88a6f2263101ac62b0e76fe/conv_seq2seq/infer.py#L164-L171

https://github.com/PaddlePaddle/models/blob/1b2641aa05f675afa88a6f2263101ac62b0e76fe/conv_seq2seq/reader.py#L61-L62

这两行的代码意思是：通过解码部分的conv层数、卷积核的大小，计算输入data填充的长度。

[2018-05-28 03:15] chenbblei commented on #936
@qingqing01 如果我训练集和测试集和不填冲这个长度不是也可以么，为什么要填充这个长度，还和层数的context_len有关系

[2018-05-28 04:32] qingqing01 commented on #933
@chenbblei 这个issue没问题，就关闭了~

[2018-05-28 04:32] #933 closed, assigned to nobody

[2018-05-28 08:57] wojtuss opened #937 "Conv input and filter dimensions do not match"
When running the `eval.py` script for MobileNet-SSD with `pascalvoc` or `coco` dataset and a model trained accordingly on the dataset on CPU, the following exception is being thrown:
[code]
How can I fix this?

PaddlePaddle call stack:
[code]

[2018-05-29 08:49] guoshengCS commented on #936
这里是必须填充的，conv_seq2seq需要保证conv后的输出和输入是等长的，这就需要对padding的数目进行控制，context_len就是卷积的窗口大小kernel_size

[2018-05-29 12:04] chenbblei commented on #936
@guoshengCS  Thank you!

[2018-05-29 12:04] #936 closed, assigned to nobody

[2018-05-29 12:13] baiyfbupt commented on #937
Have you set 'model_dir' like:
'''shell
$ python eval.py --use_gpu False --model_dir model/best_model
-----------  Configuration Arguments -----------
ap_version: 11point
batch_size: 32
data_dir: data/pascalvoc
dataset: pascalvoc
mean_value_B: 127.5
mean_value_G: 127.5
mean_value_R: 127.5
model_dir: model/best_model
nms_threshold: 0.45
resize_h: 300
resize_w: 300
test_list: test.txt
use_gpu: 0
---

[2018-05-29 12:22] baiyfbupt commented on #937
Have you set **model_dir**? This script does not automatically get the model.
You can set this parameter like:
[code]

[2018-05-29 12:29] baiyfbupt commented on #937
Maybe we can add some check about this? @qingqing01 To make the cause of this problem more clear.

[2018-05-29 13:36] wojtuss commented on #937
@baiyfbupt Yes, I have set the `model_dir` option to a folder with a model saved during the training.

[2018-05-29 14:00] wojtuss opened #941 "Dataset copyrights/licenses"
@luotao1 , models from this repo use various datasets for training and testing (flowers, cifar10, the one from `models/fluid/DeepASR/examples/aishell`, etc.). Are there any copyright restrictions in using these datasets (and generally any datasets that the scripts from this repository download when training a model) in our tests validating the models?

[2018-05-29 14:17] baiyfbupt commented on #937
Ok, can you paste your `Configuration Arguments` here to locate the problem. Because I use the above configuration works fine. Thanks

[2018-05-30 03:47] qingqing01 opened #942 "Need to fix the bug in bbox sampling of SSD."
Refer https://github.com/weiliu89/caffe/commit/6feb7d99d3c6938321c9afd21d8f397a7a33b0a4

[2018-05-30 03:48] qingqing01 commented on #937
@baiyfbupt We can add check in `eval.py`.

[2018-05-30 06:20] luotao1 commented on #941
@wojtuss There is no copyright restrictions in using these datasets.

[2018-05-30 08:11] dpwu1994 opened #946 "deepFM 不定长特征处理"
模型库里的deepFM的特征都是固定长度的，对于不定长的特征，在deepFM的deep部分，是否需要对这些不定长特征做一下padding。在网上搜索的话，发现deepFM对于这种case做了padding，但是我目前是以这个格式type=paddle.data_type.integer_value_sequence(sparse_feature_dim))输入，然后做一个pooling，发现可以运行。所以模型库里的deepFM对于这种不定长的特征建议以哪种方式处理？

[2018-05-30 08:39] wojtuss commented on #941
@luotao1 OK. Are there any licenses for the datasets? There is also no info about it around the scripts, so I assume NO, but I want to be sure.

[2018-05-30 09:13] chenbblei commented on #935
不知道怎么解决的，反正解决了

[2018-05-30 09:13] #935 closed, assigned to nobody

[2018-05-30 09:32] #942 closed, assigned to nobody

[2018-05-30 09:36] wojtuss commented on #937
@baiyfbupt , my fault, my path set by the `model_dir` option was too short. Now everything works fine. Thanks and sorry for the false alarm.

[2018-05-30 09:36] #937 closed, assigned to baiyfbupt

[2018-05-30 09:53] luotao1 commented on #941
@wojtuss There are no licenses for the datasets.

[2018-05-30 13:14] kuke commented on #946
对于不定长的输入，一般是要做padding的

[2018-05-30 13:53] likesiwell opened #949 "Add Distill Knowledge Approach Implementation"
Add Distill Knowledge Approach Implementation

[2018-05-31 05:06] dpwu1994 commented on #946
因为不做padding的话，发现type=paddle.data_type.integer_value_sequence(sparse_feature_dim))输入也能正常训练，做padding的话应该用那种格式输入，这两种之间又有什么区别呢？

[2018-05-31 06:20] #716 closed, assigned to nobody

[2018-05-31 13:01] likesiwell opened #953 "how to use pre-commit scripts to auto-format the code?"
I try to contribute a new paddle implementation, but when I run pre-commit, there is always a yapf failed case and I don't know what happened.
I create a new issue to PR the project, but PR shows The Travis CI build failed.
Could anyone tell me what happened?

[The Travis CI build failed message](https://travis-ci.org/PaddlePaddle/models/builds/386154623?utm_source=github_status&utm_medium=notific

[2018-05-31 13:19] luotao1 commented on #953
you can `git add fluid/image_classification/caffe2fluid/kaffe/graph.py` again, then `git commit`

[2018-05-31 13:27] likesiwell commented on #953
how to know **what and where** the error with my code is to pass the pre-commit?
Does pre-commit automatically format the code?

[2018-05-31 13:32] luotao1 commented on #953
![image](https://user-images.githubusercontent.com/6836917/40785040-f8de335a-6519-11e8-9bc8-3497d153fe7e.png)
This is the diff.

Yes, automatically.

For more details, you can refer to http://www.paddlepaddle.org/docs/develop/documentation/en/dev/contribute_to_paddle_en.html#workflow

[2018-05-31 13:37] likesiwell commented on #953
Thanks, I have tried to contribute the code following the instruction of this document, but failed. And now I don't know what's wrong.
Do you think the failure is caused by graph.py or my code?

[2018-06-01 02:02] luotao1 commented on #953
what's wrong with you now? If the failure is caused by graph.py, you can follow https://github.com/PaddlePaddle/models/issues/953#issuecomment-393527192

[2018-06-01 03:25] likesiwell commented on #953
When I use

the graph.py will be automatically formatted. I can't push the unchanged version of graph.py. I don't know how to solve this.

[2018-06-01 07:16] #712 closed, assigned to nobody

[2018-06-01 07:19] #714 closed, assigned to nobody

[2018-06-01 07:52] #706 closed, assigned to nobody

[2018-06-02 17:22] Panxjia opened #959 "convolution initialization in paddle.v2"
Is there  ‘’xavier‘’ initialization method for convolutional networks in paddle.v2?

[2018-06-04 03:17] #710 closed, assigned to nobody

[2018-06-05 05:35] bipedalBit opened #964 "fluid/ocr_recognition例子的模型训练脚本缺少几个命令行参数解析"
[models/fluid/ocr_recognition](https://github.com/PaddlePaddle/models/blob/develop/fluid/ocr_recognition)例子中的模型训练脚本ctc_train.py，缺少文档中提及的几个命令行参数的接收与解析过程。
![1](https://user-images.githubusercontent.com/6863219/40956334-4be30598-68c2-11e8-8f99-ad74235e1c6b.png)
![2](https://user-images.githubusercontent.com/6863219/40956336-4e463a4e-68c2-11e8-9488-326b245bbd17.png)

[2018-06-07 09:45] wojtuss opened #970 "ParallelDo vs. ParallelExecutor"
In many training scripts there are two separate methods for training: `train_parallel_do()` and `train_parallel_exe()`. The former use `ParallelDo`, the latter `ParallelExecutor`. The documentation on both is rather sparse.
What is the difference between the two methods?

[2018-06-07 10:50] luotao1 commented on #970
`ParallelDo` is for both CPU and GPU, `ParallelExecutor` is only for GPU now. But the GPU performance on `ParallelExecutor` is much better than `ParallelDo`.  And we will unify them after July 5th.

[2018-06-07 13:19] fmantianxing opened #971 "v2版seq2seq预测模型的input数目"
模型使用的是：https://github.com/PaddlePaddle/models/tree/develop/conv_seq2seq
使用如下代码生成训练配置文件
![image](https://user-images.githubusercontent.com/6702524/41101802-cd145f00-6a97-11e8-88b6-2b286702ef4f.png)

已经指定了infer=True，但是在通过cpi实现的时候还是说需要4个input。目标应该是只需要src和src_pos两个input的。请问是什麽原因。

[2018-06-08 02:34] Superjomn commented on #971
用户咨询这个模型后怎么做inference，非bug。

翻译模型训练完做预测，python端打开  `is_infer` 开关，但还是训练模型。

[2018-06-08 10:23] sfraczek opened #974 "crnn-ctc training: strange awk command and len(img_label_lines) != actual dataset size"
Hi,

I have analysed a little bit the code of DataGenerator in ctc_reader.py and I have minor comments for the code there:

In line https://github.com/PaddlePaddle/models/blob/f93838a4258c2a197cfa9e14c244b4da7a042a88/fluid/ocr_recognition/ctc_reader.py#L67  `sizes` equals 0 if batch_size equals the total number of images in the dataset. I found this when I set batch_size equal to size of dataset.

[2018-06-11 01:36] shashlik007 opened #976 "generate_chinese_poetry AssertionError"
File "train.py", line 172, in <module>
    train(args.num_passes, args.batch_size, args.use_gpu, args.trainer_count, args.save_dir_path, args.encoder_depth, args.decoder_depth, args.train_data_path, args.word_dict_path)
  File "train.py", line 128, in train
    max_length=9)
  File "/home/map/chenjiachuan/models-develop/generate_chinese_poetry/network_conf.py", line 127, in encoder_decoder_network

[2018-06-11 01:38] shashlik007 commented on #976
我的参数输入如下：
args: Namespace(batch_size=6, decoder_depth=3, encoder_depth=3, init_model_path='', num_passes=5, save_dir_path='models', train_data_path='data/poems.txt.head', trainer_count=1, use_gpu=False, word_dict_path='data/dict.txt.head')

[2018-06-11 11:56] BigFishMaster opened #978 "Add networks(VGG/DPN/GoogleNet/ResNet/AlexNet) and update Readme"

[2018-06-11 15:49] guoshengCS commented on #971
这个convseq2seq的beam search inference是基于python来做的（可能无法支持CAPI），见这里的代码 https://github.com/PaddlePaddle/models/blob/develop/conv_seq2seq/beamsearch.py#L159 ，C++端infer每次运行一个step，所以每一次运行需要feed当前已经解码出的之前steps的数据作为target（这样就需要有trg_word, trg_word_pos这两个input），使用python api的话infer的时候reader中这里 https://github.com/PaddlePaddle/models/blob/develop/conv_seq2seq/reader.py#L65 `trg_word, trg_word_pos, trg_next_word`

[2018-06-12 10:00] fmantianxing opened #983 "使用capi实现conv_seq2seq模型的预测程序"
capi实现代码如下：
[code]
线下模型地址：https://github.com/PaddlePaddle/models/tree/develop/conv_seq2seq
出现了如下错误：
F0612 17:35:47.277493 34148 RecurrentGradientMachine.cpp:758] Check failed: idSize == size (1 vs. 12)
*** Check failure stack trace: ***
    @     0x7fcb239cb63e  google::LogMessage::Fail()
    @     0x7fcb239cb591  google::LogMessage::SendToLog()
    @     0x7fcb239caf9f  google::LogMessage::Flush(

[2018-06-13 02:03] qingqing01 opened #985 "Change the transposed conv2d initializer."
Change the transposed conv2d initializer to bilinear and set the learning rate to 0.

[2018-06-15 01:31] #978 closed, assigned to nobody

[2018-06-15 10:10] #985 closed, assigned to nobody

[2018-06-15 10:56] sfraczek opened #988 "Do you have a list of layers for all supported networks?"
Hi,

I need to find specific layer pairs which could be fused together into fused MKLDNN primitives with inference_transpiler.

Do you have a list of layers for each neural network topology supported by Paddle? That could save me a lot of time/work.  Or do I need to find out by reading source files or original publications?

[2018-06-15 12:55] luotao1 commented on #988
Sorry, we don't have specific layer pairs, maybe you should find out by reading original publications.

[2018-06-15 14:31] sfraczek commented on #988
Oh, I know what pairs can be fused together. I just need the lists of layers present inside the networks.

[2018-06-19 06:39] luotao1 commented on #988
All the layers are here:
http://www.paddlepaddle.org/docs/develop/api/fluid/en/layers.html#permalink-47-nn
http://www.paddlepaddle.org/docs/develop/api/fluid/en/layers.html#permalink-114-ops

[2018-06-19 07:03] qingqing01 opened #993 "Add Pyramidbox inference configure."
预测配置需要crop操作：

1. 前面的VGG配置如下：

    conv1 (C, H1, W1) ->pooling (C, H2, W2) (stride是2) ->conv2(C, H2, W2)
    H1/W1 是偶数时， `H1=2 * H2`, `W1 = 2 * W2`。

2. FPN部分：

    conv2(C, H2, W2)->de-conv1(C, H3, W3)，
    de-conv这里上采样，是将feature map扩大2倍。H3 = 2 * H2， W3 = 2 * W2。
    de-conv1 * conv1 作为输入

但是：如果H1,W1是奇数，1.中的pooling会取整(假定设置上取整)，例如 W1=59，则，W2=30.
则 W3 = 60，此时， de-conv1和conv1的shape不一样，无法做点对点相乘。因为需要将

[2018-06-19 14:40] #842 closed, assigned to nobody

[2018-06-20 12:06] qingqing01 opened #995 "Multi-scale testing for PyramidBox model."

[2018-06-20 13:10] #995 closed, assigned to nobody

[2018-06-20 13:10] #993 closed, assigned to nobody

[2018-06-21 10:43] helen88 opened #996 "标签增强是什么"
https://github.com/PaddlePaddle/models/blob/develop/fluid/object_detection/README_cn.md
![image](https://user-images.githubusercontent.com/4593091/41714439-f897fb5a-7582-11e8-8abb-26df7c8c4219.png)
这里的标签增强怎么理解？

[2018-06-21 13:33] qingqing01 opened #999 "Data anchor sampling."
Please refer https://arxiv.org/abs/1803.07737

[2018-06-21 13:43] qingqing01 commented on #996
@helen88 非常感谢，我们 https://github.com/PaddlePaddle/models/pull/997 在这里修改了。

[2018-06-21 13:43] #996 closed, assigned to nobody

[2018-06-22 09:09] JiahaoYao opened #1001 "Paddlepaddle pretrained model"
I find the imagenet pretrained models only has three, as shown in [pretrained model](https://github.com/PaddlePaddle/models/blob/develop/image_classification/models/model_download.sh#L28-L38). What is about the others? For example, the googlenet and inception. Is it forgotten to add to the download script?

[2018-06-22 11:00] #999 closed, assigned to nobody

[2018-06-22 11:14] wojtuss commented on #970
@luotao1 , thanks!
But, does it mean that the script `models/fluid/image_classification/train.py` for training several models is designed only for GPU?

[2018-06-22 13:02] luotao1 commented on #970
ParallelExecutor is OK for CPU now. You can refer to https://github.com/PaddlePaddle/Paddle/issues/11620 for benchmark.

[2018-06-25 03:14] helen88 opened #1006 "fluid/icnet图像语义分割Readme文档不完整，训练到iter 1000报错。"
![image](https://user-images.githubusercontent.com/4593091/41828613-d495baa6-7868-11e8-8af2-3fddf1bfe826.png)

[2018-06-25 03:31] ktlichkid commented on #1006
收到。非常感谢您的反馈！

[2018-06-25 04:46] #1006 closed, assigned to ktlichkid

[2018-06-26 11:55] nuoline commented on #983
没人跟吗

[2018-06-26 13:05] lucywsq commented on #983
您好，此问题已经反馈至相关同学，正在排查跟进中，有进展会第一时间回复~

[2018-06-27 09:46] wojtuss opened #1015 "Cannot open file mean_0.tmp_0@GRAD for load op during DeepASR inference using checkpoint"
When I train the DeepASR model, save a checkpoint in `checkpoints/deep_asr.pass_0.checkpoint`, and then run inference using the saved checkpoint I get the following error:
[code]

I have verified that the `checkpoints/deep_asr.pass_0.checkpoint` directory contains `mean_1.tmp_0@GRAD` file but not  `mean_0.tmp_0@GRAD`.

How can I fix this?

The PaddlePaddle call stack:
[code]

[2018-06-27 13:09] qingqing01 opened #1017 "Speed data reader in PyramidBox model."
The data reader is very time-consuming.

测试数据：

实验 | GPU个数 | BatchSize/GPU | 是否Load Data | 数据处理+拷贝 | Run时间 | 10个batch的时间
-- | -- | -- | -- | -- | -- | --
Executor | 1 | 5 | Yes | 7.45 | 18.94 | 27.12
Executor | 1 | 5 | No | 0 | 18.77 | 19.60
ParallelExe | 2 | 5 | Yes | 16.03 | 25.96 | 41.99
ParallelExe | 2 | 5 | No | 0 | 25.56 | 25.57
ParallelExe | 4 | 5 | Yes | 31.15 | 32.43 | 63.58
ParallelExe |

[2018-06-27 13:46] kuke commented on #1015
There should not be `mean_0.tmp_0@GRAD` in the checkpoints. Do you save the checkpoints by some old-version PaddlePaddle while load them by new one? Anyway, upgrading PaddlePaddle to the latest, then saving and loading checkpoints in the same environment should be able to fix the problem.

[2018-06-29 04:54] YongtaoGE opened #1019 "[face detection] Difference of cpm module between the code and description in Figure 2.(b) in original paper?"
I find the implentation of cpm module is different from the original paper [here](https://github.com/PaddlePaddle/models/blob/8761ab3d1d35d07d47767fad7fa380ffdeba3da7/fluid/face_detection/pyramidbox.py#L165-L199).
 Could you tell the reason for that?

[2018-06-29 05:07] #1017 closed, assigned to nobody

[2018-06-29 06:20] takecareofbigboss commented on #1019
hi, we have two versions of implementation of cpm. This implementation is actually somewhat different from the paper because it cost less time for training the model and testing, and the performance is nearly the same. So in paddle repo, i release the advanced version.

[2018-06-29 09:31] YongtaoGE commented on #1019
Thanks, it helps! @takecareofbigboss

[2018-06-29 09:31] #1019 closed, assigned to nobody

[2018-06-29 10:22] qingqing01 opened #1020 "Need to clean code for face detection."
Now many codes are ugly. Need to clean.

[2018-06-30 04:51] wuyan08 opened #1022 "图像分类测试模型中缺少__model__文件"
从https://github.com/PaddlePaddle/models/tree/develop/fluid/image_classification 这个页面下载的模型，解压后缺少__model__文件，导致模型加载失败。

[2018-07-02 05:02] dpwu1994 commented on #417
paddlepaddle的fluid 版本是否支持beam search的自定义来避免重复计算

[2018-07-02 12:29] zachzh opened #1025 "youtube recall: infer_user.py 疑惑"
请教下，infer_user.py中，为啥将load的model的中以下字段初始化为0呢?
是指仅保留userid 作为featue？
线下是不是也做knn的检索就行？

# load the trained model.
    with gzip.open(args.model_path) as f:
        parameters = paddle.parameters.Parameters.from_tar(f)
    parameters.set('_proj_province', \
            np.zeros(shape=parameters.get('_proj_province').shape))
    parameters.set('_proj_city', \
            np.zeros(shape=parameters.get(

[2018-07-02 12:52] gongweibao commented on #417
现在还没有。。。。

[2018-07-03 11:23] qingqing01 commented on #1022
https://github.com/PaddlePaddle/models/blob/develop/fluid/image_classification/eval.py

使用该评估脚本可以加载，可以先自行使用 `fluid.io.save_inference_model`保存，便有了__model__ 文件。

[2018-07-03 17:01] guoshengCS commented on #1025
infer_user.py看上去是希望只使用userid 作为featue进行预测，@Bella-Zhao 能否帮助解答下~

[2018-07-04 02:20] Bella-Zhao commented on #1025
是的，infer_user.py只使用userid 作为featue进行预测。
不考虑性能的话，可以线下就用knn暴力搜素。

[2018-07-04 03:12] zachzh commented on #1025
@Bella-Zhao  多谢解答。
如果只使用userid进行预测，会得到靠谱的结果吗? 毕竟扔掉了很多feature。

[2018-07-04 11:20] wojtuss commented on #1015
@kuke unfortunately this is still the case. Updated PaddlePaddle and models, removed all checkpoints, trained and saved a new checkpoint. The error remains.

[2018-07-05 11:54] Bella-Zhao commented on #1025
@zachzh  在训练样本充分的情况下，可以预测出uid对应的用户的兴趣。但是这样做的话，对模型没有训练到的uid，就只能预测出一个全局热门的结果了。

[2018-07-06 09:23] #1025 closed, assigned to nobody

[2018-07-09 02:52] dpwu1994 commented on #417
看到paddlepaddle的fluid 版本实现了google的tansformer。换成这个框架下的翻译模型能解决这个问题吗~

[2018-07-09 03:18] dpwu1994 opened #1041 "deepFM有没有低于0.11.0 版本的实现方案"

[2018-07-09 03:30] Superjomn commented on #1041
看看 https://github.com/PaddlePaddle/models/blob/develop/deep_fm/network_conf.py

[2018-07-09 03:37] Superjomn commented on #417
@kuke 这个帮回答下吧

[2018-07-09 05:44] guoshengCS commented on #417
如果是说希望缓存已经计算过的状态的话，使用PaddlePaddle中内置的Beam Search是可以避免预测时已生成的前缀在前向网络中重复计算的。在预测时，当前时间步可以只将上一步的预测结果送入计算单元内进行计算，更早之前的内容在计算单元内的状态会进行cache无需重复计算，可以参考[Transformer](https://github.com/PaddlePaddle/models/blob/develop/fluid/neural_machine_translation/transformer/model.py#L638)和[RNN-Search](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/book/test_machine_translation.py#L146)模型

[2018-07-09 10:00] wojtuss commented on #970
@luotao1 great news, thanks! :-) However, on CPU the ParallelExecutor seems to work only if the batch size equals the number of CPUs. Is there a way to set batch size to 128 on 40 CPUs for example?

[2018-07-11 07:09] fisipro opened #1043 "ocr识别问题请教，感谢"
各位老师：

我用/models/ocr_recognition训练了模型，并且可以正确识别任意文字（使用与训练数据相同尺寸的图片），但是当我使用任意尺寸的图片时，例如700x68，就无法正确识别。

我看到ctc_reader代码里有个DATA_SHAPE = [1, 48, 512]，不知是否与此有关？我将其改成[1,68,700]运行：
 env CUDA_VISIBLE_DEVICE=0 python infer.py     --model_path="models/model_330000" --input_images_list="/home/dataset/predict.list" --input_images_dir="/home/dataset/predict_images"

后直接报错：

paddle.fluid.core.EnforceNotMet: enfo

[2018-07-11 09:03] ktlichkid commented on #1043
我感觉这个应该是因为你训练的时候用的尺寸和识别的时候图片尺寸不一致导致的。因为神经网络参数的数目是根据你训练时图片的尺寸决定的，如果数目对不上就做不了卷积等等操作。建议重新用新尺寸的图片训练。

如果没有合适的训练图片的话，可能只能把图片裁剪成一样的大小。比如padding等等

[2018-07-11 09:38] fisipro commented on #1043
感谢您的回复，如果真实场景中识别无规则长文本的话，是否都需要截断成固定尺寸的图片？真实场景中文字大小、多少也不确定，有什么好的思路吗，谢谢

[2018-07-11 12:56] wanghaoshuang commented on #1043
@fisipro hi, 预测所用图片的高度必须和训练用图片的高度保持一致，宽度可以随意。因为，在将[image转为sequence的步骤](https://github.com/PaddlePaddle/models/blob/develop/fluid/ocr_recognition/crnn_ctc_model.py#L82) filter_size为[height, 1], 如果height变化了，[sliced_feature](https://github.com/PaddlePaddle/models/blob/develop/fluid/ocr_recognition/crnn_ctc_model.py#L79:5)的feature length就会变，也就是这个[fc layer](https://github.com/PaddlePaddle/models/blob/d

[2018-07-12 09:51] YongtaoGE opened #1045 "AttributeError: 'ModelConverter' object has no attribute 'convert_PReLU_layer'"
I want to convert a caffe model which includes prelu layer, but I get this error after running caffe2paddle.py script. So how can I translate prelu layer into paddle model?

[2018-07-12 12:31] qingqing01 commented on #1045
[`caffe2paddle.py`](https://github.com/PaddlePaddle/models/blob/develop/image_classification/caffe2paddle/caffe2paddle.py) is used to convert caffe model to Paddle v2 model, not Fluid.  And this script only convert some layers with parameters, which are not included PReLU layer.

You need to convert PReLu by yourself, refer http://paddlepaddle.org/docs/0.14.0/documentation/zh/faq/parameter/index_c

[2018-07-13 09:20] YongtaoGE commented on #1045
Thanks, it helps.

[2018-07-14 03:58] YongtaoGE commented on #1045
@qingqing01 I test the **caffe2paddle.py** script to  convert a simple AlexNet and find the generated files including **protobuf file** which I don't know how to generate by myself.

I have based this code to get my parameters. [issues 964](https://github.com/PaddlePaddle/Paddle/issues/964)
So my question is if I define the inference network using paddle v2 code, do I still need to get protobuf fi

[2018-07-14 04:14] YongtaoGE commented on #1045
Does the topology file whose suffix is pkl have the same function as generated protobuf file? [issue 3756](https://github.com/PaddlePaddle/Paddle/issues/5398)
![paddlemodelfile](https://user-images.githubusercontent.com/22744013/42720728-7a8e707e-875f-11e8-864f-50521f2fa3dc.PNG)

[2018-07-15 01:23] fisipro commented on #1043
非常感谢您的回复，我试试

[2018-07-15 01:46] fisipro opened #1050 "请教关于ocr模型在flask重用的问题"
各位老师好：

请教一个问题，我用ocr_recognition将训练好的模型放在flask上进行预测，预测文件用的是infer.py，因为每次模型都要重新加载，所以我想在flask app里重用这个模型，于是我进行了以下改造，尝试缓存加载好的exe或者prog对象，但是出现了奇怪的问题：

当第一次HTTP请求时，一切都正常预测；当后续HTTP请求时，报出异常

希望各位老师能帮忙看看，万分感谢！！

改过的infer.py代码，app参数是调用文件传过来的flask对象：

def inference(app, infer=ctc_infer, data_reader=ctc_reader):

    num_classes = data_reader.num_classes()
    data_shape = data_reader.data_shape()
    # defi

[2018-07-16 07:11] kuke opened #1052 "Some profiling results on Transformer"
See profiling script in #1051

Profiling on single GPU:
[code]

[2018-07-16 07:16] kuke commented on #1052
Profiling on 4 GPUs:
[code]

[2018-07-19 05:09] RayLiu2015 opened #1057 "caffe mobilenet 模型转 fluid 模型失败, 转其他模型可以成功"
<img width="330" alt="2018-07-19 12 28 30" src="https://user-images.githubusercontent.com/13360993/42921636-81cb3c66-8b4f-11e8-9624-9b5708253896.png">

 我遇到了这样一个问题, ubuntu 16.04 下 转 caffe mobilenet 模型 至 fluid 模型报错,  我要转换的模型地址:
 https://github.com/codeWorm2015/MobileNet-Caffe
使用的是这个页面 https://github.com/PaddlePaddle/models/tree/develop/fluid/image_classification/caffe2fluid 的脚本, 哪位同学帮忙解决下呀

[2018-07-19 11:39] sfraczek opened #1058 "Where to download transformer dataset from?"
Hi,

I need to work on Transformer model optimization. Could you please tell me where can I download dataset from? Should it be exactly WMT-16? Which archives?

Thank you.

Regards,
Sylwester

[2018-07-19 12:16] sfraczek commented on #1058
Ok I found instruction on dataset in the Chinese README. https://github.com/PaddlePaddle/models/blob/develop/fluid/neural_machine_translation/transformer/README_cn.md

[2018-07-19 14:33] sfraczek commented on #1058
But there is no instruction how to obtain `newstest2013.tok.bpe.32000.en-de`. Can you please tell me how?

[2018-07-19 15:07] sfraczek opened #1059 "How to correctly run transformer?"
Hi,

I have encountered a number of problems with fluid/neural_machine_translation/**transformer** model. Am I doing something wrong? How to correctly run it?

## Steps I have taken
Following instructions in https://github.com/PaddlePaddle/models/blob/develop/fluid/neural_machine_translation/transformer/README_cn.md I have downloaded WMT'16 EN-DE from https://github.com/google/seq2seq/blob/master/

[2018-07-19 15:22] sfraczek commented on #1058
Ok I figured that I probably have to do `paste -d ' \ t ' newstest2013.tok.bpe.32000.en newstest2013.tok.bpe.32000.de > newstest2013.tok.bpe.32000.en-de`. Moved this issue to a bigger one: https://github.com/PaddlePaddle/models/issues/1059

[2018-07-19 15:22] #1058 closed, assigned to nobody

[2018-07-20 13:49] zgplvyou opened #1062 "加载预训练模型"
你好！非常感谢提供一个开源的框架让大家学习。想请问下这里可以去加载一些常用的预训练模型吗，类似于resnet，然后已经在imagenet上训练过的？我从官方文档中没找到

[2018-07-20 14:06] zgplvyou commented on #369
这个链接点进去是502啊，打不开！

[2018-07-20 14:21] sfraczek commented on #1059
## update on debugging
I found that there was a problem with `paste` command. It didn't insert the delimiter between the English and German sentences, so the files were not parsed correctly. Are you not experiencing this problem?

I have replaced the call to `paste` with a python script:
[code]
now I'm repeating the training and inference and I will keep you updated.

[2018-07-20 14:34] kuke commented on #1059
Are you sure you didn't miss \t when using `paste` cmd? It works fine in our linux systems.

[2018-07-20 14:55] sfraczek commented on #1059
I have run into
[code]

[2018-07-20 15:17] sfraczek commented on #1059
I need to update the transformer code to a new version and start again because there were a lot of changes.

[2018-07-20 16:35] oraoto commented on #1062
Fluid版本的预训练模型的下载地址在[Supported models and performances](https://github.com/PaddlePaddle/models/tree/develop/fluid/image_classification#supported-models-and-performances)。

加载可以参考[train.py](https://github.com/PaddlePaddle/models/blob/develop/fluid/image_classification/train.py)或者这个[gist](https://gist.github.com/oraoto/8cfcbb92c3482f4f00aaf5947b3b6868)

[2018-07-21 05:05] wenxingsen opened #1063 "分类预训练模型无法下了"
sh model_download.sh ResNet50
Download ResNet50 model ...
--2018-07-21 13:03:49--  http://cloud.dlnel.org/filepub/?uuid=f63f237a-698e-4a22-9782-baf5bb183019
Resolving cloud.dlnel.org (cloud.dlnel.org)... 202.108.23.203
Connecting to cloud.dlnel.org (cloud.dlnel.org)|202.108.23.203|:80... connected.
HTTP request sent, awaiting response... 502 Bad Gateway
Cookie coming from cloud.dlnel.org attempted

[2018-07-22 07:26] yeyupiaoling opened #1064 "在训练fluid版本的图像分类的时候，loss输出不正常"
我在训练这个https://github.com/PaddlePaddle/models/tree/develop/fluid/image_classification 程序时，报错如下，我只是换输出成为flowers数据集，之前输出还是正常的。换成服务器训练就不行了，使用的是GoogleNet网络

[code]

[2018-07-22 12:09] RongerSnow opened #1065 "预训练模型无法下载"
您好，最近在使用deepspeech时发现无法下载已经训练好的libr声学模型，报错：
ERROR 502: Bad Gateway.

看之前也有人提到这个问题，不知道怎么了

[2018-07-23 05:21] NHZlX commented on #1057
我这里是ok的，可能是paddle 版本的问题，请升级一下paddle至最新版本。

[2018-07-23 13:58] walloollaw opened #1068 "no 'name' argument for fluid.layers.relu"
i found that `paddlepaddle-gpu==0.14.0.post85` no longer support 'name' argument in fluid.layers.relu ,  which is not consistent with other layers' interface. can we make them behave in the same way ?

[2018-07-23 18:40] daming-lu opened #1070 "[fluid/object_detection] 用模型提供的训练脚本训练不出任何模型"
在 Fluid 里面的 Object Detection 中，运行提供的 `train.py`，在输出文件夹里没有任何 `__model__` 文件。 输出日志在这里：

[output_10pass.txt](https://github.com/PaddlePaddle/models/files/2220607/output_10pass.txt)

[2018-07-24 06:33] qingqing01 commented on #1070
@daming-lu

现在是用[`fluid.io.save_persistables`](https://github.com/PaddlePaddle/models/blob/develop/fluid/object_detection/train.py#L132)保存的模型，确实没有 `__model__`文件，但在Python里，相应的使用[fluid.io.load_vars](https://github.com/PaddlePaddle/models/blob/develop/fluid/object_detection/infer.py#L63)是可以load模型的。 如果想保存`__model__`文件，使用[fluid.io.save_inference_model](http://paddlepaddle.org/docs/0.14.0/api/fluid/en/i

[2018-07-24 15:28] sfraczek commented on #1059
I have been trying to run the transformer on the most recent develop branch but I keep running out of memory even with `--batch_size 1 --pool_size 2` (I don't know what pool_size does exactly though). The process gets killed by the system displaying just `Killed`. I have roughly 180GB RAM. I don't see any iteration before it gets killed and it takes a lot of time before it gets killed. Also I didn

[2018-07-25 06:00] luotao1 commented on #970
Sorry for the late reply. There is no example to set batch size to 128 on 40 CPUs.

[2018-07-25 09:48] shateng commented on #976
![image](https://user-images.githubusercontent.com/25278878/43193546-de7d39b8-9032-11e8-80c7-8ccecf413e93.png)
demo里的这段代码有问题吧？怎么列表里这么多奇怪的东西？

[2018-07-25 12:24] wenxingsen commented on #1063
可以了

[2018-07-25 12:24] #1063 closed, assigned to nobody

[2018-07-27 00:45] Fairydetail opened #1076 "face_detection"
https://github.com/PaddlePaddle/models/tree/develop/fluid/face_detection
这个我直接运行train.py报错了，定位在fluid.ParallelExecutor(),说找不到libnccl.so这个动态库。然后我把parallel设置成false了之后就报下面的错了
File "/home/daimin/.conda/envs/py27new/lib/python2.7/site-packages/paddle/fluid/executor.py", line 443, in run
    self.executor.run(program.desc, scope, 0, True, True)
paddle.fluid.core.EnforceNotMet: enforce allocating <= avail

[2018-07-27 03:05] ktlichkid commented on #1076
找不到库的问题可以看下这个，但不一定和您的是同一个问题：https://github.com/PaddlePaddle/Paddle/blob/develop/doc/fluid/new_docs/faq/faq.rst

后面的那个错误是说GPU显存不足，fluid版目前要求任务必须占用一块完整的显卡，该显卡上不能有其他任务。所以您可能需要设置一下CUDA visible device环境变量，选择一块空闲的显卡使用。

[2018-07-27 03:35] youngstu opened #1077 "coco dataset obj detection num_class=81?"
https://github.com/PaddlePaddle/models/blob/a56d95e65c775caacff86f681d616d5444cca180/fluid/object_detection/train.py#L53

[2018-07-27 03:59] smallhaes opened #1078 "带gpu跑object_detection时遇到错误"
paddle.fluid.core.EnforceNotMet: enforce allocating <= available failed, 7433255387 > 366608128
 at [/paddle/paddle/fluid/platform/gpu_info.cc:119]

[2018-07-27 05:46] ktlichkid commented on #1078
这个错误一般是GPU显存不够。目前paddle fluid版本必须使用一整块完整的GPU，上面不能有其他任务。麻烦试试用一块空闲的GPU运行

[2018-07-27 06:42] smallhaes commented on #1078
显存是8G，没有跑其他任务，只是单独运行train.py，然后就出现 allocating <= available
运行时的参数如下：
ap_version: 11point
apply_distort: True
apply_expand: True
batch_size: 64
data_dir: data/pascalvoc
dataset: pascalvoc
for_model_ce: False
is_toy: 0
iterations: 120
learning_rate: 0.001
mean_value_B: 127.5
mean_value_G: 127.5
mean_value_R: 127.5
model_save_dir: model
nms_threshold: 0.45
num_passes: 120
parallel: False
pretrained_m

[2018-07-27 06:44] smallhaes commented on #1078
难道最少需要两块8G的显卡吗   /紧张

[2018-07-27 07:08] xingyuanbu commented on #1077
Hi Youngstu,
COCO num_class is 81 indeed, while its class ids are not continuous, specifically, the max COCO class id is 90.
So we can use the COCO id as the label, or use a reordered continuous id as the label. To match with [TensorFlow Detection API](https://github.com/tensorflow/models/blob/master/research/object_detection/samples/configs/faster_rcnn_resnet152_coco.config#L9), we choose the for

[2018-07-27 08:18] #855 closed, assigned to nobody

[2018-07-27 08:29] wenxingsen opened #1079 "fluid跑ssd遇到这个错误，什么情况？"
python -u train.py --batch_size=64 --dataset='pascalvoc'  --pretrained_model='pretrained/pretrained/mobilenet_v1_imagenet.tar.gz'

-----------  Configuration Arguments -----------
ap_version: 11point
apply_distort: True
apply_expand: True
batch_size: 64
dataset: pascalvoc
is_toy: 0
learning_rate: 0.001
mean_value_B: 127.5
mean_value_G: 127.5
mean_value_R: 127.5
model_save_dir: model
nms_threshold:

[2018-07-27 08:42] wenxingsen commented on #1079
add_arg('parallel',         bool,  False,      "Parallel.")

把这个默认的ture改成false 跑通了，还在研究；

train on pascalvoc with 4701 images
test on pascalvoc with 311 images
Pass 0, batch 0, loss 40.2663459778, time 2.09887003899

[2018-07-27 08:58] ktlichkid commented on #1078
麻烦您先试试减小batch_size，例如减小到1看看行不行；
另外可以设置环境变量减小显存使用：export FLAGS_fraction_of_gpu_memory_to_use=0.50
如果有多张显卡的话还可以export CUDA_VISIBLE_DEVICES=2 这样来选择使用的卡
但不一定能彻底解决，您先试试看吧？

[2018-07-27 09:41] sfraczek commented on #1059
I tried running transformer with valgrind's tool named *massif* but the tool didn't work so I couldn't track the issue.
This is a blocker for us. Please fix the CPU path so we can work on optimizing it.
We must suspend the effort until it starts working.

[2018-07-30 03:39] guoshengCS commented on #1059
I reproduce the error, while I can run successfully with `export CPU_NUM=1`  and the number of CPU increases the memories request linearly.

[2018-07-30 07:56] iMuduo opened #1083 "caffe2fluid报错Error encountered: Unknown layer type encountered: Crop"
python convert.py imagenet_resnet_v1_50.prototxt --caffemodel imagenet_resnet_v1_50.caffemodel --data-output-path imagenet_resnet_v1_50.npy --
code-output-path imagenet_resnet_v1_50.py

执行命令后报crop layer无法识别

[2018-07-30 08:07] jxingm opened #1084 "使用se_resnext训练时遇到问题，麻烦解答"
训练集共近三万张图片，使用se_resnext网络训练过程中，遇到这个问题，
![image](https://user-images.githubusercontent.com/26138842/43385064-59d3db0c-9412-11e8-9787-49c0bad0926f.png)
是什么原因？此外之前用别的数据集别的网络的时候也经常遇到类似的貌似是说内存不够的问题？但数据集并不大，觉得很奇怪。
![image](https://user-images.githubusercontent.com/26138842/43385166-9c2f10f2-9412-11e8-8817-089b7976b080.png)这是我们用的卡。

[2018-07-30 08:20] yeyupiaoling commented on #1084
@ffmm123456
这个错误的确是显存不够的，数据集不大，但是网络深度的话，占用的显存也会很大的。
还有Fluid版本要求是要独占显存的。

[2018-07-30 08:34] jxingm commented on #1084
@yeyupiaoling 谢谢解答。se_resnext用的是50层的，之前用vgg或resnet或SSD也都有这样的问题，fluid版本框架是不是对显存要求比较高呢，或者内存优化不够呢？

[2018-07-30 08:38] yeyupiaoling commented on #1084
@ffmm123456

这个没有经过官方证实，但我测试的时候，的确存在这个问题。
你在训练的时候，不要启动其他占用显卡的的程序会报错吗？

[2018-07-30 08:44] jxingm commented on #1084
@yeyupiaoling谢谢回复。 恩是的，用的就是空的一张卡，而且我觉得我们那个卡足够跑一个程序了。。你觉得我们用百度AIStudio可以跑吗？那个是只有4G的显存吗？

[2018-07-30 08:45] luotao1 commented on #1084
可以试试 `export FLAGS_fraction_of_gpu_memory_to_use=0.1` (用户自己设定)

[2018-07-30 08:45] yeyupiaoling commented on #1084
@luotao1

这个是事实吗？

[2018-07-30 08:46] jxingm commented on #1084
@luotao1 谢谢，我试一下

[2018-07-30 08:50] luotao1 commented on #1084
https://github.com/PaddlePaddle/Paddle/blob/4b8ae523c43575ac5411e198f399c9b76889fc36/paddle/fluid/platform/gpu_info.cc#L22-L24

默认启动即占用92%的显存。

[2018-07-30 08:52] qingqing01 commented on #1083
https://github.com/PaddlePaddle/models/tree/develop/fluid/image_classification#supported-models-and-performances

这里提供了Fluid训练的ResNet 50模型，欢迎使用。

[2018-07-30 08:54] yeyupiaoling commented on #1084
@luotao1 好的，我明白了，谢谢。

[2018-07-30 10:55] sfraczek commented on #1059
Thanks. I have tried it but it didn't help.
[code]

Running `dmesg -T| grep -E -i -B100 'killed process'` still returns
[code]
I will try again with latest develop branch - I forgot to change branch.

[2018-07-30 11:56] sfraczek commented on #1059
It ran out of memory on develop too. ~188 GB
Log:
[code]

[2018-07-31 01:48] walloollaw commented on #1083
有更详细的出错信息么？@iMuduo

另外，请确认是用的最新版本转换工具

[2018-07-31 03:07] #1084 closed, assigned to nobody

[2018-07-31 05:24] rockstone533 opened #1087 "face_detection跑一段时间后出现nan"
Pass 0, batch 4750, face loss 6.25504875183, head loss 5.29047966003, time 41.6653439999
Pass 0, batch 4760, face loss nan, head loss nan, time 42.216219902
Pass 0, batch 4770, face loss nan, head loss nan, time 42.0139110088

face_detection跑一段时间后出现nan，这是为什么？

[2018-07-31 08:47] smallhaes commented on #1078
谢啦，调小batch_size就可以，刚开始学，还不熟悉

[2018-07-31 09:03] sfraczek opened #1088 "You have error in image_classification/train.py"
### error message
[code]
### the cause
if use_gpu is False, you still pass use_cuda=True and cause the above error
[code]

### additional note
I compiled with `-DWITH_GPU=OFF`

[2018-07-31 09:14] luotao1 commented on #1088
If use_gpu is False, why do you pass use_cuda=True?
What should you want us to do: enhance the API or error report?

[2018-07-31 09:57] sfraczek commented on #1088
I'm just reporting an error. Leaving the fix to you.
I think it should be
`use_cuda=True if args.use_gpu else False`

[2018-07-31 09:59] sfraczek commented on #1088
Here: https://github.com/PaddlePaddle/models/blob/53937db0f1a29c90cd4e23c1198d34c81bfed1b2/fluid/image_classification/train.py#L160

[2018-07-31 10:03] sfraczek opened #1089 "You have error in image_classification/infer.py"
### error message
[code]
### cause
The test function takes 1 argument
https://github.com/PaddlePaddle/models/blob/53937db0f1a29c90cd4e23c1198d34c81bfed1b2/fluid/image_classification/reader.py#L163
### command
[code]

[2018-07-31 10:05] luotao1 commented on #1088
Thanks for your pointing, I will fix it.

[2018-07-31 10:34] sanwushuosi commented on #1078
thx，实测batch_size设置32，刚刚好可以在6G显存下运行，占用6G显存。
另外，parallel不需要设为False也可以。

[2018-07-31 10:43] luotao1 commented on #1089
How about change to
[code]

[2018-08-01 01:10] #1088 closed, assigned to nobody

[2018-08-01 01:10] #1089 closed, assigned to nobody

[2018-08-01 05:17] know133 opened #1094 "F0801 10:40:21.851949 61013 SparseRowMatrix.h:134] Check failed: localIndices_->size() <= heightStore_ (1538 vs. 1537)"
mpi跑一个任务的时候显示错误如下：
Wed Aug  1 10:40:16 2018[1,68]<stderr>:+ ./paddle_trainer --num_gradient_servers=80 --trainer_id=68 --pservers=10.73.88.48,10.73.87.27,10.73.87.28,10.73.87.33,10.73.87.35,10.73.87.38,10.73.87.39,10.73.87.40,10.73.87.42,10.73.87.44,10.73.87.47,10.73.87.50,10.73.87.51,10.73.87.53,10.73.87.55,10.73.88.11,10.73.88.13,10.73.88.17,10.73.88.24,10.73.88.25,10.73.88.31,10.73.88.35,10.73.

[2018-08-01 07:42] #988 closed, assigned to nobody

[2018-08-02 01:34] shz0519 opened #1097 "PyramidAnchors in face_deteion"
您好，看源码感觉每一层都设置了head，它的gt就是把face 的gt放大，分类label、priorbox和face的分类label、priorbox也都是一样的，感觉和paper里完全不一样啊

[2018-08-02 04:24] ktlichkid commented on #1078
好的，能解决就好~

[2018-08-02 04:24] #1078 closed, assigned to ktlichkid

[2018-08-02 05:41] iMuduo opened #1098 "现在有支持paddle v22fluid的工具么？"

[2018-08-03 10:09] martin6336 opened #1099 "cannot get deep_fm data"
wget --no-check-certificate https://s3-eu-west-1.amazonaws.com/criteo-labs/dac.tar.gz

Connecting to s3-eu-west-1.amazonaws.com (s3-eu-west-1.amazonaws.com)|52.218.65.20|:443... connected.
HTTP request sent, awaiting response... 403 Forbidden
2018-08-03 18:08:32 ERROR 403: Forbidden.

and i can't open https://s3-eu-west-1.amazonaws.com/criteo-labs/dac.tar.gz on my browser either.

[2018-08-03 11:37] greathope opened #1100 "vgg_model.tar.gz link is not valid!"
http://paddlepaddle.bj.bcebos.com/model_zoo/detection/ssd_model/vgg_model.tar.gz
赶紧修复吧..

[2018-08-04 01:54] greathope commented on #1100
还没好吗

[2018-08-06 04:01] BigFishMaster opened #1101 "Use paddlepaddle to do metric learning"

[2018-08-06 10:36] #674 closed, assigned to nobody

[2018-08-07 13:52] ccmeteorljh opened #1107 "修改object_detection模型 在多机下运行，报错"
paddle version 0.14
模型：MobileNet-SSD
代码库地址：https://github.com/PaddlePaddle/models/tree/develop/fluid/object_detection
作业运行配置：
2个pserver，4个trainer，每个trainer单卡
启动脚本:
[code]
**修改train.py 文件如下：**
[code]

[2018-08-07 13:55] ccmeteorljh commented on #1107
pserver报错情况如下：
[code]

[2018-08-07 14:43] typhoonzero commented on #1107
`paddle.fluid.core.EnforceNotMet: enforce param_dim == ctx->GetInputDim("Moment") failed, 256, 512, 1, 1 != 512, 512, 1, 1` 检查下是否pserver的环境变量的问题？

[2018-08-07 14:43] typhoonzero commented on #1107
`paddle.fluid.core.EnforceNotMet: enforce param_dim == ctx->GetInputDim("Moment") failed, 256, 512, 1, 1 != 512, 512, 1, 1` 检查下是否pserver的环境变量的问题？

[2018-08-07 14:46] ccmeteorljh commented on #1107
在cloud上跑的，其他模型都是这样设置的，应该不是pserver的环境问题，有可能是模型网络结构的问题吗？

发自网易邮箱大师
在2018年08月07日 22:43，Wu Yi 写道：

paddle.fluid.core.EnforceNotMet: enforce param_dim == ctx->GetInputDim("Moment") failed, 256, 512, 1, 1 != 512, 512, 1, 1 检查下是否pserver的环境变量的问题？

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-08-07 14:47] typhoonzero commented on #1107
我后续复现下

[2018-08-07 14:48] typhoonzero commented on #1107
我后续复现下。

[2018-08-09 09:16] typhoonzero commented on #1107
这个问题是只有在使用`RMSProp` optimizer的时候会复现。我会跟进下。

[2018-08-10 09:45] cjxb-hy opened #1132 "一次预测多张图片"
models/fluid/object_detection/infer.py
目标检测mobilenet_ssd
infer.py一次只能输入一张图片
怎么才能批量处理图片

[2018-08-11 06:53] #1132 closed, assigned to nobody

[2018-08-12 11:30] wanbiguizhao opened #1134 "models/fluid/chinese_ner/infer.py 用测程序不能正确运行"
报错模块：models/fluid/chinese_ner/infer.py
代码变更：train.py程序训练使用的是显卡，修改为使用CPU训练。
程序运行环境：docker paddle
执行步骤: 执行python train.py 后 output产生模型文件。
报错步骤:执行python inferr.py 文件报错。
报错信息:
[code]
报错位置：
[code]

[2018-08-13 03:40] chenbblei opened #1135 "AI-shell_testdata_test.scp_wav_00000.compact.label和AI-shell_testdata_test.scp_wav_00000.compact.label_desc的格式能解释下么"
0 2000 2
BAC009S0770W0363 0 80 2784 696 1
BAC009S0770W0174 0 3024 1980 495 1
BAC009S0770W0320 0 5164 2948 737 1
BAC009S0770W0304 0 8272 2804 701 1
BAC009S0770W0348 0 11236 1412 353 1
BAC009S0770W0185 0 12808 3144 786 1
BAC009S0770W0162 0 16112 1988 497 1
BAC009S0770W0159 0 18260 1700 425 1
BAC009S0770W0337 0 20120 3620 905 1
BAC009S0770W0345 0 23900 2496 624 1
BAC009S0770W0164 0 26556 3480 870 1

[2018-08-13 04:04] luotao1 commented on #1135
请问您这是哪个模型，下载了哪个数据集呢？

[2018-08-13 05:43] kuke commented on #1135
@chenbblei 近期我们会补全一下readme

[2018-08-13 06:48] pengeorge commented on #1135
@chenbblei 数据feature和label大约每2000句存成一个二进制数据块，label文件是int类型，feat文件是float类型。每个feat或label数据块都对应一个desc文件。
`0 2000 2`
第一行第一个数0和第三个数2是为了和其他工具兼容引入的，保留即可。第二个数表示数据块中的句子数。
BAC009S0770W0363 0 80 2784 696 1

BAC009S0770W0174 0 3024 1980 495 1

BAC009S0770W0320 0 5164 2948 737 1

BAC009S0770W0304 0 8272 2804 701 1

BAC009S0770W0348 0 11236 1412 353 1

BAC009S0770W0185 0 12808 3144 786 1

BAC009S0770W0162 0 161

[2018-08-13 09:20] chenbblei commented on #1135
@pengeorge 多谢

[2018-08-13 11:21] velconia opened #1140 "Port models' code to Python3"
According to the discussion in [PaddlePaddle issues](https://github.com/PaddlePaddle/Paddle/issues/12040), we should port current code in models to Python3

[2018-08-14 01:54] chenbblei commented on #1135
@pengeorge 还有个问题，这些文件怎么生成的，有脚本么，还是需要自己写

[2018-08-14 01:55] chenbblei opened #1144 "能支持局部参数更新么"
我想做个自适应模型，能否做到前面基层参数不更新，只更新后面几层的呢

[2018-08-14 02:00] oraoto commented on #1144
我知道的两个方法：

1. 设置Variable的stop_gradient为True: http://paddlepaddle.org/documentation/api/zh/0.14.0/fluid.html#permalink-2-variable
2. Optimizer的minimize方法指定要更新的参数parameter_list:  http://paddlepaddle.org/documentation/api/zh/0.14.0/optimizer.html#permalink-18-optimizer

[2018-08-14 02:01] chenbblei commented on #1144
@oraoto 有使用的实例么

[2018-08-14 02:05] oraoto commented on #1144
1. 用到stop_gradient的例子：https://github.com/oraoto/learn_ml/blob/master/paddle/pretrained.ipynb

[2018-08-14 02:28] chenbblei commented on #1144
@oraoto 好的，多谢

[2018-08-14 02:45] #1144 closed, assigned to nobody

[2018-08-14 02:55] chenbblei commented on #1135
@pengeorge  label的标签是人工标注的么

[2018-08-14 03:39] pengeorge commented on #1135
@chenbblei 不是人工标注。这是CD-state的label，是GMM对齐得到的。如果自己准备训练数据，可以用kaldi的样例流程训练GMM-HMM模型，然后对数据做对齐，得到kaldi格式的对齐结果，再转换成上述格式。转换的工具近期会提供。

[2018-08-14 04:34] velconia commented on #1140
**烫:**

需要在 **_8.22_** 前完成迁移

NLP:
- 青晟：rnn_search [**_(done)_**](https://github.com/PaddlePaddle/models/pull/1163)
- 毅冰：language_model [**_done_**](https://github.com/PaddlePaddle/models/pull/1189)
- 郭晟：transformer [**_done_**](https://github.com/PaddlePaddle/models/pull/1190)
- 启阳:   sequence_tagging_for_ner [**_(done)_**](https://github.com/PaddlePaddle/models/pull/1166)
- 启阳：text_classificatio

[2018-08-14 05:18] #1107 closed, assigned to typhoonzero

[2018-08-14 06:11] chenbblei commented on #1135
@pengeorge 多谢啦，期待尽快上传这样的工具

[2018-08-14 06:11] #1135 closed, assigned to kuke

[2018-08-14 13:24] greathope opened #1148 "ssd detector got stuck when training"
I use this paddlepaddle/paddle:latest-gpu-cuda9.0-cudnn7  docker images, and create my own coco-style dataset, but when training starts, it is stuck...  can anyone help me?

[2018-08-15 01:52] #1148 closed, assigned to nobody

[2018-08-15 01:52] #1100 closed, assigned to nobody

[2018-08-15 06:14] #1064 closed, assigned to nobody

[2018-08-15 09:53] shanyi15 commented on #1022
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:53] #1022 closed, assigned to nobody

[2018-08-15 09:53] shanyi15 commented on #1020
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:53] #1020 closed, assigned to qingqing01, baiyfbupt

[2018-08-15 09:53] shanyi15 commented on #1015
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:53] #1015 closed, assigned to luotao1

[2018-08-15 09:53] shanyi15 commented on #1001
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:53] #1001 closed, assigned to nobody

[2018-08-15 09:53] shanyi15 commented on #983
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:53] #983 closed, assigned to nobody

[2018-08-15 09:53] shanyi15 commented on #976
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:53] #976 closed, assigned to nobody

[2018-08-15 09:53] shanyi15 commented on #974
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:53] #974 closed, assigned to nobody

[2018-08-15 09:53] shanyi15 commented on #971
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:53] #971 closed, assigned to kuke

[2018-08-15 09:53] shanyi15 commented on #941
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:53] #941 closed, assigned to nobody

[2018-08-15 09:53] shanyi15 commented on #930
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:53] #930 closed, assigned to kuke

[2018-08-15 09:53] shanyi15 commented on #929
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:53] #929 closed, assigned to qingqing01

[2018-08-15 09:54] shanyi15 commented on #917
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:54] #917 closed, assigned to nobody

[2018-08-15 09:54] shanyi15 commented on #905
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:54] #905 closed, assigned to nobody

[2018-08-15 09:54] shanyi15 commented on #896
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:54] #896 closed, assigned to nobody

[2018-08-15 09:54] shanyi15 commented on #895
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:54] #895 closed, assigned to nobody

[2018-08-15 09:54] shanyi15 commented on #893
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:54] #893 closed, assigned to nobody

[2018-08-15 09:54] shanyi15 commented on #892
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:54] #892 closed, assigned to nobody

[2018-08-15 09:54] shanyi15 commented on #891
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:54] #891 closed, assigned to nobody

[2018-08-15 09:54] shanyi15 commented on #890
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:54] #890 closed, assigned to nobody

[2018-08-15 09:54] shanyi15 commented on #887
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:54] #887 closed, assigned to nobody

[2018-08-15 09:54] shanyi15 commented on #884
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:54] #884 closed, assigned to kuke

[2018-08-15 09:54] shanyi15 commented on #872
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:54] #872 closed, assigned to nobody

[2018-08-15 09:54] shanyi15 commented on #871
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:54] #871 closed, assigned to nobody

[2018-08-15 09:54] shanyi15 commented on #870
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:54] #870 closed, assigned to nobody

[2018-08-15 09:54] shanyi15 commented on #818
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:54] #818 closed, assigned to nobody

[2018-08-15 09:54] shanyi15 commented on #817
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:55] #817 closed, assigned to nobody

[2018-08-15 09:55] shanyi15 commented on #812
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:55] #812 closed, assigned to nobody

[2018-08-15 09:55] shanyi15 commented on #806
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:55] #806 closed, assigned to nobody

[2018-08-15 09:55] shanyi15 commented on #787
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:55] #787 closed, assigned to nobody

[2018-08-15 09:55] shanyi15 commented on #786
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:55] #786 closed, assigned to nobody

[2018-08-15 09:55] shanyi15 commented on #770
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:55] #770 closed, assigned to nobody

[2018-08-15 09:55] shanyi15 commented on #757
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:55] #757 closed, assigned to nobody

[2018-08-15 09:55] shanyi15 commented on #743
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:55] #743 closed, assigned to guoshengCS

[2018-08-15 09:55] shanyi15 commented on #737
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:55] #737 closed, assigned to nobody

[2018-08-15 09:55] shanyi15 commented on #713
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:55] #713 closed, assigned to nobody

[2018-08-15 09:55] shanyi15 commented on #711
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:55] #711 closed, assigned to nobody

[2018-08-15 09:55] shanyi15 commented on #708
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:55] #708 closed, assigned to nobody

[2018-08-15 09:55] shanyi15 commented on #702
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:55] #702 closed, assigned to nobody

[2018-08-15 09:55] shanyi15 commented on #700
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:55] #700 closed, assigned to nobody

[2018-08-15 09:55] shanyi15 commented on #699
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:55] #699 closed, assigned to qingqing01, ranqiu92

[2018-08-15 09:55] shanyi15 commented on #697
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:55] #697 closed, assigned to nobody

[2018-08-15 09:55] shanyi15 commented on #696
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:55] #696 closed, assigned to kuke

[2018-08-15 09:56] shanyi15 commented on #691
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:56] #691 closed, assigned to peterzhang2029

[2018-08-15 09:56] shanyi15 commented on #687
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:56] #687 closed, assigned to Superjomn

[2018-08-15 09:56] shanyi15 commented on #682
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:56] #682 closed, assigned to nobody

[2018-08-15 09:56] shanyi15 commented on #678
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:56] #678 closed, assigned to nobody

[2018-08-15 09:56] shanyi15 commented on #676
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:56] #676 closed, assigned to nobody

[2018-08-15 09:56] shanyi15 commented on #673
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:56] #673 closed, assigned to nobody

[2018-08-15 09:56] shanyi15 commented on #669
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:56] #669 closed, assigned to reyoung, panyx0718, tonyyang-svail, chengduoZH

[2018-08-15 09:56] shanyi15 commented on #657
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:56] #657 closed, assigned to pkuyym

[2018-08-15 09:56] shanyi15 commented on #650
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:56] #650 closed, assigned to nobody

[2018-08-15 09:56] shanyi15 commented on #556
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:56] #556 closed, assigned to nobody

[2018-08-15 09:56] shanyi15 commented on #532
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:56] #532 closed, assigned to nobody

[2018-08-15 09:56] shanyi15 commented on #531
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:56] #531 closed, assigned to nobody

[2018-08-15 09:56] shanyi15 commented on #523
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:56] #523 closed, assigned to nobody

[2018-08-15 09:56] shanyi15 commented on #522
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:56] #522 closed, assigned to nobody

[2018-08-15 09:56] shanyi15 commented on #521
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:57] #521 closed, assigned to nobody

[2018-08-15 09:57] shanyi15 commented on #520
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:57] #520 closed, assigned to nobody

[2018-08-15 09:57] shanyi15 commented on #500
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:57] #500 closed, assigned to nobody

[2018-08-15 09:57] shanyi15 commented on #499
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:57] #499 closed, assigned to nobody

[2018-08-15 09:57] shanyi15 commented on #464
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:57] #464 closed, assigned to nobody

[2018-08-15 09:57] shanyi15 commented on #456
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:57] #456 closed, assigned to nobody

[2018-08-15 09:57] shanyi15 commented on #440
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:57] #440 closed, assigned to nobody

[2018-08-15 09:57] shanyi15 commented on #417
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:57] #417 closed, assigned to kuke, guoshengCS

[2018-08-15 09:57] shanyi15 commented on #416
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:57] #416 closed, assigned to pkuyym

[2018-08-15 09:57] shanyi15 commented on #412
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:57] #412 closed, assigned to nobody

[2018-08-15 09:57] shanyi15 commented on #411
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:57] #411 closed, assigned to nobody

[2018-08-15 09:57] shanyi15 commented on #401
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:57] #401 closed, assigned to nobody

[2018-08-15 09:57] shanyi15 commented on #400
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:57] #400 closed, assigned to nobody

[2018-08-15 09:57] shanyi15 commented on #394
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:58] #394 closed, assigned to nobody

[2018-08-15 09:58] shanyi15 commented on #391
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:58] #391 closed, assigned to nobody

[2018-08-15 09:58] shanyi15 commented on #273
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:58] #273 closed, assigned to nobody

[2018-08-15 09:58] shanyi15 commented on #235
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:58] #235 closed, assigned to xinghai-sun

[2018-08-15 09:58] shanyi15 commented on #234
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:58] #234 closed, assigned to pkuyym, luotao1, xinghai-sun

[2018-08-15 09:58] shanyi15 commented on #230
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:58] #230 closed, assigned to xinghai-sun

[2018-08-15 09:58] shanyi15 commented on #218
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:58] #218 closed, assigned to nobody

[2018-08-15 09:58] shanyi15 commented on #216
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:58] #216 closed, assigned to lcy-seso

[2018-08-15 09:58] shanyi15 commented on #209
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:58] #209 closed, assigned to nobody

[2018-08-15 09:58] shanyi15 commented on #207
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:58] #207 closed, assigned to kuke

[2018-08-15 09:58] shanyi15 commented on #206
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:58] #206 closed, assigned to nobody

[2018-08-15 09:58] shanyi15 commented on #204
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:58] #204 closed, assigned to xinghai-sun

[2018-08-15 09:58] shanyi15 commented on #187
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:58] #187 closed, assigned to lcy-seso

[2018-08-15 09:58] shanyi15 commented on #181
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:58] #181 closed, assigned to dzhwinter

[2018-08-15 09:59] shanyi15 commented on #176
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:59] #176 closed, assigned to nobody

[2018-08-15 09:59] shanyi15 commented on #174
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:59] #174 closed, assigned to lcy-seso

[2018-08-15 09:59] shanyi15 commented on #165
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:59] #165 closed, assigned to Superjomn

[2018-08-15 09:59] shanyi15 commented on #163
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:59] #163 closed, assigned to Superjomn, lcy-seso

[2018-08-15 09:59] shanyi15 commented on #160
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:59] #160 closed, assigned to lcy-seso

[2018-08-15 09:59] shanyi15 commented on #158
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:59] #158 closed, assigned to lcy-seso

[2018-08-15 09:59] shanyi15 commented on #12
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:59] #12 closed, assigned to kuke

[2018-08-15 09:59] shanyi15 commented on #10
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:59] #10 closed, assigned to chrisxu2016

[2018-08-15 09:59] shanyi15 commented on #9
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:59] #9 closed, assigned to pkuyym, lcy-seso

[2018-08-15 09:59] shanyi15 commented on #7
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:59] #7 closed, assigned to wanghaoshuang

[2018-08-15 09:59] shanyi15 commented on #3
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:59] #3 closed, assigned to chengxiaohua1105

[2018-08-15 09:59] shanyi15 commented on #1
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 09:59] #1 closed, assigned to lcy-seso

[2018-08-15 10:05] shanyi15 commented on #970
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:05] #970 closed, assigned to luotao1

[2018-08-15 10:05] shanyi15 commented on #964
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:05] #964 closed, assigned to wanghaoshuang

[2018-08-15 10:05] shanyi15 commented on #959
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:05] #959 closed, assigned to nobody

[2018-08-15 10:05] shanyi15 commented on #953
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:05] #953 closed, assigned to luotao1

[2018-08-15 10:05] shanyi15 commented on #949
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:05] #949 closed, assigned to likesiwell

[2018-08-15 10:05] shanyi15 commented on #946
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:06] #946 closed, assigned to kuke

[2018-08-15 10:06] shanyi15 commented on #865
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:06] #865 closed, assigned to nobody

[2018-08-15 10:06] shanyi15 commented on #837
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:06] #837 closed, assigned to nobody

[2018-08-15 10:06] shanyi15 commented on #830
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:06] #830 closed, assigned to nobody

[2018-08-15 10:06] shanyi15 commented on #823
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:06] #823 closed, assigned to nobody

[2018-08-15 10:06] shanyi15 commented on #733
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:06] #733 closed, assigned to nobody

[2018-08-15 10:06] shanyi15 commented on #728
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:06] #728 closed, assigned to nobody

[2018-08-15 10:06] shanyi15 commented on #724
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:06] #724 closed, assigned to reyoung

[2018-08-15 10:06] shanyi15 commented on #723
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:06] #723 closed, assigned to nobody

[2018-08-15 10:06] shanyi15 commented on #720
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:06] #720 closed, assigned to nobody

[2018-08-15 10:06] shanyi15 commented on #719
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:06] #719 closed, assigned to nobody

[2018-08-15 10:06] shanyi15 commented on #718
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:06] #718 closed, assigned to nobody

[2018-08-15 10:06] shanyi15 commented on #717
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:07] #717 closed, assigned to nobody

[2018-08-15 10:07] shanyi15 commented on #715
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:07] #715 closed, assigned to nobody

[2018-08-15 10:07] shanyi15 commented on #649
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:07] #649 closed, assigned to nobody

[2018-08-15 10:07] shanyi15 commented on #648
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:07] #648 closed, assigned to nobody

[2018-08-15 10:07] shanyi15 commented on #647
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:07] #647 closed, assigned to nobody

[2018-08-15 10:07] shanyi15 commented on #646
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:07] #646 closed, assigned to fuyinno4

[2018-08-15 10:07] shanyi15 commented on #645
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:07] #645 closed, assigned to gavin1332

[2018-08-15 10:07] shanyi15 commented on #637
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:07] #637 closed, assigned to pengeorge, zhxfl, pkuyym

[2018-08-15 10:07] shanyi15 commented on #371
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:07] #371 closed, assigned to lcy-seso, guoshengCS

[2018-08-15 10:07] shanyi15 commented on #352
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:07] #352 closed, assigned to nobody

[2018-08-15 10:07] shanyi15 commented on #351
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:07] #351 closed, assigned to nobody

[2018-08-15 10:07] shanyi15 commented on #345
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:07] #345 closed, assigned to nobody

[2018-08-15 10:07] shanyi15 commented on #339
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:07] #339 closed, assigned to nobody

[2018-08-15 10:08] shanyi15 commented on #330
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:08] #330 closed, assigned to lcy-seso, will-am

[2018-08-15 10:08] shanyi15 commented on #327
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:08] #327 closed, assigned to nobody

[2018-08-15 10:08] shanyi15 commented on #321
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:08] #321 closed, assigned to nobody

[2018-08-15 10:08] shanyi15 commented on #319
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:08] #319 closed, assigned to nobody

[2018-08-15 10:08] shanyi15 commented on #316
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:08] #316 closed, assigned to nobody

[2018-08-15 10:08] shanyi15 commented on #314
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:08] #314 closed, assigned to pkuyym

[2018-08-15 10:08] shanyi15 commented on #302
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:08] #302 closed, assigned to nobody

[2018-08-15 10:08] shanyi15 commented on #296
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:08] #296 closed, assigned to nobody

[2018-08-15 10:08] shanyi15 commented on #153
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:08] #153 closed, assigned to Superjomn

[2018-08-15 10:08] shanyi15 commented on #150
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:08] #150 closed, assigned to Superjomn, llxxxll, lcy-seso

[2018-08-15 10:08] shanyi15 commented on #147
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:08] #147 closed, assigned to livc

[2018-08-15 10:10] shanyi15 commented on #867
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:10] #867 closed, assigned to nobody

[2018-08-15 10:10] shanyi15 commented on #631
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:10] #631 closed, assigned to NHZlX

[2018-08-15 10:10] shanyi15 commented on #624
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:10] #624 closed, assigned to kuke

[2018-08-15 10:10] shanyi15 commented on #607
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:10] #607 closed, assigned to nobody

[2018-08-15 10:10] shanyi15 commented on #603
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:11] #603 closed, assigned to nobody

[2018-08-15 10:11] shanyi15 commented on #590
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:11] #590 closed, assigned to nobody

[2018-08-15 10:11] shanyi15 commented on #567
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:11] #567 closed, assigned to nobody

[2018-08-15 10:11] shanyi15 commented on #566
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:11] #566 closed, assigned to nobody

[2018-08-15 10:11] shanyi15 commented on #558
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:11] #558 closed, assigned to will-am

[2018-08-15 10:11] shanyi15 commented on #389
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:11] #389 closed, assigned to nobody

[2018-08-15 10:11] shanyi15 commented on #376
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:11] #376 closed, assigned to kuke

[2018-08-15 10:11] shanyi15 commented on #375
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:11] #375 closed, assigned to lcy-seso

[2018-08-15 10:11] shanyi15 commented on #374
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:11] #374 closed, assigned to lcy-seso

[2018-08-15 10:11] shanyi15 commented on #372
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:11] #372 closed, assigned to lcy-seso, peterzhang2029, ranqiu92

[2018-08-15 10:11] shanyi15 commented on #44
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:11] #44 closed, assigned to nobody

[2018-08-15 10:11] shanyi15 commented on #35
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:11] #35 closed, assigned to nobody

[2018-08-15 10:11] shanyi15 commented on #33
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:11] #33 closed, assigned to reyoung

[2018-08-15 10:11] shanyi15 commented on #26
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:11] #26 closed, assigned to lcy-seso

[2018-08-15 10:16] shanyi15 commented on #133
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:16] #133 closed, assigned to pkuyym

[2018-08-15 10:16] shanyi15 commented on #116
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:16] #116 closed, assigned to pkuyym

[2018-08-15 10:16] shanyi15 commented on #115
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:16] #115 closed, assigned to nobody

[2018-08-15 10:16] shanyi15 commented on #100
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:16] #100 closed, assigned to xinghai-sun, qingqing01

[2018-08-15 10:16] shanyi15 commented on #95
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:16] #95 closed, assigned to nobody

[2018-08-15 10:16] shanyi15 commented on #89
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:16] #89 closed, assigned to llxxxll

[2018-08-15 10:16] shanyi15 commented on #65
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:16] #65 closed, assigned to Superjomn

[2018-08-15 10:16] shanyi15 commented on #51
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 10:16] #51 closed, assigned to wanghaoshuang

[2018-08-16 04:01] #1068 closed, assigned to nobody

[2018-08-16 06:41] chenbblei opened #1152 "CNN的CPU代码优化在哪里可以修改"
如题

[2018-08-16 08:58] wenyawei opened #1154 "I CANOT download the ssd model."
I CANOT download the ssd model.
The pretrained model link is http://paddlepaddle.bj.bcebos.com/model_zoo/detection/ssd_model/vgg_model.tar.gz.

The SSD page link is https://github.com/PaddlePaddle/models/tree/develop/ssd

[2018-08-16 11:55] SUYEgit opened #1156 "Floating point exception (core dumped)"
今天尝试使用在PASCAL VOC数据集上使用paddle的ssd模型https://github.com/PaddlePaddle/models/tree/develop/ssd， 使用···data/prepare_voc_data.py···分割训练数据集后，运行···train.py···可以成功加载网络结构，初始化参数后程序在执行函数 paddle.trainer.SGD.train()时出现异常，显示：Floating point exception (core dumped)

![image](https://user-images.githubusercontent.com/35247113/44207026-45023280-a18e-11e8-9c5c-00b1ee3c35e1.png)

[2018-08-17 03:05] Renwb1991 commented on #1083
@iMuduo crop 问题已修复，具体请参考 caffe2fluid: support crop and reduction layer convertion #1145 目前已经merge，可以更新下代码，重新试下。

[2018-08-17 04:08] guochaorong opened #1162 "models CE kpis"
模型 | 指标打开情况 | 说明
-- | -- | --
mnist  郭超容 | train_acc_kpi,         train_cost_kpi,         test_acc_kpi,         train_duration_kpi, | 列出的都打开了
object_detection  一帆 | train_cost_kpi,       test_acc_kpi,       train_speed_kpi,       train_cost_card4_kpi,       test_acc_card4_kpi,       train_speed_card4_kpi, | train_speed_kpi  未打卡   train_speed_card4_kpi 未打开
image_classification    一帆（代青青） | train_ac

[2018-08-17 07:19] zyfo2 opened #1164 "fluid.io.load_inference_model 载入多个模型的时候会报错Error Occurs, info:enforce version == 0U failed, 1015534361 != 0 Only version 0 is supported"
我们有多个模型，需要做通用inference，需要载入多个模型
如果只load任意一个模型都是ok的
但如果load一个模型后，load另一个模型，如果其中一个模型用到lod_tensor，就会报错。
函数代码如下：
        place = fluid.CPUPlace()
        exe = fluid.Executor(place)
        [inference_program, _, fetch_targets] = (
            fluid.io.load_inference_model(dirname=model_path[0], executor=exe,
                                          model_filename=model_path[1],

[2018-08-17 08:09] zyfo2 commented on #1164
solved by myself. for those who need it:
use a new scope for every model
[code]

and for prediction:
[code]

[2018-08-18 03:43] chenbblei opened #1167 "beam_search这个函数现在可以返回最佳路径对应的每个lable的所有概率了么"
如题

[2018-08-18 03:51] chenbblei opened #1168 "如何打印出beam_search的每一步的输出过程"
如题

[2018-08-20 06:27] Johumliu opened #1171 "训练自己的数据时，修改了检测的类别数，载入在VOC上预训练的VGG模型时出错"
Traceback (most recent call last):
  File "train.py", line 83, in <module>
    init_model_path='vgg_model.tar.gz')
  File "train.py", line 25, in train
    parameters.init_from_tar(gzip.open(init_model_path))
  File "/home/liujh/.conda/envs/pd/lib/python2.7/site-packages/paddle/v2/parameters.py", line 402, in init_from_tar
    self.set(pname, tar_param.get(pname))
  File "/home/liujh/.conda/envs/p

[2018-08-20 09:25] #1171 closed, assigned to nobody

[2018-08-20 14:07] bingyanghuang opened #1176 "Chinese Ner inference profiling appears linear_chain_crf_grad op"
When I downloaded the latest models and ran the train.sh , infer.sh in fluid/chinese_ner/scripts folder, I got the following profiling results:
![image](https://user-images.githubusercontent.com/33643817/44344485-61baa500-a4c3-11e8-97b9-9961e984874a.png)
linear_chain_crf_grad op should not appear in the inference program. In fact, in the train.py script, it saved "target"  as the feed data with
`

[2018-08-21 07:34] DaleAG opened #1179 "Train error about ParamidBox"
I use
`pip install paddlepaddle-gpu==0.14.0.post85`
to install paddlepaddle.
When I run train.py

But, I alter
`            run_shape = fluid.layers.assign(
                np.array([0, -1, last_dim]).astype("int32"))
`
to
`           run_shape = fluid.layers.create_tensor(dtype='int32')`
`            fluid.layers.assign(
                np.array([0, -1, last_dim]).astype("int32"),run_shape)
`

ru

[2018-08-22 06:29] Tristan-Hao opened #1182 "program为什么一定要用clone，还必须指定for_test=True?"
在infer.py中进行验证，如果改为用test_program = fluid.default_main_program()，来做program，那么好像模型参数并没有读取回来，测试结果都不正确。如只去掉for_test参数，结果也是不正确。
请教原因？
执行fluid.io.load_vars(exe, pretrained_model, predicate=if_exist)是否已经把模型参数重载到fluid.default_main_program()中了？
谢谢

[2018-08-23 03:17] #1168 closed, assigned to nobody

[2018-08-23 03:17] #1167 closed, assigned to nobody

[2018-08-24 13:50] youngstu opened #1186 "caffe2fluid 现在支持depthwise conv?"
1. caffe2fluid 支持 depthwise conv？ 如果不支持，需要怎样支持 depthwise conv?
2. caffe2fluid 支持 group conv ?

[2018-08-27 07:03] youngstu opened #1194 "caffe2fluid priorbox layer bug?"

[2018-08-27 07:40] #1194 closed, assigned to nobody

[2018-08-28 09:42] sfraczek opened #1199 "will you support CPU training of Transformer?"
https://github.com/PaddlePaddle/models/blob/ff63e48f5dd71143d7108198e71a61cdaa0895d9/fluid/neural_machine_translation/transformer/config.py#L2

[2018-08-28 11:22] ktlichkid commented on #1179
I have checked the face detection model but it looks correct. The assign layer could take either 1 or 2 arguments as input. Please try update your paddle version to the latest.

[2018-08-28 11:27] luotao1 commented on #1199
transformer can run on CPU now. This annotation is due to some fails on ParallelExecutor before. We will remove this line.

[2018-08-28 14:09] sfraczek commented on #1059
Any idea what this error means?
[code]

[2018-08-29 02:07] guoshengCS commented on #1059
It might be caused by the empty list `insts`.

[2018-08-29 03:21] #1101 closed, assigned to nobody

[2018-08-29 06:24] xialeiliu opened #1203 "resnet101 pretrained model?"
I only found the pretrained model for resnet50, do you have resnet101 pretrained model available?

[2018-08-29 06:27] sfraczek commented on #1059
But what is this from the perspective of a user of the framework who doesn't know the internals? Is it a bug or something in the data?

[2018-08-29 06:36] #1199 closed, assigned to nobody

[2018-08-29 07:08] guoshengCS commented on #1059
The `insts` is the list of samples and will not be empty normally. I am not sure if there is a bug when processing data
https://github.com/PaddlePaddle/models/blob/develop/fluid/neural_machine_translation/transformer/train.py#L246 . May you paste the command to run and the size of data(number of samples), please

[2018-08-29 07:37] mrysztow commented on #1059
@guoshengCS can you share, how much RAM does your platform have?

[2018-08-29 07:49] sfraczek commented on #1059
I run:
[code]
I have data of size:
[code]
And my dataset looks like this:
[code]

[2018-08-29 08:07] sfraczek commented on #1059
I have tried batch_size 23 and pool_size 230 this time and it worked. Thank for pointing me to the clue about data size. I wonder why the previous parameters failed though?

[2018-08-29 08:20] guoshengCS commented on #1059
@mrysztow  The RAM size of my platform is about 216G

[2018-08-29 10:31] guoshengCS commented on #1059
@sfraczek I suggest using the setting `--use_token_batch False` when debugging, which means the `--batch_size` indicating the number of samples. Otherwise `--batch_size=1` means the number of words rather than sentences(samples) included in one mini-batch is 1, which might lead to undesirable behavior, though I haven't find what exactly the bug is.

[2018-08-29 11:28] sfraczek commented on #1059
The inference script prints only empty lines.
This is the only printing instruction:
https://github.com/PaddlePaddle/models/blob/c3ada25f3272ea6b2b181e9ab9d9986eea63849e/fluid/neural_machine_translation/transformer/infer.py#L207
and it always prints an empty line. Shouldn't there by anything? It seems to be doing something  for a while, it enters that print statement many times over.

[2018-08-29 11:52] sfraczek commented on #1059
@guoshengCS  thank you for suggestion. When I specify `use_token_batch False` - what pool_size should I use?

[2018-08-29 12:06] guoshengCS commented on #1059
`pool_size` indicates the buffer size to pool data(samples). Then some process(sort by sentence length)  will carry out on the data in buffer. It can be set as you want.

[2018-08-29 12:20] sfraczek commented on #1059
When I specify `--pool_size 230` and `--use_token_batch False`  I get
```UnboundLocalError: local variable 'val_avg_cost' referenced before assignment```
But when I specified batch_size 23 and pool_size 230 it worked on **forged dataset.**

[2018-08-29 18:16] hdjsjyl commented on #1179
@ktlichkid @DaleAG  I meet the same error here. And I install paddle by using "pip install paddlepaddle-gpu", do I still need to update paddle? And I do not find paddle version for CUDA91, so this command "pip install paddlepaddle-gpu" works for me? Thanks

[2018-08-29 18:26] hdjsjyl commented on #1179
@ktlichkid  On the official website, it says that "pip install paddlepaddle-gpu" for CUDA9, but when I use this command, it installs paddlepaddle-gpu=0.14.0-post87, which is for CUDA8. I do not know the reason. It is very strange. Thanks

[2018-08-29 18:29] hdjsjyl commented on #1179
@ktlichkid  On the official document, "fluid.layers.assign" function only has one argument.

[2018-08-29 18:39] hdjsjyl opened #1207 "Installing paddle for CUDA9 and face detection errors"
I use
pip install paddlepaddle-gpu for CUDA9 to install paddlepaddle.  But it shows I have installed paddlepaddle-gpu 1.14.0post87, which is for CUDA8, why it happens?
When I run train.py

Traceback (most recent call last):
File "train.py", line 178, in
train(args, config, train_file_list, optimizer_method="momentum")
File "train.py", line 52, in train
sub_network=use_pyramidbox)
File "/home/daguo

[2018-08-29 19:12] hdjsjyl commented on #1179
@ktlichkid  I have installed paddlepaddle-gpu-0.14.0, it still hows this error, how to solve this problem? Any advice will be appreciated. Thank you very much!

[2018-08-29 20:36] Sand3r- commented on #1176
Closed as of merging #1180.

[2018-08-29 20:36] #1176 closed, assigned to nobody

[2018-08-29 23:50] hdjsjyl opened #1209 "Docker: paddlepaddle/paddle:latest-gpu-cuda9.0-cudnn7, it works in my computer, but when I install "pip install paddlepaddle-gpu", it does not work in my computer."
Docker: paddlepaddle/paddle:latest-gpu-cuda9.0-cudnn7, it works in my computer, but when I install "pip install paddlepaddle-gpu", it does not work in my computer. It shows the following error:

Traceback (most recent call last):
File "train.py", line 178, in
train(args, config, train_file_list, optimizer_method="momentum")
File "train.py", line 52, in train
sub_network=use_pyramidbox)
File "/home

[2018-08-30 12:10] sfraczek commented on #1059
I get weird errors still trying to run inference on wmt16_en_de.  I think the cause is that I might have a bad model file from the forget dataset instead of from wmt16 dataset. If so, this error doesn't tell me anything. Paddle could use better error handling.
[code]

[2018-08-31 07:50] sfraczek commented on #1059
That was indeed bad model file - from other dataset. Since the model is saved only once per epoch I had to shorten the epoch by inserting a break after few iterations (it could take maybe days to just finish 1 epoch). This got me a model I could use for inference and it finally run. But after few iterations Linux has "Killed" the process again.
[code]

So, the question is... how do you claim that

[2018-09-02 01:47] ChuRao commented on #1182
有些层（如batch_norm）训练和预测时的行为不一样，所以需要for_test参数来控制行为。

参数加载我的理解是program来锚定有哪些参数，实际是加载到socpe中的， predicate这个参数接收一个函数作为输入，迭代之前锚定的参数到这个函数，判断是否需要加载。

 + 一个例子函数
[code]

可以参考[fluid.Trainer](https://github.com/PaddlePaddle/Paddle/blob/b11332a07b7f4f90c96c33810ca65494f582b291/python/paddle/fluid/trainer.py)这个类

[2018-09-02 14:51] chuanqi129 opened #1217 "object detection eval.py issue"
I met a problem in object detection eval.py scripts as below, could you help me to have a look on it?

`python eval.py --dataset='pascalvoc' --model_dir='ssd_mobilenet_v1_pascalvoc' --data_dir='data/pascalvoc' --test_list='test.txt' --ap_version='11point' --nms_threshold=0.45 --use_gpu=False`
-----------  Configuration Arguments -----------
ap_version: 11point
batch_size: 32
data_dir: data/pascalv

[2018-09-03 02:56] qingqing01 commented on #1203
@xialeiliu ResNet 101 will be released in the future. If you need it urgently, you can use tools https://github.com/PaddlePaddle/models/tree/develop/fluid/image_classification/caffe2fluid

[2018-09-03 03:03] baiyfbupt commented on #1217
This issue has been fixed in latest develop branch, please update code to latest `develop`

[2018-09-03 06:06] guoshengCS commented on #1059
model code: commit 597bae246225fce53c3ada95ed8bd5a18402cf3d
Paddle code: release/0.15.0
command to run:
[code]
`train.tok.clean.bpe.32000.en-de.tiny` is got by `head -n400000` on the whole training data.
The training log and memory usage is as following:
![image](https://user-images.githubusercontent.com/14105589/44970013-413e2080-af82-11e8-91ec-94316c873fe6.png)

When training on GPU, similar mem

[2018-09-03 07:24] chuanqi129 commented on #1217
Thanks, It works correctly

[2018-09-03 10:17] #1217 closed, assigned to baiyfbupt

[2018-09-03 17:07] xialeiliu commented on #1203
Thanks, I will try the tool.

[2018-09-03 17:07] #1203 closed, assigned to nobody

[2018-09-04 15:06] ddokupil opened #1223 "Can't verify accuracy with pre-trained Resnet50 model."
Cannot obtain any meaningful results when when trying to reproduce ResNet50 accuracy (76.63%/93.10%).

Using Image Net val dataset:
val/659/ILSVRC2012_val_00046108.JPEG 659
val/659/ILSVRC2012_val_00044030.JPEG 659
val/659/ILSVRC2012_val_00042898.JPEG 659
val/659/ILSVRC2012_val_00041481.JPEG 659
val/659/ILSVRC2012_val_00039493.JPEG 659
val/659/ILSVRC2012_val_00037864.JPEG 659
val/659/ILSVRC2012_val

[2018-09-05 02:21] qingqing01 commented on #1223
The label index we used to trainned model is not same with yours:

[code]

Please try to download label file list by:

[code]

Our released model is trained on this label index.  See :  https://github.com/PaddlePaddle/models/blob/develop/fluid/image_classification/data/ILSVRC2012/download_imagenet2012.sh#L37

[2018-09-05 02:36] qingqing01 commented on #1223
The picture `val/ILSVRC2012_val_00029819.JPEG` label index is 550 in our list, it is  an 'espresso maker' .

[code]

But your picture is labled  659.

So please update your label list.

[2018-09-05 13:16] ddokupil commented on #1223
It looks way better now, thanks.
Resolved.

[2018-09-06 01:05] fisipro commented on #1050
能帮忙解答一下吗谢谢

[2018-09-06 06:40] zhengzhe97 opened #1227 "Pyramidbox 有官方训练的模型可以使用吗"

[2018-09-06 09:01] #1223 closed, assigned to luotao1

[2018-09-06 18:53] zhijl opened #1234 "训练时向网络feed图像、标签、一维向量时出错"
参考了fluid/icnet中的样例代码改写的：

这里的图像shape为 [3, 256, 256]，label 的shape为 [1]，另一个 label 的 shape 为 [58]

[code]
报错如下：
[code]

最早的时候使用的是 `feeder = fluid.DataFeeder(place=place, feed_list=[image, label, locals])` 的方式，但是取值输出后发现读入的 locals 的值一直为NAN，而 image 和 label 的值正常

[2018-09-07 02:56] youngstu opened #1236 "能帮忙提供一下tensorflow mobilenet_ssd 模型转fluid 工具么？"
我想转 mobilenet_0.5_ssd 模型转为fluid 作为pretrained model。能帮忙提供一个转换工具么？

https://github.com/PaddlePaddle/models/tree/3f1fddbd3cca73cac6beee3b1dbfa1ac3909ab8d/fluid/object_detection
这里有提到你们的mobilenet_ssd 模型pretrained model 是从tensorflow 转过来的，能否给一些思路。

[2018-09-10 01:24] nemo9903 opened #1237 "DeepASR aishell 训练出错"
先执行prepare_data.sh，再执行train.sh，就出错如下：
----------- Configuration Arguments -----------
batch_size: 8
checkpoints: checkpoints
class_num: 3040
device: GPU
frame_dim: 80
hidden_dim: 1024
infer_models:
init_model_path: None
learning_rate: 6.4e-05
mean_var: data/global_mean_var
minimum_batch_size: 1
parallel: True
pass_num: 100
print_per_batches: 100
proj_dim: 512
stacked_num: 5
train_feature_lst: data

[2018-09-11 06:32] qingqing01 commented on #1227
Related to https://github.com/PaddlePaddle/Paddle/issues/13274

[2018-09-11 06:32] #1227 closed, assigned to nobody

[2018-09-13 10:34] #1237 closed, assigned to nobody

[2018-09-14 02:19] fangzong12 commented on #1079
你这个问题解决了么。我也出了这个错误

[2018-09-14 02:20] fangzong12 commented on #1079
face_dectcion单个GPU可以跑通，多个GPU就报这个错误
*** Aborted at 1536888942 (unix time) try "date -d @1536888942" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGSEGV (@0x0) received by PID 4956 (TID 0x7f5667200700) from PID 0; stack trace: ***
    @     0x7f5666dfc390 (unknown)
    @                0x0 (unknown)
段错误 (核心已转储)

[2018-09-14 02:21] fangzong12 opened #1244 "face_detection,单gpu可以跑，多个GPU报错"
*** Aborted at 1536888942 (unix time) try "date -d @1536888942" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGSEGV (@0x0) received by PID 4956 (TID 0x7f5667200700) from PID 0; stack trace: ***
    @     0x7f5666dfc390 (unknown)
    @                0x0 (unknown)
段错误 (核心已转储)

[2018-09-14 02:24] wenxingsen commented on #1079
把那个parallel关掉就可以跑了

[2018-09-14 02:28] fangzong12 commented on #1079
不是说这个是多个GPU开关么

[2018-09-14 02:52] fangzong12 commented on #1244
就是只有parallel关掉才可以跑

[2018-09-14 03:01] ccmeteorljh opened #1245 "face_detection 多卡下多个pass后,拿不到数据"
paddle_version: 0.15.0
相同配置下，跑两次，第一次挂在第61个pass，第二次挂在第10个pass
[code]

[2018-09-14 03:20] fangzong12 commented on #1245
问一下，你的parallel关掉了么，多卡

[2018-09-14 03:40] ccmeteorljh commented on #1245
没关，用的默认配置

[2018-09-14 03:41] fangzong12 commented on #1245
好吧，都不知道怎么回事

[2018-09-14 04:11] jeff41404 opened #1246 "运行DeepASR训练报错"
使用文档中介绍的例子训练，执行sh train.sh ，一段时间后报错
Traceback (most recent call last):
  File "../../train.py", line 292, in <module>
    train(args)
  File "../../train.py", line 254, in train
    (batch_id, lodtensor_to_ndarray(outs[0])[0],
  File "/source/models/fluid/DeepASR/data_utils/util.py", line 34, in lodtensor_to_ndarray
    ret.ravel()[i] = lod_tensor.get_float_element(i)
AttributeError: 'paddle.fluid

[2018-09-14 09:00] YB17 opened #1248 "fluid/object_detection 现在可否支持自有数据集(custom dataset)？"
我在之前的版本看到过，通过调整 config/vgg_config.py 文件内 vgg 超参数等等，可以支持自有数据集的训练。现在出的版本貌似做了较大调整，请问还支持自有数据集吗？如果支持，应该如何做相应的调整呢？谢谢！

[2018-09-14 10:24] DDDivano opened #1249 "ocr_recognition 模型设置GPU代码错误"
![image](https://user-images.githubusercontent.com/10734244/45544895-38cfca80-b84b-11e8-8d07-89fb11332abf.png)
![image](https://user-images.githubusercontent.com/10734244/45544918-4422f600-b84b-11e8-913d-ffe812e356a3.png)
应该是CUDA_VISIBLE_DEVICES=0,1,2,3   说明文档中多了一个A。
还有
![image](https://user-images.githubusercontent.com/10734244/45544951-5bfa7a00-b84b-11e8-84fd-3c228356cb33.png)
ctc_train.py 已经没有这

[2018-09-15 05:50] Miopas opened #1253 "DSSM 的 classification 模型中 source 和 target CNN 网络是否是 share 的？"
我训练了一个 cnn 的 dssm 模型，看文档中 source 和 target 的 cnn 应该是单独的，但是把参数解压出来看发现不太一样。

在 `network_conf.py` 代码中这样创建卷积层：
[code]

<img width="1029" alt="cnnori" src="https://user-images.githubusercontent.com/10841135/45583041-6bca9a80-b8ed-11e8-8ed3-b5b8c4ca9835.png">

参数文件中没有区分开 source 和 target 的 cnn 网络。

我尝试这样修改代码：
[code]

然后解压出来的参数是这样（我的模型是三塔模型，有两个 source 和一个 target）：
<img width="899" alt="cnndebug" src="https

[2018-09-18 05:01] #1249 closed, assigned to wanghaoshuang

[2018-09-18 06:38] ccmeteorljh opened #1258 "icnet 模型单卡和多卡在100个batch 出现loss为nan"
paddle_version: 9月13号编译的版本；
运行结果：
[code]

[2018-09-18 07:19] neverland0621 opened #1259 "测试数据“Cannot open file output/159/conv2d_15.w_0”"
我先用单张卡测试，遇见错误如下，我看到要求下载的预训练模型里只有conv2d_0.w_0到conv2d_14.w_0。所以conv2d_15.w_0是在哪里呢？
报错具体如下：
Traceback (most recent call last):
  File "widerface_eval.py", line 312, in <module>
    exe, args.model_dir, main_program=main_program)
  File "/home/jw/.conda/envs/Paddle/lib/python2.7/site-packages/paddle/fluid/io.py", line 496, in load_persistables
    filename=filename)
  File "/home/jw/.conda/envs/Paddle

[2018-09-18 07:31] neverland0621 opened #1260 "训练时出错"
我用单张卡训练报错如下：
[code]

应该是内存不足的问题，所以我换成了3张卡，结果还是报错：

[code]
麻烦解答，谢谢。

[2018-09-18 08:41] qingqing01 commented on #1245
@ccmeteorljh  请问现在是否还有问题？ 最新的develop代码有相应的修改。

[2018-09-18 08:41] qingqing01 commented on #1244
@fangzong12 本地单机多GPU是可以跑的。 请问这个问题现在解决了吗？

[2018-09-18 08:46] qingqing01 commented on #1259
@neverland0621 预训练模型是初始化backbone部分的，不是完整的PyramidBox模型。 如果你只做eval，可以下载已经训练好的PyramidBox模型：https://github.com/PaddlePaddle/models/tree/develop/fluid/face_detection#%E6%A8%A1%E5%9E%8B%E5%8F%91%E5%B8%83

[2018-09-18 08:52] qingqing01 commented on #1260
1. PyramidBox模型，使用P40, 24G显存，单卡batch size最大是5。如果您使用的GPU显存较小，需要减少batch size。
2. 可以贴下`nvidia-smi`的信息吗？

[2018-09-18 08:55] qingqing01 commented on #1248
@YB17 可以支持用户自己的数据，参考 reader里的COCO或者[PascalVOC](https://github.com/PaddlePaddle/models/blob/develop/fluid/object_detection/reader.py#L231)，依据自己的数据格式，读取图片和groud-truth，调用[preprocess函数](https://github.com/PaddlePaddle/models/blob/develop/fluid/object_detection/reader.py#L267).

[2018-09-18 10:20] neverland0621 commented on #1260
好的，谢谢。
我刚才试了batch_size设置成1，结果还是显存不足的问题。第二个no CUDA-capable device是我参数没设置好已经解决了，现在存在的就是显存不够的问题。
我的显卡信息，3张1080 ti，信息如下：
[code]

[2018-09-18 10:21] YueXiNPU commented on #1259
@qingqing01 非常感谢您的回复。按照您连接，我们下载了已经训练好的PyramidBox模型。我们用单张GPU 1080Ti，11G显存，进行eval，报内存不足的错误。请问仅仅eval，对显卡显存要求高吗？

[2018-09-18 10:22] neverland0621 commented on #1259
好的，已解决。谢谢。

[2018-09-18 12:00] YueXiNPU opened #1262 "PyramidBox 测试内存不足问题，在线等！！！add my wechat: xiyue6911"
最近，部署PyramidBox（ECCV 2018）工作。
GPU信息：GTX 1080TI, 11G显存，3块。
### 问题一,  有人配置，PyramidBox在单卡（GTX 1080TI, 11G显存），是否可以成功运行？
### 问题二，使用官网发布的完整模型进行测试，尝试一块卡或者3块卡执行。执行语句为
python -u widerface_eval.py --model_dir=output/159 --pred_dir=pred。
本人已经尝试：export FLAGS_fraction_of_gpu_memory_to_use=0.1，没有效果！
----------------------------------------------------------------
错误如下：
[code]

[2018-09-18 12:04] neverland0621 commented on #1262
同问，+1

[2018-09-19 09:23] qingqing01 commented on #1262
1. 训练问题：

    请确认下你的代码是最新的代码吧？ 有加显存优化吧？

    https://github.com/PaddlePaddle/models/blob/develop/fluid/face_detection/train.py#L128

    请训练前，确保GPU上没有其他任务。单卡请设置：`export CUDA_VISIBLE_DEVICES=0,`
`FLAGS_fraction_of_gpu_memory_to_use`默认值是0.92, 如果设置该值，不能太小，至少是整个模型需要的显存大小。
  `export FLAGS_fraction_of_gpu_memory_to_use=0.89` 等等试下，如果不行，就用默认值就行了

    以上还是不行，可以把resize_h, resize_w减小试下，当前默认是640。
    https://

[2018-09-19 09:23] DDDivano opened #1265 "deeplabv3+ 模型README问题"
# 1.链接失效
![image](https://user-images.githubusercontent.com/10734244/45743594-f9c8bd00-bc2e-11e8-9ee8-8634592c818f.png)

# 2.表述不清
![image](https://user-images.githubusercontent.com/10734244/45743689-3b596800-bc2f-11e8-9572-5ada46243b44.png)
--init_weights_path 这个是初始化的目录还是文件，这下面这个下载的图。是指定文件还是目录还是自己定义的一个空目录？
![image](https://user-images.githubusercontent.com/10734244/45743732-57f5a000-bc2f-11e8-864c

[2018-09-19 11:13] qingqing01 commented on #1260
@neverland0621 可以参考 https://github.com/PaddlePaddle/models/issues/1262#issuecomment-422724707

抱歉，我们训练都是P40 24G显存，之前没跑过显存较小的机器，稍后我们测下。

[2018-09-19 11:18] Yancey0623 opened #1268 "Add resnet model with distributed mode"

[2018-09-19 11:36] qingqing01 commented on #1259
@YueXiNPU
PyramidBox模型评估时图片是变长的，可能会遇到非常大的图片，显存不足是可能的。可以 参考 https://github.com/PaddlePaddle/models/issues/1262#issuecomment-422724707 评估是加显存优化吧，后续我们也验证下，加上。

该issue关闭了，在#1262里继续讨论吧。

[2018-09-19 11:36] #1259 closed, assigned to nobody

[2018-09-19 12:29] YueXiNPU commented on #1262
非常感谢您耐心的答疑，问题已经得到解决，再次向您表示感谢。我们希望以您的工作作为我们工作的起点，希望可以在数据集中得到更好的结果。

[2018-09-20 02:55] YueXiNPU opened #1272 "What is the speed of PyramidBox?"
Dear Professor
       I am a Ph.D Student from NPU and interested in your PyramidBox. With the help of @qingqing01, we manage to run the eval code. Many thanks to him.
       In our experiment, it will take about 1.37s to eval an image. So, I check the paper about PyramidBox but fail to find experiments about the analysis of model speed.
       Would you like to share something about model speed?

[2018-09-20 13:04] #1268 closed, assigned to Yancey0623

[2018-09-21 02:09] qingqing01 commented on #1272
him -> her   :)

Some our profiling:

Env:
  - CUDA 8.0 + cuDNN  7.0  + Tesla P40
  - batch size: 5/per gpu
  - input data: 3 x 640 x 640

Use PyReader and Python multiprocess to preprocess dataset.

The training time:

|Experiment | GPU count | BatchSize/per gpu | images/second  | speed|
|:---|:---:|:---:|:---:|:---:|
|Executor | 1 | 5 |2.738|1|
|ParallelExe|2 | 5 |4.838|1.767|
|ParallelExe|4|5|7

[2018-09-21 02:11] #1262 closed, assigned to nobody

[2018-09-21 02:11] #1260 closed, assigned to nobody

[2018-09-21 05:51] YueXiNPU commented on #1272
Thank you @qingqing01 for your hard work. This model has the amazing performance in face detection.

[2018-09-21 06:02] #1272 closed, assigned to nobody

[2018-09-21 10:55] DDDivano opened #1281 "cycle_gan 模型问题，文档问题"
![image](https://user-images.githubusercontent.com/10734244/45871971-65db2a80-bdc1-11e8-850f-f984bcd45ba7.png)

![image](https://user-images.githubusercontent.com/10734244/45877613-008f3580-bdd1-11e8-92cb-6c4b72642ed7.png)

![image](https://user-images.githubusercontent.com/10734244/45877075-41864a80-bdcf-11e8-883b-a3b06035e1df.png)

![image](https://user-images.githubusercontent.com/10734244/4587

[2018-09-22 08:14] YueXiNPU commented on #1087
Hi, my bro. When training PyramidBox, we encountered the same issue. So the issue is solved?

[2018-09-22 11:52] YueXiNPU opened #1282 "Face and head loss are NAN, when training PyramidBox. Online Urgent!"
Hello everyone and @qingqing01. I am training _PyramidBox (ECCV 2018)_ by Baidu with 3 GPUs of GTX 1080Ti, memory 11G. Training command is _python -u train.py --batch_size=3_. I try batch_size=4/5/6, but it does not work for me.
Nan is shown as below:
![default](https://user-images.githubusercontent.com/34571270/45916935-62bf6780-beb1-11e8-99ec-4461bf3900a7.png)
GPU information is shown as below:

[2018-09-24 05:27] YueXiNPU commented on #1282
@qingqing01, would be very appreciated if you can give us any feedback or update.

[2018-09-25 02:27] ccmeteorljh commented on #1245
用了最新develop的代码和9月20号paddle编译的包，该问题依然存在

[2018-09-25 04:13] YueXiNPU commented on #1282
There are lots of things I have seen make a model diverge.
1, Too high of a learning rate(LR). The default LR is 0.001. I tried LR = 0.5e-3/0.1e-3/0.5e-4/0.1e-4. But it does not work for us.
2,  I will check the input data and labels.  Make sure you are not introducing the nan. Also make sure all of the target values are valid.  Make sure the data is properly normalized. You probably want to have

[2018-09-25 05:28] qingqing01 commented on #1282
Do you use the pre-trainde vgg model?

[2018-09-25 06:12] YueXiNPU commented on #1282
@qingqing01 Sure, As for this command _python -u train.py --batch_size=3_ , I use the default parameter --pretrained_model=./vgg_ilsvrc_16_fc_reduced/.

[2018-09-25 10:24] kuke commented on #1246
这是新版本接口改了导致的问题，DeepASR最近会修改一下，以适配1.0

[2018-09-25 13:45] chuanqi129 opened #1287 "ocr_recognition API changed"
When I use command ` python train.py --use_gpu False --parallel=False --total_step 5 --save_model_period 5 --save_model_dir ./models`, I got below information. Could you have a look into it?

`[chuanqiw@mlt-skx089 ocr_recognition]$ python train.py --use_gpu False --parallel=False --total_step 5 --save_model_period 5 --save_model_dir ./models
-----------  Configuration Arguments -----------
average

[2018-09-26 03:05] ccmeteorljh opened #1289 "key错了"
https://github.com/PaddlePaddle/models/blob/d1e78e57184baa2ccd4036aaf8f0187f20ffc382/fluid/object_detection/train.py#L129

train_params['epoch_num'] 应该是train_params['epoc_num']

[2018-09-26 04:44] lipanpan03 opened #1290 "image_classification分布式环境支持问题"
image_classification的分布式运行尚未支持python3
dist_train的readme文档中trainer文档有误，trainer的PADDLE_TRAINING_ROLE应为trainer

[2018-09-26 04:53] lipanpan03 opened #1291 "image_classfication单机运行失败"
train.py第36行add_args少一个逗号

[2018-09-26 06:49] #1290 closed, assigned to nobody

[2018-09-26 06:54] lipanpan03 opened #1294 "image_classification分布式运行在python环境下报错"
dist_train.py文件中第310行print缺失括号
第294行for arg, value in sorted(vars(args).iteritems()):报错'dict' object has no attribute 'iteritems'

[2018-09-26 06:56] neverland0621 commented on #1282
@qingqing01 同问+1.
命令语句是
export CUDA_VISIBLE_DEVICES=0,1,2
python -u train.py --batch_size=3 --pretrained_model=vgg_ilsvrc_16_fc_reduced
显卡配置是3张1080ti（11G）
在pass 0，batch_size =750时出现face_loss和head_loss都等于nan。处理时间为0.61.
麻烦解答，谢谢 ^_^

[2018-09-26 08:22] zhengya01 opened #1296 "paddle.fluid.core.EnforceNotMet: holder_ should not be null"
https://github.com/PaddlePaddle/models/blob/develop/fluid/neural_machine_translation/transformer/train.py
把train.py 参数--use-mem-opt的default改为False￼
报错￼
Traceback (most recent call last):
  File "train.py", line 641, in <module>
    train(args)
  File "train.py", line 593, in train
    token_num, predict, pyreader)
  File "train.py", line 468, in train_loop
    feed=feed_dict_list)
  File "/home/pa

[2018-09-26 09:47] #1294 closed, assigned to nobody

[2018-09-26 11:02] #1289 closed, assigned to qingqing01

[2018-09-26 11:03] ccmeteorljh opened #1299 "支持异步模式"
https://github.com/PaddlePaddle/models/blob/19b3be8ff6feaab5476a93a6abecd2e3d3fed4fe/fluid/neural_machine_translation/transformer/train.py#L610
sync_mode=args.sync

[2018-09-26 11:07] #1258 closed, assigned to nobody

[2018-09-26 11:15] guoshengCS commented on #1299
请问是有什么问题，另外分布式异步这个目前Transformer的效果应该是还没有保证的，我个人没有验证过

[2018-09-26 11:17] neverland0621 commented on #1087
同问+1

[2018-09-26 11:17] neverland0621 commented on #1258
问题解决了吗，我也是这样

[2018-09-26 11:23] wanghaoshuang commented on #1281
https://github.com/PaddlePaddle/Paddle/pull/13509

[2018-09-26 11:39] kolinwei commented on #1287
这个问题新的代码已经修了

[2018-09-26 11:41] #1281 closed, assigned to wanghaoshuang

[2018-09-26 12:13] #1291 closed, assigned to nobody

[2018-09-27 04:16] YueXiNPU commented on #1282
Would be very appreciated if you could give some suggestions to us. Because we have dedicated ourselves to the training stage. @qingqing01

[2018-09-27 05:00] qingqing01 commented on #1282
Generally speaking, can reduce lr.  But I need to do some experiments. We nerver trained this model to used batch size 1 per gpu.

[2018-09-27 08:03] qingqing01 commented on #1282
Update some experiments. I use the latest develop code and batch size is 3, use 3 GPUs:

[code]

[code]

Still no NaN.

[2018-09-27 08:11] #1296 closed, assigned to nobody

[2018-09-27 09:17] takecareofbigboss commented on #1282
Hi, maybe it is owe to lacking of gt faces in the image '0_Parade_Parade_0_275.jpg', you can have a try to delete this file in the gt file.   Otherwise, you can enlarge the batchsize for each gpu.

[2018-09-27 09:17] takecareofbigboss commented on #1282
@YueXiNPU @neverland0621

[2018-09-27 10:02] kolinwei commented on #1299
这个问题先关了，transformer发布的模型暂不支持异步模式。

[2018-09-27 10:02] zhengya01 opened #1305 "KeyError: 'segmented_paragraphs'"
https://github.com/xuezhong/models/tree/machine_reading_comprehesion/fluid/machine_reading_comprehesion/DuReader
数据预处理出错：
$ cat data/raw/trainset/search.train.json | python utils/preprocess.py > data/preprocessed/trainset/search.train.json
Traceback (most recent call last):
  File "utils/preprocess.py", line 218, in <module>
    find_fake_answer(sample)
  File "utils/preprocess.py", line 157, in f

[2018-09-27 11:22] #1299 closed, assigned to guoshengCS

[2018-09-27 11:25] YueXiNPU commented on #1282
@qingqing01 @takecareofbigboss Many thanks for your comments.

[2018-09-27 13:58] neverland0621 commented on #1282
Thank you very much for your help. As you mentioned,
I didn't find the groundtruth of image "0_Parade_Parade_0_275.jpg ", so I deleted the image in file "WIDER_val" .  Unfortunately, it didn't work for the problem of loss  "NAN".
I doubt that the data we train has other similar problems like this .  What's worse,
When I training the model,my machine often shut down by itself .
Could u give me advi

[2018-09-28 02:28] xuezhong commented on #1305
已经更改处理的脚本

[2018-09-28 02:29] #1305 closed, assigned to nobody

[2018-09-28 03:14] math-yyj opened #1308 "About ‘get_shrink()’ in 'models/fluid/face_detection/widerface_eval.py'"
in 'models/fluid/face_detection/widerface_eval.py', we have
`def get_shrink(height, width):
    """
    Args:
        height (int): image height.
        width (int): image width.
    """
    # avoid out of memory
    max_shrink_v1 = (0x7fffffff / 577.0 / (height * width))**0.5
    max_shrink_v2 = ((678 * 1024 * 2.0 * 2.0) / (height * width))**0.5

    def get_round(x, loc):
        str_x = str(x)

[2018-09-28 06:39] #1140 closed, assigned to nobody

[2018-09-28 06:41] velconia opened #1313 "Port 1.0.0 models to Python3"
According to the discussion in [PaddlePaddle issues](https://github.com/PaddlePaddle/Paddle/issues/12040), we should port current code in 1.0.0 models to Python3

**烫:**

需要在1.0.0发布前完成迁移的模型:

NLP:
- 毅冰: DAM [**_done_**](https://github.com/PaddlePaddle/models/pull/1334) P0

- 学忠: BiDAF [**_done_**]() P0

- 郭晟: transformer [**_done_**]()

CV:
- 豪爽:  CGAN  [**_done_**](https://github.com/PaddlePaddle

[2018-09-28 09:43] takecareofbigboss commented on #1308
@mathyyj   hi, this is just a strategy to avoid 'out of memory' when testing. It is not a must to use this magic numbers if the memory of gpu is big enough.

[2018-09-28 11:55] gongweibao opened #1320 "Invalid code"
https://github.com/PaddlePaddle/models/blob/develop/fluid/neural_machine_translation/transformer/model.py#L462

[2018-09-29 01:29] #1265 closed, assigned to nobody

[2018-09-29 07:51] #1308 closed, assigned to nobody

[2018-09-29 07:52] #1248 closed, assigned to nobody

[2018-09-29 07:52] #1244 closed, assigned to nobody

[2018-09-29 07:57] qingqing01 commented on #1179
Need to update paddle version.

[2018-09-29 07:57] #1179 closed, assigned to nobody

[2018-09-29 08:04] qingqing01 commented on #1236
没有提供通用的转换工具，当时的做法相对繁碎：
1. 将TF的parameter存成npy格式
2. 建立TF参数名字和Fluid参数名字的对应关系
3. 在Fluid的脚本里load npy参数，然后set到Fluid的参数里，再存储模型：

[code]

[2018-09-29 08:04] #1236 closed, assigned to nobody

[2018-09-29 08:08] qingqing01 commented on #1087
从您的日志Batch Id和coss来看，您使用了较小的bach size， 似乎使用脚本batch size时该模型容易出nan。建议按照我们教程来，单机4卡，每个3-4batch size，总共12或16的batch size训练， 我们跑过多次都用的该参数，没有nan。

[2018-09-29 08:08] #1087 closed, assigned to nobody

[2018-09-29 08:12] #1077 closed, assigned to qingqing01

[2018-09-29 08:12] #1070 closed, assigned to qingqing01

[2018-09-29 08:13] #1076 closed, assigned to ktlichkid

[2018-09-29 08:15] qingqing01 commented on #1079
提供的错误信息太少， GPU并行需要安装nccl2。

[2018-09-30 02:15] DDDivano opened #1328 "Faster RCNN 的相关问题"
1、在训练阶段需要cocoapi 可以在readme中注明一下。
2、下载脚本./pretrained/download.sh会把模型下载到./pretrained目录下载，但是train.py会在 . 目录下寻找初始模型，会出现找不到问题，不会报错，但训练loss 为nan，需要修改一下download.sh的下载解压路径
3、训练过程会出现程序卡住，没有报错信息， gpu也占用，但是不输出log数据了。 目前已知大概率是驱动问题，384驱动会出问题，396不会。
4、训练过程中异常。见图。
![image](https://user-images.githubusercontent.com/10734244/46421274-5dd99e00-c764-11e8-8b5c-49c99ab06c01.png)
![image](https://user-images.githubuser

[2018-10-01 13:41] ccmeteorljh commented on #1245
关闭多进程读数据，问题依然存在

[2018-10-01 13:59] ccmeteorljh opened #1337 "SSD 运行完指定pass数退出后，异常"
paddle-version: fluid1.0 0930号编译版本
模型：models/fluid/object_detection/README_cn.md
命令：
[code]
报错如下：
[code]

[2018-10-02 00:51] qingqing01 commented on #1337
经了解这之后，该模型已经正常训练完毕，这个Python多进程退出不影响整体训练。

[2018-10-02 14:54] ccmeteorljh opened #1338 "ocr_attention test异常"
paddle-version: fluid1.0 0930号编译版本
模型：models/fluid/ocr_attention
命令：
[code]
有时test异常，如下：
[code]

[2018-10-05 15:42] jerrywgz commented on #1328
目前cocoapi的说明和pretrained model下载路径已修改提交pr
模型训练过程中出现的浮点报错问题正在排查，目前仍未稳定复现

[2018-10-08 01:50] #1245 closed, assigned to qingqing01, baiyfbupt

[2018-10-08 02:16] helen88 opened #1341 "paddle最新版，fluid.layers.reduce_mean(input, dim=1)有bug。"

[2018-10-08 02:16] helen88 commented on #1341
当input 是（N， 1）的时候，对dim=1进行reduce_mean会出错

[2018-10-08 02:30] #1341 closed, assigned to nobody

[2018-10-08 02:31] helen88 commented on #1341
in other place： https://github.com/PaddlePaddle/Paddle/issues/13741

[2018-10-08 02:59] #1337 closed, assigned to nobody

[2018-10-08 14:05] qingqing01 opened #1348 "Metric learning model."
https://github.com/PaddlePaddle/models/tree/develop/fluid/metric_learning

1. Need to tell user what loss_name can be in the doc.
2. Better to introduce the different loss and give the loss reference paper.

[2018-10-09 08:20] Ericzhuu opened #1352 "deep_fm调用自己的数据时报错"
我们的数据已通过/deep_fm/preprocess.py进行预处理，在调用train函数时报错，错误日志如下图，
![1](https://user-images.githubusercontent.com/13231631/46674161-0fb61600-cc0e-11e8-86f4-25dd1839acb0.png)
源代码如下，

[code]

[2018-10-09 08:48] chenbblei opened #1353 "Paddle CPU预测版本默认占用太多的CPU核了，怎么修改让它只占用少量核"
如题

[2018-10-09 09:26] #1338 closed, assigned to wanghaoshuang, ccmeteorljh

[2018-10-09 14:06] tensor-tang commented on #1353
如果使用的是fluid，用export FLAGS_paddle_num_threads=1。如果使用的是v2，用export OMP_NUM_THREADS=1

[2018-10-10 03:17] NHZlX commented on #1352
初步的判断应该是训练的数据输入有问题，这个我会看一下。

[2018-10-10 05:05] Ericzhuu commented on #1352
我们预处理完的数据格式如下，
[code]

[2018-10-10 13:29] Ericzhuu commented on #1352
@NHZlX 您能分享一下deep_fm的原始训练数据吗，链接已经失效了

[2018-10-11 08:43] xiaolv3366 opened #1356 "运行模型出错！"
paddle.fluid.core.EnforceNotMet: cudaGetDeviceCount failed in paddle::platform::GetCUDADeviceCount: no CUDA-capable device is detected at [/paddle/paddle/fluid/platform/gpu_info.cc:33]
我机器有GPU，跑其他Paddle模型没问题。

[2018-10-11 09:22] xiaolv3366 commented on #1356
百度搜索原因大都是让重新安装CUDA，我也准备重新安装，不过再次检查脚本的时候发现在该脚本中指定了使用的显卡硬件。
export CUDA_VISIBLE_DEVICES="1"
可以通过该命令看到需要使用编号为1的显卡，关于显卡编号一般是从0开始编号的，第一块编号为0，第二块编号为1。之前指定使用第二块显卡，计算机上面只有一块显卡，这样会提示上面的报错信息。
将显卡指定行改为如下：
export CUDA_VISIBLE_DEVICES="0"
或者直接不指定也可以。

[2018-10-11 09:22] #1356 closed, assigned to nobody

[2018-10-12 01:41] #1313 closed, assigned to velconia, kuke, wanghaoshuang, qingqing01, xuezhong, guoshengCS, jerrywgz

[2018-10-14 10:45] elezchan opened #1358 "test error : out of memory"
Hello, thanks for your excellent work,

when I try to test trained model , I got an error - out of memory, and I used nvidia K40.
I find in multi_scale_test( ),the image size enlarged one times because of the parameter bt(or shrink),
and that result in out of memory.

i dont know how to solve this, could you please help me?
thank you

[2018-10-14 10:47] elezchan commented on #1358
i used face_detection/widerface_eval.py to test widerface val dataset

[2018-10-15 02:47] wanghaoshuang opened #1360 "Cannot load any more object with static TLS while executing crnn_ctc on multi-devices"
Error log:

[code]

[2018-10-15 03:00] wanghaoshuang commented on #1360
https://github.com/baidu-research/warp-ctc/issues/70
https://github.com/tensorflow/models/issues/523

[2018-10-15 09:11] #1358 closed, assigned to nobody

[2018-10-16 02:08] wanghaoshuang commented on #1360
一个解决方案是：编译的时候关闭mkldnn相关的选项，因为mkldnn相关的库也会占用大量static TLS

[2018-10-17 02:03] lipanpan03 opened #1365 "在paddle1.0.0.post97版本下测试sequence_tagging_for_ner模型时出现ValueError错误"
![default](https://user-images.githubusercontent.com/41904587/47057548-cfe5c480-d1f3-11e8-9803-a4f2e9562cc3.png)

[2018-10-17 05:00] sivagururaman commented on #388
@kuke
I am also facing the issue of ImportError: No module named data_utils.utility
when i ran sh run_data.sh. Can you help me with this issue?

[2018-10-19 05:52] IrishCoffee opened #1370 "DeepASR 运行 AISHELL例子 training报错"
各位好，我在编译运行deepasr aishell这个例子的时候，先是运行sh profile.sh，会报一个memory不够的问题。

------------------------------------------------
.........Traceback (most recent call last):
  File "../../tools/profile.py", line 210, in <module>
    profile(args)
  File "../../tools/profile.py", line 193, in profile
    return_numpy=False)
  File "/usr/local/lib/python2.7/dist-packages/paddle/fluid/executor.py", line 470, in

[2018-10-19 05:58] chengduoZH commented on #1370
@IrishCoffee  您安装的是什么版本的Paddle?

[2018-10-19 06:01] IrishCoffee commented on #1370
xjia@nvidia:~/work/PaddlePaddle/models/fluid/DeepASR/examples/aishell$ paddle version
PaddlePaddle 1.0.1.post97, compiled with
    with_avx: ON
    with_gpu: ON
    with_mkl: ON
    with_mkldnn: ON
    with_double: OFF
    with_python: ON
    with_rdma: OFF
    with_timer: OFF

我直接pip安装的。

[2018-10-19 06:25] chengduoZH commented on #1370
现在ParallelDo从layers.中去掉了   你可以通过这种方式调用
[code]

把layers.ParallelDo 改成ParallelDo

[2018-10-19 06:39] IrishCoffee commented on #1370
替换掉ParallelDo的调用后， 依然会报一些错误。请问这个example对于运行环境有什么要求吗？我机器上有一块1080Ti，怎么还报找不到device这种错误。

xjia@nvidia:~/work/PaddlePaddle/models/fluid/DeepASR/examples/aishell$ sh train.sh
-----------  Configuration Arguments -----------
batch_size: 64
checkpoints: checkpoints
class_num: 3040
device: GPU
frame_dim: 80
hidden_dim: 1024
infer_models:
init_model_path: None
learning_rate: 6.4e-05
mean_var: data/global_me

[2018-10-19 08:22] Edwardmark opened #1371 "About PyramidBox, how to match head box with face gt? I could not find the code implementing formula(4) as in the papaer."
About PyramidBox, how to match head box with face gt? I could not find the code implementing formula(4) as in the papar.
Please comment. Thanks.

[2018-10-20 02:58] ccmeteorljh opened #1372 "face_detection run error with paddle 1.0.2"
paddle_version：1.0.2
models：face_detection
run cmd：
[code]
message：
[code]

[2018-10-21 12:31] qingqing01 commented on #1371
In the reader, expand face gt boxes to head box, https://github.com/PaddlePaddle/models/blob/develop/fluid/face_detection/reader.py#L273 . Then in the network, use the head boxes to compute head loss, https://github.com/PaddlePaddle/models/blob/develop/fluid/face_detection/pyramidbox.py#L444

[2018-10-22 06:45] Edwardmark commented on #1371
@qingqing01 Thanks for you reply, but I cannot find where is the definition of the pyramid loss as:
https://github.com/PaddlePaddle/models/blob/develop/fluid/face_detection/pyramidbox.py#L444
where is the fluid.layers.ssd_loss definition? Looking forward to your reply. Thanks.

[2018-10-22 08:03] wangsouc opened #1373 "run policy_gradient failed"
WARNING: Logging before InitGoogleLogging() is written to STDERR
I1022 16:02:46.179663 104725 init.cc:47] Init commandline: dummy run.py --tryfromenv=use_pinned_memory,check_nan_inf,benchmark,warpctc_dir,eager_delete_scope,use_mkldnn,initial_cpu_memory_in_mb,init_allocated_mem,free_idle_memory,paddle_num_threads,dist_threadpool_size,cpu_deterministic
Traceback (most recent call last):
  File "run.

[2018-10-22 08:23] wanghaoshuang commented on #1373
`self.inferece_program = fluid.defaul_main_program().clone()`
->
`self.inferece_program = fluid.default_main_program().clone()`

[2018-10-22 09:59] duanlin0505 opened #1375 "多GPU执行问题，多GPU执行时任务挂起无法完成"
以/models-develop/fluid/language_model为例，默认执行fluid train.py，任务长时间挂起，GPU的状态也很奇怪：内存和使用率都满的，但是从功率看，GPU芯片又几乎没有工作。如果改为非并行方式，单GPU时则没有问题。
paddle版本1.0.2

[2018-10-23 01:27] typhoonzero commented on #1375
经验证，该问题和用户运行环境相关，尝试更新nccl2版本，仍然可以复现，请尝试使用其他干净环境测试。或使用docker

[2018-10-24 06:45] 930083287 opened #1383 "SSD训练生成脚本，求共享"
SSD训练生成脚本，求共享

[2018-10-24 12:00] 930083287 opened #1385 "http://paddlepaddle.bj.bcebos.com/model_zoo/detection/ssd_model/vgg_model.tar.gz 下载失败"
http://paddlepaddle.bj.bcebos.com/model_zoo/detection/ssd_model/vgg_model.tar.gz 下载失败

[2018-10-25 02:50] duanlin0505 commented on #1375
问题原因已经找到，是机器pcie的一个GPU与GPU Peer to Peer通信的配置问题，修改后，nccl的并行库就可以正常执行了。

[2018-10-25 06:30] #1375 closed, assigned to typhoonzero

[2018-10-30 02:33] mapingshuo commented on #1253
你好，你的原始代码在哪里？

[2018-10-30 02:41] mapingshuo commented on #1385
same as #1154

[2018-10-30 08:38] qingqing01 commented on #1385
@930083287 https://github.com/PaddlePaddle/models/pull/1411 这里已修复，多谢。另外，也建议使用Fluid训练。

[2018-10-30 08:38] qingqing01 commented on #1154
@wenyawei https://github.com/PaddlePaddle/models/pull/1411 这里已修复，多谢。另外，也建议使用Fluid训练。

[2018-10-30 08:41] qingqing01 commented on #1383
@930083287 请问您具体指的是什么脚本？ 是预测吗？如果是Fluid模型，https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/object_detection 这里有训练脚本、评估脚本、预测脚本。

[2018-10-30 08:42] qingqing01 commented on #1328
该问题已修复~

[2018-10-30 08:42] #1328 closed, assigned to nobody

[2018-10-30 08:43] #1385 closed, assigned to qingqing01

[2018-10-30 08:43] #1154 closed, assigned to nobody

[2018-10-30 08:46] qingqing01 commented on #1372
This error has been fixed in Paddle 1.1 version.

[2018-10-30 08:46] #1372 closed, assigned to qingqing01

[2018-10-30 08:50] qingqing01 commented on #1371
@Edwardmark Sorry for the later reply.  The loss in PyramidBox contains face loss and head loss.  The ssd_loss definition is here: https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/detection.py#L672 , which contains lots of sub operators and is the same as `multibox_loss_layer` in Caffe https://github.com/weiliu89/caffe/blob/ssd/src/caffe/layers/multibox_loss_layer.cpp

[2018-10-31 02:44] Edwardmark commented on #1371
@qingqing01 Thanks, but I want to know what weights assigned to head loss and body loss? How to set them is best in your experiments.

[2018-11-01 03:40] yeyupiaoling opened #1418 "提供的模型是否可以提供多个接口的模型？"
保存模型的方式有很多种，文档：http://www.paddlepaddle.org/documentation/api/zh/1.0/io.html
但是官方一般是提供：https://github.com/PaddlePaddle/models/blob/a8dc7ed3d95cf83d7ae0f7988628e6910f018a49/fluid/PaddleCV/image_classification/train.py#L257

我的建议是4个接口保存模型的方式都提供，比如paddle-mobile使用但是`save_inference_model`接口保存的模型，但官网提供的模型也不是这个接口的，以后提供训练好的模型是否可以提供全部的模型。
![image](https://user-images.githubusercontent.com/26297768/49350226-

[2018-11-01 06:18] qingqing01 commented on #1371
@Edwardmark The [results in doc](https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/face_detection#%E6%A8%A1%E5%9E%8B%E5%8F%91%E5%B8%83), we just use face loss and head loss.  Actually body loss is not used.  If body loss is added, you can try small weights, like 0.1 or 0.5.

[2018-11-01 09:04] Edwardmark commented on #1371
@qingqing01 Thanks. So the weight for face and head is the same?

[2018-11-01 09:43] qingqing01 commented on #1371
@Edwardmark Yeah.  weight is the same for face and head loss.

[2018-11-01 10:48] lipanpan03 opened #1420 "image_classification运行报错"
在models的新版本models/fluid/PaddleCV/image_classification/运行train.py时，发现报错ImportError: No module named 'learning_rate'如图
![default](https://user-images.githubusercontent.com/41904587/47847615-b739f900-de06-11e8-83e0-96da323f6513.png)

[2018-11-01 11:02] kolinwei commented on #1420
python3下发生的

[2018-11-02 02:07] lipanpan03 opened #1423 "python3 paddlepaddle1.1版本的language_model的lstm模型报错"
在python3 paddlepaddle1.1版本环境下运行language_model的lstm模型时报错，AttributeError: 'str' object has no attribute 'decode'，如图
![default](https://user-images.githubusercontent.com/41904587/47889857-163f5280-de87-11e8-972b-c22c951dec9f.png)

[2018-11-02 07:31] phlrain commented on #1423
问题已经fix，在等merge

[2018-11-02 07:31] #1423 closed, assigned to nobody

[2018-11-02 08:02] toddwyl opened #1426 "GAN 的 dc_gan例子运行出错"
paddle版本是0.15
不使用GPU运行出错
[code]
@qingqing01

[2018-11-05 01:59] fuck-u-s opened #1428 "object detection cpu启动失败"
我是小白，在试着在无GPU服务器上搭建paaddlepaddle环境，按照https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/object_detection上的例子中的，执行到python -u train.py --batch_size=64 --dataset='pascalvoc' --pretrained_model='pretrained/ssd_mobilenet_v1_coco/' --use_gpu False 命令时，程序出错，没有跑起来；希望大神们指示，错误日志如下：

----------- Configuration Arguments -----------
ap_version: 11point
batch_size: 64
data_dir: data/pascalvoc
da

[2018-11-05 05:08] JiabinYang commented on #1428
看起来是您的处理器不支持avx2指令集，您可以从[这里](http://paddlepaddle.org/documentation/docs/zh/1.1/beginners_guide/install/Tables.html#whl) 下载no_avx版本的安装包使用，但这个安装包是develop分支的，release我们目前没有仅支持AVX的安装包,  同时我们目前没有提供支持no_avx的gpu版本安装包

[2018-11-06 08:31] codescv opened #1430 "ctr模型使用is_sparse=True抛异常"
在deepctr例子里，只要把`network_conf.py`这里改成:

[code]

使用1worker 1ps训练， 就会报如下错误:
WORKER
[code]

PS
[code]

[2018-11-06 08:32] codescv commented on #1430
paddlepaddle 1.1.0
python 3.5.5

[2018-11-07 09:13] jacquesqiao commented on #1430
我测试下看看

[2018-11-08 07:03] xiaoming521 opened #1433 "ocr_recognition二次开发应用到车牌识别，原ocr是62个字符，车牌是65个字符包含中文"
原ocr是62个字符，包括0-9,a-z,和A-Z；我的车牌数据集是65个字符，包括汉字和0-9和A-Z；生成的车牌数据图片大小和原ocr数据集大小一样，都为【384,48,1】；把车牌数据输入给网络，训练和测试准确率迭代10000词全部都为0，这是不是和model原字典的a对应ASCII-33的值和num_class=95（62+33）有关系呢？任务紧急，感谢各位大神解答
下面是原数据集和我生成的车牌数据集，还有运行参数和结果
![default](https://user-images.githubusercontent.com/29424644/48183975-8a886300-e36b-11e8-939a-868e55615697.png)
![default](https://user-images.githubusercontent.com/29424644/48183986

[2018-11-08 07:10] xiaoming521 commented on #1433
由于汉字没法用ASCII-33对应的值表示，所以我车牌字典对应的值不是ASCII-33,就是从0开始设置的，准确率一直为0 ，是不是和字典对应值不和model一致，或者是不是和num_class为65了，不为62有关系呢？还有这个num_class设置为95 表示的是啥意思呢？要是以上都没有关系是不是和我训练集6万张太少，还有迭代次数只迭代1万次有关呢？

[2018-11-08 07:44] ChuRao opened #1434 "mobilenet_ssd里的这两行是不是多余了？"
[code]
倒数第2、3两行是不是多余了？
[mobilenet_ssd.py](https://github.com/PaddlePaddle/models/blob/release/1.1/fluid/PaddleCV/object_detection/mobilenet_ssd.py)

[2018-11-08 08:29] #1426 closed, assigned to nobody

[2018-11-08 09:23] JiabinYang commented on #1434
确实是我们写的有些问题，感谢反馈，我们会尽快修复

[2018-11-08 09:24] qingqing01 commented on #1434
@ChuRao 多谢反馈，是需要删掉~

[2018-11-08 12:01] baihaojie2011 commented on #1433
使用 GPU训练也存在问题。报错
![1](https://user-images.githubusercontent.com/27996442/48197559-106ad500-e391-11e8-85ac-ed5572eea515.png)
![2](https://user-images.githubusercontent.com/27996442/48197568-12cd2f00-e391-11e8-900e-2673100683d4.png)

[2018-11-08 13:05] wanghaoshuang commented on #1433
@xiaoming521 和num_class=95没有关系；你的字符数量是65个，确认下你label的编码是严格从0到64么？

[2018-11-08 13:09] wanghaoshuang commented on #1433
另外你训练的太少了，还不到一个epoch.

[2018-11-08 13:11] xiaoming521 commented on #1433
@输入原来的验证码数据集后，3000次迭代后也是0，所以证明问题可能出在我的训练次数太少了，我把迭代次数设置为720000，训练集扩大到39万张图片试一下，之前一直是6万张，不过源代码GPU好像不能用，cpu跑720000次时间代价又太大
![default](https://user-images.githubusercontent.com/29424644/48201041-f1be0b80-e39b-11e8-87c2-19992be3c66a.png)

@qingqing01

[2018-11-08 13:13] qingqing01 commented on #1433
@baihaojie2011  请问您机器上有几个GPU，以及你使用的Paddle版本是多少？贴下nvidia-smi信息看下呢？ 另外也可以以下方式试下：

[code]

[2018-11-08 13:15] wanghaoshuang commented on #1433
以下是我在英文数据上的部分训练loss， 供参考：
[code]

[2018-11-08 13:19] wanghaoshuang commented on #1433
建议你统计下你的训练集的label数据，num_class设置为最大的label编码+1。

[2018-11-08 13:27] xiaoming521 commented on #1433
恩恩，问题可能出在训练集6万张太小和迭代次数12000次太少了，看您上边的39万张迭代8400次才err==0.977

[2018-11-08 13:33] xiaoming521 commented on #1433
请问这个代码是fluid最新版1.1版吗?我的版本应该是最新版1.1
![default](https://user-images.githubusercontent.com/29424644/48202696-93dff280-e3a0-11e8-8a7f-0388a9d0e44e.png)
@qingqing01

[2018-11-08 15:18] Yipeng-Sun commented on #1433
1. 确保原始95类英文数据训练是否可复现？2. 65个类别，check label映射正确，num_class设置正确 3. 车牌合成数据可以扩展到20W，一卡GPU迭代一天，训练正常就可以收敛。建议按1.2.3顺序依次check, 确保环境、数据label等无误

[2018-11-09 03:21] #1434 closed, assigned to qingqing01

[2018-11-09 03:30] kolinwei opened #1438 "PaddleNLP/language_model/gru/train.py some error in ce"
https://github.com/PaddlePaddle/models/blob/8ea4299422257126605c0ee0989e955bfdc6b818/fluid/PaddleNLP/language_model/gru/train.py#L151

应该改为gpu_num = get_cards(args)

[2018-11-09 04:57] kolinwei opened #1444 "text_classification1.1和0.15版本中的prepare_data batch_size需要保持一致"
https://github.com/PaddlePaddle/models/blob/133ec3ded6c48828f11cf9174c5c3d6d4d68fcfe/fluid/PaddleNLP/text_classification/train.py#L92
0.15版本中batch_size=128，1.1中为4。
需要更正1.1版本中的值保证CE正常运行

[2018-11-09 09:28] xiaoming521 commented on #1433
感谢各位的解惑，车牌模型已经基本跑通，但是GPU还是提示不能用，不知道是不是paddle底层的问题？
![default](https://user-images.githubusercontent.com/29424644/48254372-d5c27480-e444-11e8-9f11-78b1e64544a4.png)

![default](https://user-images.githubusercontent.com/29424644/48254348-c7745880-e444-11e8-9df9-27921bd52c67.png)

[2018-11-10 15:04] #1444 closed, assigned to kolinwei

[2018-11-12 08:12] xiaoming521 opened #1449 "ocr代码换gpu运行时报错问题咨询"
使用gpu运行代码时，报下面这个错误，cpu运行正常
![default](https://user-images.githubusercontent.com/29424644/48334439-a22a5900-e695-11e8-98d8-3de2da2fdf5a.png)

[2018-11-12 08:15] #1433 closed, assigned to wanghaoshuang, qingqing01

[2018-11-12 14:43] jacquesqiao commented on #1430
https://github.com/PaddlePaddle/models/pull/1451 will fix this problem, and you also need this patch https://github.com/PaddlePaddle/Paddle/pull/14190.

[2018-11-13 01:32] #1430 closed, assigned to jacquesqiao

[2018-11-13 11:48] bmapwei opened #1453 "训练deep attention matching net报错"
-----------  Configuration Arguments -----------
_EOS_: 28270
batch_size: 256
channel1_num: 32
channel2_num: 16
data_path: ./data/data.pkl
emb_size: 200
ext_eval: False
learning_rate: 0.001
max_turn_len: 50
max_turn_num: 9
num_scan_data: 2
save_path: ./models
stack_num: 5
use_cuda: True
vocab_size: 434512
word_emb_init: ./data/word_embedding.pkl
------------------------------------------------
Tra

[2018-11-14 03:27] codescv opened #1454 "is_sparse=True下，如果特征不加mod会抛异常"
ctr模型中，如果把reader.py改成这样：(特征不加mod)
[code]

仍然会报错，错误信息:
[code]

已经按#1430中打好了补丁，如果用mod的话，不会出错。

related: #1430

[2018-11-14 06:23] codescv commented on #1430
目前特征mod之后可以跑起来，如果不用mod直接跑sparse还是会挂，参见#1454

[2018-11-14 06:24] codescv commented on #1454
我是想实现以下描述的功能：
使用方法，在配置embedding的时候，加上参数 is_distributed=True 以及 is_sparse=True 即可。 参数 dict_size 定义数据中总的id的数量，id可以是int64范围内的任意值，只要总id个数小于等于dict_size就可以支持。 所以配置之前需要预估一下数据中总的feature id的数量。

http://www.paddlepaddle.org/documentation/docs/zh/1.1/user_guides/howto/training/cluster_howto.html

[2018-11-14 06:28] jacquesqiao commented on #1454
@codescv  已修复 https://github.com/PaddlePaddle/Paddle/pull/14389

[2018-11-15 02:16] qingqing01 commented on #1433
@xiaoming521

https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/framework/operator.cc#L146

从源码报错地方来看，是安装版本问题，请注意安装GPU版本。

[2018-11-15 02:19] qingqing01 commented on #1449
@xiaoming521

从源码报错的地方来看，`#ifndef PADDLE_WITH_CUDA`也就是不是GPU安装包时才出错，需要安装GPU版本的包。

[code]

[2018-11-15 07:56] hshen14 opened #1455 "Training-aware INT8 for SSD-MobileNet"
I would like to try training-aware INT8 for MobileNetSSD. I followed the instructions in https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/object_detection/README_quant.md and ran the below command:

python main_quant.py --data_dir=/lustre/dataset/VOC/VOCdevkit/VOC2012 --mode='train' --init_model=ssd_mobilenet_v1_pascalvoc --act_quant_type='abs_max' --epoc_num=20 --learning_rate=0

[2018-11-15 08:42] hshen14 opened #1456 "Transformer Pre-trained weight"
I would like to run the reproduce the bleu for transformer model. May I know whether there is pre-trained weight for sharing? Thanks. @Superjomn @panyx0718 @luotao1

https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleNLP/neural_machine_translation/transformer/README_cn.md

[2018-11-15 09:12] qingqing01 commented on #1455
@hshen14  `label_list` is in `https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/object_detection/data/pascalvoc`.

You can put `label_list` in `/lustre/dataset/VOC/VOCdevkit/VOC2012`.

In our doc, we tell users to download data in `data/pascalvoc/` and create `trainval.txt` and `test.txt` in `data/pascalvoc/`. The `label_list` is also in this path. So there is no problem.

[2018-11-15 09:50] qingqing01 commented on #1455
[code]

[2018-11-15 12:33] kuke commented on #1453
这个paddle环境太老了，请build一个最新的环境

[2018-11-16 01:51] hshen14 commented on #1455
Thanks @qingqing01. There are two issues:
* the script does not import multiprocessing python library - should fix it.
* after fixing, I met the below issue - does it support CPU training?

[code]

[2018-11-16 02:12] panyx0718 commented on #1456
@guoshengCS @kuke

[2018-11-16 05:31] qingqing01 commented on #1455
@hshen14 Thanks very much. Fixed in https://github.com/PaddlePaddle/models/pull/1457

[2018-11-16 05:35] #1455 closed, assigned to nobody

[2018-11-16 09:20] wojtuss opened #1459 "How to save MobileNet-SSD model? with detection mAP evaluator?"
When training a MobileNet-SSD model, the `train.py` script allows for saving persistables using
[code]
But how can we save the whole model?
In order to save the whole model for inference using:
[code]
we need to provide `feed_dict` and `target`.
1. What should the `feed_dict` be?
Usually, the `feed` argument of `exe.run()` method suggest the answer, but in MobileNet-SSD, the `feed` is not defined.

[2018-11-16 15:02] xiaoming521 commented on #1449
- [ ]

1.

[2018-11-16 15:02] #1449 closed, assigned to nobody

[2018-11-17 02:37] zhengzhe97 opened #1461 "deepLab3+是基于paddlepaddle的哪个版本"

[2018-11-17 02:50] zhengzhe97 opened #1462 "TypeError: assign() takes exactly 2 arguments (1 given)"
![a _rt 9n1lnn w2q 4i2d](https://user-images.githubusercontent.com/26462054/48655787-8a1c5600-ea56-11e8-85f8-c64fefdf3d7e.png)

[2018-11-17 06:54] #1461 closed, assigned to nobody

[2018-11-17 06:54] #1462 closed, assigned to nobody

[2018-11-19 02:12] qingqing01 commented on #1459
@wojtuss Please see

 https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/object_detection/train.py#L117

and

https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/object_detection/train.py#L165

You can change line 165:

[code]

Then:

[code]

If you want to do inference, the target is the output of `fluid.layers.detection_output`.
You can save the model with the Dete

[2018-11-19 05:58] guoshengCS commented on #1456
We upload the pre-trained weight and data used in Transformer base model just now.  Please download from http://transformer-model-data.bj.bcebos.com/wmt16_ende_data_bpe_clean.tar.gz for data and http://transformer-model-data.bj.bcebos.com/iter_100000.infer.model.tar.gz for pre-trained weight.

[2018-11-19 06:50] duanlin0505 opened #1464 "执行face_detection时出现“EnforceNotMet: ptr_ should not be null”错误"
环境：v100+paddle1.1+cuda9+cudnn7

[code]

[2018-11-19 06:59] duanlin0505 commented on #1464
batch_size=1，多卡的情况：
[code]

[2018-11-19 08:02] qingqing01 commented on #1464
问题1: 看错误log是GPU显存不足。

请问用的是1张卡训练？ 跑其他例子能跑通吗？

[2018-11-19 08:27] duanlin0505 commented on #1464
mnist是可以跑通的，这个就是一张卡的情况。face_detection单卡和多卡都有问题。
--batch_size=12的时候可能会有现存不足的情况，--batch_size=1的时候应该就不会有了，先帮看看--batch_size=1的问题吧，我再更新一下--batch_size=1的错误

[2018-11-19 09:03] duanlin0505 commented on #1464
单卡，banchsize=1的错误信息：
[code]

[2018-11-19 09:10] qingqing01 commented on #1464
这个模型，比较耗费显存，在P40, 22G的显存上，单卡最大的bs可以到5。 v100显存较小的话，确实不支持大点的bs。

bs=1时:

这个错误信息，无法确定具体的错误。建议：
1. 请确认reader返回的数据没问题吧。
2. 可以试着在网络加layers.Print()看下具体到哪里有问题。
3. export GLOG_v=5  export GLOG_logtostderr=1，分析下到哪里出的错误。

[2018-11-19 09:57] wojtuss commented on #1459
@qingqing01 ,
Thank you! To save the model with the DetectionMAP I need also to add the `map_eval` to targets, right?
However, calling
[code]
gives
[code]
I have tried also
[code]
Then I got
[code]
What target should it be?

[2018-11-19 12:29] qingqing01 commented on #1459
@wojtuss

I tested in `evaly.py`,  after running one time,  then, mode saving is ok:

[code]

Since the mAP depends on `gt_label`, `gt_box`, `difficult` variables, so these also need to save.

[2018-11-20 03:03] bmapwei commented on #1453
训练用的就是paddle fluid环境，需要配置哪个版本的环境才行呢

[2018-11-20 03:07] kuke commented on #1453
最新的develop分支，因为DAM后来有bug修复

[2018-11-21 02:45] hshen14 commented on #1456
Thanks @guoshengCS. I tried the inference on CPU and the speed seems very slow. I have some questions:
1. Is there any instructions to measure the performance? Do you have the total inference time on CPU?
2. Some sentences looks abnormal during inference, with @ and 乱码. Is it okay?
3. Would you please show the corresponding BLEU with the model you provided?
4. Would you please share gen_data/moses

[2018-11-21 05:47] guoshengCS commented on #1456
1. I haven't tried training and inference on CPU. Sorry for that I can't give a benchmark for the performance on CPU, and I haven't heard any released Transformer performance on CPU.
2. @ is introduce by BPE(byte-pair encoding, which is used in the paper) and can be removed by `ed -r 's/(@@ )|(@@ ?$)//g'` . The examples seem same as my result, and it might work correctly.
[code]
3. Testing with mu

[2018-11-22 04:49] hshen14 commented on #1456
Thanks @guoshengCS. Reproduced.

[2018-11-22 10:31] wojtuss opened #1469 "How the accumulative MAP is calculated?"
I have a MobileNet-SSD model with trained parameters from Baidu. Also, I have generated a model with the `DetectionMAP` layer saved. However, I can see the `DetectionMAP` requires some parameters which are not present with the model from Baidu. These parameters are used for calculation of the accumulative MAP.
How the accumulative MAP is calculated?
Can it be calculated without those missing param

[2018-11-22 11:21] qingqing01 commented on #1469
See the [Python API](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/metrics.py#L666) . It's a litte complicated, not average bach mAPs simply.  ( see [source code](https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/detection_map_op.h) ).  The accumulative needs some state from previous mini-batch, then merge them and calculate current mAP.

Actually

[2018-11-22 11:22] #1459 closed, assigned to luotao1

[2018-11-22 12:29] sfraczek commented on #1469
We use it for CAPI.

[2018-11-22 12:51] wojtuss commented on #1469
@qingqing01 , Thank you!

I use a MobileNet-SSD model with the `DetectionMAP` layer, generated using the `save_inference_model()` method (as described in https://github.com/PaddlePaddle/models/issues/1459#issuecomment-439877157), with parameters taken from an already trained model from Baidu (http://paddlemodels.bj.bcebos.com/ssd_mobilenet_v1_pascalvoc.tar.gz).
In our C-API application we get the

[2018-11-22 15:24] sfraczek commented on #1469
We've got it working now :)

[2018-11-22 16:25] icedream2linxi opened #1471 "ocr_recognition 的参数说明与代码不相符"
说明中的 --train_images 与 --train_list 两个参数，在代码中并不存在；运行时，带上这两个参数会报错。

[2018-11-23 02:06] qingqing01 commented on #1469
@sfraczek How to solve it?

[2018-11-23 06:58] qingqing01 commented on #1464
我在v100上，显存16G，cuda 9.0, cudnn 7.1,  但是自己编译的paddle包，4卡运行，可以正常运行的：

[code]

[2018-11-23 07:28] wanghaoshuang commented on #1471
多谢反馈，我尽快修改下。

[2018-11-25 05:19] 315536712 opened #1473 "fluid版本加载自定义数据时怎么样自己去创建reader？"
问题描述：我现在有一个V2版本的程序想转化成fluid版本，在转化版本的过程中，发现V2加载自定义数据集和fluid加载的方法完全不同。
1.看了你们官方文档里fluid的准备数据的文档，但是里面讲的都很模糊，有没有直接加载自定数据的完整方法的demo？
![image](https://user-images.githubusercontent.com/13358316/48975696-a866ff00-f0b1-11e8-8e87-968f394fc3bd.png)
![image](https://user-images.githubusercontent.com/13358316/48975716-24614700-f0b2-11e8-8e2a-adbb7e67626b.png)
![image](https://user-images.githubusercontent.com

[2018-11-26 01:59] wanghaoshuang commented on #1473
可以参考这个demo：https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/ocr_recognition/data_reader.py#L107

fuid的reader和v2是兼容的，在fluid中也可以使用paddle.reader.xmap_readers

所有paddle自带的reader都定义在这里：https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/dataset
其中最简单的是：https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/dataset/uci_housing.py

1.paddlepaddle的fluid对加载自定义数据集的

[2018-11-26 04:01] duanlin0505 commented on #1464
打开 export GLOG_v=5 export GLOG_logtostderr=1后，出问题前，一直在打印的信息：

I1126 11:50:09.210297 11612 operator.cc:163] CUDAPlace(5) Op(relu_grad), inputs:{Out[batch_norm_10.tmp_2:float[1, 256, 40, 40]({})], Out@GRAD[conv2d_47.tmp_1@GRAD:float[1, 256, 40, 40]({})]}, outputs:{X@GRAD[conv2d_47.tmp_1@GRAD[1, 256, 40, 40]({})]}.
I1126 11:50:09.210378 11612 operator.cc:143] CUDAPlace(5) Op(batch_norm_grad), inputs:

[2018-11-26 06:19] shanyi15 commented on #1473
感谢您的反馈，已收集此需求，将会优化相关文档

[2018-11-26 12:12] 315536712 commented on #1473
![image](https://user-images.githubusercontent.com/13358316/49013276-24973a80-f1b7-11e8-92b7-9375d86be498.png)
很高兴，你们能这么快回答，看了你们给的 demo，很详细。不过还有个疑问就是，fluid文档里面提到的两种加载数据集的方法，在给的代码里面没有体现，有关于这两种fluid的加载数据集的方法demo？

[2018-11-26 12:53] wojtuss commented on #1459
@qingqing01 , thank you very much for your help! It helped a lot!

[2018-11-26 12:57] wojtuss commented on #1469
It turned out that we were doing different image preprocessing. With unified preprocessing the accuracy results are very similar.

[2018-11-26 12:57] #1469 closed, assigned to luotao1, qingqing01

[2018-11-27 02:04] #1471 closed, assigned to wanghaoshuang

[2018-11-29 03:59] wanghaoshuang commented on #1473
第一种是最常用的数据加载方式，第二种不太常用.
第二种的使用方式可以暂时参考这里：https://github.com/PaddlePaddle/Paddle/blob/0abfbd1c41e6d558f76252854d4d78bef581b720/python/paddle/fluid/tests/unittests/test_multi_file_reader.py#L49

[2018-11-29 08:55] ccmeteorljh opened #1485 "gru4rec 4卡下报错"
[code]
**paddle_version: 1.1
单卡下正常；**

[2018-11-30 03:24] frankwhzhang commented on #1485
已经修改bug https://github.com/PaddlePaddle/models/pull/1486

[2018-11-30 03:24] #1485 closed, assigned to frankwhzhang

[2018-11-30 08:46] ccmeteorljh opened #1487 "gru4rec"
多机下reader读数据时候应该根据trainer_id 切分

[2018-11-30 08:54] frankwhzhang commented on #1487
根据trainer的文件路径来划分，paddlecloud上是按照文件自动切分

[2018-11-30 12:21] ccmeteorljh opened #1488 "tagspace 多卡下acc计算错误"
[code]

[2018-12-02 05:41] frankwhzhang commented on #1488
已修复bug https://github.com/PaddlePaddle/models/pull/1489

[2018-12-02 05:42] #1488 closed, assigned to frankwhzhang

[2018-12-03 03:41] yeyupiaoling commented on #1418
https://github.com/PaddlePaddle/Paddle/issues/14705

[2018-12-03 03:41] #1418 closed, assigned to nobody

[2018-12-03 07:22] ccmeteorljh opened #1494 "tagspace多机报错"
**多机下报如下错误：**
[code]

[2018-12-03 08:55] #1494 closed, assigned to frankwhzhang

[2018-12-04 02:03] dreamonezero opened #1495 "object-detection train VOC dataset error"
Epoc 119, batch 480, loss 1.927295, time 0.40952
Epoc 119, batch 500, loss 2.137074, time 0.45071
Batch 0, map [0.76862]
Batch 10, map [0.75564057]
Batch 20, map [0.7315956]
Batch 30, map [0.7257414]
Batch 40, map [0.731006]
Batch 50, map [0.7274335]
Batch 60, map [0.73014474]
Batch 70, map [0.72777504]
Batch 80, map [0.7303445]
Batch 90, map [0.72797]
Batch 100, map [0.7287172]
Batch 110, map [0.

[2018-12-04 04:23] ghost opened #1496 "使用save_inference_model()保存crnnctc的__model__文件"
1. 在models/fluid/PaddleCV/ocr_recognition, 我想使用train.py的def test()里添加以下下面的代码来保存crnn_ctc的__model__文件

fluid.io.save_inference_model(args.save_model_dir,["image","label"],test_seq_error,exe,main_program=inference_program)

但运行有错误  ValueError: 'target_vars' should be a list of Variable.
也尝试了 fluid.io.save_inference_model(args.save_model_dir,["image","label"],[test_seq_error[0]],exe,main_program=infer