[2019-10-08 11:03] mozpp commented on #3462
训练脚本和 https://github.com/PaddlePaddle/models/blob/release/1.5/PaddleCV/yolov3/train.py 基本一样

[2019-10-08 13:08] mmglove commented on #3402
您好，请贴一下错误信息

[2019-10-08 13:27] sjm1992st commented on #3470
不是问这个。。我是说demo是有二级标签的，你这个只有三个大类，没分小类啊

[2019-10-08 22:09] daming-lu opened #3481 "LAC module 在 Hub 下可以被找到，但无法运行"
问题如下，可以引入 Hub，也能找到 LAC module，但无法使用。

![Screen Shot 2019-10-08 at 3 07 05 PM](https://user-images.githubusercontent.com/5635322/66437035-92b6ab80-e9dd-11e9-8027-8cfc58b93a07.png)

[2019-10-09 03:00] #3394 closed, assigned to wanghaoshuang

[2019-10-09 08:51] wangchaochaohu commented on #3470
按照官网的说明我们的情绪识别的训练数据是百度自建测试集（包含闲聊、客服）和 nlpcc2014 微博情绪数据集。所以我们只分了三大类。训练的结果也是只有正向 负向和中性情绪

[2019-10-10 03:06] wanghaoshuang opened #3489 "PaddleDetection load params failed"
config file: yolov3_mobilenet_v1_voc.yml

code:
[code]

models commit:
[code]

error log:
[code]

[2019-10-10 03:21] wanghaoshuang commented on #3489
清理/root/.cache/paddle/weights/MobileNetV1_pretrained.tar之后可以正常执行。

[2019-10-10 03:21] #3489 closed, assigned to jerrywgz

[2019-10-10 05:18] JiabinYang commented on #2505
用户超过3个月没有回复，先行关闭

[2019-10-10 05:18] #2505 closed, assigned to heavengate, JiabinYang

[2019-10-10 05:19] tangxuvis commented on #3430
实际上，对于小脸来说，感受野尽可能的大，比人脸尺寸大较多。对于大脸来说，感受野不需要太大。

[2019-10-10 06:32] tangxuvis commented on #3430
可以类比最近好几篇人脸检测论文提出的模块，比如dsfd，srn，retinaface等等。 @foralliance

[2019-10-10 08:14] wenston2006 opened #3492 "从输入图片或某个feature map中抠出一块来,应该如何操作?"
paddle中抠图有专门的crop函数吗?如果想抠一块矩形出来, 可否像python数组的切片操作那样,通过指定数组下标范围来简单抠出来.

[2019-10-10 09:14] wenston2006 opened #3493 "网络的loss由两个loss构成, 在做backward()运算时应该对两个loss分别执行backward()运算吗?"
还是新定义一个loss变量, total_loss=loss1 + loss2,  然后执行total_loss.backward()?

[2019-10-10 11:44] sjm1992st commented on #3470
https://ai.baidu.com/docs#/NLP-Apply-API/7f94f725
你们的文档里写着：
情绪二级分类标签；客服模型正向（thankful感谢、happy愉快）、客服模型负向（complaining抱怨、angry愤怒）；闲聊模型正向（like喜爱、happy愉快）、闲聊模型负向（angry愤怒、disgusting厌恶、fearful恐惧、sad悲伤）
--
所以感觉开源的这个不完整啊

[2019-10-11 00:33] Stealers opened #3504 "请问在哪里找官方的分类网络预训练模型？"
请问在哪里找官方的分类网络预训练模型？

[2019-10-11 02:54] wangchaochaohu commented on #3470
应该是的，AI平台和models并不是完全一致的

[2019-10-11 03:52] yxzero opened #3506 "PaddlePaddle/Paddle transformer c++版本预测 加载两次模型输出不一致"
服务使用用stream做加速，有两个predictor，在输入tensor一样的情况下，输出不一致，这是什么原因呢？
![image](https://user-images.githubusercontent.com/5461637/66623274-7a34d400-ec1d-11e9-81d7-88a504061ba9.png)

[2019-10-11 06:38] shuxsu opened #3511 "labelme2coco.py将labelme转换为coco数据集问题"
Generating dataset from: /Users/shuxsu/Downloads/cityscape/gtFine_trainvaltest/gtFine/train/ccc/.json
Traceback (most recent call last):
  File "labelme2coco.py", line 246, in <module>
    main()
  File "labelme2coco.py", line 223, in main
    args.json_input_dir)
  File "labelme2coco.py", line 117, in deal_json
    with open(label_file) as f:
FileNotFoundError: [Errno 2] No such file or directory

[2019-10-11 06:45] shuxsu opened #3512 "PaddleDetection训练自己的数据集问题"
要训练的数据集放在项目下的dataset/coco下，指定训练集路径后会下载coco的train2017不知为何原因，后看终端提示try searching /Users/shuxsu/.cache/paddle/dataset or downloading dataset...，将数据集拷贝至/Users/shuxsu/.cache/paddle/dataset/coco下 再次运行不再下载，并且终端提示 found annotations/instance_train.json 等。后控制台报错：
2019-10-11 12:58:43,488-WARNING: fail to map op [DecodeImage_348189] with error: [Errno 21] Is a directory: '/Users/shuxsu/Downloads/models-develo

[2019-10-11 09:52] sjm1992st commented on #3470
那能不能@下作者更新下嘛

[2019-10-11 10:00] fuyi02 opened #3516 "PaddleDetection库使用体验"
用PaddleDetection训练自己的数据的时候发现PaddleDetection有点封装得过头了，不管是设计自己的模型还是改datalayer层 或者数据格式，整体上入口要么太深，就是入口不明显 config的设置也过于复杂，这块体验不是特别好，希望PaddlePaddle这块可以尽可能的优化下。谢谢！

[2019-10-11 10:53] qingqing01 commented on #3516
收到反馈，感谢提议~

[2019-10-11 10:55] yongqiangma commented on #3504
在  https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/image_classification

[2019-10-11 11:26] heavengate commented on #3512
[code]
请检查一下你的annotation文件里的数据正确性，应该是读到的image filename是空串或者不存在，导致找不到对应的image文件，没法正确读取

[2019-10-11 12:48] SunAhong1993 commented on #3511
@shuxsu 你好~该问题可能是由于图像文件夹下出现了不是图像格式的文件，而在遍历文件夹时，非图像格式文件也会被当做图像文件处理并寻找其对应的json文件，所以导致出错。建议在[原代码125行](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/ppdet/data/tools/labelme2coco.py#L125)处加入下述代码，可解决问题。
[code]

[2019-10-11 12:59] shuxsu commented on #3512
2019-10-11 20:58:31,422-INFO: Load model and fuse batch norm from https://paddle-imagenet-models-name.bj.bcebos.com/ResNet50_cos_pretrained.tar...
2019-10-11 20:58:31,423-INFO: Found /Users/shuxsu/.cache/paddle/weights/ResNet50_cos_pretrained
2019-10-11 20:58:31,811-INFO: Config annotation /Users/shuxsu/Downloads/models-develop/PaddleCV/PaddleDetection/dataset/coco/annotations/instances_train2017.

[2019-10-11 13:01] shuxsu commented on #3512
想在询问一下 如何设置自己的数据集路径  为什么我这也设置就会下载呢   我的dataset路径已经设置为我的coco下的绝对路径了   这个dataset路径具体在哪设置呢  是相应的模型 mask rcnn  这种里面的 dataset_dir里面设置 还是在coco/文件夹下面设置 还是train代码里设置呢？

[2019-10-11 13:04] shuxsu commented on #3511
感谢大佬  可以了

[2019-10-11 13:14] shuxsu commented on #3512
2019-10-11 21:12:13,636-INFO: Found /Users/shuxsu/.cache/paddle/dataset/coco/train2017
2019-10-11 21:12:13,636-INFO: Found /Users/shuxsu/.cache/paddle/dataset/coco/val2017
2019-10-11 21:12:13,636-INFO: Found /Users/shuxsu/.cache/paddle/dataset/coco/annotations
Traceback (most recent call last):
  File "train.py", line 284, in <module>
    main()
  File "train.py", line 165, in main
    devices_num

[2019-10-12 02:04] #3350 closed, assigned to nobody

[2019-10-12 02:32] #3511 closed, assigned to SunAhong1993

[2019-10-12 03:26] wangchaochaohu commented on #3470
我们会及时反馈 可以关注models 的repo 谢谢

[2019-10-12 03:29] xyoungli commented on #3493
需要根据情况设置加权求和到1个loss

[2019-10-12 03:32] xyoungli commented on #3492
有crop op，具体请参考： https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/layers_cn/nn_cn.html#crop

[2019-10-12 03:34] shuxsu commented on #3512
如果按照默认下载 coco  train2017  为什么还是运行不来呢   还是会提示
AssertionError: invalid file[/Users/shuxsu/.cache/paddle/dataset/coco/annotations/instances_train.json] for RoiDbSource

[2019-10-12 03:56] heavengate commented on #3512
自动下载触发的时候一般是本地数据集not valid，日志里面都会有原因说明
[code]

[2019-10-12 04:05] shuxsu commented on #3512
但是我的数据集就是labelme2coco.py转换的数据集啊，为什么是无效的呢  以及
AssertionError: invalid file[/Users/shuxsu/.cache/paddle/dataset/coco/annotations/instances_train.json] for RoiDbSource
这个的原因是什么呢

[2019-10-12 04:12] shuxsu opened #3520 "paddleDection数据集路径以及配置问题"
2019-10-11 21:12:13,636-INFO: Found /Users/shuxsu/.cache/paddle/dataset/coco/train2017
2019-10-11 21:12:13,636-INFO: Found /Users/shuxsu/.cache/paddle/dataset/coco/val2017
2019-10-11 21:12:13,636-INFO: Found /Users/shuxsu/.cache/paddle/dataset/coco/annotations
Traceback (most recent call last):
File "train.py", line 284, in
main()
File "train.py", line 165, in main
devices_num, FLAGS.dataset_dir)

[2019-10-12 05:32] wenston2006 commented on #3493
新的loss可以执行backward()吗?

[2019-10-12 06:11] ronghaoLee opened #3521 "paddleDection operators注释有问题？"
![image](https://user-images.githubusercontent.com/46473363/66695946-d53bf900-ecf9-11e9-93d5-844e0e40aa50.png)

Hi 同学，

       我在使用PaddleCV/PaddleDetection时候，注意到了ExpandImage如截图红框这边的注释，请问是想要表述为“Scale the image width and height”的意思吗？还是我理解有误？

多谢啦

[2019-10-12 06:28] MyPandaShaoxiang commented on #3521
你好，经查看是注释有误，可以参考注释中第2条，后续会进行修正，感谢反馈。

[2019-10-12 07:08] linghaolu opened #3523 "rcnn 通过load_inference_model 加载模型 报错 Tensor holds no memory"
rcnn  模型，通过 save_inference_model 保存后，通过fluid.io.load_inference_model 加载模型 预测发生错误。
Traceback (most recent call last):
  File "infer.py", line 185, in <module>
    infer2()
  File "infer.py", line 71, in infer2
    return_numpy=False)
  File "/home/work/anaconda3/lib/python3.6/site-packages/paddle/fluid/executor.py", line 650, in run
    use_program_cache=use_program_cache)
  File "/home/work/anacon

[2019-10-12 07:12] linghaolu commented on #3523
save 函数

`
def export():
    image_shape = [3, cfg.TEST.max_size, cfg.TEST.max_size]
    class_nums = cfg.class_num

    model = model_builder.RCNN(
        add_conv_body_func=resnet.add_ResNet50_conv4_body,
        add_roi_box_head_func=resnet.add_ResNet_roi_conv5_head,
        use_pyreader=False,
        mode='infer')
    model.build_model(image_shape)
    pred_boxes = model.eval_bbox_out()

[2019-10-12 07:18] wenston2006 commented on #3493
@xyoungli 针对每个loss我分别定义了两个network, 在loss执行backward()以后, 对这两个network还要分别执行clear_gradients()吗?

[2019-10-12 07:28] xyoungli commented on #3493
2个network对应2个loss的话，分别用对应网络的backward就可以，loss不用求和

[2019-10-12 07:33] wenston2006 commented on #3493
@xyoungli  对两个loss是否还要分别执行optimizer.minimize(loss1, grad_clip=grad_clip) ? 两个network 还得分别执行clear_gradients()吧? 如果loss分别执行backward, 那这种情况下loss加权相加起到什么作用?

[2019-10-12 07:36] xyoungli commented on #3493
这两个网络是独立的吗？独立的话，两个loss各自backward就行，不需要加权求和

[2019-10-12 07:50] wenston2006 commented on #3492
@xyoungli 谢谢回复, 我现在直接用的slice切片操作,因我的应用里面要抠的图基本都是些水平的矩形; 如果用crop op 是否在运行速度上有优势?或者在内存占用上有优势?

[2019-10-12 07:52] wenston2006 commented on #3492
@xyoungli  还有一个问题, 我想吧抠图都缩放到32*32的大小, paddle有没有resize函数?

[2019-10-12 08:49] wenston2006 commented on #3493
两个网络基本上是独立的, 但算法里面最后的loss是loss1和loss2加权相加得到的

[2019-10-12 08:50] wenston2006 opened #3526 "如何执行数据强制转换?我有个数组variable, 是float类型的, 想转换为int类型,不知该用什么函数?"

[2019-10-12 08:59] dhdljd opened #3528 "没有训练，直接使用官方提供的weights的YOLOV3模型进行infer报错。"
我在云服务器上ubuntu18.04和windows主机上，进行YOLOV3试用，没有训练，直接使用官方提供的weights进行infer，均报错，报错的截图如下：
![image](https://user-images.githubusercontent.com/53200354/66698554-839f6880-ed11-11e9-9fef-4e3c9ba98ca3.png)
![image](https://user-images.githubusercontent.com/53200354/66698562-931eb180-ed11-11e9-9a8e-b62a25fe7aa3.png)
请问，这是什么原因？

[2019-10-12 09:01] #3521 closed, assigned to nobody

[2019-10-12 09:11] SunAhong1993 commented on #3512
1. json文件中的file_name不可以为空。（file_name为空的原因为labelme2coco.py转换cityscape数据集时缺乏‘ImagePath’这个字段）
2. /Users/shuxsu/.cache/paddle/dataset/coco/annotations/instances_train.json 是代码默认自动下载的数据集的存放路径，你可以先确认下该路径下是否有coco数据集；如果需要使用自己的数据集，应该在configures中定义dataset_dir、annotation、image_dir，可参考[代码](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/configs/mask_rcnn_r101_fpn_1x.yml#L117)中117-

[2019-10-12 10:42] linghaolu commented on #3462
貌似也遇到了，loss 一直很大

[2019-10-12 11:24] MyPandaShaoxiang commented on #3526
可以使用paddle.fluid.layers.cast进行转换

[2019-10-12 11:30] dbcool opened #3531 "PaddleDetection infer时候出错"
您好，我在进行paddle检测的infer时候，
在运行
            outs = exe.run(infer_prog,
                           feed=feeder.feed(data),
                           fetch_list=values,
                           return_numpy=False)
这一行的时候出错:
Traceback (most recent call last):
  File "tools/infer_video.py", line 442, in <module>
    main()
  File "tools/infer_video.py", line 316, in main
    return_numpy=False)
  File

[2019-10-12 11:32] heavengate commented on #3512
[code]
这个报错的原因是这个json文件不存在，请检查一下该路径下的annotaion文件是否正确下载

[2019-10-12 11:33] linghaolu commented on #3523
infer 报错代码

    try:
        from pycocotools.coco import COCO
        from pycocotools.cocoeval import COCOeval, Params

        data_path = DatasetPath('val')
        test_list = data_path.get_file_list()
        coco_api = COCO(test_list)
        cid = coco_api.getCatIds()
        cat_id_to_num_id_map = {
            v: i + 1
            for i, v in enumerate(coco_api.getCatIds())
        }

[2019-10-12 11:36] heavengate commented on #3528
![131abbd2e7fba6755be7b02ef630c2fc](https://user-images.githubusercontent.com/12605721/66700785-73928380-ed27-11e9-9e2b-fc3d80f91e5d.png)
权重没有正确导入，请检查权重是否正确下载和解压，权重路径是否指定正确

[2019-10-12 11:38] MyPandaShaoxiang commented on #3531
你好，能具体描述下问题么，使用的模型从哪里来的，用的哪个版本的检测代码，cpu上进行的？

[2019-10-12 11:42] qingqing01 commented on #3531
@dbcool 看log是通过faster rcnn预测，重新写了一个infer_video.py文件，在`multiclass_nms`里出错。 不知道有没有改动其他信息？

排查方法，可以先看下单张图片使用原始的infer流程能否测通，来确保模型加载、使用流程正确。另外，可以在 `/home/daibing/baidu_daibing/cncert-source/logo_detection/ppdet/modeling/roi_heads/bbox_head.py`   文件倒数第二行前，加Print打印输入的看下输入的shape，在排查下。

[code]

[2019-10-12 12:49] SunAhong1993 commented on #3512
针对“json文件中的file_name不可以为空。（file_name为空的原因为labelme2coco.py转换cityscape数据集时缺乏‘ImagePath’这个字段）”这一问题，我们提供了将cityscape转换为coco的代码，具体如下：
[code]
使用方式与labelme2coco.py一致。

[2019-10-12 12:58] shuxsu commented on #3512
非常感谢你们  辛苦了！ 我上面提到的问题  不管是模型的配置dataset_dir 还是img_dir 这些 我都有做过修改 直接指定数据集到 那个代码默认的下载文件夹 他还是会报断言错误，，，

[2019-10-12 13:01] SunAhong1993 commented on #3520
你好~ 使用labelme2coco.py生成的json文件命名为“instance_train.json”，而不是“instances_train.json”（多了一个s），将configure文件中的annotation路径修改为”annotations/instance_train.json“即可。

[2019-10-12 13:26] heavengate commented on #3512
如 https://github.com/PaddlePaddle/models/issues/3520 ，此处assert为`instance_train.json` 名称填写错误导致找不到这个文件，https://github.com/PaddlePaddle/models/pull/3536 这个PR会优化这个报错信息

[2019-10-12 14:01] dhdljd commented on #3528
谢谢，使用默认的权重导入路径，就没有问题了。我前面权重导入路径有问题。

[2019-10-12 14:10] heavengate commented on #3528
鉴于问题解决，当前issue关闭，感谢对PaddlePaddle的支持~

[2019-10-12 14:10] #3528 closed, assigned to MyPandaShaoxiang

[2019-10-13 04:23] #3512 closed, assigned to heavengate, SunAhong1993

[2019-10-13 04:53] #3451 closed, assigned to xjqbest

[2019-10-13 07:16] euphratica opened #3538 "run KT-NET 时候，ema.update()报 ‘dict’ object has no attribute 'has_key'"
环境：ubuntu16  cuda9.0   cudnn 7.3 python3.7
paddle是按照官网通过pip安装的
在执行 sh ./run_record_twomemory_finetune.sh 时候报如下错误
Traceback (most recent call last):
  File "src/run_record_twomemory.py", line 628, in <module>
    train(args)
  File "src/run_record_twomemory.py", line 429, in train
    ema.update()
  File "/home/thj18/anaconda3/envs/paddle/lib/python3.7/site-packages/paddle/fluid/optimizer.py", line

[2019-10-13 13:20] eddieheyutong opened #3540 "Linux环境下对PaddleSeg 进行C++预测库部署的时候，在最后进行编译生成可执行文件时遇到的问题，希望大神能帮忙解答一下"
会报出以下的错误：（本人系统为ubuntu18.04 GCC/G++ 版本为4.8.5 CUDA版本10.0）
/root/projects/opencv3/lib64/libopencv_core.a(hal_internal.cpp.o)：在函数‘lapack_QR32f(float*, unsigned long, int, int, int, float*, unsigned long, float*, int*)’中：
hal_internal.cpp:(.text._Z12lapack_QR32fPfmiiiS_mS_Pi+0x250)：对‘sgels_’未定义的引用
hal_internal.cpp:(.text._Z12lapack_QR32fPfmiiiS_mS_Pi+0x2bc)：对‘sgels_’未定义的引用
hal_internal.cpp:(.text._Z12l

[2019-10-13 15:28] chenwhql commented on #3540
您好，我google了一下这个错误，看起来和LAPACK有关，您试试加上编译选项`-DWITH_LAPACK=OFF`试试可以吗？

相关参考：
https://github.com/opencv/opencv/issues/7970
http://icl.cs.utk.edu/lapack-forum/viewtopic.php?f=12&t=3336

[2019-10-13 15:41] chenwhql commented on #3538
您好，这个是由于Python3 dict不再支持`has_key`这个接口导致的错误，官方文档如下：
`Removed dict.has_key() – use the in operator instead.`
出错的框架代码：`if self._ema_vars.has_key(param.name + '.master'):`需要改为`if param.name + '.master' in self._ema_vars:`
我们最新的代码库已经修正了这个bug，https://github.com/PaddlePaddle/Paddle/blob/bd99df715a6baa1b75c99ca87f8c0acd3f6878d2/python/paddle/fluid/optimizer.py#L2940

现在建议您尝试以下几种方法处理这个问题：
1. 安装Python2.7版本的

[2019-10-14 01:22] wenston2006 commented on #3526
@MyPandaShaoxiang 谢谢回复

[2019-10-14 02:31] #3439 closed, assigned to zhaoyuchen2018

[2019-10-14 02:33] #3431 closed, assigned to zhaoyuchen2018

[2019-10-14 02:58] jude2014 opened #3549 "如何使用定制化词典"
我在customization.dic 按如下格式新加词典，但是发现并未生效
[D:LOC]
彭山里
三水道
也没发现那里有加载这个文件的地方，请问该怎么办

[2019-10-14 07:03] SnowWhite11235 opened #3557 "图像分类模型的data feeder变量个数的问题"
您好，在image_classification模型中，我想要加两个格式不同的标签作为约束（类别和关键点），
py_reader = fluid.layers.py_reader(
                capacity=16,
                shapes=[[-1] + image_shape, [-1, len(class_dim)], [-1, 8, 56, 56]],
                lod_levels=[0, 0, 0],
                dtypes=["float32", "int64", "float32"],
                use_double_buffer=True）
image, label, kpts_gt = fluid.layers.read_file(py_reader)
avg_

[2019-10-14 07:17] zhhezhhe opened #3558 "可否提供flownet, flownet2, PWC net等光流估计的模型？pytorch有写cuda的第三方库，paddle可否也提供一些correlation layer？"
pytorch实现时有一些第三方自己写的cuda代码，例如nvidia的
[code]
在paddle中如何实现？可否提供一些参考。

[2019-10-14 07:57] zhhsplendid commented on #3557
嗨，您好，请问能否检查您的修改是否有地方没弄好？报错信息是说feed的数目与设置的每个sample要有的数量不匹配。我看了image classification的代码，应该是在reader.py里进行读入数据的配置。您是改了train.py哪里？有没有尝试更改reader？

https://github.com/PaddlePaddle/models/blob/8be4d01180d13df6720d89133fba8fb4f150db3d/PaddleCV/image_classification/reader.py#L252

[2019-10-14 08:12] SnowWhite11235 commented on #3557
batch_data.append([img_path, labels, kpts_map]) # 这里已经是3个变量呀
if len(batch_data) == batch_size:
    print("batch is ", batch_size)
    yield batch_data
    batch_data = []

[2019-10-14 08:13] SnowWhite11235 commented on #3557
batch_data.append([img_path, labels, kpts_map]) # 这里已经是3个变量了呀
if len(batch_data) == batch_size:
    print("batch is ", batch_size)
    yield batch_data
    batch_data = []

[2019-10-14 08:33] euphratica commented on #3538
目前不急，我修改了一下报错部分paddle源码，能跑了，谢谢

[2019-10-14 08:34] #3538 closed, assigned to nobody

[2019-10-14 08:41] zhhsplendid commented on #3557
那么组网构建program时的input数据有相应更改吗？我看了下，设置模型哪些是需要feed的input数据的在这里。请尝试跟踪和修改这里的create_pyreader看看能否处理好您的问题。

https://github.com/PaddlePaddle/models/blob/1137c0c0a2f33592d3a3191b0c74cb8e897e3bdb/PaddleCV/image_classification/build_model.py#L110

[2019-10-15 00:45] dhdljd opened #3571 "采用win10笔记本电脑跑YOLOV3模型推理的耗时2.4s"
![image](https://user-images.githubusercontent.com/53200354/66791489-3bf22a00-ef27-11e9-88c6-1e249207b095.png)

屏幕截图如上，其中，used_time：4.438s代表从模型加载到推理完成的时间，model_interpreter_time：2.407s代表从模型开始推理到结束的时间。
采用官方提供的infer文件、权重。
环境是：
联想x1笔记本电脑；
noGPU
酷睿i5CPU
win10系统。
请问，这样的耗时是否正常？是否需要在什么地方做优化？

---------------------------

另外，在同样的平台，采用opencv+YOLOV3模型，耗时在500~1000ms之间，调用的opencv语句是：
label = 'Inference time: %.

[2019-10-15 01:26] sportzhang commented on #2991
@yuye-img 请问你的问题解决了吗？我也遇到了相同的问题，应该是数据的问题。
![image](https://user-images.githubusercontent.com/16151674/66792970-cc336d80-ef2d-11e9-8881-895c91164c97.png)
你加载数据的时候，文件feature_reader中的create_reader方法，record[b'nframes'],把前面的字母b去掉。下面的同样处理。应该就没问题了。

[2019-10-15 01:42] willthefrog commented on #3571
已assign给相关同学跟进。

[2019-10-15 03:02] qingqing01 commented on #3571
@dhdljd 请问下:    1. OpenCV的YOLOv3模型也是DarkNet53的backbone吗？   2. 两者测试的时间，时间统计的start和end是否一样？ Paddle的Infer时间统计能否跳过前几轮预测的时间？ 因为系统的启动也有一定的耗时 3. Paddle的预测其实有另外一套经过优化的C++预测引擎，infer.py的并没有走那套经过优化的(比如采用mkl的cpu优化库、算子融合的).

[2019-10-15 03:17] dhdljd commented on #3571
1、OpenCV的YOLOV3模型以及它的测试时间，我需要再确认一下，上述用的是已经封装好的一个函数；
[https://github.com/dhdljd/learnopencv/tree/master/ObjectDetection-YOLO](url)
2、Paddle的时间统计，我不知道怎么跳过前几轮，这个时间的启动和停止点就设置在exe.run这个函数的前后；
        model_interpreter_start_time = time.time()
        outputs = exe.run(fetch_list=[v.name for v in fetch_list],
                          feed=feeder.feed(data),
                          return_numpy=False)

[2019-10-15 03:22] sportzhang opened #3576 "_pickle.UnpicklingError：pickle data was truncated"
在训练的过程中，会出现这种错误，是由于什么导致的呢？
![image](https://user-images.githubusercontent.com/16151674/66797629-fdb43500-ef3d-11e9-8c1b-e9c243986d8b.png)

[2019-10-15 03:24] shuxsu opened #3577 "关于训练模型的配置信息问题"
想知道关于训练的  epoch  step这些配置信息参数的问题 是在哪修改 是在模型.yml文件吗
类似这种吗？ 还有  有些信息都是缩写  实在是搞不懂都代表什么含义  是否有中文文档呢？能否提供一下 终端训练过程中  好多简写 缩写 实在是搞不懂含义 也不知道训练到第几个周期了。。
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/configs/mask_rcnn_r50_1x.yml

[2019-10-15 03:33] willthefrog commented on #3577
PaddleDetection训练使用step而不是epoch的方式计数，配置文件可以参考文档里的示例。
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/docs/config_example/mask_rcnn_r50_fpn_1x.yml

[2019-10-15 03:38] willthefrog commented on #3576
已assign相关同学跟进。

[2019-10-15 03:49] SunGaofeng commented on #3576
您这边用的是python3，看上去像是python3里面读pickle的问题。您用的PaddlePaddle/models的代码是什么版本的，我们目前的版本里面feature_reader读取数据是这样的

![fa27a3eb0766c7bbc8626dd93db97d77](https://user-images.githubusercontent.com/26536764/66798542-eb87c600-ef40-11e9-829c-d34f2dd50cbe.png)

您用的是python3，应该执行第63行
                 data = pickle.load(open(filepath, 'rb'), encoding='bytes')
但我看您的报错第63行是data = pickle.load(open(filepath, 'rb'))，不知道您是否修

[2019-10-15 03:57] qingqing01 commented on #3571
下面是我们同学测的数据，在 Xeon(R) CPU E5-2650 v4 @ 2.20GHz 。

|模型 | 输入shape |   CPU-fluid(ms/image)(8-thread)|
|-- | -- | --|
MobileNet-V1-Yolov3-COCO | 3x320x320 |  38.744
MobileNet-V1-Yolov3-COCO | 3x416x416 | 59.575
MobileNet-V1-Yolov3-COCO | 3x608x608 |  116.555
MobileNet-V1-Yolov3-VOC | 3x320x320 | 35.647
MobileNet-V1-Yolov3-VOC | 3x416x416 | 55.305
MobileNet-V1-Yolov3-VOC | 3x608x608 |  109.992
DarkNet5

[2019-10-15 04:07] zhupengyang commented on #3558
1、感谢您的建议~ 我们会对新的模型进行评估，然后决定是否支持~
2、自己添加OP可以参考链接https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/development/new_op/index_cn.html 有如何增加cuda实现的相关说明和示例

[2019-10-15 04:12] zhupengyang commented on #3549
您能提供下更加具体的问题描述吗？

[2019-10-15 05:18] baiyfbupt commented on #3474
您好，能否贴下您用的量化配置文件*.yml

[2019-10-15 06:32] sportzhang commented on #3576
恩，我之前保留这个参数了出现错误，所以我去掉了，加上去还是出现这种错误。
![image](https://user-images.githubusercontent.com/16151674/66805831-9788db80-ef58-11e9-9a06-ed430934633c.png)
很奇怪的是，有时训练虽然出现这个错误，但是还是能一步步往下训练，但有时就不行，不知道什么原因？

[2019-10-15 06:35] shuxsu commented on #3577
训练结束后 生成的文件夹里面试一堆文件   如何进行测试呢  有没有相关文档呢   辛苦了

[2019-10-15 06:37] zhupengyang commented on #3549
这个说的是哪个模型？

[2019-10-15 07:48] willthefrog commented on #3577
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/docs/GETTING_STARTED_cn.md

可以参考这里的eval和test的部分，默认是加载output/[模型名称]/model_final里的权重，也可以用 -o weights=[path to weights]指定路径

[2019-10-15 07:51] shuxsu commented on #3577
我加载了指定路径的权重信息 为什么报文件不存在呢
weights: /Users/shuxsu/Downloads/models-develop/PaddleCV/PaddleDetection/tools/output/model_final
运行后报错   这是什么原因呢   辛苦您了

EnforceNotMet: Invoke operator load error.
C++ Call stacks:
Cannot parse tensor desc at [/home/teamcity/work/ef54dc8a5b211854/paddle/fluid/framework/tensor_util.cc:466]
PaddlePaddle Call Stacks:
0         0x1a207a8f8cp void paddle::platform::EnforceNotM

[2019-10-15 07:56] Verazjy commented on #3474
就是网站中公布的配置文件，仅仅修改给epoch参数

[2019-10-15 07:56] #3474 closed, assigned to baiyfbupt

[2019-10-15 08:04] willthefrog commented on #3577
请确认你的运行目录，默认不会存到tools下面吧。。。

[2019-10-15 08:06] shuxsu commented on #3577
没没 刚刚那个问题是我的疏忽  现在这个问题是关键！！！大佬！

[2019-10-15 08:09] willthefrog commented on #3577
请完整描述下你的运行环境，运行的命令等等。。。

[2019-10-15 08:11] shuxsu commented on #3577
没没 刚刚那个问题是我的疏忽  现在这个问题是关键！！！大佬！

运行 命令：
(base) shuxsudeMacBook-Pro:tools shuxsu$ python infer.py -c=/Users/shuxsu/Downloads/models-develop/PaddleCV/PaddleDetection/configs/mask_rcnn_r50_1x.yml -o weights=/Users/shuxsu/Downloads/models-develop/PaddleCV/PaddleDetection/tools/output/mask_rcnn_r50_1x/model_final --infer_img=/Users/shuxsu/Downloads/models-develop/PaddleCV/PaddleDetection/demo/test1.png

[2019-10-15 08:36] eddieheyutong opened #3582 "用PaddleSeg中的模型导出文件导出模型和参数后，在用之前部署的C++预测库时遇到问题"
如题，我在通过export_model.py文件导出了下载的Paddle 官方预训练模型，deeplabv3p_xception65_bn_cityscapes，然后用之前部署的C++预测库进行预测的时候，报出以下错误
/root/projects/PaddleSeg/inference/build# ./demo --conf=/root/projects/PaddleSeg/inference/conf/deploy.yaml --input_dir=/root/projects/PaddleSeg/inference/images/cityscapes/
WARNING: Logging before InitGoogleLogging() is written to STDERR
I1015 16:15:59.258088 19235 analysis_predictor.cc:8

[2019-10-15 08:52] willthefrog commented on #3577
`-o` 设置必须在命令行的最后

[2019-10-15 08:58] shuxsu commented on #3577
python -u tools/infer.py -c configs/yolov3_mobilenet_v1_fruit.yml \
                         -o weights=https://paddlemodels.bj.bcebos.com/object_detection/yolov3_mobilenet_v1_fruit.tar \
                         --infer_img=demo/orange_71.jpg 我是按照教程写的啊

https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/docs/QUICK_STARTED_cn.md

[2019-10-15 09:01] shuxsu commented on #3577
shuxsu$ python infer.py -c=/Users/shuxsu/Downloads/models-develop/PaddleCV/PaddleDetection/configs/mask_rcnn_r50_1x.yml --infer_img=/Users/shuxsu/Downloads/models-develop/PaddleCV/PaddleDetection/demo/test1.png -o weights=/Users/shuxsu/Downloads/models-develop/PaddleCV/PaddleDetection/tools/output/mask_rcnn_r50_1x/model_final  这样报错一样

[2019-10-15 09:03] willthefrog commented on #3582
已assign相关同学跟进。

[2019-10-15 09:07] shuxsu commented on #3577
python infer.py -c=/Users/shuxsu/Downloads/models-develop/PaddleCV/PaddleDetection/configs/mask_rcnn_r50_1x.yml --infer_img=/Users/shuxsu/Downloads/models-develop/PaddleCV/PaddleDetection/demo/test1.png

运行命令这样 报错也是一样 。。。

[2019-10-15 09:11] shuxsu opened #3584 "测试已经训练好的模型出现问题"
错误信息
[code]

[2019-10-15 09:23] KAIKAIZHANG commented on #2930
请问NEXTVLAD_final.pdparams这个模型参数为什么在添加--resume之后加载出错呢？
![image](https://user-images.githubusercontent.com/16151674/66818822-792eda00-ef70-11e9-8bdc-c6acc3cebb2c.png)
@SunGaofeng

[2019-10-15 09:24] willthefrog commented on #3584
已assign相关同学跟进。

[2019-10-15 09:30] willthefrog commented on #3577
我看新开了一个，那这个先close了

[2019-10-15 09:30] #3577 closed, assigned to qingqing01

[2019-10-15 09:32] jerrywgz commented on #3584
可以发下paddle版本吗

[2019-10-15 09:34] shuxsu commented on #3584
版本？  PaddlePaddle 1.5.2, compiled with
    with_avx: ON
    with_gpu: OFF
    with_mkl: OFF
    with_mkldnn: OFF
    with_python: ON

[2019-10-15 09:56] sjtubinlong commented on #3582
@eddieheyutong 您好，这个错误是模型预测输出的尺寸和配置文件中的`eval_crop_width`, `eval_crop_height` 不一致引起的。

从日志中可以看到模型输出的尺寸是`512 x 512`的

[code]
但是
需要预测库配置的尺寸是 `1025 x 2049`的，请检查一下。

[2019-10-15 11:16] zhupengyang commented on #3549
问题已经记录，麻烦 @kuke 跟进下

[2019-10-15 12:34] yyf1986 opened #3586 "model_optimize_tool转PyramidBox发布的模型出错"
环境：Ubuntu 18.04.3
下载的这个模型http://paddlemodels.bj.bcebos.com/PyramidBox_WiderFace.tar.gz

./model_optimize_tool --model_dir=PyramidBox_WiderFace --optimize_out_type=naive_buffer --optimize_out=PyramidBox_WiderFace222 --valid_targets=arm --prefer_int8_kernel=false
[I 10/15 20:31:46.884 ...5/github/Paddle-Lite/lite/api/cxx_api.cc:96 Build] load from memory 0
[F 10/15 20:31:47. 20 .../github/Paddle-Lit

[2019-10-15 12:43] willthefrog commented on #3586
看上去像是paddle lite不支持该模型中使用的depthwise_conv2d_transpose op，建议将本issue转提到paddle lite的repo

[2019-10-15 12:43] #3586 closed, assigned to nobody

[2019-10-15 13:56] shuxsu commented on #3584
根据错误信息 我百度了找到了几篇文章  但是根据他相应的  还是没有解决。。。
文章链接给您  希望能尽早帮我解决这个问题  哭了
我是用笔记本的cpu进行测试的   模型是用工作站训练的
https://ai.baidu.com/forum/topic/show/956320
https://blog.csdn.net/c8241998/article/details/91975794
https://blog.csdn.net/qq_38604355/article/details/92817246
https://www.cnblogs.com/dzqiu/p/9518190.html

[2019-10-16 00:22] dhdljd commented on #3571
您好，非常感谢回复！我的结果怎么和您贴的测试结果差别那么大！是因为多线程处理的问题吗？您同学测试用的程序是什么？这里8个线程，是指把图片分批在多个线程里面做处理，然后最后算一个平均数吗？

[2019-10-16 02:07] shuxsu opened #3589 "测试过程中报错ImportError: cannot import name 'ColorTTY'"
输出原图片
另外想咨询一下 mask_rcnn_r50_1x.yml   mask_rcnn_r50_fpn_1x.yml 这些是不是都是模型  我修改了 r50是不是不需要修改第二个   因为我是用 mask_rcnn_r50_1x.yml进行训练的  但是现在输出结果是没有标注框的  我的训练集是cityscape数据集  不知道什么原因

[2019-10-16 03:29] sportzhang commented on #2930
@SunGaofeng
![image](https://user-images.githubusercontent.com/16151674/66885653-864ad800-f007-11e9-86a1-0ee0e7a8e275.png)
这里的模型下载后是NEXTVLAD_final.pdparams，上述脚本文件中添加--resume无法加载，什么原因？
训练语句：
`python train.py --model_name=NEXTVLAD \
                --config=./configs/nextvlad.yaml \
                --log_interval=10 \
                --valid_interval=1 \
                --use_gpu=True \

[2019-10-16 03:43] zhizunbao-y opened #3593 "YOLOV3收敛过快"
没有加载预训练模型，类别为两类，训练集共12000张图像，batchsize为10，收敛速度过快，一轮不到就拟合了，请问可能是什么问题

[2019-10-16 06:25] esun0087 opened #3604 "paddleslim的使用问题"
使用paddlepaddle训练完成模型之后， 使用paddleslim的量化对模型进行压缩， 测试的时候发现准确率下降6.5%。 不知道配置是不是出现了问题。
使用configs/quantization.yaml
内容如下：
version: 1.0
strategies:
    quantization_strategy:
        class: 'QuantizationStrategy'
        start_epoch: 0
        end_epoch: 1999
        float_model_save_path: './output/float'
        mobile_model_save_path: './output/mobile'
        int8_model_save_path: './output/int8'

[2019-10-16 07:54] geng007 opened #3615 "PaddleVideo_STNET"

[2019-10-16 07:58] jerrywgz commented on #3584
我这边使用1.5.2 cpu版本的paddle https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/beginners_guide/install/Tables.html#whl-release 测试yolo mask_rcnn的infer都是可以跑通的，可以使用上面这个链接里的paddle whl试下

[2019-10-16 08:00] shuxsu commented on #3584
我用gpu的可以跑通城但是没有结果 图片并没有分类 分割

[2019-10-16 08:05] jerrywgz commented on #3584
你跑的是哪个模型，是使用的你自己的数据还是coco数据？

[2019-10-16 08:11] shuxsu commented on #3584
跑的自己训练的模型  cityscape 数据集转换的coco数据集成训练后 进行测试

[2019-10-16 08:28] dbcool opened #3616 "PaddleDetection 的动态链接库调用方法"
您好，图像分类有提供动态链接库调用方法，不知道目标检测这块的是否可以提供python版的动态链接库的调用环境呢？

[2019-10-16 08:31] dbcool commented on #3531
您好，模型是自己的训练的，用的是paddle1.5,GPU上进行的，训练和预测代码没动过，这个错在测试十几万图像时出现，我现在按照楼上的说法试试看

[2019-10-16 09:33] memorygarden opened #3622 "ELMO 源码 数据处理 疑问 data.py 431 行 zip操作"
代码没有问题，我自己看错了，忽略

[2019-10-16 09:42] #3622 closed, assigned to nobody

[2019-10-16 10:18] qingqing01 commented on #3584
@jerrywgz  @shuxsu 是自己训练模型，从log来看是模型加载时出了问题，请确保config里模型路径 `weights`字段是正确的。

[2019-10-16 10:30] shuxsu commented on #3584
weights 路径绝对正确啊…

[2019-10-16 10:30] qingqing01 commented on #3589
mask_rcnn_r50_1x.yml
mask_rcnn_r50_fpn_1x.yml
分别是不同的模型，不同的算法，fpn是在第一个基础上加了FPN模块。

您修改了r50的config，不需要需求带fpn。

更换数据之后，确保config里的类别数修正确，你训练cityscape数据的话，也可以采用coco预训练模型做初始化，可以参考 https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/docs/TRANSFER_LEARNING_cn.md 。然后看下训练得到的模型的mAP如何，最中间模型做一些预测可视化看看，模型训练的是否正常。

参考 https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDet

[2019-10-16 10:30] shuxsu commented on #3584
字段正确是指？

[2019-10-16 10:35] qingqing01 commented on #3616
@dbcool  Paddle发布的>=1.5的whl包有类似的接口。 https://github.com/PaddlePaddle/models/pull/3091/files  这个PR已支持，最近可以考虑合入下。

简单的使用代码:

[code]

[2019-10-16 10:39] qingqing01 commented on #3403
@dbcool 我们近期会在PaddleDetection中release BlazeFace和Faceboxes模型，从速度上比PyramidBox有很大优势。Python的Infer也可以批量预测。

[2019-10-16 10:53] SunGaofeng commented on #3576
能把出错的文件发给我试下吗？或者能发下您保存pkl文件的代码吗？
看下是不是文件格式没有兼容python3

[2019-10-16 11:04] jerrywgz commented on #3584
可以先尝试在infer的时候将图片resize到训练的尺寸

[2019-10-16 11:12] sportzhang commented on #3576
代码使用的就是官方给的转换代码，https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleVideo/data/dataset/youtube8m/tf2pkl.py

[2019-10-16 14:23] shuxsu commented on #3589
可通过在 YMAL 配置文件中通过设置 finetune_exclude_pretrained_params字段 这个ymal配置是yml配置文件吧 而且这个字段：finetune_exclude_pretrained_params 全局搜索并没有找到
我看里面的字段值  忽略参数的字段  搜索到了 mask_head.py  这些代码里面的参数也要修改吗  里面的num_classes=81 这个是需要修改 其余的呢  感觉好乱 训练自己的数据集 除了修改eval里面 还要修改哪些呢   有没有比较详细的文档啊   乱乱的  我之前训练普通的mask rcnn  感觉没这么乱 现在我也不知道训练都需要修改哪些东西  而且没修改上面提到的mask_head.py  中的num_classes=81  训练也成功了 总之就很懵逼。。。。

[2019-10-16 14:26] shuxsu commented on #3584
图片并没有修改过  都是统一的cityscape数据集  而且 我用训练的图片 也并没有效果  同样报错

[2019-10-17 02:44] jerrywgz commented on #3584
你在训练的过程中应该有对输入图片做resize吧，比如[800,1333]这样的尺寸

[2019-10-17 02:47] shuxsu commented on #3584
代码我没有修改过。。。 就修改了一点配置文件和 coco_eval 那个类别对应的文件

[2019-10-17 03:05] fengyuentau opened #3630 "使用Docker镜像运行PyramidBox遇到的问题以及一些建议"
相关issue: https://github.com/PaddlePaddle/Paddle/issues/20667

受限于Docker版本，在我的机器上只能使用cuda9.0及以下版本的Docker镜像。机器的GPU是16GB显存的P100。

首先我拉取了`paddlepaddle/paddle:latest-gpu-cuda9.0-cudnn7`，并且尝试运行这个repo下最新的PyramidBox代码，但是遇到了以下错误：
[code]
可以保证的是，模型文件的确是放置在了指定的路径下，而且`conv2d_61.w_0`这个文件也是有的。

从相关issue中得知latest是develop分支，感觉可能是develop分支的问题，于是转而拉取了`paddlepaddle/paddle:1.5.0-cuda9.0-cudnn7`，并且以同样的步骤运行同样的PyramidBox

[2019-10-17 03:07] jerrywgz commented on #3584
训练阶段PaddleDetection会默认对图片做resize操作，只是在配置文件中省略了这段配置，详细配置可以参考：https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/docs/config_example/mask_rcnn_r50_fpn_1x.yml#L330 而在infer阶段默认是不会做resize操作的，我的意思是可以尝试对infer的输入图片也添加resize的操作
resize相关代码可以参考：https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/ppdet/data/data_feed.py#L464

[2019-10-17 03:22] heavengate commented on #3593
麻烦提供一下Paddle版本，models版本，环境等信息

[2019-10-17 03:27] mozpp opened #3631 "请问是否可以提供支持测试优化的whl包"
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/beginners_guide/install/Tables.html#id3
编译选项 ON_INFER 默认是off
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/beginners_guide/install/Tables.html#whl-dev
里面的包都没有测试优化，请问是否可以提供支持测试优化的whl包

[2019-10-17 03:27] mozpp commented on #3631
已尝试从源码编译，各种问题。请问是否可以提供支持测试优化的whl包。

[2019-10-17 03:42] slf12 commented on #3604
配置看起来是没问题的，可以把训练流程简单描述下吗？训练命令能发一下吗？

[2019-10-17 03:44] SunGaofeng commented on #3615
通过采样来解决的，每个视频抽取固定的帧数

[2019-10-17 06:08] qingqing01 commented on #3631
@mozpp  https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/advanced_usage/deploy/inference/build_and_install_lib_cn.html#c 看下这个能否满足~

[2019-10-17 06:11] qingqing01 commented on #3630
@fengyuentau  非常感谢，多谢指出，我们依据您的意见修改下，多谢了~  另外，我们在PaddleDetection集成了人脸检测。

[2019-10-17 07:07] #3405 closed, assigned to nobody

[2019-10-17 07:08] #3540 closed, assigned to nobody

[2019-10-17 07:09] #3582 closed, assigned to sjtubinlong

[2019-10-17 07:14] shuxsu commented on #3584
我用下载好的模型  jupyter里面能测试  终端就是会报错  什么原因呢

[2019-10-17 07:20] eddieheyutong opened #3637 "PaddleSeg：在自定义的数据准备时通过labelme生成了原图对应的.json文件，但是在数据格式转换时报错ModuleNotFoundError: No module named 'labelme'"
如题，原图和对应文件都已经准备好，labelme也已经安装好，但是在数据格式转换的时候报错
Traceback (most recent call last):
  File "labelme2seg.py", line 15, in <module>
    import labelme
ModuleNotFoundError: No module named 'labelme'
这个文件中我已经import了，也试着加上了sys.path.append('path')，但是还是会提示找不到这个labelme模块，请问下大神们这是什么缘由？

[2019-10-17 08:09] qingqing01 commented on #3589
1. finetune_exclude_pretrained_params的用法文档里已经说明了， 可以yaml config配置，也可以明命令里配置。 config里配置参考:   https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/configs/yolov3_mobilenet_v1_fruit.yml#L15

2. num_classes字段只需要在你的yaml config文件里正确设置即可，不需要修改源码。
例如修改 https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/configs/faster_rcnn_r101_1x.yml#L13 着的 num_classes。

3

[2019-10-17 08:17] shuxsu commented on #3589
我修改了那个yml配置 然后修改了coco_eval里面的类别  但是把里面的steps改成了50 把max_iters改18000  pre_nms_top_n:改 2000  milestones: [12000, 16000]也做了修改  但是测试时候就是输入和输出一样 但是我测试之前的模型  就能在jupyter上得到结果  用终端就是会报错 错误信息还是https://github.com/PaddlePaddle/models/issues/3584 这个错误  现在也不知道具体什么原因  不用我自己训练好的模型 用你们网站提供的  jupyter测试成功  终端测试就是不行

[2019-10-17 08:18] LutaoChu commented on #3637
你好，有可能是不同python解释器的问题。可以确认一下安装labelme的python解释器和运行文件的解释器是否一致。

另外，关于paddleseg的issue建议以后提到https://github.com/PaddlePaddle/PaddleSeg这个仓库里，可以更快让我们看到。

[2019-10-17 08:24] eddieheyutong commented on #3637
您好，我这个问题提在了您说的这个地方，然后这个labelme2seg文件我查看了并没有写python版本，您说的这个安装labelme的python解释器和运行文件的解释器该如何来核对是否一致呢？

[2019-10-17 08:26] eddieheyutong commented on #3637
@LutaoChu 您好，我这个问题提在了您说的这个地方，然后这个labelme2seg文件我查看了并没有写python版本，您说的这个安装labelme的python解释器和运行文件的解释器该如何来核对是否一致呢？

[2019-10-17 08:30] wenston2006 opened #3641 "如何通过搭建自己的字典来提升ocr的准确率?"
我现在有一项应用, 是识别票据上的汉字和数字; 目前汉字识别率约85%, 现在我想借助搭建字典,通过类似lexicon search来提升识别率; 不知道paddlepaddle有没有相关的库函数?

[2019-10-17 08:54] OliverLPH commented on #3571
这个8线程应该是[set_cpu_math_library_num_threads](https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/api/paddle_api.h#L314) 这个api，设置CPU数学计算的线程数。

不是分批在多个线程里处理，就是直接在设置config的地方，添加如下代码。
[code]

[2019-10-17 09:28] dhdljd commented on #3571
在这个平台上。设置8个线程。
_C.SetCpuMathLibraryNumThreads = 8
没有根据上面的建议进行C++优化；
优化启动时间：运行了5次exe.run以后，重新运行10次exe.run，并计时。
模型和输入应该是这个：DarkNet53-Yolov3-COCO	3x608x608
结果如下：
![image](https://user-images.githubusercontent.com/53200354/66995992-7663ee80-f102-11e9-896a-4de4f9a27aae.png)
![image](https://user-images.githubusercontent.com/53200354/66996381-381aff00-f103-11e9-8a8c-d18c25e1ac88.png)
感觉，主频上去以后，再经过优化，估计能

[2019-10-17 09:48] qingqing01 commented on #1520
PaddlePaddle Call Stacks:

<= 1.5.2 的版本建议设置:

[code]

[2019-10-17 09:48] #1520 closed, assigned to nobody

[2019-10-17 09:53] qingqing01 commented on #3641
目前没有lexicon search这样的东西。 我们开源了基于CTC和seq2seq+attention的识别模型，仅供参考。

[2019-10-17 11:54] SunGaofeng commented on #3615
不是等距采样，假设一个视频里面总共300帧，这里会采样7个片段(seg_num=7)，每个片段连续采样5帧(seglen=5)，具体过程是这样的：
1、首先把视频分成7个片段，每个片段的长度 = 300 / 7 = 42
2、对第一个片段，总长度是42，会在里面先随机选个起始点然后连续采样seglen帧
      选取起始点的方法是start_idx = random(0, 42-seglen)
3、对第2-7段视频仿照上面的方法分别采样5帧

那最后就是总共采样35帧的数据

具体实现代码请看reader部分：https://github.com/PaddlePaddle/models/blob/48f01f52cf3d2ee6abd3880d83530fe52e8bf8fe/PaddleCV/PaddleVideo/reader/kinetics_reader.py#L411

[2019-10-18 01:21] mozpp commented on #3631
这个是c++的吧？我希望用python的接口

[2019-10-18 01:36] shuxsu commented on #3589
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/ppdet/utils/coco_eval.py 这个文件我也修改了 这个应该是必须的吧

[2019-10-18 02:27] #3630 closed, assigned to nobody

[2019-10-18 03:19] LutaoChu commented on #3637
你好，我的意思是你会不会安装labelme的python和运行labelme2seg的python不是同一个，比如在python2上安装labelme，在python3上运行的labelme2seg。
之前也有用户碰到了这个问题。请先核对一下

[2019-10-18 05:56] chalsliu commented on #3506
可以描述下具体的环境，相关库的版本，以及提供下代码吗 @yxzero

[2019-10-18 06:47] zhizunbao-y commented on #3593
Paddle版本为1.5.2
model版本为最新版
环境信息是ubuntu16.04下的CUDA10+python3.7
我看Q&A和issue里都是模型不收敛，loss为nan，而我训练的模型收敛过快，没有一丝梯度爆炸的迹象，在验证集合上的效果不好。另外我的数据集不太一样，由于yolov3对于负框有object loss，为了提高模型区分负样本的能力，我的数据里大概有2000（共15000张）张没有gt的图像，不知道是否合理？

[2019-10-18 09:10] fc500110 commented on #3631
使用AnalysisConfig影响不大

[2019-10-18 09:16] qingqing01 commented on #3631
@mozpp  @fc500110 的意思使用AnalysisConfig，即使ON_INFER是OFF也影响不大。

[2019-10-18 09:19] qingqing01 commented on #3637
在 https://github.com/PaddlePaddle/PaddleSeg/issues/63 中跟进

[2019-10-18 09:19] #3637 closed, assigned to ZeyuChen

[2019-10-20 03:10] #3571 closed, assigned to qingqing01

[2019-10-20 03:19] qingqing01 commented on #3589
@shuxsu coco_eval.py 这个文件你修改了啥？ 实际用户不需要修改，在config里指定annotation等即可。例如提供的车辆检测的 https://github.com/PaddlePaddle/models/pull/3559/files 新增加的代码，没有修改任何代码， 提供 `vehicle.json` label信息。

[2019-10-20 03:35] shuxsu commented on #3589
修改了类别啊 我现在训练的cityscape数据集成有些类别 coco没有啊 我修改了 从原来的81类改成34 映射id改了 名字标签改了 现在测试完就是没数据……您能留给联系方式吗 或者有detection的群吗  加了paddle的群 但是大家不怎么搞这个

[2019-10-20 05:55] shuxsu commented on #3589
修改了类别啊 我现在训练的cityscape数据集成有些类别 coco没有啊 我修改了 从原来的81类改成34 映射id改了 名字标签改了 现在训练是不报错误的 但是用训练后的weights 去测试数据的时候 是没有结果的 输出还是原图 并没有结果……您能留给联系方式吗 或者有detection的群吗 加了paddle的群 但是大家不怎么搞这个  而且我之前的提问 就是我跑demo中的ipynb_mask那个再jupyter中就可以测试  我用cpu笔记本终端测试 infer.py就报错  用带gpu的工作站就不报错 但是都是没有结果 想知道原因
错误信息连接：https://github.com/PaddlePaddle/models/issues/3584

[2019-10-21 01:11] esun0087 commented on #3604
后来修改了学习率， 使用adam。学习率设置为0.001， 准确率到了93.x, 比量化前底了2个点， 这是属于正常的么。

[2019-10-21 02:07] slf12 commented on #3604
首先从您的描述来看，您对量化的使用是没有问题的，关于量化精度的问题，有一些精度下降是正常的事情，但是下降2个点是不是您的量化任务的最好的精度，您可以再继续调超参试下。

[2019-10-21 04:00] shuxsu opened #3681 "There is no params of batch norm in model /weights/mask_rcnn_r50_1x."
训练命令：python train.py -c=/home/shuxsu/PaddleDetection/configs/mask_rcnn_r50_1x.yml -d=/home/shuxsu/PaddleDetection/dataset/coco

错误信息：2019-10-21 11:55:16,802-INFO: Found /home/shuxsu/.cache/paddle/weights/mask_rcnn_r50_1x
Traceback (most recent call last):
  File "train.py", line 284, in <module>
    main()
  File "train.py", line 160, in main
    checkpoint.load_and_fusebn(exe, train_prog, cfg.pre

[2019-10-21 05:42] shuxsu commented on #3589
另外想咨询一下 训练数据集时候 loss:'nan' bbox:'nan' loss_cls:'nan‘是什么原因

[2019-10-22 03:56] shuxsu commented on #3584
我最近提了好几个issues  一直没人回复 能帮忙推进一下吗
https://github.com/PaddlePaddle/models/issues/3681
https://github.com/PaddlePaddle/models/issues/3589#issuecomment-544223364
https://github.com/PaddlePaddle/models/issues/3589#issuecomment-544357297

[2019-10-22 08:45] zhuyushi opened #3710 "labelme2coco.py代码错误"
labelme2coco.py生成的json文件中，"annotations"数组段中每个目标的"id"值不正确，"id"值与"image_id"只不应该是完全相同的，"image_id"是图片的id值，"id"是目标的id值，如果一个图片中包含多个目标，那么"id"与"image_id"就不相同。该问题会导致训练出的模型在检测多个目标的图片时只能检测出一个目标。

代码中deal_json函数、annotations_polygon函数和annotations_rectangle函数需要修改。修改后测试OK。

deal_json函数代码修改后如下（num变量改为image_num， 增加了object_num 变量）：
def deal_json(img_path, json_path):
    data_coco = {}
    label_to_num = {}
    ima

[2019-10-22 09:00] xhuanlc opened #3713 "release image inpainting codes for LBAM ICCV19"
release image inpainting codes for LBAM ICCV19

[2019-10-22 09:15] ronghaoLee opened #3715 "PaddleDetection训练私有数据检测数据集显存利用率较低"
Hi 您好，

     我在使用ppdet训练私有数据集时，出现了显存利用率过低的情况，希望可以帮助定位计算速度的瓶颈在哪。
     使用版本：paddle 1.5.1
     使用的配置文件：frcnn_r50_1x, ssd_500（图片预处理修改至1024*1024, 根据数据集情况修改过anchor设置）
     数据集情况：50张图，每张图分辨率1024*1024，上面总共存在1w个小型boundingbox
     使用体验：训练yolo_darknet_v3时明显比训练frcnn_r50和ssd_500快很多，而且在训练frcnn&ssd时，GPU的平均显存利用率很低。

希望可以定位到计算瓶颈所在，多谢啦！

[2019-10-22 09:16] zhuyushi opened #3716 "如何将snapshot的模型保存为model_final模型 & 如何暂停和继续训练模型"
请教两个问题，谢谢
1、使用PaddleDetection，在训练迭代一定数量后过会snapshot很多模型，最后完成训练会生成model_final。model_final模型可以用来推理，但是snapshot模型不能用来推理。请问如何将snapshot模型转存为model_final模型。
2、完成训练后生成了一系列snapshot模型和最后一个model_final模型，我是否可以在这个基础上继续训练。如果可以，应该如何继续训练，有没有命令或者写好python脚本。
谢谢。

[2019-10-22 09:41] #3370 closed, assigned to wanghaoshuang

[2019-10-23 02:50] pangr commented on #3616
@qingqing01 谢谢你的分享，但是我有一点疑问
[code]
在计时的时候是不是应该也需要加进去？如果加进去，时间就回变长（比没有tensorrt）也长，不知道您怎么看？

[2019-10-23 03:46] heavengate commented on #3715
https://github.com/PaddlePaddle/models/blob/9d4345501df987c804b56bea7ec9802ed445edb9/PaddleCV/PaddleDetection/configs/yolov3_darknet.yml#L68
配置文件里面的TrainDataFeed里面开一下多进程reader，即`use_process`设置为`True`试下

[2019-10-23 03:50] heavengate commented on #3716
1. snapshot和model_final完全一致，都可以用来推理和resume，配置文件的默认推理的weight路径是model_final而已，改一下配置文件里的weight路径或者`python tools/infer.py -c configs/yolov3_drarnet.yml -o weights=output/yolov3_darknet/2000`即可
https://github.com/PaddlePaddle/models/blob/9d4345501df987c804b56bea7ec9802ed445edb9/PaddleCV/PaddleDetection/configs/yolov3_darknet.yml#L12
2. 继续训练修改配置文件中pretrain_weights指向model_final路径或者`python tools/infer.py

[2019-10-23 06:06] xyzhou-puck commented on #2957
您好，一些样例已经开源，地址在此：https://github.com/PaddlePaddle/models/tree/release/1.6/PaddleNLP/PaddleTextGEN，欢迎试用，吐槽。

[2019-10-23 06:07] cucumberpieces commented on #2957
thx

------------------ 原始邮件 ------------------
发件人: "pkpk"<notifications@github.com>;
发送时间: 2019年10月23日(星期三) 下午2:06
收件人: "PaddlePaddle/models"<models@noreply.github.com>;
抄送: "cucumber王子"<wangchunyu008@qq.com>; "Author"<author@noreply.github.com>;
主题: Re: [PaddlePaddle/models] 请问，NLG自动文本生成这块，可以再添加两个demo样例吗 (#2957)

您好，一些样例已经开源，地址在此：https://github.com/PaddlePaddle/models/tree/release/1.6/PaddleNLP

[2019-10-23 06:10] mozpp opened #3724 "paddle无法在子进程中进行预测"
我想起多个进程，其中一个进程先初始化模型，然后不断预测。发现paddle和python的多进程multiprocessing有冲突
[code]

[code]

TypeError: can't pickle paddle.fluid.core_avx.AnalysisPredictor objects

[2019-10-23 06:17] mozpp commented on #3724
简化：
子进程中：
from paddle.fluid.core import AnalysisConfig
。。。
config = AnalysisConfig(model_path)
会报错
TypeError: can't pickle paddle.fluid.core_avx.AnalysisPredictor objects

[2019-10-23 06:27] SunAhong1993 commented on #3710
您好，十分感谢您的建议，确认后发现这部分确实有bug，我们已修复

[2019-10-23 06:35] xptree opened #3727 "Transformer based neural machine translation for high-performance inference"
Hi, I notice that you have released Transformer based NMT model at https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/neural_machine_translation/transformer. Excellent work!!!

I want to try the current model in production which has high QPS requirement. I wonder if PaddlePaddle has any plan to release a Transformer based NMT model for high performance inference, just like what you have

[2019-10-23 07:22] Yogurt2019 opened #3729 "多进程训练时内存占用过高导致训练程序崩溃"
使用近期更新的models/PaddleCV/image_classification中的多进程训练进行训练时，在validate过程中会出现内存迅速占满128G导致程序崩溃问题，之前在训练的时候就已经占很高了，我的训练环境及参数是:
自己的数据34万张图
batchsize 120
3张tesla v100
128G内存
py_reader的容量为4
reader_thread为6
reader_bufsize为1024
train_num为3
请问应该如何调整参数，以使训练时内存占用不会过大?

[2019-10-23 07:25] Yogurt2019 commented on #3729
使用的是paddlepaddle1.6rc最新版本
num_trainer为3 上面说错了

[2019-10-23 07:30] ronghaoLee opened #3730 "使用PaddleDetection进行模型训练出现cudaGetLastError"
Hi，
        我在使用faster rcnn/ssd训练非公开数据集时，会出现‘cudaGetLastError’报错，请问可能是什么原因呢？
       示例如下：使用修改后的faster_rcnn_r50_fpn_1x的配置文件（优化器使用adadelat），会出现以下情况：【注：调小学习率可能会避免这种情况，但是模型收敛效果不能保证】
![image](https://user-images.githubusercontent.com/46473363/67368406-dbf42700-f5a9-11e9-8935-57492086aee9.png)

[2019-10-23 08:31] pangr opened #3731 "使用faster_rcnn_dcn_r50_vd_fpn_2x_voc转tensorrt后，infer报错"
在使用tensorrt的方法做faster_rcnn_dcn_r50_vd_fpn_2x_voc的infer时会出现下面的问题
<img width="1326" alt="MacHi 2019-10-23 16-33-19" src="https://user-images.githubusercontent.com/5838111/67373827-dd761d00-f5b2-11e9-89dc-5f5e5c245c7a.png">

环境：
tensorrt 5.1
cuda9.0
paddle1.5

[2019-10-23 08:39] qingqing01 commented on #3681
@shuxsu 这个问题是由于加载的模型是用affine_channel训练，不是batch norm。加在模型时不用fuse-bn， tools/train.py中改下加载参数的分支，使用`checkpoint.load_params`分支，您可以先自己改下代码

https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/tools/train.py#L203

我们排查并优化下，感谢~

[2019-10-23 08:48] qingqing01 commented on #3589
@shuxsu 抱歉，我们自己加车辆检测、行人检测也好，都可以顺利的预测。我们联系你，提供下你们的数据加脚本，我们看下问题。

[2019-10-23 08:59] shuxsu commented on #3589
之前的问题是学习率过高估计导致nan 昨天训练的模型 测试的时候会有框 但是预测的标签并不是我自己数据集的 是coco上的标签 并且框的也不准确

[2019-10-23 09:06] qingqing01 commented on #3731
@pangr 请注意，使用TensorRT预测时，输入图片的shape必需和保存的model里的shape一致。 另外，对于rcnn系列，由于TensorRT对定长的限制，min_subgraph_size设置40。

[2019-10-23 09:24] qingqing01 commented on #3730
@ronghaoLee  在自己的数据集上训练时，是有可能需要调整学习率的。 另外，batch size和卡数的改变，也注意调整学习率。 https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/docs/GETTING_STARTED_cn.md#faq

在COCO数据集上，适当调小warmup阶段的学习率，没有影响最终的收敛效果。另外，我们在更换一些backbone时，有时候也会适当的调整学习率。 所以这个方法是可以尝试的。

[2019-10-23 09:48] jerrywgz commented on #3730
从log来看您使用的应该是2卡，我们在配置文件中所给出的学习率是对应八卡的学习率，可以根据上述链接中的文档来修改学习率相关配置

[2019-10-23 09:49] qingqing01 commented on #3681
另外，我改动测试:

[code]

[code]

 我测试没问题的。 Anyway,  我们可以再优化下体验。

[2019-10-23 10:15] wanghaoshuang commented on #3729
您好，可以设置显存管理相关的FLAGS:
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/flags/memory_cn.html#id1

建议将`fraction_of_gpu_memory_to_use`设置小点试试。

[2019-10-23 10:28] Yogurt2019 commented on #3729
你好，这个我设置成了0.98，我的意思是内存占满而不是显存

[2019-10-23 10:40] qingqing01 commented on #3710
Fixed by https://github.com/PaddlePaddle/models/pull/3726

[2019-10-23 10:41] #3710 closed, assigned to nobody

[2019-10-23 12:09] Yogurt2019 commented on #3729
而且我刚才看了一下代码，FLAGS_eager_delete_tensor_gb=0.0已经设置了，这个是在示例的python文件里就已经自动启用的，还是会把整整128g内存全部占满，是内存不是显存

[2019-10-23 12:12] shuxsu commented on #3681
你们的代码肯定是没问题的  主要是我是初学者 就很多地方搞不懂。。。麻烦了

[2019-10-23 12:29] qingqing01 commented on #3681
@shuxsu 嗯，理解，也感谢使用，我们会尽力解决的你的问题。 https://github.com/PaddlePaddle/models/pull/3735 这个PR做了一些优化，也可以review下。

[2019-10-23 12:31] shuxsu commented on #3589
之前的问题是学习率过高估计导致nan 昨天训练的模型 测试的时候会有框 但是预测的标签并不是我自己数据集的 是coco上的标签 并且框的也不准确 这个原因是训练的过于少吗 还是说我图片的原因 大小问题呢  我的数据集图片都是2048*1024的

[2019-10-23 13:19] pangr commented on #3731
@qingqing01 非常感谢您的回复。请问一下，检测代码如何存固定大小的model，我看公开的检测代码中存model的代码没有关于输入大小的设定

[2019-10-23 14:30] wangxicoding commented on #3145
现在nan的问题已经修好了，还有些流程上的问题在修。这个PR跑DGC应该没啥问题了https://github.com/PaddlePaddle/Paddle/pull/20758

[2019-10-23 15:37] universea opened #3737 "generative_paddle run error"
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/sklearn/externals/joblib/externals/cloudpickle/cloudpickle.py:47: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  **import imp
stage 0
Traceback (most recent call last):
  File "network.py", line 529, in <module>
    train(config)
  File "network.py", li

[2019-10-23 16:42] xptree commented on #3727
BTW, my current plan is to switch my production environment to TensorRT. But I am still interested in how to do efficient inference with PaddlePaddle.

[2019-10-23 22:19] yyaaa1 opened #3738 "转换预训练参数在paddlepaddle下使用"
请问下楼主有什么方法可以将pytorch或者tf的weights转换成paddlepaddle的格式吗？ 谢谢

[2019-10-24 01:59] xueeinstein opened #3739 "Pose estimation seems to work only for single person"
https://github.com/PaddlePaddle/models/blob/8aa202ade1a142d6476a67a65baf8160ad9e4b70/PaddleCV/human_pose_estimation/utils/utility.py#L341

@qingqing01  @KaiyuYue This postprocessing operation only gets max keypoints prediction from the heatmap. What if there are multiple persons? Is there any way to get multi-person pose?

[2019-10-24 02:02] wanghaoshuang commented on #3738
可以参考x2paddle这个项目：https://github.com/PaddlePaddle/X2Paddle

或者手动转换：
1. 参考pytorch搭建paddlepaddle网络结构
2. 分析得到pytorch与paddle的weight的名称的映射关系
3. 将pytorch的weight转换为np.array, 然后load到paddle模型里

paddle load np.array as parameter:https://github.com/PaddlePaddle/Paddle/issues/20795#issuecomment-545414948

[2019-10-24 02:05] wanghaoshuang commented on #3737
可以使用[fluid.layers.print](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/layers_cn/control_flow_cn.html#print) API打印出exepand的输入，观察其shape是否满足要求。
expand API: https://www.paddlepaddle.org.cn/documentation/docs/en/1.5/api/layers/nn.html#expand

同时，可以用Print输出观察下expand op的反向输入

[2019-10-24 02:15] fc500110 commented on #3724
用的哪个版本

[2019-10-24 02:30] cchan19 commented on #3737
same error. Does this program match the data of the baidu competition ?
https://aistudio.baidu.com/aistudio/competition/detail/14

[2019-10-24 02:43] cchan19 commented on #3737
似乎还没到fluid.layers.print 这个API起作用的时候就报错了。

[2019-10-24 03:08] qingqing01 commented on #3731
参考文档:  https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/docs/EXPORT_MODEL.md

[code]

[2019-10-24 07:37] #3731 closed, assigned to nobody

[2019-10-24 07:49] Yogurt2019 opened #3744 "fluid中是否有nll_criterion计算？"
需求中需要自己搭建loss，其中之前在pytorch上使用了nll_criterion，请问在paddle上是否有这种算子？
另外问一下有没有类似pytorch的masked_select这种方法？谢谢！

[2019-10-24 08:13] A1exy opened #3745 "请问Paddle 1.6什么时候发布"
如标题。

[2019-10-24 08:37] aixier opened #3747 "compress.py 压缩报错"
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/slim/quantization/compress.py
运行:
!python compress.py \
                    -s yolov3_mobilenet_v1_slim.yaml \
                    -c yolov3_mobilenet_v1_voc.yml
错误日志:
Traceback (most recent call last):
  File "compress.py", line 50, in <module>
    from ppdet.utils.check import check_gpu, check_version
ImportError: canno

[2019-10-24 11:15] guoshengCS commented on #3727
Baidu Translation uses PaddlePaddle as backend for online inference truely. While some works for high QPS requirement have been done but have not been ready to be released. Just like what [Faster Transformer](https://zhuanlan.zhihu.com/p/73715272) does, kernel fusion is the key point. However more fusion must be done since the small data size at each beam search step for decoding, actually MultiHe

[2019-10-24 11:31] xptree commented on #3727
@guoshengCS Thanks for your prompt reply and for providing the technical details. I will definitely try them in my case.

Please let me know when Baidu Translation Team decides to release related code in the future. I believe this will make a huge impact on both industry and academia.

[2019-10-24 11:31] #3727 closed, assigned to guoshengCS

[2019-10-24 12:03] wangxicoding commented on #3145
@listenlink 抱歉现在develop分支还有个小问题，fuse模式下DGC会失效，需要关闭fuse  dist_strategy.fuse_all_reduce_ops = False，之后会进行相应的修复

[2019-10-24 12:57] Forrest-ht commented on #3050
同问

[2019-10-24 13:19] wanghaoshuang commented on #3729
非常抱歉，我理解错您意思了。
内存占用应该是和data reader中多线程读取数据有关的，你可以调整下这两个参数：
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/utils/utility.py#L123-L124
减小并行处理数据的线程数，和bufferszie

如果还不能解决问题，只能减小batch size了

[2019-10-24 13:29] wanghaoshuang commented on #3747
抱歉，您可以暂时注释掉这两行：https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/slim/quantization/compress.py#L50
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/slim/quantization/compress.py#L120

[2019-10-24 13:30] wanghaoshuang commented on #3747
同时，建议您用models 1.6分支： https://github.com/PaddlePaddle/models/blob/release/1.6/PaddleCV/PaddleDetection/slim/quantization/compress.py

[2019-10-25 02:05] jerrywgz commented on #3681
该问题可通过更新models代码解决

[2019-10-25 02:05] #3681 closed, assigned to qingqing01

[2019-10-25 02:30] #3745 closed, assigned to nobody

[2019-10-25 03:59] flytoylf opened #3762 "lexical_analysis中sh run_ernie.sh eval报错"
![image](https://user-images.githubusercontent.com/29849325/67542310-cd7b4c00-f71e-11e9-9777-2ca33259ae02.png)

[2019-10-25 07:09] wangxicoding opened #3768 "PaddleDetection数据transform这个地方代码有问题吧"
这地方代码有些问题吧
https://github.com/PaddlePaddle/models/blob/361e10fb542c2c90966f8ee77a411d7e21c88932/PaddleCV/PaddleDetection/ppdet/data/transform/__init__.py#L70

用format时{是转义，'{{}}'输出的就是'{}了
代码应该是
[code]
![image](https://user-images.githubusercontent.com/10208305/67550554-4dd98700-f6f6-11e9-985f-ec120c10654e.png)

[2019-10-25 08:13] qingqing01 commented on #3768
@wangxicoding Thanks!

[2019-10-25 08:14] geng007 opened #3772 "Deformable Convolutional Networks"

[2019-10-25 08:23] ShenChen96 opened #3773 "用自己的VOC数据训练Cascade RCNN"
我已经将Config cascade_rcnn_r50_fpn_1x.yml中相应的参数设置为：

metric: VOC

FasterRCNNTrainFeed:
  batch_size: 1
  dataset:
    dataset_dir: dataset/voc
    annotation: VOCdevkit/VOC_all/ImageSets/Main/train.txt
    image_dir: VOCdevkit/VOC_all/JPEGImages
  batch_transforms:
  - !PadBatch
    pad_to_stride: 32
  drop_last: false
  num_workers: 2

FasterRCNNEvalFeed:
  batch_size: 1
  dataset:
    dataset_dir:

[2019-10-25 09:34] #3768 closed, assigned to nobody

[2019-10-25 09:56] qingqing01 commented on #3772
@geng007 目标检测里有，请参考 https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/docs/MODEL_ZOO.md#deformable-convnets-v2

[2019-10-25 10:04] qingqing01 commented on #3773
@CrazyRockWZJ

PaddleDetection里对VOC的数据下载，并做了合并:

[code]

即需要再dataset/voc目录下运行：

[code]

[2019-10-26 05:03] ShenChen96 commented on #3773
OK之前的问题解决了，可是我遇到了新的问题。。】
在开始训练后，显示报错并停止：
cv2.error: OpenCV(4.1.1) /io/opencv/modules/imgproc/src/color.cpp:182: error: (-215:Assertion failed) !_src.empty() in function 'cvtColor'
这是因为数据的问题还是其他的配置问题？同样的数据我使用mmdetection可以跑起来。
请问我该如何解决

[2019-10-26 05:04] ShenChen96 opened #3778 "cascade rcnn、"

[2019-10-26 05:04] #3778 closed, assigned to nobody

[2019-10-26 05:48] ShenChen96 commented on #3773
当我按照提示做了之后，依然显示报错“No such file or directory: 'dataset/voc/VOCdevkit/VOC_all/JPEGImages/15524713780796.json'”，很奇怪，明明指定了VOC数据，却要求我在JPEGImages下放入JSON。。。
当我把相应的JSON格式的标注文件全部放入JPEGImages文件夹之后，又报错
error: OpenCV(4.1.1) /io/opencv/modules/imgproc/src/color.cpp:182: error: (-215:Assertion failed) !_src.empty() in function 'cvtColor'

[2019-10-26 06:31] jiqiujia opened #3779 "关于PLATO训练过程中负样本的构造问题"
从源代码上看(https://github.com/PaddlePaddle/models/blob/release/1.6/PaddleNLP/Research/Dialogue-PLATO/models/unified_transformer.py#L326)，负样本的构造貌似是直接将正样本做了个反转？
如果是这样的话，基于反转构造的负样本会不会太简单了，导致这是个trivial loss？

[2019-10-26 08:40] qingqing01 commented on #3773
@CrazyRockWZJ

这个错误还是图片没读取正确。

数据组织格式如下：

[code]

配置改变如下，我测试了下是可以。

[code]

我们会在优化下VOC的数据组方式，将会支持原始下载数据，不合并的方式。

[2019-10-26 08:51] ShenChen96 commented on #3773
好的，我再尝试一下，谢谢

[2019-10-26 12:18] #3520 closed, assigned to qingqing01, MyPandaShaoxiang

[2019-10-27 10:09] loserdog-err opened #3780 "lac模型保存问题"
根据 https://github.com/PaddlePaddle/models/tree/release/1.6/PaddleNLP/lexical_analysis#%E6%A8%A1%E5%9E%8B%E4%BF%9D%E5%AD%98

如果想保存 `ERNIE finetuned model` 是否是如下命令？
`python inference_model.py --init_checkpoint ./model_finetuned --inference_save_dir ./inference_model`

下图是我使用 ERNIE finetuned model 调用   inference_model.py 后的结果，请问是哪里出了问题吗？
![QQ截图20191027181019](https://user-images.githubusercontent.com

[2019-10-28 02:24] ares5221 opened #3782 "where is PaddleMT"
PaddleMT is 404

[2019-10-28 02:34] sserdoubleh commented on #3779
构造batch之前，每个epoch经过random sampler，整个数据集已经随机打乱了；只要保证batch_size为偶数，那么这样构造就相当于随机负采样了

[2019-10-28 04:52] seiriosPlus commented on #3762
看报错是输入的参数类型不对， 请问有对模型做过改动么？

[2019-10-28 04:59] ShenChen96 opened #3784 "paddleDetection训练模型时，报错并终止训练"
在训练中途显示报错：
ValueError: all consumers exited, no more samples

2019-10-28 12:36:37,664-INFO: iter: 920, lr: 0.001000, 'loss_cls_0': '0.484241', 'loss_cls_2': '0.106703', 'loss_rpn_bbox': 'nan', 'loss_cls_1': '0.233949', 'loss_rpn_cls': '0.246742', 'loss_loc_1': '0.219890', 'loss': 'nan', 'loss_loc_2': '0.042145', 'loss_loc_0': '0.321073', time: 0.246, eta: 6:05:22
2019-10-28 12:36:42,503-INFO: iter

[2019-10-28 07:51] flytoylf commented on #3762
没有改动，就是按照README中的步骤傻瓜式执行的，sh run.sh eval是可以跑通的

[2019-10-28 08:04] 1145520074 opened #3790 "paddle slim模型保存在哪里？"
用paddle slim例子 做模型蒸馏训练，五个小时训练完成，中间没有日志，最后模型也没有保存，请问是什么原因？

[2019-10-28 08:10] wanghaoshuang commented on #3790
麻烦您把配置文件和脚本贴一下？

[2019-10-28 09:17] liushanshan07 commented on #1360
求问这个是咋解决的？

[2019-10-28 11:50] Bond-H commented on #3780
谢谢反映，目前的inference_model.py的代码暂不支持保存ERNIE finetuned的模型，近期会升级这方面的兼容

[2019-10-28 12:17] flytoylf opened #3793 "再提问一次，求解答：lexical_analysis中sh run_ernie.sh eval报错"
![image](https://user-images.githubusercontent.com/29849325/67677781-e6eef300-f9bf-11e9-83ee-b7b3477a09d2.png)
没有任何改动，就是按照README中的步骤傻瓜式执行的，sh run.sh eval是可以跑通的

[2019-10-28 13:05] ronghaoLee commented on #3730
好的 多谢哈

[2019-10-28 13:05] #3730 closed, assigned to jerrywgz

[2019-10-28 14:19] loserdog-err commented on #3793
目前来看 dev 分支会有问题，可以先用 release1.6 分支运行。

[2019-10-28 14:19] loserdog-err commented on #3780
好的，感谢。

[2019-10-28 14:33] jiqiujia commented on #3779
soga，我想错了，谢谢

[2019-10-28 14:33] #3779 closed, assigned to nobody

[2019-10-28 15:27] tensor-tang commented on #3782
https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/PaddleMT

[2019-10-29 02:24] 1145520074 commented on #3790
就是官方配置文件，没有任何修改

[2019-10-29 03:45] Wzj02200059 opened #3798 "cannot import name 'ColorTTY'"
按照官网安装教程安装的都没有问题，pip install -r requirements.txt 需要的依赖也都装了。
在跑示例的时候，可以正常训练，但是Infer的时候就不行了。
python -u tools/infer.py -c configs/yolov3_mobilenet_v1_fruit.yml --infer_img=demo/orange_71.jpg -o output/yolov3_mobilenet_v1_fruit.tar
提示报错。
 File "/home/wjf/models-develop/PaddleCV/PaddleDetection/ppdet/core/config/schema.py", line 29, in doc_parse
    from ppdet.utils.cli import ColorTTY
ImportError: can

[2019-10-29 08:36] baiyfbupt commented on #3790
经过排查，已确认是用户环境问题。暂时关闭该Issue，如有需要可以随时reopen~

[2019-10-29 08:36] #3790 closed, assigned to wanghaoshuang, baiyfbupt

[2019-10-29 10:14] #3747 closed, assigned to nobody

[2019-10-29 11:16] ronghaoLee commented on #3715
好的 谢谢啦～

[2019-10-29 11:16] #3715 closed, assigned to nobody

[2019-10-29 12:08] liuzhijie03 opened #3803 "data/dataset/youtube8m将tfrecord转为pkl"
当文件较多时，后面的转换速度会越来越慢，有没有好的处理方式？tf2pkl.py

[2019-10-29 12:25] jerrywgz commented on #3798
我这边是可以正常运行的
![image](https://user-images.githubusercontent.com/22989727/67766793-37cb1e00-fa8a-11e9-8d59-08ab563ac337.png)

[2019-10-29 13:26] qingqing01 commented on #3798
@masterWong1  安装时，需要注意 `pip install -r requirements.txt`

[2019-10-29 13:42] qingqing01 commented on #3798
@masterWong1 您可以去掉tools/infer.py中的print_total_cfg相关内容试下。 即删掉import的那行，和后面引用的那行。

[2019-10-29 16:17] geng007 opened #3807 "Non-local"

[2019-10-30 01:53] SunGaofeng commented on #3803
由于youtube8m数据集比较大，转化过程确实很花时间。如果想加快处理速度的话，可以把原始数据分成多个文件夹，对每个文件夹里面的数据分别用tf2pkl.py脚本处理，相当于同时开了多了处理进程，可以加快转化速度。

[2019-10-30 02:44] LielinJiang commented on #3744
log_soft_max + nll_loss 等价于softmax + cross_entropy，可否用后者代替？不行的话也可以用基础的乘，加算子组合一个。
masked_select在paddle中没有对应的算子，不过可以用where+gather+reshape实现

[2019-10-30 02:46] Noplz commented on #3739
Hi xueeinstein，since “Simple Baselines” is a top-down pose estimation method，it can not estimate multi-person pose by a single forward. I think you can try some bottom-up methods (e.g. OpenPose, but is not available in Paddle for now) or use another human detector to get some proposal regions.

[2019-10-30 06:26] Forrest-ht commented on #3050
同样报错，能回答一下吗？谢谢

[2019-10-30 06:35] Ezra-Yu commented on #3396
现在1.6发布了，我找不到关于yolov3的剪裁、量化的实例，已经可以使用了吗

[2019-10-30 07:50] Yogurt2019 commented on #3744
好的，原来paddle中的nll就是cross_entropy，还有一个cross_entropy_with_softmax，谢谢！

[2019-10-30 07:50] #3744 closed, assigned to qingqing01

[2019-10-30 08:15] dhName opened #3819 "ARNOR模型代码什么时候开源呢"
ARNOR模型代码什么时候开源呢

[2019-10-30 08:32] JiabinYang commented on #3819
This is a research work for now, we don't have the specific time of it

[2019-10-30 10:34] qingqing01 commented on #3798
@masterWong1  在这里 https://github.com/PaddlePaddle/PaddleDetection/pull/6  做了优化，您可以使用 PaddlePaddle/PaddleDetection 更新看下。

[2019-10-30 11:48] mozpp opened #3826 "期待更新Gaussian loss"
https://github.com/jwchoi384/Gaussian_YOLOv3

[2019-10-30 12:17] ghost opened #3828 "How to run BERT model correctly and interpret results?"
Hi,

I have a question regarding BERT model. I use the model from this repository and run it with parameters you suggest, I run the `pretraining` stage, so I use `train.py` script. I only change batch size and max_seq_len parameters, but config and every other parameter is the same as recommended.

1. Now my question is - how to interpret the results? For example if I run with batch_size 1024 and

[2019-10-31 01:46] Wzj02200059 commented on #3798
我发现还是依赖的问题，我用conda重新安装依赖之后就好了。
但是我又发现现在在训练的过程中，会突然报错停止。报错信息是：
PaddleCheckError: Expected begin_idx < end_idx, but received begin_idx:12 >= end_idx:12.
The start row index must be lesser than the end row index. at [/paddle/paddle/fluid/framework/tensor.cc:82]
不知道这又是啥情况

[2019-10-31 01:51] spiritsky123 opened #3829 "models-develop版本的inference跑yolov3模型出错"
按照https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/PaddleDetection/inference
上的指引去做，linux平台和windows平台都试了下，自带的模型可以，但是用paddlehub上下下来的yolov3_coco2017，就跑出错，是不是对yolov3的支持都不太好？或者没有测试过？

[2019-10-31 02:48] jerrywgz commented on #3829
现在paddlehub上的yolov3模型是基于https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/yolov3 这个目录下比较老的实现了，期间修改过一次resize实现，具体参考
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/yolov3/models/yolov3.py#L70
 会导致模型结构改变了，我们会更新下paddlehub的支持

[2019-10-31 02:52] spiritsky123 commented on #3829
用1.5版本的PaddleCV/PaddleDetection/下的yolov3的配置，是不是也是一样的？也跑不下来。
是否要用develop的版本重新跑一次模型？

[2019-10-31 02:54] Dely-Yu commented on #1360
任务10连跪。。

[2019-10-31 03:08] jerrywgz commented on #3829
想问下，你这边用的用于inference的模型是怎么得到的？可以参考https://github.com/PaddlePaddle/PaddleDetection/blob/master/docs/EXPORT_MODEL.md 这个文档将训练好的模型导出为预测需要的模型。如果希望用老的inference模型，可能需要修改下models的代码 https://github.com/PaddlePaddle/models/commit/958b08cd82fa30d0baf0ee760378fe5008ea154f 参考这里，将代码改回原始版本

[2019-10-31 03:12] spiritsky123 commented on #3829
我用的模型是在1.5的models版本，用PaddleDetection你的train.py训练产生的，然后再用当时的infer.py可以save_inference_model。
如果说develop版本的预测代码不匹配，是否2种方式都可以，要么将develop的相应的代码改回去，要么用develop的版本再重新产生模型？

[2019-10-31 03:23] jerrywgz commented on #3829
是的，只要用相同版本的代码，训练+save_inference就是可以的

[2019-10-31 03:40] xueeinstein commented on #3739
Hi @Noplz, Thanks for your reply. I see the limitation of the "Simple Baselines". As I know, MPII dataset contains annotations for multi-person. I just wonder if it is possible to parse the heatmap and extract multi-person as well.

I'd like to close this issue now. Feel free to comment on any solution! Also, looking forward to seeing the implementation of OpenPose in Paddle.

[2019-10-31 03:40] #3739 closed, assigned to qingqing01

[2019-10-31 03:58] qingqing01 commented on #3798
@masterWong1 是直接使用开源模型吗？ loss里有没有出nan？使用了几个卡训练？ 如果不是8卡训练，请注意看FAQ，是否需要调节lr https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/docs/GETTING_STARTED_cn.md#faq

[2019-10-31 04:09] Wzj02200059 commented on #3798
是在CascadeRCNN上的Fine Tune，训练过程没有出现过Nan，单卡训练，并且已经屏蔽了cls_score和Bbox_pred

[2019-10-31 05:00] aprilvkuo opened #3838 "Add dialogue_domain_classification Model"

[2019-10-31 06:13] guomq1 opened #3841 "DeepFM-loss正常收敛，但auc_val一直都是0.00000"

[2019-10-31 06:32] guomq1 commented on #3841
python 3.7
CPU:2.3 GHz Intel Core i5
paddle:1.6.0
模型参考的demo:https://github.com/PaddlePaddle/models/tree/develop/PaddleRec/ctr/deepfm
仅修改：dataset reader和batchsize等参数

[2019-10-31 07:08] linuxsong opened #3843 "dialogue_general_understanding 是否支持ERNIE中文预训练模型"
dialogue_general_understanding 是否支持ERNIE中文预训练模型？
文档中写的支持的预训练模型中只列出来了ERNIE, english。没有ERNIE, chinese,不知是否支持。

[2019-10-31 07:23] jerrywgz commented on #3843
dialogue_general_understanding这个里面都是英文任务

[2019-10-31 08:18] shiwl0329 opened #3847 "吐槽"
paddle model写的有点。。，各种回调，封装也就算了，但正常实现一个pr\f1指标的实现，会发现目前的run_classify.py的各种判断（train\dev\test\infer），main函数写的一堆代码，真的。。；我看懂了aistudio的pr\f1指标的计算，各种变量参数传递，debug通了都不想按照demo的方式去做，自己实现一个pr\f1指标的计算，你们底层借鉴人家sklearn的metrics计算，自己对外输出是否应该友好一些呢？

[2019-10-31 08:19] #3847 closed, assigned to nobody

[2019-10-31 08:29] linuxsong commented on #3843
那再问下，是否有中文的支持计划？

[2019-10-31 08:30] jerrywgz commented on #3843
目前好像还没有，我们可以记录下作为一个需求

[2019-10-31 08:48] linuxsong commented on #3843
希望能够早日支持，如果仅仅支持英文，那对国内用户的实用性就会大打折扣了。

[2019-10-31 08:50] jerrywgz commented on #3843
好的，感谢您的反馈

[2019-10-31 08:57] wanghaoshuang commented on #1360
目前唯一的解决办法是编译源码安装paddle，编译时把MKL选项关掉：

https://github.com/PaddlePaddle/Paddle/blob/develop/CMakeLists.txt#L65

继续探索更科学的解决办法...

[2019-10-31 09:20] wanghaoshuang commented on #1360
## Check TLS memory size of libwarpctc.so
Find `lbwarpctc.so` in python site-packages:
[code]
Use `readelf -l libwarpctc.so` check memory size of TLS:
[code]
There is no TLS in program headers. So we should check all the `so` needed by `libwarpctc.so`.

[code]
[code]
[code]
[code]
`/usr/lib64/libgomp.so.1` is an openmpi library:
[code]
`/usr/lib64/libgomp.so.1` need 0x0000000000000064 (100bytes) T

[2019-10-31 11:48] #3828 closed, assigned to nobody

[2019-10-31 12:00] wilhelmzh commented on #3841
你好，训练时的auc有问题吗？auc_val为0是说infer的时候吗

[2019-10-31 12:05] geng007 opened #3851 "TSM"

[2019-10-31 12:13] guomq1 commented on #3841
是的。infer的时候。train的时候auc没有打出来

[2019-10-31 12:57] NHZlX commented on #3784
请问你用的是哪个版本的paddle进行训练的呢

[2019-10-31 13:59] #3851 closed, assigned to SunGaofeng

[2019-11-01 00:34] xyzhou-puck commented on #3843
您好，感谢您的关注，会支持中文的，请关注我们下个版本。

[2019-11-01 01:35] Yogurt2019 commented on #3729
好的，这些估计还需要调参来解决，谢谢!

[2019-11-01 04:52] qingqing01 commented on #3826
@mozpp 多谢建议，我们调研看下~

[2019-11-01 07:36] shentielin opened #3856 "关于ARNOR"
请问ARNOR代码会开源吗？我在数据集中发现了数据泄露的问题，想用代码上验证一下

[2019-11-03 02:07] gongweibao commented on #2050
现在使用混合精度已经很简单了，只需要改动一行就可以了。你可以参考这里：https://github.com/PaddlePaddle/Fleet/blob/develop/benchmark/collective/resnet/train_with_fleet.py#L294
有问题请留言。

[2019-11-03 12:30] shengyuqing opened #3862 "win10无法运行yolov3！"
首先是我的环境配置
1）PaddlePaddle版本：paddlepaddle-gpu，1.6.0.post107
2）使用GPU进行训练，CUDA10，cuDNN,7.3
3）系统环境：WIN10

跑官网下载的yolov3目标检测算法报错，报错信息：
WARNING:root:paddle.fluid.layers.py_reader() may be deprecated in the near future. Please use paddle.fluid.io.DataLoader.from_generator() instead.
Found 2 CUDA devices.
W1103 20:15:19.473218 8236 device_context.cc:235] Please NOTE: device: 0, CUDA Capability: 75, Driver A

[2019-11-04 02:41] heavengate commented on #3862
[code]
由于nvidia nccl不支持Windows，因此Windows上只能跑单GPU，可以试下
[code]
来设置单卡运行，另外，对应学习率需要调低一些，否则可能出nan

[2019-11-04 02:49] #3773 closed, assigned to nobody

[2019-11-04 02:53] jerrywgz commented on #3589
经过和用户的沟通，目前所遇到的问题做下总结：
1. 模型加载报bn参数不存在问题：由于models代码版本较老，处于未加入finetune功能的版本导致
2. 使用检测库提供脚本将数据转为coco格式后，训练仅有一个类的问题：经沟通发现原数据格式为cityscape格式，而检测库提供脚本为labelme格式，并不兼容cityscape格式，目前已经将问题修复并提pr，将转换脚本改名为x2coco.py https://github.com/PaddlePaddle/models/pull/3760/files
3. 训练参数问题：在对小数据集finetune时，将pretrain_weights设置为paddle release模型链接，并可以将迭代轮数降低；num_classes设置为（类别个数+背景类）
4. resize问题：maskrcnn中默认训练时resize到800，1333

[2019-11-04 02:53] #3589 closed, assigned to nobody

[2019-11-04 02:53] qingqing01 commented on #3616
@pangr  这个过程有numpy array的数据转换为fluid.core.PaddleBuf的数据，确实会增加耗时。这块可以参考最新的1.6的预测接口改进的文档，是可以不用转换成list (buf = np_data.flatten().tolist())。

[2019-11-04 02:53] #3616 closed, assigned to nobody

[2019-11-04 02:54] jerrywgz commented on #3584
经过和用户的沟通，目前所遇到的问题做下总结：
1. 模型加载报bn参数不存在问题：由于models代码版本较老，处于未加入finetune功能的版本导致
2. 使用检测库提供脚本将数据转为coco格式后，训练仅有一个类的问题：经沟通发现原数据格式为cityscape格式，而检测库提供脚本为labelme格式，并不兼容cityscape格式，目前已经将问题修复并提pr，将转换脚本改名为x2coco.py https://github.com/PaddlePaddle/models/pull/3760/files
3. 训练参数问题：在对小数据集finetune时，将pretrain_weights设置为paddle release模型链接，并可以将迭代轮数降低；num_classes设置为（类别个数+背景类）
4. resize问题：maskrcnn中默认训练时resize到800，1333

[2019-11-04 02:54] #3584 closed, assigned to jerrywgz

[2019-11-04 03:13] #3403 closed, assigned to FDInSky

[2019-11-04 05:07] #3713 closed, assigned to nobody

[2019-11-04 05:11] ellinyang opened #3867 "fluid1.5.0 mobilenetSSD nms输出坐标不在0-1之间"
硬件环境：GPU v100
软件环境：fluid1.5.0 ，batch=12, input_size=640
问题：用fluid1.5.0 mobilenetSSD640训练模型时，训练集mAP1.0,测试集0.0;打印fluid.layers.detection_output 结果，发现很多坐标超出0-1范围, 请问detection_output内部会限制0-1范围吗？为什么会出现这种情况？
lodTensor转Numpy输出结果：
![image](https://user-images.githubusercontent.com/20673237/68101009-5e63db80-ff06-11e9-90d3-0bdbea9aedba.png)

[2019-11-04 05:30] qingqing01 commented on #3867
@ellinyang detection_output不会对输出做clip，需要在外面做clip_bbox，可以参考 https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ssd/infer.py#L121

[code]
如果您用的PaddleDetection，clip是在: https://github.com/PaddlePaddle/PaddleDetection/blob/1f5b8d5c4c46ca52374723123268403d8f471008/ppdet/utils/coco_eval.py#L220

如果是ssd的目录，是在:  https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ssd/infer.py#L121

[2019-11-04 07:34] #3829 closed, assigned to jerrywgz

[2019-11-04 08:31] ellinyang commented on #3867
@qingqing01 好的，谢谢。

[2019-11-04 13:32] isofun opened #3871 "sentiment_classification跑不到给出的结果"
你好
[文档](https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/sentiment_classification) 中给出的实验结果准确率在90%左右，我理解的是表格中的结果左边是没用预训练，右边用了预训练；但是我用目前的代码只能跑到70%左右，然后devloss就开始上涨了，默认参数基本上没有改动，只是把batch_size改成了32，希望能够帮忙看一下问题出在哪里了。
以下是部分日志，dev loss最低的时候大概为0.62：
[dev evaluation] ave loss: 0.648370, ave acc: 0.710833, elapsed time: 1.372104 s
step: 7860, ave loss: 0.330971, ave acc: 0.843750, speed: 3.124

[2019-11-04 14:27] Ezra-Yu opened #3872 "检测模型YOLOv3卷积通道剪裁，使用自己的数据集时，报缺缺‘im_id’错误"
![image](https://user-images.githubusercontent.com/18586273/68128026-f2a76000-ff51-11e9-8d3e-801ad829e805.png)
我查看源码，在eval.py中，以及results的每一个item的dict中，就是缺少‘im_id’
![image](https://user-images.githubusercontent.com/18586273/68128114-14084c00-ff52-11e9-9ffc-a605f0637034.png)
我自己尝试修改eval_run方法，但没有任何效果

[2019-11-04 23:22] leonleeldc opened #3874 "ModuleNotFoundError: No module named '_sqlite3‘"
在一个server里安装了paddle，在import paddle, 就出现了这个错误。 但是_sqlite3好像只用在python2上，我用的是python3.6。为啥会需要这个呢？我在其他server里没有遇到这个问题。在那个server里，python是自己编译的，在编译python的时候，我用了如下command。

CC=/opt/compiler/gcc-4.8.2/bin/gcc ./configure --prefix=/home/dingcheng/workspace/python_3.6.1 --enable-unicode=ucs4 --enable-loadable-sqlite-extensions --enable-shared  --enable-optimizations

这里面也包括sqlite。

这种情况该怎么修复呢？

[2019-11-05 02:40] littletomatodonkey opened #3875 "py_func 输出值的lod_level指定"
![image](https://user-images.githubusercontent.com/14270174/68174215-4187e080-ffb8-11e9-9822-4e7831288318.png)
想问下在py_func怎么指定输出的lod level呢？如图中的pred_result，想让它的lod_level为[N,6]，和标准的nms相同。

[2019-11-05 02:47] xiangyubo commented on #3875
我也有类似的疑问，后来我就绕过去了。这块儿有点难搞

[2019-11-05 03:15] ChinaLiuHao commented on #3871
你好，有以下几点需要注意的地方，麻烦check一下：

1. 训练数据的编码需要和词典的编码一致（为utf8），可以看下feed进去的id是否正常；

2. 如果使用预训练的BI-LSTM模型，需要修改run.sh和senta_config.json中的配置。
run.sh脚本修改如下：
MODEL_PATH=senta_model/bilstm_model/
在eval()函数中，修改如下参数：
--vocab_path $MODEL_PATH/word_dict.txt
--init_checkpoint $MODEL_PATH/params
senta_config.json中需要修改如下：
vob_size大小对应为上面senta_model/bilstm_model//word_dict.txt，词典大小
"vocab_size": 1256606

3. 如果用户需要使用预训练

[2019-11-05 03:40] isofun commented on #3871
你好，我刚检查了一下，训练集和验证集的数据读入都是正常的，也没有使用预训练的模型。

[2019-11-05 04:09] #3867 closed, assigned to nobody

[2019-11-05 07:33] xiangyubo commented on #3875
我有个 demo 是这么写的，可以直接运行，看看是不是有帮助
[code]

[2019-11-05 08:03] ChinaLiuHao commented on #3871
你好，可以来这个qq群里交流一下。758287592

[2019-11-05 08:12] littletomatodonkey commented on #3875
嗯嗯，按照楼上的思路，5000张图片结果对齐，谢谢！

[2019-11-05 09:20] #3875 closed, assigned to nobody

[2019-11-05 10:43] OliverLPH commented on #3874
您好，我也遇到过类似的问题。看起来你的python的应该就没编出_sqlite3

make的过程中，应该会遇到这个问题。
[code]

我的解决办法是自行编译一个 _sqlite3。

1. 从这里https://www.sqlite.org/download.html下载一个，然后编译
[code]

2. 加入环境变量
[code]

3. 重新编译python，但先修改python代码里面的setup.py文件
[code]

[code]

然后编译python就可以了，你可以试下

可以参考这个回答https://stackoverflow.com/questions/32779768/python-build-from-source-cannot-build-optional-module-sqlite3

[2019-11-05 13:27] L-lei opened #3877 "场景识别attention_model在paddle1.5，1.4，1.6版本上都存在收敛问题"
`场景文字识别attention_model存在收敛问题，这个模型文档上说在1.5上面存在，实则在1.5，1.4，1.6的版本上都存在收敛问题。在aistudio平台上面1.4版本日志，1.5和1.6是开始训练就有。
`
Time: 1572957349.9853573; Iter[16000]; Avg loss: 0.217; Avg seq err: 0.016
kpis    train_cost      0.216565
kpis    train_acc       0.984461

Time: 1572957645.2934074; Iter[16000]; Test seq error: 0.0085.

kpis    test_acc        0.991500

Time: 1572958057.7032695; Iter[17000]; Avg loss:

[2019-11-06 03:48] wanghaoshuang commented on #3877
@L-lei 非常抱歉给您造成了困扰，我们已经修复了该问题。
将clip by value 替换为 clip by global norm， 在我们release的数据任务上，训练非常正常稳定，loss不会再出现nan,。

[2019-11-06 05:05] L-lei commented on #3877
@ 王浩双
非常感谢

[2019-11-06 08:08] mozpp opened #3890 "官方代码depthwise_conv2d的flops计算错误"
https://github.com/PaddlePaddle/models/blob/7c73360fbaca386300376f9e63e2ac1701590cf2/PaddleCV/Research/astar2019/utils.py#L121
![图片](https://user-images.githubusercontent.com/25809906/68279843-411e4100-00af-11ea-95e9-83dd9a5c5dd6.png)
如图，一个7通道、3*3可分离卷积的param最后算得9。（一定算错了）
我自身模型文件是没问题的。

[2019-11-06 09:19] shiwl0329 opened #3891 "texcnn finetune是不是限制了只能三分类"
在做二分类task的时候，发现报错如下：
![image](https://user-images.githubusercontent.com/13725297/68285017-792a8180-00b9-11ea-8b49-567701484ba6.png)

[2019-11-06 09:21] heavengate commented on #3890
这个打印还没有支持depthwise_conv2d，我们确认一下尽快支持~

[2019-11-06 09:28] littletomatodonkey opened #3893 "can not import ppdet.core.workspace"
在PaddleDetection目录下，直接运行，提示无法导入，运行python，再导入，是没问题的，想问下这是什么问题呢？

![image](https://user-images.githubusercontent.com/14270174/68285650-a1ff4680-00ba-11ea-8ec8-ba39555e16c6.png)

[2019-11-06 09:31] heavengate commented on #3893
第一次运行之前有 `export PYTHONPATH=`pwd`:$PYTHONPATH` 么

[2019-11-06 09:34] heavengate commented on #3891
应该是你在做二分类的finetun，但是导入了三分类的weight，你在load weight的时候把最后那层与类别数有关的weight不要导入，或者直接在weight里面把那个和类别数输出相关的权重删掉就可以了

[2019-11-06 09:35] littletomatodonkey commented on #3893
嗯嗯之前没有，运行之后可以了，感谢感谢（不过我在本地好像不用这样export..）

[2019-11-06 09:36] shiwl0329 commented on #3891
这个在哪指定呢？并不很清楚相关的api，我理解的finetune model应该是与label无关的weight param，我用ernie finetune就不会出现这种问题。或者在paddle qq群指导一下，让大家也知道这个问题

[2019-11-06 09:41] heavengate commented on #3893
python识别当前目录作为PYTHONPATH不同环境和版本，还有本身系统配置上会不同，估计是运行了python之后能识别当前目录了。。。

[2019-11-06 09:49] #3893 closed, assigned to heavengate

[2019-11-06 11:00] heavengate commented on #3891
一般是网络最后一层，每一层都有名字的，你可以在pretrain里面把包含网络租后一层权重的文件删掉

[2019-11-06 11:21] shiwl0329 commented on #3891
确实OK，谢谢，但这种有点略显笨重，用ernie finetune直接就可以train model，不像这个，还不知道什么原因导致的~

[2019-11-06 11:25] heavengate commented on #3891
应该是ernie发布的pretrain权重里面不包含输出层

[2019-11-06 11:27] shiwl0329 commented on #3891
应该是的，但是这种pretrain model，为何把label限定死了，这个用户想做个多分类都难，哈哈

[2019-11-06 14:17] #3891 closed, assigned to nobody

[2019-11-07 01:24] Ezra-Yu opened #3895 "模型剪裁后，fps降低了，是什么原因"
![image](https://user-images.githubusercontent.com/18586273/68352027-221bbf80-0140-11ea-8750-34a57ccc6e77.png)

我跑了yolo，backbone是mobileNet，在剪裁后模型的fps由69.8降低为54.8，就很奇怪。
其他参数都很正常

[2019-11-07 02:08] Ezra-Yu commented on #3895
我仔细看了下，没裁减之前用的model测得fps，裁减后用的eval_model测得fps，这样fps速度就正常了！
大概没裁减为46.7，裁减后为52.7
这就有新的问题了，为什么eval_model会比model慢，model的磁盘占用空间一般是eval_model的两倍。

[2019-11-07 08:12] sunnymoon155 opened #3897 "特征提取"
请问对于BSN和BMN，如果我要使用其他数据集，特征提取是怎么做的呢？用dense_flow提取出视频文件的RGB和FLow Image后，如何用预训练的TSN模型得到 csv_mean_100这里面的csv特征呢？

[2019-11-07 08:30] #3729 closed, assigned to wanghaoshuang

[2019-11-07 09:04] Yogurt2019 commented on #3129
你好，我在训练图像分类时也遇到了这个问题，请问你解决了么？

[2019-11-07 10:39] shiwl0329 opened #3898 "softmax改造sigmoid输出"
![image](https://user-images.githubusercontent.com/13725297/68381993-c8da7d00-018d-11ea-9391-f9dca06d4f8a.png)
act="softmax"，单纯改成act="sigmoid"，训练会出错，求解

[2019-11-07 10:55] Yogurt2019 opened #3899 "Imagenet图像分类工程，内存一直不停增长直到占满"
你好，我使用的是github上最新1.6版本的models工程PaddleCV中的image_classification，PaddlePaddle版本1.6，工程基本没有改动，使用我自己的数据集，在多进程训练时，内存会一直不停增长，直到内存全部占满。
我的内存大小是128G，使用的显卡是Tesla V100
**另外我尝试调整过reader_thread、reader_buf_size和batch size，已经调整到足够小了，再小的话会影响性能，reader_thread为6，reader_buf_size为512，PyReader的capacity调整为4，而且我开启了FLAGS_eager_delete_tensor_gb=0，打开inplace策略等，内存还是会一直不停增长，直到128G内存全部占满。**
请问这种情况如何解决？

我刚刚试了一下，使用imagenet数据集来训练

[2019-11-07 11:41] #3772 closed, assigned to nobody

[2019-11-07 11:42] LielinJiang commented on #3899
请问你使用的训练命令是？

[2019-11-07 11:44] Yogurt2019 commented on #3899
python -m paddle.distributed.launch train.py

[2019-11-07 11:44] qingqing01 commented on #3784
@CrazyRockWZJ 请问问题是否已解决？如果没有，请具体描述下模型、数据、GPU/CPU个数、机器等详细信息

[2019-11-07 11:46] qingqing01 commented on #3531
@dbcool 请问问题是否已解决？

[2019-11-07 11:49] LielinJiang commented on #3899
能给下完整的运行参数吗？我先复现一下

[2019-11-07 11:54] Yogurt2019 commented on #3899
您好，可以加您QQ说么？我的QQ是563738456，谢谢！
CUDA_VISIBLE_DEVICES=0,1,2,3 python -m paddle.distributed.launch train.py \
       --model=ResNet34 \
       --batch_size=120 \
       --total_images=490000 \
       --class_dim=6671 \
       --image_shape=3,672,672 \
       --model_save_dir=output/ \
       --lr_strategy=piecewise_decay \
       --reader_thread=6 \
       --reader_buf_size=512 \
       --lr=0.1

[2019-11-07 11:55] LielinJiang commented on #3899
好的~

[2019-11-07 11:56] SunGaofeng commented on #3807
原作者开源的代码中输入数据有32帧和8帧两种，Paddle这里实现的是8帧的。sampling_rate是采样间隔，您上面贴的video_length = 32时sampling_rate=2；Paddle实现的是video_length = 8，所以用的sampling_rate=8。

如果改成sampling_rate=1的话，正如您所说就变成连续采样8帧了，这样做的效果没有验证过，可能连续帧抽样的数据时序建模效果会不好。

[2019-11-07 12:16] slf12 commented on #3872
‘image' , 'im_size', im_id'是在create_feed函数里创建的，data_feed.py里也说了feed的数据是有'im_id‘的
![image](https://user-images.githubusercontent.com/8036226/68388373-6daf8700-019b-11ea-8b34-a0208677b068.png)

您可以看一下您在用自己的数据集时是否feed了'im_id'

而且，我们在写检测的slim时是以voc数据集为标准的，去除了一些不必要的东西，在tools/eval.py，
是有判断的，所以也有可能是没有fetch 'im_id'
![image](https://user-images.githubusercontent.com/8036226/68388709-3b525980-019c-11ea-85c1

[2019-11-07 12:21] wanghaoshuang commented on #3872
您将这两行改一下试试？https://github.com/PaddlePaddle/PaddleDetection/blob/master/slim/eval.py#L150-L153
[code]

另外还要在这儿添加一行：https://github.com/PaddlePaddle/PaddleDetection/blob/master/slim/eval.py#L85
[code]

[2019-11-08 00:25] littletomatodonkey opened #3902 "ppdet,mstest报错"
报错信息如下：

[code]

单尺度预测没有问题~模型为cascade_fpn_dcnv2

[2019-11-08 04:07] jangqh commented on #3780
什么时候能兼容呢，最近想用~~

[2019-11-08 06:45] littletomatodonkey commented on #3902
找到原因了~
1. 自己的backbone中有一个变量，初始化为0，mstest时，该变量会一直累加，所以最终载入的backbone的参数名不同，load_params找不到对应的变量。
2. 模型载入不正确时，部分bbox的xmin>xmax,导致计算overlap的时候出现异常(自己与自己的overlap=0)

[2019-11-08 06:45] #3902 closed, assigned to jerrywgz

[2019-11-08 07:05] kahitomi commented on #3856
@shentielin 抱歉，近期没有开源计划，数据集中的数据泄露具体是什么问题呢？

[2019-11-11 01:04] Ezra-Yu commented on #3872
谢谢解答，问题解决了

[2019-11-11 04:03] ARQlalala opened #3904 "是没有上传最新版本的code吗？distill、prune、quantitation的 compress.py中调用的时候出现paddle.fluid.contrib.slim.core.Compressor中未定义的参数"
在distill、prune、quantitation的 compress.py中调用的时候出现paddle.fluid.contrib.slim.core.Compressor中未定义的参数，例如eval_func，save_eval_model，prune_infer_model，log_period

[2019-11-11 08:19] cyy0523xc opened #3905 "关于语音识别模型：BaiduCN1.2k Model"
你好，请问该模型是使用DeepSpeech2训练出来的吗？

https://github.com/PaddlePaddle/DeepSpeech/blob/develop/README_cn.md

[2019-11-11 08:19] luotao1 commented on #1360
@bingyanghuang Could you help see it?

[2019-11-11 09:44] wzmsltw commented on #3897
@sunnymoon155 你好。以thumos数据集为例子，我们采取的做法是将每5帧图像作为一个snippet，每个snippet中提取光流。对于每一个snippet，我们都用TSN的rgb和flow模型做一次前向计算，将其最后一层输出（200维）作为特征表示并拼接起来（得到400维度向量）。由此，我们可以达到视频的时序特征序列。在anet数据集中，由于视频通常比较短而片段占比变化大，BSN等工作会先将时序特征序列resize到定长，这个处理可以参考（https://github.com/wzmsltw/BSN-boundary-sensitive-network/blob/master/data/activitynet_feature_cuhk/data_process.py）。针对视频较长的数据集，可以不resize时序特征序列，而改为在时序特征序列上进行滑窗的方式进行提名生成。

[2019-11-11 10:21] fc500110 commented on #3898
报错信息有吗

[2019-11-11 10:23] shiwl0329 commented on #3898
换个问题，如果采用sigmoid output，应该怎么写，有大概的demo嘛

[2019-11-11 12:33] sandyhouse commented on #3904
具体模型是什么，方便贴下具体的出错代码吗？

[2019-11-11 13:09] sandyhouse commented on #3905
是的。

[2019-11-12 02:28] ronghaoLee opened #3909 "paddle_detection 配置文件中class_aware_sampling意义？"
同学您好：
        我发现paddle_detection中新增了config/obj365/cascade_rcnn_dcnv2_se154_vd_fpn_gn_cas.yml文件，请问文件中 “FasterRCNNTrainFeed”中的 “class_aware_sampling” 是什么意义呢？或者有没有相关的参考资料。多谢啦

[2019-11-12 05:03] ceci3 commented on #3909
这个是在读数据的时候的一种特殊处理方法，会根据每个类别的样本数的比例进行采样 https://github.com/PaddlePaddle/PaddleDetection/blob/master/ppdet/data/source/class_aware_sampling_roidb_source.py#L95 可以参考这里

[2019-11-12 06:18] mapingshuo commented on #1895
@qianledan
如下文档介绍了FLAGS_selected_gpus：
https://www.paddlepaddle.org.cn/documentation/docs/en/1.6/api/fluid/cuda_places.html#cuda-places

[2019-11-12 06:42] FDInSky commented on #3890
https://github.com/PaddlePaddle/Paddle/pull/21127 已经修复，可以参考

[2019-11-12 06:54] sandyhouse commented on #3905
Closing this issue. Reopen it if you have any further question.

[2019-11-12 06:56] sandyhouse commented on #3905
Closing this issue. Reopen it if you have any further question.

[2019-11-12 06:56] #3905 closed, assigned to kuke

[2019-11-12 11:36] mmglove commented on #3904
请问paddle和model的版本是多少呢

[2019-11-12 12:35] wanghaoshuang commented on #3895
请问您这三句话什么意思？看起来是矛盾的。

[2019-11-12 12:38] wanghaoshuang commented on #3895
![image](https://user-images.githubusercontent.com/7534971/68672319-4c301000-058c-11ea-9b31-ad15a8f504dc.png)
这是我们这边的测试结果

[2019-11-13 01:40] JayJQK opened #3915 "你好，请问lac模型加入词典干涉的时候，怎样设置如果遇见词典的词直接用词典的词性？"
你好，请问lac模型加入词典干涉的时候，怎样设置如果遇见词典的词直接用词典的词性？
比如我现在词典里有苔，但是分词标注词性的时候 还不是我词典中的词性。

[2019-11-13 02:11] qingqing01 commented on #3909
@ronghaoLee 可以参考文档 https://github.com/PaddlePaddle/PaddleDetection/blob/master/docs/CACascadeRCNN.md#%E6%96%B9%E6%B3%95%E6%8F%8F%E8%BF%B0

[2019-11-13 02:12] #3871 closed, assigned to nobody

[2019-11-13 02:12] ChinaLiuHao commented on #3871
已线下沟通解决

[2019-11-13 13:06] YNZH opened #3922 "load_persistables ERROR"

[2019-11-14 05:15] #3922 closed, assigned to nobody

[2019-11-14 07:37] wenston2006 opened #3928 "数组访问除了切片访问,是否支持以数组为索引,来批量访问不同位置的数据?"
比如我有数组A[10], 现在要访问第1,3,5,6,9这几个数据, 假设Id = [1,3,5,6,9], 可否通过A[Id]来访问第1,3,5,6,9这几个数据?

[2019-11-14 08:20] wenston2006 opened #3929 "dygraph有没有类似sequence_slice这样的函数?"
说明文档里看到静态图支持sequence_slice函数,不知道动态图是否支持类似函数

[2019-11-14 10:39] zhaoyuchen2018 commented on #3928
可以试下scatter：
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/scatter_cn.html#scatter

[2019-11-14 10:42] zhaoyuchen2018 commented on #3929
动态图目前没有支持这个函数

[2019-11-14 13:22] skriser opened #3934 "models/legacy/generate_sequence_by_rnn_lm 代码使用新版paddle 1.6.1无法使用"
models/legacy/generate_sequence_by_rnn_lm 代码使用新版paddle 1.6.1无法使用。
代码都是老代码，根本没有办法进行运行测试

[2019-11-15 03:18] jangqh commented on #3915
怎么加词典？？

[2019-11-15 03:38] linuxsong opened #3936 "similarity net什么时候可以提供基于预训练模型的微调功能？"
similarity net目前好像不支持基于预训练模型的微调功能，如果能提供基于预训练模型下针对自己的业务数据进行微调功能，效果应该会提升很多吧。

[2019-11-15 06:29] zhaoyuchen2018 commented on #3934
你好，该模型目前已经不再维护，推荐使用https://github.com/PaddlePaddle/models#PaddleNLP下面的模型

[2019-11-15 06:35] wenston2006 commented on #3928
@zhaoyuchen2018 谢谢回复, 上面的问题是在一维数组中取数据; 我现在还有另一个矩阵访问的问题: 现在我有矩阵A[5, 20], 对A的5行分别取第1,3,5,6,9这几列的数据, 也就是说我想获取的数据为B = [A[0, 1], A[1,3], A[2,5], A[3,6], A[4,9]] 请问有什么办法可以不通过for循环来访问?

[2019-11-15 07:15] wenston2006 opened #3937 "乘法运算用*号和用fluid.layers.mul(), 哪个速度更快?取数组元素用中括号[]或用layer.slice()哪个快?"
现在用dygraph做开发, 发现乘法用*号和mul()都可以, 但不知道哪个更快?发现两种运算所得输出数组的维度大小不大一致; 我定义的函数涉及到梯度反向运算; 应该用哪个更合适? 此外取数组元素用中括号[]如A[i] 或用layer.slice(A, axes=0, start=[i], end=[i+1])哪个效率更高?

[2019-11-15 07:19] skriser commented on #3934
我看新的model里面只有翻译的，可以给个新的文本生成的代码吗

[2019-11-15 07:40] zhaoyuchen2018 commented on #3934
可以参考下面的模型：

https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/PaddleTextGEN/seq2seq， https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/PaddleTextGEN/variational_seq2seq

[2019-11-15 07:44] wenston2006 opened #3939 "类似RELU的函数如何自定义?(其中变量参与forward和backward运算)"
函数公式如下图
![Screenshot from 2019-11-15 15-32-38](https://user-images.githubusercontent.com/18213760/68925680-808b1280-07be-11ea-9e90-7229af31d534.png)
公式中R_j和T_j为两个输入变量, 公式左边的p为输出; R_j参与forward和backward运算,这个函数的代码应该如何编写?

[2019-11-15 07:44] liupluswei commented on #3936
你好，我咨询了一下相关模型的负责人，目前这个是支持的：
![image](https://user-images.githubusercontent.com/46661762/68925751-bf20cd00-07be-11ea-8ae1-c4b46bc508f3.png)

[2019-11-15 08:12] phlrain commented on #3937
* 是重载了 __mul__ 接口，底层调用的是 elementwise_mul，逐元素乘，
mul 是说的 layers.mul op 么。这个是矩阵乘法
[]  是重载了 __get_items__方法，底层调用的是 slice 性能是一样的

[2019-11-15 08:47] Aurelius84 commented on #3939
可否详细描述下T_i和R_j是什么样的数据格式吗？可否用具体的数据举个例子？

[2019-11-15 09:14] wenston2006 commented on #3939
@Aureliu84 谢谢回复; T为T[16][71]的数组, T_i表示取T[:,  i]作为输入; R为R[16][71]的数组, R_j表示取R[:, j]作为输入;

[2019-11-15 09:14] wenston2006 commented on #3937
@phlrain 谢谢回复

[2019-11-15 10:12] Aurelius84 commented on #3939
我理解如下：
[code]

是这样的么？

[2019-11-15 14:49] AnShengqiang opened #3940 "对paddleNLP中的transformer翻译模型有疑问，期待解答。"
模型：paddleNLP中的transformer翻译模型。
疑问：其中的decoder实现，在Attention is all you need论文中提到，有一个masked multi-head attention，但在本仓库的实现中，没有看到明显的mask操作，这里不太明白，请问这里的mask是怎么实现的？
相关代码：
https://github.com/PaddlePaddle/models/blob/eee28b3e52ad190fecc3afef35705e00512bfd1c/PaddleNLP/PaddleMT/transformer/transformer.py#L414

[2019-11-16 12:07] Yogurt2019 opened #3941 "pyreader队列size周期性变化导致训练速度时快时慢"
hi，我使用
`print("queue size:", train_py_reader.queue.size())`
打印queuesize，发现queuesize一直增长，等size满了以后就不增长了，一直下降为0，然后所有GPU使用率都为0，卡住一段时间以后queue才增长，我发现这个现象严重影响训练时间，如何让queue一直为满，GPU使用率不为0，充分利用计算资源?
我使用的是paddlepaddle1.6版本 和1.6版本的models，ubuntu 18.04 CUDA10.0 cuDNN7.3
使用的是多进程训练
我已经开启了double_buffer,models1.6版本代码已经开启了这个功能
`py_reader = fluid.io.DataLoader.from_generator(
            feed_list=[feed_image, feed_

[2019-11-16 12:25] #3899 closed, assigned to nobody

[2019-11-18 01:38] ronghaoLee commented on #3909
好的 多谢您！

[2019-11-18 01:38] #3909 closed, assigned to nobody

[2019-11-18 01:51] JayJQK commented on #3915
就是词典干预

[2019-11-18 02:47] zhaoyuchen2018 commented on #3928
你这个是访问不同行的不同列吧，目前好像没有直接支持的OP

[2019-11-18 02:49] guoshengCS commented on #3940
这里加上`attn_bias`的操作即是进行了mask

https://github.com/PaddlePaddle/models/blob/eee28b3e52ad190fecc3afef35705e00512bfd1c/PaddleNLP/PaddleMT/transformer/transformer.py#L212

[2019-11-18 03:07] #3934 closed, assigned to nobody

[2019-11-18 06:12] AnShengqiang commented on #3940
谢谢！

[2019-11-18 06:12] #3940 closed, assigned to nobody

[2019-11-18 06:24] AnShengqiang commented on #3342
下面的issue提到了Transformer的decoder部分，已经解惑，关闭issue
https://github.com/PaddlePaddle/models/issues/3940#issuecomment-554828364

[2019-11-18 06:24] #3342 closed, assigned to nobody

[2019-11-18 08:01] linuxsong commented on #3936
之前没有注意到这里，非常感谢。

[2019-11-18 08:01] #3936 closed, assigned to nobody

[2019-11-18 09:34] ShuoWillWang opened #3943 "请问Paddle版yolov3模型是否与darknet版yolov3模型互转"
我这边在darknet上用自己的训练样本预训练了一版yolov3模型，想要添加新数据后放在paddlepaddle继续训练，在paddle上训练出新版模型后再将模型转回darknet版yolov3。请问现在有没有这种方法，谢谢。

[2019-11-18 12:41] heavengate commented on #3943
Paddle里的yolov3模型结构和参数与darknet完全一致，精度比darknet搞了近6个点，建议您使用PaddleDetection https://github.com/PaddlePaddle/PaddleDetection/blob/master/configs/yolov3_darknet.yml

[2019-11-19 02:54] LBSIX opened #3944 "ctr 下的dcn模型求助"
我的环境是win7 系统  最新的fluid版本，是在python版本是3.6.5.是在pycharm 中直接运行local_train.py文件的，数据集用的和原数据集一致。
 exe.train_from_dataset(
            program=fluid.default_main_program(),
            dataset=dataset,
            fetch_list=[
                dcn_model.loss, dcn_model.avg_logloss, dcn_model.auc_var,dcn_model.net_input
            ],
            fetch_info=['total_loss', 'avg_logloss', 'auc'],
            d

[2019-11-19 08:28] JiaXiao243 commented on #3944
ctr下的dcn模型目前不支持windows，只支持linux环境运行～

[2019-11-19 10:04] LBSIX commented on #3944
收到了，还有个疑问，如何查看，网络中的各个中间变量呢，如self.net_input等。相关函数资料太少了( ˙˘˙ )------------------ 原始邮件 ------------------
发件人: "贾晓"<notifications@github.com>
发送时间: 2019年11月19日(星期二) 下午4:29
收件人: "PaddlePaddle/models"<models@noreply.github.com>;
抄送: "LBSIX"<1952865431@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [PaddlePaddle/models] ctr 下的dcn模型求助 (#3944)

ctr下的dcn模型目前不支持windows，只支持linux环境运行～

&mdash;
You are r

[2019-11-19 12:15] xiaosang commented on #3941
请更新models代码。

[2019-11-19 12:20] LBSIX opened #3949 "ctr 下的dcn模型"
可以具体说下 你们跑这个模型的环境版本吗  ubuntu？ python 3.65？ fluid 版本

[2019-11-19 12:33] Yogurt2019 commented on #3941
你好，我之前更新到1.6版本的代码了，上个版本只加入了profiler，这个影响不大吧？

[2019-11-19 12:41] xiaosang commented on #3941
你好，方便加个qq么，qq里沟通下，我的qq是：603336339

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Yogurt2019"<notifications@github.com&gt;;
发送时间: 2019年11月19日(星期二) 晚上8:33
收件人: "PaddlePaddle/models"<models@noreply.github.com&gt;;
抄送: "桑金超"<603336339@qq.com&gt;; "Comment"<comment@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/models] pyreader队列size周期性变化导致训练速度时快时慢 (#3941)

请更新models代码。

你好，我之前更新到1.6版本的代码了，

[2019-11-20 01:45] ysh329 commented on #3944
建议用动态图方式，具体见文档

动态图机制-DyGraph-使用文档-PaddlePaddle深度学习平台
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/user_guides/howto/dygraph/DyGraph.html

[2019-11-20 01:45] #3944 closed, assigned to nobody

[2019-11-20 01:48] ysh329 commented on #3949
问题同：ctr 下的dcn模型求助 · Issue #3944 · PaddlePaddle/models
https://github.com/PaddlePaddle/models/issues/3944

[2019-11-20 01:48] #3949 closed, assigned to nobody

[2019-11-20 02:49] LBSIX commented on #3944
您的意思是  我用动图机制重构dcn模型吗

[2019-11-20 03:14] wwjjy opened #3952 "dygraph 下实现CRNN+CTC的问题"
您好，我想要使用动态图来实现CRNN+CTC，目前参考https://github.com/PaddlePaddle/models/tree/a92e212932b764e500a833527e0fb772ac9a491a/dygraph/ocr_recognition 这个项目实现了CRNN部分，但是该部分的输出是一个3-D的定长tensor，我看了fluid.layers.warpctc op如果使用定长tensor作为输入的话需要指定每个序列的长度，如果不指定的话直接运行会报 段错误，请问这边我需要怎么将CRNN部分的输出以及label转为lod_tensor嘞

[2019-11-20 04:29] LBSIX opened #3953 "ctr 下的dcn模型在百度aistudio终端运行出错的问题"
运行环境  python 3.7，paddle1.6，百度aistudio终端。
在命令行 使用命令  nohup python -u infer.py --test_epoch 2 > test.log &，训练出错 具体见附件 train.log.
![1](https://user-images.githubusercontent.com/52662095/69209150-22c94280-0b91-11ea-89b6-f6c383727819.png)

![2](https://user-images.githubusercontent.com/52662095/69209203-53a97780-0b91-11ea-8662-a34074418ecb.png)
[train .log](https://github.com/PaddlePaddle/models/files/

[2019-11-20 05:38] AstomMars opened #3954 "fp16混合精度训练如何使用？"
直接在train的时候开启fp16之后，数据会一直读取但是并不开始训练过程。如果关闭fp16 util里的reduce_master_grad的话，也就是不运行fluid.layers.collective._allreduce的话，可以正常训练。请问这个all reduce的作用是什么，在文档里没有找到。

[2019-11-20 07:31] wwjjy commented on #3952
尝试加入了input_length 和label_length两个参数，具体调用如下：
loss = fluid.layers.warpctc(input=out, label=label, input_length=pred_len, label_length=label_len, blank=train_parameters['class_dim'])

各个入参的形状如下：
out： [32, 128, 64]
label： [4096, 1]
pred_len： [128]
label_length： [128]
从形状上看符合预期，但是运行还是报错，错误如下：
W1120 15:19:40.449357   283 init.cc:212] *** Aborted at 1574234380 (unix time) try "date -d @1574234380" if you

[2019-11-20 07:41] MRXLT commented on #3952
你好，请参考以下页面中tensor转lod-tensor的代码
https://www.paddlepaddle.org.cn/documentation/docs/zh/user_guides/howto/basic_concept/lod_tensor.html#lod-tensor

[2019-11-20 07:49] JingChunzhen opened #3958 "验证集上效果和测试集上效果相差较大"
目前遇到的问题是验证集上的效果和测试集上的效果相差较大，当前相差五个点左右，可能的原因是在训练过程中将验证集上的数据也train了，以下是我的训练脚本，目前暂未排查出问题，希望paddle同学可以协助排查，非常感谢！

paddle 1.5.0版本

[code]

[2019-11-20 07:49] wwjjy commented on #3952
@MRXLT
https://github.com/PaddlePaddle/models/issues/3952#issuecomment-555876382 您好顺便请您帮我看一下，我这样的写法有哪里不对吗，报错的原因是什么呢？

[2019-11-20 08:22] wwjjy commented on #3952
同时，我也尝试了将数据转为lodtensor，报错如下：
![image](https://user-images.githubusercontent.com/20850734/69221163-9713de00-0bb1-11ea-80a0-91acecb3821d.png)
是我转换的类型不对吗》

[2019-11-20 09:22] yhzhangyu opened #3961 "YOLOV3 水果数据集 No next data"
能正常跑一会;然后就出现如下错误;

配置信息：
architecture: YOLOv3
train_feed: YoloTrainFeed
eval_feed: YoloEvalFeed
test_feed: YoloTestFeed
use_gpu: true
max_iters: 20000
log_smooth_window: 20
save_dir: output
snapshot_iter: 200
metric: VOC
map_type: 11point
pretrain_weights: https://paddlemodels.bj.bcebos.com/object_detection/yolov3_mobilenet_v1.tar
weights: output/yolov3_mobilenet_v1_fruit/best_model
num_classes: 3

[2019-11-20 10:17] ysh329 commented on #3944
或者您用静态图吧想要获取的结果放到fetch_list就好

[2019-11-20 10:18] ysh329 commented on #3944
@JiaXiao243 回复一下吧

[2019-11-20 10:53] wanghaoshuang commented on #3952
关于crnn产出的定长数据如何使用warpctc的问题，请参考warpctc的文档：
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/warpctc_cn.html#warpctc

另外您可以通过fluid.layers.Print查看label_length和pred_length的数值是否正确。

[2019-11-20 11:21] wwjjy commented on #3952
静态图版本代码如下：
![image](https://user-images.githubusercontent.com/20850734/69234698-bcf9ac80-0bca-11ea-94c1-f4455c37818d.png)
动态图版本代码如下：
![image](https://user-images.githubusercontent.com/20850734/69234719-ca169b80-0bca-11ea-9e89-8dbdf245cec2.png)
静态图可以成功运行，但是动态图的就会报段错误，数据都是采用一样的方式生成的，是我动态图哪里写的方式不对吗 @wanghaoshuang

[2019-11-20 11:27] wilhelmzh commented on #3944
你好，可以用像上面说的改成动态图。或者尝试使用下面两种方式
1.  直接在网络中用fluid.layers.Print(net_input)打印输出。
2. 在train_from_dataset里设置fetch_list和fetch_info。

[2019-11-20 11:55] JingChunzhen commented on #3958
验证集和测试集数据分布是一致的

[2019-11-20 12:34] dimeldo opened #3963 "PaddlePaddle is not utilizing GPU fully"
As I'm using the Dialogue-PLATO model, My Nvidia Volta v100 GPU seems to be not fully utilized:
![Screen Shot 2019-11-18 at 1 33 51 PM](https://user-images.githubusercontent.com/20453742/69239377-565c9a80-0b9a-11ea-930a-e9e35cc68dfd.png)

While other models I tested have been utilizing the GPU fully. I'm running on batch size 1. When bs is 2 I get an OOM error. I tried playing with `FLAGS_fraction

[2019-11-20 12:40] dimeldo commented on #3963
Probably related to the small batch size. Closing.

[2019-11-20 12:40] #3963 closed, assigned to nobody

[2019-11-20 17:27] MRXLT commented on #3954
你好，使用fp16可以参考fleet的训练脚本 https://github.com/PaddlePaddle/Fleet/tree/develop/benchmark/collective/resnet

[2019-11-21 03:53] jerrywgz commented on #3961
请问你用的paddle版本是？我这边用1.6.1验证是没有这个问题的

[2019-11-21 05:09] wilhelmzh commented on #3953
你好，看log是dataset读取数据的问题。我这里在本地环境使用paddle 1.6.1和python 3.7，运行python -u local_train.py没有问题，是不是aistudio使用的问题呢

[2019-11-21 07:58] LBSIX commented on #3953
不知道您能不能在aistudio上，试一下呢✧٩(ˊωˋ*)و✧，因为有原数据集，所以在上面跑的，尝试了好几次，都没有成功，也让同学看了下，也是没有成功的。我觉得自己的操作，应该不会有问题的。因为后来仔细检查了好几篇。也没有改源代( ˙˘˙ )

---原始邮件---
发件人: "zhoushiyu"<notifications@github.com&gt;
发送时间: 2019年11月21日(星期四) 中午1:09
收件人: "PaddlePaddle/models"<models@noreply.github.com&gt;;
抄送: "Author"<author@noreply.github.com&gt;;"LBSIX"<1952865431@qq.com&gt;;
主题: Re: [PaddlePaddle/models] ctr 下的dcn模型在百度aistudio终端运行出

[2019-11-21 11:19] MRXLT commented on #3958
抱歉，没有从代码中发现使用上的问题，请检查一下您的模型和数据，或者尝试shuffle一下使用的数据再训练

[2019-11-21 11:54] JingChunzhen commented on #3958
恩~ 感谢解答

[2019-11-22 02:26] ff3141044702 opened #3968 "使用图像分类进行训练报错"
Ubuntu 16.04 + cuda 9.0 + cudnn 7.6.1 + paddlepaddle 1.6.1 + python 3.5.2,使用从github上下载的代码，加载自定义的数据进行图像分类训练报错：
root@P510:/home/work/models/PaddleCV/image_classification# python3 train.py --model=ResNet50 --batch_size=4 --total_images=8178 --class_dim=2 --image_shape=3,224,224 --model_save_dir=output/ --lr_strategy=piecewise_decay --lr=0.1 --data_dir=/home/work/Data --use_gpu=true
-------------  Con

[2019-11-22 02:42] #3958 closed, assigned to nobody

[2019-11-22 02:50] yhzhangyu commented on #3961
PaddlePaddle 1.6.1.post107   cuda 10.0   偶尔会出现这个问题  我通过调节 num_work 参数后 使其能够运行;但原因未知;

[2019-11-22 02:52] shuxsu opened #3969 "关于数据集转换提取的问题"
想咨询一下  您这边当时提供了cityscape数据集转换为coco数据集格式
假如原cityscape数据集有30类  但我只想要其中的5类进行训练
是直接在转换数据集的脚本中进行操作  还是在代码中加条件  在训练时进行提取呢？
谢谢

[2019-11-22 03:09] jerrywgz commented on #3961
可以看到报错信息中显示expand的时候超出了内存限制，fruit数据集的图片数量很小，但是有的图片大小很大，例如banana_57 size为4605*2569，这样的size如果配合较大的max_ratio有概率会出现爆内存的情况。可以尝试缩小expandimage中的max_ratio.

[2019-11-22 04:33] ff3141044702 commented on #3968
环境变量没有设置导致的问题，根据sh文件设置相关环境变量

[2019-11-22 04:33] #3968 closed, assigned to nobody

[2019-11-22 04:36] yhzhangyu commented on #3961
好的十分感谢！

[2019-11-22 04:36] #3961 closed, assigned to jerrywgz

[2019-11-22 08:42] BeyondYourself opened #3970 "you should delete the master tree"
you should delete the master tree. In that tree ,there is nothong info for us to use

[2019-11-22 08:45] wenston2006 commented on #3928
@zhaoyuchen2018  谢谢回复,明白了

[2019-11-22 08:45] #3928 closed, assigned to nobody

[2019-11-22 08:53] wenston2006 commented on #3939
@Aurelius84 谢谢回复,不好意思本周忙一点,今天才上github; 是的,Ti和Rj维度相同, 但我不知道在paddlepaddle中如何实现这一函数,是否就是简单的if else语句?

[2019-11-22 15:19] LBSIX opened #3971 "ctr 下的dcn模型在云服务器运行失败"
自己在本地跑dcn模型https://github.com/PaddlePaddle/models/tree/develop/PaddleRec/ctr/dcn可以成功运行,但是在云端服务器运行时，跑不通，第一次用的百度的aistudio，第二次租了其他的服务器，都是哦linux 环境。这是第二次的输出日志。还请百度的小哥哥帮我看看。本地跑的话太慢了，完全无法调试模型。前面有我发的第一次在aistudio跑的模型日志，下面是第二次的
epoch1 start ...
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
  File "reader.py", line 96, in <module>
  File "reader.py"

[2019-11-25 01:04] bjjwwang commented on #3969
您使用的是 Dataset还是Pyreader来读取。
可以先读取一行然后挑选的
PyReader的例子 https://github.com/PaddlePaddle/models/blob/develop/PaddleRec/ctr/dnn/reader.py
Dataset的例子https://github.com/guru4elephant/Fleet/blob/newly_fleet/examples/distribute_ctr/dataset_generator.py

不过也可以贴一下大概cityspace数据集的格式。

[2019-11-25 01:05] bjjwwang commented on #3970
thank you for suggestion.

[2019-11-25 02:48] littletomatodonkey opened #3972 "layer_norm使用问题"
layer_norm在使用时会强制tensor的编译时shape和运行时shape相同吗？在使用的时候，遇到了以下的问题
![image](https://user-images.githubusercontent.com/14270174/69508436-ac518980-0f70-11ea-8d72-232233481189.png)
输入tensor的shape如下：
![image](https://user-images.githubusercontent.com/14270174/69508452-b7a4b500-0f70-11ea-96cf-78c3d610a63c.png)

[2019-11-25 03:00] ShuoWillWang opened #3973 "关于在两块GPU下batch_size与max_iter的选择"
我这边正在使用COCO数据集从darknet53开始训练一个Paddle版本的yolov3。我在研究输入参数时发现batch_size默认为8，但是这是以8个GPU为基础的batch参数。我这里只有2个RTX-2080Ti显卡，如果想要达到网页上类似的测试效果，是否需要根据GPU调节batch_size或max_iter？另外，其他的参数是否也需要调节？谢谢

PS：我尝试将batch_size改为16，发现运行2-3分钟就有Out of Memory的问题。使用batch_size=8（其余的不改）训练到最后，发现与网页上宣称的map少了4个百分点。

[2019-11-25 03:24] littletomatodonkey commented on #3972
代码如下：
[code]

[2019-11-25 03:37] ccmeteorljh opened #3974 "bert fp32 和fp16运行失败"
paddle commit-id :691ced87c087d3b25c2069e96c74c17a36ff2de2
[code]

[2019-11-25 03:40] ccmeteorljh opened #3975 "bert fp32 和fp16运行失败"
paddle commit-id :691ced87c087d3b25c2069e96c74c17a36ff2de2
fp32报错如下：
[code]
fp16报错如下：
[code]

[2019-11-25 03:43] littletomatodonkey commented on #3972
编译时shape是(-1L, 32L, 167L, 100L),运行时shape是[1, 32, 100, 152]

[2019-11-25 03:45] littletomatodonkey commented on #3972
编译时shape是(-1L, 32L, 167L, 100L),运行时shape是[1, 32, 100, 152]

[2019-11-25 05:20] #3975 closed, assigned to nobody

[2019-11-25 08:03] shuxsu commented on #3969
这个cityscape数据集已经转换为paddle适应的coco数据集格式了，现在的格式就是coco的格式

[2019-11-25 08:54] shuxsu commented on #3969
[数据集.docx](https://github.com/PaddlePaddle/models/files/3885593/default.docx)

[2019-11-25 08:59] bjjwwang commented on #3971
@wilhelmzh 求解答 谢谢

[2019-11-25 10:02] #3972 closed, assigned to nobody

[2019-11-26 01:35] jtyoui opened #3978 "DGU支持中文训练数据吗？"
![image](https://user-images.githubusercontent.com/28988355/69592138-fd748280-102f-11ea-9634-2cc449a8ffa7.png)

[2019-11-26 02:20] shuxsu commented on #3973
想咨询下  配置里的num_workers 多线程那个您设置了多少呢  我跑mask rcnn 4块2080Ti  batch size设置为8都报Out of Memory....也不知道什么原因

[2019-11-26 02:28] ShuoWillWang commented on #3973
num_workers应该只跟CPU线程有关系，我用yolov3训练时设置的是8

[2019-11-26 02:38] Archimondecy opened #3979 "batch_norm效果异常求解答"
实现了一个ranknet，网络是fc-bn-fc-bn-fc-bn-fc-bn-fc-bn-fc，fc神经元的数量除了最后一层是1，其他都是32. fc没有激活，bn用的relu。 输入是 样本label永远是1，左边是pos，右边是neg，左边永远大于右边；设计是希望pos和neg走同一个上面的网络，计算出最后一层结果，然后进入margin_rank_loss，所以永远是pos-neg，然后做sigmoid和二元交叉熵logloss，最后取均值作为loss。
逻辑是，希望网络能够根据特征计算相关性得分，然后pos-neg差值越大越好。

**现在问题是，训练时loss迅速降为0.001，预测时效果很差**。加载训练好的模型再进行训练，loss 0.001，但是一旦bn使用全局状态（use_global_stats设为True，不更新bn参数，模拟预测），立刻loss暴涨。 辛苦帮忙看下是

[2019-11-26 02:41] shuxsu commented on #3973
之前我用工作站的p4000单卡训练 是2天半，现在4卡训练 还是2天多点  速度并没有提升到哪去阿  什么原因呢 我的batch size=2才行  大于2就out of memory  方便留个联系方式吗  一起学习 沟通一下

[2019-11-26 02:41] ShuoWillWang commented on #3973
另外，您这边尝试过使用export FLAGS_fraction_of_gpu_memory_to_use=0.75（0.75处为显存占比）修改显存占用

[2019-11-26 02:42] shuxsu commented on #3973
我看终端提示  我的占比貌似是0.92  现在

[2019-11-26 02:44] ShuoWillWang commented on #3973
那你可以改下这个参数，调到0.75到0.8左右

[2019-11-26 02:45] shuxsu commented on #3973
现在问题是 训练的速度并没有提升呢  之前单卡p4000  训练同样的需要2天多  现在还是2天多。。。

[2019-11-26 03:24] shuxsu opened #3981 "关于多卡训练Detection"
咨询一些问题
之前是单卡p4000训练
现在是4张2080ti
为什么同样的config  训练的速度并没有提升呢
batch_size只能设置为2  超过2就out of memory
norm type：affine_channel   设置bn连2都会报out of memory
还有num_workers这个多线程只和cpu相关么   设置有什么建议或要求吗
时间并没有变快是什么原因呢？

有没有关于paddle的相关训练 调参建议呢

[2019-11-26 05:58] ss3b3 opened #3982 "关于多卡训练Detection显存溢出的问题"
使用快速开始的示例程序（yolo识别水果）的能够正常使用4个GPU，同样config换成自定义的数据集就无法多卡使用，程序启动时仅仅使用0号GPU，然后爆显存，程序卡死，nvidia-smi读取不到GPU，每次都需要重启
gpu是4张TITAn X（Pascal）11G显存
内存64G

[2019-11-26 06:12] ss3b3 opened #3983 "x2coco.py 程序无法正常运行"
1、设置test_proportion 0.0   时

FileNotFoundError: [Errno 2] No such file or directory: '/home/iot/dataset_my/coco_pothole1/test/737.jpg'

2、设置了test_propotion不为0时找不到json_path

Traceback (most recent call last):
  File "./ppdet/data/tools/x2coco.py", line 294, in <module>
    main()
  File "./ppdet/data/tools/x2coco.py", line 280, in main
    val_data_coco = deal_json(args.output_dir + '/val', args.js

[2019-11-26 06:12] ss3b3 opened #3984 "x2coco.py 程序无法正常运行"
1、设置test_proportion 0.0   时

FileNotFoundError: [Errno 2] No such file or directory: '/home/iot/dataset_my/coco_pothole1/test/737.jpg'

2、设置了test_propotion不为0时找不到json_path

Traceback (most recent call last):
  File "./ppdet/data/tools/x2coco.py", line 294, in <module>
    main()
  File "./ppdet/data/tools/x2coco.py", line 280, in main
    val_data_coco = deal_json(args.output_dir + '/val', args.js

[2019-11-26 06:12] ss3b3 opened #3985 "x2coco.py 程序无法正常运行"
1、设置test_proportion 0.0   时

FileNotFoundError: [Errno 2] No such file or directory: '/home/iot/dataset_my/coco_pothole1/test/737.jpg'

2、设置了test_propotion不为0时找不到json_path

Traceback (most recent call last):
  File "./ppdet/data/tools/x2coco.py", line 294, in <module>
    main()
  File "./ppdet/data/tools/x2coco.py", line 280, in main
    val_data_coco = deal_json(args.output_dir + '/val', args.js

[2019-11-26 06:12] ss3b3 opened #3986 "x2coco.py 程序无法正常运行"
1、设置test_proportion 0.0   时

FileNotFoundError: [Errno 2] No such file or directory: '/home/iot/dataset_my/coco_pothole1/test/737.jpg'

2、设置了test_propotion不为0时找不到json_path

Traceback (most recent call last):
  File "./ppdet/data/tools/x2coco.py", line 294, in <module>
    main()
  File "./ppdet/data/tools/x2coco.py", line 280, in main
    val_data_coco = deal_json(args.output_dir + '/val', args.js

[2019-11-26 06:14] #3984 closed, assigned to nobody

[2019-11-26 06:14] #3985 closed, assigned to nobody

[2019-11-26 06:14] #3986 closed, assigned to nobody

[2019-11-26 07:10] ellinyang opened #3987 "paddleDetection yaml中的batch_size在同步和异步读取时的含义"
代码：paddleDeteciton
环境：v100,  paddle1.5.1； GPU=2；batch_size=1

背景：将paddleDeteciton yaml文件中的batch_size设为1，两个gpu训练，原始代码训练正常；但由于业务需求，需将异步读取改为同步读取，即feed模式，训练报错；
![image](https://user-images.githubusercontent.com/20673237/69608305-1eee6200-1062-11ea-87b3-fe1dbea44810.png)

问题：
1. yml 里的 batch_size ，对于异步读取的pyreader来说是每个GPU的batch_size；
对于同步读取的feed来说是所有GPUs的总batch_size;
请问是什么原因导致这样的差别？是否有策略让两种读取方式最后输出的batc

[2019-11-26 07:35] zouxiaodong opened #3988 "PaddleCV/image_classification/下的脚本在CPU版的paddle报错"
涉及到两个脚本
1：reader.py 271行
batch_size = settings.batch_size / paddle.fluid.core.get_cuda_device_count()
2：utils/utility.py 419行
exec_strategy.num_threads = fluid.core.get_cuda_device_count()

[2019-11-26 07:37] zouxiaodong opened #3989 "能否在image_classification的训练脚本里面增加visualdl可视化输出？"
现在的脚本训练时只能在控制台看输出，无法可视化看效果

[2019-11-26 08:14] sneaxiy commented on #3987
@ellinyang

1. “异步读取的pyreader来说是每个GPU的batch_size”，而“同步读取的feed来说是所有GPUs的总batch_size”，这是因为同步feed模式下会有将feed数据拆分到每个卡上的一个过程，但异步数据读取不会拆分，速度上会有提升，底层实现上也更加简单。

2. 如果是同步feed模式，每个迭代Images分配给GPU的策略是平均分。

[2019-11-26 08:58] linshuliang commented on #3989
相比VisualDL, tb-paddle + tensorboard 的功能更强大，且更美观。目前可在 SCALAR栏目记录 loss/acc1/acc5, IMAGE 记录图片， GRAPH 记录计算图。 等协商核对后，即可添加。

[2019-11-26 09:13] zouxiaodong commented on #3989
现在已经支持了tensorboard了吗？我在image_classification下训练自定义的数据集，怎么用tensorboards查看？
python train.py \
       --data_dir=/root/paddle/lemon/data/ \
       --model=ResNet50 \
       --batch_size=8 \
       --total_images=6390 \
       --class_dim=3 \
       --image_shape=3,900,900 \
       --model_save_dir=/root/paddle/lemon/train_model/ \
       --lr_strategy=piecewise_decay \
       --lr=0.1 \
       --reade

[2019-11-26 09:14] linshuliang commented on #3989
目前还不支持，已列入下一步计划。

[2019-11-26 09:15] zouxiaodong commented on #3989
OK，期待中

[2019-11-26 14:28] shuxsu commented on #3987
请问有联系方式吗 我也在做detection相关的训练 能请教一些问题吗

[2019-11-27 05:40] WonderMind opened #3991 "CoKE中使用kbc_test.sh脚本做评估时，GPU Memory Usage占满而GPU-Util却为0%"
sh kbc_test.sh ./configs/fb15k_job_config.sh 1
![image](https://user-images.githubusercontent.com/26144974/69696691-70a6f300-111b-11ea-9f07-d2aa9922dca9.png)

[2019-11-27 05:50] LielinJiang commented on #3969
请问您想用这个数据训练哪个模型？

[2019-11-27 05:51] shuxsu commented on #3969
mask rcnn

[2019-11-27 05:52] shuxsu commented on #3969
训练maskrcnn

[2019-11-27 06:00] LielinJiang commented on #3969
那您说的两种方式应该都可以。

[2019-11-27 06:02] shuxsu commented on #3969
意思是自己修改代码 然后删选特定的类别标签吗

[2019-11-27 06:02] shuxsu commented on #3969
另外咨询下 有没有训练过cityscape数据集的mask rcnn模型呢

[2019-11-27 06:06] LielinJiang commented on #3969
一种是修改代码，另一种在转换过程中挑出想要的类。您可以看看哪一种比较方便。

[2019-11-27 06:15] LielinJiang commented on #3969
这个好像没有

[2019-11-27 09:14] zhaotun commented on #3862
@heavengate  你好，我参考[这里](https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/image_classification)在windows平台做图像分类的finetune训练，遇到了相同的问题
![image](https://user-images.githubusercontent.com/13940249/69709857-32b8c780-1139-11ea-90a2-1d5d308fec74.png)

机器有4个显卡，使用的命令是
[code]
你提到设置单卡运行，具体在如何设置、在哪设置呢，谢谢。

[2019-11-27 09:45] zouxiaodong opened #3995 "image_classification 训练自定义数据集batch问题"
数据集总共:6390，训练集有 5112行记录，batch_size设置为8,训练脚本输出的batch,train 和 test 只到70+

![image](https://user-images.githubusercontent.com/46236818/69712327-98a74e00-113d-11ea-8a6f-7fc9394f62f8.png)

执行的脚本如下：
python train.py \
       --data_dir=/root/paddle/lemon/data/ \
       --model=ResNet50 \
       --batch_size=8 \
       --total_images=6390 \
       --class_dim=3 \
       --image_shape=3,900,900 \
       --

[2019-11-27 09:55] zouxiaodong commented on #3995
数据集;
[data.tar.gz](https://github.com/PaddlePaddle/models/files/3896202/data.tar.gz)

[2019-11-27 12:44] xyoungli commented on #3995
您好，把total images设置成训练集大小5112测试一下，tatol images是指训练集的数据大小

[2019-11-27 12:52] xyoungli commented on #3991
您好，
1. 请试一下杀掉进程后重启任务是否有问题？
2. 请问是否提前做了数据预处理？提前下载好checkpoint？

[2019-11-28 02:02] WonderMind commented on #3991
1）杀掉重启会出现同样的情况，但是推理评估速度还可以差不多30ms左右
2）数据预处理是根据demo中提供的脚本做的data_preprocess.sh；没有提前下载checkpoint，我自己从头开始训练的

[2019-11-28 02:21] xyzhou-puck commented on #3978
@xixiaoyao , please look at this.

[2019-11-28 02:24] baymaxZ0Z0 opened #3999 "有提供中文-wwm的预训练模型么。适用于paddle的bert的版本的。"

[2019-11-28 02:58] zouxiaodong commented on #3995
@xyoungli ，您好，设置为5112后，train和test还是70+个batch，请问这个70+ 是怎么来的啊，我理解应该是5112/8(batch_size)个batch吧？

 test_batch_size : 16
             total_images : 5112
              upper_ratio : 1.3333333333333333
                   use_aa : False
                  use_ema : False
                  use_gpu : 0
      use_label_smoothing : False
                use_mixup : False
                   use_se : True

[2019-11-28 04:27] cyj1986 commented on #3981
请参考文档： https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/best_practice/training_best_practice.html

[2019-11-28 04:30] cyj1986 commented on #3983
请确认该路径下的文件是否存在， 第二步，deal_json 缺少json路径
<img width="350" alt="图片" src="https://user-images.githubusercontent.com/39645414/69777328-c8586380-11da-11ea-855a-4f80d7c9df60.png">

[2019-11-28 04:32] cyj1986 commented on #3982
看看自定义数据集，是不是一次读取太多了

[2019-11-28 04:34] cyj1986 commented on #3982
建议数据读取部分可以贴一些代码，来帮助分析

[2019-11-28 08:30] zhaotun opened #4005 "在自己的数据集上通过 finetune 训练出来的图像分类模型，如何进行模型合并和测试？"
你好，我是 paddle 新手，参考 [图像分类以及模型库](https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/image_classification) 的内容，在自己的数据集上进行 finetune 训练图像分类模型，使用的命令是
[code]
训练后在 output/MobileNetV1_x0_25 目录下得到了每个epoch保存的模型
![image](https://user-images.githubusercontent.com/13940249/69786466-74a74380-11f5-11ea-92e2-b3bad19b3766.png)
每个文件夹中有200多个文件
![image](https://user-images.githubusercontent.com/13940249/6978

[2019-11-28 09:01] cyj1986 commented on #3979
![Uploading 图片.png…]()
请查看BatchNorm参数初始化

[2019-11-28 09:13] cyj1986 commented on #3988
为什么会用CPU版的paddle跑带GPU的程序呢？

[2019-11-28 09:35] xyoungli commented on #3995
请问数据集中有train和val文件夹吗？

[2019-11-28 09:36] xyoungli commented on #3991
是不是跑完test后内存没有释放？

[2019-11-28 09:41] Aurelius84 commented on #3939
这样是否满足你的需求呢? @wenston2006
[code]

[2019-11-28 09:42] zouxiaodong commented on #3995
@xyoungli 您好， 数据集没有train和val文件夹，只有train_list.txt val_list.txt test_list.txt 和3个class目录cls1 cls2 cls3
数据集的几个txt文件如下
[data.tar.gz](https://github.com/PaddlePaddle/models/files/3900947/data.tar.gz)

![image](https://user-images.githubusercontent.com/46236818/69794831-ef785a80-1205-11ea-9219-225daef62643.png)

[2019-11-28 11:46] Wayne-pw opened #4008 "可以将训练好的caffe模型进行int8量化吗？"
你好，请问一下，我有一个训练好的caffe模型，如何将这个模型进行int8量化，看文档说明好像只能量化几个固定网络架构的模型，谢谢

[2019-11-28 12:42] #4008 closed, assigned to nobody

[2019-11-28 12:46] shippingwang commented on #4005
你好，尝试下这个？
python infer.py \
       --model=model_name \
       --pretrained_model=${path_to_pretrain_model} \
       --save_inference=True
详见[注意事项](https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/image_classification#%E6%B3%A8%E6%84%8F%E4%BA%8B%E9%A1%B9-1 )

[2019-11-28 12:56] shippingwang commented on #3995
你好，先设置 print_step设置为1查看下，到底跑了多少batch结束的

[2019-11-28 12:58] shippingwang commented on #3988
你好，这个问题已经在最新的[PR](https://github.com/PaddlePaddle/models/pull/3951)解决，感谢指正

[2019-11-28 13:25] zhaotun commented on #4005
@shippingwang  输入以下命令
[code]
发生如下错误
[code]

[2019-11-29 02:13] Yogurt2019 commented on #3941
找到原因了，是图像预处理过慢的问题

[2019-11-29 02:13] #3941 closed, assigned to nobody

[2019-11-29 02:58] zouxiaodong commented on #3995
@xyoungli  你好，我现在的总训练数据为6915，batch为108次，我研究了下应该是和reader和cpu个数相关，108*8 = 6915/8 ，这样刚好对上
![image](https://user-images.githubusercontent.com/46236818/69840524-dc619b00-1296-11ea-9891-81aa446d6d97.png)

[2019-11-29 08:30] ccmeteorljh commented on #3974
fp32的已经修复

[2019-11-29 10:39] Otis4631 opened #4010 "ResNeXt101_32x48d_wsl 继续训练时checkpoint 出错"
这是报错信息

[code]
这是配置

[code]

自动保存的时候没保存这个tmp_4吗？

[2019-11-30 14:16] shuxsu commented on #3982
我也是4张卡训练decetion的mask rcnn  batch size 只能是2 超过2就溢出  但是我nvidia-smi是4张卡都在运行中  但是有个很困惑的点  4张卡同事训练反而不如一张卡训练的时间快   很困惑

[2019-12-01 05:59] ss3b3 commented on #3982
确实，我也发现好像4张卡没有一张卡快

[2019-12-02 02:36] zouxiaodong opened #4012 "调用image_classification的eval.py脚本报错"
训练时输入shape为3，900，900
python eval.py \
       --data_dir=/root/paddle/lemon/data/augmentation/ \
       --model=ResNet50 \
       --batch_size=8 \
       --class_dim=3 \
       --image_shape=3,900,900 \
       --crop_size=900 \
       --use_gpu=false \
       --pretrained_model=/root/paddle/lemon/new_train_model/ResNet50/119/

==错误信息如下：
-------------  Configuration Arguments -------------

[2019-12-02 02:50] willthefrog commented on #4012
`image_shape`指的是预处理后输入网络的大小，一般是224，256，288。你确定输入是900？

[2019-12-02 03:46] zouxiaodong commented on #4012
@willthefrog 您好，训练是用的如下参数，输入的大小是900
python train.py \
       --data_dir=/root/paddle/lemon/data/augmentation/ \
       --model=ResNet50 \
       --batch_size=8 \
       --total_images=6915   \
       --resize_short_size=900 \
       --class_dim=3 \
       --image_shape=3,900,900 \
       --model_save_dir=/root/paddle/lemon/new_train_model/ \
       --lr_strategy=piecewise_decay \
       --lr=0.1 \

[2019-12-02 03:54] littletomatodonkey opened #4013 "reshape输出shape的问题"
在reshape中，如果参数shape是lodtensor的话，那么编译时，所有值都是-1，而conv2d要求channel必须是明确的值(>0)，感觉这一块需要修改一下，不然每次用tensor进行reshape的话，编译时就会报错~

[2019-12-02 04:19] liym27 commented on #4013
因为编译期Tensor的值是无法确定的（运行期才可以确定），所以参数`shape`是`Tensor`时，reshape的output 的shape所有值都是-1。

[2019-12-02 04:20] littletomatodonkey commented on #4013
那就是说其实没法用tensor作为reshape的shape？（不然conv2d会报错）

[2019-12-02 04:32] shippingwang commented on #4012
image_shape=3,900,900
crop_size=900
resize_short_size=900 都加上试试

[2019-12-02 04:46] Soulmate303 opened #4014 "KT-NET模型编码错误"
数据集SQuAD中的数据夹杂一些Unicode编码例如L\u00facia Moniz，KT-NET模型预处理时不能有效转化为正常的字符从而报错，不知如何解决

[2019-12-02 05:17] #3995 closed, assigned to xyoungli

[2019-12-02 05:17] #3989 closed, assigned to nobody

[2019-12-02 05:17] #3988 closed, assigned to shippingwang, cyj1986

[2019-12-02 05:32] willthefrog commented on #4014
请 @kuke 跟进下。

[2019-12-02 06:05] liym27 commented on #4013
目前确实是这样的。因为`conv2d`的channel值在编译期必须明确。 若channel值不确定，会影响conv2d 中 filter的创建。
如果reshape中`shape`的部分值是确定的，可以在编译期传入。如`shape = [tensor1, 3, tensor2]`，其中3是已知值。

[2019-12-02 06:08] littletomatodonkey commented on #4013
好的，这个之后会做出修改吗？比如说强制reshape的shape参数类型或者取消assertion之类的？不然其实是无法用tensor去做reshape的。

[2019-12-02 06:13] littletomatodonkey commented on #4013
好的，暂时只能这样先写了，这个之后会做出修改吗？感觉现在这样用的话比较繁琐~

[2019-12-02 06:22] kuke commented on #4014
可以把环境和报错信息贴了一个吗？

[2019-12-02 06:37] liym27 commented on #4013
感谢建议。在您不修改现有代码的情况下，还无法达到您期望的效果。建议暂时用替代方案。另外，
- 关于 强制reshape的shape参数类型：
  - reshape的参数`shape`可以是一个Tensor，也可以是list/tuple，list/tuple中可以有Tensor。可以将部分确定值传到`shape`中。
  - reshape支持2个参数`shape`和`actual_shape`，这2个参数可以同时使用。`actual_shape`可传入Tensor类型的值，`shape`可以传list，在编译期使用参数`shape`，运行期使用`actual_shape`。参考[API文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/reshape_cn.html)

- 关于 取消ass

[2019-12-02 06:44] shuxsu opened #4016 "在训练过程中配置是默认存在resize的吗？在测试过程中并没有resize？是否会影响输出结果"
使用的PaddleDetection的mask rcnn模型 发现在configs中默认存在resize
我的图片尺寸过大都是2048.1024
默认配置的resize后测试时是否会影响我的结果？

[2019-12-02 06:47] Soulmate303 commented on #4014
环境为：python3.5，Driver API Version: 10.2, Runtime API Version: 10.0，cuDNN Version: 7.5
我在squad.py代码中将query_tokens和tokenization_info['query_subtokens']打印出来分别为q_t,t_i
报错信息：
11/29/2019 07:31:29 - INFO - reader.squad - q_t:['Has', 'Japan', 'ever', 'attacked', 'Thailand', '?']
11/29/2019 07:31:29 - INFO - reader.squad - t_i:['Has', 'Japan', 'ever', 'attacked', 'Thailand', '?']
11/29/2019 07:31:29 - INFO

[2019-12-02 06:51] willthefrog commented on #4016
测试过程中也需要resize。另外 `PaddleDetection` 请移步 https://github.com/PaddlePaddle/PaddleDetection

[2019-12-02 06:54] zouxiaodong commented on #4012
@shippingwang  加上去运行正常了，谢谢
![image](https://user-images.githubusercontent.com/46236818/69936709-8c433c80-1513-11ea-8a6d-bc3cf5badf4c.png)

[2019-12-02 07:00] #4012 closed, assigned to shippingwang

[2019-12-02 07:15] littletomatodonkey commented on #4013
好的，谢谢

[2019-12-02 07:15] #4013 closed, assigned to liym27

[2019-12-02 09:50] michaelwangtd opened #4019 "faster rcnn r50网络设置max_iters为180000默认值是否过拟合？"
麻烦请问：
我用的是faster rcnn r50 1X网络进行训练
数据集是我自己准备的数据，一共80张
参数为默认参数：max_iters: 180000
1、帮忙查看一下训练结果是否过拟合了？
2、如果过拟合，训练参数设置多少比较合适？
3、使用该网络进行训练，正常训练完成后训练日志中正常的参数为多少？
![2830ef4e7523998aa5b6f339b8e05c2](https://user-images.githubusercontent.com/13723642/69948570-dedc2300-152a-11ea-8936-42b01ccf2dca.jpg)

[2019-12-02 09:59] willthefrog commented on #4019
合适的超参及loss范围对不同的数据集都会不同，只能通过实验尝试。80张的数据量估计是不太够的，这个大小的网络会overfit。

[2019-12-02 12:12] shippingwang commented on #4005
注意指定 class_dim=2

[2019-12-02 12:51] shippingwang commented on #4010
我看你指定的class_dim是121，
1.如果你想做finetune，那么应该指定--pretrained_model 这个参数
2.如果之后在train/finetune的过程中出现中断，则是指定--checkpoint来继续训练
你这个问题是什么时候出现的？

---
在save_model时，使用的save_persistable接口保存，不会保存tmp这种变量

[2019-12-02 13:04] yy738686337 commented on #4010
-  我是从头训练的，直接用了PaddleCV/image_classification的run.sh脚本，没有预先加载参数。
- 当从头训练到第9个epoch，提示saved之后，我取消了训练，再指定checkpoint继续训练时提示此错误。

其他模型没有这个问题。

[2019-12-02 13:09] Otis4631 commented on #4010
- 我是从头训练的，直接用了PaddleCV/image_classification的run.sh脚本，没有预先加载参数。
- 当从头训练到第9个epoch，提示saved之后，我取消了训练，再指定checkpoint继续训练时提示此错误，checkpoint 0 ,1 ,2, 3 ... 都没有tmp_4，因此无法加载。
- 其他模型没有这个问题。

[2019-12-03 01:31] michaelwangtd commented on #4019
@willthefrog麻烦您了
1、80张数据的情况下max_iters设置多少是合适的？为什么没有早停？2、在不过拟合的情况下，损失值为多少是正常的？

[2019-12-03 01:42] willthefrog commented on #4019
这个没有一定的规则，只能靠实验，180000是按coco数据集设置的，大小是11万多，你可以先试试按比例缩短下。但是80张大概率是训不出来的。

[2019-12-03 01:44] BeyondYourself commented on #3007
I have tried the 1.6 and delvelop version  occur the same problems like you :
`dynamic_loader.cc:140] Failed to find dynamic library: /paddle/build/third_party/install/warpctc/lib/libwarpctc.so`

[2019-12-03 01:57] michaelwangtd commented on #4019
@willthefrog 想请教一下，如果用我们自己的数据集，数据大概要准备多少张

[2019-12-03 02:30] willthefrog commented on #4019
根据类别数量吧，感觉每个类sample至少也得千级别吧

[2019-12-03 02:31] willthefrog commented on #4019
建议可以先按千级别采集，如果不能达到满意效果再添加。

[2019-12-03 02:34] willthefrog commented on #4019
也可以选择小一些的模型，可以参考 快速开始里的 fruit 数据集。

[2019-12-03 05:06] LopSdir opened #4021 "我训练模型然后我用模型测试，结果数据里面说没有那个文件"
PaddleCheckError: Cannot open file ./conv2d_61.w_0 for load op at [/paddle/paddle/fluid/operators/load_op.h:37]
  [operator < load > error]
aistudio@jupyter-115314-196260:~/work/face_detection$  --model_dir=output/1/ --image_path=data/WIDER_train/images/0--Parade/0_Parade_Parade_0_605.jpg
bash: --model_dir=output/1/: No such file or directory

python widerface_eval.py --infer=True --confs_threshol

[2019-12-03 08:00] cyj1986 commented on #3982
多卡训练会有多卡之间的数据通信，有没有加速跟数据通信与计算的占比有关，数据通信高或是计算不均衡的情况下有可能出现多卡加速少甚至没有加速、变慢的情况。可以用nvprof看看，现在的瓶颈是在哪里？关于显存溢出，batchsize=1 时，单机单卡显存占用多少，

[2019-12-03 09:03] cyj1986 commented on #3982
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/advanced_usage/best_practice/memory_optimize.html
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/advanced_usage/best_practice/dist_training_gpu.html

[2019-12-03 09:06] ss3b3 commented on #3982
我去试试，谢谢您

[2019-12-03 10:09] LielinJiang commented on #4021
它找的是 ./conv2d_61.w_0这个路径，而没有找./model/output/1/下的路径，你看看是不是路径没输对

[2019-12-03 11:34] shuxsu commented on #3982
兄弟  有啥结果@一下啊   我还是没搞明白4张卡 怎么弄比1张卡快

[2019-12-03 11:40] shuxsu commented on #3983
这个x2coco.py是什么数据集转换coco的脚本呢？

[2019-12-03 11:50] ss3b3 commented on #3983
labelme标注完的转coco

[2019-12-03 12:13] LopSdir commented on #4021
感谢，我自己看了看，最终又能跑出结果了，非常高兴，感谢

[2019-12-03 12:24] shuxsu commented on #3983
你是用的哪个模型啊  detection的？

[2019-12-03 12:26] ss3b3 commented on #3983
是detection

[2019-12-03 12:27] shuxsu commented on #3983
加个好友  我也在弄detection   兄弟

[2019-12-03 12:35] Soulmate303 commented on #4014
还有一个问题想请教：本地实验条件有限，BASE_Large的跑到一半跑不动，在忽略上面一个问题的情况下仅将Large模型文件换为官方的Base模型文件，得到的结果非常不理想，想知道在替换时需要注意什么？

[2019-12-03 12:37] Soulmate303 commented on #4014
还有一个问题想请教：本地实验条件有限，BASE_Large的跑到一半跑不动，在忽略上面一个问题的情况下仅将Large模型文件换为官方的Base模型文件，得到的结果非常不理想，想知道在替换时需要注意什么？ @kuke

[2019-12-03 12:37] shuxsu commented on #3983
咨询一下  如果我想要在转换代码时候固定类别选项是否这样操作就可以：
在deal_json代码中加入如下代码
if label=="sky" or label=="terrain" or label=="people"  or label=="vegetation"

                label = shapes['label']
                if label == "sky" or label == "terrain" or label == "people" or label == "vegetation":
                    object_num = object_num + 1

                    if label not in labels_list:

[2019-12-04 01:17] zhaotun commented on #4005
@shippingwang  指定 class_dim = 2 后，可以了，谢谢！

[2019-12-04 03:38] xiaoqinghuang opened #4024 "embedding层是否会提供word2vec或glove模型？"
如题，paddle的embedding它是可以替换为其他的预训练的已有词向量，比如，word2vet或glove或conll05。但是paddle并没有提供word2vec或glove的，只提供了conll05。自己想要替换时，需要自己去改代码，改数据，比较繁琐。就问下是否会提供？

[2019-12-04 08:05] shuDaoNan9 commented on #486
我也遇到了，我是直接用的“https://github.com/PaddlePaddle/models/tree/develop/PaddleRec/ctr/deepfm”的代码，按照上面readme步骤运行的，啥都没改，跑出来测试集指标只有“loss: [0.84420469] auc_val: [0.51261696]”，0.5跟readme说的auc是0.8差距较大；我自己用TensorFlow写的auc算的0.76

[2019-12-04 08:07] wenston2006 commented on #3939
@Aurelius84  谢谢你的回复，看了你提供的代码，启发很大；我还有一个公式，形式和上面的公式类似，但函数输出取值没有常量；公式如下：
![Screenshot from 2019-12-04 16-05-38](https://user-images.githubusercontent.com/18213760/70124703-51c2d680-16b0-11ea-9a86-42d6a93ec017.png)

这种情况下还能再用ｓｔop_gradient来实现两个约束条件吗？
盼复！

[2019-12-04 08:11] shuDaoNan9 commented on #3841
我是直接用的“https://github.com/PaddlePaddle/models/tree/develop/PaddleRec/ctr/deepfm”的代码，按照上面readme步骤运行的，啥都没改，跑出来测试集指标只有“loss: [0.84420469] auc_val: [0.51261696]”，0.5的auc跟readme说的auc是0.8差距较大；我自己用TensorFlow写的auc算的0.76

[2019-12-04 08:22] shuDaoNan9 commented on #3841
@wilhelmzh  infer.py的
batch数 = 测试集记录行数 / batch_size(default:100)
吧？还是要乘auc_states？auc_states又是啥？？感觉对不上啊，，，，，，我还是用TensorFlow玩算了吧

[2019-12-04 08:25] wenston2006 opened #4026 "多方向文字识别如何实现？目前的ocr model好像只能用于水平方向文字识别"
比如现在有一行文字，里面的每个字顺时针或逆时针旋转了９０度（这种情况是存在的，比如一列中文汉字旋转到水平方向）；这中情况下应如何处理？由于目前的模型都是针对行文本设计的，是否应该再针对顺时针或逆时针旋转，分别训练两个文字识别模型？

[2019-12-04 09:26] dbcool opened #4027 "图像分类DALI出错"
进行图像分类时使用DALI出错
配置:nvidia-dali:0.16.0, paddle:1.6.1, gcc:5.4,cuda10
我的运行指令:
export CUDA_VISIBLE_DEVICES=0,1,2,3
export FLAGS_fraction_of_gpu_memory_to_use=0.80
python -m paddle.distributed.launch train.py \
    --model=SE_ResNet50_vd \
    --pretrained_model=pretrain_model/SE_ResNet50_vd_pretrained/ \
    --batch_size=200 \
    --data_dir=data/terror_detail/ \
    --num_epochs=60 \
    --total_ima

[2019-12-04 12:16] shippingwang commented on #4027
1.检查paddle.fluid.install_check.run_check()确定paddle可用
2.务必注意：[三个注意事项](https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/image_classification#%E6%B3%A8%E6%84%8F%E4%BA%8B%E9%A1%B9)

[2019-12-04 12:21] A1exy opened #4029 "resnet34 yolov3 paddleslim pruning问题"
@wanghaoshuang
您好，mobilenetv1 yolov3按照示例是可以pruning成功的，infer也正常。我想在resnet34 yolov3上编写配置文件进行pruning，报错了，仔细核对了代码，没找出问题出在哪里，可以帮忙看一下吗，多谢！
配置文件如下：
![image](https://user-images.githubusercontent.com/7035538/70142120-7c725680-16d3-11ea-9844-bfe6db75dfa5.png)
进行Pruning报错如下：
![image](https://user-images.githubusercontent.com/7035538/70142168-9875f800-16d3-11ea-8f30-865291cb2bd0.png)

[2019-12-04 12:23] A1exy commented on #4029
ps：编写配置文件进行darknet yolov3 pruning时也报的该错误。

[2019-12-05 02:40] wanghaoshuang commented on #4029
你好，配置文件中`target_ratio`是指模型整体的flops被剪裁掉的比例，PaddleSlim会根据这个比例二分搜出一组剪切率。
您log中显示，目前搜出来的一组剪切率是100%，也就是所指定的参数全部剪掉，所以报错了。

原因是设置的`target_ratio`太大了，即使所指定的参数全裁掉也满足不了要求，所以您可以适当调小`target_ratio`。

[2019-12-05 03:02] A1exy commented on #4029
多谢   问题解决关闭。

[2019-12-05 03:02] #4029 closed, assigned to wanghaoshuang

[2019-12-05 05:15] dbcool commented on #4027
执行.fluid.install_check.run_check()，最后几行是:
Your Paddle Fluid works well on MUTIPLE GPU or CPU.
Your Paddle Fluid is installed successfully! Let's start deep Learning with Paddle Fluid now

gcc版本:
gcc version 5.4.0 (GCC)

nvidia-dali版本:
nvidia-dali-nightly 0.17.0.dev20191202

设置过FLAGS_fraction_of_gpu_memory_to_use:
export FLAGS_fraction_of_gpu_memory_to_use=0.8

还是报错:
W1205 05:14:24.196503   618 dev

[2019-12-05 06:51] wanghaoshuang commented on #4026
hi, 目前Paddle模型库只发布了行文本识别模型，暂时没有满足您需求的模型。

如果每个字的旋转角度一样，且还是在一行的话，还是用行文字识别模型训练的，但是要保证要训练数据旋转角度一样。

[2019-12-05 07:18] xyzhou-puck commented on #4024
您好，可以使用1.6.1中提供的API：https://github.com/PaddlePaddle/Paddle/blob/ff0886a92a77498ada0a9a67401febc5ce4c52b9/python/paddle/fluid/io.py#L1673

可以动态修改program中的embedding。

[2019-12-05 07:35] hysunflower opened #4031 "ctcn 模型GPU报错 Each dimension size given in out_shape must be greater than 0"
<img width="1429" alt="图片" src="https://user-images.githubusercontent.com/52739577/70229970-434ceb80-1792-11ea-812f-90a22d29b782.png">

错误信息：
<img width="989" alt="图片" src="https://user-images.githubusercontent.com/52739577/70213803-3cfc4680-1775-11ea-9142-11bc67f0449d.png">

[2019-12-05 08:12] shuDaoNan9 commented on #3944
这个DCN模型我下载到Windows10上面运行dist_data这个小数据集，结果如下：
INFO:fluid:TEST --> batch: 9 loss: [0.6760486] auc_val: [0.5264826]
The last log info is the total Logloss and AUC for all test data.
跟readme说的0.8的auc差距好大哦

[2019-12-05 08:22] LBSIX commented on #3944
目前仅支持 linux环境运行，而且我跑的是0.79

---原始邮件---
发件人: "JWenBin"<notifications@github.com&gt;
发送时间: 2019年12月5日(星期四) 下午4:12
收件人: "PaddlePaddle/models"<models@noreply.github.com&gt;;
抄送: "Author"<author@noreply.github.com&gt;;"LBSIX"<1952865431@qq.com&gt;;
主题: Re: [PaddlePaddle/models] ctr 下的dcn模型求助 (#3944)

这个DCN模型我下载到Windows10上面运行dist_data这个小数据集，结果如下：
 INFO:fluid:TEST --&gt; batch: 9 loss: [0.6760486] auc_va

[2019-12-05 08:30] shuDaoNan9 commented on #3944
为啥我的Windows10能运行？跟Linux有差别吗？

[2019-12-05 09:16] shippingwang commented on #4027
注意用>gcc54编译

[2019-12-05 12:25] GaoWei8 commented on #4031
你的模型的输入尺寸是多少呢？

[2019-12-05 12:26] SunGaofeng commented on #4031
请问您这边训练的时候是用我们提供的数据和代码吗？还是用的另外的数据，或者修改过代码？

这里看着像是feature map的尺寸不对，可能经过多次减小之后出现尺寸为0或者负数了。

[2019-12-05 12:45] LBSIX commented on #3944
不知道了------------------ 原始邮件 ------------------
发件人: "JWenBin"<notifications@github.com>
发送时间: 2019年12月5日(星期四) 下午4:30
收件人: "PaddlePaddle/models"<models@noreply.github.com>;
抄送: "LBSIX"<1952865431@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [PaddlePaddle/models] ctr 下的dcn模型求助 (#3944)

为啥我的Windows10能运行？

&mdash;
You are receiving this because you authored the thread.
Reply to this email dire

[2019-12-06 06:31] dbcool commented on #4027
嗯嗯，用hub.baidubce.com/paddlepaddle/paddle:latest-gpu-cuda10.0-cudnn7-dev镜像编译了paddle，并重新安装了一下
执行指令:
export CUDA_VISIBLE_DEVICES=0,1,2,3
python -m paddle.distributed.launch train.py \
    --model=SE_ResNet50_vd \
    --pretrained_model=pretrain_model/SE_ResNet50_vd_pretrained/ \
    --batch_size=100 \
    --data_dir=data \
    --num_epochs=60 \
    --total_images=839981 \
    --class_dim=6 \
    --mo

[2019-12-06 08:59] #3430 closed, assigned to zhaoyuchen2018

[2019-12-06 09:48] hysunflower commented on #4031
这个问题是传model_name时传进了小写ctcn的缘故，正确传参应该传入CTCN，建议在做model_name检查，抛出相应错误信息。但是传入CTCN后，仍旧有报错情况，详见[#3478](http://newicafe.baidu.com:80/issue/DLTP-3478/show?from=page)

[2019-12-06 13:11] Anikily opened #4038 "运行DANet报错"
model                         : danet
backbone                      : resnet101
dataset                       : cityscapes
num_classes                   : 19
data_folder                   : ./dataset
base_size                     : 1024
crop_size                     : 768
aux                           : True
se_loss                       : True
epoch_num                     : 1200
start_epoch

[2019-12-07 09:43] IWQOS-ASTBAR opened #4039 "GoogLeNet模型训练完成后读取参数出现问题"
读取其他模型的参数均没有问题，但GoogLeNet出现问题：Traceback (most recent call last):
  File "D:/python_adver/attack_code/acc.py", line 135, in <module>
    out = fluid.layers.softmax(out_logits)
  File "D:\python_adver\attack_code\venv\lib\site-packages\paddle\fluid\layers\nn.py", line 1983, in softmax
    "use_cudnn": use_cudnn})
  File "D:\python_adver\attack_code\venv\lib\site-packages\paddle\fluid\layer_helper.py

[2019-12-07 09:44] IWQOS-ASTBAR commented on #4039
可能是模型问题，如果是的话请尽快调整

[2019-12-08 02:45] shuxsu commented on #3983
你的那个错误是在test代码那里，加入ds_type

[2019-12-09 06:02] lea4n commented on #4039
请提供环境和版本信息，os／py／paddle，谢谢。

[2019-12-09 06:13] zhiqiu commented on #4027
请确认下CMAKE选项是否设置-DWITH_DISTRIBUTE=TRUE了？

[2019-12-09 09:23] IWQOS-ASTBAR commented on #4039
os:win10+pycharm
python:3.7
paddle:1.6训练模型，1.5读取模型

[2019-12-09 10:06] Julyliying opened #4043 "landmark模型测试出现问题，如下"
在测试landmark recognition模型时，pypredict编译通过，但是运行inference时，
  python infer_recognition.py test_cls test_data/0.jpg res152_softmax_v2,
出现如下问题，请问是什么原因？？怎样解决？？
ImportError: ./so/PyCNNPredict.so: undefined symbol: _ZN6paddle14AnalysisConfig18EnableAnakinEngineEiSt3mapINSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEESt6vectorIiSaIiEESt4lessIS7_ESaISt4pairIKS7_SA_EEEiNS0_9PrecisionEbS8_IS7_SaIS7_EESK_

[2019-12-09 10:16] Exception-star commented on #4038
Can not find library: libcublas.so. The process maybe hang. Please try to add the lib path to LD_LIBRARY_PATH.
请参考
[链接](https://github.com/PaddlePaddle/models/issues/2783)

[2019-12-10 06:55] dyning commented on #4043
想问下您用的Paddle版本是哪个？机器运行环境是Cudnn >= 7, CUDA 9, PaddlePaddle version >= 1.3, python version 2.7

[2019-12-10 07:54] Julyliying commented on #4043
您好！ Paddle版本是1.6.1， Cudnn 7.6， cuda10， python2.7   必须使用cuda9吗？？？

[2019-12-10 08:06] Exception-star commented on #4038
请使用最新版本的danet

[2019-12-10 10:50] Superjomn commented on #4043
这是用的paddle 官方的预测库吗？

[2019-12-10 11:20] shippingwang commented on #4039
为什么要1.6训练模型，之后用1.5读取模型呢？
这里的读取是指加载保存下来的参数么？

[2019-12-10 11:23] shippingwang commented on #4027
嗯 编译需要加-DWITH_DISTRIBUTE=TRUE

[2019-12-10 11:23] #4027 closed, assigned to shippingwang

[2019-12-10 12:17] IWQOS-ASTBAR commented on #4039
给的train.py文件只能在1.6版本以上才能运行
读取指的是加载保存下来的参数
因为在做AI安全对抗比赛，这个比赛只能用1.5版本
其他模型参数均可以成功加载，但GooleNet不行，可能是版本间api的兼容性问题
有办法处理吗？

[2019-12-10 12:39] JiaXiao243 commented on #4010
我执行的python train.py --model=ResNeXt101_32x48d_wsl --batch_size 8 --checkpoint=output/ResNeXt101_32x48d_wsl/0，ResNeXt101_32x48d_wsl可以用checkpoint继续训练，
![image](https://user-images.githubusercontent.com/37854899/70530051-fcddff00-1b8c-11ea-8f2b-79fefc714bca.png)

[2019-12-10 13:42] whereitogo opened #4054 "求FOTS论文的实现！"

[2019-12-11 01:05] wenston2006 commented on #4026
＠ｗａｎｇhaoshuang 明白了，谢谢回复

[2019-12-11 01:05] #4026 closed, assigned to nobody

[2019-12-11 02:10] dyning commented on #4043
这个应该不是官方的，当时临时编译的

[2019-12-11 02:15] dyning commented on #4054
最近我们在关注这个方面，尽请期待。

[2019-12-11 02:18] dyning commented on #4043
之前使用的是临时编译的so版本，我们最近升级一下，更新到官方版，尽请期待。

[2019-12-11 02:50] #4054 closed, assigned to nobody

[2019-12-11 02:58] lyw615 commented on #3403
请问现在批量预测的代码有更新上来吗？我好像没找到。我的输入图像是2400*2500的，预测完一张需要1.4秒，请问官方有预测时间的标准吗

[2019-12-11 03:40] lanxianghit commented on #4039
在版本升级过程中会尽量保证向前兼容（即基于老版本写的代码可以在新版本上正确运行），但无法完全保证向后兼容，比如这里提到的使用1.6训练，但使用1.5进行加载的情况。

针对您目前参加的比赛只能使用1.5版本的情况，不知道时间方面是否允许重新训练模型？如果可以，建议从PaddlePaddle/models repo中clone代码后切换到“release/1.5”分支，使用基于1.5版本的模型代码重新训练模型，这样可以保证使用1.5版本进行加载的正确性。
![图片](https://user-images.githubusercontent.com/47554610/70587515-1458ce80-1c05-11ea-90b5-b0e3e537f28c.png)

[2019-12-11 05:41] IWQOS-ASTBAR commented on #4039
ok收到，我试下，如果不行，再来留言，感谢

[2019-12-11 07:10] lyw615 opened #4059 "How about the time cost of per image inferring for pyramidbox?"
Could you provide your time **cost details** when inferring? Just like average per image inferring **time** , average image size ,and Gpu type. If it's convenient for you, i will be appreciate a lot.

[2019-12-11 08:25] jiayalu123 opened #4060 "TypeError: only integer scalar arrays can be converted to a scalar index"
有人遇到过这么问题吗？

[2019-12-11 08:30] liym27 commented on #4060
请问是调用哪个API报出的该错误，以及是否有相关代码可以看一下

[2019-12-11 08:45] lyw615 commented on #4059
Because my input images arrange from 2400~2500 cost 1.3s per image, in 1080ti. So i want to check the problem

[2019-12-11 09:35] L-lei opened #4061 "语音识别DeepVoice3"
paddle版本如下:
    Name: paddlepaddle-gpu
    Version: 1.6.1.post107

第1个错误:DeepVoice3/deepvoice3_paddle/modules.py中371行
--------------------------------------------------------------------------------------------------self.embed._w.value().get_tensor().set(
            array, fluid.framework._current_expected_place())
----------------------------------------------------------------------------------

[2019-12-11 10:48] IWQOS-ASTBAR commented on #4039
还是没法加载参数........
![image](https://user-images.githubusercontent.com/58623947/70615014-91f0fe80-1c46-11ea-92c0-345f2983e3dd.png)
使用1.5版本进行训练的，训练命令如下：
python -m paddle.distributed.launch train.py \
	--model=GoogleNet \
	--batch_size=256 \
	--total_images=12000 \
	--class_dim=121 \
	--image_shape=3,224,224 \
	--model_save_dir=output/ \
	--with_mem_opt=True \
	--lr_strategy=cosine_decay \
	--lr=0.01 \

[2019-12-12 02:36] #2796 closed, assigned to zhhsplendid, wopeizl

[2019-12-12 03:08] lanxianghit commented on #4039
@shippingwang @heavengate 辛苦再帮忙跟进一下吧

[2019-12-12 03:24] iclementine commented on #4061
谢谢反馈！

最新的 paddle 开发版和 1.6.1 之间存在一些 API 的变化。如果你用的是 1.6.1 的 paddle, 为了保证运行不会有问题，可以 checkout models 库的 release/1.6 分支，这样的情况下我们保证代码是能正常运行的。

models 库的 develop 分支代码可能会做一些修改，以保证 develop 分支的代码能在最新开发版的 paddle 上运行。可以到 [多版本whl包列表-dev ](https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/install/Tables.html#whl-dev) 下载最新开发版的 paddle.

第一个错误信息：已经修复。现使用 set_value(ndarray) 来设置 Variable 的值。
第二个

[2019-12-12 04:08] endy-see opened #4064 "ERROR 2019-12-12 04:02:41,061 launch.py:269] ABORT!!! Out of all 4 trainers, the trainer process with rank=[0, 2] was aborted. Please check its log."
本地环境：cuda10，cudnn: 7.6.3, models的develop分支最新代码，paddle1.6.1，gcc version: 5.4.0

在用DALI训练image_classification时报错：
[root@5d564e9b351a image_classification]# sh train_dali.sh
-----------  Configuration Arguments -----------
cluster_node_ips: 127.0.0.1
log_dir: None
node_ip: 127.0.0.1
print_config: True
selected_gpus: None
started_port: 6170
training_script: train.py
training_script_args: ['--model=Res

[2019-12-12 05:04] L-lei commented on #4061
好的,多谢

[2019-12-12 05:04] #4061 closed, assigned to iclementine

[2019-12-12 05:35] FrostML commented on #4064
麻烦按照注意事项修改，并使用编译的paddle。
![image](https://user-images.githubusercontent.com/7160927/70686107-36764d80-1ce6-11ea-8b56-4d48eb6f3cd0.png)

[2019-12-12 06:05] endy-see commented on #4064
也就是说需要自己用GCC5.4再编一个paddle环境了，谢谢

[2019-12-12 06:05] #4064 closed, assigned to shippingwang

[2019-12-12 06:44] liym27 commented on #4059
Relevant developers are following this issue

[2019-12-12 06:46] qingqing01 commented on #4059
@lyw615   Sorry, we don't have Pyramidbox performance on GPU now.  This model is actually time-consuming.  If use Python to infer, better use the Python API of c++ inference.

[2019-12-12 07:10] lyw615 commented on #4059
How to achieve this?

[2019-12-12 10:31] lyw615 commented on #4059
In this paper's Runtime Speed part , the speed seems  just ok compared with other model.[https://zhuanlan.zhihu.com/p/35856534](url)

[2019-12-12 14:09] chenqiuhui opened #4068 "image classification分类的batch计算问题"
跑训练时，单卡时，train和test跑的batch数==图片数/batch_size；不是单卡时，test的batch数正常，而train的batch数==num_gpu*训练图片数/train_batch_size；请问为什么？

[2019-12-13 03:52] jiayalu123 commented on #4060
这个代码你跑起来了吗？在测试得时候，我的一直报错，tensorflow.python.framework.errors_impl.InvalidArgumentError: Inputs to operation transformer/transformer-1/multi_head_atten/Select of type Select must have the same size and shape.  Input 0: [8,100,100] != input 1: [1024,100,100]

[2019-12-13 04:19] qingqing01 commented on #4059
@lyw615  PyramidBox is also based on SSD. If your project does not require high real-time performance and require high accuracy, you can choose this model.  This model is very good on small face.  Otherwise, you can choose faceboxes or BlazeFace

[2019-12-13 05:23] wenston2006 opened #4071 "dygraph 中的attention ocr部分只有训练代码，如果进行测试必须得输入ｌａｂｅｌ的ground truth　"
测试时怎么改代码，把输入label的ground truth给去掉？毕竟测试时是没有提供label的ground truth的．我的意思是指OCRAttention的forward函数的参数label_in，在训练时label_in是训练数据的label ground truth，但在测试时就应该去掉了，因为测试数据的ｌａｂｅｌ ground truth一般是未知的，但不知代码应该如何改，　label_in应该如何替换．

[2019-12-13 06:05] FrostML commented on #4068
多卡训练时，会把 ( batch_size/卡数 ) 来进行训练

[2019-12-13 06:29] lyw615 commented on #4059
How much does these operations matters  the infer results?
`
det0 = detect_face(image, shrink)
    print("type of det {}".format(type(det0)))
    if args.use_gpu:
        det1 = flip_test(image, shrink)
        [det2, det3] = multi_scale_test(image, max_shrink)
        det4 = multi_scale_test_pyramid(image, max_shrink)
        det = np.row_stack((det0, det1, det2, det3, det4))
        dets = bbox_

[2019-12-13 07:48] liym27 commented on #4060
请问是哪个模型的报错？

[2019-12-13 08:01] jiayalu123 commented on #4060
transformer 预测的时候报错，

[2019-12-13 08:03] lyw615 commented on #4059
Does the prediction time include pre-processing of the image and post-processing time of the prediction result?

[2019-12-13 08:18] phlrain commented on #4071
目前 attention ocr 没有实现beam search功能，我们会在下个版本发布的时候 补充这个功能

[2019-12-13 08:41] liym27 commented on #4060
请问是动态图还是静态图，哪一个文件？使用的paddle版本以及环境是什么？

[2019-12-13 11:09] qingqing01 commented on #4059
@lyw615  There is no need to use multi-scale in the depolyment. Only one scale testing is ok.

[2019-12-13 13:38] qiusuor opened #4074 "度量学习中只有一个模型吗，可以多实现一些流行的模型吗"
尊敬的Paddle开发者，您好。最近行人重识别与人脸识别领域出了很多的有竞争力的模型，比如MGN，DGN，请问有没有Paddle的实现

[2019-12-15 03:43] pfan8 opened #4075 "训练时报错PaddleCheckError: CUBLAS"
[code]
训练到几十个batch后会出现这个错误，输出loss查看都是正常的数值，不知道问题出在哪
模型是seq2seq
参照https://github.com/PaddlePaddle/models/blob/develop/dygraph/sentiment/main.py

[2019-12-15 06:16] songyouwei commented on #4075
应该是你的模型或者输入数据的问题。麻烦贴一下模型的代码，还有paddle版本cuda版本这些环境信息。

[2019-12-15 14:02] shuxsu commented on #4021
设置绝对路径就避免了好多这种问题  这样老存在于隐藏文件夹内

[2019-12-16 01:23] wenston2006 commented on #4071
@phlrain　了解了，下个版本大概什么时候能出来？

[2019-12-16 08:06] gaozheyuan commented on #3045
所以应该如何操作？

[2019-12-17 03:07] cryoco commented on #4071
大概年后能够出来

[2019-12-17 08:39] zhengya01 commented on #4060
你好，你能提供的执行环境、paddle版本、运行命令、以及数据 吗？

[2019-12-17 14:21] mir-of opened #4080 "从bert pretrain打印的结果如何计算吞吐率性能？"
跑单机单卡, batch_size: 16, 打印的结果如下：

`epoch: 1, progress: 1/64, step: 2, loss: 11.409644, ppl: 14829.729492, next_sent_acc: 0.562500, speed: 5.488533 steps/s, file: part-00012-01b065c2-8e4a-442b-9920-d986845ab3d2-c000.txt.gz`

跑单机4卡, batch_size: 64, 打印的结果如下：
`epoch: 1, progress: 1/64, step: 3, loss: 8.647623, ppl: 2778.657471, next_sent_acc: 0.433594, speed: 1.436274 steps/s, file: part-00035-01b065c2

[2019-12-18 00:51] EthanZBY opened #4082 "PaddleCV/face_detection/widerface_eval.py"
models/PaddleCV/face_detection/widerface_eval.py
Line 307
    max_shrink = get_round(min(max_shrink_v1, max_shrink_v2), 2) - 0.3

This will generate a negative value when the image size is bigger and make the execution crashed.

[2019-12-18 01:40] Ailing-Zou commented on #3321
如果改成bash run.sh的话，会报另外一个错
![image](https://user-images.githubusercontent.com/52034091/71048485-61dfb900-217a-11ea-83bd-53301bf303a8.png)

[2019-12-18 02:40] kuke commented on #4080
这里的`--batch_size` 是单卡的batch大小，所以在测吞吐率时，对于单机4卡的情况，也要把batch size设置成16.

[2019-12-18 02:50] MrChengmo commented on #4082
I have told the relevant developers to follow up on this issue：@still-wait

[2019-12-18 03:39] zhanghongruiupup opened #4085 "关于cudnn版本问题"
你好，我是在用cudnn7.5.0训练stnet，看到您之前回复的issue说是用cudnn5。
我需要下降cudnn版本到5进行训练吗？谢谢

[2019-12-18 03:41] MrChengmo commented on #4085
请问您之前提的issue链接可否提供一下？

[2019-12-18 03:44] Ailing-Zou opened #4086 "Does anyone else feel unconvenient scanning so many repositories?"

[2019-12-18 03:45] zhanghongruiupup commented on #4085
https://github.com/PaddlePaddle/models/issues/1758#issue-411321578
谢谢

[2019-12-18 03:46] Ailing-Zou commented on #4086
Advise: It is really so hard to find issues related to my questions 建议：这么多模型混到一起，找相关issue实在是非常困难
搜索功能实在不好用，而且问题也不一定是针对相关model，真诚建议把这些东西采取个什么方式稍微分开？ 不然issue只有越来越冗长的结果

[2019-12-18 03:58] MrChengmo commented on #4086
感谢您的建议，我们会讨论相关优化改进的措施。

[2019-12-18 04:01] SunGaofeng commented on #4085
请问您用的paddle版本是多少？
在1.5及之后的paddle版本上，不需要换成cudnn5的，可以用cudnn7训练。

[2019-12-18 04:50] zhanghongruiupup commented on #4085
牛逼plus！谢谢
我发现stnet的loss只用了softmax 的交叉熵损失cross_entropy就能得到这么好的效果，尝试用
fg_num = fluid.data(name='fg_num',shape=[1],dtype='int32')
fluid.layers.sigmoid_focal_loss(self.network_outputs[0],self.label_input,fg_num,gamma=2,alpha=0.25)
然后会报错：info: holder_ should not be null  Tensor holds no memory.
请问您有什么建议吗？期待你的回信

[2019-12-18 04:51] zhanghongruiupup commented on #4085
那个paddle用的最新版本，cudnn7.5.0，所以没纠结版本问题了

[2019-12-18 06:07] mir-of commented on #4080
不对吧，代码里说的是“The total number of examples in one batch for training”。并且代码里没有找到关于多卡会将batch_size加倍的逻辑。
https://github.com/PaddlePaddle/models/blob/1c52e00543f52fa46f6420f4fb6bf76b3a56249b/PaddleNLP/PaddleLARK/BERT/train.py#L83

[2019-12-18 07:03] EthanZBY commented on #4082
Thanks and waiting for your good news.

[2019-12-18 07:11] mir-of commented on #4080
按照您的说法，--batch_size=32， 是指单卡的batch大小，运行了单机单卡，单机4卡，和2机8卡：

单机单卡：
epoch: 1, progress: 1/64, step: 2, loss: 10.309646, ppl: 11803.237305, next_sent_acc: 0.562500, speed: 3.092194 steps/s, file: part-00060-01b065c2-8e4a-442b-9920-d986845ab3d2-c000.txt.gz

单机4卡：
epoch: 1, progress: 1/64, step: 2, loss: 9.583839, ppl: 7204.416016, next_sent_acc: 0.656250, speed: 2.411773 steps/s, file: part-00029-01b065

[2019-12-19 04:01] MrChengmo commented on #4085
fluid.layers.sigmoid_focal_loss 的错误可以在 https://github.com/PaddlePaddle/Paddle/issues 下提一个相应的issue，会有负责该api的同学跟进

[2019-12-19 06:23] L-lei opened #4092 "DeepVoice3模块训练中保存模型时保存的语音有效果,合成的却是噪音"
DeepVoice3模块训练中保存模型时会自动保存一个合成语音,那个语音有效果,但是不管是训练时的测试合成的还是最后的预测合成的语音却是噪音

[2019-12-19 09:20] kuke commented on #4080
两机加速比的计算方式没有问题，乘以`nccl2_num_trainers`是内部在实验的时候，为了方便换算成单机的吞吐量而做的修改，也可以不乘以机器数量

[2019-12-19 10:19] #4085 closed, assigned to SunGaofeng

[2019-12-19 14:05] endy-see opened #4094 "server not ready, wait 3 sec to retry... not ready endpoints:['127.0.0.1:6171', '127.0.0.1:6172', '127.0.0.1:6173']"
训练image_classification时出现如下问题：
![3333333333](https://user-images.githubusercontent.com/13143336/71179771-c64e6580-22ab-11ea-98f5-ee3e5198fbd1.png)

麻烦帮忙看一下

[2019-12-19 22:08] shippingwang commented on #4094
怎么运行的？paddle版本
这个会一直报么？
不用多卡多进程 会有问题么？

[2019-12-20 06:11] endy-see commented on #4094
就普通的运行脚本，如下：
![44444](https://user-images.githubusercontent.com/13143336/71234048-7b2b6580-2332-11ea-8fc3-4fffcb50b814.png)
会一直报这个错误，训练的时候正常，validation的时候就那儿不动了，用的就是多卡多进程

[2019-12-20 06:12] endy-see commented on #4094
paddle版本是1.6.2，根据源码编译的，期望是使用dali的

[2019-12-20 06:38] shippingwang commented on #4094
OK 我们测试下，近期代码改动频繁，这里没有测试，我们本地看看能不能复现下～多谢

[2019-12-20 06:46] shippingwang commented on #4068
现在（19/12/20）代码中，分类中batch_size参数是指所有卡的
close this issue now

[2019-12-20 06:46] #4068 closed, assigned to nobody

[2019-12-20 07:07] endy-see commented on #4094
好的，上周跑还是正常的。。

[2019-12-20 08:19] mir-of commented on #4080
好的，谢谢

[2019-12-20 09:43] #4086 closed, assigned to nobody

[2019-12-20 13:22] #3843 closed, assigned to jerrywgz

[2019-12-20 13:24] #3267 closed, assigned to jerrywgz

[2019-12-20 13:25] #3266 closed, assigned to jerrywgz

[2019-12-20 13:28] #2154 closed, assigned to jerrywgz

[2019-12-20 13:29] #1896 closed, assigned to typhoonzero, jerrywgz

[2019-12-21 09:58] littletomatodonkey opened #4098 "python api预测bug"
python api链接：[https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/python_infer_cn.html](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/python_infer_cn.html)

使用转换完的分类model和params二进制文件，预处理完之后，必须使用.copy()做一次深拷贝，否则预测结果和fluid预测结果对不上，复现的代码在这里：https://github.com/PaddlePaddle/models/blob/54f64c665e2f737a91c39f42e973fa121b80d8b4/Padd

[2019-12-22 15:19] #3441 closed, assigned to wilhelmzh

[2019-12-23 02:35] Superjomn commented on #4098
看起来是python np的问题

[2019-12-23 03:05] EthanZBY commented on #4082
Tested, two bugs mentioned in paddlehub have been fixed.

[2019-12-23 03:05] #4082 closed, assigned to qingqing01

[2019-12-23 03:15] iclementine commented on #4092
使用的完整命令能发一下吗？

[2019-12-23 11:00] li-900406 opened #4110 "BMN/BSN模型评估时报错"
错误如下：
Process Process-13:
Traceback (most recent call last):
  File "D:\Anaconda\lib\multiprocessing\process.py", line 297, in _bootstrap
    self.run()
  File "D:\Anaconda\lib\multiprocessing\process.py", line 99, in run
    self._target(*self._args, **self._kwargs
  File "G:\models-develop\PaddleCV\PaddleVideo\models\bsn\bsn_utils.py", line 124, in video_process
    result_dict[video_name[2:]] =

[2019-12-24 02:16] mrright2019 opened #4117 "如何获取指定层的输出"
当我在用NEXTVALD模型对视频分类的时候，我想提取视频的embedding向量，请问paddle有获取指定层的输出的方法吗？我该怎么做？

[2019-12-24 03:57] L-lei commented on #4092
那个主要是:
1.训练代码是没问题的;
2.预测和测试中的语音合成走的是eval_model.py中的tts,后面网络最大差异的是deepvoice3_paddle/deepvoice3.py中DeepVoiceTTS中transduce与forward中;
3.与过拟合也无关,train中返回的结果保存的音频效果还可以,直接将train中输入数据替换成test/预测中都合成出来是噪音;
4.我使用的是thchs30数据集,原文中使用ljspeech;

[2019-12-24 03:59] L-lei commented on #4092
你们本地是可以合成出来的是吧?,如果是的,我仔细调试下我这边一些参数和DeepVoiceTTS中transduce与forward中比较下处理过程;

[2019-12-24 08:44] wilhelmzh commented on #4110
辛苦 @huangjun12 帮忙看下

[2019-12-24 09:20] huangjun12 commented on #4110
result_dict是在bsn_utils.py文件的bsn_post_processing函数中定义的global变量，报错信息提示未找到该变量。为方便定位问题，建议贴一下配置环境、执行的命令及所有的报错信息~
另外BSN模型分TEM、PGM和PEM三个模块，各模块执行顺序有要求，详情参考 https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleVideo/models/bsn/README.md

[2019-12-24 09:40] li-900406 commented on #4110
环境为 windows10 cuda 9.0 cudnn7.6 paddlepaddle是在官网下载的对应版本
执行命令为 bash run.sh predict BMN ./configs/bmn.yaml
结果如下
![捕获1](https://user-images.githubusercontent.com/59164417/71406882-6cb3b580-2674-11ea-932d-2dbb20c39e19.PNG)
![捕获2](https://user-images.githubusercontent.com/59164417/71406884-6de4e280-2674-11ea-9d4d-04557f2fadc5.PNG)

[2019-12-24 15:02] iclementine commented on #4092
感谢反馈。

transduce 和 forward，一个用于预测，一个用于训练，但是因为网络中使用了 weight norm，把许多模块中的 W 分解成 V 和 g 两个部分，（训练时 V 和 g 被更新）在计算的时候用 g * V / |V| 来代替原本的 W，但是在预测的时候，为了加速，我们会一次性地把 W 计算出来，然后一直使用。（但是如果 V 和 g 又被更新过了，那么 W 应该重新计算。）

因此合成遇到杂音，我觉得可能是 W 还没有被重新计算。

[2019-12-25 05:34] linrjing opened #4123 "CTCN模型训练一段时间后NAN"
使用CTCN模型代码，输入数据是自己的数据
1. 测试1，img_size=512, concept_size=512, batch_size = 16. 第一个epoch训练正常，第二个epoch在中间出现NAN
[INFO: metrics_util.py:  282]: [TRAIN] Epoch 1, iter 0  Loss = 8.644265174865723,   loc_loss = 5.305370330810547,   cls_loss = 3.338895320892334
[INFO: metrics_util.py:  282]: [TRAIN] Epoch 1, iter 10     Loss = 6.298323631286621,   loc_loss = 3.9766969680786133,  cls_loss = 2.32162642478942

[2019-12-25 05:37] baiyfbupt commented on #4123
测试1和测试2是用的同样的代码、配置和数据，只是跑了两次在不同的地方出了NAN，是这样吗？

[2019-12-25 05:40] yaoxuefeng6 commented on #4117
请参照 这个issue https://github.com/PaddlePaddle/Paddle/issues/15334

[2019-12-25 06:03] L-lei commented on #4092
还是这样,我去试下用原来的LJSpeech数据集试下

[2019-12-25 06:26] baiyfbupt commented on #4123
@linrjing PaddleVideo视频库的同学跟我一起看了一下，之前CTCN模型用默认的数据集没有遇到过出NAN的问题，所以怀疑是换了数据集的原因，新数据集可能有部分脏数据

提供一个排查思路：关掉reader部分的shuffle操作，同时关掉多进/线程reader（对数据读入顺序也有影响），保证数据读入的顺序固定不变，再进行训练，log间隔设置为1，看看是否多次训练都在同一个iter挂掉。如果是，可以找到这条数据，看看数据本身和label是否有异常

[2019-12-25 06:56] L-lei commented on #4092
使用DeepVoice3中提供的预训练模型合成出来是正常的,应该和我参数/训练数据有关

[2019-12-25 06:56] #4092 closed, assigned to iclementine

[2019-12-25 12:26] ellinyang opened #4127 "PaddleDetection Retinanet 评估失败 Cannot find fetched variable(im_id)"
软硬件环境：GPU P4, CUDA7.0; CUDNN9.0
代码版本 paddleDetection（ commit_id d7fcd54d7b038823ae0938ea48242cd38b7ec942）
paddle 1.6.2
背景：将异步读取的pyreader改为同步feeder读取
[code]

**报错如下**：
[code]

[2019-12-25 12:35] baiyfbupt commented on #4127
[code]
这个报错信息是说program中找不到fetch_list写的`im_id`这个Variable所以无法fetch，建议检查一下定义的输入data层`fluid.layers.data或fluid.data`有没有写这个placeholder

[2019-12-25 12:40] linrjing commented on #4123
@baiyfbupt 训练数据3520 条，batch-size=16, 关掉reader的shuffer操作，目前已经训练2个epoch，正常，并没NAN

[2019-12-26 02:29] linghaolu opened #4129 "PaddleCV/image_classification 是否支持 openimages 数据集这种multi-label分类"
PaddleCV/image_classification 是否支持 openimages 数据集这种multi-label分类 训练/预测?

[2019-12-26 02:41] ellinyang commented on #4127
我的理解是 fetch_list和模型输出有关，为何和输入data层有关？
另外，请问为何同样的program,  pyreader输入，就能找到fetch_list写的`im_id`，不报错；仅改写了一下data_feed，就报错了。（data_reader也一样）

[2019-12-26 03:18] baiyfbupt commented on #4123
固定输入顺序以后是否还会不定期出NAN呢？

[2019-12-26 03:29] baiyfbupt commented on #4127
hi, fetch的不仅可以是模型的输出，也可以是program中的任何variable，包括输入data
根据你使用的代码版本`im_id`是网络的一个feed data: [im_id定义](https://github.com/PaddlePaddle/models/blob/d7fcd54d7b038823ae0938ea48242cd38b7ec942/PaddleCV/PaddleDetection/ppdet/modeling/model_input.py#L28)，所以建议还是检查一下改py_reader为同步reader以后有没有给这个`im_id`增加相应的fluid.layers.data接口

[2019-12-26 03:33] baiyfbupt commented on #4127
也可以用下面的方式将网络中所有的variable打印出来看一下，对比一下改写py_reader后是否比之前缺失了`im_id`这个variable
需要注意的是，这里的program应该是一个原始program, 不要经过compile
[code]

[2019-12-26 07:02] lixuan1 opened #4132 "models/PaddleNLP/emotion_detection/ 官方代码运行sh run.sh eval评估出错"
PaddleNLP/emotion_detection/项目我还没有修改模型代码，运行官方评估代码时出错，如图
<img width="566" alt="屏幕快照 2019-12-26 下午2 54 04" src="https://user-images.githubusercontent.com/9459980/71463170-7d893600-27f0-11ea-9aa4-37540c08afcf.png">
但，保存的模型下是有正确存放该模型参数的，如图
<img width="456" alt="屏幕快照 2019-12-26 下午2 59 31" src="https://user-images.githubusercontent.com/9459980/71463215-9abe0480-27f0-11ea-9109-f3ffe76ab6d6.png">
请问，这是什么问

[2019-12-26 08:00] #4132 closed, assigned to nobody

[2019-12-26 12:16] iclementine commented on #4129
目前 paddle 的 cross_entropy 是支持 softlabel 的。比如一共 10 个类别，然后一个图片有 两个label 0, 和 3，那么soft label 可以设置为 (0.5, 0, 0, 0.5, 0, 0, 0, 0, 0, 0).

但是这样子需要对数据处理和网络中 loss 计算的部分做一些修改。你可以尝试修改一下。

[2019-12-26 12:31] linghaolu commented on #4129
现在有这样的例子么，paddle 的 github 上？

[2019-12-26 15:06] iclementine commented on #4129
完整的例子，似乎没有找到。
不过可以参考 https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/cross_entropy_cn.html#cross-entropy
使用 soft_label.

[2019-12-27 01:25] #4129 closed, assigned to iclementine

[2019-12-27 03:15] huangjun12 commented on #4110
感谢反馈！这是由于python多进程模块multiprocessing在unix与windows下的底层处理机制不同导所致，详细原因可参考:https://stackoverflow.com/questions/6596617/python-multiprocess-diff-between-windows-and-linux。
解决方案：将主程的global变量显式地传入各子进程，修改方法参考https://github.com/PaddlePaddle/models/pull/4134/files，代码将于近期合入develop。

[2019-12-27 03:28] bityigoss commented on #3549
这个文件是怎么用的呀？

[2019-12-27 03:34] linrjing commented on #4123
固定输入顺序后，没有NAN

[2019-12-27 07:13] houkai commented on #3160
这里权重只是提供一个思路，具体怎么实现都可以，论文中的外积没有代码这样实验更简单，效果应该差不多。

[2019-12-29 03:29] ellinyang commented on #4127
打印了。program里有“im_id”这个variable，且fetch_list里im_id  的persistable设置为True后，依旧报错。

[code]

[2019-12-29 11:35] shippingwang opened #4139 "图像分类代码问题 killed"
问题：分类代码运行一段时间，显示killed 程序退出
原因：可能是内存占满
分析方法：在程序运行过程中，实时的监测下内存占用情况，如果程序占用内存一直在涨的话，可能问题出现在reader过程中，不断的缓存数据
解决办法：调整xmapreader的num_thread 和buffer_size，具体调整方法参考：(WIP)

[2019-12-29 12:15] ellinyang commented on #4127
做了一组实验，定位到两个问题
1.paddle版本的原因，paddle1.5.1可以评估，但都评估值一直为0，或接近0的值，而1.6.2是直接报错。
2.fluid.compiler.CompiledProgram 的问题，因为是在训练时评估，对eval_prog也编译了一下，导致评估结果一直很差；若不编译，直接用eval_prog评估效果正常，不知是和原因？

[code]

[2019-12-29 14:36] qingqing01 commented on #4127
@ellinyang

1. im_id之所以要fetch，是使用COCO API评估mAP指标时需要。
2. 你去掉py_reader，使用feeder.feed是如何修改的代码？ 可以贴下git diff吗？
3.  使用py_reader时，eval_program，依然使用了 compile_program，代码： https://github.com/PaddlePaddle/PaddleDetection/blob/release/0.1/tools/train.py#L192
4. PaddleDetection已搬到到 https://github.com/PaddlePaddle/PaddleDetection ，代码也持续在 该repo更新，可以在该repo中提问，我们会及时回复。

[2019-12-30 02:39] ellinyang commented on #4127
1.理解。所以奇怪为何在1.6.2里一直报错,提示找不到 im_id;
2.3.4 train_feeder.py文件如下。几乎复用原始的train.py代码。但对eval_program编不编译会直接导致评估效果。

[code]

[2019-12-30 02:44] #4016 closed, assigned to nobody

[2019-12-30 04:06] #4139 closed, assigned to shippingwang

[2019-12-30 06:43] jerrywgz commented on #4127
im_id 这个var在评估过程中不作为网络中任何op的输入输出的，因此在构图的时候不会将im_id加进来。之所以用pyreader可以是因为，pyreader的逻辑是将reader作为一个op嵌入到网络中，这样im_id就成了这个‘reader’op的输入。你这边如果想用compile_program+data_feeder的话，在网络的任意位置（比如ppdet/modeling/architectures/retinanet.py）加上tmp=feed_vars['im_id'] + 1 这样的操作就可以暂时解决这个问题，我在1.6.1上是验证可以的

[2019-12-30 07:20] wenston2006 commented on #4071
了解了，希望尽快出来，否则现在只能用静态图的代码进行部署，但静态图很难调试和修改

[2019-12-30 08:18] wenston2006 opened #4143 "OCR训练如何添加图片扩增（data augmentation)功能?"
OCR训练中发现attention model很容易过拟合，　因此想在训练时候进行图片扩增（实时的进行旋转，裁剪，加噪声，扭曲），请问有没有这方面的功能？

[2019-12-30 09:09] wenston2006 opened #4144 "为何ocr attention 模型训练出来后，经常将长文本识别错？"
训练时候验证集上识别率达到８０％多，但实际使用时效果较差，特别是对于长文本识别较差，这是否是训练时过拟合了？

[2019-12-30 09:14] mikeFang1986 opened #4145 "PaddleDetection快速开始tools/train.py 报错CUDNN_STATUS_BAD_PARAM"
系统：ubuntu16.04
CUDA Version 10.0.130
CUDnn 7.4.2
Nccl  2.4.8
python 3.7

python -u tools/train.py -c configs/yolov3_mobilenet_v1_fruit.yml --use_tb=True --tb_log_dir=tb_fruit_dir/scalar --eval
运行时，报错如下：
use_gpu: true
weights: output/yolov3_mobilenet_v1_fruit/best_model

2019-12-30 17:02:35,740-INFO: places would be ommited when DataLoader is not iterable
W1230 17:02:36.778067  9089 device_context.

[2019-12-30 12:45] sataliulan opened #4147 "LAC模型利用paddleHub加载后，可否使用paddlehub集成的MsraNER数据集训练？"
如题，利用以下三行代码可以实现预测
import paddlehub as hub
lac=hub.Module(name='lac')
results=lac.lexical_analysis(data=inputs)
但若我想基于另一个数据集（hub.dataset.MsraNER()）将LAC训练后再使用，该怎么做? #

[2019-12-31 02:05] mikeFang1986 commented on #4145
修改了export CUDA_VISIBLE_DEVICES=0,1,2,3，可以训练200次，后来还是报错了，
2019-12-31 09:50:26,863-INFO: iter: 0, lr: 0.000000, 'loss': '25742.060547', time: 0.241, eta: 1:20:28
2019-12-31 09:50:34,725-INFO: iter: 20, lr: 0.000002, 'loss': '2238.673340', time: 1.260, eta: 6:59:39
2019-12-31 09:50:39,574-INFO: iter: 40, lr: 0.000004, 'loss': '51.575729', time: 0.260, eta: 1:26:23
2019-12-31 09:50:46,307-INFO: iter:

[2019-12-31 02:36] mikeFang1986 commented on #4145
修改训练命令，去掉 --eval，问题没有复现
python -u tools/train.py -c configs/yolov3_mobilenet_v1_fruit.yml --use_tb=True --tb_log_dir=tb_fruit_dir/scalar
请问原因是啥?去掉改选项对训练出的模型会有啥影响吗？

[2019-12-31 05:39] mikeFang1986 commented on #4145
python tools/eval.py -c configs/yolov3_mobilenet_v1_fruit.yml -o weights=output/yolov3_mobilenet_v1_fruit/model_final

python -u tools/infer.py -c configs/yolov3_mobilenet_v1_fruit.yml \
                         -o weights=output/yolov3_mobilenet_v1_fruit/model_final \
                         --infer_img=demo/orange_71.jpg
会出现同样的错误，因该是不能推理

[2019-12-31 09:02] aixier opened #4149 "这个模型能不能把导出模型代码补上(models/PaddleNLP/PaddleTextGEN/seq2seq/）"
https://github.com/PaddlePaddle/models/tree/c35c10a8fdd69039cc79c76f19cee87d04bc400b/PaddleNLP/PaddleTextGEN/seq2seq

[2019-12-31 09:51] mrright2019 commented on #4117
未能解决我的问题,因为我不知道怎么获得模型的结构和他某一层的name，我想用NextVALD提取embedding，请问有这方面的示例代码吗？

[2019-12-31 10:18] XingWu01 commented on #4143
@wanghaoshuang ，麻烦解决一下这个问题

[2019-12-31 10:19] XingWu01 commented on #4144
@wanghaoshuang

[2019-12-31 10:21] XingWu01 commented on #4147
@ZeyuChen

[2019-12-31 10:21] XingWu01 commented on #4147
请优先参考PaddleHub文档

[2020-01-01 13:56] morgan-bc opened #4151 "使用 QuantizationFreezePass 量化模型报错"
我按照 PaddleDetection 中 `slim\quantization\freeze.py`  量化训练好的 MobileNetV1_SSD 模型，在使用 QuantizationFreezePass  时报错，主要代码如下
[code]
错误信息如下
[code]
使用环境为：win10, Python 3.6.8,  paddle 1.6.2.
加载的模型能够正确预测，QuantizationFreezePass 每次报错 KeyError 都不一样，我是新手，请问训练后量化怎么做才是正确的呢？

[2020-01-01 15:12] sataliulan commented on #4147
PaddleHub文档中给出的demo是如何利用PaddleHub预训练lac模型做预测，而我想知道的是如何基于新数据集在PaddleHub中训练lac模型

[2020-01-02 03:18] LDOUBLEV commented on #4151
收到问题

[2020-01-02 03:24] slf12 commented on #4151
1、请问使用的量化方式是量化训练还是训练后量化（离线量化）？
2、如果是离线量化，不需要freeze
3、如果是量化训练，可先看参数中这个conv7_1_sep_weights 是否存在，如果存在，是否方便发出你的模型结构文件，我帮你看下

[2020-01-02 03:38] 1024er commented on #4149
好的，我尽快修复这个问题

[2020-01-02 05:19] morgan-bc commented on #4151
我想用的是离线量化， conv7_1_sep_weights 这个是存在的，我是按照 [PaddleDetection](https://github.com/PaddlePaddle/PaddleDetection/blob/47741382cf15eda852fefdada6ce83ef86350af6/slim/quantization/freeze.py#L167) 中的例子写的，完整的 Inference 模型和权重传到百度网盘里了，链接: https://pan.baidu.com/s/1BZ7HtvLDxXdKxZTR5wHuNA 提取码: ik1c

[2020-01-02 05:35] xiegegege commented on #4145
我之前遇到过CUDNN_STATUS_BAD_PARAM这个报错，当时是cudnn版本太低导致的，我看log里有句warning:The installed Paddle is compiled with CUDNN 7.6, but CUDNN version in your machine is 7.4, which may cause serious incompatible bug. Please recompile or reinstall Paddle with compatible CUDNN version。或许你可以试着把本地cudnn升到7.6试下？

[2020-01-02 06:35] slf12 commented on #4151
这里有分类的离线量化示例： https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/quant/quant_post， slim\quantization下的教程是使用量化训练的，离线量化不需要再进行freeze_model

[2020-01-02 07:43] wanghaoshuang commented on #4143
请通过修改[data_reader.py](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ocr_recognition/data_reader.py)来添加需要的数据增广操作，在这个脚本中可以调用各种Python库对读入的图片进行操作。

[2020-01-02 07:44] #4080 closed, assigned to kuke

[2020-01-02 07:47] wanghaoshuang commented on #4144
请问您的训练数据中长文本多么？需要根据您的实际使用场景增加训练数据中的长文本样本。

[2020-01-02 11:42] morgan-bc commented on #4151
from paddle.fluid.contrib.slim.quantization import PostTrainingQuantization
我也看见这个例子了，但是 PostTrainingQuantization 这个类不存在啊，上面这个 import 也不成功   请问你用的是哪个版本的 paddle

[2020-01-02 11:52] slf12 commented on #4151
可试下1.6.2或者https://www.paddlepaddle.org.cn/install/doc/tables 这里下载latest版本的饿paddle

[2020-01-02 11:55] morgan-bc commented on #4151
我用的就是 1.6.2,  windows 和 linux 都没有 PostTrainingQuantization

[2020-01-03 01:31] mikeFang1986 commented on #4145
是的那，非常感谢。不能放过warning~

[2020-01-03 01:32] #4145 closed, assigned to nobody

[2020-01-03 03:22] slf12 commented on #4151
https://www.paddlepaddle.org.cn/install/doc/tables 那你用latest版本吧

[2020-01-03 08:27] wenston2006 commented on #4144
@wanghaoshuang 好的，我再试试

[2020-01-03 14:43] ryliu68 opened #4153 "按教程进行预训练报错：“finetune_exclude_pretrained_params”"
按照官方教程（https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/image_classification）进行预训练微调参数，训练自己的数据时需要滤掉最后的FC层报错：”train.py: error: unrecognized arguments: --finetune_exclude_pretrained_params=fc_offset,fc_weights“

错误很明显：官方的train.py代码中没有“finetune_exclude_pretrained_params”参数，请官方人员回复一下，如果没有这个参数，我做微调如何去掉最后一层的参数呢？？？

1）官方给的命令：
python train.py \
        --data_dir=./data/ILSVRC2012/ \
        -

[2020-01-04 10:01] shippingwang commented on #4153
请更新代码～

[2020-01-04 10:25] ryliu68 commented on #4153
代码是官方的，谢谢

[2020-01-05 03:56] kuke commented on #4153
https://github.com/PaddlePaddle/models/blob/9b50a73c0281b2fa6c226cd1a0637108c51e7695/PaddleCV/image_classification/utils/utility.py#L102

最近models develop分支有更新，该参数已经加上了，请使用develop分支最新的代码

[2020-01-05 04:44] chliang opened #4156 "分类 评估预测 结果和 部署预测结果不一致"
models/PaddleCV/image_classification/ 中
infer.py  的结果 和 predict.py 的结果  不一致，其中  predict.py 用的模型是 infer.py用的模型固化后的模型
`paddlepaddle-gpu              1.6.2.post97`
`模型 Xception41, Xception65, Xception71`

[2020-01-05 06:50] chliang commented on #4153
能否把 `finetune_exclude_pretrained_params` 这个改成 bool型的呢，意思试如果是True，则根据模型名称，自动exclude 对应的 参数，而不需要自动输入需要 排除的参数名称。

[2020-01-05 07:03] ryliu68 commented on #4153
好的，谢谢你们哇。辛苦啦。

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

________________________________
发件人: Yibing Liu <notifications@github.com>
发送时间: Sunday, January 5, 2020 11:56:37 AM
收件人: PaddlePaddle/models <models@noreply.github.com>
抄送: LRY0111 <lry02414@hotmail.com>; Author <author@noreply.github.com>
主题: Re: [PaddlePaddle/models] 按教程进行预训练报错：“finetune_exclude_pretrained_par

[2020-01-06 02:43] littletomatodonkey commented on #4156
可以直接贴代码或者问题吗？这边显示图片挂掉了~

[2020-01-06 02:50] Steffy-zxf commented on #4147
感谢反馈！现PaddleHub不支持重头训练模型。如果你想要重头训练一版，可以试试按照models下LAC的预训练说明，将数据集换成你想要的预训练数据集，重头训练。

如果你想要做序列标注任务的话，可以参考下PaddleHub ERNIE系列模型完成序列标注Fine-tune。https://github.com/PaddlePaddle/PaddleHub/tree/release/v1.4/demo/sequence_labeling

[2020-01-06 03:47] #4043 closed, assigned to dyning

[2020-01-06 03:49] Julyliying commented on #4043
请问什么时候可以更新一下呢？？？ @dyning

[2020-01-06 04:02] xfyu1999 opened #4157 "用paddleNLP中的emotion detection模型库，当文本类别好几千时，算出来avg loss: nan如何解决？"
版本为fluid 1.4, CUDA 9.0, cuDNN Version: 7.0;
我的类别从0一直到6600，有六千多个类，log信息如下：

-----------  Configuration Arguments -----------
batch_size: 64
config_path: ./config.json
data_dir: ./data/
do_infer: False
do_train: True
do_val: True
epoch: 60
init_checkpoint: None
lr: 0.002
output_dir: ./save_models/bilstm
random_seed: 0
save_steps: 1000
skip_steps: 1000
task_name: topic_detection
use_cuda: True
valida

[2020-01-06 04:53] chliang commented on #4156
models/PaddleCV/image_classification/ 中
infer.py 的结果 和 predict.py 的结果 不一致，其中 predict.py 用的模型是 infer.py用的模型固化后的模型
paddlepaddle-gpu 1.6.2.post97
模型 Xception41, Xception65, Xception71

[2020-01-06 06:54] littletomatodonkey commented on #4156
您好，感谢您的反馈，可以将下面的
https://github.com/PaddlePaddle/models/blob/b587334f24be09e7c1ea24139a930fc4d5ba77c2/PaddleCV/image_classification/predict.py#L110
修改为
[code]
来避免这个问题~

[2020-01-06 06:55] chliang commented on #4156
为什么要这么改呢，你重现问题了么

[2020-01-06 07:04] littletomatodonkey commented on #4156
感谢您的关注，正在排查这个问题~有结论第一时间回复您

[2020-01-06 07:13] chliang commented on #4156
好的，C++预测代码，这么改的话（predictor = create_paddle_predictor(config.to_native_config())）程序崩溃。

[2020-01-06 07:37] littletomatodonkey commented on #4156
C++的话，需要修改为`ToNativeConfig`函数，可以参考
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/pybind/inference_api.cc#L443

[2020-01-06 07:42] chliang commented on #4156
是这么改的，但是崩溃。我python和c++ 都是用的AnalysisPredictor预测

[2020-01-06 09:41] kuke commented on #4153
@chliang 这样可能不太灵活，exclude的参数只依赖于不同的模型，都变成固定的了

[2020-01-06 12:42] kebinC opened #4166 "目前paddle可以支持以下操作吗"
目前paddle可以支持以下操作吗？
1. 初始化两个相同的网络， 一个（N1）训练，另一个（N2）stop gradient， 更新一次网络参数后，  对N1的网络参数加权累加到N2
2. 初始化一个 buffer， 训练时不更新， 更新一次网络参数后， 再手动修改buffer局部的值

[2020-01-06 13:30] ryliu68 opened #4167 "AutoDL跳转路径有问题，难道就没有人发现吗？也一直没人更正。。。"
打开
https://github.com/PaddlePaddle/models/tree/develop/fluid/AutoDL/LRC
跳转提示：404

明显是地址给错了，难道就没人发现？一直没见人改。。。

[2020-01-07 03:32] FrostML commented on #4156
关于这个问题，目前有以下的方法可以解决：
Python：
[code]
或者是：
可以使用 最新的develop 编的whl包，使用一个新加的python接口，
[code]
C++预测代码可以这么写：
[code]
或者是：
[code]
python是封装的C++的API，C++崩溃可以确认下gcc版本是否是一致。

结果无法对齐的原因查到是conv_elementwise_add_fuse_pass被不支持的fuse pattern触发了导致，已经提交PR修复。
详见[Paddle #22124](https://github.com/PaddlePaddle/Paddle/pull/22124)

[2020-01-07 04:25] lixuan1 commented on #1755
你好，这个部署问题你解决了吗？官方的房价预测部署，我都没部署测试成功

[2020-01-07 04:26] lixuan1 commented on #1755
@ThinkPeace @jetfuel @Superjomn @reyoung

[2020-01-07 04:48] chliang commented on #4156
非常感谢，我有三个问题：
1. 问题是否重现了呢，其他的模型没有问题 Xception系列不对
2. C++和Python, 我都是使用 AnalysisPredictor 方式预测，Python 改为 predictor = create_paddle_predictor(config.to_native_config()) ，就能正常运行，而C++就报错。
3. 如果用的  AnalysisPredictor 方式预测 ，配置文件转换成 Native方式，这样使用没有问题吗？

[2020-01-07 04:57] chliang opened #4168 "模型滤波器通道数报错"
图像分类，输入图像通道改为6，配置文件 `'--image_shape 6 500  512', `中通道也改成了6，
但是 运行过程中报错。
使用最简单的 alexnet测试。

https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/models/alexnet.py
[code]

问题 ，滤波器的通道数怎么改，里面是默认是3 么？不应该是和输入数据的通道数一致么

[2020-01-07 05:37] FrostML commented on #4156
“问题是否重现了呢，其他的模型没有问题 Xception系列不对”
问题可以复现，已经提交PR修复，烦请查看上条回复最后的解释。

“配置文件转换成 Native方式”
请问指的是`config.ToNativeConfig()`？如果是这个意思，是没有问题的。`ToNativeConfig()`的作用只是在预测时候不会执行这些pass，采用与训练前向相同的方式计算模型结果。

“Python API可以，但C++报错”
Python API封装的C++的API，如果Python API可以，可以查看下gcc的版本，官网提供的预测库是基于gcc482编译的，麻烦还是使用gcc482的环境编写cmake。
因C++端图片处理比较繁琐，或者也可以确认下输入的数据有无问题。
可以尝试下载官网提供的C++预测的sample，[链接](https://www.paddlepaddle.org.cn/

[2020-01-07 06:11] cnzhujg commented on #4144
如果过拟合，那就太爽了。

[2020-01-07 06:13] chliang commented on #4156
我的C++的预测的代码没有任何问题，之前都验证过，除了Xception 模型预测的结果和python的预测代码结果 是对齐了的。
另外我是windows平台，预测库版本是1.6.2 都是官方提供的 https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/windows_cpp_inference.html

[2020-01-07 06:34] chenbjin commented on #4157
上面是参数num_labels的配置问题，PaddleNLP中的项目参数控制优先级为：命令行参数 > config.json/yaml > 默认值，可以直接修改config.json中的num_labels。

[2020-01-07 06:34] #4157 closed, assigned to nobody

[2020-01-07 07:14] FrostML commented on #4156
可以麻烦提供下您C++预测的代码么？熟悉Windows的同事稍后会和您讨论一下 @silingtong123

[2020-01-07 07:32] lixuan1 opened #4169 "上线部署问题"
[https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/emotion_detection](https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/emotion_detection)情感识别项目的部署。已经通过调用paddle.fluid.io.save_inference_model实现了模型的保存。但测试时无法成功，可能是参数设置有问题。自定义参数转换之后，产生如下错误：
<img width="1095" alt="屏幕快照 2020-01-07 下午3 21 12" src="https://user-images.githubusercontent.com/9459980/71876311-6851c700-3161-11ea-9cbb-1

[2020-01-07 07:42] lixuan1 commented on #4149
@1024er 希望尽快修复呀，感谢🙏。

[2020-01-07 07:59] chliang commented on #4156
![image](https://user-images.githubusercontent.com/1207569/71878459-a4d3f180-3166-11ea-87b4-3e9d9d942f50.png)
![image](https://user-images.githubusercontent.com/1207569/71878478-ae5d5980-3166-11ea-91e8-acc68e5ceb7d.png)

[2020-01-07 08:10] xyzhou-puck commented on #4167
您好，感谢反馈，已经修复：https://github.com/PaddlePaddle/models/pull/4170

[2020-01-07 08:14] silingtong123 commented on #4156
1. 根据你的代码中的copy_from_cpu函数，确认是否使用的zerocopytensor进行预测？zerocopytensor目前只支持使用analysisConfig进行预测，使用ToNativeConfig（）将使用NativeConfig，目前NativeConfig不支持zerocopytensor

2. 若使用普通PaddleTensor进行预测，则需要config.SwitchUseFeedFetchOps(false);这个需要修改为true，只有在使用zerocopytensor时才设置为false，之后应避免使用zerocopytensor相关接口

3. 请提供本地能复现的该问题demo

[2020-01-07 08:24] chliang commented on #4156
设置了 的
![image](https://user-images.githubusercontent.com/1207569/71879897-1d887d00-316a-11ea-8502-0dbd972c9402.png)

[2020-01-07 08:37] silingtong123 commented on #4156
请看上一条回复的内容，NativeConfig的使用请参考:https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/api/demo_ci/vis_demo.cc

[2020-01-07 09:23] chliang commented on #4156
我使用了 ZeroCopyRun();

[2020-01-07 09:27] chliang commented on #4156
我 qq 317000130 ，能加我吗，详细说明一下

[2020-01-07 09:47] guoshengCS commented on #4168
是会和输入的通道数一致的，是否是格式有问题呢，看和[README](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/README.md)中的不太一致，还请 @shippingwang 帮忙确认下。

[2020-01-07 09:54] guoshengCS commented on #4169
可否在AI studio的社区 https://ai.baidu.com/forum 提问下呢，可能是在AI studio上部署时的问题，目前的返回内容应该还没到Paddle预测的步骤。

[2020-01-07 09:58] chliang commented on #4168
[code]
上面错误信息可以看出，输入数据通道数是6，卷积核通道是3

[2020-01-07 10:00] guoshengCS commented on #4168
是说设置 image_shape使用的参数格式，看README中的是
[code]

[2020-01-07 10:10] chliang commented on #4168
这个是 我贴错了，不是这问题，我这么 写 `--image_shape 6 500  512` 还是一样的

[2020-01-07 10:15] guoshengCS commented on #4168
可以试下在这里打印下这个feed_image https://github.com/PaddlePaddle/models/blob/2934b0be0e5a3d2088720b58c0fb72baca5d6c3e/PaddleCV/image_classification/utils/utility.py#L375 ，也请 @shippingwang 帮忙确认下吧

[2020-01-07 10:17] chliang commented on #4168
![image](https://user-images.githubusercontent.com/1207569/71887841-e0c48200-3179-11ea-9d1f-3e57083dc5f8.png)

[2020-01-07 11:01] chliang commented on #4153
好的 谢谢

[2020-01-07 11:02] lixuan1 commented on #4169
好的，我去那里也提问下

[2020-01-07 11:33] lixuan1 commented on #4169
你好，在社区中发帖时，如图所示，这是什么意思，发帖成功没有也不知道？是要审核之后才显示的吗？不说明白，让人有点懵
<img width="1135" alt="屏幕快照 2020-01-07 下午7 28 18" src="https://user-images.githubusercontent.com/9459980/71892537-2128fd80-3184-11ea-911a-25576144643e.png">

[2020-01-07 12:08] gongweibao commented on #4166
Hi上已经回复。

[2020-01-07 12:08] #4166 closed, assigned to nobody

[2020-01-07 12:11] gongweibao commented on #4074
需求收到了，我们关注一下。有了进一步的进展回复您！

[2020-01-07 12:22] lixuan1 commented on #4169
@guoshengCS
帖子发布之后，就上图那个样子，也不知道成功没，就去个人中心看了，结果好几个都有记录，但是，内容是空的，我不知道你们平台今天是什么情况，真的是无语，唉。如下图，帖子是空的
<img width="1181" alt="屏幕快照 2020-01-07 下午8 20 43" src="https://user-images.githubusercontent.com/9459980/71895239-74eb1500-318b-11ea-9dbe-0701155d0563.png">

[2020-01-07 13:24] shippingwang commented on #4168
详细的报错信息给一下，是在alexnet的第一个conv就报错了么？
btw, image_shape改自定义，得注意下reader yield的出来的是不是想要的

[2020-01-07 13:32] chliang commented on #4168
看我上面提供的信息，第一层输入的图像通道数是6，和image_shape 设置通道数一直。🙏 应该就是在第一个卷积就出现了错误。

[2020-01-08 01:09] chliang commented on #4168
[code]

[2020-01-08 01:44] shanzhengliu opened #4173 "GPU一直显示各种内存溢出"
代码是cycleGan的内容，报错内容是
Out of memory error on GPU 0. Cannot allocate 80.000244MB memory on GPU 0, available memory is only 76.089062MB.

Please check whether there is any other process using GPU 0.
1. If yes, please stop them, or start PaddlePaddle on another GPU.
2. If no, please try one of the following suggestions:
   1) Decrease the batch size of your model.
   2) FLAGS_fraction_of_gpu_memory_to

[2020-01-08 03:37] zhengya01 opened #4174 "dialogue_general_understanding linux python3 报错"
train udc start..........
Traceback (most recent call last):
  File "main.py", line 23, in <module>
    from train import do_train
  File "/ssd2/zhengya01/devlop_conv/test/models/PaddleNLP/PaddleDialogue/dialogue_general_understanding/train.py", line 29, in <module>
    import dgu.reader as reader
  File "/ssd2/zhengya01/devlop_conv/test/models/PaddleNLP/PaddleDialogue/dialogue_general_understandi

[2020-01-08 07:09] xyzhou-puck commented on #4174
Thanks for reporting this errors, we will fix this problem very soon.

[2020-01-08 08:55] zhengya01 commented on #4174
这个模型在paddle-develop版本上没有适配，报错信息如下：

------------------------------------------
Python Call Stacks (More useful to users):
------------------------------------------
  File "/opt/_internal/cpython-3.7.0/lib/python3.7/site-packages/paddle/fluid/framework.py", line 2500, in append_op
    attrs=kwargs.get("attrs", None))
  File "/opt/_internal/cpython-3.7.0/lib/python3.7/site-packages/paddle/fluid/lay

[2020-01-08 09:36] guoshengCS commented on #4169
可以先加AI studio同学的QQ 980902922 ，感谢

[2020-01-08 13:33] chliang commented on #4168
@shippingwang

[2020-01-09 03:17] youwei2567 opened #4178 "多显卡服务器中，用单显卡训练图片分类时，出现Pass中batch数不对的问题"
相关参数设置如下：
`add_arg('total_images',             int,    777,                "The number of total training images.")
add_arg('batch_size',               int,    32,                      "Minibatch size on a device.")
`
具体显示如下：
`[Pass 1, train batch 186]       loss 2.17508, acc1 0.50000, acc5 0.75000, lr 0.00188, elapse 0.0189 sec
[Pass 1, train batch 187]       loss 2.31072, acc1 0.25000, acc5 0.500

[2020-01-09 03:20] youwei2567 commented on #4178
定位出问题在reader.py中271行
`batch_size = settings.batch_size / paddle.fluid.core.get_cuda_device_count()`
断点后发现送入reader的batch_size =4.0
验证阶段也出现相同问题

[2020-01-09 03:40] youwei2567 commented on #4178
连带问题：warm_up_epoch设置为10，却在第二个Pass时，lr warm-up结束
将相关代码注释，并修改为batch_size = settings.batch_size后，该问题也解决了
但治标不治本，还是希望百度尽早解决吧 -^-

[2020-01-09 04:05] wulipc commented on #4168
加载的权重会影响参数的shape， 因为你加载的模型的第一层参数是针对三通道的， 所有输入6通道的数据的时候会有报错； 请手动删除第一层的权重， 或者不使用预训练模型。

[2020-01-09 04:55] chliang commented on #4168
按照你说的，解决了。非常感谢

[2020-01-09 04:55] #4168 closed, assigned to nobody

[2020-01-09 08:14] wulipc commented on #4168
@guoshengCS  建议paddle调整一下参数加载策略， 如果shape不一致就不要强行加载了吧， 目前的策略会给用户带来困惑。

[2020-01-09 13:06] sataliulan commented on #4147
额，paddlehub lac不是从原来的paddlepaddle迁移过来的么？原来在paddle1.2版本之前的都是可以的后来就不行了，而且paddle1.2之前的版本也没法安装了

[2020-01-09 13:08] sataliulan commented on #4147
ERNIE模型太大，训练后模型预测13句话耗时超过1s不能满足要求

[2020-01-09 13:12] Steffy-zxf commented on #4147
PaddleHub LAC 采用的网络结构以及预训练模型参数是paddle/models保持一致的。

“原来在paddle1.2版本之前的都是可以的后来就不行了，而且paddle1.2之前的版本也没法安装了”
没法安装什么，现在的问题是什么？

[2020-01-09 13:25] sataliulan commented on #4147
在paddle1.6平台下不使用paddlehub 如何再训练LAC，训练完成后使用模型预测的方式又是什么？我参考了原来的链接https://github.com/baidu/lac/tree/for_paddle_v1.1 发现新老版本相差很大；不知道在paddle1.6平台下该怎么做，就是想基于目前的训练集将lac重新训练一次

[2020-01-09 13:26] sataliulan commented on #4147
另：训练lac对训练集的标注格式有要求么？一定要CRF++格式标注么？

[2020-01-09 17:34] shippingwang commented on #4178
我看你有写 add_arg('batch_size', int, 32, "Minibatch size on a device.") 这个不是最新代码吧，[arguments](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/utils/utility.py#L113)指定的是所有的devices bs大小
麻烦更新代码到最新～

[2020-01-10 03:07] jinyryr commented on #3361
请问args.num_feat这个值是如何来的呢？它的含义是不是就是词表大小，也就是所有离散型特征的所有特征值种类？

[2020-01-10 07:29] Overtown opened #4183 "是否支持Reflection padding op"
hi，paddle现在是否具有类似pytorch中reflection padding 这样的非0 padding op？

[2020-01-10 07:45] seiriosPlus commented on #4183
layers.pad2d， 可以看看满足要求么

[2020-01-12 10:44] witness99 opened #4186 "请问deepFM中为什么epoch的时间这么短？"
请问在按照deepFM中所说的步骤走的情况下，为什么最后在local_train阶段epoch的时间会这么短？

以下为得到的结果：
args.embedding_size: 10
args.num_field: 39
args.num_feat: 1086460
args.layer_sizes: [400, 400, 400]
args.act: relu
args.reg: 0.0001
---------------------------------------------
epoch1 is finished and takes 0.069958 s
epoch2 is finished and takes 0.030759 s
epoch3 is finished and takes 0.031983 s
epoch4 is finished and takes 0.0399

[2020-01-13 00:28] morgan-bc commented on #3185
请问最后是怎么解决的呢，我按照 #2985 (comment) 中配置剪裁率设为0.5，最后的 map 就趋于零，设为0.1 也会下降很多

[2020-01-13 03:08] #4151 closed, assigned to nobody

[2020-01-13 03:18] ryliu68 opened #4187 "autodl.py中类别参数写死了，self.class_num = 1000，无法使用微调命令进行传参"
微调命令：
python train.py    --class_dim=xxx

[2020-01-13 03:27] wanghaoshuang commented on #4173
可以尝试设置这些FLAGS: https://www.paddlepaddle.org.cn/documentation/docs/zh/flags/memory_cn.html 同时建议升级到paddle1.6

[2020-01-13 03:41] frankwhzhang commented on #4186
确认一下数据有没有读进来

[2020-01-13 04:50] mmglove commented on #4186
麻烦贴一下运行环境和paddle版本信息，另deepFM由于使用Dataset API 加载数据，暂不适用于Windows（在Windows环境下运行不会报错，但未读取数据进行训练，故训练时间较快）

[2020-01-13 05:26] huey0528 commented on #3267
我也遇到了这个问题 AttributeError: module 'paddle.fluid.core_avx' has no attribute 'get_cuda_device_count'
想问问你是怎么解决的呀？

[2020-01-13 09:19] huey0528 opened #4189 "PaddleNLP/PaddleDialogue/dialogue_general_understanding 的 DSTC2 数据building有问题"
测试dstc2数据的时候发现，bash run.sh dstc2 predict 的时候会报错 - data format error。

原因在于你们在build DSTC2 的数据的时候build_dstc2_dataset.py 文件的line 109 和 110
fw.write(u"%s\n" % out.encode('utf8'))
fw_asr.write(u"%s\n" % out_asr.encode('utf8'))
把数据的length合并成1了。读出来的时候也只有一个。。

解决办法可以把 .encode('utf8') 提前。
out = "%s\t%s\1%s\t%s" % (session_id.encode('utf8'), mach.encode('utf8'), user.encode('utf8'), labels_ids)
user_asr = l

[2020-01-14 01:40] #4178 closed, assigned to nobody

[2020-01-14 02:24] songyouwei commented on #3952
这个问题的原因是文档中对label的解释不太清楚，没有明确input和label之间的关系，我们后面会对文档说明做一些补充和修正。

这里，label输入的shape改成`[batch_size, max_seq_length]`，确保`input_length`和`label_length`不为空，就没问题了：

[code]

[2020-01-14 06:41] lixuan1 commented on #4149
@1024er [models/PaddleNLP/PaddleTextGEN/seq2seq/](https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/PaddleTextGEN/seq2seq)你好这个模型的导出模型的代码什么时候可以补充上呀？

[2020-01-14 08:54] hexiaoting opened #4193 "评估模型采用CPU方式执行报错"
[code]

原因分析：在eval.py的代码中
由于设置了use_gpu=Flase, 使得places未赋值就使用了导致失败。源码如下：
[code]

[2020-01-14 09:02] hexiaoting commented on #4193
除了上面的错误之外，还有其他的错误。
请问一下我下载的是cpu版本的PaddlePaddle, eval.py里的代码def eval：
[code]
这行是不是不应该被执行到？

我的model是在develop分支下的commit 2b8f904e9b89d768ea0101f0828899829e3c15eb执行的。

[2020-01-14 09:36] shippingwang commented on #4193
[在这里修复了](https://github.com/PaddlePaddle/models/pull/4250)

[2020-01-14 15:13] yana-xuyan opened #4197 "The code for paper "Knowledge Aware Conversation Generation with Explainable Reasoning over Augmented Graphs" cannot be found"
Hello, just as is shown in the title of the issue, when I try access the repo for Paper "Knowledge Aware Conversation Generation with Explainable Reasoning over Augmented Graphs", it's shown 404 not found. Is the code for that paper moved to somewhere else?

[2020-01-15 03:00] xyzhou-puck commented on #4197
Hi,

I am sorry that the source code of this paper is not available for now, we will reach out to you when it is ready or maybe you could contact the authors for the source code.

Xiangyang

[2020-01-15 03:13] xyzhou-puck commented on #4189
Hi,

Thanks so much for your suggestion, @xixiaoyao @wangxiao1021 could you guys please take a look at this problem?

Xiangyang

[2020-01-15 07:52] AndrewZhao opened #4199 "PaddleSlim载入int8量化模型的问题"
我从链接https://github.com/PaddlePaddle/models/blob/develop/PaddleSlim/docs/model_zoo.md下载的ResNet50的int8量化预训练模型，解压以后有三种精度的模型{float, int8, mobile}，在PaddleSlim/classification/eval.py中正确设置了int8模型路径和测试图片路径，运行以后报错，如下图所示
![int8](https://user-images.githubusercontent.com/11373817/72415033-8f864500-37ae-11ea-831c-039768111d33.png)
之后我把模型路径改为float，运行正常。
最后我把模型路径改为mobile，又报错，如下图所示
![mobile](https://user-images.

[2020-01-15 08:17] slf12 commented on #4199
您好，float存储的是参数是int8范围，但是类型是float的模型，如果使用预测库如paddle-lite, 或者paddle中接入的tensorrt来预测的话，是加载float模型的，预测库会把float转成int8，使用int8 kernel计算来加速。而paddle原生api 没有int8 kernel 。可参考https://paddlepaddle.github.io/Paddle-Lite/develop/model_quantization/#%E4%BA%8C%E4%BD%BF%E7%94%A8Paddle-Lite%E8%BF%90%E8%A1%8C%E9%87%8F%E5%8C%96%E6%A8%A1%E5%9E%8B%E6%8E%A8%E7%90%86。

int8文件夹下的模型是为了直观看到量化后模型大小，不可被加载。
mobile文件夹是原本用paddle-m

[2020-01-15 08:31] #3558 closed, assigned to nobody

[2020-01-16 01:46] yw2278 opened #4201 "Hi, I'm wondering if there is an end-to-end solution for the youtube8M attention_lstm model?"
I'm trying to test the model on local videos, and seems there is no direct way to infer on the videos.

[2020-01-16 06:23] ccmeteorljh commented on #3974
fp16的已经修复

[2020-01-16 06:23] #3974 closed, assigned to sangoly

[2020-01-16 07:52] #4144 closed, assigned to nobody

[2020-01-16 09:47] lixuan1 commented on #4149
@1024er @Superjomn @reyoung 你们好，我想问一下，该模型中，计算的ppl值，在训练集，验证集和测试集都有计算的这个值，这是perplexity的计算吗？但网上查到的ppl公式不是根据ppl = np.exp(total_loss / word_count)计算的呀，所以这里的ppl是什么度量的计算呢？请求解惑，感谢。具体相关代码如下：

`def eval(data, epoch_id=0):
        eval_data_iter = reader.get_data_iter(data, batch_size, mode='eval')
        total_loss = 0.0
        word_count = 0.0
        for batch_id, batch in enumerate(eval_data_iter):

[2020-01-16 09:49] lixuan1 commented on #4149
@1024er @Superjomn @reyoung 你们好，我想问一下，该模型中，计算的ppl值，在训练集，验证集和测试集都有计算的这个值，这是perplexity的计算吗？但网上查到的ppl公式不是根据ppl = np.exp(total_loss / word_count)计算的呀，所以这里的ppl是什么度量的计算呢？请求解惑，感谢。具体相关代码如下：
`
def eval(data, epoch_id=0):
        eval_data_iter = reader.get_data_iter(data, batch_size, mode='eval')
        total_loss = 0.0
        word_count = 0.0
        for batch_id, batch in enumerate(eval_data_iter):

[2020-01-16 09:52] lixuan1 commented on #4149
@1024er @Superjomn @reyoung 你们好，我想问一下，该模型中，计算的ppl值，在训练集，验证集和测试集都有计算的这个值，这是perplexity的计算吗？但网上查到的ppl公式不是根据ppl = np.exp(total_loss / word_count)计算的呀，所以这里的ppl是什么度量的计算呢？请求解惑，感谢。具体相关代码如下：
`def eval(data, epoch_id=0):
        eval_data_iter = reader.get_data_iter(data, batch_size, mode='eval')
        total_loss = 0.0
        word_count = 0.0
        for batch_id, batch in enumerate(eval_data_iter):

[2020-01-16 09:55] lixuan1 commented on #4149
@1024er @Superjomn @reyoung 你们好，我想问一下，该模型中，计算的ppl值，在训练集，验证集和测试集都有计算的这个值，这是perplexity的计算吗？但网上查到的ppl公式不是根据ppl = np.exp(total_loss / word_count)计算的呀，所以这里的ppl是什么度量的计算呢？请求解惑，感谢。具体相关代码如下：
[code]

[2020-01-16 09:59] xixiaoyao commented on #4189
可以麻烦详细解释一下吗？我们在本地测试没有能复现这个错误。另外麻烦您把环境配置说一下吧，包括python版本、cpu/gpu、paddle版本等，另外您跑的是dstc2的官方数据集吗？还是私有数据集呢

[2020-01-16 12:08] huey0528 commented on #4189
我使用的你们的脚本下载的数据，然后python3.6，gpu是Tesla T4，和最新版的paddle。我使用colab跑了一下，链接在下面，你们可以看一下。
https://colab.research.google.com/drive/16JrCU3UX22UHUPLw5i-Pgc7XqGewHthb

[2020-01-16 14:45] AndrewZhao commented on #4199
感谢您耐心的回答！不过我有个小问题，我看了一下，您说的PaddleLite好像是在手机端运行的？或者我直说我的诉求吧，我想测试Intel CascadeLake Server CPU使用VNNI指令集时在百度飞桨中运行int8模型推理的速度，我一直找不到测试百度飞桨宣传的支持VNNI指令集的方法，或者说入口

[2020-01-17 03:06] ganfoubudalian opened #4208 "PaddleMT/transformer 对海量数据的处理不友好"
1.tensor2tensor和fairseq都是在训练前加了一个预处理，把token转id了，然后后面直接读进来就是id
2. paddle这里是预处理和训练耦合在一起了，先把整个训练数据全部load进来转成id存放在内存，然后再训练；
3.这个对小数量的训练集没影响，但是海量数据的时候就不友好了，需要先切片文件，然后对不同的文件重启训练，并且在训练的时候重启训练，都会重新加载全量数据

[2020-01-17 03:07] ganfoubudalian commented on #4208
希望paddle针对transformer这个提供一种lazy_load的方式加载数据

[2020-01-17 03:24] XingShell opened #4209 "ocr模块，效果图有些疑惑"
1.没有划分验证集合，那么是否是将测试集作为了验证集，并记录了最好的结果。而且看你们的训练错误曲线，很平滑，但是我自己的测试集合错误方差很大。
2.你们的两个模型对比，训练集和验证集颜色不统一。

[2020-01-17 03:26] XingShell opened #4210 "models/PaddleCV/ocr_recognition的数据集问题"
你们的效果是在示例数据上跑出来的吗

[2020-01-17 04:01] Bond-H commented on #4147
paddle1.6 训练LAC可参照这个链接进行训练，训练集的标注格式我们有进行说明，同时也给了训练集测试集的样例，切换数据标签，还需修改conf/tag.dic文件，修改run.sh文件的路径配置，执行sh run.sh train即可
https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/lexical_analysis

[2020-01-17 04:14] #4210 closed, assigned to nobody

[2020-01-17 05:21] wangxiao1021 commented on #4189
已复现问题并解决。感谢提供问题及解决方案。

[2020-01-17 05:43] slf12 commented on #4199
支持的，请参考文档，使用预测的api将量化训练产生的模型转化一下
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/tests/api/int8_mkldnn_quantization.md
https://github.com/PaddlePaddle/Paddle/blob/fbf9eca0d366ad7c2c933ee47580b8f3d8ba79d2/python/paddle/fluid/contrib/slim/tests/QAT_mkldnn_int8_readme.md
https://github.com/PaddlePaddle/Paddle/blob/fbf9eca0d366ad7c2c933ee47580b8f3d8ba79d2/python/paddle/fluid

[2020-01-17 05:56] #4189 closed, assigned to nobody

[2020-01-18 07:04] chenqiuhui opened #4215 "paddle检测跑evaluate在开头会偶发SIGSEGV错误"
paddle版本
conda install --yes paddlepaddle-gpu=1.6.2=py36_gpu_cuda9.0_many_linux

开始会偶发SIGSEGV错误
[INFO 2020-01-1~~~~8 12:23:37,190 PID:2820 voc_eval.py:get_category_info:136] Load categories from ckpt_dir/model_best/label_list.txt
2020-01-18 12:23:37,831-INFO: places would be ommited when DataLoader is not iterable
[INFO 2020-01-18 12:23:37,831 PID:2820 reader.py:set_batch_generator:565] places wou

[2020-01-19 02:52] hexiaoting commented on #4193
@shippingwang @wzzju @Superjomn @reyoung 请问一下PaddlePaddle有和其他的产品对比过inference推断的性能吗？（同一个网络，PaddlePaddle比tensorflow，pytorch或其他的框架性能快多少？）

[2020-01-19 06:23] gavin1332 commented on #4215
具体是什么模型

[2020-01-19 06:47] gavin1332 commented on #4215
paddle_detection_res.tar http://bj.bcebos.com/video-mind/paddle_detection_res.tar?authorization=bce-auth-v1%2F98df355eb3314ca5a297dc863c9325fb%2F2020-01-19T06%3A32%3A58Z%2F-1%2F%2F2051e7fe331ff5438fe231c31efbd35495248840cdc585adaf6dfb7d0e914107

paddle_imagemind.tar http://bj.bcebos.com/video-mind/paddle_imagemind.tar?authorization=bce-auth-v1%2F98df355eb3314ca5a297dc863c9325fb%2F2020-01-19T06%3A3

[2020-01-19 06:47] gavin1332 commented on #4215
faster rcnn模型

[2020-01-19 14:20] sataliulan commented on #4147
ok我试下

Bond-SYSU <notifications@github.com> 于2020年1月17日周五 下午12:01写道：

[2020-01-20 03:59] shenyanni opened #4219 "BaiduCN1.2k Model模型超参问题"
请问：
BaiduCN1.2k Model模型没有推断预测的例子，模型如何加载，它的超参是不公开的吗？
那如果，该模型的训练数据不公开，模型超参不公开，那模型放出来有什么用呢？
真心求问。。。

[2020-01-21 06:52] #3952 closed, assigned to wanghaoshuang

[2020-01-26 15:00] Chenxiuling-Amy opened #4230 "BERT阅读理解单独做预测时不能正确加载训练模型的参数"
使用paddle paddle的模型库中的bert模型代码及squad v2.0的数据来训练阅读理解模型是，当把do_train参数和do_predict参数都设置为true时（训练和预测一起做），预测结果是正常的。但当保存了训练模型后，把do_train设置为false，把do_predict设置为true，并使用同一份dev数据来做预测时，预测答案与问题基本上都不相关，也与同训练一起预测时的答案基本没有相同的。应该是单独做预测时没有能正确加载训练模型的参数，但看代码中也有写了加载训练模型的代码，不知道问题究竟出在哪里？

[2020-01-26 16:01] gavin1332 commented on #2213
https://github.com/PaddlePaddle/Fleet/tree/develop/benchmark/collective/resnet
There is a ResNet50 FP16 example with Fleet API.

[2020-01-26 16:02] gavin1332 commented on #2213
https://github.com/PaddlePaddle/Fleet/blob/develop/benchmark/collective/resnet/scripts/train_gpu.sh#L38

[2020-01-26 16:08] gavin1332 commented on #2213
We found that the former implementation of FP16 of ResNet has poor performance. And we update it in these months with applying DALI and some kernel fusion. Please refer to the above links.
I will close this issue, and you can reopen it if more discussions are required.

[2020-01-26 16:08] #2213 closed, assigned to nobody

[2020-01-30 14:41] ViHinh opened #4231 "检测识别使用随机尺寸，图片翻转。"
新年快乐！我在使用桨检测的时候，不知道如何在识别结果检测中使用随机尺寸，和图片翻转。我英语不好，我使用翻译翻阅了相关文档，并没有看到相关的说明。希望有人能帮我，谢谢！

[2020-01-31 10:17] spiced-egg opened #4232 "finetune_exclude_pretrained_params参数不存在"
https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/image_classification
做分类的时候，想要finetune imagenet模型，最后一层由于分类数量不同，所以维度不匹配，然后 --finetune_exclude_pretrained_params=fc_0.w_0,fc_0.b_0 提示这个参数不存在

[2020-02-03 03:34] MRXLT commented on #4231
你好，可以参考这篇文档https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/docs/DATA_cn.md#apis

[2020-02-03 04:49] kuke commented on #4230
@Chenxiuling-Amy 有种可能是do_predict 时模型加载参数所设的路径不对，可以把所用的超参数贴一个吗？

[2020-02-04 03:44] wzzju opened #4235 "resnet50 训练报错"
机器环境：linux_centos_cuda10_cudnn7_c++
paddle版本：release1.6
报错信息：
[21:49:25]W:     [Step 1/1] Traceback (most recent call last):
[21:49:25]W:     [Step 1/1]   File "train.py", line 293, in <module>
[21:49:25]W:     [Step 1/1]     main()
[21:49:25]W:     [Step 1/1]   File "train.py", line 289, in main
[21:49:25]W:     [Step 1/1]     train(args)
[21:49:25]W:     [Step 1/1]   File "train.py", line 216, i

[2020-02-04 04:25] #4235 closed, assigned to wzzju

[2020-02-04 08:51] Chenxiuling-Amy commented on #4230
参数如下：
BERT_BASE_PATH="datasets/chinese_L-12_H-768_A-12"
DATA_PATH=datasets/squad2
CKPT_PATH=model/checkpoints

python -u run_squad.py \
                   --use_cuda true \
                   --do_train false \
                   --do_predict true \
                   --version_2_with_negative true \
                   --batch_size 12 \
                   --init_checkpoint ${CKPT_PATH}/step_32579

[2020-02-05 02:43] bjjwwang commented on #4232
@wzzju 求解答

[2020-02-05 03:42] dyning commented on #4232
想问下网络结构使用的是哪种？目前finetune示例只给了针对res系列的

[2020-02-07 15:05] shippingwang commented on #4232
更新代码

[2020-02-12 00:42] endy-see opened #4260 "请问训练好的识别模型如何导出成__param__和__model__的格式"
现在训练好的模型是一个整体，无法做c++部署

[2020-02-12 00:50] endy-see opened #4261 "ocr_recognition识别模型训练过程中出现NaN导致无法训练"
报错信息是：NaN or Inf found in input tensor
此时的学习率已经调到0.0001，训练很慢了，但是还会出现NaN，请问该怎么处理这个问题？

[2020-02-12 00:51] yanmeizhao commented on #4260
现在训练好的模型是一个整体，无法做c++部署

[2020-02-12 02:28] chenwhql commented on #4261
有几点跟您确认下：
1. 您这个问题容易复现吗？建议您可以加上FLAGS_check_nan_inf=True定位一下是在哪个Op里出nan的
[code]
2. 这个模型是使用的models里面的原版模型吗？能描述下您有做什么改动？以及您具体触发这个问题的操作过程吗？

[2020-02-12 02:36] endy-see commented on #4261
1. 容易复现，问下FLAGS_check_nan_inf=True是直接加载python train.py前面么？
2. 我用的是自己的数据集，数据量总共1w+，batch_size=32。明显的改动的话就是字典大小，字典里面只有31个中文字符。另外发现一个很奇怪的问题，如果把num_classes设置为95，就不会出现NaN，而将 num_classes刚好设置为字典大小，就会NaN（每次都会NaN，必现）

[2020-02-12 02:39] chenwhql commented on #4261
您好，1. 是的，建议您试一下，看一看哪个Op出错了，可以把结果继续反馈到下面
2. 这个稍等我先看看哈，模型不太熟悉

[2020-02-12 02:50] endy-see commented on #4261
添加完FLAGS_check_nan_inf后发现还没开始打迭代日志就崩溃了，内容如下：
[root@07ba1e8482af ocr_recognition]# sh train_cq_src_fake_without_padding_height48.sh
-----------  Configuration Arguments -----------
average_window: 0.15
batch_size: 32
eval_period: 10000
gradient_clip: 10.0
init_model: None
l2decay: 0.0001
log_period: 1000
lr: 0.0001
lr_decay_strategy: None
max_average_window: 12500
min_average_window: 10000
model: c

[2020-02-12 02:58] dyning commented on #4261
我感觉是训练程序中的类别数目没有修改，需要修改过https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ocr_recognition/data_reader.py 这个里面的NUM_CLASSES设置，你可以修改这个试试，有问题再反馈。感谢您的关注，此外，我们也在重构OCR代码，增加更多文字检测和识别算法，敬请期待。

[2020-02-12 03:07] endy-see commented on #4261
我修改的就是https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ocr_recognition/data_reader.py 里面NUM_CLASSES这个参数，经过了多轮实验，发现对当前数据集而言（字典中的实际字符就是31个），但是将NUM_CLASSES设置成31时，训练几乎无法收敛，验证集和测试集效果极差（几乎没有预测正确的），但是NUM_CLASSES手动设置到95时，收敛加快，测试集准确率达到90%，请问这个能解释一下么？

[2020-02-12 03:18] chenwhql commented on #4260
我看源码中现在是仅保存了param，保存至指定的文件
https://github.com/PaddlePaddle/models/blob/22b8805bb5a6a6ee28fb228fc4ce7fee4791bef1/PaddleCV/ocr_recognition/train.py#L149

如果需要同时保存model和param，需要使用save_inference_model接口
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/save_inference_model_cn.html#paddle.fluid.io.save_inference_model

您可以根据API文档，尝试在save_model的时候使用该接口保存模型和参数

[2020-02-12 03:46] chenwhql commented on #4261
看这个报错的Op，可以试试作以下更改，同时保持FLAG打开，还会不会出这个问题：

https://github.com/PaddlePaddle/models/blob/22b8805bb5a6a6ee28fb228fc4ce7fee4791bef1/PaddleCV/ocr_recognition/train.py#L119

改成：

[code]

[2020-02-12 06:06] chenwhql commented on #4260
这个我后续反馈一下，是否可以在默认实现中增加存储model的实现

[2020-02-12 08:31] yanmeizhao commented on #4260
我的模型目前是已经训练好的，就只是想转换一下格式

[2020-02-12 08:32] endy-see commented on #4260
我的模型目前是已经训练好的，就只是想转换一下格式

[2020-02-12 08:38] chenwhql commented on #4260
那麻烦问下这个训练好的模型之前是用paddle训练的吗？或者是用什么训练的？

[2020-02-12 08:48] endy-see commented on #4260
训练好的模型就是用paddle训练的

[2020-02-12 09:06] chenwhql commented on #4260
这应该不是转换格式的问题，是保存的方式和内容不太一样，您可以试着用save_inference_model跑一轮把__model__能存下来，然后结合之前训练好的__param__，部署试一下

[2020-02-12 09:10] endy-see commented on #4260
我这边换一下模型保存格式，目前能够保存部署模型了，代码如下：
![save](https://user-images.githubusercontent.com/13143336/74397944-e421ec00-4e50-11ea-83c5-07e75f879e5c.png)

其中：
fluid.io.save_inference_model(args.save_model_dir+filename, feeded_var_names=['pixel'], target_vars=fetch_vars, executor=exe, main_program=inference_program, params_filename="__params__")
save_inference_model的定义如下
add_arg('save_inference_model',    bool,

[2020-02-12 09:10] #4260 closed, assigned to nobody

[2020-02-12 09:51] endy-see commented on #4261
问题的主要原因在于我的字典中字符序号是从1开始的，而模型训练的label是从0开始的，将NUM_CLASSES改为字典中字符个数+1即可

[2020-02-12 11:57] wwjjy opened #4262 "transformer 中 inference_model.py产出的模型应该怎样调用呢？有没有示例脚本"
如题，辛苦帮忙看下~

[2020-02-12 12:06] chenwhql commented on #4262
您是指预测部署的问题吗？您看下下面的文档能否满足您需求？
https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/index_cn.html
![image](https://user-images.githubusercontent.com/22561442/74333579-2c9ac480-4dd3-11ea-8135-065250f6a087.png)

[2020-02-12 12:43] linan142857 opened #4263 "paddle训练反向传播报错 IndexError: _Map_base::at"
`

    # define network
    inputs, labels = init_inputs(args, pad_num)
    # conv feature
    block_feats = get_base_features(inputs['node_images'])
    # node feats
    roi_feats = get_roi_features(block_feats, inputs['node_roi'])
    # node mask
    roi_feats, mask = lodtensor_to_tensor_with_mask(roi_feats, pad_num)
    node_mask, edge_mask = get_padding_mask(mask, pad_num)
    # relation loss

[2020-02-12 15:08] chenwhql commented on #4263
这是完整的代码吗？我可以用这段代码在自己的环境上尝试吗？

[2020-02-13 01:55] chenwhql commented on #4263
您好，跟您确认两个问题：
1. 您强调”实现了一个lod_tensor加padding转成tensor的函数“，是去掉这个函数，就不会出现问题了吗？
2. `IndexError: _Map_base::at`一般是网络哪里存在问题，导致底层unordered_map<K, T>访问出错了，比较少见，目前不太确定是网络中哪一步有问题，您方便提供一个能够复现该错误的完整示例脚本吗？我可以帮你调试一下

[2020-02-13 02:27] endy-see commented on #4261
按照这种方式修改了以后，目前已经训练了2次了，还没有出现，如果后面复现了会再reopen，感谢解答！

[2020-02-13 02:28] #4261 closed, assigned to nobody

[2020-02-13 08:35] 1024er commented on #4149
这里的ppl计算方式是参照texar里面的公式来的，和网上的ppl公式只是实现上略有不同。

[2020-02-13 08:40] wwjjy commented on #4262
我使用如下的方式来调用save_inference_model来保存预测模型，但是有报错
`export FLAGS_eager_delete_tensor_gb=0.0  `
`cd work/transformer/ && python -u main.py \
  --do_save_inference_model True \
  --src_vocab_fpath ../../gen_data/wmt16_ende_data_bpe_clean/vocab_all.bpe.32000 \
  --trg_vocab_fpath ../../gen_data/wmt16_ende_data_bpe_clean/vocab_all.bpe.32000 \
  --special_token '<s>' '<e>' '<unk>' \
  --init_from_params trai

[2020-02-13 09:04] casolxia opened #4268 "aistudio上运行PaddleNLP-sentiment_classification，训练sh run.sh train 报错"
paddle-gpu版本为aistudio默认安装版本

paddlehub 1.0.0
paddlepaddle-gpu 1.4.1.post97

Traceback (most recent call last):
  File "run_classifier.py", line 327, in <module>
    main(args)
  File "run_classifier.py", line 157, in main
    shuffle=True)
  File "/home/aistudio/work/models-develop/PaddleNLP/sentiment_classification/reader.py", line 75, in data_generator
    return fluid.io.batch(self.get_train_ex

[2020-02-13 09:16] chenwhql commented on #4262
您是要保存模型还是要部署模型，我看您同时使用了do_save_inference_model和init_from_params，是要用已经训练好的参数，继续训练，然后保存吗

[2020-02-13 09:20] wwjjy commented on #4262
这个main函数有do_train、do__predict和do_save_inference_model三种参数，我看do_save_inference_model这个应该是用来保存模型的吧，init_from_params指向的是训练好的参数，就是先加载已经训练好的参数，然后save_inference_model。现在应该是在加载参数的时候就报错了

[2020-02-13 09:43] chenwhql commented on #4262
您好，我再确认下您需求，去找模型负责人确认一下。
你现在是要把模型参数导进去，然后直接跑一轮保存模型吗？不训练也不预测？

[2020-02-13 09:44] casolxia commented on #4268
应该是版本问题需要paddlepaddle-1.6的版本

[2020-02-13 09:46] wwjjy commented on #4262
你看一下 inference_model.py 就理解我的意思了，这里面就是先用fluid.io.load_params加载模型 然后 在用fluid.io.save_inference_model 来保存模型的一个过程，没有训练也没有预测

[2020-02-13 10:27] endy-see opened #4272 "请问如何debug官网上c++部署的demo？"
官网c++部署部分的地址（包含demo）：https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/native_infer.html
我这边已经备好了paddle的部署环境，也能跑通官方的demo（mobilenetv1那个），现在有个问题，就是我对c++代码不是很熟悉，修改一下就时常导致崩溃，有时候也看不到问题原因，这时希望能看一下在执行sh run.sh过程中的debug情况，网上看了一下说用gdb可以实现debug，但是看到的例子都是直接debug cpp文件，没有debug bash脚本的，所以想问一下怎么debug sh run.sh的过程?

[2020-02-13 12:21] guoshengCS commented on #4262
抱歉这里是有些问题，我们这边修复下，麻烦还请先行参照train.py这里  https://github.com/PaddlePaddle/models/blob/develop/PaddleNLP/PaddleMT/transformer/train.py#L161 在inference_model.py这里加上一行对词典大小的设置

[2020-02-13 12:35] wwjjy commented on #4262
@guoshengCS  这里我加了，我觉得train里面的方法太繁琐了，我是这样加的，目前跑下来没有问题，代码如下，求帮忙看下，这样有问题吗？
` src_vocab = reader.DataProcessor.load_dict(args.src_vocab_fpath)`
` trg_vocab = reader.DataProcessor.load_dict(args.trg_vocab_fpath)`
` # print(len(src_vocab))`
` args.src_vocab_size = len(src_vocab)`
` args.trg_vocab_size = len(trg_vocab)`
还有就是这个save_inference_model 产出的模型，如何加载进来使用呢？我仿照predict.py写的，主要是将https://github.com/Pa

[2020-02-13 13:45] zhupengyang commented on #4272
C++代码里面可以通过添加类似 ```LOG(INFO)<<"xxx";``` 的代码打印自己需要的信息

[2020-02-14 02:44] zhupengyang commented on #4268
好的，如果已经解决，请关闭一下issue哦

[2020-02-14 03:05] linan142857 commented on #4263
确定为paddle1.5.2会报这个错误，更新为paddle1.6.3就解决了，十分感谢！！

[2020-02-14 03:05] #4263 closed, assigned to nobody

[2020-02-14 04:32] #4268 closed, assigned to nobody

[2020-02-14 06:12] endy-see commented on #4272
除了一行一行打，没有别的办法了么？

[2020-02-14 06:36] zhupengyang commented on #4272
打log是目前最常规最常用的方式了

[2020-02-14 08:16] endy-see commented on #4272
好吧

[2020-02-14 08:16] #4272 closed, assigned to nobody

[2020-02-14 08:59] chenwhql commented on #4262
目前报出的错误是什么？load_inference_model的官方文档能帮到您吗？
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/load_inference_model_cn.html

[2020-02-17 07:25] gtfaiwxm opened #4299 "evaluate PyramidBox_WiderFace error"
python widerface_eval.py --infer=True --confs_threshold=0.15 --model_di
r=./models/PyramidBox_WiderFace --image_path=./test_img/0001.png, 提示Error: Cannot open file models/PyramidBox_WiderFace/conv2d_61.w_0 for load op at (/paddle/paddle/fluid/operators/load_op.h:37)
  [operator < load > error]
，请问这是什么原因造成的？

[2020-02-17 13:48] endy-see opened #4303 "ocr识别模型部署时遇到ShapeError"
具体错误如下：
----------------------
Error Message Summary:
----------------------
Error: ShapeError: The number of input channels should be equal to filter channels * groups. But received: the input channels is [3], the shapeof input is [1, 3, 48, 86], the filter channel is [1], the shape of filter is [16, 1, 3, 3],the groups is [1]
  [Hint: Expected input_channels == filter_dims[1] * groups, but recei

[2020-02-18 02:34] wanghaoshuang commented on #4303
在Paddle/models下提供的ocr模型默认用的是示例数据，示例数据为channel为1的灰度数字图像，所以第一层卷积的filter shape是`[16, 1, 3, 3]`.

您在预测时，输入图像应该是3通道的所以出错了。

建议训练和预测保持一致，训练修改这里：https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ocr_recognition/data_reader.py#L35

[2020-02-18 03:49] endy-see commented on #4303
我训练的时候用的是自己的数据集，没有用示例数据

[2020-02-18 05:10] yiershanxll opened #4307 "口罩识别模型视频检测速度慢"
在mac上，用opencv读视频流数据，并用pyramidbox_lite_server_mask 检测是否佩戴口罩，模型推理速度慢，应该怎么加速？

[2020-02-18 07:31] gekelly opened #4309 "异步读取数据格式要求"
把1.5版本sentiment_classification更改为其他文本分类过程，运行没出错，但是出现训练轮数只能1，其他调试不了。可能异步读取数据有误导致，所以想详细知道数据格式要求是怎么样滴？

[2020-02-18 11:59] dyning commented on #4043
@Julyliying ,不好意思让你等这么久。提供的代码目前只支持cuda9， python2.7。更新到官方版预测，需要大量验证工作，为了避免不一致，没有更新。

如果需要支持cuda10，python2.7，需要修改pypredict/build.sh中的fluid预测库的包的地址，即
wget https://paddle-inference-lib.bj.bcebos.com/1.4.1-gpu-cuda9-cudnn7-avx-mkl/fluid_inference.tgz

飞桨提供一些预测库最新的编译好的候选列表，见页面https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/build_and_install_lib_cn.html
可以使用ubuntu14.

[2020-02-19 02:18] endy-see commented on #4303
把channel变成1以后解决了

[2020-02-19 02:18] #4303 closed, assigned to nobody

[2020-02-19 02:24] endy-see opened #4312 "ocr识别模型部署时遇到Error: The width of each timestep in Input(Label) should be 1."
具体错误信息如下：

--- Running analysis [ir_graph_build_pass]
--- Running analysis [ir_graph_clean_pass]
--- Running analysis [ir_analysis_pass]
--- Running IR pass [is_test_pass]
--- Running IR pass [simplify_with_basic_ops_pass]
--- Running IR pass [conv_affine_channel_fuse_pass]
--- Running IR pass [conv_eltwiseadd_affine_channel_fuse_pass]
--- Running IR pass [conv_bn_fuse_pass]
--- Running IR pass [c

[2020-02-19 02:51] wanghaoshuang commented on #4312
1. 模型部署用作预测时，不应该有Input(label)的。可以在调用[save_inference_model](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/save_inference_model_cn.html#save-inference-model)接口时，从`feeded_var_names`中去掉`label`, `target_vars`指定为fc的`output`， 而不是loss或accuracy。

2. 如果需要用label, label的shape需要是[N, 1], 其中N是所有label id的总数，请参考这里设置正确的label shape: https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/oc

[2020-02-19 06:58] yanmeizhao commented on #4312
出错的原因是因为我把训练时候保存的inference model用于c++ 的infer model了，导致在预测时加载的网络仍然是训练时候的网络，而c++的infer无法试用训练的网络

[2020-02-19 07:00] yanmeizhao commented on #4312
出错的原因是因为我把训练时候保存的inference model用于c++ 的infer model了，导致在预测时加载的网络仍然是训练时候的网络，而c++的infer无法试用训练的网络。
解决办法是，在python做infer时再次将训练时候保存的inference model用infer net再保存一次

[2020-02-19 07:03] endy-see commented on #4312
出错的原因是因为我把训练时候保存的inference model用于c++ 的infer model了，导致在预测时加载的网络仍然是训练时候的网络，而c++的infer无法使用训练的网络。
解决办法是，在python做infer时再次将训练时候保存的inference model用infer net再保存一次

[2020-02-19 07:03] #4312 closed, assigned to nobody

[2020-02-19 07:08] endy-see opened #4313 "ocr识别模型保存inference model时遇到类型不匹配的问题"
将训练好的模型在infer.py中加载，并用infer net保存inference model时出错，保存的代码如下：
fluid.io.save_inference_model(args.save_model_dir+filename, feeded_var_names=['pixel'], target_vars=[ids], executor=exe, main_program=inference_program, params_filename="__params__")
其中inference_program是在inference model load时候生成的。
报错如下：
Traceback (most recent call last):
  File "infer.py", line 194, in <module>
    main()
  File "infer.p

[2020-02-19 07:14] yiicy commented on #4307
由于mac上没有Nvidia GPU，无法TensorRT加速，只能使用CPU进行预测，所以推理速度会较慢。可以试试在config文件中开启mkldnn，来进行CPU推理加速，或者换一个带Nvidia GPU的主机

[2020-02-19 07:21] yiicy commented on #4309
你好https://github.com/PaddlePaddle/models/blob/4bb3163d144e425b41c5d8e1662830c170919607/PaddleNLP/sentiment_classification/README.md
请参考快速开始->数据准备->自定义数据  中的说明

[2020-02-19 08:24] endy-see commented on #4313
原因是在infer.py中再次保存inference model时传的参数不对，我按下面的方式纠正就可以了
filename = 'model_50000'
    if args.save_inference_model:
        fluid.io.save_inference_model(args.save_model_dir+filename, feeded_var_names=['pixel'], target_vars=[ids], executor=exe, main_program=fluid.default_main_program(), model_filename='__model__', params_filename="__params__")

[2020-02-19 08:24] #4313 closed, assigned to nobody

[2020-02-20 09:25] ecko4869 opened #4321 "请问如何将使用fluid.io.save_inference_model保存的模型转换成deeplabv3+中group norm的模型格式"

[2020-02-20 13:30] luzm3 opened #4325 "字典干预时出现错误"
## 用户词典:
&emsp;货币资金        n       100000000
&emsp;年末    TIME    13601
&emsp;货币资金年末额  n       10000000000000000
## 测试代码
### test_interventer.py
&emsp;from Interventer import Query, Interventer
&emsp;query = Query({'word': ['货币', '资金', '年末额'], 'tag': ['n', 'n', 'n']})
&emsp;i = Interventer("unigram.dict", "user.dict")
&emsp;result = i.run(query)
&emsp;print(result)
### Interventer.py为lac目录下62730a1a

[2020-02-21 12:39] lixuan1 commented on #4149
@1024er 你好，有关该模型的导出模型的代码，什么时候可以补充上呢

[2020-02-21 12:45] lixuan1 opened #4330 "models/PaddleNLP/emotion_detection/ 部署"
这个如何部署呢，因为有中文语句的输入，部署的参数设置代码应该怎么编写呢？另外，该推断模型应该要用到vocab.txt的，但部署这里应该怎么设置呢？希望得到解答

[2020-02-21 15:19] muzhen1108 opened #4331 "关于models/PaddleCv/imagessification 预加载BUG"
使用了预加载模型，用Finetune时，后面的那个参数finetune_exclude_pretrained_params识别不了，如下图BUG

![image](https://user-images.githubusercontent.com/38208463/75046786-b4ce4780-5500-11ea-826a-7a1920863ca7.png)

[2020-02-22 01:13] DannyIsFunny commented on #4325
你好，请问您的问题是已经解决了吗

[2020-02-22 03:07] DannyIsFunny commented on #4321
你好deeplabv3+已经迁移到[PaddlePaddle/PaddleSeg](https://github.com/PaddlePaddle/PaddleSeg)repo中，其中有保存模型的脚本`PaddleSeg/pdseg/export_model.py`(https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.3.0/pdseg/export_model.py)
可以参考这个脚本实现模型实现期望模型的保存。

[2020-02-22 03:25] luzm3 commented on #4325
是的，但是我修改了你们的部分代码，希望工程师跟进这个问题哈

[2020-02-22 14:45] jiweibo commented on #4331
本地没有复现出问题
请获取最新后，python train.py -h检查该参数。

[2020-02-22 15:10] muzhen1108 commented on #4331
什么时候更新的版本，我是前天刚下载的最新版本

我是下载的1.6版本

[2020-02-23 01:57] jiweibo commented on #4331
尝试获取models的最新代码，python train.py -h 检查下这个参数finetune_exclude_pretrained_params

[2020-02-23 02:03] jiweibo commented on #4330
为了将模型应用于线上部署，可以利用inference_model.py 脚本对模型进行裁剪，只保存网络参数及裁剪后的模型。
https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/emotion_detection#%E6%9C%8D%E5%8A%A1%E9%83%A8%E7%BD%B2

得到预测使用的模型后，请参考服务器预测部署文档https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/native_infer.html